=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AdvAuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Auth Adjustment
    # Performs an Auth Adjustment using the values and flags specified
    # @param vbasoftware_database [String] Target database
    # @param auth_number [String] Auth Number
    # @param auth_adjustment [AuthAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [AuthVBAResponse]
    def auth_adjustment(vbasoftware_database, auth_number, auth_adjustment, opts = {})
      data, _status_code, _headers = auth_adjustment_with_http_info(vbasoftware_database, auth_number, auth_adjustment, opts)
      data
    end

    # Auth Adjustment
    # Performs an Auth Adjustment using the values and flags specified
    # @param vbasoftware_database [String] Target database
    # @param auth_number [String] Auth Number
    # @param auth_adjustment [AuthAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthVBAResponse, Integer, Hash)>] AuthVBAResponse data, response status code and response headers
    def auth_adjustment_with_http_info(vbasoftware_database, auth_number, auth_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvAuthApi.auth_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AdvAuthApi.auth_adjustment"
      end
      # verify the required parameter 'auth_number' is set
      if @api_client.config.client_side_validation && auth_number.nil?
        fail ArgumentError, "Missing the required parameter 'auth_number' when calling AdvAuthApi.auth_adjustment"
      end
      # verify the required parameter 'auth_adjustment' is set
      if @api_client.config.client_side_validation && auth_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'auth_adjustment' when calling AdvAuthApi.auth_adjustment"
      end
      # resource path
      local_var_path = '/auths/{authNumber}/adjust'.sub('{' + 'authNumber' + '}', CGI.escape(auth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AdvAuthApi.auth_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvAuthApi#auth_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process a change in Auth Status
    # Initiates an Auth Status change.
    # @param vbasoftware_database [String] Target database
    # @param auth_number [String] the Entity
    # @param new_auth_code [String] New Auth Code
    # @param [Hash] opts the optional parameters
    # @return [AuthVBAResponse]
    def auth_process_status(vbasoftware_database, auth_number, new_auth_code, opts = {})
      data, _status_code, _headers = auth_process_status_with_http_info(vbasoftware_database, auth_number, new_auth_code, opts)
      data
    end

    # Process a change in Auth Status
    # Initiates an Auth Status change.
    # @param vbasoftware_database [String] Target database
    # @param auth_number [String] the Entity
    # @param new_auth_code [String] New Auth Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthVBAResponse, Integer, Hash)>] AuthVBAResponse data, response status code and response headers
    def auth_process_status_with_http_info(vbasoftware_database, auth_number, new_auth_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvAuthApi.auth_process_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AdvAuthApi.auth_process_status"
      end
      # verify the required parameter 'auth_number' is set
      if @api_client.config.client_side_validation && auth_number.nil?
        fail ArgumentError, "Missing the required parameter 'auth_number' when calling AdvAuthApi.auth_process_status"
      end
      # verify the required parameter 'new_auth_code' is set
      if @api_client.config.client_side_validation && new_auth_code.nil?
        fail ArgumentError, "Missing the required parameter 'new_auth_code' when calling AdvAuthApi.auth_process_status"
      end
      # resource path
      local_var_path = '/auths/{authNumber}/process-status/{newAuthCode}'.sub('{' + 'authNumber' + '}', CGI.escape(auth_number.to_s)).sub('{' + 'newAuthCode' + '}', CGI.escape(new_auth_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AdvAuthApi.auth_process_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvAuthApi#auth_process_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
