=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AmountDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get AmountDetails
    # Gets AmountDetails
    # @param vbasoftware_database [String] Target database
    # @param key [String] Key
    # @param [Hash] opts the optional parameters
    # @return [AmountDetailsVBAResponse]
    def get_amount_details(vbasoftware_database, key, opts = {})
      data, _status_code, _headers = get_amount_details_with_http_info(vbasoftware_database, key, opts)
      data
    end

    # Get AmountDetails
    # Gets AmountDetails
    # @param vbasoftware_database [String] Target database
    # @param key [String] Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(AmountDetailsVBAResponse, Integer, Hash)>] AmountDetailsVBAResponse data, response status code and response headers
    def get_amount_details_with_http_info(vbasoftware_database, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmountDetailsApi.get_amount_details ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AmountDetailsApi.get_amount_details"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling AmountDetailsApi.get_amount_details"
      end
      # resource path
      local_var_path = '/amount-details/{key}'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AmountDetailsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AmountDetailsApi.get_amount_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmountDetailsApi#get_amount_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AmountDetails
    # Lists all AmountDetails
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [AmountDetailsListVBAResponse]
    def list_amount_details(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_amount_details_with_http_info(vbasoftware_database, opts)
      data
    end

    # List AmountDetails
    # Lists all AmountDetails
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(AmountDetailsListVBAResponse, Integer, Hash)>] AmountDetailsListVBAResponse data, response status code and response headers
    def list_amount_details_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AmountDetailsApi.list_amount_details ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AmountDetailsApi.list_amount_details"
      end
      # resource path
      local_var_path = '/amount-details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AmountDetailsListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AmountDetailsApi.list_amount_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AmountDetailsApi#list_amount_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
