=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class APCSchedulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create APCSchedule
    # Creates a new APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param apc_schedule [APCSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [APCScheduleVBAResponse]
    def create_apc_schedule(vbasoftware_database, apc_schedule, opts = {})
      data, _status_code, _headers = create_apc_schedule_with_http_info(vbasoftware_database, apc_schedule, opts)
      data
    end

    # Create APCSchedule
    # Creates a new APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param apc_schedule [APCSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCScheduleVBAResponse, Integer, Hash)>] APCScheduleVBAResponse data, response status code and response headers
    def create_apc_schedule_with_http_info(vbasoftware_database, apc_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.create_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.create_apc_schedule"
      end
      # verify the required parameter 'apc_schedule' is set
      if @api_client.config.client_side_validation && apc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'apc_schedule' when calling APCSchedulesApi.create_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'APCScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.create_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#create_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete APCSchedule
    # Deletes an APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_apc_schedule(vbasoftware_database, a_pc_schedule, opts = {})
      delete_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, opts)
      nil
    end

    # Delete APCSchedule
    # Deletes an APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.delete_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.delete_apc_schedule"
      end
      # verify the required parameter 'a_pc_schedule' is set
      if @api_client.config.client_side_validation && a_pc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'a_pc_schedule' when calling APCSchedulesApi.delete_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules/{aPCSchedule}'.sub('{' + 'aPCSchedule' + '}', CGI.escape(a_pc_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.delete_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#delete_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get APCSchedule
    # Gets APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param [Hash] opts the optional parameters
    # @return [APCScheduleVBAResponse]
    def get_apc_schedule(vbasoftware_database, a_pc_schedule, opts = {})
      data, _status_code, _headers = get_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, opts)
      data
    end

    # Get APCSchedule
    # Gets APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCScheduleVBAResponse, Integer, Hash)>] APCScheduleVBAResponse data, response status code and response headers
    def get_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.get_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.get_apc_schedule"
      end
      # verify the required parameter 'a_pc_schedule' is set
      if @api_client.config.client_side_validation && a_pc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'a_pc_schedule' when calling APCSchedulesApi.get_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules/{aPCSchedule}'.sub('{' + 'aPCSchedule' + '}', CGI.escape(a_pc_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APCScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.get_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#get_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List APCSchedule
    # Lists all APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [APCScheduleListVBAResponse]
    def list_apc_schedule(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_apc_schedule_with_http_info(vbasoftware_database, opts)
      data
    end

    # List APCSchedule
    # Lists all APCSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(APCScheduleListVBAResponse, Integer, Hash)>] APCScheduleListVBAResponse data, response status code and response headers
    def list_apc_schedule_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.list_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.list_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APCScheduleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.list_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#list_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update APCSchedule
    # Updates a specific APCSchedule.
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param apc_schedule [APCSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [APCScheduleVBAResponse]
    def update_apc_schedule(vbasoftware_database, a_pc_schedule, apc_schedule, opts = {})
      data, _status_code, _headers = update_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, apc_schedule, opts)
      data
    end

    # Update APCSchedule
    # Updates a specific APCSchedule.
    # @param vbasoftware_database [String] Target database
    # @param a_pc_schedule [String] APC Schedule
    # @param apc_schedule [APCSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCScheduleVBAResponse, Integer, Hash)>] APCScheduleVBAResponse data, response status code and response headers
    def update_apc_schedule_with_http_info(vbasoftware_database, a_pc_schedule, apc_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.update_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.update_apc_schedule"
      end
      # verify the required parameter 'a_pc_schedule' is set
      if @api_client.config.client_side_validation && a_pc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'a_pc_schedule' when calling APCSchedulesApi.update_apc_schedule"
      end
      # verify the required parameter 'apc_schedule' is set
      if @api_client.config.client_side_validation && apc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'apc_schedule' when calling APCSchedulesApi.update_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules/{aPCSchedule}'.sub('{' + 'aPCSchedule' + '}', CGI.escape(a_pc_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'APCScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.update_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#update_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch APCSchedule
    # Create or Update multiple APCSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param apc_schedule [Array<APCSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_apc_schedule(vbasoftware_database, apc_schedule, opts = {})
      data, _status_code, _headers = update_batch_apc_schedule_with_http_info(vbasoftware_database, apc_schedule, opts)
      data
    end

    # Create or Update Batch APCSchedule
    # Create or Update multiple APCSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param apc_schedule [Array<APCSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_apc_schedule_with_http_info(vbasoftware_database, apc_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCSchedulesApi.update_batch_apc_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCSchedulesApi.update_batch_apc_schedule"
      end
      # verify the required parameter 'apc_schedule' is set
      if @api_client.config.client_side_validation && apc_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'apc_schedule' when calling APCSchedulesApi.update_batch_apc_schedule"
      end
      # resource path
      local_var_path = '/apc-schedules-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCSchedulesApi.update_batch_apc_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCSchedulesApi#update_batch_apc_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
