=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class APCCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create APCCodes
    # Creates a new APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_codes [APCCodes] 
    # @param [Hash] opts the optional parameters
    # @return [APCCodesVBAResponse]
    def create_apc_codes(vbasoftware_database, apc_codes, opts = {})
      data, _status_code, _headers = create_apc_codes_with_http_info(vbasoftware_database, apc_codes, opts)
      data
    end

    # Create APCCodes
    # Creates a new APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_codes [APCCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCCodesVBAResponse, Integer, Hash)>] APCCodesVBAResponse data, response status code and response headers
    def create_apc_codes_with_http_info(vbasoftware_database, apc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.create_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.create_apc_codes"
      end
      # verify the required parameter 'apc_codes' is set
      if @api_client.config.client_side_validation && apc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'apc_codes' when calling APCCodesApi.create_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'APCCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.create_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#create_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete APCCodes
    # Deletes an APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_apc_codes(vbasoftware_database, apc_code, opts = {})
      delete_apc_codes_with_http_info(vbasoftware_database, apc_code, opts)
      nil
    end

    # Delete APCCodes
    # Deletes an APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_apc_codes_with_http_info(vbasoftware_database, apc_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.delete_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.delete_apc_codes"
      end
      # verify the required parameter 'apc_code' is set
      if @api_client.config.client_side_validation && apc_code.nil?
        fail ArgumentError, "Missing the required parameter 'apc_code' when calling APCCodesApi.delete_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes/{apcCode}'.sub('{' + 'apcCode' + '}', CGI.escape(apc_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.delete_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#delete_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get APCCodes
    # Gets APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param [Hash] opts the optional parameters
    # @return [APCCodesVBAResponse]
    def get_apc_codes(vbasoftware_database, apc_code, opts = {})
      data, _status_code, _headers = get_apc_codes_with_http_info(vbasoftware_database, apc_code, opts)
      data
    end

    # Get APCCodes
    # Gets APCCodes
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCCodesVBAResponse, Integer, Hash)>] APCCodesVBAResponse data, response status code and response headers
    def get_apc_codes_with_http_info(vbasoftware_database, apc_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.get_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.get_apc_codes"
      end
      # verify the required parameter 'apc_code' is set
      if @api_client.config.client_side_validation && apc_code.nil?
        fail ArgumentError, "Missing the required parameter 'apc_code' when calling APCCodesApi.get_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes/{apcCode}'.sub('{' + 'apcCode' + '}', CGI.escape(apc_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APCCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.get_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#get_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List APCCodes
    # Lists all APCCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [APCCodesListVBAResponse]
    def list_apc_codes(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_apc_codes_with_http_info(vbasoftware_database, opts)
      data
    end

    # List APCCodes
    # Lists all APCCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(APCCodesListVBAResponse, Integer, Hash)>] APCCodesListVBAResponse data, response status code and response headers
    def list_apc_codes_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.list_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.list_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APCCodesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.list_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#list_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update APCCodes
    # Updates a specific APCCodes.
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param apc_codes [APCCodes] 
    # @param [Hash] opts the optional parameters
    # @return [APCCodesVBAResponse]
    def update_apc_codes(vbasoftware_database, apc_code, apc_codes, opts = {})
      data, _status_code, _headers = update_apc_codes_with_http_info(vbasoftware_database, apc_code, apc_codes, opts)
      data
    end

    # Update APCCodes
    # Updates a specific APCCodes.
    # @param vbasoftware_database [String] Target database
    # @param apc_code [String] APC Code
    # @param apc_codes [APCCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APCCodesVBAResponse, Integer, Hash)>] APCCodesVBAResponse data, response status code and response headers
    def update_apc_codes_with_http_info(vbasoftware_database, apc_code, apc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.update_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.update_apc_codes"
      end
      # verify the required parameter 'apc_code' is set
      if @api_client.config.client_side_validation && apc_code.nil?
        fail ArgumentError, "Missing the required parameter 'apc_code' when calling APCCodesApi.update_apc_codes"
      end
      # verify the required parameter 'apc_codes' is set
      if @api_client.config.client_side_validation && apc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'apc_codes' when calling APCCodesApi.update_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes/{apcCode}'.sub('{' + 'apcCode' + '}', CGI.escape(apc_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'APCCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.update_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#update_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch APCCodes
    # Create or Update multiple APCCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param apc_codes [Array<APCCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_apc_codes(vbasoftware_database, apc_codes, opts = {})
      data, _status_code, _headers = update_batch_apc_codes_with_http_info(vbasoftware_database, apc_codes, opts)
      data
    end

    # Create or Update Batch APCCodes
    # Create or Update multiple APCCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param apc_codes [Array<APCCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_apc_codes_with_http_info(vbasoftware_database, apc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APCCodesApi.update_batch_apc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling APCCodesApi.update_batch_apc_codes"
      end
      # verify the required parameter 'apc_codes' is set
      if @api_client.config.client_side_validation && apc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'apc_codes' when calling APCCodesApi.update_batch_apc_codes"
      end
      # resource path
      local_var_path = '/apc-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APCCodesApi.update_batch_apc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APCCodesApi#update_batch_apc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
