=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ArmorCodeExCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ArmorCodeExCode
    # Creates a new ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code [ArmorCodeExCode] 
    # @param [Hash] opts the optional parameters
    # @return [ArmorCodeExCodeVBAResponse]
    def create_armor_code_ex_code(vbasoftware_database, armor_code_ex_code, opts = {})
      data, _status_code, _headers = create_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code, opts)
      data
    end

    # Create ArmorCodeExCode
    # Creates a new ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code [ArmorCodeExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ArmorCodeExCodeVBAResponse, Integer, Hash)>] ArmorCodeExCodeVBAResponse data, response status code and response headers
    def create_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.create_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.create_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code' is set
      if @api_client.config.client_side_validation && armor_code_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code' when calling ArmorCodeExCodeApi.create_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(armor_code_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ArmorCodeExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.create_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#create_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ArmorCodeExCode
    # Deletes an ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_armor_code_ex_code(vbasoftware_database, armor_code_ex_code_key, opts = {})
      delete_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, opts)
      nil
    end

    # Delete ArmorCodeExCode
    # Deletes an ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.delete_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.delete_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code_key' is set
      if @api_client.config.client_side_validation && armor_code_ex_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code_key' when calling ArmorCodeExCodeApi.delete_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes/{ArmorCodeExCode_Key}'.sub('{' + 'ArmorCodeExCode_Key' + '}', CGI.escape(armor_code_ex_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.delete_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#delete_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ArmorCodeExCode
    # Gets ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param [Hash] opts the optional parameters
    # @return [ArmorCodeExCodeVBAResponse]
    def get_armor_code_ex_code(vbasoftware_database, armor_code_ex_code_key, opts = {})
      data, _status_code, _headers = get_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, opts)
      data
    end

    # Get ArmorCodeExCode
    # Gets ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ArmorCodeExCodeVBAResponse, Integer, Hash)>] ArmorCodeExCodeVBAResponse data, response status code and response headers
    def get_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.get_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.get_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code_key' is set
      if @api_client.config.client_side_validation && armor_code_ex_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code_key' when calling ArmorCodeExCodeApi.get_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes/{ArmorCodeExCode_Key}'.sub('{' + 'ArmorCodeExCode_Key' + '}', CGI.escape(armor_code_ex_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ArmorCodeExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.get_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#get_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ArmorCodeExCode
    # Lists all ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ArmorCodeExCodeListVBAResponse]
    def list_armor_code_ex_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_armor_code_ex_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ArmorCodeExCode
    # Lists all ArmorCodeExCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ArmorCodeExCodeListVBAResponse, Integer, Hash)>] ArmorCodeExCodeListVBAResponse data, response status code and response headers
    def list_armor_code_ex_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.list_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.list_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ArmorCodeExCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.list_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#list_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ArmorCodeExCode
    # Updates a specific ArmorCodeExCode.
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param armor_code_ex_code [ArmorCodeExCode] 
    # @param [Hash] opts the optional parameters
    # @return [ArmorCodeExCodeVBAResponse]
    def update_armor_code_ex_code(vbasoftware_database, armor_code_ex_code_key, armor_code_ex_code, opts = {})
      data, _status_code, _headers = update_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, armor_code_ex_code, opts)
      data
    end

    # Update ArmorCodeExCode
    # Updates a specific ArmorCodeExCode.
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code_key [Integer] ArmorCodeExCode Key
    # @param armor_code_ex_code [ArmorCodeExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ArmorCodeExCodeVBAResponse, Integer, Hash)>] ArmorCodeExCodeVBAResponse data, response status code and response headers
    def update_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code_key, armor_code_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.update_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.update_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code_key' is set
      if @api_client.config.client_side_validation && armor_code_ex_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code_key' when calling ArmorCodeExCodeApi.update_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code' is set
      if @api_client.config.client_side_validation && armor_code_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code' when calling ArmorCodeExCodeApi.update_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes/{ArmorCodeExCode_Key}'.sub('{' + 'ArmorCodeExCode_Key' + '}', CGI.escape(armor_code_ex_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(armor_code_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ArmorCodeExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.update_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#update_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ArmorCodeExCode
    # Create or Update multiple ArmorCodeExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code [Array<ArmorCodeExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_armor_code_ex_code(vbasoftware_database, armor_code_ex_code, opts = {})
      data, _status_code, _headers = update_batch_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code, opts)
      data
    end

    # Create or Update Batch ArmorCodeExCode
    # Create or Update multiple ArmorCodeExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param armor_code_ex_code [Array<ArmorCodeExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_armor_code_ex_code_with_http_info(vbasoftware_database, armor_code_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArmorCodeExCodeApi.update_batch_armor_code_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ArmorCodeExCodeApi.update_batch_armor_code_ex_code"
      end
      # verify the required parameter 'armor_code_ex_code' is set
      if @api_client.config.client_side_validation && armor_code_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'armor_code_ex_code' when calling ArmorCodeExCodeApi.update_batch_armor_code_ex_code"
      end
      # resource path
      local_var_path = '/armor-code-ex-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(armor_code_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ArmorCodeExCodeApi.update_batch_armor_code_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArmorCodeExCodeApi#update_batch_armor_code_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
