=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AuthTypePlacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AuthTypePlace
    # Creates a new AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type_place [AuthTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTypePlaceVBAResponse]
    def create_auth_type_place(vbasoftware_database, auth_type, auth_type_place, opts = {})
      data, _status_code, _headers = create_auth_type_place_with_http_info(vbasoftware_database, auth_type, auth_type_place, opts)
      data
    end

    # Create AuthTypePlace
    # Creates a new AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type_place [AuthTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypePlaceVBAResponse, Integer, Hash)>] AuthTypePlaceVBAResponse data, response status code and response headers
    def create_auth_type_place_with_http_info(vbasoftware_database, auth_type, auth_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.create_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.create_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.create_auth_type_place"
      end
      # verify the required parameter 'auth_type_place' is set
      if @api_client.config.client_side_validation && auth_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type_place' when calling AuthTypePlacesApi.create_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.create_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#create_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AuthTypePlace
    # Deletes an AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_type_place(vbasoftware_database, auth_type, place_of_service, opts = {})
      delete_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, opts)
      nil
    end

    # Delete AuthTypePlace
    # Deletes an AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.delete_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.delete_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.delete_auth_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling AuthTypePlacesApi.delete_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places/{placeOfService}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.delete_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#delete_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AuthTypePlace
    # Gets AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [AuthTypePlaceVBAResponse]
    def get_auth_type_place(vbasoftware_database, auth_type, place_of_service, opts = {})
      data, _status_code, _headers = get_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, opts)
      data
    end

    # Get AuthTypePlace
    # Gets AuthTypePlace
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypePlaceVBAResponse, Integer, Hash)>] AuthTypePlaceVBAResponse data, response status code and response headers
    def get_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.get_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.get_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.get_auth_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling AuthTypePlacesApi.get_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places/{placeOfService}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.get_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#get_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AuthTypePlace
    # Lists all AuthTypePlace for the given authType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [AuthTypePlaceListVBAResponse]
    def list_auth_type_place(vbasoftware_database, auth_type, opts = {})
      data, _status_code, _headers = list_auth_type_place_with_http_info(vbasoftware_database, auth_type, opts)
      data
    end

    # List AuthTypePlace
    # Lists all AuthTypePlace for the given authType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(AuthTypePlaceListVBAResponse, Integer, Hash)>] AuthTypePlaceListVBAResponse data, response status code and response headers
    def list_auth_type_place_with_http_info(vbasoftware_database, auth_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.list_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.list_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.list_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypePlaceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.list_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#list_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AuthTypePlace
    # Updates a specific AuthTypePlace.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param auth_type_place [AuthTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTypePlaceVBAResponse]
    def update_auth_type_place(vbasoftware_database, auth_type, place_of_service, auth_type_place, opts = {})
      data, _status_code, _headers = update_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, auth_type_place, opts)
      data
    end

    # Update AuthTypePlace
    # Updates a specific AuthTypePlace.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param place_of_service [String] Place Of Service
    # @param auth_type_place [AuthTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypePlaceVBAResponse, Integer, Hash)>] AuthTypePlaceVBAResponse data, response status code and response headers
    def update_auth_type_place_with_http_info(vbasoftware_database, auth_type, place_of_service, auth_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.update_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.update_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.update_auth_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling AuthTypePlacesApi.update_auth_type_place"
      end
      # verify the required parameter 'auth_type_place' is set
      if @api_client.config.client_side_validation && auth_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type_place' when calling AuthTypePlacesApi.update_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places/{placeOfService}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.update_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#update_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch AuthTypePlace
    # Create or Update multiple AuthTypePlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type_place [Array<AuthTypePlace>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_auth_type_place(vbasoftware_database, auth_type, auth_type_place, opts = {})
      data, _status_code, _headers = update_batch_auth_type_place_with_http_info(vbasoftware_database, auth_type, auth_type_place, opts)
      data
    end

    # Create or Update Batch AuthTypePlace
    # Create or Update multiple AuthTypePlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type_place [Array<AuthTypePlace>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_auth_type_place_with_http_info(vbasoftware_database, auth_type, auth_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypePlacesApi.update_batch_auth_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypePlacesApi.update_batch_auth_type_place"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypePlacesApi.update_batch_auth_type_place"
      end
      # verify the required parameter 'auth_type_place' is set
      if @api_client.config.client_side_validation && auth_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type_place' when calling AuthTypePlacesApi.update_batch_auth_type_place"
      end
      # resource path
      local_var_path = '/auth-types/{authType}/places-batch'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypePlacesApi.update_batch_auth_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypePlacesApi#update_batch_auth_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
