=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AuthTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AuthType
    # Creates a new AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [AuthType] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTypeVBAResponse]
    def create_auth_type(vbasoftware_database, auth_type, opts = {})
      data, _status_code, _headers = create_auth_type_with_http_info(vbasoftware_database, auth_type, opts)
      data
    end

    # Create AuthType
    # Creates a new AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [AuthType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypeVBAResponse, Integer, Hash)>] AuthTypeVBAResponse data, response status code and response headers
    def create_auth_type_with_http_info(vbasoftware_database, auth_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.create_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.create_auth_type"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypesApi.create_auth_type"
      end
      # resource path
      local_var_path = '/auth-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.create_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#create_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AuthType
    # Deletes an AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_type(vbasoftware_database, auth_type, opts = {})
      delete_auth_type_with_http_info(vbasoftware_database, auth_type, opts)
      nil
    end

    # Delete AuthType
    # Deletes an AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_type_with_http_info(vbasoftware_database, auth_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.delete_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.delete_auth_type"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypesApi.delete_auth_type"
      end
      # resource path
      local_var_path = '/auth-types/{authType}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.delete_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#delete_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AuthType
    # Gets AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @return [AuthTypeVBAResponse]
    def get_auth_type(vbasoftware_database, auth_type, opts = {})
      data, _status_code, _headers = get_auth_type_with_http_info(vbasoftware_database, auth_type, opts)
      data
    end

    # Get AuthType
    # Gets AuthType
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypeVBAResponse, Integer, Hash)>] AuthTypeVBAResponse data, response status code and response headers
    def get_auth_type_with_http_info(vbasoftware_database, auth_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.get_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.get_auth_type"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypesApi.get_auth_type"
      end
      # resource path
      local_var_path = '/auth-types/{authType}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.get_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#get_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AuthType
    # Lists all AuthType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [AuthTypeListVBAResponse]
    def list_auth_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_auth_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List AuthType
    # Lists all AuthType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(AuthTypeListVBAResponse, Integer, Hash)>] AuthTypeListVBAResponse data, response status code and response headers
    def list_auth_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.list_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.list_auth_type"
      end
      # resource path
      local_var_path = '/auth-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.list_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#list_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AuthType
    # Updates a specific AuthType.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type2 [AuthType] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTypeVBAResponse]
    def update_auth_type(vbasoftware_database, auth_type, auth_type2, opts = {})
      data, _status_code, _headers = update_auth_type_with_http_info(vbasoftware_database, auth_type, auth_type2, opts)
      data
    end

    # Update AuthType
    # Updates a specific AuthType.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [String] Auth Type
    # @param auth_type2 [AuthType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTypeVBAResponse, Integer, Hash)>] AuthTypeVBAResponse data, response status code and response headers
    def update_auth_type_with_http_info(vbasoftware_database, auth_type, auth_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.update_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.update_auth_type"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypesApi.update_auth_type"
      end
      # verify the required parameter 'auth_type2' is set
      if @api_client.config.client_side_validation && auth_type2.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type2' when calling AuthTypesApi.update_auth_type"
      end
      # resource path
      local_var_path = '/auth-types/{authType}'.sub('{' + 'authType' + '}', CGI.escape(auth_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.update_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#update_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch AuthType
    # Create or Update multiple AuthType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [Array<AuthType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_auth_type(vbasoftware_database, auth_type, opts = {})
      data, _status_code, _headers = update_batch_auth_type_with_http_info(vbasoftware_database, auth_type, opts)
      data
    end

    # Create or Update Batch AuthType
    # Create or Update multiple AuthType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param auth_type [Array<AuthType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_auth_type_with_http_info(vbasoftware_database, auth_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthTypesApi.update_batch_auth_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthTypesApi.update_batch_auth_type"
      end
      # verify the required parameter 'auth_type' is set
      if @api_client.config.client_side_validation && auth_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_type' when calling AuthTypesApi.update_batch_auth_type"
      end
      # resource path
      local_var_path = '/auth-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthTypesApi.update_batch_auth_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthTypesApi#update_batch_auth_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
