=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AuthReviewTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AuthReviewType
    # Creates a new AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_type [AuthReviewType] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewTypeVBAResponse]
    def create_auth_review_type(vbasoftware_database, auth_review_type, opts = {})
      data, _status_code, _headers = create_auth_review_type_with_http_info(vbasoftware_database, auth_review_type, opts)
      data
    end

    # Create AuthReviewType
    # Creates a new AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_type [AuthReviewType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewTypeVBAResponse, Integer, Hash)>] AuthReviewTypeVBAResponse data, response status code and response headers
    def create_auth_review_type_with_http_info(vbasoftware_database, auth_review_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.create_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.create_auth_review_type"
      end
      # verify the required parameter 'auth_review_type' is set
      if @api_client.config.client_side_validation && auth_review_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_type' when calling AuthReviewTypeApi.create_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_type)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.create_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#create_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AuthReviewType
    # Deletes an AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_review_type(vbasoftware_database, review_type, opts = {})
      delete_auth_review_type_with_http_info(vbasoftware_database, review_type, opts)
      nil
    end

    # Delete AuthReviewType
    # Deletes an AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_review_type_with_http_info(vbasoftware_database, review_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.delete_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.delete_auth_review_type"
      end
      # verify the required parameter 'review_type' is set
      if @api_client.config.client_side_validation && review_type.nil?
        fail ArgumentError, "Missing the required parameter 'review_type' when calling AuthReviewTypeApi.delete_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types/{reviewType}'.sub('{' + 'reviewType' + '}', CGI.escape(review_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.delete_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#delete_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AuthReviewType
    # Gets AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewTypeVBAResponse]
    def get_auth_review_type(vbasoftware_database, review_type, opts = {})
      data, _status_code, _headers = get_auth_review_type_with_http_info(vbasoftware_database, review_type, opts)
      data
    end

    # Get AuthReviewType
    # Gets AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewTypeVBAResponse, Integer, Hash)>] AuthReviewTypeVBAResponse data, response status code and response headers
    def get_auth_review_type_with_http_info(vbasoftware_database, review_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.get_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.get_auth_review_type"
      end
      # verify the required parameter 'review_type' is set
      if @api_client.config.client_side_validation && review_type.nil?
        fail ArgumentError, "Missing the required parameter 'review_type' when calling AuthReviewTypeApi.get_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types/{reviewType}'.sub('{' + 'reviewType' + '}', CGI.escape(review_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.get_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#get_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AuthReviewType
    # Lists all AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [AuthReviewTypeListVBAResponse]
    def list_auth_review_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_auth_review_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List AuthReviewType
    # Lists all AuthReviewType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(AuthReviewTypeListVBAResponse, Integer, Hash)>] AuthReviewTypeListVBAResponse data, response status code and response headers
    def list_auth_review_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.list_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.list_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.list_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#list_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AuthReviewType
    # Updates a specific AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param auth_review_type [AuthReviewType] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewTypeVBAResponse]
    def update_auth_review_type(vbasoftware_database, review_type, auth_review_type, opts = {})
      data, _status_code, _headers = update_auth_review_type_with_http_info(vbasoftware_database, review_type, auth_review_type, opts)
      data
    end

    # Update AuthReviewType
    # Updates a specific AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param review_type [String] Review Type
    # @param auth_review_type [AuthReviewType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewTypeVBAResponse, Integer, Hash)>] AuthReviewTypeVBAResponse data, response status code and response headers
    def update_auth_review_type_with_http_info(vbasoftware_database, review_type, auth_review_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.update_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.update_auth_review_type"
      end
      # verify the required parameter 'review_type' is set
      if @api_client.config.client_side_validation && review_type.nil?
        fail ArgumentError, "Missing the required parameter 'review_type' when calling AuthReviewTypeApi.update_auth_review_type"
      end
      # verify the required parameter 'auth_review_type' is set
      if @api_client.config.client_side_validation && auth_review_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_type' when calling AuthReviewTypeApi.update_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types/{reviewType}'.sub('{' + 'reviewType' + '}', CGI.escape(review_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_type)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.update_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#update_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch AuthReviewType
    # Updates a multiple AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_type [Array<AuthReviewType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_auth_review_type(vbasoftware_database, auth_review_type, opts = {})
      data, _status_code, _headers = update_batch_auth_review_type_with_http_info(vbasoftware_database, auth_review_type, opts)
      data
    end

    # Update Batch AuthReviewType
    # Updates a multiple AuthReviewType.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_type [Array<AuthReviewType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_auth_review_type_with_http_info(vbasoftware_database, auth_review_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewTypeApi.update_batch_auth_review_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewTypeApi.update_batch_auth_review_type"
      end
      # verify the required parameter 'auth_review_type' is set
      if @api_client.config.client_side_validation && auth_review_type.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_type' when calling AuthReviewTypeApi.update_batch_auth_review_type"
      end
      # resource path
      local_var_path = '/auth-review-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewTypeApi.update_batch_auth_review_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewTypeApi#update_batch_auth_review_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
