=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AuthReviewStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AuthReviewStatus
    # Creates a new AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_status [AuthReviewStatus] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewStatusVBAResponse]
    def create_auth_review_status(vbasoftware_database, auth_review_status, opts = {})
      data, _status_code, _headers = create_auth_review_status_with_http_info(vbasoftware_database, auth_review_status, opts)
      data
    end

    # Create AuthReviewStatus
    # Creates a new AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_status [AuthReviewStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewStatusVBAResponse, Integer, Hash)>] AuthReviewStatusVBAResponse data, response status code and response headers
    def create_auth_review_status_with_http_info(vbasoftware_database, auth_review_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.create_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.create_auth_review_status"
      end
      # verify the required parameter 'auth_review_status' is set
      if @api_client.config.client_side_validation && auth_review_status.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_status' when calling AuthReviewStatusApi.create_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_status)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.create_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#create_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AuthReviewStatus
    # Deletes an AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_review_status(vbasoftware_database, review_status, opts = {})
      delete_auth_review_status_with_http_info(vbasoftware_database, review_status, opts)
      nil
    end

    # Delete AuthReviewStatus
    # Deletes an AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_review_status_with_http_info(vbasoftware_database, review_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.delete_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.delete_auth_review_status"
      end
      # verify the required parameter 'review_status' is set
      if @api_client.config.client_side_validation && review_status.nil?
        fail ArgumentError, "Missing the required parameter 'review_status' when calling AuthReviewStatusApi.delete_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses/{reviewStatus}'.sub('{' + 'reviewStatus' + '}', CGI.escape(review_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.delete_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#delete_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AuthReviewStatus
    # Gets AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewStatusVBAResponse]
    def get_auth_review_status(vbasoftware_database, review_status, opts = {})
      data, _status_code, _headers = get_auth_review_status_with_http_info(vbasoftware_database, review_status, opts)
      data
    end

    # Get AuthReviewStatus
    # Gets AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewStatusVBAResponse, Integer, Hash)>] AuthReviewStatusVBAResponse data, response status code and response headers
    def get_auth_review_status_with_http_info(vbasoftware_database, review_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.get_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.get_auth_review_status"
      end
      # verify the required parameter 'review_status' is set
      if @api_client.config.client_side_validation && review_status.nil?
        fail ArgumentError, "Missing the required parameter 'review_status' when calling AuthReviewStatusApi.get_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses/{reviewStatus}'.sub('{' + 'reviewStatus' + '}', CGI.escape(review_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.get_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#get_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AuthReviewStatus
    # Lists all AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [AuthReviewStatusListVBAResponse]
    def list_auth_review_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_auth_review_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List AuthReviewStatus
    # Lists all AuthReviewStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(AuthReviewStatusListVBAResponse, Integer, Hash)>] AuthReviewStatusListVBAResponse data, response status code and response headers
    def list_auth_review_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.list_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.list_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.list_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#list_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AuthReviewStatus
    # Updates a specific AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param auth_review_status [AuthReviewStatus] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewStatusVBAResponse]
    def update_auth_review_status(vbasoftware_database, review_status, auth_review_status, opts = {})
      data, _status_code, _headers = update_auth_review_status_with_http_info(vbasoftware_database, review_status, auth_review_status, opts)
      data
    end

    # Update AuthReviewStatus
    # Updates a specific AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param review_status [String] Review Status
    # @param auth_review_status [AuthReviewStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewStatusVBAResponse, Integer, Hash)>] AuthReviewStatusVBAResponse data, response status code and response headers
    def update_auth_review_status_with_http_info(vbasoftware_database, review_status, auth_review_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.update_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.update_auth_review_status"
      end
      # verify the required parameter 'review_status' is set
      if @api_client.config.client_side_validation && review_status.nil?
        fail ArgumentError, "Missing the required parameter 'review_status' when calling AuthReviewStatusApi.update_auth_review_status"
      end
      # verify the required parameter 'auth_review_status' is set
      if @api_client.config.client_side_validation && auth_review_status.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_status' when calling AuthReviewStatusApi.update_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses/{reviewStatus}'.sub('{' + 'reviewStatus' + '}', CGI.escape(review_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_status)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.update_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#update_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch AuthReviewStatus
    # Updates a multiple AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_status [Array<AuthReviewStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_auth_review_status(vbasoftware_database, auth_review_status, opts = {})
      data, _status_code, _headers = update_batch_auth_review_status_with_http_info(vbasoftware_database, auth_review_status, opts)
      data
    end

    # Update Batch AuthReviewStatus
    # Updates a multiple AuthReviewStatus.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_status [Array<AuthReviewStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_auth_review_status_with_http_info(vbasoftware_database, auth_review_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewStatusApi.update_batch_auth_review_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewStatusApi.update_batch_auth_review_status"
      end
      # verify the required parameter 'auth_review_status' is set
      if @api_client.config.client_side_validation && auth_review_status.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_status' when calling AuthReviewStatusApi.update_batch_auth_review_status"
      end
      # resource path
      local_var_path = '/auth-review-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewStatusApi.update_batch_auth_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewStatusApi#update_batch_auth_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
