=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class AuthReviewSeverityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AuthReviewSeverity
    # Creates a new AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_severity [AuthReviewSeverity] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewSeverityVBAResponse]
    def create_auth_review_severity(vbasoftware_database, auth_review_severity, opts = {})
      data, _status_code, _headers = create_auth_review_severity_with_http_info(vbasoftware_database, auth_review_severity, opts)
      data
    end

    # Create AuthReviewSeverity
    # Creates a new AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_severity [AuthReviewSeverity] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewSeverityVBAResponse, Integer, Hash)>] AuthReviewSeverityVBAResponse data, response status code and response headers
    def create_auth_review_severity_with_http_info(vbasoftware_database, auth_review_severity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.create_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.create_auth_review_severity"
      end
      # verify the required parameter 'auth_review_severity' is set
      if @api_client.config.client_side_validation && auth_review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_severity' when calling AuthReviewSeverityApi.create_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_severity)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewSeverityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.create_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#create_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AuthReviewSeverity
    # Deletes an AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_review_severity(vbasoftware_database, review_severity, opts = {})
      delete_auth_review_severity_with_http_info(vbasoftware_database, review_severity, opts)
      nil
    end

    # Delete AuthReviewSeverity
    # Deletes an AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_review_severity_with_http_info(vbasoftware_database, review_severity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.delete_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.delete_auth_review_severity"
      end
      # verify the required parameter 'review_severity' is set
      if @api_client.config.client_side_validation && review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'review_severity' when calling AuthReviewSeverityApi.delete_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities/{reviewSeverity}'.sub('{' + 'reviewSeverity' + '}', CGI.escape(review_severity.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.delete_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#delete_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AuthReviewSeverity
    # Gets AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewSeverityVBAResponse]
    def get_auth_review_severity(vbasoftware_database, review_severity, opts = {})
      data, _status_code, _headers = get_auth_review_severity_with_http_info(vbasoftware_database, review_severity, opts)
      data
    end

    # Get AuthReviewSeverity
    # Gets AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewSeverityVBAResponse, Integer, Hash)>] AuthReviewSeverityVBAResponse data, response status code and response headers
    def get_auth_review_severity_with_http_info(vbasoftware_database, review_severity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.get_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.get_auth_review_severity"
      end
      # verify the required parameter 'review_severity' is set
      if @api_client.config.client_side_validation && review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'review_severity' when calling AuthReviewSeverityApi.get_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities/{reviewSeverity}'.sub('{' + 'reviewSeverity' + '}', CGI.escape(review_severity.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewSeverityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.get_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#get_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List AuthReviewLevel
    # Lists all AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [AuthReviewSeverityListVBAResponse]
    def list_auth_review_severity(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_auth_review_severity_with_http_info(vbasoftware_database, opts)
      data
    end

    # List AuthReviewLevel
    # Lists all AuthReviewSeverity
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(AuthReviewSeverityListVBAResponse, Integer, Hash)>] AuthReviewSeverityListVBAResponse data, response status code and response headers
    def list_auth_review_severity_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.list_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.list_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewSeverityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.list_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#list_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AuthReviewSeverity
    # Updates a specific AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param auth_review_severity [AuthReviewSeverity] 
    # @param [Hash] opts the optional parameters
    # @return [AuthReviewSeverityVBAResponse]
    def update_auth_review_severity(vbasoftware_database, review_severity, auth_review_severity, opts = {})
      data, _status_code, _headers = update_auth_review_severity_with_http_info(vbasoftware_database, review_severity, auth_review_severity, opts)
      data
    end

    # Update AuthReviewSeverity
    # Updates a specific AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param review_severity [String] Review Severity
    # @param auth_review_severity [AuthReviewSeverity] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReviewSeverityVBAResponse, Integer, Hash)>] AuthReviewSeverityVBAResponse data, response status code and response headers
    def update_auth_review_severity_with_http_info(vbasoftware_database, review_severity, auth_review_severity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.update_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.update_auth_review_severity"
      end
      # verify the required parameter 'review_severity' is set
      if @api_client.config.client_side_validation && review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'review_severity' when calling AuthReviewSeverityApi.update_auth_review_severity"
      end
      # verify the required parameter 'auth_review_severity' is set
      if @api_client.config.client_side_validation && auth_review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_severity' when calling AuthReviewSeverityApi.update_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities/{reviewSeverity}'.sub('{' + 'reviewSeverity' + '}', CGI.escape(review_severity.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_severity)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReviewSeverityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.update_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#update_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch AuthReviewSeverity
    # Updates a multiple AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_severity [Array<AuthReviewSeverity>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_auth_review_severity(vbasoftware_database, auth_review_severity, opts = {})
      data, _status_code, _headers = update_batch_auth_review_severity_with_http_info(vbasoftware_database, auth_review_severity, opts)
      data
    end

    # Update Batch AuthReviewSeverity
    # Updates a multiple AuthReviewSeverity.
    # @param vbasoftware_database [String] Target database
    # @param auth_review_severity [Array<AuthReviewSeverity>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_auth_review_severity_with_http_info(vbasoftware_database, auth_review_severity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthReviewSeverityApi.update_batch_auth_review_severity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling AuthReviewSeverityApi.update_batch_auth_review_severity"
      end
      # verify the required parameter 'auth_review_severity' is set
      if @api_client.config.client_side_validation && auth_review_severity.nil?
        fail ArgumentError, "Missing the required parameter 'auth_review_severity' when calling AuthReviewSeverityApi.update_batch_auth_review_severity"
      end
      # resource path
      local_var_path = '/auth-review-severities-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_review_severity)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AuthReviewSeverityApi.update_batch_auth_review_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthReviewSeverityApi#update_batch_auth_review_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
