=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitDiagnosticCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitDiagCodes
    # Creates a new BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_diag_codes [BenefitDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitDiagCodesVBAResponse]
    def create_benefit_diag_codes(vbasoftware_database, benefit_code, benefit_diag_codes, opts = {})
      data, _status_code, _headers = create_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, benefit_diag_codes, opts)
      data
    end

    # Create BenefitDiagCodes
    # Creates a new BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_diag_codes [BenefitDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitDiagCodesVBAResponse, Integer, Hash)>] BenefitDiagCodesVBAResponse data, response status code and response headers
    def create_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, benefit_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.create_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.create_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.create_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_diag_codes' is set
      if @api_client.config.client_side_validation && benefit_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_diag_codes' when calling BenefitDiagnosticCodesApi.create_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.create_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#create_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitDiagCodes
    # Deletes an BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_diag_codes(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts = {})
      delete_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts)
      nil
    end

    # Delete BenefitDiagCodes
    # Deletes an BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.delete_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.delete_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.delete_benefit_diag_codes"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling BenefitDiagnosticCodesApi.delete_benefit_diag_codes"
      end
      # verify the required parameter 'from_diag_code' is set
      if @api_client.config.client_side_validation && from_diag_code.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag_code' when calling BenefitDiagnosticCodesApi.delete_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses/{diagnosticCodeType}/{fromDiagCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiagCode' + '}', CGI.escape(from_diag_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.delete_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#delete_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitDiagCodes
    # Gets BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitDiagCodesVBAResponse]
    def get_benefit_diag_codes(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts = {})
      data, _status_code, _headers = get_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts)
      data
    end

    # Get BenefitDiagCodes
    # Gets BenefitDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitDiagCodesVBAResponse, Integer, Hash)>] BenefitDiagCodesVBAResponse data, response status code and response headers
    def get_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.get_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.get_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.get_benefit_diag_codes"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling BenefitDiagnosticCodesApi.get_benefit_diag_codes"
      end
      # verify the required parameter 'from_diag_code' is set
      if @api_client.config.client_side_validation && from_diag_code.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag_code' when calling BenefitDiagnosticCodesApi.get_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses/{diagnosticCodeType}/{fromDiagCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiagCode' + '}', CGI.escape(from_diag_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.get_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#get_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitDiagCodes
    # Lists all BenefitDiagCodes for the given benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitDiagCodesListVBAResponse]
    def list_benefit_diag_codes(vbasoftware_database, benefit_code, opts = {})
      data, _status_code, _headers = list_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, opts)
      data
    end

    # List BenefitDiagCodes
    # Lists all BenefitDiagCodes for the given benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitDiagCodesListVBAResponse, Integer, Hash)>] BenefitDiagCodesListVBAResponse data, response status code and response headers
    def list_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.list_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.list_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.list_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitDiagCodesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.list_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#list_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitDiagCodes
    # Create or Update multiple BenefitDiagCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_diag_codes [Array<BenefitDiagCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_diag_codes(vbasoftware_database, benefit_code, benefit_diag_codes, opts = {})
      data, _status_code, _headers = update_batch_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, benefit_diag_codes, opts)
      data
    end

    # Create or Update Batch BenefitDiagCodes
    # Create or Update multiple BenefitDiagCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_diag_codes [Array<BenefitDiagCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, benefit_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.update_batch_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.update_batch_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.update_batch_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_diag_codes' is set
      if @api_client.config.client_side_validation && benefit_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_diag_codes' when calling BenefitDiagnosticCodesApi.update_batch_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses-batch'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.update_batch_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#update_batch_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitDiagCodes
    # Updates a specific BenefitDiagCodes.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param benefit_diag_codes [BenefitDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitDiagCodesVBAResponse]
    def update_benefit_diag_codes(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, benefit_diag_codes, opts = {})
      data, _status_code, _headers = update_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, benefit_diag_codes, opts)
      data
    end

    # Update BenefitDiagCodes
    # Updates a specific BenefitDiagCodes.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag_code [String] From Diag Code
    # @param benefit_diag_codes [BenefitDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitDiagCodesVBAResponse, Integer, Hash)>] BenefitDiagCodesVBAResponse data, response status code and response headers
    def update_benefit_diag_codes_with_http_info(vbasoftware_database, benefit_code, diagnostic_code_type, from_diag_code, benefit_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitDiagnosticCodesApi.update_benefit_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitDiagnosticCodesApi.update_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitDiagnosticCodesApi.update_benefit_diag_codes"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling BenefitDiagnosticCodesApi.update_benefit_diag_codes"
      end
      # verify the required parameter 'from_diag_code' is set
      if @api_client.config.client_side_validation && from_diag_code.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag_code' when calling BenefitDiagnosticCodesApi.update_benefit_diag_codes"
      end
      # verify the required parameter 'benefit_diag_codes' is set
      if @api_client.config.client_side_validation && benefit_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_diag_codes' when calling BenefitDiagnosticCodesApi.update_benefit_diag_codes"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/diagnoses/{diagnosticCodeType}/{fromDiagCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiagCode' + '}', CGI.escape(from_diag_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitDiagnosticCodesApi.update_benefit_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitDiagnosticCodesApi#update_benefit_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
