=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitSpecialtiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitSpecialty
    # Creates a new BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_specialty [BenefitSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitSpecialtyVBAResponse]
    def create_benefit_specialty(vbasoftware_database, benefit_code, benefit_specialty, opts = {})
      data, _status_code, _headers = create_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, benefit_specialty, opts)
      data
    end

    # Create BenefitSpecialty
    # Creates a new BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_specialty [BenefitSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitSpecialtyVBAResponse, Integer, Hash)>] BenefitSpecialtyVBAResponse data, response status code and response headers
    def create_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, benefit_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.create_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.create_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.create_benefit_specialty"
      end
      # verify the required parameter 'benefit_specialty' is set
      if @api_client.config.client_side_validation && benefit_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_specialty' when calling BenefitSpecialtiesApi.create_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.create_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#create_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitSpecialty
    # Deletes an BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_specialty(vbasoftware_database, benefit_code, specialty_code, opts = {})
      delete_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, opts)
      nil
    end

    # Delete BenefitSpecialty
    # Deletes an BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.delete_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.delete_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.delete_benefit_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling BenefitSpecialtiesApi.delete_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes/{specialtyCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.delete_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#delete_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitSpecialty
    # Gets BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitSpecialtyVBAResponse]
    def get_benefit_specialty(vbasoftware_database, benefit_code, specialty_code, opts = {})
      data, _status_code, _headers = get_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, opts)
      data
    end

    # Get BenefitSpecialty
    # Gets BenefitSpecialty
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitSpecialtyVBAResponse, Integer, Hash)>] BenefitSpecialtyVBAResponse data, response status code and response headers
    def get_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.get_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.get_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.get_benefit_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling BenefitSpecialtiesApi.get_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes/{specialtyCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.get_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#get_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitSpecialty
    # Lists all BenefitSpecialty benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitSpecialtyListVBAResponse]
    def list_benefit_specialty(vbasoftware_database, benefit_code, opts = {})
      data, _status_code, _headers = list_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, opts)
      data
    end

    # List BenefitSpecialty
    # Lists all BenefitSpecialty benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitSpecialtyListVBAResponse, Integer, Hash)>] BenefitSpecialtyListVBAResponse data, response status code and response headers
    def list_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.list_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.list_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.list_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitSpecialtyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.list_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#list_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitSpecialty
    # Create or Update multiple BenefitSpecialty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_specialty [Array<BenefitSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_specialty(vbasoftware_database, benefit_code, benefit_specialty, opts = {})
      data, _status_code, _headers = update_batch_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, benefit_specialty, opts)
      data
    end

    # Create or Update Batch BenefitSpecialty
    # Create or Update multiple BenefitSpecialty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_specialty [Array<BenefitSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, benefit_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.update_batch_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.update_batch_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.update_batch_benefit_specialty"
      end
      # verify the required parameter 'benefit_specialty' is set
      if @api_client.config.client_side_validation && benefit_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_specialty' when calling BenefitSpecialtiesApi.update_batch_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes-batch'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.update_batch_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#update_batch_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitSpecialty
    # Updates a specific BenefitSpecialty.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param benefit_specialty [BenefitSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitSpecialtyVBAResponse]
    def update_benefit_specialty(vbasoftware_database, benefit_code, specialty_code, benefit_specialty, opts = {})
      data, _status_code, _headers = update_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, benefit_specialty, opts)
      data
    end

    # Update BenefitSpecialty
    # Updates a specific BenefitSpecialty.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param benefit_specialty [BenefitSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitSpecialtyVBAResponse, Integer, Hash)>] BenefitSpecialtyVBAResponse data, response status code and response headers
    def update_benefit_specialty_with_http_info(vbasoftware_database, benefit_code, specialty_code, benefit_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitSpecialtiesApi.update_benefit_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitSpecialtiesApi.update_benefit_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitSpecialtiesApi.update_benefit_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling BenefitSpecialtiesApi.update_benefit_specialty"
      end
      # verify the required parameter 'benefit_specialty' is set
      if @api_client.config.client_side_validation && benefit_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_specialty' when calling BenefitSpecialtiesApi.update_benefit_specialty"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/specialty-codes/{specialtyCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitSpecialtiesApi.update_benefit_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitSpecialtiesApi#update_benefit_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
