=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitPlacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitPlace
    # Creates a new BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_place [BenefitPlace] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitPlaceVBAResponse]
    def create_benefit_place(vbasoftware_database, benefit_code, benefit_place, opts = {})
      data, _status_code, _headers = create_benefit_place_with_http_info(vbasoftware_database, benefit_code, benefit_place, opts)
      data
    end

    # Create BenefitPlace
    # Creates a new BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_place [BenefitPlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitPlaceVBAResponse, Integer, Hash)>] BenefitPlaceVBAResponse data, response status code and response headers
    def create_benefit_place_with_http_info(vbasoftware_database, benefit_code, benefit_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.create_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.create_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.create_benefit_place"
      end
      # verify the required parameter 'benefit_place' is set
      if @api_client.config.client_side_validation && benefit_place.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_place' when calling BenefitPlacesApi.create_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_place)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitPlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.create_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#create_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitPlace
    # Deletes an BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_place(vbasoftware_database, benefit_code, place_code, opts = {})
      delete_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, opts)
      nil
    end

    # Delete BenefitPlace
    # Deletes an BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.delete_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.delete_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.delete_benefit_place"
      end
      # verify the required parameter 'place_code' is set
      if @api_client.config.client_side_validation && place_code.nil?
        fail ArgumentError, "Missing the required parameter 'place_code' when calling BenefitPlacesApi.delete_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places/{placeCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'placeCode' + '}', CGI.escape(place_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.delete_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#delete_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitPlace
    # Gets BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitPlaceVBAResponse]
    def get_benefit_place(vbasoftware_database, benefit_code, place_code, opts = {})
      data, _status_code, _headers = get_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, opts)
      data
    end

    # Get BenefitPlace
    # Gets BenefitPlace
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitPlaceVBAResponse, Integer, Hash)>] BenefitPlaceVBAResponse data, response status code and response headers
    def get_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.get_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.get_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.get_benefit_place"
      end
      # verify the required parameter 'place_code' is set
      if @api_client.config.client_side_validation && place_code.nil?
        fail ArgumentError, "Missing the required parameter 'place_code' when calling BenefitPlacesApi.get_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places/{placeCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'placeCode' + '}', CGI.escape(place_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitPlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.get_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#get_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitPlace
    # Lists all BenefitPlace benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitPlaceListVBAResponse]
    def list_benefit_place(vbasoftware_database, benefit_code, opts = {})
      data, _status_code, _headers = list_benefit_place_with_http_info(vbasoftware_database, benefit_code, opts)
      data
    end

    # List BenefitPlace
    # Lists all BenefitPlace benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitPlaceListVBAResponse, Integer, Hash)>] BenefitPlaceListVBAResponse data, response status code and response headers
    def list_benefit_place_with_http_info(vbasoftware_database, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.list_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.list_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.list_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitPlaceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.list_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#list_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitPlace
    # Create or Update multiple BenefitPlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_place [Array<BenefitPlace>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_place(vbasoftware_database, benefit_code, benefit_place, opts = {})
      data, _status_code, _headers = update_batch_benefit_place_with_http_info(vbasoftware_database, benefit_code, benefit_place, opts)
      data
    end

    # Create or Update Batch BenefitPlace
    # Create or Update multiple BenefitPlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_place [Array<BenefitPlace>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_place_with_http_info(vbasoftware_database, benefit_code, benefit_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.update_batch_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.update_batch_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.update_batch_benefit_place"
      end
      # verify the required parameter 'benefit_place' is set
      if @api_client.config.client_side_validation && benefit_place.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_place' when calling BenefitPlacesApi.update_batch_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places-batch'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_place)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.update_batch_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#update_batch_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitPlace
    # Updates a specific BenefitPlace.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param benefit_place [BenefitPlace] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitPlaceVBAResponse]
    def update_benefit_place(vbasoftware_database, benefit_code, place_code, benefit_place, opts = {})
      data, _status_code, _headers = update_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, benefit_place, opts)
      data
    end

    # Update BenefitPlace
    # Updates a specific BenefitPlace.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param place_code [String] Place Code
    # @param benefit_place [BenefitPlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitPlaceVBAResponse, Integer, Hash)>] BenefitPlaceVBAResponse data, response status code and response headers
    def update_benefit_place_with_http_info(vbasoftware_database, benefit_code, place_code, benefit_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitPlacesApi.update_benefit_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitPlacesApi.update_benefit_place"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitPlacesApi.update_benefit_place"
      end
      # verify the required parameter 'place_code' is set
      if @api_client.config.client_side_validation && place_code.nil?
        fail ArgumentError, "Missing the required parameter 'place_code' when calling BenefitPlacesApi.update_benefit_place"
      end
      # verify the required parameter 'benefit_place' is set
      if @api_client.config.client_side_validation && benefit_place.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_place' when calling BenefitPlacesApi.update_benefit_place"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/places/{placeCode}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'placeCode' + '}', CGI.escape(place_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_place)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitPlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitPlacesApi.update_benefit_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitPlacesApi#update_benefit_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
