=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitProceduresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitProcedures
    # Creates a new BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_procedures [BenefitProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitProceduresVBAResponse]
    def create_benefit_procedures(vbasoftware_database, benefit_code, benefit_procedures, opts = {})
      data, _status_code, _headers = create_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, benefit_procedures, opts)
      data
    end

    # Create BenefitProcedures
    # Creates a new BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_procedures [BenefitProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProceduresVBAResponse, Integer, Hash)>] BenefitProceduresVBAResponse data, response status code and response headers
    def create_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, benefit_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.create_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.create_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.create_benefit_procedures"
      end
      # verify the required parameter 'benefit_procedures' is set
      if @api_client.config.client_side_validation && benefit_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_procedures' when calling BenefitProceduresApi.create_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.create_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#create_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitProcedures
    # Deletes an BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_procedures(vbasoftware_database, benefit_code, from_procedure, opts = {})
      delete_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, opts)
      nil
    end

    # Delete BenefitProcedures
    # Deletes an BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.delete_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.delete_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.delete_benefit_procedures"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling BenefitProceduresApi.delete_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures/{fromProcedure}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.delete_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#delete_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitProcedures
    # Gets BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [BenefitProceduresVBAResponse]
    def get_benefit_procedures(vbasoftware_database, benefit_code, from_procedure, opts = {})
      data, _status_code, _headers = get_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, opts)
      data
    end

    # Get BenefitProcedures
    # Gets BenefitProcedures
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProceduresVBAResponse, Integer, Hash)>] BenefitProceduresVBAResponse data, response status code and response headers
    def get_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.get_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.get_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.get_benefit_procedures"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling BenefitProceduresApi.get_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures/{fromProcedure}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.get_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#get_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitProcedures
    # Lists all BenefitProcedures benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitProceduresListVBAResponse]
    def list_benefit_procedures(vbasoftware_database, benefit_code, opts = {})
      data, _status_code, _headers = list_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, opts)
      data
    end

    # List BenefitProcedures
    # Lists all BenefitProcedures benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProceduresListVBAResponse, Integer, Hash)>] BenefitProceduresListVBAResponse data, response status code and response headers
    def list_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.list_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.list_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.list_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProceduresListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.list_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#list_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitProcedures
    # Create or Update multiple BenefitProcedures at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_procedures [Array<BenefitProcedures>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_procedures(vbasoftware_database, benefit_code, benefit_procedures, opts = {})
      data, _status_code, _headers = update_batch_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, benefit_procedures, opts)
      data
    end

    # Create or Update Batch BenefitProcedures
    # Create or Update multiple BenefitProcedures at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_procedures [Array<BenefitProcedures>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, benefit_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.update_batch_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.update_batch_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.update_batch_benefit_procedures"
      end
      # verify the required parameter 'benefit_procedures' is set
      if @api_client.config.client_side_validation && benefit_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_procedures' when calling BenefitProceduresApi.update_batch_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures-batch'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.update_batch_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#update_batch_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitProcedures
    # Updates a specific BenefitProcedures.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param benefit_procedures [BenefitProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitProceduresVBAResponse]
    def update_benefit_procedures(vbasoftware_database, benefit_code, from_procedure, benefit_procedures, opts = {})
      data, _status_code, _headers = update_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, benefit_procedures, opts)
      data
    end

    # Update BenefitProcedures
    # Updates a specific BenefitProcedures.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param benefit_procedures [BenefitProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProceduresVBAResponse, Integer, Hash)>] BenefitProceduresVBAResponse data, response status code and response headers
    def update_benefit_procedures_with_http_info(vbasoftware_database, benefit_code, from_procedure, benefit_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProceduresApi.update_benefit_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProceduresApi.update_benefit_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProceduresApi.update_benefit_procedures"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling BenefitProceduresApi.update_benefit_procedures"
      end
      # verify the required parameter 'benefit_procedures' is set
      if @api_client.config.client_side_validation && benefit_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_procedures' when calling BenefitProceduresApi.update_benefit_procedures"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/procedures/{fromProcedure}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProceduresApi.update_benefit_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProceduresApi#update_benefit_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
