=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitProviderTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitProviderTypes
    # Creates a new BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_provider_types [BenefitProviderTypes] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitProviderTypesVBAResponse]
    def create_benefit_provider_types(vbasoftware_database, benefit_code, benefit_provider_types, opts = {})
      data, _status_code, _headers = create_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, benefit_provider_types, opts)
      data
    end

    # Create BenefitProviderTypes
    # Creates a new BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_provider_types [BenefitProviderTypes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProviderTypesVBAResponse, Integer, Hash)>] BenefitProviderTypesVBAResponse data, response status code and response headers
    def create_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, benefit_provider_types, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.create_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.create_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.create_benefit_provider_types"
      end
      # verify the required parameter 'benefit_provider_types' is set
      if @api_client.config.client_side_validation && benefit_provider_types.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_provider_types' when calling BenefitProviderTypesApi.create_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_provider_types)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProviderTypesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.create_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#create_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitProviderTypes
    # Deletes an BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_provider_types(vbasoftware_database, benefit_code, provider_type, opts = {})
      delete_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, opts)
      nil
    end

    # Delete BenefitProviderTypes
    # Deletes an BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.delete_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.delete_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.delete_benefit_provider_types"
      end
      # verify the required parameter 'provider_type' is set
      if @api_client.config.client_side_validation && provider_type.nil?
        fail ArgumentError, "Missing the required parameter 'provider_type' when calling BenefitProviderTypesApi.delete_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types/{providerType}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'providerType' + '}', CGI.escape(provider_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.delete_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#delete_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitProviderTypes
    # Gets BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param [Hash] opts the optional parameters
    # @return [BenefitProviderTypesVBAResponse]
    def get_benefit_provider_types(vbasoftware_database, benefit_code, provider_type, opts = {})
      data, _status_code, _headers = get_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, opts)
      data
    end

    # Get BenefitProviderTypes
    # Gets BenefitProviderTypes
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProviderTypesVBAResponse, Integer, Hash)>] BenefitProviderTypesVBAResponse data, response status code and response headers
    def get_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.get_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.get_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.get_benefit_provider_types"
      end
      # verify the required parameter 'provider_type' is set
      if @api_client.config.client_side_validation && provider_type.nil?
        fail ArgumentError, "Missing the required parameter 'provider_type' when calling BenefitProviderTypesApi.get_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types/{providerType}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'providerType' + '}', CGI.escape(provider_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProviderTypesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.get_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#get_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitProviderTypes
    # Lists all BenefitProviderTypes benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [BenefitProviderTypesListVBAResponse]
    def list_benefit_provider_types(vbasoftware_database, benefit_code, opts = {})
      data, _status_code, _headers = list_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, opts)
      data
    end

    # List BenefitProviderTypes
    # Lists all BenefitProviderTypes benefitCode
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProviderTypesListVBAResponse, Integer, Hash)>] BenefitProviderTypesListVBAResponse data, response status code and response headers
    def list_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.list_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.list_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.list_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProviderTypesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.list_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#list_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitProviderTypes
    # Create or Update multiple BenefitProviderTypes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_provider_types [Array<BenefitProviderTypes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_provider_types(vbasoftware_database, benefit_code, benefit_provider_types, opts = {})
      data, _status_code, _headers = update_batch_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, benefit_provider_types, opts)
      data
    end

    # Create or Update Batch BenefitProviderTypes
    # Create or Update multiple BenefitProviderTypes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param benefit_provider_types [Array<BenefitProviderTypes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, benefit_provider_types, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.update_batch_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.update_batch_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.update_batch_benefit_provider_types"
      end
      # verify the required parameter 'benefit_provider_types' is set
      if @api_client.config.client_side_validation && benefit_provider_types.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_provider_types' when calling BenefitProviderTypesApi.update_batch_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types-batch'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_provider_types)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.update_batch_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#update_batch_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitProviderTypes
    # Updates a specific BenefitProviderTypes.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param benefit_provider_types [BenefitProviderTypes] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitProviderTypesVBAResponse]
    def update_benefit_provider_types(vbasoftware_database, benefit_code, provider_type, benefit_provider_types, opts = {})
      data, _status_code, _headers = update_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, benefit_provider_types, opts)
      data
    end

    # Update BenefitProviderTypes
    # Updates a specific BenefitProviderTypes.
    # @param vbasoftware_database [String] Target database
    # @param benefit_code [String] Benefit Code
    # @param provider_type [String] Provider Type
    # @param benefit_provider_types [BenefitProviderTypes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitProviderTypesVBAResponse, Integer, Hash)>] BenefitProviderTypesVBAResponse data, response status code and response headers
    def update_benefit_provider_types_with_http_info(vbasoftware_database, benefit_code, provider_type, benefit_provider_types, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitProviderTypesApi.update_benefit_provider_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitProviderTypesApi.update_benefit_provider_types"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling BenefitProviderTypesApi.update_benefit_provider_types"
      end
      # verify the required parameter 'provider_type' is set
      if @api_client.config.client_side_validation && provider_type.nil?
        fail ArgumentError, "Missing the required parameter 'provider_type' when calling BenefitProviderTypesApi.update_benefit_provider_types"
      end
      # verify the required parameter 'benefit_provider_types' is set
      if @api_client.config.client_side_validation && benefit_provider_types.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_provider_types' when calling BenefitProviderTypesApi.update_benefit_provider_types"
      end
      # resource path
      local_var_path = '/benefits/{benefitCode}/provider-types/{providerType}'.sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'providerType' + '}', CGI.escape(provider_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_provider_types)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitProviderTypesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitProviderTypesApi.update_benefit_provider_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitProviderTypesApi#update_benefit_provider_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
