=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BenefitCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BenefitCategory
    # Creates a new BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [BenefitCategory] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitCategoryVBAResponse]
    def create_benefit_category(vbasoftware_database, benefit_category, opts = {})
      data, _status_code, _headers = create_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts)
      data
    end

    # Create BenefitCategory
    # Creates a new BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [BenefitCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitCategoryVBAResponse, Integer, Hash)>] BenefitCategoryVBAResponse data, response status code and response headers
    def create_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.create_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.create_benefit_category"
      end
      # verify the required parameter 'benefit_category' is set
      if @api_client.config.client_side_validation && benefit_category.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category' when calling BenefitCategoriesApi.create_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_category)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.create_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#create_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BenefitCategory
    # Deletes an BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benefit_category(vbasoftware_database, benefit_category, opts = {})
      delete_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts)
      nil
    end

    # Delete BenefitCategory
    # Deletes an BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.delete_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.delete_benefit_category"
      end
      # verify the required parameter 'benefit_category' is set
      if @api_client.config.client_side_validation && benefit_category.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category' when calling BenefitCategoriesApi.delete_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories/{benefitCategory}'.sub('{' + 'benefitCategory' + '}', CGI.escape(benefit_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.delete_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#delete_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BenefitCategory
    # Gets BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param [Hash] opts the optional parameters
    # @return [BenefitCategoryVBAResponse]
    def get_benefit_category(vbasoftware_database, benefit_category, opts = {})
      data, _status_code, _headers = get_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts)
      data
    end

    # Get BenefitCategory
    # Gets BenefitCategory
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitCategoryVBAResponse, Integer, Hash)>] BenefitCategoryVBAResponse data, response status code and response headers
    def get_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.get_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.get_benefit_category"
      end
      # verify the required parameter 'benefit_category' is set
      if @api_client.config.client_side_validation && benefit_category.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category' when calling BenefitCategoriesApi.get_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories/{benefitCategory}'.sub('{' + 'benefitCategory' + '}', CGI.escape(benefit_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.get_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#get_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BenefitCategory
    # Lists all BenefitCategory 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [BenefitCategoryListVBAResponse]
    def list_benefit_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_benefit_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List BenefitCategory
    # Lists all BenefitCategory 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitCategoryListVBAResponse, Integer, Hash)>] BenefitCategoryListVBAResponse data, response status code and response headers
    def list_benefit_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.list_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.list_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.list_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#list_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BenefitCategory
    # Create or Update multiple BenefitCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [Array<BenefitCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_benefit_category(vbasoftware_database, benefit_category, opts = {})
      data, _status_code, _headers = update_batch_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts)
      data
    end

    # Create or Update Batch BenefitCategory
    # Create or Update multiple BenefitCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [Array<BenefitCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_benefit_category_with_http_info(vbasoftware_database, benefit_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.update_batch_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.update_batch_benefit_category"
      end
      # verify the required parameter 'benefit_category' is set
      if @api_client.config.client_side_validation && benefit_category.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category' when calling BenefitCategoriesApi.update_batch_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.update_batch_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#update_batch_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BenefitCategory
    # Updates a specific BenefitCategory.
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param benefit_category2 [BenefitCategory] 
    # @param [Hash] opts the optional parameters
    # @return [BenefitCategoryVBAResponse]
    def update_benefit_category(vbasoftware_database, benefit_category, benefit_category2, opts = {})
      data, _status_code, _headers = update_benefit_category_with_http_info(vbasoftware_database, benefit_category, benefit_category2, opts)
      data
    end

    # Update BenefitCategory
    # Updates a specific BenefitCategory.
    # @param vbasoftware_database [String] Target database
    # @param benefit_category [String] Benefit Category
    # @param benefit_category2 [BenefitCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BenefitCategoryVBAResponse, Integer, Hash)>] BenefitCategoryVBAResponse data, response status code and response headers
    def update_benefit_category_with_http_info(vbasoftware_database, benefit_category, benefit_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BenefitCategoriesApi.update_benefit_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BenefitCategoriesApi.update_benefit_category"
      end
      # verify the required parameter 'benefit_category' is set
      if @api_client.config.client_side_validation && benefit_category.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category' when calling BenefitCategoriesApi.update_benefit_category"
      end
      # verify the required parameter 'benefit_category2' is set
      if @api_client.config.client_side_validation && benefit_category2.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_category2' when calling BenefitCategoriesApi.update_benefit_category"
      end
      # resource path
      local_var_path = '/benefit-categories/{benefitCategory}'.sub('{' + 'benefitCategory' + '}', CGI.escape(benefit_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(benefit_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'BenefitCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BenefitCategoriesApi.update_benefit_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BenefitCategoriesApi#update_benefit_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
