=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BillTypePlacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BillTypePlace
    # Creates a new BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param bill_type_place [BillTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [BillTypePlaceVBAResponse]
    def create_bill_type_place(vbasoftware_database, type_of_bill, bill_type_place, opts = {})
      data, _status_code, _headers = create_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, bill_type_place, opts)
      data
    end

    # Create BillTypePlace
    # Creates a new BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param bill_type_place [BillTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillTypePlaceVBAResponse, Integer, Hash)>] BillTypePlaceVBAResponse data, response status code and response headers
    def create_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, bill_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.create_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.create_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.create_bill_type_place"
      end
      # verify the required parameter 'bill_type_place' is set
      if @api_client.config.client_side_validation && bill_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'bill_type_place' when calling BillTypePlacesApi.create_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bill_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'BillTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.create_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#create_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete BillTypePlace
    # Deletes an BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bill_type_place(vbasoftware_database, type_of_bill, place_of_service, opts = {})
      delete_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, opts)
      nil
    end

    # Delete BillTypePlace
    # Deletes an BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.delete_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.delete_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.delete_bill_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling BillTypePlacesApi.delete_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places/{placeOfService}'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.delete_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#delete_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BillTypePlace
    # Gets BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [BillTypePlaceVBAResponse]
    def get_bill_type_place(vbasoftware_database, type_of_bill, place_of_service, opts = {})
      data, _status_code, _headers = get_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, opts)
      data
    end

    # Get BillTypePlace
    # Gets BillTypePlace
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillTypePlaceVBAResponse, Integer, Hash)>] BillTypePlaceVBAResponse data, response status code and response headers
    def get_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.get_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.get_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.get_bill_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling BillTypePlacesApi.get_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places/{placeOfService}'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.get_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#get_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List BillTypePlace
    # Lists all BillTypePlace for the given typeOfBill
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [BillTypePlaceListVBAResponse]
    def list_bill_type_place(vbasoftware_database, type_of_bill, opts = {})
      data, _status_code, _headers = list_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, opts)
      data
    end

    # List BillTypePlace
    # Lists all BillTypePlace for the given typeOfBill
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(BillTypePlaceListVBAResponse, Integer, Hash)>] BillTypePlaceListVBAResponse data, response status code and response headers
    def list_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.list_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.list_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.list_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillTypePlaceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.list_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#list_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch BillTypePlace
    # Create or Update multiple BillTypePlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param bill_type_place [Array<BillTypePlace>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_bill_type_place(vbasoftware_database, type_of_bill, bill_type_place, opts = {})
      data, _status_code, _headers = update_batch_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, bill_type_place, opts)
      data
    end

    # Create or Update Batch BillTypePlace
    # Create or Update multiple BillTypePlace at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param bill_type_place [Array<BillTypePlace>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, bill_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.update_batch_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.update_batch_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.update_batch_bill_type_place"
      end
      # verify the required parameter 'bill_type_place' is set
      if @api_client.config.client_side_validation && bill_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'bill_type_place' when calling BillTypePlacesApi.update_batch_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places-batch'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bill_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.update_batch_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#update_batch_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BillTypePlace
    # Updates a specific BillTypePlace.
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param bill_type_place [BillTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [BillTypePlaceVBAResponse]
    def update_bill_type_place(vbasoftware_database, type_of_bill, place_of_service, bill_type_place, opts = {})
      data, _status_code, _headers = update_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, bill_type_place, opts)
      data
    end

    # Update BillTypePlace
    # Updates a specific BillTypePlace.
    # @param vbasoftware_database [String] Target database
    # @param type_of_bill [String] Type Of Bill
    # @param place_of_service [String] Place Of Service
    # @param bill_type_place [BillTypePlace] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillTypePlaceVBAResponse, Integer, Hash)>] BillTypePlaceVBAResponse data, response status code and response headers
    def update_bill_type_place_with_http_info(vbasoftware_database, type_of_bill, place_of_service, bill_type_place, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillTypePlacesApi.update_bill_type_place ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BillTypePlacesApi.update_bill_type_place"
      end
      # verify the required parameter 'type_of_bill' is set
      if @api_client.config.client_side_validation && type_of_bill.nil?
        fail ArgumentError, "Missing the required parameter 'type_of_bill' when calling BillTypePlacesApi.update_bill_type_place"
      end
      # verify the required parameter 'place_of_service' is set
      if @api_client.config.client_side_validation && place_of_service.nil?
        fail ArgumentError, "Missing the required parameter 'place_of_service' when calling BillTypePlacesApi.update_bill_type_place"
      end
      # verify the required parameter 'bill_type_place' is set
      if @api_client.config.client_side_validation && bill_type_place.nil?
        fail ArgumentError, "Missing the required parameter 'bill_type_place' when calling BillTypePlacesApi.update_bill_type_place"
      end
      # resource path
      local_var_path = '/bill-types/{typeOfBill}/places/{placeOfService}'.sub('{' + 'typeOfBill' + '}', CGI.escape(type_of_bill.to_s)).sub('{' + 'placeOfService' + '}', CGI.escape(place_of_service.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bill_type_place)

      # return_type
      return_type = opts[:debug_return_type] || 'BillTypePlaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BillTypePlacesApi.update_bill_type_place",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillTypePlacesApi#update_bill_type_place\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
