=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class BrokerageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Brokerage
    # Creates a new Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [Brokerage] 
    # @param [Hash] opts the optional parameters
    # @return [BrokerageVBAResponse]
    def create_brokerage(vbasoftware_database, brokerage, opts = {})
      data, _status_code, _headers = create_brokerage_with_http_info(vbasoftware_database, brokerage, opts)
      data
    end

    # Create Brokerage
    # Creates a new Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [Brokerage] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrokerageVBAResponse, Integer, Hash)>] BrokerageVBAResponse data, response status code and response headers
    def create_brokerage_with_http_info(vbasoftware_database, brokerage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.create_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.create_brokerage"
      end
      # verify the required parameter 'brokerage' is set
      if @api_client.config.client_side_validation && brokerage.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage' when calling BrokerageApi.create_brokerage"
      end
      # resource path
      local_var_path = '/brokerages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brokerage)

      # return_type
      return_type = opts[:debug_return_type] || 'BrokerageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.create_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#create_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Brokerage
    # Deletes an Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_brokerage(vbasoftware_database, brokerage, opts = {})
      delete_brokerage_with_http_info(vbasoftware_database, brokerage, opts)
      nil
    end

    # Delete Brokerage
    # Deletes an Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_brokerage_with_http_info(vbasoftware_database, brokerage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.delete_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.delete_brokerage"
      end
      # verify the required parameter 'brokerage' is set
      if @api_client.config.client_side_validation && brokerage.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage' when calling BrokerageApi.delete_brokerage"
      end
      # resource path
      local_var_path = '/brokerages/{brokerage}'.sub('{' + 'brokerage' + '}', CGI.escape(brokerage.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.delete_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#delete_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Brokerage
    # Gets Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param [Hash] opts the optional parameters
    # @return [BrokerageVBAResponse]
    def get_brokerage(vbasoftware_database, brokerage, opts = {})
      data, _status_code, _headers = get_brokerage_with_http_info(vbasoftware_database, brokerage, opts)
      data
    end

    # Get Brokerage
    # Gets Brokerage
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrokerageVBAResponse, Integer, Hash)>] BrokerageVBAResponse data, response status code and response headers
    def get_brokerage_with_http_info(vbasoftware_database, brokerage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.get_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.get_brokerage"
      end
      # verify the required parameter 'brokerage' is set
      if @api_client.config.client_side_validation && brokerage.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage' when calling BrokerageApi.get_brokerage"
      end
      # resource path
      local_var_path = '/brokerages/{brokerage}'.sub('{' + 'brokerage' + '}', CGI.escape(brokerage.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrokerageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.get_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#get_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Brokerage
    # Lists all Brokerage
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [BrokerageListVBAResponse]
    def list_brokerage(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_brokerage_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Brokerage
    # Lists all Brokerage
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(BrokerageListVBAResponse, Integer, Hash)>] BrokerageListVBAResponse data, response status code and response headers
    def list_brokerage_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.list_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.list_brokerage"
      end
      # resource path
      local_var_path = '/brokerages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrokerageListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.list_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#list_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Brokerage
    # Create or Update multiple Brokerage at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param brokerage [Array<Brokerage>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_brokerage(vbasoftware_database, brokerage, opts = {})
      data, _status_code, _headers = update_batch_brokerage_with_http_info(vbasoftware_database, brokerage, opts)
      data
    end

    # Create or Update Batch Brokerage
    # Create or Update multiple Brokerage at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param brokerage [Array<Brokerage>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_brokerage_with_http_info(vbasoftware_database, brokerage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.update_batch_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.update_batch_brokerage"
      end
      # verify the required parameter 'brokerage' is set
      if @api_client.config.client_side_validation && brokerage.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage' when calling BrokerageApi.update_batch_brokerage"
      end
      # resource path
      local_var_path = '/brokerages-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brokerage)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.update_batch_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#update_batch_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Brokerage
    # Updates a specific Brokerage.
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param brokerage2 [Brokerage] 
    # @param [Hash] opts the optional parameters
    # @return [BrokerageVBAResponse]
    def update_brokerage(vbasoftware_database, brokerage, brokerage2, opts = {})
      data, _status_code, _headers = update_brokerage_with_http_info(vbasoftware_database, brokerage, brokerage2, opts)
      data
    end

    # Update Brokerage
    # Updates a specific Brokerage.
    # @param vbasoftware_database [String] Target database
    # @param brokerage [String] Brokerage1
    # @param brokerage2 [Brokerage] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrokerageVBAResponse, Integer, Hash)>] BrokerageVBAResponse data, response status code and response headers
    def update_brokerage_with_http_info(vbasoftware_database, brokerage, brokerage2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrokerageApi.update_brokerage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling BrokerageApi.update_brokerage"
      end
      # verify the required parameter 'brokerage' is set
      if @api_client.config.client_side_validation && brokerage.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage' when calling BrokerageApi.update_brokerage"
      end
      # verify the required parameter 'brokerage2' is set
      if @api_client.config.client_side_validation && brokerage2.nil?
        fail ArgumentError, "Missing the required parameter 'brokerage2' when calling BrokerageApi.update_brokerage"
      end
      # resource path
      local_var_path = '/brokerages/{brokerage}'.sub('{' + 'brokerage' + '}', CGI.escape(brokerage.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brokerage2)

      # return_type
      return_type = opts[:debug_return_type] || 'BrokerageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BrokerageApi.update_brokerage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrokerageApi#update_brokerage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
