=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CallTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CallTrackingCallType
    # Creates a new CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_call_type [CallTrackingCallType] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingCallTypeVBAResponse]
    def create_call_tracking_call_type(vbasoftware_database, call_tracking_call_type, opts = {})
      data, _status_code, _headers = create_call_tracking_call_type_with_http_info(vbasoftware_database, call_tracking_call_type, opts)
      data
    end

    # Create CallTrackingCallType
    # Creates a new CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_call_type [CallTrackingCallType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingCallTypeVBAResponse, Integer, Hash)>] CallTrackingCallTypeVBAResponse data, response status code and response headers
    def create_call_tracking_call_type_with_http_info(vbasoftware_database, call_tracking_call_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.create_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.create_call_tracking_call_type"
      end
      # verify the required parameter 'call_tracking_call_type' is set
      if @api_client.config.client_side_validation && call_tracking_call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_call_type' when calling CallTypesApi.create_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_call_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingCallTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.create_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#create_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CallTrackingCallType
    # Deletes an CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_call_tracking_call_type(vbasoftware_database, call_type, opts = {})
      delete_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, opts)
      nil
    end

    # Delete CallTrackingCallType
    # Deletes an CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.delete_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.delete_call_tracking_call_type"
      end
      # verify the required parameter 'call_type' is set
      if @api_client.config.client_side_validation && call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_type' when calling CallTypesApi.delete_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types/{callType}'.sub('{' + 'callType' + '}', CGI.escape(call_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.delete_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#delete_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CallTrackingCallType
    # Gets CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingCallTypeVBAResponse]
    def get_call_tracking_call_type(vbasoftware_database, call_type, opts = {})
      data, _status_code, _headers = get_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, opts)
      data
    end

    # Get CallTrackingCallType
    # Gets CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingCallTypeVBAResponse, Integer, Hash)>] CallTrackingCallTypeVBAResponse data, response status code and response headers
    def get_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.get_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.get_call_tracking_call_type"
      end
      # verify the required parameter 'call_type' is set
      if @api_client.config.client_side_validation && call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_type' when calling CallTypesApi.get_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types/{callType}'.sub('{' + 'callType' + '}', CGI.escape(call_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingCallTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.get_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#get_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CallTrackingCallType
    # Lists all CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CallTrackingCallTypeListVBAResponse]
    def list_call_tracking_call_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_call_tracking_call_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CallTrackingCallType
    # Lists all CallTrackingCallType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CallTrackingCallTypeListVBAResponse, Integer, Hash)>] CallTrackingCallTypeListVBAResponse data, response status code and response headers
    def list_call_tracking_call_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.list_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.list_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingCallTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.list_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#list_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CallTrackingCallType
    # Create or Update multiple CallTrackingCallType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_call_type [Array<CallTrackingCallType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_call_tracking_call_type(vbasoftware_database, call_tracking_call_type, opts = {})
      data, _status_code, _headers = update_batch_call_tracking_call_type_with_http_info(vbasoftware_database, call_tracking_call_type, opts)
      data
    end

    # Create or Update Batch CallTrackingCallType
    # Create or Update multiple CallTrackingCallType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_call_type [Array<CallTrackingCallType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_call_tracking_call_type_with_http_info(vbasoftware_database, call_tracking_call_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.update_batch_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.update_batch_call_tracking_call_type"
      end
      # verify the required parameter 'call_tracking_call_type' is set
      if @api_client.config.client_side_validation && call_tracking_call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_call_type' when calling CallTypesApi.update_batch_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_call_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.update_batch_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#update_batch_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CallTrackingCallType
    # Updates a specific CallTrackingCallType.
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param call_tracking_call_type [CallTrackingCallType] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingCallTypeVBAResponse]
    def update_call_tracking_call_type(vbasoftware_database, call_type, call_tracking_call_type, opts = {})
      data, _status_code, _headers = update_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, call_tracking_call_type, opts)
      data
    end

    # Update CallTrackingCallType
    # Updates a specific CallTrackingCallType.
    # @param vbasoftware_database [String] Target database
    # @param call_type [String] Call Type
    # @param call_tracking_call_type [CallTrackingCallType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingCallTypeVBAResponse, Integer, Hash)>] CallTrackingCallTypeVBAResponse data, response status code and response headers
    def update_call_tracking_call_type_with_http_info(vbasoftware_database, call_type, call_tracking_call_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTypesApi.update_call_tracking_call_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTypesApi.update_call_tracking_call_type"
      end
      # verify the required parameter 'call_type' is set
      if @api_client.config.client_side_validation && call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_type' when calling CallTypesApi.update_call_tracking_call_type"
      end
      # verify the required parameter 'call_tracking_call_type' is set
      if @api_client.config.client_side_validation && call_tracking_call_type.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_call_type' when calling CallTypesApi.update_call_tracking_call_type"
      end
      # resource path
      local_var_path = '/call-types/{callType}'.sub('{' + 'callType' + '}', CGI.escape(call_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_call_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingCallTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTypesApi.update_call_tracking_call_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTypesApi#update_call_tracking_call_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
