=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CallTrackingProcCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CallTrackingProcCodes
    # Creates a new CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes [CallTrackingProcCodes] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingProcCodesVBAResponse]
    def create_call_tracking_proc_codes(vbasoftware_database, call_tracking_proc_codes, opts = {})
      data, _status_code, _headers = create_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes, opts)
      data
    end

    # Create CallTrackingProcCodes
    # Creates a new CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes [CallTrackingProcCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingProcCodesVBAResponse, Integer, Hash)>] CallTrackingProcCodesVBAResponse data, response status code and response headers
    def create_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.create_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.create_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes' when calling CallTrackingProcCodesApi.create_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_proc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingProcCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.create_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#create_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CallTrackingProcCodes
    # Deletes an CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_call_tracking_proc_codes(vbasoftware_database, call_tracking_proc_codes_key, opts = {})
      delete_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, opts)
      nil
    end

    # Delete CallTrackingProcCodes
    # Deletes an CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.delete_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.delete_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes_key' when calling CallTrackingProcCodesApi.delete_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes/{CallTrackingProcCodes_Key}'.sub('{' + 'CallTrackingProcCodes_Key' + '}', CGI.escape(call_tracking_proc_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.delete_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#delete_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CallTrackingProcCodes
    # Gets CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingProcCodesVBAResponse]
    def get_call_tracking_proc_codes(vbasoftware_database, call_tracking_proc_codes_key, opts = {})
      data, _status_code, _headers = get_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, opts)
      data
    end

    # Get CallTrackingProcCodes
    # Gets CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingProcCodesVBAResponse, Integer, Hash)>] CallTrackingProcCodesVBAResponse data, response status code and response headers
    def get_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.get_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.get_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes_key' when calling CallTrackingProcCodesApi.get_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes/{CallTrackingProcCodes_Key}'.sub('{' + 'CallTrackingProcCodes_Key' + '}', CGI.escape(call_tracking_proc_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingProcCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.get_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#get_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CallTrackingProcCodes
    # Lists all CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CallTrackingProcCodesListVBAResponse]
    def list_call_tracking_proc_codes(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_call_tracking_proc_codes_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CallTrackingProcCodes
    # Lists all CallTrackingProcCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CallTrackingProcCodesListVBAResponse, Integer, Hash)>] CallTrackingProcCodesListVBAResponse data, response status code and response headers
    def list_call_tracking_proc_codes_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.list_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.list_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingProcCodesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.list_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#list_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CallTrackingProcCodes
    # Create or Update multiple CallTrackingProcCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes [Array<CallTrackingProcCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_call_tracking_proc_codes(vbasoftware_database, call_tracking_proc_codes, opts = {})
      data, _status_code, _headers = update_batch_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes, opts)
      data
    end

    # Create or Update Batch CallTrackingProcCodes
    # Create or Update multiple CallTrackingProcCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes [Array<CallTrackingProcCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.update_batch_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.update_batch_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes' when calling CallTrackingProcCodesApi.update_batch_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_proc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.update_batch_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#update_batch_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CallTrackingProcCodes
    # Updates a specific CallTrackingProcCodes.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param call_tracking_proc_codes [CallTrackingProcCodes] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingProcCodesVBAResponse]
    def update_call_tracking_proc_codes(vbasoftware_database, call_tracking_proc_codes_key, call_tracking_proc_codes, opts = {})
      data, _status_code, _headers = update_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, call_tracking_proc_codes, opts)
      data
    end

    # Update CallTrackingProcCodes
    # Updates a specific CallTrackingProcCodes.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_proc_codes_key [Integer] CallTrackingProcCodes Key
    # @param call_tracking_proc_codes [CallTrackingProcCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingProcCodesVBAResponse, Integer, Hash)>] CallTrackingProcCodesVBAResponse data, response status code and response headers
    def update_call_tracking_proc_codes_with_http_info(vbasoftware_database, call_tracking_proc_codes_key, call_tracking_proc_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingProcCodesApi.update_call_tracking_proc_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingProcCodesApi.update_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes_key' when calling CallTrackingProcCodesApi.update_call_tracking_proc_codes"
      end
      # verify the required parameter 'call_tracking_proc_codes' is set
      if @api_client.config.client_side_validation && call_tracking_proc_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_proc_codes' when calling CallTrackingProcCodesApi.update_call_tracking_proc_codes"
      end
      # resource path
      local_var_path = '/call-tracking-proc-codes/{CallTrackingProcCodes_Key}'.sub('{' + 'CallTrackingProcCodes_Key' + '}', CGI.escape(call_tracking_proc_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_proc_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingProcCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingProcCodesApi.update_call_tracking_proc_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingProcCodesApi#update_call_tracking_proc_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
