=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CallTrackingDiagCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CallTrackingDiagCodes
    # Creates a new CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes [CallTrackingDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingDiagCodesVBAResponse]
    def create_call_tracking_diag_codes(vbasoftware_database, call_tracking_diag_codes, opts = {})
      data, _status_code, _headers = create_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes, opts)
      data
    end

    # Create CallTrackingDiagCodes
    # Creates a new CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes [CallTrackingDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingDiagCodesVBAResponse, Integer, Hash)>] CallTrackingDiagCodesVBAResponse data, response status code and response headers
    def create_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.create_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.create_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes' when calling CallTrackingDiagCodesApi.create_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.create_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#create_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CallTrackingDiagCodes
    # Deletes an CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_call_tracking_diag_codes(vbasoftware_database, call_tracking_diag_codes_key, opts = {})
      delete_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, opts)
      nil
    end

    # Delete CallTrackingDiagCodes
    # Deletes an CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.delete_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.delete_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes_key' when calling CallTrackingDiagCodesApi.delete_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes/{CallTrackingDiagCodes_Key}'.sub('{' + 'CallTrackingDiagCodes_Key' + '}', CGI.escape(call_tracking_diag_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.delete_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#delete_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CallTrackingDiagCodes
    # Gets CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingDiagCodesVBAResponse]
    def get_call_tracking_diag_codes(vbasoftware_database, call_tracking_diag_codes_key, opts = {})
      data, _status_code, _headers = get_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, opts)
      data
    end

    # Get CallTrackingDiagCodes
    # Gets CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingDiagCodesVBAResponse, Integer, Hash)>] CallTrackingDiagCodesVBAResponse data, response status code and response headers
    def get_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.get_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.get_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes_key' when calling CallTrackingDiagCodesApi.get_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes/{CallTrackingDiagCodes_Key}'.sub('{' + 'CallTrackingDiagCodes_Key' + '}', CGI.escape(call_tracking_diag_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.get_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#get_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CallTrackingDiagCodes
    # Lists all CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CallTrackingDiagCodesListVBAResponse]
    def list_call_tracking_diag_codes(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_call_tracking_diag_codes_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CallTrackingDiagCodes
    # Lists all CallTrackingDiagCodes
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CallTrackingDiagCodesListVBAResponse, Integer, Hash)>] CallTrackingDiagCodesListVBAResponse data, response status code and response headers
    def list_call_tracking_diag_codes_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.list_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.list_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingDiagCodesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.list_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#list_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CallTrackingDiagCodes
    # Create or Update multiple CallTrackingDiagCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes [Array<CallTrackingDiagCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_call_tracking_diag_codes(vbasoftware_database, call_tracking_diag_codes, opts = {})
      data, _status_code, _headers = update_batch_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes, opts)
      data
    end

    # Create or Update Batch CallTrackingDiagCodes
    # Create or Update multiple CallTrackingDiagCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes [Array<CallTrackingDiagCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.update_batch_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.update_batch_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes' when calling CallTrackingDiagCodesApi.update_batch_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.update_batch_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#update_batch_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CallTrackingDiagCodes
    # Updates a specific CallTrackingDiagCodes.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param call_tracking_diag_codes [CallTrackingDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingDiagCodesVBAResponse]
    def update_call_tracking_diag_codes(vbasoftware_database, call_tracking_diag_codes_key, call_tracking_diag_codes, opts = {})
      data, _status_code, _headers = update_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, call_tracking_diag_codes, opts)
      data
    end

    # Update CallTrackingDiagCodes
    # Updates a specific CallTrackingDiagCodes.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking_diag_codes_key [Integer] CallTrackingDiagCodes Key
    # @param call_tracking_diag_codes [CallTrackingDiagCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingDiagCodesVBAResponse, Integer, Hash)>] CallTrackingDiagCodesVBAResponse data, response status code and response headers
    def update_call_tracking_diag_codes_with_http_info(vbasoftware_database, call_tracking_diag_codes_key, call_tracking_diag_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingDiagCodesApi.update_call_tracking_diag_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingDiagCodesApi.update_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes_key' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes_key' when calling CallTrackingDiagCodesApi.update_call_tracking_diag_codes"
      end
      # verify the required parameter 'call_tracking_diag_codes' is set
      if @api_client.config.client_side_validation && call_tracking_diag_codes.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking_diag_codes' when calling CallTrackingDiagCodesApi.update_call_tracking_diag_codes"
      end
      # resource path
      local_var_path = '/call-tracking-diag-codes/{CallTrackingDiagCodes_Key}'.sub('{' + 'CallTrackingDiagCodes_Key' + '}', CGI.escape(call_tracking_diag_codes_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking_diag_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingDiagCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingDiagCodesApi.update_call_tracking_diag_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingDiagCodesApi#update_call_tracking_diag_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
