=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CallTrackingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CallTracking
    # Creates a new CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_tracking [CallTracking] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingVBAResponse]
    def create_call_tracking(vbasoftware_database, call_tracking, opts = {})
      data, _status_code, _headers = create_call_tracking_with_http_info(vbasoftware_database, call_tracking, opts)
      data
    end

    # Create CallTracking
    # Creates a new CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_tracking [CallTracking] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingVBAResponse, Integer, Hash)>] CallTrackingVBAResponse data, response status code and response headers
    def create_call_tracking_with_http_info(vbasoftware_database, call_tracking, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.create_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.create_call_tracking"
      end
      # verify the required parameter 'call_tracking' is set
      if @api_client.config.client_side_validation && call_tracking.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking' when calling CallTrackingsApi.create_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.create_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#create_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CallTracking
    # Deletes an CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_call_tracking(vbasoftware_database, call_key, opts = {})
      delete_call_tracking_with_http_info(vbasoftware_database, call_key, opts)
      nil
    end

    # Delete CallTracking
    # Deletes an CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_call_tracking_with_http_info(vbasoftware_database, call_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.delete_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.delete_call_tracking"
      end
      # verify the required parameter 'call_key' is set
      if @api_client.config.client_side_validation && call_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_key' when calling CallTrackingsApi.delete_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings/{callKey}'.sub('{' + 'callKey' + '}', CGI.escape(call_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.delete_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#delete_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CallTracking
    # Gets CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingVBAResponse]
    def get_call_tracking(vbasoftware_database, call_key, opts = {})
      data, _status_code, _headers = get_call_tracking_with_http_info(vbasoftware_database, call_key, opts)
      data
    end

    # Get CallTracking
    # Gets CallTracking
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingVBAResponse, Integer, Hash)>] CallTrackingVBAResponse data, response status code and response headers
    def get_call_tracking_with_http_info(vbasoftware_database, call_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.get_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.get_call_tracking"
      end
      # verify the required parameter 'call_key' is set
      if @api_client.config.client_side_validation && call_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_key' when calling CallTrackingsApi.get_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings/{callKey}'.sub('{' + 'callKey' + '}', CGI.escape(call_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.get_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#get_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CallTracking
    # Lists all CallTracking
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CallTrackingListVBAResponse]
    def list_call_tracking(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_call_tracking_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CallTracking
    # Lists all CallTracking
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CallTrackingListVBAResponse, Integer, Hash)>] CallTrackingListVBAResponse data, response status code and response headers
    def list_call_tracking_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.list_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.list_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.list_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#list_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CallTracking
    # Create or Update multiple CallTracking at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking [Array<CallTracking>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_call_tracking(vbasoftware_database, call_tracking, opts = {})
      data, _status_code, _headers = update_batch_call_tracking_with_http_info(vbasoftware_database, call_tracking, opts)
      data
    end

    # Create or Update Batch CallTracking
    # Create or Update multiple CallTracking at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param call_tracking [Array<CallTracking>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_call_tracking_with_http_info(vbasoftware_database, call_tracking, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.update_batch_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.update_batch_call_tracking"
      end
      # verify the required parameter 'call_tracking' is set
      if @api_client.config.client_side_validation && call_tracking.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking' when calling CallTrackingsApi.update_batch_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.update_batch_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#update_batch_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CallTracking
    # Updates a specific CallTracking.
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param call_tracking [CallTracking] 
    # @param [Hash] opts the optional parameters
    # @return [CallTrackingVBAResponse]
    def update_call_tracking(vbasoftware_database, call_key, call_tracking, opts = {})
      data, _status_code, _headers = update_call_tracking_with_http_info(vbasoftware_database, call_key, call_tracking, opts)
      data
    end

    # Update CallTracking
    # Updates a specific CallTracking.
    # @param vbasoftware_database [String] Target database
    # @param call_key [Integer] Call Key
    # @param call_tracking [CallTracking] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallTrackingVBAResponse, Integer, Hash)>] CallTrackingVBAResponse data, response status code and response headers
    def update_call_tracking_with_http_info(vbasoftware_database, call_key, call_tracking, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTrackingsApi.update_call_tracking ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CallTrackingsApi.update_call_tracking"
      end
      # verify the required parameter 'call_key' is set
      if @api_client.config.client_side_validation && call_key.nil?
        fail ArgumentError, "Missing the required parameter 'call_key' when calling CallTrackingsApi.update_call_tracking"
      end
      # verify the required parameter 'call_tracking' is set
      if @api_client.config.client_side_validation && call_tracking.nil?
        fail ArgumentError, "Missing the required parameter 'call_tracking' when calling CallTrackingsApi.update_call_tracking"
      end
      # resource path
      local_var_path = '/call-trackings/{callKey}'.sub('{' + 'callKey' + '}', CGI.escape(call_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_tracking)

      # return_type
      return_type = opts[:debug_return_type] || 'CallTrackingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallTrackingsApi.update_call_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTrackingsApi#update_call_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
