=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CapitationCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CapitationCategory
    # Creates a new CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [CapitationCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationCategoryVBAResponse]
    def create_capitation_category(vbasoftware_database, capitation_category, opts = {})
      data, _status_code, _headers = create_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts)
      data
    end

    # Create CapitationCategory
    # Creates a new CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [CapitationCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationCategoryVBAResponse, Integer, Hash)>] CapitationCategoryVBAResponse data, response status code and response headers
    def create_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.create_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.create_capitation_category"
      end
      # verify the required parameter 'capitation_category' is set
      if @api_client.config.client_side_validation && capitation_category.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category' when calling CapitationCategoriesApi.create_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.create_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#create_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CapitationCategory
    # Deletes an CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_capitation_category(vbasoftware_database, capitation_category, opts = {})
      delete_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts)
      nil
    end

    # Delete CapitationCategory
    # Deletes an CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.delete_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.delete_capitation_category"
      end
      # verify the required parameter 'capitation_category' is set
      if @api_client.config.client_side_validation && capitation_category.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category' when calling CapitationCategoriesApi.delete_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories/{capitationCategory}'.sub('{' + 'capitationCategory' + '}', CGI.escape(capitation_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.delete_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#delete_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CapitationCategory
    # Gets CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param [Hash] opts the optional parameters
    # @return [CapitationCategoryVBAResponse]
    def get_capitation_category(vbasoftware_database, capitation_category, opts = {})
      data, _status_code, _headers = get_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts)
      data
    end

    # Get CapitationCategory
    # Gets CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationCategoryVBAResponse, Integer, Hash)>] CapitationCategoryVBAResponse data, response status code and response headers
    def get_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.get_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.get_capitation_category"
      end
      # verify the required parameter 'capitation_category' is set
      if @api_client.config.client_side_validation && capitation_category.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category' when calling CapitationCategoriesApi.get_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories/{capitationCategory}'.sub('{' + 'capitationCategory' + '}', CGI.escape(capitation_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.get_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#get_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CapitationCategory
    # Lists all CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CapitationCategoryListVBAResponse]
    def list_capitation_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_capitation_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CapitationCategory
    # Lists all CapitationCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CapitationCategoryListVBAResponse, Integer, Hash)>] CapitationCategoryListVBAResponse data, response status code and response headers
    def list_capitation_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.list_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.list_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.list_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#list_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CapitationCategory
    # Create or Update multiple CapitationCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [Array<CapitationCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_capitation_category(vbasoftware_database, capitation_category, opts = {})
      data, _status_code, _headers = update_batch_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts)
      data
    end

    # Create or Update Batch CapitationCategory
    # Create or Update multiple CapitationCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [Array<CapitationCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_capitation_category_with_http_info(vbasoftware_database, capitation_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.update_batch_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.update_batch_capitation_category"
      end
      # verify the required parameter 'capitation_category' is set
      if @api_client.config.client_side_validation && capitation_category.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category' when calling CapitationCategoriesApi.update_batch_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.update_batch_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#update_batch_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CapitationCategory
    # Updates a specific CapitationCategory.
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param capitation_category2 [CapitationCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationCategoryVBAResponse]
    def update_capitation_category(vbasoftware_database, capitation_category, capitation_category2, opts = {})
      data, _status_code, _headers = update_capitation_category_with_http_info(vbasoftware_database, capitation_category, capitation_category2, opts)
      data
    end

    # Update CapitationCategory
    # Updates a specific CapitationCategory.
    # @param vbasoftware_database [String] Target database
    # @param capitation_category [String] Capitation Category
    # @param capitation_category2 [CapitationCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationCategoryVBAResponse, Integer, Hash)>] CapitationCategoryVBAResponse data, response status code and response headers
    def update_capitation_category_with_http_info(vbasoftware_database, capitation_category, capitation_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationCategoriesApi.update_capitation_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationCategoriesApi.update_capitation_category"
      end
      # verify the required parameter 'capitation_category' is set
      if @api_client.config.client_side_validation && capitation_category.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category' when calling CapitationCategoriesApi.update_capitation_category"
      end
      # verify the required parameter 'capitation_category2' is set
      if @api_client.config.client_side_validation && capitation_category2.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_category2' when calling CapitationCategoriesApi.update_capitation_category"
      end
      # resource path
      local_var_path = '/capitation-categories/{capitationCategory}'.sub('{' + 'capitationCategory' + '}', CGI.escape(capitation_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationCategoriesApi.update_capitation_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationCategoriesApi#update_capitation_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
