=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CapitationTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CapitationType
    # Creates a new CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [CapitationType] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationTypeVBAResponse]
    def create_capitation_type(vbasoftware_database, capitation_type, opts = {})
      data, _status_code, _headers = create_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts)
      data
    end

    # Create CapitationType
    # Creates a new CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [CapitationType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationTypeVBAResponse, Integer, Hash)>] CapitationTypeVBAResponse data, response status code and response headers
    def create_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.create_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.create_capitation_type"
      end
      # verify the required parameter 'capitation_type' is set
      if @api_client.config.client_side_validation && capitation_type.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type' when calling CapitationTypesApi.create_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.create_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#create_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CapitationType
    # Deletes an CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_capitation_type(vbasoftware_database, capitation_type, opts = {})
      delete_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts)
      nil
    end

    # Delete CapitationType
    # Deletes an CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.delete_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.delete_capitation_type"
      end
      # verify the required parameter 'capitation_type' is set
      if @api_client.config.client_side_validation && capitation_type.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type' when calling CapitationTypesApi.delete_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types/{capitationType}'.sub('{' + 'capitationType' + '}', CGI.escape(capitation_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.delete_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#delete_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CapitationType
    # Gets CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param [Hash] opts the optional parameters
    # @return [CapitationTypeVBAResponse]
    def get_capitation_type(vbasoftware_database, capitation_type, opts = {})
      data, _status_code, _headers = get_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts)
      data
    end

    # Get CapitationType
    # Gets CapitationType
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationTypeVBAResponse, Integer, Hash)>] CapitationTypeVBAResponse data, response status code and response headers
    def get_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.get_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.get_capitation_type"
      end
      # verify the required parameter 'capitation_type' is set
      if @api_client.config.client_side_validation && capitation_type.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type' when calling CapitationTypesApi.get_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types/{capitationType}'.sub('{' + 'capitationType' + '}', CGI.escape(capitation_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.get_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#get_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CapitationType
    # Lists all CapitationType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CapitationTypeListVBAResponse]
    def list_capitation_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_capitation_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CapitationType
    # Lists all CapitationType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CapitationTypeListVBAResponse, Integer, Hash)>] CapitationTypeListVBAResponse data, response status code and response headers
    def list_capitation_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.list_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.list_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.list_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#list_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CapitationType
    # Create or Update multiple CapitationType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [Array<CapitationType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_capitation_type(vbasoftware_database, capitation_type, opts = {})
      data, _status_code, _headers = update_batch_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts)
      data
    end

    # Create or Update Batch CapitationType
    # Create or Update multiple CapitationType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [Array<CapitationType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_capitation_type_with_http_info(vbasoftware_database, capitation_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.update_batch_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.update_batch_capitation_type"
      end
      # verify the required parameter 'capitation_type' is set
      if @api_client.config.client_side_validation && capitation_type.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type' when calling CapitationTypesApi.update_batch_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.update_batch_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#update_batch_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CapitationType
    # Updates a specific CapitationType.
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param capitation_type2 [CapitationType] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationTypeVBAResponse]
    def update_capitation_type(vbasoftware_database, capitation_type, capitation_type2, opts = {})
      data, _status_code, _headers = update_capitation_type_with_http_info(vbasoftware_database, capitation_type, capitation_type2, opts)
      data
    end

    # Update CapitationType
    # Updates a specific CapitationType.
    # @param vbasoftware_database [String] Target database
    # @param capitation_type [String] Capitation Type
    # @param capitation_type2 [CapitationType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationTypeVBAResponse, Integer, Hash)>] CapitationTypeVBAResponse data, response status code and response headers
    def update_capitation_type_with_http_info(vbasoftware_database, capitation_type, capitation_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationTypesApi.update_capitation_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationTypesApi.update_capitation_type"
      end
      # verify the required parameter 'capitation_type' is set
      if @api_client.config.client_side_validation && capitation_type.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type' when calling CapitationTypesApi.update_capitation_type"
      end
      # verify the required parameter 'capitation_type2' is set
      if @api_client.config.client_side_validation && capitation_type2.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_type2' when calling CapitationTypesApi.update_capitation_type"
      end
      # resource path
      local_var_path = '/capitation-types/{capitationType}'.sub('{' + 'capitationType' + '}', CGI.escape(capitation_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationTypesApi.update_capitation_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationTypesApi#update_capitation_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
