=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CapitationAdjustmentReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CapitationAdjustmentReason
    # Creates a new CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [CapitationAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationAdjustmentReasonVBAResponse]
    def create_capitation_adjustment_reason(vbasoftware_database, capitation_adjustment_reason, opts = {})
      data, _status_code, _headers = create_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts)
      data
    end

    # Create CapitationAdjustmentReason
    # Creates a new CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [CapitationAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationAdjustmentReasonVBAResponse, Integer, Hash)>] CapitationAdjustmentReasonVBAResponse data, response status code and response headers
    def create_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.create_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.create_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason' when calling CapitationAdjustmentReasonsApi.create_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_adjustment_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.create_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#create_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CapitationAdjustmentReason
    # Deletes an CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_capitation_adjustment_reason(vbasoftware_database, capitation_adjustment_reason, opts = {})
      delete_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts)
      nil
    end

    # Delete CapitationAdjustmentReason
    # Deletes an CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.delete_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.delete_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason' when calling CapitationAdjustmentReasonsApi.delete_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons/{capitationAdjustmentReason}'.sub('{' + 'capitationAdjustmentReason' + '}', CGI.escape(capitation_adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.delete_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#delete_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CapitationAdjustmentReason
    # Gets CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [CapitationAdjustmentReasonVBAResponse]
    def get_capitation_adjustment_reason(vbasoftware_database, capitation_adjustment_reason, opts = {})
      data, _status_code, _headers = get_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts)
      data
    end

    # Get CapitationAdjustmentReason
    # Gets CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationAdjustmentReasonVBAResponse, Integer, Hash)>] CapitationAdjustmentReasonVBAResponse data, response status code and response headers
    def get_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.get_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.get_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason' when calling CapitationAdjustmentReasonsApi.get_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons/{capitationAdjustmentReason}'.sub('{' + 'capitationAdjustmentReason' + '}', CGI.escape(capitation_adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.get_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#get_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CapitationAdjustmentReason
    # Lists all CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CapitationAdjustmentReasonListVBAResponse]
    def list_capitation_adjustment_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_capitation_adjustment_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CapitationAdjustmentReason
    # Lists all CapitationAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CapitationAdjustmentReasonListVBAResponse, Integer, Hash)>] CapitationAdjustmentReasonListVBAResponse data, response status code and response headers
    def list_capitation_adjustment_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.list_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.list_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationAdjustmentReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.list_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#list_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CapitationAdjustmentReason
    # Create or Update multiple CapitationAdjustmentReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [Array<CapitationAdjustmentReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_capitation_adjustment_reason(vbasoftware_database, capitation_adjustment_reason, opts = {})
      data, _status_code, _headers = update_batch_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts)
      data
    end

    # Create or Update Batch CapitationAdjustmentReason
    # Create or Update multiple CapitationAdjustmentReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [Array<CapitationAdjustmentReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.update_batch_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.update_batch_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason' when calling CapitationAdjustmentReasonsApi.update_batch_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_adjustment_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.update_batch_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#update_batch_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CapitationAdjustmentReason
    # Updates a specific CapitationAdjustmentReason.
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param capitation_adjustment_reason2 [CapitationAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationAdjustmentReasonVBAResponse]
    def update_capitation_adjustment_reason(vbasoftware_database, capitation_adjustment_reason, capitation_adjustment_reason2, opts = {})
      data, _status_code, _headers = update_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, capitation_adjustment_reason2, opts)
      data
    end

    # Update CapitationAdjustmentReason
    # Updates a specific CapitationAdjustmentReason.
    # @param vbasoftware_database [String] Target database
    # @param capitation_adjustment_reason [String] Capitation Adjustment Reason
    # @param capitation_adjustment_reason2 [CapitationAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationAdjustmentReasonVBAResponse, Integer, Hash)>] CapitationAdjustmentReasonVBAResponse data, response status code and response headers
    def update_capitation_adjustment_reason_with_http_info(vbasoftware_database, capitation_adjustment_reason, capitation_adjustment_reason2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationAdjustmentReasonsApi.update_capitation_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationAdjustmentReasonsApi.update_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason' when calling CapitationAdjustmentReasonsApi.update_capitation_adjustment_reason"
      end
      # verify the required parameter 'capitation_adjustment_reason2' is set
      if @api_client.config.client_side_validation && capitation_adjustment_reason2.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_adjustment_reason2' when calling CapitationAdjustmentReasonsApi.update_capitation_adjustment_reason"
      end
      # resource path
      local_var_path = '/capitation-adjustment-reasons/{capitationAdjustmentReason}'.sub('{' + 'capitationAdjustmentReason' + '}', CGI.escape(capitation_adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_adjustment_reason2)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationAdjustmentReasonsApi.update_capitation_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationAdjustmentReasonsApi#update_capitation_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
