=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CapitationServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CapitationService
    # Creates a new CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service [CapitationService] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationServiceVBAResponse]
    def create_capitation_service(vbasoftware_database, capitation_service, opts = {})
      data, _status_code, _headers = create_capitation_service_with_http_info(vbasoftware_database, capitation_service, opts)
      data
    end

    # Create CapitationService
    # Creates a new CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service [CapitationService] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationServiceVBAResponse, Integer, Hash)>] CapitationServiceVBAResponse data, response status code and response headers
    def create_capitation_service_with_http_info(vbasoftware_database, capitation_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.create_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.create_capitation_service"
      end
      # verify the required parameter 'capitation_service' is set
      if @api_client.config.client_side_validation && capitation_service.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service' when calling CapitationServicesApi.create_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_service)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.create_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#create_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CapitationService
    # Deletes an CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_capitation_service(vbasoftware_database, capitation_service_key, opts = {})
      delete_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, opts)
      nil
    end

    # Delete CapitationService
    # Deletes an CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.delete_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.delete_capitation_service"
      end
      # verify the required parameter 'capitation_service_key' is set
      if @api_client.config.client_side_validation && capitation_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service_key' when calling CapitationServicesApi.delete_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services/{capitationServiceKey}'.sub('{' + 'capitationServiceKey' + '}', CGI.escape(capitation_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.delete_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#delete_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CapitationService
    # Gets CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param [Hash] opts the optional parameters
    # @return [CapitationServiceVBAResponse]
    def get_capitation_service(vbasoftware_database, capitation_service_key, opts = {})
      data, _status_code, _headers = get_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, opts)
      data
    end

    # Get CapitationService
    # Gets CapitationService
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationServiceVBAResponse, Integer, Hash)>] CapitationServiceVBAResponse data, response status code and response headers
    def get_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.get_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.get_capitation_service"
      end
      # verify the required parameter 'capitation_service_key' is set
      if @api_client.config.client_side_validation && capitation_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service_key' when calling CapitationServicesApi.get_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services/{capitationServiceKey}'.sub('{' + 'capitationServiceKey' + '}', CGI.escape(capitation_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.get_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#get_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CapitationService
    # Lists all CapitationService
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CapitationServiceListVBAResponse]
    def list_capitation_service(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_capitation_service_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CapitationService
    # Lists all CapitationService
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CapitationServiceListVBAResponse, Integer, Hash)>] CapitationServiceListVBAResponse data, response status code and response headers
    def list_capitation_service_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.list_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.list_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationServiceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.list_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#list_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CapitationService
    # Create or Update multiple CapitationService at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_service [Array<CapitationService>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_capitation_service(vbasoftware_database, capitation_service, opts = {})
      data, _status_code, _headers = update_batch_capitation_service_with_http_info(vbasoftware_database, capitation_service, opts)
      data
    end

    # Create or Update Batch CapitationService
    # Create or Update multiple CapitationService at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param capitation_service [Array<CapitationService>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_capitation_service_with_http_info(vbasoftware_database, capitation_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.update_batch_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.update_batch_capitation_service"
      end
      # verify the required parameter 'capitation_service' is set
      if @api_client.config.client_side_validation && capitation_service.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service' when calling CapitationServicesApi.update_batch_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_service)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.update_batch_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#update_batch_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CapitationService
    # Updates a specific CapitationService.
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param capitation_service [CapitationService] 
    # @param [Hash] opts the optional parameters
    # @return [CapitationServiceVBAResponse]
    def update_capitation_service(vbasoftware_database, capitation_service_key, capitation_service, opts = {})
      data, _status_code, _headers = update_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, capitation_service, opts)
      data
    end

    # Update CapitationService
    # Updates a specific CapitationService.
    # @param vbasoftware_database [String] Target database
    # @param capitation_service_key [Integer] CapitationService Key
    # @param capitation_service [CapitationService] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapitationServiceVBAResponse, Integer, Hash)>] CapitationServiceVBAResponse data, response status code and response headers
    def update_capitation_service_with_http_info(vbasoftware_database, capitation_service_key, capitation_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapitationServicesApi.update_capitation_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CapitationServicesApi.update_capitation_service"
      end
      # verify the required parameter 'capitation_service_key' is set
      if @api_client.config.client_side_validation && capitation_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service_key' when calling CapitationServicesApi.update_capitation_service"
      end
      # verify the required parameter 'capitation_service' is set
      if @api_client.config.client_side_validation && capitation_service.nil?
        fail ArgumentError, "Missing the required parameter 'capitation_service' when calling CapitationServicesApi.update_capitation_service"
      end
      # resource path
      local_var_path = '/capitation-services/{capitationServiceKey}'.sub('{' + 'capitationServiceKey' + '}', CGI.escape(capitation_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(capitation_service)

      # return_type
      return_type = opts[:debug_return_type] || 'CapitationServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CapitationServicesApi.update_capitation_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapitationServicesApi#update_capitation_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
