=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseIntakesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseIntake
    # Creates a new CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake [CareCaseIntake] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeVBAResponse]
    def create_care_case_intake(vbasoftware_database, case_key, care_case_intake, opts = {})
      data, _status_code, _headers = create_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake, opts)
      data
    end

    # Create CareCaseIntake
    # Creates a new CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake [CareCaseIntake] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeVBAResponse, Integer, Hash)>] CareCaseIntakeVBAResponse data, response status code and response headers
    def create_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.create_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.create_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.create_care_case_intake"
      end
      # verify the required parameter 'care_case_intake' is set
      if @api_client.config.client_side_validation && care_case_intake.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake' when calling CareCaseIntakesApi.create_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.create_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#create_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseIntake
    # Deletes an CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_intake(vbasoftware_database, case_key, care_case_intake_key, opts = {})
      delete_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, opts)
      nil
    end

    # Delete CareCaseIntake
    # Deletes an CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.delete_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.delete_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.delete_care_case_intake"
      end
      # verify the required parameter 'care_case_intake_key' is set
      if @api_client.config.client_side_validation && care_case_intake_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_key' when calling CareCaseIntakesApi.delete_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes/{careCaseIntakeKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseIntakeKey' + '}', CGI.escape(care_case_intake_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.delete_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#delete_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseIntake
    # Gets CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeVBAResponse]
    def get_care_case_intake(vbasoftware_database, case_key, care_case_intake_key, opts = {})
      data, _status_code, _headers = get_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, opts)
      data
    end

    # Get CareCaseIntake
    # Gets CareCaseIntake
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeVBAResponse, Integer, Hash)>] CareCaseIntakeVBAResponse data, response status code and response headers
    def get_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.get_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.get_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.get_care_case_intake"
      end
      # verify the required parameter 'care_case_intake_key' is set
      if @api_client.config.client_side_validation && care_case_intake_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_key' when calling CareCaseIntakesApi.get_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes/{careCaseIntakeKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseIntakeKey' + '}', CGI.escape(care_case_intake_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.get_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#get_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseIntake
    # Lists all CareCaseIntake for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseIntakeListVBAResponse]
    def list_care_case_intake(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_intake_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseIntake
    # Lists all CareCaseIntake for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseIntakeListVBAResponse, Integer, Hash)>] CareCaseIntakeListVBAResponse data, response status code and response headers
    def list_care_case_intake_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.list_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.list_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.list_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.list_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#list_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseIntake
    # Create or Update multiple CareCaseIntake at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake [Array<CareCaseIntake>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_intake(vbasoftware_database, case_key, care_case_intake, opts = {})
      data, _status_code, _headers = update_batch_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake, opts)
      data
    end

    # Create or Update Batch CareCaseIntake
    # Create or Update multiple CareCaseIntake at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake [Array<CareCaseIntake>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.update_batch_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.update_batch_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.update_batch_care_case_intake"
      end
      # verify the required parameter 'care_case_intake' is set
      if @api_client.config.client_side_validation && care_case_intake.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake' when calling CareCaseIntakesApi.update_batch_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.update_batch_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#update_batch_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseIntake
    # Updates a specific CareCaseIntake.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param care_case_intake [CareCaseIntake] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeVBAResponse]
    def update_care_case_intake(vbasoftware_database, case_key, care_case_intake_key, care_case_intake, opts = {})
      data, _status_code, _headers = update_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, care_case_intake, opts)
      data
    end

    # Update CareCaseIntake
    # Updates a specific CareCaseIntake.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_intake_key [Integer] CareCaseIntake Key
    # @param care_case_intake [CareCaseIntake] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeVBAResponse, Integer, Hash)>] CareCaseIntakeVBAResponse data, response status code and response headers
    def update_care_case_intake_with_http_info(vbasoftware_database, case_key, care_case_intake_key, care_case_intake, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakesApi.update_care_case_intake ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakesApi.update_care_case_intake"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseIntakesApi.update_care_case_intake"
      end
      # verify the required parameter 'care_case_intake_key' is set
      if @api_client.config.client_side_validation && care_case_intake_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_key' when calling CareCaseIntakesApi.update_care_case_intake"
      end
      # verify the required parameter 'care_case_intake' is set
      if @api_client.config.client_side_validation && care_case_intake.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake' when calling CareCaseIntakesApi.update_care_case_intake"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/intakes/{careCaseIntakeKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseIntakeKey' + '}', CGI.escape(care_case_intake_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakesApi.update_care_case_intake",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakesApi#update_care_case_intake\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
