=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseConcordancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseConcordance
    # Creates a new CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance [CareCaseConcordance] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseConcordanceVBAResponse]
    def create_care_case_concordance(vbasoftware_database, care_case_concordance, opts = {})
      data, _status_code, _headers = create_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance, opts)
      data
    end

    # Create CareCaseConcordance
    # Creates a new CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance [CareCaseConcordance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseConcordanceVBAResponse, Integer, Hash)>] CareCaseConcordanceVBAResponse data, response status code and response headers
    def create_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.create_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.create_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance' is set
      if @api_client.config.client_side_validation && care_case_concordance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance' when calling CareCaseConcordancesApi.create_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_concordance)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseConcordanceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.create_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#create_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseConcordance
    # Deletes an CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_concordance(vbasoftware_database, care_case_concordance_key, opts = {})
      delete_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, opts)
      nil
    end

    # Delete CareCaseConcordance
    # Deletes an CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.delete_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.delete_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance_key' is set
      if @api_client.config.client_side_validation && care_case_concordance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance_key' when calling CareCaseConcordancesApi.delete_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances/{careCaseConcordanceKey}'.sub('{' + 'careCaseConcordanceKey' + '}', CGI.escape(care_case_concordance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.delete_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#delete_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseConcordance
    # Gets CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseConcordanceVBAResponse]
    def get_care_case_concordance(vbasoftware_database, care_case_concordance_key, opts = {})
      data, _status_code, _headers = get_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, opts)
      data
    end

    # Get CareCaseConcordance
    # Gets CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseConcordanceVBAResponse, Integer, Hash)>] CareCaseConcordanceVBAResponse data, response status code and response headers
    def get_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.get_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.get_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance_key' is set
      if @api_client.config.client_side_validation && care_case_concordance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance_key' when calling CareCaseConcordancesApi.get_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances/{careCaseConcordanceKey}'.sub('{' + 'careCaseConcordanceKey' + '}', CGI.escape(care_case_concordance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseConcordanceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.get_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#get_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseConcordance
    # Lists all CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseConcordanceListVBAResponse]
    def list_care_case_concordance(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_concordance_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseConcordance
    # Lists all CareCaseConcordance
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseConcordanceListVBAResponse, Integer, Hash)>] CareCaseConcordanceListVBAResponse data, response status code and response headers
    def list_care_case_concordance_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.list_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.list_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseConcordanceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.list_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#list_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseConcordance
    # Create or Update multiple CareCaseConcordance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance [Array<CareCaseConcordance>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_concordance(vbasoftware_database, care_case_concordance, opts = {})
      data, _status_code, _headers = update_batch_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance, opts)
      data
    end

    # Create or Update Batch CareCaseConcordance
    # Create or Update multiple CareCaseConcordance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance [Array<CareCaseConcordance>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.update_batch_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.update_batch_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance' is set
      if @api_client.config.client_side_validation && care_case_concordance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance' when calling CareCaseConcordancesApi.update_batch_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_concordance)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.update_batch_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#update_batch_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseConcordance
    # Updates a specific CareCaseConcordance.
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param care_case_concordance [CareCaseConcordance] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseConcordanceVBAResponse]
    def update_care_case_concordance(vbasoftware_database, care_case_concordance_key, care_case_concordance, opts = {})
      data, _status_code, _headers = update_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, care_case_concordance, opts)
      data
    end

    # Update CareCaseConcordance
    # Updates a specific CareCaseConcordance.
    # @param vbasoftware_database [String] Target database
    # @param care_case_concordance_key [Integer] CareCaseConcordance Key
    # @param care_case_concordance [CareCaseConcordance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseConcordanceVBAResponse, Integer, Hash)>] CareCaseConcordanceVBAResponse data, response status code and response headers
    def update_care_case_concordance_with_http_info(vbasoftware_database, care_case_concordance_key, care_case_concordance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseConcordancesApi.update_care_case_concordance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseConcordancesApi.update_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance_key' is set
      if @api_client.config.client_side_validation && care_case_concordance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance_key' when calling CareCaseConcordancesApi.update_care_case_concordance"
      end
      # verify the required parameter 'care_case_concordance' is set
      if @api_client.config.client_side_validation && care_case_concordance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_concordance' when calling CareCaseConcordancesApi.update_care_case_concordance"
      end
      # resource path
      local_var_path = '/concordances/{careCaseConcordanceKey}'.sub('{' + 'careCaseConcordanceKey' + '}', CGI.escape(care_case_concordance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_concordance)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseConcordanceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseConcordancesApi.update_care_case_concordance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseConcordancesApi#update_care_case_concordance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
