=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseCompliancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseCompliance
    # Creates a new CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance [CareCaseCompliance] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseComplianceVBAResponse]
    def create_care_case_compliance(vbasoftware_database, case_key, care_case_compliance, opts = {})
      data, _status_code, _headers = create_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance, opts)
      data
    end

    # Create CareCaseCompliance
    # Creates a new CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance [CareCaseCompliance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseComplianceVBAResponse, Integer, Hash)>] CareCaseComplianceVBAResponse data, response status code and response headers
    def create_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.create_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.create_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.create_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance' is set
      if @api_client.config.client_side_validation && care_case_compliance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance' when calling CareCaseCompliancesApi.create_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_compliance)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseComplianceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.create_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#create_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseCompliance
    # Deletes an CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_compliance(vbasoftware_database, case_key, care_case_compliance_key, opts = {})
      delete_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, opts)
      nil
    end

    # Delete CareCaseCompliance
    # Deletes an CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.delete_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.delete_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.delete_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance_key' is set
      if @api_client.config.client_side_validation && care_case_compliance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance_key' when calling CareCaseCompliancesApi.delete_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances/{careCaseComplianceKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseComplianceKey' + '}', CGI.escape(care_case_compliance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.delete_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#delete_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseCompliance
    # Gets CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseComplianceVBAResponse]
    def get_care_case_compliance(vbasoftware_database, case_key, care_case_compliance_key, opts = {})
      data, _status_code, _headers = get_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, opts)
      data
    end

    # Get CareCaseCompliance
    # Gets CareCaseCompliance
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseComplianceVBAResponse, Integer, Hash)>] CareCaseComplianceVBAResponse data, response status code and response headers
    def get_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.get_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.get_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.get_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance_key' is set
      if @api_client.config.client_side_validation && care_case_compliance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance_key' when calling CareCaseCompliancesApi.get_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances/{careCaseComplianceKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseComplianceKey' + '}', CGI.escape(care_case_compliance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseComplianceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.get_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#get_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseCompliance
    # Lists all CareCaseCompliance for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseComplianceListVBAResponse]
    def list_care_case_compliance(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_compliance_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseCompliance
    # Lists all CareCaseCompliance for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseComplianceListVBAResponse, Integer, Hash)>] CareCaseComplianceListVBAResponse data, response status code and response headers
    def list_care_case_compliance_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.list_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.list_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.list_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseComplianceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.list_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#list_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseCompliance
    # Create or Update multiple CareCaseCompliance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance [Array<CareCaseCompliance>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_compliance(vbasoftware_database, case_key, care_case_compliance, opts = {})
      data, _status_code, _headers = update_batch_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance, opts)
      data
    end

    # Create or Update Batch CareCaseCompliance
    # Create or Update multiple CareCaseCompliance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance [Array<CareCaseCompliance>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.update_batch_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.update_batch_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.update_batch_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance' is set
      if @api_client.config.client_side_validation && care_case_compliance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance' when calling CareCaseCompliancesApi.update_batch_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_compliance)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.update_batch_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#update_batch_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseCompliance
    # Updates a specific CareCaseCompliance.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param care_case_compliance [CareCaseCompliance] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseComplianceVBAResponse]
    def update_care_case_compliance(vbasoftware_database, case_key, care_case_compliance_key, care_case_compliance, opts = {})
      data, _status_code, _headers = update_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, care_case_compliance, opts)
      data
    end

    # Update CareCaseCompliance
    # Updates a specific CareCaseCompliance.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_compliance_key [Integer] CareCaseCompliance Key
    # @param care_case_compliance [CareCaseCompliance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseComplianceVBAResponse, Integer, Hash)>] CareCaseComplianceVBAResponse data, response status code and response headers
    def update_care_case_compliance_with_http_info(vbasoftware_database, case_key, care_case_compliance_key, care_case_compliance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseCompliancesApi.update_care_case_compliance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseCompliancesApi.update_care_case_compliance"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseCompliancesApi.update_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance_key' is set
      if @api_client.config.client_side_validation && care_case_compliance_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance_key' when calling CareCaseCompliancesApi.update_care_case_compliance"
      end
      # verify the required parameter 'care_case_compliance' is set
      if @api_client.config.client_side_validation && care_case_compliance.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_compliance' when calling CareCaseCompliancesApi.update_care_case_compliance"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/compliances/{careCaseComplianceKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseComplianceKey' + '}', CGI.escape(care_case_compliance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_compliance)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseComplianceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseCompliancesApi.update_care_case_compliance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseCompliancesApi#update_care_case_compliance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
