=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseLogEntryTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseLogEntryType
    # Creates a new CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type [CareCaseLogEntryType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseLogEntryTypeVBAResponse]
    def create_care_case_log_entry_type(vbasoftware_database, care_case_log_entry_type, opts = {})
      data, _status_code, _headers = create_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type, opts)
      data
    end

    # Create CareCaseLogEntryType
    # Creates a new CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type [CareCaseLogEntryType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseLogEntryTypeVBAResponse, Integer, Hash)>] CareCaseLogEntryTypeVBAResponse data, response status code and response headers
    def create_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.create_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.create_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type' when calling CareCaseLogEntryTypesApi.create_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_log_entry_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseLogEntryTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.create_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#create_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseLogEntryType
    # Deletes an CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_log_entry_type(vbasoftware_database, care_case_log_entry_type_key, opts = {})
      delete_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, opts)
      nil
    end

    # Delete CareCaseLogEntryType
    # Deletes an CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.delete_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.delete_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type_key' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type_key' when calling CareCaseLogEntryTypesApi.delete_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types/{careCaseLogEntryTypeKey}'.sub('{' + 'careCaseLogEntryTypeKey' + '}', CGI.escape(care_case_log_entry_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.delete_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#delete_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseLogEntryType
    # Gets CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseLogEntryTypeVBAResponse]
    def get_care_case_log_entry_type(vbasoftware_database, care_case_log_entry_type_key, opts = {})
      data, _status_code, _headers = get_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, opts)
      data
    end

    # Get CareCaseLogEntryType
    # Gets CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseLogEntryTypeVBAResponse, Integer, Hash)>] CareCaseLogEntryTypeVBAResponse data, response status code and response headers
    def get_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.get_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.get_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type_key' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type_key' when calling CareCaseLogEntryTypesApi.get_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types/{careCaseLogEntryTypeKey}'.sub('{' + 'careCaseLogEntryTypeKey' + '}', CGI.escape(care_case_log_entry_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseLogEntryTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.get_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#get_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseLogEntryType
    # Lists all CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseLogEntryTypeListVBAResponse]
    def list_care_case_log_entry_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_log_entry_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseLogEntryType
    # Lists all CareCaseLogEntryType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseLogEntryTypeListVBAResponse, Integer, Hash)>] CareCaseLogEntryTypeListVBAResponse data, response status code and response headers
    def list_care_case_log_entry_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.list_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.list_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseLogEntryTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.list_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#list_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseLogEntryType
    # Create or Update multiple CareCaseLogEntryType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type [Array<CareCaseLogEntryType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_log_entry_type(vbasoftware_database, care_case_log_entry_type, opts = {})
      data, _status_code, _headers = update_batch_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type, opts)
      data
    end

    # Create or Update Batch CareCaseLogEntryType
    # Create or Update multiple CareCaseLogEntryType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type [Array<CareCaseLogEntryType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.update_batch_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.update_batch_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type' when calling CareCaseLogEntryTypesApi.update_batch_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_log_entry_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.update_batch_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#update_batch_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseLogEntryType
    # Updates a specific CareCaseLogEntryType.
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param care_case_log_entry_type [CareCaseLogEntryType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseLogEntryTypeVBAResponse]
    def update_care_case_log_entry_type(vbasoftware_database, care_case_log_entry_type_key, care_case_log_entry_type, opts = {})
      data, _status_code, _headers = update_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, care_case_log_entry_type, opts)
      data
    end

    # Update CareCaseLogEntryType
    # Updates a specific CareCaseLogEntryType.
    # @param vbasoftware_database [String] Target database
    # @param care_case_log_entry_type_key [Integer] CareCaseLogEntryType Key
    # @param care_case_log_entry_type [CareCaseLogEntryType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseLogEntryTypeVBAResponse, Integer, Hash)>] CareCaseLogEntryTypeVBAResponse data, response status code and response headers
    def update_care_case_log_entry_type_with_http_info(vbasoftware_database, care_case_log_entry_type_key, care_case_log_entry_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseLogEntryTypesApi.update_care_case_log_entry_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseLogEntryTypesApi.update_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type_key' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type_key' when calling CareCaseLogEntryTypesApi.update_care_case_log_entry_type"
      end
      # verify the required parameter 'care_case_log_entry_type' is set
      if @api_client.config.client_side_validation && care_case_log_entry_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_log_entry_type' when calling CareCaseLogEntryTypesApi.update_care_case_log_entry_type"
      end
      # resource path
      local_var_path = '/care-case-log-entry-types/{careCaseLogEntryTypeKey}'.sub('{' + 'careCaseLogEntryTypeKey' + '}', CGI.escape(care_case_log_entry_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_log_entry_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseLogEntryTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseLogEntryTypesApi.update_care_case_log_entry_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseLogEntryTypesApi#update_care_case_log_entry_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
