=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseClinicalFactCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseClinicalFactCategory
    # Creates a new CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [CareCaseClinicalFactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactCategoryVBAResponse]
    def create_care_case_clinical_fact_category(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      data, _status_code, _headers = create_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts)
      data
    end

    # Create CareCaseClinicalFactCategory
    # Creates a new CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [CareCaseClinicalFactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactCategoryVBAResponse, Integer, Hash)>] CareCaseClinicalFactCategoryVBAResponse data, response status code and response headers
    def create_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.create_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.create_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category' when calling CareCaseClinicalFactCategoriesApi.create_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.create_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#create_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseClinicalFactCategory
    # Deletes an CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_clinical_fact_category(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      delete_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts)
      nil
    end

    # Delete CareCaseClinicalFactCategory
    # Deletes an CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.delete_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.delete_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category' when calling CareCaseClinicalFactCategoriesApi.delete_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories/{careCaseClinicalFactCategory}'.sub('{' + 'careCaseClinicalFactCategory' + '}', CGI.escape(care_case_clinical_fact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.delete_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#delete_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseClinicalFactCategory
    # Gets CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactCategoryVBAResponse]
    def get_care_case_clinical_fact_category(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      data, _status_code, _headers = get_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts)
      data
    end

    # Get CareCaseClinicalFactCategory
    # Gets CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactCategoryVBAResponse, Integer, Hash)>] CareCaseClinicalFactCategoryVBAResponse data, response status code and response headers
    def get_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.get_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.get_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category' when calling CareCaseClinicalFactCategoriesApi.get_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories/{careCaseClinicalFactCategory}'.sub('{' + 'careCaseClinicalFactCategory' + '}', CGI.escape(care_case_clinical_fact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.get_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#get_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseClinicalFactCategory
    # Lists all CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseClinicalFactCategoryListVBAResponse]
    def list_care_case_clinical_fact_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_clinical_fact_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseClinicalFactCategory
    # Lists all CareCaseClinicalFactCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseClinicalFactCategoryListVBAResponse, Integer, Hash)>] CareCaseClinicalFactCategoryListVBAResponse data, response status code and response headers
    def list_care_case_clinical_fact_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.list_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.list_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.list_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#list_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseClinicalFactCategory
    # Create or Update multiple CareCaseClinicalFactCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [Array<CareCaseClinicalFactCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_clinical_fact_category(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      data, _status_code, _headers = update_batch_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts)
      data
    end

    # Create or Update Batch CareCaseClinicalFactCategory
    # Create or Update multiple CareCaseClinicalFactCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [Array<CareCaseClinicalFactCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.update_batch_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.update_batch_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category' when calling CareCaseClinicalFactCategoriesApi.update_batch_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.update_batch_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#update_batch_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseClinicalFactCategory
    # Updates a specific CareCaseClinicalFactCategory.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param care_case_clinical_fact_category2 [CareCaseClinicalFactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactCategoryVBAResponse]
    def update_care_case_clinical_fact_category(vbasoftware_database, care_case_clinical_fact_category, care_case_clinical_fact_category2, opts = {})
      data, _status_code, _headers = update_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, care_case_clinical_fact_category2, opts)
      data
    end

    # Update CareCaseClinicalFactCategory
    # Updates a specific CareCaseClinicalFactCategory.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_category [String] CareCaseClinicalFactCategory1
    # @param care_case_clinical_fact_category2 [CareCaseClinicalFactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactCategoryVBAResponse, Integer, Hash)>] CareCaseClinicalFactCategoryVBAResponse data, response status code and response headers
    def update_care_case_clinical_fact_category_with_http_info(vbasoftware_database, care_case_clinical_fact_category, care_case_clinical_fact_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactCategoriesApi.update_care_case_clinical_fact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactCategoriesApi.update_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category' when calling CareCaseClinicalFactCategoriesApi.update_care_case_clinical_fact_category"
      end
      # verify the required parameter 'care_case_clinical_fact_category2' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_category2.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_category2' when calling CareCaseClinicalFactCategoriesApi.update_care_case_clinical_fact_category"
      end
      # resource path
      local_var_path = '/care-case-clinical-fact-categories/{careCaseClinicalFactCategory}'.sub('{' + 'careCaseClinicalFactCategory' + '}', CGI.escape(care_case_clinical_fact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactCategoriesApi.update_care_case_clinical_fact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactCategoriesApi#update_care_case_clinical_fact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
