=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CarePlanRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CarePlanRule
    # Creates a new CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule [CarePlanRule] 
    # @param [Hash] opts the optional parameters
    # @return [CarePlanRuleVBAResponse]
    def create_care_plan_rule(vbasoftware_database, care_plan_key, care_plan_rule, opts = {})
      data, _status_code, _headers = create_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule, opts)
      data
    end

    # Create CarePlanRule
    # Creates a new CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule [CarePlanRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanRuleVBAResponse, Integer, Hash)>] CarePlanRuleVBAResponse data, response status code and response headers
    def create_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.create_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.create_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.create_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule' is set
      if @api_client.config.client_side_validation && care_plan_rule.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule' when calling CarePlanRulesApi.create_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.create_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#create_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CarePlanRule
    # Deletes an CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_plan_rule(vbasoftware_database, care_plan_key, care_plan_rule_key, opts = {})
      delete_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, opts)
      nil
    end

    # Delete CarePlanRule
    # Deletes an CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.delete_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.delete_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.delete_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule_key' is set
      if @api_client.config.client_side_validation && care_plan_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule_key' when calling CarePlanRulesApi.delete_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules/{carePlanRuleKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanRuleKey' + '}', CGI.escape(care_plan_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.delete_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#delete_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CarePlanRule
    # Gets CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param [Hash] opts the optional parameters
    # @return [CarePlanRuleVBAResponse]
    def get_care_plan_rule(vbasoftware_database, care_plan_key, care_plan_rule_key, opts = {})
      data, _status_code, _headers = get_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, opts)
      data
    end

    # Get CarePlanRule
    # Gets CarePlanRule
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanRuleVBAResponse, Integer, Hash)>] CarePlanRuleVBAResponse data, response status code and response headers
    def get_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.get_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.get_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.get_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule_key' is set
      if @api_client.config.client_side_validation && care_plan_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule_key' when calling CarePlanRulesApi.get_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules/{carePlanRuleKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanRuleKey' + '}', CGI.escape(care_plan_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.get_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#get_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CarePlanRule
    # Lists all CarePlanRule for the given carePlanKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CarePlanRuleListVBAResponse]
    def list_care_plan_rule(vbasoftware_database, care_plan_key, opts = {})
      data, _status_code, _headers = list_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, opts)
      data
    end

    # List CarePlanRule
    # Lists all CarePlanRule for the given carePlanKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CarePlanRuleListVBAResponse, Integer, Hash)>] CarePlanRuleListVBAResponse data, response status code and response headers
    def list_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.list_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.list_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.list_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanRuleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.list_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#list_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CarePlanRule
    # Create or Update multiple CarePlanRule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule [Array<CarePlanRule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_plan_rule(vbasoftware_database, care_plan_key, care_plan_rule, opts = {})
      data, _status_code, _headers = update_batch_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule, opts)
      data
    end

    # Create or Update Batch CarePlanRule
    # Create or Update multiple CarePlanRule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule [Array<CarePlanRule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.update_batch_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.update_batch_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.update_batch_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule' is set
      if @api_client.config.client_side_validation && care_plan_rule.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule' when calling CarePlanRulesApi.update_batch_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules-batch'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.update_batch_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#update_batch_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CarePlanRule
    # Updates a specific CarePlanRule.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param care_plan_rule [CarePlanRule] 
    # @param [Hash] opts the optional parameters
    # @return [CarePlanRuleVBAResponse]
    def update_care_plan_rule(vbasoftware_database, care_plan_key, care_plan_rule_key, care_plan_rule, opts = {})
      data, _status_code, _headers = update_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, care_plan_rule, opts)
      data
    end

    # Update CarePlanRule
    # Updates a specific CarePlanRule.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_rule_key [Integer] CarePlanRule Key
    # @param care_plan_rule [CarePlanRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanRuleVBAResponse, Integer, Hash)>] CarePlanRuleVBAResponse data, response status code and response headers
    def update_care_plan_rule_with_http_info(vbasoftware_database, care_plan_key, care_plan_rule_key, care_plan_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanRulesApi.update_care_plan_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanRulesApi.update_care_plan_rule"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanRulesApi.update_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule_key' is set
      if @api_client.config.client_side_validation && care_plan_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule_key' when calling CarePlanRulesApi.update_care_plan_rule"
      end
      # verify the required parameter 'care_plan_rule' is set
      if @api_client.config.client_side_validation && care_plan_rule.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_rule' when calling CarePlanRulesApi.update_care_plan_rule"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/rules/{carePlanRuleKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanRuleKey' + '}', CGI.escape(care_plan_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanRulesApi.update_care_plan_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanRulesApi#update_care_plan_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
