=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseTreatmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseTreatment
    # Creates a new CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment [CareCaseTreatment] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentVBAResponse]
    def create_care_case_treatment(vbasoftware_database, case_key, care_case_treatment, opts = {})
      data, _status_code, _headers = create_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment, opts)
      data
    end

    # Create CareCaseTreatment
    # Creates a new CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment [CareCaseTreatment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentVBAResponse, Integer, Hash)>] CareCaseTreatmentVBAResponse data, response status code and response headers
    def create_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.create_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.create_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.create_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment' is set
      if @api_client.config.client_side_validation && care_case_treatment.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment' when calling CareCaseTreatmentsApi.create_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.create_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#create_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseTreatment
    # Deletes an CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_treatment(vbasoftware_database, case_key, care_case_treatment_key, opts = {})
      delete_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, opts)
      nil
    end

    # Delete CareCaseTreatment
    # Deletes an CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.delete_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.delete_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.delete_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment_key' is set
      if @api_client.config.client_side_validation && care_case_treatment_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_key' when calling CareCaseTreatmentsApi.delete_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments/{careCaseTreatmentKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseTreatmentKey' + '}', CGI.escape(care_case_treatment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.delete_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#delete_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseTreatment
    # Gets CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentVBAResponse]
    def get_care_case_treatment(vbasoftware_database, case_key, care_case_treatment_key, opts = {})
      data, _status_code, _headers = get_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, opts)
      data
    end

    # Get CareCaseTreatment
    # Gets CareCaseTreatment
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentVBAResponse, Integer, Hash)>] CareCaseTreatmentVBAResponse data, response status code and response headers
    def get_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.get_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.get_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.get_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment_key' is set
      if @api_client.config.client_side_validation && care_case_treatment_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_key' when calling CareCaseTreatmentsApi.get_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments/{careCaseTreatmentKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseTreatmentKey' + '}', CGI.escape(care_case_treatment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.get_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#get_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseTreatment
    # Lists all CareCaseTreatment for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseTreatmentListVBAResponse]
    def list_care_case_treatment(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_treatment_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseTreatment
    # Lists all CareCaseTreatment for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseTreatmentListVBAResponse, Integer, Hash)>] CareCaseTreatmentListVBAResponse data, response status code and response headers
    def list_care_case_treatment_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.list_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.list_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.list_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.list_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#list_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseTreatment
    # Create or Update multiple CareCaseTreatment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment [Array<CareCaseTreatment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_treatment(vbasoftware_database, case_key, care_case_treatment, opts = {})
      data, _status_code, _headers = update_batch_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment, opts)
      data
    end

    # Create or Update Batch CareCaseTreatment
    # Create or Update multiple CareCaseTreatment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment [Array<CareCaseTreatment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.update_batch_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.update_batch_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.update_batch_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment' is set
      if @api_client.config.client_side_validation && care_case_treatment.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment' when calling CareCaseTreatmentsApi.update_batch_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.update_batch_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#update_batch_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseTreatment
    # Updates a specific CareCaseTreatment.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param care_case_treatment [CareCaseTreatment] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentVBAResponse]
    def update_care_case_treatment(vbasoftware_database, case_key, care_case_treatment_key, care_case_treatment, opts = {})
      data, _status_code, _headers = update_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, care_case_treatment, opts)
      data
    end

    # Update CareCaseTreatment
    # Updates a specific CareCaseTreatment.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_treatment_key [Integer] CareCaseTreatment Key
    # @param care_case_treatment [CareCaseTreatment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentVBAResponse, Integer, Hash)>] CareCaseTreatmentVBAResponse data, response status code and response headers
    def update_care_case_treatment_with_http_info(vbasoftware_database, case_key, care_case_treatment_key, care_case_treatment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentsApi.update_care_case_treatment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentsApi.update_care_case_treatment"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseTreatmentsApi.update_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment_key' is set
      if @api_client.config.client_side_validation && care_case_treatment_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_key' when calling CareCaseTreatmentsApi.update_care_case_treatment"
      end
      # verify the required parameter 'care_case_treatment' is set
      if @api_client.config.client_side_validation && care_case_treatment.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment' when calling CareCaseTreatmentsApi.update_care_case_treatment"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/treatments/{careCaseTreatmentKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseTreatmentKey' + '}', CGI.escape(care_case_treatment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentsApi.update_care_case_treatment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentsApi#update_care_case_treatment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
