=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseIntakeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseIntakeType
    # Creates a new CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type [CareCaseIntakeType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeTypeVBAResponse]
    def create_care_case_intake_type(vbasoftware_database, care_case_intake_type, opts = {})
      data, _status_code, _headers = create_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type, opts)
      data
    end

    # Create CareCaseIntakeType
    # Creates a new CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type [CareCaseIntakeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeTypeVBAResponse, Integer, Hash)>] CareCaseIntakeTypeVBAResponse data, response status code and response headers
    def create_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.create_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.create_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type' is set
      if @api_client.config.client_side_validation && care_case_intake_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type' when calling CareCaseIntakeTypesApi.create_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.create_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#create_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseIntakeType
    # Deletes an CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_intake_type(vbasoftware_database, care_case_intake_type_id, opts = {})
      delete_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, opts)
      nil
    end

    # Delete CareCaseIntakeType
    # Deletes an CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.delete_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.delete_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type_id' is set
      if @api_client.config.client_side_validation && care_case_intake_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type_id' when calling CareCaseIntakeTypesApi.delete_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types/{careCaseIntakeTypeID}'.sub('{' + 'careCaseIntakeTypeID' + '}', CGI.escape(care_case_intake_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.delete_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#delete_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseIntakeType
    # Gets CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeTypeVBAResponse]
    def get_care_case_intake_type(vbasoftware_database, care_case_intake_type_id, opts = {})
      data, _status_code, _headers = get_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, opts)
      data
    end

    # Get CareCaseIntakeType
    # Gets CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeTypeVBAResponse, Integer, Hash)>] CareCaseIntakeTypeVBAResponse data, response status code and response headers
    def get_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.get_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.get_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type_id' is set
      if @api_client.config.client_side_validation && care_case_intake_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type_id' when calling CareCaseIntakeTypesApi.get_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types/{careCaseIntakeTypeID}'.sub('{' + 'careCaseIntakeTypeID' + '}', CGI.escape(care_case_intake_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.get_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#get_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseIntakeType
    # Lists all CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseIntakeTypeListVBAResponse]
    def list_care_case_intake_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_intake_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseIntakeType
    # Lists all CareCaseIntakeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseIntakeTypeListVBAResponse, Integer, Hash)>] CareCaseIntakeTypeListVBAResponse data, response status code and response headers
    def list_care_case_intake_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.list_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.list_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.list_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#list_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseIntakeType
    # Create or Update multiple CareCaseIntakeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type [Array<CareCaseIntakeType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_intake_type(vbasoftware_database, care_case_intake_type, opts = {})
      data, _status_code, _headers = update_batch_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type, opts)
      data
    end

    # Create or Update Batch CareCaseIntakeType
    # Create or Update multiple CareCaseIntakeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type [Array<CareCaseIntakeType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.update_batch_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.update_batch_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type' is set
      if @api_client.config.client_side_validation && care_case_intake_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type' when calling CareCaseIntakeTypesApi.update_batch_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.update_batch_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#update_batch_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseIntakeType
    # Updates a specific CareCaseIntakeType.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param care_case_intake_type [CareCaseIntakeType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntakeTypeVBAResponse]
    def update_care_case_intake_type(vbasoftware_database, care_case_intake_type_id, care_case_intake_type, opts = {})
      data, _status_code, _headers = update_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, care_case_intake_type, opts)
      data
    end

    # Update CareCaseIntakeType
    # Updates a specific CareCaseIntakeType.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intake_type_id [String] CareCaseIntakeType ID
    # @param care_case_intake_type [CareCaseIntakeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntakeTypeVBAResponse, Integer, Hash)>] CareCaseIntakeTypeVBAResponse data, response status code and response headers
    def update_care_case_intake_type_with_http_info(vbasoftware_database, care_case_intake_type_id, care_case_intake_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntakeTypesApi.update_care_case_intake_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntakeTypesApi.update_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type_id' is set
      if @api_client.config.client_side_validation && care_case_intake_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type_id' when calling CareCaseIntakeTypesApi.update_care_case_intake_type"
      end
      # verify the required parameter 'care_case_intake_type' is set
      if @api_client.config.client_side_validation && care_case_intake_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intake_type' when calling CareCaseIntakeTypesApi.update_care_case_intake_type"
      end
      # resource path
      local_var_path = '/intake-types/{careCaseIntakeTypeID}'.sub('{' + 'careCaseIntakeTypeID' + '}', CGI.escape(care_case_intake_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intake_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntakeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntakeTypesApi.update_care_case_intake_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntakeTypesApi#update_care_case_intake_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
