=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseNeutropenicRisksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseNeutropenicRisk
    # Creates a new CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk [CareCaseNeutropenicRisk] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseNeutropenicRiskVBAResponse]
    def create_care_case_neutropenic_risk(vbasoftware_database, care_case_neutropenic_risk, opts = {})
      data, _status_code, _headers = create_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk, opts)
      data
    end

    # Create CareCaseNeutropenicRisk
    # Creates a new CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk [CareCaseNeutropenicRisk] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseNeutropenicRiskVBAResponse, Integer, Hash)>] CareCaseNeutropenicRiskVBAResponse data, response status code and response headers
    def create_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.create_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.create_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk' when calling CareCaseNeutropenicRisksApi.create_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_neutropenic_risk)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseNeutropenicRiskVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.create_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#create_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseNeutropenicRisk
    # Deletes an CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_neutropenic_risk(vbasoftware_database, care_case_neutropenic_risk_key, opts = {})
      delete_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, opts)
      nil
    end

    # Delete CareCaseNeutropenicRisk
    # Deletes an CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.delete_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.delete_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk_key' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk_key' when calling CareCaseNeutropenicRisksApi.delete_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks/{careCaseNeutropenicRiskKey}'.sub('{' + 'careCaseNeutropenicRiskKey' + '}', CGI.escape(care_case_neutropenic_risk_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.delete_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#delete_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseNeutropenicRisk
    # Gets CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseNeutropenicRiskVBAResponse]
    def get_care_case_neutropenic_risk(vbasoftware_database, care_case_neutropenic_risk_key, opts = {})
      data, _status_code, _headers = get_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, opts)
      data
    end

    # Get CareCaseNeutropenicRisk
    # Gets CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseNeutropenicRiskVBAResponse, Integer, Hash)>] CareCaseNeutropenicRiskVBAResponse data, response status code and response headers
    def get_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.get_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.get_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk_key' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk_key' when calling CareCaseNeutropenicRisksApi.get_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks/{careCaseNeutropenicRiskKey}'.sub('{' + 'careCaseNeutropenicRiskKey' + '}', CGI.escape(care_case_neutropenic_risk_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseNeutropenicRiskVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.get_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#get_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseNeutropenicRisk
    # Lists all CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseNeutropenicRiskListVBAResponse]
    def list_care_case_neutropenic_risk(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_neutropenic_risk_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseNeutropenicRisk
    # Lists all CareCaseNeutropenicRisk
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseNeutropenicRiskListVBAResponse, Integer, Hash)>] CareCaseNeutropenicRiskListVBAResponse data, response status code and response headers
    def list_care_case_neutropenic_risk_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.list_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.list_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseNeutropenicRiskListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.list_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#list_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseNeutropenicRisk
    # Create or Update multiple CareCaseNeutropenicRisk at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk [Array<CareCaseNeutropenicRisk>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_neutropenic_risk(vbasoftware_database, care_case_neutropenic_risk, opts = {})
      data, _status_code, _headers = update_batch_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk, opts)
      data
    end

    # Create or Update Batch CareCaseNeutropenicRisk
    # Create or Update multiple CareCaseNeutropenicRisk at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk [Array<CareCaseNeutropenicRisk>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.update_batch_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.update_batch_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk' when calling CareCaseNeutropenicRisksApi.update_batch_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_neutropenic_risk)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.update_batch_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#update_batch_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseNeutropenicRisk
    # Updates a specific CareCaseNeutropenicRisk.
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param care_case_neutropenic_risk [CareCaseNeutropenicRisk] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseNeutropenicRiskVBAResponse]
    def update_care_case_neutropenic_risk(vbasoftware_database, care_case_neutropenic_risk_key, care_case_neutropenic_risk, opts = {})
      data, _status_code, _headers = update_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, care_case_neutropenic_risk, opts)
      data
    end

    # Update CareCaseNeutropenicRisk
    # Updates a specific CareCaseNeutropenicRisk.
    # @param vbasoftware_database [String] Target database
    # @param care_case_neutropenic_risk_key [Integer] CareCaseNeutropenicRisk Key
    # @param care_case_neutropenic_risk [CareCaseNeutropenicRisk] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseNeutropenicRiskVBAResponse, Integer, Hash)>] CareCaseNeutropenicRiskVBAResponse data, response status code and response headers
    def update_care_case_neutropenic_risk_with_http_info(vbasoftware_database, care_case_neutropenic_risk_key, care_case_neutropenic_risk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseNeutropenicRisksApi.update_care_case_neutropenic_risk ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseNeutropenicRisksApi.update_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk_key' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk_key' when calling CareCaseNeutropenicRisksApi.update_care_case_neutropenic_risk"
      end
      # verify the required parameter 'care_case_neutropenic_risk' is set
      if @api_client.config.client_side_validation && care_case_neutropenic_risk.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_neutropenic_risk' when calling CareCaseNeutropenicRisksApi.update_care_case_neutropenic_risk"
      end
      # resource path
      local_var_path = '/care-case-neutropenic-risks/{careCaseNeutropenicRiskKey}'.sub('{' + 'careCaseNeutropenicRiskKey' + '}', CGI.escape(care_case_neutropenic_risk_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_neutropenic_risk)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseNeutropenicRiskVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseNeutropenicRisksApi.update_care_case_neutropenic_risk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseNeutropenicRisksApi#update_care_case_neutropenic_risk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
