=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseIntent
    # Creates a new CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent [CareCaseIntent] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntentVBAResponse]
    def create_care_case_intent(vbasoftware_database, care_case_intent, opts = {})
      data, _status_code, _headers = create_care_case_intent_with_http_info(vbasoftware_database, care_case_intent, opts)
      data
    end

    # Create CareCaseIntent
    # Creates a new CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent [CareCaseIntent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntentVBAResponse, Integer, Hash)>] CareCaseIntentVBAResponse data, response status code and response headers
    def create_care_case_intent_with_http_info(vbasoftware_database, care_case_intent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.create_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.create_care_case_intent"
      end
      # verify the required parameter 'care_case_intent' is set
      if @api_client.config.client_side_validation && care_case_intent.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent' when calling CareCaseIntentsApi.create_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intent)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.create_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#create_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseIntent
    # Deletes an CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_intent(vbasoftware_database, care_case_intent_key, opts = {})
      delete_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, opts)
      nil
    end

    # Delete CareCaseIntent
    # Deletes an CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.delete_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.delete_care_case_intent"
      end
      # verify the required parameter 'care_case_intent_key' is set
      if @api_client.config.client_side_validation && care_case_intent_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent_key' when calling CareCaseIntentsApi.delete_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents/{careCaseIntentKey}'.sub('{' + 'careCaseIntentKey' + '}', CGI.escape(care_case_intent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.delete_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#delete_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseIntent
    # Gets CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntentVBAResponse]
    def get_care_case_intent(vbasoftware_database, care_case_intent_key, opts = {})
      data, _status_code, _headers = get_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, opts)
      data
    end

    # Get CareCaseIntent
    # Gets CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntentVBAResponse, Integer, Hash)>] CareCaseIntentVBAResponse data, response status code and response headers
    def get_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.get_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.get_care_case_intent"
      end
      # verify the required parameter 'care_case_intent_key' is set
      if @api_client.config.client_side_validation && care_case_intent_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent_key' when calling CareCaseIntentsApi.get_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents/{careCaseIntentKey}'.sub('{' + 'careCaseIntentKey' + '}', CGI.escape(care_case_intent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.get_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#get_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseIntent
    # Lists all CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseIntentListVBAResponse]
    def list_care_case_intent(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_intent_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseIntent
    # Lists all CareCaseIntent
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseIntentListVBAResponse, Integer, Hash)>] CareCaseIntentListVBAResponse data, response status code and response headers
    def list_care_case_intent_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.list_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.list_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.list_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#list_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseIntent
    # Create or Update multiple CareCaseIntent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent [Array<CareCaseIntent>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_intent(vbasoftware_database, care_case_intent, opts = {})
      data, _status_code, _headers = update_batch_care_case_intent_with_http_info(vbasoftware_database, care_case_intent, opts)
      data
    end

    # Create or Update Batch CareCaseIntent
    # Create or Update multiple CareCaseIntent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent [Array<CareCaseIntent>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_intent_with_http_info(vbasoftware_database, care_case_intent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.update_batch_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.update_batch_care_case_intent"
      end
      # verify the required parameter 'care_case_intent' is set
      if @api_client.config.client_side_validation && care_case_intent.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent' when calling CareCaseIntentsApi.update_batch_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intent)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.update_batch_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#update_batch_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseIntent
    # Updates a specific CareCaseIntent.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param care_case_intent [CareCaseIntent] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseIntentVBAResponse]
    def update_care_case_intent(vbasoftware_database, care_case_intent_key, care_case_intent, opts = {})
      data, _status_code, _headers = update_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, care_case_intent, opts)
      data
    end

    # Update CareCaseIntent
    # Updates a specific CareCaseIntent.
    # @param vbasoftware_database [String] Target database
    # @param care_case_intent_key [Integer] CareCaseIntent Key
    # @param care_case_intent [CareCaseIntent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseIntentVBAResponse, Integer, Hash)>] CareCaseIntentVBAResponse data, response status code and response headers
    def update_care_case_intent_with_http_info(vbasoftware_database, care_case_intent_key, care_case_intent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseIntentsApi.update_care_case_intent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseIntentsApi.update_care_case_intent"
      end
      # verify the required parameter 'care_case_intent_key' is set
      if @api_client.config.client_side_validation && care_case_intent_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent_key' when calling CareCaseIntentsApi.update_care_case_intent"
      end
      # verify the required parameter 'care_case_intent' is set
      if @api_client.config.client_side_validation && care_case_intent.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_intent' when calling CareCaseIntentsApi.update_care_case_intent"
      end
      # resource path
      local_var_path = '/care-case-intents/{careCaseIntentKey}'.sub('{' + 'careCaseIntentKey' + '}', CGI.escape(care_case_intent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_intent)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseIntentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseIntentsApi.update_care_case_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseIntentsApi#update_care_case_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
