=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareManagerCasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareManagerCase
    # Creates a new CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case [CareManagerCase] 
    # @param [Hash] opts the optional parameters
    # @return [CareManagerCaseVBAResponse]
    def create_care_manager_case(vbasoftware_database, care_manager_key, care_manager_case, opts = {})
      data, _status_code, _headers = create_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case, opts)
      data
    end

    # Create CareManagerCase
    # Creates a new CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case [CareManagerCase] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareManagerCaseVBAResponse, Integer, Hash)>] CareManagerCaseVBAResponse data, response status code and response headers
    def create_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.create_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.create_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.create_care_manager_case"
      end
      # verify the required parameter 'care_manager_case' is set
      if @api_client.config.client_side_validation && care_manager_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case' when calling CareManagerCasesApi.create_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_manager_case)

      # return_type
      return_type = opts[:debug_return_type] || 'CareManagerCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.create_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#create_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareManagerCase
    # Deletes an CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_manager_case(vbasoftware_database, care_manager_key, care_manager_case_key, opts = {})
      delete_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, opts)
      nil
    end

    # Delete CareManagerCase
    # Deletes an CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.delete_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.delete_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.delete_care_manager_case"
      end
      # verify the required parameter 'care_manager_case_key' is set
      if @api_client.config.client_side_validation && care_manager_case_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case_key' when calling CareManagerCasesApi.delete_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases/{careManagerCaseKey}'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s)).sub('{' + 'careManagerCaseKey' + '}', CGI.escape(care_manager_case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.delete_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#delete_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareManagerCase
    # Gets CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param [Hash] opts the optional parameters
    # @return [CareManagerCaseVBAResponse]
    def get_care_manager_case(vbasoftware_database, care_manager_key, care_manager_case_key, opts = {})
      data, _status_code, _headers = get_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, opts)
      data
    end

    # Get CareManagerCase
    # Gets CareManagerCase
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareManagerCaseVBAResponse, Integer, Hash)>] CareManagerCaseVBAResponse data, response status code and response headers
    def get_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.get_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.get_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.get_care_manager_case"
      end
      # verify the required parameter 'care_manager_case_key' is set
      if @api_client.config.client_side_validation && care_manager_case_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case_key' when calling CareManagerCasesApi.get_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases/{careManagerCaseKey}'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s)).sub('{' + 'careManagerCaseKey' + '}', CGI.escape(care_manager_case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareManagerCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.get_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#get_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareManagerCase
    # Lists all CareManagerCase for the given careManagerKey
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareManagerCaseListVBAResponse]
    def list_care_manager_case(vbasoftware_database, care_manager_key, opts = {})
      data, _status_code, _headers = list_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, opts)
      data
    end

    # List CareManagerCase
    # Lists all CareManagerCase for the given careManagerKey
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareManagerCaseListVBAResponse, Integer, Hash)>] CareManagerCaseListVBAResponse data, response status code and response headers
    def list_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.list_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.list_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.list_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareManagerCaseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.list_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#list_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareManagerCase
    # Create or Update multiple CareManagerCase at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case [Array<CareManagerCase>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_manager_case(vbasoftware_database, care_manager_key, care_manager_case, opts = {})
      data, _status_code, _headers = update_batch_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case, opts)
      data
    end

    # Create or Update Batch CareManagerCase
    # Create or Update multiple CareManagerCase at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case [Array<CareManagerCase>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.update_batch_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.update_batch_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.update_batch_care_manager_case"
      end
      # verify the required parameter 'care_manager_case' is set
      if @api_client.config.client_side_validation && care_manager_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case' when calling CareManagerCasesApi.update_batch_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases-batch'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_manager_case)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.update_batch_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#update_batch_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareManagerCase
    # Updates a specific CareManagerCase.
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param care_manager_case [CareManagerCase] 
    # @param [Hash] opts the optional parameters
    # @return [CareManagerCaseVBAResponse]
    def update_care_manager_case(vbasoftware_database, care_manager_key, care_manager_case_key, care_manager_case, opts = {})
      data, _status_code, _headers = update_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, care_manager_case, opts)
      data
    end

    # Update CareManagerCase
    # Updates a specific CareManagerCase.
    # @param vbasoftware_database [String] Target database
    # @param care_manager_key [Integer] CareManager Key
    # @param care_manager_case_key [Integer] CareManagerCase Key
    # @param care_manager_case [CareManagerCase] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareManagerCaseVBAResponse, Integer, Hash)>] CareManagerCaseVBAResponse data, response status code and response headers
    def update_care_manager_case_with_http_info(vbasoftware_database, care_manager_key, care_manager_case_key, care_manager_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareManagerCasesApi.update_care_manager_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareManagerCasesApi.update_care_manager_case"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareManagerCasesApi.update_care_manager_case"
      end
      # verify the required parameter 'care_manager_case_key' is set
      if @api_client.config.client_side_validation && care_manager_case_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case_key' when calling CareManagerCasesApi.update_care_manager_case"
      end
      # verify the required parameter 'care_manager_case' is set
      if @api_client.config.client_side_validation && care_manager_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_case' when calling CareManagerCasesApi.update_care_manager_case"
      end
      # resource path
      local_var_path = '/care-managers/{careManagerKey}/cases/{careManagerCaseKey}'.sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s)).sub('{' + 'careManagerCaseKey' + '}', CGI.escape(care_manager_case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_manager_case)

      # return_type
      return_type = opts[:debug_return_type] || 'CareManagerCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareManagerCasesApi.update_care_manager_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareManagerCasesApi#update_care_manager_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
