=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CarePlanScoreDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CarePlanScoreDetail
    # Creates a new CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail [CarePlanScoreDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CarePlanScoreDetailVBAResponse]
    def create_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts = {})
      data, _status_code, _headers = create_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts)
      data
    end

    # Create CarePlanScoreDetail
    # Creates a new CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail [CarePlanScoreDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanScoreDetailVBAResponse, Integer, Hash)>] CarePlanScoreDetailVBAResponse data, response status code and response headers
    def create_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.create_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.create_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.create_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.create_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail' is set
      if @api_client.config.client_side_validation && care_plan_score_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail' when calling CarePlanScoreDetailsApi.create_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_score_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanScoreDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.create_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#create_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CarePlanScoreDetail
    # Deletes an CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts = {})
      delete_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts)
      nil
    end

    # Delete CarePlanScoreDetail
    # Deletes an CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.delete_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.delete_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.delete_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.delete_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail_key' is set
      if @api_client.config.client_side_validation && care_plan_score_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail_key' when calling CarePlanScoreDetailsApi.delete_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details/{carePlanScoreDetailKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s)).sub('{' + 'carePlanScoreDetailKey' + '}', CGI.escape(care_plan_score_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.delete_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#delete_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CarePlanScoreDetail
    # Gets CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param [Hash] opts the optional parameters
    # @return [CarePlanScoreDetailVBAResponse]
    def get_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts = {})
      data, _status_code, _headers = get_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts)
      data
    end

    # Get CarePlanScoreDetail
    # Gets CarePlanScoreDetail
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanScoreDetailVBAResponse, Integer, Hash)>] CarePlanScoreDetailVBAResponse data, response status code and response headers
    def get_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.get_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.get_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.get_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.get_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail_key' is set
      if @api_client.config.client_side_validation && care_plan_score_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail_key' when calling CarePlanScoreDetailsApi.get_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details/{carePlanScoreDetailKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s)).sub('{' + 'carePlanScoreDetailKey' + '}', CGI.escape(care_plan_score_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanScoreDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.get_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#get_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CarePlanScoreDetail
    # Lists all CarePlanScoreDetail for the given carePlanScoreKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CarePlanScoreDetailListVBAResponse]
    def list_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, opts = {})
      data, _status_code, _headers = list_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, opts)
      data
    end

    # List CarePlanScoreDetail
    # Lists all CarePlanScoreDetail for the given carePlanScoreKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CarePlanScoreDetailListVBAResponse, Integer, Hash)>] CarePlanScoreDetailListVBAResponse data, response status code and response headers
    def list_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.list_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.list_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.list_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.list_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanScoreDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.list_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#list_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CarePlanScoreDetail
    # Create or Update multiple CarePlanScoreDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail [Array<CarePlanScoreDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts = {})
      data, _status_code, _headers = update_batch_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts)
      data
    end

    # Create or Update Batch CarePlanScoreDetail
    # Create or Update multiple CarePlanScoreDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail [Array<CarePlanScoreDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.update_batch_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.update_batch_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.update_batch_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.update_batch_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail' is set
      if @api_client.config.client_side_validation && care_plan_score_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail' when calling CarePlanScoreDetailsApi.update_batch_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details-batch'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_score_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.update_batch_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#update_batch_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CarePlanScoreDetail
    # Updates a specific CarePlanScoreDetail.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param care_plan_score_detail [CarePlanScoreDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CarePlanScoreDetailVBAResponse]
    def update_care_plan_score_detail(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, care_plan_score_detail, opts = {})
      data, _status_code, _headers = update_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, care_plan_score_detail, opts)
      data
    end

    # Update CarePlanScoreDetail
    # Updates a specific CarePlanScoreDetail.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_plan_score_key [Integer] CarePlanScore Key
    # @param care_plan_score_detail_key [Integer] CarePlanScoreDetail Key
    # @param care_plan_score_detail [CarePlanScoreDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarePlanScoreDetailVBAResponse, Integer, Hash)>] CarePlanScoreDetailVBAResponse data, response status code and response headers
    def update_care_plan_score_detail_with_http_info(vbasoftware_database, care_plan_key, care_plan_score_key, care_plan_score_detail_key, care_plan_score_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarePlanScoreDetailsApi.update_care_plan_score_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CarePlanScoreDetailsApi.update_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CarePlanScoreDetailsApi.update_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_key' is set
      if @api_client.config.client_side_validation && care_plan_score_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_key' when calling CarePlanScoreDetailsApi.update_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail_key' is set
      if @api_client.config.client_side_validation && care_plan_score_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail_key' when calling CarePlanScoreDetailsApi.update_care_plan_score_detail"
      end
      # verify the required parameter 'care_plan_score_detail' is set
      if @api_client.config.client_side_validation && care_plan_score_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_score_detail' when calling CarePlanScoreDetailsApi.update_care_plan_score_detail"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/scores/{carePlanScoreKey}/details/{carePlanScoreDetailKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'carePlanScoreKey' + '}', CGI.escape(care_plan_score_key.to_s)).sub('{' + 'carePlanScoreDetailKey' + '}', CGI.escape(care_plan_score_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_plan_score_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CarePlanScoreDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CarePlanScoreDetailsApi.update_care_plan_score_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarePlanScoreDetailsApi#update_care_plan_score_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
