=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareUnitManagersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareUnitCareManager
    # Creates a new CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit_care_manager [CareUnitCareManager] 
    # @param [Hash] opts the optional parameters
    # @return [CareUnitCareManagerVBAResponse]
    def create_care_unit_care_manager(vbasoftware_database, care_unit_key, care_unit_care_manager, opts = {})
      data, _status_code, _headers = create_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_unit_care_manager, opts)
      data
    end

    # Create CareUnitCareManager
    # Creates a new CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit_care_manager [CareUnitCareManager] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitCareManagerVBAResponse, Integer, Hash)>] CareUnitCareManagerVBAResponse data, response status code and response headers
    def create_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_unit_care_manager, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.create_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.create_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.create_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_care_manager' is set
      if @api_client.config.client_side_validation && care_unit_care_manager.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_care_manager' when calling CareUnitManagersApi.create_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit_care_manager)

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitCareManagerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.create_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#create_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareUnitCareManager
    # Deletes an CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_unit_care_manager(vbasoftware_database, care_unit_key, care_manager_key, opts = {})
      delete_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, opts)
      nil
    end

    # Delete CareUnitCareManager
    # Deletes an CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.delete_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.delete_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.delete_care_unit_care_manager"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareUnitManagersApi.delete_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers/{careManagerKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s)).sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.delete_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#delete_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareUnitCareManager
    # Gets CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @return [CareUnitCareManagerVBAResponse]
    def get_care_unit_care_manager(vbasoftware_database, care_unit_key, care_manager_key, opts = {})
      data, _status_code, _headers = get_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, opts)
      data
    end

    # Get CareUnitCareManager
    # Gets CareUnitCareManager
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitCareManagerVBAResponse, Integer, Hash)>] CareUnitCareManagerVBAResponse data, response status code and response headers
    def get_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.get_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.get_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.get_care_unit_care_manager"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareUnitManagersApi.get_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers/{careManagerKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s)).sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitCareManagerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.get_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#get_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareUnitCareManager
    # Lists all CareUnitCareManager for the given careUnitKey
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareUnitCareManagerListVBAResponse]
    def list_care_unit_care_manager(vbasoftware_database, care_unit_key, opts = {})
      data, _status_code, _headers = list_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, opts)
      data
    end

    # List CareUnitCareManager
    # Lists all CareUnitCareManager for the given careUnitKey
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareUnitCareManagerListVBAResponse, Integer, Hash)>] CareUnitCareManagerListVBAResponse data, response status code and response headers
    def list_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.list_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.list_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.list_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitCareManagerListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.list_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#list_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareUnitCareManager
    # Create or Update multiple CareUnitCareManager at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit_care_manager [Array<CareUnitCareManager>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_unit_care_manager(vbasoftware_database, care_unit_key, care_unit_care_manager, opts = {})
      data, _status_code, _headers = update_batch_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_unit_care_manager, opts)
      data
    end

    # Create or Update Batch CareUnitCareManager
    # Create or Update multiple CareUnitCareManager at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit_care_manager [Array<CareUnitCareManager>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_unit_care_manager, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.update_batch_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.update_batch_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.update_batch_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_care_manager' is set
      if @api_client.config.client_side_validation && care_unit_care_manager.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_care_manager' when calling CareUnitManagersApi.update_batch_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers-batch'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit_care_manager)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.update_batch_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#update_batch_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareUnitCareManager
    # Updates a specific CareUnitCareManager.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param care_unit_care_manager [CareUnitCareManager] 
    # @param [Hash] opts the optional parameters
    # @return [CareUnitCareManagerVBAResponse]
    def update_care_unit_care_manager(vbasoftware_database, care_unit_key, care_manager_key, care_unit_care_manager, opts = {})
      data, _status_code, _headers = update_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, care_unit_care_manager, opts)
      data
    end

    # Update CareUnitCareManager
    # Updates a specific CareUnitCareManager.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_manager_key [Integer] CareManager Key
    # @param care_unit_care_manager [CareUnitCareManager] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitCareManagerVBAResponse, Integer, Hash)>] CareUnitCareManagerVBAResponse data, response status code and response headers
    def update_care_unit_care_manager_with_http_info(vbasoftware_database, care_unit_key, care_manager_key, care_unit_care_manager, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitManagersApi.update_care_unit_care_manager ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitManagersApi.update_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitManagersApi.update_care_unit_care_manager"
      end
      # verify the required parameter 'care_manager_key' is set
      if @api_client.config.client_side_validation && care_manager_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_manager_key' when calling CareUnitManagersApi.update_care_unit_care_manager"
      end
      # verify the required parameter 'care_unit_care_manager' is set
      if @api_client.config.client_side_validation && care_unit_care_manager.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_care_manager' when calling CareUnitManagersApi.update_care_unit_care_manager"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}/managers/{careManagerKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s)).sub('{' + 'careManagerKey' + '}', CGI.escape(care_manager_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit_care_manager)

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitCareManagerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitManagersApi.update_care_unit_care_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitManagersApi#update_care_unit_care_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
