=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseDetail
    # Creates a new CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_detail [CareCaseDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseDetailVBAResponse]
    def create_care_case_detail(vbasoftware_database, case_key, care_case_detail, opts = {})
      data, _status_code, _headers = create_care_case_detail_with_http_info(vbasoftware_database, case_key, care_case_detail, opts)
      data
    end

    # Create CareCaseDetail
    # Creates a new CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_detail [CareCaseDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseDetailVBAResponse, Integer, Hash)>] CareCaseDetailVBAResponse data, response status code and response headers
    def create_care_case_detail_with_http_info(vbasoftware_database, case_key, care_case_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.create_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.create_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.create_care_case_detail"
      end
      # verify the required parameter 'care_case_detail' is set
      if @api_client.config.client_side_validation && care_case_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_detail' when calling CareCaseDetailsApi.create_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.create_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#create_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseDetail
    # Deletes an CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_detail(vbasoftware_database, case_key, case_detail_key, opts = {})
      delete_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, opts)
      nil
    end

    # Delete CareCaseDetail
    # Deletes an CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.delete_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.delete_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.delete_care_case_detail"
      end
      # verify the required parameter 'case_detail_key' is set
      if @api_client.config.client_side_validation && case_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_detail_key' when calling CareCaseDetailsApi.delete_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details/{caseDetailKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'caseDetailKey' + '}', CGI.escape(case_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.delete_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#delete_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseDetail
    # Gets CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseDetailVBAResponse]
    def get_care_case_detail(vbasoftware_database, case_key, case_detail_key, opts = {})
      data, _status_code, _headers = get_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, opts)
      data
    end

    # Get CareCaseDetail
    # Gets CareCaseDetail
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseDetailVBAResponse, Integer, Hash)>] CareCaseDetailVBAResponse data, response status code and response headers
    def get_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.get_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.get_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.get_care_case_detail"
      end
      # verify the required parameter 'case_detail_key' is set
      if @api_client.config.client_side_validation && case_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_detail_key' when calling CareCaseDetailsApi.get_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details/{caseDetailKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'caseDetailKey' + '}', CGI.escape(case_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.get_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#get_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseDetail
    # Lists all CareCaseDetail for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseDetailListVBAResponse]
    def list_care_case_detail(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_detail_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseDetail
    # Lists all CareCaseDetail for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseDetailListVBAResponse, Integer, Hash)>] CareCaseDetailListVBAResponse data, response status code and response headers
    def list_care_case_detail_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.list_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.list_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.list_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.list_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#list_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseDetail
    # Create or Update multiple CareCaseDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_detail [Array<CareCaseDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_detail(vbasoftware_database, case_key, care_case_detail, opts = {})
      data, _status_code, _headers = update_batch_care_case_detail_with_http_info(vbasoftware_database, case_key, care_case_detail, opts)
      data
    end

    # Create or Update Batch CareCaseDetail
    # Create or Update multiple CareCaseDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_detail [Array<CareCaseDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_detail_with_http_info(vbasoftware_database, case_key, care_case_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.update_batch_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.update_batch_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.update_batch_care_case_detail"
      end
      # verify the required parameter 'care_case_detail' is set
      if @api_client.config.client_side_validation && care_case_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_detail' when calling CareCaseDetailsApi.update_batch_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.update_batch_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#update_batch_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseDetail
    # Updates a specific CareCaseDetail.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param care_case_detail [CareCaseDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseDetailVBAResponse]
    def update_care_case_detail(vbasoftware_database, case_key, case_detail_key, care_case_detail, opts = {})
      data, _status_code, _headers = update_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, care_case_detail, opts)
      data
    end

    # Update CareCaseDetail
    # Updates a specific CareCaseDetail.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param case_detail_key [Integer] CaseDetail Key
    # @param care_case_detail [CareCaseDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseDetailVBAResponse, Integer, Hash)>] CareCaseDetailVBAResponse data, response status code and response headers
    def update_care_case_detail_with_http_info(vbasoftware_database, case_key, case_detail_key, care_case_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseDetailsApi.update_care_case_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseDetailsApi.update_care_case_detail"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseDetailsApi.update_care_case_detail"
      end
      # verify the required parameter 'case_detail_key' is set
      if @api_client.config.client_side_validation && case_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_detail_key' when calling CareCaseDetailsApi.update_care_case_detail"
      end
      # verify the required parameter 'care_case_detail' is set
      if @api_client.config.client_side_validation && care_case_detail.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_detail' when calling CareCaseDetailsApi.update_care_case_detail"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/details/{caseDetailKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'caseDetailKey' + '}', CGI.escape(case_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseDetailsApi.update_care_case_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseDetailsApi#update_care_case_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
