=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseWorkLogSavingsTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseWorkLogSavingsType
    # Creates a new CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_savings_type [CareCaseWorkLogSavingsType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogSavingsTypeVBAResponse]
    def create_care_case_work_log_savings_type(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts = {})
      data, _status_code, _headers = create_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts)
      data
    end

    # Create CareCaseWorkLogSavingsType
    # Creates a new CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_savings_type [CareCaseWorkLogSavingsType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogSavingsTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogSavingsTypeVBAResponse data, response status code and response headers
    def create_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.create_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.create_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.create_care_case_work_log_savings_type"
      end
      # verify the required parameter 'care_case_work_log_savings_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_savings_type' when calling CareCaseWorkLogSavingsTypesApi.create_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_savings_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogSavingsTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.create_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#create_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseWorkLogSavingsType
    # Deletes an CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_work_log_savings_type(vbasoftware_database, work_log_type, savings_type, opts = {})
      delete_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, opts)
      nil
    end

    # Delete CareCaseWorkLogSavingsType
    # Deletes an CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.delete_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.delete_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.delete_care_case_work_log_savings_type"
      end
      # verify the required parameter 'savings_type' is set
      if @api_client.config.client_side_validation && savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'savings_type' when calling CareCaseWorkLogSavingsTypesApi.delete_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types/{savingsType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s)).sub('{' + 'savingsType' + '}', CGI.escape(savings_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.delete_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#delete_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseWorkLogSavingsType
    # Gets CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogSavingsTypeVBAResponse]
    def get_care_case_work_log_savings_type(vbasoftware_database, work_log_type, savings_type, opts = {})
      data, _status_code, _headers = get_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, opts)
      data
    end

    # Get CareCaseWorkLogSavingsType
    # Gets CareCaseWorkLogSavingsType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogSavingsTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogSavingsTypeVBAResponse data, response status code and response headers
    def get_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.get_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.get_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.get_care_case_work_log_savings_type"
      end
      # verify the required parameter 'savings_type' is set
      if @api_client.config.client_side_validation && savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'savings_type' when calling CareCaseWorkLogSavingsTypesApi.get_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types/{savingsType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s)).sub('{' + 'savingsType' + '}', CGI.escape(savings_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogSavingsTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.get_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#get_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseWorkLogSavingsType
    # Lists all CareCaseWorkLogSavingsType for the given workLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseWorkLogSavingsTypeListVBAResponse]
    def list_care_case_work_log_savings_type(vbasoftware_database, work_log_type, opts = {})
      data, _status_code, _headers = list_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, opts)
      data
    end

    # List CareCaseWorkLogSavingsType
    # Lists all CareCaseWorkLogSavingsType for the given workLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseWorkLogSavingsTypeListVBAResponse, Integer, Hash)>] CareCaseWorkLogSavingsTypeListVBAResponse data, response status code and response headers
    def list_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.list_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.list_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.list_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogSavingsTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.list_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#list_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseWorkLogSavingsType
    # Create or Update multiple CareCaseWorkLogSavingsType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_savings_type [Array<CareCaseWorkLogSavingsType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_work_log_savings_type(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts = {})
      data, _status_code, _headers = update_batch_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts)
      data
    end

    # Create or Update Batch CareCaseWorkLogSavingsType
    # Create or Update multiple CareCaseWorkLogSavingsType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_savings_type [Array<CareCaseWorkLogSavingsType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_savings_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.update_batch_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.update_batch_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.update_batch_care_case_work_log_savings_type"
      end
      # verify the required parameter 'care_case_work_log_savings_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_savings_type' when calling CareCaseWorkLogSavingsTypesApi.update_batch_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types-batch'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_savings_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.update_batch_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#update_batch_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseWorkLogSavingsType
    # Updates a specific CareCaseWorkLogSavingsType.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param care_case_work_log_savings_type [CareCaseWorkLogSavingsType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogSavingsTypeVBAResponse]
    def update_care_case_work_log_savings_type(vbasoftware_database, work_log_type, savings_type, care_case_work_log_savings_type, opts = {})
      data, _status_code, _headers = update_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, care_case_work_log_savings_type, opts)
      data
    end

    # Update CareCaseWorkLogSavingsType
    # Updates a specific CareCaseWorkLogSavingsType.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param savings_type [String] Savings Type
    # @param care_case_work_log_savings_type [CareCaseWorkLogSavingsType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogSavingsTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogSavingsTypeVBAResponse data, response status code and response headers
    def update_care_case_work_log_savings_type_with_http_info(vbasoftware_database, work_log_type, savings_type, care_case_work_log_savings_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type"
      end
      # verify the required parameter 'savings_type' is set
      if @api_client.config.client_side_validation && savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'savings_type' when calling CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type"
      end
      # verify the required parameter 'care_case_work_log_savings_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_savings_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_savings_type' when calling CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}/savings-types/{savingsType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s)).sub('{' + 'savingsType' + '}', CGI.escape(savings_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_savings_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogSavingsTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogSavingsTypesApi.update_care_case_work_log_savings_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogSavingsTypesApi#update_care_case_work_log_savings_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
