=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseAuthorizationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseAuth
    # Creates a new CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth [CareCaseAuth] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseAuthVBAResponse]
    def create_care_case_auth(vbasoftware_database, case_key, care_case_auth, opts = {})
      data, _status_code, _headers = create_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth, opts)
      data
    end

    # Create CareCaseAuth
    # Creates a new CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth [CareCaseAuth] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseAuthVBAResponse, Integer, Hash)>] CareCaseAuthVBAResponse data, response status code and response headers
    def create_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.create_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.create_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.create_care_case_auth"
      end
      # verify the required parameter 'care_case_auth' is set
      if @api_client.config.client_side_validation && care_case_auth.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth' when calling CareCaseAuthorizationsApi.create_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_auth)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseAuthVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.create_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#create_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseAuth
    # Deletes an CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_auth(vbasoftware_database, case_key, care_case_auth_key, opts = {})
      delete_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, opts)
      nil
    end

    # Delete CareCaseAuth
    # Deletes an CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.delete_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.delete_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.delete_care_case_auth"
      end
      # verify the required parameter 'care_case_auth_key' is set
      if @api_client.config.client_side_validation && care_case_auth_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth_key' when calling CareCaseAuthorizationsApi.delete_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations/{careCaseAuthKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseAuthKey' + '}', CGI.escape(care_case_auth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.delete_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#delete_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseAuth
    # Gets CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseAuthVBAResponse]
    def get_care_case_auth(vbasoftware_database, case_key, care_case_auth_key, opts = {})
      data, _status_code, _headers = get_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, opts)
      data
    end

    # Get CareCaseAuth
    # Gets CareCaseAuth
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseAuthVBAResponse, Integer, Hash)>] CareCaseAuthVBAResponse data, response status code and response headers
    def get_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.get_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.get_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.get_care_case_auth"
      end
      # verify the required parameter 'care_case_auth_key' is set
      if @api_client.config.client_side_validation && care_case_auth_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth_key' when calling CareCaseAuthorizationsApi.get_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations/{careCaseAuthKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseAuthKey' + '}', CGI.escape(care_case_auth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseAuthVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.get_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#get_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseAuth
    # Lists all CareCaseAuth for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseAuthListVBAResponse]
    def list_care_case_auth(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_auth_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseAuth
    # Lists all CareCaseAuth for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseAuthListVBAResponse, Integer, Hash)>] CareCaseAuthListVBAResponse data, response status code and response headers
    def list_care_case_auth_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.list_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.list_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.list_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseAuthListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.list_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#list_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseAuth
    # Create or Update multiple CareCaseAuth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth [Array<CareCaseAuth>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_auth(vbasoftware_database, case_key, care_case_auth, opts = {})
      data, _status_code, _headers = update_batch_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth, opts)
      data
    end

    # Create or Update Batch CareCaseAuth
    # Create or Update multiple CareCaseAuth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth [Array<CareCaseAuth>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.update_batch_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.update_batch_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.update_batch_care_case_auth"
      end
      # verify the required parameter 'care_case_auth' is set
      if @api_client.config.client_side_validation && care_case_auth.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth' when calling CareCaseAuthorizationsApi.update_batch_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_auth)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.update_batch_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#update_batch_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseAuth
    # Updates a specific CareCaseAuth.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param care_case_auth [CareCaseAuth] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseAuthVBAResponse]
    def update_care_case_auth(vbasoftware_database, case_key, care_case_auth_key, care_case_auth, opts = {})
      data, _status_code, _headers = update_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, care_case_auth, opts)
      data
    end

    # Update CareCaseAuth
    # Updates a specific CareCaseAuth.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_auth_key [Integer] CareCaseAuth Key
    # @param care_case_auth [CareCaseAuth] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseAuthVBAResponse, Integer, Hash)>] CareCaseAuthVBAResponse data, response status code and response headers
    def update_care_case_auth_with_http_info(vbasoftware_database, case_key, care_case_auth_key, care_case_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseAuthorizationsApi.update_care_case_auth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseAuthorizationsApi.update_care_case_auth"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseAuthorizationsApi.update_care_case_auth"
      end
      # verify the required parameter 'care_case_auth_key' is set
      if @api_client.config.client_side_validation && care_case_auth_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth_key' when calling CareCaseAuthorizationsApi.update_care_case_auth"
      end
      # verify the required parameter 'care_case_auth' is set
      if @api_client.config.client_side_validation && care_case_auth.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_auth' when calling CareCaseAuthorizationsApi.update_care_case_auth"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/authorizations/{careCaseAuthKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseAuthKey' + '}', CGI.escape(care_case_auth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_auth)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseAuthVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseAuthorizationsApi.update_care_case_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseAuthorizationsApi#update_care_case_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
