=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseWorkLogTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseWorkLogType
    # Creates a new CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param care_case_work_log_type [CareCaseWorkLogType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogTypeVBAResponse]
    def create_care_case_work_log_type(vbasoftware_database, care_case_work_log_type, opts = {})
      data, _status_code, _headers = create_care_case_work_log_type_with_http_info(vbasoftware_database, care_case_work_log_type, opts)
      data
    end

    # Create CareCaseWorkLogType
    # Creates a new CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param care_case_work_log_type [CareCaseWorkLogType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogTypeVBAResponse data, response status code and response headers
    def create_care_case_work_log_type_with_http_info(vbasoftware_database, care_case_work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.create_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.create_care_case_work_log_type"
      end
      # verify the required parameter 'care_case_work_log_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_type' when calling CareCaseWorkLogTypesApi.create_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.create_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#create_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseWorkLogType
    # Deletes an CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_work_log_type(vbasoftware_database, work_log_type, opts = {})
      delete_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, opts)
      nil
    end

    # Delete CareCaseWorkLogType
    # Deletes an CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.delete_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.delete_care_case_work_log_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogTypesApi.delete_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.delete_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#delete_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseWorkLogType
    # Gets CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogTypeVBAResponse]
    def get_care_case_work_log_type(vbasoftware_database, work_log_type, opts = {})
      data, _status_code, _headers = get_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, opts)
      data
    end

    # Get CareCaseWorkLogType
    # Gets CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogTypeVBAResponse data, response status code and response headers
    def get_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.get_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.get_care_case_work_log_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogTypesApi.get_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.get_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#get_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseWorkLogType
    # Lists all CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseWorkLogTypeListVBAResponse]
    def list_care_case_work_log_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_work_log_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseWorkLogType
    # Lists all CareCaseWorkLogType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseWorkLogTypeListVBAResponse, Integer, Hash)>] CareCaseWorkLogTypeListVBAResponse data, response status code and response headers
    def list_care_case_work_log_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.list_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.list_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.list_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#list_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseWorkLogType
    # Create or Update multiple CareCaseWorkLogType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_work_log_type [Array<CareCaseWorkLogType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_work_log_type(vbasoftware_database, care_case_work_log_type, opts = {})
      data, _status_code, _headers = update_batch_care_case_work_log_type_with_http_info(vbasoftware_database, care_case_work_log_type, opts)
      data
    end

    # Create or Update Batch CareCaseWorkLogType
    # Create or Update multiple CareCaseWorkLogType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_work_log_type [Array<CareCaseWorkLogType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_work_log_type_with_http_info(vbasoftware_database, care_case_work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.update_batch_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.update_batch_care_case_work_log_type"
      end
      # verify the required parameter 'care_case_work_log_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_type' when calling CareCaseWorkLogTypesApi.update_batch_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.update_batch_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#update_batch_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseWorkLogType
    # Updates a specific CareCaseWorkLogType.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_type [CareCaseWorkLogType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogTypeVBAResponse]
    def update_care_case_work_log_type(vbasoftware_database, work_log_type, care_case_work_log_type, opts = {})
      data, _status_code, _headers = update_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_type, opts)
      data
    end

    # Update CareCaseWorkLogType
    # Updates a specific CareCaseWorkLogType.
    # @param vbasoftware_database [String] Target database
    # @param work_log_type [String] WorkLog Type
    # @param care_case_work_log_type [CareCaseWorkLogType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogTypeVBAResponse, Integer, Hash)>] CareCaseWorkLogTypeVBAResponse data, response status code and response headers
    def update_care_case_work_log_type_with_http_info(vbasoftware_database, work_log_type, care_case_work_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogTypesApi.update_care_case_work_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogTypesApi.update_care_case_work_log_type"
      end
      # verify the required parameter 'work_log_type' is set
      if @api_client.config.client_side_validation && work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'work_log_type' when calling CareCaseWorkLogTypesApi.update_care_case_work_log_type"
      end
      # verify the required parameter 'care_case_work_log_type' is set
      if @api_client.config.client_side_validation && care_case_work_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_type' when calling CareCaseWorkLogTypesApi.update_care_case_work_log_type"
      end
      # resource path
      local_var_path = '/care-case-work-log-types/{workLogType}'.sub('{' + 'workLogType' + '}', CGI.escape(work_log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogTypesApi.update_care_case_work_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogTypesApi#update_care_case_work_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
