=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseClinicalFactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseClinicalFact
    # Creates a new CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact [CareCaseClinicalFact] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactVBAResponse]
    def create_care_case_clinical_fact(vbasoftware_database, care_case_clinical_fact, opts = {})
      data, _status_code, _headers = create_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact, opts)
      data
    end

    # Create CareCaseClinicalFact
    # Creates a new CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact [CareCaseClinicalFact] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactVBAResponse, Integer, Hash)>] CareCaseClinicalFactVBAResponse data, response status code and response headers
    def create_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.create_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.create_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact' when calling CareCaseClinicalFactsApi.create_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.create_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#create_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseClinicalFact
    # Deletes an CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_clinical_fact(vbasoftware_database, care_case_clinical_fact_key, opts = {})
      delete_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, opts)
      nil
    end

    # Delete CareCaseClinicalFact
    # Deletes an CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.delete_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.delete_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact_key' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_key' when calling CareCaseClinicalFactsApi.delete_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts/{CareCaseClinicalFact_Key}'.sub('{' + 'CareCaseClinicalFact_Key' + '}', CGI.escape(care_case_clinical_fact_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.delete_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#delete_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseClinicalFact
    # Gets CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactVBAResponse]
    def get_care_case_clinical_fact(vbasoftware_database, care_case_clinical_fact_key, opts = {})
      data, _status_code, _headers = get_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, opts)
      data
    end

    # Get CareCaseClinicalFact
    # Gets CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactVBAResponse, Integer, Hash)>] CareCaseClinicalFactVBAResponse data, response status code and response headers
    def get_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.get_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.get_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact_key' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_key' when calling CareCaseClinicalFactsApi.get_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts/{CareCaseClinicalFact_Key}'.sub('{' + 'CareCaseClinicalFact_Key' + '}', CGI.escape(care_case_clinical_fact_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.get_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#get_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseClinicalFact
    # Lists all CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [CareCaseClinicalFactListVBAResponse]
    def list_care_case_clinical_fact(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_clinical_fact_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseClinicalFact
    # Lists all CareCaseClinicalFact
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(CareCaseClinicalFactListVBAResponse, Integer, Hash)>] CareCaseClinicalFactListVBAResponse data, response status code and response headers
    def list_care_case_clinical_fact_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.list_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.list_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.list_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#list_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseClinicalFact
    # Create or Update multiple CareCaseClinicalFact at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact [Array<CareCaseClinicalFact>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_clinical_fact(vbasoftware_database, care_case_clinical_fact, opts = {})
      data, _status_code, _headers = update_batch_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact, opts)
      data
    end

    # Create or Update Batch CareCaseClinicalFact
    # Create or Update multiple CareCaseClinicalFact at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact [Array<CareCaseClinicalFact>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.update_batch_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.update_batch_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact' when calling CareCaseClinicalFactsApi.update_batch_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.update_batch_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#update_batch_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseClinicalFact
    # Updates a specific CareCaseClinicalFact.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param care_case_clinical_fact [CareCaseClinicalFact] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseClinicalFactVBAResponse]
    def update_care_case_clinical_fact(vbasoftware_database, care_case_clinical_fact_key, care_case_clinical_fact, opts = {})
      data, _status_code, _headers = update_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, care_case_clinical_fact, opts)
      data
    end

    # Update CareCaseClinicalFact
    # Updates a specific CareCaseClinicalFact.
    # @param vbasoftware_database [String] Target database
    # @param care_case_clinical_fact_key [Integer] CareCaseClinicalFact Key
    # @param care_case_clinical_fact [CareCaseClinicalFact] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseClinicalFactVBAResponse, Integer, Hash)>] CareCaseClinicalFactVBAResponse data, response status code and response headers
    def update_care_case_clinical_fact_with_http_info(vbasoftware_database, care_case_clinical_fact_key, care_case_clinical_fact, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseClinicalFactsApi.update_care_case_clinical_fact ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseClinicalFactsApi.update_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact_key' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact_key' when calling CareCaseClinicalFactsApi.update_care_case_clinical_fact"
      end
      # verify the required parameter 'care_case_clinical_fact' is set
      if @api_client.config.client_side_validation && care_case_clinical_fact.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_clinical_fact' when calling CareCaseClinicalFactsApi.update_care_case_clinical_fact"
      end
      # resource path
      local_var_path = '/care-case-clinical-facts/{CareCaseClinicalFact_Key}'.sub('{' + 'CareCaseClinicalFact_Key' + '}', CGI.escape(care_case_clinical_fact_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_clinical_fact)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseClinicalFactVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseClinicalFactsApi.update_care_case_clinical_fact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseClinicalFactsApi#update_care_case_clinical_fact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
