=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseStagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseStage
    # Creates a new CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage [CareCaseStage] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseStageVBAResponse]
    def create_care_case_stage(vbasoftware_database, care_case_stage, opts = {})
      data, _status_code, _headers = create_care_case_stage_with_http_info(vbasoftware_database, care_case_stage, opts)
      data
    end

    # Create CareCaseStage
    # Creates a new CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage [CareCaseStage] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseStageVBAResponse, Integer, Hash)>] CareCaseStageVBAResponse data, response status code and response headers
    def create_care_case_stage_with_http_info(vbasoftware_database, care_case_stage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.create_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.create_care_case_stage"
      end
      # verify the required parameter 'care_case_stage' is set
      if @api_client.config.client_side_validation && care_case_stage.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage' when calling CareCaseStagesApi.create_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_stage)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseStageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.create_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#create_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseStage
    # Deletes an CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_stage(vbasoftware_database, care_case_stage_key, opts = {})
      delete_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, opts)
      nil
    end

    # Delete CareCaseStage
    # Deletes an CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.delete_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.delete_care_case_stage"
      end
      # verify the required parameter 'care_case_stage_key' is set
      if @api_client.config.client_side_validation && care_case_stage_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage_key' when calling CareCaseStagesApi.delete_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages/{careCaseStageKey}'.sub('{' + 'careCaseStageKey' + '}', CGI.escape(care_case_stage_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.delete_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#delete_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseStage
    # Gets CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseStageVBAResponse]
    def get_care_case_stage(vbasoftware_database, care_case_stage_key, opts = {})
      data, _status_code, _headers = get_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, opts)
      data
    end

    # Get CareCaseStage
    # Gets CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseStageVBAResponse, Integer, Hash)>] CareCaseStageVBAResponse data, response status code and response headers
    def get_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.get_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.get_care_case_stage"
      end
      # verify the required parameter 'care_case_stage_key' is set
      if @api_client.config.client_side_validation && care_case_stage_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage_key' when calling CareCaseStagesApi.get_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages/{careCaseStageKey}'.sub('{' + 'careCaseStageKey' + '}', CGI.escape(care_case_stage_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseStageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.get_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#get_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseStage
    # Lists all CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseStageListVBAResponse]
    def list_care_case_stage(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_stage_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseStage
    # Lists all CareCaseStage
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseStageListVBAResponse, Integer, Hash)>] CareCaseStageListVBAResponse data, response status code and response headers
    def list_care_case_stage_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.list_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.list_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseStageListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.list_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#list_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseStage
    # Create or Update multiple CareCaseStage at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage [Array<CareCaseStage>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_stage(vbasoftware_database, care_case_stage, opts = {})
      data, _status_code, _headers = update_batch_care_case_stage_with_http_info(vbasoftware_database, care_case_stage, opts)
      data
    end

    # Create or Update Batch CareCaseStage
    # Create or Update multiple CareCaseStage at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage [Array<CareCaseStage>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_stage_with_http_info(vbasoftware_database, care_case_stage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.update_batch_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.update_batch_care_case_stage"
      end
      # verify the required parameter 'care_case_stage' is set
      if @api_client.config.client_side_validation && care_case_stage.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage' when calling CareCaseStagesApi.update_batch_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_stage)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.update_batch_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#update_batch_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseStage
    # Updates a specific CareCaseStage.
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param care_case_stage [CareCaseStage] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseStageVBAResponse]
    def update_care_case_stage(vbasoftware_database, care_case_stage_key, care_case_stage, opts = {})
      data, _status_code, _headers = update_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, care_case_stage, opts)
      data
    end

    # Update CareCaseStage
    # Updates a specific CareCaseStage.
    # @param vbasoftware_database [String] Target database
    # @param care_case_stage_key [Integer] CareCaseStage Key
    # @param care_case_stage [CareCaseStage] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseStageVBAResponse, Integer, Hash)>] CareCaseStageVBAResponse data, response status code and response headers
    def update_care_case_stage_with_http_info(vbasoftware_database, care_case_stage_key, care_case_stage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseStagesApi.update_care_case_stage ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseStagesApi.update_care_case_stage"
      end
      # verify the required parameter 'care_case_stage_key' is set
      if @api_client.config.client_side_validation && care_case_stage_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage_key' when calling CareCaseStagesApi.update_care_case_stage"
      end
      # verify the required parameter 'care_case_stage' is set
      if @api_client.config.client_side_validation && care_case_stage.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_stage' when calling CareCaseStagesApi.update_care_case_stage"
      end
      # resource path
      local_var_path = '/care-case-stages/{careCaseStageKey}'.sub('{' + 'careCaseStageKey' + '}', CGI.escape(care_case_stage_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_stage)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseStageVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseStagesApi.update_care_case_stage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseStagesApi#update_care_case_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
