=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseProvidersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseProvider
    # Creates a new CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider [CareCaseProvider] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseProviderVBAResponse]
    def create_care_case_provider(vbasoftware_database, case_key, care_case_provider, opts = {})
      data, _status_code, _headers = create_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider, opts)
      data
    end

    # Create CareCaseProvider
    # Creates a new CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider [CareCaseProvider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseProviderVBAResponse, Integer, Hash)>] CareCaseProviderVBAResponse data, response status code and response headers
    def create_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.create_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.create_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.create_care_case_provider"
      end
      # verify the required parameter 'care_case_provider' is set
      if @api_client.config.client_side_validation && care_case_provider.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider' when calling CareCaseProvidersApi.create_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.create_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#create_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseProvider
    # Deletes an CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_provider(vbasoftware_database, case_key, care_case_provider_key, opts = {})
      delete_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, opts)
      nil
    end

    # Delete CareCaseProvider
    # Deletes an CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.delete_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.delete_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.delete_care_case_provider"
      end
      # verify the required parameter 'care_case_provider_key' is set
      if @api_client.config.client_side_validation && care_case_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider_key' when calling CareCaseProvidersApi.delete_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers/{careCaseProviderKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseProviderKey' + '}', CGI.escape(care_case_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.delete_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#delete_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseProvider
    # Gets CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseProviderVBAResponse]
    def get_care_case_provider(vbasoftware_database, case_key, care_case_provider_key, opts = {})
      data, _status_code, _headers = get_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, opts)
      data
    end

    # Get CareCaseProvider
    # Gets CareCaseProvider
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseProviderVBAResponse, Integer, Hash)>] CareCaseProviderVBAResponse data, response status code and response headers
    def get_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.get_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.get_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.get_care_case_provider"
      end
      # verify the required parameter 'care_case_provider_key' is set
      if @api_client.config.client_side_validation && care_case_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider_key' when calling CareCaseProvidersApi.get_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers/{careCaseProviderKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseProviderKey' + '}', CGI.escape(care_case_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.get_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#get_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseProvider
    # Lists all CareCaseProvider for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseProviderListVBAResponse]
    def list_care_case_provider(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_provider_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseProvider
    # Lists all CareCaseProvider for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseProviderListVBAResponse, Integer, Hash)>] CareCaseProviderListVBAResponse data, response status code and response headers
    def list_care_case_provider_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.list_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.list_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.list_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseProviderListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.list_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#list_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseProvider
    # Create or Update multiple CareCaseProvider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider [Array<CareCaseProvider>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_provider(vbasoftware_database, case_key, care_case_provider, opts = {})
      data, _status_code, _headers = update_batch_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider, opts)
      data
    end

    # Create or Update Batch CareCaseProvider
    # Create or Update multiple CareCaseProvider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider [Array<CareCaseProvider>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.update_batch_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.update_batch_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.update_batch_care_case_provider"
      end
      # verify the required parameter 'care_case_provider' is set
      if @api_client.config.client_side_validation && care_case_provider.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider' when calling CareCaseProvidersApi.update_batch_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.update_batch_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#update_batch_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseProvider
    # Updates a specific CareCaseProvider.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param care_case_provider [CareCaseProvider] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseProviderVBAResponse]
    def update_care_case_provider(vbasoftware_database, case_key, care_case_provider_key, care_case_provider, opts = {})
      data, _status_code, _headers = update_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, care_case_provider, opts)
      data
    end

    # Update CareCaseProvider
    # Updates a specific CareCaseProvider.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_provider_key [Integer] CareCaseProvider Key
    # @param care_case_provider [CareCaseProvider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseProviderVBAResponse, Integer, Hash)>] CareCaseProviderVBAResponse data, response status code and response headers
    def update_care_case_provider_with_http_info(vbasoftware_database, case_key, care_case_provider_key, care_case_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseProvidersApi.update_care_case_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseProvidersApi.update_care_case_provider"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseProvidersApi.update_care_case_provider"
      end
      # verify the required parameter 'care_case_provider_key' is set
      if @api_client.config.client_side_validation && care_case_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider_key' when calling CareCaseProvidersApi.update_care_case_provider"
      end
      # verify the required parameter 'care_case_provider' is set
      if @api_client.config.client_side_validation && care_case_provider.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_provider' when calling CareCaseProvidersApi.update_care_case_provider"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/providers/{careCaseProviderKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseProviderKey' + '}', CGI.escape(care_case_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseProvidersApi.update_care_case_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseProvidersApi#update_care_case_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
