=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCase
    # Creates a new CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_case [CareCase] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseVBAResponse]
    def create_care_case(vbasoftware_database, care_plan_key, care_case, opts = {})
      data, _status_code, _headers = create_care_case_with_http_info(vbasoftware_database, care_plan_key, care_case, opts)
      data
    end

    # Create CareCase
    # Creates a new CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_case [CareCase] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseVBAResponse, Integer, Hash)>] CareCaseVBAResponse data, response status code and response headers
    def create_care_case_with_http_info(vbasoftware_database, care_plan_key, care_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.create_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.create_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.create_care_case"
      end
      # verify the required parameter 'care_case' is set
      if @api_client.config.client_side_validation && care_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_case' when calling CareCasesApi.create_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.create_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#create_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCase
    # Deletes an CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case(vbasoftware_database, care_plan_key, case_key, opts = {})
      delete_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, opts)
      nil
    end

    # Delete CareCase
    # Deletes an CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.delete_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.delete_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.delete_care_case"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCasesApi.delete_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases/{caseKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.delete_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#delete_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCase
    # Gets CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseVBAResponse]
    def get_care_case(vbasoftware_database, care_plan_key, case_key, opts = {})
      data, _status_code, _headers = get_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, opts)
      data
    end

    # Get CareCase
    # Gets CareCase
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseVBAResponse, Integer, Hash)>] CareCaseVBAResponse data, response status code and response headers
    def get_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.get_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.get_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.get_care_case"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCasesApi.get_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases/{caseKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.get_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#get_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCase
    # Lists all CareCase for the given carePlanKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseListVBAResponse]
    def list_care_case(vbasoftware_database, care_plan_key, opts = {})
      data, _status_code, _headers = list_care_case_with_http_info(vbasoftware_database, care_plan_key, opts)
      data
    end

    # List CareCase
    # Lists all CareCase for the given carePlanKey
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseListVBAResponse, Integer, Hash)>] CareCaseListVBAResponse data, response status code and response headers
    def list_care_case_with_http_info(vbasoftware_database, care_plan_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.list_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.list_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.list_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.list_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#list_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCase
    # Create or Update multiple CareCase at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_case [Array<CareCase>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case(vbasoftware_database, care_plan_key, care_case, opts = {})
      data, _status_code, _headers = update_batch_care_case_with_http_info(vbasoftware_database, care_plan_key, care_case, opts)
      data
    end

    # Create or Update Batch CareCase
    # Create or Update multiple CareCase at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param care_case [Array<CareCase>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_with_http_info(vbasoftware_database, care_plan_key, care_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.update_batch_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.update_batch_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.update_batch_care_case"
      end
      # verify the required parameter 'care_case' is set
      if @api_client.config.client_side_validation && care_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_case' when calling CareCasesApi.update_batch_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases-batch'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.update_batch_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#update_batch_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCase
    # Updates a specific CareCase.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param care_case [CareCase] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseVBAResponse]
    def update_care_case(vbasoftware_database, care_plan_key, case_key, care_case, opts = {})
      data, _status_code, _headers = update_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, care_case, opts)
      data
    end

    # Update CareCase
    # Updates a specific CareCase.
    # @param vbasoftware_database [String] Target database
    # @param care_plan_key [Integer] CarePlan Key
    # @param case_key [Integer] Case Key
    # @param care_case [CareCase] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseVBAResponse, Integer, Hash)>] CareCaseVBAResponse data, response status code and response headers
    def update_care_case_with_http_info(vbasoftware_database, care_plan_key, case_key, care_case, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCasesApi.update_care_case ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCasesApi.update_care_case"
      end
      # verify the required parameter 'care_plan_key' is set
      if @api_client.config.client_side_validation && care_plan_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_plan_key' when calling CareCasesApi.update_care_case"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCasesApi.update_care_case"
      end
      # verify the required parameter 'care_case' is set
      if @api_client.config.client_side_validation && care_case.nil?
        fail ArgumentError, "Missing the required parameter 'care_case' when calling CareCasesApi.update_care_case"
      end
      # resource path
      local_var_path = '/care-plans/{carePlanKey}/cases/{caseKey}'.sub('{' + 'carePlanKey' + '}', CGI.escape(care_plan_key.to_s)).sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCasesApi.update_care_case",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCasesApi#update_care_case\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
