=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseTreatmentTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseTreatmentType
    # Creates a new CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param care_case_treatment_type [CareCaseTreatmentType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentTypeVBAResponse]
    def create_care_case_treatment_type(vbasoftware_database, care_case_treatment_type, opts = {})
      data, _status_code, _headers = create_care_case_treatment_type_with_http_info(vbasoftware_database, care_case_treatment_type, opts)
      data
    end

    # Create CareCaseTreatmentType
    # Creates a new CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param care_case_treatment_type [CareCaseTreatmentType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentTypeVBAResponse, Integer, Hash)>] CareCaseTreatmentTypeVBAResponse data, response status code and response headers
    def create_care_case_treatment_type_with_http_info(vbasoftware_database, care_case_treatment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.create_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.create_care_case_treatment_type"
      end
      # verify the required parameter 'care_case_treatment_type' is set
      if @api_client.config.client_side_validation && care_case_treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_type' when calling CareCaseTreatmentTypesApi.create_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.create_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#create_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseTreatmentType
    # Deletes an CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_treatment_type(vbasoftware_database, treatment_type, opts = {})
      delete_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, opts)
      nil
    end

    # Delete CareCaseTreatmentType
    # Deletes an CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.delete_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.delete_care_case_treatment_type"
      end
      # verify the required parameter 'treatment_type' is set
      if @api_client.config.client_side_validation && treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'treatment_type' when calling CareCaseTreatmentTypesApi.delete_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types/{treatmentType}'.sub('{' + 'treatmentType' + '}', CGI.escape(treatment_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.delete_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#delete_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseTreatmentType
    # Gets CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentTypeVBAResponse]
    def get_care_case_treatment_type(vbasoftware_database, treatment_type, opts = {})
      data, _status_code, _headers = get_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, opts)
      data
    end

    # Get CareCaseTreatmentType
    # Gets CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentTypeVBAResponse, Integer, Hash)>] CareCaseTreatmentTypeVBAResponse data, response status code and response headers
    def get_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.get_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.get_care_case_treatment_type"
      end
      # verify the required parameter 'treatment_type' is set
      if @api_client.config.client_side_validation && treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'treatment_type' when calling CareCaseTreatmentTypesApi.get_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types/{treatmentType}'.sub('{' + 'treatmentType' + '}', CGI.escape(treatment_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.get_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#get_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseTreatmentType
    # Lists all CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseTreatmentTypeListVBAResponse]
    def list_care_case_treatment_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_case_treatment_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareCaseTreatmentType
    # Lists all CareCaseTreatmentType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseTreatmentTypeListVBAResponse, Integer, Hash)>] CareCaseTreatmentTypeListVBAResponse data, response status code and response headers
    def list_care_case_treatment_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.list_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.list_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.list_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#list_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseTreatmentType
    # Create or Update multiple CareCaseTreatmentType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_treatment_type [Array<CareCaseTreatmentType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_treatment_type(vbasoftware_database, care_case_treatment_type, opts = {})
      data, _status_code, _headers = update_batch_care_case_treatment_type_with_http_info(vbasoftware_database, care_case_treatment_type, opts)
      data
    end

    # Create or Update Batch CareCaseTreatmentType
    # Create or Update multiple CareCaseTreatmentType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_case_treatment_type [Array<CareCaseTreatmentType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_treatment_type_with_http_info(vbasoftware_database, care_case_treatment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.update_batch_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.update_batch_care_case_treatment_type"
      end
      # verify the required parameter 'care_case_treatment_type' is set
      if @api_client.config.client_side_validation && care_case_treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_type' when calling CareCaseTreatmentTypesApi.update_batch_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.update_batch_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#update_batch_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseTreatmentType
    # Updates a specific CareCaseTreatmentType.
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param care_case_treatment_type [CareCaseTreatmentType] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseTreatmentTypeVBAResponse]
    def update_care_case_treatment_type(vbasoftware_database, treatment_type, care_case_treatment_type, opts = {})
      data, _status_code, _headers = update_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, care_case_treatment_type, opts)
      data
    end

    # Update CareCaseTreatmentType
    # Updates a specific CareCaseTreatmentType.
    # @param vbasoftware_database [String] Target database
    # @param treatment_type [String] Treatment Type
    # @param care_case_treatment_type [CareCaseTreatmentType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseTreatmentTypeVBAResponse, Integer, Hash)>] CareCaseTreatmentTypeVBAResponse data, response status code and response headers
    def update_care_case_treatment_type_with_http_info(vbasoftware_database, treatment_type, care_case_treatment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseTreatmentTypesApi.update_care_case_treatment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseTreatmentTypesApi.update_care_case_treatment_type"
      end
      # verify the required parameter 'treatment_type' is set
      if @api_client.config.client_side_validation && treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'treatment_type' when calling CareCaseTreatmentTypesApi.update_care_case_treatment_type"
      end
      # verify the required parameter 'care_case_treatment_type' is set
      if @api_client.config.client_side_validation && care_case_treatment_type.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_treatment_type' when calling CareCaseTreatmentTypesApi.update_care_case_treatment_type"
      end
      # resource path
      local_var_path = '/care-case-treatment-types/{treatmentType}'.sub('{' + 'treatmentType' + '}', CGI.escape(treatment_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_treatment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseTreatmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseTreatmentTypesApi.update_care_case_treatment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseTreatmentTypesApi#update_care_case_treatment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
