=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareUnitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareUnit
    # Creates a new CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit [CareUnit] 
    # @param [Hash] opts the optional parameters
    # @return [CareUnitVBAResponse]
    def create_care_unit(vbasoftware_database, care_unit, opts = {})
      data, _status_code, _headers = create_care_unit_with_http_info(vbasoftware_database, care_unit, opts)
      data
    end

    # Create CareUnit
    # Creates a new CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit [CareUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitVBAResponse, Integer, Hash)>] CareUnitVBAResponse data, response status code and response headers
    def create_care_unit_with_http_info(vbasoftware_database, care_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.create_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.create_care_unit"
      end
      # verify the required parameter 'care_unit' is set
      if @api_client.config.client_side_validation && care_unit.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit' when calling CareUnitsApi.create_care_unit"
      end
      # resource path
      local_var_path = '/care-units'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.create_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#create_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareUnit
    # Deletes an CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_unit(vbasoftware_database, care_unit_key, opts = {})
      delete_care_unit_with_http_info(vbasoftware_database, care_unit_key, opts)
      nil
    end

    # Delete CareUnit
    # Deletes an CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_unit_with_http_info(vbasoftware_database, care_unit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.delete_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.delete_care_unit"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitsApi.delete_care_unit"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.delete_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#delete_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareUnit
    # Gets CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @return [CareUnitVBAResponse]
    def get_care_unit(vbasoftware_database, care_unit_key, opts = {})
      data, _status_code, _headers = get_care_unit_with_http_info(vbasoftware_database, care_unit_key, opts)
      data
    end

    # Get CareUnit
    # Gets CareUnit
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitVBAResponse, Integer, Hash)>] CareUnitVBAResponse data, response status code and response headers
    def get_care_unit_with_http_info(vbasoftware_database, care_unit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.get_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.get_care_unit"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitsApi.get_care_unit"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.get_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#get_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareUnit
    # Lists all CareUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareUnitListVBAResponse]
    def list_care_unit(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_care_unit_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CareUnit
    # Lists all CareUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareUnitListVBAResponse, Integer, Hash)>] CareUnitListVBAResponse data, response status code and response headers
    def list_care_unit_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.list_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.list_care_unit"
      end
      # resource path
      local_var_path = '/care-units'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.list_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#list_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareUnit
    # Create or Update multiple CareUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_unit [Array<CareUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_unit(vbasoftware_database, care_unit, opts = {})
      data, _status_code, _headers = update_batch_care_unit_with_http_info(vbasoftware_database, care_unit, opts)
      data
    end

    # Create or Update Batch CareUnit
    # Create or Update multiple CareUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param care_unit [Array<CareUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_unit_with_http_info(vbasoftware_database, care_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.update_batch_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.update_batch_care_unit"
      end
      # verify the required parameter 'care_unit' is set
      if @api_client.config.client_side_validation && care_unit.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit' when calling CareUnitsApi.update_batch_care_unit"
      end
      # resource path
      local_var_path = '/care-units-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.update_batch_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#update_batch_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareUnit
    # Updates a specific CareUnit.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit [CareUnit] 
    # @param [Hash] opts the optional parameters
    # @return [CareUnitVBAResponse]
    def update_care_unit(vbasoftware_database, care_unit_key, care_unit, opts = {})
      data, _status_code, _headers = update_care_unit_with_http_info(vbasoftware_database, care_unit_key, care_unit, opts)
      data
    end

    # Update CareUnit
    # Updates a specific CareUnit.
    # @param vbasoftware_database [String] Target database
    # @param care_unit_key [Integer] CareUnit Key
    # @param care_unit [CareUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareUnitVBAResponse, Integer, Hash)>] CareUnitVBAResponse data, response status code and response headers
    def update_care_unit_with_http_info(vbasoftware_database, care_unit_key, care_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareUnitsApi.update_care_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareUnitsApi.update_care_unit"
      end
      # verify the required parameter 'care_unit_key' is set
      if @api_client.config.client_side_validation && care_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit_key' when calling CareUnitsApi.update_care_unit"
      end
      # verify the required parameter 'care_unit' is set
      if @api_client.config.client_side_validation && care_unit.nil?
        fail ArgumentError, "Missing the required parameter 'care_unit' when calling CareUnitsApi.update_care_unit"
      end
      # resource path
      local_var_path = '/care-units/{careUnitKey}'.sub('{' + 'careUnitKey' + '}', CGI.escape(care_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'CareUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareUnitsApi.update_care_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareUnitsApi#update_care_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
