=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseMembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseMember
    # Creates a new CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_member [CareCaseMember] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseMemberVBAResponse]
    def create_care_case_member(vbasoftware_database, case_key, care_case_member, opts = {})
      data, _status_code, _headers = create_care_case_member_with_http_info(vbasoftware_database, case_key, care_case_member, opts)
      data
    end

    # Create CareCaseMember
    # Creates a new CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_member [CareCaseMember] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseMemberVBAResponse, Integer, Hash)>] CareCaseMemberVBAResponse data, response status code and response headers
    def create_care_case_member_with_http_info(vbasoftware_database, case_key, care_case_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.create_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.create_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.create_care_case_member"
      end
      # verify the required parameter 'care_case_member' is set
      if @api_client.config.client_side_validation && care_case_member.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_member' when calling CareCaseMembersApi.create_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_member)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseMemberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.create_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#create_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseMember
    # Deletes an CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_member(vbasoftware_database, case_key, subscriber_id, member_seq, opts = {})
      delete_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, opts)
      nil
    end

    # Delete CareCaseMember
    # Deletes an CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.delete_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.delete_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.delete_care_case_member"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling CareCaseMembersApi.delete_care_case_member"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling CareCaseMembersApi.delete_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members/{subscriberID}/{memberSeq}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.delete_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#delete_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseMember
    # Gets CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [CareCaseMemberVBAResponse]
    def get_care_case_member(vbasoftware_database, case_key, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = get_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, opts)
      data
    end

    # Get CareCaseMember
    # Gets CareCaseMember
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseMemberVBAResponse, Integer, Hash)>] CareCaseMemberVBAResponse data, response status code and response headers
    def get_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.get_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.get_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.get_care_case_member"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling CareCaseMembersApi.get_care_case_member"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling CareCaseMembersApi.get_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members/{subscriberID}/{memberSeq}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseMemberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.get_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#get_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseMember
    # Lists all CareCaseMember for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseMemberListVBAResponse]
    def list_care_case_member(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_member_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseMember
    # Lists all CareCaseMember for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseMemberListVBAResponse, Integer, Hash)>] CareCaseMemberListVBAResponse data, response status code and response headers
    def list_care_case_member_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.list_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.list_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.list_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseMemberListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.list_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#list_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseMember
    # Create or Update multiple CareCaseMember at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_member [Array<CareCaseMember>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_member(vbasoftware_database, case_key, care_case_member, opts = {})
      data, _status_code, _headers = update_batch_care_case_member_with_http_info(vbasoftware_database, case_key, care_case_member, opts)
      data
    end

    # Create or Update Batch CareCaseMember
    # Create or Update multiple CareCaseMember at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_member [Array<CareCaseMember>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_member_with_http_info(vbasoftware_database, case_key, care_case_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.update_batch_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.update_batch_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.update_batch_care_case_member"
      end
      # verify the required parameter 'care_case_member' is set
      if @api_client.config.client_side_validation && care_case_member.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_member' when calling CareCaseMembersApi.update_batch_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_member)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.update_batch_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#update_batch_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseMember
    # Updates a specific CareCaseMember.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param care_case_member [CareCaseMember] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseMemberVBAResponse]
    def update_care_case_member(vbasoftware_database, case_key, subscriber_id, member_seq, care_case_member, opts = {})
      data, _status_code, _headers = update_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, care_case_member, opts)
      data
    end

    # Update CareCaseMember
    # Updates a specific CareCaseMember.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param care_case_member [CareCaseMember] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseMemberVBAResponse, Integer, Hash)>] CareCaseMemberVBAResponse data, response status code and response headers
    def update_care_case_member_with_http_info(vbasoftware_database, case_key, subscriber_id, member_seq, care_case_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseMembersApi.update_care_case_member ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseMembersApi.update_care_case_member"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseMembersApi.update_care_case_member"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling CareCaseMembersApi.update_care_case_member"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling CareCaseMembersApi.update_care_case_member"
      end
      # verify the required parameter 'care_case_member' is set
      if @api_client.config.client_side_validation && care_case_member.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_member' when calling CareCaseMembersApi.update_care_case_member"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/members/{subscriberID}/{memberSeq}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_member)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseMemberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseMembersApi.update_care_case_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseMembersApi#update_care_case_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
