=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CareCaseWorkLogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CareCaseWorkLog
    # Creates a new CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log [CareCaseWorkLog] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogVBAResponse]
    def create_care_case_work_log(vbasoftware_database, case_key, care_case_work_log, opts = {})
      data, _status_code, _headers = create_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log, opts)
      data
    end

    # Create CareCaseWorkLog
    # Creates a new CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log [CareCaseWorkLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogVBAResponse, Integer, Hash)>] CareCaseWorkLogVBAResponse data, response status code and response headers
    def create_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.create_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.create_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.create_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log' is set
      if @api_client.config.client_side_validation && care_case_work_log.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log' when calling CareCaseWorkLogsApi.create_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.create_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#create_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CareCaseWorkLog
    # Deletes an CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_care_case_work_log(vbasoftware_database, case_key, care_case_work_log_key, opts = {})
      delete_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, opts)
      nil
    end

    # Delete CareCaseWorkLog
    # Deletes an CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.delete_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.delete_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.delete_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log_key' is set
      if @api_client.config.client_side_validation && care_case_work_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_key' when calling CareCaseWorkLogsApi.delete_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs/{careCaseWorkLogKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseWorkLogKey' + '}', CGI.escape(care_case_work_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.delete_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#delete_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CareCaseWorkLog
    # Gets CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogVBAResponse]
    def get_care_case_work_log(vbasoftware_database, case_key, care_case_work_log_key, opts = {})
      data, _status_code, _headers = get_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, opts)
      data
    end

    # Get CareCaseWorkLog
    # Gets CareCaseWorkLog
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogVBAResponse, Integer, Hash)>] CareCaseWorkLogVBAResponse data, response status code and response headers
    def get_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.get_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.get_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.get_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log_key' is set
      if @api_client.config.client_side_validation && care_case_work_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_key' when calling CareCaseWorkLogsApi.get_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs/{careCaseWorkLogKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseWorkLogKey' + '}', CGI.escape(care_case_work_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.get_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#get_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CareCaseWorkLog
    # Lists all CareCaseWorkLog for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CareCaseWorkLogListVBAResponse]
    def list_care_case_work_log(vbasoftware_database, case_key, opts = {})
      data, _status_code, _headers = list_care_case_work_log_with_http_info(vbasoftware_database, case_key, opts)
      data
    end

    # List CareCaseWorkLog
    # Lists all CareCaseWorkLog for the given caseKey
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CareCaseWorkLogListVBAResponse, Integer, Hash)>] CareCaseWorkLogListVBAResponse data, response status code and response headers
    def list_care_case_work_log_with_http_info(vbasoftware_database, case_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.list_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.list_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.list_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.list_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#list_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CareCaseWorkLog
    # Create or Update multiple CareCaseWorkLog at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log [Array<CareCaseWorkLog>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_care_case_work_log(vbasoftware_database, case_key, care_case_work_log, opts = {})
      data, _status_code, _headers = update_batch_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log, opts)
      data
    end

    # Create or Update Batch CareCaseWorkLog
    # Create or Update multiple CareCaseWorkLog at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log [Array<CareCaseWorkLog>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.update_batch_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.update_batch_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.update_batch_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log' is set
      if @api_client.config.client_side_validation && care_case_work_log.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log' when calling CareCaseWorkLogsApi.update_batch_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs-batch'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.update_batch_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#update_batch_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CareCaseWorkLog
    # Updates a specific CareCaseWorkLog.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param care_case_work_log [CareCaseWorkLog] 
    # @param [Hash] opts the optional parameters
    # @return [CareCaseWorkLogVBAResponse]
    def update_care_case_work_log(vbasoftware_database, case_key, care_case_work_log_key, care_case_work_log, opts = {})
      data, _status_code, _headers = update_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, care_case_work_log, opts)
      data
    end

    # Update CareCaseWorkLog
    # Updates a specific CareCaseWorkLog.
    # @param vbasoftware_database [String] Target database
    # @param case_key [Integer] Case Key
    # @param care_case_work_log_key [Integer] CareCaseWorkLog Key
    # @param care_case_work_log [CareCaseWorkLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CareCaseWorkLogVBAResponse, Integer, Hash)>] CareCaseWorkLogVBAResponse data, response status code and response headers
    def update_care_case_work_log_with_http_info(vbasoftware_database, case_key, care_case_work_log_key, care_case_work_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CareCaseWorkLogsApi.update_care_case_work_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CareCaseWorkLogsApi.update_care_case_work_log"
      end
      # verify the required parameter 'case_key' is set
      if @api_client.config.client_side_validation && case_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_key' when calling CareCaseWorkLogsApi.update_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log_key' is set
      if @api_client.config.client_side_validation && care_case_work_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log_key' when calling CareCaseWorkLogsApi.update_care_case_work_log"
      end
      # verify the required parameter 'care_case_work_log' is set
      if @api_client.config.client_side_validation && care_case_work_log.nil?
        fail ArgumentError, "Missing the required parameter 'care_case_work_log' when calling CareCaseWorkLogsApi.update_care_case_work_log"
      end
      # resource path
      local_var_path = '/cases/{caseKey}/work-logs/{careCaseWorkLogKey}'.sub('{' + 'caseKey' + '}', CGI.escape(case_key.to_s)).sub('{' + 'careCaseWorkLogKey' + '}', CGI.escape(care_case_work_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(care_case_work_log)

      # return_type
      return_type = opts[:debug_return_type] || 'CareCaseWorkLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CareCaseWorkLogsApi.update_care_case_work_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CareCaseWorkLogsApi#update_care_case_work_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
