=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CaseStatusReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CaseStatusReason
    # Creates a new CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [CaseStatusReason] 
    # @param [Hash] opts the optional parameters
    # @return [CaseStatusReasonVBAResponse]
    def create_case_status_reason(vbasoftware_database, case_status_reason, opts = {})
      data, _status_code, _headers = create_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts)
      data
    end

    # Create CaseStatusReason
    # Creates a new CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [CaseStatusReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseStatusReasonVBAResponse, Integer, Hash)>] CaseStatusReasonVBAResponse data, response status code and response headers
    def create_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.create_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.create_case_status_reason"
      end
      # verify the required parameter 'case_status_reason' is set
      if @api_client.config.client_side_validation && case_status_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason' when calling CaseStatusReasonsApi.create_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_status_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseStatusReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.create_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#create_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CaseStatusReason
    # Deletes an CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_case_status_reason(vbasoftware_database, case_status_reason, opts = {})
      delete_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts)
      nil
    end

    # Delete CaseStatusReason
    # Deletes an CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.delete_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.delete_case_status_reason"
      end
      # verify the required parameter 'case_status_reason' is set
      if @api_client.config.client_side_validation && case_status_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason' when calling CaseStatusReasonsApi.delete_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons/{caseStatusReason}'.sub('{' + 'caseStatusReason' + '}', CGI.escape(case_status_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.delete_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#delete_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CaseStatusReason
    # Gets CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param [Hash] opts the optional parameters
    # @return [CaseStatusReasonVBAResponse]
    def get_case_status_reason(vbasoftware_database, case_status_reason, opts = {})
      data, _status_code, _headers = get_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts)
      data
    end

    # Get CaseStatusReason
    # Gets CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseStatusReasonVBAResponse, Integer, Hash)>] CaseStatusReasonVBAResponse data, response status code and response headers
    def get_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.get_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.get_case_status_reason"
      end
      # verify the required parameter 'case_status_reason' is set
      if @api_client.config.client_side_validation && case_status_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason' when calling CaseStatusReasonsApi.get_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons/{caseStatusReason}'.sub('{' + 'caseStatusReason' + '}', CGI.escape(case_status_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseStatusReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.get_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#get_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CaseStatusReason
    # Lists all CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CaseStatusReasonListVBAResponse]
    def list_case_status_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_case_status_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CaseStatusReason
    # Lists all CaseStatusReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CaseStatusReasonListVBAResponse, Integer, Hash)>] CaseStatusReasonListVBAResponse data, response status code and response headers
    def list_case_status_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.list_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.list_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseStatusReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.list_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#list_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CaseStatusReason
    # Create or Update multiple CaseStatusReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [Array<CaseStatusReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_case_status_reason(vbasoftware_database, case_status_reason, opts = {})
      data, _status_code, _headers = update_batch_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts)
      data
    end

    # Create or Update Batch CaseStatusReason
    # Create or Update multiple CaseStatusReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [Array<CaseStatusReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.update_batch_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.update_batch_case_status_reason"
      end
      # verify the required parameter 'case_status_reason' is set
      if @api_client.config.client_side_validation && case_status_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason' when calling CaseStatusReasonsApi.update_batch_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_status_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.update_batch_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#update_batch_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CaseStatusReason
    # Updates a specific CaseStatusReason.
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param case_status_reason2 [CaseStatusReason] 
    # @param [Hash] opts the optional parameters
    # @return [CaseStatusReasonVBAResponse]
    def update_case_status_reason(vbasoftware_database, case_status_reason, case_status_reason2, opts = {})
      data, _status_code, _headers = update_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, case_status_reason2, opts)
      data
    end

    # Update CaseStatusReason
    # Updates a specific CaseStatusReason.
    # @param vbasoftware_database [String] Target database
    # @param case_status_reason [String] Case Status Reason
    # @param case_status_reason2 [CaseStatusReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseStatusReasonVBAResponse, Integer, Hash)>] CaseStatusReasonVBAResponse data, response status code and response headers
    def update_case_status_reason_with_http_info(vbasoftware_database, case_status_reason, case_status_reason2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseStatusReasonsApi.update_case_status_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseStatusReasonsApi.update_case_status_reason"
      end
      # verify the required parameter 'case_status_reason' is set
      if @api_client.config.client_side_validation && case_status_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason' when calling CaseStatusReasonsApi.update_case_status_reason"
      end
      # verify the required parameter 'case_status_reason2' is set
      if @api_client.config.client_side_validation && case_status_reason2.nil?
        fail ArgumentError, "Missing the required parameter 'case_status_reason2' when calling CaseStatusReasonsApi.update_case_status_reason"
      end
      # resource path
      local_var_path = '/case-status-reasons/{caseStatusReason}'.sub('{' + 'caseStatusReason' + '}', CGI.escape(case_status_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_status_reason2)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseStatusReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseStatusReasonsApi.update_case_status_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseStatusReasonsApi#update_case_status_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
