=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CaseCloseReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CaseCloseReason
    # Creates a new CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [CaseCloseReason] 
    # @param [Hash] opts the optional parameters
    # @return [CaseCloseReasonVBAResponse]
    def create_case_close_reason(vbasoftware_database, case_close_reason, opts = {})
      data, _status_code, _headers = create_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts)
      data
    end

    # Create CaseCloseReason
    # Creates a new CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [CaseCloseReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseCloseReasonVBAResponse, Integer, Hash)>] CaseCloseReasonVBAResponse data, response status code and response headers
    def create_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.create_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.create_case_close_reason"
      end
      # verify the required parameter 'case_close_reason' is set
      if @api_client.config.client_side_validation && case_close_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason' when calling CaseCloseReasonsApi.create_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_close_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseCloseReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.create_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#create_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CaseCloseReason
    # Deletes an CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_case_close_reason(vbasoftware_database, case_close_reason, opts = {})
      delete_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts)
      nil
    end

    # Delete CaseCloseReason
    # Deletes an CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.delete_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.delete_case_close_reason"
      end
      # verify the required parameter 'case_close_reason' is set
      if @api_client.config.client_side_validation && case_close_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason' when calling CaseCloseReasonsApi.delete_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons/{caseCloseReason}'.sub('{' + 'caseCloseReason' + '}', CGI.escape(case_close_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.delete_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#delete_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CaseCloseReason
    # Gets CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param [Hash] opts the optional parameters
    # @return [CaseCloseReasonVBAResponse]
    def get_case_close_reason(vbasoftware_database, case_close_reason, opts = {})
      data, _status_code, _headers = get_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts)
      data
    end

    # Get CaseCloseReason
    # Gets CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseCloseReasonVBAResponse, Integer, Hash)>] CaseCloseReasonVBAResponse data, response status code and response headers
    def get_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.get_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.get_case_close_reason"
      end
      # verify the required parameter 'case_close_reason' is set
      if @api_client.config.client_side_validation && case_close_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason' when calling CaseCloseReasonsApi.get_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons/{caseCloseReason}'.sub('{' + 'caseCloseReason' + '}', CGI.escape(case_close_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseCloseReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.get_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#get_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CaseCloseReason
    # Lists all CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CaseCloseReasonListVBAResponse]
    def list_case_close_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_case_close_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CaseCloseReason
    # Lists all CaseCloseReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CaseCloseReasonListVBAResponse, Integer, Hash)>] CaseCloseReasonListVBAResponse data, response status code and response headers
    def list_case_close_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.list_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.list_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseCloseReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.list_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#list_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CaseCloseReason
    # Create or Update multiple CaseCloseReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [Array<CaseCloseReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_case_close_reason(vbasoftware_database, case_close_reason, opts = {})
      data, _status_code, _headers = update_batch_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts)
      data
    end

    # Create or Update Batch CaseCloseReason
    # Create or Update multiple CaseCloseReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [Array<CaseCloseReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.update_batch_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.update_batch_case_close_reason"
      end
      # verify the required parameter 'case_close_reason' is set
      if @api_client.config.client_side_validation && case_close_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason' when calling CaseCloseReasonsApi.update_batch_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_close_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.update_batch_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#update_batch_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CaseCloseReason
    # Updates a specific CaseCloseReason.
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param case_close_reason2 [CaseCloseReason] 
    # @param [Hash] opts the optional parameters
    # @return [CaseCloseReasonVBAResponse]
    def update_case_close_reason(vbasoftware_database, case_close_reason, case_close_reason2, opts = {})
      data, _status_code, _headers = update_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, case_close_reason2, opts)
      data
    end

    # Update CaseCloseReason
    # Updates a specific CaseCloseReason.
    # @param vbasoftware_database [String] Target database
    # @param case_close_reason [String] Case Close Reason
    # @param case_close_reason2 [CaseCloseReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseCloseReasonVBAResponse, Integer, Hash)>] CaseCloseReasonVBAResponse data, response status code and response headers
    def update_case_close_reason_with_http_info(vbasoftware_database, case_close_reason, case_close_reason2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseCloseReasonsApi.update_case_close_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseCloseReasonsApi.update_case_close_reason"
      end
      # verify the required parameter 'case_close_reason' is set
      if @api_client.config.client_side_validation && case_close_reason.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason' when calling CaseCloseReasonsApi.update_case_close_reason"
      end
      # verify the required parameter 'case_close_reason2' is set
      if @api_client.config.client_side_validation && case_close_reason2.nil?
        fail ArgumentError, "Missing the required parameter 'case_close_reason2' when calling CaseCloseReasonsApi.update_case_close_reason"
      end
      # resource path
      local_var_path = '/case-close-reasons/{caseCloseReason}'.sub('{' + 'caseCloseReason' + '}', CGI.escape(case_close_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_close_reason2)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseCloseReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseCloseReasonsApi.update_case_close_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseCloseReasonsApi#update_case_close_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
