=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CasePrioritiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CasePriority
    # Creates a new CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [CasePriority] 
    # @param [Hash] opts the optional parameters
    # @return [CasePriorityVBAResponse]
    def create_case_priority(vbasoftware_database, case_priority, opts = {})
      data, _status_code, _headers = create_case_priority_with_http_info(vbasoftware_database, case_priority, opts)
      data
    end

    # Create CasePriority
    # Creates a new CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [CasePriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasePriorityVBAResponse, Integer, Hash)>] CasePriorityVBAResponse data, response status code and response headers
    def create_case_priority_with_http_info(vbasoftware_database, case_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.create_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.create_case_priority"
      end
      # verify the required parameter 'case_priority' is set
      if @api_client.config.client_side_validation && case_priority.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority' when calling CasePrioritiesApi.create_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'CasePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.create_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#create_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CasePriority
    # Deletes an CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_case_priority(vbasoftware_database, case_priority, opts = {})
      delete_case_priority_with_http_info(vbasoftware_database, case_priority, opts)
      nil
    end

    # Delete CasePriority
    # Deletes an CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_case_priority_with_http_info(vbasoftware_database, case_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.delete_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.delete_case_priority"
      end
      # verify the required parameter 'case_priority' is set
      if @api_client.config.client_side_validation && case_priority.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority' when calling CasePrioritiesApi.delete_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities/{casePriority}'.sub('{' + 'casePriority' + '}', CGI.escape(case_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.delete_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#delete_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CasePriority
    # Gets CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param [Hash] opts the optional parameters
    # @return [CasePriorityVBAResponse]
    def get_case_priority(vbasoftware_database, case_priority, opts = {})
      data, _status_code, _headers = get_case_priority_with_http_info(vbasoftware_database, case_priority, opts)
      data
    end

    # Get CasePriority
    # Gets CasePriority
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasePriorityVBAResponse, Integer, Hash)>] CasePriorityVBAResponse data, response status code and response headers
    def get_case_priority_with_http_info(vbasoftware_database, case_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.get_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.get_case_priority"
      end
      # verify the required parameter 'case_priority' is set
      if @api_client.config.client_side_validation && case_priority.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority' when calling CasePrioritiesApi.get_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities/{casePriority}'.sub('{' + 'casePriority' + '}', CGI.escape(case_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.get_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#get_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CasePriority
    # Lists all CasePriority
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CasePriorityListVBAResponse]
    def list_case_priority(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_case_priority_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CasePriority
    # Lists all CasePriority
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CasePriorityListVBAResponse, Integer, Hash)>] CasePriorityListVBAResponse data, response status code and response headers
    def list_case_priority_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.list_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.list_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasePriorityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.list_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#list_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CasePriority
    # Create or Update multiple CasePriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Array<CasePriority>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_case_priority(vbasoftware_database, case_priority, opts = {})
      data, _status_code, _headers = update_batch_case_priority_with_http_info(vbasoftware_database, case_priority, opts)
      data
    end

    # Create or Update Batch CasePriority
    # Create or Update multiple CasePriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Array<CasePriority>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_case_priority_with_http_info(vbasoftware_database, case_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.update_batch_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.update_batch_case_priority"
      end
      # verify the required parameter 'case_priority' is set
      if @api_client.config.client_side_validation && case_priority.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority' when calling CasePrioritiesApi.update_batch_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.update_batch_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#update_batch_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CasePriority
    # Updates a specific CasePriority.
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param case_priority2 [CasePriority] 
    # @param [Hash] opts the optional parameters
    # @return [CasePriorityVBAResponse]
    def update_case_priority(vbasoftware_database, case_priority, case_priority2, opts = {})
      data, _status_code, _headers = update_case_priority_with_http_info(vbasoftware_database, case_priority, case_priority2, opts)
      data
    end

    # Update CasePriority
    # Updates a specific CasePriority.
    # @param vbasoftware_database [String] Target database
    # @param case_priority [Integer] Case Priority
    # @param case_priority2 [CasePriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasePriorityVBAResponse, Integer, Hash)>] CasePriorityVBAResponse data, response status code and response headers
    def update_case_priority_with_http_info(vbasoftware_database, case_priority, case_priority2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CasePrioritiesApi.update_case_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CasePrioritiesApi.update_case_priority"
      end
      # verify the required parameter 'case_priority' is set
      if @api_client.config.client_side_validation && case_priority.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority' when calling CasePrioritiesApi.update_case_priority"
      end
      # verify the required parameter 'case_priority2' is set
      if @api_client.config.client_side_validation && case_priority2.nil?
        fail ArgumentError, "Missing the required parameter 'case_priority2' when calling CasePrioritiesApi.update_case_priority"
      end
      # resource path
      local_var_path = '/case-priorities/{casePriority}'.sub('{' + 'casePriority' + '}', CGI.escape(case_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_priority2)

      # return_type
      return_type = opts[:debug_return_type] || 'CasePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CasePrioritiesApi.update_case_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CasePrioritiesApi#update_case_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
