=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CaseAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CaseAttachment
    # Creates a new CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment [CaseAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [CaseAttachmentVBAResponse]
    def create_case_attachment(vbasoftware_database, case_attachment, opts = {})
      data, _status_code, _headers = create_case_attachment_with_http_info(vbasoftware_database, case_attachment, opts)
      data
    end

    # Create CaseAttachment
    # Creates a new CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment [CaseAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseAttachmentVBAResponse, Integer, Hash)>] CaseAttachmentVBAResponse data, response status code and response headers
    def create_case_attachment_with_http_info(vbasoftware_database, case_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.create_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.create_case_attachment"
      end
      # verify the required parameter 'case_attachment' is set
      if @api_client.config.client_side_validation && case_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment' when calling CaseAttachmentsApi.create_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.create_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#create_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CaseAttachment
    # Deletes an CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_case_attachment(vbasoftware_database, case_attachment_key, opts = {})
      delete_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, opts)
      nil
    end

    # Delete CaseAttachment
    # Deletes an CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.delete_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.delete_case_attachment"
      end
      # verify the required parameter 'case_attachment_key' is set
      if @api_client.config.client_side_validation && case_attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment_key' when calling CaseAttachmentsApi.delete_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments/{CaseAttachment_Key}'.sub('{' + 'CaseAttachment_Key' + '}', CGI.escape(case_attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.delete_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#delete_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CaseAttachment
    # Gets CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param [Hash] opts the optional parameters
    # @return [CaseAttachmentVBAResponse]
    def get_case_attachment(vbasoftware_database, case_attachment_key, opts = {})
      data, _status_code, _headers = get_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, opts)
      data
    end

    # Get CaseAttachment
    # Gets CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseAttachmentVBAResponse, Integer, Hash)>] CaseAttachmentVBAResponse data, response status code and response headers
    def get_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.get_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.get_case_attachment"
      end
      # verify the required parameter 'case_attachment_key' is set
      if @api_client.config.client_side_validation && case_attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment_key' when calling CaseAttachmentsApi.get_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments/{CaseAttachment_Key}'.sub('{' + 'CaseAttachment_Key' + '}', CGI.escape(case_attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.get_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#get_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CaseAttachment
    # Lists all CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CaseAttachmentListVBAResponse]
    def list_case_attachment(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_case_attachment_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CaseAttachment
    # Lists all CaseAttachment
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CaseAttachmentListVBAResponse, Integer, Hash)>] CaseAttachmentListVBAResponse data, response status code and response headers
    def list_case_attachment_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.list_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.list_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseAttachmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.list_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#list_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CaseAttachment
    # Create or Update multiple CaseAttachment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_attachment [Array<CaseAttachment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_case_attachment(vbasoftware_database, case_attachment, opts = {})
      data, _status_code, _headers = update_batch_case_attachment_with_http_info(vbasoftware_database, case_attachment, opts)
      data
    end

    # Create or Update Batch CaseAttachment
    # Create or Update multiple CaseAttachment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_attachment [Array<CaseAttachment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_case_attachment_with_http_info(vbasoftware_database, case_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.update_batch_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.update_batch_case_attachment"
      end
      # verify the required parameter 'case_attachment' is set
      if @api_client.config.client_side_validation && case_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment' when calling CaseAttachmentsApi.update_batch_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.update_batch_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#update_batch_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CaseAttachment
    # Updates a specific CaseAttachment.
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param case_attachment [CaseAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [CaseAttachmentVBAResponse]
    def update_case_attachment(vbasoftware_database, case_attachment_key, case_attachment, opts = {})
      data, _status_code, _headers = update_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, case_attachment, opts)
      data
    end

    # Update CaseAttachment
    # Updates a specific CaseAttachment.
    # @param vbasoftware_database [String] Target database
    # @param case_attachment_key [Integer] CaseAttachment Key
    # @param case_attachment [CaseAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseAttachmentVBAResponse, Integer, Hash)>] CaseAttachmentVBAResponse data, response status code and response headers
    def update_case_attachment_with_http_info(vbasoftware_database, case_attachment_key, case_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseAttachmentsApi.update_case_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseAttachmentsApi.update_case_attachment"
      end
      # verify the required parameter 'case_attachment_key' is set
      if @api_client.config.client_side_validation && case_attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment_key' when calling CaseAttachmentsApi.update_case_attachment"
      end
      # verify the required parameter 'case_attachment' is set
      if @api_client.config.client_side_validation && case_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'case_attachment' when calling CaseAttachmentsApi.update_case_attachment"
      end
      # resource path
      local_var_path = '/case-attachments/{CaseAttachment_Key}'.sub('{' + 'CaseAttachment_Key' + '}', CGI.escape(case_attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseAttachmentsApi.update_case_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseAttachmentsApi#update_case_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
