=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CaseHeadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CaseHead
    # Creates a new CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head [CaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [CaseHeadVBAResponse]
    def create_case_head(vbasoftware_database, case_head, opts = {})
      data, _status_code, _headers = create_case_head_with_http_info(vbasoftware_database, case_head, opts)
      data
    end

    # Create CaseHead
    # Creates a new CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head [CaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseHeadVBAResponse, Integer, Hash)>] CaseHeadVBAResponse data, response status code and response headers
    def create_case_head_with_http_info(vbasoftware_database, case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.create_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.create_case_head"
      end
      # verify the required parameter 'case_head' is set
      if @api_client.config.client_side_validation && case_head.nil?
        fail ArgumentError, "Missing the required parameter 'case_head' when calling CaseHeadsApi.create_case_head"
      end
      # resource path
      local_var_path = '/case-heads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.create_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#create_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CaseHead
    # Deletes an CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_case_head(vbasoftware_database, case_head_key, opts = {})
      delete_case_head_with_http_info(vbasoftware_database, case_head_key, opts)
      nil
    end

    # Delete CaseHead
    # Deletes an CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_case_head_with_http_info(vbasoftware_database, case_head_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.delete_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.delete_case_head"
      end
      # verify the required parameter 'case_head_key' is set
      if @api_client.config.client_side_validation && case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_head_key' when calling CaseHeadsApi.delete_case_head"
      end
      # resource path
      local_var_path = '/case-heads/{caseHeadKey}'.sub('{' + 'caseHeadKey' + '}', CGI.escape(case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.delete_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#delete_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CaseHead
    # Gets CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [CaseHeadVBAResponse]
    def get_case_head(vbasoftware_database, case_head_key, opts = {})
      data, _status_code, _headers = get_case_head_with_http_info(vbasoftware_database, case_head_key, opts)
      data
    end

    # Get CaseHead
    # Gets CaseHead
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseHeadVBAResponse, Integer, Hash)>] CaseHeadVBAResponse data, response status code and response headers
    def get_case_head_with_http_info(vbasoftware_database, case_head_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.get_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.get_case_head"
      end
      # verify the required parameter 'case_head_key' is set
      if @api_client.config.client_side_validation && case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_head_key' when calling CaseHeadsApi.get_case_head"
      end
      # resource path
      local_var_path = '/case-heads/{caseHeadKey}'.sub('{' + 'caseHeadKey' + '}', CGI.escape(case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.get_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#get_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CaseHead
    # Lists all CaseHead
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CaseHeadListVBAResponse]
    def list_case_head(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_case_head_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CaseHead
    # Lists all CaseHead
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CaseHeadListVBAResponse, Integer, Hash)>] CaseHeadListVBAResponse data, response status code and response headers
    def list_case_head_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.list_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.list_case_head"
      end
      # resource path
      local_var_path = '/case-heads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CaseHeadListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.list_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#list_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CaseHead
    # Create or Update multiple CaseHead at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_head [Array<CaseHead>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_case_head(vbasoftware_database, case_head, opts = {})
      data, _status_code, _headers = update_batch_case_head_with_http_info(vbasoftware_database, case_head, opts)
      data
    end

    # Create or Update Batch CaseHead
    # Create or Update multiple CaseHead at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param case_head [Array<CaseHead>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_case_head_with_http_info(vbasoftware_database, case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.update_batch_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.update_batch_case_head"
      end
      # verify the required parameter 'case_head' is set
      if @api_client.config.client_side_validation && case_head.nil?
        fail ArgumentError, "Missing the required parameter 'case_head' when calling CaseHeadsApi.update_batch_case_head"
      end
      # resource path
      local_var_path = '/case-heads-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.update_batch_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#update_batch_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CaseHead
    # Updates a specific CaseHead.
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param case_head [CaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [CaseHeadVBAResponse]
    def update_case_head(vbasoftware_database, case_head_key, case_head, opts = {})
      data, _status_code, _headers = update_case_head_with_http_info(vbasoftware_database, case_head_key, case_head, opts)
      data
    end

    # Update CaseHead
    # Updates a specific CaseHead.
    # @param vbasoftware_database [String] Target database
    # @param case_head_key [Integer] CaseHead Key
    # @param case_head [CaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaseHeadVBAResponse, Integer, Hash)>] CaseHeadVBAResponse data, response status code and response headers
    def update_case_head_with_http_info(vbasoftware_database, case_head_key, case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseHeadsApi.update_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CaseHeadsApi.update_case_head"
      end
      # verify the required parameter 'case_head_key' is set
      if @api_client.config.client_side_validation && case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'case_head_key' when calling CaseHeadsApi.update_case_head"
      end
      # verify the required parameter 'case_head' is set
      if @api_client.config.client_side_validation && case_head.nil?
        fail ArgumentError, "Missing the required parameter 'case_head' when calling CaseHeadsApi.update_case_head"
      end
      # resource path
      local_var_path = '/case-heads/{caseHeadKey}'.sub('{' + 'caseHeadKey' + '}', CGI.escape(case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'CaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CaseHeadsApi.update_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseHeadsApi#update_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
