=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CheckEditDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CheckEditSetDetail
    # Creates a new CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param check_edit_set_detail [CheckEditSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEditSetDetailVBAResponse]
    def create_check_edit_set_detail(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts = {})
      data, _status_code, _headers = create_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts)
      data
    end

    # Create CheckEditSetDetail
    # Creates a new CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param check_edit_set_detail [CheckEditSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEditSetDetailVBAResponse, Integer, Hash)>] CheckEditSetDetailVBAResponse data, response status code and response headers
    def create_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.create_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.create_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_header_key' is set
      if @api_client.config.client_side_validation && check_edit_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_header_key' when calling CheckEditDetailsApi.create_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_key' is set
      if @api_client.config.client_side_validation && check_edit_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_key' when calling CheckEditDetailsApi.create_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_detail' is set
      if @api_client.config.client_side_validation && check_edit_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_detail' when calling CheckEditDetailsApi.create_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details/{checkEditSetHeaderKey}/{checkEditKey}'.sub('{' + 'checkEditSetHeaderKey' + '}', CGI.escape(check_edit_set_header_key.to_s)).sub('{' + 'checkEditKey' + '}', CGI.escape(check_edit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_edit_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.create_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#create_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CheckEditSetDetail
    # Deletes an CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_check_edit_set_detail(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts = {})
      delete_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts)
      nil
    end

    # Delete CheckEditSetDetail
    # Deletes an CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.delete_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.delete_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_header_key' is set
      if @api_client.config.client_side_validation && check_edit_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_header_key' when calling CheckEditDetailsApi.delete_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_key' is set
      if @api_client.config.client_side_validation && check_edit_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_key' when calling CheckEditDetailsApi.delete_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details/{checkEditSetHeaderKey}/{checkEditKey}'.sub('{' + 'checkEditSetHeaderKey' + '}', CGI.escape(check_edit_set_header_key.to_s)).sub('{' + 'checkEditKey' + '}', CGI.escape(check_edit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.delete_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#delete_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CheckEditSetDetail
    # Gets CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param [Hash] opts the optional parameters
    # @return [CheckEditSetDetailVBAResponse]
    def get_check_edit_set_detail(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts = {})
      data, _status_code, _headers = get_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts)
      data
    end

    # Get CheckEditSetDetail
    # Gets CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEditSetDetailVBAResponse, Integer, Hash)>] CheckEditSetDetailVBAResponse data, response status code and response headers
    def get_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.get_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.get_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_header_key' is set
      if @api_client.config.client_side_validation && check_edit_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_header_key' when calling CheckEditDetailsApi.get_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_key' is set
      if @api_client.config.client_side_validation && check_edit_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_key' when calling CheckEditDetailsApi.get_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details/{checkEditSetHeaderKey}/{checkEditKey}'.sub('{' + 'checkEditSetHeaderKey' + '}', CGI.escape(check_edit_set_header_key.to_s)).sub('{' + 'checkEditKey' + '}', CGI.escape(check_edit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.get_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#get_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CheckEditSetDetail
    # Lists all CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CheckEditSetDetailListVBAResponse]
    def list_check_edit_set_detail(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_check_edit_set_detail_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CheckEditSetDetail
    # Lists all CheckEditSetDetail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CheckEditSetDetailListVBAResponse, Integer, Hash)>] CheckEditSetDetailListVBAResponse data, response status code and response headers
    def list_check_edit_set_detail_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.list_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.list_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditSetDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.list_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#list_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CheckEditSetDetail
    # Create or Update multiple CheckEditSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_detail [Array<CheckEditSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_check_edit_set_detail(vbasoftware_database, check_edit_set_detail, opts = {})
      data, _status_code, _headers = update_batch_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_detail, opts)
      data
    end

    # Create or Update Batch CheckEditSetDetail
    # Create or Update multiple CheckEditSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_detail [Array<CheckEditSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.update_batch_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.update_batch_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_detail' is set
      if @api_client.config.client_side_validation && check_edit_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_detail' when calling CheckEditDetailsApi.update_batch_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_edit_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.update_batch_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#update_batch_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CheckEditSetDetail
    # Updates a specific CheckEditSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param check_edit_set_detail [CheckEditSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEditSetDetailVBAResponse]
    def update_check_edit_set_detail(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts = {})
      data, _status_code, _headers = update_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts)
      data
    end

    # Update CheckEditSetDetail
    # Updates a specific CheckEditSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param check_edit_set_header_key [Integer] CheckEditSetHeader Key
    # @param check_edit_key [Integer] CheckEdit Key
    # @param check_edit_set_detail [CheckEditSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEditSetDetailVBAResponse, Integer, Hash)>] CheckEditSetDetailVBAResponse data, response status code and response headers
    def update_check_edit_set_detail_with_http_info(vbasoftware_database, check_edit_set_header_key, check_edit_key, check_edit_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckEditDetailsApi.update_check_edit_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckEditDetailsApi.update_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_header_key' is set
      if @api_client.config.client_side_validation && check_edit_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_header_key' when calling CheckEditDetailsApi.update_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_key' is set
      if @api_client.config.client_side_validation && check_edit_key.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_key' when calling CheckEditDetailsApi.update_check_edit_set_detail"
      end
      # verify the required parameter 'check_edit_set_detail' is set
      if @api_client.config.client_side_validation && check_edit_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'check_edit_set_detail' when calling CheckEditDetailsApi.update_check_edit_set_detail"
      end
      # resource path
      local_var_path = '/check-edit-details/{checkEditSetHeaderKey}/{checkEditKey}'.sub('{' + 'checkEditSetHeaderKey' + '}', CGI.escape(check_edit_set_header_key.to_s)).sub('{' + 'checkEditKey' + '}', CGI.escape(check_edit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_edit_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckEditDetailsApi.update_check_edit_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckEditDetailsApi#update_check_edit_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
