=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CheckStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CheckStatus
    # Creates a new CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [CheckStatus] 
    # @param [Hash] opts the optional parameters
    # @return [CheckStatusVBAResponse]
    def create_check_status(vbasoftware_database, check_status, opts = {})
      data, _status_code, _headers = create_check_status_with_http_info(vbasoftware_database, check_status, opts)
      data
    end

    # Create CheckStatus
    # Creates a new CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [CheckStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckStatusVBAResponse, Integer, Hash)>] CheckStatusVBAResponse data, response status code and response headers
    def create_check_status_with_http_info(vbasoftware_database, check_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.create_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.create_check_status"
      end
      # verify the required parameter 'check_status' is set
      if @api_client.config.client_side_validation && check_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_status' when calling CheckStatusesApi.create_check_status"
      end
      # resource path
      local_var_path = '/check-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_status)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.create_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#create_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CheckStatus
    # Deletes an CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_check_status(vbasoftware_database, check_status, opts = {})
      delete_check_status_with_http_info(vbasoftware_database, check_status, opts)
      nil
    end

    # Delete CheckStatus
    # Deletes an CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_check_status_with_http_info(vbasoftware_database, check_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.delete_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.delete_check_status"
      end
      # verify the required parameter 'check_status' is set
      if @api_client.config.client_side_validation && check_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_status' when calling CheckStatusesApi.delete_check_status"
      end
      # resource path
      local_var_path = '/check-statuses/{checkStatus}'.sub('{' + 'checkStatus' + '}', CGI.escape(check_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.delete_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#delete_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CheckStatus
    # Gets CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param [Hash] opts the optional parameters
    # @return [CheckStatusVBAResponse]
    def get_check_status(vbasoftware_database, check_status, opts = {})
      data, _status_code, _headers = get_check_status_with_http_info(vbasoftware_database, check_status, opts)
      data
    end

    # Get CheckStatus
    # Gets CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckStatusVBAResponse, Integer, Hash)>] CheckStatusVBAResponse data, response status code and response headers
    def get_check_status_with_http_info(vbasoftware_database, check_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.get_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.get_check_status"
      end
      # verify the required parameter 'check_status' is set
      if @api_client.config.client_side_validation && check_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_status' when calling CheckStatusesApi.get_check_status"
      end
      # resource path
      local_var_path = '/check-statuses/{checkStatus}'.sub('{' + 'checkStatus' + '}', CGI.escape(check_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.get_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#get_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CheckStatus
    # Lists all CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CheckStatusListVBAResponse]
    def list_check_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_check_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CheckStatus
    # Lists all CheckStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CheckStatusListVBAResponse, Integer, Hash)>] CheckStatusListVBAResponse data, response status code and response headers
    def list_check_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.list_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.list_check_status"
      end
      # resource path
      local_var_path = '/check-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.list_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#list_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CheckStatus
    # Create or Update multiple CheckStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_status [Array<CheckStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_check_status(vbasoftware_database, check_status, opts = {})
      data, _status_code, _headers = update_batch_check_status_with_http_info(vbasoftware_database, check_status, opts)
      data
    end

    # Create or Update Batch CheckStatus
    # Create or Update multiple CheckStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_status [Array<CheckStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_check_status_with_http_info(vbasoftware_database, check_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.update_batch_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.update_batch_check_status"
      end
      # verify the required parameter 'check_status' is set
      if @api_client.config.client_side_validation && check_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_status' when calling CheckStatusesApi.update_batch_check_status"
      end
      # resource path
      local_var_path = '/check-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.update_batch_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#update_batch_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CheckStatus
    # Updates a specific CheckStatus.
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param check_status2 [CheckStatus] 
    # @param [Hash] opts the optional parameters
    # @return [CheckStatusVBAResponse]
    def update_check_status(vbasoftware_database, check_status, check_status2, opts = {})
      data, _status_code, _headers = update_check_status_with_http_info(vbasoftware_database, check_status, check_status2, opts)
      data
    end

    # Update CheckStatus
    # Updates a specific CheckStatus.
    # @param vbasoftware_database [String] Target database
    # @param check_status [String] Check Status
    # @param check_status2 [CheckStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckStatusVBAResponse, Integer, Hash)>] CheckStatusVBAResponse data, response status code and response headers
    def update_check_status_with_http_info(vbasoftware_database, check_status, check_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckStatusesApi.update_check_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckStatusesApi.update_check_status"
      end
      # verify the required parameter 'check_status' is set
      if @api_client.config.client_side_validation && check_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_status' when calling CheckStatusesApi.update_check_status"
      end
      # verify the required parameter 'check_status2' is set
      if @api_client.config.client_side_validation && check_status2.nil?
        fail ArgumentError, "Missing the required parameter 'check_status2' when calling CheckStatusesApi.update_check_status"
      end
      # resource path
      local_var_path = '/check-statuses/{checkStatus}'.sub('{' + 'checkStatus' + '}', CGI.escape(check_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckStatusesApi.update_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckStatusesApi#update_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
