=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CheckBatchesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CheckBatch CheckEdit
    # Runs all configured check edits based on Check Batch and returns the results of those edits.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [CheckEditResultListVBAResponse]
    def check_batch_check_edit(vbasoftware_database, check_batch, opts = {})
      data, _status_code, _headers = check_batch_check_edit_with_http_info(vbasoftware_database, check_batch, opts)
      data
    end

    # CheckBatch CheckEdit
    # Runs all configured check edits based on Check Batch and returns the results of those edits.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEditResultListVBAResponse, Integer, Hash)>] CheckEditResultListVBAResponse data, response status code and response headers
    def check_batch_check_edit_with_http_info(vbasoftware_database, check_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.check_batch_check_edit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.check_batch_check_edit"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.check_batch_check_edit"
      end
      # resource path
      local_var_path = '/check-batches-check-edit/{checkBatch}'.sub('{' + 'checkBatch' + '}', CGI.escape(check_batch.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditResultListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.check_batch_check_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#check_batch_check_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CheckBatch Pre-CheckEdit
    # Runs all configured Pre-check edits based on Check Batch and returns the results of those edits.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [CheckEditResultListVBAResponse]
    def check_batch_pre_check_edit(vbasoftware_database, opts = {})
      data, _status_code, _headers = check_batch_pre_check_edit_with_http_info(vbasoftware_database, opts)
      data
    end

    # CheckBatch Pre-CheckEdit
    # Runs all configured Pre-check edits based on Check Batch and returns the results of those edits.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEditResultListVBAResponse, Integer, Hash)>] CheckEditResultListVBAResponse data, response status code and response headers
    def check_batch_pre_check_edit_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.check_batch_pre_check_edit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.check_batch_pre_check_edit"
      end
      # resource path
      local_var_path = '/check-batches-pre-check-edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckEditResultListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.check_batch_pre_check_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#check_batch_pre_check_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CheckBatch
    # Creates a new CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [CheckBatch] 
    # @param [Hash] opts the optional parameters
    # @return [CheckBatchVBAResponse]
    def create_check_batch(vbasoftware_database, check_batch, opts = {})
      data, _status_code, _headers = create_check_batch_with_http_info(vbasoftware_database, check_batch, opts)
      data
    end

    # Create CheckBatch
    # Creates a new CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [CheckBatch] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckBatchVBAResponse, Integer, Hash)>] CheckBatchVBAResponse data, response status code and response headers
    def create_check_batch_with_http_info(vbasoftware_database, check_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.create_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.create_check_batch"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.create_check_batch"
      end
      # resource path
      local_var_path = '/check-batches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_batch)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBatchVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.create_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#create_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CheckBatch
    # Deletes an CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_check_batch(vbasoftware_database, check_batch, opts = {})
      delete_check_batch_with_http_info(vbasoftware_database, check_batch, opts)
      nil
    end

    # Delete CheckBatch
    # Deletes an CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_check_batch_with_http_info(vbasoftware_database, check_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.delete_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.delete_check_batch"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.delete_check_batch"
      end
      # resource path
      local_var_path = '/check-batches/{checkBatch}'.sub('{' + 'checkBatch' + '}', CGI.escape(check_batch.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.delete_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#delete_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CheckBatch
    # Gets CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [CheckBatchVBAResponse]
    def get_check_batch(vbasoftware_database, check_batch, opts = {})
      data, _status_code, _headers = get_check_batch_with_http_info(vbasoftware_database, check_batch, opts)
      data
    end

    # Get CheckBatch
    # Gets CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckBatchVBAResponse, Integer, Hash)>] CheckBatchVBAResponse data, response status code and response headers
    def get_check_batch_with_http_info(vbasoftware_database, check_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.get_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.get_check_batch"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.get_check_batch"
      end
      # resource path
      local_var_path = '/check-batches/{checkBatch}'.sub('{' + 'checkBatch' + '}', CGI.escape(check_batch.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBatchVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.get_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#get_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CheckBatch
    # Lists all CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CheckBatchListVBAResponse]
    def list_check_batch(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_check_batch_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CheckBatch
    # Lists all CheckBatch
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CheckBatchListVBAResponse, Integer, Hash)>] CheckBatchListVBAResponse data, response status code and response headers
    def list_check_batch_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.list_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.list_check_batch"
      end
      # resource path
      local_var_path = '/check-batches'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBatchListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.list_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#list_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CheckBatch
    # Create or Update multiple CheckBatch at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Array<CheckBatch>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_check_batch(vbasoftware_database, check_batch, opts = {})
      data, _status_code, _headers = update_batch_check_batch_with_http_info(vbasoftware_database, check_batch, opts)
      data
    end

    # Create or Update Batch CheckBatch
    # Create or Update multiple CheckBatch at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Array<CheckBatch>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_check_batch_with_http_info(vbasoftware_database, check_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.update_batch_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.update_batch_check_batch"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.update_batch_check_batch"
      end
      # resource path
      local_var_path = '/check-batches-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_batch)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.update_batch_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#update_batch_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CheckBatch
    # Updates a specific CheckBatch.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param check_batch2 [CheckBatch] 
    # @param [Hash] opts the optional parameters
    # @return [CheckBatchVBAResponse]
    def update_check_batch(vbasoftware_database, check_batch, check_batch2, opts = {})
      data, _status_code, _headers = update_check_batch_with_http_info(vbasoftware_database, check_batch, check_batch2, opts)
      data
    end

    # Update CheckBatch
    # Updates a specific CheckBatch.
    # @param vbasoftware_database [String] Target database
    # @param check_batch [Integer] Check Batch
    # @param check_batch2 [CheckBatch] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckBatchVBAResponse, Integer, Hash)>] CheckBatchVBAResponse data, response status code and response headers
    def update_check_batch_with_http_info(vbasoftware_database, check_batch, check_batch2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckBatchesApi.update_check_batch ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CheckBatchesApi.update_check_batch"
      end
      # verify the required parameter 'check_batch' is set
      if @api_client.config.client_side_validation && check_batch.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch' when calling CheckBatchesApi.update_check_batch"
      end
      # verify the required parameter 'check_batch2' is set
      if @api_client.config.client_side_validation && check_batch2.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch2' when calling CheckBatchesApi.update_check_batch"
      end
      # resource path
      local_var_path = '/check-batches/{checkBatch}'.sub('{' + 'checkBatch' + '}', CGI.escape(check_batch.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_batch2)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBatchVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CheckBatchesApi.update_check_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckBatchesApi#update_check_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
