=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchPlan
    # Creates a new ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_plan [ClaimBatchPlan] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchPlanVBAResponse]
    def create_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts = {})
      data, _status_code, _headers = create_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts)
      data
    end

    # Create ClaimBatchPlan
    # Creates a new ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_plan [ClaimBatchPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchPlanVBAResponse, Integer, Hash)>] ClaimBatchPlanVBAResponse data, response status code and response headers
    def create_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.create_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.create_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.create_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.create_claim_batch_plan"
      end
      # verify the required parameter 'claim_batch_plan' is set
      if @api_client.config.client_side_validation && claim_batch_plan.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_plan' when calling ClaimBatchPlansApi.create_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.create_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#create_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchPlan
    # Deletes an ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, plan_id, opts = {})
      delete_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, opts)
      nil
    end

    # Delete ClaimBatchPlan
    # Deletes an ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.delete_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.delete_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.delete_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.delete_claim_batch_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling ClaimBatchPlansApi.delete_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans/{planID}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.delete_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#delete_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchPlan
    # Gets ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchPlanVBAResponse]
    def get_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, plan_id, opts = {})
      data, _status_code, _headers = get_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, opts)
      data
    end

    # Get ClaimBatchPlan
    # Gets ClaimBatchPlan
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchPlanVBAResponse, Integer, Hash)>] ClaimBatchPlanVBAResponse data, response status code and response headers
    def get_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.get_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.get_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.get_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.get_claim_batch_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling ClaimBatchPlansApi.get_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans/{planID}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.get_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#get_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchPlan
    # Lists all ClaimBatchPlan for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchPlanListVBAResponse]
    def list_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, opts = {})
      data, _status_code, _headers = list_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, opts)
      data
    end

    # List ClaimBatchPlan
    # Lists all ClaimBatchPlan for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchPlanListVBAResponse, Integer, Hash)>] ClaimBatchPlanListVBAResponse data, response status code and response headers
    def list_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.list_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.list_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.list_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.list_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchPlanListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.list_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#list_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchPlan
    # Create or Update multiple ClaimBatchPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_plan [Array<ClaimBatchPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts = {})
      data, _status_code, _headers = update_batch_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts)
      data
    end

    # Create or Update Batch ClaimBatchPlan
    # Create or Update multiple ClaimBatchPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_plan [Array<ClaimBatchPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.update_batch_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.update_batch_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.update_batch_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.update_batch_claim_batch_plan"
      end
      # verify the required parameter 'claim_batch_plan' is set
      if @api_client.config.client_side_validation && claim_batch_plan.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_plan' when calling ClaimBatchPlansApi.update_batch_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.update_batch_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#update_batch_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchPlan
    # Updates a specific ClaimBatchPlan.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param claim_batch_plan [ClaimBatchPlan] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchPlanVBAResponse]
    def update_claim_batch_plan(vbasoftware_database, batch_number, batch_claim, plan_id, claim_batch_plan, opts = {})
      data, _status_code, _headers = update_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, claim_batch_plan, opts)
      data
    end

    # Update ClaimBatchPlan
    # Updates a specific ClaimBatchPlan.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param plan_id [String] Plan ID
    # @param claim_batch_plan [ClaimBatchPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchPlanVBAResponse, Integer, Hash)>] ClaimBatchPlanVBAResponse data, response status code and response headers
    def update_claim_batch_plan_with_http_info(vbasoftware_database, batch_number, batch_claim, plan_id, claim_batch_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchPlansApi.update_claim_batch_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchPlansApi.update_claim_batch_plan"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchPlansApi.update_claim_batch_plan"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchPlansApi.update_claim_batch_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling ClaimBatchPlansApi.update_claim_batch_plan"
      end
      # verify the required parameter 'claim_batch_plan' is set
      if @api_client.config.client_side_validation && claim_batch_plan.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_plan' when calling ClaimBatchPlansApi.update_claim_batch_plan"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/plans/{planID}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchPlansApi.update_claim_batch_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchPlansApi#update_claim_batch_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
