=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimDetailDeductionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimDetailDeduction
    # Creates a new ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_deduction [ClaimDetailDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailDeductionVBAResponse]
    def create_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts = {})
      data, _status_code, _headers = create_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts)
      data
    end

    # Create ClaimDetailDeduction
    # Creates a new ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_deduction [ClaimDetailDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailDeductionVBAResponse, Integer, Hash)>] ClaimDetailDeductionVBAResponse data, response status code and response headers
    def create_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.create_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # verify the required parameter 'claim_detail_deduction' is set
      if @api_client.config.client_side_validation && claim_detail_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_deduction' when calling ClaimDetailDeductionsApi.create_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.create_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#create_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimDetailDeduction
    # Deletes an ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts = {})
      delete_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts)
      nil
    end

    # Delete ClaimDetailDeduction
    # Deletes an ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.delete_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # verify the required parameter 'deduction_seq' is set
      if @api_client.config.client_side_validation && deduction_seq.nil?
        fail ArgumentError, "Missing the required parameter 'deduction_seq' when calling ClaimDetailDeductionsApi.delete_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions/{deductionSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'deductionSeq' + '}', CGI.escape(deduction_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.delete_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#delete_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimDetailDeduction
    # Gets ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailDeductionVBAResponse]
    def get_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts = {})
      data, _status_code, _headers = get_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts)
      data
    end

    # Get ClaimDetailDeduction
    # Gets ClaimDetailDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailDeductionVBAResponse, Integer, Hash)>] ClaimDetailDeductionVBAResponse data, response status code and response headers
    def get_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.get_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # verify the required parameter 'deduction_seq' is set
      if @api_client.config.client_side_validation && deduction_seq.nil?
        fail ArgumentError, "Missing the required parameter 'deduction_seq' when calling ClaimDetailDeductionsApi.get_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions/{deductionSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'deductionSeq' + '}', CGI.escape(deduction_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.get_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#get_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimDetailDeduction
    # Lists all ClaimDetailDeduction for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimDetailDeductionListVBAResponse]
    def list_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      data, _status_code, _headers = list_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts)
      data
    end

    # List ClaimDetailDeduction
    # Lists all ClaimDetailDeduction for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimDetailDeductionListVBAResponse, Integer, Hash)>] ClaimDetailDeductionListVBAResponse data, response status code and response headers
    def list_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.list_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.list_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.list_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.list_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.list_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.list_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailDeductionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.list_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#list_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimDetailDeduction
    # Create or Update multiple ClaimDetailDeduction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_deduction [Array<ClaimDetailDeduction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts = {})
      data, _status_code, _headers = update_batch_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts)
      data
    end

    # Create or Update Batch ClaimDetailDeduction
    # Create or Update multiple ClaimDetailDeduction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_deduction [Array<ClaimDetailDeduction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.update_batch_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # verify the required parameter 'claim_detail_deduction' is set
      if @api_client.config.client_side_validation && claim_detail_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_deduction' when calling ClaimDetailDeductionsApi.update_batch_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.update_batch_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#update_batch_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimDetailDeduction
    # Updates a specific ClaimDetailDeduction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param claim_detail_deduction [ClaimDetailDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailDeductionVBAResponse]
    def update_claim_detail_deduction(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, claim_detail_deduction, opts = {})
      data, _status_code, _headers = update_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, claim_detail_deduction, opts)
      data
    end

    # Update ClaimDetailDeduction
    # Updates a specific ClaimDetailDeduction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param deduction_seq [Integer] Deduction Seq
    # @param claim_detail_deduction [ClaimDetailDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailDeductionVBAResponse, Integer, Hash)>] ClaimDetailDeductionVBAResponse data, response status code and response headers
    def update_claim_detail_deduction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, deduction_seq, claim_detail_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailDeductionsApi.update_claim_detail_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'deduction_seq' is set
      if @api_client.config.client_side_validation && deduction_seq.nil?
        fail ArgumentError, "Missing the required parameter 'deduction_seq' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # verify the required parameter 'claim_detail_deduction' is set
      if @api_client.config.client_side_validation && claim_detail_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_deduction' when calling ClaimDetailDeductionsApi.update_claim_detail_deduction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/deductions/{deductionSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'deductionSeq' + '}', CGI.escape(deduction_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailDeductionsApi.update_claim_detail_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailDeductionsApi#update_claim_detail_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
