=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchType
    # Creates a new ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_type [ClaimBatchType] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchTypeVBAResponse]
    def create_claim_batch_type(vbasoftware_database, claim_batch_type, opts = {})
      data, _status_code, _headers = create_claim_batch_type_with_http_info(vbasoftware_database, claim_batch_type, opts)
      data
    end

    # Create ClaimBatchType
    # Creates a new ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_type [ClaimBatchType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchTypeVBAResponse, Integer, Hash)>] ClaimBatchTypeVBAResponse data, response status code and response headers
    def create_claim_batch_type_with_http_info(vbasoftware_database, claim_batch_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.create_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.create_claim_batch_type"
      end
      # verify the required parameter 'claim_batch_type' is set
      if @api_client.config.client_side_validation && claim_batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_type' when calling ClaimBatchTypesApi.create_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.create_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#create_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchType
    # Deletes an ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batch_type(vbasoftware_database, batch_type, opts = {})
      delete_claim_batch_type_with_http_info(vbasoftware_database, batch_type, opts)
      nil
    end

    # Delete ClaimBatchType
    # Deletes an ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batch_type_with_http_info(vbasoftware_database, batch_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.delete_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.delete_claim_batch_type"
      end
      # verify the required parameter 'batch_type' is set
      if @api_client.config.client_side_validation && batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'batch_type' when calling ClaimBatchTypesApi.delete_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types/{batchType}'.sub('{' + 'batchType' + '}', CGI.escape(batch_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.delete_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#delete_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchType
    # Gets ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchTypeVBAResponse]
    def get_claim_batch_type(vbasoftware_database, batch_type, opts = {})
      data, _status_code, _headers = get_claim_batch_type_with_http_info(vbasoftware_database, batch_type, opts)
      data
    end

    # Get ClaimBatchType
    # Gets ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchTypeVBAResponse, Integer, Hash)>] ClaimBatchTypeVBAResponse data, response status code and response headers
    def get_claim_batch_type_with_http_info(vbasoftware_database, batch_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.get_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.get_claim_batch_type"
      end
      # verify the required parameter 'batch_type' is set
      if @api_client.config.client_side_validation && batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'batch_type' when calling ClaimBatchTypesApi.get_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types/{batchType}'.sub('{' + 'batchType' + '}', CGI.escape(batch_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.get_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#get_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchType
    # Lists all ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchTypeListVBAResponse]
    def list_claim_batch_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_batch_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimBatchType
    # Lists all ClaimBatchType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchTypeListVBAResponse, Integer, Hash)>] ClaimBatchTypeListVBAResponse data, response status code and response headers
    def list_claim_batch_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.list_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.list_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.list_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#list_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchType
    # Create or Update multiple ClaimBatchType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_type [Array<ClaimBatchType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batch_type(vbasoftware_database, claim_batch_type, opts = {})
      data, _status_code, _headers = update_batch_claim_batch_type_with_http_info(vbasoftware_database, claim_batch_type, opts)
      data
    end

    # Create or Update Batch ClaimBatchType
    # Create or Update multiple ClaimBatchType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_type [Array<ClaimBatchType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batch_type_with_http_info(vbasoftware_database, claim_batch_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.update_batch_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.update_batch_claim_batch_type"
      end
      # verify the required parameter 'claim_batch_type' is set
      if @api_client.config.client_side_validation && claim_batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_type' when calling ClaimBatchTypesApi.update_batch_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.update_batch_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#update_batch_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchType
    # Updates a specific ClaimBatchType.
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param claim_batch_type [ClaimBatchType] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchTypeVBAResponse]
    def update_claim_batch_type(vbasoftware_database, batch_type, claim_batch_type, opts = {})
      data, _status_code, _headers = update_claim_batch_type_with_http_info(vbasoftware_database, batch_type, claim_batch_type, opts)
      data
    end

    # Update ClaimBatchType
    # Updates a specific ClaimBatchType.
    # @param vbasoftware_database [String] Target database
    # @param batch_type [String] Batch Type
    # @param claim_batch_type [ClaimBatchType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchTypeVBAResponse, Integer, Hash)>] ClaimBatchTypeVBAResponse data, response status code and response headers
    def update_claim_batch_type_with_http_info(vbasoftware_database, batch_type, claim_batch_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchTypesApi.update_claim_batch_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchTypesApi.update_claim_batch_type"
      end
      # verify the required parameter 'batch_type' is set
      if @api_client.config.client_side_validation && batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'batch_type' when calling ClaimBatchTypesApi.update_claim_batch_type"
      end
      # verify the required parameter 'claim_batch_type' is set
      if @api_client.config.client_side_validation && claim_batch_type.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_type' when calling ClaimBatchTypesApi.update_claim_batch_type"
      end
      # resource path
      local_var_path = '/claim-batch-types/{batchType}'.sub('{' + 'batchType' + '}', CGI.escape(batch_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchTypesApi.update_claim_batch_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchTypesApi#update_claim_batch_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
