=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimInvoiceAdjustmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimInvoiceAdjustment
    # Creates a new ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment [ClaimInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentVBAResponse]
    def create_claim_invoice_adjustment(vbasoftware_database, claim_invoice_adjustment, opts = {})
      data, _status_code, _headers = create_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment, opts)
      data
    end

    # Create ClaimInvoiceAdjustment
    # Creates a new ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment [ClaimInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentVBAResponse data, response status code and response headers
    def create_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.create_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.create_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment' when calling ClaimInvoiceAdjustmentsApi.create_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.create_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#create_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimInvoiceAdjustment
    # Deletes an ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_invoice_adjustment(vbasoftware_database, claim_invoice_adjustment_key, opts = {})
      delete_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, opts)
      nil
    end

    # Delete ClaimInvoiceAdjustment
    # Deletes an ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.delete_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.delete_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_key' when calling ClaimInvoiceAdjustmentsApi.delete_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustments/{claimInvoiceAdjustmentKey}'.sub('{' + 'claimInvoiceAdjustmentKey' + '}', CGI.escape(claim_invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.delete_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#delete_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimInvoiceAdjustment
    # Gets ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentVBAResponse]
    def get_claim_invoice_adjustment(vbasoftware_database, claim_invoice_adjustment_key, opts = {})
      data, _status_code, _headers = get_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, opts)
      data
    end

    # Get ClaimInvoiceAdjustment
    # Gets ClaimInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentVBAResponse data, response status code and response headers
    def get_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.get_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.get_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_key' when calling ClaimInvoiceAdjustmentsApi.get_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustments/{claimInvoiceAdjustmentKey}'.sub('{' + 'claimInvoiceAdjustmentKey' + '}', CGI.escape(claim_invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.get_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#get_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimInvoiceAdjustment
    # Lists all ClaimInvoiceAdjustment for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ClaimInvoiceAdjustmentListVBAResponse]
    def list_claim_invoice_adjustment(vbasoftware_database, invoice_key, opts = {})
      data, _status_code, _headers = list_claim_invoice_adjustment_with_http_info(vbasoftware_database, invoice_key, opts)
      data
    end

    # List ClaimInvoiceAdjustment
    # Lists all ClaimInvoiceAdjustment for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ClaimInvoiceAdjustmentListVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentListVBAResponse data, response status code and response headers
    def list_claim_invoice_adjustment_with_http_info(vbasoftware_database, invoice_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.list_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.list_claim_invoice_adjustment"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceAdjustmentsApi.list_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/adjustments'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.list_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#list_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimInvoiceAdjustment
    # Create or Update multiple ClaimInvoiceAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_adjustment [Array<ClaimInvoiceAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_invoice_adjustment(vbasoftware_database, invoice_key, claim_invoice_adjustment, opts = {})
      data, _status_code, _headers = update_batch_claim_invoice_adjustment_with_http_info(vbasoftware_database, invoice_key, claim_invoice_adjustment, opts)
      data
    end

    # Create or Update Batch ClaimInvoiceAdjustment
    # Create or Update multiple ClaimInvoiceAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_adjustment [Array<ClaimInvoiceAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_invoice_adjustment_with_http_info(vbasoftware_database, invoice_key, claim_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.update_batch_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.update_batch_claim_invoice_adjustment"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceAdjustmentsApi.update_batch_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment' when calling ClaimInvoiceAdjustmentsApi.update_batch_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/adjustments-batch'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.update_batch_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#update_batch_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimInvoiceAdjustment
    # Updates a specific ClaimInvoiceAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param claim_invoice_adjustment [ClaimInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentVBAResponse]
    def update_claim_invoice_adjustment(vbasoftware_database, claim_invoice_adjustment_key, claim_invoice_adjustment, opts = {})
      data, _status_code, _headers = update_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, claim_invoice_adjustment, opts)
      data
    end

    # Update ClaimInvoiceAdjustment
    # Updates a specific ClaimInvoiceAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_key [Integer] ClaimInvoiceAdjustment Key
    # @param claim_invoice_adjustment [ClaimInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentVBAResponse data, response status code and response headers
    def update_claim_invoice_adjustment_with_http_info(vbasoftware_database, claim_invoice_adjustment_key, claim_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentsApi.update_claim_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentsApi.update_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_key' when calling ClaimInvoiceAdjustmentsApi.update_claim_invoice_adjustment"
      end
      # verify the required parameter 'claim_invoice_adjustment' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment' when calling ClaimInvoiceAdjustmentsApi.update_claim_invoice_adjustment"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustments/{claimInvoiceAdjustmentKey}'.sub('{' + 'claimInvoiceAdjustmentKey' + '}', CGI.escape(claim_invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentsApi.update_claim_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentsApi#update_claim_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
