=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchReferencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchReference
    # Creates a new ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_reference [ClaimBatchReference] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchReferenceVBAResponse]
    def create_claim_batch_reference(vbasoftware_database, claim_batch_reference, opts = {})
      data, _status_code, _headers = create_claim_batch_reference_with_http_info(vbasoftware_database, claim_batch_reference, opts)
      data
    end

    # Create ClaimBatchReference
    # Creates a new ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_reference [ClaimBatchReference] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchReferenceVBAResponse, Integer, Hash)>] ClaimBatchReferenceVBAResponse data, response status code and response headers
    def create_claim_batch_reference_with_http_info(vbasoftware_database, claim_batch_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.create_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.create_claim_batch_reference"
      end
      # verify the required parameter 'claim_batch_reference' is set
      if @api_client.config.client_side_validation && claim_batch_reference.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_reference' when calling ClaimBatchReferencesApi.create_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.create_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#create_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchReference
    # Deletes an ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batch_reference(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts = {})
      delete_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts)
      nil
    end

    # Delete ClaimBatchReference
    # Deletes an ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.delete_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_number' is set
      if @api_client.config.client_side_validation && original_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_number' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_claim' is set
      if @api_client.config.client_side_validation && original_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_claim' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_number' is set
      if @api_client.config.client_side_validation && referenced_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_number' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_claim' is set
      if @api_client.config.client_side_validation && referenced_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_claim' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # verify the required parameter 'reference_type' is set
      if @api_client.config.client_side_validation && reference_type.nil?
        fail ArgumentError, "Missing the required parameter 'reference_type' when calling ClaimBatchReferencesApi.delete_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references/{originalBatchNumber}/{originalBatchClaim}/{referencedBatchNumber}/{referencedBatchClaim}/{referenceType}'.sub('{' + 'originalBatchNumber' + '}', CGI.escape(original_batch_number.to_s)).sub('{' + 'originalBatchClaim' + '}', CGI.escape(original_batch_claim.to_s)).sub('{' + 'referencedBatchNumber' + '}', CGI.escape(referenced_batch_number.to_s)).sub('{' + 'referencedBatchClaim' + '}', CGI.escape(referenced_batch_claim.to_s)).sub('{' + 'referenceType' + '}', CGI.escape(reference_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.delete_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#delete_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchReference
    # Gets ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchReferenceVBAResponse]
    def get_claim_batch_reference(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts = {})
      data, _status_code, _headers = get_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts)
      data
    end

    # Get ClaimBatchReference
    # Gets ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchReferenceVBAResponse, Integer, Hash)>] ClaimBatchReferenceVBAResponse data, response status code and response headers
    def get_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.get_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_number' is set
      if @api_client.config.client_side_validation && original_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_number' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_claim' is set
      if @api_client.config.client_side_validation && original_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_claim' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_number' is set
      if @api_client.config.client_side_validation && referenced_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_number' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_claim' is set
      if @api_client.config.client_side_validation && referenced_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_claim' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # verify the required parameter 'reference_type' is set
      if @api_client.config.client_side_validation && reference_type.nil?
        fail ArgumentError, "Missing the required parameter 'reference_type' when calling ClaimBatchReferencesApi.get_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references/{originalBatchNumber}/{originalBatchClaim}/{referencedBatchNumber}/{referencedBatchClaim}/{referenceType}'.sub('{' + 'originalBatchNumber' + '}', CGI.escape(original_batch_number.to_s)).sub('{' + 'originalBatchClaim' + '}', CGI.escape(original_batch_claim.to_s)).sub('{' + 'referencedBatchNumber' + '}', CGI.escape(referenced_batch_number.to_s)).sub('{' + 'referencedBatchClaim' + '}', CGI.escape(referenced_batch_claim.to_s)).sub('{' + 'referenceType' + '}', CGI.escape(reference_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.get_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#get_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchReference
    # Lists all ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchReferenceListVBAResponse]
    def list_claim_batch_reference(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_batch_reference_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimBatchReference
    # Lists all ClaimBatchReference
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchReferenceListVBAResponse, Integer, Hash)>] ClaimBatchReferenceListVBAResponse data, response status code and response headers
    def list_claim_batch_reference_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.list_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.list_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchReferenceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.list_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#list_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchReference
    # Create or Update multiple ClaimBatchReference at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_reference [Array<ClaimBatchReference>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batch_reference(vbasoftware_database, claim_batch_reference, opts = {})
      data, _status_code, _headers = update_batch_claim_batch_reference_with_http_info(vbasoftware_database, claim_batch_reference, opts)
      data
    end

    # Create or Update Batch ClaimBatchReference
    # Create or Update multiple ClaimBatchReference at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batch_reference [Array<ClaimBatchReference>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batch_reference_with_http_info(vbasoftware_database, claim_batch_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.update_batch_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.update_batch_claim_batch_reference"
      end
      # verify the required parameter 'claim_batch_reference' is set
      if @api_client.config.client_side_validation && claim_batch_reference.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_reference' when calling ClaimBatchReferencesApi.update_batch_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.update_batch_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#update_batch_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchReference
    # Updates a specific ClaimBatchReference.
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param claim_batch_reference [ClaimBatchReference] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchReferenceVBAResponse]
    def update_claim_batch_reference(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, claim_batch_reference, opts = {})
      data, _status_code, _headers = update_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, claim_batch_reference, opts)
      data
    end

    # Update ClaimBatchReference
    # Updates a specific ClaimBatchReference.
    # @param vbasoftware_database [String] Target database
    # @param original_batch_number [Integer] Original Batch Number
    # @param original_batch_claim [Integer] Original Batch Claim
    # @param referenced_batch_number [Integer] Referenced Batch Number
    # @param referenced_batch_claim [Integer] Referenced Batch Claim
    # @param reference_type [String] Reference Type
    # @param claim_batch_reference [ClaimBatchReference] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchReferenceVBAResponse, Integer, Hash)>] ClaimBatchReferenceVBAResponse data, response status code and response headers
    def update_claim_batch_reference_with_http_info(vbasoftware_database, original_batch_number, original_batch_claim, referenced_batch_number, referenced_batch_claim, reference_type, claim_batch_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchReferencesApi.update_claim_batch_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_number' is set
      if @api_client.config.client_side_validation && original_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_number' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'original_batch_claim' is set
      if @api_client.config.client_side_validation && original_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'original_batch_claim' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_number' is set
      if @api_client.config.client_side_validation && referenced_batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_number' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'referenced_batch_claim' is set
      if @api_client.config.client_side_validation && referenced_batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'referenced_batch_claim' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'reference_type' is set
      if @api_client.config.client_side_validation && reference_type.nil?
        fail ArgumentError, "Missing the required parameter 'reference_type' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # verify the required parameter 'claim_batch_reference' is set
      if @api_client.config.client_side_validation && claim_batch_reference.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_reference' when calling ClaimBatchReferencesApi.update_claim_batch_reference"
      end
      # resource path
      local_var_path = '/claim-batch-references/{originalBatchNumber}/{originalBatchClaim}/{referencedBatchNumber}/{referencedBatchClaim}/{referenceType}'.sub('{' + 'originalBatchNumber' + '}', CGI.escape(original_batch_number.to_s)).sub('{' + 'originalBatchClaim' + '}', CGI.escape(original_batch_claim.to_s)).sub('{' + 'referencedBatchNumber' + '}', CGI.escape(referenced_batch_number.to_s)).sub('{' + 'referencedBatchClaim' + '}', CGI.escape(referenced_batch_claim.to_s)).sub('{' + 'referenceType' + '}', CGI.escape(reference_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchReferencesApi.update_claim_batch_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchReferencesApi#update_claim_batch_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
