=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchesStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchesStatus
    # Creates a new ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_batches_status [ClaimBatchesStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchesStatusVBAResponse]
    def create_claim_batches_status(vbasoftware_database, claim_batches_status, opts = {})
      data, _status_code, _headers = create_claim_batches_status_with_http_info(vbasoftware_database, claim_batches_status, opts)
      data
    end

    # Create ClaimBatchesStatus
    # Creates a new ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_batches_status [ClaimBatchesStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchesStatusVBAResponse, Integer, Hash)>] ClaimBatchesStatusVBAResponse data, response status code and response headers
    def create_claim_batches_status_with_http_info(vbasoftware_database, claim_batches_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.create_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.create_claim_batches_status"
      end
      # verify the required parameter 'claim_batches_status' is set
      if @api_client.config.client_side_validation && claim_batches_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batches_status' when calling ClaimBatchesStatusesApi.create_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batches_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchesStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.create_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#create_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchesStatus
    # Deletes an ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batches_status(vbasoftware_database, status, opts = {})
      delete_claim_batches_status_with_http_info(vbasoftware_database, status, opts)
      nil
    end

    # Delete ClaimBatchesStatus
    # Deletes an ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batches_status_with_http_info(vbasoftware_database, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.delete_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.delete_claim_batches_status"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ClaimBatchesStatusesApi.delete_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses/{status}'.sub('{' + 'status' + '}', CGI.escape(status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.delete_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#delete_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchesStatus
    # Gets ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchesStatusVBAResponse]
    def get_claim_batches_status(vbasoftware_database, status, opts = {})
      data, _status_code, _headers = get_claim_batches_status_with_http_info(vbasoftware_database, status, opts)
      data
    end

    # Get ClaimBatchesStatus
    # Gets ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchesStatusVBAResponse, Integer, Hash)>] ClaimBatchesStatusVBAResponse data, response status code and response headers
    def get_claim_batches_status_with_http_info(vbasoftware_database, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.get_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.get_claim_batches_status"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ClaimBatchesStatusesApi.get_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses/{status}'.sub('{' + 'status' + '}', CGI.escape(status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchesStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.get_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#get_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchesStatus
    # Lists all ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchesStatusListVBAResponse]
    def list_claim_batches_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_batches_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimBatchesStatus
    # Lists all ClaimBatchesStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchesStatusListVBAResponse, Integer, Hash)>] ClaimBatchesStatusListVBAResponse data, response status code and response headers
    def list_claim_batches_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.list_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.list_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchesStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.list_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#list_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchesStatus
    # Create or Update multiple ClaimBatchesStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batches_status [Array<ClaimBatchesStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batches_status(vbasoftware_database, claim_batches_status, opts = {})
      data, _status_code, _headers = update_batch_claim_batches_status_with_http_info(vbasoftware_database, claim_batches_status, opts)
      data
    end

    # Create or Update Batch ClaimBatchesStatus
    # Create or Update multiple ClaimBatchesStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_batches_status [Array<ClaimBatchesStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batches_status_with_http_info(vbasoftware_database, claim_batches_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.update_batch_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.update_batch_claim_batches_status"
      end
      # verify the required parameter 'claim_batches_status' is set
      if @api_client.config.client_side_validation && claim_batches_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batches_status' when calling ClaimBatchesStatusesApi.update_batch_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batches_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.update_batch_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#update_batch_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchesStatus
    # Updates a specific ClaimBatchesStatus.
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param claim_batches_status [ClaimBatchesStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchesStatusVBAResponse]
    def update_claim_batches_status(vbasoftware_database, status, claim_batches_status, opts = {})
      data, _status_code, _headers = update_claim_batches_status_with_http_info(vbasoftware_database, status, claim_batches_status, opts)
      data
    end

    # Update ClaimBatchesStatus
    # Updates a specific ClaimBatchesStatus.
    # @param vbasoftware_database [String] Target database
    # @param status [String] Status
    # @param claim_batches_status [ClaimBatchesStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchesStatusVBAResponse, Integer, Hash)>] ClaimBatchesStatusVBAResponse data, response status code and response headers
    def update_claim_batches_status_with_http_info(vbasoftware_database, status, claim_batches_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchesStatusesApi.update_claim_batches_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchesStatusesApi.update_claim_batches_status"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ClaimBatchesStatusesApi.update_claim_batches_status"
      end
      # verify the required parameter 'claim_batches_status' is set
      if @api_client.config.client_side_validation && claim_batches_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batches_status' when calling ClaimBatchesStatusesApi.update_claim_batches_status"
      end
      # resource path
      local_var_path = '/claim-batches-statuses/{status}'.sub('{' + 'status' + '}', CGI.escape(status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batches_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchesStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchesStatusesApi.update_claim_batches_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchesStatusesApi#update_claim_batches_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
