=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimDetailExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimDetailExCode
    # Creates a new ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_ex_code [ClaimDetailExCode] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailExCodeVBAResponse]
    def create_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts = {})
      data, _status_code, _headers = create_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts)
      data
    end

    # Create ClaimDetailExCode
    # Creates a new ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_ex_code [ClaimDetailExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailExCodeVBAResponse, Integer, Hash)>] ClaimDetailExCodeVBAResponse data, response status code and response headers
    def create_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.create_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_detail_ex_code' is set
      if @api_client.config.client_side_validation && claim_detail_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_ex_code' when calling ClaimDetailExCodesApi.create_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.create_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#create_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimDetailExCode
    # Deletes an ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts = {})
      delete_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts)
      nil
    end

    # Delete ClaimDetailExCode
    # Deletes an ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.delete_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling ClaimDetailExCodesApi.delete_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes/{exCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.delete_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#delete_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimDetailExCode
    # Gets ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailExCodeVBAResponse]
    def get_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts = {})
      data, _status_code, _headers = get_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts)
      data
    end

    # Get ClaimDetailExCode
    # Gets ClaimDetailExCode
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailExCodeVBAResponse, Integer, Hash)>] ClaimDetailExCodeVBAResponse data, response status code and response headers
    def get_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.get_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling ClaimDetailExCodesApi.get_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes/{exCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.get_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#get_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimDetailExCode
    # Lists all ClaimDetailExCode for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimDetailExCodeListVBAResponse]
    def list_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      data, _status_code, _headers = list_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts)
      data
    end

    # List ClaimDetailExCode
    # Lists all ClaimDetailExCode for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimDetailExCodeListVBAResponse, Integer, Hash)>] ClaimDetailExCodeListVBAResponse data, response status code and response headers
    def list_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.list_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.list_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.list_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.list_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.list_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.list_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailExCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.list_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#list_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimDetailExCode
    # Create or Update multiple ClaimDetailExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_ex_code [Array<ClaimDetailExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts = {})
      data, _status_code, _headers = update_batch_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts)
      data
    end

    # Create or Update Batch ClaimDetailExCode
    # Create or Update multiple ClaimDetailExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_detail_ex_code [Array<ClaimDetailExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_detail_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.update_batch_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_detail_ex_code' is set
      if @api_client.config.client_side_validation && claim_detail_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_ex_code' when calling ClaimDetailExCodesApi.update_batch_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.update_batch_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#update_batch_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimDetailExCode
    # Updates a specific ClaimDetailExCode.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param claim_detail_ex_code [ClaimDetailExCode] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDetailExCodeVBAResponse]
    def update_claim_detail_ex_code(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, claim_detail_ex_code, opts = {})
      data, _status_code, _headers = update_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, claim_detail_ex_code, opts)
      data
    end

    # Update ClaimDetailExCode
    # Updates a specific ClaimDetailExCode.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param ex_code [String] Ex Code
    # @param claim_detail_ex_code [ClaimDetailExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDetailExCodeVBAResponse, Integer, Hash)>] ClaimDetailExCodeVBAResponse data, response status code and response headers
    def update_claim_detail_ex_code_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, ex_code, claim_detail_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDetailExCodesApi.update_claim_detail_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # verify the required parameter 'claim_detail_ex_code' is set
      if @api_client.config.client_side_validation && claim_detail_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_detail_ex_code' when calling ClaimDetailExCodesApi.update_claim_detail_ex_code"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/ex-codes/{exCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_detail_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDetailExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDetailExCodesApi.update_claim_detail_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDetailExCodesApi#update_claim_detail_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
