=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimAuditStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimAuditStatus
    # Creates a new ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_status [ClaimAuditStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditStatusVBAResponse]
    def create_claim_audit_status(vbasoftware_database, claim_audit_status, opts = {})
      data, _status_code, _headers = create_claim_audit_status_with_http_info(vbasoftware_database, claim_audit_status, opts)
      data
    end

    # Create ClaimAuditStatus
    # Creates a new ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_status [ClaimAuditStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditStatusVBAResponse, Integer, Hash)>] ClaimAuditStatusVBAResponse data, response status code and response headers
    def create_claim_audit_status_with_http_info(vbasoftware_database, claim_audit_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.create_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.create_claim_audit_status"
      end
      # verify the required parameter 'claim_audit_status' is set
      if @api_client.config.client_side_validation && claim_audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_status' when calling ClaimAuditStatusesApi.create_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.create_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#create_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimAuditStatus
    # Deletes an ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_audit_status(vbasoftware_database, audit_status, opts = {})
      delete_claim_audit_status_with_http_info(vbasoftware_database, audit_status, opts)
      nil
    end

    # Delete ClaimAuditStatus
    # Deletes an ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_audit_status_with_http_info(vbasoftware_database, audit_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.delete_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.delete_claim_audit_status"
      end
      # verify the required parameter 'audit_status' is set
      if @api_client.config.client_side_validation && audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'audit_status' when calling ClaimAuditStatusesApi.delete_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses/{auditStatus}'.sub('{' + 'auditStatus' + '}', CGI.escape(audit_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.delete_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#delete_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimAuditStatus
    # Gets ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditStatusVBAResponse]
    def get_claim_audit_status(vbasoftware_database, audit_status, opts = {})
      data, _status_code, _headers = get_claim_audit_status_with_http_info(vbasoftware_database, audit_status, opts)
      data
    end

    # Get ClaimAuditStatus
    # Gets ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditStatusVBAResponse, Integer, Hash)>] ClaimAuditStatusVBAResponse data, response status code and response headers
    def get_claim_audit_status_with_http_info(vbasoftware_database, audit_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.get_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.get_claim_audit_status"
      end
      # verify the required parameter 'audit_status' is set
      if @api_client.config.client_side_validation && audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'audit_status' when calling ClaimAuditStatusesApi.get_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses/{auditStatus}'.sub('{' + 'auditStatus' + '}', CGI.escape(audit_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.get_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#get_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimAuditStatus
    # Lists all ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimAuditStatusListVBAResponse]
    def list_claim_audit_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_audit_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimAuditStatus
    # Lists all ClaimAuditStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimAuditStatusListVBAResponse, Integer, Hash)>] ClaimAuditStatusListVBAResponse data, response status code and response headers
    def list_claim_audit_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.list_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.list_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.list_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#list_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimAuditStatus
    # Create or Update multiple ClaimAuditStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_status [Array<ClaimAuditStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_audit_status(vbasoftware_database, claim_audit_status, opts = {})
      data, _status_code, _headers = update_batch_claim_audit_status_with_http_info(vbasoftware_database, claim_audit_status, opts)
      data
    end

    # Create or Update Batch ClaimAuditStatus
    # Create or Update multiple ClaimAuditStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_status [Array<ClaimAuditStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_audit_status_with_http_info(vbasoftware_database, claim_audit_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.update_batch_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.update_batch_claim_audit_status"
      end
      # verify the required parameter 'claim_audit_status' is set
      if @api_client.config.client_side_validation && claim_audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_status' when calling ClaimAuditStatusesApi.update_batch_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.update_batch_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#update_batch_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimAuditStatus
    # Updates a specific ClaimAuditStatus.
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param claim_audit_status [ClaimAuditStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditStatusVBAResponse]
    def update_claim_audit_status(vbasoftware_database, audit_status, claim_audit_status, opts = {})
      data, _status_code, _headers = update_claim_audit_status_with_http_info(vbasoftware_database, audit_status, claim_audit_status, opts)
      data
    end

    # Update ClaimAuditStatus
    # Updates a specific ClaimAuditStatus.
    # @param vbasoftware_database [String] Target database
    # @param audit_status [String] Audit Status
    # @param claim_audit_status [ClaimAuditStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditStatusVBAResponse, Integer, Hash)>] ClaimAuditStatusVBAResponse data, response status code and response headers
    def update_claim_audit_status_with_http_info(vbasoftware_database, audit_status, claim_audit_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditStatusesApi.update_claim_audit_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditStatusesApi.update_claim_audit_status"
      end
      # verify the required parameter 'audit_status' is set
      if @api_client.config.client_side_validation && audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'audit_status' when calling ClaimAuditStatusesApi.update_claim_audit_status"
      end
      # verify the required parameter 'claim_audit_status' is set
      if @api_client.config.client_side_validation && claim_audit_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_status' when calling ClaimAuditStatusesApi.update_claim_audit_status"
      end
      # resource path
      local_var_path = '/claim-audit-statuses/{auditStatus}'.sub('{' + 'auditStatus' + '}', CGI.escape(audit_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditStatusesApi.update_claim_audit_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditStatusesApi#update_claim_audit_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
