=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimTransactionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimTransaction
    # Creates a new ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction [ClaimTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimTransactionVBAResponse]
    def create_claim_transaction(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts = {})
      data, _status_code, _headers = create_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts)
      data
    end

    # Create ClaimTransaction
    # Creates a new ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction [ClaimTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimTransactionVBAResponse, Integer, Hash)>] ClaimTransactionVBAResponse data, response status code and response headers
    def create_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.create_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.create_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.create_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.create_claim_transaction"
      end
      # verify the required parameter 'claim_transaction' is set
      if @api_client.config.client_side_validation && claim_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction' when calling ClaimTransactionsApi.create_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.create_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#create_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimTransaction
    # Deletes an ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_transaction(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts = {})
      delete_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts)
      nil
    end

    # Delete ClaimTransaction
    # Deletes an ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.delete_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.delete_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.delete_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.delete_claim_transaction"
      end
      # verify the required parameter 'claim_transaction_key' is set
      if @api_client.config.client_side_validation && claim_transaction_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_key' when calling ClaimTransactionsApi.delete_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions/{claimTransactionKey}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimTransactionKey' + '}', CGI.escape(claim_transaction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.delete_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#delete_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimTransaction
    # Gets ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimTransactionVBAResponse]
    def get_claim_transaction(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts = {})
      data, _status_code, _headers = get_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts)
      data
    end

    # Get ClaimTransaction
    # Gets ClaimTransaction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimTransactionVBAResponse, Integer, Hash)>] ClaimTransactionVBAResponse data, response status code and response headers
    def get_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.get_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.get_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.get_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.get_claim_transaction"
      end
      # verify the required parameter 'claim_transaction_key' is set
      if @api_client.config.client_side_validation && claim_transaction_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_key' when calling ClaimTransactionsApi.get_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions/{claimTransactionKey}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimTransactionKey' + '}', CGI.escape(claim_transaction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.get_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#get_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimTransaction
    # Lists all ClaimTransaction for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimTransactionListVBAResponse]
    def list_claim_transaction(vbasoftware_database, batch_number, batch_claim, opts = {})
      data, _status_code, _headers = list_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, opts)
      data
    end

    # List ClaimTransaction
    # Lists all ClaimTransaction for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimTransactionListVBAResponse, Integer, Hash)>] ClaimTransactionListVBAResponse data, response status code and response headers
    def list_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.list_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.list_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.list_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.list_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimTransactionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.list_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#list_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimTransaction
    # Create or Update multiple ClaimTransaction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction [Array<ClaimTransaction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_transaction(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts = {})
      data, _status_code, _headers = update_batch_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts)
      data
    end

    # Create or Update Batch ClaimTransaction
    # Create or Update multiple ClaimTransaction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction [Array<ClaimTransaction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.update_batch_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.update_batch_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.update_batch_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.update_batch_claim_transaction"
      end
      # verify the required parameter 'claim_transaction' is set
      if @api_client.config.client_side_validation && claim_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction' when calling ClaimTransactionsApi.update_batch_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.update_batch_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#update_batch_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimTransaction
    # Updates a specific ClaimTransaction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param claim_transaction [ClaimTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimTransactionVBAResponse]
    def update_claim_transaction(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, claim_transaction, opts = {})
      data, _status_code, _headers = update_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, claim_transaction, opts)
      data
    end

    # Update ClaimTransaction
    # Updates a specific ClaimTransaction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_transaction_key [Integer] ClaimTransaction Key
    # @param claim_transaction [ClaimTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimTransactionVBAResponse, Integer, Hash)>] ClaimTransactionVBAResponse data, response status code and response headers
    def update_claim_transaction_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_transaction_key, claim_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimTransactionsApi.update_claim_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimTransactionsApi.update_claim_transaction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimTransactionsApi.update_claim_transaction"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimTransactionsApi.update_claim_transaction"
      end
      # verify the required parameter 'claim_transaction_key' is set
      if @api_client.config.client_side_validation && claim_transaction_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_key' when calling ClaimTransactionsApi.update_claim_transaction"
      end
      # verify the required parameter 'claim_transaction' is set
      if @api_client.config.client_side_validation && claim_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction' when calling ClaimTransactionsApi.update_claim_transaction"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/transactions/{claimTransactionKey}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimTransactionKey' + '}', CGI.escape(claim_transaction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimTransactionsApi.update_claim_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimTransactionsApi#update_claim_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
