=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimQueuePrioritiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimQueuePriority
    # Creates a new ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_priority [ClaimQueuePriority] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueuePriorityVBAResponse]
    def create_claim_queue_priority(vbasoftware_database, claim_queue_priority, opts = {})
      data, _status_code, _headers = create_claim_queue_priority_with_http_info(vbasoftware_database, claim_queue_priority, opts)
      data
    end

    # Create ClaimQueuePriority
    # Creates a new ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_priority [ClaimQueuePriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueuePriorityVBAResponse, Integer, Hash)>] ClaimQueuePriorityVBAResponse data, response status code and response headers
    def create_claim_queue_priority_with_http_info(vbasoftware_database, claim_queue_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.create_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.create_claim_queue_priority"
      end
      # verify the required parameter 'claim_queue_priority' is set
      if @api_client.config.client_side_validation && claim_queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_priority' when calling ClaimQueuePrioritiesApi.create_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueuePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.create_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#create_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimQueuePriority
    # Deletes an ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_queue_priority(vbasoftware_database, queue_priority, opts = {})
      delete_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, opts)
      nil
    end

    # Delete ClaimQueuePriority
    # Deletes an ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.delete_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.delete_claim_queue_priority"
      end
      # verify the required parameter 'queue_priority' is set
      if @api_client.config.client_side_validation && queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'queue_priority' when calling ClaimQueuePrioritiesApi.delete_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities/{queuePriority}'.sub('{' + 'queuePriority' + '}', CGI.escape(queue_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.delete_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#delete_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimQueuePriority
    # Gets ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueuePriorityVBAResponse]
    def get_claim_queue_priority(vbasoftware_database, queue_priority, opts = {})
      data, _status_code, _headers = get_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, opts)
      data
    end

    # Get ClaimQueuePriority
    # Gets ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueuePriorityVBAResponse, Integer, Hash)>] ClaimQueuePriorityVBAResponse data, response status code and response headers
    def get_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.get_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.get_claim_queue_priority"
      end
      # verify the required parameter 'queue_priority' is set
      if @api_client.config.client_side_validation && queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'queue_priority' when calling ClaimQueuePrioritiesApi.get_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities/{queuePriority}'.sub('{' + 'queuePriority' + '}', CGI.escape(queue_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueuePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.get_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#get_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimQueuePriority
    # Lists all ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimQueuePriorityListVBAResponse]
    def list_claim_queue_priority(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_queue_priority_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimQueuePriority
    # Lists all ClaimQueuePriority
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimQueuePriorityListVBAResponse, Integer, Hash)>] ClaimQueuePriorityListVBAResponse data, response status code and response headers
    def list_claim_queue_priority_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.list_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.list_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueuePriorityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.list_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#list_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimQueuePriority
    # Create or Update multiple ClaimQueuePriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_priority [Array<ClaimQueuePriority>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_queue_priority(vbasoftware_database, claim_queue_priority, opts = {})
      data, _status_code, _headers = update_batch_claim_queue_priority_with_http_info(vbasoftware_database, claim_queue_priority, opts)
      data
    end

    # Create or Update Batch ClaimQueuePriority
    # Create or Update multiple ClaimQueuePriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_priority [Array<ClaimQueuePriority>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_queue_priority_with_http_info(vbasoftware_database, claim_queue_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.update_batch_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.update_batch_claim_queue_priority"
      end
      # verify the required parameter 'claim_queue_priority' is set
      if @api_client.config.client_side_validation && claim_queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_priority' when calling ClaimQueuePrioritiesApi.update_batch_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.update_batch_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#update_batch_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimQueuePriority
    # Updates a specific ClaimQueuePriority.
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param claim_queue_priority [ClaimQueuePriority] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueuePriorityVBAResponse]
    def update_claim_queue_priority(vbasoftware_database, queue_priority, claim_queue_priority, opts = {})
      data, _status_code, _headers = update_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, claim_queue_priority, opts)
      data
    end

    # Update ClaimQueuePriority
    # Updates a specific ClaimQueuePriority.
    # @param vbasoftware_database [String] Target database
    # @param queue_priority [Integer] Queue Priority
    # @param claim_queue_priority [ClaimQueuePriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueuePriorityVBAResponse, Integer, Hash)>] ClaimQueuePriorityVBAResponse data, response status code and response headers
    def update_claim_queue_priority_with_http_info(vbasoftware_database, queue_priority, claim_queue_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueuePrioritiesApi.update_claim_queue_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueuePrioritiesApi.update_claim_queue_priority"
      end
      # verify the required parameter 'queue_priority' is set
      if @api_client.config.client_side_validation && queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'queue_priority' when calling ClaimQueuePrioritiesApi.update_claim_queue_priority"
      end
      # verify the required parameter 'claim_queue_priority' is set
      if @api_client.config.client_side_validation && claim_queue_priority.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_priority' when calling ClaimQueuePrioritiesApi.update_claim_queue_priority"
      end
      # resource path
      local_var_path = '/claim-queue-priorities/{queuePriority}'.sub('{' + 'queuePriority' + '}', CGI.escape(queue_priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueuePriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueuePrioritiesApi.update_claim_queue_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueuePrioritiesApi#update_claim_queue_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
