=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchDetail
    # Creates a new ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_detail [ClaimBatchDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailVBAResponse]
    def create_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts = {})
      data, _status_code, _headers = create_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts)
      data
    end

    # Create ClaimBatchDetail
    # Creates a new ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_detail [ClaimBatchDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailVBAResponse, Integer, Hash)>] ClaimBatchDetailVBAResponse data, response status code and response headers
    def create_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.create_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.create_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.create_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.create_claim_batch_detail"
      end
      # verify the required parameter 'claim_batch_detail' is set
      if @api_client.config.client_side_validation && claim_batch_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail' when calling ClaimBatchDetailsApi.create_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.create_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#create_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchDetail
    # Deletes an ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      delete_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts)
      nil
    end

    # Delete ClaimBatchDetail
    # Deletes an ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.delete_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.delete_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.delete_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.delete_claim_batch_detail"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailsApi.delete_claim_batch_detail"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailsApi.delete_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.delete_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#delete_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchDetail
    # Gets ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailVBAResponse]
    def get_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      data, _status_code, _headers = get_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts)
      data
    end

    # Get ClaimBatchDetail
    # Gets ClaimBatchDetail
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailVBAResponse, Integer, Hash)>] ClaimBatchDetailVBAResponse data, response status code and response headers
    def get_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.get_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.get_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.get_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.get_claim_batch_detail"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailsApi.get_claim_batch_detail"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailsApi.get_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.get_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#get_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List matching benefit detail
    # List of potential benefit matches along with a match count for a specific claim service line.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [String] :provider_id Provider ID
    # @option opts [String] :provider_type Provider Type
    # @return [AdjudicateBenefitMatchDetailListVBAResponse]
    def list_adjudicate_benefit_match(vbasoftware_database, batch_number, batch_claim, claim_seq, opts = {})
      data, _status_code, _headers = list_adjudicate_benefit_match_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, opts)
      data
    end

    # List matching benefit detail
    # List of potential benefit matches along with a match count for a specific claim service line.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [String] :provider_id Provider ID
    # @option opts [String] :provider_type Provider Type
    # @return [Array<(AdjudicateBenefitMatchDetailListVBAResponse, Integer, Hash)>] AdjudicateBenefitMatchDetailListVBAResponse data, response status code and response headers
    def list_adjudicate_benefit_match_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.list_adjudicate_benefit_match ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.list_adjudicate_benefit_match"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.list_adjudicate_benefit_match"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.list_adjudicate_benefit_match"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailsApi.list_adjudicate_benefit_match"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/adjudicate-benefit-match'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'providerId'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?
      query_params[:'providerType'] = opts[:'provider_type'] if !opts[:'provider_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdjudicateBenefitMatchDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.list_adjudicate_benefit_match",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#list_adjudicate_benefit_match\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchDetail
    # Lists all ClaimBatchDetail for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchDetailListVBAResponse]
    def list_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, opts = {})
      data, _status_code, _headers = list_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, opts)
      data
    end

    # List ClaimBatchDetail
    # Lists all ClaimBatchDetail for the given batchNumber and batchClaim
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchDetailListVBAResponse, Integer, Hash)>] ClaimBatchDetailListVBAResponse data, response status code and response headers
    def list_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.list_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.list_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.list_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.list_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.list_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#list_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchDetail
    # Create or Update multiple ClaimBatchDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_detail [Array<ClaimBatchDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts = {})
      data, _status_code, _headers = update_batch_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts)
      data
    end

    # Create or Update Batch ClaimBatchDetail
    # Create or Update multiple ClaimBatchDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_batch_detail [Array<ClaimBatchDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_batch_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.update_batch_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.update_batch_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.update_batch_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.update_batch_claim_batch_detail"
      end
      # verify the required parameter 'claim_batch_detail' is set
      if @api_client.config.client_side_validation && claim_batch_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail' when calling ClaimBatchDetailsApi.update_batch_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.update_batch_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#update_batch_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchDetail
    # Updates a specific ClaimBatchDetail.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail [ClaimBatchDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailVBAResponse]
    def update_claim_batch_detail(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail, opts = {})
      data, _status_code, _headers = update_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail, opts)
      data
    end

    # Update ClaimBatchDetail
    # Updates a specific ClaimBatchDetail.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail [ClaimBatchDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailVBAResponse, Integer, Hash)>] ClaimBatchDetailVBAResponse data, response status code and response headers
    def update_claim_batch_detail_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailsApi.update_claim_batch_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # verify the required parameter 'claim_batch_detail' is set
      if @api_client.config.client_side_validation && claim_batch_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail' when calling ClaimBatchDetailsApi.update_claim_batch_detail"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailsApi.update_claim_batch_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailsApi#update_claim_batch_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
