=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimQueueStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimQueueStatus
    # Creates a new ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_status [ClaimQueueStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueStatusVBAResponse]
    def create_claim_queue_status(vbasoftware_database, claim_queue_status, opts = {})
      data, _status_code, _headers = create_claim_queue_status_with_http_info(vbasoftware_database, claim_queue_status, opts)
      data
    end

    # Create ClaimQueueStatus
    # Creates a new ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_status [ClaimQueueStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueStatusVBAResponse, Integer, Hash)>] ClaimQueueStatusVBAResponse data, response status code and response headers
    def create_claim_queue_status_with_http_info(vbasoftware_database, claim_queue_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.create_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.create_claim_queue_status"
      end
      # verify the required parameter 'claim_queue_status' is set
      if @api_client.config.client_side_validation && claim_queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_status' when calling ClaimQueueStatusesApi.create_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.create_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#create_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimQueueStatus
    # Deletes an ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_queue_status(vbasoftware_database, queue_status, opts = {})
      delete_claim_queue_status_with_http_info(vbasoftware_database, queue_status, opts)
      nil
    end

    # Delete ClaimQueueStatus
    # Deletes an ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_queue_status_with_http_info(vbasoftware_database, queue_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.delete_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.delete_claim_queue_status"
      end
      # verify the required parameter 'queue_status' is set
      if @api_client.config.client_side_validation && queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'queue_status' when calling ClaimQueueStatusesApi.delete_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses/{queueStatus}'.sub('{' + 'queueStatus' + '}', CGI.escape(queue_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.delete_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#delete_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimQueueStatus
    # Gets ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueStatusVBAResponse]
    def get_claim_queue_status(vbasoftware_database, queue_status, opts = {})
      data, _status_code, _headers = get_claim_queue_status_with_http_info(vbasoftware_database, queue_status, opts)
      data
    end

    # Get ClaimQueueStatus
    # Gets ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueStatusVBAResponse, Integer, Hash)>] ClaimQueueStatusVBAResponse data, response status code and response headers
    def get_claim_queue_status_with_http_info(vbasoftware_database, queue_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.get_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.get_claim_queue_status"
      end
      # verify the required parameter 'queue_status' is set
      if @api_client.config.client_side_validation && queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'queue_status' when calling ClaimQueueStatusesApi.get_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses/{queueStatus}'.sub('{' + 'queueStatus' + '}', CGI.escape(queue_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.get_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#get_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimQueueStatus
    # Lists all ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimQueueStatusListVBAResponse]
    def list_claim_queue_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_queue_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimQueueStatus
    # Lists all ClaimQueueStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimQueueStatusListVBAResponse, Integer, Hash)>] ClaimQueueStatusListVBAResponse data, response status code and response headers
    def list_claim_queue_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.list_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.list_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.list_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#list_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimQueueStatus
    # Create or Update multiple ClaimQueueStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_status [Array<ClaimQueueStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_queue_status(vbasoftware_database, claim_queue_status, opts = {})
      data, _status_code, _headers = update_batch_claim_queue_status_with_http_info(vbasoftware_database, claim_queue_status, opts)
      data
    end

    # Create or Update Batch ClaimQueueStatus
    # Create or Update multiple ClaimQueueStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_status [Array<ClaimQueueStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_queue_status_with_http_info(vbasoftware_database, claim_queue_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.update_batch_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.update_batch_claim_queue_status"
      end
      # verify the required parameter 'claim_queue_status' is set
      if @api_client.config.client_side_validation && claim_queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_status' when calling ClaimQueueStatusesApi.update_batch_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.update_batch_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#update_batch_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimQueueStatus
    # Updates a specific ClaimQueueStatus.
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param claim_queue_status [ClaimQueueStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueStatusVBAResponse]
    def update_claim_queue_status(vbasoftware_database, queue_status, claim_queue_status, opts = {})
      data, _status_code, _headers = update_claim_queue_status_with_http_info(vbasoftware_database, queue_status, claim_queue_status, opts)
      data
    end

    # Update ClaimQueueStatus
    # Updates a specific ClaimQueueStatus.
    # @param vbasoftware_database [String] Target database
    # @param queue_status [String] Queue Status
    # @param claim_queue_status [ClaimQueueStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueStatusVBAResponse, Integer, Hash)>] ClaimQueueStatusVBAResponse data, response status code and response headers
    def update_claim_queue_status_with_http_info(vbasoftware_database, queue_status, claim_queue_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueStatusesApi.update_claim_queue_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueStatusesApi.update_claim_queue_status"
      end
      # verify the required parameter 'queue_status' is set
      if @api_client.config.client_side_validation && queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'queue_status' when calling ClaimQueueStatusesApi.update_claim_queue_status"
      end
      # verify the required parameter 'claim_queue_status' is set
      if @api_client.config.client_side_validation && claim_queue_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_status' when calling ClaimQueueStatusesApi.update_claim_queue_status"
      end
      # resource path
      local_var_path = '/claim-queue-statuses/{queueStatus}'.sub('{' + 'queueStatus' + '}', CGI.escape(queue_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueStatusesApi.update_claim_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueStatusesApi#update_claim_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
