=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimAnesthesiaModifierUnitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimAnesthesiaModifierUnit
    # Creates a new ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit [ClaimAnesthesiaModifierUnit] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAnesthesiaModifierUnitVBAResponse]
    def create_claim_anesthesia_modifier_unit(vbasoftware_database, claim_anesthesia_modifier_unit, opts = {})
      data, _status_code, _headers = create_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit, opts)
      data
    end

    # Create ClaimAnesthesiaModifierUnit
    # Creates a new ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit [ClaimAnesthesiaModifierUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAnesthesiaModifierUnitVBAResponse, Integer, Hash)>] ClaimAnesthesiaModifierUnitVBAResponse data, response status code and response headers
    def create_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.create_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.create_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit' when calling ClaimAnesthesiaModifierUnitsApi.create_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_anesthesia_modifier_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAnesthesiaModifierUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.create_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#create_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimAnesthesiaModifierUnit
    # Deletes an ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_anesthesia_modifier_unit(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts = {})
      delete_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts)
      nil
    end

    # Delete ClaimAnesthesiaModifierUnit
    # Deletes an ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.delete_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.delete_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit_key' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit_key' when calling ClaimAnesthesiaModifierUnitsApi.delete_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units/{claimAnesthesiaModifierUnitKey}'.sub('{' + 'claimAnesthesiaModifierUnitKey' + '}', CGI.escape(claim_anesthesia_modifier_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.delete_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#delete_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimAnesthesiaModifierUnit
    # Gets ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimAnesthesiaModifierUnitVBAResponse]
    def get_claim_anesthesia_modifier_unit(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts = {})
      data, _status_code, _headers = get_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts)
      data
    end

    # Get ClaimAnesthesiaModifierUnit
    # Gets ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAnesthesiaModifierUnitVBAResponse, Integer, Hash)>] ClaimAnesthesiaModifierUnitVBAResponse data, response status code and response headers
    def get_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.get_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.get_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit_key' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit_key' when calling ClaimAnesthesiaModifierUnitsApi.get_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units/{claimAnesthesiaModifierUnitKey}'.sub('{' + 'claimAnesthesiaModifierUnitKey' + '}', CGI.escape(claim_anesthesia_modifier_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAnesthesiaModifierUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.get_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#get_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimAnesthesiaModifierUnit
    # Lists all ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimAnesthesiaModifierUnitListVBAResponse]
    def list_claim_anesthesia_modifier_unit(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimAnesthesiaModifierUnit
    # Lists all ClaimAnesthesiaModifierUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimAnesthesiaModifierUnitListVBAResponse, Integer, Hash)>] ClaimAnesthesiaModifierUnitListVBAResponse data, response status code and response headers
    def list_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.list_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.list_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAnesthesiaModifierUnitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.list_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#list_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimAnesthesiaModifierUnit
    # Create or Update multiple ClaimAnesthesiaModifierUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit [Array<ClaimAnesthesiaModifierUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_anesthesia_modifier_unit(vbasoftware_database, claim_anesthesia_modifier_unit, opts = {})
      data, _status_code, _headers = update_batch_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit, opts)
      data
    end

    # Create or Update Batch ClaimAnesthesiaModifierUnit
    # Create or Update multiple ClaimAnesthesiaModifierUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit [Array<ClaimAnesthesiaModifierUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.update_batch_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.update_batch_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit' when calling ClaimAnesthesiaModifierUnitsApi.update_batch_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_anesthesia_modifier_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.update_batch_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#update_batch_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimAnesthesiaModifierUnit
    # Updates a specific ClaimAnesthesiaModifierUnit.
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param claim_anesthesia_modifier_unit [ClaimAnesthesiaModifierUnit] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAnesthesiaModifierUnitVBAResponse]
    def update_claim_anesthesia_modifier_unit(vbasoftware_database, claim_anesthesia_modifier_unit_key, claim_anesthesia_modifier_unit, opts = {})
      data, _status_code, _headers = update_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, claim_anesthesia_modifier_unit, opts)
      data
    end

    # Update ClaimAnesthesiaModifierUnit
    # Updates a specific ClaimAnesthesiaModifierUnit.
    # @param vbasoftware_database [String] Target database
    # @param claim_anesthesia_modifier_unit_key [Integer] ClaimAnesthesiaModifierUnit Key
    # @param claim_anesthesia_modifier_unit [ClaimAnesthesiaModifierUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAnesthesiaModifierUnitVBAResponse, Integer, Hash)>] ClaimAnesthesiaModifierUnitVBAResponse data, response status code and response headers
    def update_claim_anesthesia_modifier_unit_with_http_info(vbasoftware_database, claim_anesthesia_modifier_unit_key, claim_anesthesia_modifier_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAnesthesiaModifierUnitsApi.update_claim_anesthesia_modifier_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAnesthesiaModifierUnitsApi.update_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit_key' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit_key' when calling ClaimAnesthesiaModifierUnitsApi.update_claim_anesthesia_modifier_unit"
      end
      # verify the required parameter 'claim_anesthesia_modifier_unit' is set
      if @api_client.config.client_side_validation && claim_anesthesia_modifier_unit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_anesthesia_modifier_unit' when calling ClaimAnesthesiaModifierUnitsApi.update_claim_anesthesia_modifier_unit"
      end
      # resource path
      local_var_path = '/claim-anesthesia-modifier-units/{claimAnesthesiaModifierUnitKey}'.sub('{' + 'claimAnesthesiaModifierUnitKey' + '}', CGI.escape(claim_anesthesia_modifier_unit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_anesthesia_modifier_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAnesthesiaModifierUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAnesthesiaModifierUnitsApi.update_claim_anesthesia_modifier_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAnesthesiaModifierUnitsApi#update_claim_anesthesia_modifier_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
