=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimBatchDetailBenefitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimBatchDetailBenefit
    # Creates a new ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail_benefit [ClaimBatchDetailBenefit] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailBenefitVBAResponse]
    def create_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts = {})
      data, _status_code, _headers = create_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts)
      data
    end

    # Create ClaimBatchDetailBenefit
    # Creates a new ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail_benefit [ClaimBatchDetailBenefit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailBenefitVBAResponse, Integer, Hash)>] ClaimBatchDetailBenefitVBAResponse data, response status code and response headers
    def create_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_batch_detail_benefit' is set
      if @api_client.config.client_side_validation && claim_batch_detail_benefit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail_benefit' when calling ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail_benefit)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailBenefitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.create_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#create_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimBatchDetailBenefit
    # Deletes an ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts = {})
      delete_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts)
      nil
    end

    # Delete ClaimBatchDetailBenefit
    # Deletes an ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits/{benefitCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.delete_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#delete_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimBatchDetailBenefit
    # Gets ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailBenefitVBAResponse]
    def get_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts = {})
      data, _status_code, _headers = get_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts)
      data
    end

    # Get ClaimBatchDetailBenefit
    # Gets ClaimBatchDetailBenefit
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailBenefitVBAResponse, Integer, Hash)>] ClaimBatchDetailBenefitVBAResponse data, response status code and response headers
    def get_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits/{benefitCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailBenefitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.get_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#get_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimBatchDetailBenefit
    # Lists all ClaimBatchDetailBenefit for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimBatchDetailBenefitListVBAResponse]
    def list_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      data, _status_code, _headers = list_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts)
      data
    end

    # List ClaimBatchDetailBenefit
    # Lists all ClaimBatchDetailBenefit for the given batchNumber and batchClaim and claimSeq and adjustmentSeq
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimBatchDetailBenefitListVBAResponse, Integer, Hash)>] ClaimBatchDetailBenefitListVBAResponse data, response status code and response headers
    def list_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailBenefitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.list_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#list_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimBatchDetailBenefit
    # Create or Update multiple ClaimBatchDetailBenefit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail_benefit [Array<ClaimBatchDetailBenefit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts = {})
      data, _status_code, _headers = update_batch_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts)
      data
    end

    # Create or Update Batch ClaimBatchDetailBenefit
    # Create or Update multiple ClaimBatchDetailBenefit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param claim_batch_detail_benefit [Array<ClaimBatchDetailBenefit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, claim_batch_detail_benefit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_batch_detail_benefit' is set
      if @api_client.config.client_side_validation && claim_batch_detail_benefit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail_benefit' when calling ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits-batch'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail_benefit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.update_batch_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#update_batch_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimBatchDetailBenefit
    # Updates a specific ClaimBatchDetailBenefit.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param claim_batch_detail_benefit [ClaimBatchDetailBenefit] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimBatchDetailBenefitVBAResponse]
    def update_claim_batch_detail_benefit(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, claim_batch_detail_benefit, opts = {})
      data, _status_code, _headers = update_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, claim_batch_detail_benefit, opts)
      data
    end

    # Update ClaimBatchDetailBenefit
    # Updates a specific ClaimBatchDetailBenefit.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_seq [String] Claim Seq
    # @param adjustment_seq [String] Adjustment Seq
    # @param benefit_code [String] Benefit Code
    # @param claim_batch_detail_benefit [ClaimBatchDetailBenefit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimBatchDetailBenefitVBAResponse, Integer, Hash)>] ClaimBatchDetailBenefitVBAResponse data, response status code and response headers
    def update_claim_batch_detail_benefit_with_http_info(vbasoftware_database, batch_number, batch_claim, claim_seq, adjustment_seq, benefit_code, claim_batch_detail_benefit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_seq' is set
      if @api_client.config.client_side_validation && claim_seq.nil?
        fail ArgumentError, "Missing the required parameter 'claim_seq' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'adjustment_seq' is set
      if @api_client.config.client_side_validation && adjustment_seq.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_seq' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # verify the required parameter 'claim_batch_detail_benefit' is set
      if @api_client.config.client_side_validation && claim_batch_detail_benefit.nil?
        fail ArgumentError, "Missing the required parameter 'claim_batch_detail_benefit' when calling ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit"
      end
      # resource path
      local_var_path = '/claim-batches/{batchNumber}/claims/{batchClaim}/details/{claimSeq}/{adjustmentSeq}/benefits/{benefitCode}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s)).sub('{' + 'claimSeq' + '}', CGI.escape(claim_seq.to_s)).sub('{' + 'adjustmentSeq' + '}', CGI.escape(adjustment_seq.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_batch_detail_benefit)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimBatchDetailBenefitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimBatchDetailBenefitsApi.update_claim_batch_detail_benefit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimBatchDetailBenefitsApi#update_claim_batch_detail_benefit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
