=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimInvoiceAdjustmentReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimInvoiceAdjustmentReason
    # Creates a new ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_reason [ClaimInvoiceAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentReasonVBAResponse]
    def create_claim_invoice_adjustment_reason(vbasoftware_database, claim_invoice_adjustment_reason, opts = {})
      data, _status_code, _headers = create_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, claim_invoice_adjustment_reason, opts)
      data
    end

    # Create ClaimInvoiceAdjustmentReason
    # Creates a new ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_reason [ClaimInvoiceAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentReasonVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentReasonVBAResponse data, response status code and response headers
    def create_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, claim_invoice_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.create_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.create_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'claim_invoice_adjustment_reason' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.create_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.create_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#create_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimInvoiceAdjustmentReason
    # Deletes an ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_invoice_adjustment_reason(vbasoftware_database, adjustment_reason, opts = {})
      delete_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, opts)
      nil
    end

    # Delete ClaimInvoiceAdjustmentReason
    # Deletes an ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.delete_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.delete_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'adjustment_reason' is set
      if @api_client.config.client_side_validation && adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.delete_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons/{adjustmentReason}'.sub('{' + 'adjustmentReason' + '}', CGI.escape(adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.delete_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#delete_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimInvoiceAdjustmentReason
    # Gets ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentReasonVBAResponse]
    def get_claim_invoice_adjustment_reason(vbasoftware_database, adjustment_reason, opts = {})
      data, _status_code, _headers = get_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, opts)
      data
    end

    # Get ClaimInvoiceAdjustmentReason
    # Gets ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentReasonVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentReasonVBAResponse data, response status code and response headers
    def get_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.get_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.get_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'adjustment_reason' is set
      if @api_client.config.client_side_validation && adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.get_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons/{adjustmentReason}'.sub('{' + 'adjustmentReason' + '}', CGI.escape(adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.get_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#get_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimInvoiceAdjustmentReason
    # Lists all ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ClaimInvoiceAdjustmentReasonListVBAResponse]
    def list_claim_invoice_adjustment_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimInvoiceAdjustmentReason
    # Lists all ClaimInvoiceAdjustmentReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ClaimInvoiceAdjustmentReasonListVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentReasonListVBAResponse data, response status code and response headers
    def list_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.list_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.list_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.list_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#list_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimInvoiceAdjustmentReason
    # Create or Update multiple ClaimInvoiceAdjustmentReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_reason [Array<ClaimInvoiceAdjustmentReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_invoice_adjustment_reason(vbasoftware_database, claim_invoice_adjustment_reason, opts = {})
      data, _status_code, _headers = update_batch_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, claim_invoice_adjustment_reason, opts)
      data
    end

    # Create or Update Batch ClaimInvoiceAdjustmentReason
    # Create or Update multiple ClaimInvoiceAdjustmentReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_adjustment_reason [Array<ClaimInvoiceAdjustmentReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, claim_invoice_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.update_batch_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.update_batch_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'claim_invoice_adjustment_reason' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.update_batch_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.update_batch_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#update_batch_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimInvoiceAdjustmentReason
    # Updates a specific ClaimInvoiceAdjustmentReason.
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param claim_invoice_adjustment_reason [ClaimInvoiceAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceAdjustmentReasonVBAResponse]
    def update_claim_invoice_adjustment_reason(vbasoftware_database, adjustment_reason, claim_invoice_adjustment_reason, opts = {})
      data, _status_code, _headers = update_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, claim_invoice_adjustment_reason, opts)
      data
    end

    # Update ClaimInvoiceAdjustmentReason
    # Updates a specific ClaimInvoiceAdjustmentReason.
    # @param vbasoftware_database [String] Target database
    # @param adjustment_reason [Integer] Adjustment Reason
    # @param claim_invoice_adjustment_reason [ClaimInvoiceAdjustmentReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceAdjustmentReasonVBAResponse, Integer, Hash)>] ClaimInvoiceAdjustmentReasonVBAResponse data, response status code and response headers
    def update_claim_invoice_adjustment_reason_with_http_info(vbasoftware_database, adjustment_reason, claim_invoice_adjustment_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceAdjustmentReasonsApi.update_claim_invoice_adjustment_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceAdjustmentReasonsApi.update_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'adjustment_reason' is set
      if @api_client.config.client_side_validation && adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.update_claim_invoice_adjustment_reason"
      end
      # verify the required parameter 'claim_invoice_adjustment_reason' is set
      if @api_client.config.client_side_validation && claim_invoice_adjustment_reason.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_adjustment_reason' when calling ClaimInvoiceAdjustmentReasonsApi.update_claim_invoice_adjustment_reason"
      end
      # resource path
      local_var_path = '/claim-invoice-adjustment-reasons/{adjustmentReason}'.sub('{' + 'adjustmentReason' + '}', CGI.escape(adjustment_reason.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_adjustment_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceAdjustmentReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceAdjustmentReasonsApi.update_claim_invoice_adjustment_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceAdjustmentReasonsApi#update_claim_invoice_adjustment_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
