=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimAuditAppealResultsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimAuditAppealResult
    # Creates a new ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_appeal_result [ClaimAuditAppealResult] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditAppealResultVBAResponse]
    def create_claim_audit_appeal_result(vbasoftware_database, claim_audit_appeal_result, opts = {})
      data, _status_code, _headers = create_claim_audit_appeal_result_with_http_info(vbasoftware_database, claim_audit_appeal_result, opts)
      data
    end

    # Create ClaimAuditAppealResult
    # Creates a new ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_appeal_result [ClaimAuditAppealResult] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditAppealResultVBAResponse, Integer, Hash)>] ClaimAuditAppealResultVBAResponse data, response status code and response headers
    def create_claim_audit_appeal_result_with_http_info(vbasoftware_database, claim_audit_appeal_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.create_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.create_claim_audit_appeal_result"
      end
      # verify the required parameter 'claim_audit_appeal_result' is set
      if @api_client.config.client_side_validation && claim_audit_appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_appeal_result' when calling ClaimAuditAppealResultsApi.create_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_appeal_result)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditAppealResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.create_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#create_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimAuditAppealResult
    # Deletes an ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_audit_appeal_result(vbasoftware_database, appeal_result, opts = {})
      delete_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, opts)
      nil
    end

    # Delete ClaimAuditAppealResult
    # Deletes an ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.delete_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.delete_claim_audit_appeal_result"
      end
      # verify the required parameter 'appeal_result' is set
      if @api_client.config.client_side_validation && appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'appeal_result' when calling ClaimAuditAppealResultsApi.delete_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results/{appealResult}'.sub('{' + 'appealResult' + '}', CGI.escape(appeal_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.delete_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#delete_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimAuditAppealResult
    # Gets ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditAppealResultVBAResponse]
    def get_claim_audit_appeal_result(vbasoftware_database, appeal_result, opts = {})
      data, _status_code, _headers = get_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, opts)
      data
    end

    # Get ClaimAuditAppealResult
    # Gets ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditAppealResultVBAResponse, Integer, Hash)>] ClaimAuditAppealResultVBAResponse data, response status code and response headers
    def get_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.get_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.get_claim_audit_appeal_result"
      end
      # verify the required parameter 'appeal_result' is set
      if @api_client.config.client_side_validation && appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'appeal_result' when calling ClaimAuditAppealResultsApi.get_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results/{appealResult}'.sub('{' + 'appealResult' + '}', CGI.escape(appeal_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditAppealResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.get_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#get_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimAuditAppealResult
    # Lists all ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimAuditAppealResultListVBAResponse]
    def list_claim_audit_appeal_result(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_audit_appeal_result_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimAuditAppealResult
    # Lists all ClaimAuditAppealResult
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimAuditAppealResultListVBAResponse, Integer, Hash)>] ClaimAuditAppealResultListVBAResponse data, response status code and response headers
    def list_claim_audit_appeal_result_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.list_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.list_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditAppealResultListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.list_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#list_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimAuditAppealResult
    # Create or Update multiple ClaimAuditAppealResult at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_appeal_result [Array<ClaimAuditAppealResult>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_audit_appeal_result(vbasoftware_database, claim_audit_appeal_result, opts = {})
      data, _status_code, _headers = update_batch_claim_audit_appeal_result_with_http_info(vbasoftware_database, claim_audit_appeal_result, opts)
      data
    end

    # Create or Update Batch ClaimAuditAppealResult
    # Create or Update multiple ClaimAuditAppealResult at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_appeal_result [Array<ClaimAuditAppealResult>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_audit_appeal_result_with_http_info(vbasoftware_database, claim_audit_appeal_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.update_batch_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.update_batch_claim_audit_appeal_result"
      end
      # verify the required parameter 'claim_audit_appeal_result' is set
      if @api_client.config.client_side_validation && claim_audit_appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_appeal_result' when calling ClaimAuditAppealResultsApi.update_batch_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_appeal_result)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.update_batch_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#update_batch_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimAuditAppealResult
    # Updates a specific ClaimAuditAppealResult.
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param claim_audit_appeal_result [ClaimAuditAppealResult] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditAppealResultVBAResponse]
    def update_claim_audit_appeal_result(vbasoftware_database, appeal_result, claim_audit_appeal_result, opts = {})
      data, _status_code, _headers = update_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, claim_audit_appeal_result, opts)
      data
    end

    # Update ClaimAuditAppealResult
    # Updates a specific ClaimAuditAppealResult.
    # @param vbasoftware_database [String] Target database
    # @param appeal_result [String] Appeal Result
    # @param claim_audit_appeal_result [ClaimAuditAppealResult] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditAppealResultVBAResponse, Integer, Hash)>] ClaimAuditAppealResultVBAResponse data, response status code and response headers
    def update_claim_audit_appeal_result_with_http_info(vbasoftware_database, appeal_result, claim_audit_appeal_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditAppealResultsApi.update_claim_audit_appeal_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditAppealResultsApi.update_claim_audit_appeal_result"
      end
      # verify the required parameter 'appeal_result' is set
      if @api_client.config.client_side_validation && appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'appeal_result' when calling ClaimAuditAppealResultsApi.update_claim_audit_appeal_result"
      end
      # verify the required parameter 'claim_audit_appeal_result' is set
      if @api_client.config.client_side_validation && claim_audit_appeal_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_appeal_result' when calling ClaimAuditAppealResultsApi.update_claim_audit_appeal_result"
      end
      # resource path
      local_var_path = '/claim-audit-appeal-results/{appealResult}'.sub('{' + 'appealResult' + '}', CGI.escape(appeal_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_appeal_result)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditAppealResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditAppealResultsApi.update_claim_audit_appeal_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditAppealResultsApi#update_claim_audit_appeal_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
