=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimQueueNotifyUserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimQueueNotifyGroup
    # Creates a new ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param claim_queue_notify_group [ClaimQueueNotifyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueNotifyGroupVBAResponse]
    def create_claim_queue_notify_group(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts = {})
      data, _status_code, _headers = create_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts)
      data
    end

    # Create ClaimQueueNotifyGroup
    # Creates a new ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param claim_queue_notify_group [ClaimQueueNotifyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueNotifyGroupVBAResponse, Integer, Hash)>] ClaimQueueNotifyGroupVBAResponse data, response status code and response headers
    def create_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueNotifyUserGroupsApi.create_claim_queue_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueNotifyUserGroupsApi.create_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_key' is set
      if @api_client.config.client_side_validation && claim_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_key' when calling ClaimQueueNotifyUserGroupsApi.create_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_notify_group' is set
      if @api_client.config.client_side_validation && claim_queue_notify_group.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_notify_group' when calling ClaimQueueNotifyUserGroupsApi.create_claim_queue_notify_group"
      end
      # resource path
      local_var_path = '/claim-queues/{claimQueueKey}/notify-user-groups'.sub('{' + 'claimQueueKey' + '}', CGI.escape(claim_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_notify_group)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueNotifyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueNotifyUserGroupsApi.create_claim_queue_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueNotifyUserGroupsApi#create_claim_queue_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimQueueNotifyGroup
    # Deletes an ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_queue_notify_group(vbasoftware_database, claim_queue_key, user_group_key, opts = {})
      delete_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, user_group_key, opts)
      nil
    end

    # Delete ClaimQueueNotifyGroup
    # Deletes an ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueNotifyUserGroupsApi.delete_claim_queue_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueNotifyUserGroupsApi.delete_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_key' is set
      if @api_client.config.client_side_validation && claim_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_key' when calling ClaimQueueNotifyUserGroupsApi.delete_claim_queue_notify_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling ClaimQueueNotifyUserGroupsApi.delete_claim_queue_notify_group"
      end
      # resource path
      local_var_path = '/claim-queues/{claimQueueKey}/notify-user-groups/{userGroupKey}'.sub('{' + 'claimQueueKey' + '}', CGI.escape(claim_queue_key.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueNotifyUserGroupsApi.delete_claim_queue_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueNotifyUserGroupsApi#delete_claim_queue_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimQueueNotifyGroup
    # Gets ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueNotifyGroupVBAResponse]
    def get_claim_queue_notify_group(vbasoftware_database, claim_queue_key, user_group_key, opts = {})
      data, _status_code, _headers = get_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, user_group_key, opts)
      data
    end

    # Get ClaimQueueNotifyGroup
    # Gets ClaimQueueNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueNotifyGroupVBAResponse, Integer, Hash)>] ClaimQueueNotifyGroupVBAResponse data, response status code and response headers
    def get_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueNotifyUserGroupsApi.get_claim_queue_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueNotifyUserGroupsApi.get_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_key' is set
      if @api_client.config.client_side_validation && claim_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_key' when calling ClaimQueueNotifyUserGroupsApi.get_claim_queue_notify_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling ClaimQueueNotifyUserGroupsApi.get_claim_queue_notify_group"
      end
      # resource path
      local_var_path = '/claim-queues/{claimQueueKey}/notify-user-groups/{userGroupKey}'.sub('{' + 'claimQueueKey' + '}', CGI.escape(claim_queue_key.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueNotifyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueNotifyUserGroupsApi.get_claim_queue_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueNotifyUserGroupsApi#get_claim_queue_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimQueueNotifyGroup
    # Lists all ClaimQueueNotifyGroup for the given claimQueueKey
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimQueueNotifyGroupListVBAResponse]
    def list_claim_queue_notify_group(vbasoftware_database, claim_queue_key, opts = {})
      data, _status_code, _headers = list_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, opts)
      data
    end

    # List ClaimQueueNotifyGroup
    # Lists all ClaimQueueNotifyGroup for the given claimQueueKey
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimQueueNotifyGroupListVBAResponse, Integer, Hash)>] ClaimQueueNotifyGroupListVBAResponse data, response status code and response headers
    def list_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueNotifyUserGroupsApi.list_claim_queue_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueNotifyUserGroupsApi.list_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_key' is set
      if @api_client.config.client_side_validation && claim_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_key' when calling ClaimQueueNotifyUserGroupsApi.list_claim_queue_notify_group"
      end
      # resource path
      local_var_path = '/claim-queues/{claimQueueKey}/notify-user-groups'.sub('{' + 'claimQueueKey' + '}', CGI.escape(claim_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueNotifyGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueNotifyUserGroupsApi.list_claim_queue_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueNotifyUserGroupsApi#list_claim_queue_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimQueueNotifyGroup
    # Create or Update multiple ClaimQueueNotifyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param claim_queue_notify_group [Array<ClaimQueueNotifyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_queue_notify_group(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts = {})
      data, _status_code, _headers = update_batch_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts)
      data
    end

    # Create or Update Batch ClaimQueueNotifyGroup
    # Create or Update multiple ClaimQueueNotifyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_key [Integer] ClaimQueue Key
    # @param claim_queue_notify_group [Array<ClaimQueueNotifyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_queue_notify_group_with_http_info(vbasoftware_database, claim_queue_key, claim_queue_notify_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueNotifyUserGroupsApi.update_batch_claim_queue_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueNotifyUserGroupsApi.update_batch_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_key' is set
      if @api_client.config.client_side_validation && claim_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_key' when calling ClaimQueueNotifyUserGroupsApi.update_batch_claim_queue_notify_group"
      end
      # verify the required parameter 'claim_queue_notify_group' is set
      if @api_client.config.client_side_validation && claim_queue_notify_group.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_notify_group' when calling ClaimQueueNotifyUserGroupsApi.update_batch_claim_queue_notify_group"
      end
      # resource path
      local_var_path = '/claim-queues/{claimQueueKey}/notify-user-groups-batch'.sub('{' + 'claimQueueKey' + '}', CGI.escape(claim_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_notify_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueNotifyUserGroupsApi.update_batch_claim_queue_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueNotifyUserGroupsApi#update_batch_claim_queue_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
