=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimOccurrenceCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimOccurrenceCode
    # Creates a new ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param claim_occurrence_code [ClaimOccurrenceCode] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimOccurrenceCodeVBAResponse]
    def create_claim_occurrence_code(vbasoftware_database, claim_occurrence_code, opts = {})
      data, _status_code, _headers = create_claim_occurrence_code_with_http_info(vbasoftware_database, claim_occurrence_code, opts)
      data
    end

    # Create ClaimOccurrenceCode
    # Creates a new ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param claim_occurrence_code [ClaimOccurrenceCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimOccurrenceCodeVBAResponse, Integer, Hash)>] ClaimOccurrenceCodeVBAResponse data, response status code and response headers
    def create_claim_occurrence_code_with_http_info(vbasoftware_database, claim_occurrence_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.create_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.create_claim_occurrence_code"
      end
      # verify the required parameter 'claim_occurrence_code' is set
      if @api_client.config.client_side_validation && claim_occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_occurrence_code' when calling ClaimOccurrenceCodesApi.create_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_occurrence_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimOccurrenceCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.create_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#create_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimOccurrenceCode
    # Deletes an ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_occurrence_code(vbasoftware_database, occurrence_code, opts = {})
      delete_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, opts)
      nil
    end

    # Delete ClaimOccurrenceCode
    # Deletes an ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.delete_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.delete_claim_occurrence_code"
      end
      # verify the required parameter 'occurrence_code' is set
      if @api_client.config.client_side_validation && occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'occurrence_code' when calling ClaimOccurrenceCodesApi.delete_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes/{occurrenceCode}'.sub('{' + 'occurrenceCode' + '}', CGI.escape(occurrence_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.delete_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#delete_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimOccurrenceCode
    # Gets ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param [Hash] opts the optional parameters
    # @return [ClaimOccurrenceCodeVBAResponse]
    def get_claim_occurrence_code(vbasoftware_database, occurrence_code, opts = {})
      data, _status_code, _headers = get_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, opts)
      data
    end

    # Get ClaimOccurrenceCode
    # Gets ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimOccurrenceCodeVBAResponse, Integer, Hash)>] ClaimOccurrenceCodeVBAResponse data, response status code and response headers
    def get_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.get_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.get_claim_occurrence_code"
      end
      # verify the required parameter 'occurrence_code' is set
      if @api_client.config.client_side_validation && occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'occurrence_code' when calling ClaimOccurrenceCodesApi.get_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes/{occurrenceCode}'.sub('{' + 'occurrenceCode' + '}', CGI.escape(occurrence_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimOccurrenceCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.get_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#get_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimOccurrenceCode
    # Lists all ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimOccurrenceCodeListVBAResponse]
    def list_claim_occurrence_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_occurrence_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimOccurrenceCode
    # Lists all ClaimOccurrenceCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimOccurrenceCodeListVBAResponse, Integer, Hash)>] ClaimOccurrenceCodeListVBAResponse data, response status code and response headers
    def list_claim_occurrence_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.list_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.list_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimOccurrenceCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.list_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#list_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimOccurrenceCode
    # Create or Update multiple ClaimOccurrenceCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_occurrence_code [Array<ClaimOccurrenceCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_occurrence_code(vbasoftware_database, claim_occurrence_code, opts = {})
      data, _status_code, _headers = update_batch_claim_occurrence_code_with_http_info(vbasoftware_database, claim_occurrence_code, opts)
      data
    end

    # Create or Update Batch ClaimOccurrenceCode
    # Create or Update multiple ClaimOccurrenceCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_occurrence_code [Array<ClaimOccurrenceCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_occurrence_code_with_http_info(vbasoftware_database, claim_occurrence_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.update_batch_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.update_batch_claim_occurrence_code"
      end
      # verify the required parameter 'claim_occurrence_code' is set
      if @api_client.config.client_side_validation && claim_occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_occurrence_code' when calling ClaimOccurrenceCodesApi.update_batch_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_occurrence_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.update_batch_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#update_batch_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimOccurrenceCode
    # Updates a specific ClaimOccurrenceCode.
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param claim_occurrence_code [ClaimOccurrenceCode] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimOccurrenceCodeVBAResponse]
    def update_claim_occurrence_code(vbasoftware_database, occurrence_code, claim_occurrence_code, opts = {})
      data, _status_code, _headers = update_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, claim_occurrence_code, opts)
      data
    end

    # Update ClaimOccurrenceCode
    # Updates a specific ClaimOccurrenceCode.
    # @param vbasoftware_database [String] Target database
    # @param occurrence_code [String] Occurrence Code
    # @param claim_occurrence_code [ClaimOccurrenceCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimOccurrenceCodeVBAResponse, Integer, Hash)>] ClaimOccurrenceCodeVBAResponse data, response status code and response headers
    def update_claim_occurrence_code_with_http_info(vbasoftware_database, occurrence_code, claim_occurrence_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimOccurrenceCodesApi.update_claim_occurrence_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimOccurrenceCodesApi.update_claim_occurrence_code"
      end
      # verify the required parameter 'occurrence_code' is set
      if @api_client.config.client_side_validation && occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'occurrence_code' when calling ClaimOccurrenceCodesApi.update_claim_occurrence_code"
      end
      # verify the required parameter 'claim_occurrence_code' is set
      if @api_client.config.client_side_validation && claim_occurrence_code.nil?
        fail ArgumentError, "Missing the required parameter 'claim_occurrence_code' when calling ClaimOccurrenceCodesApi.update_claim_occurrence_code"
      end
      # resource path
      local_var_path = '/claim-occurrence-codes/{occurrenceCode}'.sub('{' + 'occurrenceCode' + '}', CGI.escape(occurrence_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_occurrence_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimOccurrenceCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimOccurrenceCodesApi.update_claim_occurrence_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimOccurrenceCodesApi#update_claim_occurrence_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
