=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimRuleSetDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimRuleSetDetail
    # Creates a new ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_set_detail [ClaimRuleSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimRuleSetDetailVBAResponse]
    def create_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts = {})
      data, _status_code, _headers = create_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts)
      data
    end

    # Create ClaimRuleSetDetail
    # Creates a new ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_set_detail [ClaimRuleSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRuleSetDetailVBAResponse, Integer, Hash)>] ClaimRuleSetDetailVBAResponse data, response status code and response headers
    def create_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.create_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.create_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.create_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_detail' is set
      if @api_client.config.client_side_validation && claim_rule_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_detail' when calling ClaimRuleSetDetailsApi.create_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_rule_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRuleSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.create_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#create_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimRuleSetDetail
    # Deletes an ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts = {})
      delete_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts)
      nil
    end

    # Delete ClaimRuleSetDetail
    # Deletes an ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.delete_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.delete_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.delete_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_key' is set
      if @api_client.config.client_side_validation && claim_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_key' when calling ClaimRuleSetDetailsApi.delete_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details/{claimRuleKey}'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s)).sub('{' + 'claimRuleKey' + '}', CGI.escape(claim_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.delete_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#delete_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimRuleSetDetail
    # Gets ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimRuleSetDetailVBAResponse]
    def get_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts = {})
      data, _status_code, _headers = get_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts)
      data
    end

    # Get ClaimRuleSetDetail
    # Gets ClaimRuleSetDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRuleSetDetailVBAResponse, Integer, Hash)>] ClaimRuleSetDetailVBAResponse data, response status code and response headers
    def get_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.get_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.get_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.get_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_key' is set
      if @api_client.config.client_side_validation && claim_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_key' when calling ClaimRuleSetDetailsApi.get_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details/{claimRuleKey}'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s)).sub('{' + 'claimRuleKey' + '}', CGI.escape(claim_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRuleSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.get_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#get_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimRuleSetDetail
    # Lists all ClaimRuleSetDetail for the given claimRuleSetHeaderKey
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimRuleSetDetailListVBAResponse]
    def list_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, opts = {})
      data, _status_code, _headers = list_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, opts)
      data
    end

    # List ClaimRuleSetDetail
    # Lists all ClaimRuleSetDetail for the given claimRuleSetHeaderKey
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimRuleSetDetailListVBAResponse, Integer, Hash)>] ClaimRuleSetDetailListVBAResponse data, response status code and response headers
    def list_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.list_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.list_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.list_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRuleSetDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.list_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#list_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimRuleSetDetail
    # Create or Update multiple ClaimRuleSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_set_detail [Array<ClaimRuleSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts = {})
      data, _status_code, _headers = update_batch_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts)
      data
    end

    # Create or Update Batch ClaimRuleSetDetail
    # Create or Update multiple ClaimRuleSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_set_detail [Array<ClaimRuleSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.update_batch_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.update_batch_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.update_batch_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_detail' is set
      if @api_client.config.client_side_validation && claim_rule_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_detail' when calling ClaimRuleSetDetailsApi.update_batch_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details-batch'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_rule_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.update_batch_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#update_batch_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimRuleSetDetail
    # Updates a specific ClaimRuleSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param claim_rule_set_detail [ClaimRuleSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimRuleSetDetailVBAResponse]
    def update_claim_rule_set_detail(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, claim_rule_set_detail, opts = {})
      data, _status_code, _headers = update_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, claim_rule_set_detail, opts)
      data
    end

    # Update ClaimRuleSetDetail
    # Updates a specific ClaimRuleSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param claim_rule_set_header_key [Integer] ClaimRuleSetHeader Key
    # @param claim_rule_key [Integer] ClaimRule Key
    # @param claim_rule_set_detail [ClaimRuleSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRuleSetDetailVBAResponse, Integer, Hash)>] ClaimRuleSetDetailVBAResponse data, response status code and response headers
    def update_claim_rule_set_detail_with_http_info(vbasoftware_database, claim_rule_set_header_key, claim_rule_key, claim_rule_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRuleSetDetailsApi.update_claim_rule_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRuleSetDetailsApi.update_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_header_key' is set
      if @api_client.config.client_side_validation && claim_rule_set_header_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_header_key' when calling ClaimRuleSetDetailsApi.update_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_key' is set
      if @api_client.config.client_side_validation && claim_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_key' when calling ClaimRuleSetDetailsApi.update_claim_rule_set_detail"
      end
      # verify the required parameter 'claim_rule_set_detail' is set
      if @api_client.config.client_side_validation && claim_rule_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_rule_set_detail' when calling ClaimRuleSetDetailsApi.update_claim_rule_set_detail"
      end
      # resource path
      local_var_path = '/claim-rule-set-headers/{claimRuleSetHeaderKey}/details/{claimRuleKey}'.sub('{' + 'claimRuleSetHeaderKey' + '}', CGI.escape(claim_rule_set_header_key.to_s)).sub('{' + 'claimRuleKey' + '}', CGI.escape(claim_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_rule_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRuleSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRuleSetDetailsApi.update_claim_rule_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRuleSetDetailsApi#update_claim_rule_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
