=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimDisabilityDeductionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimDisabilityDeduction
    # Creates a new ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param claim_disability_deduction [ClaimDisabilityDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDisabilityDeductionVBAResponse]
    def create_claim_disability_deduction(vbasoftware_database, claim_disability_deduction, opts = {})
      data, _status_code, _headers = create_claim_disability_deduction_with_http_info(vbasoftware_database, claim_disability_deduction, opts)
      data
    end

    # Create ClaimDisabilityDeduction
    # Creates a new ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param claim_disability_deduction [ClaimDisabilityDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDisabilityDeductionVBAResponse, Integer, Hash)>] ClaimDisabilityDeductionVBAResponse data, response status code and response headers
    def create_claim_disability_deduction_with_http_info(vbasoftware_database, claim_disability_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.create_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.create_claim_disability_deduction"
      end
      # verify the required parameter 'claim_disability_deduction' is set
      if @api_client.config.client_side_validation && claim_disability_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_disability_deduction' when calling ClaimDisabilityDeductionsApi.create_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_disability_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDisabilityDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.create_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#create_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimDisabilityDeduction
    # Deletes an ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_disability_deduction(vbasoftware_database, batch_number, opts = {})
      delete_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, opts)
      nil
    end

    # Delete ClaimDisabilityDeduction
    # Deletes an ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.delete_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.delete_claim_disability_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDisabilityDeductionsApi.delete_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions/{batchNumber}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.delete_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#delete_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimDisabilityDeduction
    # Gets ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param [Hash] opts the optional parameters
    # @return [ClaimDisabilityDeductionVBAResponse]
    def get_claim_disability_deduction(vbasoftware_database, batch_number, opts = {})
      data, _status_code, _headers = get_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, opts)
      data
    end

    # Get ClaimDisabilityDeduction
    # Gets ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDisabilityDeductionVBAResponse, Integer, Hash)>] ClaimDisabilityDeductionVBAResponse data, response status code and response headers
    def get_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.get_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.get_claim_disability_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDisabilityDeductionsApi.get_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions/{batchNumber}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDisabilityDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.get_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#get_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimDisabilityDeduction
    # Lists all ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimDisabilityDeductionListVBAResponse]
    def list_claim_disability_deduction(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_disability_deduction_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimDisabilityDeduction
    # Lists all ClaimDisabilityDeduction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimDisabilityDeductionListVBAResponse, Integer, Hash)>] ClaimDisabilityDeductionListVBAResponse data, response status code and response headers
    def list_claim_disability_deduction_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.list_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.list_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDisabilityDeductionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.list_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#list_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimDisabilityDeduction
    # Create or Update multiple ClaimDisabilityDeduction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_disability_deduction [Array<ClaimDisabilityDeduction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_disability_deduction(vbasoftware_database, claim_disability_deduction, opts = {})
      data, _status_code, _headers = update_batch_claim_disability_deduction_with_http_info(vbasoftware_database, claim_disability_deduction, opts)
      data
    end

    # Create or Update Batch ClaimDisabilityDeduction
    # Create or Update multiple ClaimDisabilityDeduction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_disability_deduction [Array<ClaimDisabilityDeduction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_disability_deduction_with_http_info(vbasoftware_database, claim_disability_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.update_batch_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.update_batch_claim_disability_deduction"
      end
      # verify the required parameter 'claim_disability_deduction' is set
      if @api_client.config.client_side_validation && claim_disability_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_disability_deduction' when calling ClaimDisabilityDeductionsApi.update_batch_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_disability_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.update_batch_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#update_batch_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimDisabilityDeduction
    # Updates a specific ClaimDisabilityDeduction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param claim_disability_deduction [ClaimDisabilityDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimDisabilityDeductionVBAResponse]
    def update_claim_disability_deduction(vbasoftware_database, batch_number, claim_disability_deduction, opts = {})
      data, _status_code, _headers = update_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, claim_disability_deduction, opts)
      data
    end

    # Update ClaimDisabilityDeduction
    # Updates a specific ClaimDisabilityDeduction.
    # @param vbasoftware_database [String] Target database
    # @param batch_number [Integer] Batch Number
    # @param claim_disability_deduction [ClaimDisabilityDeduction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimDisabilityDeductionVBAResponse, Integer, Hash)>] ClaimDisabilityDeductionVBAResponse data, response status code and response headers
    def update_claim_disability_deduction_with_http_info(vbasoftware_database, batch_number, claim_disability_deduction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimDisabilityDeductionsApi.update_claim_disability_deduction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimDisabilityDeductionsApi.update_claim_disability_deduction"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimDisabilityDeductionsApi.update_claim_disability_deduction"
      end
      # verify the required parameter 'claim_disability_deduction' is set
      if @api_client.config.client_side_validation && claim_disability_deduction.nil?
        fail ArgumentError, "Missing the required parameter 'claim_disability_deduction' when calling ClaimDisabilityDeductionsApi.update_claim_disability_deduction"
      end
      # resource path
      local_var_path = '/claim-disability-deductions/{batchNumber}'.sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_disability_deduction)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimDisabilityDeductionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimDisabilityDeductionsApi.update_claim_disability_deduction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimDisabilityDeductionsApi#update_claim_disability_deduction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
