=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimCustomExCodeRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimCustomExCodeRule
    # Creates a new ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param claim_custom_ex_code_rule [ClaimCustomExCodeRule] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimCustomExCodeRuleVBAResponse]
    def create_claim_custom_ex_code_rule(vbasoftware_database, claim_custom_ex_code_rule, opts = {})
      data, _status_code, _headers = create_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, claim_custom_ex_code_rule, opts)
      data
    end

    # Create ClaimCustomExCodeRule
    # Creates a new ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param claim_custom_ex_code_rule [ClaimCustomExCodeRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimCustomExCodeRuleVBAResponse, Integer, Hash)>] ClaimCustomExCodeRuleVBAResponse data, response status code and response headers
    def create_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, claim_custom_ex_code_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.create_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.create_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'claim_custom_ex_code_rule' is set
      if @api_client.config.client_side_validation && claim_custom_ex_code_rule.nil?
        fail ArgumentError, "Missing the required parameter 'claim_custom_ex_code_rule' when calling ClaimCustomExCodeRulesApi.create_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_custom_ex_code_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimCustomExCodeRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.create_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#create_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimCustomExCodeRule
    # Deletes an ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_custom_ex_code_rule(vbasoftware_database, custom_ex_code_rule_key, opts = {})
      delete_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, opts)
      nil
    end

    # Delete ClaimCustomExCodeRule
    # Deletes an ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.delete_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.delete_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'custom_ex_code_rule_key' is set
      if @api_client.config.client_side_validation && custom_ex_code_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'custom_ex_code_rule_key' when calling ClaimCustomExCodeRulesApi.delete_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules/{customExCodeRuleKey}'.sub('{' + 'customExCodeRuleKey' + '}', CGI.escape(custom_ex_code_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.delete_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#delete_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimCustomExCodeRule
    # Gets ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimCustomExCodeRuleVBAResponse]
    def get_claim_custom_ex_code_rule(vbasoftware_database, custom_ex_code_rule_key, opts = {})
      data, _status_code, _headers = get_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, opts)
      data
    end

    # Get ClaimCustomExCodeRule
    # Gets ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimCustomExCodeRuleVBAResponse, Integer, Hash)>] ClaimCustomExCodeRuleVBAResponse data, response status code and response headers
    def get_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.get_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.get_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'custom_ex_code_rule_key' is set
      if @api_client.config.client_side_validation && custom_ex_code_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'custom_ex_code_rule_key' when calling ClaimCustomExCodeRulesApi.get_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules/{customExCodeRuleKey}'.sub('{' + 'customExCodeRuleKey' + '}', CGI.escape(custom_ex_code_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimCustomExCodeRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.get_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#get_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimCustomExCodeRule
    # Lists all ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimCustomExCodeRuleListVBAResponse]
    def list_claim_custom_ex_code_rule(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimCustomExCodeRule
    # Lists all ClaimCustomExCodeRule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimCustomExCodeRuleListVBAResponse, Integer, Hash)>] ClaimCustomExCodeRuleListVBAResponse data, response status code and response headers
    def list_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.list_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.list_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimCustomExCodeRuleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.list_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#list_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimCustomExCodeRule
    # Create or Update multiple ClaimCustomExCodeRule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_custom_ex_code_rule [Array<ClaimCustomExCodeRule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_custom_ex_code_rule(vbasoftware_database, claim_custom_ex_code_rule, opts = {})
      data, _status_code, _headers = update_batch_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, claim_custom_ex_code_rule, opts)
      data
    end

    # Create or Update Batch ClaimCustomExCodeRule
    # Create or Update multiple ClaimCustomExCodeRule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_custom_ex_code_rule [Array<ClaimCustomExCodeRule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, claim_custom_ex_code_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.update_batch_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.update_batch_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'claim_custom_ex_code_rule' is set
      if @api_client.config.client_side_validation && claim_custom_ex_code_rule.nil?
        fail ArgumentError, "Missing the required parameter 'claim_custom_ex_code_rule' when calling ClaimCustomExCodeRulesApi.update_batch_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_custom_ex_code_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.update_batch_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#update_batch_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimCustomExCodeRule
    # Updates a specific ClaimCustomExCodeRule.
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param claim_custom_ex_code_rule [ClaimCustomExCodeRule] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimCustomExCodeRuleVBAResponse]
    def update_claim_custom_ex_code_rule(vbasoftware_database, custom_ex_code_rule_key, claim_custom_ex_code_rule, opts = {})
      data, _status_code, _headers = update_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, claim_custom_ex_code_rule, opts)
      data
    end

    # Update ClaimCustomExCodeRule
    # Updates a specific ClaimCustomExCodeRule.
    # @param vbasoftware_database [String] Target database
    # @param custom_ex_code_rule_key [Integer] ClaimCustomExCodeRule Key
    # @param claim_custom_ex_code_rule [ClaimCustomExCodeRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimCustomExCodeRuleVBAResponse, Integer, Hash)>] ClaimCustomExCodeRuleVBAResponse data, response status code and response headers
    def update_claim_custom_ex_code_rule_with_http_info(vbasoftware_database, custom_ex_code_rule_key, claim_custom_ex_code_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimCustomExCodeRulesApi.update_claim_custom_ex_code_rule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimCustomExCodeRulesApi.update_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'custom_ex_code_rule_key' is set
      if @api_client.config.client_side_validation && custom_ex_code_rule_key.nil?
        fail ArgumentError, "Missing the required parameter 'custom_ex_code_rule_key' when calling ClaimCustomExCodeRulesApi.update_claim_custom_ex_code_rule"
      end
      # verify the required parameter 'claim_custom_ex_code_rule' is set
      if @api_client.config.client_side_validation && claim_custom_ex_code_rule.nil?
        fail ArgumentError, "Missing the required parameter 'claim_custom_ex_code_rule' when calling ClaimCustomExCodeRulesApi.update_claim_custom_ex_code_rule"
      end
      # resource path
      local_var_path = '/claim-custom-ex-code-rules/{customExCodeRuleKey}'.sub('{' + 'customExCodeRuleKey' + '}', CGI.escape(custom_ex_code_rule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_custom_ex_code_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimCustomExCodeRuleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimCustomExCodeRulesApi.update_claim_custom_ex_code_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimCustomExCodeRulesApi#update_claim_custom_ex_code_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
