=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimInvoiceDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimInvoiceDetail
    # Creates a new ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_detail [ClaimInvoiceDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceDetailVBAResponse]
    def create_claim_invoice_detail(vbasoftware_database, claim_invoice_detail, opts = {})
      data, _status_code, _headers = create_claim_invoice_detail_with_http_info(vbasoftware_database, claim_invoice_detail, opts)
      data
    end

    # Create ClaimInvoiceDetail
    # Creates a new ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_detail [ClaimInvoiceDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceDetailVBAResponse, Integer, Hash)>] ClaimInvoiceDetailVBAResponse data, response status code and response headers
    def create_claim_invoice_detail_with_http_info(vbasoftware_database, claim_invoice_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.create_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.create_claim_invoice_detail"
      end
      # verify the required parameter 'claim_invoice_detail' is set
      if @api_client.config.client_side_validation && claim_invoice_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_detail' when calling ClaimInvoiceDetailsApi.create_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice-details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.create_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#create_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimInvoiceDetail
    # Deletes an ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_invoice_detail(vbasoftware_database, invoice_key, batch_number, batch_claim, opts = {})
      delete_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, opts)
      nil
    end

    # Delete ClaimInvoiceDetail
    # Deletes an ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.delete_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.delete_claim_invoice_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceDetailsApi.delete_claim_invoice_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimInvoiceDetailsApi.delete_claim_invoice_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimInvoiceDetailsApi.delete_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.delete_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#delete_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimInvoiceDetail
    # Gets ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceDetailVBAResponse]
    def get_claim_invoice_detail(vbasoftware_database, invoice_key, batch_number, batch_claim, opts = {})
      data, _status_code, _headers = get_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, opts)
      data
    end

    # Get ClaimInvoiceDetail
    # Gets ClaimInvoiceDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceDetailVBAResponse, Integer, Hash)>] ClaimInvoiceDetailVBAResponse data, response status code and response headers
    def get_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.get_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.get_claim_invoice_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceDetailsApi.get_claim_invoice_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimInvoiceDetailsApi.get_claim_invoice_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimInvoiceDetailsApi.get_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.get_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#get_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimInvoiceDetail
    # Lists all ClaimInvoiceDetail for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ClaimInvoiceDetailListVBAResponse]
    def list_claim_invoice_detail(vbasoftware_database, invoice_key, opts = {})
      data, _status_code, _headers = list_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, opts)
      data
    end

    # List ClaimInvoiceDetail
    # Lists all ClaimInvoiceDetail for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ClaimInvoiceDetailListVBAResponse, Integer, Hash)>] ClaimInvoiceDetailListVBAResponse data, response status code and response headers
    def list_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.list_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.list_claim_invoice_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceDetailsApi.list_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/details'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.list_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#list_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimInvoiceDetail
    # Create or Update multiple ClaimInvoiceDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_detail [Array<ClaimInvoiceDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_invoice_detail(vbasoftware_database, invoice_key, claim_invoice_detail, opts = {})
      data, _status_code, _headers = update_batch_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, claim_invoice_detail, opts)
      data
    end

    # Create or Update Batch ClaimInvoiceDetail
    # Create or Update multiple ClaimInvoiceDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_detail [Array<ClaimInvoiceDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, claim_invoice_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.update_batch_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.update_batch_claim_invoice_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceDetailsApi.update_batch_claim_invoice_detail"
      end
      # verify the required parameter 'claim_invoice_detail' is set
      if @api_client.config.client_side_validation && claim_invoice_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_detail' when calling ClaimInvoiceDetailsApi.update_batch_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/details-batch'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.update_batch_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#update_batch_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimInvoiceDetail
    # Updates a specific ClaimInvoiceDetail.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_invoice_detail [ClaimInvoiceDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceDetailVBAResponse]
    def update_claim_invoice_detail(vbasoftware_database, invoice_key, batch_number, batch_claim, claim_invoice_detail, opts = {})
      data, _status_code, _headers = update_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, claim_invoice_detail, opts)
      data
    end

    # Update ClaimInvoiceDetail
    # Updates a specific ClaimInvoiceDetail.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_invoice_detail [ClaimInvoiceDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceDetailVBAResponse, Integer, Hash)>] ClaimInvoiceDetailVBAResponse data, response status code and response headers
    def update_claim_invoice_detail_with_http_info(vbasoftware_database, invoice_key, batch_number, batch_claim, claim_invoice_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceDetailsApi.update_claim_invoice_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceDetailsApi.update_claim_invoice_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceDetailsApi.update_claim_invoice_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling ClaimInvoiceDetailsApi.update_claim_invoice_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling ClaimInvoiceDetailsApi.update_claim_invoice_detail"
      end
      # verify the required parameter 'claim_invoice_detail' is set
      if @api_client.config.client_side_validation && claim_invoice_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_detail' when calling ClaimInvoiceDetailsApi.update_claim_invoice_detail"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceDetailsApi.update_claim_invoice_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceDetailsApi#update_claim_invoice_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
