=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimInvoiceReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimInvoiceReceived
    # Creates a new ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received [ClaimInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceReceivedVBAResponse]
    def create_claim_invoice_received(vbasoftware_database, claim_invoice_received, opts = {})
      data, _status_code, _headers = create_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received, opts)
      data
    end

    # Create ClaimInvoiceReceived
    # Creates a new ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received [ClaimInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceReceivedVBAResponse, Integer, Hash)>] ClaimInvoiceReceivedVBAResponse data, response status code and response headers
    def create_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.create_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.create_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received' is set
      if @api_client.config.client_side_validation && claim_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received' when calling ClaimInvoiceReceivedApi.create_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice-received'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.create_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#create_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimInvoiceReceived
    # Deletes an ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_invoice_received(vbasoftware_database, claim_invoice_received_key, opts = {})
      delete_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, opts)
      nil
    end

    # Delete ClaimInvoiceReceived
    # Deletes an ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.delete_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.delete_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received_key' is set
      if @api_client.config.client_side_validation && claim_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received_key' when calling ClaimInvoiceReceivedApi.delete_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice-received/{claimInvoiceReceivedKey}'.sub('{' + 'claimInvoiceReceivedKey' + '}', CGI.escape(claim_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.delete_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#delete_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimInvoiceReceived
    # Gets ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceReceivedVBAResponse]
    def get_claim_invoice_received(vbasoftware_database, claim_invoice_received_key, opts = {})
      data, _status_code, _headers = get_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, opts)
      data
    end

    # Get ClaimInvoiceReceived
    # Gets ClaimInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceReceivedVBAResponse, Integer, Hash)>] ClaimInvoiceReceivedVBAResponse data, response status code and response headers
    def get_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.get_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.get_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received_key' is set
      if @api_client.config.client_side_validation && claim_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received_key' when calling ClaimInvoiceReceivedApi.get_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice-received/{claimInvoiceReceivedKey}'.sub('{' + 'claimInvoiceReceivedKey' + '}', CGI.escape(claim_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.get_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#get_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimInvoiceReceived
    # Lists all ClaimInvoiceReceived for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ClaimInvoiceReceivedListVBAResponse]
    def list_claim_invoice_received(vbasoftware_database, invoice_key, opts = {})
      data, _status_code, _headers = list_claim_invoice_received_with_http_info(vbasoftware_database, invoice_key, opts)
      data
    end

    # List ClaimInvoiceReceived
    # Lists all ClaimInvoiceReceived for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ClaimInvoiceReceivedListVBAResponse, Integer, Hash)>] ClaimInvoiceReceivedListVBAResponse data, response status code and response headers
    def list_claim_invoice_received_with_http_info(vbasoftware_database, invoice_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.list_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.list_claim_invoice_received"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceReceivedApi.list_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/received'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceReceivedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.list_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#list_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimInvoiceReceived
    # Create or Update multiple ClaimInvoiceReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_received [Array<ClaimInvoiceReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_invoice_received(vbasoftware_database, invoice_key, claim_invoice_received, opts = {})
      data, _status_code, _headers = update_batch_claim_invoice_received_with_http_info(vbasoftware_database, invoice_key, claim_invoice_received, opts)
      data
    end

    # Create or Update Batch ClaimInvoiceReceived
    # Create or Update multiple ClaimInvoiceReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param claim_invoice_received [Array<ClaimInvoiceReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_invoice_received_with_http_info(vbasoftware_database, invoice_key, claim_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.update_batch_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.update_batch_claim_invoice_received"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ClaimInvoiceReceivedApi.update_batch_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received' is set
      if @api_client.config.client_side_validation && claim_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received' when calling ClaimInvoiceReceivedApi.update_batch_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice/{invoiceKey}/received-batch'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.update_batch_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#update_batch_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimInvoiceReceived
    # Updates a specific ClaimInvoiceReceived.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param claim_invoice_received [ClaimInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimInvoiceReceivedVBAResponse]
    def update_claim_invoice_received(vbasoftware_database, claim_invoice_received_key, claim_invoice_received, opts = {})
      data, _status_code, _headers = update_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, claim_invoice_received, opts)
      data
    end

    # Update ClaimInvoiceReceived
    # Updates a specific ClaimInvoiceReceived.
    # @param vbasoftware_database [String] Target database
    # @param claim_invoice_received_key [Integer] ClaimInvoiceReceived Key
    # @param claim_invoice_received [ClaimInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimInvoiceReceivedVBAResponse, Integer, Hash)>] ClaimInvoiceReceivedVBAResponse data, response status code and response headers
    def update_claim_invoice_received_with_http_info(vbasoftware_database, claim_invoice_received_key, claim_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimInvoiceReceivedApi.update_claim_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimInvoiceReceivedApi.update_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received_key' is set
      if @api_client.config.client_side_validation && claim_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received_key' when calling ClaimInvoiceReceivedApi.update_claim_invoice_received"
      end
      # verify the required parameter 'claim_invoice_received' is set
      if @api_client.config.client_side_validation && claim_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'claim_invoice_received' when calling ClaimInvoiceReceivedApi.update_claim_invoice_received"
      end
      # resource path
      local_var_path = '/claim-invoice-received/{claimInvoiceReceivedKey}'.sub('{' + 'claimInvoiceReceivedKey' + '}', CGI.escape(claim_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimInvoiceReceivedApi.update_claim_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimInvoiceReceivedApi#update_claim_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
