=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimRepriceRemoveApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimRepriceRemove
    # Creates a new ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove [ClaimRepriceRemove] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimRepriceRemoveVBAResponse]
    def create_claim_reprice_remove(vbasoftware_database, claim_reprice_remove, opts = {})
      data, _status_code, _headers = create_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove, opts)
      data
    end

    # Create ClaimRepriceRemove
    # Creates a new ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove [ClaimRepriceRemove] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRepriceRemoveVBAResponse, Integer, Hash)>] ClaimRepriceRemoveVBAResponse data, response status code and response headers
    def create_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.create_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.create_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove' is set
      if @api_client.config.client_side_validation && claim_reprice_remove.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove' when calling ClaimRepriceRemoveApi.create_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_reprice_remove)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRepriceRemoveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.create_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#create_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimRepriceRemove
    # Deletes an ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_reprice_remove(vbasoftware_database, claim_reprice_remove_key, opts = {})
      delete_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, opts)
      nil
    end

    # Delete ClaimRepriceRemove
    # Deletes an ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.delete_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.delete_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove_key' is set
      if @api_client.config.client_side_validation && claim_reprice_remove_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove_key' when calling ClaimRepriceRemoveApi.delete_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove/{ClaimRepriceRemove_Key}'.sub('{' + 'ClaimRepriceRemove_Key' + '}', CGI.escape(claim_reprice_remove_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.delete_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#delete_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimRepriceRemove
    # Gets ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param [Hash] opts the optional parameters
    # @return [ClaimRepriceRemoveVBAResponse]
    def get_claim_reprice_remove(vbasoftware_database, claim_reprice_remove_key, opts = {})
      data, _status_code, _headers = get_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, opts)
      data
    end

    # Get ClaimRepriceRemove
    # Gets ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRepriceRemoveVBAResponse, Integer, Hash)>] ClaimRepriceRemoveVBAResponse data, response status code and response headers
    def get_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.get_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.get_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove_key' is set
      if @api_client.config.client_side_validation && claim_reprice_remove_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove_key' when calling ClaimRepriceRemoveApi.get_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove/{ClaimRepriceRemove_Key}'.sub('{' + 'ClaimRepriceRemove_Key' + '}', CGI.escape(claim_reprice_remove_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRepriceRemoveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.get_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#get_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimRepriceRemove
    # Lists all ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ClaimRepriceRemoveListVBAResponse]
    def list_claim_reprice_remove(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_reprice_remove_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimRepriceRemove
    # Lists all ClaimRepriceRemove
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ClaimRepriceRemoveListVBAResponse, Integer, Hash)>] ClaimRepriceRemoveListVBAResponse data, response status code and response headers
    def list_claim_reprice_remove_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.list_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.list_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRepriceRemoveListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.list_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#list_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimRepriceRemove
    # Create or Update multiple ClaimRepriceRemove at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove [Array<ClaimRepriceRemove>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_reprice_remove(vbasoftware_database, claim_reprice_remove, opts = {})
      data, _status_code, _headers = update_batch_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove, opts)
      data
    end

    # Create or Update Batch ClaimRepriceRemove
    # Create or Update multiple ClaimRepriceRemove at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove [Array<ClaimRepriceRemove>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.update_batch_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.update_batch_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove' is set
      if @api_client.config.client_side_validation && claim_reprice_remove.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove' when calling ClaimRepriceRemoveApi.update_batch_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_reprice_remove)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.update_batch_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#update_batch_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimRepriceRemove
    # Updates a specific ClaimRepriceRemove.
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param claim_reprice_remove [ClaimRepriceRemove] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimRepriceRemoveVBAResponse]
    def update_claim_reprice_remove(vbasoftware_database, claim_reprice_remove_key, claim_reprice_remove, opts = {})
      data, _status_code, _headers = update_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, claim_reprice_remove, opts)
      data
    end

    # Update ClaimRepriceRemove
    # Updates a specific ClaimRepriceRemove.
    # @param vbasoftware_database [String] Target database
    # @param claim_reprice_remove_key [Integer] ClaimRepriceRemove Key
    # @param claim_reprice_remove [ClaimRepriceRemove] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimRepriceRemoveVBAResponse, Integer, Hash)>] ClaimRepriceRemoveVBAResponse data, response status code and response headers
    def update_claim_reprice_remove_with_http_info(vbasoftware_database, claim_reprice_remove_key, claim_reprice_remove, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimRepriceRemoveApi.update_claim_reprice_remove ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimRepriceRemoveApi.update_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove_key' is set
      if @api_client.config.client_side_validation && claim_reprice_remove_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove_key' when calling ClaimRepriceRemoveApi.update_claim_reprice_remove"
      end
      # verify the required parameter 'claim_reprice_remove' is set
      if @api_client.config.client_side_validation && claim_reprice_remove.nil?
        fail ArgumentError, "Missing the required parameter 'claim_reprice_remove' when calling ClaimRepriceRemoveApi.update_claim_reprice_remove"
      end
      # resource path
      local_var_path = '/claim-reprice-remove/{ClaimRepriceRemove_Key}'.sub('{' + 'ClaimRepriceRemove_Key' + '}', CGI.escape(claim_reprice_remove_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_reprice_remove)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimRepriceRemoveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimRepriceRemoveApi.update_claim_reprice_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimRepriceRemoveApi#update_claim_reprice_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
