=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimStatus
    # Creates a new ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [ClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimStatusVBAResponse]
    def create_claim_status(vbasoftware_database, claim_status, opts = {})
      data, _status_code, _headers = create_claim_status_with_http_info(vbasoftware_database, claim_status, opts)
      data
    end

    # Create ClaimStatus
    # Creates a new ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [ClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimStatusVBAResponse, Integer, Hash)>] ClaimStatusVBAResponse data, response status code and response headers
    def create_claim_status_with_http_info(vbasoftware_database, claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.create_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.create_claim_status"
      end
      # verify the required parameter 'claim_status' is set
      if @api_client.config.client_side_validation && claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status' when calling ClaimStatusesApi.create_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.create_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#create_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimStatus
    # Deletes an ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_status(vbasoftware_database, claim_status, opts = {})
      delete_claim_status_with_http_info(vbasoftware_database, claim_status, opts)
      nil
    end

    # Delete ClaimStatus
    # Deletes an ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_status_with_http_info(vbasoftware_database, claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.delete_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.delete_claim_status"
      end
      # verify the required parameter 'claim_status' is set
      if @api_client.config.client_side_validation && claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status' when calling ClaimStatusesApi.delete_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses/{claimStatus}'.sub('{' + 'claimStatus' + '}', CGI.escape(claim_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.delete_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#delete_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimStatus
    # Gets ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param [Hash] opts the optional parameters
    # @return [ClaimStatusVBAResponse]
    def get_claim_status(vbasoftware_database, claim_status, opts = {})
      data, _status_code, _headers = get_claim_status_with_http_info(vbasoftware_database, claim_status, opts)
      data
    end

    # Get ClaimStatus
    # Gets ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimStatusVBAResponse, Integer, Hash)>] ClaimStatusVBAResponse data, response status code and response headers
    def get_claim_status_with_http_info(vbasoftware_database, claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.get_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.get_claim_status"
      end
      # verify the required parameter 'claim_status' is set
      if @api_client.config.client_side_validation && claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status' when calling ClaimStatusesApi.get_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses/{claimStatus}'.sub('{' + 'claimStatus' + '}', CGI.escape(claim_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.get_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#get_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimStatus
    # Lists all ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimStatusListVBAResponse]
    def list_claim_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimStatus
    # Lists all ClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimStatusListVBAResponse, Integer, Hash)>] ClaimStatusListVBAResponse data, response status code and response headers
    def list_claim_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.list_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.list_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.list_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#list_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimStatus
    # Create or Update multiple ClaimStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_status [Array<ClaimStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_status(vbasoftware_database, claim_status, opts = {})
      data, _status_code, _headers = update_batch_claim_status_with_http_info(vbasoftware_database, claim_status, opts)
      data
    end

    # Create or Update Batch ClaimStatus
    # Create or Update multiple ClaimStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_status [Array<ClaimStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_status_with_http_info(vbasoftware_database, claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.update_batch_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.update_batch_claim_status"
      end
      # verify the required parameter 'claim_status' is set
      if @api_client.config.client_side_validation && claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status' when calling ClaimStatusesApi.update_batch_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.update_batch_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#update_batch_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimStatus
    # Updates a specific ClaimStatus.
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param claim_status2 [ClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimStatusVBAResponse]
    def update_claim_status(vbasoftware_database, claim_status, claim_status2, opts = {})
      data, _status_code, _headers = update_claim_status_with_http_info(vbasoftware_database, claim_status, claim_status2, opts)
      data
    end

    # Update ClaimStatus
    # Updates a specific ClaimStatus.
    # @param vbasoftware_database [String] Target database
    # @param claim_status [String] Claim Status
    # @param claim_status2 [ClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimStatusVBAResponse, Integer, Hash)>] ClaimStatusVBAResponse data, response status code and response headers
    def update_claim_status_with_http_info(vbasoftware_database, claim_status, claim_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimStatusesApi.update_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimStatusesApi.update_claim_status"
      end
      # verify the required parameter 'claim_status' is set
      if @api_client.config.client_side_validation && claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status' when calling ClaimStatusesApi.update_claim_status"
      end
      # verify the required parameter 'claim_status2' is set
      if @api_client.config.client_side_validation && claim_status2.nil?
        fail ArgumentError, "Missing the required parameter 'claim_status2' when calling ClaimStatusesApi.update_claim_status"
      end
      # resource path
      local_var_path = '/claim-statuses/{claimStatus}'.sub('{' + 'claimStatus' + '}', CGI.escape(claim_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimStatusesApi.update_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimStatusesApi#update_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
