=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimAuditResultsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimAuditResult
    # Creates a new ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_result [ClaimAuditResult] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditResultVBAResponse]
    def create_claim_audit_result(vbasoftware_database, claim_audit_result, opts = {})
      data, _status_code, _headers = create_claim_audit_result_with_http_info(vbasoftware_database, claim_audit_result, opts)
      data
    end

    # Create ClaimAuditResult
    # Creates a new ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_result [ClaimAuditResult] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditResultVBAResponse, Integer, Hash)>] ClaimAuditResultVBAResponse data, response status code and response headers
    def create_claim_audit_result_with_http_info(vbasoftware_database, claim_audit_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.create_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.create_claim_audit_result"
      end
      # verify the required parameter 'claim_audit_result' is set
      if @api_client.config.client_side_validation && claim_audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_result' when calling ClaimAuditResultsApi.create_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_result)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.create_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#create_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimAuditResult
    # Deletes an ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_audit_result(vbasoftware_database, audit_result, opts = {})
      delete_claim_audit_result_with_http_info(vbasoftware_database, audit_result, opts)
      nil
    end

    # Delete ClaimAuditResult
    # Deletes an ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_audit_result_with_http_info(vbasoftware_database, audit_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.delete_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.delete_claim_audit_result"
      end
      # verify the required parameter 'audit_result' is set
      if @api_client.config.client_side_validation && audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'audit_result' when calling ClaimAuditResultsApi.delete_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results/{auditResult}'.sub('{' + 'auditResult' + '}', CGI.escape(audit_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.delete_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#delete_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimAuditResult
    # Gets ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditResultVBAResponse]
    def get_claim_audit_result(vbasoftware_database, audit_result, opts = {})
      data, _status_code, _headers = get_claim_audit_result_with_http_info(vbasoftware_database, audit_result, opts)
      data
    end

    # Get ClaimAuditResult
    # Gets ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditResultVBAResponse, Integer, Hash)>] ClaimAuditResultVBAResponse data, response status code and response headers
    def get_claim_audit_result_with_http_info(vbasoftware_database, audit_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.get_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.get_claim_audit_result"
      end
      # verify the required parameter 'audit_result' is set
      if @api_client.config.client_side_validation && audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'audit_result' when calling ClaimAuditResultsApi.get_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results/{auditResult}'.sub('{' + 'auditResult' + '}', CGI.escape(audit_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.get_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#get_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimAuditResult
    # Lists all ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimAuditResultListVBAResponse]
    def list_claim_audit_result(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_audit_result_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimAuditResult
    # Lists all ClaimAuditResult
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimAuditResultListVBAResponse, Integer, Hash)>] ClaimAuditResultListVBAResponse data, response status code and response headers
    def list_claim_audit_result_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.list_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.list_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditResultListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.list_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#list_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimAuditResult
    # Create or Update multiple ClaimAuditResult at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_result [Array<ClaimAuditResult>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_audit_result(vbasoftware_database, claim_audit_result, opts = {})
      data, _status_code, _headers = update_batch_claim_audit_result_with_http_info(vbasoftware_database, claim_audit_result, opts)
      data
    end

    # Create or Update Batch ClaimAuditResult
    # Create or Update multiple ClaimAuditResult at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_audit_result [Array<ClaimAuditResult>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_audit_result_with_http_info(vbasoftware_database, claim_audit_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.update_batch_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.update_batch_claim_audit_result"
      end
      # verify the required parameter 'claim_audit_result' is set
      if @api_client.config.client_side_validation && claim_audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_result' when calling ClaimAuditResultsApi.update_batch_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_result)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.update_batch_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#update_batch_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimAuditResult
    # Updates a specific ClaimAuditResult.
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param claim_audit_result [ClaimAuditResult] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimAuditResultVBAResponse]
    def update_claim_audit_result(vbasoftware_database, audit_result, claim_audit_result, opts = {})
      data, _status_code, _headers = update_claim_audit_result_with_http_info(vbasoftware_database, audit_result, claim_audit_result, opts)
      data
    end

    # Update ClaimAuditResult
    # Updates a specific ClaimAuditResult.
    # @param vbasoftware_database [String] Target database
    # @param audit_result [String] Audit Result
    # @param claim_audit_result [ClaimAuditResult] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimAuditResultVBAResponse, Integer, Hash)>] ClaimAuditResultVBAResponse data, response status code and response headers
    def update_claim_audit_result_with_http_info(vbasoftware_database, audit_result, claim_audit_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimAuditResultsApi.update_claim_audit_result ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimAuditResultsApi.update_claim_audit_result"
      end
      # verify the required parameter 'audit_result' is set
      if @api_client.config.client_side_validation && audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'audit_result' when calling ClaimAuditResultsApi.update_claim_audit_result"
      end
      # verify the required parameter 'claim_audit_result' is set
      if @api_client.config.client_side_validation && claim_audit_result.nil?
        fail ArgumentError, "Missing the required parameter 'claim_audit_result' when calling ClaimAuditResultsApi.update_claim_audit_result"
      end
      # resource path
      local_var_path = '/claim-audit-results/{auditResult}'.sub('{' + 'auditResult' + '}', CGI.escape(audit_result.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_audit_result)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimAuditResultVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimAuditResultsApi.update_claim_audit_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimAuditResultsApi#update_claim_audit_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
