=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ClaimQueueProcessTrackingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimQueueProcessTrack
    # Creates a new ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_process_track [ClaimQueueProcessTrack] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueProcessTrackVBAResponse]
    def create_claim_queue_process_track(vbasoftware_database, claim_queue_process_track, opts = {})
      data, _status_code, _headers = create_claim_queue_process_track_with_http_info(vbasoftware_database, claim_queue_process_track, opts)
      data
    end

    # Create ClaimQueueProcessTrack
    # Creates a new ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_process_track [ClaimQueueProcessTrack] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueProcessTrackVBAResponse, Integer, Hash)>] ClaimQueueProcessTrackVBAResponse data, response status code and response headers
    def create_claim_queue_process_track_with_http_info(vbasoftware_database, claim_queue_process_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.create_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.create_claim_queue_process_track"
      end
      # verify the required parameter 'claim_queue_process_track' is set
      if @api_client.config.client_side_validation && claim_queue_process_track.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_process_track' when calling ClaimQueueProcessTrackingApi.create_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_process_track)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueProcessTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.create_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#create_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimQueueProcessTrack
    # Deletes an ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_queue_process_track(vbasoftware_database, subscriber_id, opts = {})
      delete_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, opts)
      nil
    end

    # Delete ClaimQueueProcessTrack
    # Deletes an ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.delete_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.delete_claim_queue_process_track"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ClaimQueueProcessTrackingApi.delete_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking/{subscriberID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.delete_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#delete_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimQueueProcessTrack
    # Gets ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueProcessTrackVBAResponse]
    def get_claim_queue_process_track(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = get_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # Get ClaimQueueProcessTrack
    # Gets ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueProcessTrackVBAResponse, Integer, Hash)>] ClaimQueueProcessTrackVBAResponse data, response status code and response headers
    def get_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.get_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.get_claim_queue_process_track"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ClaimQueueProcessTrackingApi.get_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking/{subscriberID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueProcessTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.get_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#get_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimQueueProcessTrack
    # Lists all ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimQueueProcessTrackListVBAResponse]
    def list_claim_queue_process_track(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_claim_queue_process_track_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ClaimQueueProcessTrack
    # Lists all ClaimQueueProcessTrack
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimQueueProcessTrackListVBAResponse, Integer, Hash)>] ClaimQueueProcessTrackListVBAResponse data, response status code and response headers
    def list_claim_queue_process_track_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.list_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.list_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueProcessTrackListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.list_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#list_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimQueueProcessTrack
    # Create or Update multiple ClaimQueueProcessTrack at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_process_track [Array<ClaimQueueProcessTrack>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_queue_process_track(vbasoftware_database, claim_queue_process_track, opts = {})
      data, _status_code, _headers = update_batch_claim_queue_process_track_with_http_info(vbasoftware_database, claim_queue_process_track, opts)
      data
    end

    # Create or Update Batch ClaimQueueProcessTrack
    # Create or Update multiple ClaimQueueProcessTrack at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_queue_process_track [Array<ClaimQueueProcessTrack>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_queue_process_track_with_http_info(vbasoftware_database, claim_queue_process_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.update_batch_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.update_batch_claim_queue_process_track"
      end
      # verify the required parameter 'claim_queue_process_track' is set
      if @api_client.config.client_side_validation && claim_queue_process_track.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_process_track' when calling ClaimQueueProcessTrackingApi.update_batch_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_process_track)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.update_batch_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#update_batch_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimQueueProcessTrack
    # Updates a specific ClaimQueueProcessTrack.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param claim_queue_process_track [ClaimQueueProcessTrack] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimQueueProcessTrackVBAResponse]
    def update_claim_queue_process_track(vbasoftware_database, subscriber_id, claim_queue_process_track, opts = {})
      data, _status_code, _headers = update_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, claim_queue_process_track, opts)
      data
    end

    # Update ClaimQueueProcessTrack
    # Updates a specific ClaimQueueProcessTrack.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param claim_queue_process_track [ClaimQueueProcessTrack] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimQueueProcessTrackVBAResponse, Integer, Hash)>] ClaimQueueProcessTrackVBAResponse data, response status code and response headers
    def update_claim_queue_process_track_with_http_info(vbasoftware_database, subscriber_id, claim_queue_process_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimQueueProcessTrackingApi.update_claim_queue_process_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ClaimQueueProcessTrackingApi.update_claim_queue_process_track"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ClaimQueueProcessTrackingApi.update_claim_queue_process_track"
      end
      # verify the required parameter 'claim_queue_process_track' is set
      if @api_client.config.client_side_validation && claim_queue_process_track.nil?
        fail ArgumentError, "Missing the required parameter 'claim_queue_process_track' when calling ClaimQueueProcessTrackingApi.update_claim_queue_process_track"
      end
      # resource path
      local_var_path = '/claim-queue-process-tracking/{subscriberID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_queue_process_track)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimQueueProcessTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ClaimQueueProcessTrackingApi.update_claim_queue_process_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimQueueProcessTrackingApi#update_claim_queue_process_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
