=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CLIACertificateProcedureCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CLIACertificateProcedureCode
    # Creates a new CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param clia_certificate_procedure_code [CLIACertificateProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProcedureCodeVBAResponse]
    def create_clia_certificate_procedure_code(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts = {})
      data, _status_code, _headers = create_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts)
      data
    end

    # Create CLIACertificateProcedureCode
    # Creates a new CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param clia_certificate_procedure_code [CLIACertificateProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProcedureCodeVBAResponse, Integer, Hash)>] CLIACertificateProcedureCodeVBAResponse data, response status code and response headers
    def create_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.create_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.create_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.create_clia_certificate_procedure_code"
      end
      # verify the required parameter 'clia_certificate_procedure_code' is set
      if @api_client.config.client_side_validation && clia_certificate_procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_procedure_code' when calling CLIACertificateProcedureCodesApi.create_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_procedure_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.create_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#create_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CLIACertificateProcedureCode
    # Deletes an CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_clia_certificate_procedure_code(vbasoftware_database, certificate_id, procedure_code, opts = {})
      delete_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, opts)
      nil
    end

    # Delete CLIACertificateProcedureCode
    # Deletes an CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.delete_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.delete_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.delete_clia_certificate_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling CLIACertificateProcedureCodesApi.delete_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes/{procedureCode}'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.delete_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#delete_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CLIACertificateProcedureCode
    # Gets CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProcedureCodeVBAResponse]
    def get_clia_certificate_procedure_code(vbasoftware_database, certificate_id, procedure_code, opts = {})
      data, _status_code, _headers = get_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, opts)
      data
    end

    # Get CLIACertificateProcedureCode
    # Gets CLIACertificateProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProcedureCodeVBAResponse, Integer, Hash)>] CLIACertificateProcedureCodeVBAResponse data, response status code and response headers
    def get_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.get_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.get_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.get_clia_certificate_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling CLIACertificateProcedureCodesApi.get_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes/{procedureCode}'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.get_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#get_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CLIACertificateProcedureCode
    # Lists all CLIACertificateProcedureCode for the given certificateID
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CLIACertificateProcedureCodeListVBAResponse]
    def list_clia_certificate_procedure_code(vbasoftware_database, certificate_id, opts = {})
      data, _status_code, _headers = list_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, opts)
      data
    end

    # List CLIACertificateProcedureCode
    # Lists all CLIACertificateProcedureCode for the given certificateID
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CLIACertificateProcedureCodeListVBAResponse, Integer, Hash)>] CLIACertificateProcedureCodeListVBAResponse data, response status code and response headers
    def list_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.list_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.list_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.list_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProcedureCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.list_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#list_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CLIACertificateProcedureCode
    # Create or Update multiple CLIACertificateProcedureCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param clia_certificate_procedure_code [Array<CLIACertificateProcedureCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_clia_certificate_procedure_code(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts = {})
      data, _status_code, _headers = update_batch_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts)
      data
    end

    # Create or Update Batch CLIACertificateProcedureCode
    # Create or Update multiple CLIACertificateProcedureCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param clia_certificate_procedure_code [Array<CLIACertificateProcedureCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, clia_certificate_procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.update_batch_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.update_batch_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.update_batch_clia_certificate_procedure_code"
      end
      # verify the required parameter 'clia_certificate_procedure_code' is set
      if @api_client.config.client_side_validation && clia_certificate_procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_procedure_code' when calling CLIACertificateProcedureCodesApi.update_batch_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes-batch'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_procedure_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.update_batch_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#update_batch_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CLIACertificateProcedureCode
    # Updates a specific CLIACertificateProcedureCode.
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param clia_certificate_procedure_code [CLIACertificateProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProcedureCodeVBAResponse]
    def update_clia_certificate_procedure_code(vbasoftware_database, certificate_id, procedure_code, clia_certificate_procedure_code, opts = {})
      data, _status_code, _headers = update_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, clia_certificate_procedure_code, opts)
      data
    end

    # Update CLIACertificateProcedureCode
    # Updates a specific CLIACertificateProcedureCode.
    # @param vbasoftware_database [String] Target database
    # @param certificate_id [Integer] Certificate ID
    # @param procedure_code [String] Procedure Code
    # @param clia_certificate_procedure_code [CLIACertificateProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProcedureCodeVBAResponse, Integer, Hash)>] CLIACertificateProcedureCodeVBAResponse data, response status code and response headers
    def update_clia_certificate_procedure_code_with_http_info(vbasoftware_database, certificate_id, procedure_code, clia_certificate_procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code"
      end
      # verify the required parameter 'clia_certificate_procedure_code' is set
      if @api_client.config.client_side_validation && clia_certificate_procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_procedure_code' when calling CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code"
      end
      # resource path
      local_var_path = '/clia-certificates/{certificateID}/procedure-codes/{procedureCode}'.sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_procedure_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CLIACertificateProcedureCodesApi.update_clia_certificate_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CLIACertificateProcedureCodesApi#update_clia_certificate_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
