=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CollegesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create College
    # Creates a new College
    # @param vbasoftware_database [String] Target database
    # @param college [College] 
    # @param [Hash] opts the optional parameters
    # @return [CollegeVBAResponse]
    def create_college(vbasoftware_database, college, opts = {})
      data, _status_code, _headers = create_college_with_http_info(vbasoftware_database, college, opts)
      data
    end

    # Create College
    # Creates a new College
    # @param vbasoftware_database [String] Target database
    # @param college [College] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeVBAResponse, Integer, Hash)>] CollegeVBAResponse data, response status code and response headers
    def create_college_with_http_info(vbasoftware_database, college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.create_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.create_college"
      end
      # verify the required parameter 'college' is set
      if @api_client.config.client_side_validation && college.nil?
        fail ArgumentError, "Missing the required parameter 'college' when calling CollegesApi.create_college"
      end
      # resource path
      local_var_path = '/colleges'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college)

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.create_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#create_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete College
    # Deletes an College
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_college(vbasoftware_database, college_key, opts = {})
      delete_college_with_http_info(vbasoftware_database, college_key, opts)
      nil
    end

    # Delete College
    # Deletes an College
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_college_with_http_info(vbasoftware_database, college_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.delete_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.delete_college"
      end
      # verify the required parameter 'college_key' is set
      if @api_client.config.client_side_validation && college_key.nil?
        fail ArgumentError, "Missing the required parameter 'college_key' when calling CollegesApi.delete_college"
      end
      # resource path
      local_var_path = '/colleges/{collegeKey}'.sub('{' + 'collegeKey' + '}', CGI.escape(college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.delete_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#delete_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get College
    # Gets College
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param [Hash] opts the optional parameters
    # @return [CollegeVBAResponse]
    def get_college(vbasoftware_database, college_key, opts = {})
      data, _status_code, _headers = get_college_with_http_info(vbasoftware_database, college_key, opts)
      data
    end

    # Get College
    # Gets College
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeVBAResponse, Integer, Hash)>] CollegeVBAResponse data, response status code and response headers
    def get_college_with_http_info(vbasoftware_database, college_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.get_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.get_college"
      end
      # verify the required parameter 'college_key' is set
      if @api_client.config.client_side_validation && college_key.nil?
        fail ArgumentError, "Missing the required parameter 'college_key' when calling CollegesApi.get_college"
      end
      # resource path
      local_var_path = '/colleges/{collegeKey}'.sub('{' + 'collegeKey' + '}', CGI.escape(college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.get_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#get_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List College
    # Lists all College
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CollegeListVBAResponse]
    def list_college(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_college_with_http_info(vbasoftware_database, opts)
      data
    end

    # List College
    # Lists all College
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CollegeListVBAResponse, Integer, Hash)>] CollegeListVBAResponse data, response status code and response headers
    def list_college_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.list_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.list_college"
      end
      # resource path
      local_var_path = '/colleges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.list_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#list_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch College
    # Create or Update multiple College at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param college [Array<College>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_college(vbasoftware_database, college, opts = {})
      data, _status_code, _headers = update_batch_college_with_http_info(vbasoftware_database, college, opts)
      data
    end

    # Create or Update Batch College
    # Create or Update multiple College at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param college [Array<College>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_college_with_http_info(vbasoftware_database, college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.update_batch_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.update_batch_college"
      end
      # verify the required parameter 'college' is set
      if @api_client.config.client_side_validation && college.nil?
        fail ArgumentError, "Missing the required parameter 'college' when calling CollegesApi.update_batch_college"
      end
      # resource path
      local_var_path = '/colleges-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.update_batch_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#update_batch_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update College
    # Updates a specific College.
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param college [College] 
    # @param [Hash] opts the optional parameters
    # @return [CollegeVBAResponse]
    def update_college(vbasoftware_database, college_key, college, opts = {})
      data, _status_code, _headers = update_college_with_http_info(vbasoftware_database, college_key, college, opts)
      data
    end

    # Update College
    # Updates a specific College.
    # @param vbasoftware_database [String] Target database
    # @param college_key [Integer] College Key
    # @param college [College] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeVBAResponse, Integer, Hash)>] CollegeVBAResponse data, response status code and response headers
    def update_college_with_http_info(vbasoftware_database, college_key, college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegesApi.update_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegesApi.update_college"
      end
      # verify the required parameter 'college_key' is set
      if @api_client.config.client_side_validation && college_key.nil?
        fail ArgumentError, "Missing the required parameter 'college_key' when calling CollegesApi.update_college"
      end
      # verify the required parameter 'college' is set
      if @api_client.config.client_side_validation && college.nil?
        fail ArgumentError, "Missing the required parameter 'college' when calling CollegesApi.update_college"
      end
      # resource path
      local_var_path = '/colleges/{collegeKey}'.sub('{' + 'collegeKey' + '}', CGI.escape(college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college)

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegesApi.update_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegesApi#update_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
