=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CollegeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CollegeType
    # Creates a new CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [CollegeType] 
    # @param [Hash] opts the optional parameters
    # @return [CollegeTypeVBAResponse]
    def create_college_type(vbasoftware_database, college_type, opts = {})
      data, _status_code, _headers = create_college_type_with_http_info(vbasoftware_database, college_type, opts)
      data
    end

    # Create CollegeType
    # Creates a new CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [CollegeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeTypeVBAResponse, Integer, Hash)>] CollegeTypeVBAResponse data, response status code and response headers
    def create_college_type_with_http_info(vbasoftware_database, college_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.create_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.create_college_type"
      end
      # verify the required parameter 'college_type' is set
      if @api_client.config.client_side_validation && college_type.nil?
        fail ArgumentError, "Missing the required parameter 'college_type' when calling CollegeTypesApi.create_college_type"
      end
      # resource path
      local_var_path = '/college-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.create_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#create_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CollegeType
    # Deletes an CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_college_type(vbasoftware_database, college_type, opts = {})
      delete_college_type_with_http_info(vbasoftware_database, college_type, opts)
      nil
    end

    # Delete CollegeType
    # Deletes an CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_college_type_with_http_info(vbasoftware_database, college_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.delete_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.delete_college_type"
      end
      # verify the required parameter 'college_type' is set
      if @api_client.config.client_side_validation && college_type.nil?
        fail ArgumentError, "Missing the required parameter 'college_type' when calling CollegeTypesApi.delete_college_type"
      end
      # resource path
      local_var_path = '/college-types/{collegeType}'.sub('{' + 'collegeType' + '}', CGI.escape(college_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.delete_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#delete_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CollegeType
    # Gets CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param [Hash] opts the optional parameters
    # @return [CollegeTypeVBAResponse]
    def get_college_type(vbasoftware_database, college_type, opts = {})
      data, _status_code, _headers = get_college_type_with_http_info(vbasoftware_database, college_type, opts)
      data
    end

    # Get CollegeType
    # Gets CollegeType
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeTypeVBAResponse, Integer, Hash)>] CollegeTypeVBAResponse data, response status code and response headers
    def get_college_type_with_http_info(vbasoftware_database, college_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.get_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.get_college_type"
      end
      # verify the required parameter 'college_type' is set
      if @api_client.config.client_side_validation && college_type.nil?
        fail ArgumentError, "Missing the required parameter 'college_type' when calling CollegeTypesApi.get_college_type"
      end
      # resource path
      local_var_path = '/college-types/{collegeType}'.sub('{' + 'collegeType' + '}', CGI.escape(college_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.get_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#get_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CollegeType
    # Lists all CollegeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CollegeTypeListVBAResponse]
    def list_college_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_college_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CollegeType
    # Lists all CollegeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CollegeTypeListVBAResponse, Integer, Hash)>] CollegeTypeListVBAResponse data, response status code and response headers
    def list_college_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.list_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.list_college_type"
      end
      # resource path
      local_var_path = '/college-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.list_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#list_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CollegeType
    # Create or Update multiple CollegeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param college_type [Array<CollegeType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_college_type(vbasoftware_database, college_type, opts = {})
      data, _status_code, _headers = update_batch_college_type_with_http_info(vbasoftware_database, college_type, opts)
      data
    end

    # Create or Update Batch CollegeType
    # Create or Update multiple CollegeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param college_type [Array<CollegeType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_college_type_with_http_info(vbasoftware_database, college_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.update_batch_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.update_batch_college_type"
      end
      # verify the required parameter 'college_type' is set
      if @api_client.config.client_side_validation && college_type.nil?
        fail ArgumentError, "Missing the required parameter 'college_type' when calling CollegeTypesApi.update_batch_college_type"
      end
      # resource path
      local_var_path = '/college-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.update_batch_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#update_batch_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CollegeType
    # Updates a specific CollegeType.
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param college_type2 [CollegeType] 
    # @param [Hash] opts the optional parameters
    # @return [CollegeTypeVBAResponse]
    def update_college_type(vbasoftware_database, college_type, college_type2, opts = {})
      data, _status_code, _headers = update_college_type_with_http_info(vbasoftware_database, college_type, college_type2, opts)
      data
    end

    # Update CollegeType
    # Updates a specific CollegeType.
    # @param vbasoftware_database [String] Target database
    # @param college_type [String] College Type
    # @param college_type2 [CollegeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollegeTypeVBAResponse, Integer, Hash)>] CollegeTypeVBAResponse data, response status code and response headers
    def update_college_type_with_http_info(vbasoftware_database, college_type, college_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollegeTypesApi.update_college_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CollegeTypesApi.update_college_type"
      end
      # verify the required parameter 'college_type' is set
      if @api_client.config.client_side_validation && college_type.nil?
        fail ArgumentError, "Missing the required parameter 'college_type' when calling CollegeTypesApi.update_college_type"
      end
      # verify the required parameter 'college_type2' is set
      if @api_client.config.client_side_validation && college_type2.nil?
        fail ArgumentError, "Missing the required parameter 'college_type2' when calling CollegeTypesApi.update_college_type"
      end
      # resource path
      local_var_path = '/college-types/{collegeType}'.sub('{' + 'collegeType' + '}', CGI.escape(college_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(college_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'CollegeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CollegeTypesApi.update_college_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollegeTypesApi#update_college_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
