=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Commission Generate
    # Generates Commission records and attaches those to a new Commission Transaction based on entered criteria.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def commission_generate(vbasoftware_database, opts = {})
      commission_generate_with_http_info(vbasoftware_database, opts)
      nil
    end

    # Commission Generate
    # Generates Commission records and attaches those to a new Commission Transaction based on entered criteria.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def commission_generate_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.commission_generate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.commission_generate"
      end
      # resource path
      local_var_path = '/commission-generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.commission_generate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#commission_generate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Commission
    # Creates a new Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission [Commission] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionVBAResponse]
    def create_commission(vbasoftware_database, comm_trans_key, commission, opts = {})
      data, _status_code, _headers = create_commission_with_http_info(vbasoftware_database, comm_trans_key, commission, opts)
      data
    end

    # Create Commission
    # Creates a new Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission [Commission] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionVBAResponse, Integer, Hash)>] CommissionVBAResponse data, response status code and response headers
    def create_commission_with_http_info(vbasoftware_database, comm_trans_key, commission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.create_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.create_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.create_commission"
      end
      # verify the required parameter 'commission' is set
      if @api_client.config.client_side_validation && commission.nil?
        fail ArgumentError, "Missing the required parameter 'commission' when calling CommissionsApi.create_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.create_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#create_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Commission
    # Deletes an Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission(vbasoftware_database, comm_trans_key, comm_key, opts = {})
      delete_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, opts)
      nil
    end

    # Delete Commission
    # Deletes an Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.delete_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.delete_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.delete_commission"
      end
      # verify the required parameter 'comm_key' is set
      if @api_client.config.client_side_validation && comm_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_key' when calling CommissionsApi.delete_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions/{commKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s)).sub('{' + 'commKey' + '}', CGI.escape(comm_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.delete_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#delete_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Commission
    # Gets Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionVBAResponse]
    def get_commission(vbasoftware_database, comm_trans_key, comm_key, opts = {})
      data, _status_code, _headers = get_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, opts)
      data
    end

    # Get Commission
    # Gets Commission
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionVBAResponse, Integer, Hash)>] CommissionVBAResponse data, response status code and response headers
    def get_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.get_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.get_commission"
      end
      # verify the required parameter 'comm_key' is set
      if @api_client.config.client_side_validation && comm_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_key' when calling CommissionsApi.get_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions/{commKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s)).sub('{' + 'commKey' + '}', CGI.escape(comm_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Commission
    # Lists all Commission for the given commTransKey
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionListVBAResponse]
    def list_commission(vbasoftware_database, comm_trans_key, opts = {})
      data, _status_code, _headers = list_commission_with_http_info(vbasoftware_database, comm_trans_key, opts)
      data
    end

    # List Commission
    # Lists all Commission for the given commTransKey
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionListVBAResponse, Integer, Hash)>] CommissionListVBAResponse data, response status code and response headers
    def list_commission_with_http_info(vbasoftware_database, comm_trans_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.list_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.list_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.list_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.list_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#list_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Unassigned Commission
    # Lists all Commissions that are not assigned to a Commission Transaction.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionListVBAResponse]
    def list_unassigned_commission(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_unassigned_commission_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Unassigned Commission
    # Lists all Commissions that are not assigned to a Commission Transaction.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionListVBAResponse, Integer, Hash)>] CommissionListVBAResponse data, response status code and response headers
    def list_unassigned_commission_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.list_unassigned_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.list_unassigned_commission"
      end
      # resource path
      local_var_path = '/unassigned-commissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.list_unassigned_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#list_unassigned_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Commission
    # Create or Update multiple Commission at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission [Array<Commission>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission(vbasoftware_database, comm_trans_key, commission, opts = {})
      data, _status_code, _headers = update_batch_commission_with_http_info(vbasoftware_database, comm_trans_key, commission, opts)
      data
    end

    # Create or Update Batch Commission
    # Create or Update multiple Commission at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission [Array<Commission>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_with_http_info(vbasoftware_database, comm_trans_key, commission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.update_batch_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.update_batch_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.update_batch_commission"
      end
      # verify the required parameter 'commission' is set
      if @api_client.config.client_side_validation && commission.nil?
        fail ArgumentError, "Missing the required parameter 'commission' when calling CommissionsApi.update_batch_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions-batch'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.update_batch_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#update_batch_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Commission
    # Updates a specific Commission.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param commission [Commission] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionVBAResponse]
    def update_commission(vbasoftware_database, comm_trans_key, comm_key, commission, opts = {})
      data, _status_code, _headers = update_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, commission, opts)
      data
    end

    # Update Commission
    # Updates a specific Commission.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param comm_key [Integer] Commission Key
    # @param commission [Commission] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionVBAResponse, Integer, Hash)>] CommissionVBAResponse data, response status code and response headers
    def update_commission_with_http_info(vbasoftware_database, comm_trans_key, comm_key, commission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.update_commission ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionsApi.update_commission"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionsApi.update_commission"
      end
      # verify the required parameter 'comm_key' is set
      if @api_client.config.client_side_validation && comm_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_key' when calling CommissionsApi.update_commission"
      end
      # verify the required parameter 'commission' is set
      if @api_client.config.client_side_validation && commission.nil?
        fail ArgumentError, "Missing the required parameter 'commission' when calling CommissionsApi.update_commission"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}/commissions/{commKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s)).sub('{' + 'commKey' + '}', CGI.escape(comm_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionsApi.update_commission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#update_commission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
