=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionAdjustmentTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionAdjustmentType
    # Creates a new CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment_type [CommissionAdjustmentType] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentTypeVBAResponse]
    def create_commission_adjustment_type(vbasoftware_database, commission_adjustment_type, opts = {})
      data, _status_code, _headers = create_commission_adjustment_type_with_http_info(vbasoftware_database, commission_adjustment_type, opts)
      data
    end

    # Create CommissionAdjustmentType
    # Creates a new CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment_type [CommissionAdjustmentType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentTypeVBAResponse, Integer, Hash)>] CommissionAdjustmentTypeVBAResponse data, response status code and response headers
    def create_commission_adjustment_type_with_http_info(vbasoftware_database, commission_adjustment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.create_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.create_commission_adjustment_type"
      end
      # verify the required parameter 'commission_adjustment_type' is set
      if @api_client.config.client_side_validation && commission_adjustment_type.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment_type' when calling CommissionAdjustmentTypesApi.create_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.create_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#create_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionAdjustmentType
    # Deletes an CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_adjustment_type(vbasoftware_database, comm_adj_type, opts = {})
      delete_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, opts)
      nil
    end

    # Delete CommissionAdjustmentType
    # Deletes an CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.delete_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.delete_commission_adjustment_type"
      end
      # verify the required parameter 'comm_adj_type' is set
      if @api_client.config.client_side_validation && comm_adj_type.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_type' when calling CommissionAdjustmentTypesApi.delete_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types/{commAdjType}'.sub('{' + 'commAdjType' + '}', CGI.escape(comm_adj_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.delete_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#delete_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionAdjustmentType
    # Gets CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentTypeVBAResponse]
    def get_commission_adjustment_type(vbasoftware_database, comm_adj_type, opts = {})
      data, _status_code, _headers = get_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, opts)
      data
    end

    # Get CommissionAdjustmentType
    # Gets CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentTypeVBAResponse, Integer, Hash)>] CommissionAdjustmentTypeVBAResponse data, response status code and response headers
    def get_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.get_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.get_commission_adjustment_type"
      end
      # verify the required parameter 'comm_adj_type' is set
      if @api_client.config.client_side_validation && comm_adj_type.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_type' when calling CommissionAdjustmentTypesApi.get_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types/{commAdjType}'.sub('{' + 'commAdjType' + '}', CGI.escape(comm_adj_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.get_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#get_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionAdjustmentType
    # Lists all CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionAdjustmentTypeListVBAResponse]
    def list_commission_adjustment_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_adjustment_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionAdjustmentType
    # Lists all CommissionAdjustmentType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionAdjustmentTypeListVBAResponse, Integer, Hash)>] CommissionAdjustmentTypeListVBAResponse data, response status code and response headers
    def list_commission_adjustment_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.list_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.list_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.list_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#list_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionAdjustmentType
    # Create or Update multiple CommissionAdjustmentType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment_type [Array<CommissionAdjustmentType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_adjustment_type(vbasoftware_database, commission_adjustment_type, opts = {})
      data, _status_code, _headers = update_batch_commission_adjustment_type_with_http_info(vbasoftware_database, commission_adjustment_type, opts)
      data
    end

    # Create or Update Batch CommissionAdjustmentType
    # Create or Update multiple CommissionAdjustmentType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment_type [Array<CommissionAdjustmentType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_adjustment_type_with_http_info(vbasoftware_database, commission_adjustment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.update_batch_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.update_batch_commission_adjustment_type"
      end
      # verify the required parameter 'commission_adjustment_type' is set
      if @api_client.config.client_side_validation && commission_adjustment_type.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment_type' when calling CommissionAdjustmentTypesApi.update_batch_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.update_batch_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#update_batch_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionAdjustmentType
    # Updates a specific CommissionAdjustmentType.
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param commission_adjustment_type [CommissionAdjustmentType] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentTypeVBAResponse]
    def update_commission_adjustment_type(vbasoftware_database, comm_adj_type, commission_adjustment_type, opts = {})
      data, _status_code, _headers = update_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, commission_adjustment_type, opts)
      data
    end

    # Update CommissionAdjustmentType
    # Updates a specific CommissionAdjustmentType.
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_type [String] Commission Adjustment Type
    # @param commission_adjustment_type [CommissionAdjustmentType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentTypeVBAResponse, Integer, Hash)>] CommissionAdjustmentTypeVBAResponse data, response status code and response headers
    def update_commission_adjustment_type_with_http_info(vbasoftware_database, comm_adj_type, commission_adjustment_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentTypesApi.update_commission_adjustment_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentTypesApi.update_commission_adjustment_type"
      end
      # verify the required parameter 'comm_adj_type' is set
      if @api_client.config.client_side_validation && comm_adj_type.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_type' when calling CommissionAdjustmentTypesApi.update_commission_adjustment_type"
      end
      # verify the required parameter 'commission_adjustment_type' is set
      if @api_client.config.client_side_validation && commission_adjustment_type.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment_type' when calling CommissionAdjustmentTypesApi.update_commission_adjustment_type"
      end
      # resource path
      local_var_path = '/commission-adjustment-types/{commAdjType}'.sub('{' + 'commAdjType' + '}', CGI.escape(comm_adj_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentTypesApi.update_commission_adjustment_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentTypesApi#update_commission_adjustment_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
