=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionCategory
    # Creates a new CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param commission_category [CommissionCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionCategoryVBAResponse]
    def create_commission_category(vbasoftware_database, commission_category, opts = {})
      data, _status_code, _headers = create_commission_category_with_http_info(vbasoftware_database, commission_category, opts)
      data
    end

    # Create CommissionCategory
    # Creates a new CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param commission_category [CommissionCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCategoryVBAResponse, Integer, Hash)>] CommissionCategoryVBAResponse data, response status code and response headers
    def create_commission_category_with_http_info(vbasoftware_database, commission_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.create_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.create_commission_category"
      end
      # verify the required parameter 'commission_category' is set
      if @api_client.config.client_side_validation && commission_category.nil?
        fail ArgumentError, "Missing the required parameter 'commission_category' when calling CommissionCategoriesApi.create_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.create_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#create_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionCategory
    # Deletes an CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_category(vbasoftware_database, comm_category, opts = {})
      delete_commission_category_with_http_info(vbasoftware_database, comm_category, opts)
      nil
    end

    # Delete CommissionCategory
    # Deletes an CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_category_with_http_info(vbasoftware_database, comm_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.delete_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.delete_commission_category"
      end
      # verify the required parameter 'comm_category' is set
      if @api_client.config.client_side_validation && comm_category.nil?
        fail ArgumentError, "Missing the required parameter 'comm_category' when calling CommissionCategoriesApi.delete_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories/{commCategory}'.sub('{' + 'commCategory' + '}', CGI.escape(comm_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.delete_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#delete_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionCategory
    # Gets CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param [Hash] opts the optional parameters
    # @return [CommissionCategoryVBAResponse]
    def get_commission_category(vbasoftware_database, comm_category, opts = {})
      data, _status_code, _headers = get_commission_category_with_http_info(vbasoftware_database, comm_category, opts)
      data
    end

    # Get CommissionCategory
    # Gets CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCategoryVBAResponse, Integer, Hash)>] CommissionCategoryVBAResponse data, response status code and response headers
    def get_commission_category_with_http_info(vbasoftware_database, comm_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.get_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.get_commission_category"
      end
      # verify the required parameter 'comm_category' is set
      if @api_client.config.client_side_validation && comm_category.nil?
        fail ArgumentError, "Missing the required parameter 'comm_category' when calling CommissionCategoriesApi.get_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories/{commCategory}'.sub('{' + 'commCategory' + '}', CGI.escape(comm_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.get_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#get_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionCategory
    # Lists all CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionCategoryListVBAResponse]
    def list_commission_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionCategory
    # Lists all CommissionCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionCategoryListVBAResponse, Integer, Hash)>] CommissionCategoryListVBAResponse data, response status code and response headers
    def list_commission_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.list_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.list_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.list_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#list_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionCategory
    # Create or Update multiple CommissionCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_category [Array<CommissionCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_category(vbasoftware_database, commission_category, opts = {})
      data, _status_code, _headers = update_batch_commission_category_with_http_info(vbasoftware_database, commission_category, opts)
      data
    end

    # Create or Update Batch CommissionCategory
    # Create or Update multiple CommissionCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_category [Array<CommissionCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_category_with_http_info(vbasoftware_database, commission_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.update_batch_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.update_batch_commission_category"
      end
      # verify the required parameter 'commission_category' is set
      if @api_client.config.client_side_validation && commission_category.nil?
        fail ArgumentError, "Missing the required parameter 'commission_category' when calling CommissionCategoriesApi.update_batch_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.update_batch_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#update_batch_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionCategory
    # Updates a specific CommissionCategory.
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param commission_category [CommissionCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionCategoryVBAResponse]
    def update_commission_category(vbasoftware_database, comm_category, commission_category, opts = {})
      data, _status_code, _headers = update_commission_category_with_http_info(vbasoftware_database, comm_category, commission_category, opts)
      data
    end

    # Update CommissionCategory
    # Updates a specific CommissionCategory.
    # @param vbasoftware_database [String] Target database
    # @param comm_category [String] Commission Category
    # @param commission_category [CommissionCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCategoryVBAResponse, Integer, Hash)>] CommissionCategoryVBAResponse data, response status code and response headers
    def update_commission_category_with_http_info(vbasoftware_database, comm_category, commission_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCategoriesApi.update_commission_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCategoriesApi.update_commission_category"
      end
      # verify the required parameter 'comm_category' is set
      if @api_client.config.client_side_validation && comm_category.nil?
        fail ArgumentError, "Missing the required parameter 'comm_category' when calling CommissionCategoriesApi.update_commission_category"
      end
      # verify the required parameter 'commission_category' is set
      if @api_client.config.client_side_validation && commission_category.nil?
        fail ArgumentError, "Missing the required parameter 'commission_category' when calling CommissionCategoriesApi.update_commission_category"
      end
      # resource path
      local_var_path = '/commission-categories/{commCategory}'.sub('{' + 'commCategory' + '}', CGI.escape(comm_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCategoriesApi.update_commission_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCategoriesApi#update_commission_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
