=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionActivityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionActivity
    # Creates a new CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param commission_activity [CommissionActivity] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionActivityVBAResponse]
    def create_commission_activity(vbasoftware_database, commission_activity, opts = {})
      data, _status_code, _headers = create_commission_activity_with_http_info(vbasoftware_database, commission_activity, opts)
      data
    end

    # Create CommissionActivity
    # Creates a new CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param commission_activity [CommissionActivity] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionActivityVBAResponse, Integer, Hash)>] CommissionActivityVBAResponse data, response status code and response headers
    def create_commission_activity_with_http_info(vbasoftware_database, commission_activity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.create_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.create_commission_activity"
      end
      # verify the required parameter 'commission_activity' is set
      if @api_client.config.client_side_validation && commission_activity.nil?
        fail ArgumentError, "Missing the required parameter 'commission_activity' when calling CommissionActivityApi.create_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_activity)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.create_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#create_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionActivity
    # Deletes an CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_activity(vbasoftware_database, comm_activity_key, opts = {})
      delete_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts)
      nil
    end

    # Delete CommissionActivity
    # Deletes an CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.delete_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.delete_commission_activity"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityApi.delete_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.delete_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#delete_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionActivity
    # Gets CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionActivityVBAResponse]
    def get_commission_activity(vbasoftware_database, comm_activity_key, opts = {})
      data, _status_code, _headers = get_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts)
      data
    end

    # Get CommissionActivity
    # Gets CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionActivityVBAResponse, Integer, Hash)>] CommissionActivityVBAResponse data, response status code and response headers
    def get_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.get_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.get_commission_activity"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityApi.get_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.get_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#get_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionActivity
    # Lists all CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionActivityListVBAResponse]
    def list_commission_activity(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_activity_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionActivity
    # Lists all CommissionActivity
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionActivityListVBAResponse, Integer, Hash)>] CommissionActivityListVBAResponse data, response status code and response headers
    def list_commission_activity_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.list_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.list_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.list_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#list_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Undo CommissionActivity by Rep or Group
    # Undo Commissions by Commission Activity based on the passed in optional parameters of commAgencyRep or groupId.  Group undo takes priory if passed in with a Rep Key.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :undo_user Undo User
    # @option opts [String] :group_id Group ID
    # @option opts [Integer] :comm_agency_rep_key Agency Rep Key
    # @return [CommissionActivityVBAResponse]
    def undo_by_rep_commission_activity(vbasoftware_database, comm_activity_key, opts = {})
      data, _status_code, _headers = undo_by_rep_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts)
      data
    end

    # Undo CommissionActivity by Rep or Group
    # Undo Commissions by Commission Activity based on the passed in optional parameters of commAgencyRep or groupId.  Group undo takes priory if passed in with a Rep Key.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :undo_user Undo User
    # @option opts [String] :group_id Group ID
    # @option opts [Integer] :comm_agency_rep_key Agency Rep Key
    # @return [Array<(CommissionActivityVBAResponse, Integer, Hash)>] CommissionActivityVBAResponse data, response status code and response headers
    def undo_by_rep_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.undo_by_rep_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.undo_by_rep_commission_activity"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityApi.undo_by_rep_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities-undo-by-rep/{commActivityKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'undoUser'] = opts[:'undo_user'] if !opts[:'undo_user'].nil?
      query_params[:'groupId'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'commAgencyRepKey'] = opts[:'comm_agency_rep_key'] if !opts[:'comm_agency_rep_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.undo_by_rep_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#undo_by_rep_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Undo CommissionActivity
    # Undo Commissions by Commission Activity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :undo_user Undo User
    # @return [CommissionActivityVBAResponse]
    def undo_commission_activity(vbasoftware_database, comm_activity_key, opts = {})
      data, _status_code, _headers = undo_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts)
      data
    end

    # Undo CommissionActivity
    # Undo Commissions by Commission Activity
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :undo_user Undo User
    # @return [Array<(CommissionActivityVBAResponse, Integer, Hash)>] CommissionActivityVBAResponse data, response status code and response headers
    def undo_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.undo_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.undo_commission_activity"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityApi.undo_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities-undo/{commActivityKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'undoUser'] = opts[:'undo_user'] if !opts[:'undo_user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.undo_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#undo_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionActivity
    # Create or Update multiple CommissionActivity at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_activity [Array<CommissionActivity>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_activity(vbasoftware_database, commission_activity, opts = {})
      data, _status_code, _headers = update_batch_commission_activity_with_http_info(vbasoftware_database, commission_activity, opts)
      data
    end

    # Create or Update Batch CommissionActivity
    # Create or Update multiple CommissionActivity at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_activity [Array<CommissionActivity>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_activity_with_http_info(vbasoftware_database, commission_activity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.update_batch_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.update_batch_commission_activity"
      end
      # verify the required parameter 'commission_activity' is set
      if @api_client.config.client_side_validation && commission_activity.nil?
        fail ArgumentError, "Missing the required parameter 'commission_activity' when calling CommissionActivityApi.update_batch_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_activity)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.update_batch_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#update_batch_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionActivity
    # Updates a specific CommissionActivity.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_activity [CommissionActivity] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionActivityVBAResponse]
    def update_commission_activity(vbasoftware_database, comm_activity_key, commission_activity, opts = {})
      data, _status_code, _headers = update_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, commission_activity, opts)
      data
    end

    # Update CommissionActivity
    # Updates a specific CommissionActivity.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_activity [CommissionActivity] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionActivityVBAResponse, Integer, Hash)>] CommissionActivityVBAResponse data, response status code and response headers
    def update_commission_activity_with_http_info(vbasoftware_database, comm_activity_key, commission_activity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityApi.update_commission_activity ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityApi.update_commission_activity"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityApi.update_commission_activity"
      end
      # verify the required parameter 'commission_activity' is set
      if @api_client.config.client_side_validation && commission_activity.nil?
        fail ArgumentError, "Missing the required parameter 'commission_activity' when calling CommissionActivityApi.update_commission_activity"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_activity)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionActivityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityApi.update_commission_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityApi#update_commission_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
