=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionRepLicensesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionRepLicense
    # Creates a new CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param commission_rep_license [CommissionRepLicense] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRepLicenseVBAResponse]
    def create_commission_rep_license(vbasoftware_database, comm_rep_key, commission_rep_license, opts = {})
      data, _status_code, _headers = create_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, commission_rep_license, opts)
      data
    end

    # Create CommissionRepLicense
    # Creates a new CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param commission_rep_license [CommissionRepLicense] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRepLicenseVBAResponse, Integer, Hash)>] CommissionRepLicenseVBAResponse data, response status code and response headers
    def create_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, commission_rep_license, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.create_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.create_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.create_commission_rep_license"
      end
      # verify the required parameter 'commission_rep_license' is set
      if @api_client.config.client_side_validation && commission_rep_license.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rep_license' when calling CommissionRepLicensesApi.create_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rep_license)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRepLicenseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.create_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#create_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionRepLicense
    # Deletes an CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_rep_license(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts = {})
      delete_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts)
      nil
    end

    # Delete CommissionRepLicense
    # Deletes an CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.delete_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.delete_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.delete_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_license_key' is set
      if @api_client.config.client_side_validation && comm_rep_license_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_license_key' when calling CommissionRepLicensesApi.delete_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses/{commRepLicenseKey}'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s)).sub('{' + 'commRepLicenseKey' + '}', CGI.escape(comm_rep_license_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.delete_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#delete_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionRepLicense
    # Gets CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionRepLicenseVBAResponse]
    def get_commission_rep_license(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts = {})
      data, _status_code, _headers = get_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts)
      data
    end

    # Get CommissionRepLicense
    # Gets CommissionRepLicense
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRepLicenseVBAResponse, Integer, Hash)>] CommissionRepLicenseVBAResponse data, response status code and response headers
    def get_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.get_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.get_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.get_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_license_key' is set
      if @api_client.config.client_side_validation && comm_rep_license_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_license_key' when calling CommissionRepLicensesApi.get_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses/{commRepLicenseKey}'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s)).sub('{' + 'commRepLicenseKey' + '}', CGI.escape(comm_rep_license_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRepLicenseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.get_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#get_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionRepLicense
    # Lists all CommissionRepLicense for the given commRepKey
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionRepLicenseListVBAResponse]
    def list_commission_rep_license(vbasoftware_database, comm_rep_key, opts = {})
      data, _status_code, _headers = list_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, opts)
      data
    end

    # List CommissionRepLicense
    # Lists all CommissionRepLicense for the given commRepKey
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionRepLicenseListVBAResponse, Integer, Hash)>] CommissionRepLicenseListVBAResponse data, response status code and response headers
    def list_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.list_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.list_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.list_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRepLicenseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.list_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#list_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionRepLicense
    # Create or Update multiple CommissionRepLicense at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param commission_rep_license [Array<CommissionRepLicense>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_rep_license(vbasoftware_database, comm_rep_key, commission_rep_license, opts = {})
      data, _status_code, _headers = update_batch_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, commission_rep_license, opts)
      data
    end

    # Create or Update Batch CommissionRepLicense
    # Create or Update multiple CommissionRepLicense at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param commission_rep_license [Array<CommissionRepLicense>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, commission_rep_license, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.update_batch_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.update_batch_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.update_batch_commission_rep_license"
      end
      # verify the required parameter 'commission_rep_license' is set
      if @api_client.config.client_side_validation && commission_rep_license.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rep_license' when calling CommissionRepLicensesApi.update_batch_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses-batch'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rep_license)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.update_batch_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#update_batch_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionRepLicense
    # Updates a specific CommissionRepLicense.
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param commission_rep_license [CommissionRepLicense] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRepLicenseVBAResponse]
    def update_commission_rep_license(vbasoftware_database, comm_rep_key, comm_rep_license_key, commission_rep_license, opts = {})
      data, _status_code, _headers = update_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, commission_rep_license, opts)
      data
    end

    # Update CommissionRepLicense
    # Updates a specific CommissionRepLicense.
    # @param vbasoftware_database [String] Target database
    # @param comm_rep_key [Integer] CommissionRep Key
    # @param comm_rep_license_key [Integer] CommissionRepLicense Key
    # @param commission_rep_license [CommissionRepLicense] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRepLicenseVBAResponse, Integer, Hash)>] CommissionRepLicenseVBAResponse data, response status code and response headers
    def update_commission_rep_license_with_http_info(vbasoftware_database, comm_rep_key, comm_rep_license_key, commission_rep_license, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRepLicensesApi.update_commission_rep_license ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRepLicensesApi.update_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_key' is set
      if @api_client.config.client_side_validation && comm_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_key' when calling CommissionRepLicensesApi.update_commission_rep_license"
      end
      # verify the required parameter 'comm_rep_license_key' is set
      if @api_client.config.client_side_validation && comm_rep_license_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rep_license_key' when calling CommissionRepLicensesApi.update_commission_rep_license"
      end
      # verify the required parameter 'commission_rep_license' is set
      if @api_client.config.client_side_validation && commission_rep_license.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rep_license' when calling CommissionRepLicensesApi.update_commission_rep_license"
      end
      # resource path
      local_var_path = '/commission-reps/{commRepKey}/commission-rep-licenses/{commRepLicenseKey}'.sub('{' + 'commRepKey' + '}', CGI.escape(comm_rep_key.to_s)).sub('{' + 'commRepLicenseKey' + '}', CGI.escape(comm_rep_license_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rep_license)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRepLicenseVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRepLicensesApi.update_commission_rep_license",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRepLicensesApi#update_commission_rep_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
