=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionCyclesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionCycle
    # Creates a new CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param commission_cycle [CommissionCycle] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionCycleVBAResponse]
    def create_commission_cycle(vbasoftware_database, commission_cycle, opts = {})
      data, _status_code, _headers = create_commission_cycle_with_http_info(vbasoftware_database, commission_cycle, opts)
      data
    end

    # Create CommissionCycle
    # Creates a new CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param commission_cycle [CommissionCycle] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCycleVBAResponse, Integer, Hash)>] CommissionCycleVBAResponse data, response status code and response headers
    def create_commission_cycle_with_http_info(vbasoftware_database, commission_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.create_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.create_commission_cycle"
      end
      # verify the required parameter 'commission_cycle' is set
      if @api_client.config.client_side_validation && commission_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'commission_cycle' when calling CommissionCyclesApi.create_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.create_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#create_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionCycle
    # Deletes an CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_cycle(vbasoftware_database, comm_cycle, opts = {})
      delete_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, opts)
      nil
    end

    # Delete CommissionCycle
    # Deletes an CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.delete_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.delete_commission_cycle"
      end
      # verify the required parameter 'comm_cycle' is set
      if @api_client.config.client_side_validation && comm_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'comm_cycle' when calling CommissionCyclesApi.delete_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles/{commCycle}'.sub('{' + 'commCycle' + '}', CGI.escape(comm_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.delete_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#delete_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionCycle
    # Gets CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param [Hash] opts the optional parameters
    # @return [CommissionCycleVBAResponse]
    def get_commission_cycle(vbasoftware_database, comm_cycle, opts = {})
      data, _status_code, _headers = get_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, opts)
      data
    end

    # Get CommissionCycle
    # Gets CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCycleVBAResponse, Integer, Hash)>] CommissionCycleVBAResponse data, response status code and response headers
    def get_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.get_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.get_commission_cycle"
      end
      # verify the required parameter 'comm_cycle' is set
      if @api_client.config.client_side_validation && comm_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'comm_cycle' when calling CommissionCyclesApi.get_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles/{commCycle}'.sub('{' + 'commCycle' + '}', CGI.escape(comm_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.get_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#get_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionCycle
    # Lists all CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionCycleListVBAResponse]
    def list_commission_cycle(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_cycle_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionCycle
    # Lists all CommissionCycle
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionCycleListVBAResponse, Integer, Hash)>] CommissionCycleListVBAResponse data, response status code and response headers
    def list_commission_cycle_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.list_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.list_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCycleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.list_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#list_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionCycle
    # Create or Update multiple CommissionCycle at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_cycle [Array<CommissionCycle>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_cycle(vbasoftware_database, commission_cycle, opts = {})
      data, _status_code, _headers = update_batch_commission_cycle_with_http_info(vbasoftware_database, commission_cycle, opts)
      data
    end

    # Create or Update Batch CommissionCycle
    # Create or Update multiple CommissionCycle at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_cycle [Array<CommissionCycle>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_cycle_with_http_info(vbasoftware_database, commission_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.update_batch_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.update_batch_commission_cycle"
      end
      # verify the required parameter 'commission_cycle' is set
      if @api_client.config.client_side_validation && commission_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'commission_cycle' when calling CommissionCyclesApi.update_batch_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.update_batch_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#update_batch_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionCycle
    # Updates a specific CommissionCycle.
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param commission_cycle [CommissionCycle] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionCycleVBAResponse]
    def update_commission_cycle(vbasoftware_database, comm_cycle, commission_cycle, opts = {})
      data, _status_code, _headers = update_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, commission_cycle, opts)
      data
    end

    # Update CommissionCycle
    # Updates a specific CommissionCycle.
    # @param vbasoftware_database [String] Target database
    # @param comm_cycle [String] Commission Cycle
    # @param commission_cycle [CommissionCycle] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionCycleVBAResponse, Integer, Hash)>] CommissionCycleVBAResponse data, response status code and response headers
    def update_commission_cycle_with_http_info(vbasoftware_database, comm_cycle, commission_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionCyclesApi.update_commission_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionCyclesApi.update_commission_cycle"
      end
      # verify the required parameter 'comm_cycle' is set
      if @api_client.config.client_side_validation && comm_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'comm_cycle' when calling CommissionCyclesApi.update_commission_cycle"
      end
      # verify the required parameter 'commission_cycle' is set
      if @api_client.config.client_side_validation && commission_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'commission_cycle' when calling CommissionCyclesApi.update_commission_cycle"
      end
      # resource path
      local_var_path = '/commission-cycles/{commCycle}'.sub('{' + 'commCycle' + '}', CGI.escape(comm_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionCyclesApi.update_commission_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionCyclesApi#update_commission_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
