=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Copies CommissionRate from Rate
    # Creates a new CommissionRate from a given CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def copy_rate(vbasoftware_database, comm_rate_key, opts = {})
      data, _status_code, _headers = copy_rate_with_http_info(vbasoftware_database, comm_rate_key, opts)
      data
    end

    # Copies CommissionRate from Rate
    # Creates a new CommissionRate from a given CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def copy_rate_with_http_info(vbasoftware_database, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.copy_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.copy_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRatesApi.copy_rate"
      end
      # resource path
      local_var_path = '/commission-rate-copy/{commRateKey}'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.copy_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#copy_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CommissionRate
    # Creates a new CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param commission_rate [CommissionRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def create_commission_rate(vbasoftware_database, commission_rate, opts = {})
      data, _status_code, _headers = create_commission_rate_with_http_info(vbasoftware_database, commission_rate, opts)
      data
    end

    # Create CommissionRate
    # Creates a new CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param commission_rate [CommissionRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def create_commission_rate_with_http_info(vbasoftware_database, commission_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.create_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.create_commission_rate"
      end
      # verify the required parameter 'commission_rate' is set
      if @api_client.config.client_side_validation && commission_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate' when calling CommissionRatesApi.create_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.create_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#create_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CommissionRate from Rate Cluster
    # Creates a new CommissionRate records from a cluster of templated rates.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_cluster [String] Rate Cluster
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def create_commission_rate_from_cluster(vbasoftware_database, comm_rate_cluster, group_id, opts = {})
      data, _status_code, _headers = create_commission_rate_from_cluster_with_http_info(vbasoftware_database, comm_rate_cluster, group_id, opts)
      data
    end

    # Create CommissionRate from Rate Cluster
    # Creates a new CommissionRate records from a cluster of templated rates.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_cluster [String] Rate Cluster
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def create_commission_rate_from_cluster_with_http_info(vbasoftware_database, comm_rate_cluster, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.create_commission_rate_from_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.create_commission_rate_from_cluster"
      end
      # verify the required parameter 'comm_rate_cluster' is set
      if @api_client.config.client_side_validation && comm_rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_cluster' when calling CommissionRatesApi.create_commission_rate_from_cluster"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CommissionRatesApi.create_commission_rate_from_cluster"
      end
      # resource path
      local_var_path = '/commission-rates-cluster/{commRateCluster}/commission-rates-group/{groupId}'.sub('{' + 'commRateCluster' + '}', CGI.escape(comm_rate_cluster.to_s)).sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.create_commission_rate_from_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#create_commission_rate_from_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CommissionRate from Template
    # Creates a new CommissionRate from a template CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def create_commission_rate_from_template(vbasoftware_database, comm_rate_key, group_id, opts = {})
      data, _status_code, _headers = create_commission_rate_from_template_with_http_info(vbasoftware_database, comm_rate_key, group_id, opts)
      data
    end

    # Create CommissionRate from Template
    # Creates a new CommissionRate from a template CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def create_commission_rate_from_template_with_http_info(vbasoftware_database, comm_rate_key, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.create_commission_rate_from_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.create_commission_rate_from_template"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRatesApi.create_commission_rate_from_template"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CommissionRatesApi.create_commission_rate_from_template"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}/commission-rates-group/{groupId}'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s)).sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.create_commission_rate_from_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#create_commission_rate_from_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionRate
    # Deletes an CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_rate(vbasoftware_database, comm_rate_key, opts = {})
      delete_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, opts)
      nil
    end

    # Delete CommissionRate
    # Deletes an CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.delete_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.delete_commission_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRatesApi.delete_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.delete_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#delete_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionRate
    # Gets CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def get_commission_rate(vbasoftware_database, comm_rate_key, opts = {})
      data, _status_code, _headers = get_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, opts)
      data
    end

    # Get CommissionRate
    # Gets CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def get_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.get_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.get_commission_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRatesApi.get_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.get_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#get_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionRate
    # Lists all CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionRateListVBAResponse]
    def list_commission_rate(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_rate_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionRate
    # Lists all CommissionRate
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionRateListVBAResponse, Integer, Hash)>] CommissionRateListVBAResponse data, response status code and response headers
    def list_commission_rate_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.list_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.list_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.list_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#list_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Commission Rates nested by Division/Plan
    # Lists all Commission Rates for the given groupID and have it nested by Division, then by Plan.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @return [CommissionRateNestedListVBAResponse]
    def list_commission_rate_nested(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_rate_nested_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Commission Rates nested by Division/Plan
    # Lists all Commission Rates for the given groupID and have it nested by Division, then by Plan.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @return [Array<(CommissionRateNestedListVBAResponse, Integer, Hash)>] CommissionRateNestedListVBAResponse data, response status code and response headers
    def list_commission_rate_nested_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.list_commission_rate_nested ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.list_commission_rate_nested"
      end
      # resource path
      local_var_path = '/commission-rates-nested'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groupID'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateNestedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.list_commission_rate_nested",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#list_commission_rate_nested\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionRate
    # Create or Update multiple CommissionRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate [Array<CommissionRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_rate(vbasoftware_database, commission_rate, opts = {})
      data, _status_code, _headers = update_batch_commission_rate_with_http_info(vbasoftware_database, commission_rate, opts)
      data
    end

    # Create or Update Batch CommissionRate
    # Create or Update multiple CommissionRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate [Array<CommissionRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_rate_with_http_info(vbasoftware_database, commission_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.update_batch_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.update_batch_commission_rate"
      end
      # verify the required parameter 'commission_rate' is set
      if @api_client.config.client_side_validation && commission_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate' when calling CommissionRatesApi.update_batch_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.update_batch_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#update_batch_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionRate
    # Updates a specific CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_rate [CommissionRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateVBAResponse]
    def update_commission_rate(vbasoftware_database, comm_rate_key, commission_rate, opts = {})
      data, _status_code, _headers = update_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, commission_rate, opts)
      data
    end

    # Update CommissionRate
    # Updates a specific CommissionRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_rate [CommissionRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateVBAResponse, Integer, Hash)>] CommissionRateVBAResponse data, response status code and response headers
    def update_commission_rate_with_http_info(vbasoftware_database, comm_rate_key, commission_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRatesApi.update_commission_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRatesApi.update_commission_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRatesApi.update_commission_rate"
      end
      # verify the required parameter 'commission_rate' is set
      if @api_client.config.client_side_validation && commission_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate' when calling CommissionRatesApi.update_commission_rate"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRatesApi.update_commission_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRatesApi#update_commission_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
