=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionTransactionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionTransaction
    # Creates a new CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param commission_transaction [CommissionTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionTransactionVBAResponse]
    def create_commission_transaction(vbasoftware_database, commission_transaction, opts = {})
      data, _status_code, _headers = create_commission_transaction_with_http_info(vbasoftware_database, commission_transaction, opts)
      data
    end

    # Create CommissionTransaction
    # Creates a new CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param commission_transaction [CommissionTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionTransactionVBAResponse, Integer, Hash)>] CommissionTransactionVBAResponse data, response status code and response headers
    def create_commission_transaction_with_http_info(vbasoftware_database, commission_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.create_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.create_commission_transaction"
      end
      # verify the required parameter 'commission_transaction' is set
      if @api_client.config.client_side_validation && commission_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'commission_transaction' when calling CommissionTransactionsApi.create_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.create_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#create_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionTransaction
    # Deletes an CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_transaction(vbasoftware_database, comm_trans_key, opts = {})
      delete_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, opts)
      nil
    end

    # Delete CommissionTransaction
    # Deletes an CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.delete_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.delete_commission_transaction"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionTransactionsApi.delete_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.delete_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#delete_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionTransaction
    # Gets CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionTransactionVBAResponse]
    def get_commission_transaction(vbasoftware_database, comm_trans_key, opts = {})
      data, _status_code, _headers = get_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, opts)
      data
    end

    # Get CommissionTransaction
    # Gets CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionTransactionVBAResponse, Integer, Hash)>] CommissionTransactionVBAResponse data, response status code and response headers
    def get_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.get_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.get_commission_transaction"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionTransactionsApi.get_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.get_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#get_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionTransaction
    # Lists all CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionTransactionListVBAResponse]
    def list_commission_transaction(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_transaction_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionTransaction
    # Lists all CommissionTransaction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionTransactionListVBAResponse, Integer, Hash)>] CommissionTransactionListVBAResponse data, response status code and response headers
    def list_commission_transaction_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.list_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.list_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionTransactionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.list_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#list_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionTransaction
    # Create or Update multiple CommissionTransaction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_transaction [Array<CommissionTransaction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_transaction(vbasoftware_database, commission_transaction, opts = {})
      data, _status_code, _headers = update_batch_commission_transaction_with_http_info(vbasoftware_database, commission_transaction, opts)
      data
    end

    # Create or Update Batch CommissionTransaction
    # Create or Update multiple CommissionTransaction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_transaction [Array<CommissionTransaction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_transaction_with_http_info(vbasoftware_database, commission_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.update_batch_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.update_batch_commission_transaction"
      end
      # verify the required parameter 'commission_transaction' is set
      if @api_client.config.client_side_validation && commission_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'commission_transaction' when calling CommissionTransactionsApi.update_batch_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.update_batch_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#update_batch_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionTransaction
    # Updates a specific CommissionTransaction.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission_transaction [CommissionTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionTransactionVBAResponse]
    def update_commission_transaction(vbasoftware_database, comm_trans_key, commission_transaction, opts = {})
      data, _status_code, _headers = update_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, commission_transaction, opts)
      data
    end

    # Update CommissionTransaction
    # Updates a specific CommissionTransaction.
    # @param vbasoftware_database [String] Target database
    # @param comm_trans_key [Integer] CommissionTransaction Key
    # @param commission_transaction [CommissionTransaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionTransactionVBAResponse, Integer, Hash)>] CommissionTransactionVBAResponse data, response status code and response headers
    def update_commission_transaction_with_http_info(vbasoftware_database, comm_trans_key, commission_transaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionTransactionsApi.update_commission_transaction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionTransactionsApi.update_commission_transaction"
      end
      # verify the required parameter 'comm_trans_key' is set
      if @api_client.config.client_side_validation && comm_trans_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_trans_key' when calling CommissionTransactionsApi.update_commission_transaction"
      end
      # verify the required parameter 'commission_transaction' is set
      if @api_client.config.client_side_validation && commission_transaction.nil?
        fail ArgumentError, "Missing the required parameter 'commission_transaction' when calling CommissionTransactionsApi.update_commission_transaction"
      end
      # resource path
      local_var_path = '/commission-transactions/{commTransKey}'.sub('{' + 'commTransKey' + '}', CGI.escape(comm_trans_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_transaction)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionTransactionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionTransactionsApi.update_commission_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionTransactionsApi#update_commission_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
