=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionActivityParametersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionParameter
    # Creates a new CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_parameter [CommissionParameter] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionParameterVBAResponse]
    def create_commission_parameter(vbasoftware_database, comm_activity_key, commission_parameter, opts = {})
      data, _status_code, _headers = create_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, commission_parameter, opts)
      data
    end

    # Create CommissionParameter
    # Creates a new CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_parameter [CommissionParameter] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionParameterVBAResponse, Integer, Hash)>] CommissionParameterVBAResponse data, response status code and response headers
    def create_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, commission_parameter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.create_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.create_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.create_commission_parameter"
      end
      # verify the required parameter 'commission_parameter' is set
      if @api_client.config.client_side_validation && commission_parameter.nil?
        fail ArgumentError, "Missing the required parameter 'commission_parameter' when calling CommissionActivityParametersApi.create_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_parameter)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionParameterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.create_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#create_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionParameter
    # Deletes an CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_parameter(vbasoftware_database, comm_activity_key, comm_parameter_key, opts = {})
      delete_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, opts)
      nil
    end

    # Delete CommissionParameter
    # Deletes an CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.delete_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.delete_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.delete_commission_parameter"
      end
      # verify the required parameter 'comm_parameter_key' is set
      if @api_client.config.client_side_validation && comm_parameter_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_parameter_key' when calling CommissionActivityParametersApi.delete_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters/{commParameterKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s)).sub('{' + 'commParameterKey' + '}', CGI.escape(comm_parameter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.delete_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#delete_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionParameter
    # Gets CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionParameterVBAResponse]
    def get_commission_parameter(vbasoftware_database, comm_activity_key, comm_parameter_key, opts = {})
      data, _status_code, _headers = get_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, opts)
      data
    end

    # Get CommissionParameter
    # Gets CommissionParameter
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionParameterVBAResponse, Integer, Hash)>] CommissionParameterVBAResponse data, response status code and response headers
    def get_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.get_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.get_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.get_commission_parameter"
      end
      # verify the required parameter 'comm_parameter_key' is set
      if @api_client.config.client_side_validation && comm_parameter_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_parameter_key' when calling CommissionActivityParametersApi.get_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters/{commParameterKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s)).sub('{' + 'commParameterKey' + '}', CGI.escape(comm_parameter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionParameterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.get_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#get_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionParameter
    # Lists all CommissionParameter for the given commActivityKey
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionParameterListVBAResponse]
    def list_commission_parameter(vbasoftware_database, comm_activity_key, opts = {})
      data, _status_code, _headers = list_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, opts)
      data
    end

    # List CommissionParameter
    # Lists all CommissionParameter for the given commActivityKey
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionParameterListVBAResponse, Integer, Hash)>] CommissionParameterListVBAResponse data, response status code and response headers
    def list_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.list_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.list_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.list_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionParameterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.list_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#list_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionParameter
    # Create or Update multiple CommissionParameter at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_parameter [Array<CommissionParameter>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_parameter(vbasoftware_database, comm_activity_key, commission_parameter, opts = {})
      data, _status_code, _headers = update_batch_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, commission_parameter, opts)
      data
    end

    # Create or Update Batch CommissionParameter
    # Create or Update multiple CommissionParameter at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param commission_parameter [Array<CommissionParameter>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, commission_parameter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.update_batch_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.update_batch_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.update_batch_commission_parameter"
      end
      # verify the required parameter 'commission_parameter' is set
      if @api_client.config.client_side_validation && commission_parameter.nil?
        fail ArgumentError, "Missing the required parameter 'commission_parameter' when calling CommissionActivityParametersApi.update_batch_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters-batch'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_parameter)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.update_batch_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#update_batch_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionParameter
    # Updates a specific CommissionParameter.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param commission_parameter [CommissionParameter] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionParameterVBAResponse]
    def update_commission_parameter(vbasoftware_database, comm_activity_key, comm_parameter_key, commission_parameter, opts = {})
      data, _status_code, _headers = update_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, commission_parameter, opts)
      data
    end

    # Update CommissionParameter
    # Updates a specific CommissionParameter.
    # @param vbasoftware_database [String] Target database
    # @param comm_activity_key [Integer] CommissionActivity Key
    # @param comm_parameter_key [Integer] CommissionParameter Key
    # @param commission_parameter [CommissionParameter] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionParameterVBAResponse, Integer, Hash)>] CommissionParameterVBAResponse data, response status code and response headers
    def update_commission_parameter_with_http_info(vbasoftware_database, comm_activity_key, comm_parameter_key, commission_parameter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionActivityParametersApi.update_commission_parameter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionActivityParametersApi.update_commission_parameter"
      end
      # verify the required parameter 'comm_activity_key' is set
      if @api_client.config.client_side_validation && comm_activity_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_activity_key' when calling CommissionActivityParametersApi.update_commission_parameter"
      end
      # verify the required parameter 'comm_parameter_key' is set
      if @api_client.config.client_side_validation && comm_parameter_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_parameter_key' when calling CommissionActivityParametersApi.update_commission_parameter"
      end
      # verify the required parameter 'commission_parameter' is set
      if @api_client.config.client_side_validation && commission_parameter.nil?
        fail ArgumentError, "Missing the required parameter 'commission_parameter' when calling CommissionActivityParametersApi.update_commission_parameter"
      end
      # resource path
      local_var_path = '/commission-activities/{commActivityKey}/commission-parameters/{commParameterKey}'.sub('{' + 'commActivityKey' + '}', CGI.escape(comm_activity_key.to_s)).sub('{' + 'commParameterKey' + '}', CGI.escape(comm_parameter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_parameter)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionParameterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionActivityParametersApi.update_commission_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionActivityParametersApi#update_commission_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
