=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionAgencyRepRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionAgencyRepRate
    # Creates a new CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param commission_agency_rep_rate [CommissionAgencyRepRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyRepRateVBAResponse]
    def create_commission_agency_rep_rate(vbasoftware_database, commission_agency_rep_rate, opts = {})
      data, _status_code, _headers = create_commission_agency_rep_rate_with_http_info(vbasoftware_database, commission_agency_rep_rate, opts)
      data
    end

    # Create CommissionAgencyRepRate
    # Creates a new CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param commission_agency_rep_rate [CommissionAgencyRepRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyRepRateVBAResponse, Integer, Hash)>] CommissionAgencyRepRateVBAResponse data, response status code and response headers
    def create_commission_agency_rep_rate_with_http_info(vbasoftware_database, commission_agency_rep_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.create_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.create_commission_agency_rep_rate"
      end
      # verify the required parameter 'commission_agency_rep_rate' is set
      if @api_client.config.client_side_validation && commission_agency_rep_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency_rep_rate' when calling CommissionAgencyRepRatesApi.create_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-agency-rep-rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency_rep_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyRepRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.create_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#create_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionAgencyRepRate
    # Deletes an CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_agency_rep_rate(vbasoftware_database, comm_agency_rep_rate_key, opts = {})
      delete_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, opts)
      nil
    end

    # Delete CommissionAgencyRepRate
    # Deletes an CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate"
      end
      # verify the required parameter 'comm_agency_rep_rate_key' is set
      if @api_client.config.client_side_validation && comm_agency_rep_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_rep_rate_key' when calling CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-agency-rep-rates/{commAgencyRepRateKey}'.sub('{' + 'commAgencyRepRateKey' + '}', CGI.escape(comm_agency_rep_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#delete_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionAgencyRepRate by Agent
    # Deletes an CommissionAgencyRepRate by Agent
    # @param vbasoftware_database [String] Target database
    # @param commission_agency_rep_key [Integer] CommissionAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_agency_rep_rate_by_agent(vbasoftware_database, commission_agency_rep_key, opts = {})
      delete_commission_agency_rep_rate_by_agent_with_http_info(vbasoftware_database, commission_agency_rep_key, opts)
      nil
    end

    # Delete CommissionAgencyRepRate by Agent
    # Deletes an CommissionAgencyRepRate by Agent
    # @param vbasoftware_database [String] Target database
    # @param commission_agency_rep_key [Integer] CommissionAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_agency_rep_rate_by_agent_with_http_info(vbasoftware_database, commission_agency_rep_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate_by_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate_by_agent"
      end
      # verify the required parameter 'commission_agency_rep_key' is set
      if @api_client.config.client_side_validation && commission_agency_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency_rep_key' when calling CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate_by_agent"
      end
      # resource path
      local_var_path = '/commission-agency-rep-rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'commissionAgencyRepKey'] = commission_agency_rep_key

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.delete_commission_agency_rep_rate_by_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#delete_commission_agency_rep_rate_by_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionAgencyRepRate
    # Gets CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyRepRateVBAResponse]
    def get_commission_agency_rep_rate(vbasoftware_database, comm_agency_rep_rate_key, opts = {})
      data, _status_code, _headers = get_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, opts)
      data
    end

    # Get CommissionAgencyRepRate
    # Gets CommissionAgencyRepRate
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyRepRateVBAResponse, Integer, Hash)>] CommissionAgencyRepRateVBAResponse data, response status code and response headers
    def get_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.get_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.get_commission_agency_rep_rate"
      end
      # verify the required parameter 'comm_agency_rep_rate_key' is set
      if @api_client.config.client_side_validation && comm_agency_rep_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_rep_rate_key' when calling CommissionAgencyRepRatesApi.get_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-agency-rep-rates/{commAgencyRepRateKey}'.sub('{' + 'commAgencyRepRateKey' + '}', CGI.escape(comm_agency_rep_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyRepRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.get_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#get_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionAgencyRepRate
    # Lists all CommissionAgencyRepRate for the given commRateKey
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionAgencyRepRateListVBAResponse]
    def list_commission_agency_rep_rate(vbasoftware_database, comm_rate_key, opts = {})
      data, _status_code, _headers = list_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_rate_key, opts)
      data
    end

    # List CommissionAgencyRepRate
    # Lists all CommissionAgencyRepRate for the given commRateKey
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionAgencyRepRateListVBAResponse, Integer, Hash)>] CommissionAgencyRepRateListVBAResponse data, response status code and response headers
    def list_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.list_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.list_commission_agency_rep_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionAgencyRepRatesApi.list_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}/commission-agency-rep-rates'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyRepRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.list_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#list_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionAgencyRepRate
    # Create or Update multiple CommissionAgencyRepRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_agency_rep_rate [Array<CommissionAgencyRepRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_agency_rep_rate(vbasoftware_database, comm_rate_key, commission_agency_rep_rate, opts = {})
      data, _status_code, _headers = update_batch_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_rate_key, commission_agency_rep_rate, opts)
      data
    end

    # Create or Update Batch CommissionAgencyRepRate
    # Create or Update multiple CommissionAgencyRepRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_agency_rep_rate [Array<CommissionAgencyRepRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_rate_key, commission_agency_rep_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.update_batch_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.update_batch_commission_agency_rep_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionAgencyRepRatesApi.update_batch_commission_agency_rep_rate"
      end
      # verify the required parameter 'commission_agency_rep_rate' is set
      if @api_client.config.client_side_validation && commission_agency_rep_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency_rep_rate' when calling CommissionAgencyRepRatesApi.update_batch_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-rates/{commRateKey}/commission-agency-rep-rates-batch'.sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency_rep_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.update_batch_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#update_batch_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionAgencyRepRate
    # Updates a specific CommissionAgencyRepRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param commission_agency_rep_rate [CommissionAgencyRepRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyRepRateVBAResponse]
    def update_commission_agency_rep_rate(vbasoftware_database, comm_agency_rep_rate_key, commission_agency_rep_rate, opts = {})
      data, _status_code, _headers = update_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, commission_agency_rep_rate, opts)
      data
    end

    # Update CommissionAgencyRepRate
    # Updates a specific CommissionAgencyRepRate.
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_rep_rate_key [Integer] CommissionAgencyRepRate Key
    # @param commission_agency_rep_rate [CommissionAgencyRepRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyRepRateVBAResponse, Integer, Hash)>] CommissionAgencyRepRateVBAResponse data, response status code and response headers
    def update_commission_agency_rep_rate_with_http_info(vbasoftware_database, comm_agency_rep_rate_key, commission_agency_rep_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgencyRepRatesApi.update_commission_agency_rep_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgencyRepRatesApi.update_commission_agency_rep_rate"
      end
      # verify the required parameter 'comm_agency_rep_rate_key' is set
      if @api_client.config.client_side_validation && comm_agency_rep_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_rep_rate_key' when calling CommissionAgencyRepRatesApi.update_commission_agency_rep_rate"
      end
      # verify the required parameter 'commission_agency_rep_rate' is set
      if @api_client.config.client_side_validation && commission_agency_rep_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency_rep_rate' when calling CommissionAgencyRepRatesApi.update_commission_agency_rep_rate"
      end
      # resource path
      local_var_path = '/commission-agency-rep-rates/{commAgencyRepRateKey}'.sub('{' + 'commAgencyRepRateKey' + '}', CGI.escape(comm_agency_rep_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency_rep_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyRepRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgencyRepRatesApi.update_commission_agency_rep_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgencyRepRatesApi#update_commission_agency_rep_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
