=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionAdjustmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionAdjustment
    # Creates a new CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment [CommissionAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentVBAResponse]
    def create_commission_adjustment(vbasoftware_database, commission_adjustment, opts = {})
      data, _status_code, _headers = create_commission_adjustment_with_http_info(vbasoftware_database, commission_adjustment, opts)
      data
    end

    # Create CommissionAdjustment
    # Creates a new CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment [CommissionAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentVBAResponse, Integer, Hash)>] CommissionAdjustmentVBAResponse data, response status code and response headers
    def create_commission_adjustment_with_http_info(vbasoftware_database, commission_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.create_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.create_commission_adjustment"
      end
      # verify the required parameter 'commission_adjustment' is set
      if @api_client.config.client_side_validation && commission_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment' when calling CommissionAdjustmentsApi.create_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.create_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#create_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionAdjustment
    # Deletes an CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_adjustment(vbasoftware_database, comm_adj_key, opts = {})
      delete_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, opts)
      nil
    end

    # Delete CommissionAdjustment
    # Deletes an CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.delete_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.delete_commission_adjustment"
      end
      # verify the required parameter 'comm_adj_key' is set
      if @api_client.config.client_side_validation && comm_adj_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_key' when calling CommissionAdjustmentsApi.delete_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments/{commAdjKey}'.sub('{' + 'commAdjKey' + '}', CGI.escape(comm_adj_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.delete_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#delete_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionAdjustment
    # Gets CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentVBAResponse]
    def get_commission_adjustment(vbasoftware_database, comm_adj_key, opts = {})
      data, _status_code, _headers = get_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, opts)
      data
    end

    # Get CommissionAdjustment
    # Gets CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentVBAResponse, Integer, Hash)>] CommissionAdjustmentVBAResponse data, response status code and response headers
    def get_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.get_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.get_commission_adjustment"
      end
      # verify the required parameter 'comm_adj_key' is set
      if @api_client.config.client_side_validation && comm_adj_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_key' when calling CommissionAdjustmentsApi.get_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments/{commAdjKey}'.sub('{' + 'commAdjKey' + '}', CGI.escape(comm_adj_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.get_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#get_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionAdjustment
    # Lists all CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionAdjustmentListVBAResponse]
    def list_commission_adjustment(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_adjustment_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionAdjustment
    # Lists all CommissionAdjustment
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionAdjustmentListVBAResponse, Integer, Hash)>] CommissionAdjustmentListVBAResponse data, response status code and response headers
    def list_commission_adjustment_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.list_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.list_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.list_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#list_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionAdjustment
    # Create or Update multiple CommissionAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment [Array<CommissionAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_adjustment(vbasoftware_database, commission_adjustment, opts = {})
      data, _status_code, _headers = update_batch_commission_adjustment_with_http_info(vbasoftware_database, commission_adjustment, opts)
      data
    end

    # Create or Update Batch CommissionAdjustment
    # Create or Update multiple CommissionAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_adjustment [Array<CommissionAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_adjustment_with_http_info(vbasoftware_database, commission_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.update_batch_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.update_batch_commission_adjustment"
      end
      # verify the required parameter 'commission_adjustment' is set
      if @api_client.config.client_side_validation && commission_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment' when calling CommissionAdjustmentsApi.update_batch_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.update_batch_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#update_batch_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionAdjustment
    # Updates a specific CommissionAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param commission_adjustment [CommissionAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAdjustmentVBAResponse]
    def update_commission_adjustment(vbasoftware_database, comm_adj_key, commission_adjustment, opts = {})
      data, _status_code, _headers = update_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, commission_adjustment, opts)
      data
    end

    # Update CommissionAdjustment
    # Updates a specific CommissionAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param comm_adj_key [Integer] CommissionAdjustment Key
    # @param commission_adjustment [CommissionAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAdjustmentVBAResponse, Integer, Hash)>] CommissionAdjustmentVBAResponse data, response status code and response headers
    def update_commission_adjustment_with_http_info(vbasoftware_database, comm_adj_key, commission_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAdjustmentsApi.update_commission_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAdjustmentsApi.update_commission_adjustment"
      end
      # verify the required parameter 'comm_adj_key' is set
      if @api_client.config.client_side_validation && comm_adj_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_adj_key' when calling CommissionAdjustmentsApi.update_commission_adjustment"
      end
      # verify the required parameter 'commission_adjustment' is set
      if @api_client.config.client_side_validation && commission_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'commission_adjustment' when calling CommissionAdjustmentsApi.update_commission_adjustment"
      end
      # resource path
      local_var_path = '/commission-adjustments/{commAdjKey}'.sub('{' + 'commAdjKey' + '}', CGI.escape(comm_adj_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAdjustmentsApi.update_commission_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAdjustmentsApi#update_commission_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
