=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionBasisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionBasis
    # Creates a new CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param commission_basis [CommissionBasis] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionBasisVBAResponse]
    def create_commission_basis(vbasoftware_database, commission_basis, opts = {})
      data, _status_code, _headers = create_commission_basis_with_http_info(vbasoftware_database, commission_basis, opts)
      data
    end

    # Create CommissionBasis
    # Creates a new CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param commission_basis [CommissionBasis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionBasisVBAResponse, Integer, Hash)>] CommissionBasisVBAResponse data, response status code and response headers
    def create_commission_basis_with_http_info(vbasoftware_database, commission_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.create_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.create_commission_basis"
      end
      # verify the required parameter 'commission_basis' is set
      if @api_client.config.client_side_validation && commission_basis.nil?
        fail ArgumentError, "Missing the required parameter 'commission_basis' when calling CommissionBasisApi.create_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_basis)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.create_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#create_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionBasis
    # Deletes an CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_basis(vbasoftware_database, comm_basis, opts = {})
      delete_commission_basis_with_http_info(vbasoftware_database, comm_basis, opts)
      nil
    end

    # Delete CommissionBasis
    # Deletes an CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_basis_with_http_info(vbasoftware_database, comm_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.delete_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.delete_commission_basis"
      end
      # verify the required parameter 'comm_basis' is set
      if @api_client.config.client_side_validation && comm_basis.nil?
        fail ArgumentError, "Missing the required parameter 'comm_basis' when calling CommissionBasisApi.delete_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis/{commBasis}'.sub('{' + 'commBasis' + '}', CGI.escape(comm_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.delete_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#delete_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionBasis
    # Gets CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param [Hash] opts the optional parameters
    # @return [CommissionBasisVBAResponse]
    def get_commission_basis(vbasoftware_database, comm_basis, opts = {})
      data, _status_code, _headers = get_commission_basis_with_http_info(vbasoftware_database, comm_basis, opts)
      data
    end

    # Get CommissionBasis
    # Gets CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionBasisVBAResponse, Integer, Hash)>] CommissionBasisVBAResponse data, response status code and response headers
    def get_commission_basis_with_http_info(vbasoftware_database, comm_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.get_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.get_commission_basis"
      end
      # verify the required parameter 'comm_basis' is set
      if @api_client.config.client_side_validation && comm_basis.nil?
        fail ArgumentError, "Missing the required parameter 'comm_basis' when calling CommissionBasisApi.get_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis/{commBasis}'.sub('{' + 'commBasis' + '}', CGI.escape(comm_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.get_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#get_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionBasis
    # Lists all CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionBasisListVBAResponse]
    def list_commission_basis(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_basis_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionBasis
    # Lists all CommissionBasis
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionBasisListVBAResponse, Integer, Hash)>] CommissionBasisListVBAResponse data, response status code and response headers
    def list_commission_basis_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.list_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.list_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionBasisListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.list_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#list_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionBasis
    # Create or Update multiple CommissionBasis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_basis [Array<CommissionBasis>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_basis(vbasoftware_database, commission_basis, opts = {})
      data, _status_code, _headers = update_batch_commission_basis_with_http_info(vbasoftware_database, commission_basis, opts)
      data
    end

    # Create or Update Batch CommissionBasis
    # Create or Update multiple CommissionBasis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_basis [Array<CommissionBasis>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_basis_with_http_info(vbasoftware_database, commission_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.update_batch_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.update_batch_commission_basis"
      end
      # verify the required parameter 'commission_basis' is set
      if @api_client.config.client_side_validation && commission_basis.nil?
        fail ArgumentError, "Missing the required parameter 'commission_basis' when calling CommissionBasisApi.update_batch_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_basis)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.update_batch_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#update_batch_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionBasis
    # Updates a specific CommissionBasis.
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param commission_basis [CommissionBasis] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionBasisVBAResponse]
    def update_commission_basis(vbasoftware_database, comm_basis, commission_basis, opts = {})
      data, _status_code, _headers = update_commission_basis_with_http_info(vbasoftware_database, comm_basis, commission_basis, opts)
      data
    end

    # Update CommissionBasis
    # Updates a specific CommissionBasis.
    # @param vbasoftware_database [String] Target database
    # @param comm_basis [String] Commission Basis
    # @param commission_basis [CommissionBasis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionBasisVBAResponse, Integer, Hash)>] CommissionBasisVBAResponse data, response status code and response headers
    def update_commission_basis_with_http_info(vbasoftware_database, comm_basis, commission_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionBasisApi.update_commission_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionBasisApi.update_commission_basis"
      end
      # verify the required parameter 'comm_basis' is set
      if @api_client.config.client_side_validation && comm_basis.nil?
        fail ArgumentError, "Missing the required parameter 'comm_basis' when calling CommissionBasisApi.update_commission_basis"
      end
      # verify the required parameter 'commission_basis' is set
      if @api_client.config.client_side_validation && commission_basis.nil?
        fail ArgumentError, "Missing the required parameter 'commission_basis' when calling CommissionBasisApi.update_commission_basis"
      end
      # resource path
      local_var_path = '/commission-basis/{commBasis}'.sub('{' + 'commBasis' + '}', CGI.escape(comm_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_basis)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionBasisApi.update_commission_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionBasisApi#update_commission_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
