=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionRateClusterAgencyRepApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionRateClusterAgencyRep
    # Creates a new CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep [CommissionRateClusterAgencyRep] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterAgencyRepVBAResponse]
    def create_commission_rate_cluster_agency_rep(vbasoftware_database, commission_rate_cluster_agency_rep, opts = {})
      data, _status_code, _headers = create_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep, opts)
      data
    end

    # Create CommissionRateClusterAgencyRep
    # Creates a new CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep [CommissionRateClusterAgencyRep] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterAgencyRepVBAResponse, Integer, Hash)>] CommissionRateClusterAgencyRepVBAResponse data, response status code and response headers
    def create_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.create_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.create_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep' when calling CommissionRateClusterAgencyRepApi.create_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_agency_rep)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterAgencyRepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.create_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#create_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionRateClusterAgencyRep
    # Deletes an CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_rate_cluster_agency_rep(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts = {})
      delete_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts)
      nil
    end

    # Delete CommissionRateClusterAgencyRep
    # Deletes an CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.delete_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.delete_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep_key' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep_key' when calling CommissionRateClusterAgencyRepApi.delete_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps/{CommissionRateClusterAgencyRep_Key}'.sub('{' + 'CommissionRateClusterAgencyRep_Key' + '}', CGI.escape(commission_rate_cluster_agency_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.delete_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#delete_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionRateClusterAgencyRep
    # Gets CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterAgencyRepVBAResponse]
    def get_commission_rate_cluster_agency_rep(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts = {})
      data, _status_code, _headers = get_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts)
      data
    end

    # Get CommissionRateClusterAgencyRep
    # Gets CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterAgencyRepVBAResponse, Integer, Hash)>] CommissionRateClusterAgencyRepVBAResponse data, response status code and response headers
    def get_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.get_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.get_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep_key' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep_key' when calling CommissionRateClusterAgencyRepApi.get_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps/{CommissionRateClusterAgencyRep_Key}'.sub('{' + 'CommissionRateClusterAgencyRep_Key' + '}', CGI.escape(commission_rate_cluster_agency_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterAgencyRepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.get_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#get_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionRateClusterAgencyRep
    # Lists all CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [CommissionRateClusterAgencyRepListVBAResponse]
    def list_commission_rate_cluster_agency_rep(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionRateClusterAgencyRep
    # Lists all CommissionRateClusterAgencyRep
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(CommissionRateClusterAgencyRepListVBAResponse, Integer, Hash)>] CommissionRateClusterAgencyRepListVBAResponse data, response status code and response headers
    def list_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.list_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.list_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterAgencyRepListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.list_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#list_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionRateClusterAgencyRep
    # Create or Update multiple CommissionRateClusterAgencyRep at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep [Array<CommissionRateClusterAgencyRep>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_rate_cluster_agency_rep(vbasoftware_database, commission_rate_cluster_agency_rep, opts = {})
      data, _status_code, _headers = update_batch_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep, opts)
      data
    end

    # Create or Update Batch CommissionRateClusterAgencyRep
    # Create or Update multiple CommissionRateClusterAgencyRep at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep [Array<CommissionRateClusterAgencyRep>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.update_batch_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.update_batch_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep' when calling CommissionRateClusterAgencyRepApi.update_batch_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_agency_rep)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.update_batch_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#update_batch_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionRateClusterAgencyRep
    # Updates a specific CommissionRateClusterAgencyRep.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param commission_rate_cluster_agency_rep [CommissionRateClusterAgencyRep] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterAgencyRepVBAResponse]
    def update_commission_rate_cluster_agency_rep(vbasoftware_database, commission_rate_cluster_agency_rep_key, commission_rate_cluster_agency_rep, opts = {})
      data, _status_code, _headers = update_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, commission_rate_cluster_agency_rep, opts)
      data
    end

    # Update CommissionRateClusterAgencyRep
    # Updates a specific CommissionRateClusterAgencyRep.
    # @param vbasoftware_database [String] Target database
    # @param commission_rate_cluster_agency_rep_key [Integer] CommissionRateClusterAgencyRep Key
    # @param commission_rate_cluster_agency_rep [CommissionRateClusterAgencyRep] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterAgencyRepVBAResponse, Integer, Hash)>] CommissionRateClusterAgencyRepVBAResponse data, response status code and response headers
    def update_commission_rate_cluster_agency_rep_with_http_info(vbasoftware_database, commission_rate_cluster_agency_rep_key, commission_rate_cluster_agency_rep, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterAgencyRepApi.update_commission_rate_cluster_agency_rep ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterAgencyRepApi.update_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep_key' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep_key.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep_key' when calling CommissionRateClusterAgencyRepApi.update_commission_rate_cluster_agency_rep"
      end
      # verify the required parameter 'commission_rate_cluster_agency_rep' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_agency_rep.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_agency_rep' when calling CommissionRateClusterAgencyRepApi.update_commission_rate_cluster_agency_rep"
      end
      # resource path
      local_var_path = '/commission-rate-cluster-agency-reps/{CommissionRateClusterAgencyRep_Key}'.sub('{' + 'CommissionRateClusterAgencyRep_Key' + '}', CGI.escape(commission_rate_cluster_agency_rep_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_agency_rep)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterAgencyRepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterAgencyRepApi.update_commission_rate_cluster_agency_rep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterAgencyRepApi#update_commission_rate_cluster_agency_rep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
