=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionAgenciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionAgency
    # Creates a new CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param commission_agency [CommissionAgency] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyVBAResponse]
    def create_commission_agency(vbasoftware_database, commission_agency, opts = {})
      data, _status_code, _headers = create_commission_agency_with_http_info(vbasoftware_database, commission_agency, opts)
      data
    end

    # Create CommissionAgency
    # Creates a new CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param commission_agency [CommissionAgency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyVBAResponse, Integer, Hash)>] CommissionAgencyVBAResponse data, response status code and response headers
    def create_commission_agency_with_http_info(vbasoftware_database, commission_agency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.create_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.create_commission_agency"
      end
      # verify the required parameter 'commission_agency' is set
      if @api_client.config.client_side_validation && commission_agency.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency' when calling CommissionAgenciesApi.create_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.create_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#create_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionAgency
    # Deletes an CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_agency(vbasoftware_database, comm_agency_key, opts = {})
      delete_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, opts)
      nil
    end

    # Delete CommissionAgency
    # Deletes an CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.delete_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.delete_commission_agency"
      end
      # verify the required parameter 'comm_agency_key' is set
      if @api_client.config.client_side_validation && comm_agency_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_key' when calling CommissionAgenciesApi.delete_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies/{commAgencyKey}'.sub('{' + 'commAgencyKey' + '}', CGI.escape(comm_agency_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.delete_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#delete_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionAgency
    # Gets CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyVBAResponse]
    def get_commission_agency(vbasoftware_database, comm_agency_key, opts = {})
      data, _status_code, _headers = get_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, opts)
      data
    end

    # Get CommissionAgency
    # Gets CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyVBAResponse, Integer, Hash)>] CommissionAgencyVBAResponse data, response status code and response headers
    def get_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.get_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.get_commission_agency"
      end
      # verify the required parameter 'comm_agency_key' is set
      if @api_client.config.client_side_validation && comm_agency_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_key' when calling CommissionAgenciesApi.get_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies/{commAgencyKey}'.sub('{' + 'commAgencyKey' + '}', CGI.escape(comm_agency_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.get_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#get_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionAgency
    # Lists all CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionAgencyListVBAResponse]
    def list_commission_agency(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_commission_agency_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CommissionAgency
    # Lists all CommissionAgency
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionAgencyListVBAResponse, Integer, Hash)>] CommissionAgencyListVBAResponse data, response status code and response headers
    def list_commission_agency_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.list_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.list_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.list_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#list_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionAgency
    # Create or Update multiple CommissionAgency at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_agency [Array<CommissionAgency>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_agency(vbasoftware_database, commission_agency, opts = {})
      data, _status_code, _headers = update_batch_commission_agency_with_http_info(vbasoftware_database, commission_agency, opts)
      data
    end

    # Create or Update Batch CommissionAgency
    # Create or Update multiple CommissionAgency at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param commission_agency [Array<CommissionAgency>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_agency_with_http_info(vbasoftware_database, commission_agency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.update_batch_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.update_batch_commission_agency"
      end
      # verify the required parameter 'commission_agency' is set
      if @api_client.config.client_side_validation && commission_agency.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency' when calling CommissionAgenciesApi.update_batch_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.update_batch_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#update_batch_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionAgency
    # Updates a specific CommissionAgency.
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param commission_agency [CommissionAgency] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionAgencyVBAResponse]
    def update_commission_agency(vbasoftware_database, comm_agency_key, commission_agency, opts = {})
      data, _status_code, _headers = update_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, commission_agency, opts)
      data
    end

    # Update CommissionAgency
    # Updates a specific CommissionAgency.
    # @param vbasoftware_database [String] Target database
    # @param comm_agency_key [Integer] CommissionAgency Key
    # @param commission_agency [CommissionAgency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionAgencyVBAResponse, Integer, Hash)>] CommissionAgencyVBAResponse data, response status code and response headers
    def update_commission_agency_with_http_info(vbasoftware_database, comm_agency_key, commission_agency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionAgenciesApi.update_commission_agency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionAgenciesApi.update_commission_agency"
      end
      # verify the required parameter 'comm_agency_key' is set
      if @api_client.config.client_side_validation && comm_agency_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_agency_key' when calling CommissionAgenciesApi.update_commission_agency"
      end
      # verify the required parameter 'commission_agency' is set
      if @api_client.config.client_side_validation && commission_agency.nil?
        fail ArgumentError, "Missing the required parameter 'commission_agency' when calling CommissionAgenciesApi.update_commission_agency"
      end
      # resource path
      local_var_path = '/commission-agencies/{commAgencyKey}'.sub('{' + 'commAgencyKey' + '}', CGI.escape(comm_agency_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_agency)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionAgencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionAgenciesApi.update_commission_agency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionAgenciesApi#update_commission_agency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
