=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CommissionRateClusterRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CommissionRateClusterRate
    # Creates a new CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param commission_rate_cluster_rate [CommissionRateClusterRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterRateVBAResponse]
    def create_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts = {})
      data, _status_code, _headers = create_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts)
      data
    end

    # Create CommissionRateClusterRate
    # Creates a new CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param commission_rate_cluster_rate [CommissionRateClusterRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterRateVBAResponse, Integer, Hash)>] CommissionRateClusterRateVBAResponse data, response status code and response headers
    def create_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.create_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.create_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.create_commission_rate_cluster_rate"
      end
      # verify the required parameter 'commission_rate_cluster_rate' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_rate' when calling CommissionRateClusterRatesApi.create_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.create_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#create_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CommissionRateClusterRate
    # Deletes an CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, comm_rate_key, opts = {})
      delete_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, opts)
      nil
    end

    # Delete CommissionRateClusterRate
    # Deletes an CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.delete_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.delete_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.delete_commission_rate_cluster_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRateClusterRatesApi.delete_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates/{commRateKey}'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s)).sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.delete_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#delete_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CommissionRateClusterRate
    # Gets CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterRateVBAResponse]
    def get_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, comm_rate_key, opts = {})
      data, _status_code, _headers = get_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, opts)
      data
    end

    # Get CommissionRateClusterRate
    # Gets CommissionRateClusterRate
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterRateVBAResponse, Integer, Hash)>] CommissionRateClusterRateVBAResponse data, response status code and response headers
    def get_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.get_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.get_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.get_commission_rate_cluster_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRateClusterRatesApi.get_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates/{commRateKey}'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s)).sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.get_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#get_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CommissionRateClusterRate
    # Lists all CommissionRateClusterRate for the given rateCluster
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CommissionRateClusterRateListVBAResponse]
    def list_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, opts = {})
      data, _status_code, _headers = list_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, opts)
      data
    end

    # List CommissionRateClusterRate
    # Lists all CommissionRateClusterRate for the given rateCluster
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CommissionRateClusterRateListVBAResponse, Integer, Hash)>] CommissionRateClusterRateListVBAResponse data, response status code and response headers
    def list_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.list_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.list_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.list_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.list_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#list_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CommissionRateClusterRate
    # Create or Update multiple CommissionRateClusterRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param commission_rate_cluster_rate [Array<CommissionRateClusterRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts = {})
      data, _status_code, _headers = update_batch_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts)
      data
    end

    # Create or Update Batch CommissionRateClusterRate
    # Create or Update multiple CommissionRateClusterRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param commission_rate_cluster_rate [Array<CommissionRateClusterRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, commission_rate_cluster_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.update_batch_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.update_batch_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.update_batch_commission_rate_cluster_rate"
      end
      # verify the required parameter 'commission_rate_cluster_rate' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_rate' when calling CommissionRateClusterRatesApi.update_batch_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates-batch'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.update_batch_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#update_batch_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CommissionRateClusterRate
    # Updates a specific CommissionRateClusterRate.
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_rate_cluster_rate [CommissionRateClusterRate] 
    # @param [Hash] opts the optional parameters
    # @return [CommissionRateClusterRateVBAResponse]
    def update_commission_rate_cluster_rate(vbasoftware_database, rate_cluster, comm_rate_key, commission_rate_cluster_rate, opts = {})
      data, _status_code, _headers = update_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, commission_rate_cluster_rate, opts)
      data
    end

    # Update CommissionRateClusterRate
    # Updates a specific CommissionRateClusterRate.
    # @param vbasoftware_database [String] Target database
    # @param rate_cluster [String] Rate Cluster
    # @param comm_rate_key [Integer] CommissionRate Key
    # @param commission_rate_cluster_rate [CommissionRateClusterRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommissionRateClusterRateVBAResponse, Integer, Hash)>] CommissionRateClusterRateVBAResponse data, response status code and response headers
    def update_commission_rate_cluster_rate_with_http_info(vbasoftware_database, rate_cluster, comm_rate_key, commission_rate_cluster_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionRateClusterRatesApi.update_commission_rate_cluster_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CommissionRateClusterRatesApi.update_commission_rate_cluster_rate"
      end
      # verify the required parameter 'rate_cluster' is set
      if @api_client.config.client_side_validation && rate_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'rate_cluster' when calling CommissionRateClusterRatesApi.update_commission_rate_cluster_rate"
      end
      # verify the required parameter 'comm_rate_key' is set
      if @api_client.config.client_side_validation && comm_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'comm_rate_key' when calling CommissionRateClusterRatesApi.update_commission_rate_cluster_rate"
      end
      # verify the required parameter 'commission_rate_cluster_rate' is set
      if @api_client.config.client_side_validation && commission_rate_cluster_rate.nil?
        fail ArgumentError, "Missing the required parameter 'commission_rate_cluster_rate' when calling CommissionRateClusterRatesApi.update_commission_rate_cluster_rate"
      end
      # resource path
      local_var_path = '/commission-rate-clusters/{rateCluster}/commission-rates/{commRateKey}'.sub('{' + 'rateCluster' + '}', CGI.escape(rate_cluster.to_s)).sub('{' + 'commRateKey' + '}', CGI.escape(comm_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_rate_cluster_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionRateClusterRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommissionRateClusterRatesApi.update_commission_rate_cluster_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionRateClusterRatesApi#update_commission_rate_cluster_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
