=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class Context4HealthCostContainmentOptionPricingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CostContainContext4OptionPricing
    # Creates a new CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_option_pricing [CostContainContext4OptionPricing] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4OptionPricingVBAResponse]
    def create_cost_contain_context4_option_pricing(vbasoftware_database, cost_contain_context4_option_pricing, opts = {})
      data, _status_code, _headers = create_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, cost_contain_context4_option_pricing, opts)
      data
    end

    # Create CostContainContext4OptionPricing
    # Creates a new CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_option_pricing [CostContainContext4OptionPricing] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4OptionPricingVBAResponse, Integer, Hash)>] CostContainContext4OptionPricingVBAResponse data, response status code and response headers
    def create_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, cost_contain_context4_option_pricing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.create_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.create_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'cost_contain_context4_option_pricing' is set
      if @api_client.config.client_side_validation && cost_contain_context4_option_pricing.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_option_pricing' when calling Context4HealthCostContainmentOptionPricingApi.create_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_option_pricing)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4OptionPricingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.create_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#create_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CostContainContext4OptionPricing
    # Deletes an CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cost_contain_context4_option_pricing(vbasoftware_database, option_key, opts = {})
      delete_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, opts)
      nil
    end

    # Delete CostContainContext4OptionPricing
    # Deletes an CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.delete_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.delete_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'option_key' is set
      if @api_client.config.client_side_validation && option_key.nil?
        fail ArgumentError, "Missing the required parameter 'option_key' when calling Context4HealthCostContainmentOptionPricingApi.delete_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing/{optionKey}'.sub('{' + 'optionKey' + '}', CGI.escape(option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.delete_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#delete_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CostContainContext4OptionPricing
    # Gets CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4OptionPricingVBAResponse]
    def get_cost_contain_context4_option_pricing(vbasoftware_database, option_key, opts = {})
      data, _status_code, _headers = get_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, opts)
      data
    end

    # Get CostContainContext4OptionPricing
    # Gets CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4OptionPricingVBAResponse, Integer, Hash)>] CostContainContext4OptionPricingVBAResponse data, response status code and response headers
    def get_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.get_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.get_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'option_key' is set
      if @api_client.config.client_side_validation && option_key.nil?
        fail ArgumentError, "Missing the required parameter 'option_key' when calling Context4HealthCostContainmentOptionPricingApi.get_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing/{optionKey}'.sub('{' + 'optionKey' + '}', CGI.escape(option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4OptionPricingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.get_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#get_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CostContainContext4OptionPricing
    # Lists all CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CostContainContext4OptionPricingListVBAResponse]
    def list_cost_contain_context4_option_pricing(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CostContainContext4OptionPricing
    # Lists all CostContainContext4OptionPricing
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CostContainContext4OptionPricingListVBAResponse, Integer, Hash)>] CostContainContext4OptionPricingListVBAResponse data, response status code and response headers
    def list_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.list_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.list_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planID'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4OptionPricingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.list_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#list_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CostContainContext4OptionPricing
    # Create or Update multiple CostContainContext4OptionPricing at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_option_pricing [Array<CostContainContext4OptionPricing>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cost_contain_context4_option_pricing(vbasoftware_database, cost_contain_context4_option_pricing, opts = {})
      data, _status_code, _headers = update_batch_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, cost_contain_context4_option_pricing, opts)
      data
    end

    # Create or Update Batch CostContainContext4OptionPricing
    # Create or Update multiple CostContainContext4OptionPricing at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_option_pricing [Array<CostContainContext4OptionPricing>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, cost_contain_context4_option_pricing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.update_batch_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.update_batch_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'cost_contain_context4_option_pricing' is set
      if @api_client.config.client_side_validation && cost_contain_context4_option_pricing.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_option_pricing' when calling Context4HealthCostContainmentOptionPricingApi.update_batch_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_option_pricing)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.update_batch_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#update_batch_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CostContainContext4OptionPricing
    # Updates a specific CostContainContext4OptionPricing.
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param cost_contain_context4_option_pricing [CostContainContext4OptionPricing] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4OptionPricingVBAResponse]
    def update_cost_contain_context4_option_pricing(vbasoftware_database, option_key, cost_contain_context4_option_pricing, opts = {})
      data, _status_code, _headers = update_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, cost_contain_context4_option_pricing, opts)
      data
    end

    # Update CostContainContext4OptionPricing
    # Updates a specific CostContainContext4OptionPricing.
    # @param vbasoftware_database [String] Target database
    # @param option_key [Integer] Option Key
    # @param cost_contain_context4_option_pricing [CostContainContext4OptionPricing] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4OptionPricingVBAResponse, Integer, Hash)>] CostContainContext4OptionPricingVBAResponse data, response status code and response headers
    def update_cost_contain_context4_option_pricing_with_http_info(vbasoftware_database, option_key, cost_contain_context4_option_pricing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentOptionPricingApi.update_cost_contain_context4_option_pricing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentOptionPricingApi.update_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'option_key' is set
      if @api_client.config.client_side_validation && option_key.nil?
        fail ArgumentError, "Missing the required parameter 'option_key' when calling Context4HealthCostContainmentOptionPricingApi.update_cost_contain_context4_option_pricing"
      end
      # verify the required parameter 'cost_contain_context4_option_pricing' is set
      if @api_client.config.client_side_validation && cost_contain_context4_option_pricing.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_option_pricing' when calling Context4HealthCostContainmentOptionPricingApi.update_cost_contain_context4_option_pricing"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-option-pricing/{optionKey}'.sub('{' + 'optionKey' + '}', CGI.escape(option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_option_pricing)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4OptionPricingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentOptionPricingApi.update_cost_contain_context4_option_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentOptionPricingApi#update_cost_contain_context4_option_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
