=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ContactCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ContactCategory
    # Creates a new ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [ContactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [ContactCategoryVBAResponse]
    def create_contact_category(vbasoftware_database, contact_category, opts = {})
      data, _status_code, _headers = create_contact_category_with_http_info(vbasoftware_database, contact_category, opts)
      data
    end

    # Create ContactCategory
    # Creates a new ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [ContactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactCategoryVBAResponse, Integer, Hash)>] ContactCategoryVBAResponse data, response status code and response headers
    def create_contact_category_with_http_info(vbasoftware_database, contact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.create_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.create_contact_category"
      end
      # verify the required parameter 'contact_category' is set
      if @api_client.config.client_side_validation && contact_category.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category' when calling ContactCategoriesApi.create_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_category)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.create_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#create_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ContactCategory
    # Deletes an ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_category(vbasoftware_database, contact_category, opts = {})
      delete_contact_category_with_http_info(vbasoftware_database, contact_category, opts)
      nil
    end

    # Delete ContactCategory
    # Deletes an ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_category_with_http_info(vbasoftware_database, contact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.delete_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.delete_contact_category"
      end
      # verify the required parameter 'contact_category' is set
      if @api_client.config.client_side_validation && contact_category.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category' when calling ContactCategoriesApi.delete_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories/{contactCategory}'.sub('{' + 'contactCategory' + '}', CGI.escape(contact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.delete_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#delete_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ContactCategory
    # Gets ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param [Hash] opts the optional parameters
    # @return [ContactCategoryVBAResponse]
    def get_contact_category(vbasoftware_database, contact_category, opts = {})
      data, _status_code, _headers = get_contact_category_with_http_info(vbasoftware_database, contact_category, opts)
      data
    end

    # Get ContactCategory
    # Gets ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactCategoryVBAResponse, Integer, Hash)>] ContactCategoryVBAResponse data, response status code and response headers
    def get_contact_category_with_http_info(vbasoftware_database, contact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.get_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.get_contact_category"
      end
      # verify the required parameter 'contact_category' is set
      if @api_client.config.client_side_validation && contact_category.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category' when calling ContactCategoriesApi.get_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories/{contactCategory}'.sub('{' + 'contactCategory' + '}', CGI.escape(contact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.get_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#get_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ContactCategory
    # Lists all ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ContactCategoryListVBAResponse]
    def list_contact_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_contact_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ContactCategory
    # Lists all ContactCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ContactCategoryListVBAResponse, Integer, Hash)>] ContactCategoryListVBAResponse data, response status code and response headers
    def list_contact_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.list_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.list_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.list_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#list_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ContactCategory
    # Create or Update multiple ContactCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_category [Array<ContactCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_contact_category(vbasoftware_database, contact_category, opts = {})
      data, _status_code, _headers = update_batch_contact_category_with_http_info(vbasoftware_database, contact_category, opts)
      data
    end

    # Create or Update Batch ContactCategory
    # Create or Update multiple ContactCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_category [Array<ContactCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_contact_category_with_http_info(vbasoftware_database, contact_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.update_batch_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.update_batch_contact_category"
      end
      # verify the required parameter 'contact_category' is set
      if @api_client.config.client_side_validation && contact_category.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category' when calling ContactCategoriesApi.update_batch_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.update_batch_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#update_batch_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ContactCategory
    # Updates a specific ContactCategory.
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param contact_category2 [ContactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [ContactCategoryVBAResponse]
    def update_contact_category(vbasoftware_database, contact_category, contact_category2, opts = {})
      data, _status_code, _headers = update_contact_category_with_http_info(vbasoftware_database, contact_category, contact_category2, opts)
      data
    end

    # Update ContactCategory
    # Updates a specific ContactCategory.
    # @param vbasoftware_database [String] Target database
    # @param contact_category [String] Contact Category
    # @param contact_category2 [ContactCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactCategoryVBAResponse, Integer, Hash)>] ContactCategoryVBAResponse data, response status code and response headers
    def update_contact_category_with_http_info(vbasoftware_database, contact_category, contact_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactCategoriesApi.update_contact_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactCategoriesApi.update_contact_category"
      end
      # verify the required parameter 'contact_category' is set
      if @api_client.config.client_side_validation && contact_category.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category' when calling ContactCategoriesApi.update_contact_category"
      end
      # verify the required parameter 'contact_category2' is set
      if @api_client.config.client_side_validation && contact_category2.nil?
        fail ArgumentError, "Missing the required parameter 'contact_category2' when calling ContactCategoriesApi.update_contact_category"
      end
      # resource path
      local_var_path = '/contact-categories/{contactCategory}'.sub('{' + 'contactCategory' + '}', CGI.escape(contact_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactCategoriesApi.update_contact_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactCategoriesApi#update_contact_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
