=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ContactAssignmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ContactAssign
    # Creates a new ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign [ContactAssign] 
    # @param [Hash] opts the optional parameters
    # @return [ContactAssignVBAResponse]
    def create_contact_assign(vbasoftware_database, contact_assign, opts = {})
      data, _status_code, _headers = create_contact_assign_with_http_info(vbasoftware_database, contact_assign, opts)
      data
    end

    # Create ContactAssign
    # Creates a new ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign [ContactAssign] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactAssignVBAResponse, Integer, Hash)>] ContactAssignVBAResponse data, response status code and response headers
    def create_contact_assign_with_http_info(vbasoftware_database, contact_assign, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.create_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.create_contact_assign"
      end
      # verify the required parameter 'contact_assign' is set
      if @api_client.config.client_side_validation && contact_assign.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign' when calling ContactAssignmentsApi.create_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_assign)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactAssignVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.create_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#create_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ContactAssign
    # Deletes an ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_assign(vbasoftware_database, contact_assign_key, opts = {})
      delete_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, opts)
      nil
    end

    # Delete ContactAssign
    # Deletes an ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.delete_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.delete_contact_assign"
      end
      # verify the required parameter 'contact_assign_key' is set
      if @api_client.config.client_side_validation && contact_assign_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign_key' when calling ContactAssignmentsApi.delete_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments/{contactAssignKey}'.sub('{' + 'contactAssignKey' + '}', CGI.escape(contact_assign_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.delete_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#delete_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ContactAssign
    # Gets ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param [Hash] opts the optional parameters
    # @return [ContactAssignVBAResponse]
    def get_contact_assign(vbasoftware_database, contact_assign_key, opts = {})
      data, _status_code, _headers = get_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, opts)
      data
    end

    # Get ContactAssign
    # Gets ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactAssignVBAResponse, Integer, Hash)>] ContactAssignVBAResponse data, response status code and response headers
    def get_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.get_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.get_contact_assign"
      end
      # verify the required parameter 'contact_assign_key' is set
      if @api_client.config.client_side_validation && contact_assign_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign_key' when calling ContactAssignmentsApi.get_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments/{contactAssignKey}'.sub('{' + 'contactAssignKey' + '}', CGI.escape(contact_assign_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactAssignVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.get_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#get_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ContactAssign
    # Lists all ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ContactAssignListVBAResponse]
    def list_contact_assign(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_contact_assign_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ContactAssign
    # Lists all ContactAssign
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ContactAssignListVBAResponse, Integer, Hash)>] ContactAssignListVBAResponse data, response status code and response headers
    def list_contact_assign_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.list_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.list_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactAssignListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.list_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#list_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ContactAssign
    # Create or Update multiple ContactAssign at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_assign [Array<ContactAssign>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_contact_assign(vbasoftware_database, contact_assign, opts = {})
      data, _status_code, _headers = update_batch_contact_assign_with_http_info(vbasoftware_database, contact_assign, opts)
      data
    end

    # Create or Update Batch ContactAssign
    # Create or Update multiple ContactAssign at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_assign [Array<ContactAssign>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_contact_assign_with_http_info(vbasoftware_database, contact_assign, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.update_batch_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.update_batch_contact_assign"
      end
      # verify the required parameter 'contact_assign' is set
      if @api_client.config.client_side_validation && contact_assign.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign' when calling ContactAssignmentsApi.update_batch_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_assign)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.update_batch_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#update_batch_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ContactAssign
    # Updates a specific ContactAssign.
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param contact_assign [ContactAssign] 
    # @param [Hash] opts the optional parameters
    # @return [ContactAssignVBAResponse]
    def update_contact_assign(vbasoftware_database, contact_assign_key, contact_assign, opts = {})
      data, _status_code, _headers = update_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, contact_assign, opts)
      data
    end

    # Update ContactAssign
    # Updates a specific ContactAssign.
    # @param vbasoftware_database [String] Target database
    # @param contact_assign_key [Integer] ContactAssign Key
    # @param contact_assign [ContactAssign] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactAssignVBAResponse, Integer, Hash)>] ContactAssignVBAResponse data, response status code and response headers
    def update_contact_assign_with_http_info(vbasoftware_database, contact_assign_key, contact_assign, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactAssignmentsApi.update_contact_assign ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactAssignmentsApi.update_contact_assign"
      end
      # verify the required parameter 'contact_assign_key' is set
      if @api_client.config.client_side_validation && contact_assign_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign_key' when calling ContactAssignmentsApi.update_contact_assign"
      end
      # verify the required parameter 'contact_assign' is set
      if @api_client.config.client_side_validation && contact_assign.nil?
        fail ArgumentError, "Missing the required parameter 'contact_assign' when calling ContactAssignmentsApi.update_contact_assign"
      end
      # resource path
      local_var_path = '/contact-assignments/{contactAssignKey}'.sub('{' + 'contactAssignKey' + '}', CGI.escape(contact_assign_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_assign)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactAssignVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactAssignmentsApi.update_contact_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactAssignmentsApi#update_contact_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
