=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class Context4HealthCostContainmentDefaultActionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CostContainContext4DefaultAction
    # Creates a new CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_default_action [CostContainContext4DefaultAction] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4DefaultActionVBAResponse]
    def create_cost_contain_context4_default_action(vbasoftware_database, cost_contain_context4_default_action, opts = {})
      data, _status_code, _headers = create_cost_contain_context4_default_action_with_http_info(vbasoftware_database, cost_contain_context4_default_action, opts)
      data
    end

    # Create CostContainContext4DefaultAction
    # Creates a new CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_default_action [CostContainContext4DefaultAction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4DefaultActionVBAResponse, Integer, Hash)>] CostContainContext4DefaultActionVBAResponse data, response status code and response headers
    def create_cost_contain_context4_default_action_with_http_info(vbasoftware_database, cost_contain_context4_default_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.create_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.create_cost_contain_context4_default_action"
      end
      # verify the required parameter 'cost_contain_context4_default_action' is set
      if @api_client.config.client_side_validation && cost_contain_context4_default_action.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_default_action' when calling Context4HealthCostContainmentDefaultActionApi.create_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_default_action)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4DefaultActionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.create_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#create_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CostContainContext4DefaultAction
    # Deletes an CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cost_contain_context4_default_action(vbasoftware_database, default_action, opts = {})
      delete_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, opts)
      nil
    end

    # Delete CostContainContext4DefaultAction
    # Deletes an CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.delete_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.delete_cost_contain_context4_default_action"
      end
      # verify the required parameter 'default_action' is set
      if @api_client.config.client_side_validation && default_action.nil?
        fail ArgumentError, "Missing the required parameter 'default_action' when calling Context4HealthCostContainmentDefaultActionApi.delete_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions/{defaultAction}'.sub('{' + 'defaultAction' + '}', CGI.escape(default_action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.delete_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#delete_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CostContainContext4DefaultAction
    # Gets CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4DefaultActionVBAResponse]
    def get_cost_contain_context4_default_action(vbasoftware_database, default_action, opts = {})
      data, _status_code, _headers = get_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, opts)
      data
    end

    # Get CostContainContext4DefaultAction
    # Gets CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4DefaultActionVBAResponse, Integer, Hash)>] CostContainContext4DefaultActionVBAResponse data, response status code and response headers
    def get_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.get_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.get_cost_contain_context4_default_action"
      end
      # verify the required parameter 'default_action' is set
      if @api_client.config.client_side_validation && default_action.nil?
        fail ArgumentError, "Missing the required parameter 'default_action' when calling Context4HealthCostContainmentDefaultActionApi.get_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions/{defaultAction}'.sub('{' + 'defaultAction' + '}', CGI.escape(default_action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4DefaultActionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.get_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#get_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CostContainContext4DefaultAction
    # Lists all CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CostContainContext4DefaultActionListVBAResponse]
    def list_cost_contain_context4_default_action(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cost_contain_context4_default_action_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CostContainContext4DefaultAction
    # Lists all CostContainContext4DefaultAction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CostContainContext4DefaultActionListVBAResponse, Integer, Hash)>] CostContainContext4DefaultActionListVBAResponse data, response status code and response headers
    def list_cost_contain_context4_default_action_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.list_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.list_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4DefaultActionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.list_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#list_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CostContainContext4DefaultAction
    # Create or Update multiple CostContainContext4DefaultAction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_default_action [Array<CostContainContext4DefaultAction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cost_contain_context4_default_action(vbasoftware_database, cost_contain_context4_default_action, opts = {})
      data, _status_code, _headers = update_batch_cost_contain_context4_default_action_with_http_info(vbasoftware_database, cost_contain_context4_default_action, opts)
      data
    end

    # Create or Update Batch CostContainContext4DefaultAction
    # Create or Update multiple CostContainContext4DefaultAction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_context4_default_action [Array<CostContainContext4DefaultAction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cost_contain_context4_default_action_with_http_info(vbasoftware_database, cost_contain_context4_default_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.update_batch_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.update_batch_cost_contain_context4_default_action"
      end
      # verify the required parameter 'cost_contain_context4_default_action' is set
      if @api_client.config.client_side_validation && cost_contain_context4_default_action.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_default_action' when calling Context4HealthCostContainmentDefaultActionApi.update_batch_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_default_action)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.update_batch_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#update_batch_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CostContainContext4DefaultAction
    # Updates a specific CostContainContext4DefaultAction.
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param cost_contain_context4_default_action [CostContainContext4DefaultAction] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainContext4DefaultActionVBAResponse]
    def update_cost_contain_context4_default_action(vbasoftware_database, default_action, cost_contain_context4_default_action, opts = {})
      data, _status_code, _headers = update_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, cost_contain_context4_default_action, opts)
      data
    end

    # Update CostContainContext4DefaultAction
    # Updates a specific CostContainContext4DefaultAction.
    # @param vbasoftware_database [String] Target database
    # @param default_action [String] DefaultAction
    # @param cost_contain_context4_default_action [CostContainContext4DefaultAction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainContext4DefaultActionVBAResponse, Integer, Hash)>] CostContainContext4DefaultActionVBAResponse data, response status code and response headers
    def update_cost_contain_context4_default_action_with_http_info(vbasoftware_database, default_action, cost_contain_context4_default_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Context4HealthCostContainmentDefaultActionApi.update_cost_contain_context4_default_action ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling Context4HealthCostContainmentDefaultActionApi.update_cost_contain_context4_default_action"
      end
      # verify the required parameter 'default_action' is set
      if @api_client.config.client_side_validation && default_action.nil?
        fail ArgumentError, "Missing the required parameter 'default_action' when calling Context4HealthCostContainmentDefaultActionApi.update_cost_contain_context4_default_action"
      end
      # verify the required parameter 'cost_contain_context4_default_action' is set
      if @api_client.config.client_side_validation && cost_contain_context4_default_action.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_context4_default_action' when calling Context4HealthCostContainmentDefaultActionApi.update_cost_contain_context4_default_action"
      end
      # resource path
      local_var_path = '/context4health-cost-containment-default-actions/{defaultAction}'.sub('{' + 'defaultAction' + '}', CGI.escape(default_action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_context4_default_action)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainContext4DefaultActionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"Context4HealthCostContainmentDefaultActionApi.update_cost_contain_context4_default_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Context4HealthCostContainmentDefaultActionApi#update_cost_contain_context4_default_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
