=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ContactEmailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ContactEmail
    # Creates a new ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email [ContactEmail] 
    # @param [Hash] opts the optional parameters
    # @return [ContactEmailVBAResponse]
    def create_contact_email(vbasoftware_database, contact_email, opts = {})
      data, _status_code, _headers = create_contact_email_with_http_info(vbasoftware_database, contact_email, opts)
      data
    end

    # Create ContactEmail
    # Creates a new ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email [ContactEmail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactEmailVBAResponse, Integer, Hash)>] ContactEmailVBAResponse data, response status code and response headers
    def create_contact_email_with_http_info(vbasoftware_database, contact_email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.create_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.create_contact_email"
      end
      # verify the required parameter 'contact_email' is set
      if @api_client.config.client_side_validation && contact_email.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email' when calling ContactEmailsApi.create_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_email)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactEmailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.create_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#create_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ContactEmail
    # Deletes an ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_email(vbasoftware_database, contact_email_key, opts = {})
      delete_contact_email_with_http_info(vbasoftware_database, contact_email_key, opts)
      nil
    end

    # Delete ContactEmail
    # Deletes an ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_email_with_http_info(vbasoftware_database, contact_email_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.delete_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.delete_contact_email"
      end
      # verify the required parameter 'contact_email_key' is set
      if @api_client.config.client_side_validation && contact_email_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email_key' when calling ContactEmailsApi.delete_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails/{contactEmailKey}'.sub('{' + 'contactEmailKey' + '}', CGI.escape(contact_email_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.delete_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#delete_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ContactEmail
    # Gets ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param [Hash] opts the optional parameters
    # @return [ContactEmailVBAResponse]
    def get_contact_email(vbasoftware_database, contact_email_key, opts = {})
      data, _status_code, _headers = get_contact_email_with_http_info(vbasoftware_database, contact_email_key, opts)
      data
    end

    # Get ContactEmail
    # Gets ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactEmailVBAResponse, Integer, Hash)>] ContactEmailVBAResponse data, response status code and response headers
    def get_contact_email_with_http_info(vbasoftware_database, contact_email_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.get_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.get_contact_email"
      end
      # verify the required parameter 'contact_email_key' is set
      if @api_client.config.client_side_validation && contact_email_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email_key' when calling ContactEmailsApi.get_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails/{contactEmailKey}'.sub('{' + 'contactEmailKey' + '}', CGI.escape(contact_email_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactEmailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.get_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#get_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ContactEmail
    # Lists all ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ContactEmailListVBAResponse]
    def list_contact_email(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_contact_email_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ContactEmail
    # Lists all ContactEmail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ContactEmailListVBAResponse, Integer, Hash)>] ContactEmailListVBAResponse data, response status code and response headers
    def list_contact_email_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.list_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.list_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactEmailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.list_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#list_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ContactEmail
    # Create or Update multiple ContactEmail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_email [Array<ContactEmail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_contact_email(vbasoftware_database, contact_email, opts = {})
      data, _status_code, _headers = update_batch_contact_email_with_http_info(vbasoftware_database, contact_email, opts)
      data
    end

    # Create or Update Batch ContactEmail
    # Create or Update multiple ContactEmail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_email [Array<ContactEmail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_contact_email_with_http_info(vbasoftware_database, contact_email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.update_batch_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.update_batch_contact_email"
      end
      # verify the required parameter 'contact_email' is set
      if @api_client.config.client_side_validation && contact_email.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email' when calling ContactEmailsApi.update_batch_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_email)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.update_batch_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#update_batch_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ContactEmail
    # Updates a specific ContactEmail.
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param contact_email [ContactEmail] 
    # @param [Hash] opts the optional parameters
    # @return [ContactEmailVBAResponse]
    def update_contact_email(vbasoftware_database, contact_email_key, contact_email, opts = {})
      data, _status_code, _headers = update_contact_email_with_http_info(vbasoftware_database, contact_email_key, contact_email, opts)
      data
    end

    # Update ContactEmail
    # Updates a specific ContactEmail.
    # @param vbasoftware_database [String] Target database
    # @param contact_email_key [Integer] ContactEmail Key
    # @param contact_email [ContactEmail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactEmailVBAResponse, Integer, Hash)>] ContactEmailVBAResponse data, response status code and response headers
    def update_contact_email_with_http_info(vbasoftware_database, contact_email_key, contact_email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactEmailsApi.update_contact_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactEmailsApi.update_contact_email"
      end
      # verify the required parameter 'contact_email_key' is set
      if @api_client.config.client_side_validation && contact_email_key.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email_key' when calling ContactEmailsApi.update_contact_email"
      end
      # verify the required parameter 'contact_email' is set
      if @api_client.config.client_side_validation && contact_email.nil?
        fail ArgumentError, "Missing the required parameter 'contact_email' when calling ContactEmailsApi.update_contact_email"
      end
      # resource path
      local_var_path = '/contact-emails/{contactEmailKey}'.sub('{' + 'contactEmailKey' + '}', CGI.escape(contact_email_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_email)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactEmailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactEmailsApi.update_contact_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactEmailsApi#update_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
