=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ContactMappingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ContactMapping
    # Creates a new ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param contact_mapping [ContactMapping] 
    # @param [Hash] opts the optional parameters
    # @return [ContactMappingVBAResponse]
    def create_contact_mapping(vbasoftware_database, contact_mapping, opts = {})
      data, _status_code, _headers = create_contact_mapping_with_http_info(vbasoftware_database, contact_mapping, opts)
      data
    end

    # Create ContactMapping
    # Creates a new ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param contact_mapping [ContactMapping] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactMappingVBAResponse, Integer, Hash)>] ContactMappingVBAResponse data, response status code and response headers
    def create_contact_mapping_with_http_info(vbasoftware_database, contact_mapping, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactMappingsApi.create_contact_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactMappingsApi.create_contact_mapping"
      end
      # verify the required parameter 'contact_mapping' is set
      if @api_client.config.client_side_validation && contact_mapping.nil?
        fail ArgumentError, "Missing the required parameter 'contact_mapping' when calling ContactMappingsApi.create_contact_mapping"
      end
      # resource path
      local_var_path = '/contact-mappings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_mapping)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactMappingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactMappingsApi.create_contact_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactMappingsApi#create_contact_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ContactMapping
    # Deletes an ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param parent_contact_key [Integer] Parent Contact Key
    # @param child_contact_key [Integer] Child Contact Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_mapping(vbasoftware_database, parent_contact_key, child_contact_key, opts = {})
      delete_contact_mapping_with_http_info(vbasoftware_database, parent_contact_key, child_contact_key, opts)
      nil
    end

    # Delete ContactMapping
    # Deletes an ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param parent_contact_key [Integer] Parent Contact Key
    # @param child_contact_key [Integer] Child Contact Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_mapping_with_http_info(vbasoftware_database, parent_contact_key, child_contact_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactMappingsApi.delete_contact_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactMappingsApi.delete_contact_mapping"
      end
      # verify the required parameter 'parent_contact_key' is set
      if @api_client.config.client_side_validation && parent_contact_key.nil?
        fail ArgumentError, "Missing the required parameter 'parent_contact_key' when calling ContactMappingsApi.delete_contact_mapping"
      end
      # verify the required parameter 'child_contact_key' is set
      if @api_client.config.client_side_validation && child_contact_key.nil?
        fail ArgumentError, "Missing the required parameter 'child_contact_key' when calling ContactMappingsApi.delete_contact_mapping"
      end
      # resource path
      local_var_path = '/contact-mappings/{parentContactKey}/{childContactKey}'.sub('{' + 'parentContactKey' + '}', CGI.escape(parent_contact_key.to_s)).sub('{' + 'childContactKey' + '}', CGI.escape(child_contact_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactMappingsApi.delete_contact_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactMappingsApi#delete_contact_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ContactMapping
    # Gets ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param parent_contact_key [Integer] Parent Contact Key
    # @param child_contact_key [Integer] Child Contact Key
    # @param [Hash] opts the optional parameters
    # @return [ContactMappingVBAResponse]
    def get_contact_mapping(vbasoftware_database, parent_contact_key, child_contact_key, opts = {})
      data, _status_code, _headers = get_contact_mapping_with_http_info(vbasoftware_database, parent_contact_key, child_contact_key, opts)
      data
    end

    # Get ContactMapping
    # Gets ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param parent_contact_key [Integer] Parent Contact Key
    # @param child_contact_key [Integer] Child Contact Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactMappingVBAResponse, Integer, Hash)>] ContactMappingVBAResponse data, response status code and response headers
    def get_contact_mapping_with_http_info(vbasoftware_database, parent_contact_key, child_contact_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactMappingsApi.get_contact_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactMappingsApi.get_contact_mapping"
      end
      # verify the required parameter 'parent_contact_key' is set
      if @api_client.config.client_side_validation && parent_contact_key.nil?
        fail ArgumentError, "Missing the required parameter 'parent_contact_key' when calling ContactMappingsApi.get_contact_mapping"
      end
      # verify the required parameter 'child_contact_key' is set
      if @api_client.config.client_side_validation && child_contact_key.nil?
        fail ArgumentError, "Missing the required parameter 'child_contact_key' when calling ContactMappingsApi.get_contact_mapping"
      end
      # resource path
      local_var_path = '/contact-mappings/{parentContactKey}/{childContactKey}'.sub('{' + 'parentContactKey' + '}', CGI.escape(parent_contact_key.to_s)).sub('{' + 'childContactKey' + '}', CGI.escape(child_contact_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactMappingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactMappingsApi.get_contact_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactMappingsApi#get_contact_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ContactMapping
    # Lists all ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ContactMappingListVBAResponse]
    def list_contact_mapping(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_contact_mapping_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ContactMapping
    # Lists all ContactMapping
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ContactMappingListVBAResponse, Integer, Hash)>] ContactMappingListVBAResponse data, response status code and response headers
    def list_contact_mapping_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactMappingsApi.list_contact_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactMappingsApi.list_contact_mapping"
      end
      # resource path
      local_var_path = '/contact-mappings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactMappingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactMappingsApi.list_contact_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactMappingsApi#list_contact_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ContactMapping
    # Create or Update multiple ContactMapping at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_mapping [Array<ContactMapping>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_contact_mapping(vbasoftware_database, contact_mapping, opts = {})
      data, _status_code, _headers = update_batch_contact_mapping_with_http_info(vbasoftware_database, contact_mapping, opts)
      data
    end

    # Create or Update Batch ContactMapping
    # Create or Update multiple ContactMapping at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contact_mapping [Array<ContactMapping>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_contact_mapping_with_http_info(vbasoftware_database, contact_mapping, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactMappingsApi.update_batch_contact_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ContactMappingsApi.update_batch_contact_mapping"
      end
      # verify the required parameter 'contact_mapping' is set
      if @api_client.config.client_side_validation && contact_mapping.nil?
        fail ArgumentError, "Missing the required parameter 'contact_mapping' when calling ContactMappingsApi.update_batch_contact_mapping"
      end
      # resource path
      local_var_path = '/contact-mappings-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(contact_mapping)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactMappingsApi.update_batch_contact_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactMappingsApi#update_batch_contact_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
