=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CostContainZelisExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CostContainZelisExCode
    # Creates a new CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_ex_code [CostContainZelisExCode] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisExCodeVBAResponse]
    def create_cost_contain_zelis_ex_code(vbasoftware_database, cost_contain_zelis_ex_code, opts = {})
      data, _status_code, _headers = create_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, cost_contain_zelis_ex_code, opts)
      data
    end

    # Create CostContainZelisExCode
    # Creates a new CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_ex_code [CostContainZelisExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisExCodeVBAResponse, Integer, Hash)>] CostContainZelisExCodeVBAResponse data, response status code and response headers
    def create_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, cost_contain_zelis_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.create_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.create_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'cost_contain_zelis_ex_code' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_ex_code' when calling CostContainZelisExCodesApi.create_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.create_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#create_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CostContainZelisExCode
    # Deletes an CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cost_contain_zelis_ex_code(vbasoftware_database, ex_code, opts = {})
      delete_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, opts)
      nil
    end

    # Delete CostContainZelisExCode
    # Deletes an CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.delete_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.delete_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling CostContainZelisExCodesApi.delete_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes/{exCode}'.sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.delete_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#delete_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CostContainZelisExCode
    # Gets CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisExCodeVBAResponse]
    def get_cost_contain_zelis_ex_code(vbasoftware_database, ex_code, opts = {})
      data, _status_code, _headers = get_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, opts)
      data
    end

    # Get CostContainZelisExCode
    # Gets CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisExCodeVBAResponse, Integer, Hash)>] CostContainZelisExCodeVBAResponse data, response status code and response headers
    def get_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.get_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.get_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling CostContainZelisExCodesApi.get_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes/{exCode}'.sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.get_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#get_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CostContainZelisExCode
    # Lists all CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CostContainZelisExCodeListVBAResponse]
    def list_cost_contain_zelis_ex_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CostContainZelisExCode
    # Lists all CostContainZelisExCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CostContainZelisExCodeListVBAResponse, Integer, Hash)>] CostContainZelisExCodeListVBAResponse data, response status code and response headers
    def list_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.list_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.list_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisExCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.list_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#list_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CostContainZelisExCode
    # Create or Update multiple CostContainZelisExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_ex_code [Array<CostContainZelisExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cost_contain_zelis_ex_code(vbasoftware_database, cost_contain_zelis_ex_code, opts = {})
      data, _status_code, _headers = update_batch_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, cost_contain_zelis_ex_code, opts)
      data
    end

    # Create or Update Batch CostContainZelisExCode
    # Create or Update multiple CostContainZelisExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_ex_code [Array<CostContainZelisExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, cost_contain_zelis_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.update_batch_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.update_batch_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'cost_contain_zelis_ex_code' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_ex_code' when calling CostContainZelisExCodesApi.update_batch_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.update_batch_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#update_batch_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CostContainZelisExCode
    # Updates a specific CostContainZelisExCode.
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param cost_contain_zelis_ex_code [CostContainZelisExCode] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisExCodeVBAResponse]
    def update_cost_contain_zelis_ex_code(vbasoftware_database, ex_code, cost_contain_zelis_ex_code, opts = {})
      data, _status_code, _headers = update_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, cost_contain_zelis_ex_code, opts)
      data
    end

    # Update CostContainZelisExCode
    # Updates a specific CostContainZelisExCode.
    # @param vbasoftware_database [String] Target database
    # @param ex_code [String] Ex Code
    # @param cost_contain_zelis_ex_code [CostContainZelisExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisExCodeVBAResponse, Integer, Hash)>] CostContainZelisExCodeVBAResponse data, response status code and response headers
    def update_cost_contain_zelis_ex_code_with_http_info(vbasoftware_database, ex_code, cost_contain_zelis_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostContainZelisExCodesApi.update_cost_contain_zelis_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CostContainZelisExCodesApi.update_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'ex_code' is set
      if @api_client.config.client_side_validation && ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'ex_code' when calling CostContainZelisExCodesApi.update_cost_contain_zelis_ex_code"
      end
      # verify the required parameter 'cost_contain_zelis_ex_code' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_ex_code' when calling CostContainZelisExCodesApi.update_cost_contain_zelis_ex_code"
      end
      # resource path
      local_var_path = '/cost-contain-zelis-ex-codes/{exCode}'.sub('{' + 'exCode' + '}', CGI.escape(ex_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CostContainZelisExCodesApi.update_cost_contain_zelis_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostContainZelisExCodesApi#update_cost_contain_zelis_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
