=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CountryDialingCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CountryDialingCode
    # Creates a new CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_dialing_code [CountryDialingCode] 
    # @param [Hash] opts the optional parameters
    # @return [CountryDialingCodeVBAResponse]
    def create_country_dialing_code(vbasoftware_database, country_dialing_code, opts = {})
      data, _status_code, _headers = create_country_dialing_code_with_http_info(vbasoftware_database, country_dialing_code, opts)
      data
    end

    # Create CountryDialingCode
    # Creates a new CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_dialing_code [CountryDialingCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountryDialingCodeVBAResponse, Integer, Hash)>] CountryDialingCodeVBAResponse data, response status code and response headers
    def create_country_dialing_code_with_http_info(vbasoftware_database, country_dialing_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.create_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.create_country_dialing_code"
      end
      # verify the required parameter 'country_dialing_code' is set
      if @api_client.config.client_side_validation && country_dialing_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_dialing_code' when calling CountryDialingCodesApi.create_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(country_dialing_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDialingCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.create_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#create_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CountryDialingCode
    # Deletes an CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_country_dialing_code(vbasoftware_database, country_id, country_code, opts = {})
      delete_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, opts)
      nil
    end

    # Delete CountryDialingCode
    # Deletes an CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.delete_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.delete_country_dialing_code"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountryDialingCodesApi.delete_country_dialing_code"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling CountryDialingCodesApi.delete_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes/{countryID}/{countryCode}'.sub('{' + 'countryID' + '}', CGI.escape(country_id.to_s)).sub('{' + 'countryCode' + '}', CGI.escape(country_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.delete_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#delete_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CountryDialingCode
    # Gets CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param [Hash] opts the optional parameters
    # @return [CountryDialingCodeVBAResponse]
    def get_country_dialing_code(vbasoftware_database, country_id, country_code, opts = {})
      data, _status_code, _headers = get_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, opts)
      data
    end

    # Get CountryDialingCode
    # Gets CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountryDialingCodeVBAResponse, Integer, Hash)>] CountryDialingCodeVBAResponse data, response status code and response headers
    def get_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.get_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.get_country_dialing_code"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountryDialingCodesApi.get_country_dialing_code"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling CountryDialingCodesApi.get_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes/{countryID}/{countryCode}'.sub('{' + 'countryID' + '}', CGI.escape(country_id.to_s)).sub('{' + 'countryCode' + '}', CGI.escape(country_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDialingCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.get_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#get_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CountryDialingCode
    # Lists all CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CountryDialingCodeListVBAResponse]
    def list_country_dialing_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_country_dialing_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CountryDialingCode
    # Lists all CountryDialingCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CountryDialingCodeListVBAResponse, Integer, Hash)>] CountryDialingCodeListVBAResponse data, response status code and response headers
    def list_country_dialing_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.list_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.list_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDialingCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.list_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#list_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CountryDialingCode
    # Create or Update multiple CountryDialingCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param country_dialing_code [Array<CountryDialingCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_country_dialing_code(vbasoftware_database, country_dialing_code, opts = {})
      data, _status_code, _headers = update_batch_country_dialing_code_with_http_info(vbasoftware_database, country_dialing_code, opts)
      data
    end

    # Create or Update Batch CountryDialingCode
    # Create or Update multiple CountryDialingCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param country_dialing_code [Array<CountryDialingCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_country_dialing_code_with_http_info(vbasoftware_database, country_dialing_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.update_batch_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.update_batch_country_dialing_code"
      end
      # verify the required parameter 'country_dialing_code' is set
      if @api_client.config.client_side_validation && country_dialing_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_dialing_code' when calling CountryDialingCodesApi.update_batch_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(country_dialing_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.update_batch_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#update_batch_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CountryDialingCode
    # Updates a specific CountryDialingCode.
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param country_dialing_code [CountryDialingCode] 
    # @param [Hash] opts the optional parameters
    # @return [CountryDialingCodeVBAResponse]
    def update_country_dialing_code(vbasoftware_database, country_id, country_code, country_dialing_code, opts = {})
      data, _status_code, _headers = update_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, country_dialing_code, opts)
      data
    end

    # Update CountryDialingCode
    # Updates a specific CountryDialingCode.
    # @param vbasoftware_database [String] Target database
    # @param country_id [String] Country ID
    # @param country_code [String] Country Code
    # @param country_dialing_code [CountryDialingCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountryDialingCodeVBAResponse, Integer, Hash)>] CountryDialingCodeVBAResponse data, response status code and response headers
    def update_country_dialing_code_with_http_info(vbasoftware_database, country_id, country_code, country_dialing_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountryDialingCodesApi.update_country_dialing_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountryDialingCodesApi.update_country_dialing_code"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountryDialingCodesApi.update_country_dialing_code"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling CountryDialingCodesApi.update_country_dialing_code"
      end
      # verify the required parameter 'country_dialing_code' is set
      if @api_client.config.client_side_validation && country_dialing_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_dialing_code' when calling CountryDialingCodesApi.update_country_dialing_code"
      end
      # resource path
      local_var_path = '/country-dialing-codes/{countryID}/{countryCode}'.sub('{' + 'countryID' + '}', CGI.escape(country_id.to_s)).sub('{' + 'countryCode' + '}', CGI.escape(country_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(country_dialing_code)

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDialingCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountryDialingCodesApi.update_country_dialing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountryDialingCodesApi#update_country_dialing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
