=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CountyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create County
    # Creates a new County
    # @param vbasoftware_database [String] Target database
    # @param county [County] 
    # @param [Hash] opts the optional parameters
    # @return [CountyVBAResponse]
    def create_county(vbasoftware_database, county, opts = {})
      data, _status_code, _headers = create_county_with_http_info(vbasoftware_database, county, opts)
      data
    end

    # Create County
    # Creates a new County
    # @param vbasoftware_database [String] Target database
    # @param county [County] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountyVBAResponse, Integer, Hash)>] CountyVBAResponse data, response status code and response headers
    def create_county_with_http_info(vbasoftware_database, county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.create_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.create_county"
      end
      # verify the required parameter 'county' is set
      if @api_client.config.client_side_validation && county.nil?
        fail ArgumentError, "Missing the required parameter 'county' when calling CountyApi.create_county"
      end
      # resource path
      local_var_path = '/counties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(county)

      # return_type
      return_type = opts[:debug_return_type] || 'CountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.create_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#create_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete County
    # Deletes an County
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_county(vbasoftware_database, county_code, opts = {})
      delete_county_with_http_info(vbasoftware_database, county_code, opts)
      nil
    end

    # Delete County
    # Deletes an County
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_county_with_http_info(vbasoftware_database, county_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.delete_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.delete_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling CountyApi.delete_county"
      end
      # resource path
      local_var_path = '/counties/{countyCode}'.sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.delete_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#delete_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get County
    # Gets County
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [CountyVBAResponse]
    def get_county(vbasoftware_database, county_code, opts = {})
      data, _status_code, _headers = get_county_with_http_info(vbasoftware_database, county_code, opts)
      data
    end

    # Get County
    # Gets County
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountyVBAResponse, Integer, Hash)>] CountyVBAResponse data, response status code and response headers
    def get_county_with_http_info(vbasoftware_database, county_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.get_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.get_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling CountyApi.get_county"
      end
      # resource path
      local_var_path = '/counties/{countyCode}'.sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.get_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#get_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Counties
    # List all available counties
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CountyListVBAResponse]
    def list_counties(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_counties_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Counties
    # List all available counties
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CountyListVBAResponse, Integer, Hash)>] CountyListVBAResponse data, response status code and response headers
    def list_counties_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.list_counties ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.list_counties"
      end
      # resource path
      local_var_path = '/counties'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.list_counties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#list_counties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch County
    # Create or Update multiple County at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param county [Array<County>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_county(vbasoftware_database, county, opts = {})
      data, _status_code, _headers = update_batch_county_with_http_info(vbasoftware_database, county, opts)
      data
    end

    # Create or Update Batch County
    # Create or Update multiple County at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param county [Array<County>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_county_with_http_info(vbasoftware_database, county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.update_batch_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.update_batch_county"
      end
      # verify the required parameter 'county' is set
      if @api_client.config.client_side_validation && county.nil?
        fail ArgumentError, "Missing the required parameter 'county' when calling CountyApi.update_batch_county"
      end
      # resource path
      local_var_path = '/counties-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(county)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.update_batch_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#update_batch_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update County
    # Updates a specific County.
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param county [County] 
    # @param [Hash] opts the optional parameters
    # @return [CountyVBAResponse]
    def update_county(vbasoftware_database, county_code, county, opts = {})
      data, _status_code, _headers = update_county_with_http_info(vbasoftware_database, county_code, county, opts)
      data
    end

    # Update County
    # Updates a specific County.
    # @param vbasoftware_database [String] Target database
    # @param county_code [String] County Code
    # @param county [County] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountyVBAResponse, Integer, Hash)>] CountyVBAResponse data, response status code and response headers
    def update_county_with_http_info(vbasoftware_database, county_code, county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountyApi.update_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CountyApi.update_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling CountyApi.update_county"
      end
      # verify the required parameter 'county' is set
      if @api_client.config.client_side_validation && county.nil?
        fail ArgumentError, "Missing the required parameter 'county' when calling CountyApi.update_county"
      end
      # resource path
      local_var_path = '/counties/{countyCode}'.sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(county)

      # return_type
      return_type = opts[:debug_return_type] || 'CountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CountyApi.update_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountyApi#update_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
