=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingQualityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredQuality
    # Creates a new CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality [CredQuality] 
    # @param [Hash] opts the optional parameters
    # @return [CredQualityVBAResponse]
    def create_cred_quality(vbasoftware_database, cred_quality, opts = {})
      data, _status_code, _headers = create_cred_quality_with_http_info(vbasoftware_database, cred_quality, opts)
      data
    end

    # Create CredQuality
    # Creates a new CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality [CredQuality] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredQualityVBAResponse, Integer, Hash)>] CredQualityVBAResponse data, response status code and response headers
    def create_cred_quality_with_http_info(vbasoftware_database, cred_quality, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.create_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.create_cred_quality"
      end
      # verify the required parameter 'cred_quality' is set
      if @api_client.config.client_side_validation && cred_quality.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality' when calling CredentialingQualityApi.create_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_quality)

      # return_type
      return_type = opts[:debug_return_type] || 'CredQualityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.create_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#create_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredQuality
    # Deletes an CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_quality(vbasoftware_database, cred_quality_key, opts = {})
      delete_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, opts)
      nil
    end

    # Delete CredQuality
    # Deletes an CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.delete_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.delete_cred_quality"
      end
      # verify the required parameter 'cred_quality_key' is set
      if @api_client.config.client_side_validation && cred_quality_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality_key' when calling CredentialingQualityApi.delete_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities/{credQualityKey}'.sub('{' + 'credQualityKey' + '}', CGI.escape(cred_quality_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.delete_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#delete_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredQuality
    # Gets CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param [Hash] opts the optional parameters
    # @return [CredQualityVBAResponse]
    def get_cred_quality(vbasoftware_database, cred_quality_key, opts = {})
      data, _status_code, _headers = get_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, opts)
      data
    end

    # Get CredQuality
    # Gets CredQuality
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredQualityVBAResponse, Integer, Hash)>] CredQualityVBAResponse data, response status code and response headers
    def get_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.get_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.get_cred_quality"
      end
      # verify the required parameter 'cred_quality_key' is set
      if @api_client.config.client_side_validation && cred_quality_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality_key' when calling CredentialingQualityApi.get_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities/{credQualityKey}'.sub('{' + 'credQualityKey' + '}', CGI.escape(cred_quality_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredQualityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.get_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#get_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredQuality
    # Lists all CredQuality
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredQualityListVBAResponse]
    def list_cred_quality(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_quality_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredQuality
    # Lists all CredQuality
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredQualityListVBAResponse, Integer, Hash)>] CredQualityListVBAResponse data, response status code and response headers
    def list_cred_quality_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.list_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.list_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredQualityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.list_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#list_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredQuality
    # Create or Update multiple CredQuality at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_quality [Array<CredQuality>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_quality(vbasoftware_database, cred_quality, opts = {})
      data, _status_code, _headers = update_batch_cred_quality_with_http_info(vbasoftware_database, cred_quality, opts)
      data
    end

    # Create or Update Batch CredQuality
    # Create or Update multiple CredQuality at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_quality [Array<CredQuality>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_quality_with_http_info(vbasoftware_database, cred_quality, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.update_batch_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.update_batch_cred_quality"
      end
      # verify the required parameter 'cred_quality' is set
      if @api_client.config.client_side_validation && cred_quality.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality' when calling CredentialingQualityApi.update_batch_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_quality)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.update_batch_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#update_batch_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredQuality
    # Updates a specific CredQuality.
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param cred_quality [CredQuality] 
    # @param [Hash] opts the optional parameters
    # @return [CredQualityVBAResponse]
    def update_cred_quality(vbasoftware_database, cred_quality_key, cred_quality, opts = {})
      data, _status_code, _headers = update_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, cred_quality, opts)
      data
    end

    # Update CredQuality
    # Updates a specific CredQuality.
    # @param vbasoftware_database [String] Target database
    # @param cred_quality_key [Integer] CredQuality Key
    # @param cred_quality [CredQuality] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredQualityVBAResponse, Integer, Hash)>] CredQualityVBAResponse data, response status code and response headers
    def update_cred_quality_with_http_info(vbasoftware_database, cred_quality_key, cred_quality, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingQualityApi.update_cred_quality ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingQualityApi.update_cred_quality"
      end
      # verify the required parameter 'cred_quality_key' is set
      if @api_client.config.client_side_validation && cred_quality_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality_key' when calling CredentialingQualityApi.update_cred_quality"
      end
      # verify the required parameter 'cred_quality' is set
      if @api_client.config.client_side_validation && cred_quality.nil?
        fail ArgumentError, "Missing the required parameter 'cred_quality' when calling CredentialingQualityApi.update_cred_quality"
      end
      # resource path
      local_var_path = '/credentialing-qualities/{credQualityKey}'.sub('{' + 'credQualityKey' + '}', CGI.escape(cred_quality_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_quality)

      # return_type
      return_type = opts[:debug_return_type] || 'CredQualityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingQualityApi.update_cred_quality",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingQualityApi#update_cred_quality\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
