=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingDatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredDate
    # Creates a new CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date [CredDate] 
    # @param [Hash] opts the optional parameters
    # @return [CredDateVBAResponse]
    def create_cred_date(vbasoftware_database, cred_date, opts = {})
      data, _status_code, _headers = create_cred_date_with_http_info(vbasoftware_database, cred_date, opts)
      data
    end

    # Create CredDate
    # Creates a new CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date [CredDate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredDateVBAResponse, Integer, Hash)>] CredDateVBAResponse data, response status code and response headers
    def create_cred_date_with_http_info(vbasoftware_database, cred_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.create_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.create_cred_date"
      end
      # verify the required parameter 'cred_date' is set
      if @api_client.config.client_side_validation && cred_date.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date' when calling CredentialingDatesApi.create_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_date)

      # return_type
      return_type = opts[:debug_return_type] || 'CredDateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.create_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#create_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredDate
    # Deletes an CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_date(vbasoftware_database, cred_date_key, opts = {})
      delete_cred_date_with_http_info(vbasoftware_database, cred_date_key, opts)
      nil
    end

    # Delete CredDate
    # Deletes an CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_date_with_http_info(vbasoftware_database, cred_date_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.delete_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.delete_cred_date"
      end
      # verify the required parameter 'cred_date_key' is set
      if @api_client.config.client_side_validation && cred_date_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date_key' when calling CredentialingDatesApi.delete_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates/{credDateKey}'.sub('{' + 'credDateKey' + '}', CGI.escape(cred_date_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.delete_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#delete_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredDate
    # Gets CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param [Hash] opts the optional parameters
    # @return [CredDateVBAResponse]
    def get_cred_date(vbasoftware_database, cred_date_key, opts = {})
      data, _status_code, _headers = get_cred_date_with_http_info(vbasoftware_database, cred_date_key, opts)
      data
    end

    # Get CredDate
    # Gets CredDate
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredDateVBAResponse, Integer, Hash)>] CredDateVBAResponse data, response status code and response headers
    def get_cred_date_with_http_info(vbasoftware_database, cred_date_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.get_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.get_cred_date"
      end
      # verify the required parameter 'cred_date_key' is set
      if @api_client.config.client_side_validation && cred_date_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date_key' when calling CredentialingDatesApi.get_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates/{credDateKey}'.sub('{' + 'credDateKey' + '}', CGI.escape(cred_date_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredDateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.get_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#get_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredDate
    # Lists all CredDate
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredDateListVBAResponse]
    def list_cred_date(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_date_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredDate
    # Lists all CredDate
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredDateListVBAResponse, Integer, Hash)>] CredDateListVBAResponse data, response status code and response headers
    def list_cred_date_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.list_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.list_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredDateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.list_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#list_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredDate
    # Create or Update multiple CredDate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_date [Array<CredDate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_date(vbasoftware_database, cred_date, opts = {})
      data, _status_code, _headers = update_batch_cred_date_with_http_info(vbasoftware_database, cred_date, opts)
      data
    end

    # Create or Update Batch CredDate
    # Create or Update multiple CredDate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_date [Array<CredDate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_date_with_http_info(vbasoftware_database, cred_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.update_batch_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.update_batch_cred_date"
      end
      # verify the required parameter 'cred_date' is set
      if @api_client.config.client_side_validation && cred_date.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date' when calling CredentialingDatesApi.update_batch_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_date)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.update_batch_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#update_batch_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredDate
    # Updates a specific CredDate.
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param cred_date [CredDate] 
    # @param [Hash] opts the optional parameters
    # @return [CredDateVBAResponse]
    def update_cred_date(vbasoftware_database, cred_date_key, cred_date, opts = {})
      data, _status_code, _headers = update_cred_date_with_http_info(vbasoftware_database, cred_date_key, cred_date, opts)
      data
    end

    # Update CredDate
    # Updates a specific CredDate.
    # @param vbasoftware_database [String] Target database
    # @param cred_date_key [Integer] CredDate Key
    # @param cred_date [CredDate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredDateVBAResponse, Integer, Hash)>] CredDateVBAResponse data, response status code and response headers
    def update_cred_date_with_http_info(vbasoftware_database, cred_date_key, cred_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingDatesApi.update_cred_date ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingDatesApi.update_cred_date"
      end
      # verify the required parameter 'cred_date_key' is set
      if @api_client.config.client_side_validation && cred_date_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date_key' when calling CredentialingDatesApi.update_cred_date"
      end
      # verify the required parameter 'cred_date' is set
      if @api_client.config.client_side_validation && cred_date.nil?
        fail ArgumentError, "Missing the required parameter 'cred_date' when calling CredentialingDatesApi.update_cred_date"
      end
      # resource path
      local_var_path = '/credentialing-dates/{credDateKey}'.sub('{' + 'credDateKey' + '}', CGI.escape(cred_date_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_date)

      # return_type
      return_type = opts[:debug_return_type] || 'CredDateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingDatesApi.update_cred_date",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingDatesApi#update_cred_date\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
