=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingAttestationMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredAttestationMethod
    # Creates a new CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method [CredAttestationMethod] 
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationMethodVBAResponse]
    def create_cred_attestation_method(vbasoftware_database, cred_attestation_method, opts = {})
      data, _status_code, _headers = create_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method, opts)
      data
    end

    # Create CredAttestationMethod
    # Creates a new CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method [CredAttestationMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationMethodVBAResponse, Integer, Hash)>] CredAttestationMethodVBAResponse data, response status code and response headers
    def create_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.create_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.create_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method' is set
      if @api_client.config.client_side_validation && cred_attestation_method.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method' when calling CredentialingAttestationMethodsApi.create_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_method)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.create_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#create_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredAttestationMethod
    # Deletes an CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_attestation_method(vbasoftware_database, cred_attestation_method_key, opts = {})
      delete_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, opts)
      nil
    end

    # Delete CredAttestationMethod
    # Deletes an CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.delete_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.delete_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method_key' is set
      if @api_client.config.client_side_validation && cred_attestation_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method_key' when calling CredentialingAttestationMethodsApi.delete_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods/{credAttestationMethodKey}'.sub('{' + 'credAttestationMethodKey' + '}', CGI.escape(cred_attestation_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.delete_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#delete_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredAttestationMethod
    # Gets CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationMethodVBAResponse]
    def get_cred_attestation_method(vbasoftware_database, cred_attestation_method_key, opts = {})
      data, _status_code, _headers = get_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, opts)
      data
    end

    # Get CredAttestationMethod
    # Gets CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationMethodVBAResponse, Integer, Hash)>] CredAttestationMethodVBAResponse data, response status code and response headers
    def get_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.get_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.get_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method_key' is set
      if @api_client.config.client_side_validation && cred_attestation_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method_key' when calling CredentialingAttestationMethodsApi.get_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods/{credAttestationMethodKey}'.sub('{' + 'credAttestationMethodKey' + '}', CGI.escape(cred_attestation_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.get_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#get_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredAttestationMethod
    # Lists all CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredAttestationMethodListVBAResponse]
    def list_cred_attestation_method(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_attestation_method_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredAttestationMethod
    # Lists all CredAttestationMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredAttestationMethodListVBAResponse, Integer, Hash)>] CredAttestationMethodListVBAResponse data, response status code and response headers
    def list_cred_attestation_method_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.list_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.list_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationMethodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.list_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#list_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredAttestationMethod
    # Create or Update multiple CredAttestationMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method [Array<CredAttestationMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_attestation_method(vbasoftware_database, cred_attestation_method, opts = {})
      data, _status_code, _headers = update_batch_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method, opts)
      data
    end

    # Create or Update Batch CredAttestationMethod
    # Create or Update multiple CredAttestationMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method [Array<CredAttestationMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.update_batch_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.update_batch_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method' is set
      if @api_client.config.client_side_validation && cred_attestation_method.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method' when calling CredentialingAttestationMethodsApi.update_batch_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_method)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.update_batch_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#update_batch_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredAttestationMethod
    # Updates a specific CredAttestationMethod.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param cred_attestation_method [CredAttestationMethod] 
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationMethodVBAResponse]
    def update_cred_attestation_method(vbasoftware_database, cred_attestation_method_key, cred_attestation_method, opts = {})
      data, _status_code, _headers = update_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, cred_attestation_method, opts)
      data
    end

    # Update CredAttestationMethod
    # Updates a specific CredAttestationMethod.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_method_key [Integer] CredAttestationMethod Key
    # @param cred_attestation_method [CredAttestationMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationMethodVBAResponse, Integer, Hash)>] CredAttestationMethodVBAResponse data, response status code and response headers
    def update_cred_attestation_method_with_http_info(vbasoftware_database, cred_attestation_method_key, cred_attestation_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationMethodsApi.update_cred_attestation_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationMethodsApi.update_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method_key' is set
      if @api_client.config.client_side_validation && cred_attestation_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method_key' when calling CredentialingAttestationMethodsApi.update_cred_attestation_method"
      end
      # verify the required parameter 'cred_attestation_method' is set
      if @api_client.config.client_side_validation && cred_attestation_method.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_method' when calling CredentialingAttestationMethodsApi.update_cred_attestation_method"
      end
      # resource path
      local_var_path = '/credentialing-attestation-methods/{credAttestationMethodKey}'.sub('{' + 'credAttestationMethodKey' + '}', CGI.escape(cred_attestation_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_method)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationMethodsApi.update_cred_attestation_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationMethodsApi#update_cred_attestation_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
