=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingTerminationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredTermination
    # Creates a new CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination [CredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [CredTerminationVBAResponse]
    def create_cred_termination(vbasoftware_database, cred_termination, opts = {})
      data, _status_code, _headers = create_cred_termination_with_http_info(vbasoftware_database, cred_termination, opts)
      data
    end

    # Create CredTermination
    # Creates a new CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination [CredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTerminationVBAResponse, Integer, Hash)>] CredTerminationVBAResponse data, response status code and response headers
    def create_cred_termination_with_http_info(vbasoftware_database, cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.create_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.create_cred_termination"
      end
      # verify the required parameter 'cred_termination' is set
      if @api_client.config.client_side_validation && cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination' when calling CredentialingTerminationsApi.create_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'CredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.create_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#create_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredTermination
    # Deletes an CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_termination(vbasoftware_database, cred_termination_key, opts = {})
      delete_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, opts)
      nil
    end

    # Delete CredTermination
    # Deletes an CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.delete_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.delete_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling CredentialingTerminationsApi.delete_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations/{credTerminationKey}'.sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.delete_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#delete_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredTermination
    # Gets CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [CredTerminationVBAResponse]
    def get_cred_termination(vbasoftware_database, cred_termination_key, opts = {})
      data, _status_code, _headers = get_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, opts)
      data
    end

    # Get CredTermination
    # Gets CredTermination
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTerminationVBAResponse, Integer, Hash)>] CredTerminationVBAResponse data, response status code and response headers
    def get_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.get_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.get_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling CredentialingTerminationsApi.get_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations/{credTerminationKey}'.sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.get_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#get_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredTermination
    # Lists all CredTermination
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredTerminationListVBAResponse]
    def list_cred_termination(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_termination_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredTermination
    # Lists all CredTermination
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredTerminationListVBAResponse, Integer, Hash)>] CredTerminationListVBAResponse data, response status code and response headers
    def list_cred_termination_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.list_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.list_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredTerminationListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.list_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#list_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredTermination
    # Create or Update multiple CredTermination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_termination [Array<CredTermination>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_termination(vbasoftware_database, cred_termination, opts = {})
      data, _status_code, _headers = update_batch_cred_termination_with_http_info(vbasoftware_database, cred_termination, opts)
      data
    end

    # Create or Update Batch CredTermination
    # Create or Update multiple CredTermination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_termination [Array<CredTermination>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_termination_with_http_info(vbasoftware_database, cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.update_batch_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.update_batch_cred_termination"
      end
      # verify the required parameter 'cred_termination' is set
      if @api_client.config.client_side_validation && cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination' when calling CredentialingTerminationsApi.update_batch_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.update_batch_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#update_batch_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredTermination
    # Updates a specific CredTermination.
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param cred_termination [CredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [CredTerminationVBAResponse]
    def update_cred_termination(vbasoftware_database, cred_termination_key, cred_termination, opts = {})
      data, _status_code, _headers = update_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, cred_termination, opts)
      data
    end

    # Update CredTermination
    # Updates a specific CredTermination.
    # @param vbasoftware_database [String] Target database
    # @param cred_termination_key [Integer] CredTermination Key
    # @param cred_termination [CredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTerminationVBAResponse, Integer, Hash)>] CredTerminationVBAResponse data, response status code and response headers
    def update_cred_termination_with_http_info(vbasoftware_database, cred_termination_key, cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTerminationsApi.update_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTerminationsApi.update_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling CredentialingTerminationsApi.update_cred_termination"
      end
      # verify the required parameter 'cred_termination' is set
      if @api_client.config.client_side_validation && cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination' when calling CredentialingTerminationsApi.update_cred_termination"
      end
      # resource path
      local_var_path = '/credentialing-terminations/{credTerminationKey}'.sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'CredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTerminationsApi.update_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTerminationsApi#update_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
