=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingConfidentialsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredConfidential
    # Creates a new CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential [CredConfidential] 
    # @param [Hash] opts the optional parameters
    # @return [CredConfidentialVBAResponse]
    def create_cred_confidential(vbasoftware_database, cred_confidential, opts = {})
      data, _status_code, _headers = create_cred_confidential_with_http_info(vbasoftware_database, cred_confidential, opts)
      data
    end

    # Create CredConfidential
    # Creates a new CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential [CredConfidential] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredConfidentialVBAResponse, Integer, Hash)>] CredConfidentialVBAResponse data, response status code and response headers
    def create_cred_confidential_with_http_info(vbasoftware_database, cred_confidential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.create_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.create_cred_confidential"
      end
      # verify the required parameter 'cred_confidential' is set
      if @api_client.config.client_side_validation && cred_confidential.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential' when calling CredentialingConfidentialsApi.create_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_confidential)

      # return_type
      return_type = opts[:debug_return_type] || 'CredConfidentialVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.create_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#create_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredConfidential
    # Deletes an CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_confidential(vbasoftware_database, cred_confidential_key, opts = {})
      delete_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, opts)
      nil
    end

    # Delete CredConfidential
    # Deletes an CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.delete_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.delete_cred_confidential"
      end
      # verify the required parameter 'cred_confidential_key' is set
      if @api_client.config.client_side_validation && cred_confidential_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential_key' when calling CredentialingConfidentialsApi.delete_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials/{credConfidentialKey}'.sub('{' + 'credConfidentialKey' + '}', CGI.escape(cred_confidential_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.delete_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#delete_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredConfidential
    # Gets CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param [Hash] opts the optional parameters
    # @return [CredConfidentialVBAResponse]
    def get_cred_confidential(vbasoftware_database, cred_confidential_key, opts = {})
      data, _status_code, _headers = get_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, opts)
      data
    end

    # Get CredConfidential
    # Gets CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredConfidentialVBAResponse, Integer, Hash)>] CredConfidentialVBAResponse data, response status code and response headers
    def get_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.get_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.get_cred_confidential"
      end
      # verify the required parameter 'cred_confidential_key' is set
      if @api_client.config.client_side_validation && cred_confidential_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential_key' when calling CredentialingConfidentialsApi.get_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials/{credConfidentialKey}'.sub('{' + 'credConfidentialKey' + '}', CGI.escape(cred_confidential_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredConfidentialVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.get_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#get_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredConfidential
    # Lists all CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredConfidentialListVBAResponse]
    def list_cred_confidential(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_confidential_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredConfidential
    # Lists all CredConfidential
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredConfidentialListVBAResponse, Integer, Hash)>] CredConfidentialListVBAResponse data, response status code and response headers
    def list_cred_confidential_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.list_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.list_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredConfidentialListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.list_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#list_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredConfidential
    # Create or Update multiple CredConfidential at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential [Array<CredConfidential>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_confidential(vbasoftware_database, cred_confidential, opts = {})
      data, _status_code, _headers = update_batch_cred_confidential_with_http_info(vbasoftware_database, cred_confidential, opts)
      data
    end

    # Create or Update Batch CredConfidential
    # Create or Update multiple CredConfidential at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential [Array<CredConfidential>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_confidential_with_http_info(vbasoftware_database, cred_confidential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.update_batch_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.update_batch_cred_confidential"
      end
      # verify the required parameter 'cred_confidential' is set
      if @api_client.config.client_side_validation && cred_confidential.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential' when calling CredentialingConfidentialsApi.update_batch_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_confidential)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.update_batch_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#update_batch_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredConfidential
    # Updates a specific CredConfidential.
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param cred_confidential [CredConfidential] 
    # @param [Hash] opts the optional parameters
    # @return [CredConfidentialVBAResponse]
    def update_cred_confidential(vbasoftware_database, cred_confidential_key, cred_confidential, opts = {})
      data, _status_code, _headers = update_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, cred_confidential, opts)
      data
    end

    # Update CredConfidential
    # Updates a specific CredConfidential.
    # @param vbasoftware_database [String] Target database
    # @param cred_confidential_key [Integer] CredConfidential Key
    # @param cred_confidential [CredConfidential] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredConfidentialVBAResponse, Integer, Hash)>] CredConfidentialVBAResponse data, response status code and response headers
    def update_cred_confidential_with_http_info(vbasoftware_database, cred_confidential_key, cred_confidential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingConfidentialsApi.update_cred_confidential ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingConfidentialsApi.update_cred_confidential"
      end
      # verify the required parameter 'cred_confidential_key' is set
      if @api_client.config.client_side_validation && cred_confidential_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential_key' when calling CredentialingConfidentialsApi.update_cred_confidential"
      end
      # verify the required parameter 'cred_confidential' is set
      if @api_client.config.client_side_validation && cred_confidential.nil?
        fail ArgumentError, "Missing the required parameter 'cred_confidential' when calling CredentialingConfidentialsApi.update_cred_confidential"
      end
      # resource path
      local_var_path = '/credentialing-confidentials/{credConfidentialKey}'.sub('{' + 'credConfidentialKey' + '}', CGI.escape(cred_confidential_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_confidential)

      # return_type
      return_type = opts[:debug_return_type] || 'CredConfidentialVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingConfidentialsApi.update_cred_confidential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingConfidentialsApi#update_cred_confidential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
