=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingPracticeCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredPracticeCategory
    # Creates a new CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category [CredPracticeCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CredPracticeCategoryVBAResponse]
    def create_cred_practice_category(vbasoftware_database, cred_practice_category, opts = {})
      data, _status_code, _headers = create_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category, opts)
      data
    end

    # Create CredPracticeCategory
    # Creates a new CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category [CredPracticeCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredPracticeCategoryVBAResponse, Integer, Hash)>] CredPracticeCategoryVBAResponse data, response status code and response headers
    def create_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.create_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.create_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category' is set
      if @api_client.config.client_side_validation && cred_practice_category.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category' when calling CredentialingPracticeCategoriesApi.create_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_practice_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CredPracticeCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.create_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#create_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredPracticeCategory
    # Deletes an CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_practice_category(vbasoftware_database, cred_practice_category_key, opts = {})
      delete_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, opts)
      nil
    end

    # Delete CredPracticeCategory
    # Deletes an CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.delete_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.delete_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category_key' is set
      if @api_client.config.client_side_validation && cred_practice_category_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category_key' when calling CredentialingPracticeCategoriesApi.delete_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories/{credPracticeCategoryKey}'.sub('{' + 'credPracticeCategoryKey' + '}', CGI.escape(cred_practice_category_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.delete_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#delete_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredPracticeCategory
    # Gets CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param [Hash] opts the optional parameters
    # @return [CredPracticeCategoryVBAResponse]
    def get_cred_practice_category(vbasoftware_database, cred_practice_category_key, opts = {})
      data, _status_code, _headers = get_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, opts)
      data
    end

    # Get CredPracticeCategory
    # Gets CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredPracticeCategoryVBAResponse, Integer, Hash)>] CredPracticeCategoryVBAResponse data, response status code and response headers
    def get_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.get_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.get_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category_key' is set
      if @api_client.config.client_side_validation && cred_practice_category_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category_key' when calling CredentialingPracticeCategoriesApi.get_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories/{credPracticeCategoryKey}'.sub('{' + 'credPracticeCategoryKey' + '}', CGI.escape(cred_practice_category_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredPracticeCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.get_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#get_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredPracticeCategory
    # Lists all CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredPracticeCategoryListVBAResponse]
    def list_cred_practice_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_practice_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredPracticeCategory
    # Lists all CredPracticeCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredPracticeCategoryListVBAResponse, Integer, Hash)>] CredPracticeCategoryListVBAResponse data, response status code and response headers
    def list_cred_practice_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.list_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.list_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredPracticeCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.list_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#list_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredPracticeCategory
    # Create or Update multiple CredPracticeCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category [Array<CredPracticeCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_practice_category(vbasoftware_database, cred_practice_category, opts = {})
      data, _status_code, _headers = update_batch_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category, opts)
      data
    end

    # Create or Update Batch CredPracticeCategory
    # Create or Update multiple CredPracticeCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category [Array<CredPracticeCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.update_batch_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.update_batch_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category' is set
      if @api_client.config.client_side_validation && cred_practice_category.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category' when calling CredentialingPracticeCategoriesApi.update_batch_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_practice_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.update_batch_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#update_batch_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredPracticeCategory
    # Updates a specific CredPracticeCategory.
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param cred_practice_category [CredPracticeCategory] 
    # @param [Hash] opts the optional parameters
    # @return [CredPracticeCategoryVBAResponse]
    def update_cred_practice_category(vbasoftware_database, cred_practice_category_key, cred_practice_category, opts = {})
      data, _status_code, _headers = update_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, cred_practice_category, opts)
      data
    end

    # Update CredPracticeCategory
    # Updates a specific CredPracticeCategory.
    # @param vbasoftware_database [String] Target database
    # @param cred_practice_category_key [Integer] CredPracticeCategory Key
    # @param cred_practice_category [CredPracticeCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredPracticeCategoryVBAResponse, Integer, Hash)>] CredPracticeCategoryVBAResponse data, response status code and response headers
    def update_cred_practice_category_with_http_info(vbasoftware_database, cred_practice_category_key, cred_practice_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingPracticeCategoriesApi.update_cred_practice_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingPracticeCategoriesApi.update_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category_key' is set
      if @api_client.config.client_side_validation && cred_practice_category_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category_key' when calling CredentialingPracticeCategoriesApi.update_cred_practice_category"
      end
      # verify the required parameter 'cred_practice_category' is set
      if @api_client.config.client_side_validation && cred_practice_category.nil?
        fail ArgumentError, "Missing the required parameter 'cred_practice_category' when calling CredentialingPracticeCategoriesApi.update_cred_practice_category"
      end
      # resource path
      local_var_path = '/credentialing-practice-categories/{credPracticeCategoryKey}'.sub('{' + 'credPracticeCategoryKey' + '}', CGI.escape(cred_practice_category_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_practice_category)

      # return_type
      return_type = opts[:debug_return_type] || 'CredPracticeCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingPracticeCategoriesApi.update_cred_practice_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingPracticeCategoriesApi#update_cred_practice_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
