=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingAmountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredAmount
    # Creates a new CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount [CredAmount] 
    # @param [Hash] opts the optional parameters
    # @return [CredAmountVBAResponse]
    def create_cred_amount(vbasoftware_database, cred_amount, opts = {})
      data, _status_code, _headers = create_cred_amount_with_http_info(vbasoftware_database, cred_amount, opts)
      data
    end

    # Create CredAmount
    # Creates a new CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount [CredAmount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAmountVBAResponse, Integer, Hash)>] CredAmountVBAResponse data, response status code and response headers
    def create_cred_amount_with_http_info(vbasoftware_database, cred_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.create_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.create_cred_amount"
      end
      # verify the required parameter 'cred_amount' is set
      if @api_client.config.client_side_validation && cred_amount.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount' when calling CredentialingAmountsApi.create_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.create_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#create_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredAmount
    # Deletes an CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_amount(vbasoftware_database, cred_amount_key, opts = {})
      delete_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, opts)
      nil
    end

    # Delete CredAmount
    # Deletes an CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.delete_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.delete_cred_amount"
      end
      # verify the required parameter 'cred_amount_key' is set
      if @api_client.config.client_side_validation && cred_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount_key' when calling CredentialingAmountsApi.delete_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts/{credAmountKey}'.sub('{' + 'credAmountKey' + '}', CGI.escape(cred_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.delete_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#delete_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredAmount
    # Gets CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param [Hash] opts the optional parameters
    # @return [CredAmountVBAResponse]
    def get_cred_amount(vbasoftware_database, cred_amount_key, opts = {})
      data, _status_code, _headers = get_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, opts)
      data
    end

    # Get CredAmount
    # Gets CredAmount
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAmountVBAResponse, Integer, Hash)>] CredAmountVBAResponse data, response status code and response headers
    def get_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.get_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.get_cred_amount"
      end
      # verify the required parameter 'cred_amount_key' is set
      if @api_client.config.client_side_validation && cred_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount_key' when calling CredentialingAmountsApi.get_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts/{credAmountKey}'.sub('{' + 'credAmountKey' + '}', CGI.escape(cred_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.get_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#get_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredAmount
    # Lists all CredAmount
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredAmountListVBAResponse]
    def list_cred_amount(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_amount_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredAmount
    # Lists all CredAmount
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredAmountListVBAResponse, Integer, Hash)>] CredAmountListVBAResponse data, response status code and response headers
    def list_cred_amount_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.list_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.list_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAmountListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.list_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#list_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredAmount
    # Create or Update multiple CredAmount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_amount [Array<CredAmount>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_amount(vbasoftware_database, cred_amount, opts = {})
      data, _status_code, _headers = update_batch_cred_amount_with_http_info(vbasoftware_database, cred_amount, opts)
      data
    end

    # Create or Update Batch CredAmount
    # Create or Update multiple CredAmount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_amount [Array<CredAmount>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_amount_with_http_info(vbasoftware_database, cred_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.update_batch_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.update_batch_cred_amount"
      end
      # verify the required parameter 'cred_amount' is set
      if @api_client.config.client_side_validation && cred_amount.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount' when calling CredentialingAmountsApi.update_batch_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.update_batch_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#update_batch_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredAmount
    # Updates a specific CredAmount.
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param cred_amount [CredAmount] 
    # @param [Hash] opts the optional parameters
    # @return [CredAmountVBAResponse]
    def update_cred_amount(vbasoftware_database, cred_amount_key, cred_amount, opts = {})
      data, _status_code, _headers = update_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, cred_amount, opts)
      data
    end

    # Update CredAmount
    # Updates a specific CredAmount.
    # @param vbasoftware_database [String] Target database
    # @param cred_amount_key [Integer] CredAmount Key
    # @param cred_amount [CredAmount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAmountVBAResponse, Integer, Hash)>] CredAmountVBAResponse data, response status code and response headers
    def update_cred_amount_with_http_info(vbasoftware_database, cred_amount_key, cred_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAmountsApi.update_cred_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAmountsApi.update_cred_amount"
      end
      # verify the required parameter 'cred_amount_key' is set
      if @api_client.config.client_side_validation && cred_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount_key' when calling CredentialingAmountsApi.update_cred_amount"
      end
      # verify the required parameter 'cred_amount' is set
      if @api_client.config.client_side_validation && cred_amount.nil?
        fail ArgumentError, "Missing the required parameter 'cred_amount' when calling CredentialingAmountsApi.update_cred_amount"
      end
      # resource path
      local_var_path = '/credentialing-amounts/{credAmountKey}'.sub('{' + 'credAmountKey' + '}', CGI.escape(cred_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAmountsApi.update_cred_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAmountsApi#update_cred_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
