=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingAttestationSourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredAttestationSource
    # Creates a new CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source [CredAttestationSource] 
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationSourceVBAResponse]
    def create_cred_attestation_source(vbasoftware_database, cred_attestation_source, opts = {})
      data, _status_code, _headers = create_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source, opts)
      data
    end

    # Create CredAttestationSource
    # Creates a new CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source [CredAttestationSource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationSourceVBAResponse, Integer, Hash)>] CredAttestationSourceVBAResponse data, response status code and response headers
    def create_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.create_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.create_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source' is set
      if @api_client.config.client_side_validation && cred_attestation_source.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source' when calling CredentialingAttestationSourcesApi.create_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_source)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.create_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#create_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredAttestationSource
    # Deletes an CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_attestation_source(vbasoftware_database, cred_attestation_source_key, opts = {})
      delete_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, opts)
      nil
    end

    # Delete CredAttestationSource
    # Deletes an CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.delete_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.delete_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source_key' is set
      if @api_client.config.client_side_validation && cred_attestation_source_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source_key' when calling CredentialingAttestationSourcesApi.delete_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources/{credAttestationSourceKey}'.sub('{' + 'credAttestationSourceKey' + '}', CGI.escape(cred_attestation_source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.delete_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#delete_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredAttestationSource
    # Gets CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationSourceVBAResponse]
    def get_cred_attestation_source(vbasoftware_database, cred_attestation_source_key, opts = {})
      data, _status_code, _headers = get_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, opts)
      data
    end

    # Get CredAttestationSource
    # Gets CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationSourceVBAResponse, Integer, Hash)>] CredAttestationSourceVBAResponse data, response status code and response headers
    def get_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.get_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.get_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source_key' is set
      if @api_client.config.client_side_validation && cred_attestation_source_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source_key' when calling CredentialingAttestationSourcesApi.get_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources/{credAttestationSourceKey}'.sub('{' + 'credAttestationSourceKey' + '}', CGI.escape(cred_attestation_source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.get_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#get_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredAttestationSource
    # Lists all CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredAttestationSourceListVBAResponse]
    def list_cred_attestation_source(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_attestation_source_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredAttestationSource
    # Lists all CredAttestationSource
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredAttestationSourceListVBAResponse, Integer, Hash)>] CredAttestationSourceListVBAResponse data, response status code and response headers
    def list_cred_attestation_source_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.list_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.list_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationSourceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.list_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#list_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredAttestationSource
    # Create or Update multiple CredAttestationSource at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source [Array<CredAttestationSource>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_attestation_source(vbasoftware_database, cred_attestation_source, opts = {})
      data, _status_code, _headers = update_batch_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source, opts)
      data
    end

    # Create or Update Batch CredAttestationSource
    # Create or Update multiple CredAttestationSource at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source [Array<CredAttestationSource>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.update_batch_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.update_batch_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source' is set
      if @api_client.config.client_side_validation && cred_attestation_source.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source' when calling CredentialingAttestationSourcesApi.update_batch_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_source)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.update_batch_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#update_batch_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredAttestationSource
    # Updates a specific CredAttestationSource.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param cred_attestation_source [CredAttestationSource] 
    # @param [Hash] opts the optional parameters
    # @return [CredAttestationSourceVBAResponse]
    def update_cred_attestation_source(vbasoftware_database, cred_attestation_source_key, cred_attestation_source, opts = {})
      data, _status_code, _headers = update_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, cred_attestation_source, opts)
      data
    end

    # Update CredAttestationSource
    # Updates a specific CredAttestationSource.
    # @param vbasoftware_database [String] Target database
    # @param cred_attestation_source_key [Integer] CredAttestationSource Key
    # @param cred_attestation_source [CredAttestationSource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredAttestationSourceVBAResponse, Integer, Hash)>] CredAttestationSourceVBAResponse data, response status code and response headers
    def update_cred_attestation_source_with_http_info(vbasoftware_database, cred_attestation_source_key, cred_attestation_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingAttestationSourcesApi.update_cred_attestation_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingAttestationSourcesApi.update_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source_key' is set
      if @api_client.config.client_side_validation && cred_attestation_source_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source_key' when calling CredentialingAttestationSourcesApi.update_cred_attestation_source"
      end
      # verify the required parameter 'cred_attestation_source' is set
      if @api_client.config.client_side_validation && cred_attestation_source.nil?
        fail ArgumentError, "Missing the required parameter 'cred_attestation_source' when calling CredentialingAttestationSourcesApi.update_cred_attestation_source"
      end
      # resource path
      local_var_path = '/credentialing-attestation-sources/{credAttestationSourceKey}'.sub('{' + 'credAttestationSourceKey' + '}', CGI.escape(cred_attestation_source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_attestation_source)

      # return_type
      return_type = opts[:debug_return_type] || 'CredAttestationSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingAttestationSourcesApi.update_cred_attestation_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingAttestationSourcesApi#update_cred_attestation_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
