=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredType
    # Creates a new CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type [CredType] 
    # @param [Hash] opts the optional parameters
    # @return [CredTypeVBAResponse]
    def create_cred_type(vbasoftware_database, cred_type, opts = {})
      data, _status_code, _headers = create_cred_type_with_http_info(vbasoftware_database, cred_type, opts)
      data
    end

    # Create CredType
    # Creates a new CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type [CredType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTypeVBAResponse, Integer, Hash)>] CredTypeVBAResponse data, response status code and response headers
    def create_cred_type_with_http_info(vbasoftware_database, cred_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.create_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.create_cred_type"
      end
      # verify the required parameter 'cred_type' is set
      if @api_client.config.client_side_validation && cred_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type' when calling CredentialingTypesApi.create_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CredTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.create_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#create_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredType
    # Deletes an CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_type(vbasoftware_database, cred_type_key, opts = {})
      delete_cred_type_with_http_info(vbasoftware_database, cred_type_key, opts)
      nil
    end

    # Delete CredType
    # Deletes an CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_type_with_http_info(vbasoftware_database, cred_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.delete_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.delete_cred_type"
      end
      # verify the required parameter 'cred_type_key' is set
      if @api_client.config.client_side_validation && cred_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type_key' when calling CredentialingTypesApi.delete_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types/{credTypeKey}'.sub('{' + 'credTypeKey' + '}', CGI.escape(cred_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.delete_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#delete_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredType
    # Gets CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param [Hash] opts the optional parameters
    # @return [CredTypeVBAResponse]
    def get_cred_type(vbasoftware_database, cred_type_key, opts = {})
      data, _status_code, _headers = get_cred_type_with_http_info(vbasoftware_database, cred_type_key, opts)
      data
    end

    # Get CredType
    # Gets CredType
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTypeVBAResponse, Integer, Hash)>] CredTypeVBAResponse data, response status code and response headers
    def get_cred_type_with_http_info(vbasoftware_database, cred_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.get_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.get_cred_type"
      end
      # verify the required parameter 'cred_type_key' is set
      if @api_client.config.client_side_validation && cred_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type_key' when calling CredentialingTypesApi.get_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types/{credTypeKey}'.sub('{' + 'credTypeKey' + '}', CGI.escape(cred_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.get_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#get_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredType
    # Lists all CredType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredTypeListVBAResponse]
    def list_cred_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredType
    # Lists all CredType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredTypeListVBAResponse, Integer, Hash)>] CredTypeListVBAResponse data, response status code and response headers
    def list_cred_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.list_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.list_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.list_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#list_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredType
    # Create or Update multiple CredType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_type [Array<CredType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_type(vbasoftware_database, cred_type, opts = {})
      data, _status_code, _headers = update_batch_cred_type_with_http_info(vbasoftware_database, cred_type, opts)
      data
    end

    # Create or Update Batch CredType
    # Create or Update multiple CredType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_type [Array<CredType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_type_with_http_info(vbasoftware_database, cred_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.update_batch_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.update_batch_cred_type"
      end
      # verify the required parameter 'cred_type' is set
      if @api_client.config.client_side_validation && cred_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type' when calling CredentialingTypesApi.update_batch_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.update_batch_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#update_batch_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredType
    # Updates a specific CredType.
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param cred_type [CredType] 
    # @param [Hash] opts the optional parameters
    # @return [CredTypeVBAResponse]
    def update_cred_type(vbasoftware_database, cred_type_key, cred_type, opts = {})
      data, _status_code, _headers = update_cred_type_with_http_info(vbasoftware_database, cred_type_key, cred_type, opts)
      data
    end

    # Update CredType
    # Updates a specific CredType.
    # @param vbasoftware_database [String] Target database
    # @param cred_type_key [Integer] CredType Key
    # @param cred_type [CredType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredTypeVBAResponse, Integer, Hash)>] CredTypeVBAResponse data, response status code and response headers
    def update_cred_type_with_http_info(vbasoftware_database, cred_type_key, cred_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingTypesApi.update_cred_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingTypesApi.update_cred_type"
      end
      # verify the required parameter 'cred_type_key' is set
      if @api_client.config.client_side_validation && cred_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type_key' when calling CredentialingTypesApi.update_cred_type"
      end
      # verify the required parameter 'cred_type' is set
      if @api_client.config.client_side_validation && cred_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_type' when calling CredentialingTypesApi.update_cred_type"
      end
      # resource path
      local_var_path = '/credentialing-types/{credTypeKey}'.sub('{' + 'credTypeKey' + '}', CGI.escape(cred_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CredTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingTypesApi.update_cred_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingTypesApi#update_cred_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
