=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingLicenseTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredLicenseType
    # Creates a new CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type [CredLicenseType] 
    # @param [Hash] opts the optional parameters
    # @return [CredLicenseTypeVBAResponse]
    def create_cred_license_type(vbasoftware_database, cred_license_type, opts = {})
      data, _status_code, _headers = create_cred_license_type_with_http_info(vbasoftware_database, cred_license_type, opts)
      data
    end

    # Create CredLicenseType
    # Creates a new CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type [CredLicenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredLicenseTypeVBAResponse, Integer, Hash)>] CredLicenseTypeVBAResponse data, response status code and response headers
    def create_cred_license_type_with_http_info(vbasoftware_database, cred_license_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.create_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.create_cred_license_type"
      end
      # verify the required parameter 'cred_license_type' is set
      if @api_client.config.client_side_validation && cred_license_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type' when calling CredentialingLicenseTypesApi.create_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_license_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CredLicenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.create_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#create_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredLicenseType
    # Deletes an CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_license_type(vbasoftware_database, cred_license_type_key, opts = {})
      delete_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, opts)
      nil
    end

    # Delete CredLicenseType
    # Deletes an CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.delete_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.delete_cred_license_type"
      end
      # verify the required parameter 'cred_license_type_key' is set
      if @api_client.config.client_side_validation && cred_license_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type_key' when calling CredentialingLicenseTypesApi.delete_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types/{credLicenseTypeKey}'.sub('{' + 'credLicenseTypeKey' + '}', CGI.escape(cred_license_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.delete_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#delete_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredLicenseType
    # Gets CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param [Hash] opts the optional parameters
    # @return [CredLicenseTypeVBAResponse]
    def get_cred_license_type(vbasoftware_database, cred_license_type_key, opts = {})
      data, _status_code, _headers = get_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, opts)
      data
    end

    # Get CredLicenseType
    # Gets CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredLicenseTypeVBAResponse, Integer, Hash)>] CredLicenseTypeVBAResponse data, response status code and response headers
    def get_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.get_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.get_cred_license_type"
      end
      # verify the required parameter 'cred_license_type_key' is set
      if @api_client.config.client_side_validation && cred_license_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type_key' when calling CredentialingLicenseTypesApi.get_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types/{credLicenseTypeKey}'.sub('{' + 'credLicenseTypeKey' + '}', CGI.escape(cred_license_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredLicenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.get_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#get_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredLicenseType
    # Lists all CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredLicenseTypeListVBAResponse]
    def list_cred_license_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_license_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredLicenseType
    # Lists all CredLicenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredLicenseTypeListVBAResponse, Integer, Hash)>] CredLicenseTypeListVBAResponse data, response status code and response headers
    def list_cred_license_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.list_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.list_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredLicenseTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.list_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#list_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredLicenseType
    # Create or Update multiple CredLicenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type [Array<CredLicenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_license_type(vbasoftware_database, cred_license_type, opts = {})
      data, _status_code, _headers = update_batch_cred_license_type_with_http_info(vbasoftware_database, cred_license_type, opts)
      data
    end

    # Create or Update Batch CredLicenseType
    # Create or Update multiple CredLicenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type [Array<CredLicenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_license_type_with_http_info(vbasoftware_database, cred_license_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.update_batch_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.update_batch_cred_license_type"
      end
      # verify the required parameter 'cred_license_type' is set
      if @api_client.config.client_side_validation && cred_license_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type' when calling CredentialingLicenseTypesApi.update_batch_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_license_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.update_batch_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#update_batch_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredLicenseType
    # Updates a specific CredLicenseType.
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param cred_license_type [CredLicenseType] 
    # @param [Hash] opts the optional parameters
    # @return [CredLicenseTypeVBAResponse]
    def update_cred_license_type(vbasoftware_database, cred_license_type_key, cred_license_type, opts = {})
      data, _status_code, _headers = update_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, cred_license_type, opts)
      data
    end

    # Update CredLicenseType
    # Updates a specific CredLicenseType.
    # @param vbasoftware_database [String] Target database
    # @param cred_license_type_key [Integer] CredLicenseType Key
    # @param cred_license_type [CredLicenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredLicenseTypeVBAResponse, Integer, Hash)>] CredLicenseTypeVBAResponse data, response status code and response headers
    def update_cred_license_type_with_http_info(vbasoftware_database, cred_license_type_key, cred_license_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingLicenseTypesApi.update_cred_license_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingLicenseTypesApi.update_cred_license_type"
      end
      # verify the required parameter 'cred_license_type_key' is set
      if @api_client.config.client_side_validation && cred_license_type_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type_key' when calling CredentialingLicenseTypesApi.update_cred_license_type"
      end
      # verify the required parameter 'cred_license_type' is set
      if @api_client.config.client_side_validation && cred_license_type.nil?
        fail ArgumentError, "Missing the required parameter 'cred_license_type' when calling CredentialingLicenseTypesApi.update_cred_license_type"
      end
      # resource path
      local_var_path = '/credentialing-license-types/{credLicenseTypeKey}'.sub('{' + 'credLicenseTypeKey' + '}', CGI.escape(cred_license_type_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_license_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CredLicenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingLicenseTypesApi.update_cred_license_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingLicenseTypesApi#update_cred_license_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
