=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingOptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredOption
    # Creates a new CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option [CredOption] 
    # @param [Hash] opts the optional parameters
    # @return [CredOptionVBAResponse]
    def create_cred_option(vbasoftware_database, cred_option, opts = {})
      data, _status_code, _headers = create_cred_option_with_http_info(vbasoftware_database, cred_option, opts)
      data
    end

    # Create CredOption
    # Creates a new CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option [CredOption] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredOptionVBAResponse, Integer, Hash)>] CredOptionVBAResponse data, response status code and response headers
    def create_cred_option_with_http_info(vbasoftware_database, cred_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.create_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.create_cred_option"
      end
      # verify the required parameter 'cred_option' is set
      if @api_client.config.client_side_validation && cred_option.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option' when calling CredentialingOptionsApi.create_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_option)

      # return_type
      return_type = opts[:debug_return_type] || 'CredOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.create_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#create_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredOption
    # Deletes an CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_option(vbasoftware_database, cred_option_key, opts = {})
      delete_cred_option_with_http_info(vbasoftware_database, cred_option_key, opts)
      nil
    end

    # Delete CredOption
    # Deletes an CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_option_with_http_info(vbasoftware_database, cred_option_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.delete_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.delete_cred_option"
      end
      # verify the required parameter 'cred_option_key' is set
      if @api_client.config.client_side_validation && cred_option_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option_key' when calling CredentialingOptionsApi.delete_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options/{credOptionKey}'.sub('{' + 'credOptionKey' + '}', CGI.escape(cred_option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.delete_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#delete_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredOption
    # Gets CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param [Hash] opts the optional parameters
    # @return [CredOptionVBAResponse]
    def get_cred_option(vbasoftware_database, cred_option_key, opts = {})
      data, _status_code, _headers = get_cred_option_with_http_info(vbasoftware_database, cred_option_key, opts)
      data
    end

    # Get CredOption
    # Gets CredOption
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredOptionVBAResponse, Integer, Hash)>] CredOptionVBAResponse data, response status code and response headers
    def get_cred_option_with_http_info(vbasoftware_database, cred_option_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.get_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.get_cred_option"
      end
      # verify the required parameter 'cred_option_key' is set
      if @api_client.config.client_side_validation && cred_option_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option_key' when calling CredentialingOptionsApi.get_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options/{credOptionKey}'.sub('{' + 'credOptionKey' + '}', CGI.escape(cred_option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.get_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#get_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredOption
    # Lists all CredOption
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredOptionListVBAResponse]
    def list_cred_option(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_option_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredOption
    # Lists all CredOption
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredOptionListVBAResponse, Integer, Hash)>] CredOptionListVBAResponse data, response status code and response headers
    def list_cred_option_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.list_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.list_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.list_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#list_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredOption
    # Create or Update multiple CredOption at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_option [Array<CredOption>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_option(vbasoftware_database, cred_option, opts = {})
      data, _status_code, _headers = update_batch_cred_option_with_http_info(vbasoftware_database, cred_option, opts)
      data
    end

    # Create or Update Batch CredOption
    # Create or Update multiple CredOption at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_option [Array<CredOption>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_option_with_http_info(vbasoftware_database, cred_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.update_batch_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.update_batch_cred_option"
      end
      # verify the required parameter 'cred_option' is set
      if @api_client.config.client_side_validation && cred_option.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option' when calling CredentialingOptionsApi.update_batch_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_option)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.update_batch_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#update_batch_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredOption
    # Updates a specific CredOption.
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param cred_option [CredOption] 
    # @param [Hash] opts the optional parameters
    # @return [CredOptionVBAResponse]
    def update_cred_option(vbasoftware_database, cred_option_key, cred_option, opts = {})
      data, _status_code, _headers = update_cred_option_with_http_info(vbasoftware_database, cred_option_key, cred_option, opts)
      data
    end

    # Update CredOption
    # Updates a specific CredOption.
    # @param vbasoftware_database [String] Target database
    # @param cred_option_key [Integer] CredOption Key
    # @param cred_option [CredOption] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredOptionVBAResponse, Integer, Hash)>] CredOptionVBAResponse data, response status code and response headers
    def update_cred_option_with_http_info(vbasoftware_database, cred_option_key, cred_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingOptionsApi.update_cred_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingOptionsApi.update_cred_option"
      end
      # verify the required parameter 'cred_option_key' is set
      if @api_client.config.client_side_validation && cred_option_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option_key' when calling CredentialingOptionsApi.update_cred_option"
      end
      # verify the required parameter 'cred_option' is set
      if @api_client.config.client_side_validation && cred_option.nil?
        fail ArgumentError, "Missing the required parameter 'cred_option' when calling CredentialingOptionsApi.update_cred_option"
      end
      # resource path
      local_var_path = '/credentialing-options/{credOptionKey}'.sub('{' + 'credOptionKey' + '}', CGI.escape(cred_option_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_option)

      # return_type
      return_type = opts[:debug_return_type] || 'CredOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingOptionsApi.update_cred_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingOptionsApi#update_cred_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
