=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CredentialingCarriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CredCarrier
    # Creates a new CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier [CredCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [CredCarrierVBAResponse]
    def create_cred_carrier(vbasoftware_database, cred_carrier, opts = {})
      data, _status_code, _headers = create_cred_carrier_with_http_info(vbasoftware_database, cred_carrier, opts)
      data
    end

    # Create CredCarrier
    # Creates a new CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier [CredCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredCarrierVBAResponse, Integer, Hash)>] CredCarrierVBAResponse data, response status code and response headers
    def create_cred_carrier_with_http_info(vbasoftware_database, cred_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.create_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.create_cred_carrier"
      end
      # verify the required parameter 'cred_carrier' is set
      if @api_client.config.client_side_validation && cred_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier' when calling CredentialingCarriersApi.create_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'CredCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.create_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#create_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CredCarrier
    # Deletes an CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cred_carrier(vbasoftware_database, cred_carrier_key, opts = {})
      delete_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, opts)
      nil
    end

    # Delete CredCarrier
    # Deletes an CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.delete_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.delete_cred_carrier"
      end
      # verify the required parameter 'cred_carrier_key' is set
      if @api_client.config.client_side_validation && cred_carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier_key' when calling CredentialingCarriersApi.delete_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers/{credCarrierKey}'.sub('{' + 'credCarrierKey' + '}', CGI.escape(cred_carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.delete_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#delete_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CredCarrier
    # Gets CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param [Hash] opts the optional parameters
    # @return [CredCarrierVBAResponse]
    def get_cred_carrier(vbasoftware_database, cred_carrier_key, opts = {})
      data, _status_code, _headers = get_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, opts)
      data
    end

    # Get CredCarrier
    # Gets CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredCarrierVBAResponse, Integer, Hash)>] CredCarrierVBAResponse data, response status code and response headers
    def get_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.get_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.get_cred_carrier"
      end
      # verify the required parameter 'cred_carrier_key' is set
      if @api_client.config.client_side_validation && cred_carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier_key' when calling CredentialingCarriersApi.get_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers/{credCarrierKey}'.sub('{' + 'credCarrierKey' + '}', CGI.escape(cred_carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.get_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#get_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CredCarrier
    # Lists all CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CredCarrierListVBAResponse]
    def list_cred_carrier(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cred_carrier_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CredCarrier
    # Lists all CredCarrier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CredCarrierListVBAResponse, Integer, Hash)>] CredCarrierListVBAResponse data, response status code and response headers
    def list_cred_carrier_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.list_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.list_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredCarrierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.list_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#list_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CredCarrier
    # Create or Update multiple CredCarrier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier [Array<CredCarrier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cred_carrier(vbasoftware_database, cred_carrier, opts = {})
      data, _status_code, _headers = update_batch_cred_carrier_with_http_info(vbasoftware_database, cred_carrier, opts)
      data
    end

    # Create or Update Batch CredCarrier
    # Create or Update multiple CredCarrier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier [Array<CredCarrier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cred_carrier_with_http_info(vbasoftware_database, cred_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.update_batch_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.update_batch_cred_carrier"
      end
      # verify the required parameter 'cred_carrier' is set
      if @api_client.config.client_side_validation && cred_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier' when calling CredentialingCarriersApi.update_batch_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.update_batch_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#update_batch_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CredCarrier
    # Updates a specific CredCarrier.
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param cred_carrier [CredCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [CredCarrierVBAResponse]
    def update_cred_carrier(vbasoftware_database, cred_carrier_key, cred_carrier, opts = {})
      data, _status_code, _headers = update_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, cred_carrier, opts)
      data
    end

    # Update CredCarrier
    # Updates a specific CredCarrier.
    # @param vbasoftware_database [String] Target database
    # @param cred_carrier_key [Integer] CredCarrier Key
    # @param cred_carrier [CredCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredCarrierVBAResponse, Integer, Hash)>] CredCarrierVBAResponse data, response status code and response headers
    def update_cred_carrier_with_http_info(vbasoftware_database, cred_carrier_key, cred_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CredentialingCarriersApi.update_cred_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CredentialingCarriersApi.update_cred_carrier"
      end
      # verify the required parameter 'cred_carrier_key' is set
      if @api_client.config.client_side_validation && cred_carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier_key' when calling CredentialingCarriersApi.update_cred_carrier"
      end
      # verify the required parameter 'cred_carrier' is set
      if @api_client.config.client_side_validation && cred_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'cred_carrier' when calling CredentialingCarriersApi.update_cred_carrier"
      end
      # resource path
      local_var_path = '/credentialing-carriers/{credCarrierKey}'.sub('{' + 'credCarrierKey' + '}', CGI.escape(cred_carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cred_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'CredCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CredentialingCarriersApi.update_cred_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CredentialingCarriersApi#update_cred_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
