=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CriteriaColumnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Criteria Column
    # Gets a single Criteria Column by ID
    # @param vbasoftware_database [String] Target database
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Int32StaticOptionVBAResponse]
    def get_criteria_column(vbasoftware_database, id, opts = {})
      data, _status_code, _headers = get_criteria_column_with_http_info(vbasoftware_database, id, opts)
      data
    end

    # Get Criteria Column
    # Gets a single Criteria Column by ID
    # @param vbasoftware_database [String] Target database
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32StaticOptionVBAResponse, Integer, Hash)>] Int32StaticOptionVBAResponse data, response status code and response headers
    def get_criteria_column_with_http_info(vbasoftware_database, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CriteriaColumnsApi.get_criteria_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CriteriaColumnsApi.get_criteria_column"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CriteriaColumnsApi.get_criteria_column"
      end
      # resource path
      local_var_path = '/criteria-columns/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32StaticOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CriteriaColumnsApi.get_criteria_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CriteriaColumnsApi#get_criteria_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Criteria Columns
    # Lists all Criteria Columns
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Int32StaticOptionListVBAResponse]
    def list_criteria_columns(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_criteria_columns_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Criteria Columns
    # Lists all Criteria Columns
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32StaticOptionListVBAResponse, Integer, Hash)>] Int32StaticOptionListVBAResponse data, response status code and response headers
    def list_criteria_columns_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CriteriaColumnsApi.list_criteria_columns ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CriteriaColumnsApi.list_criteria_columns"
      end
      # resource path
      local_var_path = '/criteria-columns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32StaticOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CriteriaColumnsApi.list_criteria_columns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CriteriaColumnsApi#list_criteria_columns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
