=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class CurrencyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Currency
    # Creates a new Currency
    # @param vbasoftware_database [String] Target database
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [CurrencyVBAResponse]
    def create_currency(vbasoftware_database, currency, opts = {})
      data, _status_code, _headers = create_currency_with_http_info(vbasoftware_database, currency, opts)
      data
    end

    # Create Currency
    # Creates a new Currency
    # @param vbasoftware_database [String] Target database
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyVBAResponse, Integer, Hash)>] CurrencyVBAResponse data, response status code and response headers
    def create_currency_with_http_info(vbasoftware_database, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.create_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.create_currency"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling CurrencyApi.create_currency"
      end
      # resource path
      local_var_path = '/currencies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(currency)

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.create_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#create_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Currency
    # Deletes an Currency
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_currency(vbasoftware_database, currency_id, opts = {})
      delete_currency_with_http_info(vbasoftware_database, currency_id, opts)
      nil
    end

    # Delete Currency
    # Deletes an Currency
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_currency_with_http_info(vbasoftware_database, currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.delete_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.delete_currency"
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling CurrencyApi.delete_currency"
      end
      # resource path
      local_var_path = '/currencies/{currencyID}'.sub('{' + 'currencyID' + '}', CGI.escape(currency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.delete_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#delete_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Currency
    # Gets Currency
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param [Hash] opts the optional parameters
    # @return [CurrencyVBAResponse]
    def get_currency(vbasoftware_database, currency_id, opts = {})
      data, _status_code, _headers = get_currency_with_http_info(vbasoftware_database, currency_id, opts)
      data
    end

    # Get Currency
    # Gets Currency
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyVBAResponse, Integer, Hash)>] CurrencyVBAResponse data, response status code and response headers
    def get_currency_with_http_info(vbasoftware_database, currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.get_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.get_currency"
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling CurrencyApi.get_currency"
      end
      # resource path
      local_var_path = '/currencies/{currencyID}'.sub('{' + 'currencyID' + '}', CGI.escape(currency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.get_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#get_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Currency
    # Lists all Currency 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [CurrencyListVBAResponse]
    def list_currency(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_currency_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Currency
    # Lists all Currency 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyListVBAResponse, Integer, Hash)>] CurrencyListVBAResponse data, response status code and response headers
    def list_currency_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.list_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.list_currency"
      end
      # resource path
      local_var_path = '/currencies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.list_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#list_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Currency
    # Create or Update multiple Currency at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param currency [Array<Currency>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_currency(vbasoftware_database, currency, opts = {})
      data, _status_code, _headers = update_batch_currency_with_http_info(vbasoftware_database, currency, opts)
      data
    end

    # Create or Update Batch Currency
    # Create or Update multiple Currency at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param currency [Array<Currency>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_currency_with_http_info(vbasoftware_database, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.update_batch_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.update_batch_currency"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling CurrencyApi.update_batch_currency"
      end
      # resource path
      local_var_path = '/currencies-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(currency)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.update_batch_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#update_batch_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Currency
    # Updates a specific Currency.
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [CurrencyVBAResponse]
    def update_currency(vbasoftware_database, currency_id, currency, opts = {})
      data, _status_code, _headers = update_currency_with_http_info(vbasoftware_database, currency_id, currency, opts)
      data
    end

    # Update Currency
    # Updates a specific Currency.
    # @param vbasoftware_database [String] Target database
    # @param currency_id [String] Currency ID
    # @param currency [Currency] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyVBAResponse, Integer, Hash)>] CurrencyVBAResponse data, response status code and response headers
    def update_currency_with_http_info(vbasoftware_database, currency_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.update_currency ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling CurrencyApi.update_currency"
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling CurrencyApi.update_currency"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling CurrencyApi.update_currency"
      end
      # resource path
      local_var_path = '/currencies/{currencyID}'.sub('{' + 'currencyID' + '}', CGI.escape(currency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(currency)

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CurrencyApi.update_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#update_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
