=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DayIntervalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DayInterval
    # Creates a new DayInterval
    # @param vbasoftware_database [String] Target database
    # @param day_interval [DayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [DayIntervalVBAResponse]
    def create_day_interval(vbasoftware_database, day_interval, opts = {})
      data, _status_code, _headers = create_day_interval_with_http_info(vbasoftware_database, day_interval, opts)
      data
    end

    # Create DayInterval
    # Creates a new DayInterval
    # @param vbasoftware_database [String] Target database
    # @param day_interval [DayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DayIntervalVBAResponse, Integer, Hash)>] DayIntervalVBAResponse data, response status code and response headers
    def create_day_interval_with_http_info(vbasoftware_database, day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.create_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.create_day_interval"
      end
      # verify the required parameter 'day_interval' is set
      if @api_client.config.client_side_validation && day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'day_interval' when calling DayIntervalsApi.create_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'DayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.create_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#create_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DayInterval
    # Deletes an DayInterval
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_day_interval(vbasoftware_database, interval_year, interval_month, interval_day, opts = {})
      delete_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, opts)
      nil
    end

    # Delete DayInterval
    # Deletes an DayInterval
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.delete_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.delete_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling DayIntervalsApi.delete_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling DayIntervalsApi.delete_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling DayIntervalsApi.delete_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals/{intervalYear}/{intervalMonth}/{intervalDay}'.sub('{' + 'intervalYear' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'intervalMonth' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'intervalDay' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.delete_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#delete_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DayInterval
    # Gets DayInterval
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [DayIntervalVBAResponse]
    def get_day_interval(vbasoftware_database, interval_year, interval_month, interval_day, opts = {})
      data, _status_code, _headers = get_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, opts)
      data
    end

    # Get DayInterval
    # Gets DayInterval
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [Array<(DayIntervalVBAResponse, Integer, Hash)>] DayIntervalVBAResponse data, response status code and response headers
    def get_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.get_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.get_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling DayIntervalsApi.get_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling DayIntervalsApi.get_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling DayIntervalsApi.get_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals/{intervalYear}/{intervalMonth}/{intervalDay}'.sub('{' + 'intervalYear' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'intervalMonth' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'intervalDay' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.get_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#get_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DayInterval
    # Lists all DayInterval
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DayIntervalListVBAResponse]
    def list_day_interval(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_day_interval_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DayInterval
    # Lists all DayInterval
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DayIntervalListVBAResponse, Integer, Hash)>] DayIntervalListVBAResponse data, response status code and response headers
    def list_day_interval_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.list_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.list_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DayIntervalListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.list_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#list_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DayInterval
    # Create or Update multiple DayInterval at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param day_interval [Array<DayInterval>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_day_interval(vbasoftware_database, day_interval, opts = {})
      data, _status_code, _headers = update_batch_day_interval_with_http_info(vbasoftware_database, day_interval, opts)
      data
    end

    # Create or Update Batch DayInterval
    # Create or Update multiple DayInterval at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param day_interval [Array<DayInterval>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_day_interval_with_http_info(vbasoftware_database, day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.update_batch_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.update_batch_day_interval"
      end
      # verify the required parameter 'day_interval' is set
      if @api_client.config.client_side_validation && day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'day_interval' when calling DayIntervalsApi.update_batch_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.update_batch_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#update_batch_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DayInterval
    # Updates a specific DayInterval.
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param day_interval [DayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [DayIntervalVBAResponse]
    def update_day_interval(vbasoftware_database, interval_year, interval_month, interval_day, day_interval, opts = {})
      data, _status_code, _headers = update_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, day_interval, opts)
      data
    end

    # Update DayInterval
    # Updates a specific DayInterval.
    # @param vbasoftware_database [String] Target database
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param day_interval [DayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DayIntervalVBAResponse, Integer, Hash)>] DayIntervalVBAResponse data, response status code and response headers
    def update_day_interval_with_http_info(vbasoftware_database, interval_year, interval_month, interval_day, day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DayIntervalsApi.update_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DayIntervalsApi.update_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling DayIntervalsApi.update_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling DayIntervalsApi.update_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling DayIntervalsApi.update_day_interval"
      end
      # verify the required parameter 'day_interval' is set
      if @api_client.config.client_side_validation && day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'day_interval' when calling DayIntervalsApi.update_day_interval"
      end
      # resource path
      local_var_path = '/day-intervals/{intervalYear}/{intervalMonth}/{intervalDay}'.sub('{' + 'intervalYear' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'intervalMonth' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'intervalDay' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'DayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DayIntervalsApi.update_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DayIntervalsApi#update_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
