=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DiagnosticCodeGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DiagnosticCodeGroup
    # Creates a new DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_group [DiagnosticCodeGroup] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeGroupVBAResponse]
    def create_diagnostic_code_group(vbasoftware_database, diagnostic_code_group, opts = {})
      data, _status_code, _headers = create_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_code_group, opts)
      data
    end

    # Create DiagnosticCodeGroup
    # Creates a new DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_group [DiagnosticCodeGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeGroupVBAResponse, Integer, Hash)>] DiagnosticCodeGroupVBAResponse data, response status code and response headers
    def create_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_code_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.create_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.create_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_code_group' is set
      if @api_client.config.client_side_validation && diagnostic_code_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_group' when calling DiagnosticCodeGroupsApi.create_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_group)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.create_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#create_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DiagnosticCodeGroup
    # Deletes an DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_diagnostic_code_group(vbasoftware_database, diagnostic_group, opts = {})
      delete_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, opts)
      nil
    end

    # Delete DiagnosticCodeGroup
    # Deletes an DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.delete_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.delete_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_group' is set
      if @api_client.config.client_side_validation && diagnostic_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_group' when calling DiagnosticCodeGroupsApi.delete_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups/{diagnosticGroup}'.sub('{' + 'diagnosticGroup' + '}', CGI.escape(diagnostic_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.delete_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#delete_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DiagnosticCodeGroup
    # Gets DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeGroupVBAResponse]
    def get_diagnostic_code_group(vbasoftware_database, diagnostic_group, opts = {})
      data, _status_code, _headers = get_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, opts)
      data
    end

    # Get DiagnosticCodeGroup
    # Gets DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeGroupVBAResponse, Integer, Hash)>] DiagnosticCodeGroupVBAResponse data, response status code and response headers
    def get_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.get_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.get_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_group' is set
      if @api_client.config.client_side_validation && diagnostic_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_group' when calling DiagnosticCodeGroupsApi.get_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups/{diagnosticGroup}'.sub('{' + 'diagnosticGroup' + '}', CGI.escape(diagnostic_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.get_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#get_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DiagnosticCodeGroup
    # Lists all DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeGroupListVBAResponse]
    def list_diagnostic_code_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_diagnostic_code_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DiagnosticCodeGroup
    # Lists all DiagnosticCodeGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeGroupListVBAResponse, Integer, Hash)>] DiagnosticCodeGroupListVBAResponse data, response status code and response headers
    def list_diagnostic_code_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.list_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.list_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.list_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#list_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DiagnosticCodeGroup
    # Create or Update multiple DiagnosticCodeGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_group [Array<DiagnosticCodeGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_diagnostic_code_group(vbasoftware_database, diagnostic_code_group, opts = {})
      data, _status_code, _headers = update_batch_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_code_group, opts)
      data
    end

    # Create or Update Batch DiagnosticCodeGroup
    # Create or Update multiple DiagnosticCodeGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_group [Array<DiagnosticCodeGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_code_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.update_batch_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.update_batch_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_code_group' is set
      if @api_client.config.client_side_validation && diagnostic_code_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_group' when calling DiagnosticCodeGroupsApi.update_batch_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.update_batch_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#update_batch_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DiagnosticCodeGroup
    # Updates a specific DiagnosticCodeGroup.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param diagnostic_code_group [DiagnosticCodeGroup] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeGroupVBAResponse]
    def update_diagnostic_code_group(vbasoftware_database, diagnostic_group, diagnostic_code_group, opts = {})
      data, _status_code, _headers = update_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, diagnostic_code_group, opts)
      data
    end

    # Update DiagnosticCodeGroup
    # Updates a specific DiagnosticCodeGroup.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_group [String] Diagnostic Group
    # @param diagnostic_code_group [DiagnosticCodeGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeGroupVBAResponse, Integer, Hash)>] DiagnosticCodeGroupVBAResponse data, response status code and response headers
    def update_diagnostic_code_group_with_http_info(vbasoftware_database, diagnostic_group, diagnostic_code_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeGroupsApi.update_diagnostic_code_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeGroupsApi.update_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_group' is set
      if @api_client.config.client_side_validation && diagnostic_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_group' when calling DiagnosticCodeGroupsApi.update_diagnostic_code_group"
      end
      # verify the required parameter 'diagnostic_code_group' is set
      if @api_client.config.client_side_validation && diagnostic_code_group.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_group' when calling DiagnosticCodeGroupsApi.update_diagnostic_code_group"
      end
      # resource path
      local_var_path = '/diagnostic-code-groups/{diagnosticGroup}'.sub('{' + 'diagnosticGroup' + '}', CGI.escape(diagnostic_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_group)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeGroupsApi.update_diagnostic_code_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeGroupsApi#update_diagnostic_code_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
