=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DiagnosticCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DiagnosticCode
    # Creates a new DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [DiagnosticCode] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeVBAResponse]
    def create_diagnostic_code(vbasoftware_database, diagnostic_code, opts = {})
      data, _status_code, _headers = create_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, opts)
      data
    end

    # Create DiagnosticCode
    # Creates a new DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [DiagnosticCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeVBAResponse, Integer, Hash)>] DiagnosticCodeVBAResponse data, response status code and response headers
    def create_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.create_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.create_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.create_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.create_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#create_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DiagnosticCode
    # Deletes an DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_diagnostic_code(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts = {})
      delete_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts)
      nil
    end

    # Delete DiagnosticCode
    # Deletes an DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.delete_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.delete_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.delete_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodesApi.delete_diagnostic_code"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DiagnosticCodesApi.delete_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes/{diagnosticCode}/{diagnosticCodeType}/{effectiveDate}'.sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.delete_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#delete_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get The Most Recent DiagnosticCode
    # Gets The Most Recent DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeVBAResponse]
    def get_current_diagnostic_code(vbasoftware_database, diagnostic_code, diagnostic_code_type, opts = {})
      data, _status_code, _headers = get_current_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, opts)
      data
    end

    # Get The Most Recent DiagnosticCode
    # Gets The Most Recent DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeVBAResponse, Integer, Hash)>] DiagnosticCodeVBAResponse data, response status code and response headers
    def get_current_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.get_current_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.get_current_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.get_current_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodesApi.get_current_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes/{diagnosticCode}/{diagnosticCodeType}/current-diag'.sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.get_current_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#get_current_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DiagnosticCode
    # Gets DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeVBAResponse]
    def get_diagnostic_code(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts = {})
      data, _status_code, _headers = get_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts)
      data
    end

    # Get DiagnosticCode
    # Gets DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeVBAResponse, Integer, Hash)>] DiagnosticCodeVBAResponse data, response status code and response headers
    def get_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.get_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.get_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.get_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodesApi.get_diagnostic_code"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DiagnosticCodesApi.get_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes/{diagnosticCode}/{diagnosticCodeType}/{effectiveDate}'.sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.get_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#get_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DiagnosticCode
    # Lists all DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DiagnosticCodeListVBAResponse]
    def list_diagnostic_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_diagnostic_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DiagnosticCode
    # Lists all DiagnosticCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DiagnosticCodeListVBAResponse, Integer, Hash)>] DiagnosticCodeListVBAResponse data, response status code and response headers
    def list_diagnostic_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.list_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.list_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.list_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#list_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DiagnosticCode
    # Create or Update multiple DiagnosticCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [Array<DiagnosticCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_diagnostic_code(vbasoftware_database, diagnostic_code, opts = {})
      data, _status_code, _headers = update_batch_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, opts)
      data
    end

    # Create or Update Batch DiagnosticCode
    # Create or Update multiple DiagnosticCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [Array<DiagnosticCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.update_batch_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.update_batch_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.update_batch_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.update_batch_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#update_batch_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DiagnosticCode
    # Updates a specific DiagnosticCode.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param diagnostic_code2 [DiagnosticCode] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeVBAResponse]
    def update_diagnostic_code(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, diagnostic_code2, opts = {})
      data, _status_code, _headers = update_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, diagnostic_code2, opts)
      data
    end

    # Update DiagnosticCode
    # Updates a specific DiagnosticCode.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code [String] Diagnostic Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param effective_date [Time] Effective Date
    # @param diagnostic_code2 [DiagnosticCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeVBAResponse, Integer, Hash)>] DiagnosticCodeVBAResponse data, response status code and response headers
    def update_diagnostic_code_with_http_info(vbasoftware_database, diagnostic_code, diagnostic_code_type, effective_date, diagnostic_code2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodesApi.update_diagnostic_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodesApi.update_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling DiagnosticCodesApi.update_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodesApi.update_diagnostic_code"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DiagnosticCodesApi.update_diagnostic_code"
      end
      # verify the required parameter 'diagnostic_code2' is set
      if @api_client.config.client_side_validation && diagnostic_code2.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code2' when calling DiagnosticCodesApi.update_diagnostic_code"
      end
      # resource path
      local_var_path = '/diagnostic-codes/{diagnosticCode}/{diagnosticCodeType}/{effectiveDate}'.sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code2)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodesApi.update_diagnostic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodesApi#update_diagnostic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
