=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DiagnosticCodeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DiagnosticCodeType
    # Creates a new DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [DiagnosticCodeType] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeTypeVBAResponse]
    def create_diagnostic_code_type(vbasoftware_database, diagnostic_code_type, opts = {})
      data, _status_code, _headers = create_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts)
      data
    end

    # Create DiagnosticCodeType
    # Creates a new DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [DiagnosticCodeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeTypeVBAResponse, Integer, Hash)>] DiagnosticCodeTypeVBAResponse data, response status code and response headers
    def create_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.create_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.create_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodeTypesApi.create_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_type)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.create_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#create_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DiagnosticCodeType
    # Deletes an DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_diagnostic_code_type(vbasoftware_database, diagnostic_code_type, opts = {})
      delete_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts)
      nil
    end

    # Delete DiagnosticCodeType
    # Deletes an DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.delete_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.delete_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodeTypesApi.delete_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types/{diagnosticCodeType}'.sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.delete_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#delete_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DiagnosticCodeType
    # Gets DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeTypeVBAResponse]
    def get_diagnostic_code_type(vbasoftware_database, diagnostic_code_type, opts = {})
      data, _status_code, _headers = get_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts)
      data
    end

    # Get DiagnosticCodeType
    # Gets DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeTypeVBAResponse, Integer, Hash)>] DiagnosticCodeTypeVBAResponse data, response status code and response headers
    def get_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.get_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.get_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodeTypesApi.get_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types/{diagnosticCodeType}'.sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.get_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#get_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DiagnosticCodeType
    # Lists all DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeTypeListVBAResponse]
    def list_diagnostic_code_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_diagnostic_code_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DiagnosticCodeType
    # Lists all DiagnosticCodeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeTypeListVBAResponse, Integer, Hash)>] DiagnosticCodeTypeListVBAResponse data, response status code and response headers
    def list_diagnostic_code_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.list_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.list_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.list_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#list_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DiagnosticCodeType
    # Create or Update multiple DiagnosticCodeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [Array<DiagnosticCodeType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_diagnostic_code_type(vbasoftware_database, diagnostic_code_type, opts = {})
      data, _status_code, _headers = update_batch_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts)
      data
    end

    # Create or Update Batch DiagnosticCodeType
    # Create or Update multiple DiagnosticCodeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [Array<DiagnosticCodeType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.update_batch_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.update_batch_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodeTypesApi.update_batch_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.update_batch_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#update_batch_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DiagnosticCodeType
    # Updates a specific DiagnosticCodeType.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code_type2 [DiagnosticCodeType] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticCodeTypeVBAResponse]
    def update_diagnostic_code_type(vbasoftware_database, diagnostic_code_type, diagnostic_code_type2, opts = {})
      data, _status_code, _headers = update_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, diagnostic_code_type2, opts)
      data
    end

    # Update DiagnosticCodeType
    # Updates a specific DiagnosticCodeType.
    # @param vbasoftware_database [String] Target database
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code_type2 [DiagnosticCodeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticCodeTypeVBAResponse, Integer, Hash)>] DiagnosticCodeTypeVBAResponse data, response status code and response headers
    def update_diagnostic_code_type_with_http_info(vbasoftware_database, diagnostic_code_type, diagnostic_code_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiagnosticCodeTypesApi.update_diagnostic_code_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DiagnosticCodeTypesApi.update_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling DiagnosticCodeTypesApi.update_diagnostic_code_type"
      end
      # verify the required parameter 'diagnostic_code_type2' is set
      if @api_client.config.client_side_validation && diagnostic_code_type2.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type2' when calling DiagnosticCodeTypesApi.update_diagnostic_code_type"
      end
      # resource path
      local_var_path = '/diagnostic-code-types/{diagnosticCodeType}'.sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_code_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticCodeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DiagnosticCodeTypesApi.update_diagnostic_code_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiagnosticCodeTypesApi#update_diagnostic_code_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
