=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisastersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Disaster
    # Creates a new Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster [Disaster] 
    # @param [Hash] opts the optional parameters
    # @return [DisasterVBAResponse]
    def create_disaster(vbasoftware_database, disaster, opts = {})
      data, _status_code, _headers = create_disaster_with_http_info(vbasoftware_database, disaster, opts)
      data
    end

    # Create Disaster
    # Creates a new Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster [Disaster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterVBAResponse, Integer, Hash)>] DisasterVBAResponse data, response status code and response headers
    def create_disaster_with_http_info(vbasoftware_database, disaster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.create_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.create_disaster"
      end
      # verify the required parameter 'disaster' is set
      if @api_client.config.client_side_validation && disaster.nil?
        fail ArgumentError, "Missing the required parameter 'disaster' when calling DisastersApi.create_disaster"
      end
      # resource path
      local_var_path = '/disasters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster)

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.create_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#create_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Disaster
    # Deletes an Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disaster(vbasoftware_database, disaster_key, opts = {})
      delete_disaster_with_http_info(vbasoftware_database, disaster_key, opts)
      nil
    end

    # Delete Disaster
    # Deletes an Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disaster_with_http_info(vbasoftware_database, disaster_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.delete_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.delete_disaster"
      end
      # verify the required parameter 'disaster_key' is set
      if @api_client.config.client_side_validation && disaster_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_key' when calling DisastersApi.delete_disaster"
      end
      # resource path
      local_var_path = '/disasters/{Disaster_Key}'.sub('{' + 'Disaster_Key' + '}', CGI.escape(disaster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.delete_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#delete_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Disaster
    # Gets Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param [Hash] opts the optional parameters
    # @return [DisasterVBAResponse]
    def get_disaster(vbasoftware_database, disaster_key, opts = {})
      data, _status_code, _headers = get_disaster_with_http_info(vbasoftware_database, disaster_key, opts)
      data
    end

    # Get Disaster
    # Gets Disaster
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterVBAResponse, Integer, Hash)>] DisasterVBAResponse data, response status code and response headers
    def get_disaster_with_http_info(vbasoftware_database, disaster_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.get_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.get_disaster"
      end
      # verify the required parameter 'disaster_key' is set
      if @api_client.config.client_side_validation && disaster_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_key' when calling DisastersApi.get_disaster"
      end
      # resource path
      local_var_path = '/disasters/{Disaster_Key}'.sub('{' + 'Disaster_Key' + '}', CGI.escape(disaster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.get_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#get_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Disaster
    # Lists all Disaster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisasterListVBAResponse]
    def list_disaster(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_disaster_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Disaster
    # Lists all Disaster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisasterListVBAResponse, Integer, Hash)>] DisasterListVBAResponse data, response status code and response headers
    def list_disaster_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.list_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.list_disaster"
      end
      # resource path
      local_var_path = '/disasters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.list_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#list_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Disaster
    # Create or Update multiple Disaster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disaster [Array<Disaster>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disaster(vbasoftware_database, disaster, opts = {})
      data, _status_code, _headers = update_batch_disaster_with_http_info(vbasoftware_database, disaster, opts)
      data
    end

    # Create or Update Batch Disaster
    # Create or Update multiple Disaster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disaster [Array<Disaster>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disaster_with_http_info(vbasoftware_database, disaster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.update_batch_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.update_batch_disaster"
      end
      # verify the required parameter 'disaster' is set
      if @api_client.config.client_side_validation && disaster.nil?
        fail ArgumentError, "Missing the required parameter 'disaster' when calling DisastersApi.update_batch_disaster"
      end
      # resource path
      local_var_path = '/disasters-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.update_batch_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#update_batch_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Disaster
    # Updates a specific Disaster.
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param disaster [Disaster] 
    # @param [Hash] opts the optional parameters
    # @return [DisasterVBAResponse]
    def update_disaster(vbasoftware_database, disaster_key, disaster, opts = {})
      data, _status_code, _headers = update_disaster_with_http_info(vbasoftware_database, disaster_key, disaster, opts)
      data
    end

    # Update Disaster
    # Updates a specific Disaster.
    # @param vbasoftware_database [String] Target database
    # @param disaster_key [Integer] Disaster Key
    # @param disaster [Disaster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterVBAResponse, Integer, Hash)>] DisasterVBAResponse data, response status code and response headers
    def update_disaster_with_http_info(vbasoftware_database, disaster_key, disaster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisastersApi.update_disaster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisastersApi.update_disaster"
      end
      # verify the required parameter 'disaster_key' is set
      if @api_client.config.client_side_validation && disaster_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_key' when calling DisastersApi.update_disaster"
      end
      # verify the required parameter 'disaster' is set
      if @api_client.config.client_side_validation && disaster.nil?
        fail ArgumentError, "Missing the required parameter 'disaster' when calling DisastersApi.update_disaster"
      end
      # resource path
      local_var_path = '/disasters/{Disaster_Key}'.sub('{' + 'Disaster_Key' + '}', CGI.escape(disaster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster)

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisastersApi.update_disaster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisastersApi#update_disaster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
