=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisabilityEventFieldsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisabilityEventField
    # Creates a new DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param disability_event_field [DisabilityEventField] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventFieldVBAResponse]
    def create_disability_event_field(vbasoftware_database, disability_event_field, opts = {})
      data, _status_code, _headers = create_disability_event_field_with_http_info(vbasoftware_database, disability_event_field, opts)
      data
    end

    # Create DisabilityEventField
    # Creates a new DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param disability_event_field [DisabilityEventField] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventFieldVBAResponse, Integer, Hash)>] DisabilityEventFieldVBAResponse data, response status code and response headers
    def create_disability_event_field_with_http_info(vbasoftware_database, disability_event_field, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.create_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.create_disability_event_field"
      end
      # verify the required parameter 'disability_event_field' is set
      if @api_client.config.client_side_validation && disability_event_field.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_field' when calling DisabilityEventFieldsApi.create_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_field)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventFieldVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.create_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#create_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisabilityEventField
    # Deletes an DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disability_event_field(vbasoftware_database, field_name, opts = {})
      delete_disability_event_field_with_http_info(vbasoftware_database, field_name, opts)
      nil
    end

    # Delete DisabilityEventField
    # Deletes an DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disability_event_field_with_http_info(vbasoftware_database, field_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.delete_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.delete_disability_event_field"
      end
      # verify the required parameter 'field_name' is set
      if @api_client.config.client_side_validation && field_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_name' when calling DisabilityEventFieldsApi.delete_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields/{Field_Name}'.sub('{' + 'Field_Name' + '}', CGI.escape(field_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.delete_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#delete_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisabilityEventField
    # Gets DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventFieldVBAResponse]
    def get_disability_event_field(vbasoftware_database, field_name, opts = {})
      data, _status_code, _headers = get_disability_event_field_with_http_info(vbasoftware_database, field_name, opts)
      data
    end

    # Get DisabilityEventField
    # Gets DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventFieldVBAResponse, Integer, Hash)>] DisabilityEventFieldVBAResponse data, response status code and response headers
    def get_disability_event_field_with_http_info(vbasoftware_database, field_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.get_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.get_disability_event_field"
      end
      # verify the required parameter 'field_name' is set
      if @api_client.config.client_side_validation && field_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_name' when calling DisabilityEventFieldsApi.get_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields/{Field_Name}'.sub('{' + 'Field_Name' + '}', CGI.escape(field_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventFieldVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.get_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#get_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisabilityEventField
    # Lists all DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisabilityEventFieldListVBAResponse]
    def list_disability_event_field(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_disability_event_field_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DisabilityEventField
    # Lists all DisabilityEventField
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisabilityEventFieldListVBAResponse, Integer, Hash)>] DisabilityEventFieldListVBAResponse data, response status code and response headers
    def list_disability_event_field_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.list_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.list_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventFieldListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.list_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#list_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisabilityEventField
    # Create or Update multiple DisabilityEventField at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_field [Array<DisabilityEventField>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disability_event_field(vbasoftware_database, disability_event_field, opts = {})
      data, _status_code, _headers = update_batch_disability_event_field_with_http_info(vbasoftware_database, disability_event_field, opts)
      data
    end

    # Create or Update Batch DisabilityEventField
    # Create or Update multiple DisabilityEventField at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_field [Array<DisabilityEventField>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disability_event_field_with_http_info(vbasoftware_database, disability_event_field, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.update_batch_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.update_batch_disability_event_field"
      end
      # verify the required parameter 'disability_event_field' is set
      if @api_client.config.client_side_validation && disability_event_field.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_field' when calling DisabilityEventFieldsApi.update_batch_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_field)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.update_batch_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#update_batch_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisabilityEventField
    # Updates a specific DisabilityEventField.
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param disability_event_field [DisabilityEventField] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventFieldVBAResponse]
    def update_disability_event_field(vbasoftware_database, field_name, disability_event_field, opts = {})
      data, _status_code, _headers = update_disability_event_field_with_http_info(vbasoftware_database, field_name, disability_event_field, opts)
      data
    end

    # Update DisabilityEventField
    # Updates a specific DisabilityEventField.
    # @param vbasoftware_database [String] Target database
    # @param field_name [String] Field Name
    # @param disability_event_field [DisabilityEventField] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventFieldVBAResponse, Integer, Hash)>] DisabilityEventFieldVBAResponse data, response status code and response headers
    def update_disability_event_field_with_http_info(vbasoftware_database, field_name, disability_event_field, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventFieldsApi.update_disability_event_field ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventFieldsApi.update_disability_event_field"
      end
      # verify the required parameter 'field_name' is set
      if @api_client.config.client_side_validation && field_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_name' when calling DisabilityEventFieldsApi.update_disability_event_field"
      end
      # verify the required parameter 'disability_event_field' is set
      if @api_client.config.client_side_validation && disability_event_field.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_field' when calling DisabilityEventFieldsApi.update_disability_event_field"
      end
      # resource path
      local_var_path = '/disability-event-fields/{Field_Name}'.sub('{' + 'Field_Name' + '}', CGI.escape(field_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_field)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventFieldVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventFieldsApi.update_disability_event_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventFieldsApi#update_disability_event_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
