=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisasterLocationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisasterLocation
    # Creates a new DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location [DisasterLocation] 
    # @param [Hash] opts the optional parameters
    # @return [DisasterLocationVBAResponse]
    def create_disaster_location(vbasoftware_database, disaster_location, opts = {})
      data, _status_code, _headers = create_disaster_location_with_http_info(vbasoftware_database, disaster_location, opts)
      data
    end

    # Create DisasterLocation
    # Creates a new DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location [DisasterLocation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterLocationVBAResponse, Integer, Hash)>] DisasterLocationVBAResponse data, response status code and response headers
    def create_disaster_location_with_http_info(vbasoftware_database, disaster_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.create_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.create_disaster_location"
      end
      # verify the required parameter 'disaster_location' is set
      if @api_client.config.client_side_validation && disaster_location.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location' when calling DisasterLocationsApi.create_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster_location)

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterLocationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.create_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#create_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisasterLocation
    # Deletes an DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disaster_location(vbasoftware_database, disaster_location_key, opts = {})
      delete_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, opts)
      nil
    end

    # Delete DisasterLocation
    # Deletes an DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.delete_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.delete_disaster_location"
      end
      # verify the required parameter 'disaster_location_key' is set
      if @api_client.config.client_side_validation && disaster_location_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location_key' when calling DisasterLocationsApi.delete_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations/{DisasterLocation_Key}'.sub('{' + 'DisasterLocation_Key' + '}', CGI.escape(disaster_location_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.delete_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#delete_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisasterLocation
    # Gets DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param [Hash] opts the optional parameters
    # @return [DisasterLocationVBAResponse]
    def get_disaster_location(vbasoftware_database, disaster_location_key, opts = {})
      data, _status_code, _headers = get_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, opts)
      data
    end

    # Get DisasterLocation
    # Gets DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterLocationVBAResponse, Integer, Hash)>] DisasterLocationVBAResponse data, response status code and response headers
    def get_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.get_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.get_disaster_location"
      end
      # verify the required parameter 'disaster_location_key' is set
      if @api_client.config.client_side_validation && disaster_location_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location_key' when calling DisasterLocationsApi.get_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations/{DisasterLocation_Key}'.sub('{' + 'DisasterLocation_Key' + '}', CGI.escape(disaster_location_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterLocationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.get_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#get_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisasterLocation
    # Lists all DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisasterLocationListVBAResponse]
    def list_disaster_location(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_disaster_location_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DisasterLocation
    # Lists all DisasterLocation
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisasterLocationListVBAResponse, Integer, Hash)>] DisasterLocationListVBAResponse data, response status code and response headers
    def list_disaster_location_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.list_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.list_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterLocationListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.list_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#list_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisasterLocation
    # Create or Update multiple DisasterLocation at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disaster_location [Array<DisasterLocation>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disaster_location(vbasoftware_database, disaster_location, opts = {})
      data, _status_code, _headers = update_batch_disaster_location_with_http_info(vbasoftware_database, disaster_location, opts)
      data
    end

    # Create or Update Batch DisasterLocation
    # Create or Update multiple DisasterLocation at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disaster_location [Array<DisasterLocation>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disaster_location_with_http_info(vbasoftware_database, disaster_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.update_batch_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.update_batch_disaster_location"
      end
      # verify the required parameter 'disaster_location' is set
      if @api_client.config.client_side_validation && disaster_location.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location' when calling DisasterLocationsApi.update_batch_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster_location)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.update_batch_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#update_batch_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisasterLocation
    # Updates a specific DisasterLocation.
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param disaster_location [DisasterLocation] 
    # @param [Hash] opts the optional parameters
    # @return [DisasterLocationVBAResponse]
    def update_disaster_location(vbasoftware_database, disaster_location_key, disaster_location, opts = {})
      data, _status_code, _headers = update_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, disaster_location, opts)
      data
    end

    # Update DisasterLocation
    # Updates a specific DisasterLocation.
    # @param vbasoftware_database [String] Target database
    # @param disaster_location_key [Integer] DisasterLocation Key
    # @param disaster_location [DisasterLocation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterLocationVBAResponse, Integer, Hash)>] DisasterLocationVBAResponse data, response status code and response headers
    def update_disaster_location_with_http_info(vbasoftware_database, disaster_location_key, disaster_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisasterLocationsApi.update_disaster_location ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisasterLocationsApi.update_disaster_location"
      end
      # verify the required parameter 'disaster_location_key' is set
      if @api_client.config.client_side_validation && disaster_location_key.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location_key' when calling DisasterLocationsApi.update_disaster_location"
      end
      # verify the required parameter 'disaster_location' is set
      if @api_client.config.client_side_validation && disaster_location.nil?
        fail ArgumentError, "Missing the required parameter 'disaster_location' when calling DisasterLocationsApi.update_disaster_location"
      end
      # resource path
      local_var_path = '/disaster-locations/{DisasterLocation_Key}'.sub('{' + 'DisasterLocation_Key' + '}', CGI.escape(disaster_location_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disaster_location)

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterLocationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisasterLocationsApi.update_disaster_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisasterLocationsApi#update_disaster_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
