=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisabilityEventCaseChangesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisabilityEventCaseChanged
    # Creates a new DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed [DisabilityEventCaseChanged] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventCaseChangedVBAResponse]
    def create_disability_event_case_changed(vbasoftware_database, disability_event_case_changed, opts = {})
      data, _status_code, _headers = create_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed, opts)
      data
    end

    # Create DisabilityEventCaseChanged
    # Creates a new DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed [DisabilityEventCaseChanged] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventCaseChangedVBAResponse, Integer, Hash)>] DisabilityEventCaseChangedVBAResponse data, response status code and response headers
    def create_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.create_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.create_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed' is set
      if @api_client.config.client_side_validation && disability_event_case_changed.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed' when calling DisabilityEventCaseChangesApi.create_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_case_changed)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventCaseChangedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.create_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#create_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisabilityEventCaseChanged
    # Deletes an DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disability_event_case_changed(vbasoftware_database, disability_event_case_changed_key, opts = {})
      delete_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, opts)
      nil
    end

    # Delete DisabilityEventCaseChanged
    # Deletes an DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.delete_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.delete_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed_key' is set
      if @api_client.config.client_side_validation && disability_event_case_changed_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed_key' when calling DisabilityEventCaseChangesApi.delete_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes/{DisabilityEventCaseChanged_Key}'.sub('{' + 'DisabilityEventCaseChanged_Key' + '}', CGI.escape(disability_event_case_changed_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.delete_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#delete_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisabilityEventCaseChanged
    # Gets DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventCaseChangedVBAResponse]
    def get_disability_event_case_changed(vbasoftware_database, disability_event_case_changed_key, opts = {})
      data, _status_code, _headers = get_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, opts)
      data
    end

    # Get DisabilityEventCaseChanged
    # Gets DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventCaseChangedVBAResponse, Integer, Hash)>] DisabilityEventCaseChangedVBAResponse data, response status code and response headers
    def get_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.get_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.get_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed_key' is set
      if @api_client.config.client_side_validation && disability_event_case_changed_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed_key' when calling DisabilityEventCaseChangesApi.get_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes/{DisabilityEventCaseChanged_Key}'.sub('{' + 'DisabilityEventCaseChanged_Key' + '}', CGI.escape(disability_event_case_changed_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventCaseChangedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.get_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#get_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisabilityEventCaseChanged
    # Lists all DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisabilityEventCaseChangedListVBAResponse]
    def list_disability_event_case_changed(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_disability_event_case_changed_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DisabilityEventCaseChanged
    # Lists all DisabilityEventCaseChanged
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisabilityEventCaseChangedListVBAResponse, Integer, Hash)>] DisabilityEventCaseChangedListVBAResponse data, response status code and response headers
    def list_disability_event_case_changed_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.list_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.list_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventCaseChangedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.list_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#list_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisabilityEventCaseChanged
    # Create or Update multiple DisabilityEventCaseChanged at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed [Array<DisabilityEventCaseChanged>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disability_event_case_changed(vbasoftware_database, disability_event_case_changed, opts = {})
      data, _status_code, _headers = update_batch_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed, opts)
      data
    end

    # Create or Update Batch DisabilityEventCaseChanged
    # Create or Update multiple DisabilityEventCaseChanged at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed [Array<DisabilityEventCaseChanged>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.update_batch_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.update_batch_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed' is set
      if @api_client.config.client_side_validation && disability_event_case_changed.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed' when calling DisabilityEventCaseChangesApi.update_batch_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_case_changed)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.update_batch_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#update_batch_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisabilityEventCaseChanged
    # Updates a specific DisabilityEventCaseChanged.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param disability_event_case_changed [DisabilityEventCaseChanged] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityEventCaseChangedVBAResponse]
    def update_disability_event_case_changed(vbasoftware_database, disability_event_case_changed_key, disability_event_case_changed, opts = {})
      data, _status_code, _headers = update_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, disability_event_case_changed, opts)
      data
    end

    # Update DisabilityEventCaseChanged
    # Updates a specific DisabilityEventCaseChanged.
    # @param vbasoftware_database [String] Target database
    # @param disability_event_case_changed_key [Integer] DisabilityEventCaseChanged Key
    # @param disability_event_case_changed [DisabilityEventCaseChanged] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityEventCaseChangedVBAResponse, Integer, Hash)>] DisabilityEventCaseChangedVBAResponse data, response status code and response headers
    def update_disability_event_case_changed_with_http_info(vbasoftware_database, disability_event_case_changed_key, disability_event_case_changed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisabilityEventCaseChangesApi.update_disability_event_case_changed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisabilityEventCaseChangesApi.update_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed_key' is set
      if @api_client.config.client_side_validation && disability_event_case_changed_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed_key' when calling DisabilityEventCaseChangesApi.update_disability_event_case_changed"
      end
      # verify the required parameter 'disability_event_case_changed' is set
      if @api_client.config.client_side_validation && disability_event_case_changed.nil?
        fail ArgumentError, "Missing the required parameter 'disability_event_case_changed' when calling DisabilityEventCaseChangesApi.update_disability_event_case_changed"
      end
      # resource path
      local_var_path = '/disability-event-case-changes/{DisabilityEventCaseChanged_Key}'.sub('{' + 'DisabilityEventCaseChanged_Key' + '}', CGI.escape(disability_event_case_changed_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_event_case_changed)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityEventCaseChangedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisabilityEventCaseChangesApi.update_disability_event_case_changed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisabilityEventCaseChangesApi#update_disability_event_case_changed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
