=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisenrollLogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisenrollLog
    # Creates a new DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log [DisenrollLog] 
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogVBAResponse]
    def create_disenroll_log(vbasoftware_database, disenroll_log, opts = {})
      data, _status_code, _headers = create_disenroll_log_with_http_info(vbasoftware_database, disenroll_log, opts)
      data
    end

    # Create DisenrollLog
    # Creates a new DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log [DisenrollLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogVBAResponse, Integer, Hash)>] DisenrollLogVBAResponse data, response status code and response headers
    def create_disenroll_log_with_http_info(vbasoftware_database, disenroll_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.create_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.create_disenroll_log"
      end
      # verify the required parameter 'disenroll_log' is set
      if @api_client.config.client_side_validation && disenroll_log.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log' when calling DisenrollLogApi.create_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log)

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.create_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#create_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisenrollLog
    # Deletes an DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disenroll_log(vbasoftware_database, disenroll_log_key, opts = {})
      delete_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, opts)
      nil
    end

    # Delete DisenrollLog
    # Deletes an DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.delete_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.delete_disenroll_log"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogApi.delete_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.delete_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#delete_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisenrollLog
    # Gets DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogVBAResponse]
    def get_disenroll_log(vbasoftware_database, disenroll_log_key, opts = {})
      data, _status_code, _headers = get_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, opts)
      data
    end

    # Get DisenrollLog
    # Gets DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogVBAResponse, Integer, Hash)>] DisenrollLogVBAResponse data, response status code and response headers
    def get_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.get_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.get_disenroll_log"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogApi.get_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.get_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#get_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisenrollLog
    # Lists all DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subscriber_id Optional filter to limit rows containing Subscriber_ID
    # @option opts [String] :member_seq Optional filter to limit rows containing Member_Seq
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisenrollLogListVBAResponse]
    def list_disenroll_log(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_disenroll_log_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DisenrollLog
    # Lists all DisenrollLog
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subscriber_id Optional filter to limit rows containing Subscriber_ID
    # @option opts [String] :member_seq Optional filter to limit rows containing Member_Seq
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisenrollLogListVBAResponse, Integer, Hash)>] DisenrollLogListVBAResponse data, response status code and response headers
    def list_disenroll_log_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.list_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.list_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'Subscriber_ID'] = opts[:'subscriber_id'] if !opts[:'subscriber_id'].nil?
      query_params[:'Member_Seq'] = opts[:'member_seq'] if !opts[:'member_seq'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.list_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#list_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisenrollLog
    # Create or Update multiple DisenrollLog at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log [Array<DisenrollLog>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disenroll_log(vbasoftware_database, disenroll_log, opts = {})
      data, _status_code, _headers = update_batch_disenroll_log_with_http_info(vbasoftware_database, disenroll_log, opts)
      data
    end

    # Create or Update Batch DisenrollLog
    # Create or Update multiple DisenrollLog at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log [Array<DisenrollLog>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disenroll_log_with_http_info(vbasoftware_database, disenroll_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.update_batch_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.update_batch_disenroll_log"
      end
      # verify the required parameter 'disenroll_log' is set
      if @api_client.config.client_side_validation && disenroll_log.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log' when calling DisenrollLogApi.update_batch_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.update_batch_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#update_batch_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisenrollLog
    # Updates a specific DisenrollLog.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log [DisenrollLog] 
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogVBAResponse]
    def update_disenroll_log(vbasoftware_database, disenroll_log_key, disenroll_log, opts = {})
      data, _status_code, _headers = update_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log, opts)
      data
    end

    # Update DisenrollLog
    # Updates a specific DisenrollLog.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log [DisenrollLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogVBAResponse, Integer, Hash)>] DisenrollLogVBAResponse data, response status code and response headers
    def update_disenroll_log_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogApi.update_disenroll_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogApi.update_disenroll_log"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogApi.update_disenroll_log"
      end
      # verify the required parameter 'disenroll_log' is set
      if @api_client.config.client_side_validation && disenroll_log.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log' when calling DisenrollLogApi.update_disenroll_log"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log)

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogApi.update_disenroll_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogApi#update_disenroll_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
