=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DisenrollLogRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisenrollLogRate
    # Creates a new DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log_rate [DisenrollLogRate] 
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogRateVBAResponse]
    def create_disenroll_log_rate(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts = {})
      data, _status_code, _headers = create_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts)
      data
    end

    # Create DisenrollLogRate
    # Creates a new DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log_rate [DisenrollLogRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogRateVBAResponse, Integer, Hash)>] DisenrollLogRateVBAResponse data, response status code and response headers
    def create_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.create_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.create_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.create_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_rate' is set
      if @api_client.config.client_side_validation && disenroll_log_rate.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_rate' when calling DisenrollLogRatesApi.create_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.create_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#create_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisenrollLogRate
    # Deletes an DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disenroll_log_rate(vbasoftware_database, disenroll_log_key, prem_rate_key, opts = {})
      delete_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, opts)
      nil
    end

    # Delete DisenrollLogRate
    # Deletes an DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.delete_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.delete_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.delete_disenroll_log_rate"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling DisenrollLogRatesApi.delete_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates/{PremRate_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s)).sub('{' + 'PremRate_Key' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.delete_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#delete_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisenrollLogRate
    # Gets DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogRateVBAResponse]
    def get_disenroll_log_rate(vbasoftware_database, disenroll_log_key, prem_rate_key, opts = {})
      data, _status_code, _headers = get_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, opts)
      data
    end

    # Get DisenrollLogRate
    # Gets DisenrollLogRate
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogRateVBAResponse, Integer, Hash)>] DisenrollLogRateVBAResponse data, response status code and response headers
    def get_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.get_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.get_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.get_disenroll_log_rate"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling DisenrollLogRatesApi.get_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates/{PremRate_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s)).sub('{' + 'PremRate_Key' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.get_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#get_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisenrollLogRate
    # Lists all DisenrollLogRate for the given DisenrollLog_Key
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [DisenrollLogRateListVBAResponse]
    def list_disenroll_log_rate(vbasoftware_database, disenroll_log_key, opts = {})
      data, _status_code, _headers = list_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, opts)
      data
    end

    # List DisenrollLogRate
    # Lists all DisenrollLogRate for the given DisenrollLog_Key
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(DisenrollLogRateListVBAResponse, Integer, Hash)>] DisenrollLogRateListVBAResponse data, response status code and response headers
    def list_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.list_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.list_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.list_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.list_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#list_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisenrollLogRate
    # Create or Update multiple DisenrollLogRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log_rate [Array<DisenrollLogRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disenroll_log_rate(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts = {})
      data, _status_code, _headers = update_batch_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts)
      data
    end

    # Create or Update Batch DisenrollLogRate
    # Create or Update multiple DisenrollLogRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param disenroll_log_rate [Array<DisenrollLogRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, disenroll_log_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.update_batch_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.update_batch_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.update_batch_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_rate' is set
      if @api_client.config.client_side_validation && disenroll_log_rate.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_rate' when calling DisenrollLogRatesApi.update_batch_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates-batch'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.update_batch_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#update_batch_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisenrollLogRate
    # Updates a specific DisenrollLogRate.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param disenroll_log_rate [DisenrollLogRate] 
    # @param [Hash] opts the optional parameters
    # @return [DisenrollLogRateVBAResponse]
    def update_disenroll_log_rate(vbasoftware_database, disenroll_log_key, prem_rate_key, disenroll_log_rate, opts = {})
      data, _status_code, _headers = update_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, disenroll_log_rate, opts)
      data
    end

    # Update DisenrollLogRate
    # Updates a specific DisenrollLogRate.
    # @param vbasoftware_database [String] Target database
    # @param disenroll_log_key [Integer] DisenrollLog Key
    # @param prem_rate_key [Integer] PremRate Key
    # @param disenroll_log_rate [DisenrollLogRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisenrollLogRateVBAResponse, Integer, Hash)>] DisenrollLogRateVBAResponse data, response status code and response headers
    def update_disenroll_log_rate_with_http_info(vbasoftware_database, disenroll_log_key, prem_rate_key, disenroll_log_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisenrollLogRatesApi.update_disenroll_log_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DisenrollLogRatesApi.update_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_key' is set
      if @api_client.config.client_side_validation && disenroll_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_key' when calling DisenrollLogRatesApi.update_disenroll_log_rate"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling DisenrollLogRatesApi.update_disenroll_log_rate"
      end
      # verify the required parameter 'disenroll_log_rate' is set
      if @api_client.config.client_side_validation && disenroll_log_rate.nil?
        fail ArgumentError, "Missing the required parameter 'disenroll_log_rate' when calling DisenrollLogRatesApi.update_disenroll_log_rate"
      end
      # resource path
      local_var_path = '/disenroll-logs/{DisenrollLog_Key}/rates/{PremRate_Key}'.sub('{' + 'DisenrollLog_Key' + '}', CGI.escape(disenroll_log_key.to_s)).sub('{' + 'PremRate_Key' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disenroll_log_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'DisenrollLogRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DisenrollLogRatesApi.update_disenroll_log_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisenrollLogRatesApi#update_disenroll_log_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
