=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DRGClusterDetailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DRGClusterDetail
    # Creates a new DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail [DRGClusterDetail] 
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterDetailVBAResponse]
    def create_drg_cluster_detail(vbasoftware_database, drg_cluster, drg_cluster_detail, opts = {})
      data, _status_code, _headers = create_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail, opts)
      data
    end

    # Create DRGClusterDetail
    # Creates a new DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail [DRGClusterDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterDetailVBAResponse, Integer, Hash)>] DRGClusterDetailVBAResponse data, response status code and response headers
    def create_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.create_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.create_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.create_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail' is set
      if @api_client.config.client_side_validation && drg_cluster_detail.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail' when calling DRGClusterDetailApi.create_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.create_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#create_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DRGClusterDetail
    # Deletes an DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drg_cluster_detail(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts = {})
      delete_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts)
      nil
    end

    # Delete DRGClusterDetail
    # Deletes an DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.delete_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.delete_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.delete_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail_key' is set
      if @api_client.config.client_side_validation && drg_cluster_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail_key' when calling DRGClusterDetailApi.delete_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details/{drgClusterDetailKey}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s)).sub('{' + 'drgClusterDetailKey' + '}', CGI.escape(drg_cluster_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.delete_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#delete_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DRGClusterDetail
    # Gets DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterDetailVBAResponse]
    def get_drg_cluster_detail(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts = {})
      data, _status_code, _headers = get_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts)
      data
    end

    # Get DRGClusterDetail
    # Gets DRGClusterDetail
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterDetailVBAResponse, Integer, Hash)>] DRGClusterDetailVBAResponse data, response status code and response headers
    def get_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.get_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.get_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.get_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail_key' is set
      if @api_client.config.client_side_validation && drg_cluster_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail_key' when calling DRGClusterDetailApi.get_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details/{drgClusterDetailKey}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s)).sub('{' + 'drgClusterDetailKey' + '}', CGI.escape(drg_cluster_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.get_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#get_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DRGClusterDetail
    # Lists all DRGClusterDetail for the given drgCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DRGClusterDetailListVBAResponse]
    def list_drg_cluster_detail(vbasoftware_database, drg_cluster, opts = {})
      data, _status_code, _headers = list_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, opts)
      data
    end

    # List DRGClusterDetail
    # Lists all DRGClusterDetail for the given drgCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DRGClusterDetailListVBAResponse, Integer, Hash)>] DRGClusterDetailListVBAResponse data, response status code and response headers
    def list_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.list_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.list_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.list_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.list_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#list_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DRGClusterDetail
    # Create or Update multiple DRGClusterDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail [Array<DRGClusterDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drg_cluster_detail(vbasoftware_database, drg_cluster, drg_cluster_detail, opts = {})
      data, _status_code, _headers = update_batch_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail, opts)
      data
    end

    # Create or Update Batch DRGClusterDetail
    # Create or Update multiple DRGClusterDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail [Array<DRGClusterDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.update_batch_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.update_batch_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.update_batch_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail' is set
      if @api_client.config.client_side_validation && drg_cluster_detail.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail' when calling DRGClusterDetailApi.update_batch_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details-batch'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.update_batch_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#update_batch_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DRGClusterDetail
    # Updates a specific DRGClusterDetail.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param drg_cluster_detail [DRGClusterDetail] 
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterDetailVBAResponse]
    def update_drg_cluster_detail(vbasoftware_database, drg_cluster, drg_cluster_detail_key, drg_cluster_detail, opts = {})
      data, _status_code, _headers = update_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, drg_cluster_detail, opts)
      data
    end

    # Update DRGClusterDetail
    # Updates a specific DRGClusterDetail.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster_detail_key [Integer] DRGClusterDetail Key
    # @param drg_cluster_detail [DRGClusterDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterDetailVBAResponse, Integer, Hash)>] DRGClusterDetailVBAResponse data, response status code and response headers
    def update_drg_cluster_detail_with_http_info(vbasoftware_database, drg_cluster, drg_cluster_detail_key, drg_cluster_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterDetailApi.update_drg_cluster_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterDetailApi.update_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterDetailApi.update_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail_key' is set
      if @api_client.config.client_side_validation && drg_cluster_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail_key' when calling DRGClusterDetailApi.update_drg_cluster_detail"
      end
      # verify the required parameter 'drg_cluster_detail' is set
      if @api_client.config.client_side_validation && drg_cluster_detail.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster_detail' when calling DRGClusterDetailApi.update_drg_cluster_detail"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}/details/{drgClusterDetailKey}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s)).sub('{' + 'drgClusterDetailKey' + '}', CGI.escape(drg_cluster_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterDetailApi.update_drg_cluster_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterDetailApi#update_drg_cluster_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
