=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DRGScheduleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DRGSchedule
    # Creates a new DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [DRGSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [DRGScheduleVBAResponse]
    def create_drg_schedule(vbasoftware_database, drg_schedule, opts = {})
      data, _status_code, _headers = create_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts)
      data
    end

    # Create DRGSchedule
    # Creates a new DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [DRGSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGScheduleVBAResponse, Integer, Hash)>] DRGScheduleVBAResponse data, response status code and response headers
    def create_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.create_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.create_drg_schedule"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGScheduleApi.create_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.create_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#create_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DRGSchedule
    # Deletes an DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drg_schedule(vbasoftware_database, drg_schedule, opts = {})
      delete_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts)
      nil
    end

    # Delete DRGSchedule
    # Deletes an DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.delete_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.delete_drg_schedule"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGScheduleApi.delete_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.delete_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#delete_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DRGSchedule
    # Gets DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param [Hash] opts the optional parameters
    # @return [DRGScheduleVBAResponse]
    def get_drg_schedule(vbasoftware_database, drg_schedule, opts = {})
      data, _status_code, _headers = get_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts)
      data
    end

    # Get DRGSchedule
    # Gets DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGScheduleVBAResponse, Integer, Hash)>] DRGScheduleVBAResponse data, response status code and response headers
    def get_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.get_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.get_drg_schedule"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGScheduleApi.get_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.get_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#get_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DRGSchedule
    # List all DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DRGScheduleListVBAResponse]
    def list_drg_schedule(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_drg_schedule_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DRGSchedule
    # List all DRGSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DRGScheduleListVBAResponse, Integer, Hash)>] DRGScheduleListVBAResponse data, response status code and response headers
    def list_drg_schedule_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.list_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.list_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGScheduleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.list_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#list_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DRGSchedule
    # Create or Update multiple DRGSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [Array<DRGSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drg_schedule(vbasoftware_database, drg_schedule, opts = {})
      data, _status_code, _headers = update_batch_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts)
      data
    end

    # Create or Update Batch DRGSchedule
    # Create or Update multiple DRGSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [Array<DRGSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.update_batch_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.update_batch_drg_schedule"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGScheduleApi.update_batch_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.update_batch_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#update_batch_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DRGSchedule
    # Updates a specific DRGSchedule.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_schedule2 [DRGSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [DRGScheduleVBAResponse]
    def update_drg_schedule(vbasoftware_database, drg_schedule, drg_schedule2, opts = {})
      data, _status_code, _headers = update_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, drg_schedule2, opts)
      data
    end

    # Update DRGSchedule
    # Updates a specific DRGSchedule.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_schedule2 [DRGSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGScheduleVBAResponse, Integer, Hash)>] DRGScheduleVBAResponse data, response status code and response headers
    def update_drg_schedule_with_http_info(vbasoftware_database, drg_schedule, drg_schedule2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGScheduleApi.update_drg_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGScheduleApi.update_drg_schedule"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGScheduleApi.update_drg_schedule"
      end
      # verify the required parameter 'drg_schedule2' is set
      if @api_client.config.client_side_validation && drg_schedule2.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule2' when calling DRGScheduleApi.update_drg_schedule"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_schedule2)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGScheduleApi.update_drg_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGScheduleApi#update_drg_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
