=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DRGCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DRGCodes
    # Creates a new DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param drg_codes [DRGCodes] 
    # @param [Hash] opts the optional parameters
    # @return [DRGCodesVBAResponse]
    def create_drg_codes(vbasoftware_database, drg_codes, opts = {})
      data, _status_code, _headers = create_drg_codes_with_http_info(vbasoftware_database, drg_codes, opts)
      data
    end

    # Create DRGCodes
    # Creates a new DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param drg_codes [DRGCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGCodesVBAResponse, Integer, Hash)>] DRGCodesVBAResponse data, response status code and response headers
    def create_drg_codes_with_http_info(vbasoftware_database, drg_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGCodesApi.create_drg_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGCodesApi.create_drg_codes"
      end
      # verify the required parameter 'drg_codes' is set
      if @api_client.config.client_side_validation && drg_codes.nil?
        fail ArgumentError, "Missing the required parameter 'drg_codes' when calling DRGCodesApi.create_drg_codes"
      end
      # resource path
      local_var_path = '/drg-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGCodesApi.create_drg_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGCodesApi#create_drg_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DRGCodes
    # Deletes an DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drg_codes(vbasoftware_database, d_rg_code, opts = {})
      delete_drg_codes_with_http_info(vbasoftware_database, d_rg_code, opts)
      nil
    end

    # Delete DRGCodes
    # Deletes an DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drg_codes_with_http_info(vbasoftware_database, d_rg_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGCodesApi.delete_drg_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGCodesApi.delete_drg_codes"
      end
      # verify the required parameter 'd_rg_code' is set
      if @api_client.config.client_side_validation && d_rg_code.nil?
        fail ArgumentError, "Missing the required parameter 'd_rg_code' when calling DRGCodesApi.delete_drg_codes"
      end
      # resource path
      local_var_path = '/drg-codes/{dRGCode}'.sub('{' + 'dRGCode' + '}', CGI.escape(d_rg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGCodesApi.delete_drg_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGCodesApi#delete_drg_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DRGCodes
    # Gets DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @return [DRGCodesVBAResponse]
    def get_drg_codes(vbasoftware_database, d_rg_code, opts = {})
      data, _status_code, _headers = get_drg_codes_with_http_info(vbasoftware_database, d_rg_code, opts)
      data
    end

    # Get DRGCodes
    # Gets DRGCodes
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGCodesVBAResponse, Integer, Hash)>] DRGCodesVBAResponse data, response status code and response headers
    def get_drg_codes_with_http_info(vbasoftware_database, d_rg_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGCodesApi.get_drg_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGCodesApi.get_drg_codes"
      end
      # verify the required parameter 'd_rg_code' is set
      if @api_client.config.client_side_validation && d_rg_code.nil?
        fail ArgumentError, "Missing the required parameter 'd_rg_code' when calling DRGCodesApi.get_drg_codes"
      end
      # resource path
      local_var_path = '/drg-codes/{dRGCode}'.sub('{' + 'dRGCode' + '}', CGI.escape(d_rg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGCodesApi.get_drg_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGCodesApi#get_drg_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DRGCodes
    # Create or Update multiple DRGCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_codes [Array<DRGCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drg_codes(vbasoftware_database, drg_codes, opts = {})
      data, _status_code, _headers = update_batch_drg_codes_with_http_info(vbasoftware_database, drg_codes, opts)
      data
    end

    # Create or Update Batch DRGCodes
    # Create or Update multiple DRGCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_codes [Array<DRGCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drg_codes_with_http_info(vbasoftware_database, drg_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGCodesApi.update_batch_drg_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGCodesApi.update_batch_drg_codes"
      end
      # verify the required parameter 'drg_codes' is set
      if @api_client.config.client_side_validation && drg_codes.nil?
        fail ArgumentError, "Missing the required parameter 'drg_codes' when calling DRGCodesApi.update_batch_drg_codes"
      end
      # resource path
      local_var_path = '/drg-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGCodesApi.update_batch_drg_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGCodesApi#update_batch_drg_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DRGCodes
    # Updates a specific DRGCodes.
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param drg_codes [DRGCodes] 
    # @param [Hash] opts the optional parameters
    # @return [DRGCodesVBAResponse]
    def update_drg_codes(vbasoftware_database, d_rg_code, drg_codes, opts = {})
      data, _status_code, _headers = update_drg_codes_with_http_info(vbasoftware_database, d_rg_code, drg_codes, opts)
      data
    end

    # Update DRGCodes
    # Updates a specific DRGCodes.
    # @param vbasoftware_database [String] Target database
    # @param d_rg_code [String] DRG Code
    # @param drg_codes [DRGCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGCodesVBAResponse, Integer, Hash)>] DRGCodesVBAResponse data, response status code and response headers
    def update_drg_codes_with_http_info(vbasoftware_database, d_rg_code, drg_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGCodesApi.update_drg_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGCodesApi.update_drg_codes"
      end
      # verify the required parameter 'd_rg_code' is set
      if @api_client.config.client_side_validation && d_rg_code.nil?
        fail ArgumentError, "Missing the required parameter 'd_rg_code' when calling DRGCodesApi.update_drg_codes"
      end
      # verify the required parameter 'drg_codes' is set
      if @api_client.config.client_side_validation && drg_codes.nil?
        fail ArgumentError, "Missing the required parameter 'drg_codes' when calling DRGCodesApi.update_drg_codes"
      end
      # resource path
      local_var_path = '/drg-codes/{dRGCode}'.sub('{' + 'dRGCode' + '}', CGI.escape(d_rg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGCodesApi.update_drg_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGCodesApi#update_drg_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
