=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DRGWeightApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DRGWeight
    # Creates a new DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param drg_weight [DRGWeight] 
    # @param [Hash] opts the optional parameters
    # @return [DRGWeightVBAResponse]
    def create_drg_weight(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts = {})
      data, _status_code, _headers = create_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts)
      data
    end

    # Create DRGWeight
    # Creates a new DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param drg_weight [DRGWeight] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGWeightVBAResponse, Integer, Hash)>] DRGWeightVBAResponse data, response status code and response headers
    def create_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.create_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.create_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.create_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.create_drg_weight"
      end
      # verify the required parameter 'drg_weight' is set
      if @api_client.config.client_side_validation && drg_weight.nil?
        fail ArgumentError, "Missing the required parameter 'drg_weight' when calling DRGWeightApi.create_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_weight)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGWeightVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.create_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#create_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DRGWeight
    # Deletes an DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drg_weight(vbasoftware_database, drg_schedule, drg_code, effective_date, opts = {})
      delete_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, opts)
      nil
    end

    # Delete DRGWeight
    # Deletes an DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.delete_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.delete_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.delete_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.delete_drg_weight"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DRGWeightApi.delete_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights/{effectiveDate}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.delete_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#delete_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DRGWeight
    # Gets DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [DRGWeightVBAResponse]
    def get_drg_weight(vbasoftware_database, drg_schedule, drg_code, effective_date, opts = {})
      data, _status_code, _headers = get_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, opts)
      data
    end

    # Get DRGWeight
    # Gets DRGWeight
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGWeightVBAResponse, Integer, Hash)>] DRGWeightVBAResponse data, response status code and response headers
    def get_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.get_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.get_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.get_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.get_drg_weight"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DRGWeightApi.get_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights/{effectiveDate}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGWeightVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.get_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#get_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DRGWeights
    # List DRGWeights for a specific DRG Schedule and DRG Code
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DRGWeightListVBAResponse]
    def list_drg_weight(vbasoftware_database, drg_schedule, drg_code, opts = {})
      data, _status_code, _headers = list_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, opts)
      data
    end

    # List DRGWeights
    # List DRGWeights for a specific DRG Schedule and DRG Code
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DRGWeightListVBAResponse, Integer, Hash)>] DRGWeightListVBAResponse data, response status code and response headers
    def list_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.list_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.list_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.list_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.list_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGWeightListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.list_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#list_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DRGWeight
    # Create or Update multiple DRGWeight at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param drg_weight [Array<DRGWeight>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drg_weight(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts = {})
      data, _status_code, _headers = update_batch_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts)
      data
    end

    # Create or Update Batch DRGWeight
    # Create or Update multiple DRGWeight at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param drg_weight [Array<DRGWeight>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, drg_weight, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.update_batch_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.update_batch_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.update_batch_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.update_batch_drg_weight"
      end
      # verify the required parameter 'drg_weight' is set
      if @api_client.config.client_side_validation && drg_weight.nil?
        fail ArgumentError, "Missing the required parameter 'drg_weight' when calling DRGWeightApi.update_batch_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights-batch'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_weight)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.update_batch_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#update_batch_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DRGWeight
    # Updates a specific DRGWeight.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param drg_weight [DRGWeight] 
    # @param [Hash] opts the optional parameters
    # @return [DRGWeightVBAResponse]
    def update_drg_weight(vbasoftware_database, drg_schedule, drg_code, effective_date, drg_weight, opts = {})
      data, _status_code, _headers = update_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, drg_weight, opts)
      data
    end

    # Update DRGWeight
    # Updates a specific DRGWeight.
    # @param vbasoftware_database [String] Target database
    # @param drg_schedule [String] DRG Schedule
    # @param drg_code [String] DRG Code
    # @param effective_date [Time] Effective Date
    # @param drg_weight [DRGWeight] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGWeightVBAResponse, Integer, Hash)>] DRGWeightVBAResponse data, response status code and response headers
    def update_drg_weight_with_http_info(vbasoftware_database, drg_schedule, drg_code, effective_date, drg_weight, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGWeightApi.update_drg_weight ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGWeightApi.update_drg_weight"
      end
      # verify the required parameter 'drg_schedule' is set
      if @api_client.config.client_side_validation && drg_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'drg_schedule' when calling DRGWeightApi.update_drg_weight"
      end
      # verify the required parameter 'drg_code' is set
      if @api_client.config.client_side_validation && drg_code.nil?
        fail ArgumentError, "Missing the required parameter 'drg_code' when calling DRGWeightApi.update_drg_weight"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling DRGWeightApi.update_drg_weight"
      end
      # verify the required parameter 'drg_weight' is set
      if @api_client.config.client_side_validation && drg_weight.nil?
        fail ArgumentError, "Missing the required parameter 'drg_weight' when calling DRGWeightApi.update_drg_weight"
      end
      # resource path
      local_var_path = '/drg-schedules/{drgSchedule}/drg-codes/{drgCode}/drg-weights/{effectiveDate}'.sub('{' + 'drgSchedule' + '}', CGI.escape(drg_schedule.to_s)).sub('{' + 'drgCode' + '}', CGI.escape(drg_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_weight)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGWeightVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGWeightApi.update_drg_weight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGWeightApi#update_drg_weight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
