=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DRGClusterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DRGCluster
    # Creates a new DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [DRGCluster] 
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterVBAResponse]
    def create_drg_cluster(vbasoftware_database, drg_cluster, opts = {})
      data, _status_code, _headers = create_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts)
      data
    end

    # Create DRGCluster
    # Creates a new DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [DRGCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterVBAResponse, Integer, Hash)>] DRGClusterVBAResponse data, response status code and response headers
    def create_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.create_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.create_drg_cluster"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterApi.create_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.create_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#create_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DRGCluster
    # Deletes an DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drg_cluster(vbasoftware_database, drg_cluster, opts = {})
      delete_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts)
      nil
    end

    # Delete DRGCluster
    # Deletes an DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.delete_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.delete_drg_cluster"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterApi.delete_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.delete_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#delete_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DRGCluster
    # Gets DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterVBAResponse]
    def get_drg_cluster(vbasoftware_database, drg_cluster, opts = {})
      data, _status_code, _headers = get_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts)
      data
    end

    # Get DRGCluster
    # Gets DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterVBAResponse, Integer, Hash)>] DRGClusterVBAResponse data, response status code and response headers
    def get_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.get_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.get_drg_cluster"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterApi.get_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.get_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#get_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DRGCluster
    # List all DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DRGClusterListVBAResponse]
    def list_drg_cluster(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_drg_cluster_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DRGCluster
    # List all DRGCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DRGClusterListVBAResponse, Integer, Hash)>] DRGClusterListVBAResponse data, response status code and response headers
    def list_drg_cluster_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.list_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.list_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.list_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#list_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch DRGCluster
    # Updates multiple DRGClusters
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [Array<DRGCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drg_cluster(vbasoftware_database, drg_cluster, opts = {})
      data, _status_code, _headers = update_batch_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts)
      data
    end

    # Update Batch DRGCluster
    # Updates multiple DRGClusters
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [Array<DRGCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.update_batch_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.update_batch_drg_cluster"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterApi.update_batch_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.update_batch_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#update_batch_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DRGCluster
    # Updates a specific DRGCluster.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster2 [DRGCluster] 
    # @param [Hash] opts the optional parameters
    # @return [DRGClusterVBAResponse]
    def update_drg_cluster(vbasoftware_database, drg_cluster, drg_cluster2, opts = {})
      data, _status_code, _headers = update_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, drg_cluster2, opts)
      data
    end

    # Update DRGCluster
    # Updates a specific DRGCluster.
    # @param vbasoftware_database [String] Target database
    # @param drg_cluster [String] DRG Cluster
    # @param drg_cluster2 [DRGCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DRGClusterVBAResponse, Integer, Hash)>] DRGClusterVBAResponse data, response status code and response headers
    def update_drg_cluster_with_http_info(vbasoftware_database, drg_cluster, drg_cluster2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DRGClusterApi.update_drg_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DRGClusterApi.update_drg_cluster"
      end
      # verify the required parameter 'drg_cluster' is set
      if @api_client.config.client_side_validation && drg_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster' when calling DRGClusterApi.update_drg_cluster"
      end
      # verify the required parameter 'drg_cluster2' is set
      if @api_client.config.client_side_validation && drg_cluster2.nil?
        fail ArgumentError, "Missing the required parameter 'drg_cluster2' when calling DRGClusterApi.update_drg_cluster"
      end
      # resource path
      local_var_path = '/drg-clusters/{drgCluster}'.sub('{' + 'drgCluster' + '}', CGI.escape(drg_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drg_cluster2)

      # return_type
      return_type = opts[:debug_return_type] || 'DRGClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DRGClusterApi.update_drg_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DRGClusterApi#update_drg_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
