=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DrugCodeUnitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DrugCodeUnit
    # Creates a new DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [DrugCodeUnit] 
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeUnitVBAResponse]
    def create_drug_code_unit(vbasoftware_database, drug_code_unit, opts = {})
      data, _status_code, _headers = create_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts)
      data
    end

    # Create DrugCodeUnit
    # Creates a new DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [DrugCodeUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeUnitVBAResponse, Integer, Hash)>] DrugCodeUnitVBAResponse data, response status code and response headers
    def create_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.create_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.create_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit' is set
      if @api_client.config.client_side_validation && drug_code_unit.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit' when calling DrugCodeUnitsApi.create_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.create_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#create_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DrugCodeUnit
    # Deletes an DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drug_code_unit(vbasoftware_database, drug_code_unit, opts = {})
      delete_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts)
      nil
    end

    # Delete DrugCodeUnit
    # Deletes an DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.delete_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.delete_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit' is set
      if @api_client.config.client_side_validation && drug_code_unit.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit' when calling DrugCodeUnitsApi.delete_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units/{drugCodeUnit}'.sub('{' + 'drugCodeUnit' + '}', CGI.escape(drug_code_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.delete_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#delete_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DrugCodeUnit
    # Gets DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeUnitVBAResponse]
    def get_drug_code_unit(vbasoftware_database, drug_code_unit, opts = {})
      data, _status_code, _headers = get_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts)
      data
    end

    # Get DrugCodeUnit
    # Gets DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeUnitVBAResponse, Integer, Hash)>] DrugCodeUnitVBAResponse data, response status code and response headers
    def get_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.get_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.get_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit' is set
      if @api_client.config.client_side_validation && drug_code_unit.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit' when calling DrugCodeUnitsApi.get_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units/{drugCodeUnit}'.sub('{' + 'drugCodeUnit' + '}', CGI.escape(drug_code_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.get_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#get_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DrugCodeUnit
    # Lists all DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DrugCodeUnitListVBAResponse]
    def list_drug_code_unit(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_drug_code_unit_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DrugCodeUnit
    # Lists all DrugCodeUnit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DrugCodeUnitListVBAResponse, Integer, Hash)>] DrugCodeUnitListVBAResponse data, response status code and response headers
    def list_drug_code_unit_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.list_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.list_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeUnitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.list_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#list_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DrugCodeUnit
    # Create or Update multiple DrugCodeUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [Array<DrugCodeUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drug_code_unit(vbasoftware_database, drug_code_unit, opts = {})
      data, _status_code, _headers = update_batch_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts)
      data
    end

    # Create or Update Batch DrugCodeUnit
    # Create or Update multiple DrugCodeUnit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [Array<DrugCodeUnit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.update_batch_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.update_batch_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit' is set
      if @api_client.config.client_side_validation && drug_code_unit.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit' when calling DrugCodeUnitsApi.update_batch_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.update_batch_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#update_batch_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DrugCodeUnit
    # Updates a specific DrugCodeUnit.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param drug_code_unit2 [DrugCodeUnit] 
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeUnitVBAResponse]
    def update_drug_code_unit(vbasoftware_database, drug_code_unit, drug_code_unit2, opts = {})
      data, _status_code, _headers = update_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, drug_code_unit2, opts)
      data
    end

    # Update DrugCodeUnit
    # Updates a specific DrugCodeUnit.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_unit [String] DrugCode Unit
    # @param drug_code_unit2 [DrugCodeUnit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeUnitVBAResponse, Integer, Hash)>] DrugCodeUnitVBAResponse data, response status code and response headers
    def update_drug_code_unit_with_http_info(vbasoftware_database, drug_code_unit, drug_code_unit2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodeUnitsApi.update_drug_code_unit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodeUnitsApi.update_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit' is set
      if @api_client.config.client_side_validation && drug_code_unit.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit' when calling DrugCodeUnitsApi.update_drug_code_unit"
      end
      # verify the required parameter 'drug_code_unit2' is set
      if @api_client.config.client_side_validation && drug_code_unit2.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_unit2' when calling DrugCodeUnitsApi.update_drug_code_unit"
      end
      # resource path
      local_var_path = '/drug-code-units/{drugCodeUnit}'.sub('{' + 'drugCodeUnit' + '}', CGI.escape(drug_code_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code_unit2)

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeUnitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodeUnitsApi.update_drug_code_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodeUnitsApi#update_drug_code_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
