=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DrugCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DrugCode
    # Creates a new DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code [DrugCode] 
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeVBAResponse]
    def create_drug_code(vbasoftware_database, drug_code, opts = {})
      data, _status_code, _headers = create_drug_code_with_http_info(vbasoftware_database, drug_code, opts)
      data
    end

    # Create DrugCode
    # Creates a new DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code [DrugCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeVBAResponse, Integer, Hash)>] DrugCodeVBAResponse data, response status code and response headers
    def create_drug_code_with_http_info(vbasoftware_database, drug_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.create_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.create_drug_code"
      end
      # verify the required parameter 'drug_code' is set
      if @api_client.config.client_side_validation && drug_code.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code' when calling DrugCodesApi.create_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code)

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.create_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#create_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DrugCode
    # Deletes an DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_drug_code(vbasoftware_database, drug_code_key, opts = {})
      delete_drug_code_with_http_info(vbasoftware_database, drug_code_key, opts)
      nil
    end

    # Delete DrugCode
    # Deletes an DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_drug_code_with_http_info(vbasoftware_database, drug_code_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.delete_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.delete_drug_code"
      end
      # verify the required parameter 'drug_code_key' is set
      if @api_client.config.client_side_validation && drug_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_key' when calling DrugCodesApi.delete_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes/{drugCodeKey}'.sub('{' + 'drugCodeKey' + '}', CGI.escape(drug_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.delete_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#delete_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DrugCode
    # Gets DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeVBAResponse]
    def get_drug_code(vbasoftware_database, drug_code_key, opts = {})
      data, _status_code, _headers = get_drug_code_with_http_info(vbasoftware_database, drug_code_key, opts)
      data
    end

    # Get DrugCode
    # Gets DrugCode
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeVBAResponse, Integer, Hash)>] DrugCodeVBAResponse data, response status code and response headers
    def get_drug_code_with_http_info(vbasoftware_database, drug_code_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.get_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.get_drug_code"
      end
      # verify the required parameter 'drug_code_key' is set
      if @api_client.config.client_side_validation && drug_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_key' when calling DrugCodesApi.get_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes/{drugCodeKey}'.sub('{' + 'drugCodeKey' + '}', CGI.escape(drug_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.get_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#get_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DrugCode
    # Lists all DrugCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DrugCodeListVBAResponse]
    def list_drug_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_drug_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DrugCode
    # Lists all DrugCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DrugCodeListVBAResponse, Integer, Hash)>] DrugCodeListVBAResponse data, response status code and response headers
    def list_drug_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.list_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.list_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.list_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#list_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DrugCode
    # Create or Update multiple DrugCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drug_code [Array<DrugCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_drug_code(vbasoftware_database, drug_code, opts = {})
      data, _status_code, _headers = update_batch_drug_code_with_http_info(vbasoftware_database, drug_code, opts)
      data
    end

    # Create or Update Batch DrugCode
    # Create or Update multiple DrugCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param drug_code [Array<DrugCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_drug_code_with_http_info(vbasoftware_database, drug_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.update_batch_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.update_batch_drug_code"
      end
      # verify the required parameter 'drug_code' is set
      if @api_client.config.client_side_validation && drug_code.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code' when calling DrugCodesApi.update_batch_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.update_batch_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#update_batch_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DrugCode
    # Updates a specific DrugCode.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param drug_code [DrugCode] 
    # @param [Hash] opts the optional parameters
    # @return [DrugCodeVBAResponse]
    def update_drug_code(vbasoftware_database, drug_code_key, drug_code, opts = {})
      data, _status_code, _headers = update_drug_code_with_http_info(vbasoftware_database, drug_code_key, drug_code, opts)
      data
    end

    # Update DrugCode
    # Updates a specific DrugCode.
    # @param vbasoftware_database [String] Target database
    # @param drug_code_key [Integer] DrugCode Key
    # @param drug_code [DrugCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DrugCodeVBAResponse, Integer, Hash)>] DrugCodeVBAResponse data, response status code and response headers
    def update_drug_code_with_http_info(vbasoftware_database, drug_code_key, drug_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DrugCodesApi.update_drug_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DrugCodesApi.update_drug_code"
      end
      # verify the required parameter 'drug_code_key' is set
      if @api_client.config.client_side_validation && drug_code_key.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code_key' when calling DrugCodesApi.update_drug_code"
      end
      # verify the required parameter 'drug_code' is set
      if @api_client.config.client_side_validation && drug_code.nil?
        fail ArgumentError, "Missing the required parameter 'drug_code' when calling DrugCodesApi.update_drug_code"
      end
      # resource path
      local_var_path = '/drug-codes/{drugCodeKey}'.sub('{' + 'drugCodeKey' + '}', CGI.escape(drug_code_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(drug_code)

      # return_type
      return_type = opts[:debug_return_type] || 'DrugCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DrugCodesApi.update_drug_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DrugCodesApi#update_drug_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
