=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DuplicateColumnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DuplicateColumn
    # Creates a new DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column [DuplicateColumn] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateColumnVBAResponse]
    def create_duplicate_column(vbasoftware_database, duplicate_column, opts = {})
      data, _status_code, _headers = create_duplicate_column_with_http_info(vbasoftware_database, duplicate_column, opts)
      data
    end

    # Create DuplicateColumn
    # Creates a new DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column [DuplicateColumn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateColumnVBAResponse, Integer, Hash)>] DuplicateColumnVBAResponse data, response status code and response headers
    def create_duplicate_column_with_http_info(vbasoftware_database, duplicate_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.create_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.create_duplicate_column"
      end
      # verify the required parameter 'duplicate_column' is set
      if @api_client.config.client_side_validation && duplicate_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column' when calling DuplicateColumnsApi.create_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_column)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.create_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#create_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DuplicateColumn
    # Deletes an DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_duplicate_column(vbasoftware_database, duplicate_column_key, opts = {})
      delete_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, opts)
      nil
    end

    # Delete DuplicateColumn
    # Deletes an DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.delete_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.delete_duplicate_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateColumnsApi.delete_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns/{duplicateColumnKey}'.sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.delete_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#delete_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DuplicateColumn
    # Gets DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [DuplicateColumnVBAResponse]
    def get_duplicate_column(vbasoftware_database, duplicate_column_key, opts = {})
      data, _status_code, _headers = get_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, opts)
      data
    end

    # Get DuplicateColumn
    # Gets DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateColumnVBAResponse, Integer, Hash)>] DuplicateColumnVBAResponse data, response status code and response headers
    def get_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.get_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.get_duplicate_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateColumnsApi.get_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns/{duplicateColumnKey}'.sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.get_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#get_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DuplicateColumn
    # Lists all DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DuplicateColumnListVBAResponse]
    def list_duplicate_column(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_duplicate_column_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DuplicateColumn
    # Lists all DuplicateColumn
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DuplicateColumnListVBAResponse, Integer, Hash)>] DuplicateColumnListVBAResponse data, response status code and response headers
    def list_duplicate_column_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.list_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.list_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateColumnListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.list_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#list_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DuplicateColumn
    # Create or Update multiple DuplicateColumn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column [Array<DuplicateColumn>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_duplicate_column(vbasoftware_database, duplicate_column, opts = {})
      data, _status_code, _headers = update_batch_duplicate_column_with_http_info(vbasoftware_database, duplicate_column, opts)
      data
    end

    # Create or Update Batch DuplicateColumn
    # Create or Update multiple DuplicateColumn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column [Array<DuplicateColumn>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_duplicate_column_with_http_info(vbasoftware_database, duplicate_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.update_batch_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.update_batch_duplicate_column"
      end
      # verify the required parameter 'duplicate_column' is set
      if @api_client.config.client_side_validation && duplicate_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column' when calling DuplicateColumnsApi.update_batch_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_column)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.update_batch_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#update_batch_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DuplicateColumn
    # Updates a specific DuplicateColumn.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param duplicate_column [DuplicateColumn] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateColumnVBAResponse]
    def update_duplicate_column(vbasoftware_database, duplicate_column_key, duplicate_column, opts = {})
      data, _status_code, _headers = update_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, duplicate_column, opts)
      data
    end

    # Update DuplicateColumn
    # Updates a specific DuplicateColumn.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param duplicate_column [DuplicateColumn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateColumnVBAResponse, Integer, Hash)>] DuplicateColumnVBAResponse data, response status code and response headers
    def update_duplicate_column_with_http_info(vbasoftware_database, duplicate_column_key, duplicate_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateColumnsApi.update_duplicate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateColumnsApi.update_duplicate_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateColumnsApi.update_duplicate_column"
      end
      # verify the required parameter 'duplicate_column' is set
      if @api_client.config.client_side_validation && duplicate_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column' when calling DuplicateColumnsApi.update_duplicate_column"
      end
      # resource path
      local_var_path = '/duplicate-columns/{duplicateColumnKey}'.sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_column)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateColumnsApi.update_duplicate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateColumnsApi#update_duplicate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
