=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DuplicateSetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DuplicateSet
    # Creates a new DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set [DuplicateSet] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetVBAResponse]
    def create_duplicate_set(vbasoftware_database, duplicate_set, opts = {})
      data, _status_code, _headers = create_duplicate_set_with_http_info(vbasoftware_database, duplicate_set, opts)
      data
    end

    # Create DuplicateSet
    # Creates a new DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set [DuplicateSet] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetVBAResponse, Integer, Hash)>] DuplicateSetVBAResponse data, response status code and response headers
    def create_duplicate_set_with_http_info(vbasoftware_database, duplicate_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.create_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.create_duplicate_set"
      end
      # verify the required parameter 'duplicate_set' is set
      if @api_client.config.client_side_validation && duplicate_set.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set' when calling DuplicateSetsApi.create_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.create_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#create_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DuplicateSet
    # Deletes an DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_duplicate_set(vbasoftware_database, duplicate_set_key, opts = {})
      delete_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, opts)
      nil
    end

    # Delete DuplicateSet
    # Deletes an DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.delete_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.delete_duplicate_set"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetsApi.delete_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.delete_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#delete_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DuplicateSet
    # Gets DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetVBAResponse]
    def get_duplicate_set(vbasoftware_database, duplicate_set_key, opts = {})
      data, _status_code, _headers = get_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, opts)
      data
    end

    # Get DuplicateSet
    # Gets DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetVBAResponse, Integer, Hash)>] DuplicateSetVBAResponse data, response status code and response headers
    def get_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.get_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.get_duplicate_set"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetsApi.get_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.get_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#get_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DuplicateSet
    # Lists all DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DuplicateSetListVBAResponse]
    def list_duplicate_set(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_duplicate_set_with_http_info(vbasoftware_database, opts)
      data
    end

    # List DuplicateSet
    # Lists all DuplicateSet
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DuplicateSetListVBAResponse, Integer, Hash)>] DuplicateSetListVBAResponse data, response status code and response headers
    def list_duplicate_set_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.list_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.list_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.list_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#list_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DuplicateSet
    # Create or Update multiple DuplicateSet at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set [Array<DuplicateSet>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_duplicate_set(vbasoftware_database, duplicate_set, opts = {})
      data, _status_code, _headers = update_batch_duplicate_set_with_http_info(vbasoftware_database, duplicate_set, opts)
      data
    end

    # Create or Update Batch DuplicateSet
    # Create or Update multiple DuplicateSet at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set [Array<DuplicateSet>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_duplicate_set_with_http_info(vbasoftware_database, duplicate_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.update_batch_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.update_batch_duplicate_set"
      end
      # verify the required parameter 'duplicate_set' is set
      if @api_client.config.client_side_validation && duplicate_set.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set' when calling DuplicateSetsApi.update_batch_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.update_batch_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#update_batch_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DuplicateSet
    # Updates a specific DuplicateSet.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set [DuplicateSet] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetVBAResponse]
    def update_duplicate_set(vbasoftware_database, duplicate_set_key, duplicate_set, opts = {})
      data, _status_code, _headers = update_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set, opts)
      data
    end

    # Update DuplicateSet
    # Updates a specific DuplicateSet.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set [DuplicateSet] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetVBAResponse, Integer, Hash)>] DuplicateSetVBAResponse data, response status code and response headers
    def update_duplicate_set_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetsApi.update_duplicate_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetsApi.update_duplicate_set"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetsApi.update_duplicate_set"
      end
      # verify the required parameter 'duplicate_set' is set
      if @api_client.config.client_side_validation && duplicate_set.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set' when calling DuplicateSetsApi.update_duplicate_set"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetsApi.update_duplicate_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetsApi#update_duplicate_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
