=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class DuplicateSetColumnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DuplicateSetColumn
    # Creates a new DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set_column [DuplicateSetColumn] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetColumnVBAResponse]
    def create_duplicate_set_column(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts = {})
      data, _status_code, _headers = create_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts)
      data
    end

    # Create DuplicateSetColumn
    # Creates a new DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set_column [DuplicateSetColumn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetColumnVBAResponse, Integer, Hash)>] DuplicateSetColumnVBAResponse data, response status code and response headers
    def create_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.create_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.create_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.create_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_column' is set
      if @api_client.config.client_side_validation && duplicate_set_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_column' when calling DuplicateSetColumnsApi.create_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set_column)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.create_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#create_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DuplicateSetColumn
    # Deletes an DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_duplicate_set_column(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts = {})
      delete_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts)
      nil
    end

    # Delete DuplicateSetColumn
    # Deletes an DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.delete_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.delete_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.delete_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateSetColumnsApi.delete_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns/{duplicateColumnKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s)).sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.delete_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#delete_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DuplicateSetColumn
    # Gets DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetColumnVBAResponse]
    def get_duplicate_set_column(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts = {})
      data, _status_code, _headers = get_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts)
      data
    end

    # Get DuplicateSetColumn
    # Gets DuplicateSetColumn
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetColumnVBAResponse, Integer, Hash)>] DuplicateSetColumnVBAResponse data, response status code and response headers
    def get_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.get_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.get_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.get_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateSetColumnsApi.get_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns/{duplicateColumnKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s)).sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.get_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#get_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DuplicateSetColumn
    # Lists all DuplicateSetColumn for the given duplicateSetKey
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [DuplicateSetColumnListVBAResponse]
    def list_duplicate_set_column(vbasoftware_database, duplicate_set_key, opts = {})
      data, _status_code, _headers = list_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, opts)
      data
    end

    # List DuplicateSetColumn
    # Lists all DuplicateSetColumn for the given duplicateSetKey
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(DuplicateSetColumnListVBAResponse, Integer, Hash)>] DuplicateSetColumnListVBAResponse data, response status code and response headers
    def list_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.list_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.list_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.list_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetColumnListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.list_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#list_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DuplicateSetColumn
    # Create or Update multiple DuplicateSetColumn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set_column [Array<DuplicateSetColumn>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_duplicate_set_column(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts = {})
      data, _status_code, _headers = update_batch_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts)
      data
    end

    # Create or Update Batch DuplicateSetColumn
    # Create or Update multiple DuplicateSetColumn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_set_column [Array<DuplicateSetColumn>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_set_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.update_batch_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.update_batch_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.update_batch_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_column' is set
      if @api_client.config.client_side_validation && duplicate_set_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_column' when calling DuplicateSetColumnsApi.update_batch_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns-batch'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set_column)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.update_batch_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#update_batch_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DuplicateSetColumn
    # Updates a specific DuplicateSetColumn.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param duplicate_set_column [DuplicateSetColumn] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateSetColumnVBAResponse]
    def update_duplicate_set_column(vbasoftware_database, duplicate_set_key, duplicate_column_key, duplicate_set_column, opts = {})
      data, _status_code, _headers = update_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, duplicate_set_column, opts)
      data
    end

    # Update DuplicateSetColumn
    # Updates a specific DuplicateSetColumn.
    # @param vbasoftware_database [String] Target database
    # @param duplicate_set_key [Integer] DuplicateSet Key
    # @param duplicate_column_key [Integer] DuplicateColumn Key
    # @param duplicate_set_column [DuplicateSetColumn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateSetColumnVBAResponse, Integer, Hash)>] DuplicateSetColumnVBAResponse data, response status code and response headers
    def update_duplicate_set_column_with_http_info(vbasoftware_database, duplicate_set_key, duplicate_column_key, duplicate_set_column, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicateSetColumnsApi.update_duplicate_set_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling DuplicateSetColumnsApi.update_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_key' is set
      if @api_client.config.client_side_validation && duplicate_set_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_key' when calling DuplicateSetColumnsApi.update_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_column_key' is set
      if @api_client.config.client_side_validation && duplicate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_column_key' when calling DuplicateSetColumnsApi.update_duplicate_set_column"
      end
      # verify the required parameter 'duplicate_set_column' is set
      if @api_client.config.client_side_validation && duplicate_set_column.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_set_column' when calling DuplicateSetColumnsApi.update_duplicate_set_column"
      end
      # resource path
      local_var_path = '/duplicate-sets/{duplicateSetKey}/columns/{duplicateColumnKey}'.sub('{' + 'duplicateSetKey' + '}', CGI.escape(duplicate_set_key.to_s)).sub('{' + 'duplicateColumnKey' + '}', CGI.escape(duplicate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_set_column)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateSetColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicateSetColumnsApi.update_duplicate_set_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicateSetColumnsApi#update_duplicate_set_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
