=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EDICustomFieldValueClaimsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EDICustomFieldValueClaim
    # Creates a new EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim [EDICustomFieldValueClaim] 
    # @param [Hash] opts the optional parameters
    # @return [EDICustomFieldValueClaimVBAResponse]
    def create_edi_custom_field_value_claim(vbasoftware_database, edi_custom_field_value_claim, opts = {})
      data, _status_code, _headers = create_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim, opts)
      data
    end

    # Create EDICustomFieldValueClaim
    # Creates a new EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim [EDICustomFieldValueClaim] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EDICustomFieldValueClaimVBAResponse, Integer, Hash)>] EDICustomFieldValueClaimVBAResponse data, response status code and response headers
    def create_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.create_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.create_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim' when calling EDICustomFieldValueClaimsApi.create_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edi_custom_field_value_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'EDICustomFieldValueClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.create_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#create_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EDICustomFieldValueClaim
    # Deletes an EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_edi_custom_field_value_claim(vbasoftware_database, edi_custom_field_value_claim_key, opts = {})
      delete_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, opts)
      nil
    end

    # Delete EDICustomFieldValueClaim
    # Deletes an EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.delete_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.delete_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim_key' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim_key' when calling EDICustomFieldValueClaimsApi.delete_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims/{EDICustomFieldValueClaim_Key}'.sub('{' + 'EDICustomFieldValueClaim_Key' + '}', CGI.escape(edi_custom_field_value_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.delete_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#delete_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EDICustomFieldValueClaim
    # Gets EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param [Hash] opts the optional parameters
    # @return [EDICustomFieldValueClaimVBAResponse]
    def get_edi_custom_field_value_claim(vbasoftware_database, edi_custom_field_value_claim_key, opts = {})
      data, _status_code, _headers = get_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, opts)
      data
    end

    # Get EDICustomFieldValueClaim
    # Gets EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(EDICustomFieldValueClaimVBAResponse, Integer, Hash)>] EDICustomFieldValueClaimVBAResponse data, response status code and response headers
    def get_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.get_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.get_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim_key' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim_key' when calling EDICustomFieldValueClaimsApi.get_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims/{EDICustomFieldValueClaim_Key}'.sub('{' + 'EDICustomFieldValueClaim_Key' + '}', CGI.escape(edi_custom_field_value_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EDICustomFieldValueClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.get_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#get_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EDICustomFieldValueClaim
    # Lists all EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EDICustomFieldValueClaimListVBAResponse]
    def list_edi_custom_field_value_claim(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_edi_custom_field_value_claim_with_http_info(vbasoftware_database, opts)
      data
    end

    # List EDICustomFieldValueClaim
    # Lists all EDICustomFieldValueClaim
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EDICustomFieldValueClaimListVBAResponse, Integer, Hash)>] EDICustomFieldValueClaimListVBAResponse data, response status code and response headers
    def list_edi_custom_field_value_claim_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.list_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.list_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EDICustomFieldValueClaimListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.list_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#list_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EDICustomFieldValueClaim
    # Create or Update multiple EDICustomFieldValueClaim at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim [Array<EDICustomFieldValueClaim>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_edi_custom_field_value_claim(vbasoftware_database, edi_custom_field_value_claim, opts = {})
      data, _status_code, _headers = update_batch_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim, opts)
      data
    end

    # Create or Update Batch EDICustomFieldValueClaim
    # Create or Update multiple EDICustomFieldValueClaim at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim [Array<EDICustomFieldValueClaim>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.update_batch_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.update_batch_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim' when calling EDICustomFieldValueClaimsApi.update_batch_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edi_custom_field_value_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.update_batch_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#update_batch_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EDICustomFieldValueClaim
    # Updates a specific EDICustomFieldValueClaim.
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param edi_custom_field_value_claim [EDICustomFieldValueClaim] 
    # @param [Hash] opts the optional parameters
    # @return [EDICustomFieldValueClaimVBAResponse]
    def update_edi_custom_field_value_claim(vbasoftware_database, edi_custom_field_value_claim_key, edi_custom_field_value_claim, opts = {})
      data, _status_code, _headers = update_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, edi_custom_field_value_claim, opts)
      data
    end

    # Update EDICustomFieldValueClaim
    # Updates a specific EDICustomFieldValueClaim.
    # @param vbasoftware_database [String] Target database
    # @param edi_custom_field_value_claim_key [Integer] EDICustomFieldValueClaim Key
    # @param edi_custom_field_value_claim [EDICustomFieldValueClaim] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EDICustomFieldValueClaimVBAResponse, Integer, Hash)>] EDICustomFieldValueClaimVBAResponse data, response status code and response headers
    def update_edi_custom_field_value_claim_with_http_info(vbasoftware_database, edi_custom_field_value_claim_key, edi_custom_field_value_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EDICustomFieldValueClaimsApi.update_edi_custom_field_value_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EDICustomFieldValueClaimsApi.update_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim_key' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim_key' when calling EDICustomFieldValueClaimsApi.update_edi_custom_field_value_claim"
      end
      # verify the required parameter 'edi_custom_field_value_claim' is set
      if @api_client.config.client_side_validation && edi_custom_field_value_claim.nil?
        fail ArgumentError, "Missing the required parameter 'edi_custom_field_value_claim' when calling EDICustomFieldValueClaimsApi.update_edi_custom_field_value_claim"
      end
      # resource path
      local_var_path = '/edi-custom-field-value-claims/{EDICustomFieldValueClaim_Key}'.sub('{' + 'EDICustomFieldValueClaim_Key' + '}', CGI.escape(edi_custom_field_value_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edi_custom_field_value_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'EDICustomFieldValueClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EDICustomFieldValueClaimsApi.update_edi_custom_field_value_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EDICustomFieldValueClaimsApi#update_edi_custom_field_value_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
