=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EligibilityStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EligibilityStatus
    # Creates a new EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [EligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [EligibilityStatusVBAResponse]
    def create_eligibility_status(vbasoftware_database, eligibility_status, opts = {})
      data, _status_code, _headers = create_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts)
      data
    end

    # Create EligibilityStatus
    # Creates a new EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [EligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EligibilityStatusVBAResponse, Integer, Hash)>] EligibilityStatusVBAResponse data, response status code and response headers
    def create_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.create_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.create_eligibility_status"
      end
      # verify the required parameter 'eligibility_status' is set
      if @api_client.config.client_side_validation && eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status' when calling EligibilityStatusApi.create_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(eligibility_status)

      # return_type
      return_type = opts[:debug_return_type] || 'EligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.create_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#create_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EligibilityStatus
    # Deletes an EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_eligibility_status(vbasoftware_database, eligibility_status, opts = {})
      delete_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts)
      nil
    end

    # Delete EligibilityStatus
    # Deletes an EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.delete_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.delete_eligibility_status"
      end
      # verify the required parameter 'eligibility_status' is set
      if @api_client.config.client_side_validation && eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status' when calling EligibilityStatusApi.delete_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses/{eligibilityStatus}'.sub('{' + 'eligibilityStatus' + '}', CGI.escape(eligibility_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.delete_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#delete_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EligibilityStatus
    # Gets EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param [Hash] opts the optional parameters
    # @return [EligibilityStatusVBAResponse]
    def get_eligibility_status(vbasoftware_database, eligibility_status, opts = {})
      data, _status_code, _headers = get_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts)
      data
    end

    # Get EligibilityStatus
    # Gets EligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(EligibilityStatusVBAResponse, Integer, Hash)>] EligibilityStatusVBAResponse data, response status code and response headers
    def get_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.get_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.get_eligibility_status"
      end
      # verify the required parameter 'eligibility_status' is set
      if @api_client.config.client_side_validation && eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status' when calling EligibilityStatusApi.get_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses/{eligibilityStatus}'.sub('{' + 'eligibilityStatus' + '}', CGI.escape(eligibility_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.get_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#get_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EligibilityStatus
    # Lists all EligibilityStatus for the given eligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EligibilityStatusListVBAResponse]
    def list_eligibility_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_eligibility_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List EligibilityStatus
    # Lists all EligibilityStatus for the given eligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EligibilityStatusListVBAResponse, Integer, Hash)>] EligibilityStatusListVBAResponse data, response status code and response headers
    def list_eligibility_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.list_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.list_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EligibilityStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.list_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#list_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EligibilityStatus
    # Create or Update multiple EligibilityStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [Array<EligibilityStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_eligibility_status(vbasoftware_database, eligibility_status, opts = {})
      data, _status_code, _headers = update_batch_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts)
      data
    end

    # Create or Update Batch EligibilityStatus
    # Create or Update multiple EligibilityStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [Array<EligibilityStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.update_batch_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.update_batch_eligibility_status"
      end
      # verify the required parameter 'eligibility_status' is set
      if @api_client.config.client_side_validation && eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status' when calling EligibilityStatusApi.update_batch_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(eligibility_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.update_batch_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#update_batch_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EligibilityStatus
    # Updates a specific EligibilityStatus.
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param eligibility_status2 [EligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [EligibilityStatusVBAResponse]
    def update_eligibility_status(vbasoftware_database, eligibility_status, eligibility_status2, opts = {})
      data, _status_code, _headers = update_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, eligibility_status2, opts)
      data
    end

    # Update EligibilityStatus
    # Updates a specific EligibilityStatus.
    # @param vbasoftware_database [String] Target database
    # @param eligibility_status [String] Eligibility Status
    # @param eligibility_status2 [EligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EligibilityStatusVBAResponse, Integer, Hash)>] EligibilityStatusVBAResponse data, response status code and response headers
    def update_eligibility_status_with_http_info(vbasoftware_database, eligibility_status, eligibility_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EligibilityStatusApi.update_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EligibilityStatusApi.update_eligibility_status"
      end
      # verify the required parameter 'eligibility_status' is set
      if @api_client.config.client_side_validation && eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status' when calling EligibilityStatusApi.update_eligibility_status"
      end
      # verify the required parameter 'eligibility_status2' is set
      if @api_client.config.client_side_validation && eligibility_status2.nil?
        fail ArgumentError, "Missing the required parameter 'eligibility_status2' when calling EligibilityStatusApi.update_eligibility_status"
      end
      # resource path
      local_var_path = '/eligibility-statuses/{eligibilityStatus}'.sub('{' + 'eligibilityStatus' + '}', CGI.escape(eligibility_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(eligibility_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'EligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EligibilityStatusApi.update_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EligibilityStatusApi#update_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
