=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EnrollmentWaitingPeriodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EnrollmentWaitingPeriod
    # Creates a new EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period [EnrollmentWaitingPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentWaitingPeriodVBAResponse]
    def create_enrollment_waiting_period(vbasoftware_database, enrollment_waiting_period, opts = {})
      data, _status_code, _headers = create_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period, opts)
      data
    end

    # Create EnrollmentWaitingPeriod
    # Creates a new EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period [EnrollmentWaitingPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentWaitingPeriodVBAResponse, Integer, Hash)>] EnrollmentWaitingPeriodVBAResponse data, response status code and response headers
    def create_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.create_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.create_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period' when calling EnrollmentWaitingPeriodsApi.create_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enrollment_waiting_period)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentWaitingPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.create_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#create_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EnrollmentWaitingPeriod
    # Deletes an EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_enrollment_waiting_period(vbasoftware_database, enrollment_waiting_period_key, opts = {})
      delete_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, opts)
      nil
    end

    # Delete EnrollmentWaitingPeriod
    # Deletes an EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.delete_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.delete_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period_key' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period_key' when calling EnrollmentWaitingPeriodsApi.delete_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods/{enrollmentWaitingPeriodKey}'.sub('{' + 'enrollmentWaitingPeriodKey' + '}', CGI.escape(enrollment_waiting_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.delete_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#delete_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EnrollmentWaitingPeriod
    # Gets EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentWaitingPeriodVBAResponse]
    def get_enrollment_waiting_period(vbasoftware_database, enrollment_waiting_period_key, opts = {})
      data, _status_code, _headers = get_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, opts)
      data
    end

    # Get EnrollmentWaitingPeriod
    # Gets EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentWaitingPeriodVBAResponse, Integer, Hash)>] EnrollmentWaitingPeriodVBAResponse data, response status code and response headers
    def get_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.get_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.get_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period_key' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period_key' when calling EnrollmentWaitingPeriodsApi.get_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods/{enrollmentWaitingPeriodKey}'.sub('{' + 'enrollmentWaitingPeriodKey' + '}', CGI.escape(enrollment_waiting_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentWaitingPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.get_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#get_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EnrollmentWaitingPeriod
    # Lists all EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EnrollmentWaitingPeriodListVBAResponse]
    def list_enrollment_waiting_period(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_enrollment_waiting_period_with_http_info(vbasoftware_database, opts)
      data
    end

    # List EnrollmentWaitingPeriod
    # Lists all EnrollmentWaitingPeriod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EnrollmentWaitingPeriodListVBAResponse, Integer, Hash)>] EnrollmentWaitingPeriodListVBAResponse data, response status code and response headers
    def list_enrollment_waiting_period_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.list_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.list_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentWaitingPeriodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.list_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#list_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EnrollmentWaitingPeriod
    # Create or Update multiple EnrollmentWaitingPeriod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period [Array<EnrollmentWaitingPeriod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_enrollment_waiting_period(vbasoftware_database, enrollment_waiting_period, opts = {})
      data, _status_code, _headers = update_batch_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period, opts)
      data
    end

    # Create or Update Batch EnrollmentWaitingPeriod
    # Create or Update multiple EnrollmentWaitingPeriod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period [Array<EnrollmentWaitingPeriod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.update_batch_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.update_batch_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period' when calling EnrollmentWaitingPeriodsApi.update_batch_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enrollment_waiting_period)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.update_batch_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#update_batch_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EnrollmentWaitingPeriod
    # Updates a specific EnrollmentWaitingPeriod.
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param enrollment_waiting_period [EnrollmentWaitingPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentWaitingPeriodVBAResponse]
    def update_enrollment_waiting_period(vbasoftware_database, enrollment_waiting_period_key, enrollment_waiting_period, opts = {})
      data, _status_code, _headers = update_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, enrollment_waiting_period, opts)
      data
    end

    # Update EnrollmentWaitingPeriod
    # Updates a specific EnrollmentWaitingPeriod.
    # @param vbasoftware_database [String] Target database
    # @param enrollment_waiting_period_key [Integer] EnrollmentWaitingPeriod Key
    # @param enrollment_waiting_period [EnrollmentWaitingPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentWaitingPeriodVBAResponse, Integer, Hash)>] EnrollmentWaitingPeriodVBAResponse data, response status code and response headers
    def update_enrollment_waiting_period_with_http_info(vbasoftware_database, enrollment_waiting_period_key, enrollment_waiting_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentWaitingPeriodsApi.update_enrollment_waiting_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EnrollmentWaitingPeriodsApi.update_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period_key' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period_key' when calling EnrollmentWaitingPeriodsApi.update_enrollment_waiting_period"
      end
      # verify the required parameter 'enrollment_waiting_period' is set
      if @api_client.config.client_side_validation && enrollment_waiting_period.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_waiting_period' when calling EnrollmentWaitingPeriodsApi.update_enrollment_waiting_period"
      end
      # resource path
      local_var_path = '/enrollment-waiting-periods/{enrollmentWaitingPeriodKey}'.sub('{' + 'enrollmentWaitingPeriodKey' + '}', CGI.escape(enrollment_waiting_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enrollment_waiting_period)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentWaitingPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EnrollmentWaitingPeriodsApi.update_enrollment_waiting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentWaitingPeriodsApi#update_enrollment_waiting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
