=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EthnicityCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EthnicityCode
    # Creates a new EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [EthnicityCode] 
    # @param [Hash] opts the optional parameters
    # @return [EthnicityCodeVBAResponse]
    def create_ethnicity_code(vbasoftware_database, ethnicity_code, opts = {})
      data, _status_code, _headers = create_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts)
      data
    end

    # Create EthnicityCode
    # Creates a new EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [EthnicityCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EthnicityCodeVBAResponse, Integer, Hash)>] EthnicityCodeVBAResponse data, response status code and response headers
    def create_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.create_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.create_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code' is set
      if @api_client.config.client_side_validation && ethnicity_code.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code' when calling EthnicityCodesApi.create_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ethnicity_code)

      # return_type
      return_type = opts[:debug_return_type] || 'EthnicityCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.create_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#create_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EthnicityCode
    # Deletes an EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ethnicity_code(vbasoftware_database, ethnicity_code, opts = {})
      delete_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts)
      nil
    end

    # Delete EthnicityCode
    # Deletes an EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.delete_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.delete_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code' is set
      if @api_client.config.client_side_validation && ethnicity_code.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code' when calling EthnicityCodesApi.delete_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes/{ethnicityCode}'.sub('{' + 'ethnicityCode' + '}', CGI.escape(ethnicity_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.delete_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#delete_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EthnicityCode
    # Gets EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param [Hash] opts the optional parameters
    # @return [EthnicityCodeVBAResponse]
    def get_ethnicity_code(vbasoftware_database, ethnicity_code, opts = {})
      data, _status_code, _headers = get_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts)
      data
    end

    # Get EthnicityCode
    # Gets EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(EthnicityCodeVBAResponse, Integer, Hash)>] EthnicityCodeVBAResponse data, response status code and response headers
    def get_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.get_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.get_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code' is set
      if @api_client.config.client_side_validation && ethnicity_code.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code' when calling EthnicityCodesApi.get_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes/{ethnicityCode}'.sub('{' + 'ethnicityCode' + '}', CGI.escape(ethnicity_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EthnicityCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.get_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#get_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EthnicityCode
    # Lists all EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EthnicityCodeListVBAResponse]
    def list_ethnicity_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_ethnicity_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List EthnicityCode
    # Lists all EthnicityCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EthnicityCodeListVBAResponse, Integer, Hash)>] EthnicityCodeListVBAResponse data, response status code and response headers
    def list_ethnicity_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.list_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.list_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EthnicityCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.list_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#list_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EthnicityCode
    # Create or Update multiple EthnicityCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [Array<EthnicityCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_ethnicity_code(vbasoftware_database, ethnicity_code, opts = {})
      data, _status_code, _headers = update_batch_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts)
      data
    end

    # Create or Update Batch EthnicityCode
    # Create or Update multiple EthnicityCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [Array<EthnicityCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.update_batch_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.update_batch_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code' is set
      if @api_client.config.client_side_validation && ethnicity_code.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code' when calling EthnicityCodesApi.update_batch_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ethnicity_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.update_batch_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#update_batch_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EthnicityCode
    # Updates a specific EthnicityCode.
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param ethnicity_code2 [EthnicityCode] 
    # @param [Hash] opts the optional parameters
    # @return [EthnicityCodeVBAResponse]
    def update_ethnicity_code(vbasoftware_database, ethnicity_code, ethnicity_code2, opts = {})
      data, _status_code, _headers = update_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, ethnicity_code2, opts)
      data
    end

    # Update EthnicityCode
    # Updates a specific EthnicityCode.
    # @param vbasoftware_database [String] Target database
    # @param ethnicity_code [String] Ethnicity Code
    # @param ethnicity_code2 [EthnicityCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EthnicityCodeVBAResponse, Integer, Hash)>] EthnicityCodeVBAResponse data, response status code and response headers
    def update_ethnicity_code_with_http_info(vbasoftware_database, ethnicity_code, ethnicity_code2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EthnicityCodesApi.update_ethnicity_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EthnicityCodesApi.update_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code' is set
      if @api_client.config.client_side_validation && ethnicity_code.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code' when calling EthnicityCodesApi.update_ethnicity_code"
      end
      # verify the required parameter 'ethnicity_code2' is set
      if @api_client.config.client_side_validation && ethnicity_code2.nil?
        fail ArgumentError, "Missing the required parameter 'ethnicity_code2' when calling EthnicityCodesApi.update_ethnicity_code"
      end
      # resource path
      local_var_path = '/ethnicity-codes/{ethnicityCode}'.sub('{' + 'ethnicityCode' + '}', CGI.escape(ethnicity_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ethnicity_code2)

      # return_type
      return_type = opts[:debug_return_type] || 'EthnicityCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EthnicityCodesApi.update_ethnicity_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EthnicityCodesApi#update_ethnicity_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
