=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EventSchedulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EventSchedule
    # Creates a new EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_schedule [EventSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [EventScheduleVBAResponse]
    def create_event_schedule(vbasoftware_database, event_id, event_schedule, opts = {})
      data, _status_code, _headers = create_event_schedule_with_http_info(vbasoftware_database, event_id, event_schedule, opts)
      data
    end

    # Create EventSchedule
    # Creates a new EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_schedule [EventSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventScheduleVBAResponse, Integer, Hash)>] EventScheduleVBAResponse data, response status code and response headers
    def create_event_schedule_with_http_info(vbasoftware_database, event_id, event_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.create_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.create_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.create_event_schedule"
      end
      # verify the required parameter 'event_schedule' is set
      if @api_client.config.client_side_validation && event_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'event_schedule' when calling EventSchedulesApi.create_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'EventScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.create_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#create_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EventSchedule
    # Deletes an EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_event_schedule(vbasoftware_database, event_id, schedule_id, opts = {})
      delete_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, opts)
      nil
    end

    # Delete EventSchedule
    # Deletes an EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.delete_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.delete_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.delete_event_schedule"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling EventSchedulesApi.delete_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules/{scheduleID}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'scheduleID' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.delete_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#delete_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EventSchedule
    # Gets EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param [Hash] opts the optional parameters
    # @return [EventScheduleVBAResponse]
    def get_event_schedule(vbasoftware_database, event_id, schedule_id, opts = {})
      data, _status_code, _headers = get_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, opts)
      data
    end

    # Get EventSchedule
    # Gets EventSchedule
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventScheduleVBAResponse, Integer, Hash)>] EventScheduleVBAResponse data, response status code and response headers
    def get_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.get_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.get_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.get_event_schedule"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling EventSchedulesApi.get_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules/{scheduleID}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'scheduleID' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.get_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#get_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EventSchedule
    # Lists all EventSchedule for a given Event ID
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EventScheduleListVBAResponse]
    def list_event_schedule(vbasoftware_database, event_id, opts = {})
      data, _status_code, _headers = list_event_schedule_with_http_info(vbasoftware_database, event_id, opts)
      data
    end

    # List EventSchedule
    # Lists all EventSchedule for a given Event ID
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EventScheduleListVBAResponse, Integer, Hash)>] EventScheduleListVBAResponse data, response status code and response headers
    def list_event_schedule_with_http_info(vbasoftware_database, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.list_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.list_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.list_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventScheduleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.list_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#list_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EventSchedule
    # Create or Update multiple EventSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_schedule [Array<EventSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_event_schedule(vbasoftware_database, event_id, event_schedule, opts = {})
      data, _status_code, _headers = update_batch_event_schedule_with_http_info(vbasoftware_database, event_id, event_schedule, opts)
      data
    end

    # Create or Update Batch EventSchedule
    # Create or Update multiple EventSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_schedule [Array<EventSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_event_schedule_with_http_info(vbasoftware_database, event_id, event_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.update_batch_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.update_batch_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.update_batch_event_schedule"
      end
      # verify the required parameter 'event_schedule' is set
      if @api_client.config.client_side_validation && event_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'event_schedule' when calling EventSchedulesApi.update_batch_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules-batch'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.update_batch_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#update_batch_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EventSchedule
    # Updates a specific EventSchedule.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param event_schedule [EventSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [EventScheduleVBAResponse]
    def update_event_schedule(vbasoftware_database, event_id, schedule_id, event_schedule, opts = {})
      data, _status_code, _headers = update_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, event_schedule, opts)
      data
    end

    # Update EventSchedule
    # Updates a specific EventSchedule.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param schedule_id [Integer] Schedule ID
    # @param event_schedule [EventSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventScheduleVBAResponse, Integer, Hash)>] EventScheduleVBAResponse data, response status code and response headers
    def update_event_schedule_with_http_info(vbasoftware_database, event_id, schedule_id, event_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventSchedulesApi.update_event_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventSchedulesApi.update_event_schedule"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventSchedulesApi.update_event_schedule"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling EventSchedulesApi.update_event_schedule"
      end
      # verify the required parameter 'event_schedule' is set
      if @api_client.config.client_side_validation && event_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'event_schedule' when calling EventSchedulesApi.update_event_schedule"
      end
      # resource path
      local_var_path = '/events/{eventID}/schedules/{scheduleID}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'scheduleID' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'EventScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventSchedulesApi.update_event_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventSchedulesApi#update_event_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
