=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class EventArgsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EventArg
    # Creates a new EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_arg [EventArg] 
    # @param [Hash] opts the optional parameters
    # @return [EventArgVBAResponse]
    def create_event_arg(vbasoftware_database, event_id, event_arg, opts = {})
      data, _status_code, _headers = create_event_arg_with_http_info(vbasoftware_database, event_id, event_arg, opts)
      data
    end

    # Create EventArg
    # Creates a new EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_arg [EventArg] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventArgVBAResponse, Integer, Hash)>] EventArgVBAResponse data, response status code and response headers
    def create_event_arg_with_http_info(vbasoftware_database, event_id, event_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.create_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.create_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.create_event_arg"
      end
      # verify the required parameter 'event_arg' is set
      if @api_client.config.client_side_validation && event_arg.nil?
        fail ArgumentError, "Missing the required parameter 'event_arg' when calling EventArgsApi.create_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'EventArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.create_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#create_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete EventArg
    # Deletes an EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_event_arg(vbasoftware_database, event_id, argument_name, opts = {})
      delete_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, opts)
      nil
    end

    # Delete EventArg
    # Deletes an EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.delete_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.delete_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.delete_event_arg"
      end
      # verify the required parameter 'argument_name' is set
      if @api_client.config.client_side_validation && argument_name.nil?
        fail ArgumentError, "Missing the required parameter 'argument_name' when calling EventArgsApi.delete_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args/{argumentName}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'argumentName' + '}', CGI.escape(argument_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.delete_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#delete_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EventArg
    # Gets EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param [Hash] opts the optional parameters
    # @return [EventArgVBAResponse]
    def get_event_arg(vbasoftware_database, event_id, argument_name, opts = {})
      data, _status_code, _headers = get_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, opts)
      data
    end

    # Get EventArg
    # Gets EventArg
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventArgVBAResponse, Integer, Hash)>] EventArgVBAResponse data, response status code and response headers
    def get_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.get_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.get_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.get_event_arg"
      end
      # verify the required parameter 'argument_name' is set
      if @api_client.config.client_side_validation && argument_name.nil?
        fail ArgumentError, "Missing the required parameter 'argument_name' when calling EventArgsApi.get_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args/{argumentName}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'argumentName' + '}', CGI.escape(argument_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.get_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#get_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List EventArg
    # Lists all EventArgs for the given EventID
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [EventArgListVBAResponse]
    def list_event_arg(vbasoftware_database, event_id, opts = {})
      data, _status_code, _headers = list_event_arg_with_http_info(vbasoftware_database, event_id, opts)
      data
    end

    # List EventArg
    # Lists all EventArgs for the given EventID
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(EventArgListVBAResponse, Integer, Hash)>] EventArgListVBAResponse data, response status code and response headers
    def list_event_arg_with_http_info(vbasoftware_database, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.list_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.list_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.list_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventArgListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.list_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#list_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch EventArg
    # Create or Update multiple EventArg at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_arg [Array<EventArg>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_event_arg(vbasoftware_database, event_id, event_arg, opts = {})
      data, _status_code, _headers = update_batch_event_arg_with_http_info(vbasoftware_database, event_id, event_arg, opts)
      data
    end

    # Create or Update Batch EventArg
    # Create or Update multiple EventArg at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param event_arg [Array<EventArg>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_event_arg_with_http_info(vbasoftware_database, event_id, event_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.update_batch_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.update_batch_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.update_batch_event_arg"
      end
      # verify the required parameter 'event_arg' is set
      if @api_client.config.client_side_validation && event_arg.nil?
        fail ArgumentError, "Missing the required parameter 'event_arg' when calling EventArgsApi.update_batch_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args-batch'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.update_batch_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#update_batch_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update EventArg
    # Updates a specific EventArg.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param event_arg [EventArg] 
    # @param [Hash] opts the optional parameters
    # @return [EventArgVBAResponse]
    def update_event_arg(vbasoftware_database, event_id, argument_name, event_arg, opts = {})
      data, _status_code, _headers = update_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, event_arg, opts)
      data
    end

    # Update EventArg
    # Updates a specific EventArg.
    # @param vbasoftware_database [String] Target database
    # @param event_id [Integer] Event ID
    # @param argument_name [String] Argument Name
    # @param event_arg [EventArg] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventArgVBAResponse, Integer, Hash)>] EventArgVBAResponse data, response status code and response headers
    def update_event_arg_with_http_info(vbasoftware_database, event_id, argument_name, event_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventArgsApi.update_event_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling EventArgsApi.update_event_arg"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventArgsApi.update_event_arg"
      end
      # verify the required parameter 'argument_name' is set
      if @api_client.config.client_side_validation && argument_name.nil?
        fail ArgumentError, "Missing the required parameter 'argument_name' when calling EventArgsApi.update_event_arg"
      end
      # verify the required parameter 'event_arg' is set
      if @api_client.config.client_side_validation && event_arg.nil?
        fail ArgumentError, "Missing the required parameter 'event_arg' when calling EventArgsApi.update_event_arg"
      end
      # resource path
      local_var_path = '/events/{eventID}/args/{argumentName}'.sub('{' + 'eventID' + '}', CGI.escape(event_id.to_s)).sub('{' + 'argumentName' + '}', CGI.escape(argument_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'EventArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"EventArgsApi.update_event_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventArgsApi#update_event_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
