=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ExpenseTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ExpenseType
    # Creates a new ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [ExpenseType] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseTypeVBAResponse]
    def create_expense_type(vbasoftware_database, expense_type, opts = {})
      data, _status_code, _headers = create_expense_type_with_http_info(vbasoftware_database, expense_type, opts)
      data
    end

    # Create ExpenseType
    # Creates a new ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [ExpenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseTypeVBAResponse, Integer, Hash)>] ExpenseTypeVBAResponse data, response status code and response headers
    def create_expense_type_with_http_info(vbasoftware_database, expense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.create_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.create_expense_type"
      end
      # verify the required parameter 'expense_type' is set
      if @api_client.config.client_side_validation && expense_type.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type' when calling ExpenseTypesApi.create_expense_type"
      end
      # resource path
      local_var_path = '/expense-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expense_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.create_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#create_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ExpenseType
    # Deletes an ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_expense_type(vbasoftware_database, expense_type, opts = {})
      delete_expense_type_with_http_info(vbasoftware_database, expense_type, opts)
      nil
    end

    # Delete ExpenseType
    # Deletes an ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_expense_type_with_http_info(vbasoftware_database, expense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.delete_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.delete_expense_type"
      end
      # verify the required parameter 'expense_type' is set
      if @api_client.config.client_side_validation && expense_type.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type' when calling ExpenseTypesApi.delete_expense_type"
      end
      # resource path
      local_var_path = '/expense-types/{expenseType}'.sub('{' + 'expenseType' + '}', CGI.escape(expense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.delete_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#delete_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ExpenseType
    # Gets ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param [Hash] opts the optional parameters
    # @return [ExpenseTypeVBAResponse]
    def get_expense_type(vbasoftware_database, expense_type, opts = {})
      data, _status_code, _headers = get_expense_type_with_http_info(vbasoftware_database, expense_type, opts)
      data
    end

    # Get ExpenseType
    # Gets ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseTypeVBAResponse, Integer, Hash)>] ExpenseTypeVBAResponse data, response status code and response headers
    def get_expense_type_with_http_info(vbasoftware_database, expense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.get_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.get_expense_type"
      end
      # verify the required parameter 'expense_type' is set
      if @api_client.config.client_side_validation && expense_type.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type' when calling ExpenseTypesApi.get_expense_type"
      end
      # resource path
      local_var_path = '/expense-types/{expenseType}'.sub('{' + 'expenseType' + '}', CGI.escape(expense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.get_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#get_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ExpenseType
    # Lists all ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ExpenseTypeListVBAResponse]
    def list_expense_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_expense_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ExpenseType
    # Lists all ExpenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ExpenseTypeListVBAResponse, Integer, Hash)>] ExpenseTypeListVBAResponse data, response status code and response headers
    def list_expense_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.list_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.list_expense_type"
      end
      # resource path
      local_var_path = '/expense-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.list_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#list_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ExpenseType
    # Create or Update multiple ExpenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param expense_type [Array<ExpenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_expense_type(vbasoftware_database, expense_type, opts = {})
      data, _status_code, _headers = update_batch_expense_type_with_http_info(vbasoftware_database, expense_type, opts)
      data
    end

    # Create or Update Batch ExpenseType
    # Create or Update multiple ExpenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param expense_type [Array<ExpenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_expense_type_with_http_info(vbasoftware_database, expense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.update_batch_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.update_batch_expense_type"
      end
      # verify the required parameter 'expense_type' is set
      if @api_client.config.client_side_validation && expense_type.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type' when calling ExpenseTypesApi.update_batch_expense_type"
      end
      # resource path
      local_var_path = '/expense-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expense_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.update_batch_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#update_batch_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ExpenseType
    # Updates a specific ExpenseType.
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param expense_type2 [ExpenseType] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseTypeVBAResponse]
    def update_expense_type(vbasoftware_database, expense_type, expense_type2, opts = {})
      data, _status_code, _headers = update_expense_type_with_http_info(vbasoftware_database, expense_type, expense_type2, opts)
      data
    end

    # Update ExpenseType
    # Updates a specific ExpenseType.
    # @param vbasoftware_database [String] Target database
    # @param expense_type [String] Expense Type
    # @param expense_type2 [ExpenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseTypeVBAResponse, Integer, Hash)>] ExpenseTypeVBAResponse data, response status code and response headers
    def update_expense_type_with_http_info(vbasoftware_database, expense_type, expense_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseTypesApi.update_expense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ExpenseTypesApi.update_expense_type"
      end
      # verify the required parameter 'expense_type' is set
      if @api_client.config.client_side_validation && expense_type.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type' when calling ExpenseTypesApi.update_expense_type"
      end
      # verify the required parameter 'expense_type2' is set
      if @api_client.config.client_side_validation && expense_type2.nil?
        fail ArgumentError, "Missing the required parameter 'expense_type2' when calling ExpenseTypesApi.update_expense_type"
      end
      # resource path
      local_var_path = '/expense-types/{expenseType}'.sub('{' + 'expenseType' + '}', CGI.escape(expense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expense_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExpenseTypesApi.update_expense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseTypesApi#update_expense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
