=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FeeScheduleModifierExcludesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FeeSchedModifierExclude
    # Creates a new FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude [FeeSchedModifierExclude] 
    # @param [Hash] opts the optional parameters
    # @return [FeeSchedModifierExcludeVBAResponse]
    def create_fee_sched_modifier_exclude(vbasoftware_database, fee_sched_modifier_exclude, opts = {})
      data, _status_code, _headers = create_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude, opts)
      data
    end

    # Create FeeSchedModifierExclude
    # Creates a new FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude [FeeSchedModifierExclude] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeeSchedModifierExcludeVBAResponse, Integer, Hash)>] FeeSchedModifierExcludeVBAResponse data, response status code and response headers
    def create_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.create_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.create_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude' when calling FeeScheduleModifierExcludesApi.create_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fee_sched_modifier_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'FeeSchedModifierExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.create_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#create_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FeeSchedModifierExclude
    # Deletes an FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_fee_sched_modifier_exclude(vbasoftware_database, fee_sched_modifier_exclude_key, opts = {})
      delete_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, opts)
      nil
    end

    # Delete FeeSchedModifierExclude
    # Deletes an FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.delete_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.delete_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude_key' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude_key' when calling FeeScheduleModifierExcludesApi.delete_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes/{feeSchedModifierExcludeKey}'.sub('{' + 'feeSchedModifierExcludeKey' + '}', CGI.escape(fee_sched_modifier_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.delete_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#delete_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FeeSchedModifierExclude
    # Gets FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param [Hash] opts the optional parameters
    # @return [FeeSchedModifierExcludeVBAResponse]
    def get_fee_sched_modifier_exclude(vbasoftware_database, fee_sched_modifier_exclude_key, opts = {})
      data, _status_code, _headers = get_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, opts)
      data
    end

    # Get FeeSchedModifierExclude
    # Gets FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeeSchedModifierExcludeVBAResponse, Integer, Hash)>] FeeSchedModifierExcludeVBAResponse data, response status code and response headers
    def get_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.get_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.get_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude_key' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude_key' when calling FeeScheduleModifierExcludesApi.get_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes/{feeSchedModifierExcludeKey}'.sub('{' + 'feeSchedModifierExcludeKey' + '}', CGI.escape(fee_sched_modifier_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FeeSchedModifierExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.get_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#get_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FeeSchedModifierExclude
    # Lists all FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FeeSchedModifierExcludeListVBAResponse]
    def list_fee_sched_modifier_exclude(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FeeSchedModifierExclude
    # Lists all FeeSchedModifierExclude
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FeeSchedModifierExcludeListVBAResponse, Integer, Hash)>] FeeSchedModifierExcludeListVBAResponse data, response status code and response headers
    def list_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.list_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.list_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FeeSchedModifierExcludeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.list_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#list_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FeeSchedModifierExclude
    # Create or Update multiple FeeSchedModifierExclude at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude [Array<FeeSchedModifierExclude>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_fee_sched_modifier_exclude(vbasoftware_database, fee_sched_modifier_exclude, opts = {})
      data, _status_code, _headers = update_batch_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude, opts)
      data
    end

    # Create or Update Batch FeeSchedModifierExclude
    # Create or Update multiple FeeSchedModifierExclude at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude [Array<FeeSchedModifierExclude>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.update_batch_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.update_batch_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude' when calling FeeScheduleModifierExcludesApi.update_batch_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fee_sched_modifier_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.update_batch_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#update_batch_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FeeSchedModifierExclude
    # Updates a specific FeeSchedModifierExclude.
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param fee_sched_modifier_exclude [FeeSchedModifierExclude] 
    # @param [Hash] opts the optional parameters
    # @return [FeeSchedModifierExcludeVBAResponse]
    def update_fee_sched_modifier_exclude(vbasoftware_database, fee_sched_modifier_exclude_key, fee_sched_modifier_exclude, opts = {})
      data, _status_code, _headers = update_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, fee_sched_modifier_exclude, opts)
      data
    end

    # Update FeeSchedModifierExclude
    # Updates a specific FeeSchedModifierExclude.
    # @param vbasoftware_database [String] Target database
    # @param fee_sched_modifier_exclude_key [Integer] FeeSchedModifierExclude Key
    # @param fee_sched_modifier_exclude [FeeSchedModifierExclude] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeeSchedModifierExcludeVBAResponse, Integer, Hash)>] FeeSchedModifierExcludeVBAResponse data, response status code and response headers
    def update_fee_sched_modifier_exclude_with_http_info(vbasoftware_database, fee_sched_modifier_exclude_key, fee_sched_modifier_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeeScheduleModifierExcludesApi.update_fee_sched_modifier_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FeeScheduleModifierExcludesApi.update_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude_key' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude_key' when calling FeeScheduleModifierExcludesApi.update_fee_sched_modifier_exclude"
      end
      # verify the required parameter 'fee_sched_modifier_exclude' is set
      if @api_client.config.client_side_validation && fee_sched_modifier_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'fee_sched_modifier_exclude' when calling FeeScheduleModifierExcludesApi.update_fee_sched_modifier_exclude"
      end
      # resource path
      local_var_path = '/fee-schedule-modifier-excludes/{feeSchedModifierExcludeKey}'.sub('{' + 'feeSchedModifierExcludeKey' + '}', CGI.escape(fee_sched_modifier_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fee_sched_modifier_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'FeeSchedModifierExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeeScheduleModifierExcludesApi.update_fee_sched_modifier_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeeScheduleModifierExcludesApi#update_fee_sched_modifier_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
