=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FilterTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FilterType
    # Creates a new FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [FilterType] 
    # @param [Hash] opts the optional parameters
    # @return [FilterTypeVBAResponse]
    def create_filter_type(vbasoftware_database, filter_type, opts = {})
      data, _status_code, _headers = create_filter_type_with_http_info(vbasoftware_database, filter_type, opts)
      data
    end

    # Create FilterType
    # Creates a new FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [FilterType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterTypeVBAResponse, Integer, Hash)>] FilterTypeVBAResponse data, response status code and response headers
    def create_filter_type_with_http_info(vbasoftware_database, filter_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.create_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.create_filter_type"
      end
      # verify the required parameter 'filter_type' is set
      if @api_client.config.client_side_validation && filter_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type' when calling FilterTypesApi.create_filter_type"
      end
      # resource path
      local_var_path = '/filter-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(filter_type)

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.create_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#create_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FilterType
    # Deletes an FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_filter_type(vbasoftware_database, filter_type, opts = {})
      delete_filter_type_with_http_info(vbasoftware_database, filter_type, opts)
      nil
    end

    # Delete FilterType
    # Deletes an FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_filter_type_with_http_info(vbasoftware_database, filter_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.delete_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.delete_filter_type"
      end
      # verify the required parameter 'filter_type' is set
      if @api_client.config.client_side_validation && filter_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type' when calling FilterTypesApi.delete_filter_type"
      end
      # resource path
      local_var_path = '/filter-types/{filterType}'.sub('{' + 'filterType' + '}', CGI.escape(filter_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.delete_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#delete_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FilterType
    # Gets FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param [Hash] opts the optional parameters
    # @return [FilterTypeVBAResponse]
    def get_filter_type(vbasoftware_database, filter_type, opts = {})
      data, _status_code, _headers = get_filter_type_with_http_info(vbasoftware_database, filter_type, opts)
      data
    end

    # Get FilterType
    # Gets FilterType
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterTypeVBAResponse, Integer, Hash)>] FilterTypeVBAResponse data, response status code and response headers
    def get_filter_type_with_http_info(vbasoftware_database, filter_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.get_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.get_filter_type"
      end
      # verify the required parameter 'filter_type' is set
      if @api_client.config.client_side_validation && filter_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type' when calling FilterTypesApi.get_filter_type"
      end
      # resource path
      local_var_path = '/filter-types/{filterType}'.sub('{' + 'filterType' + '}', CGI.escape(filter_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.get_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#get_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FilterType
    # Lists all FilterType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FilterTypeListVBAResponse]
    def list_filter_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_filter_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FilterType
    # Lists all FilterType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FilterTypeListVBAResponse, Integer, Hash)>] FilterTypeListVBAResponse data, response status code and response headers
    def list_filter_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.list_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.list_filter_type"
      end
      # resource path
      local_var_path = '/filter-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.list_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#list_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FilterType
    # Create or Update multiple FilterType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param filter_type [Array<FilterType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_filter_type(vbasoftware_database, filter_type, opts = {})
      data, _status_code, _headers = update_batch_filter_type_with_http_info(vbasoftware_database, filter_type, opts)
      data
    end

    # Create or Update Batch FilterType
    # Create or Update multiple FilterType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param filter_type [Array<FilterType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_filter_type_with_http_info(vbasoftware_database, filter_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.update_batch_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.update_batch_filter_type"
      end
      # verify the required parameter 'filter_type' is set
      if @api_client.config.client_side_validation && filter_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type' when calling FilterTypesApi.update_batch_filter_type"
      end
      # resource path
      local_var_path = '/filter-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(filter_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.update_batch_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#update_batch_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FilterType
    # Updates a specific FilterType.
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param filter_type2 [FilterType] 
    # @param [Hash] opts the optional parameters
    # @return [FilterTypeVBAResponse]
    def update_filter_type(vbasoftware_database, filter_type, filter_type2, opts = {})
      data, _status_code, _headers = update_filter_type_with_http_info(vbasoftware_database, filter_type, filter_type2, opts)
      data
    end

    # Update FilterType
    # Updates a specific FilterType.
    # @param vbasoftware_database [String] Target database
    # @param filter_type [String] Filter Type
    # @param filter_type2 [FilterType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterTypeVBAResponse, Integer, Hash)>] FilterTypeVBAResponse data, response status code and response headers
    def update_filter_type_with_http_info(vbasoftware_database, filter_type, filter_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterTypesApi.update_filter_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FilterTypesApi.update_filter_type"
      end
      # verify the required parameter 'filter_type' is set
      if @api_client.config.client_side_validation && filter_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type' when calling FilterTypesApi.update_filter_type"
      end
      # verify the required parameter 'filter_type2' is set
      if @api_client.config.client_side_validation && filter_type2.nil?
        fail ArgumentError, "Missing the required parameter 'filter_type2' when calling FilterTypesApi.update_filter_type"
      end
      # resource path
      local_var_path = '/filter-types/{filterType}'.sub('{' + 'filterType' + '}', CGI.escape(filter_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(filter_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FilterTypesApi.update_filter_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterTypesApi#update_filter_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
