=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FlexIssuanceTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FlexIssuanceType
    # Creates a new FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_issuance_type [FlexIssuanceType] 
    # @param [Hash] opts the optional parameters
    # @return [FlexIssuanceTypeVBAResponse]
    def create_flex_issuance_type(vbasoftware_database, flex_vendor, flex_issuance_type, opts = {})
      data, _status_code, _headers = create_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, flex_issuance_type, opts)
      data
    end

    # Create FlexIssuanceType
    # Creates a new FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_issuance_type [FlexIssuanceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexIssuanceTypeVBAResponse, Integer, Hash)>] FlexIssuanceTypeVBAResponse data, response status code and response headers
    def create_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, flex_issuance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.create_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.create_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.create_flex_issuance_type"
      end
      # verify the required parameter 'flex_issuance_type' is set
      if @api_client.config.client_side_validation && flex_issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'flex_issuance_type' when calling FlexIssuanceTypesApi.create_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_issuance_type)

      # return_type
      return_type = opts[:debug_return_type] || 'FlexIssuanceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.create_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#create_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FlexIssuanceType
    # Deletes an FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_flex_issuance_type(vbasoftware_database, flex_vendor, issuance_type, opts = {})
      delete_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, opts)
      nil
    end

    # Delete FlexIssuanceType
    # Deletes an FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.delete_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.delete_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.delete_flex_issuance_type"
      end
      # verify the required parameter 'issuance_type' is set
      if @api_client.config.client_side_validation && issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'issuance_type' when calling FlexIssuanceTypesApi.delete_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types/{issuanceType}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'issuanceType' + '}', CGI.escape(issuance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.delete_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#delete_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FlexIssuanceType
    # Gets FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param [Hash] opts the optional parameters
    # @return [FlexIssuanceTypeVBAResponse]
    def get_flex_issuance_type(vbasoftware_database, flex_vendor, issuance_type, opts = {})
      data, _status_code, _headers = get_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, opts)
      data
    end

    # Get FlexIssuanceType
    # Gets FlexIssuanceType
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexIssuanceTypeVBAResponse, Integer, Hash)>] FlexIssuanceTypeVBAResponse data, response status code and response headers
    def get_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.get_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.get_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.get_flex_issuance_type"
      end
      # verify the required parameter 'issuance_type' is set
      if @api_client.config.client_side_validation && issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'issuance_type' when calling FlexIssuanceTypesApi.get_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types/{issuanceType}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'issuanceType' + '}', CGI.escape(issuance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlexIssuanceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.get_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#get_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FlexIssuanceType
    # Lists all FlexIssuanceType for the given flexVendor
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FlexIssuanceTypeListVBAResponse]
    def list_flex_issuance_type(vbasoftware_database, flex_vendor, opts = {})
      data, _status_code, _headers = list_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, opts)
      data
    end

    # List FlexIssuanceType
    # Lists all FlexIssuanceType for the given flexVendor
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FlexIssuanceTypeListVBAResponse, Integer, Hash)>] FlexIssuanceTypeListVBAResponse data, response status code and response headers
    def list_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.list_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.list_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.list_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlexIssuanceTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.list_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#list_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FlexIssuanceType
    # Create or Update multiple FlexIssuanceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_issuance_type [Array<FlexIssuanceType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_flex_issuance_type(vbasoftware_database, flex_vendor, flex_issuance_type, opts = {})
      data, _status_code, _headers = update_batch_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, flex_issuance_type, opts)
      data
    end

    # Create or Update Batch FlexIssuanceType
    # Create or Update multiple FlexIssuanceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_issuance_type [Array<FlexIssuanceType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, flex_issuance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.update_batch_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.update_batch_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.update_batch_flex_issuance_type"
      end
      # verify the required parameter 'flex_issuance_type' is set
      if @api_client.config.client_side_validation && flex_issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'flex_issuance_type' when calling FlexIssuanceTypesApi.update_batch_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types-batch'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_issuance_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.update_batch_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#update_batch_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FlexIssuanceType
    # Updates a specific FlexIssuanceType.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param flex_issuance_type [FlexIssuanceType] 
    # @param [Hash] opts the optional parameters
    # @return [FlexIssuanceTypeVBAResponse]
    def update_flex_issuance_type(vbasoftware_database, flex_vendor, issuance_type, flex_issuance_type, opts = {})
      data, _status_code, _headers = update_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, flex_issuance_type, opts)
      data
    end

    # Update FlexIssuanceType
    # Updates a specific FlexIssuanceType.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param issuance_type [String] Issuance Type
    # @param flex_issuance_type [FlexIssuanceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexIssuanceTypeVBAResponse, Integer, Hash)>] FlexIssuanceTypeVBAResponse data, response status code and response headers
    def update_flex_issuance_type_with_http_info(vbasoftware_database, flex_vendor, issuance_type, flex_issuance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexIssuanceTypesApi.update_flex_issuance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexIssuanceTypesApi.update_flex_issuance_type"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexIssuanceTypesApi.update_flex_issuance_type"
      end
      # verify the required parameter 'issuance_type' is set
      if @api_client.config.client_side_validation && issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'issuance_type' when calling FlexIssuanceTypesApi.update_flex_issuance_type"
      end
      # verify the required parameter 'flex_issuance_type' is set
      if @api_client.config.client_side_validation && flex_issuance_type.nil?
        fail ArgumentError, "Missing the required parameter 'flex_issuance_type' when calling FlexIssuanceTypesApi.update_flex_issuance_type"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/issuance-types/{issuanceType}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'issuanceType' + '}', CGI.escape(issuance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_issuance_type)

      # return_type
      return_type = opts[:debug_return_type] || 'FlexIssuanceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexIssuanceTypesApi.update_flex_issuance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexIssuanceTypesApi#update_flex_issuance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
