=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FlexClaimDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ClaimFlexDetail
    # Creates a new ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param claim_flex_detail [ClaimFlexDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimFlexDetailVBAResponse]
    def create_claim_flex_detail(vbasoftware_database, claim_flex_key, claim_flex_detail, opts = {})
      data, _status_code, _headers = create_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, claim_flex_detail, opts)
      data
    end

    # Create ClaimFlexDetail
    # Creates a new ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param claim_flex_detail [ClaimFlexDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimFlexDetailVBAResponse, Integer, Hash)>] ClaimFlexDetailVBAResponse data, response status code and response headers
    def create_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, claim_flex_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.create_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.create_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.create_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_detail' is set
      if @api_client.config.client_side_validation && claim_flex_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_detail' when calling FlexClaimDetailsApi.create_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_flex_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimFlexDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.create_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#create_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ClaimFlexDetail
    # Deletes an ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_claim_flex_detail(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts = {})
      delete_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts)
      nil
    end

    # Delete ClaimFlexDetail
    # Deletes an ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.delete_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.delete_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.delete_claim_flex_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling FlexClaimDetailsApi.delete_claim_flex_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling FlexClaimDetailsApi.delete_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.delete_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#delete_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ClaimFlexDetail
    # Gets ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [ClaimFlexDetailVBAResponse]
    def get_claim_flex_detail(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts = {})
      data, _status_code, _headers = get_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts)
      data
    end

    # Get ClaimFlexDetail
    # Gets ClaimFlexDetail
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimFlexDetailVBAResponse, Integer, Hash)>] ClaimFlexDetailVBAResponse data, response status code and response headers
    def get_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.get_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.get_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.get_claim_flex_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling FlexClaimDetailsApi.get_claim_flex_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling FlexClaimDetailsApi.get_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimFlexDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.get_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#get_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ClaimFlexDetail
    # Lists all ClaimFlexDetail for the given claimFlexKey
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ClaimFlexDetailListVBAResponse]
    def list_claim_flex_detail(vbasoftware_database, claim_flex_key, opts = {})
      data, _status_code, _headers = list_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, opts)
      data
    end

    # List ClaimFlexDetail
    # Lists all ClaimFlexDetail for the given claimFlexKey
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ClaimFlexDetailListVBAResponse, Integer, Hash)>] ClaimFlexDetailListVBAResponse data, response status code and response headers
    def list_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.list_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.list_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.list_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimFlexDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.list_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#list_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ClaimFlexDetail
    # Create or Update multiple ClaimFlexDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param claim_flex_detail [Array<ClaimFlexDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_claim_flex_detail(vbasoftware_database, claim_flex_key, claim_flex_detail, opts = {})
      data, _status_code, _headers = update_batch_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, claim_flex_detail, opts)
      data
    end

    # Create or Update Batch ClaimFlexDetail
    # Create or Update multiple ClaimFlexDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param claim_flex_detail [Array<ClaimFlexDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, claim_flex_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.update_batch_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.update_batch_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.update_batch_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_detail' is set
      if @api_client.config.client_side_validation && claim_flex_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_detail' when calling FlexClaimDetailsApi.update_batch_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details-batch'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_flex_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.update_batch_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#update_batch_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ClaimFlexDetail
    # Updates a specific ClaimFlexDetail.
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_flex_detail [ClaimFlexDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ClaimFlexDetailVBAResponse]
    def update_claim_flex_detail(vbasoftware_database, claim_flex_key, batch_number, batch_claim, claim_flex_detail, opts = {})
      data, _status_code, _headers = update_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, claim_flex_detail, opts)
      data
    end

    # Update ClaimFlexDetail
    # Updates a specific ClaimFlexDetail.
    # @param vbasoftware_database [String] Target database
    # @param claim_flex_key [Integer] ClaimFlex Key
    # @param batch_number [Integer] Batch Number
    # @param batch_claim [Integer] Batch Claim
    # @param claim_flex_detail [ClaimFlexDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClaimFlexDetailVBAResponse, Integer, Hash)>] ClaimFlexDetailVBAResponse data, response status code and response headers
    def update_claim_flex_detail_with_http_info(vbasoftware_database, claim_flex_key, batch_number, batch_claim, claim_flex_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexClaimDetailsApi.update_claim_flex_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexClaimDetailsApi.update_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_key' is set
      if @api_client.config.client_side_validation && claim_flex_key.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_key' when calling FlexClaimDetailsApi.update_claim_flex_detail"
      end
      # verify the required parameter 'batch_number' is set
      if @api_client.config.client_side_validation && batch_number.nil?
        fail ArgumentError, "Missing the required parameter 'batch_number' when calling FlexClaimDetailsApi.update_claim_flex_detail"
      end
      # verify the required parameter 'batch_claim' is set
      if @api_client.config.client_side_validation && batch_claim.nil?
        fail ArgumentError, "Missing the required parameter 'batch_claim' when calling FlexClaimDetailsApi.update_claim_flex_detail"
      end
      # verify the required parameter 'claim_flex_detail' is set
      if @api_client.config.client_side_validation && claim_flex_detail.nil?
        fail ArgumentError, "Missing the required parameter 'claim_flex_detail' when calling FlexClaimDetailsApi.update_claim_flex_detail"
      end
      # resource path
      local_var_path = '/flex-claims/{claimFlexKey}/details/{batchNumber}/{batchClaim}'.sub('{' + 'claimFlexKey' + '}', CGI.escape(claim_flex_key.to_s)).sub('{' + 'batchNumber' + '}', CGI.escape(batch_number.to_s)).sub('{' + 'batchClaim' + '}', CGI.escape(batch_claim.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(claim_flex_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ClaimFlexDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexClaimDetailsApi.update_claim_flex_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexClaimDetailsApi#update_claim_flex_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
