=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FlexVendorCardStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FlexVendorCardStatus
    # Creates a new FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_vendor_card_status [FlexVendorCardStatus] 
    # @param [Hash] opts the optional parameters
    # @return [FlexVendorCardStatusVBAResponse]
    def create_flex_vendor_card_status(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts = {})
      data, _status_code, _headers = create_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts)
      data
    end

    # Create FlexVendorCardStatus
    # Creates a new FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_vendor_card_status [FlexVendorCardStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexVendorCardStatusVBAResponse, Integer, Hash)>] FlexVendorCardStatusVBAResponse data, response status code and response headers
    def create_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.create_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.create_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.create_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor_card_status' is set
      if @api_client.config.client_side_validation && flex_vendor_card_status.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor_card_status' when calling FlexVendorCardStatusApi.create_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_vendor_card_status)

      # return_type
      return_type = opts[:debug_return_type] || 'FlexVendorCardStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.create_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#create_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FlexVendorCardStatus
    # Deletes an FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_flex_vendor_card_status(vbasoftware_database, flex_vendor, card_status, opts = {})
      delete_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, opts)
      nil
    end

    # Delete FlexVendorCardStatus
    # Deletes an FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.delete_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.delete_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.delete_flex_vendor_card_status"
      end
      # verify the required parameter 'card_status' is set
      if @api_client.config.client_side_validation && card_status.nil?
        fail ArgumentError, "Missing the required parameter 'card_status' when calling FlexVendorCardStatusApi.delete_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses/{cardStatus}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'cardStatus' + '}', CGI.escape(card_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.delete_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#delete_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FlexVendorCardStatus
    # Gets FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param [Hash] opts the optional parameters
    # @return [FlexVendorCardStatusVBAResponse]
    def get_flex_vendor_card_status(vbasoftware_database, flex_vendor, card_status, opts = {})
      data, _status_code, _headers = get_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, opts)
      data
    end

    # Get FlexVendorCardStatus
    # Gets FlexVendorCardStatus
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexVendorCardStatusVBAResponse, Integer, Hash)>] FlexVendorCardStatusVBAResponse data, response status code and response headers
    def get_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.get_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.get_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.get_flex_vendor_card_status"
      end
      # verify the required parameter 'card_status' is set
      if @api_client.config.client_side_validation && card_status.nil?
        fail ArgumentError, "Missing the required parameter 'card_status' when calling FlexVendorCardStatusApi.get_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses/{cardStatus}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'cardStatus' + '}', CGI.escape(card_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlexVendorCardStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.get_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#get_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FlexVendorCardStatus
    # Lists all FlexVendorCardStatus for the given flexVendor
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FlexVendorCardStatusListVBAResponse]
    def list_flex_vendor_card_status(vbasoftware_database, flex_vendor, opts = {})
      data, _status_code, _headers = list_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, opts)
      data
    end

    # List FlexVendorCardStatus
    # Lists all FlexVendorCardStatus for the given flexVendor
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FlexVendorCardStatusListVBAResponse, Integer, Hash)>] FlexVendorCardStatusListVBAResponse data, response status code and response headers
    def list_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.list_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.list_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.list_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlexVendorCardStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.list_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#list_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FlexVendorCardStatus
    # Create or Update multiple FlexVendorCardStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_vendor_card_status [Array<FlexVendorCardStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_flex_vendor_card_status(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts = {})
      data, _status_code, _headers = update_batch_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts)
      data
    end

    # Create or Update Batch FlexVendorCardStatus
    # Create or Update multiple FlexVendorCardStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param flex_vendor_card_status [Array<FlexVendorCardStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, flex_vendor_card_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.update_batch_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.update_batch_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.update_batch_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor_card_status' is set
      if @api_client.config.client_side_validation && flex_vendor_card_status.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor_card_status' when calling FlexVendorCardStatusApi.update_batch_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses-batch'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_vendor_card_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.update_batch_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#update_batch_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FlexVendorCardStatus
    # Updates a specific FlexVendorCardStatus.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param flex_vendor_card_status [FlexVendorCardStatus] 
    # @param [Hash] opts the optional parameters
    # @return [FlexVendorCardStatusVBAResponse]
    def update_flex_vendor_card_status(vbasoftware_database, flex_vendor, card_status, flex_vendor_card_status, opts = {})
      data, _status_code, _headers = update_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, flex_vendor_card_status, opts)
      data
    end

    # Update FlexVendorCardStatus
    # Updates a specific FlexVendorCardStatus.
    # @param vbasoftware_database [String] Target database
    # @param flex_vendor [String] Flex Vendor
    # @param card_status [String] Card Status
    # @param flex_vendor_card_status [FlexVendorCardStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlexVendorCardStatusVBAResponse, Integer, Hash)>] FlexVendorCardStatusVBAResponse data, response status code and response headers
    def update_flex_vendor_card_status_with_http_info(vbasoftware_database, flex_vendor, card_status, flex_vendor_card_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlexVendorCardStatusApi.update_flex_vendor_card_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FlexVendorCardStatusApi.update_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor' is set
      if @api_client.config.client_side_validation && flex_vendor.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor' when calling FlexVendorCardStatusApi.update_flex_vendor_card_status"
      end
      # verify the required parameter 'card_status' is set
      if @api_client.config.client_side_validation && card_status.nil?
        fail ArgumentError, "Missing the required parameter 'card_status' when calling FlexVendorCardStatusApi.update_flex_vendor_card_status"
      end
      # verify the required parameter 'flex_vendor_card_status' is set
      if @api_client.config.client_side_validation && flex_vendor_card_status.nil?
        fail ArgumentError, "Missing the required parameter 'flex_vendor_card_status' when calling FlexVendorCardStatusApi.update_flex_vendor_card_status"
      end
      # resource path
      local_var_path = '/flex-vendors/{flexVendor}/card-statuses/{cardStatus}'.sub('{' + 'flexVendor' + '}', CGI.escape(flex_vendor.to_s)).sub('{' + 'cardStatus' + '}', CGI.escape(card_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flex_vendor_card_status)

      # return_type
      return_type = opts[:debug_return_type] || 'FlexVendorCardStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FlexVendorCardStatusApi.update_flex_vendor_card_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlexVendorCardStatusApi#update_flex_vendor_card_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
