=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FrequencyIntervalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Frequency Interval
    # Gets a single Frequency Interval by ID
    # @param vbasoftware_database [String] Target database
    # @param id [String] ID
    # @param [Hash] opts the optional parameters
    # @return [StringStaticOptionVBAResponse]
    def get_frequency_interval(vbasoftware_database, id, opts = {})
      data, _status_code, _headers = get_frequency_interval_with_http_info(vbasoftware_database, id, opts)
      data
    end

    # Get Frequency Interval
    # Gets a single Frequency Interval by ID
    # @param vbasoftware_database [String] Target database
    # @param id [String] ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringStaticOptionVBAResponse, Integer, Hash)>] StringStaticOptionVBAResponse data, response status code and response headers
    def get_frequency_interval_with_http_info(vbasoftware_database, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FrequencyIntervalsApi.get_frequency_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FrequencyIntervalsApi.get_frequency_interval"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FrequencyIntervalsApi.get_frequency_interval"
      end
      # resource path
      local_var_path = '/frequency-intervals/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringStaticOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FrequencyIntervalsApi.get_frequency_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FrequencyIntervalsApi#get_frequency_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Frequency Intervals
    # Lists all Frequency Intervals
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [StringStaticOptionListVBAResponse]
    def list_frequency_intervals(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_frequency_intervals_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Frequency Intervals
    # Lists all Frequency Intervals
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringStaticOptionListVBAResponse, Integer, Hash)>] StringStaticOptionListVBAResponse data, response status code and response headers
    def list_frequency_intervals_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FrequencyIntervalsApi.list_frequency_intervals ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FrequencyIntervalsApi.list_frequency_intervals"
      end
      # resource path
      local_var_path = '/frequency-intervals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringStaticOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FrequencyIntervalsApi.list_frequency_intervals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FrequencyIntervalsApi#list_frequency_intervals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
