=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingReconciliationOnStatementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingReconcileOnStatement
    # Creates a new FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_on_statement [FundingReconcileOnStatement] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileOnStatementVBAResponse]
    def create_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts = {})
      data, _status_code, _headers = create_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts)
      data
    end

    # Create FundingReconcileOnStatement
    # Creates a new FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_on_statement [FundingReconcileOnStatement] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileOnStatementVBAResponse, Integer, Hash)>] FundingReconcileOnStatementVBAResponse data, response status code and response headers
    def create_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.create_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.create_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.create_funding_reconcile_on_statement"
      end
      # verify the required parameter 'funding_reconcile_on_statement' is set
      if @api_client.config.client_side_validation && funding_reconcile_on_statement.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_on_statement' when calling FundingReconciliationOnStatementsApi.create_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_on_statement)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileOnStatementVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.create_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#create_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingReconcileOnStatement
    # Deletes an FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, on_statement_key, opts = {})
      delete_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, opts)
      nil
    end

    # Delete FundingReconcileOnStatement
    # Deletes an FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.delete_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.delete_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.delete_funding_reconcile_on_statement"
      end
      # verify the required parameter 'on_statement_key' is set
      if @api_client.config.client_side_validation && on_statement_key.nil?
        fail ArgumentError, "Missing the required parameter 'on_statement_key' when calling FundingReconciliationOnStatementsApi.delete_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements/{onStatementKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'onStatementKey' + '}', CGI.escape(on_statement_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.delete_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#delete_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingReconcileOnStatement
    # Gets FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileOnStatementVBAResponse]
    def get_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, on_statement_key, opts = {})
      data, _status_code, _headers = get_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, opts)
      data
    end

    # Get FundingReconcileOnStatement
    # Gets FundingReconcileOnStatement
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileOnStatementVBAResponse, Integer, Hash)>] FundingReconcileOnStatementVBAResponse data, response status code and response headers
    def get_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.get_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.get_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.get_funding_reconcile_on_statement"
      end
      # verify the required parameter 'on_statement_key' is set
      if @api_client.config.client_side_validation && on_statement_key.nil?
        fail ArgumentError, "Missing the required parameter 'on_statement_key' when calling FundingReconciliationOnStatementsApi.get_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements/{onStatementKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'onStatementKey' + '}', CGI.escape(on_statement_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileOnStatementVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.get_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#get_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingReconcileOnStatement
    # Lists all FundingReconcileOnStatement for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingReconcileOnStatementListVBAResponse]
    def list_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, opts = {})
      data, _status_code, _headers = list_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, opts)
      data
    end

    # List FundingReconcileOnStatement
    # Lists all FundingReconcileOnStatement for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingReconcileOnStatementListVBAResponse, Integer, Hash)>] FundingReconcileOnStatementListVBAResponse data, response status code and response headers
    def list_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.list_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.list_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.list_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileOnStatementListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.list_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#list_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingReconcileOnStatement
    # Create or Update multiple FundingReconcileOnStatement at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_on_statement [Array<FundingReconcileOnStatement>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts = {})
      data, _status_code, _headers = update_batch_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts)
      data
    end

    # Create or Update Batch FundingReconcileOnStatement
    # Create or Update multiple FundingReconcileOnStatement at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_on_statement [Array<FundingReconcileOnStatement>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_on_statement, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.update_batch_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.update_batch_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.update_batch_funding_reconcile_on_statement"
      end
      # verify the required parameter 'funding_reconcile_on_statement' is set
      if @api_client.config.client_side_validation && funding_reconcile_on_statement.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_on_statement' when calling FundingReconciliationOnStatementsApi.update_batch_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements-batch'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_on_statement)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.update_batch_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#update_batch_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingReconcileOnStatement
    # Updates a specific FundingReconcileOnStatement.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param funding_reconcile_on_statement [FundingReconcileOnStatement] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileOnStatementVBAResponse]
    def update_funding_reconcile_on_statement(vbasoftware_database, reconcile_key, on_statement_key, funding_reconcile_on_statement, opts = {})
      data, _status_code, _headers = update_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, funding_reconcile_on_statement, opts)
      data
    end

    # Update FundingReconcileOnStatement
    # Updates a specific FundingReconcileOnStatement.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param on_statement_key [Integer] On Statement Key
    # @param funding_reconcile_on_statement [FundingReconcileOnStatement] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileOnStatementVBAResponse, Integer, Hash)>] FundingReconcileOnStatementVBAResponse data, response status code and response headers
    def update_funding_reconcile_on_statement_with_http_info(vbasoftware_database, reconcile_key, on_statement_key, funding_reconcile_on_statement, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement"
      end
      # verify the required parameter 'on_statement_key' is set
      if @api_client.config.client_side_validation && on_statement_key.nil?
        fail ArgumentError, "Missing the required parameter 'on_statement_key' when calling FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement"
      end
      # verify the required parameter 'funding_reconcile_on_statement' is set
      if @api_client.config.client_side_validation && funding_reconcile_on_statement.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_on_statement' when calling FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/on-statements/{onStatementKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'onStatementKey' + '}', CGI.escape(on_statement_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_on_statement)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileOnStatementVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationOnStatementsApi.update_funding_reconcile_on_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationOnStatementsApi#update_funding_reconcile_on_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
