=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingDepositsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Funding to Deposit
    # Creates Funding items and attaches them to an existing Deposit.
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param funding [Array<Funding>] 
    # @param [Hash] opts the optional parameters
    # @return [FundingDepositVBAResponse]
    def add_funding_deposit(vbasoftware_database, deposit_key, funding, opts = {})
      data, _status_code, _headers = add_funding_deposit_with_http_info(vbasoftware_database, deposit_key, funding, opts)
      data
    end

    # Add Funding to Deposit
    # Creates Funding items and attaches them to an existing Deposit.
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param funding [Array<Funding>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingDepositVBAResponse, Integer, Hash)>] FundingDepositVBAResponse data, response status code and response headers
    def add_funding_deposit_with_http_info(vbasoftware_database, deposit_key, funding, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.add_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.add_funding_deposit"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingDepositsApi.add_funding_deposit"
      end
      # verify the required parameter 'funding' is set
      if @api_client.config.client_side_validation && funding.nil?
        fail ArgumentError, "Missing the required parameter 'funding' when calling FundingDepositsApi.add_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits/{depositKey}/add-funding'.sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingDepositVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.add_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#add_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create FundingDeposit
    # Creates a new FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param funding_deposit [FundingDeposit] 
    # @param [Hash] opts the optional parameters
    # @return [FundingDepositVBAResponse]
    def create_funding_deposit(vbasoftware_database, funding_deposit, opts = {})
      data, _status_code, _headers = create_funding_deposit_with_http_info(vbasoftware_database, funding_deposit, opts)
      data
    end

    # Create FundingDeposit
    # Creates a new FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param funding_deposit [FundingDeposit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingDepositVBAResponse, Integer, Hash)>] FundingDepositVBAResponse data, response status code and response headers
    def create_funding_deposit_with_http_info(vbasoftware_database, funding_deposit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.create_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.create_funding_deposit"
      end
      # verify the required parameter 'funding_deposit' is set
      if @api_client.config.client_side_validation && funding_deposit.nil?
        fail ArgumentError, "Missing the required parameter 'funding_deposit' when calling FundingDepositsApi.create_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_deposit)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingDepositVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.create_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#create_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingDeposit
    # Deletes an FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_deposit(vbasoftware_database, deposit_key, opts = {})
      delete_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts)
      nil
    end

    # Delete FundingDeposit
    # Deletes an FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.delete_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.delete_funding_deposit"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingDepositsApi.delete_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits/{depositKey}'.sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.delete_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#delete_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingDeposit
    # Gets FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [FundingDepositVBAResponse]
    def get_funding_deposit(vbasoftware_database, deposit_key, opts = {})
      data, _status_code, _headers = get_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts)
      data
    end

    # Get FundingDeposit
    # Gets FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingDepositVBAResponse, Integer, Hash)>] FundingDepositVBAResponse data, response status code and response headers
    def get_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.get_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.get_funding_deposit"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingDepositsApi.get_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits/{depositKey}'.sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingDepositVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.get_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#get_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingDeposit
    # Lists all FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingDepositListVBAResponse]
    def list_funding_deposit(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_deposit_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingDeposit
    # Lists all FundingDeposit
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingDepositListVBAResponse, Integer, Hash)>] FundingDepositListVBAResponse data, response status code and response headers
    def list_funding_deposit_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.list_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.list_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingDepositListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.list_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#list_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingDeposit
    # Create or Update multiple FundingDeposit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_deposit [Array<FundingDeposit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_deposit(vbasoftware_database, funding_deposit, opts = {})
      data, _status_code, _headers = update_batch_funding_deposit_with_http_info(vbasoftware_database, funding_deposit, opts)
      data
    end

    # Create or Update Batch FundingDeposit
    # Create or Update multiple FundingDeposit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_deposit [Array<FundingDeposit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_deposit_with_http_info(vbasoftware_database, funding_deposit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.update_batch_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.update_batch_funding_deposit"
      end
      # verify the required parameter 'funding_deposit' is set
      if @api_client.config.client_side_validation && funding_deposit.nil?
        fail ArgumentError, "Missing the required parameter 'funding_deposit' when calling FundingDepositsApi.update_batch_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_deposit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.update_batch_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#update_batch_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingDeposit
    # Updates a specific FundingDeposit.
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param funding_deposit [FundingDeposit] 
    # @param [Hash] opts the optional parameters
    # @return [FundingDepositVBAResponse]
    def update_funding_deposit(vbasoftware_database, deposit_key, funding_deposit, opts = {})
      data, _status_code, _headers = update_funding_deposit_with_http_info(vbasoftware_database, deposit_key, funding_deposit, opts)
      data
    end

    # Update FundingDeposit
    # Updates a specific FundingDeposit.
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param funding_deposit [FundingDeposit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingDepositVBAResponse, Integer, Hash)>] FundingDepositVBAResponse data, response status code and response headers
    def update_funding_deposit_with_http_info(vbasoftware_database, deposit_key, funding_deposit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.update_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.update_funding_deposit"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingDepositsApi.update_funding_deposit"
      end
      # verify the required parameter 'funding_deposit' is set
      if @api_client.config.client_side_validation && funding_deposit.nil?
        fail ArgumentError, "Missing the required parameter 'funding_deposit' when calling FundingDepositsApi.update_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits/{depositKey}'.sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_deposit)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingDepositVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.update_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#update_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Void FundingDeposit
    # Deletes an FundingDeposit entry and changes the associated Funding items back to unassigned (not part of any deposit).
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def void_funding_deposit(vbasoftware_database, deposit_key, opts = {})
      void_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts)
      nil
    end

    # Void FundingDeposit
    # Deletes an FundingDeposit entry and changes the associated Funding items back to unassigned (not part of any deposit).
    # @param vbasoftware_database [String] Target database
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def void_funding_deposit_with_http_info(vbasoftware_database, deposit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingDepositsApi.void_funding_deposit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingDepositsApi.void_funding_deposit"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingDepositsApi.void_funding_deposit"
      end
      # resource path
      local_var_path = '/funding-deposits/{depositKey}/void-deposit'.sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingDepositsApi.void_funding_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingDepositsApi#void_funding_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
