=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingStatementFormatsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingStatementFormat
    # Creates a new FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param funding_statement_format [FundingStatementFormat] 
    # @param [Hash] opts the optional parameters
    # @return [FundingStatementFormatVBAResponse]
    def create_funding_statement_format(vbasoftware_database, funding_statement_format, opts = {})
      data, _status_code, _headers = create_funding_statement_format_with_http_info(vbasoftware_database, funding_statement_format, opts)
      data
    end

    # Create FundingStatementFormat
    # Creates a new FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param funding_statement_format [FundingStatementFormat] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatementFormatVBAResponse, Integer, Hash)>] FundingStatementFormatVBAResponse data, response status code and response headers
    def create_funding_statement_format_with_http_info(vbasoftware_database, funding_statement_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.create_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.create_funding_statement_format"
      end
      # verify the required parameter 'funding_statement_format' is set
      if @api_client.config.client_side_validation && funding_statement_format.nil?
        fail ArgumentError, "Missing the required parameter 'funding_statement_format' when calling FundingStatementFormatsApi.create_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_statement_format)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatementFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.create_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#create_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingStatementFormat
    # Deletes an FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_statement_format(vbasoftware_database, statement_format_key, opts = {})
      delete_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, opts)
      nil
    end

    # Delete FundingStatementFormat
    # Deletes an FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.delete_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.delete_funding_statement_format"
      end
      # verify the required parameter 'statement_format_key' is set
      if @api_client.config.client_side_validation && statement_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'statement_format_key' when calling FundingStatementFormatsApi.delete_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats/{statementFormatKey}'.sub('{' + 'statementFormatKey' + '}', CGI.escape(statement_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.delete_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#delete_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingStatementFormat
    # Gets FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param [Hash] opts the optional parameters
    # @return [FundingStatementFormatVBAResponse]
    def get_funding_statement_format(vbasoftware_database, statement_format_key, opts = {})
      data, _status_code, _headers = get_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, opts)
      data
    end

    # Get FundingStatementFormat
    # Gets FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatementFormatVBAResponse, Integer, Hash)>] FundingStatementFormatVBAResponse data, response status code and response headers
    def get_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.get_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.get_funding_statement_format"
      end
      # verify the required parameter 'statement_format_key' is set
      if @api_client.config.client_side_validation && statement_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'statement_format_key' when calling FundingStatementFormatsApi.get_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats/{statementFormatKey}'.sub('{' + 'statementFormatKey' + '}', CGI.escape(statement_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatementFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.get_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#get_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingStatementFormat
    # Lists all FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingStatementFormatListVBAResponse]
    def list_funding_statement_format(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_statement_format_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingStatementFormat
    # Lists all FundingStatementFormat
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingStatementFormatListVBAResponse, Integer, Hash)>] FundingStatementFormatListVBAResponse data, response status code and response headers
    def list_funding_statement_format_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.list_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.list_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatementFormatListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.list_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#list_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingStatementFormat
    # Create or Update multiple FundingStatementFormat at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_statement_format [Array<FundingStatementFormat>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_statement_format(vbasoftware_database, funding_statement_format, opts = {})
      data, _status_code, _headers = update_batch_funding_statement_format_with_http_info(vbasoftware_database, funding_statement_format, opts)
      data
    end

    # Create or Update Batch FundingStatementFormat
    # Create or Update multiple FundingStatementFormat at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_statement_format [Array<FundingStatementFormat>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_statement_format_with_http_info(vbasoftware_database, funding_statement_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.update_batch_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.update_batch_funding_statement_format"
      end
      # verify the required parameter 'funding_statement_format' is set
      if @api_client.config.client_side_validation && funding_statement_format.nil?
        fail ArgumentError, "Missing the required parameter 'funding_statement_format' when calling FundingStatementFormatsApi.update_batch_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_statement_format)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.update_batch_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#update_batch_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingStatementFormat
    # Updates a specific FundingStatementFormat.
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param funding_statement_format [FundingStatementFormat] 
    # @param [Hash] opts the optional parameters
    # @return [FundingStatementFormatVBAResponse]
    def update_funding_statement_format(vbasoftware_database, statement_format_key, funding_statement_format, opts = {})
      data, _status_code, _headers = update_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, funding_statement_format, opts)
      data
    end

    # Update FundingStatementFormat
    # Updates a specific FundingStatementFormat.
    # @param vbasoftware_database [String] Target database
    # @param statement_format_key [Integer] Statement Format Key
    # @param funding_statement_format [FundingStatementFormat] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatementFormatVBAResponse, Integer, Hash)>] FundingStatementFormatVBAResponse data, response status code and response headers
    def update_funding_statement_format_with_http_info(vbasoftware_database, statement_format_key, funding_statement_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatementFormatsApi.update_funding_statement_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatementFormatsApi.update_funding_statement_format"
      end
      # verify the required parameter 'statement_format_key' is set
      if @api_client.config.client_side_validation && statement_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'statement_format_key' when calling FundingStatementFormatsApi.update_funding_statement_format"
      end
      # verify the required parameter 'funding_statement_format' is set
      if @api_client.config.client_side_validation && funding_statement_format.nil?
        fail ArgumentError, "Missing the required parameter 'funding_statement_format' when calling FundingStatementFormatsApi.update_funding_statement_format"
      end
      # resource path
      local_var_path = '/funding-statement-formats/{statementFormatKey}'.sub('{' + 'statementFormatKey' + '}', CGI.escape(statement_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_statement_format)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatementFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatementFormatsApi.update_funding_statement_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatementFormatsApi#update_funding_statement_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
