=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingReconciliationDisbursementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingReconcileDisbursed
    # Creates a new FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_disbursed [FundingReconcileDisbursed] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileDisbursedVBAResponse]
    def create_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts = {})
      data, _status_code, _headers = create_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts)
      data
    end

    # Create FundingReconcileDisbursed
    # Creates a new FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_disbursed [FundingReconcileDisbursed] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileDisbursedVBAResponse, Integer, Hash)>] FundingReconcileDisbursedVBAResponse data, response status code and response headers
    def create_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.create_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.create_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.create_funding_reconcile_disbursed"
      end
      # verify the required parameter 'funding_reconcile_disbursed' is set
      if @api_client.config.client_side_validation && funding_reconcile_disbursed.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_disbursed' when calling FundingReconciliationDisbursementsApi.create_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_disbursed)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileDisbursedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.create_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#create_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingReconcileDisbursed
    # Deletes an FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, check_id, opts = {})
      delete_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, opts)
      nil
    end

    # Delete FundingReconcileDisbursed
    # Deletes an FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.delete_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.delete_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.delete_funding_reconcile_disbursed"
      end
      # verify the required parameter 'check_id' is set
      if @api_client.config.client_side_validation && check_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_id' when calling FundingReconciliationDisbursementsApi.delete_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements/{checkID}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'checkID' + '}', CGI.escape(check_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.delete_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#delete_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingReconcileDisbursed
    # Gets FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileDisbursedVBAResponse]
    def get_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, check_id, opts = {})
      data, _status_code, _headers = get_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, opts)
      data
    end

    # Get FundingReconcileDisbursed
    # Gets FundingReconcileDisbursed
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileDisbursedVBAResponse, Integer, Hash)>] FundingReconcileDisbursedVBAResponse data, response status code and response headers
    def get_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.get_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.get_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.get_funding_reconcile_disbursed"
      end
      # verify the required parameter 'check_id' is set
      if @api_client.config.client_side_validation && check_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_id' when calling FundingReconciliationDisbursementsApi.get_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements/{checkID}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'checkID' + '}', CGI.escape(check_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileDisbursedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.get_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#get_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingReconcileDisbursed
    # Lists all FundingReconcileDisbursed for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingReconcileDisbursedListVBAResponse]
    def list_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, opts = {})
      data, _status_code, _headers = list_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, opts)
      data
    end

    # List FundingReconcileDisbursed
    # Lists all FundingReconcileDisbursed for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingReconcileDisbursedListVBAResponse, Integer, Hash)>] FundingReconcileDisbursedListVBAResponse data, response status code and response headers
    def list_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.list_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.list_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.list_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileDisbursedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.list_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#list_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingReconcileDisbursed
    # Create or Update multiple FundingReconcileDisbursed at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_disbursed [Array<FundingReconcileDisbursed>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts = {})
      data, _status_code, _headers = update_batch_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts)
      data
    end

    # Create or Update Batch FundingReconcileDisbursed
    # Create or Update multiple FundingReconcileDisbursed at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_disbursed [Array<FundingReconcileDisbursed>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_disbursed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.update_batch_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.update_batch_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.update_batch_funding_reconcile_disbursed"
      end
      # verify the required parameter 'funding_reconcile_disbursed' is set
      if @api_client.config.client_side_validation && funding_reconcile_disbursed.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_disbursed' when calling FundingReconciliationDisbursementsApi.update_batch_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements-batch'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_disbursed)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.update_batch_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#update_batch_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingReconcileDisbursed
    # Updates a specific FundingReconcileDisbursed.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param funding_reconcile_disbursed [FundingReconcileDisbursed] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileDisbursedVBAResponse]
    def update_funding_reconcile_disbursed(vbasoftware_database, reconcile_key, check_id, funding_reconcile_disbursed, opts = {})
      data, _status_code, _headers = update_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, funding_reconcile_disbursed, opts)
      data
    end

    # Update FundingReconcileDisbursed
    # Updates a specific FundingReconcileDisbursed.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param check_id [Integer] Check ID
    # @param funding_reconcile_disbursed [FundingReconcileDisbursed] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileDisbursedVBAResponse, Integer, Hash)>] FundingReconcileDisbursedVBAResponse data, response status code and response headers
    def update_funding_reconcile_disbursed_with_http_info(vbasoftware_database, reconcile_key, check_id, funding_reconcile_disbursed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed"
      end
      # verify the required parameter 'check_id' is set
      if @api_client.config.client_side_validation && check_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_id' when calling FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed"
      end
      # verify the required parameter 'funding_reconcile_disbursed' is set
      if @api_client.config.client_side_validation && funding_reconcile_disbursed.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_disbursed' when calling FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/disbursements/{checkID}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'checkID' + '}', CGI.escape(check_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_disbursed)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileDisbursedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationDisbursementsApi.update_funding_reconcile_disbursed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationDisbursementsApi#update_funding_reconcile_disbursed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
