=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingIssueTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingIssueType
    # Creates a new FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param funding_issue_type [FundingIssueType] 
    # @param [Hash] opts the optional parameters
    # @return [FundingIssueTypeVBAResponse]
    def create_funding_issue_type(vbasoftware_database, funding_issue_type, opts = {})
      data, _status_code, _headers = create_funding_issue_type_with_http_info(vbasoftware_database, funding_issue_type, opts)
      data
    end

    # Create FundingIssueType
    # Creates a new FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param funding_issue_type [FundingIssueType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIssueTypeVBAResponse, Integer, Hash)>] FundingIssueTypeVBAResponse data, response status code and response headers
    def create_funding_issue_type_with_http_info(vbasoftware_database, funding_issue_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.create_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.create_funding_issue_type"
      end
      # verify the required parameter 'funding_issue_type' is set
      if @api_client.config.client_side_validation && funding_issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'funding_issue_type' when calling FundingIssueTypesApi.create_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_issue_type)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIssueTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.create_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#create_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingIssueType
    # Deletes an FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_issue_type(vbasoftware_database, issue_type, opts = {})
      delete_funding_issue_type_with_http_info(vbasoftware_database, issue_type, opts)
      nil
    end

    # Delete FundingIssueType
    # Deletes an FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_issue_type_with_http_info(vbasoftware_database, issue_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.delete_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.delete_funding_issue_type"
      end
      # verify the required parameter 'issue_type' is set
      if @api_client.config.client_side_validation && issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'issue_type' when calling FundingIssueTypesApi.delete_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types/{issueType}'.sub('{' + 'issueType' + '}', CGI.escape(issue_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.delete_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#delete_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingIssueType
    # Gets FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param [Hash] opts the optional parameters
    # @return [FundingIssueTypeVBAResponse]
    def get_funding_issue_type(vbasoftware_database, issue_type, opts = {})
      data, _status_code, _headers = get_funding_issue_type_with_http_info(vbasoftware_database, issue_type, opts)
      data
    end

    # Get FundingIssueType
    # Gets FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIssueTypeVBAResponse, Integer, Hash)>] FundingIssueTypeVBAResponse data, response status code and response headers
    def get_funding_issue_type_with_http_info(vbasoftware_database, issue_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.get_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.get_funding_issue_type"
      end
      # verify the required parameter 'issue_type' is set
      if @api_client.config.client_side_validation && issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'issue_type' when calling FundingIssueTypesApi.get_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types/{issueType}'.sub('{' + 'issueType' + '}', CGI.escape(issue_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIssueTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.get_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#get_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingIssueType
    # Lists all FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingIssueTypeListVBAResponse]
    def list_funding_issue_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_issue_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingIssueType
    # Lists all FundingIssueType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingIssueTypeListVBAResponse, Integer, Hash)>] FundingIssueTypeListVBAResponse data, response status code and response headers
    def list_funding_issue_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.list_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.list_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIssueTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.list_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#list_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingIssueType
    # Create or Update multiple FundingIssueType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_issue_type [Array<FundingIssueType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_issue_type(vbasoftware_database, funding_issue_type, opts = {})
      data, _status_code, _headers = update_batch_funding_issue_type_with_http_info(vbasoftware_database, funding_issue_type, opts)
      data
    end

    # Create or Update Batch FundingIssueType
    # Create or Update multiple FundingIssueType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_issue_type [Array<FundingIssueType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_issue_type_with_http_info(vbasoftware_database, funding_issue_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.update_batch_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.update_batch_funding_issue_type"
      end
      # verify the required parameter 'funding_issue_type' is set
      if @api_client.config.client_side_validation && funding_issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'funding_issue_type' when calling FundingIssueTypesApi.update_batch_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_issue_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.update_batch_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#update_batch_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingIssueType
    # Updates a specific FundingIssueType.
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param funding_issue_type [FundingIssueType] 
    # @param [Hash] opts the optional parameters
    # @return [FundingIssueTypeVBAResponse]
    def update_funding_issue_type(vbasoftware_database, issue_type, funding_issue_type, opts = {})
      data, _status_code, _headers = update_funding_issue_type_with_http_info(vbasoftware_database, issue_type, funding_issue_type, opts)
      data
    end

    # Update FundingIssueType
    # Updates a specific FundingIssueType.
    # @param vbasoftware_database [String] Target database
    # @param issue_type [String] Issue Type
    # @param funding_issue_type [FundingIssueType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIssueTypeVBAResponse, Integer, Hash)>] FundingIssueTypeVBAResponse data, response status code and response headers
    def update_funding_issue_type_with_http_info(vbasoftware_database, issue_type, funding_issue_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIssueTypesApi.update_funding_issue_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIssueTypesApi.update_funding_issue_type"
      end
      # verify the required parameter 'issue_type' is set
      if @api_client.config.client_side_validation && issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'issue_type' when calling FundingIssueTypesApi.update_funding_issue_type"
      end
      # verify the required parameter 'funding_issue_type' is set
      if @api_client.config.client_side_validation && funding_issue_type.nil?
        fail ArgumentError, "Missing the required parameter 'funding_issue_type' when calling FundingIssueTypesApi.update_funding_issue_type"
      end
      # resource path
      local_var_path = '/funding-issue-types/{issueType}'.sub('{' + 'issueType' + '}', CGI.escape(issue_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_issue_type)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIssueTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIssueTypesApi.update_funding_issue_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIssueTypesApi#update_funding_issue_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
