=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingReconciliationsReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingReconcileReceived
    # Creates a new FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_received [FundingReconcileReceived] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileReceivedVBAResponse]
    def create_funding_reconcile_received(vbasoftware_database, reconcile_key, funding_reconcile_received, opts = {})
      data, _status_code, _headers = create_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_received, opts)
      data
    end

    # Create FundingReconcileReceived
    # Creates a new FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_received [FundingReconcileReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileReceivedVBAResponse, Integer, Hash)>] FundingReconcileReceivedVBAResponse data, response status code and response headers
    def create_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.create_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.create_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.create_funding_reconcile_received"
      end
      # verify the required parameter 'funding_reconcile_received' is set
      if @api_client.config.client_side_validation && funding_reconcile_received.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_received' when calling FundingReconciliationsReceivedApi.create_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_received)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.create_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#create_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingReconcileReceived
    # Deletes an FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_reconcile_received(vbasoftware_database, reconcile_key, deposit_key, opts = {})
      delete_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, opts)
      nil
    end

    # Delete FundingReconcileReceived
    # Deletes an FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.delete_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.delete_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.delete_funding_reconcile_received"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingReconciliationsReceivedApi.delete_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits/{depositKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.delete_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#delete_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingReconcileReceived
    # Gets FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileReceivedVBAResponse]
    def get_funding_reconcile_received(vbasoftware_database, reconcile_key, deposit_key, opts = {})
      data, _status_code, _headers = get_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, opts)
      data
    end

    # Get FundingReconcileReceived
    # Gets FundingReconcileReceived
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileReceivedVBAResponse, Integer, Hash)>] FundingReconcileReceivedVBAResponse data, response status code and response headers
    def get_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.get_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.get_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.get_funding_reconcile_received"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingReconciliationsReceivedApi.get_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits/{depositKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.get_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#get_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingReconcileReceived
    # Lists all FundingReconcileReceived for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingReconcileReceivedListVBAResponse]
    def list_funding_reconcile_received(vbasoftware_database, reconcile_key, opts = {})
      data, _status_code, _headers = list_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, opts)
      data
    end

    # List FundingReconcileReceived
    # Lists all FundingReconcileReceived for the given reconcileKey
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingReconcileReceivedListVBAResponse, Integer, Hash)>] FundingReconcileReceivedListVBAResponse data, response status code and response headers
    def list_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.list_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.list_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.list_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileReceivedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.list_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#list_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingReconcileReceived
    # Create or Update multiple FundingReconcileReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_received [Array<FundingReconcileReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_reconcile_received(vbasoftware_database, reconcile_key, funding_reconcile_received, opts = {})
      data, _status_code, _headers = update_batch_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_received, opts)
      data
    end

    # Create or Update Batch FundingReconcileReceived
    # Create or Update multiple FundingReconcileReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param funding_reconcile_received [Array<FundingReconcileReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, funding_reconcile_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.update_batch_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.update_batch_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.update_batch_funding_reconcile_received"
      end
      # verify the required parameter 'funding_reconcile_received' is set
      if @api_client.config.client_side_validation && funding_reconcile_received.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_received' when calling FundingReconciliationsReceivedApi.update_batch_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits-batch'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_received)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.update_batch_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#update_batch_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingReconcileReceived
    # Updates a specific FundingReconcileReceived.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param funding_reconcile_received [FundingReconcileReceived] 
    # @param [Hash] opts the optional parameters
    # @return [FundingReconcileReceivedVBAResponse]
    def update_funding_reconcile_received(vbasoftware_database, reconcile_key, deposit_key, funding_reconcile_received, opts = {})
      data, _status_code, _headers = update_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, funding_reconcile_received, opts)
      data
    end

    # Update FundingReconcileReceived
    # Updates a specific FundingReconcileReceived.
    # @param vbasoftware_database [String] Target database
    # @param reconcile_key [Integer] Reconcile Key
    # @param deposit_key [Integer] Deposit Key
    # @param funding_reconcile_received [FundingReconcileReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingReconcileReceivedVBAResponse, Integer, Hash)>] FundingReconcileReceivedVBAResponse data, response status code and response headers
    def update_funding_reconcile_received_with_http_info(vbasoftware_database, reconcile_key, deposit_key, funding_reconcile_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingReconciliationsReceivedApi.update_funding_reconcile_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingReconciliationsReceivedApi.update_funding_reconcile_received"
      end
      # verify the required parameter 'reconcile_key' is set
      if @api_client.config.client_side_validation && reconcile_key.nil?
        fail ArgumentError, "Missing the required parameter 'reconcile_key' when calling FundingReconciliationsReceivedApi.update_funding_reconcile_received"
      end
      # verify the required parameter 'deposit_key' is set
      if @api_client.config.client_side_validation && deposit_key.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_key' when calling FundingReconciliationsReceivedApi.update_funding_reconcile_received"
      end
      # verify the required parameter 'funding_reconcile_received' is set
      if @api_client.config.client_side_validation && funding_reconcile_received.nil?
        fail ArgumentError, "Missing the required parameter 'funding_reconcile_received' when calling FundingReconciliationsReceivedApi.update_funding_reconcile_received"
      end
      # resource path
      local_var_path = '/funding-reconciliations/{reconcileKey}/deposits/{depositKey}'.sub('{' + 'reconcileKey' + '}', CGI.escape(reconcile_key.to_s)).sub('{' + 'depositKey' + '}', CGI.escape(deposit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_reconcile_received)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingReconcileReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingReconciliationsReceivedApi.update_funding_reconcile_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingReconciliationsReceivedApi#update_funding_reconcile_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
