=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingAccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingAccount
    # Creates a new FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param funding_account [FundingAccount] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountVBAResponse]
    def create_funding_account(vbasoftware_database, funding_account, opts = {})
      data, _status_code, _headers = create_funding_account_with_http_info(vbasoftware_database, funding_account, opts)
      data
    end

    # Create FundingAccount
    # Creates a new FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param funding_account [FundingAccount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountVBAResponse, Integer, Hash)>] FundingAccountVBAResponse data, response status code and response headers
    def create_funding_account_with_http_info(vbasoftware_database, funding_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.create_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.create_funding_account"
      end
      # verify the required parameter 'funding_account' is set
      if @api_client.config.client_side_validation && funding_account.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account' when calling FundingAccountApi.create_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.create_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#create_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingAccount
    # Deletes an FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_account(vbasoftware_database, account_key, opts = {})
      delete_funding_account_with_http_info(vbasoftware_database, account_key, opts)
      nil
    end

    # Delete FundingAccount
    # Deletes an FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_account_with_http_info(vbasoftware_database, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.delete_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.delete_funding_account"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountApi.delete_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.delete_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#delete_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingAccount
    # Gets FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountVBAResponse]
    def get_funding_account(vbasoftware_database, account_key, opts = {})
      data, _status_code, _headers = get_funding_account_with_http_info(vbasoftware_database, account_key, opts)
      data
    end

    # Get FundingAccount
    # Gets FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountVBAResponse, Integer, Hash)>] FundingAccountVBAResponse data, response status code and response headers
    def get_funding_account_with_http_info(vbasoftware_database, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.get_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.get_funding_account"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountApi.get_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.get_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#get_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingAccount Balance
    # Gets FundingAccount balance details
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountBalanceVBAResponse]
    def get_funding_account_balance(vbasoftware_database, account_key, opts = {})
      data, _status_code, _headers = get_funding_account_balance_with_http_info(vbasoftware_database, account_key, opts)
      data
    end

    # Get FundingAccount Balance
    # Gets FundingAccount balance details
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountBalanceVBAResponse, Integer, Hash)>] FundingAccountBalanceVBAResponse data, response status code and response headers
    def get_funding_account_balance_with_http_info(vbasoftware_database, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.get_funding_account_balance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.get_funding_account_balance"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountApi.get_funding_account_balance"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/account-balance'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountBalanceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.get_funding_account_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#get_funding_account_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingAccount
    # Lists all FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingAccountListVBAResponse]
    def list_funding_account(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_account_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingAccount
    # Lists all FundingAccount
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingAccountListVBAResponse, Integer, Hash)>] FundingAccountListVBAResponse data, response status code and response headers
    def list_funding_account_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.list_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.list_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.list_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#list_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingAccount
    # Create or Update multiple FundingAccount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_account [Array<FundingAccount>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_account(vbasoftware_database, funding_account, opts = {})
      data, _status_code, _headers = update_batch_funding_account_with_http_info(vbasoftware_database, funding_account, opts)
      data
    end

    # Create or Update Batch FundingAccount
    # Create or Update multiple FundingAccount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_account [Array<FundingAccount>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_account_with_http_info(vbasoftware_database, funding_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.update_batch_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.update_batch_funding_account"
      end
      # verify the required parameter 'funding_account' is set
      if @api_client.config.client_side_validation && funding_account.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account' when calling FundingAccountApi.update_batch_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.update_batch_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#update_batch_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingAccount
    # Updates a specific FundingAccount.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account [FundingAccount] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountVBAResponse]
    def update_funding_account(vbasoftware_database, account_key, funding_account, opts = {})
      data, _status_code, _headers = update_funding_account_with_http_info(vbasoftware_database, account_key, funding_account, opts)
      data
    end

    # Update FundingAccount
    # Updates a specific FundingAccount.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account [FundingAccount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountVBAResponse, Integer, Hash)>] FundingAccountVBAResponse data, response status code and response headers
    def update_funding_account_with_http_info(vbasoftware_database, account_key, funding_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountApi.update_funding_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountApi.update_funding_account"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountApi.update_funding_account"
      end
      # verify the required parameter 'funding_account' is set
      if @api_client.config.client_side_validation && funding_account.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account' when calling FundingAccountApi.update_funding_account"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountApi.update_funding_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountApi#update_funding_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
