=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingStatus
    # Creates a new FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [FundingStatus] 
    # @param [Hash] opts the optional parameters
    # @return [FundingStatusVBAResponse]
    def create_funding_status(vbasoftware_database, funding_status, opts = {})
      data, _status_code, _headers = create_funding_status_with_http_info(vbasoftware_database, funding_status, opts)
      data
    end

    # Create FundingStatus
    # Creates a new FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [FundingStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatusVBAResponse, Integer, Hash)>] FundingStatusVBAResponse data, response status code and response headers
    def create_funding_status_with_http_info(vbasoftware_database, funding_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.create_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.create_funding_status"
      end
      # verify the required parameter 'funding_status' is set
      if @api_client.config.client_side_validation && funding_status.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status' when calling FundingStatusesApi.create_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_status)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.create_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#create_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingStatus
    # Deletes an FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_status(vbasoftware_database, funding_status, opts = {})
      delete_funding_status_with_http_info(vbasoftware_database, funding_status, opts)
      nil
    end

    # Delete FundingStatus
    # Deletes an FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_status_with_http_info(vbasoftware_database, funding_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.delete_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.delete_funding_status"
      end
      # verify the required parameter 'funding_status' is set
      if @api_client.config.client_side_validation && funding_status.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status' when calling FundingStatusesApi.delete_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses/{fundingStatus}'.sub('{' + 'fundingStatus' + '}', CGI.escape(funding_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.delete_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#delete_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingStatus
    # Gets FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param [Hash] opts the optional parameters
    # @return [FundingStatusVBAResponse]
    def get_funding_status(vbasoftware_database, funding_status, opts = {})
      data, _status_code, _headers = get_funding_status_with_http_info(vbasoftware_database, funding_status, opts)
      data
    end

    # Get FundingStatus
    # Gets FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatusVBAResponse, Integer, Hash)>] FundingStatusVBAResponse data, response status code and response headers
    def get_funding_status_with_http_info(vbasoftware_database, funding_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.get_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.get_funding_status"
      end
      # verify the required parameter 'funding_status' is set
      if @api_client.config.client_side_validation && funding_status.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status' when calling FundingStatusesApi.get_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses/{fundingStatus}'.sub('{' + 'fundingStatus' + '}', CGI.escape(funding_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.get_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#get_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingStatus
    # Lists all FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingStatusListVBAResponse]
    def list_funding_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingStatus
    # Lists all FundingStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingStatusListVBAResponse, Integer, Hash)>] FundingStatusListVBAResponse data, response status code and response headers
    def list_funding_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.list_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.list_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.list_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#list_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingStatus
    # Create or Update multiple FundingStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_status [Array<FundingStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_status(vbasoftware_database, funding_status, opts = {})
      data, _status_code, _headers = update_batch_funding_status_with_http_info(vbasoftware_database, funding_status, opts)
      data
    end

    # Create or Update Batch FundingStatus
    # Create or Update multiple FundingStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_status [Array<FundingStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_status_with_http_info(vbasoftware_database, funding_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.update_batch_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.update_batch_funding_status"
      end
      # verify the required parameter 'funding_status' is set
      if @api_client.config.client_side_validation && funding_status.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status' when calling FundingStatusesApi.update_batch_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.update_batch_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#update_batch_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingStatus
    # Updates a specific FundingStatus.
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param funding_status2 [FundingStatus] 
    # @param [Hash] opts the optional parameters
    # @return [FundingStatusVBAResponse]
    def update_funding_status(vbasoftware_database, funding_status, funding_status2, opts = {})
      data, _status_code, _headers = update_funding_status_with_http_info(vbasoftware_database, funding_status, funding_status2, opts)
      data
    end

    # Update FundingStatus
    # Updates a specific FundingStatus.
    # @param vbasoftware_database [String] Target database
    # @param funding_status [String] Funding Status
    # @param funding_status2 [FundingStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingStatusVBAResponse, Integer, Hash)>] FundingStatusVBAResponse data, response status code and response headers
    def update_funding_status_with_http_info(vbasoftware_database, funding_status, funding_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingStatusesApi.update_funding_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingStatusesApi.update_funding_status"
      end
      # verify the required parameter 'funding_status' is set
      if @api_client.config.client_side_validation && funding_status.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status' when calling FundingStatusesApi.update_funding_status"
      end
      # verify the required parameter 'funding_status2' is set
      if @api_client.config.client_side_validation && funding_status2.nil?
        fail ArgumentError, "Missing the required parameter 'funding_status2' when calling FundingStatusesApi.update_funding_status"
      end
      # resource path
      local_var_path = '/funding-statuses/{fundingStatus}'.sub('{' + 'fundingStatus' + '}', CGI.escape(funding_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingStatusesApi.update_funding_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingStatusesApi#update_funding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
