=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingAccountCategoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingAccountCategory
    # Creates a new FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param funding_account_category [FundingAccountCategory] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountCategoryVBAResponse]
    def create_funding_account_category(vbasoftware_database, funding_account_category, opts = {})
      data, _status_code, _headers = create_funding_account_category_with_http_info(vbasoftware_database, funding_account_category, opts)
      data
    end

    # Create FundingAccountCategory
    # Creates a new FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param funding_account_category [FundingAccountCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountCategoryVBAResponse, Integer, Hash)>] FundingAccountCategoryVBAResponse data, response status code and response headers
    def create_funding_account_category_with_http_info(vbasoftware_database, funding_account_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.create_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.create_funding_account_category"
      end
      # verify the required parameter 'funding_account_category' is set
      if @api_client.config.client_side_validation && funding_account_category.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_category' when calling FundingAccountCategoryApi.create_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_category)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.create_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#create_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingAccountCategory
    # Deletes an FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_account_category(vbasoftware_database, account_category, opts = {})
      delete_funding_account_category_with_http_info(vbasoftware_database, account_category, opts)
      nil
    end

    # Delete FundingAccountCategory
    # Deletes an FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_account_category_with_http_info(vbasoftware_database, account_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.delete_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.delete_funding_account_category"
      end
      # verify the required parameter 'account_category' is set
      if @api_client.config.client_side_validation && account_category.nil?
        fail ArgumentError, "Missing the required parameter 'account_category' when calling FundingAccountCategoryApi.delete_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories/{accountCategory}'.sub('{' + 'accountCategory' + '}', CGI.escape(account_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.delete_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#delete_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingAccountCategory
    # Gets FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountCategoryVBAResponse]
    def get_funding_account_category(vbasoftware_database, account_category, opts = {})
      data, _status_code, _headers = get_funding_account_category_with_http_info(vbasoftware_database, account_category, opts)
      data
    end

    # Get FundingAccountCategory
    # Gets FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountCategoryVBAResponse, Integer, Hash)>] FundingAccountCategoryVBAResponse data, response status code and response headers
    def get_funding_account_category_with_http_info(vbasoftware_database, account_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.get_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.get_funding_account_category"
      end
      # verify the required parameter 'account_category' is set
      if @api_client.config.client_side_validation && account_category.nil?
        fail ArgumentError, "Missing the required parameter 'account_category' when calling FundingAccountCategoryApi.get_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories/{accountCategory}'.sub('{' + 'accountCategory' + '}', CGI.escape(account_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.get_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#get_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingAccountCategory
    # Lists all FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingAccountCategoryListVBAResponse]
    def list_funding_account_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_account_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingAccountCategory
    # Lists all FundingAccountCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingAccountCategoryListVBAResponse, Integer, Hash)>] FundingAccountCategoryListVBAResponse data, response status code and response headers
    def list_funding_account_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.list_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.list_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.list_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#list_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingAccountCategory
    # Create or Update multiple FundingAccountCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_account_category [Array<FundingAccountCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_account_category(vbasoftware_database, funding_account_category, opts = {})
      data, _status_code, _headers = update_batch_funding_account_category_with_http_info(vbasoftware_database, funding_account_category, opts)
      data
    end

    # Create or Update Batch FundingAccountCategory
    # Create or Update multiple FundingAccountCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_account_category [Array<FundingAccountCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_account_category_with_http_info(vbasoftware_database, funding_account_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.update_batch_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.update_batch_funding_account_category"
      end
      # verify the required parameter 'funding_account_category' is set
      if @api_client.config.client_side_validation && funding_account_category.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_category' when calling FundingAccountCategoryApi.update_batch_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.update_batch_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#update_batch_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingAccountCategory
    # Updates a specific FundingAccountCategory.
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param funding_account_category [FundingAccountCategory] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountCategoryVBAResponse]
    def update_funding_account_category(vbasoftware_database, account_category, funding_account_category, opts = {})
      data, _status_code, _headers = update_funding_account_category_with_http_info(vbasoftware_database, account_category, funding_account_category, opts)
      data
    end

    # Update FundingAccountCategory
    # Updates a specific FundingAccountCategory.
    # @param vbasoftware_database [String] Target database
    # @param account_category [String] Account Category
    # @param funding_account_category [FundingAccountCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountCategoryVBAResponse, Integer, Hash)>] FundingAccountCategoryVBAResponse data, response status code and response headers
    def update_funding_account_category_with_http_info(vbasoftware_database, account_category, funding_account_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountCategoryApi.update_funding_account_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountCategoryApi.update_funding_account_category"
      end
      # verify the required parameter 'account_category' is set
      if @api_client.config.client_side_validation && account_category.nil?
        fail ArgumentError, "Missing the required parameter 'account_category' when calling FundingAccountCategoryApi.update_funding_account_category"
      end
      # verify the required parameter 'funding_account_category' is set
      if @api_client.config.client_side_validation && funding_account_category.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_category' when calling FundingAccountCategoryApi.update_funding_account_category"
      end
      # resource path
      local_var_path = '/funding-account-categories/{accountCategory}'.sub('{' + 'accountCategory' + '}', CGI.escape(account_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_category)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountCategoryApi.update_funding_account_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountCategoryApi#update_funding_account_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
