=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingIndicatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingIndicator
    # Creates a new FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [FundingIndicator] 
    # @param [Hash] opts the optional parameters
    # @return [FundingIndicatorVBAResponse]
    def create_funding_indicator(vbasoftware_database, funding_indicator, opts = {})
      data, _status_code, _headers = create_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts)
      data
    end

    # Create FundingIndicator
    # Creates a new FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [FundingIndicator] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIndicatorVBAResponse, Integer, Hash)>] FundingIndicatorVBAResponse data, response status code and response headers
    def create_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.create_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.create_funding_indicator"
      end
      # verify the required parameter 'funding_indicator' is set
      if @api_client.config.client_side_validation && funding_indicator.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator' when calling FundingIndicatorsApi.create_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_indicator)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIndicatorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.create_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#create_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingIndicator
    # Deletes an FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_indicator(vbasoftware_database, funding_indicator, opts = {})
      delete_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts)
      nil
    end

    # Delete FundingIndicator
    # Deletes an FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.delete_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.delete_funding_indicator"
      end
      # verify the required parameter 'funding_indicator' is set
      if @api_client.config.client_side_validation && funding_indicator.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator' when calling FundingIndicatorsApi.delete_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators/{fundingIndicator}'.sub('{' + 'fundingIndicator' + '}', CGI.escape(funding_indicator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.delete_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#delete_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingIndicator
    # Gets FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param [Hash] opts the optional parameters
    # @return [FundingIndicatorVBAResponse]
    def get_funding_indicator(vbasoftware_database, funding_indicator, opts = {})
      data, _status_code, _headers = get_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts)
      data
    end

    # Get FundingIndicator
    # Gets FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIndicatorVBAResponse, Integer, Hash)>] FundingIndicatorVBAResponse data, response status code and response headers
    def get_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.get_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.get_funding_indicator"
      end
      # verify the required parameter 'funding_indicator' is set
      if @api_client.config.client_side_validation && funding_indicator.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator' when calling FundingIndicatorsApi.get_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators/{fundingIndicator}'.sub('{' + 'fundingIndicator' + '}', CGI.escape(funding_indicator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIndicatorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.get_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#get_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingIndicator
    # Lists all FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingIndicatorListVBAResponse]
    def list_funding_indicator(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_indicator_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingIndicator
    # Lists all FundingIndicator
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingIndicatorListVBAResponse, Integer, Hash)>] FundingIndicatorListVBAResponse data, response status code and response headers
    def list_funding_indicator_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.list_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.list_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIndicatorListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.list_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#list_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingIndicator
    # Create or Update multiple FundingIndicator at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [Array<FundingIndicator>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_indicator(vbasoftware_database, funding_indicator, opts = {})
      data, _status_code, _headers = update_batch_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts)
      data
    end

    # Create or Update Batch FundingIndicator
    # Create or Update multiple FundingIndicator at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [Array<FundingIndicator>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.update_batch_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.update_batch_funding_indicator"
      end
      # verify the required parameter 'funding_indicator' is set
      if @api_client.config.client_side_validation && funding_indicator.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator' when calling FundingIndicatorsApi.update_batch_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_indicator)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.update_batch_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#update_batch_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingIndicator
    # Updates a specific FundingIndicator.
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param funding_indicator2 [FundingIndicator] 
    # @param [Hash] opts the optional parameters
    # @return [FundingIndicatorVBAResponse]
    def update_funding_indicator(vbasoftware_database, funding_indicator, funding_indicator2, opts = {})
      data, _status_code, _headers = update_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, funding_indicator2, opts)
      data
    end

    # Update FundingIndicator
    # Updates a specific FundingIndicator.
    # @param vbasoftware_database [String] Target database
    # @param funding_indicator [String] Funding Indicator
    # @param funding_indicator2 [FundingIndicator] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingIndicatorVBAResponse, Integer, Hash)>] FundingIndicatorVBAResponse data, response status code and response headers
    def update_funding_indicator_with_http_info(vbasoftware_database, funding_indicator, funding_indicator2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingIndicatorsApi.update_funding_indicator ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingIndicatorsApi.update_funding_indicator"
      end
      # verify the required parameter 'funding_indicator' is set
      if @api_client.config.client_side_validation && funding_indicator.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator' when calling FundingIndicatorsApi.update_funding_indicator"
      end
      # verify the required parameter 'funding_indicator2' is set
      if @api_client.config.client_side_validation && funding_indicator2.nil?
        fail ArgumentError, "Missing the required parameter 'funding_indicator2' when calling FundingIndicatorsApi.update_funding_indicator"
      end
      # resource path
      local_var_path = '/funding-indicators/{fundingIndicator}'.sub('{' + 'fundingIndicator' + '}', CGI.escape(funding_indicator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_indicator2)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingIndicatorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingIndicatorsApi.update_funding_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingIndicatorsApi#update_funding_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
