=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingRequest
    # Creates a new FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param funding_request [FundingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FundingRequestVBAResponse]
    def create_funding_request(vbasoftware_database, funding_request, opts = {})
      data, _status_code, _headers = create_funding_request_with_http_info(vbasoftware_database, funding_request, opts)
      data
    end

    # Create FundingRequest
    # Creates a new FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param funding_request [FundingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingRequestVBAResponse, Integer, Hash)>] FundingRequestVBAResponse data, response status code and response headers
    def create_funding_request_with_http_info(vbasoftware_database, funding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.create_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.create_funding_request"
      end
      # verify the required parameter 'funding_request' is set
      if @api_client.config.client_side_validation && funding_request.nil?
        fail ArgumentError, "Missing the required parameter 'funding_request' when calling FundingRequestsApi.create_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.create_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#create_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingRequest
    # Deletes an FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_request(vbasoftware_database, request_key, opts = {})
      delete_funding_request_with_http_info(vbasoftware_database, request_key, opts)
      nil
    end

    # Delete FundingRequest
    # Deletes an FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_request_with_http_info(vbasoftware_database, request_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.delete_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.delete_funding_request"
      end
      # verify the required parameter 'request_key' is set
      if @api_client.config.client_side_validation && request_key.nil?
        fail ArgumentError, "Missing the required parameter 'request_key' when calling FundingRequestsApi.delete_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests/{requestKey}'.sub('{' + 'requestKey' + '}', CGI.escape(request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.delete_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#delete_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingRequest
    # Gets FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [FundingRequestVBAResponse]
    def get_funding_request(vbasoftware_database, request_key, opts = {})
      data, _status_code, _headers = get_funding_request_with_http_info(vbasoftware_database, request_key, opts)
      data
    end

    # Get FundingRequest
    # Gets FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingRequestVBAResponse, Integer, Hash)>] FundingRequestVBAResponse data, response status code and response headers
    def get_funding_request_with_http_info(vbasoftware_database, request_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.get_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.get_funding_request"
      end
      # verify the required parameter 'request_key' is set
      if @api_client.config.client_side_validation && request_key.nil?
        fail ArgumentError, "Missing the required parameter 'request_key' when calling FundingRequestsApi.get_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests/{requestKey}'.sub('{' + 'requestKey' + '}', CGI.escape(request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.get_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#get_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingRequest
    # Lists all FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingRequestListVBAResponse]
    def list_funding_request(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_funding_request_with_http_info(vbasoftware_database, opts)
      data
    end

    # List FundingRequest
    # Lists all FundingRequest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingRequestListVBAResponse, Integer, Hash)>] FundingRequestListVBAResponse data, response status code and response headers
    def list_funding_request_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.list_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.list_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingRequestListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.list_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#list_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Satisfy a Funding Request
    # Satisfies a specific FundingRequest and handles partial request processing.
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param funding_service_satisfy_request [FundingServiceSatisfyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FundingRequestVBAResponse]
    def satisfy_funding_request(vbasoftware_database, request_key, funding_service_satisfy_request, opts = {})
      data, _status_code, _headers = satisfy_funding_request_with_http_info(vbasoftware_database, request_key, funding_service_satisfy_request, opts)
      data
    end

    # Satisfy a Funding Request
    # Satisfies a specific FundingRequest and handles partial request processing.
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param funding_service_satisfy_request [FundingServiceSatisfyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingRequestVBAResponse, Integer, Hash)>] FundingRequestVBAResponse data, response status code and response headers
    def satisfy_funding_request_with_http_info(vbasoftware_database, request_key, funding_service_satisfy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.satisfy_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.satisfy_funding_request"
      end
      # verify the required parameter 'request_key' is set
      if @api_client.config.client_side_validation && request_key.nil?
        fail ArgumentError, "Missing the required parameter 'request_key' when calling FundingRequestsApi.satisfy_funding_request"
      end
      # verify the required parameter 'funding_service_satisfy_request' is set
      if @api_client.config.client_side_validation && funding_service_satisfy_request.nil?
        fail ArgumentError, "Missing the required parameter 'funding_service_satisfy_request' when calling FundingRequestsApi.satisfy_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests/{requestKey}/satisfy'.sub('{' + 'requestKey' + '}', CGI.escape(request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_service_satisfy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.satisfy_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#satisfy_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingRequest
    # Create or Update multiple FundingRequest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_request [Array<FundingRequest>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_request(vbasoftware_database, funding_request, opts = {})
      data, _status_code, _headers = update_batch_funding_request_with_http_info(vbasoftware_database, funding_request, opts)
      data
    end

    # Create or Update Batch FundingRequest
    # Create or Update multiple FundingRequest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param funding_request [Array<FundingRequest>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_request_with_http_info(vbasoftware_database, funding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.update_batch_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.update_batch_funding_request"
      end
      # verify the required parameter 'funding_request' is set
      if @api_client.config.client_side_validation && funding_request.nil?
        fail ArgumentError, "Missing the required parameter 'funding_request' when calling FundingRequestsApi.update_batch_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.update_batch_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#update_batch_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingRequest
    # Updates a specific FundingRequest.
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param funding_request [FundingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FundingRequestVBAResponse]
    def update_funding_request(vbasoftware_database, request_key, funding_request, opts = {})
      data, _status_code, _headers = update_funding_request_with_http_info(vbasoftware_database, request_key, funding_request, opts)
      data
    end

    # Update FundingRequest
    # Updates a specific FundingRequest.
    # @param vbasoftware_database [String] Target database
    # @param request_key [Integer] Request Key
    # @param funding_request [FundingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingRequestVBAResponse, Integer, Hash)>] FundingRequestVBAResponse data, response status code and response headers
    def update_funding_request_with_http_info(vbasoftware_database, request_key, funding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingRequestsApi.update_funding_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingRequestsApi.update_funding_request"
      end
      # verify the required parameter 'request_key' is set
      if @api_client.config.client_side_validation && request_key.nil?
        fail ArgumentError, "Missing the required parameter 'request_key' when calling FundingRequestsApi.update_funding_request"
      end
      # verify the required parameter 'funding_request' is set
      if @api_client.config.client_side_validation && funding_request.nil?
        fail ArgumentError, "Missing the required parameter 'funding_request' when calling FundingRequestsApi.update_funding_request"
      end
      # resource path
      local_var_path = '/funding-requests/{requestKey}'.sub('{' + 'requestKey' + '}', CGI.escape(request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingRequestsApi.update_funding_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingRequestsApi#update_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
