=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class FundingAccountSignaturesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create FundingAccountSignature
    # Creates a new FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature [FundingAccountSignature] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountSignatureVBAResponse]
    def create_funding_account_signature(vbasoftware_database, account_key, funding_account_signature, opts = {})
      data, _status_code, _headers = create_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature, opts)
      data
    end

    # Create FundingAccountSignature
    # Creates a new FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature [FundingAccountSignature] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountSignatureVBAResponse, Integer, Hash)>] FundingAccountSignatureVBAResponse data, response status code and response headers
    def create_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.create_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.create_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.create_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature' is set
      if @api_client.config.client_side_validation && funding_account_signature.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature' when calling FundingAccountSignaturesApi.create_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_signature)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountSignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.create_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#create_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FundingAccountSignature
    # Deletes an FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_account_signature(vbasoftware_database, account_key, funding_account_signature_key, opts = {})
      delete_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, opts)
      nil
    end

    # Delete FundingAccountSignature
    # Deletes an FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.delete_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.delete_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.delete_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature_key' is set
      if @api_client.config.client_side_validation && funding_account_signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature_key' when calling FundingAccountSignaturesApi.delete_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures/{fundingAccountSignatureKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s)).sub('{' + 'fundingAccountSignatureKey' + '}', CGI.escape(funding_account_signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.delete_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#delete_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FundingAccountSignature
    # Gets FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountSignatureVBAResponse]
    def get_funding_account_signature(vbasoftware_database, account_key, funding_account_signature_key, opts = {})
      data, _status_code, _headers = get_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, opts)
      data
    end

    # Get FundingAccountSignature
    # Gets FundingAccountSignature
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountSignatureVBAResponse, Integer, Hash)>] FundingAccountSignatureVBAResponse data, response status code and response headers
    def get_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.get_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.get_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.get_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature_key' is set
      if @api_client.config.client_side_validation && funding_account_signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature_key' when calling FundingAccountSignaturesApi.get_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures/{fundingAccountSignatureKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s)).sub('{' + 'fundingAccountSignatureKey' + '}', CGI.escape(funding_account_signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountSignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.get_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#get_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List FundingAccountSignature
    # Lists all FundingAccountSignature for the given accountKey
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [FundingAccountSignatureListVBAResponse]
    def list_funding_account_signature(vbasoftware_database, account_key, opts = {})
      data, _status_code, _headers = list_funding_account_signature_with_http_info(vbasoftware_database, account_key, opts)
      data
    end

    # List FundingAccountSignature
    # Lists all FundingAccountSignature for the given accountKey
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(FundingAccountSignatureListVBAResponse, Integer, Hash)>] FundingAccountSignatureListVBAResponse data, response status code and response headers
    def list_funding_account_signature_with_http_info(vbasoftware_database, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.list_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.list_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.list_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountSignatureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.list_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#list_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch FundingAccountSignature
    # Create or Update multiple FundingAccountSignature at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature [Array<FundingAccountSignature>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_funding_account_signature(vbasoftware_database, account_key, funding_account_signature, opts = {})
      data, _status_code, _headers = update_batch_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature, opts)
      data
    end

    # Create or Update Batch FundingAccountSignature
    # Create or Update multiple FundingAccountSignature at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature [Array<FundingAccountSignature>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.update_batch_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.update_batch_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.update_batch_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature' is set
      if @api_client.config.client_side_validation && funding_account_signature.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature' when calling FundingAccountSignaturesApi.update_batch_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures-batch'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_signature)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.update_batch_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#update_batch_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update FundingAccountSignature
    # Updates a specific FundingAccountSignature.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param funding_account_signature [FundingAccountSignature] 
    # @param [Hash] opts the optional parameters
    # @return [FundingAccountSignatureVBAResponse]
    def update_funding_account_signature(vbasoftware_database, account_key, funding_account_signature_key, funding_account_signature, opts = {})
      data, _status_code, _headers = update_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, funding_account_signature, opts)
      data
    end

    # Update FundingAccountSignature
    # Updates a specific FundingAccountSignature.
    # @param vbasoftware_database [String] Target database
    # @param account_key [Integer] Account Key
    # @param funding_account_signature_key [Integer] FundingAccountSignature Key
    # @param funding_account_signature [FundingAccountSignature] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FundingAccountSignatureVBAResponse, Integer, Hash)>] FundingAccountSignatureVBAResponse data, response status code and response headers
    def update_funding_account_signature_with_http_info(vbasoftware_database, account_key, funding_account_signature_key, funding_account_signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FundingAccountSignaturesApi.update_funding_account_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling FundingAccountSignaturesApi.update_funding_account_signature"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling FundingAccountSignaturesApi.update_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature_key' is set
      if @api_client.config.client_side_validation && funding_account_signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature_key' when calling FundingAccountSignaturesApi.update_funding_account_signature"
      end
      # verify the required parameter 'funding_account_signature' is set
      if @api_client.config.client_side_validation && funding_account_signature.nil?
        fail ArgumentError, "Missing the required parameter 'funding_account_signature' when calling FundingAccountSignaturesApi.update_funding_account_signature"
      end
      # resource path
      local_var_path = '/funding-accounts/{accountKey}/signatures/{fundingAccountSignatureKey}'.sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s)).sub('{' + 'fundingAccountSignatureKey' + '}', CGI.escape(funding_account_signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_account_signature)

      # return_type
      return_type = opts[:debug_return_type] || 'FundingAccountSignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FundingAccountSignaturesApi.update_funding_account_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FundingAccountSignaturesApi#update_funding_account_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
