=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GenderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Gender
    # Creates a new Gender
    # @param vbasoftware_database [String] Target database
    # @param gender [Gender] 
    # @param [Hash] opts the optional parameters
    # @return [GenderVBAResponse]
    def create_gender(vbasoftware_database, gender, opts = {})
      data, _status_code, _headers = create_gender_with_http_info(vbasoftware_database, gender, opts)
      data
    end

    # Create Gender
    # Creates a new Gender
    # @param vbasoftware_database [String] Target database
    # @param gender [Gender] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenderVBAResponse, Integer, Hash)>] GenderVBAResponse data, response status code and response headers
    def create_gender_with_http_info(vbasoftware_database, gender, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.create_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.create_gender"
      end
      # verify the required parameter 'gender' is set
      if @api_client.config.client_side_validation && gender.nil?
        fail ArgumentError, "Missing the required parameter 'gender' when calling GenderApi.create_gender"
      end
      # resource path
      local_var_path = '/genders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gender)

      # return_type
      return_type = opts[:debug_return_type] || 'GenderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.create_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#create_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Gender
    # Deletes an Gender
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_gender(vbasoftware_database, gender_code, opts = {})
      delete_gender_with_http_info(vbasoftware_database, gender_code, opts)
      nil
    end

    # Delete Gender
    # Deletes an Gender
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_gender_with_http_info(vbasoftware_database, gender_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.delete_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.delete_gender"
      end
      # verify the required parameter 'gender_code' is set
      if @api_client.config.client_side_validation && gender_code.nil?
        fail ArgumentError, "Missing the required parameter 'gender_code' when calling GenderApi.delete_gender"
      end
      # resource path
      local_var_path = '/genders/{Gender_Code}'.sub('{' + 'Gender_Code' + '}', CGI.escape(gender_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.delete_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#delete_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Gender
    # Gets Gender
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param [Hash] opts the optional parameters
    # @return [GenderVBAResponse]
    def get_gender(vbasoftware_database, gender_code, opts = {})
      data, _status_code, _headers = get_gender_with_http_info(vbasoftware_database, gender_code, opts)
      data
    end

    # Get Gender
    # Gets Gender
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenderVBAResponse, Integer, Hash)>] GenderVBAResponse data, response status code and response headers
    def get_gender_with_http_info(vbasoftware_database, gender_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.get_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.get_gender"
      end
      # verify the required parameter 'gender_code' is set
      if @api_client.config.client_side_validation && gender_code.nil?
        fail ArgumentError, "Missing the required parameter 'gender_code' when calling GenderApi.get_gender"
      end
      # resource path
      local_var_path = '/genders/{Gender_Code}'.sub('{' + 'Gender_Code' + '}', CGI.escape(gender_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.get_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#get_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Gender
    # Lists all Gender
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [GenderListVBAResponse]
    def list_gender(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_gender_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Gender
    # Lists all Gender
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(GenderListVBAResponse, Integer, Hash)>] GenderListVBAResponse data, response status code and response headers
    def list_gender_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.list_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.list_gender"
      end
      # resource path
      local_var_path = '/genders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenderListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.list_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#list_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Gender
    # Create or Update multiple Gender at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param gender [Array<Gender>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_gender(vbasoftware_database, gender, opts = {})
      data, _status_code, _headers = update_batch_gender_with_http_info(vbasoftware_database, gender, opts)
      data
    end

    # Create or Update Batch Gender
    # Create or Update multiple Gender at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param gender [Array<Gender>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_gender_with_http_info(vbasoftware_database, gender, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.update_batch_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.update_batch_gender"
      end
      # verify the required parameter 'gender' is set
      if @api_client.config.client_side_validation && gender.nil?
        fail ArgumentError, "Missing the required parameter 'gender' when calling GenderApi.update_batch_gender"
      end
      # resource path
      local_var_path = '/genders-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gender)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.update_batch_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#update_batch_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Gender
    # Updates a specific Gender.
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param gender [Gender] 
    # @param [Hash] opts the optional parameters
    # @return [GenderVBAResponse]
    def update_gender(vbasoftware_database, gender_code, gender, opts = {})
      data, _status_code, _headers = update_gender_with_http_info(vbasoftware_database, gender_code, gender, opts)
      data
    end

    # Update Gender
    # Updates a specific Gender.
    # @param vbasoftware_database [String] Target database
    # @param gender_code [String] Gender Code
    # @param gender [Gender] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenderVBAResponse, Integer, Hash)>] GenderVBAResponse data, response status code and response headers
    def update_gender_with_http_info(vbasoftware_database, gender_code, gender, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GenderApi.update_gender ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GenderApi.update_gender"
      end
      # verify the required parameter 'gender_code' is set
      if @api_client.config.client_side_validation && gender_code.nil?
        fail ArgumentError, "Missing the required parameter 'gender_code' when calling GenderApi.update_gender"
      end
      # verify the required parameter 'gender' is set
      if @api_client.config.client_side_validation && gender.nil?
        fail ArgumentError, "Missing the required parameter 'gender' when calling GenderApi.update_gender"
      end
      # resource path
      local_var_path = '/genders/{Gender_Code}'.sub('{' + 'Gender_Code' + '}', CGI.escape(gender_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gender)

      # return_type
      return_type = opts[:debug_return_type] || 'GenderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GenderApi.update_gender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GenderApi#update_gender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
