=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GrievanceResolutionTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GrievanceResolutionType
    # Creates a new GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [GrievanceResolutionType] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceResolutionTypeVBAResponse]
    def create_grievance_resolution_type(vbasoftware_database, grievance_resolution_type, opts = {})
      data, _status_code, _headers = create_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts)
      data
    end

    # Create GrievanceResolutionType
    # Creates a new GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [GrievanceResolutionType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceResolutionTypeVBAResponse, Integer, Hash)>] GrievanceResolutionTypeVBAResponse data, response status code and response headers
    def create_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.create_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.create_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type' is set
      if @api_client.config.client_side_validation && grievance_resolution_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type' when calling GrievanceResolutionTypesApi.create_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_resolution_type)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceResolutionTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.create_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#create_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GrievanceResolutionType
    # Deletes an GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_grievance_resolution_type(vbasoftware_database, grievance_resolution_type, opts = {})
      delete_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts)
      nil
    end

    # Delete GrievanceResolutionType
    # Deletes an GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.delete_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.delete_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type' is set
      if @api_client.config.client_side_validation && grievance_resolution_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type' when calling GrievanceResolutionTypesApi.delete_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types/{grievanceResolutionType}'.sub('{' + 'grievanceResolutionType' + '}', CGI.escape(grievance_resolution_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.delete_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#delete_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GrievanceResolutionType
    # Gets GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param [Hash] opts the optional parameters
    # @return [GrievanceResolutionTypeVBAResponse]
    def get_grievance_resolution_type(vbasoftware_database, grievance_resolution_type, opts = {})
      data, _status_code, _headers = get_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts)
      data
    end

    # Get GrievanceResolutionType
    # Gets GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceResolutionTypeVBAResponse, Integer, Hash)>] GrievanceResolutionTypeVBAResponse data, response status code and response headers
    def get_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.get_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.get_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type' is set
      if @api_client.config.client_side_validation && grievance_resolution_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type' when calling GrievanceResolutionTypesApi.get_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types/{grievanceResolutionType}'.sub('{' + 'grievanceResolutionType' + '}', CGI.escape(grievance_resolution_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceResolutionTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.get_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#get_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GrievanceResolutionType
    # Lists all GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GrievanceResolutionTypeListVBAResponse]
    def list_grievance_resolution_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_grievance_resolution_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GrievanceResolutionType
    # Lists all GrievanceResolutionType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GrievanceResolutionTypeListVBAResponse, Integer, Hash)>] GrievanceResolutionTypeListVBAResponse data, response status code and response headers
    def list_grievance_resolution_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.list_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.list_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceResolutionTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.list_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#list_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GrievanceResolutionType
    # Create or Update multiple GrievanceResolutionType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [Array<GrievanceResolutionType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_grievance_resolution_type(vbasoftware_database, grievance_resolution_type, opts = {})
      data, _status_code, _headers = update_batch_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts)
      data
    end

    # Create or Update Batch GrievanceResolutionType
    # Create or Update multiple GrievanceResolutionType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [Array<GrievanceResolutionType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.update_batch_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.update_batch_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type' is set
      if @api_client.config.client_side_validation && grievance_resolution_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type' when calling GrievanceResolutionTypesApi.update_batch_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_resolution_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.update_batch_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#update_batch_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GrievanceResolutionType
    # Updates a specific GrievanceResolutionType.
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param grievance_resolution_type2 [GrievanceResolutionType] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceResolutionTypeVBAResponse]
    def update_grievance_resolution_type(vbasoftware_database, grievance_resolution_type, grievance_resolution_type2, opts = {})
      data, _status_code, _headers = update_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, grievance_resolution_type2, opts)
      data
    end

    # Update GrievanceResolutionType
    # Updates a specific GrievanceResolutionType.
    # @param vbasoftware_database [String] Target database
    # @param grievance_resolution_type [String] Grievance Resolution Type
    # @param grievance_resolution_type2 [GrievanceResolutionType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceResolutionTypeVBAResponse, Integer, Hash)>] GrievanceResolutionTypeVBAResponse data, response status code and response headers
    def update_grievance_resolution_type_with_http_info(vbasoftware_database, grievance_resolution_type, grievance_resolution_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceResolutionTypesApi.update_grievance_resolution_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceResolutionTypesApi.update_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type' is set
      if @api_client.config.client_side_validation && grievance_resolution_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type' when calling GrievanceResolutionTypesApi.update_grievance_resolution_type"
      end
      # verify the required parameter 'grievance_resolution_type2' is set
      if @api_client.config.client_side_validation && grievance_resolution_type2.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_resolution_type2' when calling GrievanceResolutionTypesApi.update_grievance_resolution_type"
      end
      # resource path
      local_var_path = '/grievance-resolution-types/{grievanceResolutionType}'.sub('{' + 'grievanceResolutionType' + '}', CGI.escape(grievance_resolution_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_resolution_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceResolutionTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceResolutionTypesApi.update_grievance_resolution_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceResolutionTypesApi#update_grievance_resolution_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
