=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GrievanceStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GrievanceStatus
    # Creates a new GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [GrievanceStatus] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceStatusVBAResponse]
    def create_grievance_status(vbasoftware_database, grievance_status, opts = {})
      data, _status_code, _headers = create_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts)
      data
    end

    # Create GrievanceStatus
    # Creates a new GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [GrievanceStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceStatusVBAResponse, Integer, Hash)>] GrievanceStatusVBAResponse data, response status code and response headers
    def create_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.create_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.create_grievance_status"
      end
      # verify the required parameter 'grievance_status' is set
      if @api_client.config.client_side_validation && grievance_status.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status' when calling GrievanceStatusesApi.create_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_status)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.create_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#create_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GrievanceStatus
    # Deletes an GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_grievance_status(vbasoftware_database, grievance_status, opts = {})
      delete_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts)
      nil
    end

    # Delete GrievanceStatus
    # Deletes an GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.delete_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.delete_grievance_status"
      end
      # verify the required parameter 'grievance_status' is set
      if @api_client.config.client_side_validation && grievance_status.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status' when calling GrievanceStatusesApi.delete_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses/{grievanceStatus}'.sub('{' + 'grievanceStatus' + '}', CGI.escape(grievance_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.delete_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#delete_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GrievanceStatus
    # Gets GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param [Hash] opts the optional parameters
    # @return [GrievanceStatusVBAResponse]
    def get_grievance_status(vbasoftware_database, grievance_status, opts = {})
      data, _status_code, _headers = get_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts)
      data
    end

    # Get GrievanceStatus
    # Gets GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceStatusVBAResponse, Integer, Hash)>] GrievanceStatusVBAResponse data, response status code and response headers
    def get_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.get_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.get_grievance_status"
      end
      # verify the required parameter 'grievance_status' is set
      if @api_client.config.client_side_validation && grievance_status.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status' when calling GrievanceStatusesApi.get_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses/{grievanceStatus}'.sub('{' + 'grievanceStatus' + '}', CGI.escape(grievance_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.get_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#get_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GrievanceStatus
    # Lists all GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GrievanceStatusListVBAResponse]
    def list_grievance_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_grievance_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GrievanceStatus
    # Lists all GrievanceStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GrievanceStatusListVBAResponse, Integer, Hash)>] GrievanceStatusListVBAResponse data, response status code and response headers
    def list_grievance_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.list_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.list_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.list_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#list_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GrievanceStatus
    # Create or Update multiple GrievanceStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [Array<GrievanceStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_grievance_status(vbasoftware_database, grievance_status, opts = {})
      data, _status_code, _headers = update_batch_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts)
      data
    end

    # Create or Update Batch GrievanceStatus
    # Create or Update multiple GrievanceStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [Array<GrievanceStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_grievance_status_with_http_info(vbasoftware_database, grievance_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.update_batch_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.update_batch_grievance_status"
      end
      # verify the required parameter 'grievance_status' is set
      if @api_client.config.client_side_validation && grievance_status.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status' when calling GrievanceStatusesApi.update_batch_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.update_batch_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#update_batch_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GrievanceStatus
    # Updates a specific GrievanceStatus.
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param grievance_status2 [GrievanceStatus] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceStatusVBAResponse]
    def update_grievance_status(vbasoftware_database, grievance_status, grievance_status2, opts = {})
      data, _status_code, _headers = update_grievance_status_with_http_info(vbasoftware_database, grievance_status, grievance_status2, opts)
      data
    end

    # Update GrievanceStatus
    # Updates a specific GrievanceStatus.
    # @param vbasoftware_database [String] Target database
    # @param grievance_status [String] Grievance Status
    # @param grievance_status2 [GrievanceStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceStatusVBAResponse, Integer, Hash)>] GrievanceStatusVBAResponse data, response status code and response headers
    def update_grievance_status_with_http_info(vbasoftware_database, grievance_status, grievance_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceStatusesApi.update_grievance_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceStatusesApi.update_grievance_status"
      end
      # verify the required parameter 'grievance_status' is set
      if @api_client.config.client_side_validation && grievance_status.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status' when calling GrievanceStatusesApi.update_grievance_status"
      end
      # verify the required parameter 'grievance_status2' is set
      if @api_client.config.client_side_validation && grievance_status2.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_status2' when calling GrievanceStatusesApi.update_grievance_status"
      end
      # resource path
      local_var_path = '/grievance-statuses/{grievanceStatus}'.sub('{' + 'grievanceStatus' + '}', CGI.escape(grievance_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceStatusesApi.update_grievance_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceStatusesApi#update_grievance_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
