=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GrievanceAdminChangeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GrievanceAdminChangeType
    # Creates a new GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [GrievanceAdminChangeType] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceAdminChangeTypeVBAResponse]
    def create_grievance_admin_change_type(vbasoftware_database, grievance_admin_change_type, opts = {})
      data, _status_code, _headers = create_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts)
      data
    end

    # Create GrievanceAdminChangeType
    # Creates a new GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [GrievanceAdminChangeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceAdminChangeTypeVBAResponse, Integer, Hash)>] GrievanceAdminChangeTypeVBAResponse data, response status code and response headers
    def create_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.create_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.create_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type' when calling GrievanceAdminChangeTypesApi.create_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_admin_change_type)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceAdminChangeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.create_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#create_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GrievanceAdminChangeType
    # Deletes an GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_grievance_admin_change_type(vbasoftware_database, grievance_admin_change_type, opts = {})
      delete_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts)
      nil
    end

    # Delete GrievanceAdminChangeType
    # Deletes an GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.delete_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.delete_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type' when calling GrievanceAdminChangeTypesApi.delete_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types/{grievanceAdminChangeType}'.sub('{' + 'grievanceAdminChangeType' + '}', CGI.escape(grievance_admin_change_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.delete_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#delete_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GrievanceAdminChangeType
    # Gets GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param [Hash] opts the optional parameters
    # @return [GrievanceAdminChangeTypeVBAResponse]
    def get_grievance_admin_change_type(vbasoftware_database, grievance_admin_change_type, opts = {})
      data, _status_code, _headers = get_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts)
      data
    end

    # Get GrievanceAdminChangeType
    # Gets GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceAdminChangeTypeVBAResponse, Integer, Hash)>] GrievanceAdminChangeTypeVBAResponse data, response status code and response headers
    def get_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.get_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.get_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type' when calling GrievanceAdminChangeTypesApi.get_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types/{grievanceAdminChangeType}'.sub('{' + 'grievanceAdminChangeType' + '}', CGI.escape(grievance_admin_change_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceAdminChangeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.get_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#get_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GrievanceAdminChangeType
    # Lists all GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GrievanceAdminChangeTypeListVBAResponse]
    def list_grievance_admin_change_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_grievance_admin_change_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GrievanceAdminChangeType
    # Lists all GrievanceAdminChangeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GrievanceAdminChangeTypeListVBAResponse, Integer, Hash)>] GrievanceAdminChangeTypeListVBAResponse data, response status code and response headers
    def list_grievance_admin_change_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.list_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.list_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceAdminChangeTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.list_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#list_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GrievanceAdminChangeType
    # Create or Update multiple GrievanceAdminChangeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [Array<GrievanceAdminChangeType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_grievance_admin_change_type(vbasoftware_database, grievance_admin_change_type, opts = {})
      data, _status_code, _headers = update_batch_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts)
      data
    end

    # Create or Update Batch GrievanceAdminChangeType
    # Create or Update multiple GrievanceAdminChangeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [Array<GrievanceAdminChangeType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.update_batch_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.update_batch_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type' when calling GrievanceAdminChangeTypesApi.update_batch_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_admin_change_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.update_batch_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#update_batch_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GrievanceAdminChangeType
    # Updates a specific GrievanceAdminChangeType.
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param grievance_admin_change_type2 [GrievanceAdminChangeType] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceAdminChangeTypeVBAResponse]
    def update_grievance_admin_change_type(vbasoftware_database, grievance_admin_change_type, grievance_admin_change_type2, opts = {})
      data, _status_code, _headers = update_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, grievance_admin_change_type2, opts)
      data
    end

    # Update GrievanceAdminChangeType
    # Updates a specific GrievanceAdminChangeType.
    # @param vbasoftware_database [String] Target database
    # @param grievance_admin_change_type [String] Grievance Admin Change Type
    # @param grievance_admin_change_type2 [GrievanceAdminChangeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceAdminChangeTypeVBAResponse, Integer, Hash)>] GrievanceAdminChangeTypeVBAResponse data, response status code and response headers
    def update_grievance_admin_change_type_with_http_info(vbasoftware_database, grievance_admin_change_type, grievance_admin_change_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceAdminChangeTypesApi.update_grievance_admin_change_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceAdminChangeTypesApi.update_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type' when calling GrievanceAdminChangeTypesApi.update_grievance_admin_change_type"
      end
      # verify the required parameter 'grievance_admin_change_type2' is set
      if @api_client.config.client_side_validation && grievance_admin_change_type2.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_admin_change_type2' when calling GrievanceAdminChangeTypesApi.update_grievance_admin_change_type"
      end
      # resource path
      local_var_path = '/grievance-admin-change-types/{grievanceAdminChangeType}'.sub('{' + 'grievanceAdminChangeType' + '}', CGI.escape(grievance_admin_change_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_admin_change_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceAdminChangeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceAdminChangeTypesApi.update_grievance_admin_change_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceAdminChangeTypesApi#update_grievance_admin_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
