=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GrievanceCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GrievanceCategory
    # Creates a new GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [GrievanceCategory] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceCategoryVBAResponse]
    def create_grievance_category(vbasoftware_database, grievance_category, opts = {})
      data, _status_code, _headers = create_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts)
      data
    end

    # Create GrievanceCategory
    # Creates a new GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [GrievanceCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceCategoryVBAResponse, Integer, Hash)>] GrievanceCategoryVBAResponse data, response status code and response headers
    def create_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.create_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.create_grievance_category"
      end
      # verify the required parameter 'grievance_category' is set
      if @api_client.config.client_side_validation && grievance_category.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category' when calling GrievanceCategoriesApi.create_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_category)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.create_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#create_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GrievanceCategory
    # Deletes an GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_grievance_category(vbasoftware_database, grievance_category, opts = {})
      delete_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts)
      nil
    end

    # Delete GrievanceCategory
    # Deletes an GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.delete_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.delete_grievance_category"
      end
      # verify the required parameter 'grievance_category' is set
      if @api_client.config.client_side_validation && grievance_category.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category' when calling GrievanceCategoriesApi.delete_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories/{grievanceCategory}'.sub('{' + 'grievanceCategory' + '}', CGI.escape(grievance_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.delete_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#delete_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GrievanceCategory
    # Gets GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param [Hash] opts the optional parameters
    # @return [GrievanceCategoryVBAResponse]
    def get_grievance_category(vbasoftware_database, grievance_category, opts = {})
      data, _status_code, _headers = get_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts)
      data
    end

    # Get GrievanceCategory
    # Gets GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceCategoryVBAResponse, Integer, Hash)>] GrievanceCategoryVBAResponse data, response status code and response headers
    def get_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.get_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.get_grievance_category"
      end
      # verify the required parameter 'grievance_category' is set
      if @api_client.config.client_side_validation && grievance_category.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category' when calling GrievanceCategoriesApi.get_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories/{grievanceCategory}'.sub('{' + 'grievanceCategory' + '}', CGI.escape(grievance_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.get_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#get_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GrievanceCategory
    # Lists all GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GrievanceCategoryListVBAResponse]
    def list_grievance_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_grievance_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GrievanceCategory
    # Lists all GrievanceCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GrievanceCategoryListVBAResponse, Integer, Hash)>] GrievanceCategoryListVBAResponse data, response status code and response headers
    def list_grievance_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.list_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.list_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.list_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#list_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GrievanceCategory
    # Create or Update multiple GrievanceCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [Array<GrievanceCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_grievance_category(vbasoftware_database, grievance_category, opts = {})
      data, _status_code, _headers = update_batch_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts)
      data
    end

    # Create or Update Batch GrievanceCategory
    # Create or Update multiple GrievanceCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [Array<GrievanceCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_grievance_category_with_http_info(vbasoftware_database, grievance_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.update_batch_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.update_batch_grievance_category"
      end
      # verify the required parameter 'grievance_category' is set
      if @api_client.config.client_side_validation && grievance_category.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category' when calling GrievanceCategoriesApi.update_batch_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.update_batch_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#update_batch_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GrievanceCategory
    # Updates a specific GrievanceCategory.
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param grievance_category2 [GrievanceCategory] 
    # @param [Hash] opts the optional parameters
    # @return [GrievanceCategoryVBAResponse]
    def update_grievance_category(vbasoftware_database, grievance_category, grievance_category2, opts = {})
      data, _status_code, _headers = update_grievance_category_with_http_info(vbasoftware_database, grievance_category, grievance_category2, opts)
      data
    end

    # Update GrievanceCategory
    # Updates a specific GrievanceCategory.
    # @param vbasoftware_database [String] Target database
    # @param grievance_category [String] Grievance Category
    # @param grievance_category2 [GrievanceCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrievanceCategoryVBAResponse, Integer, Hash)>] GrievanceCategoryVBAResponse data, response status code and response headers
    def update_grievance_category_with_http_info(vbasoftware_database, grievance_category, grievance_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GrievanceCategoriesApi.update_grievance_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GrievanceCategoriesApi.update_grievance_category"
      end
      # verify the required parameter 'grievance_category' is set
      if @api_client.config.client_side_validation && grievance_category.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category' when calling GrievanceCategoriesApi.update_grievance_category"
      end
      # verify the required parameter 'grievance_category2' is set
      if @api_client.config.client_side_validation && grievance_category2.nil?
        fail ArgumentError, "Missing the required parameter 'grievance_category2' when calling GrievanceCategoriesApi.update_grievance_category"
      end
      # resource path
      local_var_path = '/grievance-categories/{grievanceCategory}'.sub('{' + 'grievanceCategory' + '}', CGI.escape(grievance_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grievance_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'GrievanceCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GrievanceCategoriesApi.update_grievance_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GrievanceCategoriesApi#update_grievance_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
