=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupAdviceToPayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupATP
    # Creates a new GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp [GroupATP] 
    # @param [Hash] opts the optional parameters
    # @return [GroupATPVBAResponse]
    def create_group_atp(vbasoftware_database, group_id, group_atp, opts = {})
      data, _status_code, _headers = create_group_atp_with_http_info(vbasoftware_database, group_id, group_atp, opts)
      data
    end

    # Create GroupATP
    # Creates a new GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp [GroupATP] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupATPVBAResponse, Integer, Hash)>] GroupATPVBAResponse data, response status code and response headers
    def create_group_atp_with_http_info(vbasoftware_database, group_id, group_atp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.create_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.create_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.create_group_atp"
      end
      # verify the required parameter 'group_atp' is set
      if @api_client.config.client_side_validation && group_atp.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp' when calling GroupAdviceToPayApi.create_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_atp)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupATPVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.create_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#create_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupATP
    # Deletes an GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_atp(vbasoftware_database, group_id, group_atp_key, opts = {})
      delete_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, opts)
      nil
    end

    # Delete GroupATP
    # Deletes an GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.delete_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.delete_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.delete_group_atp"
      end
      # verify the required parameter 'group_atp_key' is set
      if @api_client.config.client_side_validation && group_atp_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp_key' when calling GroupAdviceToPayApi.delete_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay/{groupATPKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupATPKey' + '}', CGI.escape(group_atp_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.delete_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#delete_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupATP
    # Gets GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param [Hash] opts the optional parameters
    # @return [GroupATPVBAResponse]
    def get_group_atp(vbasoftware_database, group_id, group_atp_key, opts = {})
      data, _status_code, _headers = get_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, opts)
      data
    end

    # Get GroupATP
    # Gets GroupATP
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupATPVBAResponse, Integer, Hash)>] GroupATPVBAResponse data, response status code and response headers
    def get_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.get_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.get_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.get_group_atp"
      end
      # verify the required parameter 'group_atp_key' is set
      if @api_client.config.client_side_validation && group_atp_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp_key' when calling GroupAdviceToPayApi.get_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay/{groupATPKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupATPKey' + '}', CGI.escape(group_atp_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupATPVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.get_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#get_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupATP
    # Lists all GroupATP for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupATPListVBAResponse]
    def list_group_atp(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_atp_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupATP
    # Lists all GroupATP for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupATPListVBAResponse, Integer, Hash)>] GroupATPListVBAResponse data, response status code and response headers
    def list_group_atp_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.list_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.list_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.list_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupATPListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.list_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#list_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupATP
    # Create or Update multiple GroupATP at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp [Array<GroupATP>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_atp(vbasoftware_database, group_id, group_atp, opts = {})
      data, _status_code, _headers = update_batch_group_atp_with_http_info(vbasoftware_database, group_id, group_atp, opts)
      data
    end

    # Create or Update Batch GroupATP
    # Create or Update multiple GroupATP at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp [Array<GroupATP>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_atp_with_http_info(vbasoftware_database, group_id, group_atp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.update_batch_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.update_batch_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.update_batch_group_atp"
      end
      # verify the required parameter 'group_atp' is set
      if @api_client.config.client_side_validation && group_atp.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp' when calling GroupAdviceToPayApi.update_batch_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_atp)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.update_batch_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#update_batch_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupATP
    # Updates a specific GroupATP.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param group_atp [GroupATP] 
    # @param [Hash] opts the optional parameters
    # @return [GroupATPVBAResponse]
    def update_group_atp(vbasoftware_database, group_id, group_atp_key, group_atp, opts = {})
      data, _status_code, _headers = update_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, group_atp, opts)
      data
    end

    # Update GroupATP
    # Updates a specific GroupATP.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_atp_key [Integer] GroupATP Key
    # @param group_atp [GroupATP] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupATPVBAResponse, Integer, Hash)>] GroupATPVBAResponse data, response status code and response headers
    def update_group_atp_with_http_info(vbasoftware_database, group_id, group_atp_key, group_atp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAdviceToPayApi.update_group_atp ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAdviceToPayApi.update_group_atp"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAdviceToPayApi.update_group_atp"
      end
      # verify the required parameter 'group_atp_key' is set
      if @api_client.config.client_side_validation && group_atp_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp_key' when calling GroupAdviceToPayApi.update_group_atp"
      end
      # verify the required parameter 'group_atp' is set
      if @api_client.config.client_side_validation && group_atp.nil?
        fail ArgumentError, "Missing the required parameter 'group_atp' when calling GroupAdviceToPayApi.update_group_atp"
      end
      # resource path
      local_var_path = '/groups/{groupID}/avdvice-to-pay/{groupATPKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupATPKey' + '}', CGI.escape(group_atp_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_atp)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupATPVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAdviceToPayApi.update_group_atp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAdviceToPayApi#update_group_atp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
