=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupSelfAdminSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupSelfAdmin
    # Creates a new GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin [GroupSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [GroupSelfAdminVBAResponse]
    def create_group_self_admin(vbasoftware_database, group_self_admin, opts = {})
      data, _status_code, _headers = create_group_self_admin_with_http_info(vbasoftware_database, group_self_admin, opts)
      data
    end

    # Create GroupSelfAdmin
    # Creates a new GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin [GroupSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupSelfAdminVBAResponse, Integer, Hash)>] GroupSelfAdminVBAResponse data, response status code and response headers
    def create_group_self_admin_with_http_info(vbasoftware_database, group_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.create_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.create_group_self_admin"
      end
      # verify the required parameter 'group_self_admin' is set
      if @api_client.config.client_side_validation && group_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin' when calling GroupSelfAdminSettingsApi.create_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.create_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#create_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupSelfAdmin
    # Deletes an GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_self_admin(vbasoftware_database, group_self_admin_key, opts = {})
      delete_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, opts)
      nil
    end

    # Delete GroupSelfAdmin
    # Deletes an GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.delete_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.delete_group_self_admin"
      end
      # verify the required parameter 'group_self_admin_key' is set
      if @api_client.config.client_side_validation && group_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin_key' when calling GroupSelfAdminSettingsApi.delete_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins/{groupSelfAdminKey}'.sub('{' + 'groupSelfAdminKey' + '}', CGI.escape(group_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.delete_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#delete_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupSelfAdmin
    # Gets GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [GroupSelfAdminVBAResponse]
    def get_group_self_admin(vbasoftware_database, group_self_admin_key, opts = {})
      data, _status_code, _headers = get_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, opts)
      data
    end

    # Get GroupSelfAdmin
    # Gets GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupSelfAdminVBAResponse, Integer, Hash)>] GroupSelfAdminVBAResponse data, response status code and response headers
    def get_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.get_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.get_group_self_admin"
      end
      # verify the required parameter 'group_self_admin_key' is set
      if @api_client.config.client_side_validation && group_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin_key' when calling GroupSelfAdminSettingsApi.get_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins/{groupSelfAdminKey}'.sub('{' + 'groupSelfAdminKey' + '}', CGI.escape(group_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.get_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#get_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupSelfAdmin
    # Lists all GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupSelfAdminListVBAResponse]
    def list_group_self_admin(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_self_admin_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupSelfAdmin
    # Lists all GroupSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupSelfAdminListVBAResponse, Integer, Hash)>] GroupSelfAdminListVBAResponse data, response status code and response headers
    def list_group_self_admin_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.list_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.list_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSelfAdminListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.list_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#list_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupSelfAdmin
    # Create or Update multiple GroupSelfAdmin at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin [Array<GroupSelfAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_self_admin(vbasoftware_database, group_self_admin, opts = {})
      data, _status_code, _headers = update_batch_group_self_admin_with_http_info(vbasoftware_database, group_self_admin, opts)
      data
    end

    # Create or Update Batch GroupSelfAdmin
    # Create or Update multiple GroupSelfAdmin at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin [Array<GroupSelfAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_self_admin_with_http_info(vbasoftware_database, group_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.update_batch_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.update_batch_group_self_admin"
      end
      # verify the required parameter 'group_self_admin' is set
      if @api_client.config.client_side_validation && group_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin' when calling GroupSelfAdminSettingsApi.update_batch_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.update_batch_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#update_batch_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupSelfAdmin
    # Updates a specific GroupSelfAdmin.
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param group_self_admin [GroupSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [GroupSelfAdminVBAResponse]
    def update_group_self_admin(vbasoftware_database, group_self_admin_key, group_self_admin, opts = {})
      data, _status_code, _headers = update_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, group_self_admin, opts)
      data
    end

    # Update GroupSelfAdmin
    # Updates a specific GroupSelfAdmin.
    # @param vbasoftware_database [String] Target database
    # @param group_self_admin_key [Integer] GroupSelfAdmin Key
    # @param group_self_admin [GroupSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupSelfAdminVBAResponse, Integer, Hash)>] GroupSelfAdminVBAResponse data, response status code and response headers
    def update_group_self_admin_with_http_info(vbasoftware_database, group_self_admin_key, group_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupSelfAdminSettingsApi.update_group_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupSelfAdminSettingsApi.update_group_self_admin"
      end
      # verify the required parameter 'group_self_admin_key' is set
      if @api_client.config.client_side_validation && group_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin_key' when calling GroupSelfAdminSettingsApi.update_group_self_admin"
      end
      # verify the required parameter 'group_self_admin' is set
      if @api_client.config.client_side_validation && group_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'group_self_admin' when calling GroupSelfAdminSettingsApi.update_group_self_admin"
      end
      # resource path
      local_var_path = '/group-self-admins/{groupSelfAdminKey}'.sub('{' + 'groupSelfAdminKey' + '}', CGI.escape(group_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupSelfAdminSettingsApi.update_group_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupSelfAdminSettingsApi#update_group_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
