=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupContractPlanPremiumsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupContractPlanPremium
    # Creates a new GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium [GroupContractPlanPremium] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanPremiumVBAResponse]
    def create_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts = {})
      data, _status_code, _headers = create_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts)
      data
    end

    # Create GroupContractPlanPremium
    # Creates a new GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium [GroupContractPlanPremium] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanPremiumVBAResponse, Integer, Hash)>] GroupContractPlanPremiumVBAResponse data, response status code and response headers
    def create_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.create_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium' when calling GroupContractPlanPremiumsApi.create_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanPremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.create_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#create_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupContractPlanPremium
    # Deletes an GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts = {})
      delete_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts)
      nil
    end

    # Delete GroupContractPlanPremium
    # Deletes an GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.delete_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium_key' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium_key' when calling GroupContractPlanPremiumsApi.delete_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums/{groupContractPlanPremiumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'groupContractPlanPremiumKey' + '}', CGI.escape(group_contract_plan_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.delete_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#delete_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupContractPlanPremium
    # Gets GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanPremiumVBAResponse]
    def get_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts = {})
      data, _status_code, _headers = get_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts)
      data
    end

    # Get GroupContractPlanPremium
    # Gets GroupContractPlanPremium
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanPremiumVBAResponse, Integer, Hash)>] GroupContractPlanPremiumVBAResponse data, response status code and response headers
    def get_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.get_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium_key' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium_key' when calling GroupContractPlanPremiumsApi.get_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums/{groupContractPlanPremiumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'groupContractPlanPremiumKey' + '}', CGI.escape(group_contract_plan_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanPremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.get_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#get_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupContractPlanPremium
    # Lists all GroupContractPlanPremium for the given groupID and divisionID and coverageStart and planID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupContractPlanPremiumListVBAResponse]
    def list_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, opts = {})
      data, _status_code, _headers = list_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, opts)
      data
    end

    # List GroupContractPlanPremium
    # Lists all GroupContractPlanPremium for the given groupID and divisionID and coverageStart and planID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupContractPlanPremiumListVBAResponse, Integer, Hash)>] GroupContractPlanPremiumListVBAResponse data, response status code and response headers
    def list_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.list_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.list_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.list_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.list_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.list_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.list_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanPremiumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.list_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#list_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupContractPlanPremium
    # Create or Update multiple GroupContractPlanPremium at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium [Array<GroupContractPlanPremium>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts = {})
      data, _status_code, _headers = update_batch_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts)
      data
    end

    # Create or Update Batch GroupContractPlanPremium
    # Create or Update multiple GroupContractPlanPremium at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium [Array<GroupContractPlanPremium>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium' when calling GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.update_batch_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#update_batch_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupContractPlanPremium
    # Updates a specific GroupContractPlanPremium.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param group_contract_plan_premium [GroupContractPlanPremium] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanPremiumVBAResponse]
    def update_group_contract_plan_premium(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, group_contract_plan_premium, opts = {})
      data, _status_code, _headers = update_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, group_contract_plan_premium, opts)
      data
    end

    # Update GroupContractPlanPremium
    # Updates a specific GroupContractPlanPremium.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param group_contract_plan_premium_key [Integer] GroupContractPlanPremium Key
    # @param group_contract_plan_premium [GroupContractPlanPremium] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanPremiumVBAResponse, Integer, Hash)>] GroupContractPlanPremiumVBAResponse data, response status code and response headers
    def update_group_contract_plan_premium_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, group_contract_plan_premium_key, group_contract_plan_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanPremiumsApi.update_group_contract_plan_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium_key' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium_key' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # verify the required parameter 'group_contract_plan_premium' is set
      if @api_client.config.client_side_validation && group_contract_plan_premium.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_premium' when calling GroupContractPlanPremiumsApi.update_group_contract_plan_premium"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/premiums/{groupContractPlanPremiumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'groupContractPlanPremiumKey' + '}', CGI.escape(group_contract_plan_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanPremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanPremiumsApi.update_group_contract_plan_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanPremiumsApi#update_group_contract_plan_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
