=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupPlanYearsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupPlanYear
    # Creates a new GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_plan_year [GroupPlanYear] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearVBAResponse]
    def create_group_plan_year(vbasoftware_database, group_id, division_id, group_plan_year, opts = {})
      data, _status_code, _headers = create_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, group_plan_year, opts)
      data
    end

    # Create GroupPlanYear
    # Creates a new GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_plan_year [GroupPlanYear] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearVBAResponse, Integer, Hash)>] GroupPlanYearVBAResponse data, response status code and response headers
    def create_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, group_plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.create_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.create_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.create_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.create_group_plan_year"
      end
      # verify the required parameter 'group_plan_year' is set
      if @api_client.config.client_side_validation && group_plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year' when calling GroupPlanYearsApi.create_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.create_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#create_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupPlanYear
    # Deletes an GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_plan_year(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      delete_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts)
      nil
    end

    # Delete GroupPlanYear
    # Deletes an GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.delete_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.delete_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.delete_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.delete_group_plan_year"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanYearsApi.delete_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.delete_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#delete_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupPlanYear
    # Gets GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearVBAResponse]
    def get_group_plan_year(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      data, _status_code, _headers = get_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts)
      data
    end

    # Get GroupPlanYear
    # Gets GroupPlanYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearVBAResponse, Integer, Hash)>] GroupPlanYearVBAResponse data, response status code and response headers
    def get_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.get_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.get_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.get_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.get_group_plan_year"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanYearsApi.get_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.get_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#get_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupPlanYear
    # Lists all GroupPlanYear for the given groupID and divisionID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupPlanYearListVBAResponse]
    def list_group_plan_year(vbasoftware_database, group_id, division_id, opts = {})
      data, _status_code, _headers = list_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, opts)
      data
    end

    # List GroupPlanYear
    # Lists all GroupPlanYear for the given groupID and divisionID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupPlanYearListVBAResponse, Integer, Hash)>] GroupPlanYearListVBAResponse data, response status code and response headers
    def list_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.list_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.list_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.list_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.list_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.list_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#list_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupPlanYear
    # Create or Update multiple GroupPlanYear at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_plan_year [Array<GroupPlanYear>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_plan_year(vbasoftware_database, group_id, division_id, group_plan_year, opts = {})
      data, _status_code, _headers = update_batch_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, group_plan_year, opts)
      data
    end

    # Create or Update Batch GroupPlanYear
    # Create or Update multiple GroupPlanYear at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_plan_year [Array<GroupPlanYear>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, group_plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.update_batch_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.update_batch_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.update_batch_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.update_batch_group_plan_year"
      end
      # verify the required parameter 'group_plan_year' is set
      if @api_client.config.client_side_validation && group_plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year' when calling GroupPlanYearsApi.update_batch_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.update_batch_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#update_batch_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupPlanYear
    # Updates a specific GroupPlanYear.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year [GroupPlanYear] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearVBAResponse]
    def update_group_plan_year(vbasoftware_database, group_id, division_id, plan_year, group_plan_year, opts = {})
      data, _status_code, _headers = update_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year, opts)
      data
    end

    # Update GroupPlanYear
    # Updates a specific GroupPlanYear.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year [GroupPlanYear] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearVBAResponse, Integer, Hash)>] GroupPlanYearVBAResponse data, response status code and response headers
    def update_group_plan_year_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanYearsApi.update_group_plan_year ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanYearsApi.update_group_plan_year"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanYearsApi.update_group_plan_year"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanYearsApi.update_group_plan_year"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanYearsApi.update_group_plan_year"
      end
      # verify the required parameter 'group_plan_year' is set
      if @api_client.config.client_side_validation && group_plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year' when calling GroupPlanYearsApi.update_group_plan_year"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanYearsApi.update_group_plan_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanYearsApi#update_group_plan_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
