=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupVolumesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupVolume
    # Creates a new GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume [GroupVolume] 
    # @param [Hash] opts the optional parameters
    # @return [GroupVolumeVBAResponse]
    def create_group_volume(vbasoftware_database, group_id, group_volume, opts = {})
      data, _status_code, _headers = create_group_volume_with_http_info(vbasoftware_database, group_id, group_volume, opts)
      data
    end

    # Create GroupVolume
    # Creates a new GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume [GroupVolume] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupVolumeVBAResponse, Integer, Hash)>] GroupVolumeVBAResponse data, response status code and response headers
    def create_group_volume_with_http_info(vbasoftware_database, group_id, group_volume, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.create_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.create_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.create_group_volume"
      end
      # verify the required parameter 'group_volume' is set
      if @api_client.config.client_side_validation && group_volume.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume' when calling GroupVolumesApi.create_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_volume)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupVolumeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.create_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#create_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupVolume
    # Deletes an GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_volume(vbasoftware_database, group_id, group_volume_key, opts = {})
      delete_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, opts)
      nil
    end

    # Delete GroupVolume
    # Deletes an GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.delete_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.delete_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.delete_group_volume"
      end
      # verify the required parameter 'group_volume_key' is set
      if @api_client.config.client_side_validation && group_volume_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume_key' when calling GroupVolumesApi.delete_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes/{groupVolumeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupVolumeKey' + '}', CGI.escape(group_volume_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.delete_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#delete_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupVolume
    # Gets GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param [Hash] opts the optional parameters
    # @return [GroupVolumeVBAResponse]
    def get_group_volume(vbasoftware_database, group_id, group_volume_key, opts = {})
      data, _status_code, _headers = get_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, opts)
      data
    end

    # Get GroupVolume
    # Gets GroupVolume
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupVolumeVBAResponse, Integer, Hash)>] GroupVolumeVBAResponse data, response status code and response headers
    def get_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.get_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.get_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.get_group_volume"
      end
      # verify the required parameter 'group_volume_key' is set
      if @api_client.config.client_side_validation && group_volume_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume_key' when calling GroupVolumesApi.get_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes/{groupVolumeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupVolumeKey' + '}', CGI.escape(group_volume_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupVolumeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.get_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#get_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupVolume
    # Lists all GroupVolume for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupVolumeListVBAResponse]
    def list_group_volume(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_volume_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupVolume
    # Lists all GroupVolume for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupVolumeListVBAResponse, Integer, Hash)>] GroupVolumeListVBAResponse data, response status code and response headers
    def list_group_volume_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.list_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.list_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.list_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupVolumeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.list_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#list_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupVolume nested by Division/Plan/Benefit
    # Lists all GroupVolume for the given groupID and have it nested by Division, then by Plan, then by Benefit.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @return [GroupVolumeNestedListVBAResponse]
    def list_group_volume_nested(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_volume_nested_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupVolume nested by Division/Plan/Benefit
    # Lists all GroupVolume for the given groupID and have it nested by Division, then by Plan, then by Benefit.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @return [Array<(GroupVolumeNestedListVBAResponse, Integer, Hash)>] GroupVolumeNestedListVBAResponse data, response status code and response headers
    def list_group_volume_nested_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.list_group_volume_nested ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.list_group_volume_nested"
      end
      # resource path
      local_var_path = '/groups-volumes-nested'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groupID'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupVolumeNestedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.list_group_volume_nested",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#list_group_volume_nested\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupVolume
    # Create or Update multiple GroupVolume at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume [Array<GroupVolume>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_volume(vbasoftware_database, group_id, group_volume, opts = {})
      data, _status_code, _headers = update_batch_group_volume_with_http_info(vbasoftware_database, group_id, group_volume, opts)
      data
    end

    # Create or Update Batch GroupVolume
    # Create or Update multiple GroupVolume at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume [Array<GroupVolume>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_volume_with_http_info(vbasoftware_database, group_id, group_volume, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.update_batch_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.update_batch_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.update_batch_group_volume"
      end
      # verify the required parameter 'group_volume' is set
      if @api_client.config.client_side_validation && group_volume.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume' when calling GroupVolumesApi.update_batch_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_volume)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.update_batch_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#update_batch_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupVolume
    # Updates a specific GroupVolume.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param group_volume [GroupVolume] 
    # @param [Hash] opts the optional parameters
    # @return [GroupVolumeVBAResponse]
    def update_group_volume(vbasoftware_database, group_id, group_volume_key, group_volume, opts = {})
      data, _status_code, _headers = update_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, group_volume, opts)
      data
    end

    # Update GroupVolume
    # Updates a specific GroupVolume.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_volume_key [Integer] GroupVolume Key
    # @param group_volume [GroupVolume] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupVolumeVBAResponse, Integer, Hash)>] GroupVolumeVBAResponse data, response status code and response headers
    def update_group_volume_with_http_info(vbasoftware_database, group_id, group_volume_key, group_volume, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupVolumesApi.update_group_volume ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupVolumesApi.update_group_volume"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupVolumesApi.update_group_volume"
      end
      # verify the required parameter 'group_volume_key' is set
      if @api_client.config.client_side_validation && group_volume_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume_key' when calling GroupVolumesApi.update_group_volume"
      end
      # verify the required parameter 'group_volume' is set
      if @api_client.config.client_side_validation && group_volume.nil?
        fail ArgumentError, "Missing the required parameter 'group_volume' when calling GroupVolumesApi.update_group_volume"
      end
      # resource path
      local_var_path = '/groups/{groupID}/volumes/{groupVolumeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupVolumeKey' + '}', CGI.escape(group_volume_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_volume)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupVolumeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupVolumesApi.update_group_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupVolumesApi#update_group_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
