=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupParticipationIncentivesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupsParticipationIncentive
    # Creates a new GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive [GroupsParticipationIncentive] 
    # @param [Hash] opts the optional parameters
    # @return [GroupsParticipationIncentiveVBAResponse]
    def create_groups_participation_incentive(vbasoftware_database, groups_participation_incentive, opts = {})
      data, _status_code, _headers = create_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive, opts)
      data
    end

    # Create GroupsParticipationIncentive
    # Creates a new GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive [GroupsParticipationIncentive] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupsParticipationIncentiveVBAResponse, Integer, Hash)>] GroupsParticipationIncentiveVBAResponse data, response status code and response headers
    def create_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.create_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.create_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive' is set
      if @api_client.config.client_side_validation && groups_participation_incentive.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive' when calling GroupParticipationIncentivesApi.create_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(groups_participation_incentive)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsParticipationIncentiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.create_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#create_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupsParticipationIncentive
    # Deletes an GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_groups_participation_incentive(vbasoftware_database, groups_participation_incentive_key, opts = {})
      delete_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, opts)
      nil
    end

    # Delete GroupsParticipationIncentive
    # Deletes an GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.delete_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.delete_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive_key' is set
      if @api_client.config.client_side_validation && groups_participation_incentive_key.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive_key' when calling GroupParticipationIncentivesApi.delete_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives/{groupsParticipationIncentiveKey}'.sub('{' + 'groupsParticipationIncentiveKey' + '}', CGI.escape(groups_participation_incentive_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.delete_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#delete_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupsParticipationIncentive
    # Gets GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param [Hash] opts the optional parameters
    # @return [GroupsParticipationIncentiveVBAResponse]
    def get_groups_participation_incentive(vbasoftware_database, groups_participation_incentive_key, opts = {})
      data, _status_code, _headers = get_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, opts)
      data
    end

    # Get GroupsParticipationIncentive
    # Gets GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupsParticipationIncentiveVBAResponse, Integer, Hash)>] GroupsParticipationIncentiveVBAResponse data, response status code and response headers
    def get_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.get_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.get_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive_key' is set
      if @api_client.config.client_side_validation && groups_participation_incentive_key.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive_key' when calling GroupParticipationIncentivesApi.get_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives/{groupsParticipationIncentiveKey}'.sub('{' + 'groupsParticipationIncentiveKey' + '}', CGI.escape(groups_participation_incentive_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsParticipationIncentiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.get_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#get_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupsParticipationIncentive
    # Lists all GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupsParticipationIncentiveListVBAResponse]
    def list_groups_participation_incentive(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_groups_participation_incentive_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupsParticipationIncentive
    # Lists all GroupsParticipationIncentive
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupsParticipationIncentiveListVBAResponse, Integer, Hash)>] GroupsParticipationIncentiveListVBAResponse data, response status code and response headers
    def list_groups_participation_incentive_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.list_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.list_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsParticipationIncentiveListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.list_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#list_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupsParticipationIncentive
    # Create or Update multiple GroupsParticipationIncentive at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive [Array<GroupsParticipationIncentive>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_groups_participation_incentive(vbasoftware_database, groups_participation_incentive, opts = {})
      data, _status_code, _headers = update_batch_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive, opts)
      data
    end

    # Create or Update Batch GroupsParticipationIncentive
    # Create or Update multiple GroupsParticipationIncentive at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive [Array<GroupsParticipationIncentive>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.update_batch_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.update_batch_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive' is set
      if @api_client.config.client_side_validation && groups_participation_incentive.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive' when calling GroupParticipationIncentivesApi.update_batch_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(groups_participation_incentive)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.update_batch_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#update_batch_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupsParticipationIncentive
    # Updates a specific GroupsParticipationIncentive.
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param groups_participation_incentive [GroupsParticipationIncentive] 
    # @param [Hash] opts the optional parameters
    # @return [GroupsParticipationIncentiveVBAResponse]
    def update_groups_participation_incentive(vbasoftware_database, groups_participation_incentive_key, groups_participation_incentive, opts = {})
      data, _status_code, _headers = update_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, groups_participation_incentive, opts)
      data
    end

    # Update GroupsParticipationIncentive
    # Updates a specific GroupsParticipationIncentive.
    # @param vbasoftware_database [String] Target database
    # @param groups_participation_incentive_key [Integer] GroupsParticipationIncentive Key
    # @param groups_participation_incentive [GroupsParticipationIncentive] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupsParticipationIncentiveVBAResponse, Integer, Hash)>] GroupsParticipationIncentiveVBAResponse data, response status code and response headers
    def update_groups_participation_incentive_with_http_info(vbasoftware_database, groups_participation_incentive_key, groups_participation_incentive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupParticipationIncentivesApi.update_groups_participation_incentive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupParticipationIncentivesApi.update_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive_key' is set
      if @api_client.config.client_side_validation && groups_participation_incentive_key.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive_key' when calling GroupParticipationIncentivesApi.update_groups_participation_incentive"
      end
      # verify the required parameter 'groups_participation_incentive' is set
      if @api_client.config.client_side_validation && groups_participation_incentive.nil?
        fail ArgumentError, "Missing the required parameter 'groups_participation_incentive' when calling GroupParticipationIncentivesApi.update_groups_participation_incentive"
      end
      # resource path
      local_var_path = '/group-participation-incentives/{groupsParticipationIncentiveKey}'.sub('{' + 'groupsParticipationIncentiveKey' + '}', CGI.escape(groups_participation_incentive_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(groups_participation_incentive)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsParticipationIncentiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupParticipationIncentivesApi.update_groups_participation_incentive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupParticipationIncentivesApi#update_groups_participation_incentive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
