=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupNetworkAddOnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupNetworkAddOn
    # Creates a new GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on [GroupNetworkAddOn] 
    # @param [Hash] opts the optional parameters
    # @return [GroupNetworkAddOnVBAResponse]
    def create_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts = {})
      data, _status_code, _headers = create_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts)
      data
    end

    # Create GroupNetworkAddOn
    # Creates a new GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on [GroupNetworkAddOn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupNetworkAddOnVBAResponse, Integer, Hash)>] GroupNetworkAddOnVBAResponse data, response status code and response headers
    def create_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.create_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on' is set
      if @api_client.config.client_side_validation && group_network_add_on.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on' when calling GroupNetworkAddOnsApi.create_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_network_add_on)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupNetworkAddOnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.create_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#create_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupNetworkAddOn
    # Deletes an GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts = {})
      delete_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts)
      nil
    end

    # Delete GroupNetworkAddOn
    # Deletes an GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.delete_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on_key' is set
      if @api_client.config.client_side_validation && group_network_add_on_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on_key' when calling GroupNetworkAddOnsApi.delete_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons/{groupNetworkAddOnKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'groupNetworkAddOnKey' + '}', CGI.escape(group_network_add_on_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.delete_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#delete_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupNetworkAddOn
    # Gets GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param [Hash] opts the optional parameters
    # @return [GroupNetworkAddOnVBAResponse]
    def get_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts = {})
      data, _status_code, _headers = get_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts)
      data
    end

    # Get GroupNetworkAddOn
    # Gets GroupNetworkAddOn
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupNetworkAddOnVBAResponse, Integer, Hash)>] GroupNetworkAddOnVBAResponse data, response status code and response headers
    def get_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.get_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on_key' is set
      if @api_client.config.client_side_validation && group_network_add_on_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on_key' when calling GroupNetworkAddOnsApi.get_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons/{groupNetworkAddOnKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'groupNetworkAddOnKey' + '}', CGI.escape(group_network_add_on_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupNetworkAddOnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.get_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#get_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupNetworkAddOn
    # Lists all GroupNetworkAddOn for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupNetworkAddOnListVBAResponse]
    def list_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, opts = {})
      data, _status_code, _headers = list_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, opts)
      data
    end

    # List GroupNetworkAddOn
    # Lists all GroupNetworkAddOn for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupNetworkAddOnListVBAResponse, Integer, Hash)>] GroupNetworkAddOnListVBAResponse data, response status code and response headers
    def list_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.list_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.list_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupNetworkAddOnListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.list_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#list_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupNetworkAddOn
    # Create or Update multiple GroupNetworkAddOn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on [Array<GroupNetworkAddOn>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts = {})
      data, _status_code, _headers = update_batch_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts)
      data
    end

    # Create or Update Batch GroupNetworkAddOn
    # Create or Update multiple GroupNetworkAddOn at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on [Array<GroupNetworkAddOn>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.update_batch_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on' is set
      if @api_client.config.client_side_validation && group_network_add_on.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on' when calling GroupNetworkAddOnsApi.update_batch_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_network_add_on)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.update_batch_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#update_batch_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupNetworkAddOn
    # Updates a specific GroupNetworkAddOn.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param group_network_add_on [GroupNetworkAddOn] 
    # @param [Hash] opts the optional parameters
    # @return [GroupNetworkAddOnVBAResponse]
    def update_group_network_add_on(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, group_network_add_on, opts = {})
      data, _status_code, _headers = update_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, group_network_add_on, opts)
      data
    end

    # Update GroupNetworkAddOn
    # Updates a specific GroupNetworkAddOn.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param network_id [String] NetworkID
    # @param state [String] State
    # @param group_network_add_on_key [Integer] GroupNetworkAddOn Key
    # @param group_network_add_on [GroupNetworkAddOn] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupNetworkAddOnVBAResponse, Integer, Hash)>] GroupNetworkAddOnVBAResponse data, response status code and response headers
    def update_group_network_add_on_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, network_id, state, group_network_add_on_key, group_network_add_on, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupNetworkAddOnsApi.update_group_network_add_on ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on_key' is set
      if @api_client.config.client_side_validation && group_network_add_on_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on_key' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # verify the required parameter 'group_network_add_on' is set
      if @api_client.config.client_side_validation && group_network_add_on.nil?
        fail ArgumentError, "Missing the required parameter 'group_network_add_on' when calling GroupNetworkAddOnsApi.update_group_network_add_on"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/networks/{networkID}/{state}/add-ons/{groupNetworkAddOnKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'groupNetworkAddOnKey' + '}', CGI.escape(group_network_add_on_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_network_add_on)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupNetworkAddOnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupNetworkAddOnsApi.update_group_network_add_on",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupNetworkAddOnsApi#update_group_network_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
