=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupDayIntervalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupDayInterval
    # Creates a new GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_day_interval [GroupDayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDayIntervalVBAResponse]
    def create_group_day_interval(vbasoftware_database, group_day_interval, opts = {})
      data, _status_code, _headers = create_group_day_interval_with_http_info(vbasoftware_database, group_day_interval, opts)
      data
    end

    # Create GroupDayInterval
    # Creates a new GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_day_interval [GroupDayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDayIntervalVBAResponse, Integer, Hash)>] GroupDayIntervalVBAResponse data, response status code and response headers
    def create_group_day_interval_with_http_info(vbasoftware_database, group_day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.create_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.create_group_day_interval"
      end
      # verify the required parameter 'group_day_interval' is set
      if @api_client.config.client_side_validation && group_day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'group_day_interval' when calling GroupDayIntervalApi.create_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.create_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#create_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupDayInterval
    # Deletes an GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_day_interval(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts = {})
      delete_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts)
      nil
    end

    # Delete GroupDayInterval
    # Deletes an GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.delete_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.delete_group_day_interval"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupDayIntervalApi.delete_group_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling GroupDayIntervalApi.delete_group_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling GroupDayIntervalApi.delete_group_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling GroupDayIntervalApi.delete_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals/{Group_ID}/{Interval_Year}/{Interval_Month}/{Interval_Day}'.sub('{' + 'Group_ID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'Interval_Year' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'Interval_Month' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'Interval_Day' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.delete_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#delete_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupDayInterval
    # Gets GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [GroupDayIntervalVBAResponse]
    def get_group_day_interval(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts = {})
      data, _status_code, _headers = get_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts)
      data
    end

    # Get GroupDayInterval
    # Gets GroupDayInterval
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDayIntervalVBAResponse, Integer, Hash)>] GroupDayIntervalVBAResponse data, response status code and response headers
    def get_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.get_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.get_group_day_interval"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupDayIntervalApi.get_group_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling GroupDayIntervalApi.get_group_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling GroupDayIntervalApi.get_group_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling GroupDayIntervalApi.get_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals/{Group_ID}/{Interval_Year}/{Interval_Month}/{Interval_Day}'.sub('{' + 'Group_ID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'Interval_Year' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'Interval_Month' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'Interval_Day' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.get_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#get_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupDayInterval
    # Lists all GroupDayInterval for the given Group_ID and Interval_Year and Interval_Month and Interval_Day
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Optional filter for Group ID
    # @option opts [Integer] :interval_year Optional filter for Interval Year
    # @option opts [Integer] :interval_month Optional filter for Interval Month
    # @option opts [Integer] :interval_day Optional filter for Interval Day
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [GroupDayIntervalListVBAResponse]
    def list_group_day_interval(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_day_interval_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupDayInterval
    # Lists all GroupDayInterval for the given Group_ID and Interval_Year and Interval_Month and Interval_Day
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Optional filter for Group ID
    # @option opts [Integer] :interval_year Optional filter for Interval Year
    # @option opts [Integer] :interval_month Optional filter for Interval Month
    # @option opts [Integer] :interval_day Optional filter for Interval Day
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(GroupDayIntervalListVBAResponse, Integer, Hash)>] GroupDayIntervalListVBAResponse data, response status code and response headers
    def list_group_day_interval_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.list_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.list_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'Group_ID'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'Interval_Year'] = opts[:'interval_year'] if !opts[:'interval_year'].nil?
      query_params[:'Interval_Month'] = opts[:'interval_month'] if !opts[:'interval_month'].nil?
      query_params[:'Interval_Day'] = opts[:'interval_day'] if !opts[:'interval_day'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDayIntervalListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.list_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#list_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupDayInterval
    # Create or Update multiple GroupDayInterval at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_day_interval [Array<GroupDayInterval>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_day_interval(vbasoftware_database, group_day_interval, opts = {})
      data, _status_code, _headers = update_batch_group_day_interval_with_http_info(vbasoftware_database, group_day_interval, opts)
      data
    end

    # Create or Update Batch GroupDayInterval
    # Create or Update multiple GroupDayInterval at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_day_interval [Array<GroupDayInterval>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_day_interval_with_http_info(vbasoftware_database, group_day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.update_batch_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.update_batch_group_day_interval"
      end
      # verify the required parameter 'group_day_interval' is set
      if @api_client.config.client_side_validation && group_day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'group_day_interval' when calling GroupDayIntervalApi.update_batch_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.update_batch_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#update_batch_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupDayInterval
    # Updates a specific GroupDayInterval.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param group_day_interval [GroupDayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDayIntervalVBAResponse]
    def update_group_day_interval(vbasoftware_database, group_id, interval_year, interval_month, interval_day, group_day_interval, opts = {})
      data, _status_code, _headers = update_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, group_day_interval, opts)
      data
    end

    # Update GroupDayInterval
    # Updates a specific GroupDayInterval.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param interval_year [Integer] Interval Year
    # @param interval_month [Integer] Interval Month
    # @param interval_day [Integer] Interval Day
    # @param group_day_interval [GroupDayInterval] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDayIntervalVBAResponse, Integer, Hash)>] GroupDayIntervalVBAResponse data, response status code and response headers
    def update_group_day_interval_with_http_info(vbasoftware_database, group_id, interval_year, interval_month, interval_day, group_day_interval, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDayIntervalApi.update_group_day_interval ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # verify the required parameter 'interval_year' is set
      if @api_client.config.client_side_validation && interval_year.nil?
        fail ArgumentError, "Missing the required parameter 'interval_year' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # verify the required parameter 'interval_month' is set
      if @api_client.config.client_side_validation && interval_month.nil?
        fail ArgumentError, "Missing the required parameter 'interval_month' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # verify the required parameter 'interval_day' is set
      if @api_client.config.client_side_validation && interval_day.nil?
        fail ArgumentError, "Missing the required parameter 'interval_day' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # verify the required parameter 'group_day_interval' is set
      if @api_client.config.client_side_validation && group_day_interval.nil?
        fail ArgumentError, "Missing the required parameter 'group_day_interval' when calling GroupDayIntervalApi.update_group_day_interval"
      end
      # resource path
      local_var_path = '/group-day-intervals/{Group_ID}/{Interval_Year}/{Interval_Month}/{Interval_Day}'.sub('{' + 'Group_ID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'Interval_Year' + '}', CGI.escape(interval_year.to_s)).sub('{' + 'Interval_Month' + '}', CGI.escape(interval_month.to_s)).sub('{' + 'Interval_Day' + '}', CGI.escape(interval_day.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_day_interval)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDayIntervalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDayIntervalApi.update_group_day_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDayIntervalApi#update_group_day_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
