=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupPayorAccountPlanTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupPayorAccountPlanType
    # Creates a new GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_plan_type [GroupPayorAccountPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPayorAccountPlanTypeVBAResponse]
    def create_group_payor_account_plan_type(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts = {})
      data, _status_code, _headers = create_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts)
      data
    end

    # Create GroupPayorAccountPlanType
    # Creates a new GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_plan_type [GroupPayorAccountPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPayorAccountPlanTypeVBAResponse, Integer, Hash)>] GroupPayorAccountPlanTypeVBAResponse data, response status code and response headers
    def create_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_payor_account_plan_type' is set
      if @api_client.config.client_side_validation && group_payor_account_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'group_payor_account_plan_type' when calling GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/plan-types'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_payor_account_plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountPlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountPlanTypesApi.create_group_payor_account_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountPlanTypesApi#create_group_payor_account_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupPayorAccountPlanType
    # Deletes an GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_payor_account_plan_type(vbasoftware_database, group_id, setting_id, plan_type, opts = {})
      delete_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, plan_type, opts)
      nil
    end

    # Delete GroupPayorAccountPlanType
    # Deletes an GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/plan-types/{planType}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s)).sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountPlanTypesApi.delete_group_payor_account_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountPlanTypesApi#delete_group_payor_account_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupPayorAccountPlanType
    # Gets GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [GroupPayorAccountPlanTypeVBAResponse]
    def get_group_payor_account_plan_type(vbasoftware_database, group_id, setting_id, plan_type, opts = {})
      data, _status_code, _headers = get_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, plan_type, opts)
      data
    end

    # Get GroupPayorAccountPlanType
    # Gets GroupPayorAccountPlanType
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPayorAccountPlanTypeVBAResponse, Integer, Hash)>] GroupPayorAccountPlanTypeVBAResponse data, response status code and response headers
    def get_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/plan-types/{planType}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s)).sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountPlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountPlanTypesApi.get_group_payor_account_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountPlanTypesApi#get_group_payor_account_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupPayorAccountPlanType
    # Lists all GroupPayorAccountPlanType for the given groupID and settingID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupPayorAccountPlanTypeListVBAResponse]
    def list_group_payor_account_plan_type(vbasoftware_database, group_id, setting_id, opts = {})
      data, _status_code, _headers = list_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, opts)
      data
    end

    # List GroupPayorAccountPlanType
    # Lists all GroupPayorAccountPlanType for the given groupID and settingID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupPayorAccountPlanTypeListVBAResponse, Integer, Hash)>] GroupPayorAccountPlanTypeListVBAResponse data, response status code and response headers
    def list_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountPlanTypesApi.list_group_payor_account_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountPlanTypesApi.list_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountPlanTypesApi.list_group_payor_account_plan_type"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountPlanTypesApi.list_group_payor_account_plan_type"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/plan-types'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountPlanTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountPlanTypesApi.list_group_payor_account_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountPlanTypesApi#list_group_payor_account_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupPayorAccountPlanType
    # Create or Update multiple GroupPayorAccountPlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_plan_type [Array<GroupPayorAccountPlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_payor_account_plan_type(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts = {})
      data, _status_code, _headers = update_batch_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts)
      data
    end

    # Create or Update Batch GroupPayorAccountPlanType
    # Create or Update multiple GroupPayorAccountPlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_plan_type [Array<GroupPayorAccountPlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_payor_account_plan_type_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type"
      end
      # verify the required parameter 'group_payor_account_plan_type' is set
      if @api_client.config.client_side_validation && group_payor_account_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'group_payor_account_plan_type' when calling GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/plan-types-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_payor_account_plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountPlanTypesApi.update_batch_group_payor_account_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountPlanTypesApi#update_batch_group_payor_account_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
