=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupBillCyclePaymentMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupBillCyclePaymentMethod
    # Creates a new GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method [GroupBillCyclePaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [GroupBillCyclePaymentMethodVBAResponse]
    def create_group_bill_cycle_payment_method(vbasoftware_database, group_bill_cycle_payment_method, opts = {})
      data, _status_code, _headers = create_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method, opts)
      data
    end

    # Create GroupBillCyclePaymentMethod
    # Creates a new GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method [GroupBillCyclePaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupBillCyclePaymentMethodVBAResponse, Integer, Hash)>] GroupBillCyclePaymentMethodVBAResponse data, response status code and response headers
    def create_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.create_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.create_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method' when calling GroupBillCyclePaymentMethodsApi.create_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_bill_cycle_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupBillCyclePaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.create_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#create_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupBillCyclePaymentMethod
    # Deletes an GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_bill_cycle_payment_method(vbasoftware_database, group_bill_cycle_payment_method_key, opts = {})
      delete_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, opts)
      nil
    end

    # Delete GroupBillCyclePaymentMethod
    # Deletes an GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.delete_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.delete_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method_key' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method_key' when calling GroupBillCyclePaymentMethodsApi.delete_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods/{GroupBillCyclePaymentMethod_Key}'.sub('{' + 'GroupBillCyclePaymentMethod_Key' + '}', CGI.escape(group_bill_cycle_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.delete_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#delete_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupBillCyclePaymentMethod
    # Gets GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param [Hash] opts the optional parameters
    # @return [GroupBillCyclePaymentMethodVBAResponse]
    def get_group_bill_cycle_payment_method(vbasoftware_database, group_bill_cycle_payment_method_key, opts = {})
      data, _status_code, _headers = get_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, opts)
      data
    end

    # Get GroupBillCyclePaymentMethod
    # Gets GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupBillCyclePaymentMethodVBAResponse, Integer, Hash)>] GroupBillCyclePaymentMethodVBAResponse data, response status code and response headers
    def get_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.get_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.get_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method_key' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method_key' when calling GroupBillCyclePaymentMethodsApi.get_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods/{GroupBillCyclePaymentMethod_Key}'.sub('{' + 'GroupBillCyclePaymentMethod_Key' + '}', CGI.escape(group_bill_cycle_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupBillCyclePaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.get_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#get_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupBillCyclePaymentMethod
    # Lists all GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [GroupBillCyclePaymentMethodListVBAResponse]
    def list_group_bill_cycle_payment_method(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupBillCyclePaymentMethod
    # Lists all GroupBillCyclePaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(GroupBillCyclePaymentMethodListVBAResponse, Integer, Hash)>] GroupBillCyclePaymentMethodListVBAResponse data, response status code and response headers
    def list_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.list_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.list_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupBillCyclePaymentMethodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.list_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#list_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupBillCyclePaymentMethod
    # Create or Update multiple GroupBillCyclePaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method [Array<GroupBillCyclePaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_bill_cycle_payment_method(vbasoftware_database, group_bill_cycle_payment_method, opts = {})
      data, _status_code, _headers = update_batch_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method, opts)
      data
    end

    # Create or Update Batch GroupBillCyclePaymentMethod
    # Create or Update multiple GroupBillCyclePaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method [Array<GroupBillCyclePaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.update_batch_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.update_batch_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method' when calling GroupBillCyclePaymentMethodsApi.update_batch_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_bill_cycle_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.update_batch_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#update_batch_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupBillCyclePaymentMethod
    # Updates a specific GroupBillCyclePaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param group_bill_cycle_payment_method [GroupBillCyclePaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [GroupBillCyclePaymentMethodVBAResponse]
    def update_group_bill_cycle_payment_method(vbasoftware_database, group_bill_cycle_payment_method_key, group_bill_cycle_payment_method, opts = {})
      data, _status_code, _headers = update_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, group_bill_cycle_payment_method, opts)
      data
    end

    # Update GroupBillCyclePaymentMethod
    # Updates a specific GroupBillCyclePaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param group_bill_cycle_payment_method_key [Integer] GroupBillCyclePaymentMethod Key
    # @param group_bill_cycle_payment_method [GroupBillCyclePaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupBillCyclePaymentMethodVBAResponse, Integer, Hash)>] GroupBillCyclePaymentMethodVBAResponse data, response status code and response headers
    def update_group_bill_cycle_payment_method_with_http_info(vbasoftware_database, group_bill_cycle_payment_method_key, group_bill_cycle_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupBillCyclePaymentMethodsApi.update_group_bill_cycle_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupBillCyclePaymentMethodsApi.update_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method_key' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method_key' when calling GroupBillCyclePaymentMethodsApi.update_group_bill_cycle_payment_method"
      end
      # verify the required parameter 'group_bill_cycle_payment_method' is set
      if @api_client.config.client_side_validation && group_bill_cycle_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'group_bill_cycle_payment_method' when calling GroupBillCyclePaymentMethodsApi.update_group_bill_cycle_payment_method"
      end
      # resource path
      local_var_path = '/group-bill-cycle-payment-methods/{GroupBillCyclePaymentMethod_Key}'.sub('{' + 'GroupBillCyclePaymentMethod_Key' + '}', CGI.escape(group_bill_cycle_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_bill_cycle_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupBillCyclePaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupBillCyclePaymentMethodsApi.update_group_bill_cycle_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupBillCyclePaymentMethodsApi#update_group_bill_cycle_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
