=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupDivisionCaptivesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupDivisionCaptive
    # Creates a new GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive [GroupDivisionCaptive] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDivisionCaptiveVBAResponse]
    def create_group_division_captive(vbasoftware_database, group_division_captive, opts = {})
      data, _status_code, _headers = create_group_division_captive_with_http_info(vbasoftware_database, group_division_captive, opts)
      data
    end

    # Create GroupDivisionCaptive
    # Creates a new GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive [GroupDivisionCaptive] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDivisionCaptiveVBAResponse, Integer, Hash)>] GroupDivisionCaptiveVBAResponse data, response status code and response headers
    def create_group_division_captive_with_http_info(vbasoftware_database, group_division_captive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.create_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.create_group_division_captive"
      end
      # verify the required parameter 'group_division_captive' is set
      if @api_client.config.client_side_validation && group_division_captive.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive' when calling GroupDivisionCaptivesApi.create_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_division_captive)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDivisionCaptiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.create_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#create_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupDivisionCaptive
    # Deletes an GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_division_captive(vbasoftware_database, group_division_captive1, opts = {})
      delete_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, opts)
      nil
    end

    # Delete GroupDivisionCaptive
    # Deletes an GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.delete_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.delete_group_division_captive"
      end
      # verify the required parameter 'group_division_captive1' is set
      if @api_client.config.client_side_validation && group_division_captive1.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive1' when calling GroupDivisionCaptivesApi.delete_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives/{groupDivisionCaptive1}'.sub('{' + 'groupDivisionCaptive1' + '}', CGI.escape(group_division_captive1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.delete_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#delete_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupDivisionCaptive
    # Gets GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param [Hash] opts the optional parameters
    # @return [GroupDivisionCaptiveVBAResponse]
    def get_group_division_captive(vbasoftware_database, group_division_captive1, opts = {})
      data, _status_code, _headers = get_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, opts)
      data
    end

    # Get GroupDivisionCaptive
    # Gets GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDivisionCaptiveVBAResponse, Integer, Hash)>] GroupDivisionCaptiveVBAResponse data, response status code and response headers
    def get_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.get_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.get_group_division_captive"
      end
      # verify the required parameter 'group_division_captive1' is set
      if @api_client.config.client_side_validation && group_division_captive1.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive1' when calling GroupDivisionCaptivesApi.get_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives/{groupDivisionCaptive1}'.sub('{' + 'groupDivisionCaptive1' + '}', CGI.escape(group_division_captive1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDivisionCaptiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.get_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#get_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupDivisionCaptive
    # Lists all GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupDivisionCaptiveListVBAResponse]
    def list_group_division_captive(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_division_captive_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupDivisionCaptive
    # Lists all GroupDivisionCaptive
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupDivisionCaptiveListVBAResponse, Integer, Hash)>] GroupDivisionCaptiveListVBAResponse data, response status code and response headers
    def list_group_division_captive_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.list_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.list_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDivisionCaptiveListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.list_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#list_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupDivisionCaptive
    # Create or Update multiple GroupDivisionCaptive at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive [Array<GroupDivisionCaptive>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_division_captive(vbasoftware_database, group_division_captive, opts = {})
      data, _status_code, _headers = update_batch_group_division_captive_with_http_info(vbasoftware_database, group_division_captive, opts)
      data
    end

    # Create or Update Batch GroupDivisionCaptive
    # Create or Update multiple GroupDivisionCaptive at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive [Array<GroupDivisionCaptive>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_division_captive_with_http_info(vbasoftware_database, group_division_captive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.update_batch_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.update_batch_group_division_captive"
      end
      # verify the required parameter 'group_division_captive' is set
      if @api_client.config.client_side_validation && group_division_captive.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive' when calling GroupDivisionCaptivesApi.update_batch_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_division_captive)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.update_batch_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#update_batch_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupDivisionCaptive
    # Updates a specific GroupDivisionCaptive.
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param group_division_captive [GroupDivisionCaptive] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDivisionCaptiveVBAResponse]
    def update_group_division_captive(vbasoftware_database, group_division_captive1, group_division_captive, opts = {})
      data, _status_code, _headers = update_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, group_division_captive, opts)
      data
    end

    # Update GroupDivisionCaptive
    # Updates a specific GroupDivisionCaptive.
    # @param vbasoftware_database [String] Target database
    # @param group_division_captive1 [String] GroupDivisionCaptive1
    # @param group_division_captive [GroupDivisionCaptive] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDivisionCaptiveVBAResponse, Integer, Hash)>] GroupDivisionCaptiveVBAResponse data, response status code and response headers
    def update_group_division_captive_with_http_info(vbasoftware_database, group_division_captive1, group_division_captive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupDivisionCaptivesApi.update_group_division_captive ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupDivisionCaptivesApi.update_group_division_captive"
      end
      # verify the required parameter 'group_division_captive1' is set
      if @api_client.config.client_side_validation && group_division_captive1.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive1' when calling GroupDivisionCaptivesApi.update_group_division_captive"
      end
      # verify the required parameter 'group_division_captive' is set
      if @api_client.config.client_side_validation && group_division_captive.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_captive' when calling GroupDivisionCaptivesApi.update_group_division_captive"
      end
      # resource path
      local_var_path = '/group-division-captives/{groupDivisionCaptive1}'.sub('{' + 'groupDivisionCaptive1' + '}', CGI.escape(group_division_captive1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_division_captive)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDivisionCaptiveVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupDivisionCaptivesApi.update_group_division_captive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupDivisionCaptivesApi#update_group_division_captive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
