=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupAccountReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupAccountReport
    # Creates a new GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_report [GroupAccountReport] 
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountReportVBAResponse]
    def create_group_account_report(vbasoftware_database, group_id, group_account_report, opts = {})
      data, _status_code, _headers = create_group_account_report_with_http_info(vbasoftware_database, group_id, group_account_report, opts)
      data
    end

    # Create GroupAccountReport
    # Creates a new GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_report [GroupAccountReport] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountReportVBAResponse, Integer, Hash)>] GroupAccountReportVBAResponse data, response status code and response headers
    def create_group_account_report_with_http_info(vbasoftware_database, group_id, group_account_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.create_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.create_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.create_group_account_report"
      end
      # verify the required parameter 'group_account_report' is set
      if @api_client.config.client_side_validation && group_account_report.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_report' when calling GroupAccountReportsApi.create_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_report)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.create_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#create_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupAccountReport
    # Deletes an GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_account_report(vbasoftware_database, group_id, account_key, opts = {})
      delete_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, opts)
      nil
    end

    # Delete GroupAccountReport
    # Deletes an GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.delete_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.delete_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.delete_group_account_report"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling GroupAccountReportsApi.delete_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports/{accountKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.delete_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#delete_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupAccountReport
    # Gets GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountReportVBAResponse]
    def get_group_account_report(vbasoftware_database, group_id, account_key, opts = {})
      data, _status_code, _headers = get_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, opts)
      data
    end

    # Get GroupAccountReport
    # Gets GroupAccountReport
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountReportVBAResponse, Integer, Hash)>] GroupAccountReportVBAResponse data, response status code and response headers
    def get_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.get_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.get_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.get_group_account_report"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling GroupAccountReportsApi.get_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports/{accountKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.get_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#get_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupAccountReport
    # Lists all GroupAccountReport for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupAccountReportListVBAResponse]
    def list_group_account_report(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_account_report_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupAccountReport
    # Lists all GroupAccountReport for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupAccountReportListVBAResponse, Integer, Hash)>] GroupAccountReportListVBAResponse data, response status code and response headers
    def list_group_account_report_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.list_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.list_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.list_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountReportListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.list_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#list_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupAccountReport
    # Create or Update multiple GroupAccountReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_report [Array<GroupAccountReport>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_account_report(vbasoftware_database, group_id, group_account_report, opts = {})
      data, _status_code, _headers = update_batch_group_account_report_with_http_info(vbasoftware_database, group_id, group_account_report, opts)
      data
    end

    # Create or Update Batch GroupAccountReport
    # Create or Update multiple GroupAccountReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_report [Array<GroupAccountReport>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_account_report_with_http_info(vbasoftware_database, group_id, group_account_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.update_batch_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.update_batch_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.update_batch_group_account_report"
      end
      # verify the required parameter 'group_account_report' is set
      if @api_client.config.client_side_validation && group_account_report.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_report' when calling GroupAccountReportsApi.update_batch_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_report)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.update_batch_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#update_batch_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupAccountReport
    # Updates a specific GroupAccountReport.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param group_account_report [GroupAccountReport] 
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountReportVBAResponse]
    def update_group_account_report(vbasoftware_database, group_id, account_key, group_account_report, opts = {})
      data, _status_code, _headers = update_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, group_account_report, opts)
      data
    end

    # Update GroupAccountReport
    # Updates a specific GroupAccountReport.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param account_key [Integer] Account Key
    # @param group_account_report [GroupAccountReport] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountReportVBAResponse, Integer, Hash)>] GroupAccountReportVBAResponse data, response status code and response headers
    def update_group_account_report_with_http_info(vbasoftware_database, group_id, account_key, group_account_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountReportsApi.update_group_account_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountReportsApi.update_group_account_report"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountReportsApi.update_group_account_report"
      end
      # verify the required parameter 'account_key' is set
      if @api_client.config.client_side_validation && account_key.nil?
        fail ArgumentError, "Missing the required parameter 'account_key' when calling GroupAccountReportsApi.update_group_account_report"
      end
      # verify the required parameter 'group_account_report' is set
      if @api_client.config.client_side_validation && group_account_report.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_report' when calling GroupAccountReportsApi.update_group_account_report"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-reports/{accountKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'accountKey' + '}', CGI.escape(account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_report)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountReportsApi.update_group_account_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountReportsApi#update_group_account_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
