=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupContractPlanRiderExternalIDsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupContractPlanRiderExternalID
    # Creates a new GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param group_contract_plan_rider_external_id [GroupContractPlanRiderExternalID] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanRiderExternalIDVBAResponse]
    def create_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts = {})
      data, _status_code, _headers = create_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts)
      data
    end

    # Create GroupContractPlanRiderExternalID
    # Creates a new GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param group_contract_plan_rider_external_id [GroupContractPlanRiderExternalID] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanRiderExternalIDVBAResponse, Integer, Hash)>] GroupContractPlanRiderExternalIDVBAResponse data, response status code and response headers
    def create_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_contract_plan_rider_external_id' is set
      if @api_client.config.client_side_validation && group_contract_plan_rider_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_rider_external_id' when calling GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_rider_external_id)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanRiderExternalIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.create_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#create_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupContractPlanRiderExternalID
    # Deletes an GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts = {})
      delete_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts)
      nil
    end

    # Delete GroupContractPlanRiderExternalID
    # Deletes an GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids/{externalID}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'externalID' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.delete_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#delete_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupContractPlanRiderExternalID
    # Gets GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanRiderExternalIDVBAResponse]
    def get_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts = {})
      data, _status_code, _headers = get_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts)
      data
    end

    # Get GroupContractPlanRiderExternalID
    # Gets GroupContractPlanRiderExternalID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanRiderExternalIDVBAResponse, Integer, Hash)>] GroupContractPlanRiderExternalIDVBAResponse data, response status code and response headers
    def get_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids/{externalID}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'externalID' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanRiderExternalIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.get_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#get_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupContractPlanRiderExternalID
    # Lists all GroupContractPlanRiderExternalID for the given groupID and divisionID and coverageStart and planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupContractPlanRiderExternalIDListVBAResponse]
    def list_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, opts)
      data
    end

    # List GroupContractPlanRiderExternalID
    # Lists all GroupContractPlanRiderExternalID for the given groupID and divisionID and coverageStart and planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupContractPlanRiderExternalIDListVBAResponse, Integer, Hash)>] GroupContractPlanRiderExternalIDListVBAResponse data, response status code and response headers
    def list_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanRiderExternalIDListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.list_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#list_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupContractPlanRiderExternalID
    # Create or Update multiple GroupContractPlanRiderExternalID at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param group_contract_plan_rider_external_id [Array<GroupContractPlanRiderExternalID>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts = {})
      data, _status_code, _headers = update_batch_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts)
      data
    end

    # Create or Update Batch GroupContractPlanRiderExternalID
    # Create or Update multiple GroupContractPlanRiderExternalID at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param group_contract_plan_rider_external_id [Array<GroupContractPlanRiderExternalID>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, group_contract_plan_rider_external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_contract_plan_rider_external_id' is set
      if @api_client.config.client_side_validation && group_contract_plan_rider_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_rider_external_id' when calling GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_rider_external_id)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.update_batch_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#update_batch_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupContractPlanRiderExternalID
    # Updates a specific GroupContractPlanRiderExternalID.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param group_contract_plan_rider_external_id [GroupContractPlanRiderExternalID] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractPlanRiderExternalIDVBAResponse]
    def update_group_contract_plan_rider_external_id(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, group_contract_plan_rider_external_id, opts = {})
      data, _status_code, _headers = update_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, group_contract_plan_rider_external_id, opts)
      data
    end

    # Update GroupContractPlanRiderExternalID
    # Updates a specific GroupContractPlanRiderExternalID.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param external_id [String] External ID
    # @param group_contract_plan_rider_external_id [GroupContractPlanRiderExternalID] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractPlanRiderExternalIDVBAResponse, Integer, Hash)>] GroupContractPlanRiderExternalIDVBAResponse data, response status code and response headers
    def update_group_contract_plan_rider_external_id_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, plan_id, benefit_code, external_id, group_contract_plan_rider_external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # verify the required parameter 'group_contract_plan_rider_external_id' is set
      if @api_client.config.client_side_validation && group_contract_plan_rider_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_plan_rider_external_id' when calling GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/plans/{planID}/riders/{benefitCode}/external-ids/{externalID}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'externalID' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_plan_rider_external_id)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractPlanRiderExternalIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractPlanRiderExternalIDsApi.update_group_contract_plan_rider_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractPlanRiderExternalIDsApi#update_group_contract_plan_rider_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
