=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupPayorAccountProviderFederalIDsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupPayorAccountProviderFederal
    # Creates a new GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_provider_federal [GroupPayorAccountProviderFederal] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPayorAccountProviderFederalVBAResponse]
    def create_group_payor_account_provider_federal(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts = {})
      data, _status_code, _headers = create_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts)
      data
    end

    # Create GroupPayorAccountProviderFederal
    # Creates a new GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_provider_federal [GroupPayorAccountProviderFederal] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPayorAccountProviderFederalVBAResponse, Integer, Hash)>] GroupPayorAccountProviderFederalVBAResponse data, response status code and response headers
    def create_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_payor_account_provider_federal' is set
      if @api_client.config.client_side_validation && group_payor_account_provider_federal.nil?
        fail ArgumentError, "Missing the required parameter 'group_payor_account_provider_federal' when calling GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/federal-ids'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_payor_account_provider_federal)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountProviderFederalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountProviderFederalIDsApi.create_group_payor_account_provider_federal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountProviderFederalIDsApi#create_group_payor_account_provider_federal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupPayorAccountProviderFederal
    # Deletes an GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param federal_id [String] Federal ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_payor_account_provider_federal(vbasoftware_database, group_id, setting_id, federal_id, opts = {})
      delete_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, federal_id, opts)
      nil
    end

    # Delete GroupPayorAccountProviderFederal
    # Deletes an GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param federal_id [String] Federal ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, federal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal"
      end
      # verify the required parameter 'federal_id' is set
      if @api_client.config.client_side_validation && federal_id.nil?
        fail ArgumentError, "Missing the required parameter 'federal_id' when calling GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/federal-ids/{federalID}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s)).sub('{' + 'federalID' + '}', CGI.escape(federal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountProviderFederalIDsApi.delete_group_payor_account_provider_federal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountProviderFederalIDsApi#delete_group_payor_account_provider_federal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupPayorAccountProviderFederal
    # Gets GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param federal_id [String] Federal ID
    # @param [Hash] opts the optional parameters
    # @return [GroupPayorAccountProviderFederalVBAResponse]
    def get_group_payor_account_provider_federal(vbasoftware_database, group_id, setting_id, federal_id, opts = {})
      data, _status_code, _headers = get_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, federal_id, opts)
      data
    end

    # Get GroupPayorAccountProviderFederal
    # Gets GroupPayorAccountProviderFederal
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param federal_id [String] Federal ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPayorAccountProviderFederalVBAResponse, Integer, Hash)>] GroupPayorAccountProviderFederalVBAResponse data, response status code and response headers
    def get_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, federal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal"
      end
      # verify the required parameter 'federal_id' is set
      if @api_client.config.client_side_validation && federal_id.nil?
        fail ArgumentError, "Missing the required parameter 'federal_id' when calling GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/federal-ids/{federalID}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s)).sub('{' + 'federalID' + '}', CGI.escape(federal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountProviderFederalVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountProviderFederalIDsApi.get_group_payor_account_provider_federal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountProviderFederalIDsApi#get_group_payor_account_provider_federal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupPayorAccountProviderFederal
    # Lists all GroupPayorAccountProviderFederal for the given groupID and settingID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupPayorAccountProviderFederalListVBAResponse]
    def list_group_payor_account_provider_federal(vbasoftware_database, group_id, setting_id, opts = {})
      data, _status_code, _headers = list_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, opts)
      data
    end

    # List GroupPayorAccountProviderFederal
    # Lists all GroupPayorAccountProviderFederal for the given groupID and settingID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupPayorAccountProviderFederalListVBAResponse, Integer, Hash)>] GroupPayorAccountProviderFederalListVBAResponse data, response status code and response headers
    def list_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountProviderFederalIDsApi.list_group_payor_account_provider_federal ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountProviderFederalIDsApi.list_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountProviderFederalIDsApi.list_group_payor_account_provider_federal"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountProviderFederalIDsApi.list_group_payor_account_provider_federal"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/federal-ids'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPayorAccountProviderFederalListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountProviderFederalIDsApi.list_group_payor_account_provider_federal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountProviderFederalIDsApi#list_group_payor_account_provider_federal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupPayorAccountProviderFederal
    # Create or Update multiple GroupPayorAccountProviderFederal at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_provider_federal [Array<GroupPayorAccountProviderFederal>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_payor_account_provider_federal(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts = {})
      data, _status_code, _headers = update_batch_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts)
      data
    end

    # Create or Update Batch GroupPayorAccountProviderFederal
    # Create or Update multiple GroupPayorAccountProviderFederal at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param setting_id [String] Setting ID
    # @param group_payor_account_provider_federal [Array<GroupPayorAccountProviderFederal>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_payor_account_provider_federal_with_http_info(vbasoftware_database, group_id, setting_id, group_payor_account_provider_federal, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal"
      end
      # verify the required parameter 'setting_id' is set
      if @api_client.config.client_side_validation && setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'setting_id' when calling GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal"
      end
      # verify the required parameter 'group_payor_account_provider_federal' is set
      if @api_client.config.client_side_validation && group_payor_account_provider_federal.nil?
        fail ArgumentError, "Missing the required parameter 'group_payor_account_provider_federal' when calling GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal"
      end
      # resource path
      local_var_path = '/groups/{groupID}/payor-account-settings/{settingID}/federal-ids-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'settingID' + '}', CGI.escape(setting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_payor_account_provider_federal)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPayorAccountProviderFederalIDsApi.update_batch_group_payor_account_provider_federal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPayorAccountProviderFederalIDsApi#update_batch_group_payor_account_provider_federal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
