=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupFlexesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupFlex
    # Creates a new GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_flex [GroupFlex] 
    # @param [Hash] opts the optional parameters
    # @return [GroupFlexVBAResponse]
    def create_group_flex(vbasoftware_database, group_id, group_flex, opts = {})
      data, _status_code, _headers = create_group_flex_with_http_info(vbasoftware_database, group_id, group_flex, opts)
      data
    end

    # Create GroupFlex
    # Creates a new GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_flex [GroupFlex] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFlexVBAResponse, Integer, Hash)>] GroupFlexVBAResponse data, response status code and response headers
    def create_group_flex_with_http_info(vbasoftware_database, group_id, group_flex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.create_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.create_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.create_group_flex"
      end
      # verify the required parameter 'group_flex' is set
      if @api_client.config.client_side_validation && group_flex.nil?
        fail ArgumentError, "Missing the required parameter 'group_flex' when calling GroupFlexesApi.create_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_flex)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFlexVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.create_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#create_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupFlex
    # Deletes an GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_flex(vbasoftware_database, group_id, plan_id, calendar_year, opts = {})
      delete_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, opts)
      nil
    end

    # Delete GroupFlex
    # Deletes an GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.delete_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.delete_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.delete_group_flex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupFlexesApi.delete_group_flex"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling GroupFlexesApi.delete_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes/{planID}/{calendarYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.delete_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#delete_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupFlex
    # Gets GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param [Hash] opts the optional parameters
    # @return [GroupFlexVBAResponse]
    def get_group_flex(vbasoftware_database, group_id, plan_id, calendar_year, opts = {})
      data, _status_code, _headers = get_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, opts)
      data
    end

    # Get GroupFlex
    # Gets GroupFlex
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFlexVBAResponse, Integer, Hash)>] GroupFlexVBAResponse data, response status code and response headers
    def get_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.get_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.get_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.get_group_flex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupFlexesApi.get_group_flex"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling GroupFlexesApi.get_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes/{planID}/{calendarYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFlexVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.get_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#get_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupFlex
    # Lists all GroupFlex for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupFlexListVBAResponse]
    def list_group_flex(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_flex_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupFlex
    # Lists all GroupFlex for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupFlexListVBAResponse, Integer, Hash)>] GroupFlexListVBAResponse data, response status code and response headers
    def list_group_flex_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.list_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.list_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.list_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFlexListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.list_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#list_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupFlex
    # Create or Update multiple GroupFlex at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_flex [Array<GroupFlex>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_flex(vbasoftware_database, group_id, group_flex, opts = {})
      data, _status_code, _headers = update_batch_group_flex_with_http_info(vbasoftware_database, group_id, group_flex, opts)
      data
    end

    # Create or Update Batch GroupFlex
    # Create or Update multiple GroupFlex at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_flex [Array<GroupFlex>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_flex_with_http_info(vbasoftware_database, group_id, group_flex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.update_batch_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.update_batch_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.update_batch_group_flex"
      end
      # verify the required parameter 'group_flex' is set
      if @api_client.config.client_side_validation && group_flex.nil?
        fail ArgumentError, "Missing the required parameter 'group_flex' when calling GroupFlexesApi.update_batch_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_flex)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.update_batch_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#update_batch_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupFlex
    # Updates a specific GroupFlex.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param group_flex [GroupFlex] 
    # @param [Hash] opts the optional parameters
    # @return [GroupFlexVBAResponse]
    def update_group_flex(vbasoftware_database, group_id, plan_id, calendar_year, group_flex, opts = {})
      data, _status_code, _headers = update_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, group_flex, opts)
      data
    end

    # Update GroupFlex
    # Updates a specific GroupFlex.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param group_flex [GroupFlex] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupFlexVBAResponse, Integer, Hash)>] GroupFlexVBAResponse data, response status code and response headers
    def update_group_flex_with_http_info(vbasoftware_database, group_id, plan_id, calendar_year, group_flex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupFlexesApi.update_group_flex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupFlexesApi.update_group_flex"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupFlexesApi.update_group_flex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling GroupFlexesApi.update_group_flex"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling GroupFlexesApi.update_group_flex"
      end
      # verify the required parameter 'group_flex' is set
      if @api_client.config.client_side_validation && group_flex.nil?
        fail ArgumentError, "Missing the required parameter 'group_flex' when calling GroupFlexesApi.update_group_flex"
      end
      # resource path
      local_var_path = '/groups/{groupID}/flexes/{planID}/{calendarYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_flex)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupFlexVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupFlexesApi.update_group_flex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupFlexesApi#update_group_flex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
