=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupStudentAgeSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupStudentAge
    # Creates a new GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age [GroupStudentAge] 
    # @param [Hash] opts the optional parameters
    # @return [GroupStudentAgeVBAResponse]
    def create_group_student_age(vbasoftware_database, group_id, group_student_age, opts = {})
      data, _status_code, _headers = create_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age, opts)
      data
    end

    # Create GroupStudentAge
    # Creates a new GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age [GroupStudentAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupStudentAgeVBAResponse, Integer, Hash)>] GroupStudentAgeVBAResponse data, response status code and response headers
    def create_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.create_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.create_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.create_group_student_age"
      end
      # verify the required parameter 'group_student_age' is set
      if @api_client.config.client_side_validation && group_student_age.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age' when calling GroupStudentAgeSettingsApi.create_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_student_age)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupStudentAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.create_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#create_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupStudentAge
    # Deletes an GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_student_age(vbasoftware_database, group_id, group_student_age_key, opts = {})
      delete_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, opts)
      nil
    end

    # Delete GroupStudentAge
    # Deletes an GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.delete_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.delete_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.delete_group_student_age"
      end
      # verify the required parameter 'group_student_age_key' is set
      if @api_client.config.client_side_validation && group_student_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age_key' when calling GroupStudentAgeSettingsApi.delete_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages/{groupStudentAgeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupStudentAgeKey' + '}', CGI.escape(group_student_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.delete_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#delete_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupStudentAge
    # Gets GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param [Hash] opts the optional parameters
    # @return [GroupStudentAgeVBAResponse]
    def get_group_student_age(vbasoftware_database, group_id, group_student_age_key, opts = {})
      data, _status_code, _headers = get_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, opts)
      data
    end

    # Get GroupStudentAge
    # Gets GroupStudentAge
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupStudentAgeVBAResponse, Integer, Hash)>] GroupStudentAgeVBAResponse data, response status code and response headers
    def get_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.get_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.get_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.get_group_student_age"
      end
      # verify the required parameter 'group_student_age_key' is set
      if @api_client.config.client_side_validation && group_student_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age_key' when calling GroupStudentAgeSettingsApi.get_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages/{groupStudentAgeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupStudentAgeKey' + '}', CGI.escape(group_student_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupStudentAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.get_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#get_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupStudentAge
    # Lists all GroupStudentAge for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupStudentAgeListVBAResponse]
    def list_group_student_age(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_student_age_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupStudentAge
    # Lists all GroupStudentAge for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupStudentAgeListVBAResponse, Integer, Hash)>] GroupStudentAgeListVBAResponse data, response status code and response headers
    def list_group_student_age_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.list_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.list_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.list_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupStudentAgeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.list_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#list_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupStudentAge
    # Create or Update multiple GroupStudentAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age [Array<GroupStudentAge>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_student_age(vbasoftware_database, group_id, group_student_age, opts = {})
      data, _status_code, _headers = update_batch_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age, opts)
      data
    end

    # Create or Update Batch GroupStudentAge
    # Create or Update multiple GroupStudentAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age [Array<GroupStudentAge>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.update_batch_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.update_batch_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.update_batch_group_student_age"
      end
      # verify the required parameter 'group_student_age' is set
      if @api_client.config.client_side_validation && group_student_age.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age' when calling GroupStudentAgeSettingsApi.update_batch_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_student_age)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.update_batch_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#update_batch_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupStudentAge
    # Updates a specific GroupStudentAge.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param group_student_age [GroupStudentAge] 
    # @param [Hash] opts the optional parameters
    # @return [GroupStudentAgeVBAResponse]
    def update_group_student_age(vbasoftware_database, group_id, group_student_age_key, group_student_age, opts = {})
      data, _status_code, _headers = update_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, group_student_age, opts)
      data
    end

    # Update GroupStudentAge
    # Updates a specific GroupStudentAge.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_student_age_key [Integer] GroupStudentAge Key
    # @param group_student_age [GroupStudentAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupStudentAgeVBAResponse, Integer, Hash)>] GroupStudentAgeVBAResponse data, response status code and response headers
    def update_group_student_age_with_http_info(vbasoftware_database, group_id, group_student_age_key, group_student_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupStudentAgeSettingsApi.update_group_student_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupStudentAgeSettingsApi.update_group_student_age"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupStudentAgeSettingsApi.update_group_student_age"
      end
      # verify the required parameter 'group_student_age_key' is set
      if @api_client.config.client_side_validation && group_student_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age_key' when calling GroupStudentAgeSettingsApi.update_group_student_age"
      end
      # verify the required parameter 'group_student_age' is set
      if @api_client.config.client_side_validation && group_student_age.nil?
        fail ArgumentError, "Missing the required parameter 'group_student_age' when calling GroupStudentAgeSettingsApi.update_group_student_age"
      end
      # resource path
      local_var_path = '/groups/{groupID}/student-ages/{groupStudentAgeKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupStudentAgeKey' + '}', CGI.escape(group_student_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_student_age)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupStudentAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupStudentAgeSettingsApi.update_group_student_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupStudentAgeSettingsApi#update_group_student_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
