=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupContractTiersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupContractTier
    # Creates a new GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param group_contract_tier [GroupContractTier] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractTierVBAResponse]
    def create_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts = {})
      data, _status_code, _headers = create_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts)
      data
    end

    # Create GroupContractTier
    # Creates a new GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param group_contract_tier [GroupContractTier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractTierVBAResponse, Integer, Hash)>] GroupContractTierVBAResponse data, response status code and response headers
    def create_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.create_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.create_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.create_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.create_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.create_group_contract_tier"
      end
      # verify the required parameter 'group_contract_tier' is set
      if @api_client.config.client_side_validation && group_contract_tier.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_tier' when calling GroupContractTiersApi.create_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_tier)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractTierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.create_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#create_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupContractTier
    # Deletes an GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, tier, opts = {})
      delete_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, opts)
      nil
    end

    # Delete GroupContractTier
    # Deletes an GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.delete_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.delete_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.delete_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.delete_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.delete_group_contract_tier"
      end
      # verify the required parameter 'tier' is set
      if @api_client.config.client_side_validation && tier.nil?
        fail ArgumentError, "Missing the required parameter 'tier' when calling GroupContractTiersApi.delete_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers/{tier}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'tier' + '}', CGI.escape(tier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.delete_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#delete_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupContractTier
    # Gets GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param [Hash] opts the optional parameters
    # @return [GroupContractTierVBAResponse]
    def get_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, tier, opts = {})
      data, _status_code, _headers = get_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, opts)
      data
    end

    # Get GroupContractTier
    # Gets GroupContractTier
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractTierVBAResponse, Integer, Hash)>] GroupContractTierVBAResponse data, response status code and response headers
    def get_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.get_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.get_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.get_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.get_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.get_group_contract_tier"
      end
      # verify the required parameter 'tier' is set
      if @api_client.config.client_side_validation && tier.nil?
        fail ArgumentError, "Missing the required parameter 'tier' when calling GroupContractTiersApi.get_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers/{tier}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'tier' + '}', CGI.escape(tier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractTierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.get_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#get_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupContractTier
    # Lists all GroupContractTier for the given groupID and divisionID and coverageStart
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupContractTierListVBAResponse]
    def list_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, opts = {})
      data, _status_code, _headers = list_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, opts)
      data
    end

    # List GroupContractTier
    # Lists all GroupContractTier for the given groupID and divisionID and coverageStart
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupContractTierListVBAResponse, Integer, Hash)>] GroupContractTierListVBAResponse data, response status code and response headers
    def list_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.list_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.list_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.list_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.list_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.list_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractTierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.list_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#list_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupContractTier
    # Create or Update multiple GroupContractTier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param group_contract_tier [Array<GroupContractTier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts = {})
      data, _status_code, _headers = update_batch_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts)
      data
    end

    # Create or Update Batch GroupContractTier
    # Create or Update multiple GroupContractTier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param group_contract_tier [Array<GroupContractTier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, group_contract_tier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.update_batch_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.update_batch_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.update_batch_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.update_batch_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.update_batch_group_contract_tier"
      end
      # verify the required parameter 'group_contract_tier' is set
      if @api_client.config.client_side_validation && group_contract_tier.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_tier' when calling GroupContractTiersApi.update_batch_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_tier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.update_batch_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#update_batch_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupContractTier
    # Updates a specific GroupContractTier.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param group_contract_tier [GroupContractTier] 
    # @param [Hash] opts the optional parameters
    # @return [GroupContractTierVBAResponse]
    def update_group_contract_tier(vbasoftware_database, group_id, division_id, coverage_start, tier, group_contract_tier, opts = {})
      data, _status_code, _headers = update_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, group_contract_tier, opts)
      data
    end

    # Update GroupContractTier
    # Updates a specific GroupContractTier.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param coverage_start [Time] Coverage Start
    # @param tier [String] Tier
    # @param group_contract_tier [GroupContractTier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupContractTierVBAResponse, Integer, Hash)>] GroupContractTierVBAResponse data, response status code and response headers
    def update_group_contract_tier_with_http_info(vbasoftware_database, group_id, division_id, coverage_start, tier, group_contract_tier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupContractTiersApi.update_group_contract_tier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # verify the required parameter 'coverage_start' is set
      if @api_client.config.client_side_validation && coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_start' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # verify the required parameter 'tier' is set
      if @api_client.config.client_side_validation && tier.nil?
        fail ArgumentError, "Missing the required parameter 'tier' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # verify the required parameter 'group_contract_tier' is set
      if @api_client.config.client_side_validation && group_contract_tier.nil?
        fail ArgumentError, "Missing the required parameter 'group_contract_tier' when calling GroupContractTiersApi.update_group_contract_tier"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/contracts/{coverageStart}/tiers/{tier}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'coverageStart' + '}', CGI.escape(coverage_start.to_s)).sub('{' + 'tier' + '}', CGI.escape(tier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_contract_tier)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupContractTierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupContractTiersApi.update_group_contract_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupContractTiersApi#update_group_contract_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
