=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupUCPercentSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupUCPercent
    # Creates a new GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent [GroupUCPercent] 
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentVBAResponse]
    def create_group_uc_percent(vbasoftware_database, group_id, group_uc_percent, opts = {})
      data, _status_code, _headers = create_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent, opts)
      data
    end

    # Create GroupUCPercent
    # Creates a new GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent [GroupUCPercent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentVBAResponse, Integer, Hash)>] GroupUCPercentVBAResponse data, response status code and response headers
    def create_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.create_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.create_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.create_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent' is set
      if @api_client.config.client_side_validation && group_uc_percent.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent' when calling GroupUCPercentSettingsApi.create_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.create_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#create_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupUCPercent
    # Deletes an GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_uc_percent(vbasoftware_database, group_id, group_uc_percent_key, opts = {})
      delete_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, opts)
      nil
    end

    # Delete GroupUCPercent
    # Deletes an GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.delete_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.delete_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.delete_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_key' when calling GroupUCPercentSettingsApi.delete_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings/{groupUCPercentKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupUCPercentKey' + '}', CGI.escape(group_uc_percent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.delete_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#delete_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupUCPercent
    # Gets GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentVBAResponse]
    def get_group_uc_percent(vbasoftware_database, group_id, group_uc_percent_key, opts = {})
      data, _status_code, _headers = get_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, opts)
      data
    end

    # Get GroupUCPercent
    # Gets GroupUCPercent
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentVBAResponse, Integer, Hash)>] GroupUCPercentVBAResponse data, response status code and response headers
    def get_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.get_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.get_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.get_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_key' when calling GroupUCPercentSettingsApi.get_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings/{groupUCPercentKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupUCPercentKey' + '}', CGI.escape(group_uc_percent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.get_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#get_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupUCPercent
    # Lists all GroupUCPercent for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupUCPercentListVBAResponse]
    def list_group_uc_percent(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_uc_percent_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupUCPercent
    # Lists all GroupUCPercent for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupUCPercentListVBAResponse, Integer, Hash)>] GroupUCPercentListVBAResponse data, response status code and response headers
    def list_group_uc_percent_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.list_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.list_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.list_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.list_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#list_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupUCPercent
    # Create or Update multiple GroupUCPercent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent [Array<GroupUCPercent>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_uc_percent(vbasoftware_database, group_id, group_uc_percent, opts = {})
      data, _status_code, _headers = update_batch_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent, opts)
      data
    end

    # Create or Update Batch GroupUCPercent
    # Create or Update multiple GroupUCPercent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent [Array<GroupUCPercent>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.update_batch_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.update_batch_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.update_batch_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent' is set
      if @api_client.config.client_side_validation && group_uc_percent.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent' when calling GroupUCPercentSettingsApi.update_batch_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.update_batch_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#update_batch_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupUCPercent
    # Updates a specific GroupUCPercent.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param group_uc_percent [GroupUCPercent] 
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentVBAResponse]
    def update_group_uc_percent(vbasoftware_database, group_id, group_uc_percent_key, group_uc_percent, opts = {})
      data, _status_code, _headers = update_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, group_uc_percent, opts)
      data
    end

    # Update GroupUCPercent
    # Updates a specific GroupUCPercent.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_uc_percent_key [Integer] GroupUCPercent Key
    # @param group_uc_percent [GroupUCPercent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentVBAResponse, Integer, Hash)>] GroupUCPercentVBAResponse data, response status code and response headers
    def update_group_uc_percent_with_http_info(vbasoftware_database, group_id, group_uc_percent_key, group_uc_percent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentSettingsApi.update_group_uc_percent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentSettingsApi.update_group_uc_percent"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupUCPercentSettingsApi.update_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_key' when calling GroupUCPercentSettingsApi.update_group_uc_percent"
      end
      # verify the required parameter 'group_uc_percent' is set
      if @api_client.config.client_side_validation && group_uc_percent.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent' when calling GroupUCPercentSettingsApi.update_group_uc_percent"
      end
      # resource path
      local_var_path = '/groups/{groupID}/uc-percent-settings/{groupUCPercentKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupUCPercentKey' + '}', CGI.escape(group_uc_percent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentSettingsApi.update_group_uc_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentSettingsApi#update_group_uc_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
