=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupPremiumRateCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupPremRateCategory
    # Creates a new GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param group_prem_rate_category [GroupPremRateCategory] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPremRateCategoryVBAResponse]
    def create_group_prem_rate_category(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts = {})
      data, _status_code, _headers = create_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts)
      data
    end

    # Create GroupPremRateCategory
    # Creates a new GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param group_prem_rate_category [GroupPremRateCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPremRateCategoryVBAResponse, Integer, Hash)>] GroupPremRateCategoryVBAResponse data, response status code and response headers
    def create_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPremiumRateCategoriesApi.create_group_prem_rate_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPremiumRateCategoriesApi.create_group_prem_rate_category"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPremiumRateCategoriesApi.create_group_prem_rate_category"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling GroupPremiumRateCategoriesApi.create_group_prem_rate_category"
      end
      # verify the required parameter 'group_prem_rate_category' is set
      if @api_client.config.client_side_validation && group_prem_rate_category.nil?
        fail ArgumentError, "Missing the required parameter 'group_prem_rate_category' when calling GroupPremiumRateCategoriesApi.create_group_prem_rate_category"
      end
      # resource path
      local_var_path = '/groups/{groupID}/reports/{reportDefinitionKey}/premium-categories'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_prem_rate_category)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPremRateCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPremiumRateCategoriesApi.create_group_prem_rate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPremiumRateCategoriesApi#create_group_prem_rate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupPremRateCategory
    # Deletes an GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sequence [Integer] Sequence
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_prem_rate_category(vbasoftware_database, group_id, report_definition_key, sequence, opts = {})
      delete_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, sequence, opts)
      nil
    end

    # Delete GroupPremRateCategory
    # Deletes an GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sequence [Integer] Sequence
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, sequence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPremiumRateCategoriesApi.delete_group_prem_rate_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPremiumRateCategoriesApi.delete_group_prem_rate_category"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPremiumRateCategoriesApi.delete_group_prem_rate_category"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling GroupPremiumRateCategoriesApi.delete_group_prem_rate_category"
      end
      # verify the required parameter 'sequence' is set
      if @api_client.config.client_side_validation && sequence.nil?
        fail ArgumentError, "Missing the required parameter 'sequence' when calling GroupPremiumRateCategoriesApi.delete_group_prem_rate_category"
      end
      # resource path
      local_var_path = '/groups/{groupID}/reports/{reportDefinitionKey}/premium-categories/{sequence}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'sequence' + '}', CGI.escape(sequence.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPremiumRateCategoriesApi.delete_group_prem_rate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPremiumRateCategoriesApi#delete_group_prem_rate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupPremRateCategory
    # Gets GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sequence [Integer] Sequence
    # @param [Hash] opts the optional parameters
    # @return [GroupPremRateCategoryVBAResponse]
    def get_group_prem_rate_category(vbasoftware_database, group_id, report_definition_key, sequence, opts = {})
      data, _status_code, _headers = get_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, sequence, opts)
      data
    end

    # Get GroupPremRateCategory
    # Gets GroupPremRateCategory
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sequence [Integer] Sequence
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPremRateCategoryVBAResponse, Integer, Hash)>] GroupPremRateCategoryVBAResponse data, response status code and response headers
    def get_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, sequence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPremiumRateCategoriesApi.get_group_prem_rate_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPremiumRateCategoriesApi.get_group_prem_rate_category"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPremiumRateCategoriesApi.get_group_prem_rate_category"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling GroupPremiumRateCategoriesApi.get_group_prem_rate_category"
      end
      # verify the required parameter 'sequence' is set
      if @api_client.config.client_side_validation && sequence.nil?
        fail ArgumentError, "Missing the required parameter 'sequence' when calling GroupPremiumRateCategoriesApi.get_group_prem_rate_category"
      end
      # resource path
      local_var_path = '/groups/{groupID}/reports/{reportDefinitionKey}/premium-categories/{sequence}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'sequence' + '}', CGI.escape(sequence.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPremRateCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPremiumRateCategoriesApi.get_group_prem_rate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPremiumRateCategoriesApi#get_group_prem_rate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupPremRateCategory
    # Lists all GroupPremRateCategory for the given groupID and reportDefinitionKey
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupPremRateCategoryListVBAResponse]
    def list_group_prem_rate_category(vbasoftware_database, group_id, report_definition_key, opts = {})
      data, _status_code, _headers = list_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, opts)
      data
    end

    # List GroupPremRateCategory
    # Lists all GroupPremRateCategory for the given groupID and reportDefinitionKey
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupPremRateCategoryListVBAResponse, Integer, Hash)>] GroupPremRateCategoryListVBAResponse data, response status code and response headers
    def list_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPremiumRateCategoriesApi.list_group_prem_rate_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPremiumRateCategoriesApi.list_group_prem_rate_category"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPremiumRateCategoriesApi.list_group_prem_rate_category"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling GroupPremiumRateCategoriesApi.list_group_prem_rate_category"
      end
      # resource path
      local_var_path = '/groups/{groupID}/reports/{reportDefinitionKey}/premium-categories'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPremRateCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPremiumRateCategoriesApi.list_group_prem_rate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPremiumRateCategoriesApi#list_group_prem_rate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupPremRateCategory
    # Create or Update multiple GroupPremRateCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param group_prem_rate_category [Array<GroupPremRateCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_prem_rate_category(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts = {})
      data, _status_code, _headers = update_batch_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts)
      data
    end

    # Create or Update Batch GroupPremRateCategory
    # Create or Update multiple GroupPremRateCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param group_prem_rate_category [Array<GroupPremRateCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_prem_rate_category_with_http_info(vbasoftware_database, group_id, report_definition_key, group_prem_rate_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category"
      end
      # verify the required parameter 'group_prem_rate_category' is set
      if @api_client.config.client_side_validation && group_prem_rate_category.nil?
        fail ArgumentError, "Missing the required parameter 'group_prem_rate_category' when calling GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category"
      end
      # resource path
      local_var_path = '/groups/{groupID}/reports/{reportDefinitionKey}/premium-categories-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_prem_rate_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPremiumRateCategoriesApi.update_batch_group_prem_rate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPremiumRateCategoriesApi#update_batch_group_prem_rate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
