=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupUCPercentCriteriasApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupUCPercentCriteria
    # Creates a new GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria [GroupUCPercentCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentCriteriaVBAResponse]
    def create_group_uc_percent_criteria(vbasoftware_database, group_uc_percent_criteria, opts = {})
      data, _status_code, _headers = create_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria, opts)
      data
    end

    # Create GroupUCPercentCriteria
    # Creates a new GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria [GroupUCPercentCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentCriteriaVBAResponse, Integer, Hash)>] GroupUCPercentCriteriaVBAResponse data, response status code and response headers
    def create_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.create_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.create_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria' when calling GroupUCPercentCriteriasApi.create_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.create_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#create_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupUCPercentCriteria
    # Deletes an GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_uc_percent_criteria(vbasoftware_database, group_uc_percent_criteria_key, opts = {})
      delete_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, opts)
      nil
    end

    # Delete GroupUCPercentCriteria
    # Deletes an GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.delete_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.delete_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria_key' when calling GroupUCPercentCriteriasApi.delete_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias/{GroupUCPercentCriteria_Key}'.sub('{' + 'GroupUCPercentCriteria_Key' + '}', CGI.escape(group_uc_percent_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.delete_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#delete_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupUCPercentCriteria
    # Gets GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentCriteriaVBAResponse]
    def get_group_uc_percent_criteria(vbasoftware_database, group_uc_percent_criteria_key, opts = {})
      data, _status_code, _headers = get_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, opts)
      data
    end

    # Get GroupUCPercentCriteria
    # Gets GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentCriteriaVBAResponse, Integer, Hash)>] GroupUCPercentCriteriaVBAResponse data, response status code and response headers
    def get_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.get_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.get_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria_key' when calling GroupUCPercentCriteriasApi.get_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias/{GroupUCPercentCriteria_Key}'.sub('{' + 'GroupUCPercentCriteria_Key' + '}', CGI.escape(group_uc_percent_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.get_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#get_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupUCPercentCriteria
    # Lists all GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [GroupUCPercentCriteriaListVBAResponse]
    def list_group_uc_percent_criteria(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_group_uc_percent_criteria_with_http_info(vbasoftware_database, opts)
      data
    end

    # List GroupUCPercentCriteria
    # Lists all GroupUCPercentCriteria
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(GroupUCPercentCriteriaListVBAResponse, Integer, Hash)>] GroupUCPercentCriteriaListVBAResponse data, response status code and response headers
    def list_group_uc_percent_criteria_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.list_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.list_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentCriteriaListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.list_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#list_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupUCPercentCriteria
    # Create or Update multiple GroupUCPercentCriteria at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria [Array<GroupUCPercentCriteria>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_uc_percent_criteria(vbasoftware_database, group_uc_percent_criteria, opts = {})
      data, _status_code, _headers = update_batch_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria, opts)
      data
    end

    # Create or Update Batch GroupUCPercentCriteria
    # Create or Update multiple GroupUCPercentCriteria at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria [Array<GroupUCPercentCriteria>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.update_batch_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.update_batch_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria' when calling GroupUCPercentCriteriasApi.update_batch_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.update_batch_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#update_batch_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupUCPercentCriteria
    # Updates a specific GroupUCPercentCriteria.
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param group_uc_percent_criteria [GroupUCPercentCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [GroupUCPercentCriteriaVBAResponse]
    def update_group_uc_percent_criteria(vbasoftware_database, group_uc_percent_criteria_key, group_uc_percent_criteria, opts = {})
      data, _status_code, _headers = update_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, group_uc_percent_criteria, opts)
      data
    end

    # Update GroupUCPercentCriteria
    # Updates a specific GroupUCPercentCriteria.
    # @param vbasoftware_database [String] Target database
    # @param group_uc_percent_criteria_key [Integer] GroupUCPercentCriteria Key
    # @param group_uc_percent_criteria [GroupUCPercentCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupUCPercentCriteriaVBAResponse, Integer, Hash)>] GroupUCPercentCriteriaVBAResponse data, response status code and response headers
    def update_group_uc_percent_criteria_with_http_info(vbasoftware_database, group_uc_percent_criteria_key, group_uc_percent_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupUCPercentCriteriasApi.update_group_uc_percent_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupUCPercentCriteriasApi.update_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria_key' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria_key' when calling GroupUCPercentCriteriasApi.update_group_uc_percent_criteria"
      end
      # verify the required parameter 'group_uc_percent_criteria' is set
      if @api_client.config.client_side_validation && group_uc_percent_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'group_uc_percent_criteria' when calling GroupUCPercentCriteriasApi.update_group_uc_percent_criteria"
      end
      # resource path
      local_var_path = '/group-uc-percent-criterias/{GroupUCPercentCriteria_Key}'.sub('{' + 'GroupUCPercentCriteria_Key' + '}', CGI.escape(group_uc_percent_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_uc_percent_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupUCPercentCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupUCPercentCriteriasApi.update_group_uc_percent_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupUCPercentCriteriasApi#update_group_uc_percent_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
