=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupPlanPriorAccumAutoGeneratorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupPlanYearAutoPriorAccum
    # Creates a new GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum [GroupPlanYearAutoPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearAutoPriorAccumVBAResponse]
    def create_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts = {})
      data, _status_code, _headers = create_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts)
      data
    end

    # Create GroupPlanYearAutoPriorAccum
    # Creates a new GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum [GroupPlanYearAutoPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearAutoPriorAccumVBAResponse, Integer, Hash)>] GroupPlanYearAutoPriorAccumVBAResponse data, response status code and response headers
    def create_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum' when calling GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year_auto_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearAutoPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.create_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#create_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupPlanYearAutoPriorAccum
    # Deletes an GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts = {})
      delete_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts)
      nil
    end

    # Delete GroupPlanYearAutoPriorAccum
    # Deletes an GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum_key' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum_key' when calling GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators/{groupPlanYearAutoPriorAccumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'groupPlanYearAutoPriorAccumKey' + '}', CGI.escape(group_plan_year_auto_prior_accum_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.delete_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#delete_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupPlanYearAutoPriorAccum
    # Gets GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearAutoPriorAccumVBAResponse]
    def get_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts = {})
      data, _status_code, _headers = get_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts)
      data
    end

    # Get GroupPlanYearAutoPriorAccum
    # Gets GroupPlanYearAutoPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearAutoPriorAccumVBAResponse, Integer, Hash)>] GroupPlanYearAutoPriorAccumVBAResponse data, response status code and response headers
    def get_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum_key' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum_key' when calling GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators/{groupPlanYearAutoPriorAccumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'groupPlanYearAutoPriorAccumKey' + '}', CGI.escape(group_plan_year_auto_prior_accum_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearAutoPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.get_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#get_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupPlanYearAutoPriorAccum
    # Lists all GroupPlanYearAutoPriorAccum for the given groupID and divisionID and planYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupPlanYearAutoPriorAccumListVBAResponse]
    def list_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      data, _status_code, _headers = list_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts)
      data
    end

    # List GroupPlanYearAutoPriorAccum
    # Lists all GroupPlanYearAutoPriorAccum for the given groupID and divisionID and planYear
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupPlanYearAutoPriorAccumListVBAResponse, Integer, Hash)>] GroupPlanYearAutoPriorAccumListVBAResponse data, response status code and response headers
    def list_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearAutoPriorAccumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.list_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#list_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupPlanYearAutoPriorAccum
    # Create or Update multiple GroupPlanYearAutoPriorAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum [Array<GroupPlanYearAutoPriorAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts = {})
      data, _status_code, _headers = update_batch_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts)
      data
    end

    # Create or Update Batch GroupPlanYearAutoPriorAccum
    # Create or Update multiple GroupPlanYearAutoPriorAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum [Array<GroupPlanYearAutoPriorAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year_auto_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.update_batch_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#update_batch_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupPlanYearAutoPriorAccum
    # Updates a specific GroupPlanYearAutoPriorAccum.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param group_plan_year_auto_prior_accum [GroupPlanYearAutoPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPlanYearAutoPriorAccumVBAResponse]
    def update_group_plan_year_auto_prior_accum(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, group_plan_year_auto_prior_accum, opts = {})
      data, _status_code, _headers = update_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, group_plan_year_auto_prior_accum, opts)
      data
    end

    # Update GroupPlanYearAutoPriorAccum
    # Updates a specific GroupPlanYearAutoPriorAccum.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param group_plan_year_auto_prior_accum_key [Integer] GroupPlanYearAutoPriorAccum Key
    # @param group_plan_year_auto_prior_accum [GroupPlanYearAutoPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlanYearAutoPriorAccumVBAResponse, Integer, Hash)>] GroupPlanYearAutoPriorAccumVBAResponse data, response status code and response headers
    def update_group_plan_year_auto_prior_accum_with_http_info(vbasoftware_database, group_id, division_id, plan_year, group_plan_year_auto_prior_accum_key, group_plan_year_auto_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum_key' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum_key' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # verify the required parameter 'group_plan_year_auto_prior_accum' is set
      if @api_client.config.client_side_validation && group_plan_year_auto_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'group_plan_year_auto_prior_accum' when calling GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum"
      end
      # resource path
      local_var_path = '/groups/{groupID}/divisions/{divisionID}/plan-years/{planYear}/prior-accum-auto-generators/{groupPlanYearAutoPriorAccumKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'groupPlanYearAutoPriorAccumKey' + '}', CGI.escape(group_plan_year_auto_prior_accum_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plan_year_auto_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlanYearAutoPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupPlanPriorAccumAutoGeneratorsApi.update_group_plan_year_auto_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupPlanPriorAccumAutoGeneratorsApi#update_group_plan_year_auto_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
