=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupClassesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupClass
    # Creates a new GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_class [GroupClass] 
    # @param [Hash] opts the optional parameters
    # @return [GroupClassVBAResponse]
    def create_group_class(vbasoftware_database, group_id, group_class, opts = {})
      data, _status_code, _headers = create_group_class_with_http_info(vbasoftware_database, group_id, group_class, opts)
      data
    end

    # Create GroupClass
    # Creates a new GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_class [GroupClass] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupClassVBAResponse, Integer, Hash)>] GroupClassVBAResponse data, response status code and response headers
    def create_group_class_with_http_info(vbasoftware_database, group_id, group_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.create_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.create_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.create_group_class"
      end
      # verify the required parameter 'group_class' is set
      if @api_client.config.client_side_validation && group_class.nil?
        fail ArgumentError, "Missing the required parameter 'group_class' when calling GroupClassesApi.create_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_class)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.create_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#create_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupClass
    # Deletes an GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_class(vbasoftware_database, group_id, group_division_class_key, opts = {})
      delete_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, opts)
      nil
    end

    # Delete GroupClass
    # Deletes an GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.delete_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.delete_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.delete_group_class"
      end
      # verify the required parameter 'group_division_class_key' is set
      if @api_client.config.client_side_validation && group_division_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_class_key' when calling GroupClassesApi.delete_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes/{groupDivisionClassKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupDivisionClassKey' + '}', CGI.escape(group_division_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.delete_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#delete_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupClass
    # Gets GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param [Hash] opts the optional parameters
    # @return [GroupClassVBAResponse]
    def get_group_class(vbasoftware_database, group_id, group_division_class_key, opts = {})
      data, _status_code, _headers = get_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, opts)
      data
    end

    # Get GroupClass
    # Gets GroupClass
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupClassVBAResponse, Integer, Hash)>] GroupClassVBAResponse data, response status code and response headers
    def get_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.get_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.get_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.get_group_class"
      end
      # verify the required parameter 'group_division_class_key' is set
      if @api_client.config.client_side_validation && group_division_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_class_key' when calling GroupClassesApi.get_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes/{groupDivisionClassKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupDivisionClassKey' + '}', CGI.escape(group_division_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.get_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#get_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupClass
    # Lists all GroupClass for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupClassListVBAResponse]
    def list_group_class(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_class_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupClass
    # Lists all GroupClass for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupClassListVBAResponse, Integer, Hash)>] GroupClassListVBAResponse data, response status code and response headers
    def list_group_class_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.list_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.list_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.list_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupClassListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.list_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#list_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupClass
    # Create or Update multiple GroupClass at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_class [Array<GroupClass>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_class(vbasoftware_database, group_id, group_class, opts = {})
      data, _status_code, _headers = update_batch_group_class_with_http_info(vbasoftware_database, group_id, group_class, opts)
      data
    end

    # Create or Update Batch GroupClass
    # Create or Update multiple GroupClass at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_class [Array<GroupClass>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_class_with_http_info(vbasoftware_database, group_id, group_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.update_batch_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.update_batch_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.update_batch_group_class"
      end
      # verify the required parameter 'group_class' is set
      if @api_client.config.client_side_validation && group_class.nil?
        fail ArgumentError, "Missing the required parameter 'group_class' when calling GroupClassesApi.update_batch_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_class)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.update_batch_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#update_batch_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupClass
    # Updates a specific GroupClass.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param group_class [GroupClass] 
    # @param [Hash] opts the optional parameters
    # @return [GroupClassVBAResponse]
    def update_group_class(vbasoftware_database, group_id, group_division_class_key, group_class, opts = {})
      data, _status_code, _headers = update_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, group_class, opts)
      data
    end

    # Update GroupClass
    # Updates a specific GroupClass.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_division_class_key [Integer] GroupDivisionClass Key
    # @param group_class [GroupClass] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupClassVBAResponse, Integer, Hash)>] GroupClassVBAResponse data, response status code and response headers
    def update_group_class_with_http_info(vbasoftware_database, group_id, group_division_class_key, group_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupClassesApi.update_group_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupClassesApi.update_group_class"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupClassesApi.update_group_class"
      end
      # verify the required parameter 'group_division_class_key' is set
      if @api_client.config.client_side_validation && group_division_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_division_class_key' when calling GroupClassesApi.update_group_class"
      end
      # verify the required parameter 'group_class' is set
      if @api_client.config.client_side_validation && group_class.nil?
        fail ArgumentError, "Missing the required parameter 'group_class' when calling GroupClassesApi.update_group_class"
      end
      # resource path
      local_var_path = '/groups/{groupID}/classes/{groupDivisionClassKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupDivisionClassKey' + '}', CGI.escape(group_division_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_class)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupClassesApi.update_group_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupClassesApi#update_group_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
