=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupAccountPeriodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create GroupAccountPeriod
    # Creates a new GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period [GroupAccountPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountPeriodVBAResponse]
    def create_group_account_period(vbasoftware_database, group_id, group_account_period, opts = {})
      data, _status_code, _headers = create_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period, opts)
      data
    end

    # Create GroupAccountPeriod
    # Creates a new GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period [GroupAccountPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountPeriodVBAResponse, Integer, Hash)>] GroupAccountPeriodVBAResponse data, response status code and response headers
    def create_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.create_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.create_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.create_group_account_period"
      end
      # verify the required parameter 'group_account_period' is set
      if @api_client.config.client_side_validation && group_account_period.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period' when calling GroupAccountPeriodsApi.create_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_period)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.create_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#create_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete GroupAccountPeriod
    # Deletes an GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_account_period(vbasoftware_database, group_id, group_account_period_key, opts = {})
      delete_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, opts)
      nil
    end

    # Delete GroupAccountPeriod
    # Deletes an GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.delete_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.delete_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.delete_group_account_period"
      end
      # verify the required parameter 'group_account_period_key' is set
      if @api_client.config.client_side_validation && group_account_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period_key' when calling GroupAccountPeriodsApi.delete_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods/{groupAccountPeriodKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupAccountPeriodKey' + '}', CGI.escape(group_account_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.delete_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#delete_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GroupAccountPeriod
    # Gets GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountPeriodVBAResponse]
    def get_group_account_period(vbasoftware_database, group_id, group_account_period_key, opts = {})
      data, _status_code, _headers = get_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, opts)
      data
    end

    # Get GroupAccountPeriod
    # Gets GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountPeriodVBAResponse, Integer, Hash)>] GroupAccountPeriodVBAResponse data, response status code and response headers
    def get_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.get_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.get_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.get_group_account_period"
      end
      # verify the required parameter 'group_account_period_key' is set
      if @api_client.config.client_side_validation && group_account_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period_key' when calling GroupAccountPeriodsApi.get_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods/{groupAccountPeriodKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupAccountPeriodKey' + '}', CGI.escape(group_account_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.get_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#get_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GroupAccountPeriod
    # Lists all GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [GroupAccountPeriodListVBAResponse]
    def list_group_account_period(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_group_account_period_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List GroupAccountPeriod
    # Lists all GroupAccountPeriod
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(GroupAccountPeriodListVBAResponse, Integer, Hash)>] GroupAccountPeriodListVBAResponse data, response status code and response headers
    def list_group_account_period_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.list_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.list_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.list_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountPeriodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.list_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#list_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch GroupAccountPeriod
    # Create or Update multiple GroupAccountPeriod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period [Array<GroupAccountPeriod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_group_account_period(vbasoftware_database, group_id, group_account_period, opts = {})
      data, _status_code, _headers = update_batch_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period, opts)
      data
    end

    # Create or Update Batch GroupAccountPeriod
    # Create or Update multiple GroupAccountPeriod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period [Array<GroupAccountPeriod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.update_batch_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.update_batch_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.update_batch_group_account_period"
      end
      # verify the required parameter 'group_account_period' is set
      if @api_client.config.client_side_validation && group_account_period.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period' when calling GroupAccountPeriodsApi.update_batch_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_period)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.update_batch_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#update_batch_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GroupAccountPeriod
    # Updates a specific GroupAccountPeriod.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param group_account_period [GroupAccountPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [GroupAccountPeriodVBAResponse]
    def update_group_account_period(vbasoftware_database, group_id, group_account_period_key, group_account_period, opts = {})
      data, _status_code, _headers = update_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, group_account_period, opts)
      data
    end

    # Update GroupAccountPeriod
    # Updates a specific GroupAccountPeriod.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param group_account_period_key [Integer] GroupAccountPeriod Key
    # @param group_account_period [GroupAccountPeriod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupAccountPeriodVBAResponse, Integer, Hash)>] GroupAccountPeriodVBAResponse data, response status code and response headers
    def update_group_account_period_with_http_info(vbasoftware_database, group_id, group_account_period_key, group_account_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupAccountPeriodsApi.update_group_account_period ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupAccountPeriodsApi.update_group_account_period"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupAccountPeriodsApi.update_group_account_period"
      end
      # verify the required parameter 'group_account_period_key' is set
      if @api_client.config.client_side_validation && group_account_period_key.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period_key' when calling GroupAccountPeriodsApi.update_group_account_period"
      end
      # verify the required parameter 'group_account_period' is set
      if @api_client.config.client_side_validation && group_account_period.nil?
        fail ArgumentError, "Missing the required parameter 'group_account_period' when calling GroupAccountPeriodsApi.update_group_account_period"
      end
      # resource path
      local_var_path = '/groups/{groupID}/account-periods/{groupAccountPeriodKey}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'groupAccountPeriodKey' + '}', CGI.escape(group_account_period_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_account_period)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupAccountPeriodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupAccountPeriodsApi.update_group_account_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupAccountPeriodsApi#update_group_account_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
