=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class GroupIRS1094CApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create IRS1094C
    # Creates a new IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param irs1094_c [IRS1094C] 
    # @param [Hash] opts the optional parameters
    # @return [IRS1094CVBAResponse]
    def create_irs1094_c(vbasoftware_database, group_id, irs1094_c, opts = {})
      data, _status_code, _headers = create_irs1094_c_with_http_info(vbasoftware_database, group_id, irs1094_c, opts)
      data
    end

    # Create IRS1094C
    # Creates a new IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param irs1094_c [IRS1094C] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IRS1094CVBAResponse, Integer, Hash)>] IRS1094CVBAResponse data, response status code and response headers
    def create_irs1094_c_with_http_info(vbasoftware_database, group_id, irs1094_c, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.create_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.create_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.create_irs1094_c"
      end
      # verify the required parameter 'irs1094_c' is set
      if @api_client.config.client_side_validation && irs1094_c.nil?
        fail ArgumentError, "Missing the required parameter 'irs1094_c' when calling GroupIRS1094CApi.create_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(irs1094_c)

      # return_type
      return_type = opts[:debug_return_type] || 'IRS1094CVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.create_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#create_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete IRS1094C
    # Deletes an IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_irs1094_c(vbasoftware_database, group_id, tax_year, opts = {})
      delete_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, opts)
      nil
    end

    # Delete IRS1094C
    # Deletes an IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.delete_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.delete_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.delete_irs1094_c"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling GroupIRS1094CApi.delete_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c/{taxYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'taxYear' + '}', CGI.escape(tax_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.delete_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#delete_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IRS1094C
    # Gets IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param [Hash] opts the optional parameters
    # @return [IRS1094CVBAResponse]
    def get_irs1094_c(vbasoftware_database, group_id, tax_year, opts = {})
      data, _status_code, _headers = get_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, opts)
      data
    end

    # Get IRS1094C
    # Gets IRS1094C
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param [Hash] opts the optional parameters
    # @return [Array<(IRS1094CVBAResponse, Integer, Hash)>] IRS1094CVBAResponse data, response status code and response headers
    def get_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.get_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.get_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.get_irs1094_c"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling GroupIRS1094CApi.get_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c/{taxYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'taxYear' + '}', CGI.escape(tax_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IRS1094CVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.get_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#get_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List IRS1094C
    # Lists all IRS1094C for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [IRS1094CListVBAResponse]
    def list_irs1094_c(vbasoftware_database, group_id, opts = {})
      data, _status_code, _headers = list_irs1094_c_with_http_info(vbasoftware_database, group_id, opts)
      data
    end

    # List IRS1094C
    # Lists all IRS1094C for the given groupID
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(IRS1094CListVBAResponse, Integer, Hash)>] IRS1094CListVBAResponse data, response status code and response headers
    def list_irs1094_c_with_http_info(vbasoftware_database, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.list_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.list_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.list_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IRS1094CListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.list_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#list_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch IRS1094C
    # Create or Update multiple IRS1094C at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param irs1094_c [Array<IRS1094C>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_irs1094_c(vbasoftware_database, group_id, irs1094_c, opts = {})
      data, _status_code, _headers = update_batch_irs1094_c_with_http_info(vbasoftware_database, group_id, irs1094_c, opts)
      data
    end

    # Create or Update Batch IRS1094C
    # Create or Update multiple IRS1094C at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param irs1094_c [Array<IRS1094C>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_irs1094_c_with_http_info(vbasoftware_database, group_id, irs1094_c, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.update_batch_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.update_batch_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.update_batch_irs1094_c"
      end
      # verify the required parameter 'irs1094_c' is set
      if @api_client.config.client_side_validation && irs1094_c.nil?
        fail ArgumentError, "Missing the required parameter 'irs1094_c' when calling GroupIRS1094CApi.update_batch_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c-batch'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(irs1094_c)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.update_batch_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#update_batch_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update IRS1094C
    # Updates a specific IRS1094C.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param irs1094_c [IRS1094C] 
    # @param [Hash] opts the optional parameters
    # @return [IRS1094CVBAResponse]
    def update_irs1094_c(vbasoftware_database, group_id, tax_year, irs1094_c, opts = {})
      data, _status_code, _headers = update_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, irs1094_c, opts)
      data
    end

    # Update IRS1094C
    # Updates a specific IRS1094C.
    # @param vbasoftware_database [String] Target database
    # @param group_id [String] Group ID
    # @param tax_year [String] Tax Year
    # @param irs1094_c [IRS1094C] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IRS1094CVBAResponse, Integer, Hash)>] IRS1094CVBAResponse data, response status code and response headers
    def update_irs1094_c_with_http_info(vbasoftware_database, group_id, tax_year, irs1094_c, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupIRS1094CApi.update_irs1094_c ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling GroupIRS1094CApi.update_irs1094_c"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupIRS1094CApi.update_irs1094_c"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling GroupIRS1094CApi.update_irs1094_c"
      end
      # verify the required parameter 'irs1094_c' is set
      if @api_client.config.client_side_validation && irs1094_c.nil?
        fail ArgumentError, "Missing the required parameter 'irs1094_c' when calling GroupIRS1094CApi.update_irs1094_c"
      end
      # resource path
      local_var_path = '/groups/{groupID}/1094c/{taxYear}'.sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'taxYear' + '}', CGI.escape(tax_year.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(irs1094_c)

      # return_type
      return_type = opts[:debug_return_type] || 'IRS1094CVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupIRS1094CApi.update_irs1094_c",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupIRS1094CApi#update_irs1094_c\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
