=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class HIPAAReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create HIPAAReason
    # Creates a new HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param hipaa_reason [HIPAAReason] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAReasonVBAResponse]
    def create_hipaa_reason(vbasoftware_database, hipaa_reason, opts = {})
      data, _status_code, _headers = create_hipaa_reason_with_http_info(vbasoftware_database, hipaa_reason, opts)
      data
    end

    # Create HIPAAReason
    # Creates a new HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param hipaa_reason [HIPAAReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAReasonVBAResponse, Integer, Hash)>] HIPAAReasonVBAResponse data, response status code and response headers
    def create_hipaa_reason_with_http_info(vbasoftware_database, hipaa_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.create_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.create_hipaa_reason"
      end
      # verify the required parameter 'hipaa_reason' is set
      if @api_client.config.client_side_validation && hipaa_reason.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_reason' when calling HIPAAReasonsApi.create_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.create_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#create_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete HIPAAReason
    # Deletes an HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hipaa_reason(vbasoftware_database, h_ipaa_code, opts = {})
      delete_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      nil
    end

    # Delete HIPAAReason
    # Deletes an HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.delete_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.delete_hipaa_reason"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAReasonsApi.delete_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.delete_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#delete_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HIPAAReason
    # Gets HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [HIPAAReasonVBAResponse]
    def get_hipaa_reason(vbasoftware_database, h_ipaa_code, opts = {})
      data, _status_code, _headers = get_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      data
    end

    # Get HIPAAReason
    # Gets HIPAAReason
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAReasonVBAResponse, Integer, Hash)>] HIPAAReasonVBAResponse data, response status code and response headers
    def get_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.get_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.get_hipaa_reason"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAReasonsApi.get_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.get_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#get_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HIPAAReason
    # Lists all HIPAAReason given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [HIPAAReasonListVBAResponse]
    def list_hipaa_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_hipaa_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List HIPAAReason
    # Lists all HIPAAReason given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAReasonListVBAResponse, Integer, Hash)>] HIPAAReasonListVBAResponse data, response status code and response headers
    def list_hipaa_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.list_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.list_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.list_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#list_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch HIPAAReason
    # Create or Update multiple HIPAAReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_reason [Array<HIPAAReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_hipaa_reason(vbasoftware_database, hipaa_reason, opts = {})
      data, _status_code, _headers = update_batch_hipaa_reason_with_http_info(vbasoftware_database, hipaa_reason, opts)
      data
    end

    # Create or Update Batch HIPAAReason
    # Create or Update multiple HIPAAReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_reason [Array<HIPAAReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_hipaa_reason_with_http_info(vbasoftware_database, hipaa_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.update_batch_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.update_batch_hipaa_reason"
      end
      # verify the required parameter 'hipaa_reason' is set
      if @api_client.config.client_side_validation && hipaa_reason.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_reason' when calling HIPAAReasonsApi.update_batch_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.update_batch_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#update_batch_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update HIPAAReason
    # Updates a specific HIPAAReason.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_reason [HIPAAReason] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAReasonVBAResponse]
    def update_hipaa_reason(vbasoftware_database, h_ipaa_code, hipaa_reason, opts = {})
      data, _status_code, _headers = update_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_reason, opts)
      data
    end

    # Update HIPAAReason
    # Updates a specific HIPAAReason.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_reason [HIPAAReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAReasonVBAResponse, Integer, Hash)>] HIPAAReasonVBAResponse data, response status code and response headers
    def update_hipaa_reason_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAReasonsApi.update_hipaa_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAReasonsApi.update_hipaa_reason"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAReasonsApi.update_hipaa_reason"
      end
      # verify the required parameter 'hipaa_reason' is set
      if @api_client.config.client_side_validation && hipaa_reason.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_reason' when calling HIPAAReasonsApi.update_hipaa_reason"
      end
      # resource path
      local_var_path = '/hipaa-reasons/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAReasonsApi.update_hipaa_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAReasonsApi#update_hipaa_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
