=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class HIPAARelationshipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create HIPAARelationship
    # Creates a new HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param hipaa_relationship [HIPAARelationship] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAARelationshipVBAResponse]
    def create_hipaa_relationship(vbasoftware_database, hipaa_relationship, opts = {})
      data, _status_code, _headers = create_hipaa_relationship_with_http_info(vbasoftware_database, hipaa_relationship, opts)
      data
    end

    # Create HIPAARelationship
    # Creates a new HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param hipaa_relationship [HIPAARelationship] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAARelationshipVBAResponse, Integer, Hash)>] HIPAARelationshipVBAResponse data, response status code and response headers
    def create_hipaa_relationship_with_http_info(vbasoftware_database, hipaa_relationship, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.create_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.create_hipaa_relationship"
      end
      # verify the required parameter 'hipaa_relationship' is set
      if @api_client.config.client_side_validation && hipaa_relationship.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_relationship' when calling HIPAARelationshipsApi.create_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_relationship)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAARelationshipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.create_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#create_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete HIPAARelationship
    # Deletes an HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hipaa_relationship(vbasoftware_database, h_ipaa_code, opts = {})
      delete_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      nil
    end

    # Delete HIPAARelationship
    # Deletes an HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.delete_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.delete_hipaa_relationship"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAARelationshipsApi.delete_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.delete_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#delete_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HIPAARelationship
    # Gets HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [HIPAARelationshipVBAResponse]
    def get_hipaa_relationship(vbasoftware_database, h_ipaa_code, opts = {})
      data, _status_code, _headers = get_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      data
    end

    # Get HIPAARelationship
    # Gets HIPAARelationship
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAARelationshipVBAResponse, Integer, Hash)>] HIPAARelationshipVBAResponse data, response status code and response headers
    def get_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.get_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.get_hipaa_relationship"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAARelationshipsApi.get_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAARelationshipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.get_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#get_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HIPAARelationship
    # Lists all HIPAARelationship given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [HIPAARelationshipListVBAResponse]
    def list_hipaa_relationship(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_hipaa_relationship_with_http_info(vbasoftware_database, opts)
      data
    end

    # List HIPAARelationship
    # Lists all HIPAARelationship given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAARelationshipListVBAResponse, Integer, Hash)>] HIPAARelationshipListVBAResponse data, response status code and response headers
    def list_hipaa_relationship_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.list_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.list_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAARelationshipListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.list_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#list_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch HIPAARelationship
    # Create or Update multiple HIPAARelationship at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_relationship [Array<HIPAARelationship>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_hipaa_relationship(vbasoftware_database, hipaa_relationship, opts = {})
      data, _status_code, _headers = update_batch_hipaa_relationship_with_http_info(vbasoftware_database, hipaa_relationship, opts)
      data
    end

    # Create or Update Batch HIPAARelationship
    # Create or Update multiple HIPAARelationship at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_relationship [Array<HIPAARelationship>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_hipaa_relationship_with_http_info(vbasoftware_database, hipaa_relationship, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.update_batch_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.update_batch_hipaa_relationship"
      end
      # verify the required parameter 'hipaa_relationship' is set
      if @api_client.config.client_side_validation && hipaa_relationship.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_relationship' when calling HIPAARelationshipsApi.update_batch_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_relationship)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.update_batch_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#update_batch_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update HIPAARelationship
    # Updates a specific HIPAARelationship.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_relationship [HIPAARelationship] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAARelationshipVBAResponse]
    def update_hipaa_relationship(vbasoftware_database, h_ipaa_code, hipaa_relationship, opts = {})
      data, _status_code, _headers = update_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_relationship, opts)
      data
    end

    # Update HIPAARelationship
    # Updates a specific HIPAARelationship.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_relationship [HIPAARelationship] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAARelationshipVBAResponse, Integer, Hash)>] HIPAARelationshipVBAResponse data, response status code and response headers
    def update_hipaa_relationship_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_relationship, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAARelationshipsApi.update_hipaa_relationship ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAARelationshipsApi.update_hipaa_relationship"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAARelationshipsApi.update_hipaa_relationship"
      end
      # verify the required parameter 'hipaa_relationship' is set
      if @api_client.config.client_side_validation && hipaa_relationship.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_relationship' when calling HIPAARelationshipsApi.update_hipaa_relationship"
      end
      # resource path
      local_var_path = '/hipaa-relationships/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_relationship)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAARelationshipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAARelationshipsApi.update_hipaa_relationship",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAARelationshipsApi#update_hipaa_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
