=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class HIPAAPlanTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create HIPAAPlanType
    # Creates a new HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param hipaa_plan_type [HIPAAPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAPlanTypeVBAResponse]
    def create_hipaa_plan_type(vbasoftware_database, hipaa_plan_type, opts = {})
      data, _status_code, _headers = create_hipaa_plan_type_with_http_info(vbasoftware_database, hipaa_plan_type, opts)
      data
    end

    # Create HIPAAPlanType
    # Creates a new HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param hipaa_plan_type [HIPAAPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAPlanTypeVBAResponse, Integer, Hash)>] HIPAAPlanTypeVBAResponse data, response status code and response headers
    def create_hipaa_plan_type_with_http_info(vbasoftware_database, hipaa_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.create_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.create_hipaa_plan_type"
      end
      # verify the required parameter 'hipaa_plan_type' is set
      if @api_client.config.client_side_validation && hipaa_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_plan_type' when calling HIPAAPlanTypesApi.create_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAPlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.create_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#create_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete HIPAAPlanType
    # Deletes an HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hipaa_plan_type(vbasoftware_database, h_ipaa_code, opts = {})
      delete_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      nil
    end

    # Delete HIPAAPlanType
    # Deletes an HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.delete_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.delete_hipaa_plan_type"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAPlanTypesApi.delete_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.delete_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#delete_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HIPAAPlanType
    # Gets HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [HIPAAPlanTypeVBAResponse]
    def get_hipaa_plan_type(vbasoftware_database, h_ipaa_code, opts = {})
      data, _status_code, _headers = get_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      data
    end

    # Get HIPAAPlanType
    # Gets HIPAAPlanType
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAPlanTypeVBAResponse, Integer, Hash)>] HIPAAPlanTypeVBAResponse data, response status code and response headers
    def get_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.get_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.get_hipaa_plan_type"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAPlanTypesApi.get_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAPlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.get_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#get_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HIPAAPlanType
    # Lists all HIPAAPlanType given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [HIPAAPlanTypeListVBAResponse]
    def list_hipaa_plan_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_hipaa_plan_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List HIPAAPlanType
    # Lists all HIPAAPlanType given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAPlanTypeListVBAResponse, Integer, Hash)>] HIPAAPlanTypeListVBAResponse data, response status code and response headers
    def list_hipaa_plan_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.list_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.list_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAPlanTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.list_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#list_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch HIPAAPlanType
    # Create or Update multiple HIPAAPlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_plan_type [Array<HIPAAPlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_hipaa_plan_type(vbasoftware_database, hipaa_plan_type, opts = {})
      data, _status_code, _headers = update_batch_hipaa_plan_type_with_http_info(vbasoftware_database, hipaa_plan_type, opts)
      data
    end

    # Create or Update Batch HIPAAPlanType
    # Create or Update multiple HIPAAPlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_plan_type [Array<HIPAAPlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_hipaa_plan_type_with_http_info(vbasoftware_database, hipaa_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.update_batch_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.update_batch_hipaa_plan_type"
      end
      # verify the required parameter 'hipaa_plan_type' is set
      if @api_client.config.client_side_validation && hipaa_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_plan_type' when calling HIPAAPlanTypesApi.update_batch_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.update_batch_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#update_batch_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update HIPAAPlanType
    # Updates a specific HIPAAPlanType.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_plan_type [HIPAAPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAPlanTypeVBAResponse]
    def update_hipaa_plan_type(vbasoftware_database, h_ipaa_code, hipaa_plan_type, opts = {})
      data, _status_code, _headers = update_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_plan_type, opts)
      data
    end

    # Update HIPAAPlanType
    # Updates a specific HIPAAPlanType.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_plan_type [HIPAAPlanType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAPlanTypeVBAResponse, Integer, Hash)>] HIPAAPlanTypeVBAResponse data, response status code and response headers
    def update_hipaa_plan_type_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAPlanTypesApi.update_hipaa_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAPlanTypesApi.update_hipaa_plan_type"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAPlanTypesApi.update_hipaa_plan_type"
      end
      # verify the required parameter 'hipaa_plan_type' is set
      if @api_client.config.client_side_validation && hipaa_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_plan_type' when calling HIPAAPlanTypesApi.update_hipaa_plan_type"
      end
      # resource path
      local_var_path = '/hipaa-plan-types/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAPlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAPlanTypesApi.update_hipaa_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAPlanTypesApi#update_hipaa_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
