=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class HIPAAAdjustmentCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create HIPAAAdjustmentCode
    # Creates a new HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param hipaa_adjustment_code [HIPAAAdjustmentCode] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAAdjustmentCodeVBAResponse]
    def create_hipaa_adjustment_code(vbasoftware_database, hipaa_adjustment_code, opts = {})
      data, _status_code, _headers = create_hipaa_adjustment_code_with_http_info(vbasoftware_database, hipaa_adjustment_code, opts)
      data
    end

    # Create HIPAAAdjustmentCode
    # Creates a new HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param hipaa_adjustment_code [HIPAAAdjustmentCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAAdjustmentCodeVBAResponse, Integer, Hash)>] HIPAAAdjustmentCodeVBAResponse data, response status code and response headers
    def create_hipaa_adjustment_code_with_http_info(vbasoftware_database, hipaa_adjustment_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.create_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.create_hipaa_adjustment_code"
      end
      # verify the required parameter 'hipaa_adjustment_code' is set
      if @api_client.config.client_side_validation && hipaa_adjustment_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_adjustment_code' when calling HIPAAAdjustmentCodesApi.create_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_adjustment_code)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAAdjustmentCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.create_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#create_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete HIPAAAdjustmentCode
    # Deletes an HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hipaa_adjustment_code(vbasoftware_database, h_ipaa_code, opts = {})
      delete_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      nil
    end

    # Delete HIPAAAdjustmentCode
    # Deletes an HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.delete_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.delete_hipaa_adjustment_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAAdjustmentCodesApi.delete_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.delete_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#delete_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HIPAAAdjustmentCode
    # Gets HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [HIPAAAdjustmentCodeVBAResponse]
    def get_hipaa_adjustment_code(vbasoftware_database, h_ipaa_code, opts = {})
      data, _status_code, _headers = get_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      data
    end

    # Get HIPAAAdjustmentCode
    # Gets HIPAAAdjustmentCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAAdjustmentCodeVBAResponse, Integer, Hash)>] HIPAAAdjustmentCodeVBAResponse data, response status code and response headers
    def get_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.get_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.get_hipaa_adjustment_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAAdjustmentCodesApi.get_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAAdjustmentCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.get_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#get_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HIPAAAdjustmentCode
    # Lists all HIPAAAdjustmentCode given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [HIPAAAdjustmentCodeListVBAResponse]
    def list_hipaa_adjustment_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_hipaa_adjustment_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List HIPAAAdjustmentCode
    # Lists all HIPAAAdjustmentCode given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAAdjustmentCodeListVBAResponse, Integer, Hash)>] HIPAAAdjustmentCodeListVBAResponse data, response status code and response headers
    def list_hipaa_adjustment_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.list_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.list_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAAdjustmentCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.list_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#list_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch HIPAAAdjustmentCode
    # Create or Update multiple HIPAAAdjustmentCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_adjustment_code [Array<HIPAAAdjustmentCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_hipaa_adjustment_code(vbasoftware_database, hipaa_adjustment_code, opts = {})
      data, _status_code, _headers = update_batch_hipaa_adjustment_code_with_http_info(vbasoftware_database, hipaa_adjustment_code, opts)
      data
    end

    # Create or Update Batch HIPAAAdjustmentCode
    # Create or Update multiple HIPAAAdjustmentCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_adjustment_code [Array<HIPAAAdjustmentCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_hipaa_adjustment_code_with_http_info(vbasoftware_database, hipaa_adjustment_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.update_batch_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.update_batch_hipaa_adjustment_code"
      end
      # verify the required parameter 'hipaa_adjustment_code' is set
      if @api_client.config.client_side_validation && hipaa_adjustment_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_adjustment_code' when calling HIPAAAdjustmentCodesApi.update_batch_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_adjustment_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.update_batch_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#update_batch_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update HIPAAAdjustmentCode
    # Updates a specific HIPAAAdjustmentCode.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_adjustment_code [HIPAAAdjustmentCode] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAAAdjustmentCodeVBAResponse]
    def update_hipaa_adjustment_code(vbasoftware_database, h_ipaa_code, hipaa_adjustment_code, opts = {})
      data, _status_code, _headers = update_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_adjustment_code, opts)
      data
    end

    # Update HIPAAAdjustmentCode
    # Updates a specific HIPAAAdjustmentCode.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_adjustment_code [HIPAAAdjustmentCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAAAdjustmentCodeVBAResponse, Integer, Hash)>] HIPAAAdjustmentCodeVBAResponse data, response status code and response headers
    def update_hipaa_adjustment_code_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_adjustment_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAAAdjustmentCodesApi.update_hipaa_adjustment_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAAAdjustmentCodesApi.update_hipaa_adjustment_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAAAdjustmentCodesApi.update_hipaa_adjustment_code"
      end
      # verify the required parameter 'hipaa_adjustment_code' is set
      if @api_client.config.client_side_validation && hipaa_adjustment_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_adjustment_code' when calling HIPAAAdjustmentCodesApi.update_hipaa_adjustment_code"
      end
      # resource path
      local_var_path = '/hipaa-adjustment-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_adjustment_code)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAAAdjustmentCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAAAdjustmentCodesApi.update_hipaa_adjustment_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAAAdjustmentCodesApi#update_hipaa_adjustment_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
