=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class HIPAABenefitCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create HIPAABenefitCode
    # Creates a new HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param hipaa_benefit_code [HIPAABenefitCode] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAABenefitCodeVBAResponse]
    def create_hipaa_benefit_code(vbasoftware_database, hipaa_benefit_code, opts = {})
      data, _status_code, _headers = create_hipaa_benefit_code_with_http_info(vbasoftware_database, hipaa_benefit_code, opts)
      data
    end

    # Create HIPAABenefitCode
    # Creates a new HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param hipaa_benefit_code [HIPAABenefitCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAABenefitCodeVBAResponse, Integer, Hash)>] HIPAABenefitCodeVBAResponse data, response status code and response headers
    def create_hipaa_benefit_code_with_http_info(vbasoftware_database, hipaa_benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.create_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.create_hipaa_benefit_code"
      end
      # verify the required parameter 'hipaa_benefit_code' is set
      if @api_client.config.client_side_validation && hipaa_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_benefit_code' when calling HIPAABenefitCodesApi.create_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_benefit_code)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAABenefitCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.create_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#create_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete HIPAABenefitCode
    # Deletes an HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hipaa_benefit_code(vbasoftware_database, h_ipaa_code, opts = {})
      delete_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      nil
    end

    # Delete HIPAABenefitCode
    # Deletes an HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.delete_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.delete_hipaa_benefit_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAABenefitCodesApi.delete_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.delete_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#delete_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HIPAABenefitCode
    # Gets HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [HIPAABenefitCodeVBAResponse]
    def get_hipaa_benefit_code(vbasoftware_database, h_ipaa_code, opts = {})
      data, _status_code, _headers = get_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, opts)
      data
    end

    # Get HIPAABenefitCode
    # Gets HIPAABenefitCode
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAABenefitCodeVBAResponse, Integer, Hash)>] HIPAABenefitCodeVBAResponse data, response status code and response headers
    def get_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.get_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.get_hipaa_benefit_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAABenefitCodesApi.get_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAABenefitCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.get_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#get_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HIPAABenefitCode
    # Lists all HIPAABenefitCode given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [HIPAABenefitCodeListVBAResponse]
    def list_hipaa_benefit_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_hipaa_benefit_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List HIPAABenefitCode
    # Lists all HIPAABenefitCode given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAABenefitCodeListVBAResponse, Integer, Hash)>] HIPAABenefitCodeListVBAResponse data, response status code and response headers
    def list_hipaa_benefit_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.list_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.list_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAABenefitCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.list_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#list_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch HIPAABenefitCode
    # Create or Update multiple HIPAABenefitCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_benefit_code [Array<HIPAABenefitCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_hipaa_benefit_code(vbasoftware_database, hipaa_benefit_code, opts = {})
      data, _status_code, _headers = update_batch_hipaa_benefit_code_with_http_info(vbasoftware_database, hipaa_benefit_code, opts)
      data
    end

    # Create or Update Batch HIPAABenefitCode
    # Create or Update multiple HIPAABenefitCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param hipaa_benefit_code [Array<HIPAABenefitCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_hipaa_benefit_code_with_http_info(vbasoftware_database, hipaa_benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.update_batch_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.update_batch_hipaa_benefit_code"
      end
      # verify the required parameter 'hipaa_benefit_code' is set
      if @api_client.config.client_side_validation && hipaa_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_benefit_code' when calling HIPAABenefitCodesApi.update_batch_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_benefit_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.update_batch_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#update_batch_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update HIPAABenefitCode
    # Updates a specific HIPAABenefitCode.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_benefit_code [HIPAABenefitCode] 
    # @param [Hash] opts the optional parameters
    # @return [HIPAABenefitCodeVBAResponse]
    def update_hipaa_benefit_code(vbasoftware_database, h_ipaa_code, hipaa_benefit_code, opts = {})
      data, _status_code, _headers = update_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_benefit_code, opts)
      data
    end

    # Update HIPAABenefitCode
    # Updates a specific HIPAABenefitCode.
    # @param vbasoftware_database [String] Target database
    # @param h_ipaa_code [String] HIPAA Code
    # @param hipaa_benefit_code [HIPAABenefitCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HIPAABenefitCodeVBAResponse, Integer, Hash)>] HIPAABenefitCodeVBAResponse data, response status code and response headers
    def update_hipaa_benefit_code_with_http_info(vbasoftware_database, h_ipaa_code, hipaa_benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HIPAABenefitCodesApi.update_hipaa_benefit_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling HIPAABenefitCodesApi.update_hipaa_benefit_code"
      end
      # verify the required parameter 'h_ipaa_code' is set
      if @api_client.config.client_side_validation && h_ipaa_code.nil?
        fail ArgumentError, "Missing the required parameter 'h_ipaa_code' when calling HIPAABenefitCodesApi.update_hipaa_benefit_code"
      end
      # verify the required parameter 'hipaa_benefit_code' is set
      if @api_client.config.client_side_validation && hipaa_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'hipaa_benefit_code' when calling HIPAABenefitCodesApi.update_hipaa_benefit_code"
      end
      # resource path
      local_var_path = '/hipaa-benefit-codes/{hIPAACode}'.sub('{' + 'hIPAACode' + '}', CGI.escape(h_ipaa_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hipaa_benefit_code)

      # return_type
      return_type = opts[:debug_return_type] || 'HIPAABenefitCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"HIPAABenefitCodesApi.update_hipaa_benefit_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HIPAABenefitCodesApi#update_hipaa_benefit_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
