=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class IDTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create IDType
    # Creates a new IDType
    # @param vbasoftware_database [String] Target database
    # @param id_type [IDType] 
    # @param [Hash] opts the optional parameters
    # @return [IDTypeVBAResponse]
    def create_id_type(vbasoftware_database, id_type, opts = {})
      data, _status_code, _headers = create_id_type_with_http_info(vbasoftware_database, id_type, opts)
      data
    end

    # Create IDType
    # Creates a new IDType
    # @param vbasoftware_database [String] Target database
    # @param id_type [IDType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDTypeVBAResponse, Integer, Hash)>] IDTypeVBAResponse data, response status code and response headers
    def create_id_type_with_http_info(vbasoftware_database, id_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.create_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.create_id_type"
      end
      # verify the required parameter 'id_type' is set
      if @api_client.config.client_side_validation && id_type.nil?
        fail ArgumentError, "Missing the required parameter 'id_type' when calling IDTypesApi.create_id_type"
      end
      # resource path
      local_var_path = '/id-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_type)

      # return_type
      return_type = opts[:debug_return_type] || 'IDTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.create_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#create_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete IDType
    # Deletes an IDType
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_id_type(vbasoftware_database, type, opts = {})
      delete_id_type_with_http_info(vbasoftware_database, type, opts)
      nil
    end

    # Delete IDType
    # Deletes an IDType
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_id_type_with_http_info(vbasoftware_database, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.delete_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.delete_id_type"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling IDTypesApi.delete_id_type"
      end
      # resource path
      local_var_path = '/id-types/{type}'.sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.delete_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#delete_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IDType
    # Gets IDType
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param [Hash] opts the optional parameters
    # @return [IDTypeVBAResponse]
    def get_id_type(vbasoftware_database, type, opts = {})
      data, _status_code, _headers = get_id_type_with_http_info(vbasoftware_database, type, opts)
      data
    end

    # Get IDType
    # Gets IDType
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDTypeVBAResponse, Integer, Hash)>] IDTypeVBAResponse data, response status code and response headers
    def get_id_type_with_http_info(vbasoftware_database, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.get_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.get_id_type"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling IDTypesApi.get_id_type"
      end
      # resource path
      local_var_path = '/id-types/{type}'.sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IDTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.get_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#get_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List IDType
    # Lists all IDType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [IDTypeListVBAResponse]
    def list_id_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_id_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List IDType
    # Lists all IDType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(IDTypeListVBAResponse, Integer, Hash)>] IDTypeListVBAResponse data, response status code and response headers
    def list_id_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.list_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.list_id_type"
      end
      # resource path
      local_var_path = '/id-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IDTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.list_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#list_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch IDType
    # Create or Update multiple IDType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param id_type [Array<IDType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_id_type(vbasoftware_database, id_type, opts = {})
      data, _status_code, _headers = update_batch_id_type_with_http_info(vbasoftware_database, id_type, opts)
      data
    end

    # Create or Update Batch IDType
    # Create or Update multiple IDType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param id_type [Array<IDType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_id_type_with_http_info(vbasoftware_database, id_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.update_batch_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.update_batch_id_type"
      end
      # verify the required parameter 'id_type' is set
      if @api_client.config.client_side_validation && id_type.nil?
        fail ArgumentError, "Missing the required parameter 'id_type' when calling IDTypesApi.update_batch_id_type"
      end
      # resource path
      local_var_path = '/id-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.update_batch_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#update_batch_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update IDType
    # Updates a specific IDType.
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param id_type [IDType] 
    # @param [Hash] opts the optional parameters
    # @return [IDTypeVBAResponse]
    def update_id_type(vbasoftware_database, type, id_type, opts = {})
      data, _status_code, _headers = update_id_type_with_http_info(vbasoftware_database, type, id_type, opts)
      data
    end

    # Update IDType
    # Updates a specific IDType.
    # @param vbasoftware_database [String] Target database
    # @param type [String] Type
    # @param id_type [IDType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDTypeVBAResponse, Integer, Hash)>] IDTypeVBAResponse data, response status code and response headers
    def update_id_type_with_http_info(vbasoftware_database, type, id_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDTypesApi.update_id_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IDTypesApi.update_id_type"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling IDTypesApi.update_id_type"
      end
      # verify the required parameter 'id_type' is set
      if @api_client.config.client_side_validation && id_type.nil?
        fail ArgumentError, "Missing the required parameter 'id_type' when calling IDTypesApi.update_id_type"
      end
      # resource path
      local_var_path = '/id-types/{type}'.sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_type)

      # return_type
      return_type = opts[:debug_return_type] || 'IDTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IDTypesApi.update_id_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDTypesApi#update_id_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
