=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class InsuranceCarrierTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create InsuranceCarrierType
    # Creates a new InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier_type [InsuranceCarrierType] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierTypeVBAResponse]
    def create_insurance_carrier_type(vbasoftware_database, insurance_carrier_type, opts = {})
      data, _status_code, _headers = create_insurance_carrier_type_with_http_info(vbasoftware_database, insurance_carrier_type, opts)
      data
    end

    # Create InsuranceCarrierType
    # Creates a new InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier_type [InsuranceCarrierType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierTypeVBAResponse, Integer, Hash)>] InsuranceCarrierTypeVBAResponse data, response status code and response headers
    def create_insurance_carrier_type_with_http_info(vbasoftware_database, insurance_carrier_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.create_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.create_insurance_carrier_type"
      end
      # verify the required parameter 'insurance_carrier_type' is set
      if @api_client.config.client_side_validation && insurance_carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier_type' when calling InsuranceCarrierTypesApi.create_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier_type)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.create_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#create_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete InsuranceCarrierType
    # Deletes an InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_insurance_carrier_type(vbasoftware_database, carrier_type, opts = {})
      delete_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, opts)
      nil
    end

    # Delete InsuranceCarrierType
    # Deletes an InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.delete_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.delete_insurance_carrier_type"
      end
      # verify the required parameter 'carrier_type' is set
      if @api_client.config.client_side_validation && carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_type' when calling InsuranceCarrierTypesApi.delete_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types/{carrierType}'.sub('{' + 'carrierType' + '}', CGI.escape(carrier_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.delete_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#delete_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get InsuranceCarrierType
    # Gets InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierTypeVBAResponse]
    def get_insurance_carrier_type(vbasoftware_database, carrier_type, opts = {})
      data, _status_code, _headers = get_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, opts)
      data
    end

    # Get InsuranceCarrierType
    # Gets InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierTypeVBAResponse, Integer, Hash)>] InsuranceCarrierTypeVBAResponse data, response status code and response headers
    def get_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.get_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.get_insurance_carrier_type"
      end
      # verify the required parameter 'carrier_type' is set
      if @api_client.config.client_side_validation && carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_type' when calling InsuranceCarrierTypesApi.get_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types/{carrierType}'.sub('{' + 'carrierType' + '}', CGI.escape(carrier_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.get_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#get_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List InsuranceCarrierType
    # Lists all InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [InsuranceCarrierTypeListVBAResponse]
    def list_insurance_carrier_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_insurance_carrier_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List InsuranceCarrierType
    # Lists all InsuranceCarrierType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(InsuranceCarrierTypeListVBAResponse, Integer, Hash)>] InsuranceCarrierTypeListVBAResponse data, response status code and response headers
    def list_insurance_carrier_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.list_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.list_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.list_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#list_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch InsuranceCarrierType
    # Create or Update multiple InsuranceCarrierType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier_type [Array<InsuranceCarrierType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_insurance_carrier_type(vbasoftware_database, insurance_carrier_type, opts = {})
      data, _status_code, _headers = update_batch_insurance_carrier_type_with_http_info(vbasoftware_database, insurance_carrier_type, opts)
      data
    end

    # Create or Update Batch InsuranceCarrierType
    # Create or Update multiple InsuranceCarrierType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier_type [Array<InsuranceCarrierType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_insurance_carrier_type_with_http_info(vbasoftware_database, insurance_carrier_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.update_batch_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.update_batch_insurance_carrier_type"
      end
      # verify the required parameter 'insurance_carrier_type' is set
      if @api_client.config.client_side_validation && insurance_carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier_type' when calling InsuranceCarrierTypesApi.update_batch_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.update_batch_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#update_batch_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update InsuranceCarrierType
    # Updates a specific InsuranceCarrierType.
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param insurance_carrier_type [InsuranceCarrierType] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierTypeVBAResponse]
    def update_insurance_carrier_type(vbasoftware_database, carrier_type, insurance_carrier_type, opts = {})
      data, _status_code, _headers = update_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, insurance_carrier_type, opts)
      data
    end

    # Update InsuranceCarrierType
    # Updates a specific InsuranceCarrierType.
    # @param vbasoftware_database [String] Target database
    # @param carrier_type [String] Carrier Type
    # @param insurance_carrier_type [InsuranceCarrierType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierTypeVBAResponse, Integer, Hash)>] InsuranceCarrierTypeVBAResponse data, response status code and response headers
    def update_insurance_carrier_type_with_http_info(vbasoftware_database, carrier_type, insurance_carrier_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarrierTypesApi.update_insurance_carrier_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarrierTypesApi.update_insurance_carrier_type"
      end
      # verify the required parameter 'carrier_type' is set
      if @api_client.config.client_side_validation && carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_type' when calling InsuranceCarrierTypesApi.update_insurance_carrier_type"
      end
      # verify the required parameter 'insurance_carrier_type' is set
      if @api_client.config.client_side_validation && insurance_carrier_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier_type' when calling InsuranceCarrierTypesApi.update_insurance_carrier_type"
      end
      # resource path
      local_var_path = '/insurance-carrier-types/{carrierType}'.sub('{' + 'carrierType' + '}', CGI.escape(carrier_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier_type)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarrierTypesApi.update_insurance_carrier_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarrierTypesApi#update_insurance_carrier_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
