=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class InsuranceTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create InsuranceType
    # Creates a new InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [InsuranceType] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceTypeVBAResponse]
    def create_insurance_type(vbasoftware_database, insurance_type, opts = {})
      data, _status_code, _headers = create_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts)
      data
    end

    # Create InsuranceType
    # Creates a new InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [InsuranceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceTypeVBAResponse, Integer, Hash)>] InsuranceTypeVBAResponse data, response status code and response headers
    def create_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.create_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.create_insurance_type"
      end
      # verify the required parameter 'insurance_type' is set
      if @api_client.config.client_side_validation && insurance_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type' when calling InsuranceTypesApi.create_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_type)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.create_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#create_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete InsuranceType
    # Deletes an InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_insurance_type(vbasoftware_database, insurance_type, opts = {})
      delete_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts)
      nil
    end

    # Delete InsuranceType
    # Deletes an InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.delete_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.delete_insurance_type"
      end
      # verify the required parameter 'insurance_type' is set
      if @api_client.config.client_side_validation && insurance_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type' when calling InsuranceTypesApi.delete_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types/{insuranceType}'.sub('{' + 'insuranceType' + '}', CGI.escape(insurance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.delete_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#delete_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get InsuranceType
    # Gets InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param [Hash] opts the optional parameters
    # @return [InsuranceTypeVBAResponse]
    def get_insurance_type(vbasoftware_database, insurance_type, opts = {})
      data, _status_code, _headers = get_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts)
      data
    end

    # Get InsuranceType
    # Gets InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceTypeVBAResponse, Integer, Hash)>] InsuranceTypeVBAResponse data, response status code and response headers
    def get_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.get_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.get_insurance_type"
      end
      # verify the required parameter 'insurance_type' is set
      if @api_client.config.client_side_validation && insurance_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type' when calling InsuranceTypesApi.get_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types/{insuranceType}'.sub('{' + 'insuranceType' + '}', CGI.escape(insurance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.get_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#get_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List InsuranceType
    # Lists all InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [InsuranceTypeListVBAResponse]
    def list_insurance_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_insurance_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List InsuranceType
    # Lists all InsuranceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(InsuranceTypeListVBAResponse, Integer, Hash)>] InsuranceTypeListVBAResponse data, response status code and response headers
    def list_insurance_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.list_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.list_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.list_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#list_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch InsuranceType
    # Create or Update multiple InsuranceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Array<InsuranceType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_insurance_type(vbasoftware_database, insurance_type, opts = {})
      data, _status_code, _headers = update_batch_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts)
      data
    end

    # Create or Update Batch InsuranceType
    # Create or Update multiple InsuranceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Array<InsuranceType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_insurance_type_with_http_info(vbasoftware_database, insurance_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.update_batch_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.update_batch_insurance_type"
      end
      # verify the required parameter 'insurance_type' is set
      if @api_client.config.client_side_validation && insurance_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type' when calling InsuranceTypesApi.update_batch_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.update_batch_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#update_batch_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update InsuranceType
    # Updates a specific InsuranceType.
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param insurance_type2 [InsuranceType] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceTypeVBAResponse]
    def update_insurance_type(vbasoftware_database, insurance_type, insurance_type2, opts = {})
      data, _status_code, _headers = update_insurance_type_with_http_info(vbasoftware_database, insurance_type, insurance_type2, opts)
      data
    end

    # Update InsuranceType
    # Updates a specific InsuranceType.
    # @param vbasoftware_database [String] Target database
    # @param insurance_type [Integer] Insurance Type
    # @param insurance_type2 [InsuranceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceTypeVBAResponse, Integer, Hash)>] InsuranceTypeVBAResponse data, response status code and response headers
    def update_insurance_type_with_http_info(vbasoftware_database, insurance_type, insurance_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceTypesApi.update_insurance_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceTypesApi.update_insurance_type"
      end
      # verify the required parameter 'insurance_type' is set
      if @api_client.config.client_side_validation && insurance_type.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type' when calling InsuranceTypesApi.update_insurance_type"
      end
      # verify the required parameter 'insurance_type2' is set
      if @api_client.config.client_side_validation && insurance_type2.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_type2' when calling InsuranceTypesApi.update_insurance_type"
      end
      # resource path
      local_var_path = '/insurance-types/{insuranceType}'.sub('{' + 'insuranceType' + '}', CGI.escape(insurance_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceTypesApi.update_insurance_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceTypesApi#update_insurance_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
