=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class InsuranceCarriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create InsuranceCarrier
    # Creates a new InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier [InsuranceCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierVBAResponse]
    def create_insurance_carrier(vbasoftware_database, insurance_carrier, opts = {})
      data, _status_code, _headers = create_insurance_carrier_with_http_info(vbasoftware_database, insurance_carrier, opts)
      data
    end

    # Create InsuranceCarrier
    # Creates a new InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier [InsuranceCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierVBAResponse, Integer, Hash)>] InsuranceCarrierVBAResponse data, response status code and response headers
    def create_insurance_carrier_with_http_info(vbasoftware_database, insurance_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.create_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.create_insurance_carrier"
      end
      # verify the required parameter 'insurance_carrier' is set
      if @api_client.config.client_side_validation && insurance_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier' when calling InsuranceCarriersApi.create_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.create_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#create_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete InsuranceCarrier
    # Deletes an InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_insurance_carrier(vbasoftware_database, carrier_key, opts = {})
      delete_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, opts)
      nil
    end

    # Delete InsuranceCarrier
    # Deletes an InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.delete_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.delete_insurance_carrier"
      end
      # verify the required parameter 'carrier_key' is set
      if @api_client.config.client_side_validation && carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_key' when calling InsuranceCarriersApi.delete_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers/{carrierKey}'.sub('{' + 'carrierKey' + '}', CGI.escape(carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.delete_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#delete_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get InsuranceCarrier
    # Gets InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierVBAResponse]
    def get_insurance_carrier(vbasoftware_database, carrier_key, opts = {})
      data, _status_code, _headers = get_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, opts)
      data
    end

    # Get InsuranceCarrier
    # Gets InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierVBAResponse, Integer, Hash)>] InsuranceCarrierVBAResponse data, response status code and response headers
    def get_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.get_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.get_insurance_carrier"
      end
      # verify the required parameter 'carrier_key' is set
      if @api_client.config.client_side_validation && carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_key' when calling InsuranceCarriersApi.get_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers/{carrierKey}'.sub('{' + 'carrierKey' + '}', CGI.escape(carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.get_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#get_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List InsuranceCarrier
    # Lists all InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [InsuranceCarrierListVBAResponse]
    def list_insurance_carrier(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_insurance_carrier_with_http_info(vbasoftware_database, opts)
      data
    end

    # List InsuranceCarrier
    # Lists all InsuranceCarrier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(InsuranceCarrierListVBAResponse, Integer, Hash)>] InsuranceCarrierListVBAResponse data, response status code and response headers
    def list_insurance_carrier_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.list_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.list_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.list_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#list_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch InsuranceCarrier
    # Create or Update multiple InsuranceCarrier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier [Array<InsuranceCarrier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_insurance_carrier(vbasoftware_database, insurance_carrier, opts = {})
      data, _status_code, _headers = update_batch_insurance_carrier_with_http_info(vbasoftware_database, insurance_carrier, opts)
      data
    end

    # Create or Update Batch InsuranceCarrier
    # Create or Update multiple InsuranceCarrier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param insurance_carrier [Array<InsuranceCarrier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_insurance_carrier_with_http_info(vbasoftware_database, insurance_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.update_batch_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.update_batch_insurance_carrier"
      end
      # verify the required parameter 'insurance_carrier' is set
      if @api_client.config.client_side_validation && insurance_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier' when calling InsuranceCarriersApi.update_batch_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.update_batch_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#update_batch_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update InsuranceCarrier
    # Updates a specific InsuranceCarrier.
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param insurance_carrier [InsuranceCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [InsuranceCarrierVBAResponse]
    def update_insurance_carrier(vbasoftware_database, carrier_key, insurance_carrier, opts = {})
      data, _status_code, _headers = update_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, insurance_carrier, opts)
      data
    end

    # Update InsuranceCarrier
    # Updates a specific InsuranceCarrier.
    # @param vbasoftware_database [String] Target database
    # @param carrier_key [Integer] Carrier Key
    # @param insurance_carrier [InsuranceCarrier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsuranceCarrierVBAResponse, Integer, Hash)>] InsuranceCarrierVBAResponse data, response status code and response headers
    def update_insurance_carrier_with_http_info(vbasoftware_database, carrier_key, insurance_carrier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsuranceCarriersApi.update_insurance_carrier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InsuranceCarriersApi.update_insurance_carrier"
      end
      # verify the required parameter 'carrier_key' is set
      if @api_client.config.client_side_validation && carrier_key.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_key' when calling InsuranceCarriersApi.update_insurance_carrier"
      end
      # verify the required parameter 'insurance_carrier' is set
      if @api_client.config.client_side_validation && insurance_carrier.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_carrier' when calling InsuranceCarriersApi.update_insurance_carrier"
      end
      # resource path
      local_var_path = '/insurance-carriers/{carrierKey}'.sub('{' + 'carrierKey' + '}', CGI.escape(carrier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(insurance_carrier)

      # return_type
      return_type = opts[:debug_return_type] || 'InsuranceCarrierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InsuranceCarriersApi.update_insurance_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsuranceCarriersApi#update_insurance_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
