=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class InvoiceReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create InvoiceReason
    # Creates a new InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param invoice_reason [InvoiceReason] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceReasonVBAResponse]
    def create_invoice_reason(vbasoftware_database, invoice_reason, opts = {})
      data, _status_code, _headers = create_invoice_reason_with_http_info(vbasoftware_database, invoice_reason, opts)
      data
    end

    # Create InvoiceReason
    # Creates a new InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param invoice_reason [InvoiceReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceReasonVBAResponse, Integer, Hash)>] InvoiceReasonVBAResponse data, response status code and response headers
    def create_invoice_reason_with_http_info(vbasoftware_database, invoice_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.create_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.create_invoice_reason"
      end
      # verify the required parameter 'invoice_reason' is set
      if @api_client.config.client_side_validation && invoice_reason.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_reason' when calling InvoiceReasonsApi.create_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.create_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#create_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete InvoiceReason
    # Deletes an InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_invoice_reason(vbasoftware_database, reason_key, opts = {})
      delete_invoice_reason_with_http_info(vbasoftware_database, reason_key, opts)
      nil
    end

    # Delete InvoiceReason
    # Deletes an InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_invoice_reason_with_http_info(vbasoftware_database, reason_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.delete_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.delete_invoice_reason"
      end
      # verify the required parameter 'reason_key' is set
      if @api_client.config.client_side_validation && reason_key.nil?
        fail ArgumentError, "Missing the required parameter 'reason_key' when calling InvoiceReasonsApi.delete_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons/{reasonKey}'.sub('{' + 'reasonKey' + '}', CGI.escape(reason_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.delete_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#delete_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get InvoiceReason
    # Gets InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param [Hash] opts the optional parameters
    # @return [InvoiceReasonVBAResponse]
    def get_invoice_reason(vbasoftware_database, reason_key, opts = {})
      data, _status_code, _headers = get_invoice_reason_with_http_info(vbasoftware_database, reason_key, opts)
      data
    end

    # Get InvoiceReason
    # Gets InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceReasonVBAResponse, Integer, Hash)>] InvoiceReasonVBAResponse data, response status code and response headers
    def get_invoice_reason_with_http_info(vbasoftware_database, reason_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.get_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.get_invoice_reason"
      end
      # verify the required parameter 'reason_key' is set
      if @api_client.config.client_side_validation && reason_key.nil?
        fail ArgumentError, "Missing the required parameter 'reason_key' when calling InvoiceReasonsApi.get_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons/{reasonKey}'.sub('{' + 'reasonKey' + '}', CGI.escape(reason_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.get_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#get_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List InvoiceReason
    # Lists all InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [InvoiceReasonListVBAResponse]
    def list_invoice_reason(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_invoice_reason_with_http_info(vbasoftware_database, opts)
      data
    end

    # List InvoiceReason
    # Lists all InvoiceReason
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(InvoiceReasonListVBAResponse, Integer, Hash)>] InvoiceReasonListVBAResponse data, response status code and response headers
    def list_invoice_reason_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.list_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.list_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceReasonListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.list_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#list_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch InvoiceReason
    # Create or Update multiple InvoiceReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_reason [Array<InvoiceReason>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_invoice_reason(vbasoftware_database, invoice_reason, opts = {})
      data, _status_code, _headers = update_batch_invoice_reason_with_http_info(vbasoftware_database, invoice_reason, opts)
      data
    end

    # Create or Update Batch InvoiceReason
    # Create or Update multiple InvoiceReason at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_reason [Array<InvoiceReason>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_invoice_reason_with_http_info(vbasoftware_database, invoice_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.update_batch_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.update_batch_invoice_reason"
      end
      # verify the required parameter 'invoice_reason' is set
      if @api_client.config.client_side_validation && invoice_reason.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_reason' when calling InvoiceReasonsApi.update_batch_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.update_batch_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#update_batch_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update InvoiceReason
    # Updates a specific InvoiceReason.
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param invoice_reason [InvoiceReason] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceReasonVBAResponse]
    def update_invoice_reason(vbasoftware_database, reason_key, invoice_reason, opts = {})
      data, _status_code, _headers = update_invoice_reason_with_http_info(vbasoftware_database, reason_key, invoice_reason, opts)
      data
    end

    # Update InvoiceReason
    # Updates a specific InvoiceReason.
    # @param vbasoftware_database [String] Target database
    # @param reason_key [Integer] Reason Key
    # @param invoice_reason [InvoiceReason] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceReasonVBAResponse, Integer, Hash)>] InvoiceReasonVBAResponse data, response status code and response headers
    def update_invoice_reason_with_http_info(vbasoftware_database, reason_key, invoice_reason, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceReasonsApi.update_invoice_reason ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling InvoiceReasonsApi.update_invoice_reason"
      end
      # verify the required parameter 'reason_key' is set
      if @api_client.config.client_side_validation && reason_key.nil?
        fail ArgumentError, "Missing the required parameter 'reason_key' when calling InvoiceReasonsApi.update_invoice_reason"
      end
      # verify the required parameter 'invoice_reason' is set
      if @api_client.config.client_side_validation && invoice_reason.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_reason' when calling InvoiceReasonsApi.update_invoice_reason"
      end
      # resource path
      local_var_path = '/invoice-reasons/{reasonKey}'.sub('{' + 'reasonKey' + '}', CGI.escape(reason_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_reason)

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceReasonVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvoiceReasonsApi.update_invoice_reason",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceReasonsApi#update_invoice_reason\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
