=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class IPWhitelistsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create IPWhitelist
    # Creates a new IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist [IPWhitelist] 
    # @param [Hash] opts the optional parameters
    # @return [IPWhitelistVBAResponse]
    def create_ip_whitelist(vbasoftware_database, ip_whitelist, opts = {})
      data, _status_code, _headers = create_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist, opts)
      data
    end

    # Create IPWhitelist
    # Creates a new IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist [IPWhitelist] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPWhitelistVBAResponse, Integer, Hash)>] IPWhitelistVBAResponse data, response status code and response headers
    def create_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.create_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.create_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist' is set
      if @api_client.config.client_side_validation && ip_whitelist.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist' when calling IPWhitelistsApi.create_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ip_whitelist)

      # return_type
      return_type = opts[:debug_return_type] || 'IPWhitelistVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.create_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#create_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete IPWhitelist
    # Deletes an IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ip_whitelist(vbasoftware_database, ip_whitelist_key, opts = {})
      delete_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, opts)
      nil
    end

    # Delete IPWhitelist
    # Deletes an IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.delete_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.delete_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist_key' is set
      if @api_client.config.client_side_validation && ip_whitelist_key.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist_key' when calling IPWhitelistsApi.delete_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists/{ipWhitelist_Key}'.sub('{' + 'ipWhitelist_Key' + '}', CGI.escape(ip_whitelist_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.delete_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#delete_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IPWhitelist
    # Gets IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param [Hash] opts the optional parameters
    # @return [IPWhitelistVBAResponse]
    def get_ip_whitelist(vbasoftware_database, ip_whitelist_key, opts = {})
      data, _status_code, _headers = get_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, opts)
      data
    end

    # Get IPWhitelist
    # Gets IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPWhitelistVBAResponse, Integer, Hash)>] IPWhitelistVBAResponse data, response status code and response headers
    def get_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.get_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.get_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist_key' is set
      if @api_client.config.client_side_validation && ip_whitelist_key.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist_key' when calling IPWhitelistsApi.get_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists/{ipWhitelist_Key}'.sub('{' + 'ipWhitelist_Key' + '}', CGI.escape(ip_whitelist_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IPWhitelistVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.get_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#get_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List IPWhitelist
    # Lists all IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [IPWhitelistListVBAResponse]
    def list_ip_whitelist(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_ip_whitelist_with_http_info(vbasoftware_database, opts)
      data
    end

    # List IPWhitelist
    # Lists all IPWhitelist
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(IPWhitelistListVBAResponse, Integer, Hash)>] IPWhitelistListVBAResponse data, response status code and response headers
    def list_ip_whitelist_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.list_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.list_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IPWhitelistListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.list_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#list_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch IPWhitelist
    # Create or Update multiple IPWhitelist at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist [Array<IPWhitelist>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_ip_whitelist(vbasoftware_database, ip_whitelist, opts = {})
      data, _status_code, _headers = update_batch_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist, opts)
      data
    end

    # Create or Update Batch IPWhitelist
    # Create or Update multiple IPWhitelist at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist [Array<IPWhitelist>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.update_batch_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.update_batch_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist' is set
      if @api_client.config.client_side_validation && ip_whitelist.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist' when calling IPWhitelistsApi.update_batch_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ip_whitelist)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.update_batch_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#update_batch_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update IPWhitelist
    # Updates a specific IPWhitelist.
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param ip_whitelist [IPWhitelist] 
    # @param [Hash] opts the optional parameters
    # @return [IPWhitelistVBAResponse]
    def update_ip_whitelist(vbasoftware_database, ip_whitelist_key, ip_whitelist, opts = {})
      data, _status_code, _headers = update_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, ip_whitelist, opts)
      data
    end

    # Update IPWhitelist
    # Updates a specific IPWhitelist.
    # @param vbasoftware_database [String] Target database
    # @param ip_whitelist_key [Integer] IPWhitelist Key
    # @param ip_whitelist [IPWhitelist] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPWhitelistVBAResponse, Integer, Hash)>] IPWhitelistVBAResponse data, response status code and response headers
    def update_ip_whitelist_with_http_info(vbasoftware_database, ip_whitelist_key, ip_whitelist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPWhitelistsApi.update_ip_whitelist ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling IPWhitelistsApi.update_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist_key' is set
      if @api_client.config.client_side_validation && ip_whitelist_key.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist_key' when calling IPWhitelistsApi.update_ip_whitelist"
      end
      # verify the required parameter 'ip_whitelist' is set
      if @api_client.config.client_side_validation && ip_whitelist.nil?
        fail ArgumentError, "Missing the required parameter 'ip_whitelist' when calling IPWhitelistsApi.update_ip_whitelist"
      end
      # resource path
      local_var_path = '/ipwhitelists/{ipWhitelist_Key}'.sub('{' + 'ipWhitelist_Key' + '}', CGI.escape(ip_whitelist_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ip_whitelist)

      # return_type
      return_type = opts[:debug_return_type] || 'IPWhitelistVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IPWhitelistsApi.update_ip_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPWhitelistsApi#update_ip_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
