=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class LanguagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Languages
    # Creates a new Languages
    # @param vbasoftware_database [String] Target database
    # @param languages [Languages] 
    # @param [Hash] opts the optional parameters
    # @return [LanguagesVBAResponse]
    def create_languages(vbasoftware_database, languages, opts = {})
      data, _status_code, _headers = create_languages_with_http_info(vbasoftware_database, languages, opts)
      data
    end

    # Create Languages
    # Creates a new Languages
    # @param vbasoftware_database [String] Target database
    # @param languages [Languages] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LanguagesVBAResponse, Integer, Hash)>] LanguagesVBAResponse data, response status code and response headers
    def create_languages_with_http_info(vbasoftware_database, languages, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.create_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.create_languages"
      end
      # verify the required parameter 'languages' is set
      if @api_client.config.client_side_validation && languages.nil?
        fail ArgumentError, "Missing the required parameter 'languages' when calling LanguagesApi.create_languages"
      end
      # resource path
      local_var_path = '/languages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(languages)

      # return_type
      return_type = opts[:debug_return_type] || 'LanguagesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.create_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#create_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Languages
    # Deletes an Languages
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_languages(vbasoftware_database, language_id, opts = {})
      delete_languages_with_http_info(vbasoftware_database, language_id, opts)
      nil
    end

    # Delete Languages
    # Deletes an Languages
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_languages_with_http_info(vbasoftware_database, language_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.delete_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.delete_languages"
      end
      # verify the required parameter 'language_id' is set
      if @api_client.config.client_side_validation && language_id.nil?
        fail ArgumentError, "Missing the required parameter 'language_id' when calling LanguagesApi.delete_languages"
      end
      # resource path
      local_var_path = '/languages/{languageID}'.sub('{' + 'languageID' + '}', CGI.escape(language_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.delete_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#delete_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Languages
    # Gets Languages
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param [Hash] opts the optional parameters
    # @return [LanguagesVBAResponse]
    def get_languages(vbasoftware_database, language_id, opts = {})
      data, _status_code, _headers = get_languages_with_http_info(vbasoftware_database, language_id, opts)
      data
    end

    # Get Languages
    # Gets Languages
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(LanguagesVBAResponse, Integer, Hash)>] LanguagesVBAResponse data, response status code and response headers
    def get_languages_with_http_info(vbasoftware_database, language_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.get_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.get_languages"
      end
      # verify the required parameter 'language_id' is set
      if @api_client.config.client_side_validation && language_id.nil?
        fail ArgumentError, "Missing the required parameter 'language_id' when calling LanguagesApi.get_languages"
      end
      # resource path
      local_var_path = '/languages/{languageID}'.sub('{' + 'languageID' + '}', CGI.escape(language_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LanguagesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.get_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#get_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Languages
    # Lists all Languages
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [LanguagesListVBAResponse]
    def list_languages(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_languages_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Languages
    # Lists all Languages
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(LanguagesListVBAResponse, Integer, Hash)>] LanguagesListVBAResponse data, response status code and response headers
    def list_languages_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.list_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.list_languages"
      end
      # resource path
      local_var_path = '/languages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LanguagesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.list_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#list_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Languages
    # Create or Update multiple Languages at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param languages [Array<Languages>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_languages(vbasoftware_database, languages, opts = {})
      data, _status_code, _headers = update_batch_languages_with_http_info(vbasoftware_database, languages, opts)
      data
    end

    # Create or Update Batch Languages
    # Create or Update multiple Languages at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param languages [Array<Languages>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_languages_with_http_info(vbasoftware_database, languages, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.update_batch_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.update_batch_languages"
      end
      # verify the required parameter 'languages' is set
      if @api_client.config.client_side_validation && languages.nil?
        fail ArgumentError, "Missing the required parameter 'languages' when calling LanguagesApi.update_batch_languages"
      end
      # resource path
      local_var_path = '/languages-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(languages)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.update_batch_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#update_batch_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Languages
    # Updates a specific Languages.
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param languages [Languages] 
    # @param [Hash] opts the optional parameters
    # @return [LanguagesVBAResponse]
    def update_languages(vbasoftware_database, language_id, languages, opts = {})
      data, _status_code, _headers = update_languages_with_http_info(vbasoftware_database, language_id, languages, opts)
      data
    end

    # Update Languages
    # Updates a specific Languages.
    # @param vbasoftware_database [String] Target database
    # @param language_id [String] Language ID
    # @param languages [Languages] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LanguagesVBAResponse, Integer, Hash)>] LanguagesVBAResponse data, response status code and response headers
    def update_languages_with_http_info(vbasoftware_database, language_id, languages, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LanguagesApi.update_languages ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling LanguagesApi.update_languages"
      end
      # verify the required parameter 'language_id' is set
      if @api_client.config.client_side_validation && language_id.nil?
        fail ArgumentError, "Missing the required parameter 'language_id' when calling LanguagesApi.update_languages"
      end
      # verify the required parameter 'languages' is set
      if @api_client.config.client_side_validation && languages.nil?
        fail ArgumentError, "Missing the required parameter 'languages' when calling LanguagesApi.update_languages"
      end
      # resource path
      local_var_path = '/languages/{languageID}'.sub('{' + 'languageID' + '}', CGI.escape(language_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(languages)

      # return_type
      return_type = opts[:debug_return_type] || 'LanguagesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LanguagesApi.update_languages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LanguagesApi#update_languages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
