=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MaritalStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MaritalStatus
    # Creates a new MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [MaritalStatus] 
    # @param [Hash] opts the optional parameters
    # @return [MaritalStatusVBAResponse]
    def create_marital_status(vbasoftware_database, marital_status, opts = {})
      data, _status_code, _headers = create_marital_status_with_http_info(vbasoftware_database, marital_status, opts)
      data
    end

    # Create MaritalStatus
    # Creates a new MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [MaritalStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaritalStatusVBAResponse, Integer, Hash)>] MaritalStatusVBAResponse data, response status code and response headers
    def create_marital_status_with_http_info(vbasoftware_database, marital_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.create_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.create_marital_status"
      end
      # verify the required parameter 'marital_status' is set
      if @api_client.config.client_side_validation && marital_status.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status' when calling MaritalStatusesApi.create_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marital_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MaritalStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.create_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#create_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MaritalStatus
    # Deletes an MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_marital_status(vbasoftware_database, marital_status, opts = {})
      delete_marital_status_with_http_info(vbasoftware_database, marital_status, opts)
      nil
    end

    # Delete MaritalStatus
    # Deletes an MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_marital_status_with_http_info(vbasoftware_database, marital_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.delete_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.delete_marital_status"
      end
      # verify the required parameter 'marital_status' is set
      if @api_client.config.client_side_validation && marital_status.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status' when calling MaritalStatusesApi.delete_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses/{maritalStatus}'.sub('{' + 'maritalStatus' + '}', CGI.escape(marital_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.delete_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#delete_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MaritalStatus
    # Gets MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param [Hash] opts the optional parameters
    # @return [MaritalStatusVBAResponse]
    def get_marital_status(vbasoftware_database, marital_status, opts = {})
      data, _status_code, _headers = get_marital_status_with_http_info(vbasoftware_database, marital_status, opts)
      data
    end

    # Get MaritalStatus
    # Gets MaritalStatus
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaritalStatusVBAResponse, Integer, Hash)>] MaritalStatusVBAResponse data, response status code and response headers
    def get_marital_status_with_http_info(vbasoftware_database, marital_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.get_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.get_marital_status"
      end
      # verify the required parameter 'marital_status' is set
      if @api_client.config.client_side_validation && marital_status.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status' when calling MaritalStatusesApi.get_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses/{maritalStatus}'.sub('{' + 'maritalStatus' + '}', CGI.escape(marital_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MaritalStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.get_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#get_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MaritalStatus
    # Lists all MaritalStatus 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [MaritalStatusListVBAResponse]
    def list_marital_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_marital_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List MaritalStatus
    # Lists all MaritalStatus 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaritalStatusListVBAResponse, Integer, Hash)>] MaritalStatusListVBAResponse data, response status code and response headers
    def list_marital_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.list_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.list_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MaritalStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.list_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#list_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MaritalStatus
    # Create or Update multiple MaritalStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param marital_status [Array<MaritalStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_marital_status(vbasoftware_database, marital_status, opts = {})
      data, _status_code, _headers = update_batch_marital_status_with_http_info(vbasoftware_database, marital_status, opts)
      data
    end

    # Create or Update Batch MaritalStatus
    # Create or Update multiple MaritalStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param marital_status [Array<MaritalStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_marital_status_with_http_info(vbasoftware_database, marital_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.update_batch_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.update_batch_marital_status"
      end
      # verify the required parameter 'marital_status' is set
      if @api_client.config.client_side_validation && marital_status.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status' when calling MaritalStatusesApi.update_batch_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marital_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.update_batch_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#update_batch_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MaritalStatus
    # Updates a specific MaritalStatus.
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param marital_status2 [MaritalStatus] 
    # @param [Hash] opts the optional parameters
    # @return [MaritalStatusVBAResponse]
    def update_marital_status(vbasoftware_database, marital_status, marital_status2, opts = {})
      data, _status_code, _headers = update_marital_status_with_http_info(vbasoftware_database, marital_status, marital_status2, opts)
      data
    end

    # Update MaritalStatus
    # Updates a specific MaritalStatus.
    # @param vbasoftware_database [String] Target database
    # @param marital_status [String] Marital Status
    # @param marital_status2 [MaritalStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaritalStatusVBAResponse, Integer, Hash)>] MaritalStatusVBAResponse data, response status code and response headers
    def update_marital_status_with_http_info(vbasoftware_database, marital_status, marital_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaritalStatusesApi.update_marital_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MaritalStatusesApi.update_marital_status"
      end
      # verify the required parameter 'marital_status' is set
      if @api_client.config.client_side_validation && marital_status.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status' when calling MaritalStatusesApi.update_marital_status"
      end
      # verify the required parameter 'marital_status2' is set
      if @api_client.config.client_side_validation && marital_status2.nil?
        fail ArgumentError, "Missing the required parameter 'marital_status2' when calling MaritalStatusesApi.update_marital_status"
      end
      # resource path
      local_var_path = '/marital-statuses/{maritalStatus}'.sub('{' + 'maritalStatus' + '}', CGI.escape(marital_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marital_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'MaritalStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MaritalStatusesApi.update_marital_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaritalStatusesApi#update_marital_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
