=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberPreExistingDiagnosticCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberPreExDiag
    # Creates a new MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_pre_ex_diag [MemberPreExDiag] 
    # @param [Hash] opts the optional parameters
    # @return [MemberPreExDiagVBAResponse]
    def create_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts = {})
      data, _status_code, _headers = create_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts)
      data
    end

    # Create MemberPreExDiag
    # Creates a new MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_pre_ex_diag [MemberPreExDiag] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPreExDiagVBAResponse, Integer, Hash)>] MemberPreExDiagVBAResponse data, response status code and response headers
    def create_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag"
      end
      # verify the required parameter 'member_pre_ex_diag' is set
      if @api_client.config.client_side_validation && member_pre_ex_diag.nil?
        fail ArgumentError, "Missing the required parameter 'member_pre_ex_diag' when calling MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_pre_ex_diag)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPreExDiagVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.create_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#create_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberPreExDiag
    # Deletes an MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts = {})
      delete_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts)
      nil
    end

    # Delete MemberPreExDiag
    # Deletes an MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag"
      end
      # verify the required parameter 'from_diag' is set
      if @api_client.config.client_side_validation && from_diag.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag' when calling MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes/{diagnosticCodeType}/{fromDiag}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiag' + '}', CGI.escape(from_diag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.delete_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#delete_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberPreExDiag
    # Gets MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param [Hash] opts the optional parameters
    # @return [MemberPreExDiagVBAResponse]
    def get_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts = {})
      data, _status_code, _headers = get_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts)
      data
    end

    # Get MemberPreExDiag
    # Gets MemberPreExDiag
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPreExDiagVBAResponse, Integer, Hash)>] MemberPreExDiagVBAResponse data, response status code and response headers
    def get_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag"
      end
      # verify the required parameter 'from_diag' is set
      if @api_client.config.client_side_validation && from_diag.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag' when calling MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes/{diagnosticCodeType}/{fromDiag}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiag' + '}', CGI.escape(from_diag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPreExDiagVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.get_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#get_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberPreExDiag
    # Lists all MemberPreExDiag for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberPreExDiagListVBAResponse]
    def list_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberPreExDiag
    # Lists all MemberPreExDiag for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberPreExDiagListVBAResponse, Integer, Hash)>] MemberPreExDiagListVBAResponse data, response status code and response headers
    def list_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.list_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.list_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.list_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.list_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPreExDiagListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.list_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#list_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberPreExDiag
    # Create or Update multiple MemberPreExDiag at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_pre_ex_diag [Array<MemberPreExDiag>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts = {})
      data, _status_code, _headers = update_batch_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts)
      data
    end

    # Create or Update Batch MemberPreExDiag
    # Create or Update multiple MemberPreExDiag at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_pre_ex_diag [Array<MemberPreExDiag>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_pre_ex_diag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag"
      end
      # verify the required parameter 'member_pre_ex_diag' is set
      if @api_client.config.client_side_validation && member_pre_ex_diag.nil?
        fail ArgumentError, "Missing the required parameter 'member_pre_ex_diag' when calling MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_pre_ex_diag)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.update_batch_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#update_batch_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberPreExDiag
    # Updates a specific MemberPreExDiag.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param member_pre_ex_diag [MemberPreExDiag] 
    # @param [Hash] opts the optional parameters
    # @return [MemberPreExDiagVBAResponse]
    def update_member_pre_ex_diag(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, member_pre_ex_diag, opts = {})
      data, _status_code, _headers = update_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, member_pre_ex_diag, opts)
      data
    end

    # Update MemberPreExDiag
    # Updates a specific MemberPreExDiag.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param from_diag [String] From Diag
    # @param member_pre_ex_diag [MemberPreExDiag] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPreExDiagVBAResponse, Integer, Hash)>] MemberPreExDiagVBAResponse data, response status code and response headers
    def update_member_pre_ex_diag_with_http_info(vbasoftware_database, subscriber_id, member_seq, diagnostic_code_type, from_diag, member_pre_ex_diag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # verify the required parameter 'from_diag' is set
      if @api_client.config.client_side_validation && from_diag.nil?
        fail ArgumentError, "Missing the required parameter 'from_diag' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # verify the required parameter 'member_pre_ex_diag' is set
      if @api_client.config.client_side_validation && member_pre_ex_diag.nil?
        fail ArgumentError, "Missing the required parameter 'member_pre_ex_diag' when calling MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/pre-exisiting-diagnostic-codes/{diagnosticCodeType}/{fromDiag}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'fromDiag' + '}', CGI.escape(from_diag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_pre_ex_diag)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPreExDiagVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPreExistingDiagnosticCodesApi.update_member_pre_ex_diag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPreExistingDiagnosticCodesApi#update_member_pre_ex_diag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
