=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberToothExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberToothExCode
    # Creates a new MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_ex_code [MemberToothExCode] 
    # @param [Hash] opts the optional parameters
    # @return [MemberToothExCodeVBAResponse]
    def create_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts = {})
      data, _status_code, _headers = create_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts)
      data
    end

    # Create MemberToothExCode
    # Creates a new MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_ex_code [MemberToothExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothExCodeVBAResponse, Integer, Hash)>] MemberToothExCodeVBAResponse data, response status code and response headers
    def create_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.create_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.create_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.create_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.create_member_tooth_ex_code"
      end
      # verify the required parameter 'member_tooth_ex_code' is set
      if @api_client.config.client_side_validation && member_tooth_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_ex_code' when calling MemberToothExCodesApi.create_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.create_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#create_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberToothExCode
    # Deletes an MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts = {})
      delete_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts)
      nil
    end

    # Delete MemberToothExCode
    # Deletes an MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.delete_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.delete_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.delete_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.delete_member_tooth_ex_code"
      end
      # verify the required parameter 'tooth_number' is set
      if @api_client.config.client_side_validation && tooth_number.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_number' when calling MemberToothExCodesApi.delete_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes/{toothNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'toothNumber' + '}', CGI.escape(tooth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.delete_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#delete_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberToothExCode
    # Gets MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [MemberToothExCodeVBAResponse]
    def get_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts = {})
      data, _status_code, _headers = get_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts)
      data
    end

    # Get MemberToothExCode
    # Gets MemberToothExCode
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothExCodeVBAResponse, Integer, Hash)>] MemberToothExCodeVBAResponse data, response status code and response headers
    def get_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.get_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.get_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.get_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.get_member_tooth_ex_code"
      end
      # verify the required parameter 'tooth_number' is set
      if @api_client.config.client_side_validation && tooth_number.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_number' when calling MemberToothExCodesApi.get_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes/{toothNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'toothNumber' + '}', CGI.escape(tooth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.get_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#get_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberToothExCode
    # Lists all MemberToothExCode for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberToothExCodeListVBAResponse]
    def list_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberToothExCode
    # Lists all MemberToothExCode for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberToothExCodeListVBAResponse, Integer, Hash)>] MemberToothExCodeListVBAResponse data, response status code and response headers
    def list_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.list_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.list_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.list_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.list_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothExCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.list_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#list_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberToothExCode
    # Create or Update multiple MemberToothExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_ex_code [Array<MemberToothExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts = {})
      data, _status_code, _headers = update_batch_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts)
      data
    end

    # Create or Update Batch MemberToothExCode
    # Create or Update multiple MemberToothExCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_ex_code [Array<MemberToothExCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.update_batch_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.update_batch_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.update_batch_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.update_batch_member_tooth_ex_code"
      end
      # verify the required parameter 'member_tooth_ex_code' is set
      if @api_client.config.client_side_validation && member_tooth_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_ex_code' when calling MemberToothExCodesApi.update_batch_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.update_batch_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#update_batch_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberToothExCode
    # Updates a specific MemberToothExCode.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param member_tooth_ex_code [MemberToothExCode] 
    # @param [Hash] opts the optional parameters
    # @return [MemberToothExCodeVBAResponse]
    def update_member_tooth_ex_code(vbasoftware_database, subscriber_id, member_seq, tooth_number, member_tooth_ex_code, opts = {})
      data, _status_code, _headers = update_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, member_tooth_ex_code, opts)
      data
    end

    # Update MemberToothExCode
    # Updates a specific MemberToothExCode.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param tooth_number [Integer] Tooth Number
    # @param member_tooth_ex_code [MemberToothExCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothExCodeVBAResponse, Integer, Hash)>] MemberToothExCodeVBAResponse data, response status code and response headers
    def update_member_tooth_ex_code_with_http_info(vbasoftware_database, subscriber_id, member_seq, tooth_number, member_tooth_ex_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothExCodesApi.update_member_tooth_ex_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothExCodesApi.update_member_tooth_ex_code"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothExCodesApi.update_member_tooth_ex_code"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothExCodesApi.update_member_tooth_ex_code"
      end
      # verify the required parameter 'tooth_number' is set
      if @api_client.config.client_side_validation && tooth_number.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_number' when calling MemberToothExCodesApi.update_member_tooth_ex_code"
      end
      # verify the required parameter 'member_tooth_ex_code' is set
      if @api_client.config.client_side_validation && member_tooth_ex_code.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_ex_code' when calling MemberToothExCodesApi.update_member_tooth_ex_code"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-ex-codes/{toothNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'toothNumber' + '}', CGI.escape(tooth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth_ex_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothExCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothExCodesApi.update_member_tooth_ex_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothExCodesApi#update_member_tooth_ex_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
