=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberOccupationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberOccupation
    # Creates a new MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_occupation [MemberOccupation] 
    # @param [Hash] opts the optional parameters
    # @return [MemberOccupationVBAResponse]
    def create_member_occupation(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts = {})
      data, _status_code, _headers = create_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts)
      data
    end

    # Create MemberOccupation
    # Creates a new MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_occupation [MemberOccupation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberOccupationVBAResponse, Integer, Hash)>] MemberOccupationVBAResponse data, response status code and response headers
    def create_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.create_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.create_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.create_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.create_member_occupation"
      end
      # verify the required parameter 'member_occupation' is set
      if @api_client.config.client_side_validation && member_occupation.nil?
        fail ArgumentError, "Missing the required parameter 'member_occupation' when calling MemberOccupationsApi.create_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_occupation)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberOccupationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.create_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#create_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberOccupation
    # Deletes an MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_occupation(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts = {})
      delete_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts)
      nil
    end

    # Delete MemberOccupation
    # Deletes an MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.delete_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.delete_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.delete_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.delete_member_occupation"
      end
      # verify the required parameter 'occupation_id' is set
      if @api_client.config.client_side_validation && occupation_id.nil?
        fail ArgumentError, "Missing the required parameter 'occupation_id' when calling MemberOccupationsApi.delete_member_occupation"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling MemberOccupationsApi.delete_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations/{occupationID}/{effectiveDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'occupationID' + '}', CGI.escape(occupation_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.delete_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#delete_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberOccupation
    # Gets MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [MemberOccupationVBAResponse]
    def get_member_occupation(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts = {})
      data, _status_code, _headers = get_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts)
      data
    end

    # Get MemberOccupation
    # Gets MemberOccupation
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberOccupationVBAResponse, Integer, Hash)>] MemberOccupationVBAResponse data, response status code and response headers
    def get_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.get_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.get_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.get_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.get_member_occupation"
      end
      # verify the required parameter 'occupation_id' is set
      if @api_client.config.client_side_validation && occupation_id.nil?
        fail ArgumentError, "Missing the required parameter 'occupation_id' when calling MemberOccupationsApi.get_member_occupation"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling MemberOccupationsApi.get_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations/{occupationID}/{effectiveDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'occupationID' + '}', CGI.escape(occupation_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberOccupationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.get_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#get_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberOccupation
    # Lists all MemberOccupation for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberOccupationListVBAResponse]
    def list_member_occupation(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberOccupation
    # Lists all MemberOccupation for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberOccupationListVBAResponse, Integer, Hash)>] MemberOccupationListVBAResponse data, response status code and response headers
    def list_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.list_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.list_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.list_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.list_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberOccupationListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.list_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#list_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberOccupation
    # Create or Update multiple MemberOccupation at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_occupation [Array<MemberOccupation>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_occupation(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts = {})
      data, _status_code, _headers = update_batch_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts)
      data
    end

    # Create or Update Batch MemberOccupation
    # Create or Update multiple MemberOccupation at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_occupation [Array<MemberOccupation>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_occupation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.update_batch_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.update_batch_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.update_batch_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.update_batch_member_occupation"
      end
      # verify the required parameter 'member_occupation' is set
      if @api_client.config.client_side_validation && member_occupation.nil?
        fail ArgumentError, "Missing the required parameter 'member_occupation' when calling MemberOccupationsApi.update_batch_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_occupation)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.update_batch_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#update_batch_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberOccupation
    # Updates a specific MemberOccupation.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param member_occupation [MemberOccupation] 
    # @param [Hash] opts the optional parameters
    # @return [MemberOccupationVBAResponse]
    def update_member_occupation(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, member_occupation, opts = {})
      data, _status_code, _headers = update_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, member_occupation, opts)
      data
    end

    # Update MemberOccupation
    # Updates a specific MemberOccupation.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param occupation_id [String] Occupation ID
    # @param effective_date [Time] Effective Date
    # @param member_occupation [MemberOccupation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberOccupationVBAResponse, Integer, Hash)>] MemberOccupationVBAResponse data, response status code and response headers
    def update_member_occupation_with_http_info(vbasoftware_database, subscriber_id, member_seq, occupation_id, effective_date, member_occupation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberOccupationsApi.update_member_occupation ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberOccupationsApi.update_member_occupation"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberOccupationsApi.update_member_occupation"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberOccupationsApi.update_member_occupation"
      end
      # verify the required parameter 'occupation_id' is set
      if @api_client.config.client_side_validation && occupation_id.nil?
        fail ArgumentError, "Missing the required parameter 'occupation_id' when calling MemberOccupationsApi.update_member_occupation"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling MemberOccupationsApi.update_member_occupation"
      end
      # verify the required parameter 'member_occupation' is set
      if @api_client.config.client_side_validation && member_occupation.nil?
        fail ArgumentError, "Missing the required parameter 'member_occupation' when calling MemberOccupationsApi.update_member_occupation"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/occupations/{occupationID}/{effectiveDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'occupationID' + '}', CGI.escape(occupation_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_occupation)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberOccupationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberOccupationsApi.update_member_occupation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberOccupationsApi#update_member_occupation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
