=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberBeneficiaryPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberBeneficiaryPlan
    # Creates a new MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param member_beneficiary_plan [MemberBeneficiaryPlan] 
    # @param [Hash] opts the optional parameters
    # @return [MemberBeneficiaryPlanVBAResponse]
    def create_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts = {})
      data, _status_code, _headers = create_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts)
      data
    end

    # Create MemberBeneficiaryPlan
    # Creates a new MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param member_beneficiary_plan [MemberBeneficiaryPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberBeneficiaryPlanVBAResponse, Integer, Hash)>] MemberBeneficiaryPlanVBAResponse data, response status code and response headers
    def create_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.create_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.create_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.create_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.create_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.create_member_beneficiary_plan"
      end
      # verify the required parameter 'member_beneficiary_plan' is set
      if @api_client.config.client_side_validation && member_beneficiary_plan.nil?
        fail ArgumentError, "Missing the required parameter 'member_beneficiary_plan' when calling MemberBeneficiaryPlansApi.create_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_beneficiary_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberBeneficiaryPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.create_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#create_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberBeneficiaryPlan
    # Deletes an MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts = {})
      delete_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts)
      nil
    end

    # Delete MemberBeneficiaryPlan
    # Deletes an MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.delete_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.delete_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.delete_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.delete_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.delete_member_beneficiary_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberBeneficiaryPlansApi.delete_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans/{planID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.delete_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#delete_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberBeneficiaryPlan
    # Gets MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [MemberBeneficiaryPlanVBAResponse]
    def get_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts = {})
      data, _status_code, _headers = get_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts)
      data
    end

    # Get MemberBeneficiaryPlan
    # Gets MemberBeneficiaryPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberBeneficiaryPlanVBAResponse, Integer, Hash)>] MemberBeneficiaryPlanVBAResponse data, response status code and response headers
    def get_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.get_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.get_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.get_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.get_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.get_member_beneficiary_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberBeneficiaryPlansApi.get_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans/{planID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberBeneficiaryPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.get_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#get_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberBeneficiaryPlan
    # Lists all MemberBeneficiaryPlan for the given subscriberID and memberSeq and beneficiaryID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberBeneficiaryPlanListVBAResponse]
    def list_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, opts = {})
      data, _status_code, _headers = list_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, opts)
      data
    end

    # List MemberBeneficiaryPlan
    # Lists all MemberBeneficiaryPlan for the given subscriberID and memberSeq and beneficiaryID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberBeneficiaryPlanListVBAResponse, Integer, Hash)>] MemberBeneficiaryPlanListVBAResponse data, response status code and response headers
    def list_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.list_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.list_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.list_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.list_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.list_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberBeneficiaryPlanListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.list_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#list_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberBeneficiaryPlan
    # Create or Update multiple MemberBeneficiaryPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param member_beneficiary_plan [Array<MemberBeneficiaryPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts = {})
      data, _status_code, _headers = update_batch_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts)
      data
    end

    # Create or Update Batch MemberBeneficiaryPlan
    # Create or Update multiple MemberBeneficiaryPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param member_beneficiary_plan [Array<MemberBeneficiaryPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, member_beneficiary_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan"
      end
      # verify the required parameter 'member_beneficiary_plan' is set
      if @api_client.config.client_side_validation && member_beneficiary_plan.nil?
        fail ArgumentError, "Missing the required parameter 'member_beneficiary_plan' when calling MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_beneficiary_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.update_batch_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#update_batch_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberBeneficiaryPlan
    # Updates a specific MemberBeneficiaryPlan.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param member_beneficiary_plan [MemberBeneficiaryPlan] 
    # @param [Hash] opts the optional parameters
    # @return [MemberBeneficiaryPlanVBAResponse]
    def update_member_beneficiary_plan(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, member_beneficiary_plan, opts = {})
      data, _status_code, _headers = update_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, member_beneficiary_plan, opts)
      data
    end

    # Update MemberBeneficiaryPlan
    # Updates a specific MemberBeneficiaryPlan.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param beneficiary_id [String] Beneficiary ID
    # @param plan_id [String] Plan ID
    # @param member_beneficiary_plan [MemberBeneficiaryPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberBeneficiaryPlanVBAResponse, Integer, Hash)>] MemberBeneficiaryPlanVBAResponse data, response status code and response headers
    def update_member_beneficiary_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, beneficiary_id, plan_id, member_beneficiary_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberBeneficiaryPlansApi.update_member_beneficiary_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # verify the required parameter 'beneficiary_id' is set
      if @api_client.config.client_side_validation && beneficiary_id.nil?
        fail ArgumentError, "Missing the required parameter 'beneficiary_id' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # verify the required parameter 'member_beneficiary_plan' is set
      if @api_client.config.client_side_validation && member_beneficiary_plan.nil?
        fail ArgumentError, "Missing the required parameter 'member_beneficiary_plan' when calling MemberBeneficiaryPlansApi.update_member_beneficiary_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/beneficiaries/{beneficiaryID}/plans/{planID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'beneficiaryID' + '}', CGI.escape(beneficiary_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_beneficiary_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberBeneficiaryPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberBeneficiaryPlansApi.update_member_beneficiary_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberBeneficiaryPlansApi#update_member_beneficiary_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
