=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberInsuranceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberInsurance
    # Creates a new MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_insurance [MemberInsurance] 
    # @param [Hash] opts the optional parameters
    # @return [MemberInsuranceVBAResponse]
    def create_member_insurance(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts = {})
      data, _status_code, _headers = create_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts)
      data
    end

    # Create MemberInsurance
    # Creates a new MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_insurance [MemberInsurance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberInsuranceVBAResponse, Integer, Hash)>] MemberInsuranceVBAResponse data, response status code and response headers
    def create_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.create_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.create_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.create_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.create_member_insurance"
      end
      # verify the required parameter 'member_insurance' is set
      if @api_client.config.client_side_validation && member_insurance.nil?
        fail ArgumentError, "Missing the required parameter 'member_insurance' when calling MemberInsuranceApi.create_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_insurance)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberInsuranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.create_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#create_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberInsurance
    # Deletes an MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_insurance(vbasoftware_database, subscriber_id, member_seq, seq_number, opts = {})
      delete_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, opts)
      nil
    end

    # Delete MemberInsurance
    # Deletes an MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.delete_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.delete_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.delete_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.delete_member_insurance"
      end
      # verify the required parameter 'seq_number' is set
      if @api_client.config.client_side_validation && seq_number.nil?
        fail ArgumentError, "Missing the required parameter 'seq_number' when calling MemberInsuranceApi.delete_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances/{seqNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'seqNumber' + '}', CGI.escape(seq_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.delete_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#delete_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberInsurance
    # Gets MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param [Hash] opts the optional parameters
    # @return [MemberInsuranceVBAResponse]
    def get_member_insurance(vbasoftware_database, subscriber_id, member_seq, seq_number, opts = {})
      data, _status_code, _headers = get_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, opts)
      data
    end

    # Get MemberInsurance
    # Gets MemberInsurance
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberInsuranceVBAResponse, Integer, Hash)>] MemberInsuranceVBAResponse data, response status code and response headers
    def get_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.get_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.get_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.get_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.get_member_insurance"
      end
      # verify the required parameter 'seq_number' is set
      if @api_client.config.client_side_validation && seq_number.nil?
        fail ArgumentError, "Missing the required parameter 'seq_number' when calling MemberInsuranceApi.get_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances/{seqNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'seqNumber' + '}', CGI.escape(seq_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberInsuranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.get_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#get_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberInsurance
    # Lists all MemberInsurance for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberInsuranceListVBAResponse]
    def list_member_insurance(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberInsurance
    # Lists all MemberInsurance for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberInsuranceListVBAResponse, Integer, Hash)>] MemberInsuranceListVBAResponse data, response status code and response headers
    def list_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.list_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.list_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.list_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.list_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberInsuranceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.list_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#list_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberInsurance
    # Create or Update multiple MemberInsurance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_insurance [Array<MemberInsurance>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_insurance(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts = {})
      data, _status_code, _headers = update_batch_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts)
      data
    end

    # Create or Update Batch MemberInsurance
    # Create or Update multiple MemberInsurance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_insurance [Array<MemberInsurance>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_insurance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.update_batch_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.update_batch_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.update_batch_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.update_batch_member_insurance"
      end
      # verify the required parameter 'member_insurance' is set
      if @api_client.config.client_side_validation && member_insurance.nil?
        fail ArgumentError, "Missing the required parameter 'member_insurance' when calling MemberInsuranceApi.update_batch_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_insurance)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.update_batch_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#update_batch_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberInsurance
    # Updates a specific MemberInsurance.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param member_insurance [MemberInsurance] 
    # @param [Hash] opts the optional parameters
    # @return [MemberInsuranceVBAResponse]
    def update_member_insurance(vbasoftware_database, subscriber_id, member_seq, seq_number, member_insurance, opts = {})
      data, _status_code, _headers = update_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, member_insurance, opts)
      data
    end

    # Update MemberInsurance
    # Updates a specific MemberInsurance.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param seq_number [Integer] Seq Number
    # @param member_insurance [MemberInsurance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberInsuranceVBAResponse, Integer, Hash)>] MemberInsuranceVBAResponse data, response status code and response headers
    def update_member_insurance_with_http_info(vbasoftware_database, subscriber_id, member_seq, seq_number, member_insurance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberInsuranceApi.update_member_insurance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberInsuranceApi.update_member_insurance"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberInsuranceApi.update_member_insurance"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberInsuranceApi.update_member_insurance"
      end
      # verify the required parameter 'seq_number' is set
      if @api_client.config.client_side_validation && seq_number.nil?
        fail ArgumentError, "Missing the required parameter 'seq_number' when calling MemberInsuranceApi.update_member_insurance"
      end
      # verify the required parameter 'member_insurance' is set
      if @api_client.config.client_side_validation && member_insurance.nil?
        fail ArgumentError, "Missing the required parameter 'member_insurance' when calling MemberInsuranceApi.update_member_insurance"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/insurances/{seqNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'seqNumber' + '}', CGI.escape(seq_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_insurance)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberInsuranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberInsuranceApi.update_member_insurance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberInsuranceApi#update_member_insurance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
