=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberEnrollmentPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemEnrollmentPlan
    # Creates a new MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param mem_enrollment_plan [MemEnrollmentPlan] 
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentPlanVBAResponse]
    def create_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts = {})
      data, _status_code, _headers = create_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts)
      data
    end

    # Create MemEnrollmentPlan
    # Creates a new MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param mem_enrollment_plan [MemEnrollmentPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentPlanVBAResponse, Integer, Hash)>] MemEnrollmentPlanVBAResponse data, response status code and response headers
    def create_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.create_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # verify the required parameter 'mem_enrollment_plan' is set
      if @api_client.config.client_side_validation && mem_enrollment_plan.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_plan' when calling MemberEnrollmentPlansApi.create_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.create_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#create_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemEnrollmentPlan
    # Deletes an MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      delete_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts)
      nil
    end

    # Delete MemEnrollmentPlan
    # Deletes an MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.delete_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlansApi.delete_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.delete_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#delete_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemEnrollmentPlan
    # Gets MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentPlanVBAResponse]
    def get_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      data, _status_code, _headers = get_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts)
      data
    end

    # Get MemEnrollmentPlan
    # Gets MemEnrollmentPlan
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentPlanVBAResponse, Integer, Hash)>] MemEnrollmentPlanVBAResponse data, response status code and response headers
    def get_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.get_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlansApi.get_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.get_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#get_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemEnrollmentPlan
    # Lists all MemEnrollmentPlan for the given subscriberID and memberSeq and groupID and divisionID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemEnrollmentPlanListVBAResponse]
    def list_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, opts = {})
      data, _status_code, _headers = list_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, opts)
      data
    end

    # List MemEnrollmentPlan
    # Lists all MemEnrollmentPlan for the given subscriberID and memberSeq and groupID and divisionID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemEnrollmentPlanListVBAResponse, Integer, Hash)>] MemEnrollmentPlanListVBAResponse data, response status code and response headers
    def list_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.list_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.list_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.list_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.list_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.list_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.list_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentPlanListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.list_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#list_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemEnrollmentPlan
    # Create or Update multiple MemEnrollmentPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param mem_enrollment_plan [Array<MemEnrollmentPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts = {})
      data, _status_code, _headers = update_batch_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts)
      data
    end

    # Create or Update Batch MemEnrollmentPlan
    # Create or Update multiple MemEnrollmentPlan at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param mem_enrollment_plan [Array<MemEnrollmentPlan>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, mem_enrollment_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # verify the required parameter 'mem_enrollment_plan' is set
      if @api_client.config.client_side_validation && mem_enrollment_plan.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_plan' when calling MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.update_batch_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#update_batch_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemEnrollmentPlan
    # Updates a specific MemEnrollmentPlan.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_plan [MemEnrollmentPlan] 
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentPlanVBAResponse]
    def update_mem_enrollment_plan(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_plan, opts = {})
      data, _status_code, _headers = update_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_plan, opts)
      data
    end

    # Update MemEnrollmentPlan
    # Updates a specific MemEnrollmentPlan.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_plan [MemEnrollmentPlan] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentPlanVBAResponse, Integer, Hash)>] MemEnrollmentPlanVBAResponse data, response status code and response headers
    def update_mem_enrollment_plan_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlansApi.update_mem_enrollment_plan ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # verify the required parameter 'mem_enrollment_plan' is set
      if @api_client.config.client_side_validation && mem_enrollment_plan.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_plan' when calling MemberEnrollmentPlansApi.update_mem_enrollment_plan"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_plan)

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentPlanVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlansApi.update_mem_enrollment_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlansApi#update_mem_enrollment_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
