=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberPriorAccumulatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberPriorAccum
    # Creates a new MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_prior_accum [MemberPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [MemberPriorAccumVBAResponse]
    def create_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts = {})
      data, _status_code, _headers = create_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts)
      data
    end

    # Create MemberPriorAccum
    # Creates a new MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_prior_accum [MemberPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPriorAccumVBAResponse, Integer, Hash)>] MemberPriorAccumVBAResponse data, response status code and response headers
    def create_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.create_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.create_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.create_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.create_member_prior_accum"
      end
      # verify the required parameter 'member_prior_accum' is set
      if @api_client.config.client_side_validation && member_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'member_prior_accum' when calling MemberPriorAccumulatorsApi.create_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.create_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#create_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberPriorAccum
    # Deletes an MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts = {})
      delete_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts)
      nil
    end

    # Delete MemberPriorAccum
    # Deletes an MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.delete_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberPriorAccumulatorsApi.delete_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators/{groupID}/{divisionID}/{planYear}/{planType}/{benefitCode}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.delete_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#delete_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberPriorAccum
    # Gets MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [MemberPriorAccumVBAResponse]
    def get_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts = {})
      data, _status_code, _headers = get_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts)
      data
    end

    # Get MemberPriorAccum
    # Gets MemberPriorAccum
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPriorAccumVBAResponse, Integer, Hash)>] MemberPriorAccumVBAResponse data, response status code and response headers
    def get_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.get_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberPriorAccumulatorsApi.get_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators/{groupID}/{divisionID}/{planYear}/{planType}/{benefitCode}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.get_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#get_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberPriorAccum
    # Lists all MemberPriorAccum for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberPriorAccumListVBAResponse]
    def list_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberPriorAccum
    # Lists all MemberPriorAccum for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberPriorAccumListVBAResponse, Integer, Hash)>] MemberPriorAccumListVBAResponse data, response status code and response headers
    def list_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.list_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.list_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.list_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.list_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPriorAccumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.list_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#list_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberPriorAccum
    # Create or Update multiple MemberPriorAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_prior_accum [Array<MemberPriorAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts = {})
      data, _status_code, _headers = update_batch_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts)
      data
    end

    # Create or Update Batch MemberPriorAccum
    # Create or Update multiple MemberPriorAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_prior_accum [Array<MemberPriorAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.update_batch_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.update_batch_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.update_batch_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.update_batch_member_prior_accum"
      end
      # verify the required parameter 'member_prior_accum' is set
      if @api_client.config.client_side_validation && member_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'member_prior_accum' when calling MemberPriorAccumulatorsApi.update_batch_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.update_batch_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#update_batch_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberPriorAccum
    # Updates a specific MemberPriorAccum.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param member_prior_accum [MemberPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [MemberPriorAccumVBAResponse]
    def update_member_prior_accum(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, member_prior_accum, opts = {})
      data, _status_code, _headers = update_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, member_prior_accum, opts)
      data
    end

    # Update MemberPriorAccum
    # Updates a specific MemberPriorAccum.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param plan_year [String] Plan Year
    # @param plan_type [String] Plan Type
    # @param benefit_code [String] Benefit Code
    # @param member_prior_accum [MemberPriorAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberPriorAccumVBAResponse, Integer, Hash)>] MemberPriorAccumVBAResponse data, response status code and response headers
    def update_member_prior_accum_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, plan_year, plan_type, benefit_code, member_prior_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberPriorAccumulatorsApi.update_member_prior_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'plan_year' is set
      if @api_client.config.client_side_validation && plan_year.nil?
        fail ArgumentError, "Missing the required parameter 'plan_year' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # verify the required parameter 'member_prior_accum' is set
      if @api_client.config.client_side_validation && member_prior_accum.nil?
        fail ArgumentError, "Missing the required parameter 'member_prior_accum' when calling MemberPriorAccumulatorsApi.update_member_prior_accum"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/prior-accumulators/{groupID}/{divisionID}/{planYear}/{planType}/{benefitCode}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'planYear' + '}', CGI.escape(plan_year.to_s)).sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_prior_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberPriorAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberPriorAccumulatorsApi.update_member_prior_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberPriorAccumulatorsApi#update_member_prior_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
