=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberTaxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberTax
    # Creates a new MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax [MemberTax] 
    # @param [Hash] opts the optional parameters
    # @return [MemberTaxVBAResponse]
    def create_member_tax(vbasoftware_database, subscriber_id, member_seq, member_tax, opts = {})
      data, _status_code, _headers = create_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax, opts)
      data
    end

    # Create MemberTax
    # Creates a new MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax [MemberTax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberTaxVBAResponse, Integer, Hash)>] MemberTaxVBAResponse data, response status code and response headers
    def create_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.create_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.create_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.create_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.create_member_tax"
      end
      # verify the required parameter 'member_tax' is set
      if @api_client.config.client_side_validation && member_tax.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax' when calling MemberTaxesApi.create_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.create_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#create_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberTax
    # Deletes an MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_tax(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts = {})
      delete_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts)
      nil
    end

    # Delete MemberTax
    # Deletes an MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.delete_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.delete_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.delete_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.delete_member_tax"
      end
      # verify the required parameter 'member_tax_key' is set
      if @api_client.config.client_side_validation && member_tax_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax_key' when calling MemberTaxesApi.delete_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes/{memberTaxKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberTaxKey' + '}', CGI.escape(member_tax_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.delete_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#delete_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberTax
    # Gets MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param [Hash] opts the optional parameters
    # @return [MemberTaxVBAResponse]
    def get_member_tax(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts = {})
      data, _status_code, _headers = get_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts)
      data
    end

    # Get MemberTax
    # Gets MemberTax
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberTaxVBAResponse, Integer, Hash)>] MemberTaxVBAResponse data, response status code and response headers
    def get_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.get_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.get_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.get_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.get_member_tax"
      end
      # verify the required parameter 'member_tax_key' is set
      if @api_client.config.client_side_validation && member_tax_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax_key' when calling MemberTaxesApi.get_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes/{memberTaxKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberTaxKey' + '}', CGI.escape(member_tax_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.get_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#get_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberTax
    # Lists all MemberTax for the given subscriberID and memberSeq and memberTaxKey
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberTaxListVBAResponse]
    def list_member_tax(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberTax
    # Lists all MemberTax for the given subscriberID and memberSeq and memberTaxKey
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberTaxListVBAResponse, Integer, Hash)>] MemberTaxListVBAResponse data, response status code and response headers
    def list_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.list_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.list_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.list_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.list_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberTaxListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.list_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#list_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberTax
    # Create or Update multiple MemberTax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax [Array<MemberTax>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_tax(vbasoftware_database, subscriber_id, member_seq, member_tax, opts = {})
      data, _status_code, _headers = update_batch_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax, opts)
      data
    end

    # Create or Update Batch MemberTax
    # Create or Update multiple MemberTax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax [Array<MemberTax>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.update_batch_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.update_batch_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.update_batch_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.update_batch_member_tax"
      end
      # verify the required parameter 'member_tax' is set
      if @api_client.config.client_side_validation && member_tax.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax' when calling MemberTaxesApi.update_batch_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.update_batch_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#update_batch_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberTax
    # Updates a specific MemberTax.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param member_tax [MemberTax] 
    # @param [Hash] opts the optional parameters
    # @return [MemberTaxVBAResponse]
    def update_member_tax(vbasoftware_database, subscriber_id, member_seq, member_tax_key, member_tax, opts = {})
      data, _status_code, _headers = update_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, member_tax, opts)
      data
    end

    # Update MemberTax
    # Updates a specific MemberTax.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tax_key [Integer] MemberTax Key
    # @param member_tax [MemberTax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberTaxVBAResponse, Integer, Hash)>] MemberTaxVBAResponse data, response status code and response headers
    def update_member_tax_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tax_key, member_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberTaxesApi.update_member_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberTaxesApi.update_member_tax"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberTaxesApi.update_member_tax"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberTaxesApi.update_member_tax"
      end
      # verify the required parameter 'member_tax_key' is set
      if @api_client.config.client_side_validation && member_tax_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax_key' when calling MemberTaxesApi.update_member_tax"
      end
      # verify the required parameter 'member_tax' is set
      if @api_client.config.client_side_validation && member_tax.nil?
        fail ArgumentError, "Missing the required parameter 'member_tax' when calling MemberTaxesApi.update_member_tax"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/taxes/{memberTaxKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberTaxKey' + '}', CGI.escape(member_tax_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberTaxesApi.update_member_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberTaxesApi#update_member_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
