=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberCOBSavingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberCOBSavings
    # Creates a new MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings [MemberCOBSavings] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCOBSavingsVBAResponse]
    def create_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts = {})
      data, _status_code, _headers = create_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts)
      data
    end

    # Create MemberCOBSavings
    # Creates a new MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings [MemberCOBSavings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCOBSavingsVBAResponse, Integer, Hash)>] MemberCOBSavingsVBAResponse data, response status code and response headers
    def create_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.create_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.create_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.create_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.create_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings' is set
      if @api_client.config.client_side_validation && member_cob_savings.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings' when calling MemberCOBSavingsApi.create_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_cob_savings)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCOBSavingsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.create_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#create_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberCOBSavings
    # Deletes an MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts = {})
      delete_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts)
      nil
    end

    # Delete MemberCOBSavings
    # Deletes an MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.delete_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.delete_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.delete_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.delete_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings_key' is set
      if @api_client.config.client_side_validation && member_cob_savings_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings_key' when calling MemberCOBSavingsApi.delete_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings/{memberCOBSavingsKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCOBSavingsKey' + '}', CGI.escape(member_cob_savings_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.delete_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#delete_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberCOBSavings
    # Gets MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param [Hash] opts the optional parameters
    # @return [MemberCOBSavingsVBAResponse]
    def get_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts = {})
      data, _status_code, _headers = get_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts)
      data
    end

    # Get MemberCOBSavings
    # Gets MemberCOBSavings
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCOBSavingsVBAResponse, Integer, Hash)>] MemberCOBSavingsVBAResponse data, response status code and response headers
    def get_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.get_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.get_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.get_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.get_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings_key' is set
      if @api_client.config.client_side_validation && member_cob_savings_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings_key' when calling MemberCOBSavingsApi.get_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings/{memberCOBSavingsKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCOBSavingsKey' + '}', CGI.escape(member_cob_savings_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCOBSavingsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.get_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#get_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberCOBSavings
    # Lists all MemberCOBSavings for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberCOBSavingsListVBAResponse]
    def list_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberCOBSavings
    # Lists all MemberCOBSavings for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberCOBSavingsListVBAResponse, Integer, Hash)>] MemberCOBSavingsListVBAResponse data, response status code and response headers
    def list_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.list_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.list_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.list_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.list_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCOBSavingsListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.list_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#list_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberCOBSavings
    # Create or Update multiple MemberCOBSavings at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings [Array<MemberCOBSavings>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts = {})
      data, _status_code, _headers = update_batch_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts)
      data
    end

    # Create or Update Batch MemberCOBSavings
    # Create or Update multiple MemberCOBSavings at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings [Array<MemberCOBSavings>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.update_batch_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.update_batch_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.update_batch_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.update_batch_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings' is set
      if @api_client.config.client_side_validation && member_cob_savings.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings' when calling MemberCOBSavingsApi.update_batch_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_cob_savings)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.update_batch_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#update_batch_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberCOBSavings
    # Updates a specific MemberCOBSavings.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param member_cob_savings [MemberCOBSavings] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCOBSavingsVBAResponse]
    def update_member_cob_savings(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, member_cob_savings, opts = {})
      data, _status_code, _headers = update_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, member_cob_savings, opts)
      data
    end

    # Update MemberCOBSavings
    # Updates a specific MemberCOBSavings.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_cob_savings_key [Integer] MemberCOBSavings Key
    # @param member_cob_savings [MemberCOBSavings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCOBSavingsVBAResponse, Integer, Hash)>] MemberCOBSavingsVBAResponse data, response status code and response headers
    def update_member_cob_savings_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_cob_savings_key, member_cob_savings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCOBSavingsApi.update_member_cob_savings ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCOBSavingsApi.update_member_cob_savings"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCOBSavingsApi.update_member_cob_savings"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCOBSavingsApi.update_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings_key' is set
      if @api_client.config.client_side_validation && member_cob_savings_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings_key' when calling MemberCOBSavingsApi.update_member_cob_savings"
      end
      # verify the required parameter 'member_cob_savings' is set
      if @api_client.config.client_side_validation && member_cob_savings.nil?
        fail ArgumentError, "Missing the required parameter 'member_cob_savings' when calling MemberCOBSavingsApi.update_member_cob_savings"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/cob-savings/{memberCOBSavingsKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCOBSavingsKey' + '}', CGI.escape(member_cob_savings_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_cob_savings)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCOBSavingsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCOBSavingsApi.update_member_cob_savings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCOBSavingsApi#update_member_cob_savings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
