=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberIDCardRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create IDCardRequest
    # Creates a new IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param id_card_request [IDCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IDCardRequestVBAResponse]
    def create_id_card_request(vbasoftware_database, id_card_request, opts = {})
      data, _status_code, _headers = create_id_card_request_with_http_info(vbasoftware_database, id_card_request, opts)
      data
    end

    # Create IDCardRequest
    # Creates a new IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param id_card_request [IDCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDCardRequestVBAResponse, Integer, Hash)>] IDCardRequestVBAResponse data, response status code and response headers
    def create_id_card_request_with_http_info(vbasoftware_database, id_card_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.create_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.create_id_card_request"
      end
      # verify the required parameter 'id_card_request' is set
      if @api_client.config.client_side_validation && id_card_request.nil?
        fail ArgumentError, "Missing the required parameter 'id_card_request' when calling MemberIDCardRequestsApi.create_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_card_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IDCardRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.create_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#create_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete IDCardRequest
    # Deletes an IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_id_card_request(vbasoftware_database, i_d_card_request_key, opts = {})
      delete_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, opts)
      nil
    end

    # Delete IDCardRequest
    # Deletes an IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.delete_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.delete_id_card_request"
      end
      # verify the required parameter 'i_d_card_request_key' is set
      if @api_client.config.client_side_validation && i_d_card_request_key.nil?
        fail ArgumentError, "Missing the required parameter 'i_d_card_request_key' when calling MemberIDCardRequestsApi.delete_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests/{iDCardRequestKey}'.sub('{' + 'iDCardRequestKey' + '}', CGI.escape(i_d_card_request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.delete_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#delete_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IDCardRequest
    # Gets IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param [Hash] opts the optional parameters
    # @return [IDCardRequestVBAResponse]
    def get_id_card_request(vbasoftware_database, i_d_card_request_key, opts = {})
      data, _status_code, _headers = get_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, opts)
      data
    end

    # Get IDCardRequest
    # Gets IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDCardRequestVBAResponse, Integer, Hash)>] IDCardRequestVBAResponse data, response status code and response headers
    def get_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.get_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.get_id_card_request"
      end
      # verify the required parameter 'i_d_card_request_key' is set
      if @api_client.config.client_side_validation && i_d_card_request_key.nil?
        fail ArgumentError, "Missing the required parameter 'i_d_card_request_key' when calling MemberIDCardRequestsApi.get_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests/{iDCardRequestKey}'.sub('{' + 'iDCardRequestKey' + '}', CGI.escape(i_d_card_request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IDCardRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.get_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#get_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List IDCardRequest
    # Lists all IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [IDCardRequestListVBAResponse]
    def list_id_card_request(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_id_card_request_with_http_info(vbasoftware_database, opts)
      data
    end

    # List IDCardRequest
    # Lists all IDCardRequest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(IDCardRequestListVBAResponse, Integer, Hash)>] IDCardRequestListVBAResponse data, response status code and response headers
    def list_id_card_request_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.list_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.list_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IDCardRequestListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.list_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#list_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch IDCardRequest
    # Create or Update multiple IDCardRequest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param id_card_request [Array<IDCardRequest>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_id_card_request(vbasoftware_database, id_card_request, opts = {})
      data, _status_code, _headers = update_batch_id_card_request_with_http_info(vbasoftware_database, id_card_request, opts)
      data
    end

    # Create or Update Batch IDCardRequest
    # Create or Update multiple IDCardRequest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param id_card_request [Array<IDCardRequest>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_id_card_request_with_http_info(vbasoftware_database, id_card_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.update_batch_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.update_batch_id_card_request"
      end
      # verify the required parameter 'id_card_request' is set
      if @api_client.config.client_side_validation && id_card_request.nil?
        fail ArgumentError, "Missing the required parameter 'id_card_request' when calling MemberIDCardRequestsApi.update_batch_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_card_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.update_batch_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#update_batch_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update IDCardRequest
    # Updates a specific IDCardRequest.
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param id_card_request [IDCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IDCardRequestVBAResponse]
    def update_id_card_request(vbasoftware_database, i_d_card_request_key, id_card_request, opts = {})
      data, _status_code, _headers = update_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, id_card_request, opts)
      data
    end

    # Update IDCardRequest
    # Updates a specific IDCardRequest.
    # @param vbasoftware_database [String] Target database
    # @param i_d_card_request_key [Integer] IDCardRequest Key
    # @param id_card_request [IDCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IDCardRequestVBAResponse, Integer, Hash)>] IDCardRequestVBAResponse data, response status code and response headers
    def update_id_card_request_with_http_info(vbasoftware_database, i_d_card_request_key, id_card_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberIDCardRequestsApi.update_id_card_request ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberIDCardRequestsApi.update_id_card_request"
      end
      # verify the required parameter 'i_d_card_request_key' is set
      if @api_client.config.client_side_validation && i_d_card_request_key.nil?
        fail ArgumentError, "Missing the required parameter 'i_d_card_request_key' when calling MemberIDCardRequestsApi.update_id_card_request"
      end
      # verify the required parameter 'id_card_request' is set
      if @api_client.config.client_side_validation && id_card_request.nil?
        fail ArgumentError, "Missing the required parameter 'id_card_request' when calling MemberIDCardRequestsApi.update_id_card_request"
      end
      # resource path
      local_var_path = '/id-card-requests/{iDCardRequestKey}'.sub('{' + 'iDCardRequestKey' + '}', CGI.escape(i_d_card_request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(id_card_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IDCardRequestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberIDCardRequestsApi.update_id_card_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberIDCardRequestsApi#update_id_card_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
