=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberCollegesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberCollege
    # Creates a new MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college [MemberCollege] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCollegeVBAResponse]
    def create_member_college(vbasoftware_database, subscriber_id, member_seq, member_college, opts = {})
      data, _status_code, _headers = create_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college, opts)
      data
    end

    # Create MemberCollege
    # Creates a new MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college [MemberCollege] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCollegeVBAResponse, Integer, Hash)>] MemberCollegeVBAResponse data, response status code and response headers
    def create_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.create_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.create_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.create_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.create_member_college"
      end
      # verify the required parameter 'member_college' is set
      if @api_client.config.client_side_validation && member_college.nil?
        fail ArgumentError, "Missing the required parameter 'member_college' when calling MemberCollegesApi.create_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_college)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.create_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#create_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberCollege
    # Deletes an MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_college(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts = {})
      delete_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts)
      nil
    end

    # Delete MemberCollege
    # Deletes an MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.delete_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.delete_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.delete_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.delete_member_college"
      end
      # verify the required parameter 'member_college_key' is set
      if @api_client.config.client_side_validation && member_college_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_college_key' when calling MemberCollegesApi.delete_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges/{memberCollegeKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCollegeKey' + '}', CGI.escape(member_college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.delete_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#delete_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberCollege
    # Gets MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param [Hash] opts the optional parameters
    # @return [MemberCollegeVBAResponse]
    def get_member_college(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts = {})
      data, _status_code, _headers = get_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts)
      data
    end

    # Get MemberCollege
    # Gets MemberCollege
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCollegeVBAResponse, Integer, Hash)>] MemberCollegeVBAResponse data, response status code and response headers
    def get_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.get_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.get_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.get_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.get_member_college"
      end
      # verify the required parameter 'member_college_key' is set
      if @api_client.config.client_side_validation && member_college_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_college_key' when calling MemberCollegesApi.get_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges/{memberCollegeKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCollegeKey' + '}', CGI.escape(member_college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.get_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#get_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberCollege
    # Lists all MemberCollege for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberCollegeListVBAResponse]
    def list_member_college(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberCollege
    # Lists all MemberCollege for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberCollegeListVBAResponse, Integer, Hash)>] MemberCollegeListVBAResponse data, response status code and response headers
    def list_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.list_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.list_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.list_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.list_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCollegeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.list_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#list_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberCollege
    # Create or Update multiple MemberCollege at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college [Array<MemberCollege>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_college(vbasoftware_database, subscriber_id, member_seq, member_college, opts = {})
      data, _status_code, _headers = update_batch_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college, opts)
      data
    end

    # Create or Update Batch MemberCollege
    # Create or Update multiple MemberCollege at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college [Array<MemberCollege>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.update_batch_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.update_batch_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.update_batch_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.update_batch_member_college"
      end
      # verify the required parameter 'member_college' is set
      if @api_client.config.client_side_validation && member_college.nil?
        fail ArgumentError, "Missing the required parameter 'member_college' when calling MemberCollegesApi.update_batch_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_college)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.update_batch_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#update_batch_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberCollege
    # Updates a specific MemberCollege.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param member_college [MemberCollege] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCollegeVBAResponse]
    def update_member_college(vbasoftware_database, subscriber_id, member_seq, member_college_key, member_college, opts = {})
      data, _status_code, _headers = update_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, member_college, opts)
      data
    end

    # Update MemberCollege
    # Updates a specific MemberCollege.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_college_key [Integer] MemberCollege Key
    # @param member_college [MemberCollege] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCollegeVBAResponse, Integer, Hash)>] MemberCollegeVBAResponse data, response status code and response headers
    def update_member_college_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_college_key, member_college, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCollegesApi.update_member_college ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCollegesApi.update_member_college"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCollegesApi.update_member_college"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCollegesApi.update_member_college"
      end
      # verify the required parameter 'member_college_key' is set
      if @api_client.config.client_side_validation && member_college_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_college_key' when calling MemberCollegesApi.update_member_college"
      end
      # verify the required parameter 'member_college' is set
      if @api_client.config.client_side_validation && member_college.nil?
        fail ArgumentError, "Missing the required parameter 'member_college' when calling MemberCollegesApi.update_member_college"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/colleges/{memberCollegeKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCollegeKey' + '}', CGI.escape(member_college_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_college)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCollegeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCollegesApi.update_member_college",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCollegesApi#update_member_college\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
