=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberEligibilityStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberEligibilityStatus
    # Creates a new MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status [MemberEligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [MemberEligibilityStatusVBAResponse]
    def create_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts = {})
      data, _status_code, _headers = create_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts)
      data
    end

    # Create MemberEligibilityStatus
    # Creates a new MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status [MemberEligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberEligibilityStatusVBAResponse, Integer, Hash)>] MemberEligibilityStatusVBAResponse data, response status code and response headers
    def create_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.create_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.create_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.create_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.create_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status' is set
      if @api_client.config.client_side_validation && member_eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status' when calling MemberEligibilityStatusApi.create_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_eligibility_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberEligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.create_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#create_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberEligibilityStatus
    # Deletes an MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts = {})
      delete_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts)
      nil
    end

    # Delete MemberEligibilityStatus
    # Deletes an MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.delete_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.delete_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.delete_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.delete_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status_key' is set
      if @api_client.config.client_side_validation && member_eligibility_status_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status_key' when calling MemberEligibilityStatusApi.delete_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses/{memberEligibilityStatusKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberEligibilityStatusKey' + '}', CGI.escape(member_eligibility_status_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.delete_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#delete_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberEligibilityStatus
    # Gets MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param [Hash] opts the optional parameters
    # @return [MemberEligibilityStatusVBAResponse]
    def get_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts = {})
      data, _status_code, _headers = get_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts)
      data
    end

    # Get MemberEligibilityStatus
    # Gets MemberEligibilityStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberEligibilityStatusVBAResponse, Integer, Hash)>] MemberEligibilityStatusVBAResponse data, response status code and response headers
    def get_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.get_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.get_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.get_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.get_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status_key' is set
      if @api_client.config.client_side_validation && member_eligibility_status_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status_key' when calling MemberEligibilityStatusApi.get_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses/{memberEligibilityStatusKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberEligibilityStatusKey' + '}', CGI.escape(member_eligibility_status_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberEligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.get_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#get_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberEligibilityStatus
    # Lists all MemberEligibilityStatus for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberEligibilityStatusListVBAResponse]
    def list_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberEligibilityStatus
    # Lists all MemberEligibilityStatus for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberEligibilityStatusListVBAResponse, Integer, Hash)>] MemberEligibilityStatusListVBAResponse data, response status code and response headers
    def list_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.list_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.list_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.list_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.list_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberEligibilityStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.list_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#list_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberEligibilityStatus
    # Create or Update multiple MemberEligibilityStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status [Array<MemberEligibilityStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts = {})
      data, _status_code, _headers = update_batch_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts)
      data
    end

    # Create or Update Batch MemberEligibilityStatus
    # Create or Update multiple MemberEligibilityStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status [Array<MemberEligibilityStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.update_batch_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.update_batch_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.update_batch_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.update_batch_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status' is set
      if @api_client.config.client_side_validation && member_eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status' when calling MemberEligibilityStatusApi.update_batch_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_eligibility_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.update_batch_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#update_batch_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberEligibilityStatus
    # Updates a specific MemberEligibilityStatus.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param member_eligibility_status [MemberEligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [MemberEligibilityStatusVBAResponse]
    def update_member_eligibility_status(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, member_eligibility_status, opts = {})
      data, _status_code, _headers = update_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, member_eligibility_status, opts)
      data
    end

    # Update MemberEligibilityStatus
    # Updates a specific MemberEligibilityStatus.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_eligibility_status_key [Integer] MemberEligibilityStatus Key
    # @param member_eligibility_status [MemberEligibilityStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberEligibilityStatusVBAResponse, Integer, Hash)>] MemberEligibilityStatusVBAResponse data, response status code and response headers
    def update_member_eligibility_status_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_eligibility_status_key, member_eligibility_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEligibilityStatusApi.update_member_eligibility_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEligibilityStatusApi.update_member_eligibility_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEligibilityStatusApi.update_member_eligibility_status"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEligibilityStatusApi.update_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status_key' is set
      if @api_client.config.client_side_validation && member_eligibility_status_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status_key' when calling MemberEligibilityStatusApi.update_member_eligibility_status"
      end
      # verify the required parameter 'member_eligibility_status' is set
      if @api_client.config.client_side_validation && member_eligibility_status.nil?
        fail ArgumentError, "Missing the required parameter 'member_eligibility_status' when calling MemberEligibilityStatusApi.update_member_eligibility_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/eligibility-statuses/{memberEligibilityStatusKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberEligibilityStatusKey' + '}', CGI.escape(member_eligibility_status_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_eligibility_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberEligibilityStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEligibilityStatusApi.update_member_eligibility_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEligibilityStatusApi#update_member_eligibility_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
