=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberVBAPlanTypeIDsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberVBAPlanTypeID
    # Creates a new MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_vba_plan_type_id [MemberVBAPlanTypeID] 
    # @param [Hash] opts the optional parameters
    # @return [MemberVBAPlanTypeIDVBAResponse]
    def create_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts = {})
      data, _status_code, _headers = create_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts)
      data
    end

    # Create MemberVBAPlanTypeID
    # Creates a new MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_vba_plan_type_id [MemberVBAPlanTypeID] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberVBAPlanTypeIDVBAResponse, Integer, Hash)>] MemberVBAPlanTypeIDVBAResponse data, response status code and response headers
    def create_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_vba_plan_type_id' is set
      if @api_client.config.client_side_validation && member_vba_plan_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_vba_plan_type_id' when calling MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_vba_plan_type_id)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberVBAPlanTypeIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.create_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#create_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberVBAPlanTypeID
    # Deletes an MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts = {})
      delete_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts)
      nil
    end

    # Delete MemberVBAPlanTypeID
    # Deletes an MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id"
      end
      # verify the required parameter 'v_ba_plan_type' is set
      if @api_client.config.client_side_validation && v_ba_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_plan_type' when calling MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids/{vBAPlanType}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'vBAPlanType' + '}', CGI.escape(v_ba_plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.delete_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#delete_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberVBAPlanTypeID
    # Gets MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param [Hash] opts the optional parameters
    # @return [MemberVBAPlanTypeIDVBAResponse]
    def get_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts = {})
      data, _status_code, _headers = get_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts)
      data
    end

    # Get MemberVBAPlanTypeID
    # Gets MemberVBAPlanTypeID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberVBAPlanTypeIDVBAResponse, Integer, Hash)>] MemberVBAPlanTypeIDVBAResponse data, response status code and response headers
    def get_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id"
      end
      # verify the required parameter 'v_ba_plan_type' is set
      if @api_client.config.client_side_validation && v_ba_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_plan_type' when calling MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids/{vBAPlanType}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'vBAPlanType' + '}', CGI.escape(v_ba_plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberVBAPlanTypeIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.get_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#get_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberVBAPlanTypeID
    # Lists all MemberVBAPlanTypeID for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberVBAPlanTypeIDListVBAResponse]
    def list_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberVBAPlanTypeID
    # Lists all MemberVBAPlanTypeID for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberVBAPlanTypeIDListVBAResponse, Integer, Hash)>] MemberVBAPlanTypeIDListVBAResponse data, response status code and response headers
    def list_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.list_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.list_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.list_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.list_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberVBAPlanTypeIDListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.list_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#list_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberVBAPlanTypeID
    # Create or Update multiple MemberVBAPlanTypeID at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_vba_plan_type_id [Array<MemberVBAPlanTypeID>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts = {})
      data, _status_code, _headers = update_batch_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts)
      data
    end

    # Create or Update Batch MemberVBAPlanTypeID
    # Create or Update multiple MemberVBAPlanTypeID at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_vba_plan_type_id [Array<MemberVBAPlanTypeID>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_vba_plan_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_vba_plan_type_id' is set
      if @api_client.config.client_side_validation && member_vba_plan_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_vba_plan_type_id' when calling MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_vba_plan_type_id)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.update_batch_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#update_batch_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberVBAPlanTypeID
    # Updates a specific MemberVBAPlanTypeID.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param member_vba_plan_type_id [MemberVBAPlanTypeID] 
    # @param [Hash] opts the optional parameters
    # @return [MemberVBAPlanTypeIDVBAResponse]
    def update_member_vba_plan_type_id(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, member_vba_plan_type_id, opts = {})
      data, _status_code, _headers = update_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, member_vba_plan_type_id, opts)
      data
    end

    # Update MemberVBAPlanTypeID
    # Updates a specific MemberVBAPlanTypeID.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param v_ba_plan_type [String] VBA Plan Type
    # @param member_vba_plan_type_id [MemberVBAPlanTypeID] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberVBAPlanTypeIDVBAResponse, Integer, Hash)>] MemberVBAPlanTypeIDVBAResponse data, response status code and response headers
    def update_member_vba_plan_type_id_with_http_info(vbasoftware_database, subscriber_id, member_seq, v_ba_plan_type, member_vba_plan_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id"
      end
      # verify the required parameter 'v_ba_plan_type' is set
      if @api_client.config.client_side_validation && v_ba_plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_plan_type' when calling MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id"
      end
      # verify the required parameter 'member_vba_plan_type_id' is set
      if @api_client.config.client_side_validation && member_vba_plan_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_vba_plan_type_id' when calling MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/vba-plan-type-ids/{vBAPlanType}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'vBAPlanType' + '}', CGI.escape(v_ba_plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_vba_plan_type_id)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberVBAPlanTypeIDVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberVBAPlanTypeIDsApi.update_member_vba_plan_type_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberVBAPlanTypeIDsApi#update_member_vba_plan_type_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
