=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberCaseHeadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberCaseHead
    # Creates a new MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head [MemberCaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCaseHeadVBAResponse]
    def create_member_case_head(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts = {})
      data, _status_code, _headers = create_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts)
      data
    end

    # Create MemberCaseHead
    # Creates a new MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head [MemberCaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCaseHeadVBAResponse, Integer, Hash)>] MemberCaseHeadVBAResponse data, response status code and response headers
    def create_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.create_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.create_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.create_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.create_member_case_head"
      end
      # verify the required parameter 'member_case_head' is set
      if @api_client.config.client_side_validation && member_case_head.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head' when calling MemberCaseHeadsApi.create_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.create_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#create_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberCaseHead
    # Deletes an MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_case_head(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts = {})
      delete_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts)
      nil
    end

    # Delete MemberCaseHead
    # Deletes an MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.delete_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.delete_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.delete_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.delete_member_case_head"
      end
      # verify the required parameter 'member_case_head_key' is set
      if @api_client.config.client_side_validation && member_case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head_key' when calling MemberCaseHeadsApi.delete_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads/{memberCaseHeadKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCaseHeadKey' + '}', CGI.escape(member_case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.delete_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#delete_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberCaseHead
    # Gets MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [MemberCaseHeadVBAResponse]
    def get_member_case_head(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts = {})
      data, _status_code, _headers = get_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts)
      data
    end

    # Get MemberCaseHead
    # Gets MemberCaseHead
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCaseHeadVBAResponse, Integer, Hash)>] MemberCaseHeadVBAResponse data, response status code and response headers
    def get_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.get_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.get_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.get_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.get_member_case_head"
      end
      # verify the required parameter 'member_case_head_key' is set
      if @api_client.config.client_side_validation && member_case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head_key' when calling MemberCaseHeadsApi.get_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads/{memberCaseHeadKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCaseHeadKey' + '}', CGI.escape(member_case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.get_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#get_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberCaseHead
    # Lists all MemberCaseHead for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberCaseHeadListVBAResponse]
    def list_member_case_head(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberCaseHead
    # Lists all MemberCaseHead for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberCaseHeadListVBAResponse, Integer, Hash)>] MemberCaseHeadListVBAResponse data, response status code and response headers
    def list_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.list_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.list_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.list_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.list_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCaseHeadListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.list_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#list_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberCaseHead
    # Create or Update multiple MemberCaseHead at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head [Array<MemberCaseHead>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_case_head(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts = {})
      data, _status_code, _headers = update_batch_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts)
      data
    end

    # Create or Update Batch MemberCaseHead
    # Create or Update multiple MemberCaseHead at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head [Array<MemberCaseHead>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.update_batch_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.update_batch_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.update_batch_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.update_batch_member_case_head"
      end
      # verify the required parameter 'member_case_head' is set
      if @api_client.config.client_side_validation && member_case_head.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head' when calling MemberCaseHeadsApi.update_batch_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.update_batch_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#update_batch_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberCaseHead
    # Updates a specific MemberCaseHead.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param member_case_head [MemberCaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [MemberCaseHeadVBAResponse]
    def update_member_case_head(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, member_case_head, opts = {})
      data, _status_code, _headers = update_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, member_case_head, opts)
      data
    end

    # Update MemberCaseHead
    # Updates a specific MemberCaseHead.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_case_head_key [Integer] MemberCaseHead Key
    # @param member_case_head [MemberCaseHead] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberCaseHeadVBAResponse, Integer, Hash)>] MemberCaseHeadVBAResponse data, response status code and response headers
    def update_member_case_head_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_case_head_key, member_case_head, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberCaseHeadsApi.update_member_case_head ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberCaseHeadsApi.update_member_case_head"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberCaseHeadsApi.update_member_case_head"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberCaseHeadsApi.update_member_case_head"
      end
      # verify the required parameter 'member_case_head_key' is set
      if @api_client.config.client_side_validation && member_case_head_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head_key' when calling MemberCaseHeadsApi.update_member_case_head"
      end
      # verify the required parameter 'member_case_head' is set
      if @api_client.config.client_side_validation && member_case_head.nil?
        fail ArgumentError, "Missing the required parameter 'member_case_head' when calling MemberCaseHeadsApi.update_member_case_head"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/case-heads/{memberCaseHeadKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberCaseHeadKey' + '}', CGI.escape(member_case_head_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_case_head)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberCaseHeadVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberCaseHeadsApi.update_member_case_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberCaseHeadsApi#update_member_case_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
