=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberProviderAlternatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberProviderAlternate
    # Creates a new MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param member_provider_alternate [MemberProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [MemberProviderAlternateVBAResponse]
    def create_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts = {})
      data, _status_code, _headers = create_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts)
      data
    end

    # Create MemberProviderAlternate
    # Creates a new MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param member_provider_alternate [MemberProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberProviderAlternateVBAResponse, Integer, Hash)>] MemberProviderAlternateVBAResponse data, response status code and response headers
    def create_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.create_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.create_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.create_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.create_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.create_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_alternate' is set
      if @api_client.config.client_side_validation && member_provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_alternate' when calling MemberProviderAlternatesApi.create_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.create_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#create_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberProviderAlternate
    # Deletes an MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts = {})
      delete_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts)
      nil
    end

    # Delete MemberProviderAlternate
    # Deletes an MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.delete_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.delete_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.delete_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.delete_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.delete_member_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling MemberProviderAlternatesApi.delete_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates/{providerID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s)).sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.delete_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#delete_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberProviderAlternate
    # Gets MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [MemberProviderAlternateVBAResponse]
    def get_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts = {})
      data, _status_code, _headers = get_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts)
      data
    end

    # Get MemberProviderAlternate
    # Gets MemberProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberProviderAlternateVBAResponse, Integer, Hash)>] MemberProviderAlternateVBAResponse data, response status code and response headers
    def get_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.get_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.get_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.get_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.get_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.get_member_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling MemberProviderAlternatesApi.get_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates/{providerID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s)).sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.get_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#get_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberProviderAlternate
    # Lists all MemberProviderAlternate for the given memberProviderKey
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberProviderAlternateListVBAResponse]
    def list_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, opts = {})
      data, _status_code, _headers = list_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, opts)
      data
    end

    # List MemberProviderAlternate
    # Lists all MemberProviderAlternate for the given memberProviderKey
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberProviderAlternateListVBAResponse, Integer, Hash)>] MemberProviderAlternateListVBAResponse data, response status code and response headers
    def list_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.list_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.list_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.list_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.list_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.list_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberProviderAlternateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.list_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#list_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberProviderAlternate
    # Create or Update multiple MemberProviderAlternate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param member_provider_alternate [Array<MemberProviderAlternate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts = {})
      data, _status_code, _headers = update_batch_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts)
      data
    end

    # Create or Update Batch MemberProviderAlternate
    # Create or Update multiple MemberProviderAlternate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param member_provider_alternate [Array<MemberProviderAlternate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, member_provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.update_batch_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.update_batch_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.update_batch_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.update_batch_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.update_batch_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_alternate' is set
      if @api_client.config.client_side_validation && member_provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_alternate' when calling MemberProviderAlternatesApi.update_batch_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.update_batch_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#update_batch_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberProviderAlternate
    # Updates a specific MemberProviderAlternate.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param member_provider_alternate [MemberProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [MemberProviderAlternateVBAResponse]
    def update_member_provider_alternate(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, member_provider_alternate, opts = {})
      data, _status_code, _headers = update_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, member_provider_alternate, opts)
      data
    end

    # Update MemberProviderAlternate
    # Updates a specific MemberProviderAlternate.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_provider_key [Integer] MemberProvider Key
    # @param provider_id [String] Provider ID
    # @param member_provider_alternate [MemberProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberProviderAlternateVBAResponse, Integer, Hash)>] MemberProviderAlternateVBAResponse data, response status code and response headers
    def update_member_provider_alternate_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_provider_key, provider_id, member_provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberProviderAlternatesApi.update_member_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_key' is set
      if @api_client.config.client_side_validation && member_provider_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_key' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # verify the required parameter 'member_provider_alternate' is set
      if @api_client.config.client_side_validation && member_provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'member_provider_alternate' when calling MemberProviderAlternatesApi.update_member_provider_alternate"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/providers/{memberProviderKey}/alternates/{providerID}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberProviderKey' + '}', CGI.escape(member_provider_key.to_s)).sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberProviderAlternatesApi.update_member_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberProviderAlternatesApi#update_member_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
