=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberAddressHistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberAddressHistory
    # Creates a new MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history [MemberAddressHistory] 
    # @param [Hash] opts the optional parameters
    # @return [MemberAddressHistoryVBAResponse]
    def create_member_address_history(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts = {})
      data, _status_code, _headers = create_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts)
      data
    end

    # Create MemberAddressHistory
    # Creates a new MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history [MemberAddressHistory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberAddressHistoryVBAResponse, Integer, Hash)>] MemberAddressHistoryVBAResponse data, response status code and response headers
    def create_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.create_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.create_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.create_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.create_member_address_history"
      end
      # verify the required parameter 'member_address_history' is set
      if @api_client.config.client_side_validation && member_address_history.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history' when calling MemberAddressHistoryApi.create_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_address_history)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberAddressHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.create_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#create_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberAddressHistory
    # Deletes an MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_address_history(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts = {})
      delete_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts)
      nil
    end

    # Delete MemberAddressHistory
    # Deletes an MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.delete_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.delete_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.delete_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.delete_member_address_history"
      end
      # verify the required parameter 'member_address_history_key' is set
      if @api_client.config.client_side_validation && member_address_history_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history_key' when calling MemberAddressHistoryApi.delete_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history/{MemberAddressHistory_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'MemberAddressHistory_Key' + '}', CGI.escape(member_address_history_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.delete_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#delete_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberAddressHistory
    # Gets MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param [Hash] opts the optional parameters
    # @return [MemberAddressHistoryVBAResponse]
    def get_member_address_history(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts = {})
      data, _status_code, _headers = get_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts)
      data
    end

    # Get MemberAddressHistory
    # Gets MemberAddressHistory
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberAddressHistoryVBAResponse, Integer, Hash)>] MemberAddressHistoryVBAResponse data, response status code and response headers
    def get_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.get_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.get_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.get_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.get_member_address_history"
      end
      # verify the required parameter 'member_address_history_key' is set
      if @api_client.config.client_side_validation && member_address_history_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history_key' when calling MemberAddressHistoryApi.get_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history/{MemberAddressHistory_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'MemberAddressHistory_Key' + '}', CGI.escape(member_address_history_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberAddressHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.get_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#get_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberAddressHistory
    # Lists all MemberAddressHistory for the given Subscriber_ID and Member_Seq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [MemberAddressHistoryListVBAResponse]
    def list_member_address_history(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberAddressHistory
    # Lists all MemberAddressHistory for the given Subscriber_ID and Member_Seq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(MemberAddressHistoryListVBAResponse, Integer, Hash)>] MemberAddressHistoryListVBAResponse data, response status code and response headers
    def list_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.list_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.list_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.list_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.list_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberAddressHistoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.list_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#list_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberAddressHistory
    # Create or Update multiple MemberAddressHistory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history [Array<MemberAddressHistory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_address_history(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts = {})
      data, _status_code, _headers = update_batch_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts)
      data
    end

    # Create or Update Batch MemberAddressHistory
    # Create or Update multiple MemberAddressHistory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history [Array<MemberAddressHistory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.update_batch_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.update_batch_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.update_batch_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.update_batch_member_address_history"
      end
      # verify the required parameter 'member_address_history' is set
      if @api_client.config.client_side_validation && member_address_history.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history' when calling MemberAddressHistoryApi.update_batch_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history-batch'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_address_history)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.update_batch_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#update_batch_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberAddressHistory
    # Updates a specific MemberAddressHistory.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param member_address_history [MemberAddressHistory] 
    # @param [Hash] opts the optional parameters
    # @return [MemberAddressHistoryVBAResponse]
    def update_member_address_history(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, member_address_history, opts = {})
      data, _status_code, _headers = update_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, member_address_history, opts)
      data
    end

    # Update MemberAddressHistory
    # Updates a specific MemberAddressHistory.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_address_history_key [Integer] MemberAddressHistory Key
    # @param member_address_history [MemberAddressHistory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberAddressHistoryVBAResponse, Integer, Hash)>] MemberAddressHistoryVBAResponse data, response status code and response headers
    def update_member_address_history_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_address_history_key, member_address_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberAddressHistoryApi.update_member_address_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberAddressHistoryApi.update_member_address_history"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberAddressHistoryApi.update_member_address_history"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberAddressHistoryApi.update_member_address_history"
      end
      # verify the required parameter 'member_address_history_key' is set
      if @api_client.config.client_side_validation && member_address_history_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history_key' when calling MemberAddressHistoryApi.update_member_address_history"
      end
      # verify the required parameter 'member_address_history' is set
      if @api_client.config.client_side_validation && member_address_history.nil?
        fail ArgumentError, "Missing the required parameter 'member_address_history' when calling MemberAddressHistoryApi.update_member_address_history"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/members/{Member_Seq}/address-history/{MemberAddressHistory_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'Member_Seq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'MemberAddressHistory_Key' + '}', CGI.escape(member_address_history_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_address_history)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberAddressHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberAddressHistoryApi.update_member_address_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberAddressHistoryApi#update_member_address_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
