=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberEnrollmentPlanRiderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemEnrollmentRider
    # Creates a new MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_rider [MemEnrollmentRider] 
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentRiderVBAResponse]
    def create_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts = {})
      data, _status_code, _headers = create_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts)
      data
    end

    # Create MemEnrollmentRider
    # Creates a new MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_rider [MemEnrollmentRider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentRiderVBAResponse, Integer, Hash)>] MemEnrollmentRiderVBAResponse data, response status code and response headers
    def create_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # verify the required parameter 'mem_enrollment_rider' is set
      if @api_client.config.client_side_validation && mem_enrollment_rider.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_rider' when calling MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_rider)

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentRiderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.create_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#create_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemEnrollmentRider
    # Deletes an MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts = {})
      delete_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts)
      nil
    end

    # Delete MemEnrollmentRider
    # Deletes an MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders/{benefitCode}/{fromDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromDate' + '}', CGI.escape(from_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.delete_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#delete_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemEnrollmentRider
    # Gets MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentRiderVBAResponse]
    def get_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts = {})
      data, _status_code, _headers = get_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts)
      data
    end

    # Get MemEnrollmentRider
    # Gets MemEnrollmentRider
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentRiderVBAResponse, Integer, Hash)>] MemEnrollmentRiderVBAResponse data, response status code and response headers
    def get_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders/{benefitCode}/{fromDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromDate' + '}', CGI.escape(from_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentRiderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.get_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#get_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemEnrollmentRider
    # Lists all MemEnrollmentRider for the given subscriberID and memberSeq and groupID and divisionID and groupCoverageStart and subStartDate and planID and planStart
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemEnrollmentRiderListVBAResponse]
    def list_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      data, _status_code, _headers = list_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts)
      data
    end

    # List MemEnrollmentRider
    # Lists all MemEnrollmentRider for the given subscriberID and memberSeq and groupID and divisionID and groupCoverageStart and subStartDate and planID and planStart
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemEnrollmentRiderListVBAResponse, Integer, Hash)>] MemEnrollmentRiderListVBAResponse data, response status code and response headers
    def list_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentRiderListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.list_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#list_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemEnrollmentRider
    # Create or Update multiple MemEnrollmentRider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_rider [Array<MemEnrollmentRider>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts = {})
      data, _status_code, _headers = update_batch_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts)
      data
    end

    # Create or Update Batch MemEnrollmentRider
    # Create or Update multiple MemEnrollmentRider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param mem_enrollment_rider [Array<MemEnrollmentRider>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, mem_enrollment_rider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # verify the required parameter 'mem_enrollment_rider' is set
      if @api_client.config.client_side_validation && mem_enrollment_rider.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_rider' when calling MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_rider)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.update_batch_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#update_batch_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemEnrollmentRider
    # Updates a specific MemEnrollmentRider.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param mem_enrollment_rider [MemEnrollmentRider] 
    # @param [Hash] opts the optional parameters
    # @return [MemEnrollmentRiderVBAResponse]
    def update_mem_enrollment_rider(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, mem_enrollment_rider, opts = {})
      data, _status_code, _headers = update_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, mem_enrollment_rider, opts)
      data
    end

    # Update MemEnrollmentRider
    # Updates a specific MemEnrollmentRider.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param sub_start_date [Time] Sub Start Date
    # @param plan_id [String] Plan ID
    # @param plan_start [Time] Plan Start
    # @param benefit_code [String] Benefit Code
    # @param from_date [Time] From Date
    # @param mem_enrollment_rider [MemEnrollmentRider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemEnrollmentRiderVBAResponse, Integer, Hash)>] MemEnrollmentRiderVBAResponse data, response status code and response headers
    def update_mem_enrollment_rider_with_http_info(vbasoftware_database, subscriber_id, member_seq, group_id, division_id, group_coverage_start, sub_start_date, plan_id, plan_start, benefit_code, from_date, mem_enrollment_rider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'sub_start_date' is set
      if @api_client.config.client_side_validation && sub_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'sub_start_date' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'plan_start' is set
      if @api_client.config.client_side_validation && plan_start.nil?
        fail ArgumentError, "Missing the required parameter 'plan_start' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # verify the required parameter 'mem_enrollment_rider' is set
      if @api_client.config.client_side_validation && mem_enrollment_rider.nil?
        fail ArgumentError, "Missing the required parameter 'mem_enrollment_rider' when calling MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/groups/{groupID}/divisions/{divisionID}/enrollments/{groupCoverageStart}/{subStartDate}/plans/{planID}/{planStart}/riders/{benefitCode}/{fromDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'subStartDate' + '}', CGI.escape(sub_start_date.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planStart' + '}', CGI.escape(plan_start.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromDate' + '}', CGI.escape(from_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mem_enrollment_rider)

      # return_type
      return_type = opts[:debug_return_type] || 'MemEnrollmentRiderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberEnrollmentPlanRiderApi.update_mem_enrollment_rider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberEnrollmentPlanRiderApi#update_mem_enrollment_rider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
