=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberClassesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberClass
    # Creates a new MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class [MemberClass] 
    # @param [Hash] opts the optional parameters
    # @return [MemberClassVBAResponse]
    def create_member_class(vbasoftware_database, subscriber_id, member_seq, member_class, opts = {})
      data, _status_code, _headers = create_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class, opts)
      data
    end

    # Create MemberClass
    # Creates a new MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class [MemberClass] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberClassVBAResponse, Integer, Hash)>] MemberClassVBAResponse data, response status code and response headers
    def create_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.create_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.create_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.create_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.create_member_class"
      end
      # verify the required parameter 'member_class' is set
      if @api_client.config.client_side_validation && member_class.nil?
        fail ArgumentError, "Missing the required parameter 'member_class' when calling MemberClassesApi.create_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_class)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.create_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#create_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberClass
    # Deletes an MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_class(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts = {})
      delete_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts)
      nil
    end

    # Delete MemberClass
    # Deletes an MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.delete_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.delete_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.delete_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.delete_member_class"
      end
      # verify the required parameter 'member_class_key' is set
      if @api_client.config.client_side_validation && member_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_class_key' when calling MemberClassesApi.delete_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes/{memberClassKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberClassKey' + '}', CGI.escape(member_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.delete_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#delete_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberClass
    # Gets MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param [Hash] opts the optional parameters
    # @return [MemberClassVBAResponse]
    def get_member_class(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts = {})
      data, _status_code, _headers = get_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts)
      data
    end

    # Get MemberClass
    # Gets MemberClass
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberClassVBAResponse, Integer, Hash)>] MemberClassVBAResponse data, response status code and response headers
    def get_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.get_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.get_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.get_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.get_member_class"
      end
      # verify the required parameter 'member_class_key' is set
      if @api_client.config.client_side_validation && member_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_class_key' when calling MemberClassesApi.get_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes/{memberClassKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberClassKey' + '}', CGI.escape(member_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.get_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#get_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberClass
    # Lists all MemberClass for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberClassListVBAResponse]
    def list_member_class(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberClass
    # Lists all MemberClass for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberClassListVBAResponse, Integer, Hash)>] MemberClassListVBAResponse data, response status code and response headers
    def list_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.list_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.list_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.list_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.list_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberClassListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.list_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#list_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberClass
    # Create or Update multiple MemberClass at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class [Array<MemberClass>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_class(vbasoftware_database, subscriber_id, member_seq, member_class, opts = {})
      data, _status_code, _headers = update_batch_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class, opts)
      data
    end

    # Create or Update Batch MemberClass
    # Create or Update multiple MemberClass at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class [Array<MemberClass>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.update_batch_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.update_batch_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.update_batch_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.update_batch_member_class"
      end
      # verify the required parameter 'member_class' is set
      if @api_client.config.client_side_validation && member_class.nil?
        fail ArgumentError, "Missing the required parameter 'member_class' when calling MemberClassesApi.update_batch_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_class)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.update_batch_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#update_batch_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberClass
    # Updates a specific MemberClass.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param member_class [MemberClass] 
    # @param [Hash] opts the optional parameters
    # @return [MemberClassVBAResponse]
    def update_member_class(vbasoftware_database, subscriber_id, member_seq, member_class_key, member_class, opts = {})
      data, _status_code, _headers = update_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, member_class, opts)
      data
    end

    # Update MemberClass
    # Updates a specific MemberClass.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_class_key [Integer] MemberClass Key
    # @param member_class [MemberClass] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberClassVBAResponse, Integer, Hash)>] MemberClassVBAResponse data, response status code and response headers
    def update_member_class_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_class_key, member_class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberClassesApi.update_member_class ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberClassesApi.update_member_class"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberClassesApi.update_member_class"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberClassesApi.update_member_class"
      end
      # verify the required parameter 'member_class_key' is set
      if @api_client.config.client_side_validation && member_class_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_class_key' when calling MemberClassesApi.update_member_class"
      end
      # verify the required parameter 'member_class' is set
      if @api_client.config.client_side_validation && member_class.nil?
        fail ArgumentError, "Missing the required parameter 'member_class' when calling MemberClassesApi.update_member_class"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/classes/{memberClassKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberClassKey' + '}', CGI.escape(member_class_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_class)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberClassVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberClassesApi.update_member_class",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberClassesApi#update_member_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
