=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class MemberToothApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MemberTooth
    # Creates a new MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth [MemberTooth] 
    # @param [Hash] opts the optional parameters
    # @return [MemberToothVBAResponse]
    def create_member_tooth(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts = {})
      data, _status_code, _headers = create_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts)
      data
    end

    # Create MemberTooth
    # Creates a new MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth [MemberTooth] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothVBAResponse, Integer, Hash)>] MemberToothVBAResponse data, response status code and response headers
    def create_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.create_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.create_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.create_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.create_member_tooth"
      end
      # verify the required parameter 'member_tooth' is set
      if @api_client.config.client_side_validation && member_tooth.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth' when calling MemberToothApi.create_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.create_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#create_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MemberTooth
    # Deletes an MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member_tooth(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts = {})
      delete_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts)
      nil
    end

    # Delete MemberTooth
    # Deletes an MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.delete_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.delete_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.delete_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.delete_member_tooth"
      end
      # verify the required parameter 'member_tooth_key' is set
      if @api_client.config.client_side_validation && member_tooth_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_key' when calling MemberToothApi.delete_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth/{memberToothKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberToothKey' + '}', CGI.escape(member_tooth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.delete_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#delete_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get MemberTooth
    # Gets MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param [Hash] opts the optional parameters
    # @return [MemberToothVBAResponse]
    def get_member_tooth(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts = {})
      data, _status_code, _headers = get_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts)
      data
    end

    # Get MemberTooth
    # Gets MemberTooth
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothVBAResponse, Integer, Hash)>] MemberToothVBAResponse data, response status code and response headers
    def get_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.get_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.get_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.get_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.get_member_tooth"
      end
      # verify the required parameter 'member_tooth_key' is set
      if @api_client.config.client_side_validation && member_tooth_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_key' when calling MemberToothApi.get_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth/{memberToothKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberToothKey' + '}', CGI.escape(member_tooth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.get_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#get_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MemberTooth
    # Lists all MemberTooth for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [MemberToothListVBAResponse]
    def list_member_tooth(vbasoftware_database, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = list_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts)
      data
    end

    # List MemberTooth
    # Lists all MemberTooth for the given subscriberID and memberSeq
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(MemberToothListVBAResponse, Integer, Hash)>] MemberToothListVBAResponse data, response status code and response headers
    def list_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.list_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.list_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.list_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.list_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.list_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#list_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch MemberTooth
    # Create or Update multiple MemberTooth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth [Array<MemberTooth>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_member_tooth(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts = {})
      data, _status_code, _headers = update_batch_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts)
      data
    end

    # Create or Update Batch MemberTooth
    # Create or Update multiple MemberTooth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth [Array<MemberTooth>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.update_batch_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.update_batch_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.update_batch_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.update_batch_member_tooth"
      end
      # verify the required parameter 'member_tooth' is set
      if @api_client.config.client_side_validation && member_tooth.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth' when calling MemberToothApi.update_batch_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.update_batch_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#update_batch_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MemberTooth
    # Updates a specific MemberTooth.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param member_tooth [MemberTooth] 
    # @param [Hash] opts the optional parameters
    # @return [MemberToothVBAResponse]
    def update_member_tooth(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, member_tooth, opts = {})
      data, _status_code, _headers = update_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, member_tooth, opts)
      data
    end

    # Update MemberTooth
    # Updates a specific MemberTooth.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param member_tooth_key [Integer] MemberTooth Key
    # @param member_tooth [MemberTooth] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberToothVBAResponse, Integer, Hash)>] MemberToothVBAResponse data, response status code and response headers
    def update_member_tooth_with_http_info(vbasoftware_database, subscriber_id, member_seq, member_tooth_key, member_tooth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemberToothApi.update_member_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling MemberToothApi.update_member_tooth"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling MemberToothApi.update_member_tooth"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling MemberToothApi.update_member_tooth"
      end
      # verify the required parameter 'member_tooth_key' is set
      if @api_client.config.client_side_validation && member_tooth_key.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth_key' when calling MemberToothApi.update_member_tooth"
      end
      # verify the required parameter 'member_tooth' is set
      if @api_client.config.client_side_validation && member_tooth.nil?
        fail ArgumentError, "Missing the required parameter 'member_tooth' when calling MemberToothApi.update_member_tooth"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/members/{memberSeq}/teeth/{memberToothKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'memberToothKey' + '}', CGI.escape(member_tooth_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_tooth)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberToothVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MemberToothApi.update_member_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemberToothApi#update_member_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
