=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ModifiersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Modifier
    # Creates a new Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier [Modifier] 
    # @param [Hash] opts the optional parameters
    # @return [ModifierVBAResponse]
    def create_modifier(vbasoftware_database, modifier, opts = {})
      data, _status_code, _headers = create_modifier_with_http_info(vbasoftware_database, modifier, opts)
      data
    end

    # Create Modifier
    # Creates a new Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier [Modifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModifierVBAResponse, Integer, Hash)>] ModifierVBAResponse data, response status code and response headers
    def create_modifier_with_http_info(vbasoftware_database, modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.create_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.create_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling ModifiersApi.create_modifier"
      end
      # resource path
      local_var_path = '/modifiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'ModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.create_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#create_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Modifier
    # Deletes an Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_modifier(vbasoftware_database, modifier_code, opts = {})
      delete_modifier_with_http_info(vbasoftware_database, modifier_code, opts)
      nil
    end

    # Delete Modifier
    # Deletes an Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_modifier_with_http_info(vbasoftware_database, modifier_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.delete_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.delete_modifier"
      end
      # verify the required parameter 'modifier_code' is set
      if @api_client.config.client_side_validation && modifier_code.nil?
        fail ArgumentError, "Missing the required parameter 'modifier_code' when calling ModifiersApi.delete_modifier"
      end
      # resource path
      local_var_path = '/modifiers/{modifierCode}'.sub('{' + 'modifierCode' + '}', CGI.escape(modifier_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.delete_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#delete_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Modifier
    # Gets Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param [Hash] opts the optional parameters
    # @return [ModifierVBAResponse]
    def get_modifier(vbasoftware_database, modifier_code, opts = {})
      data, _status_code, _headers = get_modifier_with_http_info(vbasoftware_database, modifier_code, opts)
      data
    end

    # Get Modifier
    # Gets Modifier
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModifierVBAResponse, Integer, Hash)>] ModifierVBAResponse data, response status code and response headers
    def get_modifier_with_http_info(vbasoftware_database, modifier_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.get_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.get_modifier"
      end
      # verify the required parameter 'modifier_code' is set
      if @api_client.config.client_side_validation && modifier_code.nil?
        fail ArgumentError, "Missing the required parameter 'modifier_code' when calling ModifiersApi.get_modifier"
      end
      # resource path
      local_var_path = '/modifiers/{modifierCode}'.sub('{' + 'modifierCode' + '}', CGI.escape(modifier_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.get_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#get_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Modifier
    # Lists all Modifier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ModifierListVBAResponse]
    def list_modifier(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_modifier_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Modifier
    # Lists all Modifier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ModifierListVBAResponse, Integer, Hash)>] ModifierListVBAResponse data, response status code and response headers
    def list_modifier_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.list_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.list_modifier"
      end
      # resource path
      local_var_path = '/modifiers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModifierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.list_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#list_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Modifier
    # Create or Update multiple Modifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param modifier [Array<Modifier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_modifier(vbasoftware_database, modifier, opts = {})
      data, _status_code, _headers = update_batch_modifier_with_http_info(vbasoftware_database, modifier, opts)
      data
    end

    # Create or Update Batch Modifier
    # Create or Update multiple Modifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param modifier [Array<Modifier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_modifier_with_http_info(vbasoftware_database, modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.update_batch_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.update_batch_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling ModifiersApi.update_batch_modifier"
      end
      # resource path
      local_var_path = '/modifiers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.update_batch_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#update_batch_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Modifier
    # Updates a specific Modifier.
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param modifier [Modifier] 
    # @param [Hash] opts the optional parameters
    # @return [ModifierVBAResponse]
    def update_modifier(vbasoftware_database, modifier_code, modifier, opts = {})
      data, _status_code, _headers = update_modifier_with_http_info(vbasoftware_database, modifier_code, modifier, opts)
      data
    end

    # Update Modifier
    # Updates a specific Modifier.
    # @param vbasoftware_database [String] Target database
    # @param modifier_code [String] Modifier Code
    # @param modifier [Modifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModifierVBAResponse, Integer, Hash)>] ModifierVBAResponse data, response status code and response headers
    def update_modifier_with_http_info(vbasoftware_database, modifier_code, modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModifiersApi.update_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ModifiersApi.update_modifier"
      end
      # verify the required parameter 'modifier_code' is set
      if @api_client.config.client_side_validation && modifier_code.nil?
        fail ArgumentError, "Missing the required parameter 'modifier_code' when calling ModifiersApi.update_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling ModifiersApi.update_modifier"
      end
      # resource path
      local_var_path = '/modifiers/{modifierCode}'.sub('{' + 'modifierCode' + '}', CGI.escape(modifier_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'ModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ModifiersApi.update_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModifiersApi#update_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
