=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NetworkProcedureClustersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NetworkProcedureCluster
    # Creates a new NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param network_procedure_cluster [NetworkProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [NetworkProcedureClusterVBAResponse]
    def create_network_procedure_cluster(vbasoftware_database, network_id, network_procedure_cluster, opts = {})
      data, _status_code, _headers = create_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, network_procedure_cluster, opts)
      data
    end

    # Create NetworkProcedureCluster
    # Creates a new NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param network_procedure_cluster [NetworkProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkProcedureClusterVBAResponse, Integer, Hash)>] NetworkProcedureClusterVBAResponse data, response status code and response headers
    def create_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, network_procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.create_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.create_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.create_network_procedure_cluster"
      end
      # verify the required parameter 'network_procedure_cluster' is set
      if @api_client.config.client_side_validation && network_procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'network_procedure_cluster' when calling NetworkProcedureClustersApi.create_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_procedure_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.create_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#create_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NetworkProcedureCluster
    # Deletes an NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_network_procedure_cluster(vbasoftware_database, network_id, procedure_cluster, effective_date, opts = {})
      delete_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, opts)
      nil
    end

    # Delete NetworkProcedureCluster
    # Deletes an NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.delete_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.delete_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.delete_network_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling NetworkProcedureClustersApi.delete_network_procedure_cluster"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling NetworkProcedureClustersApi.delete_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters/{procedureCluster}/{effectiveDate}'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.delete_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#delete_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NetworkProcedureCluster
    # Gets NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [NetworkProcedureClusterVBAResponse]
    def get_network_procedure_cluster(vbasoftware_database, network_id, procedure_cluster, effective_date, opts = {})
      data, _status_code, _headers = get_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, opts)
      data
    end

    # Get NetworkProcedureCluster
    # Gets NetworkProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkProcedureClusterVBAResponse, Integer, Hash)>] NetworkProcedureClusterVBAResponse data, response status code and response headers
    def get_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.get_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.get_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.get_network_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling NetworkProcedureClustersApi.get_network_procedure_cluster"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling NetworkProcedureClustersApi.get_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters/{procedureCluster}/{effectiveDate}'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.get_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#get_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NetworkProcedureCluster
    # Lists all NetworkProcedureCluster for the given networkID
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [NetworkProcedureClusterListVBAResponse]
    def list_network_procedure_cluster(vbasoftware_database, network_id, opts = {})
      data, _status_code, _headers = list_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, opts)
      data
    end

    # List NetworkProcedureCluster
    # Lists all NetworkProcedureCluster for the given networkID
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(NetworkProcedureClusterListVBAResponse, Integer, Hash)>] NetworkProcedureClusterListVBAResponse data, response status code and response headers
    def list_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.list_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.list_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.list_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkProcedureClusterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.list_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#list_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NetworkProcedureCluster
    # Create or Update multiple NetworkProcedureCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param network_procedure_cluster [Array<NetworkProcedureCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_network_procedure_cluster(vbasoftware_database, network_id, network_procedure_cluster, opts = {})
      data, _status_code, _headers = update_batch_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, network_procedure_cluster, opts)
      data
    end

    # Create or Update Batch NetworkProcedureCluster
    # Create or Update multiple NetworkProcedureCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param network_procedure_cluster [Array<NetworkProcedureCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, network_procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.update_batch_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.update_batch_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.update_batch_network_procedure_cluster"
      end
      # verify the required parameter 'network_procedure_cluster' is set
      if @api_client.config.client_side_validation && network_procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'network_procedure_cluster' when calling NetworkProcedureClustersApi.update_batch_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters-batch'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_procedure_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.update_batch_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#update_batch_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NetworkProcedureCluster
    # Updates a specific NetworkProcedureCluster.
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param network_procedure_cluster [NetworkProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [NetworkProcedureClusterVBAResponse]
    def update_network_procedure_cluster(vbasoftware_database, network_id, procedure_cluster, effective_date, network_procedure_cluster, opts = {})
      data, _status_code, _headers = update_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, network_procedure_cluster, opts)
      data
    end

    # Update NetworkProcedureCluster
    # Updates a specific NetworkProcedureCluster.
    # @param vbasoftware_database [String] Target database
    # @param network_id [String] Network ID
    # @param procedure_cluster [String] Procedure Cluster
    # @param effective_date [Time] Effective Date
    # @param network_procedure_cluster [NetworkProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkProcedureClusterVBAResponse, Integer, Hash)>] NetworkProcedureClusterVBAResponse data, response status code and response headers
    def update_network_procedure_cluster_with_http_info(vbasoftware_database, network_id, procedure_cluster, effective_date, network_procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkProcedureClustersApi.update_network_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkProcedureClustersApi.update_network_procedure_cluster"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling NetworkProcedureClustersApi.update_network_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling NetworkProcedureClustersApi.update_network_procedure_cluster"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling NetworkProcedureClustersApi.update_network_procedure_cluster"
      end
      # verify the required parameter 'network_procedure_cluster' is set
      if @api_client.config.client_side_validation && network_procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'network_procedure_cluster' when calling NetworkProcedureClustersApi.update_network_procedure_cluster"
      end
      # resource path
      local_var_path = '/networks/{networkID}/procedure-clusters/{procedureCluster}/{effectiveDate}'.sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_procedure_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkProcedureClustersApi.update_network_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkProcedureClustersApi#update_network_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
