=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NetworkTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NetworkType
    # Creates a new NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [NetworkType] 
    # @param [Hash] opts the optional parameters
    # @return [NetworkTypeVBAResponse]
    def create_network_type(vbasoftware_database, network_type, opts = {})
      data, _status_code, _headers = create_network_type_with_http_info(vbasoftware_database, network_type, opts)
      data
    end

    # Create NetworkType
    # Creates a new NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [NetworkType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkTypeVBAResponse, Integer, Hash)>] NetworkTypeVBAResponse data, response status code and response headers
    def create_network_type_with_http_info(vbasoftware_database, network_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.create_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.create_network_type"
      end
      # verify the required parameter 'network_type' is set
      if @api_client.config.client_side_validation && network_type.nil?
        fail ArgumentError, "Missing the required parameter 'network_type' when calling NetworkTypesApi.create_network_type"
      end
      # resource path
      local_var_path = '/network-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_type)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.create_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#create_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NetworkType
    # Deletes an NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_network_type(vbasoftware_database, network_type, opts = {})
      delete_network_type_with_http_info(vbasoftware_database, network_type, opts)
      nil
    end

    # Delete NetworkType
    # Deletes an NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_network_type_with_http_info(vbasoftware_database, network_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.delete_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.delete_network_type"
      end
      # verify the required parameter 'network_type' is set
      if @api_client.config.client_side_validation && network_type.nil?
        fail ArgumentError, "Missing the required parameter 'network_type' when calling NetworkTypesApi.delete_network_type"
      end
      # resource path
      local_var_path = '/network-types/{networkType}'.sub('{' + 'networkType' + '}', CGI.escape(network_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.delete_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#delete_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NetworkType
    # Gets NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param [Hash] opts the optional parameters
    # @return [NetworkTypeVBAResponse]
    def get_network_type(vbasoftware_database, network_type, opts = {})
      data, _status_code, _headers = get_network_type_with_http_info(vbasoftware_database, network_type, opts)
      data
    end

    # Get NetworkType
    # Gets NetworkType
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkTypeVBAResponse, Integer, Hash)>] NetworkTypeVBAResponse data, response status code and response headers
    def get_network_type_with_http_info(vbasoftware_database, network_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.get_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.get_network_type"
      end
      # verify the required parameter 'network_type' is set
      if @api_client.config.client_side_validation && network_type.nil?
        fail ArgumentError, "Missing the required parameter 'network_type' when calling NetworkTypesApi.get_network_type"
      end
      # resource path
      local_var_path = '/network-types/{networkType}'.sub('{' + 'networkType' + '}', CGI.escape(network_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.get_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#get_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NetworkType
    # Lists all NetworkType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [NetworkTypeListVBAResponse]
    def list_network_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_network_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List NetworkType
    # Lists all NetworkType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(NetworkTypeListVBAResponse, Integer, Hash)>] NetworkTypeListVBAResponse data, response status code and response headers
    def list_network_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.list_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.list_network_type"
      end
      # resource path
      local_var_path = '/network-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.list_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#list_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NetworkType
    # Create or Update multiple NetworkType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param network_type [Array<NetworkType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_network_type(vbasoftware_database, network_type, opts = {})
      data, _status_code, _headers = update_batch_network_type_with_http_info(vbasoftware_database, network_type, opts)
      data
    end

    # Create or Update Batch NetworkType
    # Create or Update multiple NetworkType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param network_type [Array<NetworkType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_network_type_with_http_info(vbasoftware_database, network_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.update_batch_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.update_batch_network_type"
      end
      # verify the required parameter 'network_type' is set
      if @api_client.config.client_side_validation && network_type.nil?
        fail ArgumentError, "Missing the required parameter 'network_type' when calling NetworkTypesApi.update_batch_network_type"
      end
      # resource path
      local_var_path = '/network-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.update_batch_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#update_batch_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NetworkType
    # Updates a specific NetworkType.
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param network_type2 [NetworkType] 
    # @param [Hash] opts the optional parameters
    # @return [NetworkTypeVBAResponse]
    def update_network_type(vbasoftware_database, network_type, network_type2, opts = {})
      data, _status_code, _headers = update_network_type_with_http_info(vbasoftware_database, network_type, network_type2, opts)
      data
    end

    # Update NetworkType
    # Updates a specific NetworkType.
    # @param vbasoftware_database [String] Target database
    # @param network_type [String] Network Type
    # @param network_type2 [NetworkType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkTypeVBAResponse, Integer, Hash)>] NetworkTypeVBAResponse data, response status code and response headers
    def update_network_type_with_http_info(vbasoftware_database, network_type, network_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkTypesApi.update_network_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NetworkTypesApi.update_network_type"
      end
      # verify the required parameter 'network_type' is set
      if @api_client.config.client_side_validation && network_type.nil?
        fail ArgumentError, "Missing the required parameter 'network_type' when calling NetworkTypesApi.update_network_type"
      end
      # verify the required parameter 'network_type2' is set
      if @api_client.config.client_side_validation && network_type2.nil?
        fail ArgumentError, "Missing the required parameter 'network_type2' when calling NetworkTypesApi.update_network_type"
      end
      # resource path
      local_var_path = '/network-types/{networkType}'.sub('{' + 'networkType' + '}', CGI.escape(network_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(network_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NetworkTypesApi.update_network_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkTypesApi#update_network_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
