=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NoteReferencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NoteReference
    # Creates a new NoteReference
    # @param vbasoftware_database [String] Target database
    # @param note_reference [NoteReference] 
    # @param [Hash] opts the optional parameters
    # @return [NoteReferenceVBAResponse]
    def create_note_reference(vbasoftware_database, note_reference, opts = {})
      data, _status_code, _headers = create_note_reference_with_http_info(vbasoftware_database, note_reference, opts)
      data
    end

    # Create NoteReference
    # Creates a new NoteReference
    # @param vbasoftware_database [String] Target database
    # @param note_reference [NoteReference] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteReferenceVBAResponse, Integer, Hash)>] NoteReferenceVBAResponse data, response status code and response headers
    def create_note_reference_with_http_info(vbasoftware_database, note_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.create_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.create_note_reference"
      end
      # verify the required parameter 'note_reference' is set
      if @api_client.config.client_side_validation && note_reference.nil?
        fail ArgumentError, "Missing the required parameter 'note_reference' when calling NoteReferencesApi.create_note_reference"
      end
      # resource path
      local_var_path = '/note-references'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.create_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#create_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NoteReference
    # Deletes an NoteReference
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_note_reference(vbasoftware_database, reference_key, opts = {})
      delete_note_reference_with_http_info(vbasoftware_database, reference_key, opts)
      nil
    end

    # Delete NoteReference
    # Deletes an NoteReference
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_note_reference_with_http_info(vbasoftware_database, reference_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.delete_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.delete_note_reference"
      end
      # verify the required parameter 'reference_key' is set
      if @api_client.config.client_side_validation && reference_key.nil?
        fail ArgumentError, "Missing the required parameter 'reference_key' when calling NoteReferencesApi.delete_note_reference"
      end
      # resource path
      local_var_path = '/note-references/{referenceKey}'.sub('{' + 'referenceKey' + '}', CGI.escape(reference_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.delete_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#delete_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NoteReference
    # Gets NoteReference
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param [Hash] opts the optional parameters
    # @return [NoteReferenceVBAResponse]
    def get_note_reference(vbasoftware_database, reference_key, opts = {})
      data, _status_code, _headers = get_note_reference_with_http_info(vbasoftware_database, reference_key, opts)
      data
    end

    # Get NoteReference
    # Gets NoteReference
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteReferenceVBAResponse, Integer, Hash)>] NoteReferenceVBAResponse data, response status code and response headers
    def get_note_reference_with_http_info(vbasoftware_database, reference_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.get_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.get_note_reference"
      end
      # verify the required parameter 'reference_key' is set
      if @api_client.config.client_side_validation && reference_key.nil?
        fail ArgumentError, "Missing the required parameter 'reference_key' when calling NoteReferencesApi.get_note_reference"
      end
      # resource path
      local_var_path = '/note-references/{referenceKey}'.sub('{' + 'referenceKey' + '}', CGI.escape(reference_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.get_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#get_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NoteReference
    # Lists all NoteReference for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [NoteReferenceListVBAResponse]
    def list_note_reference(vbasoftware_database, note_key, opts = {})
      data, _status_code, _headers = list_note_reference_with_http_info(vbasoftware_database, note_key, opts)
      data
    end

    # List NoteReference
    # Lists all NoteReference for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(NoteReferenceListVBAResponse, Integer, Hash)>] NoteReferenceListVBAResponse data, response status code and response headers
    def list_note_reference_with_http_info(vbasoftware_database, note_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.list_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.list_note_reference"
      end
      # verify the required parameter 'note_key' is set
      if @api_client.config.client_side_validation && note_key.nil?
        fail ArgumentError, "Missing the required parameter 'note_key' when calling NoteReferencesApi.list_note_reference"
      end
      # resource path
      local_var_path = '/note-data/{noteKey}/note-references'.sub('{' + 'noteKey' + '}', CGI.escape(note_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteReferenceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.list_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#list_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NoteReference
    # Create or Update multiple NoteReference at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_reference [Array<NoteReference>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_note_reference(vbasoftware_database, note_reference, opts = {})
      data, _status_code, _headers = update_batch_note_reference_with_http_info(vbasoftware_database, note_reference, opts)
      data
    end

    # Create or Update Batch NoteReference
    # Create or Update multiple NoteReference at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_reference [Array<NoteReference>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_note_reference_with_http_info(vbasoftware_database, note_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.update_batch_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.update_batch_note_reference"
      end
      # verify the required parameter 'note_reference' is set
      if @api_client.config.client_side_validation && note_reference.nil?
        fail ArgumentError, "Missing the required parameter 'note_reference' when calling NoteReferencesApi.update_batch_note_reference"
      end
      # resource path
      local_var_path = '/note-references-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.update_batch_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#update_batch_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NoteReference
    # Updates a specific NoteReference.
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param note_reference [NoteReference] 
    # @param [Hash] opts the optional parameters
    # @return [NoteReferenceVBAResponse]
    def update_note_reference(vbasoftware_database, reference_key, note_reference, opts = {})
      data, _status_code, _headers = update_note_reference_with_http_info(vbasoftware_database, reference_key, note_reference, opts)
      data
    end

    # Update NoteReference
    # Updates a specific NoteReference.
    # @param vbasoftware_database [String] Target database
    # @param reference_key [Integer] Reference Key
    # @param note_reference [NoteReference] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteReferenceVBAResponse, Integer, Hash)>] NoteReferenceVBAResponse data, response status code and response headers
    def update_note_reference_with_http_info(vbasoftware_database, reference_key, note_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteReferencesApi.update_note_reference ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteReferencesApi.update_note_reference"
      end
      # verify the required parameter 'reference_key' is set
      if @api_client.config.client_side_validation && reference_key.nil?
        fail ArgumentError, "Missing the required parameter 'reference_key' when calling NoteReferencesApi.update_note_reference"
      end
      # verify the required parameter 'note_reference' is set
      if @api_client.config.client_side_validation && note_reference.nil?
        fail ArgumentError, "Missing the required parameter 'note_reference' when calling NoteReferencesApi.update_note_reference"
      end
      # resource path
      local_var_path = '/note-references/{referenceKey}'.sub('{' + 'referenceKey' + '}', CGI.escape(reference_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_reference)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteReferenceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteReferencesApi.update_note_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteReferencesApi#update_note_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
