=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NoteSourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NoteSource
    # Creates a new NoteSource
    # @param vbasoftware_database [String] Target database
    # @param note_source [NoteSource] 
    # @param [Hash] opts the optional parameters
    # @return [NoteSourceVBAResponse]
    def create_note_source(vbasoftware_database, note_source, opts = {})
      data, _status_code, _headers = create_note_source_with_http_info(vbasoftware_database, note_source, opts)
      data
    end

    # Create NoteSource
    # Creates a new NoteSource
    # @param vbasoftware_database [String] Target database
    # @param note_source [NoteSource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteSourceVBAResponse, Integer, Hash)>] NoteSourceVBAResponse data, response status code and response headers
    def create_note_source_with_http_info(vbasoftware_database, note_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.create_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.create_note_source"
      end
      # verify the required parameter 'note_source' is set
      if @api_client.config.client_side_validation && note_source.nil?
        fail ArgumentError, "Missing the required parameter 'note_source' when calling NoteSourcesApi.create_note_source"
      end
      # resource path
      local_var_path = '/note-sources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_source)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.create_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#create_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NoteSource
    # Deletes an NoteSource
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_note_source(vbasoftware_database, source_key, opts = {})
      delete_note_source_with_http_info(vbasoftware_database, source_key, opts)
      nil
    end

    # Delete NoteSource
    # Deletes an NoteSource
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_note_source_with_http_info(vbasoftware_database, source_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.delete_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.delete_note_source"
      end
      # verify the required parameter 'source_key' is set
      if @api_client.config.client_side_validation && source_key.nil?
        fail ArgumentError, "Missing the required parameter 'source_key' when calling NoteSourcesApi.delete_note_source"
      end
      # resource path
      local_var_path = '/note-sources/{sourceKey}'.sub('{' + 'sourceKey' + '}', CGI.escape(source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.delete_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#delete_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NoteSource
    # Gets NoteSource
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param [Hash] opts the optional parameters
    # @return [NoteSourceVBAResponse]
    def get_note_source(vbasoftware_database, source_key, opts = {})
      data, _status_code, _headers = get_note_source_with_http_info(vbasoftware_database, source_key, opts)
      data
    end

    # Get NoteSource
    # Gets NoteSource
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteSourceVBAResponse, Integer, Hash)>] NoteSourceVBAResponse data, response status code and response headers
    def get_note_source_with_http_info(vbasoftware_database, source_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.get_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.get_note_source"
      end
      # verify the required parameter 'source_key' is set
      if @api_client.config.client_side_validation && source_key.nil?
        fail ArgumentError, "Missing the required parameter 'source_key' when calling NoteSourcesApi.get_note_source"
      end
      # resource path
      local_var_path = '/note-sources/{sourceKey}'.sub('{' + 'sourceKey' + '}', CGI.escape(source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.get_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#get_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NoteSource
    # Lists all NoteSource for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [NoteSourceListVBAResponse]
    def list_note_source(vbasoftware_database, note_key, opts = {})
      data, _status_code, _headers = list_note_source_with_http_info(vbasoftware_database, note_key, opts)
      data
    end

    # List NoteSource
    # Lists all NoteSource for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(NoteSourceListVBAResponse, Integer, Hash)>] NoteSourceListVBAResponse data, response status code and response headers
    def list_note_source_with_http_info(vbasoftware_database, note_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.list_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.list_note_source"
      end
      # verify the required parameter 'note_key' is set
      if @api_client.config.client_side_validation && note_key.nil?
        fail ArgumentError, "Missing the required parameter 'note_key' when calling NoteSourcesApi.list_note_source"
      end
      # resource path
      local_var_path = '/note-data/{noteKey}/note-sources'.sub('{' + 'noteKey' + '}', CGI.escape(note_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteSourceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.list_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#list_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NoteSource
    # Create or Update multiple NoteSource at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_source [Array<NoteSource>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_note_source(vbasoftware_database, note_source, opts = {})
      data, _status_code, _headers = update_batch_note_source_with_http_info(vbasoftware_database, note_source, opts)
      data
    end

    # Create or Update Batch NoteSource
    # Create or Update multiple NoteSource at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_source [Array<NoteSource>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_note_source_with_http_info(vbasoftware_database, note_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.update_batch_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.update_batch_note_source"
      end
      # verify the required parameter 'note_source' is set
      if @api_client.config.client_side_validation && note_source.nil?
        fail ArgumentError, "Missing the required parameter 'note_source' when calling NoteSourcesApi.update_batch_note_source"
      end
      # resource path
      local_var_path = '/note-sources-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_source)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.update_batch_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#update_batch_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NoteSource
    # Updates a specific NoteSource.
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param note_source [NoteSource] 
    # @param [Hash] opts the optional parameters
    # @return [NoteSourceVBAResponse]
    def update_note_source(vbasoftware_database, source_key, note_source, opts = {})
      data, _status_code, _headers = update_note_source_with_http_info(vbasoftware_database, source_key, note_source, opts)
      data
    end

    # Update NoteSource
    # Updates a specific NoteSource.
    # @param vbasoftware_database [String] Target database
    # @param source_key [Integer] Source Key
    # @param note_source [NoteSource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteSourceVBAResponse, Integer, Hash)>] NoteSourceVBAResponse data, response status code and response headers
    def update_note_source_with_http_info(vbasoftware_database, source_key, note_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteSourcesApi.update_note_source ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteSourcesApi.update_note_source"
      end
      # verify the required parameter 'source_key' is set
      if @api_client.config.client_side_validation && source_key.nil?
        fail ArgumentError, "Missing the required parameter 'source_key' when calling NoteSourcesApi.update_note_source"
      end
      # verify the required parameter 'note_source' is set
      if @api_client.config.client_side_validation && note_source.nil?
        fail ArgumentError, "Missing the required parameter 'note_source' when calling NoteSourcesApi.update_note_source"
      end
      # resource path
      local_var_path = '/note-sources/{sourceKey}'.sub('{' + 'sourceKey' + '}', CGI.escape(source_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_source)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteSourceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteSourcesApi.update_note_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteSourcesApi#update_note_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
