=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NoteCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NoteCategory
    # Creates a new NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [NoteCategory] 
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryVBAResponse]
    def create_note_category(vbasoftware_database, note_category, opts = {})
      data, _status_code, _headers = create_note_category_with_http_info(vbasoftware_database, note_category, opts)
      data
    end

    # Create NoteCategory
    # Creates a new NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [NoteCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryVBAResponse, Integer, Hash)>] NoteCategoryVBAResponse data, response status code and response headers
    def create_note_category_with_http_info(vbasoftware_database, note_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.create_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.create_note_category"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoriesApi.create_note_category"
      end
      # resource path
      local_var_path = '/note-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_category)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.create_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#create_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NoteCategory
    # Deletes an NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_note_category(vbasoftware_database, note_category, opts = {})
      delete_note_category_with_http_info(vbasoftware_database, note_category, opts)
      nil
    end

    # Delete NoteCategory
    # Deletes an NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_note_category_with_http_info(vbasoftware_database, note_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.delete_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.delete_note_category"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoriesApi.delete_note_category"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.delete_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#delete_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NoteCategory
    # Gets NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryVBAResponse]
    def get_note_category(vbasoftware_database, note_category, opts = {})
      data, _status_code, _headers = get_note_category_with_http_info(vbasoftware_database, note_category, opts)
      data
    end

    # Get NoteCategory
    # Gets NoteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryVBAResponse, Integer, Hash)>] NoteCategoryVBAResponse data, response status code and response headers
    def get_note_category_with_http_info(vbasoftware_database, note_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.get_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.get_note_category"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoriesApi.get_note_category"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.get_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#get_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NoteCategory
    # Lists all NoteCategory 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryListVBAResponse]
    def list_note_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_note_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List NoteCategory
    # Lists all NoteCategory 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryListVBAResponse, Integer, Hash)>] NoteCategoryListVBAResponse data, response status code and response headers
    def list_note_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.list_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.list_note_category"
      end
      # resource path
      local_var_path = '/note-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.list_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#list_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NoteCategory
    # Create or Update multiple NoteCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_category [Array<NoteCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_note_category(vbasoftware_database, note_category, opts = {})
      data, _status_code, _headers = update_batch_note_category_with_http_info(vbasoftware_database, note_category, opts)
      data
    end

    # Create or Update Batch NoteCategory
    # Create or Update multiple NoteCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_category [Array<NoteCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_note_category_with_http_info(vbasoftware_database, note_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.update_batch_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.update_batch_note_category"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoriesApi.update_batch_note_category"
      end
      # resource path
      local_var_path = '/note-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.update_batch_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#update_batch_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NoteCategory
    # Updates a specific NoteCategory.
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_category2 [NoteCategory] 
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryVBAResponse]
    def update_note_category(vbasoftware_database, note_category, note_category2, opts = {})
      data, _status_code, _headers = update_note_category_with_http_info(vbasoftware_database, note_category, note_category2, opts)
      data
    end

    # Update NoteCategory
    # Updates a specific NoteCategory.
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_category2 [NoteCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryVBAResponse, Integer, Hash)>] NoteCategoryVBAResponse data, response status code and response headers
    def update_note_category_with_http_info(vbasoftware_database, note_category, note_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoriesApi.update_note_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoriesApi.update_note_category"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoriesApi.update_note_category"
      end
      # verify the required parameter 'note_category2' is set
      if @api_client.config.client_side_validation && note_category2.nil?
        fail ArgumentError, "Missing the required parameter 'note_category2' when calling NoteCategoriesApi.update_note_category"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoriesApi.update_note_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoriesApi#update_note_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
