=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NoteCategoryTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NoteCategoryType
    # Creates a new NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryTypeVBAResponse]
    def create_note_category_type(vbasoftware_database, note_category, note_type, opts = {})
      data, _status_code, _headers = create_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts)
      data
    end

    # Create NoteCategoryType
    # Creates a new NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryTypeVBAResponse, Integer, Hash)>] NoteCategoryTypeVBAResponse data, response status code and response headers
    def create_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoryTypesApi.create_note_category_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoryTypesApi.create_note_category_type"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoryTypesApi.create_note_category_type"
      end
      # verify the required parameter 'note_type' is set
      if @api_client.config.client_side_validation && note_type.nil?
        fail ArgumentError, "Missing the required parameter 'note_type' when calling NoteCategoryTypesApi.create_note_category_type"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}/note-types/{noteType}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s)).sub('{' + 'noteType' + '}', CGI.escape(note_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoryTypesApi.create_note_category_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoryTypesApi#create_note_category_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NoteCategoryType
    # Deletes an NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_note_category_type(vbasoftware_database, note_category, note_type, opts = {})
      delete_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts)
      nil
    end

    # Delete NoteCategoryType
    # Deletes an NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoryTypesApi.delete_note_category_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoryTypesApi.delete_note_category_type"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoryTypesApi.delete_note_category_type"
      end
      # verify the required parameter 'note_type' is set
      if @api_client.config.client_side_validation && note_type.nil?
        fail ArgumentError, "Missing the required parameter 'note_type' when calling NoteCategoryTypesApi.delete_note_category_type"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}/note-types/{noteType}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s)).sub('{' + 'noteType' + '}', CGI.escape(note_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoryTypesApi.delete_note_category_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoryTypesApi#delete_note_category_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NoteCategoryType
    # Gets NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryTypeVBAResponse]
    def get_note_category_type(vbasoftware_database, note_category, note_type, opts = {})
      data, _status_code, _headers = get_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts)
      data
    end

    # Get NoteCategoryType
    # Gets NoteCategoryType
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_type [String] Note Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryTypeVBAResponse, Integer, Hash)>] NoteCategoryTypeVBAResponse data, response status code and response headers
    def get_note_category_type_with_http_info(vbasoftware_database, note_category, note_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoryTypesApi.get_note_category_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoryTypesApi.get_note_category_type"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoryTypesApi.get_note_category_type"
      end
      # verify the required parameter 'note_type' is set
      if @api_client.config.client_side_validation && note_type.nil?
        fail ArgumentError, "Missing the required parameter 'note_type' when calling NoteCategoryTypesApi.get_note_category_type"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}/note-types/{noteType}'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s)).sub('{' + 'noteType' + '}', CGI.escape(note_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoryTypesApi.get_note_category_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoryTypesApi#get_note_category_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NoteCategoryType
    # Lists all NoteCategoryType noteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [NoteCategoryTypeListVBAResponse]
    def list_note_category_type(vbasoftware_database, note_category, opts = {})
      data, _status_code, _headers = list_note_category_type_with_http_info(vbasoftware_database, note_category, opts)
      data
    end

    # List NoteCategoryType
    # Lists all NoteCategoryType noteCategory
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteCategoryTypeListVBAResponse, Integer, Hash)>] NoteCategoryTypeListVBAResponse data, response status code and response headers
    def list_note_category_type_with_http_info(vbasoftware_database, note_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoryTypesApi.list_note_category_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoryTypesApi.list_note_category_type"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoryTypesApi.list_note_category_type"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}/note-types'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteCategoryTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoryTypesApi.list_note_category_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoryTypesApi#list_note_category_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create multiple NoteCategoryType
    # Create multiple NoteCategoryType at once.  If the entity exists, an error message will be returned.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_category_type [Array<NoteCategoryType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_note_category_type(vbasoftware_database, note_category, note_category_type, opts = {})
      data, _status_code, _headers = update_batch_note_category_type_with_http_info(vbasoftware_database, note_category, note_category_type, opts)
      data
    end

    # Create multiple NoteCategoryType
    # Create multiple NoteCategoryType at once.  If the entity exists, an error message will be returned.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_category [String] Note Category
    # @param note_category_type [Array<NoteCategoryType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_note_category_type_with_http_info(vbasoftware_database, note_category, note_category_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteCategoryTypesApi.update_batch_note_category_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteCategoryTypesApi.update_batch_note_category_type"
      end
      # verify the required parameter 'note_category' is set
      if @api_client.config.client_side_validation && note_category.nil?
        fail ArgumentError, "Missing the required parameter 'note_category' when calling NoteCategoryTypesApi.update_batch_note_category_type"
      end
      # verify the required parameter 'note_category_type' is set
      if @api_client.config.client_side_validation && note_category_type.nil?
        fail ArgumentError, "Missing the required parameter 'note_category_type' when calling NoteCategoryTypesApi.update_batch_note_category_type"
      end
      # resource path
      local_var_path = '/note-categories/{noteCategory}/note-types-batch'.sub('{' + 'noteCategory' + '}', CGI.escape(note_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_category_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteCategoryTypesApi.update_batch_note_category_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteCategoryTypesApi#update_batch_note_category_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
