=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class NoteAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create NoteAttachment
    # Creates a new NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param note_attachment [NoteAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [NoteAttachmentVBAResponse]
    def create_note_attachment(vbasoftware_database, note_attachment, opts = {})
      data, _status_code, _headers = create_note_attachment_with_http_info(vbasoftware_database, note_attachment, opts)
      data
    end

    # Create NoteAttachment
    # Creates a new NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param note_attachment [NoteAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteAttachmentVBAResponse, Integer, Hash)>] NoteAttachmentVBAResponse data, response status code and response headers
    def create_note_attachment_with_http_info(vbasoftware_database, note_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.create_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.create_note_attachment"
      end
      # verify the required parameter 'note_attachment' is set
      if @api_client.config.client_side_validation && note_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'note_attachment' when calling NoteAttachmentsApi.create_note_attachment"
      end
      # resource path
      local_var_path = '/note-attachments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.create_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#create_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NoteAttachment
    # Deletes an NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_note_attachment(vbasoftware_database, attachment_key, opts = {})
      delete_note_attachment_with_http_info(vbasoftware_database, attachment_key, opts)
      nil
    end

    # Delete NoteAttachment
    # Deletes an NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_note_attachment_with_http_info(vbasoftware_database, attachment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.delete_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.delete_note_attachment"
      end
      # verify the required parameter 'attachment_key' is set
      if @api_client.config.client_side_validation && attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_key' when calling NoteAttachmentsApi.delete_note_attachment"
      end
      # resource path
      local_var_path = '/note-attachments/{attachmentKey}'.sub('{' + 'attachmentKey' + '}', CGI.escape(attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.delete_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#delete_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NoteAttachment
    # Gets NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param [Hash] opts the optional parameters
    # @return [NoteAttachmentVBAResponse]
    def get_note_attachment(vbasoftware_database, attachment_key, opts = {})
      data, _status_code, _headers = get_note_attachment_with_http_info(vbasoftware_database, attachment_key, opts)
      data
    end

    # Get NoteAttachment
    # Gets NoteAttachment
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteAttachmentVBAResponse, Integer, Hash)>] NoteAttachmentVBAResponse data, response status code and response headers
    def get_note_attachment_with_http_info(vbasoftware_database, attachment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.get_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.get_note_attachment"
      end
      # verify the required parameter 'attachment_key' is set
      if @api_client.config.client_side_validation && attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_key' when calling NoteAttachmentsApi.get_note_attachment"
      end
      # resource path
      local_var_path = '/note-attachments/{attachmentKey}'.sub('{' + 'attachmentKey' + '}', CGI.escape(attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.get_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#get_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NoteAttachment
    # Lists all NoteAttachment for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [NoteAttachmentListVBAResponse]
    def list_note_attachment(vbasoftware_database, note_key, opts = {})
      data, _status_code, _headers = list_note_attachment_with_http_info(vbasoftware_database, note_key, opts)
      data
    end

    # List NoteAttachment
    # Lists all NoteAttachment for the given noteKey
    # @param vbasoftware_database [String] Target database
    # @param note_key [Integer] Note Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(NoteAttachmentListVBAResponse, Integer, Hash)>] NoteAttachmentListVBAResponse data, response status code and response headers
    def list_note_attachment_with_http_info(vbasoftware_database, note_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.list_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.list_note_attachment"
      end
      # verify the required parameter 'note_key' is set
      if @api_client.config.client_side_validation && note_key.nil?
        fail ArgumentError, "Missing the required parameter 'note_key' when calling NoteAttachmentsApi.list_note_attachment"
      end
      # resource path
      local_var_path = '/note-data/{noteKey}/note-attachments'.sub('{' + 'noteKey' + '}', CGI.escape(note_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteAttachmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.list_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#list_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch NoteAttachment
    # Create or Update multiple NoteAttachment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_attachment [Array<NoteAttachment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_note_attachment(vbasoftware_database, note_attachment, opts = {})
      data, _status_code, _headers = update_batch_note_attachment_with_http_info(vbasoftware_database, note_attachment, opts)
      data
    end

    # Create or Update Batch NoteAttachment
    # Create or Update multiple NoteAttachment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param note_attachment [Array<NoteAttachment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_note_attachment_with_http_info(vbasoftware_database, note_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.update_batch_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.update_batch_note_attachment"
      end
      # verify the required parameter 'note_attachment' is set
      if @api_client.config.client_side_validation && note_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'note_attachment' when calling NoteAttachmentsApi.update_batch_note_attachment"
      end
      # resource path
      local_var_path = '/note-attachments-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.update_batch_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#update_batch_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update NoteAttachment
    # Updates a specific NoteAttachment.
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param note_attachment [NoteAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [NoteAttachmentVBAResponse]
    def update_note_attachment(vbasoftware_database, attachment_key, note_attachment, opts = {})
      data, _status_code, _headers = update_note_attachment_with_http_info(vbasoftware_database, attachment_key, note_attachment, opts)
      data
    end

    # Update NoteAttachment
    # Updates a specific NoteAttachment.
    # @param vbasoftware_database [String] Target database
    # @param attachment_key [Integer] Attachment Key
    # @param note_attachment [NoteAttachment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NoteAttachmentVBAResponse, Integer, Hash)>] NoteAttachmentVBAResponse data, response status code and response headers
    def update_note_attachment_with_http_info(vbasoftware_database, attachment_key, note_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteAttachmentsApi.update_note_attachment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling NoteAttachmentsApi.update_note_attachment"
      end
      # verify the required parameter 'attachment_key' is set
      if @api_client.config.client_side_validation && attachment_key.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_key' when calling NoteAttachmentsApi.update_note_attachment"
      end
      # verify the required parameter 'note_attachment' is set
      if @api_client.config.client_side_validation && note_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'note_attachment' when calling NoteAttachmentsApi.update_note_attachment"
      end
      # resource path
      local_var_path = '/note-attachments/{attachmentKey}'.sub('{' + 'attachmentKey' + '}', CGI.escape(attachment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(note_attachment)

      # return_type
      return_type = opts[:debug_return_type] || 'NoteAttachmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NoteAttachmentsApi.update_note_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteAttachmentsApi#update_note_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
