=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PayeesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Payee
    # Creates a new Payee
    # @param vbasoftware_database [String] Target database
    # @param payee [Payee] 
    # @param [Hash] opts the optional parameters
    # @return [PayeeVBAResponse]
    def create_payee(vbasoftware_database, payee, opts = {})
      data, _status_code, _headers = create_payee_with_http_info(vbasoftware_database, payee, opts)
      data
    end

    # Create Payee
    # Creates a new Payee
    # @param vbasoftware_database [String] Target database
    # @param payee [Payee] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayeeVBAResponse, Integer, Hash)>] PayeeVBAResponse data, response status code and response headers
    def create_payee_with_http_info(vbasoftware_database, payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.create_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.create_payee"
      end
      # verify the required parameter 'payee' is set
      if @api_client.config.client_side_validation && payee.nil?
        fail ArgumentError, "Missing the required parameter 'payee' when calling PayeesApi.create_payee"
      end
      # resource path
      local_var_path = '/payees'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payee)

      # return_type
      return_type = opts[:debug_return_type] || 'PayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.create_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#create_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Payee
    # Deletes an Payee
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_payee(vbasoftware_database, payee_id, opts = {})
      delete_payee_with_http_info(vbasoftware_database, payee_id, opts)
      nil
    end

    # Delete Payee
    # Deletes an Payee
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_payee_with_http_info(vbasoftware_database, payee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.delete_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.delete_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PayeesApi.delete_payee"
      end
      # resource path
      local_var_path = '/payees/{payeeID}'.sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.delete_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#delete_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payee
    # Gets Payee
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [PayeeVBAResponse]
    def get_payee(vbasoftware_database, payee_id, opts = {})
      data, _status_code, _headers = get_payee_with_http_info(vbasoftware_database, payee_id, opts)
      data
    end

    # Get Payee
    # Gets Payee
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayeeVBAResponse, Integer, Hash)>] PayeeVBAResponse data, response status code and response headers
    def get_payee_with_http_info(vbasoftware_database, payee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.get_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.get_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PayeesApi.get_payee"
      end
      # resource path
      local_var_path = '/payees/{payeeID}'.sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.get_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#get_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Payee
    # Lists all Payee
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PayeeListVBAResponse]
    def list_payee(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_payee_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Payee
    # Lists all Payee
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PayeeListVBAResponse, Integer, Hash)>] PayeeListVBAResponse data, response status code and response headers
    def list_payee_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.list_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.list_payee"
      end
      # resource path
      local_var_path = '/payees'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayeeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.list_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#list_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Payee
    # Create or Update multiple Payee at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payee [Array<Payee>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_payee(vbasoftware_database, payee, opts = {})
      data, _status_code, _headers = update_batch_payee_with_http_info(vbasoftware_database, payee, opts)
      data
    end

    # Create or Update Batch Payee
    # Create or Update multiple Payee at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payee [Array<Payee>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_payee_with_http_info(vbasoftware_database, payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.update_batch_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.update_batch_payee"
      end
      # verify the required parameter 'payee' is set
      if @api_client.config.client_side_validation && payee.nil?
        fail ArgumentError, "Missing the required parameter 'payee' when calling PayeesApi.update_batch_payee"
      end
      # resource path
      local_var_path = '/payees-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payee)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.update_batch_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#update_batch_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Payee
    # Updates a specific Payee.
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param payee [Payee] 
    # @param [Hash] opts the optional parameters
    # @return [PayeeVBAResponse]
    def update_payee(vbasoftware_database, payee_id, payee, opts = {})
      data, _status_code, _headers = update_payee_with_http_info(vbasoftware_database, payee_id, payee, opts)
      data
    end

    # Update Payee
    # Updates a specific Payee.
    # @param vbasoftware_database [String] Target database
    # @param payee_id [String] Payee ID
    # @param payee [Payee] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayeeVBAResponse, Integer, Hash)>] PayeeVBAResponse data, response status code and response headers
    def update_payee_with_http_info(vbasoftware_database, payee_id, payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayeesApi.update_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayeesApi.update_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PayeesApi.update_payee"
      end
      # verify the required parameter 'payee' is set
      if @api_client.config.client_side_validation && payee.nil?
        fail ArgumentError, "Missing the required parameter 'payee' when calling PayeesApi.update_payee"
      end
      # resource path
      local_var_path = '/payees/{payeeID}'.sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payee)

      # return_type
      return_type = opts[:debug_return_type] || 'PayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayeesApi.update_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayeesApi#update_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
