=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PaymentMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PaymentMethod
    # Creates a new PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [PaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodVBAResponse]
    def create_payment_method(vbasoftware_database, payment_method, opts = {})
      data, _status_code, _headers = create_payment_method_with_http_info(vbasoftware_database, payment_method, opts)
      data
    end

    # Create PaymentMethod
    # Creates a new PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [PaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodVBAResponse, Integer, Hash)>] PaymentMethodVBAResponse data, response status code and response headers
    def create_payment_method_with_http_info(vbasoftware_database, payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.create_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.create_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PaymentMethodsApi.create_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.create_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#create_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PaymentMethod
    # Deletes an PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_payment_method(vbasoftware_database, payment_method, opts = {})
      delete_payment_method_with_http_info(vbasoftware_database, payment_method, opts)
      nil
    end

    # Delete PaymentMethod
    # Deletes an PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_payment_method_with_http_info(vbasoftware_database, payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.delete_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.delete_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PaymentMethodsApi.delete_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods/{Payment_Method}'.sub('{' + 'Payment_Method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.delete_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#delete_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PaymentMethod
    # Gets PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodVBAResponse]
    def get_payment_method(vbasoftware_database, payment_method, opts = {})
      data, _status_code, _headers = get_payment_method_with_http_info(vbasoftware_database, payment_method, opts)
      data
    end

    # Get PaymentMethod
    # Gets PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodVBAResponse, Integer, Hash)>] PaymentMethodVBAResponse data, response status code and response headers
    def get_payment_method_with_http_info(vbasoftware_database, payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.get_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.get_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PaymentMethodsApi.get_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods/{Payment_Method}'.sub('{' + 'Payment_Method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.get_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#get_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PaymentMethod
    # Lists all PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [PaymentMethodListVBAResponse]
    def list_payment_method(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_payment_method_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PaymentMethod
    # Lists all PaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(PaymentMethodListVBAResponse, Integer, Hash)>] PaymentMethodListVBAResponse data, response status code and response headers
    def list_payment_method_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.list_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.list_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.list_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#list_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Payment Methods by Subscriber
    # Based on the submitted Subscriber ID, list Payment Methods for that Subscribers latest enrollment and Billing Cycle.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodListVBAResponse]
    def list_payment_method_by_subscriber(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_payment_method_by_subscriber_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List Payment Methods by Subscriber
    # Based on the submitted Subscriber ID, list Payment Methods for that Subscribers latest enrollment and Billing Cycle.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodListVBAResponse, Integer, Hash)>] PaymentMethodListVBAResponse data, response status code and response headers
    def list_payment_method_by_subscriber_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.list_payment_method_by_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.list_payment_method_by_subscriber"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PaymentMethodsApi.list_payment_method_by_subscriber"
      end
      # resource path
      local_var_path = '/payment-methods-by-subscriber/{subscriberId}'.sub('{' + 'subscriberId' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.list_payment_method_by_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#list_payment_method_by_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PaymentMethod
    # Create or Update multiple PaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payment_method [Array<PaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_payment_method(vbasoftware_database, payment_method, opts = {})
      data, _status_code, _headers = update_batch_payment_method_with_http_info(vbasoftware_database, payment_method, opts)
      data
    end

    # Create or Update Batch PaymentMethod
    # Create or Update multiple PaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payment_method [Array<PaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_payment_method_with_http_info(vbasoftware_database, payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.update_batch_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.update_batch_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PaymentMethodsApi.update_batch_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.update_batch_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#update_batch_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PaymentMethod
    # Updates a specific PaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param payment_method2 [PaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentMethodVBAResponse]
    def update_payment_method(vbasoftware_database, payment_method, payment_method2, opts = {})
      data, _status_code, _headers = update_payment_method_with_http_info(vbasoftware_database, payment_method, payment_method2, opts)
      data
    end

    # Update PaymentMethod
    # Updates a specific PaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param payment_method [String] Payment Method
    # @param payment_method2 [PaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentMethodVBAResponse, Integer, Hash)>] PaymentMethodVBAResponse data, response status code and response headers
    def update_payment_method_with_http_info(vbasoftware_database, payment_method, payment_method2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentMethodsApi.update_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PaymentMethodsApi.update_payment_method"
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling PaymentMethodsApi.update_payment_method"
      end
      # verify the required parameter 'payment_method2' is set
      if @api_client.config.client_side_validation && payment_method2.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method2' when calling PaymentMethodsApi.update_payment_method"
      end
      # resource path
      local_var_path = '/payment-methods/{Payment_Method}'.sub('{' + 'Payment_Method' + '}', CGI.escape(payment_method.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_method2)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentMethodsApi.update_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentMethodsApi#update_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
