=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PayorReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PayorReport
    # Creates a new PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_report [PayorReport] 
    # @param [Hash] opts the optional parameters
    # @return [PayorReportVBAResponse]
    def create_payor_report(vbasoftware_database, payor_id, payor_report, opts = {})
      data, _status_code, _headers = create_payor_report_with_http_info(vbasoftware_database, payor_id, payor_report, opts)
      data
    end

    # Create PayorReport
    # Creates a new PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_report [PayorReport] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayorReportVBAResponse, Integer, Hash)>] PayorReportVBAResponse data, response status code and response headers
    def create_payor_report_with_http_info(vbasoftware_database, payor_id, payor_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorReportsApi.create_payor_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorReportsApi.create_payor_report"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorReportsApi.create_payor_report"
      end
      # verify the required parameter 'payor_report' is set
      if @api_client.config.client_side_validation && payor_report.nil?
        fail ArgumentError, "Missing the required parameter 'payor_report' when calling PayorReportsApi.create_payor_report"
      end
      # resource path
      local_var_path = '/payors/{payorID}/reports'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payor_report)

      # return_type
      return_type = opts[:debug_return_type] || 'PayorReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorReportsApi.create_payor_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorReportsApi#create_payor_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PayorReport
    # Deletes an PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_payor_report(vbasoftware_database, payor_id, report_definition_key, opts = {})
      delete_payor_report_with_http_info(vbasoftware_database, payor_id, report_definition_key, opts)
      nil
    end

    # Delete PayorReport
    # Deletes an PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_payor_report_with_http_info(vbasoftware_database, payor_id, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorReportsApi.delete_payor_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorReportsApi.delete_payor_report"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorReportsApi.delete_payor_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling PayorReportsApi.delete_payor_report"
      end
      # resource path
      local_var_path = '/payors/{payorID}/reports/{reportDefinitionKey}'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorReportsApi.delete_payor_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorReportsApi#delete_payor_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PayorReport
    # Gets PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [PayorReportVBAResponse]
    def get_payor_report(vbasoftware_database, payor_id, report_definition_key, opts = {})
      data, _status_code, _headers = get_payor_report_with_http_info(vbasoftware_database, payor_id, report_definition_key, opts)
      data
    end

    # Get PayorReport
    # Gets PayorReport
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayorReportVBAResponse, Integer, Hash)>] PayorReportVBAResponse data, response status code and response headers
    def get_payor_report_with_http_info(vbasoftware_database, payor_id, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorReportsApi.get_payor_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorReportsApi.get_payor_report"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorReportsApi.get_payor_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling PayorReportsApi.get_payor_report"
      end
      # resource path
      local_var_path = '/payors/{payorID}/reports/{reportDefinitionKey}'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayorReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorReportsApi.get_payor_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorReportsApi#get_payor_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PayorReport
    # Lists all PayorReport for the given payorID
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PayorReportListVBAResponse]
    def list_payor_report(vbasoftware_database, payor_id, opts = {})
      data, _status_code, _headers = list_payor_report_with_http_info(vbasoftware_database, payor_id, opts)
      data
    end

    # List PayorReport
    # Lists all PayorReport for the given payorID
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PayorReportListVBAResponse, Integer, Hash)>] PayorReportListVBAResponse data, response status code and response headers
    def list_payor_report_with_http_info(vbasoftware_database, payor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorReportsApi.list_payor_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorReportsApi.list_payor_report"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorReportsApi.list_payor_report"
      end
      # resource path
      local_var_path = '/payors/{payorID}/reports'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayorReportListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorReportsApi.list_payor_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorReportsApi#list_payor_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PayorReport
    # Create or Update multiple PayorReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_report [Array<PayorReport>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_payor_report(vbasoftware_database, payor_id, payor_report, opts = {})
      data, _status_code, _headers = update_batch_payor_report_with_http_info(vbasoftware_database, payor_id, payor_report, opts)
      data
    end

    # Create or Update Batch PayorReport
    # Create or Update multiple PayorReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_report [Array<PayorReport>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_payor_report_with_http_info(vbasoftware_database, payor_id, payor_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorReportsApi.update_batch_payor_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorReportsApi.update_batch_payor_report"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorReportsApi.update_batch_payor_report"
      end
      # verify the required parameter 'payor_report' is set
      if @api_client.config.client_side_validation && payor_report.nil?
        fail ArgumentError, "Missing the required parameter 'payor_report' when calling PayorReportsApi.update_batch_payor_report"
      end
      # resource path
      local_var_path = '/payors/{payorID}/reports-batch'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payor_report)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorReportsApi.update_batch_payor_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorReportsApi#update_batch_payor_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
