=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PayorFiltersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PayorFilter
    # Creates a new PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter [PayorFilter] 
    # @param [Hash] opts the optional parameters
    # @return [PayorFilterVBAResponse]
    def create_payor_filter(vbasoftware_database, payor_id, payor_filter, opts = {})
      data, _status_code, _headers = create_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter, opts)
      data
    end

    # Create PayorFilter
    # Creates a new PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter [PayorFilter] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayorFilterVBAResponse, Integer, Hash)>] PayorFilterVBAResponse data, response status code and response headers
    def create_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.create_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.create_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.create_payor_filter"
      end
      # verify the required parameter 'payor_filter' is set
      if @api_client.config.client_side_validation && payor_filter.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter' when calling PayorFiltersApi.create_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payor_filter)

      # return_type
      return_type = opts[:debug_return_type] || 'PayorFilterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.create_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#create_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PayorFilter
    # Deletes an PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_payor_filter(vbasoftware_database, payor_id, payor_filter_key, opts = {})
      delete_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, opts)
      nil
    end

    # Delete PayorFilter
    # Deletes an PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.delete_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.delete_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.delete_payor_filter"
      end
      # verify the required parameter 'payor_filter_key' is set
      if @api_client.config.client_side_validation && payor_filter_key.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter_key' when calling PayorFiltersApi.delete_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters/{payorFilterKey}'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s)).sub('{' + 'payorFilterKey' + '}', CGI.escape(payor_filter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.delete_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#delete_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PayorFilter
    # Gets PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param [Hash] opts the optional parameters
    # @return [PayorFilterVBAResponse]
    def get_payor_filter(vbasoftware_database, payor_id, payor_filter_key, opts = {})
      data, _status_code, _headers = get_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, opts)
      data
    end

    # Get PayorFilter
    # Gets PayorFilter
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayorFilterVBAResponse, Integer, Hash)>] PayorFilterVBAResponse data, response status code and response headers
    def get_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.get_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.get_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.get_payor_filter"
      end
      # verify the required parameter 'payor_filter_key' is set
      if @api_client.config.client_side_validation && payor_filter_key.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter_key' when calling PayorFiltersApi.get_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters/{payorFilterKey}'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s)).sub('{' + 'payorFilterKey' + '}', CGI.escape(payor_filter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayorFilterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.get_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#get_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PayorFilter
    # Lists all PayorFilter for the given payorID
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PayorFilterListVBAResponse]
    def list_payor_filter(vbasoftware_database, payor_id, opts = {})
      data, _status_code, _headers = list_payor_filter_with_http_info(vbasoftware_database, payor_id, opts)
      data
    end

    # List PayorFilter
    # Lists all PayorFilter for the given payorID
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PayorFilterListVBAResponse, Integer, Hash)>] PayorFilterListVBAResponse data, response status code and response headers
    def list_payor_filter_with_http_info(vbasoftware_database, payor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.list_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.list_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.list_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayorFilterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.list_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#list_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PayorFilter
    # Create or Update multiple PayorFilter at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter [Array<PayorFilter>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_payor_filter(vbasoftware_database, payor_id, payor_filter, opts = {})
      data, _status_code, _headers = update_batch_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter, opts)
      data
    end

    # Create or Update Batch PayorFilter
    # Create or Update multiple PayorFilter at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter [Array<PayorFilter>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.update_batch_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.update_batch_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.update_batch_payor_filter"
      end
      # verify the required parameter 'payor_filter' is set
      if @api_client.config.client_side_validation && payor_filter.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter' when calling PayorFiltersApi.update_batch_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters-batch'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payor_filter)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.update_batch_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#update_batch_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PayorFilter
    # Updates a specific PayorFilter.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param payor_filter [PayorFilter] 
    # @param [Hash] opts the optional parameters
    # @return [PayorFilterVBAResponse]
    def update_payor_filter(vbasoftware_database, payor_id, payor_filter_key, payor_filter, opts = {})
      data, _status_code, _headers = update_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, payor_filter, opts)
      data
    end

    # Update PayorFilter
    # Updates a specific PayorFilter.
    # @param vbasoftware_database [String] Target database
    # @param payor_id [String] Payor ID
    # @param payor_filter_key [Integer] PayorFilter Key
    # @param payor_filter [PayorFilter] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayorFilterVBAResponse, Integer, Hash)>] PayorFilterVBAResponse data, response status code and response headers
    def update_payor_filter_with_http_info(vbasoftware_database, payor_id, payor_filter_key, payor_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayorFiltersApi.update_payor_filter ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PayorFiltersApi.update_payor_filter"
      end
      # verify the required parameter 'payor_id' is set
      if @api_client.config.client_side_validation && payor_id.nil?
        fail ArgumentError, "Missing the required parameter 'payor_id' when calling PayorFiltersApi.update_payor_filter"
      end
      # verify the required parameter 'payor_filter_key' is set
      if @api_client.config.client_side_validation && payor_filter_key.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter_key' when calling PayorFiltersApi.update_payor_filter"
      end
      # verify the required parameter 'payor_filter' is set
      if @api_client.config.client_side_validation && payor_filter.nil?
        fail ArgumentError, "Missing the required parameter 'payor_filter' when calling PayorFiltersApi.update_payor_filter"
      end
      # resource path
      local_var_path = '/payors/{payorID}/filters/{payorFilterKey}'.sub('{' + 'payorID' + '}', CGI.escape(payor_id.to_s)).sub('{' + 'payorFilterKey' + '}', CGI.escape(payor_filter_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payor_filter)

      # return_type
      return_type = opts[:debug_return_type] || 'PayorFilterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayorFiltersApi.update_payor_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayorFiltersApi#update_payor_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
