=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PBMTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PBMType
    # Creates a new PBMType
    # @param vbasoftware_database [String] Target database
    # @param pbm_type [PBMType] 
    # @param [Hash] opts the optional parameters
    # @return [PBMTypeVBAResponse]
    def create_pbm_type(vbasoftware_database, pbm_type, opts = {})
      data, _status_code, _headers = create_pbm_type_with_http_info(vbasoftware_database, pbm_type, opts)
      data
    end

    # Create PBMType
    # Creates a new PBMType
    # @param vbasoftware_database [String] Target database
    # @param pbm_type [PBMType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PBMTypeVBAResponse, Integer, Hash)>] PBMTypeVBAResponse data, response status code and response headers
    def create_pbm_type_with_http_info(vbasoftware_database, pbm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.create_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.create_pbm_type"
      end
      # verify the required parameter 'pbm_type' is set
      if @api_client.config.client_side_validation && pbm_type.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_type' when calling PBMTypesApi.create_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pbm_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PBMTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.create_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#create_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PBMType
    # Deletes an PBMType
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_pbm_type(vbasoftware_database, p_bm_type, opts = {})
      delete_pbm_type_with_http_info(vbasoftware_database, p_bm_type, opts)
      nil
    end

    # Delete PBMType
    # Deletes an PBMType
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_pbm_type_with_http_info(vbasoftware_database, p_bm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.delete_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.delete_pbm_type"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PBMTypesApi.delete_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types/{pBMType}'.sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.delete_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#delete_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PBMType
    # Gets PBMType
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [PBMTypeVBAResponse]
    def get_pbm_type(vbasoftware_database, p_bm_type, opts = {})
      data, _status_code, _headers = get_pbm_type_with_http_info(vbasoftware_database, p_bm_type, opts)
      data
    end

    # Get PBMType
    # Gets PBMType
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PBMTypeVBAResponse, Integer, Hash)>] PBMTypeVBAResponse data, response status code and response headers
    def get_pbm_type_with_http_info(vbasoftware_database, p_bm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.get_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.get_pbm_type"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PBMTypesApi.get_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types/{pBMType}'.sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PBMTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.get_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#get_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PBMType
    # Lists all PBMType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [PBMTypeListVBAResponse]
    def list_pbm_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_pbm_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PBMType
    # Lists all PBMType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(PBMTypeListVBAResponse, Integer, Hash)>] PBMTypeListVBAResponse data, response status code and response headers
    def list_pbm_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.list_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.list_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PBMTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.list_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#list_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PBMType
    # Create or Update multiple PBMType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param pbm_type [Array<PBMType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_pbm_type(vbasoftware_database, pbm_type, opts = {})
      data, _status_code, _headers = update_batch_pbm_type_with_http_info(vbasoftware_database, pbm_type, opts)
      data
    end

    # Create or Update Batch PBMType
    # Create or Update multiple PBMType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param pbm_type [Array<PBMType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_pbm_type_with_http_info(vbasoftware_database, pbm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.update_batch_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.update_batch_pbm_type"
      end
      # verify the required parameter 'pbm_type' is set
      if @api_client.config.client_side_validation && pbm_type.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_type' when calling PBMTypesApi.update_batch_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pbm_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.update_batch_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#update_batch_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PBMType
    # Updates a specific PBMType.
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param pbm_type [PBMType] 
    # @param [Hash] opts the optional parameters
    # @return [PBMTypeVBAResponse]
    def update_pbm_type(vbasoftware_database, p_bm_type, pbm_type, opts = {})
      data, _status_code, _headers = update_pbm_type_with_http_info(vbasoftware_database, p_bm_type, pbm_type, opts)
      data
    end

    # Update PBMType
    # Updates a specific PBMType.
    # @param vbasoftware_database [String] Target database
    # @param p_bm_type [String] PBM Type
    # @param pbm_type [PBMType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PBMTypeVBAResponse, Integer, Hash)>] PBMTypeVBAResponse data, response status code and response headers
    def update_pbm_type_with_http_info(vbasoftware_database, p_bm_type, pbm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PBMTypesApi.update_pbm_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PBMTypesApi.update_pbm_type"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PBMTypesApi.update_pbm_type"
      end
      # verify the required parameter 'pbm_type' is set
      if @api_client.config.client_side_validation && pbm_type.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_type' when calling PBMTypesApi.update_pbm_type"
      end
      # resource path
      local_var_path = '/pbm-types/{pBMType}'.sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pbm_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PBMTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PBMTypesApi.update_pbm_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PBMTypesApi#update_pbm_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
