=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanDisabilityLimitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create DisabilityPlanLimit
    # Creates a new DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit [DisabilityPlanLimit] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityPlanLimitVBAResponse]
    def create_disability_plan_limit(vbasoftware_database, plan_id, disability_plan_limit, opts = {})
      data, _status_code, _headers = create_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit, opts)
      data
    end

    # Create DisabilityPlanLimit
    # Creates a new DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit [DisabilityPlanLimit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityPlanLimitVBAResponse, Integer, Hash)>] DisabilityPlanLimitVBAResponse data, response status code and response headers
    def create_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.create_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.create_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.create_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit' is set
      if @api_client.config.client_side_validation && disability_plan_limit.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit' when calling PlanDisabilityLimitsApi.create_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_plan_limit)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityPlanLimitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.create_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#create_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete DisabilityPlanLimit
    # Deletes an DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_disability_plan_limit(vbasoftware_database, plan_id, disability_plan_limit_key, opts = {})
      delete_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, opts)
      nil
    end

    # Delete DisabilityPlanLimit
    # Deletes an DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.delete_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.delete_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.delete_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit_key' is set
      if @api_client.config.client_side_validation && disability_plan_limit_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit_key' when calling PlanDisabilityLimitsApi.delete_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits/{disabilityPlanLimitKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'disabilityPlanLimitKey' + '}', CGI.escape(disability_plan_limit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.delete_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#delete_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DisabilityPlanLimit
    # Gets DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param [Hash] opts the optional parameters
    # @return [DisabilityPlanLimitVBAResponse]
    def get_disability_plan_limit(vbasoftware_database, plan_id, disability_plan_limit_key, opts = {})
      data, _status_code, _headers = get_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, opts)
      data
    end

    # Get DisabilityPlanLimit
    # Gets DisabilityPlanLimit
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityPlanLimitVBAResponse, Integer, Hash)>] DisabilityPlanLimitVBAResponse data, response status code and response headers
    def get_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.get_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.get_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.get_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit_key' is set
      if @api_client.config.client_side_validation && disability_plan_limit_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit_key' when calling PlanDisabilityLimitsApi.get_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits/{disabilityPlanLimitKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'disabilityPlanLimitKey' + '}', CGI.escape(disability_plan_limit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityPlanLimitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.get_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#get_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DisabilityPlanLimit
    # Lists all DisabilityPlanLimit for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [DisabilityPlanLimitListVBAResponse]
    def list_disability_plan_limit(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List DisabilityPlanLimit
    # Lists all DisabilityPlanLimit for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityPlanLimitListVBAResponse, Integer, Hash)>] DisabilityPlanLimitListVBAResponse data, response status code and response headers
    def list_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.list_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.list_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.list_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityPlanLimitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.list_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#list_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch DisabilityPlanLimit
    # Create or Update multiple DisabilityPlanLimit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit [Array<DisabilityPlanLimit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_disability_plan_limit(vbasoftware_database, plan_id, disability_plan_limit, opts = {})
      data, _status_code, _headers = update_batch_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit, opts)
      data
    end

    # Create or Update Batch DisabilityPlanLimit
    # Create or Update multiple DisabilityPlanLimit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit [Array<DisabilityPlanLimit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.update_batch_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.update_batch_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.update_batch_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit' is set
      if @api_client.config.client_side_validation && disability_plan_limit.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit' when calling PlanDisabilityLimitsApi.update_batch_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_plan_limit)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.update_batch_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#update_batch_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update DisabilityPlanLimit
    # Updates a specific DisabilityPlanLimit.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param disability_plan_limit [DisabilityPlanLimit] 
    # @param [Hash] opts the optional parameters
    # @return [DisabilityPlanLimitVBAResponse]
    def update_disability_plan_limit(vbasoftware_database, plan_id, disability_plan_limit_key, disability_plan_limit, opts = {})
      data, _status_code, _headers = update_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, disability_plan_limit, opts)
      data
    end

    # Update DisabilityPlanLimit
    # Updates a specific DisabilityPlanLimit.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param disability_plan_limit_key [Integer] DisabilityPlanLimit Key
    # @param disability_plan_limit [DisabilityPlanLimit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisabilityPlanLimitVBAResponse, Integer, Hash)>] DisabilityPlanLimitVBAResponse data, response status code and response headers
    def update_disability_plan_limit_with_http_info(vbasoftware_database, plan_id, disability_plan_limit_key, disability_plan_limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisabilityLimitsApi.update_disability_plan_limit ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisabilityLimitsApi.update_disability_plan_limit"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisabilityLimitsApi.update_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit_key' is set
      if @api_client.config.client_side_validation && disability_plan_limit_key.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit_key' when calling PlanDisabilityLimitsApi.update_disability_plan_limit"
      end
      # verify the required parameter 'disability_plan_limit' is set
      if @api_client.config.client_side_validation && disability_plan_limit.nil?
        fail ArgumentError, "Missing the required parameter 'disability_plan_limit' when calling PlanDisabilityLimitsApi.update_disability_plan_limit"
      end
      # resource path
      local_var_path = '/plans/{planID}/disability-limits/{disabilityPlanLimitKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'disabilityPlanLimitKey' + '}', CGI.escape(disability_plan_limit_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(disability_plan_limit)

      # return_type
      return_type = opts[:debug_return_type] || 'DisabilityPlanLimitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisabilityLimitsApi.update_disability_plan_limit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisabilityLimitsApi#update_disability_plan_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
