=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanProcedureAgeRestrictionModifiersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanProcedureAgeModifier
    # Creates a new PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier [PlanProcedureAgeModifier] 
    # @param [Hash] opts the optional parameters
    # @return [PlanProcedureAgeModifierVBAResponse]
    def create_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts = {})
      data, _status_code, _headers = create_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts)
      data
    end

    # Create PlanProcedureAgeModifier
    # Creates a new PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier [PlanProcedureAgeModifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanProcedureAgeModifierVBAResponse, Integer, Hash)>] PlanProcedureAgeModifierVBAResponse data, response status code and response headers
    def create_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier' when calling PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_procedure_age_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanProcedureAgeModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.create_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#create_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanProcedureAgeModifier
    # Deletes an PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts = {})
      delete_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts)
      nil
    end

    # Delete PlanProcedureAgeModifier
    # Deletes an PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier_key' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier_key' when calling PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers/{planProcedureAgeModifierKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s)).sub('{' + 'planProcedureAgeModifierKey' + '}', CGI.escape(plan_procedure_age_modifier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.delete_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#delete_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanProcedureAgeModifier
    # Gets PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param [Hash] opts the optional parameters
    # @return [PlanProcedureAgeModifierVBAResponse]
    def get_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts = {})
      data, _status_code, _headers = get_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts)
      data
    end

    # Get PlanProcedureAgeModifier
    # Gets PlanProcedureAgeModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanProcedureAgeModifierVBAResponse, Integer, Hash)>] PlanProcedureAgeModifierVBAResponse data, response status code and response headers
    def get_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier_key' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier_key' when calling PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers/{planProcedureAgeModifierKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s)).sub('{' + 'planProcedureAgeModifierKey' + '}', CGI.escape(plan_procedure_age_modifier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanProcedureAgeModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.get_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#get_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanProcedureAgeModifier
    # Lists all PlanProcedureAgeModifier for the given procedureAgeKey
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param [Hash] opts the optional parameters
    # @return [PlanProcedureAgeModifierListVBAResponse]
    def list_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, opts = {})
      data, _status_code, _headers = list_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, opts)
      data
    end

    # List PlanProcedureAgeModifier
    # Lists all PlanProcedureAgeModifier for the given procedureAgeKey
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanProcedureAgeModifierListVBAResponse, Integer, Hash)>] PlanProcedureAgeModifierListVBAResponse data, response status code and response headers
    def list_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.list_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.list_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.list_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.list_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanProcedureAgeModifierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.list_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#list_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanProcedureAgeModifier
    # Create or Update multiple PlanProcedureAgeModifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier [Array<PlanProcedureAgeModifier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts = {})
      data, _status_code, _headers = update_batch_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts)
      data
    end

    # Create or Update Batch PlanProcedureAgeModifier
    # Create or Update multiple PlanProcedureAgeModifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier [Array<PlanProcedureAgeModifier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier' when calling PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_procedure_age_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.update_batch_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#update_batch_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanProcedureAgeModifier
    # Updates a specific PlanProcedureAgeModifier.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param plan_procedure_age_modifier [PlanProcedureAgeModifier] 
    # @param [Hash] opts the optional parameters
    # @return [PlanProcedureAgeModifierVBAResponse]
    def update_plan_procedure_age_modifier(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, plan_procedure_age_modifier, opts = {})
      data, _status_code, _headers = update_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, plan_procedure_age_modifier, opts)
      data
    end

    # Update PlanProcedureAgeModifier
    # Updates a specific PlanProcedureAgeModifier.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param procedure_age_key [Integer] ProcedureAgeKey
    # @param plan_procedure_age_modifier_key [Integer] PlanProcedureAgeModifier Key
    # @param plan_procedure_age_modifier [PlanProcedureAgeModifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanProcedureAgeModifierVBAResponse, Integer, Hash)>] PlanProcedureAgeModifierVBAResponse data, response status code and response headers
    def update_plan_procedure_age_modifier_with_http_info(vbasoftware_database, plan_id, procedure_age_key, plan_procedure_age_modifier_key, plan_procedure_age_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier"
      end
      # verify the required parameter 'procedure_age_key' is set
      if @api_client.config.client_side_validation && procedure_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_age_key' when calling PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier_key' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier_key' when calling PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier"
      end
      # verify the required parameter 'plan_procedure_age_modifier' is set
      if @api_client.config.client_side_validation && plan_procedure_age_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_procedure_age_modifier' when calling PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/procedure-restrictions/{procedureAgeKey}/modifiers/{planProcedureAgeModifierKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'procedureAgeKey' + '}', CGI.escape(procedure_age_key.to_s)).sub('{' + 'planProcedureAgeModifierKey' + '}', CGI.escape(plan_procedure_age_modifier_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_procedure_age_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanProcedureAgeModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanProcedureAgeRestrictionModifiersApi.update_plan_procedure_age_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanProcedureAgeRestrictionModifiersApi#update_plan_procedure_age_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
