=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanType
    # Creates a new PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [PlanType] 
    # @param [Hash] opts the optional parameters
    # @return [PlanTypeVBAResponse]
    def create_plan_type(vbasoftware_database, plan_type, opts = {})
      data, _status_code, _headers = create_plan_type_with_http_info(vbasoftware_database, plan_type, opts)
      data
    end

    # Create PlanType
    # Creates a new PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [PlanType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanTypeVBAResponse, Integer, Hash)>] PlanTypeVBAResponse data, response status code and response headers
    def create_plan_type_with_http_info(vbasoftware_database, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.create_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.create_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling PlanTypesApi.create_plan_type"
      end
      # resource path
      local_var_path = '/plan-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.create_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#create_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanType
    # Deletes an PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_type(vbasoftware_database, plan_type, opts = {})
      delete_plan_type_with_http_info(vbasoftware_database, plan_type, opts)
      nil
    end

    # Delete PlanType
    # Deletes an PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_type_with_http_info(vbasoftware_database, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.delete_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.delete_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling PlanTypesApi.delete_plan_type"
      end
      # resource path
      local_var_path = '/plan-types/{planType}'.sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.delete_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#delete_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanType
    # Gets PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [PlanTypeVBAResponse]
    def get_plan_type(vbasoftware_database, plan_type, opts = {})
      data, _status_code, _headers = get_plan_type_with_http_info(vbasoftware_database, plan_type, opts)
      data
    end

    # Get PlanType
    # Gets PlanType
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanTypeVBAResponse, Integer, Hash)>] PlanTypeVBAResponse data, response status code and response headers
    def get_plan_type_with_http_info(vbasoftware_database, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.get_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.get_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling PlanTypesApi.get_plan_type"
      end
      # resource path
      local_var_path = '/plan-types/{planType}'.sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.get_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#get_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanType
    # Lists all PlanType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [PlanTypeListVBAResponse]
    def list_plan_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_plan_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PlanType
    # Lists all PlanType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanTypeListVBAResponse, Integer, Hash)>] PlanTypeListVBAResponse data, response status code and response headers
    def list_plan_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.list_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.list_plan_type"
      end
      # resource path
      local_var_path = '/plan-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.list_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#list_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanType
    # Create or Update multiple PlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_type [Array<PlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_type(vbasoftware_database, plan_type, opts = {})
      data, _status_code, _headers = update_batch_plan_type_with_http_info(vbasoftware_database, plan_type, opts)
      data
    end

    # Create or Update Batch PlanType
    # Create or Update multiple PlanType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_type [Array<PlanType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_type_with_http_info(vbasoftware_database, plan_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.update_batch_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.update_batch_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling PlanTypesApi.update_batch_plan_type"
      end
      # resource path
      local_var_path = '/plan-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.update_batch_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#update_batch_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanType
    # Updates a specific PlanType.
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param plan_type2 [PlanType] 
    # @param [Hash] opts the optional parameters
    # @return [PlanTypeVBAResponse]
    def update_plan_type(vbasoftware_database, plan_type, plan_type2, opts = {})
      data, _status_code, _headers = update_plan_type_with_http_info(vbasoftware_database, plan_type, plan_type2, opts)
      data
    end

    # Update PlanType
    # Updates a specific PlanType.
    # @param vbasoftware_database [String] Target database
    # @param plan_type [String] Plan Type
    # @param plan_type2 [PlanType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanTypeVBAResponse, Integer, Hash)>] PlanTypeVBAResponse data, response status code and response headers
    def update_plan_type_with_http_info(vbasoftware_database, plan_type, plan_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanTypesApi.update_plan_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanTypesApi.update_plan_type"
      end
      # verify the required parameter 'plan_type' is set
      if @api_client.config.client_side_validation && plan_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type' when calling PlanTypesApi.update_plan_type"
      end
      # verify the required parameter 'plan_type2' is set
      if @api_client.config.client_side_validation && plan_type2.nil?
        fail ArgumentError, "Missing the required parameter 'plan_type2' when calling PlanTypesApi.update_plan_type"
      end
      # resource path
      local_var_path = '/plan-types/{planType}'.sub('{' + 'planType' + '}', CGI.escape(plan_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanTypesApi.update_plan_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanTypesApi#update_plan_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
