=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitSpecialtiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenCodeSpecialty
    # Creates a new PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_specialty [PlanBenCodeSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeSpecialtyVBAResponse]
    def create_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts = {})
      data, _status_code, _headers = create_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts)
      data
    end

    # Create PlanBenCodeSpecialty
    # Creates a new PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_specialty [PlanBenCodeSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeSpecialtyVBAResponse, Integer, Hash)>] PlanBenCodeSpecialtyVBAResponse data, response status code and response headers
    def create_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_ben_code_specialty' is set
      if @api_client.config.client_side_validation && plan_ben_code_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_specialty' when calling PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.create_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#create_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenCodeSpecialty
    # Deletes an PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, specialty_code, opts = {})
      delete_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, opts)
      nil
    end

    # Delete PlanBenCodeSpecialty
    # Deletes an PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties/{specialtyCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.delete_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#delete_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenCodeSpecialty
    # Gets PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeSpecialtyVBAResponse]
    def get_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, specialty_code, opts = {})
      data, _status_code, _headers = get_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, opts)
      data
    end

    # Get PlanBenCodeSpecialty
    # Gets PlanBenCodeSpecialty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeSpecialtyVBAResponse, Integer, Hash)>] PlanBenCodeSpecialtyVBAResponse data, response status code and response headers
    def get_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties/{specialtyCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.get_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#get_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenCodeSpecialty
    # Lists all PlanBenCodeSpecialty for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeSpecialtyListVBAResponse]
    def list_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenCodeSpecialty
    # Lists all PlanBenCodeSpecialty for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeSpecialtyListVBAResponse, Integer, Hash)>] PlanBenCodeSpecialtyListVBAResponse data, response status code and response headers
    def list_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.list_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.list_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.list_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.list_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeSpecialtyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.list_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#list_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenCodeSpecialty
    # Create or Update multiple PlanBenCodeSpecialty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_specialty [Array<PlanBenCodeSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts = {})
      data, _status_code, _headers = update_batch_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts)
      data
    end

    # Create or Update Batch PlanBenCodeSpecialty
    # Create or Update multiple PlanBenCodeSpecialty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_specialty [Array<PlanBenCodeSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_ben_code_specialty' is set
      if @api_client.config.client_side_validation && plan_ben_code_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_specialty' when calling PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.update_batch_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#update_batch_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenCodeSpecialty
    # Updates a specific PlanBenCodeSpecialty.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param plan_ben_code_specialty [PlanBenCodeSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeSpecialtyVBAResponse]
    def update_plan_ben_code_specialty(vbasoftware_database, plan_id, benefit_code, specialty_code, plan_ben_code_specialty, opts = {})
      data, _status_code, _headers = update_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, plan_ben_code_specialty, opts)
      data
    end

    # Update PlanBenCodeSpecialty
    # Updates a specific PlanBenCodeSpecialty.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param specialty_code [String] Specialty Code
    # @param plan_ben_code_specialty [PlanBenCodeSpecialty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeSpecialtyVBAResponse, Integer, Hash)>] PlanBenCodeSpecialtyVBAResponse data, response status code and response headers
    def update_plan_ben_code_specialty_with_http_info(vbasoftware_database, plan_id, benefit_code, specialty_code, plan_ben_code_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty"
      end
      # verify the required parameter 'plan_ben_code_specialty' is set
      if @api_client.config.client_side_validation && plan_ben_code_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_specialty' when calling PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/specialties/{specialtyCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitSpecialtiesApi.update_plan_ben_code_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitSpecialtiesApi#update_plan_ben_code_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
