=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanDiagnosisAgeRestrictionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanDiagnosisAge
    # Creates a new PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age [PlanDiagnosisAge] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDiagnosisAgeVBAResponse]
    def create_plan_diagnosis_age(vbasoftware_database, plan_id, plan_diagnosis_age, opts = {})
      data, _status_code, _headers = create_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age, opts)
      data
    end

    # Create PlanDiagnosisAge
    # Creates a new PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age [PlanDiagnosisAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDiagnosisAgeVBAResponse, Integer, Hash)>] PlanDiagnosisAgeVBAResponse data, response status code and response headers
    def create_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.create_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.create_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.create_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age' when calling PlanDiagnosisAgeRestrictionsApi.create_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_diagnosis_age)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDiagnosisAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.create_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#create_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanDiagnosisAge
    # Deletes an PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_diagnosis_age(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts = {})
      delete_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts)
      nil
    end

    # Delete PlanDiagnosisAge
    # Deletes an PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.delete_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.delete_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.delete_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age_key' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age_key' when calling PlanDiagnosisAgeRestrictionsApi.delete_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions/{planDiagnosisAgeKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDiagnosisAgeKey' + '}', CGI.escape(plan_diagnosis_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.delete_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#delete_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanDiagnosisAge
    # Gets PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param [Hash] opts the optional parameters
    # @return [PlanDiagnosisAgeVBAResponse]
    def get_plan_diagnosis_age(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts = {})
      data, _status_code, _headers = get_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts)
      data
    end

    # Get PlanDiagnosisAge
    # Gets PlanDiagnosisAge
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDiagnosisAgeVBAResponse, Integer, Hash)>] PlanDiagnosisAgeVBAResponse data, response status code and response headers
    def get_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.get_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.get_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.get_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age_key' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age_key' when calling PlanDiagnosisAgeRestrictionsApi.get_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions/{planDiagnosisAgeKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDiagnosisAgeKey' + '}', CGI.escape(plan_diagnosis_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDiagnosisAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.get_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#get_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanDiagnosisAge
    # Lists all PlanDiagnosisAge for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanDiagnosisAgeListVBAResponse]
    def list_plan_diagnosis_age(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanDiagnosisAge
    # Lists all PlanDiagnosisAge for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDiagnosisAgeListVBAResponse, Integer, Hash)>] PlanDiagnosisAgeListVBAResponse data, response status code and response headers
    def list_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.list_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.list_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.list_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDiagnosisAgeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.list_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#list_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanDiagnosisAge
    # Create or Update multiple PlanDiagnosisAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age [Array<PlanDiagnosisAge>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_diagnosis_age(vbasoftware_database, plan_id, plan_diagnosis_age, opts = {})
      data, _status_code, _headers = update_batch_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age, opts)
      data
    end

    # Create or Update Batch PlanDiagnosisAge
    # Create or Update multiple PlanDiagnosisAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age [Array<PlanDiagnosisAge>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.update_batch_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.update_batch_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.update_batch_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age' when calling PlanDiagnosisAgeRestrictionsApi.update_batch_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_diagnosis_age)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.update_batch_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#update_batch_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanDiagnosisAge
    # Updates a specific PlanDiagnosisAge.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param plan_diagnosis_age [PlanDiagnosisAge] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDiagnosisAgeVBAResponse]
    def update_plan_diagnosis_age(vbasoftware_database, plan_id, plan_diagnosis_age_key, plan_diagnosis_age, opts = {})
      data, _status_code, _headers = update_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, plan_diagnosis_age, opts)
      data
    end

    # Update PlanDiagnosisAge
    # Updates a specific PlanDiagnosisAge.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_diagnosis_age_key [Integer] PlanDiagnosisAge Key
    # @param plan_diagnosis_age [PlanDiagnosisAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDiagnosisAgeVBAResponse, Integer, Hash)>] PlanDiagnosisAgeVBAResponse data, response status code and response headers
    def update_plan_diagnosis_age_with_http_info(vbasoftware_database, plan_id, plan_diagnosis_age_key, plan_diagnosis_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age_key' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age_key' when calling PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age"
      end
      # verify the required parameter 'plan_diagnosis_age' is set
      if @api_client.config.client_side_validation && plan_diagnosis_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_diagnosis_age' when calling PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age"
      end
      # resource path
      local_var_path = '/plans/{planID}/diagnosis-age-restrictions/{planDiagnosisAgeKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDiagnosisAgeKey' + '}', CGI.escape(plan_diagnosis_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_diagnosis_age)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDiagnosisAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDiagnosisAgeRestrictionsApi.update_plan_diagnosis_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDiagnosisAgeRestrictionsApi#update_plan_diagnosis_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
