=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitModifierExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitsModifiers
    # Creates a new PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_modifiers [PlanBenefitsModifiers] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsModifiersVBAResponse]
    def create_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts = {})
      data, _status_code, _headers = create_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts)
      data
    end

    # Create PlanBenefitsModifiers
    # Creates a new PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_modifiers [PlanBenefitsModifiers] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsModifiersVBAResponse, Integer, Hash)>] PlanBenefitsModifiersVBAResponse data, response status code and response headers
    def create_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_benefits_modifiers' is set
      if @api_client.config.client_side_validation && plan_benefits_modifiers.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_modifiers' when calling PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_modifiers)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsModifiersVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.create_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#create_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitsModifiers
    # Deletes an PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, modifier, opts = {})
      delete_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, opts)
      nil
    end

    # Delete PlanBenefitsModifiers
    # Deletes an PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes/{modifier}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.delete_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#delete_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitsModifiers
    # Gets PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsModifiersVBAResponse]
    def get_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, modifier, opts = {})
      data, _status_code, _headers = get_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, opts)
      data
    end

    # Get PlanBenefitsModifiers
    # Gets PlanBenefitsModifiers
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsModifiersVBAResponse, Integer, Hash)>] PlanBenefitsModifiersVBAResponse data, response status code and response headers
    def get_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes/{modifier}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsModifiersVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.get_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#get_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitsModifiers
    # Lists all PlanBenefitsModifiers for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsModifiersListVBAResponse]
    def list_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenefitsModifiers
    # Lists all PlanBenefitsModifiers for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsModifiersListVBAResponse, Integer, Hash)>] PlanBenefitsModifiersListVBAResponse data, response status code and response headers
    def list_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.list_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.list_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.list_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.list_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsModifiersListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.list_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#list_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitsModifiers
    # Create or Update multiple PlanBenefitsModifiers at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_modifiers [Array<PlanBenefitsModifiers>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts = {})
      data, _status_code, _headers = update_batch_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts)
      data
    end

    # Create or Update Batch PlanBenefitsModifiers
    # Create or Update multiple PlanBenefitsModifiers at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_modifiers [Array<PlanBenefitsModifiers>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_modifiers, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_benefits_modifiers' is set
      if @api_client.config.client_side_validation && plan_benefits_modifiers.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_modifiers' when calling PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_modifiers)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.update_batch_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#update_batch_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitsModifiers
    # Updates a specific PlanBenefitsModifiers.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param plan_benefits_modifiers [PlanBenefitsModifiers] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsModifiersVBAResponse]
    def update_plan_benefits_modifiers(vbasoftware_database, plan_id, benefit_code, modifier, plan_benefits_modifiers, opts = {})
      data, _status_code, _headers = update_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, plan_benefits_modifiers, opts)
      data
    end

    # Update PlanBenefitsModifiers
    # Updates a specific PlanBenefitsModifiers.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param modifier [String] Modifier
    # @param plan_benefits_modifiers [PlanBenefitsModifiers] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsModifiersVBAResponse, Integer, Hash)>] PlanBenefitsModifiersVBAResponse data, response status code and response headers
    def update_plan_benefits_modifiers_with_http_info(vbasoftware_database, plan_id, benefit_code, modifier, plan_benefits_modifiers, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers"
      end
      # verify the required parameter 'plan_benefits_modifiers' is set
      if @api_client.config.client_side_validation && plan_benefits_modifiers.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_modifiers' when calling PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/modifier-ex-codes/{modifier}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_modifiers)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsModifiersVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitModifierExCodesApi.update_plan_benefits_modifiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitModifierExCodesApi#update_plan_benefits_modifiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
