=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanDisplayTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanDisplayType
    # Creates a new PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param plan_display_type [PlanDisplayType] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayTypeVBAResponse]
    def create_plan_display_type(vbasoftware_database, plan_display_type, opts = {})
      data, _status_code, _headers = create_plan_display_type_with_http_info(vbasoftware_database, plan_display_type, opts)
      data
    end

    # Create PlanDisplayType
    # Creates a new PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param plan_display_type [PlanDisplayType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayTypeVBAResponse, Integer, Hash)>] PlanDisplayTypeVBAResponse data, response status code and response headers
    def create_plan_display_type_with_http_info(vbasoftware_database, plan_display_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.create_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.create_plan_display_type"
      end
      # verify the required parameter 'plan_display_type' is set
      if @api_client.config.client_side_validation && plan_display_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_type' when calling PlanDisplayTypesApi.create_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.create_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#create_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanDisplayType
    # Deletes an PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_display_type(vbasoftware_database, display_type, opts = {})
      delete_plan_display_type_with_http_info(vbasoftware_database, display_type, opts)
      nil
    end

    # Delete PlanDisplayType
    # Deletes an PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_display_type_with_http_info(vbasoftware_database, display_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.delete_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.delete_plan_display_type"
      end
      # verify the required parameter 'display_type' is set
      if @api_client.config.client_side_validation && display_type.nil?
        fail ArgumentError, "Missing the required parameter 'display_type' when calling PlanDisplayTypesApi.delete_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types/{displayType}'.sub('{' + 'displayType' + '}', CGI.escape(display_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.delete_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#delete_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanDisplayType
    # Gets PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayTypeVBAResponse]
    def get_plan_display_type(vbasoftware_database, display_type, opts = {})
      data, _status_code, _headers = get_plan_display_type_with_http_info(vbasoftware_database, display_type, opts)
      data
    end

    # Get PlanDisplayType
    # Gets PlanDisplayType
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayTypeVBAResponse, Integer, Hash)>] PlanDisplayTypeVBAResponse data, response status code and response headers
    def get_plan_display_type_with_http_info(vbasoftware_database, display_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.get_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.get_plan_display_type"
      end
      # verify the required parameter 'display_type' is set
      if @api_client.config.client_side_validation && display_type.nil?
        fail ArgumentError, "Missing the required parameter 'display_type' when calling PlanDisplayTypesApi.get_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types/{displayType}'.sub('{' + 'displayType' + '}', CGI.escape(display_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.get_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#get_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanDisplayType
    # Lists all PlanDisplayType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayTypeListVBAResponse]
    def list_plan_display_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_plan_display_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PlanDisplayType
    # Lists all PlanDisplayType 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayTypeListVBAResponse, Integer, Hash)>] PlanDisplayTypeListVBAResponse data, response status code and response headers
    def list_plan_display_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.list_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.list_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.list_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#list_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanDisplayType
    # Create or Update multiple PlanDisplayType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_display_type [Array<PlanDisplayType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_display_type(vbasoftware_database, plan_display_type, opts = {})
      data, _status_code, _headers = update_batch_plan_display_type_with_http_info(vbasoftware_database, plan_display_type, opts)
      data
    end

    # Create or Update Batch PlanDisplayType
    # Create or Update multiple PlanDisplayType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_display_type [Array<PlanDisplayType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_display_type_with_http_info(vbasoftware_database, plan_display_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.update_batch_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.update_batch_plan_display_type"
      end
      # verify the required parameter 'plan_display_type' is set
      if @api_client.config.client_side_validation && plan_display_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_type' when calling PlanDisplayTypesApi.update_batch_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.update_batch_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#update_batch_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanDisplayType
    # Updates a specific PlanDisplayType.
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param plan_display_type [PlanDisplayType] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayTypeVBAResponse]
    def update_plan_display_type(vbasoftware_database, display_type, plan_display_type, opts = {})
      data, _status_code, _headers = update_plan_display_type_with_http_info(vbasoftware_database, display_type, plan_display_type, opts)
      data
    end

    # Update PlanDisplayType
    # Updates a specific PlanDisplayType.
    # @param vbasoftware_database [String] Target database
    # @param display_type [String] Display Type
    # @param plan_display_type [PlanDisplayType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayTypeVBAResponse, Integer, Hash)>] PlanDisplayTypeVBAResponse data, response status code and response headers
    def update_plan_display_type_with_http_info(vbasoftware_database, display_type, plan_display_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplayTypesApi.update_plan_display_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplayTypesApi.update_plan_display_type"
      end
      # verify the required parameter 'display_type' is set
      if @api_client.config.client_side_validation && display_type.nil?
        fail ArgumentError, "Missing the required parameter 'display_type' when calling PlanDisplayTypesApi.update_plan_display_type"
      end
      # verify the required parameter 'plan_display_type' is set
      if @api_client.config.client_side_validation && plan_display_type.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_type' when calling PlanDisplayTypesApi.update_plan_display_type"
      end
      # resource path
      local_var_path = '/plan-display-types/{displayType}'.sub('{' + 'displayType' + '}', CGI.escape(display_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplayTypesApi.update_plan_display_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplayTypesApi#update_plan_display_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
