=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanCoordinationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanCoordination
    # Creates a new PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination [PlanCoordination] 
    # @param [Hash] opts the optional parameters
    # @return [PlanCoordinationVBAResponse]
    def create_plan_coordination(vbasoftware_database, plan_coordination, opts = {})
      data, _status_code, _headers = create_plan_coordination_with_http_info(vbasoftware_database, plan_coordination, opts)
      data
    end

    # Create PlanCoordination
    # Creates a new PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination [PlanCoordination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanCoordinationVBAResponse, Integer, Hash)>] PlanCoordinationVBAResponse data, response status code and response headers
    def create_plan_coordination_with_http_info(vbasoftware_database, plan_coordination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.create_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.create_plan_coordination"
      end
      # verify the required parameter 'plan_coordination' is set
      if @api_client.config.client_side_validation && plan_coordination.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination' when calling PlanCoordinationApi.create_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_coordination)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanCoordinationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.create_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#create_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanCoordination
    # Deletes an PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_coordination(vbasoftware_database, plan_coordination_key, opts = {})
      delete_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, opts)
      nil
    end

    # Delete PlanCoordination
    # Deletes an PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.delete_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.delete_plan_coordination"
      end
      # verify the required parameter 'plan_coordination_key' is set
      if @api_client.config.client_side_validation && plan_coordination_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination_key' when calling PlanCoordinationApi.delete_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations/{PlanCoordination_Key}'.sub('{' + 'PlanCoordination_Key' + '}', CGI.escape(plan_coordination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.delete_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#delete_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanCoordination
    # Gets PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param [Hash] opts the optional parameters
    # @return [PlanCoordinationVBAResponse]
    def get_plan_coordination(vbasoftware_database, plan_coordination_key, opts = {})
      data, _status_code, _headers = get_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, opts)
      data
    end

    # Get PlanCoordination
    # Gets PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanCoordinationVBAResponse, Integer, Hash)>] PlanCoordinationVBAResponse data, response status code and response headers
    def get_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.get_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.get_plan_coordination"
      end
      # verify the required parameter 'plan_coordination_key' is set
      if @api_client.config.client_side_validation && plan_coordination_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination_key' when calling PlanCoordinationApi.get_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations/{PlanCoordination_Key}'.sub('{' + 'PlanCoordination_Key' + '}', CGI.escape(plan_coordination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanCoordinationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.get_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#get_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanCoordination
    # Lists all PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [PlanCoordinationListVBAResponse]
    def list_plan_coordination(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_plan_coordination_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PlanCoordination
    # Lists all PlanCoordination
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(PlanCoordinationListVBAResponse, Integer, Hash)>] PlanCoordinationListVBAResponse data, response status code and response headers
    def list_plan_coordination_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.list_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.list_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanCoordinationListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.list_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#list_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanCoordination
    # Create or Update multiple PlanCoordination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination [Array<PlanCoordination>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_coordination(vbasoftware_database, plan_coordination, opts = {})
      data, _status_code, _headers = update_batch_plan_coordination_with_http_info(vbasoftware_database, plan_coordination, opts)
      data
    end

    # Create or Update Batch PlanCoordination
    # Create or Update multiple PlanCoordination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination [Array<PlanCoordination>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_coordination_with_http_info(vbasoftware_database, plan_coordination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.update_batch_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.update_batch_plan_coordination"
      end
      # verify the required parameter 'plan_coordination' is set
      if @api_client.config.client_side_validation && plan_coordination.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination' when calling PlanCoordinationApi.update_batch_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_coordination)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.update_batch_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#update_batch_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanCoordination
    # Updates a specific PlanCoordination.
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param plan_coordination [PlanCoordination] 
    # @param [Hash] opts the optional parameters
    # @return [PlanCoordinationVBAResponse]
    def update_plan_coordination(vbasoftware_database, plan_coordination_key, plan_coordination, opts = {})
      data, _status_code, _headers = update_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, plan_coordination, opts)
      data
    end

    # Update PlanCoordination
    # Updates a specific PlanCoordination.
    # @param vbasoftware_database [String] Target database
    # @param plan_coordination_key [Integer] PlanCoordination Key
    # @param plan_coordination [PlanCoordination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanCoordinationVBAResponse, Integer, Hash)>] PlanCoordinationVBAResponse data, response status code and response headers
    def update_plan_coordination_with_http_info(vbasoftware_database, plan_coordination_key, plan_coordination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanCoordinationApi.update_plan_coordination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanCoordinationApi.update_plan_coordination"
      end
      # verify the required parameter 'plan_coordination_key' is set
      if @api_client.config.client_side_validation && plan_coordination_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination_key' when calling PlanCoordinationApi.update_plan_coordination"
      end
      # verify the required parameter 'plan_coordination' is set
      if @api_client.config.client_side_validation && plan_coordination.nil?
        fail ArgumentError, "Missing the required parameter 'plan_coordination' when calling PlanCoordinationApi.update_plan_coordination"
      end
      # resource path
      local_var_path = '/plan-coordinations/{PlanCoordination_Key}'.sub('{' + 'PlanCoordination_Key' + '}', CGI.escape(plan_coordination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_coordination)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanCoordinationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanCoordinationApi.update_plan_coordination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanCoordinationApi#update_plan_coordination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
