=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanAuthPenaltiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanAuthPenalty
    # Creates a new PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty [PlanAuthPenalty] 
    # @param [Hash] opts the optional parameters
    # @return [PlanAuthPenaltyVBAResponse]
    def create_plan_auth_penalty(vbasoftware_database, plan_id, plan_auth_penalty, opts = {})
      data, _status_code, _headers = create_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty, opts)
      data
    end

    # Create PlanAuthPenalty
    # Creates a new PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty [PlanAuthPenalty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAuthPenaltyVBAResponse, Integer, Hash)>] PlanAuthPenaltyVBAResponse data, response status code and response headers
    def create_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.create_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.create_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.create_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty' is set
      if @api_client.config.client_side_validation && plan_auth_penalty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty' when calling PlanAuthPenaltiesApi.create_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_auth_penalty)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAuthPenaltyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.create_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#create_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanAuthPenalty
    # Deletes an PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_auth_penalty(vbasoftware_database, plan_id, plan_auth_penalty_key, opts = {})
      delete_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, opts)
      nil
    end

    # Delete PlanAuthPenalty
    # Deletes an PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.delete_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.delete_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.delete_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty_key' is set
      if @api_client.config.client_side_validation && plan_auth_penalty_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty_key' when calling PlanAuthPenaltiesApi.delete_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties/{planAuthPenaltyKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planAuthPenaltyKey' + '}', CGI.escape(plan_auth_penalty_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.delete_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#delete_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanAuthPenalty
    # Gets PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param [Hash] opts the optional parameters
    # @return [PlanAuthPenaltyVBAResponse]
    def get_plan_auth_penalty(vbasoftware_database, plan_id, plan_auth_penalty_key, opts = {})
      data, _status_code, _headers = get_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, opts)
      data
    end

    # Get PlanAuthPenalty
    # Gets PlanAuthPenalty
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAuthPenaltyVBAResponse, Integer, Hash)>] PlanAuthPenaltyVBAResponse data, response status code and response headers
    def get_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.get_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.get_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.get_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty_key' is set
      if @api_client.config.client_side_validation && plan_auth_penalty_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty_key' when calling PlanAuthPenaltiesApi.get_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties/{planAuthPenaltyKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planAuthPenaltyKey' + '}', CGI.escape(plan_auth_penalty_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAuthPenaltyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.get_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#get_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanAuthPenalty
    # Lists all PlanAuthPenalty planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanAuthPenaltyListVBAResponse]
    def list_plan_auth_penalty(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanAuthPenalty
    # Lists all PlanAuthPenalty planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAuthPenaltyListVBAResponse, Integer, Hash)>] PlanAuthPenaltyListVBAResponse data, response status code and response headers
    def list_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.list_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.list_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.list_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAuthPenaltyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.list_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#list_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanAuthPenalty
    # Create or Update multiple PlanAuthPenalty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty [Array<PlanAuthPenalty>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_auth_penalty(vbasoftware_database, plan_id, plan_auth_penalty, opts = {})
      data, _status_code, _headers = update_batch_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty, opts)
      data
    end

    # Create or Update Batch PlanAuthPenalty
    # Create or Update multiple PlanAuthPenalty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty [Array<PlanAuthPenalty>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.update_batch_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.update_batch_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.update_batch_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty' is set
      if @api_client.config.client_side_validation && plan_auth_penalty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty' when calling PlanAuthPenaltiesApi.update_batch_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_auth_penalty)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.update_batch_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#update_batch_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanAuthPenalty
    # Updates a specific PlanAuthPenalty.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param plan_auth_penalty [PlanAuthPenalty] 
    # @param [Hash] opts the optional parameters
    # @return [PlanAuthPenaltyVBAResponse]
    def update_plan_auth_penalty(vbasoftware_database, plan_id, plan_auth_penalty_key, plan_auth_penalty, opts = {})
      data, _status_code, _headers = update_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, plan_auth_penalty, opts)
      data
    end

    # Update PlanAuthPenalty
    # Updates a specific PlanAuthPenalty.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_auth_penalty_key [Integer] PlanAuthPenalty Key
    # @param plan_auth_penalty [PlanAuthPenalty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAuthPenaltyVBAResponse, Integer, Hash)>] PlanAuthPenaltyVBAResponse data, response status code and response headers
    def update_plan_auth_penalty_with_http_info(vbasoftware_database, plan_id, plan_auth_penalty_key, plan_auth_penalty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAuthPenaltiesApi.update_plan_auth_penalty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAuthPenaltiesApi.update_plan_auth_penalty"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAuthPenaltiesApi.update_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty_key' is set
      if @api_client.config.client_side_validation && plan_auth_penalty_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty_key' when calling PlanAuthPenaltiesApi.update_plan_auth_penalty"
      end
      # verify the required parameter 'plan_auth_penalty' is set
      if @api_client.config.client_side_validation && plan_auth_penalty.nil?
        fail ArgumentError, "Missing the required parameter 'plan_auth_penalty' when calling PlanAuthPenaltiesApi.update_plan_auth_penalty"
      end
      # resource path
      local_var_path = '/plans/{planID}/auth-penalties/{planAuthPenaltyKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planAuthPenaltyKey' + '}', CGI.escape(plan_auth_penalty_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_auth_penalty)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAuthPenaltyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAuthPenaltiesApi.update_plan_auth_penalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAuthPenaltiesApi#update_plan_auth_penalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
