=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitToothMaximumsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanMaximumTooth
    # Creates a new PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param plan_maximum_tooth [PlanMaximumTooth] 
    # @param [Hash] opts the optional parameters
    # @return [PlanMaximumToothVBAResponse]
    def create_plan_maximum_tooth(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts = {})
      data, _status_code, _headers = create_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts)
      data
    end

    # Create PlanMaximumTooth
    # Creates a new PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param plan_maximum_tooth [PlanMaximumTooth] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanMaximumToothVBAResponse, Integer, Hash)>] PlanMaximumToothVBAResponse data, response status code and response headers
    def create_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitToothMaximumsApi.create_plan_maximum_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitToothMaximumsApi.create_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitToothMaximumsApi.create_plan_maximum_tooth"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitToothMaximumsApi.create_plan_maximum_tooth"
      end
      # verify the required parameter 'max_id' is set
      if @api_client.config.client_side_validation && max_id.nil?
        fail ArgumentError, "Missing the required parameter 'max_id' when calling PlanBenefitToothMaximumsApi.create_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_maximum_tooth' is set
      if @api_client.config.client_side_validation && plan_maximum_tooth.nil?
        fail ArgumentError, "Missing the required parameter 'plan_maximum_tooth' when calling PlanBenefitToothMaximumsApi.create_plan_maximum_tooth"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/maximums/{maxID}/teeth'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'maxID' + '}', CGI.escape(max_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_maximum_tooth)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanMaximumToothVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitToothMaximumsApi.create_plan_maximum_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitToothMaximumsApi#create_plan_maximum_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanMaximumTooth
    # Deletes an PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_maximum_tooth(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts = {})
      delete_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts)
      nil
    end

    # Delete PlanMaximumTooth
    # Deletes an PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth"
      end
      # verify the required parameter 'max_id' is set
      if @api_client.config.client_side_validation && max_id.nil?
        fail ArgumentError, "Missing the required parameter 'max_id' when calling PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth"
      end
      # verify the required parameter 'tooth_number' is set
      if @api_client.config.client_side_validation && tooth_number.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_number' when calling PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/maximums/{maxID}/teeth/{toothNumber}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'maxID' + '}', CGI.escape(max_id.to_s)).sub('{' + 'toothNumber' + '}', CGI.escape(tooth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitToothMaximumsApi.delete_plan_maximum_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitToothMaximumsApi#delete_plan_maximum_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanMaximumTooth
    # Gets PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [PlanMaximumToothVBAResponse]
    def get_plan_maximum_tooth(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts = {})
      data, _status_code, _headers = get_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts)
      data
    end

    # Get PlanMaximumTooth
    # Gets PlanMaximumTooth
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param tooth_number [Integer] Tooth Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanMaximumToothVBAResponse, Integer, Hash)>] PlanMaximumToothVBAResponse data, response status code and response headers
    def get_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, tooth_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitToothMaximumsApi.get_plan_maximum_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitToothMaximumsApi.get_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitToothMaximumsApi.get_plan_maximum_tooth"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitToothMaximumsApi.get_plan_maximum_tooth"
      end
      # verify the required parameter 'max_id' is set
      if @api_client.config.client_side_validation && max_id.nil?
        fail ArgumentError, "Missing the required parameter 'max_id' when calling PlanBenefitToothMaximumsApi.get_plan_maximum_tooth"
      end
      # verify the required parameter 'tooth_number' is set
      if @api_client.config.client_side_validation && tooth_number.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_number' when calling PlanBenefitToothMaximumsApi.get_plan_maximum_tooth"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/maximums/{maxID}/teeth/{toothNumber}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'maxID' + '}', CGI.escape(max_id.to_s)).sub('{' + 'toothNumber' + '}', CGI.escape(tooth_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanMaximumToothVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitToothMaximumsApi.get_plan_maximum_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitToothMaximumsApi#get_plan_maximum_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanMaximumTooth
    # Lists all PlanMaximumTooth for the given planID and benefitCode and maxID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param [Hash] opts the optional parameters
    # @return [PlanMaximumToothListVBAResponse]
    def list_plan_maximum_tooth(vbasoftware_database, plan_id, benefit_code, max_id, opts = {})
      data, _status_code, _headers = list_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, opts)
      data
    end

    # List PlanMaximumTooth
    # Lists all PlanMaximumTooth for the given planID and benefitCode and maxID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanMaximumToothListVBAResponse, Integer, Hash)>] PlanMaximumToothListVBAResponse data, response status code and response headers
    def list_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitToothMaximumsApi.list_plan_maximum_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitToothMaximumsApi.list_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitToothMaximumsApi.list_plan_maximum_tooth"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitToothMaximumsApi.list_plan_maximum_tooth"
      end
      # verify the required parameter 'max_id' is set
      if @api_client.config.client_side_validation && max_id.nil?
        fail ArgumentError, "Missing the required parameter 'max_id' when calling PlanBenefitToothMaximumsApi.list_plan_maximum_tooth"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/maximums/{maxID}/teeth'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'maxID' + '}', CGI.escape(max_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanMaximumToothListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitToothMaximumsApi.list_plan_maximum_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitToothMaximumsApi#list_plan_maximum_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanMaximumTooth
    # Create or Update multiple PlanMaximumTooth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param plan_maximum_tooth [Array<PlanMaximumTooth>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_maximum_tooth(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts = {})
      data, _status_code, _headers = update_batch_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts)
      data
    end

    # Create or Update Batch PlanMaximumTooth
    # Create or Update multiple PlanMaximumTooth at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param max_id [String] Max ID
    # @param plan_maximum_tooth [Array<PlanMaximumTooth>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_maximum_tooth_with_http_info(vbasoftware_database, plan_id, benefit_code, max_id, plan_maximum_tooth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth"
      end
      # verify the required parameter 'max_id' is set
      if @api_client.config.client_side_validation && max_id.nil?
        fail ArgumentError, "Missing the required parameter 'max_id' when calling PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth"
      end
      # verify the required parameter 'plan_maximum_tooth' is set
      if @api_client.config.client_side_validation && plan_maximum_tooth.nil?
        fail ArgumentError, "Missing the required parameter 'plan_maximum_tooth' when calling PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/maximums/{maxID}/teeth-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'maxID' + '}', CGI.escape(max_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_maximum_tooth)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitToothMaximumsApi.update_batch_plan_maximum_tooth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitToothMaximumsApi#update_batch_plan_maximum_tooth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
