=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitDiagnosisExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitsDiagnosis
    # Creates a new PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_diagnosis [PlanBenefitsDiagnosis] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsDiagnosisVBAResponse]
    def create_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts = {})
      data, _status_code, _headers = create_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts)
      data
    end

    # Create PlanBenefitsDiagnosis
    # Creates a new PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_diagnosis [PlanBenefitsDiagnosis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsDiagnosisVBAResponse, Integer, Hash)>] PlanBenefitsDiagnosisVBAResponse data, response status code and response headers
    def create_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_benefits_diagnosis' is set
      if @api_client.config.client_side_validation && plan_benefits_diagnosis.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_diagnosis' when calling PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_diagnosis)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsDiagnosisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.create_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#create_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitsDiagnosis
    # Deletes an PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts = {})
      delete_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts)
      nil
    end

    # Delete PlanBenefitsDiagnosis
    # Deletes an PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes/{diagnosticCodeType}/{diagnosticCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.delete_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#delete_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitsDiagnosis
    # Gets PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsDiagnosisVBAResponse]
    def get_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts = {})
      data, _status_code, _headers = get_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts)
      data
    end

    # Get PlanBenefitsDiagnosis
    # Gets PlanBenefitsDiagnosis
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsDiagnosisVBAResponse, Integer, Hash)>] PlanBenefitsDiagnosisVBAResponse data, response status code and response headers
    def get_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes/{diagnosticCodeType}/{diagnosticCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsDiagnosisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.get_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#get_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitsDiagnosis
    # Lists all PlanBenefitsDiagnosis for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsDiagnosisListVBAResponse]
    def list_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenefitsDiagnosis
    # Lists all PlanBenefitsDiagnosis for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsDiagnosisListVBAResponse, Integer, Hash)>] PlanBenefitsDiagnosisListVBAResponse data, response status code and response headers
    def list_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.list_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.list_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.list_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.list_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsDiagnosisListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.list_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#list_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitsDiagnosis
    # Create or Update multiple PlanBenefitsDiagnosis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_diagnosis [Array<PlanBenefitsDiagnosis>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts = {})
      data, _status_code, _headers = update_batch_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts)
      data
    end

    # Create or Update Batch PlanBenefitsDiagnosis
    # Create or Update multiple PlanBenefitsDiagnosis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_diagnosis [Array<PlanBenefitsDiagnosis>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_diagnosis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_benefits_diagnosis' is set
      if @api_client.config.client_side_validation && plan_benefits_diagnosis.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_diagnosis' when calling PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_diagnosis)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.update_batch_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#update_batch_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitsDiagnosis
    # Updates a specific PlanBenefitsDiagnosis.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param plan_benefits_diagnosis [PlanBenefitsDiagnosis] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsDiagnosisVBAResponse]
    def update_plan_benefits_diagnosis(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, plan_benefits_diagnosis, opts = {})
      data, _status_code, _headers = update_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, plan_benefits_diagnosis, opts)
      data
    end

    # Update PlanBenefitsDiagnosis
    # Updates a specific PlanBenefitsDiagnosis.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param diagnostic_code_type [String] Diagnostic Code Type
    # @param diagnostic_code [String] Diagnostic Code
    # @param plan_benefits_diagnosis [PlanBenefitsDiagnosis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsDiagnosisVBAResponse, Integer, Hash)>] PlanBenefitsDiagnosisVBAResponse data, response status code and response headers
    def update_plan_benefits_diagnosis_with_http_info(vbasoftware_database, plan_id, benefit_code, diagnostic_code_type, diagnostic_code, plan_benefits_diagnosis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code_type' is set
      if @api_client.config.client_side_validation && diagnostic_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code_type' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # verify the required parameter 'diagnostic_code' is set
      if @api_client.config.client_side_validation && diagnostic_code.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_code' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # verify the required parameter 'plan_benefits_diagnosis' is set
      if @api_client.config.client_side_validation && plan_benefits_diagnosis.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_diagnosis' when calling PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/diagnosis-ex-codes/{diagnosticCodeType}/{diagnosticCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'diagnosticCodeType' + '}', CGI.escape(diagnostic_code_type.to_s)).sub('{' + 'diagnosticCode' + '}', CGI.escape(diagnostic_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_diagnosis)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsDiagnosisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitDiagnosisExCodesApi.update_plan_benefits_diagnosis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitDiagnosisExCodesApi#update_plan_benefits_diagnosis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
