=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanDisplaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanDisplay
    # Creates a new PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display [PlanDisplay] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayVBAResponse]
    def create_plan_display(vbasoftware_database, plan_id, plan_display, opts = {})
      data, _status_code, _headers = create_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display, opts)
      data
    end

    # Create PlanDisplay
    # Creates a new PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display [PlanDisplay] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayVBAResponse, Integer, Hash)>] PlanDisplayVBAResponse data, response status code and response headers
    def create_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.create_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.create_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.create_plan_display"
      end
      # verify the required parameter 'plan_display' is set
      if @api_client.config.client_side_validation && plan_display.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display' when calling PlanDisplaysApi.create_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.create_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#create_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanDisplay
    # Deletes an PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_display(vbasoftware_database, plan_id, plan_display_key, opts = {})
      delete_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, opts)
      nil
    end

    # Delete PlanDisplay
    # Deletes an PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.delete_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.delete_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.delete_plan_display"
      end
      # verify the required parameter 'plan_display_key' is set
      if @api_client.config.client_side_validation && plan_display_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_key' when calling PlanDisplaysApi.delete_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays/{planDisplayKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDisplayKey' + '}', CGI.escape(plan_display_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.delete_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#delete_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanDisplay
    # Gets PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayVBAResponse]
    def get_plan_display(vbasoftware_database, plan_id, plan_display_key, opts = {})
      data, _status_code, _headers = get_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, opts)
      data
    end

    # Get PlanDisplay
    # Gets PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayVBAResponse, Integer, Hash)>] PlanDisplayVBAResponse data, response status code and response headers
    def get_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.get_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.get_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.get_plan_display"
      end
      # verify the required parameter 'plan_display_key' is set
      if @api_client.config.client_side_validation && plan_display_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_key' when calling PlanDisplaysApi.get_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays/{planDisplayKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDisplayKey' + '}', CGI.escape(plan_display_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.get_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#get_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanDisplay
    # Lists all PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayListVBAResponse]
    def list_plan_display(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_display_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanDisplay
    # Lists all PlanDisplay
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayListVBAResponse, Integer, Hash)>] PlanDisplayListVBAResponse data, response status code and response headers
    def list_plan_display_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.list_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.list_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.list_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.list_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#list_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanDisplay
    # Create or Update multiple PlanDisplay at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display [Array<PlanDisplay>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_display(vbasoftware_database, plan_id, plan_display, opts = {})
      data, _status_code, _headers = update_batch_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display, opts)
      data
    end

    # Create or Update Batch PlanDisplay
    # Create or Update multiple PlanDisplay at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display [Array<PlanDisplay>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.update_batch_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.update_batch_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.update_batch_plan_display"
      end
      # verify the required parameter 'plan_display' is set
      if @api_client.config.client_side_validation && plan_display.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display' when calling PlanDisplaysApi.update_batch_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.update_batch_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#update_batch_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanDisplay
    # Updates a specific PlanDisplay.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param plan_display [PlanDisplay] 
    # @param [Hash] opts the optional parameters
    # @return [PlanDisplayVBAResponse]
    def update_plan_display(vbasoftware_database, plan_id, plan_display_key, plan_display, opts = {})
      data, _status_code, _headers = update_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, plan_display, opts)
      data
    end

    # Update PlanDisplay
    # Updates a specific PlanDisplay.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_display_key [Integer] PlanDisplay Key
    # @param plan_display [PlanDisplay] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanDisplayVBAResponse, Integer, Hash)>] PlanDisplayVBAResponse data, response status code and response headers
    def update_plan_display_with_http_info(vbasoftware_database, plan_id, plan_display_key, plan_display, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanDisplaysApi.update_plan_display ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanDisplaysApi.update_plan_display"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanDisplaysApi.update_plan_display"
      end
      # verify the required parameter 'plan_display_key' is set
      if @api_client.config.client_side_validation && plan_display_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display_key' when calling PlanDisplaysApi.update_plan_display"
      end
      # verify the required parameter 'plan_display' is set
      if @api_client.config.client_side_validation && plan_display.nil?
        fail ArgumentError, "Missing the required parameter 'plan_display' when calling PlanDisplaysApi.update_plan_display"
      end
      # resource path
      local_var_path = '/plans/{planID}/displays/{planDisplayKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'planDisplayKey' + '}', CGI.escape(plan_display_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_display)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanDisplayVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanDisplaysApi.update_plan_display",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanDisplaysApi#update_plan_display\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
