=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitCascadesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitCascade
    # Creates a new PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] 
    # @param plan_benefit_cascade [PlanBenefitCascade] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitCascadeVBAResponse]
    def create_plan_benefit_cascade(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, plan_benefit_cascade, opts = {})
      data, _status_code, _headers = create_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, plan_benefit_cascade, opts)
      data
    end

    # Create PlanBenefitCascade
    # Creates a new PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] 
    # @param plan_benefit_cascade [PlanBenefitCascade] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitCascadeVBAResponse, Integer, Hash)>] PlanBenefitCascadeVBAResponse data, response status code and response headers
    def create_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, plan_benefit_cascade, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitCascadesApi.create_plan_benefit_cascade ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitCascadesApi.create_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitCascadesApi.create_plan_benefit_cascade"
      end
      # verify the required parameter 'parent_benefit_code' is set
      if @api_client.config.client_side_validation && parent_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'parent_benefit_code' when calling PlanBenefitCascadesApi.create_plan_benefit_cascade"
      end
      # verify the required parameter 'cascade_benefit_code' is set
      if @api_client.config.client_side_validation && cascade_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'cascade_benefit_code' when calling PlanBenefitCascadesApi.create_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_benefit_cascade' is set
      if @api_client.config.client_side_validation && plan_benefit_cascade.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cascade' when calling PlanBenefitCascadesApi.create_plan_benefit_cascade"
      end
      # resource path
      local_var_path = '/plans/{planID}/parent-benefits/{parentBenefitCode}/cascade-benefits/{cascadeBenefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'parentBenefitCode' + '}', CGI.escape(parent_benefit_code.to_s)).sub('{' + 'cascadeBenefitCode' + '}', CGI.escape(cascade_benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_cascade)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitCascadeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitCascadesApi.create_plan_benefit_cascade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitCascadesApi#create_plan_benefit_cascade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitCascade
    # Deletes an PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] Cascade Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefit_cascade(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts = {})
      delete_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts)
      nil
    end

    # Delete PlanBenefitCascade
    # Deletes an PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] Cascade Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitCascadesApi.delete_plan_benefit_cascade ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitCascadesApi.delete_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitCascadesApi.delete_plan_benefit_cascade"
      end
      # verify the required parameter 'parent_benefit_code' is set
      if @api_client.config.client_side_validation && parent_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'parent_benefit_code' when calling PlanBenefitCascadesApi.delete_plan_benefit_cascade"
      end
      # verify the required parameter 'cascade_benefit_code' is set
      if @api_client.config.client_side_validation && cascade_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'cascade_benefit_code' when calling PlanBenefitCascadesApi.delete_plan_benefit_cascade"
      end
      # resource path
      local_var_path = '/plans/{planID}/parent-benefits/{parentBenefitCode}/cascade-benefits/{cascadeBenefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'parentBenefitCode' + '}', CGI.escape(parent_benefit_code.to_s)).sub('{' + 'cascadeBenefitCode' + '}', CGI.escape(cascade_benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitCascadesApi.delete_plan_benefit_cascade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitCascadesApi#delete_plan_benefit_cascade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitCascade
    # Gets PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] Cascade Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitCascadeVBAResponse]
    def get_plan_benefit_cascade(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts = {})
      data, _status_code, _headers = get_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts)
      data
    end

    # Get PlanBenefitCascade
    # Gets PlanBenefitCascade
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param cascade_benefit_code [String] Cascade Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitCascadeVBAResponse, Integer, Hash)>] PlanBenefitCascadeVBAResponse data, response status code and response headers
    def get_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, cascade_benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitCascadesApi.get_plan_benefit_cascade ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitCascadesApi.get_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitCascadesApi.get_plan_benefit_cascade"
      end
      # verify the required parameter 'parent_benefit_code' is set
      if @api_client.config.client_side_validation && parent_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'parent_benefit_code' when calling PlanBenefitCascadesApi.get_plan_benefit_cascade"
      end
      # verify the required parameter 'cascade_benefit_code' is set
      if @api_client.config.client_side_validation && cascade_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'cascade_benefit_code' when calling PlanBenefitCascadesApi.get_plan_benefit_cascade"
      end
      # resource path
      local_var_path = '/plans/{planID}/parent-benefits/{parentBenefitCode}/cascade-benefits/{cascadeBenefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'parentBenefitCode' + '}', CGI.escape(parent_benefit_code.to_s)).sub('{' + 'cascadeBenefitCode' + '}', CGI.escape(cascade_benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitCascadeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitCascadesApi.get_plan_benefit_cascade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitCascadesApi#get_plan_benefit_cascade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitCascade
    # Lists all PlanBenefitCascade for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitCascadeListVBAResponse]
    def list_plan_benefit_cascade(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanBenefitCascade
    # Lists all PlanBenefitCascade for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitCascadeListVBAResponse, Integer, Hash)>] PlanBenefitCascadeListVBAResponse data, response status code and response headers
    def list_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitCascadesApi.list_plan_benefit_cascade ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitCascadesApi.list_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitCascadesApi.list_plan_benefit_cascade"
      end
      # resource path
      local_var_path = '/plans/{planID}/cascade-benefits'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitCascadeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitCascadesApi.list_plan_benefit_cascade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitCascadesApi#list_plan_benefit_cascade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitCascade
    # Create or Update multiple PlanBenefitCascade at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param plan_benefit_cascade [Array<PlanBenefitCascade>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefit_cascade(vbasoftware_database, plan_id, parent_benefit_code, plan_benefit_cascade, opts = {})
      data, _status_code, _headers = update_batch_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, plan_benefit_cascade, opts)
      data
    end

    # Create or Update Batch PlanBenefitCascade
    # Create or Update multiple PlanBenefitCascade at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param parent_benefit_code [String] Parent Benefit Code
    # @param plan_benefit_cascade [Array<PlanBenefitCascade>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefit_cascade_with_http_info(vbasoftware_database, plan_id, parent_benefit_code, plan_benefit_cascade, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitCascadesApi.update_batch_plan_benefit_cascade ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitCascadesApi.update_batch_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitCascadesApi.update_batch_plan_benefit_cascade"
      end
      # verify the required parameter 'parent_benefit_code' is set
      if @api_client.config.client_side_validation && parent_benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'parent_benefit_code' when calling PlanBenefitCascadesApi.update_batch_plan_benefit_cascade"
      end
      # verify the required parameter 'plan_benefit_cascade' is set
      if @api_client.config.client_side_validation && plan_benefit_cascade.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cascade' when calling PlanBenefitCascadesApi.update_batch_plan_benefit_cascade"
      end
      # resource path
      local_var_path = '/plans/{planID}/parent-benefits/{parentBenefitCode}/cascade-benefits'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'parentBenefitCode' + '}', CGI.escape(parent_benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_cascade)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitCascadesApi.update_batch_plan_benefit_cascade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitCascadesApi#update_batch_plan_benefit_cascade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
