=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitProcedureExCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitsProcedures
    # Creates a new PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_procedures [PlanBenefitsProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsProceduresVBAResponse]
    def create_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts = {})
      data, _status_code, _headers = create_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts)
      data
    end

    # Create PlanBenefitsProcedures
    # Creates a new PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_procedures [PlanBenefitsProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsProceduresVBAResponse, Integer, Hash)>] PlanBenefitsProceduresVBAResponse data, response status code and response headers
    def create_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_benefits_procedures' is set
      if @api_client.config.client_side_validation && plan_benefits_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_procedures' when calling PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.create_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#create_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitsProcedures
    # Deletes an PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, procedure_code, opts = {})
      delete_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, opts)
      nil
    end

    # Delete PlanBenefitsProcedures
    # Deletes an PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes/{procedureCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.delete_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#delete_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitsProcedures
    # Gets PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsProceduresVBAResponse]
    def get_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, procedure_code, opts = {})
      data, _status_code, _headers = get_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, opts)
      data
    end

    # Get PlanBenefitsProcedures
    # Gets PlanBenefitsProcedures
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsProceduresVBAResponse, Integer, Hash)>] PlanBenefitsProceduresVBAResponse data, response status code and response headers
    def get_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes/{procedureCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.get_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#get_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitsProcedures
    # Lists all PlanBenefitsProcedures for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsProceduresListVBAResponse]
    def list_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenefitsProcedures
    # Lists all PlanBenefitsProcedures for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsProceduresListVBAResponse, Integer, Hash)>] PlanBenefitsProceduresListVBAResponse data, response status code and response headers
    def list_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.list_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.list_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.list_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.list_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsProceduresListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.list_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#list_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitsProcedures
    # Create or Update multiple PlanBenefitsProcedures at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_procedures [Array<PlanBenefitsProcedures>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts = {})
      data, _status_code, _headers = update_batch_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts)
      data
    end

    # Create or Update Batch PlanBenefitsProcedures
    # Create or Update multiple PlanBenefitsProcedures at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefits_procedures [Array<PlanBenefitsProcedures>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefits_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_benefits_procedures' is set
      if @api_client.config.client_side_validation && plan_benefits_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_procedures' when calling PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.update_batch_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#update_batch_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitsProcedures
    # Updates a specific PlanBenefitsProcedures.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param plan_benefits_procedures [PlanBenefitsProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitsProceduresVBAResponse]
    def update_plan_benefits_procedures(vbasoftware_database, plan_id, benefit_code, procedure_code, plan_benefits_procedures, opts = {})
      data, _status_code, _headers = update_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, plan_benefits_procedures, opts)
      data
    end

    # Update PlanBenefitsProcedures
    # Updates a specific PlanBenefitsProcedures.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param procedure_code [String] Procedure Code
    # @param plan_benefits_procedures [PlanBenefitsProcedures] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitsProceduresVBAResponse, Integer, Hash)>] PlanBenefitsProceduresVBAResponse data, response status code and response headers
    def update_plan_benefits_procedures_with_http_info(vbasoftware_database, plan_id, benefit_code, procedure_code, plan_benefits_procedures, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures"
      end
      # verify the required parameter 'plan_benefits_procedures' is set
      if @api_client.config.client_side_validation && plan_benefits_procedures.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefits_procedures' when calling PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-ex-codes/{procedureCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefits_procedures)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitsProceduresVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProcedureExCodesApi.update_plan_benefits_procedures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProcedureExCodesApi#update_plan_benefits_procedures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
