=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitClustersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitCluster
    # Creates a new PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster [PlanBenefitCluster] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitClusterVBAResponse]
    def create_plan_benefit_cluster(vbasoftware_database, plan_benefit_cluster, opts = {})
      data, _status_code, _headers = create_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster, opts)
      data
    end

    # Create PlanBenefitCluster
    # Creates a new PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster [PlanBenefitCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitClusterVBAResponse, Integer, Hash)>] PlanBenefitClusterVBAResponse data, response status code and response headers
    def create_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.create_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.create_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster' when calling PlanBenefitClustersApi.create_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.create_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#create_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitCluster
    # Deletes an PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefit_cluster(vbasoftware_database, plan_benefit_cluster_key, opts = {})
      delete_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, opts)
      nil
    end

    # Delete PlanBenefitCluster
    # Deletes an PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.delete_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.delete_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster_key' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster_key' when calling PlanBenefitClustersApi.delete_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters/{planBenefitClusterKey}'.sub('{' + 'planBenefitClusterKey' + '}', CGI.escape(plan_benefit_cluster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.delete_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#delete_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitCluster
    # Gets PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitClusterVBAResponse]
    def get_plan_benefit_cluster(vbasoftware_database, plan_benefit_cluster_key, opts = {})
      data, _status_code, _headers = get_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, opts)
      data
    end

    # Get PlanBenefitCluster
    # Gets PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitClusterVBAResponse, Integer, Hash)>] PlanBenefitClusterVBAResponse data, response status code and response headers
    def get_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.get_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.get_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster_key' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster_key' when calling PlanBenefitClustersApi.get_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters/{planBenefitClusterKey}'.sub('{' + 'planBenefitClusterKey' + '}', CGI.escape(plan_benefit_cluster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.get_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#get_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitCluster
    # Lists all PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PlanBenefitClusterListVBAResponse]
    def list_plan_benefit_cluster(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_plan_benefit_cluster_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PlanBenefitCluster
    # Lists all PlanBenefitCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :plan_id Plan ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PlanBenefitClusterListVBAResponse, Integer, Hash)>] PlanBenefitClusterListVBAResponse data, response status code and response headers
    def list_plan_benefit_cluster_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.list_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.list_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitClusterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.list_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#list_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitCluster
    # Create or Update multiple PlanBenefitCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster [Array<PlanBenefitCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefit_cluster(vbasoftware_database, plan_benefit_cluster, opts = {})
      data, _status_code, _headers = update_batch_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster, opts)
      data
    end

    # Create or Update Batch PlanBenefitCluster
    # Create or Update multiple PlanBenefitCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster [Array<PlanBenefitCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.update_batch_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.update_batch_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster' when calling PlanBenefitClustersApi.update_batch_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.update_batch_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#update_batch_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitCluster
    # Updates a specific PlanBenefitCluster.
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param plan_benefit_cluster [PlanBenefitCluster] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitClusterVBAResponse]
    def update_plan_benefit_cluster(vbasoftware_database, plan_benefit_cluster_key, plan_benefit_cluster, opts = {})
      data, _status_code, _headers = update_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, plan_benefit_cluster, opts)
      data
    end

    # Update PlanBenefitCluster
    # Updates a specific PlanBenefitCluster.
    # @param vbasoftware_database [String] Target database
    # @param plan_benefit_cluster_key [Integer] PlanBenefitCluster Key
    # @param plan_benefit_cluster [PlanBenefitCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitClusterVBAResponse, Integer, Hash)>] PlanBenefitClusterVBAResponse data, response status code and response headers
    def update_plan_benefit_cluster_with_http_info(vbasoftware_database, plan_benefit_cluster_key, plan_benefit_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitClustersApi.update_plan_benefit_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitClustersApi.update_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster_key' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster_key' when calling PlanBenefitClustersApi.update_plan_benefit_cluster"
      end
      # verify the required parameter 'plan_benefit_cluster' is set
      if @api_client.config.client_side_validation && plan_benefit_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_cluster' when calling PlanBenefitClustersApi.update_plan_benefit_cluster"
      end
      # resource path
      local_var_path = '/plan-benefit-clusters/{planBenefitClusterKey}'.sub('{' + 'planBenefitClusterKey' + '}', CGI.escape(plan_benefit_cluster_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitClustersApi.update_plan_benefit_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitClustersApi#update_plan_benefit_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
