=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitProceduresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenCodeProcCode
    # Creates a new PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_proc_code [PlanBenCodeProcCode] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeProcCodeVBAResponse]
    def create_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts = {})
      data, _status_code, _headers = create_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts)
      data
    end

    # Create PlanBenCodeProcCode
    # Creates a new PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_proc_code [PlanBenCodeProcCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeProcCodeVBAResponse, Integer, Hash)>] PlanBenCodeProcCodeVBAResponse data, response status code and response headers
    def create_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.create_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.create_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.create_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.create_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_ben_code_proc_code' is set
      if @api_client.config.client_side_validation && plan_ben_code_proc_code.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_proc_code' when calling PlanBenefitProceduresApi.create_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_proc_code)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeProcCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.create_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#create_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenCodeProcCode
    # Deletes an PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, from_procedure, opts = {})
      delete_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, opts)
      nil
    end

    # Delete PlanBenCodeProcCode
    # Deletes an PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.delete_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.delete_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.delete_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.delete_plan_ben_code_proc_code"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling PlanBenefitProceduresApi.delete_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes/{fromProcedure}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.delete_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#delete_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenCodeProcCode
    # Gets PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeProcCodeVBAResponse]
    def get_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, from_procedure, opts = {})
      data, _status_code, _headers = get_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, opts)
      data
    end

    # Get PlanBenCodeProcCode
    # Gets PlanBenCodeProcCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeProcCodeVBAResponse, Integer, Hash)>] PlanBenCodeProcCodeVBAResponse data, response status code and response headers
    def get_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.get_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.get_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.get_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.get_plan_ben_code_proc_code"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling PlanBenefitProceduresApi.get_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes/{fromProcedure}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeProcCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.get_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#get_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenCodeProcCode
    # Lists all PlanBenCodeProcCode for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeProcCodeListVBAResponse]
    def list_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenCodeProcCode
    # Lists all PlanBenCodeProcCode for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeProcCodeListVBAResponse, Integer, Hash)>] PlanBenCodeProcCodeListVBAResponse data, response status code and response headers
    def list_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.list_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.list_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.list_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.list_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeProcCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.list_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#list_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenCodeProcCode
    # Create or Update multiple PlanBenCodeProcCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_proc_code [Array<PlanBenCodeProcCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts = {})
      data, _status_code, _headers = update_batch_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts)
      data
    end

    # Create or Update Batch PlanBenCodeProcCode
    # Create or Update multiple PlanBenCodeProcCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_ben_code_proc_code [Array<PlanBenCodeProcCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_ben_code_proc_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_ben_code_proc_code' is set
      if @api_client.config.client_side_validation && plan_ben_code_proc_code.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_proc_code' when calling PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_proc_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.update_batch_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#update_batch_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenCodeProcCode
    # Updates a specific PlanBenCodeProcCode.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param plan_ben_code_proc_code [PlanBenCodeProcCode] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenCodeProcCodeVBAResponse]
    def update_plan_ben_code_proc_code(vbasoftware_database, plan_id, benefit_code, from_procedure, plan_ben_code_proc_code, opts = {})
      data, _status_code, _headers = update_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, plan_ben_code_proc_code, opts)
      data
    end

    # Update PlanBenCodeProcCode
    # Updates a specific PlanBenCodeProcCode.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param from_procedure [String] From Procedure
    # @param plan_ben_code_proc_code [PlanBenCodeProcCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenCodeProcCodeVBAResponse, Integer, Hash)>] PlanBenCodeProcCodeVBAResponse data, response status code and response headers
    def update_plan_ben_code_proc_code_with_http_info(vbasoftware_database, plan_id, benefit_code, from_procedure, plan_ben_code_proc_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitProceduresApi.update_plan_ben_code_proc_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitProceduresApi.update_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitProceduresApi.update_plan_ben_code_proc_code"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitProceduresApi.update_plan_ben_code_proc_code"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling PlanBenefitProceduresApi.update_plan_ben_code_proc_code"
      end
      # verify the required parameter 'plan_ben_code_proc_code' is set
      if @api_client.config.client_side_validation && plan_ben_code_proc_code.nil?
        fail ArgumentError, "Missing the required parameter 'plan_ben_code_proc_code' when calling PlanBenefitProceduresApi.update_plan_ben_code_proc_code"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/procedure-codes/{fromProcedure}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_ben_code_proc_code)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenCodeProcCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitProceduresApi.update_plan_ben_code_proc_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitProceduresApi#update_plan_ben_code_proc_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
