=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitRate
    # Creates a new PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate [PlanBenefitRate] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitRateVBAResponse]
    def create_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts = {})
      data, _status_code, _headers = create_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts)
      data
    end

    # Create PlanBenefitRate
    # Creates a new PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate [PlanBenefitRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitRateVBAResponse, Integer, Hash)>] PlanBenefitRateVBAResponse data, response status code and response headers
    def create_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.create_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.create_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.create_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.create_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate' is set
      if @api_client.config.client_side_validation && plan_benefit_rate.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate' when calling PlanBenefitRatesApi.create_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.create_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#create_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitRate
    # Deletes an PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts = {})
      delete_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts)
      nil
    end

    # Delete PlanBenefitRate
    # Deletes an PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.delete_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.delete_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.delete_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.delete_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate_key' is set
      if @api_client.config.client_side_validation && plan_benefit_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate_key' when calling PlanBenefitRatesApi.delete_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates/{planBenefitRateKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'planBenefitRateKey' + '}', CGI.escape(plan_benefit_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.delete_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#delete_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitRate
    # Gets PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitRateVBAResponse]
    def get_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts = {})
      data, _status_code, _headers = get_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts)
      data
    end

    # Get PlanBenefitRate
    # Gets PlanBenefitRate
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitRateVBAResponse, Integer, Hash)>] PlanBenefitRateVBAResponse data, response status code and response headers
    def get_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.get_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.get_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.get_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.get_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate_key' is set
      if @api_client.config.client_side_validation && plan_benefit_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate_key' when calling PlanBenefitRatesApi.get_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates/{planBenefitRateKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'planBenefitRateKey' + '}', CGI.escape(plan_benefit_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.get_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#get_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitRate
    # Lists all PlanBenefitRate for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitRateListVBAResponse]
    def list_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenefitRate
    # Lists all PlanBenefitRate for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitRateListVBAResponse, Integer, Hash)>] PlanBenefitRateListVBAResponse data, response status code and response headers
    def list_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.list_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.list_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.list_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.list_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.list_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#list_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitRate
    # Create or Update multiple PlanBenefitRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate [Array<PlanBenefitRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts = {})
      data, _status_code, _headers = update_batch_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts)
      data
    end

    # Create or Update Batch PlanBenefitRate
    # Create or Update multiple PlanBenefitRate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate [Array<PlanBenefitRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.update_batch_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.update_batch_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.update_batch_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.update_batch_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate' is set
      if @api_client.config.client_side_validation && plan_benefit_rate.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate' when calling PlanBenefitRatesApi.update_batch_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.update_batch_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#update_batch_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitRate
    # Updates a specific PlanBenefitRate.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param plan_benefit_rate [PlanBenefitRate] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitRateVBAResponse]
    def update_plan_benefit_rate(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, plan_benefit_rate, opts = {})
      data, _status_code, _headers = update_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, plan_benefit_rate, opts)
      data
    end

    # Update PlanBenefitRate
    # Updates a specific PlanBenefitRate.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_rate_key [Integer] PlanBenefitRate Key
    # @param plan_benefit_rate [PlanBenefitRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitRateVBAResponse, Integer, Hash)>] PlanBenefitRateVBAResponse data, response status code and response headers
    def update_plan_benefit_rate_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_rate_key, plan_benefit_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitRatesApi.update_plan_benefit_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitRatesApi.update_plan_benefit_rate"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitRatesApi.update_plan_benefit_rate"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitRatesApi.update_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate_key' is set
      if @api_client.config.client_side_validation && plan_benefit_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate_key' when calling PlanBenefitRatesApi.update_plan_benefit_rate"
      end
      # verify the required parameter 'plan_benefit_rate' is set
      if @api_client.config.client_side_validation && plan_benefit_rate.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_rate' when calling PlanBenefitRatesApi.update_plan_benefit_rate"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/rates/{planBenefitRateKey}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'planBenefitRateKey' + '}', CGI.escape(plan_benefit_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitRatesApi.update_plan_benefit_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitRatesApi#update_plan_benefit_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
