=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanModifiersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanModifier
    # Creates a new PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_modifier [PlanModifier] 
    # @param [Hash] opts the optional parameters
    # @return [PlanModifierVBAResponse]
    def create_plan_modifier(vbasoftware_database, plan_id, plan_modifier, opts = {})
      data, _status_code, _headers = create_plan_modifier_with_http_info(vbasoftware_database, plan_id, plan_modifier, opts)
      data
    end

    # Create PlanModifier
    # Creates a new PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_modifier [PlanModifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanModifierVBAResponse, Integer, Hash)>] PlanModifierVBAResponse data, response status code and response headers
    def create_plan_modifier_with_http_info(vbasoftware_database, plan_id, plan_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.create_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.create_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.create_plan_modifier"
      end
      # verify the required parameter 'plan_modifier' is set
      if @api_client.config.client_side_validation && plan_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_modifier' when calling PlanModifiersApi.create_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.create_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#create_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanModifier
    # Deletes an PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_modifier(vbasoftware_database, plan_id, modifier, effective_date, opts = {})
      delete_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, opts)
      nil
    end

    # Delete PlanModifier
    # Deletes an PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.delete_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.delete_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.delete_plan_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanModifiersApi.delete_plan_modifier"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling PlanModifiersApi.delete_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers/{modifier}/effective-dates/{effectiveDate}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.delete_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#delete_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanModifier
    # Gets PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [PlanModifierVBAResponse]
    def get_plan_modifier(vbasoftware_database, plan_id, modifier, effective_date, opts = {})
      data, _status_code, _headers = get_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, opts)
      data
    end

    # Get PlanModifier
    # Gets PlanModifier
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanModifierVBAResponse, Integer, Hash)>] PlanModifierVBAResponse data, response status code and response headers
    def get_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.get_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.get_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.get_plan_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanModifiersApi.get_plan_modifier"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling PlanModifiersApi.get_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers/{modifier}/effective-dates/{effectiveDate}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.get_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#get_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanModifier
    # Lists all PlanModifier for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanModifierListVBAResponse]
    def list_plan_modifier(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_modifier_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanModifier
    # Lists all PlanModifier for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanModifierListVBAResponse, Integer, Hash)>] PlanModifierListVBAResponse data, response status code and response headers
    def list_plan_modifier_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.list_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.list_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.list_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanModifierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.list_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#list_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanModifier
    # Create or Update multiple PlanModifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_modifier [Array<PlanModifier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_modifier(vbasoftware_database, plan_id, plan_modifier, opts = {})
      data, _status_code, _headers = update_batch_plan_modifier_with_http_info(vbasoftware_database, plan_id, plan_modifier, opts)
      data
    end

    # Create or Update Batch PlanModifier
    # Create or Update multiple PlanModifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_modifier [Array<PlanModifier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_modifier_with_http_info(vbasoftware_database, plan_id, plan_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.update_batch_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.update_batch_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.update_batch_plan_modifier"
      end
      # verify the required parameter 'plan_modifier' is set
      if @api_client.config.client_side_validation && plan_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_modifier' when calling PlanModifiersApi.update_batch_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.update_batch_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#update_batch_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanModifier
    # Updates a specific PlanModifier.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param plan_modifier [PlanModifier] 
    # @param [Hash] opts the optional parameters
    # @return [PlanModifierVBAResponse]
    def update_plan_modifier(vbasoftware_database, plan_id, modifier, effective_date, plan_modifier, opts = {})
      data, _status_code, _headers = update_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, plan_modifier, opts)
      data
    end

    # Update PlanModifier
    # Updates a specific PlanModifier.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param modifier [String] Modifier
    # @param effective_date [Time] Effective Date
    # @param plan_modifier [PlanModifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanModifierVBAResponse, Integer, Hash)>] PlanModifierVBAResponse data, response status code and response headers
    def update_plan_modifier_with_http_info(vbasoftware_database, plan_id, modifier, effective_date, plan_modifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanModifiersApi.update_plan_modifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanModifiersApi.update_plan_modifier"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanModifiersApi.update_plan_modifier"
      end
      # verify the required parameter 'modifier' is set
      if @api_client.config.client_side_validation && modifier.nil?
        fail ArgumentError, "Missing the required parameter 'modifier' when calling PlanModifiersApi.update_plan_modifier"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling PlanModifiersApi.update_plan_modifier"
      end
      # verify the required parameter 'plan_modifier' is set
      if @api_client.config.client_side_validation && plan_modifier.nil?
        fail ArgumentError, "Missing the required parameter 'plan_modifier' when calling PlanModifiersApi.update_plan_modifier"
      end
      # resource path
      local_var_path = '/plans/{planID}/modifiers/{modifier}/effective-dates/{effectiveDate}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'modifier' + '}', CGI.escape(modifier.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_modifier)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanModifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanModifiersApi.update_plan_modifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanModifiersApi#update_plan_modifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
