=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanBenefitPBMCoPaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanBenefitPBM
    # Creates a new PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_pbm [PlanBenefitPBM] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitPBMVBAResponse]
    def create_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts = {})
      data, _status_code, _headers = create_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts)
      data
    end

    # Create PlanBenefitPBM
    # Creates a new PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_pbm [PlanBenefitPBM] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitPBMVBAResponse, Integer, Hash)>] PlanBenefitPBMVBAResponse data, response status code and response headers
    def create_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_benefit_pbm' is set
      if @api_client.config.client_side_validation && plan_benefit_pbm.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_pbm' when calling PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_pbm)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitPBMVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.create_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#create_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanBenefitPBM
    # Deletes an PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts = {})
      delete_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts)
      nil
    end

    # Delete PlanBenefitPBM
    # Deletes an PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays/{pBMType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.delete_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#delete_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanBenefitPBM
    # Gets PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitPBMVBAResponse]
    def get_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts = {})
      data, _status_code, _headers = get_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts)
      data
    end

    # Get PlanBenefitPBM
    # Gets PlanBenefitPBM
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitPBMVBAResponse, Integer, Hash)>] PlanBenefitPBMVBAResponse data, response status code and response headers
    def get_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays/{pBMType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitPBMVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.get_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#get_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanBenefitPBM
    # Lists all PlanBenefitPBM for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitPBMListVBAResponse]
    def list_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, opts = {})
      data, _status_code, _headers = list_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, opts)
      data
    end

    # List PlanBenefitPBM
    # Lists all PlanBenefitPBM for the given planID and benefitCode
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitPBMListVBAResponse, Integer, Hash)>] PlanBenefitPBMListVBAResponse data, response status code and response headers
    def list_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.list_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.list_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.list_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.list_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitPBMListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.list_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#list_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanBenefitPBM
    # Create or Update multiple PlanBenefitPBM at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_pbm [Array<PlanBenefitPBM>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts = {})
      data, _status_code, _headers = update_batch_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts)
      data
    end

    # Create or Update Batch PlanBenefitPBM
    # Create or Update multiple PlanBenefitPBM at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param plan_benefit_pbm [Array<PlanBenefitPBM>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, plan_benefit_pbm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_benefit_pbm' is set
      if @api_client.config.client_side_validation && plan_benefit_pbm.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_pbm' when calling PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_pbm)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.update_batch_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#update_batch_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanBenefitPBM
    # Updates a specific PlanBenefitPBM.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param plan_benefit_pbm [PlanBenefitPBM] 
    # @param [Hash] opts the optional parameters
    # @return [PlanBenefitPBMVBAResponse]
    def update_plan_benefit_pbm(vbasoftware_database, plan_id, benefit_code, p_bm_type, plan_benefit_pbm, opts = {})
      data, _status_code, _headers = update_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, plan_benefit_pbm, opts)
      data
    end

    # Update PlanBenefitPBM
    # Updates a specific PlanBenefitPBM.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param p_bm_type [String] PBM Type
    # @param plan_benefit_pbm [PlanBenefitPBM] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanBenefitPBMVBAResponse, Integer, Hash)>] PlanBenefitPBMVBAResponse data, response status code and response headers
    def update_plan_benefit_pbm_with_http_info(vbasoftware_database, plan_id, benefit_code, p_bm_type, plan_benefit_pbm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm"
      end
      # verify the required parameter 'p_bm_type' is set
      if @api_client.config.client_side_validation && p_bm_type.nil?
        fail ArgumentError, "Missing the required parameter 'p_bm_type' when calling PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm"
      end
      # verify the required parameter 'plan_benefit_pbm' is set
      if @api_client.config.client_side_validation && plan_benefit_pbm.nil?
        fail ArgumentError, "Missing the required parameter 'plan_benefit_pbm' when calling PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm"
      end
      # resource path
      local_var_path = '/plans/{planID}/benefits/{benefitCode}/pbm-co-pays/{pBMType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'pBMType' + '}', CGI.escape(p_bm_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_benefit_pbm)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanBenefitPBMVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanBenefitPBMCoPaysApi.update_plan_benefit_pbm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanBenefitPBMCoPaysApi#update_plan_benefit_pbm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
