=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanPreExistingCoveragesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanPreEx
    # Creates a new PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_pre_ex [PlanPreEx] 
    # @param [Hash] opts the optional parameters
    # @return [PlanPreExVBAResponse]
    def create_plan_pre_ex(vbasoftware_database, plan_id, plan_pre_ex, opts = {})
      data, _status_code, _headers = create_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, plan_pre_ex, opts)
      data
    end

    # Create PlanPreEx
    # Creates a new PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_pre_ex [PlanPreEx] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanPreExVBAResponse, Integer, Hash)>] PlanPreExVBAResponse data, response status code and response headers
    def create_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, plan_pre_ex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.create_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.create_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.create_plan_pre_ex"
      end
      # verify the required parameter 'plan_pre_ex' is set
      if @api_client.config.client_side_validation && plan_pre_ex.nil?
        fail ArgumentError, "Missing the required parameter 'plan_pre_ex' when calling PlanPreExistingCoveragesApi.create_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_pre_ex)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanPreExVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.create_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#create_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanPreEx
    # Deletes an PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_pre_ex(vbasoftware_database, plan_id, coverage_type, opts = {})
      delete_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, opts)
      nil
    end

    # Delete PlanPreEx
    # Deletes an PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.delete_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.delete_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.delete_plan_pre_ex"
      end
      # verify the required parameter 'coverage_type' is set
      if @api_client.config.client_side_validation && coverage_type.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_type' when calling PlanPreExistingCoveragesApi.delete_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages/{coverageType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'coverageType' + '}', CGI.escape(coverage_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.delete_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#delete_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanPreEx
    # Gets PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param [Hash] opts the optional parameters
    # @return [PlanPreExVBAResponse]
    def get_plan_pre_ex(vbasoftware_database, plan_id, coverage_type, opts = {})
      data, _status_code, _headers = get_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, opts)
      data
    end

    # Get PlanPreEx
    # Gets PlanPreEx
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanPreExVBAResponse, Integer, Hash)>] PlanPreExVBAResponse data, response status code and response headers
    def get_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.get_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.get_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.get_plan_pre_ex"
      end
      # verify the required parameter 'coverage_type' is set
      if @api_client.config.client_side_validation && coverage_type.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_type' when calling PlanPreExistingCoveragesApi.get_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages/{coverageType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'coverageType' + '}', CGI.escape(coverage_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanPreExVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.get_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#get_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanPreEx
    # Lists all PlanPreEx for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanPreExListVBAResponse]
    def list_plan_pre_ex(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanPreEx
    # Lists all PlanPreEx for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanPreExListVBAResponse, Integer, Hash)>] PlanPreExListVBAResponse data, response status code and response headers
    def list_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.list_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.list_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.list_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanPreExListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.list_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#list_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanPreEx
    # Create or Update multiple PlanPreEx at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_pre_ex [Array<PlanPreEx>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_pre_ex(vbasoftware_database, plan_id, plan_pre_ex, opts = {})
      data, _status_code, _headers = update_batch_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, plan_pre_ex, opts)
      data
    end

    # Create or Update Batch PlanPreEx
    # Create or Update multiple PlanPreEx at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_pre_ex [Array<PlanPreEx>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, plan_pre_ex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.update_batch_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.update_batch_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.update_batch_plan_pre_ex"
      end
      # verify the required parameter 'plan_pre_ex' is set
      if @api_client.config.client_side_validation && plan_pre_ex.nil?
        fail ArgumentError, "Missing the required parameter 'plan_pre_ex' when calling PlanPreExistingCoveragesApi.update_batch_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_pre_ex)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.update_batch_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#update_batch_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanPreEx
    # Updates a specific PlanPreEx.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param plan_pre_ex [PlanPreEx] 
    # @param [Hash] opts the optional parameters
    # @return [PlanPreExVBAResponse]
    def update_plan_pre_ex(vbasoftware_database, plan_id, coverage_type, plan_pre_ex, opts = {})
      data, _status_code, _headers = update_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, plan_pre_ex, opts)
      data
    end

    # Update PlanPreEx
    # Updates a specific PlanPreEx.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param coverage_type [String] Coverage Type
    # @param plan_pre_ex [PlanPreEx] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanPreExVBAResponse, Integer, Hash)>] PlanPreExVBAResponse data, response status code and response headers
    def update_plan_pre_ex_with_http_info(vbasoftware_database, plan_id, coverage_type, plan_pre_ex, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanPreExistingCoveragesApi.update_plan_pre_ex ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanPreExistingCoveragesApi.update_plan_pre_ex"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanPreExistingCoveragesApi.update_plan_pre_ex"
      end
      # verify the required parameter 'coverage_type' is set
      if @api_client.config.client_side_validation && coverage_type.nil?
        fail ArgumentError, "Missing the required parameter 'coverage_type' when calling PlanPreExistingCoveragesApi.update_plan_pre_ex"
      end
      # verify the required parameter 'plan_pre_ex' is set
      if @api_client.config.client_side_validation && plan_pre_ex.nil?
        fail ArgumentError, "Missing the required parameter 'plan_pre_ex' when calling PlanPreExistingCoveragesApi.update_plan_pre_ex"
      end
      # resource path
      local_var_path = '/plans/{planID}/pre-existing-coverages/{coverageType}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'coverageType' + '}', CGI.escape(coverage_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_pre_ex)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanPreExVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanPreExistingCoveragesApi.update_plan_pre_ex",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanPreExistingCoveragesApi#update_plan_pre_ex\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
