=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanAccumulatorBenefitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanAddedAccumBenefits
    # Creates a new PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param plan_added_accum_benefits [PlanAddedAccumBenefits] 
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumBenefitsVBAResponse]
    def create_plan_added_accum_benefits(vbasoftware_database, plan_id, accum_name, benefit_code, plan_added_accum_benefits, opts = {})
      data, _status_code, _headers = create_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, plan_added_accum_benefits, opts)
      data
    end

    # Create PlanAddedAccumBenefits
    # Creates a new PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param plan_added_accum_benefits [PlanAddedAccumBenefits] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumBenefitsVBAResponse, Integer, Hash)>] PlanAddedAccumBenefitsVBAResponse data, response status code and response headers
    def create_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, plan_added_accum_benefits, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_added_accum_benefits' is set
      if @api_client.config.client_side_validation && plan_added_accum_benefits.nil?
        fail ArgumentError, "Missing the required parameter 'plan_added_accum_benefits' when calling PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}/benefits/{benefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_added_accum_benefits)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumBenefitsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorBenefitsApi.create_plan_added_accum_benefits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorBenefitsApi#create_plan_added_accum_benefits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanAddedAccumBenefits
    # Deletes an PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_added_accum_benefits(vbasoftware_database, plan_id, accum_name, benefit_code, opts = {})
      delete_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, opts)
      nil
    end

    # Delete PlanAddedAccumBenefits
    # Deletes an PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}/benefits/{benefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorBenefitsApi.delete_plan_added_accum_benefits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorBenefitsApi#delete_plan_added_accum_benefits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanAddedAccumBenefits
    # Gets PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumBenefitsVBAResponse]
    def get_plan_added_accum_benefits(vbasoftware_database, plan_id, accum_name, benefit_code, opts = {})
      data, _status_code, _headers = get_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, opts)
      data
    end

    # Get PlanAddedAccumBenefits
    # Gets PlanAddedAccumBenefits
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param benefit_code [String] Benefit Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumBenefitsVBAResponse, Integer, Hash)>] PlanAddedAccumBenefitsVBAResponse data, response status code and response headers
    def get_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, benefit_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}/benefits/{benefitCode}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumBenefitsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorBenefitsApi.get_plan_added_accum_benefits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorBenefitsApi#get_plan_added_accum_benefits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanAddedAccumBenefits
    # Lists all PlanAddedAccumBenefits planID,accumName
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumBenefitsListVBAResponse]
    def list_plan_added_accum_benefits(vbasoftware_database, plan_id, accum_name, opts = {})
      data, _status_code, _headers = list_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, opts)
      data
    end

    # List PlanAddedAccumBenefits
    # Lists all PlanAddedAccumBenefits planID,accumName
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumBenefitsListVBAResponse, Integer, Hash)>] PlanAddedAccumBenefitsListVBAResponse data, response status code and response headers
    def list_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorBenefitsApi.list_plan_added_accum_benefits ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorBenefitsApi.list_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorBenefitsApi.list_plan_added_accum_benefits"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorBenefitsApi.list_plan_added_accum_benefits"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}/benefits'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumBenefitsListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorBenefitsApi.list_plan_added_accum_benefits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorBenefitsApi#list_plan_added_accum_benefits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Batch PlanAddedAccumBenefits
    # Create multiple PlanAddedAccumBenefits at once.  If the entity exists, an error message will be added to the response.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param plan_added_accum_benefits [Array<PlanAddedAccumBenefits>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_added_accum_benefits(vbasoftware_database, plan_id, accum_name, plan_added_accum_benefits, opts = {})
      data, _status_code, _headers = update_batch_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, plan_added_accum_benefits, opts)
      data
    end

    # Create Batch PlanAddedAccumBenefits
    # Create multiple PlanAddedAccumBenefits at once.  If the entity exists, an error message will be added to the response.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param plan_added_accum_benefits [Array<PlanAddedAccumBenefits>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_added_accum_benefits_with_http_info(vbasoftware_database, plan_id, accum_name, plan_added_accum_benefits, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits"
      end
      # verify the required parameter 'plan_added_accum_benefits' is set
      if @api_client.config.client_side_validation && plan_added_accum_benefits.nil?
        fail ArgumentError, "Missing the required parameter 'plan_added_accum_benefits' when calling PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}/benefits-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_added_accum_benefits)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorBenefitsApi.update_batch_plan_added_accum_benefits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorBenefitsApi#update_batch_plan_added_accum_benefits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
