=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanAccumulatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Plan Accumulator
    # Creates a new Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_added_accum [PlanAddedAccum] 
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumVBAResponse]
    def create_plan_added_accum(vbasoftware_database, plan_id, plan_added_accum, opts = {})
      data, _status_code, _headers = create_plan_added_accum_with_http_info(vbasoftware_database, plan_id, plan_added_accum, opts)
      data
    end

    # Create Plan Accumulator
    # Creates a new Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_added_accum [PlanAddedAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumVBAResponse, Integer, Hash)>] PlanAddedAccumVBAResponse data, response status code and response headers
    def create_plan_added_accum_with_http_info(vbasoftware_database, plan_id, plan_added_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.create_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.create_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.create_plan_added_accum"
      end
      # verify the required parameter 'plan_added_accum' is set
      if @api_client.config.client_side_validation && plan_added_accum.nil?
        fail ArgumentError, "Missing the required parameter 'plan_added_accum' when calling PlanAccumulatorsApi.create_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_added_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.create_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#create_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Plan Accumulator
    # Deletes an Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_added_accum(vbasoftware_database, plan_id, accum_name, opts = {})
      delete_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, opts)
      nil
    end

    # Delete Plan Accumulator
    # Deletes an Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.delete_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.delete_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.delete_plan_added_accum"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorsApi.delete_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.delete_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#delete_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Plan Accumulator
    # Gets Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumVBAResponse]
    def get_plan_added_accum(vbasoftware_database, plan_id, accum_name, opts = {})
      data, _status_code, _headers = get_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, opts)
      data
    end

    # Get Plan Accumulator
    # Gets Plan Accumulator
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumVBAResponse, Integer, Hash)>] PlanAddedAccumVBAResponse data, response status code and response headers
    def get_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.get_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.get_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.get_plan_added_accum"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorsApi.get_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.get_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#get_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Plan Accumulator
    # Lists all Plan Accumulator given a specific Plan ID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumListVBAResponse]
    def list_plan_added_accum(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_added_accum_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List Plan Accumulator
    # Lists all Plan Accumulator given a specific Plan ID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumListVBAResponse, Integer, Hash)>] PlanAddedAccumListVBAResponse data, response status code and response headers
    def list_plan_added_accum_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.list_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.list_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.list_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.list_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#list_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Plan Accumulator
    # Create or Update multiple Plan Accumulator at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_added_accum [Array<PlanAddedAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_added_accum(vbasoftware_database, plan_id, plan_added_accum, opts = {})
      data, _status_code, _headers = update_batch_plan_added_accum_with_http_info(vbasoftware_database, plan_id, plan_added_accum, opts)
      data
    end

    # Create or Update Batch Plan Accumulator
    # Create or Update multiple Plan Accumulator at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param plan_added_accum [Array<PlanAddedAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_added_accum_with_http_info(vbasoftware_database, plan_id, plan_added_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.update_batch_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.update_batch_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.update_batch_plan_added_accum"
      end
      # verify the required parameter 'plan_added_accum' is set
      if @api_client.config.client_side_validation && plan_added_accum.nil?
        fail ArgumentError, "Missing the required parameter 'plan_added_accum' when calling PlanAccumulatorsApi.update_batch_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators-batch'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_added_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.update_batch_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#update_batch_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Plan Accumulator
    # Updates a specific Plan Accumulator.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param plan_added_accum [PlanAddedAccum] 
    # @param [Hash] opts the optional parameters
    # @return [PlanAddedAccumVBAResponse]
    def update_plan_added_accum(vbasoftware_database, plan_id, accum_name, plan_added_accum, opts = {})
      data, _status_code, _headers = update_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, plan_added_accum, opts)
      data
    end

    # Update Plan Accumulator
    # Updates a specific Plan Accumulator.
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param accum_name [String] Accum Name
    # @param plan_added_accum [PlanAddedAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanAddedAccumVBAResponse, Integer, Hash)>] PlanAddedAccumVBAResponse data, response status code and response headers
    def update_plan_added_accum_with_http_info(vbasoftware_database, plan_id, accum_name, plan_added_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanAccumulatorsApi.update_plan_added_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanAccumulatorsApi.update_plan_added_accum"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanAccumulatorsApi.update_plan_added_accum"
      end
      # verify the required parameter 'accum_name' is set
      if @api_client.config.client_side_validation && accum_name.nil?
        fail ArgumentError, "Missing the required parameter 'accum_name' when calling PlanAccumulatorsApi.update_plan_added_accum"
      end
      # verify the required parameter 'plan_added_accum' is set
      if @api_client.config.client_side_validation && plan_added_accum.nil?
        fail ArgumentError, "Missing the required parameter 'plan_added_accum' when calling PlanAccumulatorsApi.update_plan_added_accum"
      end
      # resource path
      local_var_path = '/plans/{planID}/accumulators/{accumName}'.sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'accumName' + '}', CGI.escape(accum_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_added_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanAddedAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanAccumulatorsApi.update_plan_added_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanAccumulatorsApi#update_plan_added_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
