=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PlanRelationshipAgeRestrictionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PlanRelationshipAge
    # Creates a new PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age [PlanRelationshipAge] 
    # @param [Hash] opts the optional parameters
    # @return [PlanRelationshipAgeVBAResponse]
    def create_plan_relationship_age(vbasoftware_database, plan_relationship_age, opts = {})
      data, _status_code, _headers = create_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age, opts)
      data
    end

    # Create PlanRelationshipAge
    # Creates a new PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age [PlanRelationshipAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanRelationshipAgeVBAResponse, Integer, Hash)>] PlanRelationshipAgeVBAResponse data, response status code and response headers
    def create_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.create_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.create_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age' is set
      if @api_client.config.client_side_validation && plan_relationship_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age' when calling PlanRelationshipAgeRestrictionsApi.create_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_relationship_age)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanRelationshipAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.create_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#create_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PlanRelationshipAge
    # Deletes an PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_plan_relationship_age(vbasoftware_database, plan_relationship_age_key, opts = {})
      delete_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, opts)
      nil
    end

    # Delete PlanRelationshipAge
    # Deletes an PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.delete_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.delete_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age_key' is set
      if @api_client.config.client_side_validation && plan_relationship_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age_key' when calling PlanRelationshipAgeRestrictionsApi.delete_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions/{planRelationshipAgeKey}'.sub('{' + 'planRelationshipAgeKey' + '}', CGI.escape(plan_relationship_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.delete_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#delete_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PlanRelationshipAge
    # Gets PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param [Hash] opts the optional parameters
    # @return [PlanRelationshipAgeVBAResponse]
    def get_plan_relationship_age(vbasoftware_database, plan_relationship_age_key, opts = {})
      data, _status_code, _headers = get_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, opts)
      data
    end

    # Get PlanRelationshipAge
    # Gets PlanRelationshipAge
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanRelationshipAgeVBAResponse, Integer, Hash)>] PlanRelationshipAgeVBAResponse data, response status code and response headers
    def get_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.get_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.get_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age_key' is set
      if @api_client.config.client_side_validation && plan_relationship_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age_key' when calling PlanRelationshipAgeRestrictionsApi.get_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions/{planRelationshipAgeKey}'.sub('{' + 'planRelationshipAgeKey' + '}', CGI.escape(plan_relationship_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanRelationshipAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.get_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#get_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PlanRelationshipAge
    # Lists all PlanRelationshipAge for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [PlanRelationshipAgeListVBAResponse]
    def list_plan_relationship_age(vbasoftware_database, plan_id, opts = {})
      data, _status_code, _headers = list_plan_relationship_age_with_http_info(vbasoftware_database, plan_id, opts)
      data
    end

    # List PlanRelationshipAge
    # Lists all PlanRelationshipAge for the given planID
    # @param vbasoftware_database [String] Target database
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanRelationshipAgeListVBAResponse, Integer, Hash)>] PlanRelationshipAgeListVBAResponse data, response status code and response headers
    def list_plan_relationship_age_with_http_info(vbasoftware_database, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.list_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.list_plan_relationship_age"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling PlanRelationshipAgeRestrictionsApi.list_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planID'] = plan_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlanRelationshipAgeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.list_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#list_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PlanRelationshipAge
    # Create or Update multiple PlanRelationshipAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age [Array<PlanRelationshipAge>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_plan_relationship_age(vbasoftware_database, plan_relationship_age, opts = {})
      data, _status_code, _headers = update_batch_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age, opts)
      data
    end

    # Create or Update Batch PlanRelationshipAge
    # Create or Update multiple PlanRelationshipAge at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age [Array<PlanRelationshipAge>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.update_batch_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.update_batch_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age' is set
      if @api_client.config.client_side_validation && plan_relationship_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age' when calling PlanRelationshipAgeRestrictionsApi.update_batch_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_relationship_age)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.update_batch_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#update_batch_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PlanRelationshipAge
    # Updates a specific PlanRelationshipAge.
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param plan_relationship_age [PlanRelationshipAge] 
    # @param [Hash] opts the optional parameters
    # @return [PlanRelationshipAgeVBAResponse]
    def update_plan_relationship_age(vbasoftware_database, plan_relationship_age_key, plan_relationship_age, opts = {})
      data, _status_code, _headers = update_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, plan_relationship_age, opts)
      data
    end

    # Update PlanRelationshipAge
    # Updates a specific PlanRelationshipAge.
    # @param vbasoftware_database [String] Target database
    # @param plan_relationship_age_key [Integer] PlanRelationshipAge Key
    # @param plan_relationship_age [PlanRelationshipAge] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanRelationshipAgeVBAResponse, Integer, Hash)>] PlanRelationshipAgeVBAResponse data, response status code and response headers
    def update_plan_relationship_age_with_http_info(vbasoftware_database, plan_relationship_age_key, plan_relationship_age, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlanRelationshipAgeRestrictionsApi.update_plan_relationship_age ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PlanRelationshipAgeRestrictionsApi.update_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age_key' is set
      if @api_client.config.client_side_validation && plan_relationship_age_key.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age_key' when calling PlanRelationshipAgeRestrictionsApi.update_plan_relationship_age"
      end
      # verify the required parameter 'plan_relationship_age' is set
      if @api_client.config.client_side_validation && plan_relationship_age.nil?
        fail ArgumentError, "Missing the required parameter 'plan_relationship_age' when calling PlanRelationshipAgeRestrictionsApi.update_plan_relationship_age"
      end
      # resource path
      local_var_path = '/plan-relationship-age-restrictions/{planRelationshipAgeKey}'.sub('{' + 'planRelationshipAgeKey' + '}', CGI.escape(plan_relationship_age_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(plan_relationship_age)

      # return_type
      return_type = opts[:debug_return_type] || 'PlanRelationshipAgeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PlanRelationshipAgeRestrictionsApi.update_plan_relationship_age",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlanRelationshipAgeRestrictionsApi#update_plan_relationship_age\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
