=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PolicyForfeitureExtApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PolicyForfeitureExt
    # Creates a new PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext [PolicyForfeitureExt] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyForfeitureExtVBAResponse]
    def create_policy_forfeiture_ext(vbasoftware_database, policy_forfeiture_ext, opts = {})
      data, _status_code, _headers = create_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext, opts)
      data
    end

    # Create PolicyForfeitureExt
    # Creates a new PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext [PolicyForfeitureExt] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyForfeitureExtVBAResponse, Integer, Hash)>] PolicyForfeitureExtVBAResponse data, response status code and response headers
    def create_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.create_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.create_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext' when calling PolicyForfeitureExtApi.create_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_forfeiture_ext)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyForfeitureExtVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.create_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#create_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PolicyForfeitureExt
    # Deletes an PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_forfeiture_ext(vbasoftware_database, policy_forfeiture_ext_key, opts = {})
      delete_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, opts)
      nil
    end

    # Delete PolicyForfeitureExt
    # Deletes an PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.delete_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.delete_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext_key' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext_key.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext_key' when calling PolicyForfeitureExtApi.delete_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts/{PolicyForfeitureExt_Key}'.sub('{' + 'PolicyForfeitureExt_Key' + '}', CGI.escape(policy_forfeiture_ext_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.delete_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#delete_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PolicyForfeitureExt
    # Gets PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param [Hash] opts the optional parameters
    # @return [PolicyForfeitureExtVBAResponse]
    def get_policy_forfeiture_ext(vbasoftware_database, policy_forfeiture_ext_key, opts = {})
      data, _status_code, _headers = get_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, opts)
      data
    end

    # Get PolicyForfeitureExt
    # Gets PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyForfeitureExtVBAResponse, Integer, Hash)>] PolicyForfeitureExtVBAResponse data, response status code and response headers
    def get_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.get_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.get_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext_key' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext_key.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext_key' when calling PolicyForfeitureExtApi.get_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts/{PolicyForfeitureExt_Key}'.sub('{' + 'PolicyForfeitureExt_Key' + '}', CGI.escape(policy_forfeiture_ext_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyForfeitureExtVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.get_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#get_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PolicyForfeitureExt
    # Lists all PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PolicyForfeitureExtListVBAResponse]
    def list_policy_forfeiture_ext(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_policy_forfeiture_ext_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PolicyForfeitureExt
    # Lists all PolicyForfeitureExt
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PolicyForfeitureExtListVBAResponse, Integer, Hash)>] PolicyForfeitureExtListVBAResponse data, response status code and response headers
    def list_policy_forfeiture_ext_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.list_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.list_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyForfeitureExtListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.list_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#list_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PolicyForfeitureExt
    # Create or Update multiple PolicyForfeitureExt at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext [Array<PolicyForfeitureExt>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_policy_forfeiture_ext(vbasoftware_database, policy_forfeiture_ext, opts = {})
      data, _status_code, _headers = update_batch_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext, opts)
      data
    end

    # Create or Update Batch PolicyForfeitureExt
    # Create or Update multiple PolicyForfeitureExt at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext [Array<PolicyForfeitureExt>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.update_batch_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.update_batch_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext' when calling PolicyForfeitureExtApi.update_batch_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_forfeiture_ext)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.update_batch_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#update_batch_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PolicyForfeitureExt
    # Updates a specific PolicyForfeitureExt.
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param policy_forfeiture_ext [PolicyForfeitureExt] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyForfeitureExtVBAResponse]
    def update_policy_forfeiture_ext(vbasoftware_database, policy_forfeiture_ext_key, policy_forfeiture_ext, opts = {})
      data, _status_code, _headers = update_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, policy_forfeiture_ext, opts)
      data
    end

    # Update PolicyForfeitureExt
    # Updates a specific PolicyForfeitureExt.
    # @param vbasoftware_database [String] Target database
    # @param policy_forfeiture_ext_key [Integer] PolicyForfeitureExt Key
    # @param policy_forfeiture_ext [PolicyForfeitureExt] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyForfeitureExtVBAResponse, Integer, Hash)>] PolicyForfeitureExtVBAResponse data, response status code and response headers
    def update_policy_forfeiture_ext_with_http_info(vbasoftware_database, policy_forfeiture_ext_key, policy_forfeiture_ext, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyForfeitureExtApi.update_policy_forfeiture_ext ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyForfeitureExtApi.update_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext_key' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext_key.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext_key' when calling PolicyForfeitureExtApi.update_policy_forfeiture_ext"
      end
      # verify the required parameter 'policy_forfeiture_ext' is set
      if @api_client.config.client_side_validation && policy_forfeiture_ext.nil?
        fail ArgumentError, "Missing the required parameter 'policy_forfeiture_ext' when calling PolicyForfeitureExtApi.update_policy_forfeiture_ext"
      end
      # resource path
      local_var_path = '/policy-forfeiture-exts/{PolicyForfeitureExt_Key}'.sub('{' + 'PolicyForfeitureExt_Key' + '}', CGI.escape(policy_forfeiture_ext_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_forfeiture_ext)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyForfeitureExtVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyForfeitureExtApi.update_policy_forfeiture_ext",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyForfeitureExtApi#update_policy_forfeiture_ext\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
