=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PolicyStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PolicyStatus
    # Creates a new PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [PolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyStatusVBAResponse]
    def create_policy_status(vbasoftware_database, policy_status, opts = {})
      data, _status_code, _headers = create_policy_status_with_http_info(vbasoftware_database, policy_status, opts)
      data
    end

    # Create PolicyStatus
    # Creates a new PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [PolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyStatusVBAResponse, Integer, Hash)>] PolicyStatusVBAResponse data, response status code and response headers
    def create_policy_status_with_http_info(vbasoftware_database, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.create_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.create_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling PolicyStatusesApi.create_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_status)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.create_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#create_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PolicyStatus
    # Deletes an PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_status(vbasoftware_database, policy_status, opts = {})
      delete_policy_status_with_http_info(vbasoftware_database, policy_status, opts)
      nil
    end

    # Delete PolicyStatus
    # Deletes an PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_policy_status_with_http_info(vbasoftware_database, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.delete_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.delete_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling PolicyStatusesApi.delete_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses/{policyStatus}'.sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.delete_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#delete_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PolicyStatus
    # Gets PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [PolicyStatusVBAResponse]
    def get_policy_status(vbasoftware_database, policy_status, opts = {})
      data, _status_code, _headers = get_policy_status_with_http_info(vbasoftware_database, policy_status, opts)
      data
    end

    # Get PolicyStatus
    # Gets PolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyStatusVBAResponse, Integer, Hash)>] PolicyStatusVBAResponse data, response status code and response headers
    def get_policy_status_with_http_info(vbasoftware_database, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.get_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.get_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling PolicyStatusesApi.get_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses/{policyStatus}'.sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.get_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#get_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PolicyStatus
    # Lists all PolicyStatus 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [PolicyStatusListVBAResponse]
    def list_policy_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_policy_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PolicyStatus
    # Lists all PolicyStatus 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyStatusListVBAResponse, Integer, Hash)>] PolicyStatusListVBAResponse data, response status code and response headers
    def list_policy_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.list_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.list_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.list_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#list_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PolicyStatus
    # Create or Update multiple PolicyStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param policy_status [Array<PolicyStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_policy_status(vbasoftware_database, policy_status, opts = {})
      data, _status_code, _headers = update_batch_policy_status_with_http_info(vbasoftware_database, policy_status, opts)
      data
    end

    # Create or Update Batch PolicyStatus
    # Create or Update multiple PolicyStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param policy_status [Array<PolicyStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_policy_status_with_http_info(vbasoftware_database, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.update_batch_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.update_batch_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling PolicyStatusesApi.update_batch_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.update_batch_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#update_batch_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PolicyStatus
    # Updates a specific PolicyStatus.
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param policy_status2 [PolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyStatusVBAResponse]
    def update_policy_status(vbasoftware_database, policy_status, policy_status2, opts = {})
      data, _status_code, _headers = update_policy_status_with_http_info(vbasoftware_database, policy_status, policy_status2, opts)
      data
    end

    # Update PolicyStatus
    # Updates a specific PolicyStatus.
    # @param vbasoftware_database [String] Target database
    # @param policy_status [String] Policy Status
    # @param policy_status2 [PolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyStatusVBAResponse, Integer, Hash)>] PolicyStatusVBAResponse data, response status code and response headers
    def update_policy_status_with_http_info(vbasoftware_database, policy_status, policy_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyStatusesApi.update_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PolicyStatusesApi.update_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling PolicyStatusesApi.update_policy_status"
      end
      # verify the required parameter 'policy_status2' is set
      if @api_client.config.client_side_validation && policy_status2.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status2' when calling PolicyStatusesApi.update_policy_status"
      end
      # resource path
      local_var_path = '/policy-statuses/{policyStatus}'.sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyStatusesApi.update_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyStatusesApi#update_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
