=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumPaymentsOnSubscribersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremPaymentSubscriber
    # Creates a new PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_subscriber [PremPaymentSubscriber] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentSubscriberVBAResponse]
    def create_prem_payment_subscriber(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts = {})
      data, _status_code, _headers = create_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts)
      data
    end

    # Create PremPaymentSubscriber
    # Creates a new PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_subscriber [PremPaymentSubscriber] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentSubscriberVBAResponse, Integer, Hash)>] PremPaymentSubscriberVBAResponse data, response status code and response headers
    def create_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.create_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.create_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.create_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_subscriber' is set
      if @api_client.config.client_side_validation && prem_payment_subscriber.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_subscriber' when calling PremiumPaymentsOnSubscribersApi.create_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_subscriber)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentSubscriberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.create_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#create_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremPaymentSubscriber
    # Deletes an PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_payment_subscriber(vbasoftware_database, prem_payment_key, subscriber_id, opts = {})
      delete_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, opts)
      nil
    end

    # Delete PremPaymentSubscriber
    # Deletes an PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.delete_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.delete_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.delete_prem_payment_subscriber"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumPaymentsOnSubscribersApi.delete_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments/{subscriberID}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.delete_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#delete_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremPaymentSubscriber
    # Gets PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentSubscriberVBAResponse]
    def get_prem_payment_subscriber(vbasoftware_database, prem_payment_key, subscriber_id, opts = {})
      data, _status_code, _headers = get_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, opts)
      data
    end

    # Get PremPaymentSubscriber
    # Gets PremPaymentSubscriber
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentSubscriberVBAResponse, Integer, Hash)>] PremPaymentSubscriberVBAResponse data, response status code and response headers
    def get_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.get_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.get_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.get_prem_payment_subscriber"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumPaymentsOnSubscribersApi.get_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments/{subscriberID}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentSubscriberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.get_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#get_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremPaymentSubscriber
    # Lists all PremPaymentSubscriber for the given premPaymentKey
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremPaymentSubscriberListVBAResponse]
    def list_prem_payment_subscriber(vbasoftware_database, prem_payment_key, opts = {})
      data, _status_code, _headers = list_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, opts)
      data
    end

    # List PremPaymentSubscriber
    # Lists all PremPaymentSubscriber for the given premPaymentKey
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremPaymentSubscriberListVBAResponse, Integer, Hash)>] PremPaymentSubscriberListVBAResponse data, response status code and response headers
    def list_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.list_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.list_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.list_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentSubscriberListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.list_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#list_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremPaymentSubscriber
    # Create or Update multiple PremPaymentSubscriber at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_subscriber [Array<PremPaymentSubscriber>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_payment_subscriber(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts = {})
      data, _status_code, _headers = update_batch_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts)
      data
    end

    # Create or Update Batch PremPaymentSubscriber
    # Create or Update multiple PremPaymentSubscriber at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_subscriber [Array<PremPaymentSubscriber>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_subscriber, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.update_batch_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.update_batch_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.update_batch_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_subscriber' is set
      if @api_client.config.client_side_validation && prem_payment_subscriber.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_subscriber' when calling PremiumPaymentsOnSubscribersApi.update_batch_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments-batch'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_subscriber)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.update_batch_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#update_batch_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremPaymentSubscriber
    # Updates a specific PremPaymentSubscriber.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param prem_payment_subscriber [PremPaymentSubscriber] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentSubscriberVBAResponse]
    def update_prem_payment_subscriber(vbasoftware_database, prem_payment_key, subscriber_id, prem_payment_subscriber, opts = {})
      data, _status_code, _headers = update_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, prem_payment_subscriber, opts)
      data
    end

    # Update PremPaymentSubscriber
    # Updates a specific PremPaymentSubscriber.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param subscriber_id [String] Subscriber ID
    # @param prem_payment_subscriber [PremPaymentSubscriber] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentSubscriberVBAResponse, Integer, Hash)>] PremPaymentSubscriberVBAResponse data, response status code and response headers
    def update_prem_payment_subscriber_with_http_info(vbasoftware_database, prem_payment_key, subscriber_id, prem_payment_subscriber, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber"
      end
      # verify the required parameter 'prem_payment_subscriber' is set
      if @api_client.config.client_side_validation && prem_payment_subscriber.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_subscriber' when calling PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/subscriber-payments/{subscriberID}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_subscriber)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentSubscriberVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnSubscribersApi.update_prem_payment_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnSubscribersApi#update_prem_payment_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
