=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateAgeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateAgeType
    # Creates a new PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_age_type [PremRateAgeType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateAgeTypeVBAResponse]
    def create_prem_rate_age_type(vbasoftware_database, prem_rate_age_type, opts = {})
      data, _status_code, _headers = create_prem_rate_age_type_with_http_info(vbasoftware_database, prem_rate_age_type, opts)
      data
    end

    # Create PremRateAgeType
    # Creates a new PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_age_type [PremRateAgeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateAgeTypeVBAResponse, Integer, Hash)>] PremRateAgeTypeVBAResponse data, response status code and response headers
    def create_prem_rate_age_type_with_http_info(vbasoftware_database, prem_rate_age_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.create_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.create_prem_rate_age_type"
      end
      # verify the required parameter 'prem_rate_age_type' is set
      if @api_client.config.client_side_validation && prem_rate_age_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_age_type' when calling PremiumRateAgeTypesApi.create_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_age_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateAgeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.create_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#create_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateAgeType
    # Deletes an PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_age_type(vbasoftware_database, age_type, opts = {})
      delete_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, opts)
      nil
    end

    # Delete PremRateAgeType
    # Deletes an PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.delete_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.delete_prem_rate_age_type"
      end
      # verify the required parameter 'age_type' is set
      if @api_client.config.client_side_validation && age_type.nil?
        fail ArgumentError, "Missing the required parameter 'age_type' when calling PremiumRateAgeTypesApi.delete_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types/{ageType}'.sub('{' + 'ageType' + '}', CGI.escape(age_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.delete_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#delete_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateAgeType
    # Gets PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param [Hash] opts the optional parameters
    # @return [PremRateAgeTypeVBAResponse]
    def get_prem_rate_age_type(vbasoftware_database, age_type, opts = {})
      data, _status_code, _headers = get_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, opts)
      data
    end

    # Get PremRateAgeType
    # Gets PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateAgeTypeVBAResponse, Integer, Hash)>] PremRateAgeTypeVBAResponse data, response status code and response headers
    def get_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.get_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.get_prem_rate_age_type"
      end
      # verify the required parameter 'age_type' is set
      if @api_client.config.client_side_validation && age_type.nil?
        fail ArgumentError, "Missing the required parameter 'age_type' when calling PremiumRateAgeTypesApi.get_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types/{ageType}'.sub('{' + 'ageType' + '}', CGI.escape(age_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateAgeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.get_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#get_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateAgeType
    # Lists all PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateAgeTypeListVBAResponse]
    def list_prem_rate_age_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_rate_age_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremRateAgeType
    # Lists all PremRateAgeType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateAgeTypeListVBAResponse, Integer, Hash)>] PremRateAgeTypeListVBAResponse data, response status code and response headers
    def list_prem_rate_age_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.list_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.list_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateAgeTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.list_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#list_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateAgeType
    # Create or Update multiple PremRateAgeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_age_type [Array<PremRateAgeType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_age_type(vbasoftware_database, prem_rate_age_type, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_age_type_with_http_info(vbasoftware_database, prem_rate_age_type, opts)
      data
    end

    # Create or Update Batch PremRateAgeType
    # Create or Update multiple PremRateAgeType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_age_type [Array<PremRateAgeType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_age_type_with_http_info(vbasoftware_database, prem_rate_age_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.update_batch_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.update_batch_prem_rate_age_type"
      end
      # verify the required parameter 'prem_rate_age_type' is set
      if @api_client.config.client_side_validation && prem_rate_age_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_age_type' when calling PremiumRateAgeTypesApi.update_batch_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_age_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.update_batch_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#update_batch_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateAgeType
    # Updates a specific PremRateAgeType.
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param prem_rate_age_type [PremRateAgeType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateAgeTypeVBAResponse]
    def update_prem_rate_age_type(vbasoftware_database, age_type, prem_rate_age_type, opts = {})
      data, _status_code, _headers = update_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, prem_rate_age_type, opts)
      data
    end

    # Update PremRateAgeType
    # Updates a specific PremRateAgeType.
    # @param vbasoftware_database [String] Target database
    # @param age_type [String] Age Type
    # @param prem_rate_age_type [PremRateAgeType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateAgeTypeVBAResponse, Integer, Hash)>] PremRateAgeTypeVBAResponse data, response status code and response headers
    def update_prem_rate_age_type_with_http_info(vbasoftware_database, age_type, prem_rate_age_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateAgeTypesApi.update_prem_rate_age_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateAgeTypesApi.update_prem_rate_age_type"
      end
      # verify the required parameter 'age_type' is set
      if @api_client.config.client_side_validation && age_type.nil?
        fail ArgumentError, "Missing the required parameter 'age_type' when calling PremiumRateAgeTypesApi.update_prem_rate_age_type"
      end
      # verify the required parameter 'prem_rate_age_type' is set
      if @api_client.config.client_side_validation && prem_rate_age_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_age_type' when calling PremiumRateAgeTypesApi.update_prem_rate_age_type"
      end
      # resource path
      local_var_path = '/premium-rate-age-types/{ageType}'.sub('{' + 'ageType' + '}', CGI.escape(age_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_age_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateAgeTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateAgeTypesApi.update_prem_rate_age_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateAgeTypesApi#update_prem_rate_age_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
