=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumInvoicesSelfAdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremInvoiceSelfAdmin
    # Creates a new PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin [PremInvoiceSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSelfAdminVBAResponse]
    def create_prem_invoice_self_admin(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts = {})
      data, _status_code, _headers = create_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts)
      data
    end

    # Create PremInvoiceSelfAdmin
    # Creates a new PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin [PremInvoiceSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSelfAdminVBAResponse, Integer, Hash)>] PremInvoiceSelfAdminVBAResponse data, response status code and response headers
    def create_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.create_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.create_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.create_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin' when calling PremiumInvoicesSelfAdminApi.create_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.create_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#create_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremInvoiceSelfAdmin
    # Deletes an PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_invoice_self_admin(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts = {})
      delete_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts)
      nil
    end

    # Delete PremInvoiceSelfAdmin
    # Deletes an PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.delete_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.delete_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.delete_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin_key' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin_key' when calling PremiumInvoicesSelfAdminApi.delete_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin/{premInvoiceSelfAdminKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'premInvoiceSelfAdminKey' + '}', CGI.escape(prem_invoice_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.delete_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#delete_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremInvoiceSelfAdmin
    # Gets PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSelfAdminVBAResponse]
    def get_prem_invoice_self_admin(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts = {})
      data, _status_code, _headers = get_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts)
      data
    end

    # Get PremInvoiceSelfAdmin
    # Gets PremInvoiceSelfAdmin
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSelfAdminVBAResponse, Integer, Hash)>] PremInvoiceSelfAdminVBAResponse data, response status code and response headers
    def get_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.get_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.get_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.get_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin_key' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin_key' when calling PremiumInvoicesSelfAdminApi.get_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin/{premInvoiceSelfAdminKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'premInvoiceSelfAdminKey' + '}', CGI.escape(prem_invoice_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.get_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#get_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremInvoiceSelfAdmin
    # Lists all PremInvoiceSelfAdmin for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremInvoiceSelfAdminListVBAResponse]
    def list_prem_invoice_self_admin(vbasoftware_database, invoice_key, opts = {})
      data, _status_code, _headers = list_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, opts)
      data
    end

    # List PremInvoiceSelfAdmin
    # Lists all PremInvoiceSelfAdmin for the given invoiceKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremInvoiceSelfAdminListVBAResponse, Integer, Hash)>] PremInvoiceSelfAdminListVBAResponse data, response status code and response headers
    def list_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.list_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.list_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.list_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSelfAdminListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.list_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#list_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremInvoiceSelfAdmin
    # Create or Update multiple PremInvoiceSelfAdmin at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin [Array<PremInvoiceSelfAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_invoice_self_admin(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts = {})
      data, _status_code, _headers = update_batch_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts)
      data
    end

    # Create or Update Batch PremInvoiceSelfAdmin
    # Create or Update multiple PremInvoiceSelfAdmin at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin [Array<PremInvoiceSelfAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.update_batch_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.update_batch_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.update_batch_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin' when calling PremiumInvoicesSelfAdminApi.update_batch_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin-batch'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.update_batch_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#update_batch_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremInvoiceSelfAdmin
    # Updates a specific PremInvoiceSelfAdmin.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param prem_invoice_self_admin [PremInvoiceSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSelfAdminVBAResponse]
    def update_prem_invoice_self_admin(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, prem_invoice_self_admin, opts = {})
      data, _status_code, _headers = update_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, prem_invoice_self_admin, opts)
      data
    end

    # Update PremInvoiceSelfAdmin
    # Updates a specific PremInvoiceSelfAdmin.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param prem_invoice_self_admin_key [Integer] PremInvoiceSelfAdmin Key
    # @param prem_invoice_self_admin [PremInvoiceSelfAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSelfAdminVBAResponse, Integer, Hash)>] PremInvoiceSelfAdminVBAResponse data, response status code and response headers
    def update_prem_invoice_self_admin_with_http_info(vbasoftware_database, invoice_key, prem_invoice_self_admin_key, prem_invoice_self_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin_key' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin_key' when calling PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin"
      end
      # verify the required parameter 'prem_invoice_self_admin' is set
      if @api_client.config.client_side_validation && prem_invoice_self_admin.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_self_admin' when calling PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/self-admin/{premInvoiceSelfAdminKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'premInvoiceSelfAdminKey' + '}', CGI.escape(prem_invoice_self_admin_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_self_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSelfAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesSelfAdminApi.update_prem_invoice_self_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesSelfAdminApi#update_prem_invoice_self_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
