=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumPaymentFileFormatsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremPaymentFileFormat
    # Creates a new PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_file_format [PremPaymentFileFormat] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentFileFormatVBAResponse]
    def create_prem_payment_file_format(vbasoftware_database, prem_payment_file_format, opts = {})
      data, _status_code, _headers = create_prem_payment_file_format_with_http_info(vbasoftware_database, prem_payment_file_format, opts)
      data
    end

    # Create PremPaymentFileFormat
    # Creates a new PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_file_format [PremPaymentFileFormat] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentFileFormatVBAResponse, Integer, Hash)>] PremPaymentFileFormatVBAResponse data, response status code and response headers
    def create_prem_payment_file_format_with_http_info(vbasoftware_database, prem_payment_file_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.create_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.create_prem_payment_file_format"
      end
      # verify the required parameter 'prem_payment_file_format' is set
      if @api_client.config.client_side_validation && prem_payment_file_format.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_file_format' when calling PremiumPaymentFileFormatsApi.create_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_file_format)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentFileFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.create_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#create_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremPaymentFileFormat
    # Deletes an PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_payment_file_format(vbasoftware_database, payment_file_format_key, opts = {})
      delete_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, opts)
      nil
    end

    # Delete PremPaymentFileFormat
    # Deletes an PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.delete_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.delete_prem_payment_file_format"
      end
      # verify the required parameter 'payment_file_format_key' is set
      if @api_client.config.client_side_validation && payment_file_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'payment_file_format_key' when calling PremiumPaymentFileFormatsApi.delete_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats/{paymentFileFormatKey}'.sub('{' + 'paymentFileFormatKey' + '}', CGI.escape(payment_file_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.delete_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#delete_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremPaymentFileFormat
    # Gets PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentFileFormatVBAResponse]
    def get_prem_payment_file_format(vbasoftware_database, payment_file_format_key, opts = {})
      data, _status_code, _headers = get_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, opts)
      data
    end

    # Get PremPaymentFileFormat
    # Gets PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentFileFormatVBAResponse, Integer, Hash)>] PremPaymentFileFormatVBAResponse data, response status code and response headers
    def get_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.get_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.get_prem_payment_file_format"
      end
      # verify the required parameter 'payment_file_format_key' is set
      if @api_client.config.client_side_validation && payment_file_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'payment_file_format_key' when calling PremiumPaymentFileFormatsApi.get_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats/{paymentFileFormatKey}'.sub('{' + 'paymentFileFormatKey' + '}', CGI.escape(payment_file_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentFileFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.get_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#get_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremPaymentFileFormat
    # Lists all PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremPaymentFileFormatListVBAResponse]
    def list_prem_payment_file_format(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_payment_file_format_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremPaymentFileFormat
    # Lists all PremPaymentFileFormat
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremPaymentFileFormatListVBAResponse, Integer, Hash)>] PremPaymentFileFormatListVBAResponse data, response status code and response headers
    def list_prem_payment_file_format_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.list_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.list_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentFileFormatListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.list_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#list_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremPaymentFileFormat
    # Create or Update multiple PremPaymentFileFormat at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_file_format [Array<PremPaymentFileFormat>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_payment_file_format(vbasoftware_database, prem_payment_file_format, opts = {})
      data, _status_code, _headers = update_batch_prem_payment_file_format_with_http_info(vbasoftware_database, prem_payment_file_format, opts)
      data
    end

    # Create or Update Batch PremPaymentFileFormat
    # Create or Update multiple PremPaymentFileFormat at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_file_format [Array<PremPaymentFileFormat>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_payment_file_format_with_http_info(vbasoftware_database, prem_payment_file_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.update_batch_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.update_batch_prem_payment_file_format"
      end
      # verify the required parameter 'prem_payment_file_format' is set
      if @api_client.config.client_side_validation && prem_payment_file_format.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_file_format' when calling PremiumPaymentFileFormatsApi.update_batch_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_file_format)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.update_batch_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#update_batch_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremPaymentFileFormat
    # Updates a specific PremPaymentFileFormat.
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param prem_payment_file_format [PremPaymentFileFormat] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentFileFormatVBAResponse]
    def update_prem_payment_file_format(vbasoftware_database, payment_file_format_key, prem_payment_file_format, opts = {})
      data, _status_code, _headers = update_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, prem_payment_file_format, opts)
      data
    end

    # Update PremPaymentFileFormat
    # Updates a specific PremPaymentFileFormat.
    # @param vbasoftware_database [String] Target database
    # @param payment_file_format_key [Integer] Payment File Format Key
    # @param prem_payment_file_format [PremPaymentFileFormat] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentFileFormatVBAResponse, Integer, Hash)>] PremPaymentFileFormatVBAResponse data, response status code and response headers
    def update_prem_payment_file_format_with_http_info(vbasoftware_database, payment_file_format_key, prem_payment_file_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentFileFormatsApi.update_prem_payment_file_format ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentFileFormatsApi.update_prem_payment_file_format"
      end
      # verify the required parameter 'payment_file_format_key' is set
      if @api_client.config.client_side_validation && payment_file_format_key.nil?
        fail ArgumentError, "Missing the required parameter 'payment_file_format_key' when calling PremiumPaymentFileFormatsApi.update_prem_payment_file_format"
      end
      # verify the required parameter 'prem_payment_file_format' is set
      if @api_client.config.client_side_validation && prem_payment_file_format.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_file_format' when calling PremiumPaymentFileFormatsApi.update_prem_payment_file_format"
      end
      # resource path
      local_var_path = '/premium-payment-file-formats/{paymentFileFormatKey}'.sub('{' + 'paymentFileFormatKey' + '}', CGI.escape(payment_file_format_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_file_format)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentFileFormatVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentFileFormatsApi.update_prem_payment_file_format",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentFileFormatsApi#update_prem_payment_file_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
