=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumInvoiceAdjustmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremInvoiceAdjustment
    # Creates a new PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adjustment [PremInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjustmentVBAResponse]
    def create_prem_invoice_adjustment(vbasoftware_database, prem_invoice_adjustment, opts = {})
      data, _status_code, _headers = create_prem_invoice_adjustment_with_http_info(vbasoftware_database, prem_invoice_adjustment, opts)
      data
    end

    # Create PremInvoiceAdjustment
    # Creates a new PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adjustment [PremInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjustmentVBAResponse, Integer, Hash)>] PremInvoiceAdjustmentVBAResponse data, response status code and response headers
    def create_prem_invoice_adjustment_with_http_info(vbasoftware_database, prem_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.create_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.create_prem_invoice_adjustment"
      end
      # verify the required parameter 'prem_invoice_adjustment' is set
      if @api_client.config.client_side_validation && prem_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adjustment' when calling PremiumInvoiceAdjustmentsApi.create_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.create_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#create_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremInvoiceAdjustment
    # Deletes an PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_invoice_adjustment(vbasoftware_database, invoice_adjustment_key, opts = {})
      delete_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, opts)
      nil
    end

    # Delete PremInvoiceAdjustment
    # Deletes an PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.delete_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.delete_prem_invoice_adjustment"
      end
      # verify the required parameter 'invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_adjustment_key' when calling PremiumInvoiceAdjustmentsApi.delete_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments/{invoiceAdjustmentKey}'.sub('{' + 'invoiceAdjustmentKey' + '}', CGI.escape(invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.delete_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#delete_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremInvoiceAdjustment
    # Gets PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjustmentVBAResponse]
    def get_prem_invoice_adjustment(vbasoftware_database, invoice_adjustment_key, opts = {})
      data, _status_code, _headers = get_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, opts)
      data
    end

    # Get PremInvoiceAdjustment
    # Gets PremInvoiceAdjustment
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjustmentVBAResponse, Integer, Hash)>] PremInvoiceAdjustmentVBAResponse data, response status code and response headers
    def get_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.get_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.get_prem_invoice_adjustment"
      end
      # verify the required parameter 'invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_adjustment_key' when calling PremiumInvoiceAdjustmentsApi.get_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments/{invoiceAdjustmentKey}'.sub('{' + 'invoiceAdjustmentKey' + '}', CGI.escape(invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.get_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#get_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremInvoiceAdjustment
    # Lists all PremInvoiceAdjustment. Provide invoiceKey query parameter to filter by invoice.  Omit the invoiceKey query parameter to filter by unassigned.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :invoice_key Invoice Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremInvoiceAdjustmentListVBAResponse]
    def list_prem_invoice_adjustment(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_invoice_adjustment_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremInvoiceAdjustment
    # Lists all PremInvoiceAdjustment. Provide invoiceKey query parameter to filter by invoice.  Omit the invoiceKey query parameter to filter by unassigned.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :invoice_key Invoice Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremInvoiceAdjustmentListVBAResponse, Integer, Hash)>] PremInvoiceAdjustmentListVBAResponse data, response status code and response headers
    def list_prem_invoice_adjustment_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.list_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.list_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'invoiceKey'] = opts[:'invoice_key'] if !opts[:'invoice_key'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjustmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.list_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#list_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremInvoiceAdjustment
    # Create or Update multiple PremInvoiceAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adjustment [Array<PremInvoiceAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_invoice_adjustment(vbasoftware_database, prem_invoice_adjustment, opts = {})
      data, _status_code, _headers = update_batch_prem_invoice_adjustment_with_http_info(vbasoftware_database, prem_invoice_adjustment, opts)
      data
    end

    # Create or Update Batch PremInvoiceAdjustment
    # Create or Update multiple PremInvoiceAdjustment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adjustment [Array<PremInvoiceAdjustment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_invoice_adjustment_with_http_info(vbasoftware_database, prem_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.update_batch_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.update_batch_prem_invoice_adjustment"
      end
      # verify the required parameter 'prem_invoice_adjustment' is set
      if @api_client.config.client_side_validation && prem_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adjustment' when calling PremiumInvoiceAdjustmentsApi.update_batch_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.update_batch_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#update_batch_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremInvoiceAdjustment
    # Updates a specific PremInvoiceAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param prem_invoice_adjustment [PremInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjustmentVBAResponse]
    def update_prem_invoice_adjustment(vbasoftware_database, invoice_adjustment_key, prem_invoice_adjustment, opts = {})
      data, _status_code, _headers = update_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, prem_invoice_adjustment, opts)
      data
    end

    # Update PremInvoiceAdjustment
    # Updates a specific PremInvoiceAdjustment.
    # @param vbasoftware_database [String] Target database
    # @param invoice_adjustment_key [Integer] InvoiceAdjustment Key
    # @param prem_invoice_adjustment [PremInvoiceAdjustment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjustmentVBAResponse, Integer, Hash)>] PremInvoiceAdjustmentVBAResponse data, response status code and response headers
    def update_prem_invoice_adjustment_with_http_info(vbasoftware_database, invoice_adjustment_key, prem_invoice_adjustment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsApi.update_prem_invoice_adjustment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsApi.update_prem_invoice_adjustment"
      end
      # verify the required parameter 'invoice_adjustment_key' is set
      if @api_client.config.client_side_validation && invoice_adjustment_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_adjustment_key' when calling PremiumInvoiceAdjustmentsApi.update_prem_invoice_adjustment"
      end
      # verify the required parameter 'prem_invoice_adjustment' is set
      if @api_client.config.client_side_validation && prem_invoice_adjustment.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adjustment' when calling PremiumInvoiceAdjustmentsApi.update_prem_invoice_adjustment"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments/{invoiceAdjustmentKey}'.sub('{' + 'invoiceAdjustmentKey' + '}', CGI.escape(invoice_adjustment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adjustment)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjustmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsApi.update_prem_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsApi#update_prem_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
