=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumPastDueGroupTriggersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremPastDueTriggerGroup
    # Creates a new PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group [PremPastDueTriggerGroup] 
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerGroupVBAResponse]
    def create_prem_past_due_trigger_group(vbasoftware_database, prem_past_due_trigger_group, opts = {})
      data, _status_code, _headers = create_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group, opts)
      data
    end

    # Create PremPastDueTriggerGroup
    # Creates a new PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group [PremPastDueTriggerGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerGroupVBAResponse, Integer, Hash)>] PremPastDueTriggerGroupVBAResponse data, response status code and response headers
    def create_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.create_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.create_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group' when calling PremiumPastDueGroupTriggersApi.create_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger_group)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.create_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#create_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremPastDueTriggerGroup
    # Deletes an PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_past_due_trigger_group(vbasoftware_database, prem_past_due_trigger_group_key, opts = {})
      delete_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, opts)
      nil
    end

    # Delete PremPastDueTriggerGroup
    # Deletes an PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.delete_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.delete_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group_key' when calling PremiumPastDueGroupTriggersApi.delete_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers/{premPastDueTriggerGroupKey}'.sub('{' + 'premPastDueTriggerGroupKey' + '}', CGI.escape(prem_past_due_trigger_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.delete_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#delete_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremPastDueTriggerGroup
    # Gets PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerGroupVBAResponse]
    def get_prem_past_due_trigger_group(vbasoftware_database, prem_past_due_trigger_group_key, opts = {})
      data, _status_code, _headers = get_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, opts)
      data
    end

    # Get PremPastDueTriggerGroup
    # Gets PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerGroupVBAResponse, Integer, Hash)>] PremPastDueTriggerGroupVBAResponse data, response status code and response headers
    def get_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.get_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.get_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group_key' when calling PremiumPastDueGroupTriggersApi.get_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers/{premPastDueTriggerGroupKey}'.sub('{' + 'premPastDueTriggerGroupKey' + '}', CGI.escape(prem_past_due_trigger_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.get_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#get_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremPastDueTriggerGroup
    # Lists all PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremPastDueTriggerGroupListVBAResponse]
    def list_prem_past_due_trigger_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_past_due_trigger_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremPastDueTriggerGroup
    # Lists all PremPastDueTriggerGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremPastDueTriggerGroupListVBAResponse, Integer, Hash)>] PremPastDueTriggerGroupListVBAResponse data, response status code and response headers
    def list_prem_past_due_trigger_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.list_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.list_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.list_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#list_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremPastDueTriggerGroup
    # Create or Update multiple PremPastDueTriggerGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group [Array<PremPastDueTriggerGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_past_due_trigger_group(vbasoftware_database, prem_past_due_trigger_group, opts = {})
      data, _status_code, _headers = update_batch_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group, opts)
      data
    end

    # Create or Update Batch PremPastDueTriggerGroup
    # Create or Update multiple PremPastDueTriggerGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group [Array<PremPastDueTriggerGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.update_batch_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.update_batch_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group' when calling PremiumPastDueGroupTriggersApi.update_batch_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.update_batch_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#update_batch_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremPastDueTriggerGroup
    # Updates a specific PremPastDueTriggerGroup.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param prem_past_due_trigger_group [PremPastDueTriggerGroup] 
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerGroupVBAResponse]
    def update_prem_past_due_trigger_group(vbasoftware_database, prem_past_due_trigger_group_key, prem_past_due_trigger_group, opts = {})
      data, _status_code, _headers = update_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, prem_past_due_trigger_group, opts)
      data
    end

    # Update PremPastDueTriggerGroup
    # Updates a specific PremPastDueTriggerGroup.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_group_key [Integer] PremPastDueTriggerGroup Key
    # @param prem_past_due_trigger_group [PremPastDueTriggerGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerGroupVBAResponse, Integer, Hash)>] PremPastDueTriggerGroupVBAResponse data, response status code and response headers
    def update_prem_past_due_trigger_group_with_http_info(vbasoftware_database, prem_past_due_trigger_group_key, prem_past_due_trigger_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueGroupTriggersApi.update_prem_past_due_trigger_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueGroupTriggersApi.update_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group_key' when calling PremiumPastDueGroupTriggersApi.update_prem_past_due_trigger_group"
      end
      # verify the required parameter 'prem_past_due_trigger_group' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_group.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_group' when calling PremiumPastDueGroupTriggersApi.update_prem_past_due_trigger_group"
      end
      # resource path
      local_var_path = '/premium-past-due-group-triggers/{premPastDueTriggerGroupKey}'.sub('{' + 'premPastDueTriggerGroupKey' + '}', CGI.escape(prem_past_due_trigger_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger_group)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueGroupTriggersApi.update_prem_past_due_trigger_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueGroupTriggersApi#update_prem_past_due_trigger_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
