=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateBasisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateBasis
    # Creates a new PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [PremRateBasis] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateBasisVBAResponse]
    def create_prem_rate_basis(vbasoftware_database, prem_rate_basis, opts = {})
      data, _status_code, _headers = create_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts)
      data
    end

    # Create PremRateBasis
    # Creates a new PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [PremRateBasis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateBasisVBAResponse, Integer, Hash)>] PremRateBasisVBAResponse data, response status code and response headers
    def create_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.create_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.create_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis' is set
      if @api_client.config.client_side_validation && prem_rate_basis.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis' when calling PremiumRateBasisApi.create_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_basis)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.create_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#create_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateBasis
    # Deletes an PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_basis(vbasoftware_database, prem_rate_basis, opts = {})
      delete_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts)
      nil
    end

    # Delete PremRateBasis
    # Deletes an PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.delete_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.delete_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis' is set
      if @api_client.config.client_side_validation && prem_rate_basis.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis' when calling PremiumRateBasisApi.delete_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases/{premRateBasis}'.sub('{' + 'premRateBasis' + '}', CGI.escape(prem_rate_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.delete_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#delete_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateBasis
    # Gets PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param [Hash] opts the optional parameters
    # @return [PremRateBasisVBAResponse]
    def get_prem_rate_basis(vbasoftware_database, prem_rate_basis, opts = {})
      data, _status_code, _headers = get_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts)
      data
    end

    # Get PremRateBasis
    # Gets PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateBasisVBAResponse, Integer, Hash)>] PremRateBasisVBAResponse data, response status code and response headers
    def get_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.get_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.get_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis' is set
      if @api_client.config.client_side_validation && prem_rate_basis.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis' when calling PremiumRateBasisApi.get_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases/{premRateBasis}'.sub('{' + 'premRateBasis' + '}', CGI.escape(prem_rate_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.get_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#get_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateBasis
    # Lists all PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateBasisListVBAResponse]
    def list_prem_rate_basis(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_rate_basis_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremRateBasis
    # Lists all PremRateBasis
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateBasisListVBAResponse, Integer, Hash)>] PremRateBasisListVBAResponse data, response status code and response headers
    def list_prem_rate_basis_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.list_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.list_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateBasisListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.list_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#list_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateBasis
    # Create or Update multiple PremRateBasis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [Array<PremRateBasis>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_basis(vbasoftware_database, prem_rate_basis, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts)
      data
    end

    # Create or Update Batch PremRateBasis
    # Create or Update multiple PremRateBasis at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [Array<PremRateBasis>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.update_batch_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.update_batch_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis' is set
      if @api_client.config.client_side_validation && prem_rate_basis.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis' when calling PremiumRateBasisApi.update_batch_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_basis)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.update_batch_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#update_batch_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateBasis
    # Updates a specific PremRateBasis.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param prem_rate_basis2 [PremRateBasis] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateBasisVBAResponse]
    def update_prem_rate_basis(vbasoftware_database, prem_rate_basis, prem_rate_basis2, opts = {})
      data, _status_code, _headers = update_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, prem_rate_basis2, opts)
      data
    end

    # Update PremRateBasis
    # Updates a specific PremRateBasis.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_basis [String] PremRate Basis
    # @param prem_rate_basis2 [PremRateBasis] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateBasisVBAResponse, Integer, Hash)>] PremRateBasisVBAResponse data, response status code and response headers
    def update_prem_rate_basis_with_http_info(vbasoftware_database, prem_rate_basis, prem_rate_basis2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateBasisApi.update_prem_rate_basis ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateBasisApi.update_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis' is set
      if @api_client.config.client_side_validation && prem_rate_basis.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis' when calling PremiumRateBasisApi.update_prem_rate_basis"
      end
      # verify the required parameter 'prem_rate_basis2' is set
      if @api_client.config.client_side_validation && prem_rate_basis2.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_basis2' when calling PremiumRateBasisApi.update_prem_rate_basis"
      end
      # resource path
      local_var_path = '/premium-rate-bases/{premRateBasis}'.sub('{' + 'premRateBasis' + '}', CGI.escape(prem_rate_basis.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_basis2)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateBasisVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateBasisApi.update_prem_rate_basis",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateBasisApi#update_prem_rate_basis\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
