=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateMinMaxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateMinMax
    # Creates a new PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max [PremRateMinMax] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxVBAResponse]
    def create_prem_rate_min_max(vbasoftware_database, prem_rate_min_max, opts = {})
      data, _status_code, _headers = create_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max, opts)
      data
    end

    # Create PremRateMinMax
    # Creates a new PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max [PremRateMinMax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxVBAResponse, Integer, Hash)>] PremRateMinMaxVBAResponse data, response status code and response headers
    def create_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.create_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.create_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max' is set
      if @api_client.config.client_side_validation && prem_rate_min_max.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max' when calling PremiumRateMinMaxApi.create_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.create_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#create_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateMinMax
    # Deletes an PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_min_max(vbasoftware_database, prem_rate_min_max_key, opts = {})
      delete_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts)
      nil
    end

    # Delete PremRateMinMax
    # Deletes an PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.delete_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.delete_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxApi.delete_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max/{premRateMinMaxKey}'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.delete_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#delete_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateMinMax
    # Gets PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxVBAResponse]
    def get_prem_rate_min_max(vbasoftware_database, prem_rate_min_max_key, opts = {})
      data, _status_code, _headers = get_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts)
      data
    end

    # Get PremRateMinMax
    # Gets PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxVBAResponse, Integer, Hash)>] PremRateMinMaxVBAResponse data, response status code and response headers
    def get_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.get_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.get_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxApi.get_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max/{premRateMinMaxKey}'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.get_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#get_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateMinMax
    # Lists all PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateMinMaxListVBAResponse]
    def list_prem_rate_min_max(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_rate_min_max_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremRateMinMax
    # Lists all PremRateMinMax
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateMinMaxListVBAResponse, Integer, Hash)>] PremRateMinMaxListVBAResponse data, response status code and response headers
    def list_prem_rate_min_max_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.list_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.list_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.list_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#list_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateMinMax
    # Create or Update multiple PremRateMinMax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max [Array<PremRateMinMax>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_min_max(vbasoftware_database, prem_rate_min_max, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max, opts)
      data
    end

    # Create or Update Batch PremRateMinMax
    # Create or Update multiple PremRateMinMax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max [Array<PremRateMinMax>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.update_batch_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.update_batch_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max' is set
      if @api_client.config.client_side_validation && prem_rate_min_max.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max' when calling PremiumRateMinMaxApi.update_batch_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.update_batch_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#update_batch_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateMinMax
    # Updates a specific PremRateMinMax.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param prem_rate_min_max [PremRateMinMax] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxVBAResponse]
    def update_prem_rate_min_max(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max, opts = {})
      data, _status_code, _headers = update_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max, opts)
      data
    end

    # Update PremRateMinMax
    # Updates a specific PremRateMinMax.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param prem_rate_min_max [PremRateMinMax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxVBAResponse, Integer, Hash)>] PremRateMinMaxVBAResponse data, response status code and response headers
    def update_prem_rate_min_max_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxApi.update_prem_rate_min_max ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxApi.update_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxApi.update_prem_rate_min_max"
      end
      # verify the required parameter 'prem_rate_min_max' is set
      if @api_client.config.client_side_validation && prem_rate_min_max.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max' when calling PremiumRateMinMaxApi.update_prem_rate_min_max"
      end
      # resource path
      local_var_path = '/premium-rate-min-max/{premRateMinMaxKey}'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxApi.update_prem_rate_min_max",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxApi#update_prem_rate_min_max\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
