=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumInvoicesReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremInvoiceReceived
    # Creates a new PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received [PremInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceReceivedVBAResponse]
    def create_prem_invoice_received(vbasoftware_database, prem_invoice_received, opts = {})
      data, _status_code, _headers = create_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received, opts)
      data
    end

    # Create PremInvoiceReceived
    # Creates a new PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received [PremInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceReceivedVBAResponse, Integer, Hash)>] PremInvoiceReceivedVBAResponse data, response status code and response headers
    def create_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.create_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.create_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received' is set
      if @api_client.config.client_side_validation && prem_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received' when calling PremiumInvoicesReceivedApi.create_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.create_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#create_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremInvoiceReceived
    # Deletes an PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_invoice_received(vbasoftware_database, prem_invoice_received_key, opts = {})
      delete_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, opts)
      nil
    end

    # Delete PremInvoiceReceived
    # Deletes an PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.delete_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.delete_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received_key' when calling PremiumInvoicesReceivedApi.delete_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received/{premInvoiceReceivedKey}'.sub('{' + 'premInvoiceReceivedKey' + '}', CGI.escape(prem_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.delete_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#delete_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremInvoiceReceived
    # Gets PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceReceivedVBAResponse]
    def get_prem_invoice_received(vbasoftware_database, prem_invoice_received_key, opts = {})
      data, _status_code, _headers = get_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, opts)
      data
    end

    # Get PremInvoiceReceived
    # Gets PremInvoiceReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceReceivedVBAResponse, Integer, Hash)>] PremInvoiceReceivedVBAResponse data, response status code and response headers
    def get_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.get_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.get_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received_key' when calling PremiumInvoicesReceivedApi.get_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received/{premInvoiceReceivedKey}'.sub('{' + 'premInvoiceReceivedKey' + '}', CGI.escape(prem_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.get_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#get_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremInvoiceReceived
    # Lists all PremInvoiceReceived for the given invoiceKey and groupID and divisionID and subscriberID and premRateKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremInvoiceReceivedListVBAResponse]
    def list_prem_invoice_received(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      data, _status_code, _headers = list_prem_invoice_received_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts)
      data
    end

    # List PremInvoiceReceived
    # Lists all PremInvoiceReceived for the given invoiceKey and groupID and divisionID and subscriberID and premRateKey
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremInvoiceReceivedListVBAResponse, Integer, Hash)>] PremInvoiceReceivedListVBAResponse data, response status code and response headers
    def list_prem_invoice_received_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.list_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumInvoicesReceivedApi.list_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'invoiceKey'] = invoice_key
      query_params[:'groupID'] = group_id
      query_params[:'divisionID'] = division_id
      query_params[:'subscriberID'] = subscriber_id
      query_params[:'premRateKey'] = prem_rate_key
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceReceivedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.list_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#list_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremInvoiceReceived
    # Create or Update multiple PremInvoiceReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received [Array<PremInvoiceReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_invoice_received(vbasoftware_database, prem_invoice_received, opts = {})
      data, _status_code, _headers = update_batch_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received, opts)
      data
    end

    # Create or Update Batch PremInvoiceReceived
    # Create or Update multiple PremInvoiceReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received [Array<PremInvoiceReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.update_batch_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.update_batch_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received' is set
      if @api_client.config.client_side_validation && prem_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received' when calling PremiumInvoicesReceivedApi.update_batch_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.update_batch_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#update_batch_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremInvoiceReceived
    # Updates a specific PremInvoiceReceived.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param prem_invoice_received [PremInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceReceivedVBAResponse]
    def update_prem_invoice_received(vbasoftware_database, prem_invoice_received_key, prem_invoice_received, opts = {})
      data, _status_code, _headers = update_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, prem_invoice_received, opts)
      data
    end

    # Update PremInvoiceReceived
    # Updates a specific PremInvoiceReceived.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_received_key [Integer] PremInvoiceReceived Key
    # @param prem_invoice_received [PremInvoiceReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceReceivedVBAResponse, Integer, Hash)>] PremInvoiceReceivedVBAResponse data, response status code and response headers
    def update_prem_invoice_received_with_http_info(vbasoftware_database, prem_invoice_received_key, prem_invoice_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoicesReceivedApi.update_prem_invoice_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoicesReceivedApi.update_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received_key' when calling PremiumInvoicesReceivedApi.update_prem_invoice_received"
      end
      # verify the required parameter 'prem_invoice_received' is set
      if @api_client.config.client_side_validation && prem_invoice_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_received' when calling PremiumInvoicesReceivedApi.update_prem_invoice_received"
      end
      # resource path
      local_var_path = '/premium-invoices-received/{premInvoiceReceivedKey}'.sub('{' + 'premInvoiceReceivedKey' + '}', CGI.escape(prem_invoice_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_received)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoicesReceivedApi.update_prem_invoice_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoicesReceivedApi#update_prem_invoice_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
