=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremInvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update PremInvoiceSelfAdmin with Gateway Actuals
    # Updates the PremInvoiceSelfAdmin table with live data retrieved from VBAGateway
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSelfAdminListVBAResponse]
    def update_prem_invoice_gateway_actuals(vbasoftware_database, invoice_key, request_key, opts = {})
      data, _status_code, _headers = update_prem_invoice_gateway_actuals_with_http_info(vbasoftware_database, invoice_key, request_key, opts)
      data
    end

    # Update PremInvoiceSelfAdmin with Gateway Actuals
    # Updates the PremInvoiceSelfAdmin table with live data retrieved from VBAGateway
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param request_key [Integer] Request Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSelfAdminListVBAResponse, Integer, Hash)>] PremInvoiceSelfAdminListVBAResponse data, response status code and response headers
    def update_prem_invoice_gateway_actuals_with_http_info(vbasoftware_database, invoice_key, request_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremInvoiceApi.update_prem_invoice_gateway_actuals ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremInvoiceApi.update_prem_invoice_gateway_actuals"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremInvoiceApi.update_prem_invoice_gateway_actuals"
      end
      # verify the required parameter 'request_key' is set
      if @api_client.config.client_side_validation && request_key.nil?
        fail ArgumentError, "Missing the required parameter 'request_key' when calling PremInvoiceApi.update_prem_invoice_gateway_actuals"
      end
      # resource path
      local_var_path = '/update-prem-invoice-self-admin-with-gateway-actuals/{invoiceKey}/{requestKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'requestKey' + '}', CGI.escape(request_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSelfAdminListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremInvoiceApi.update_prem_invoice_gateway_actuals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremInvoiceApi#update_prem_invoice_gateway_actuals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
