=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRatePaceTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRatePaceType
    # Creates a new PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_pace_type [PremRatePaceType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRatePaceTypeVBAResponse]
    def create_prem_rate_pace_type(vbasoftware_database, prem_rate_pace_type, opts = {})
      data, _status_code, _headers = create_prem_rate_pace_type_with_http_info(vbasoftware_database, prem_rate_pace_type, opts)
      data
    end

    # Create PremRatePaceType
    # Creates a new PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_pace_type [PremRatePaceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePaceTypeVBAResponse, Integer, Hash)>] PremRatePaceTypeVBAResponse data, response status code and response headers
    def create_prem_rate_pace_type_with_http_info(vbasoftware_database, prem_rate_pace_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.create_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.create_prem_rate_pace_type"
      end
      # verify the required parameter 'prem_rate_pace_type' is set
      if @api_client.config.client_side_validation && prem_rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_pace_type' when calling PremiumRatePaceTypesApi.create_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_pace_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.create_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#create_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRatePaceType
    # Deletes an PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_pace_type(vbasoftware_database, rate_pace_type, opts = {})
      delete_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, opts)
      nil
    end

    # Delete PremRatePaceType
    # Deletes an PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.delete_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.delete_prem_rate_pace_type"
      end
      # verify the required parameter 'rate_pace_type' is set
      if @api_client.config.client_side_validation && rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_pace_type' when calling PremiumRatePaceTypesApi.delete_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types/{ratePaceType}'.sub('{' + 'ratePaceType' + '}', CGI.escape(rate_pace_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.delete_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#delete_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRatePaceType
    # Gets PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param [Hash] opts the optional parameters
    # @return [PremRatePaceTypeVBAResponse]
    def get_prem_rate_pace_type(vbasoftware_database, rate_pace_type, opts = {})
      data, _status_code, _headers = get_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, opts)
      data
    end

    # Get PremRatePaceType
    # Gets PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePaceTypeVBAResponse, Integer, Hash)>] PremRatePaceTypeVBAResponse data, response status code and response headers
    def get_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.get_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.get_prem_rate_pace_type"
      end
      # verify the required parameter 'rate_pace_type' is set
      if @api_client.config.client_side_validation && rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_pace_type' when calling PremiumRatePaceTypesApi.get_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types/{ratePaceType}'.sub('{' + 'ratePaceType' + '}', CGI.escape(rate_pace_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.get_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#get_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRatePaceType
    # Lists all PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRatePaceTypeListVBAResponse]
    def list_prem_rate_pace_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_rate_pace_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremRatePaceType
    # Lists all PremRatePaceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRatePaceTypeListVBAResponse, Integer, Hash)>] PremRatePaceTypeListVBAResponse data, response status code and response headers
    def list_prem_rate_pace_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.list_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.list_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePaceTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.list_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#list_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRatePaceType
    # Create or Update multiple PremRatePaceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_pace_type [Array<PremRatePaceType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_pace_type(vbasoftware_database, prem_rate_pace_type, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_pace_type_with_http_info(vbasoftware_database, prem_rate_pace_type, opts)
      data
    end

    # Create or Update Batch PremRatePaceType
    # Create or Update multiple PremRatePaceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_pace_type [Array<PremRatePaceType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_pace_type_with_http_info(vbasoftware_database, prem_rate_pace_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.update_batch_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.update_batch_prem_rate_pace_type"
      end
      # verify the required parameter 'prem_rate_pace_type' is set
      if @api_client.config.client_side_validation && prem_rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_pace_type' when calling PremiumRatePaceTypesApi.update_batch_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_pace_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.update_batch_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#update_batch_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRatePaceType
    # Updates a specific PremRatePaceType.
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param prem_rate_pace_type [PremRatePaceType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRatePaceTypeVBAResponse]
    def update_prem_rate_pace_type(vbasoftware_database, rate_pace_type, prem_rate_pace_type, opts = {})
      data, _status_code, _headers = update_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, prem_rate_pace_type, opts)
      data
    end

    # Update PremRatePaceType
    # Updates a specific PremRatePaceType.
    # @param vbasoftware_database [String] Target database
    # @param rate_pace_type [String] Rate Pace Type
    # @param prem_rate_pace_type [PremRatePaceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePaceTypeVBAResponse, Integer, Hash)>] PremRatePaceTypeVBAResponse data, response status code and response headers
    def update_prem_rate_pace_type_with_http_info(vbasoftware_database, rate_pace_type, prem_rate_pace_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePaceTypesApi.update_prem_rate_pace_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePaceTypesApi.update_prem_rate_pace_type"
      end
      # verify the required parameter 'rate_pace_type' is set
      if @api_client.config.client_side_validation && rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_pace_type' when calling PremiumRatePaceTypesApi.update_prem_rate_pace_type"
      end
      # verify the required parameter 'prem_rate_pace_type' is set
      if @api_client.config.client_side_validation && prem_rate_pace_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_pace_type' when calling PremiumRatePaceTypesApi.update_prem_rate_pace_type"
      end
      # resource path
      local_var_path = '/premium-rate-pace-types/{ratePaceType}'.sub('{' + 'ratePaceType' + '}', CGI.escape(rate_pace_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_pace_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePaceTypesApi.update_prem_rate_pace_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePaceTypesApi#update_prem_rate_pace_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
