=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumInvoiceAdjustmentsReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremInvoiceAdjReceived
    # Creates a new PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received [PremInvoiceAdjReceived] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjReceivedVBAResponse]
    def create_prem_invoice_adj_received(vbasoftware_database, prem_invoice_adj_received, opts = {})
      data, _status_code, _headers = create_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received, opts)
      data
    end

    # Create PremInvoiceAdjReceived
    # Creates a new PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received [PremInvoiceAdjReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjReceivedVBAResponse, Integer, Hash)>] PremInvoiceAdjReceivedVBAResponse data, response status code and response headers
    def create_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.create_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.create_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received' when calling PremiumInvoiceAdjustmentsReceivedApi.create_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adj_received)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.create_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#create_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremInvoiceAdjReceived
    # Deletes an PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_invoice_adj_received(vbasoftware_database, prem_invoice_adj_received_key, opts = {})
      delete_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, opts)
      nil
    end

    # Delete PremInvoiceAdjReceived
    # Deletes an PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.delete_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.delete_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received_key' when calling PremiumInvoiceAdjustmentsReceivedApi.delete_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received/{premInvoiceAdjReceivedKey}'.sub('{' + 'premInvoiceAdjReceivedKey' + '}', CGI.escape(prem_invoice_adj_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.delete_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#delete_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremInvoiceAdjReceived
    # Gets PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjReceivedVBAResponse]
    def get_prem_invoice_adj_received(vbasoftware_database, prem_invoice_adj_received_key, opts = {})
      data, _status_code, _headers = get_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, opts)
      data
    end

    # Get PremInvoiceAdjReceived
    # Gets PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjReceivedVBAResponse, Integer, Hash)>] PremInvoiceAdjReceivedVBAResponse data, response status code and response headers
    def get_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.get_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.get_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received_key' when calling PremiumInvoiceAdjustmentsReceivedApi.get_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received/{premInvoiceAdjReceivedKey}'.sub('{' + 'premInvoiceAdjReceivedKey' + '}', CGI.escape(prem_invoice_adj_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.get_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#get_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremInvoiceAdjReceived
    # Lists all PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremInvoiceAdjReceivedListVBAResponse]
    def list_prem_invoice_adj_received(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_invoice_adj_received_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremInvoiceAdjReceived
    # Lists all PremInvoiceAdjReceived
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremInvoiceAdjReceivedListVBAResponse, Integer, Hash)>] PremInvoiceAdjReceivedListVBAResponse data, response status code and response headers
    def list_prem_invoice_adj_received_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.list_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.list_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjReceivedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.list_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#list_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremInvoiceAdjReceived
    # Create or Update multiple PremInvoiceAdjReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received [Array<PremInvoiceAdjReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_invoice_adj_received(vbasoftware_database, prem_invoice_adj_received, opts = {})
      data, _status_code, _headers = update_batch_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received, opts)
      data
    end

    # Create or Update Batch PremInvoiceAdjReceived
    # Create or Update multiple PremInvoiceAdjReceived at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received [Array<PremInvoiceAdjReceived>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.update_batch_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.update_batch_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received' when calling PremiumInvoiceAdjustmentsReceivedApi.update_batch_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adj_received)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.update_batch_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#update_batch_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremInvoiceAdjReceived
    # Updates a specific PremInvoiceAdjReceived.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param prem_invoice_adj_received [PremInvoiceAdjReceived] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceAdjReceivedVBAResponse]
    def update_prem_invoice_adj_received(vbasoftware_database, prem_invoice_adj_received_key, prem_invoice_adj_received, opts = {})
      data, _status_code, _headers = update_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, prem_invoice_adj_received, opts)
      data
    end

    # Update PremInvoiceAdjReceived
    # Updates a specific PremInvoiceAdjReceived.
    # @param vbasoftware_database [String] Target database
    # @param prem_invoice_adj_received_key [Integer] PremInvoiceAdjReceived Key
    # @param prem_invoice_adj_received [PremInvoiceAdjReceived] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceAdjReceivedVBAResponse, Integer, Hash)>] PremInvoiceAdjReceivedVBAResponse data, response status code and response headers
    def update_prem_invoice_adj_received_with_http_info(vbasoftware_database, prem_invoice_adj_received_key, prem_invoice_adj_received, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceAdjustmentsReceivedApi.update_prem_invoice_adj_received ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceAdjustmentsReceivedApi.update_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received_key' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received_key' when calling PremiumInvoiceAdjustmentsReceivedApi.update_prem_invoice_adj_received"
      end
      # verify the required parameter 'prem_invoice_adj_received' is set
      if @api_client.config.client_side_validation && prem_invoice_adj_received.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_adj_received' when calling PremiumInvoiceAdjustmentsReceivedApi.update_prem_invoice_adj_received"
      end
      # resource path
      local_var_path = '/premium-invoice-adjustments-received/{premInvoiceAdjReceivedKey}'.sub('{' + 'premInvoiceAdjReceivedKey' + '}', CGI.escape(prem_invoice_adj_received_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_adj_received)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceAdjReceivedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceAdjustmentsReceivedApi.update_prem_invoice_adj_received",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceAdjustmentsReceivedApi#update_prem_invoice_adj_received\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
