=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremRateTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateType
    # Creates a new PremRateType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_type [PremRateType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateTypeVBAResponse]
    def create_prem_rate_type(vbasoftware_database, prem_rate_type, opts = {})
      data, _status_code, _headers = create_prem_rate_type_with_http_info(vbasoftware_database, prem_rate_type, opts)
      data
    end

    # Create PremRateType
    # Creates a new PremRateType
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_type [PremRateType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateTypeVBAResponse, Integer, Hash)>] PremRateTypeVBAResponse data, response status code and response headers
    def create_prem_rate_type_with_http_info(vbasoftware_database, prem_rate_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.create_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.create_prem_rate_type"
      end
      # verify the required parameter 'prem_rate_type' is set
      if @api_client.config.client_side_validation && prem_rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_type' when calling PremRateTypesApi.create_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.create_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#create_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateType
    # Deletes an PremRateType
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_type(vbasoftware_database, rate_type, opts = {})
      delete_prem_rate_type_with_http_info(vbasoftware_database, rate_type, opts)
      nil
    end

    # Delete PremRateType
    # Deletes an PremRateType
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_type_with_http_info(vbasoftware_database, rate_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.delete_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.delete_prem_rate_type"
      end
      # verify the required parameter 'rate_type' is set
      if @api_client.config.client_side_validation && rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_type' when calling PremRateTypesApi.delete_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types/{rateType}'.sub('{' + 'rateType' + '}', CGI.escape(rate_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.delete_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#delete_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateType
    # Gets PremRateType
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param [Hash] opts the optional parameters
    # @return [PremRateTypeVBAResponse]
    def get_prem_rate_type(vbasoftware_database, rate_type, opts = {})
      data, _status_code, _headers = get_prem_rate_type_with_http_info(vbasoftware_database, rate_type, opts)
      data
    end

    # Get PremRateType
    # Gets PremRateType
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateTypeVBAResponse, Integer, Hash)>] PremRateTypeVBAResponse data, response status code and response headers
    def get_prem_rate_type_with_http_info(vbasoftware_database, rate_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.get_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.get_prem_rate_type"
      end
      # verify the required parameter 'rate_type' is set
      if @api_client.config.client_side_validation && rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_type' when calling PremRateTypesApi.get_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types/{rateType}'.sub('{' + 'rateType' + '}', CGI.escape(rate_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.get_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#get_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateType
    # Lists all PremRateType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateTypeListVBAResponse]
    def list_prem_rate_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_rate_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremRateType
    # Lists all PremRateType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateTypeListVBAResponse, Integer, Hash)>] PremRateTypeListVBAResponse data, response status code and response headers
    def list_prem_rate_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.list_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.list_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.list_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#list_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateType
    # Create or Update multiple PremRateType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_type [Array<PremRateType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_type(vbasoftware_database, prem_rate_type, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_type_with_http_info(vbasoftware_database, prem_rate_type, opts)
      data
    end

    # Create or Update Batch PremRateType
    # Create or Update multiple PremRateType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_type [Array<PremRateType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_type_with_http_info(vbasoftware_database, prem_rate_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.update_batch_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.update_batch_prem_rate_type"
      end
      # verify the required parameter 'prem_rate_type' is set
      if @api_client.config.client_side_validation && prem_rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_type' when calling PremRateTypesApi.update_batch_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.update_batch_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#update_batch_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateType
    # Updates a specific PremRateType.
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param prem_rate_type [PremRateType] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateTypeVBAResponse]
    def update_prem_rate_type(vbasoftware_database, rate_type, prem_rate_type, opts = {})
      data, _status_code, _headers = update_prem_rate_type_with_http_info(vbasoftware_database, rate_type, prem_rate_type, opts)
      data
    end

    # Update PremRateType
    # Updates a specific PremRateType.
    # @param vbasoftware_database [String] Target database
    # @param rate_type [String] Rate Type
    # @param prem_rate_type [PremRateType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateTypeVBAResponse, Integer, Hash)>] PremRateTypeVBAResponse data, response status code and response headers
    def update_prem_rate_type_with_http_info(vbasoftware_database, rate_type, prem_rate_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremRateTypesApi.update_prem_rate_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremRateTypesApi.update_prem_rate_type"
      end
      # verify the required parameter 'rate_type' is set
      if @api_client.config.client_side_validation && rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'rate_type' when calling PremRateTypesApi.update_prem_rate_type"
      end
      # verify the required parameter 'prem_rate_type' is set
      if @api_client.config.client_side_validation && prem_rate_type.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_type' when calling PremRateTypesApi.update_prem_rate_type"
      end
      # resource path
      local_var_path = '/prem-rate-types/{rateType}'.sub('{' + 'rateType' + '}', CGI.escape(rate_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_type)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremRateTypesApi.update_prem_rate_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremRateTypesApi#update_prem_rate_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
