=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateZipcodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateZip
    # Creates a new PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip [PremRateZip] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateZipVBAResponse]
    def create_prem_rate_zip(vbasoftware_database, prem_rate_key, prem_rate_zip, opts = {})
      data, _status_code, _headers = create_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip, opts)
      data
    end

    # Create PremRateZip
    # Creates a new PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip [PremRateZip] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateZipVBAResponse, Integer, Hash)>] PremRateZipVBAResponse data, response status code and response headers
    def create_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.create_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.create_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.create_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip' is set
      if @api_client.config.client_side_validation && prem_rate_zip.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip' when calling PremiumRateZipcodesApi.create_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_zip)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateZipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.create_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#create_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateZip
    # Deletes an PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_zip(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts = {})
      delete_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts)
      nil
    end

    # Delete PremRateZip
    # Deletes an PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.delete_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.delete_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.delete_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip_key' is set
      if @api_client.config.client_side_validation && prem_rate_zip_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip_key' when calling PremiumRateZipcodesApi.delete_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes/{premRateZipKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateZipKey' + '}', CGI.escape(prem_rate_zip_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.delete_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#delete_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateZip
    # Gets PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param [Hash] opts the optional parameters
    # @return [PremRateZipVBAResponse]
    def get_prem_rate_zip(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts = {})
      data, _status_code, _headers = get_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts)
      data
    end

    # Get PremRateZip
    # Gets PremRateZip
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateZipVBAResponse, Integer, Hash)>] PremRateZipVBAResponse data, response status code and response headers
    def get_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.get_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.get_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.get_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip_key' is set
      if @api_client.config.client_side_validation && prem_rate_zip_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip_key' when calling PremiumRateZipcodesApi.get_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes/{premRateZipKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateZipKey' + '}', CGI.escape(prem_rate_zip_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateZipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.get_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#get_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateZip
    # Lists all PremRateZip for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateZipListVBAResponse]
    def list_prem_rate_zip(vbasoftware_database, prem_rate_key, opts = {})
      data, _status_code, _headers = list_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, opts)
      data
    end

    # List PremRateZip
    # Lists all PremRateZip for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateZipListVBAResponse, Integer, Hash)>] PremRateZipListVBAResponse data, response status code and response headers
    def list_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.list_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.list_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.list_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateZipListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.list_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#list_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateZip
    # Create or Update multiple PremRateZip at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip [Array<PremRateZip>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_zip(vbasoftware_database, prem_rate_key, prem_rate_zip, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip, opts)
      data
    end

    # Create or Update Batch PremRateZip
    # Create or Update multiple PremRateZip at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip [Array<PremRateZip>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.update_batch_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.update_batch_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.update_batch_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip' is set
      if @api_client.config.client_side_validation && prem_rate_zip.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip' when calling PremiumRateZipcodesApi.update_batch_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes-batch'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_zip)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.update_batch_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#update_batch_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateZip
    # Updates a specific PremRateZip.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param prem_rate_zip [PremRateZip] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateZipVBAResponse]
    def update_prem_rate_zip(vbasoftware_database, prem_rate_key, prem_rate_zip_key, prem_rate_zip, opts = {})
      data, _status_code, _headers = update_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, prem_rate_zip, opts)
      data
    end

    # Update PremRateZip
    # Updates a specific PremRateZip.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_zip_key [Integer] PremRateZip Key
    # @param prem_rate_zip [PremRateZip] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateZipVBAResponse, Integer, Hash)>] PremRateZipVBAResponse data, response status code and response headers
    def update_prem_rate_zip_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_zip_key, prem_rate_zip, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateZipcodesApi.update_prem_rate_zip ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateZipcodesApi.update_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateZipcodesApi.update_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip_key' is set
      if @api_client.config.client_side_validation && prem_rate_zip_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip_key' when calling PremiumRateZipcodesApi.update_prem_rate_zip"
      end
      # verify the required parameter 'prem_rate_zip' is set
      if @api_client.config.client_side_validation && prem_rate_zip.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_zip' when calling PremiumRateZipcodesApi.update_prem_rate_zip"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/zipcodes/{premRateZipKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateZipKey' + '}', CGI.escape(prem_rate_zip_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_zip)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateZipVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateZipcodesApi.update_prem_rate_zip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateZipcodesApi#update_prem_rate_zip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
