=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumPastDueTriggersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremPastDueTrigger
    # Creates a new PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger [PremPastDueTrigger] 
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerVBAResponse]
    def create_prem_past_due_trigger(vbasoftware_database, prem_past_due_trigger, opts = {})
      data, _status_code, _headers = create_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger, opts)
      data
    end

    # Create PremPastDueTrigger
    # Creates a new PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger [PremPastDueTrigger] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerVBAResponse, Integer, Hash)>] PremPastDueTriggerVBAResponse data, response status code and response headers
    def create_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.create_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.create_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger' when calling PremiumPastDueTriggersApi.create_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.create_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#create_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremPastDueTrigger
    # Deletes an PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_past_due_trigger(vbasoftware_database, prem_past_due_trigger_key, opts = {})
      delete_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, opts)
      nil
    end

    # Delete PremPastDueTrigger
    # Deletes an PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.delete_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.delete_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_key' when calling PremiumPastDueTriggersApi.delete_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers/{premPastDueTriggerKey}'.sub('{' + 'premPastDueTriggerKey' + '}', CGI.escape(prem_past_due_trigger_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.delete_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#delete_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremPastDueTrigger
    # Gets PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerVBAResponse]
    def get_prem_past_due_trigger(vbasoftware_database, prem_past_due_trigger_key, opts = {})
      data, _status_code, _headers = get_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, opts)
      data
    end

    # Get PremPastDueTrigger
    # Gets PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerVBAResponse, Integer, Hash)>] PremPastDueTriggerVBAResponse data, response status code and response headers
    def get_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.get_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.get_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_key' when calling PremiumPastDueTriggersApi.get_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers/{premPastDueTriggerKey}'.sub('{' + 'premPastDueTriggerKey' + '}', CGI.escape(prem_past_due_trigger_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.get_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#get_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremPastDueTrigger
    # Lists all PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremPastDueTriggerListVBAResponse]
    def list_prem_past_due_trigger(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_prem_past_due_trigger_with_http_info(vbasoftware_database, opts)
      data
    end

    # List PremPastDueTrigger
    # Lists all PremPastDueTrigger
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremPastDueTriggerListVBAResponse, Integer, Hash)>] PremPastDueTriggerListVBAResponse data, response status code and response headers
    def list_prem_past_due_trigger_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.list_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.list_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.list_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#list_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremPastDueTrigger
    # Create or Update multiple PremPastDueTrigger at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger [Array<PremPastDueTrigger>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_past_due_trigger(vbasoftware_database, prem_past_due_trigger, opts = {})
      data, _status_code, _headers = update_batch_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger, opts)
      data
    end

    # Create or Update Batch PremPastDueTrigger
    # Create or Update multiple PremPastDueTrigger at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger [Array<PremPastDueTrigger>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.update_batch_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.update_batch_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger' when calling PremiumPastDueTriggersApi.update_batch_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.update_batch_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#update_batch_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremPastDueTrigger
    # Updates a specific PremPastDueTrigger.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param prem_past_due_trigger [PremPastDueTrigger] 
    # @param [Hash] opts the optional parameters
    # @return [PremPastDueTriggerVBAResponse]
    def update_prem_past_due_trigger(vbasoftware_database, prem_past_due_trigger_key, prem_past_due_trigger, opts = {})
      data, _status_code, _headers = update_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, prem_past_due_trigger, opts)
      data
    end

    # Update PremPastDueTrigger
    # Updates a specific PremPastDueTrigger.
    # @param vbasoftware_database [String] Target database
    # @param prem_past_due_trigger_key [Integer] PremPastDueTrigger Key
    # @param prem_past_due_trigger [PremPastDueTrigger] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPastDueTriggerVBAResponse, Integer, Hash)>] PremPastDueTriggerVBAResponse data, response status code and response headers
    def update_prem_past_due_trigger_with_http_info(vbasoftware_database, prem_past_due_trigger_key, prem_past_due_trigger, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPastDueTriggersApi.update_prem_past_due_trigger ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPastDueTriggersApi.update_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger_key' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger_key' when calling PremiumPastDueTriggersApi.update_prem_past_due_trigger"
      end
      # verify the required parameter 'prem_past_due_trigger' is set
      if @api_client.config.client_side_validation && prem_past_due_trigger.nil?
        fail ArgumentError, "Missing the required parameter 'prem_past_due_trigger' when calling PremiumPastDueTriggersApi.update_prem_past_due_trigger"
      end
      # resource path
      local_var_path = '/premium-past-due-triggers/{premPastDueTriggerKey}'.sub('{' + 'premPastDueTriggerKey' + '}', CGI.escape(prem_past_due_trigger_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_past_due_trigger)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPastDueTriggerVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPastDueTriggersApi.update_prem_past_due_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPastDueTriggersApi#update_prem_past_due_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
