=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateMinMaxDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateMinMaxDetail
    # Creates a new PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Min Max Key
    # @param prem_rate_min_max_detail [PremRateMinMaxDetail] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxDetailVBAResponse]
    def create_prem_rate_min_max_detail(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      data, _status_code, _headers = create_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts)
      data
    end

    # Create PremRateMinMaxDetail
    # Creates a new PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Min Max Key
    # @param prem_rate_min_max_detail [PremRateMinMaxDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxDetailVBAResponse, Integer, Hash)>] PremRateMinMaxDetailVBAResponse data, response status code and response headers
    def create_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.create_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.create_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.create_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_detail' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_detail' when calling PremiumRateMinMaxDetailsApi.create_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.create_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#create_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateMinMaxDetail
    # Deletes an PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_min_max_detail(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts = {})
      delete_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts)
      nil
    end

    # Delete PremRateMinMaxDetail
    # Deletes an PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.delete_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.delete_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateMinMaxDetailsApi.delete_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.delete_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details/{premRateKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.delete_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#delete_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateMinMaxDetail
    # Gets PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxDetailVBAResponse]
    def get_prem_rate_min_max_detail(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts = {})
      data, _status_code, _headers = get_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts)
      data
    end

    # Get PremRateMinMaxDetail
    # Gets PremRateMinMaxDetail
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxDetailVBAResponse, Integer, Hash)>] PremRateMinMaxDetailVBAResponse data, response status code and response headers
    def get_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.get_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.get_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateMinMaxDetailsApi.get_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.get_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details/{premRateKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.get_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#get_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateMinMaxDetail
    # Lists all PremRateMinMaxDetail for the given premRateMinMaxKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Min Max Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateMinMaxDetailListVBAResponse]
    def list_prem_rate_min_max_detail(vbasoftware_database, prem_rate_min_max_key, opts = {})
      data, _status_code, _headers = list_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts)
      data
    end

    # List PremRateMinMaxDetail
    # Lists all PremRateMinMaxDetail for the given premRateMinMaxKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Min Max Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateMinMaxDetailListVBAResponse, Integer, Hash)>] PremRateMinMaxDetailListVBAResponse data, response status code and response headers
    def list_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.list_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.list_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.list_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.list_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#list_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateMinMaxDetail
    # Create or Update multiple PremRateMinMaxDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Key
    # @param prem_rate_min_max_detail [Array<PremRateMinMaxDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_min_max_detail(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts)
      data
    end

    # Create or Update Batch PremRateMinMaxDetail
    # Create or Update multiple PremRateMinMaxDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_min_max_key [Integer] PremRate Key
    # @param prem_rate_min_max_detail [Array<PremRateMinMaxDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.update_batch_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.update_batch_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.update_batch_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_detail' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_detail' when calling PremiumRateMinMaxDetailsApi.update_batch_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details-batch'.sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.update_batch_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#update_batch_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateMinMaxDetail
    # Updates a specific PremRateMinMaxDetail.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param prem_rate_min_max_detail [PremRateMinMaxDetail] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateMinMaxDetailVBAResponse]
    def update_prem_rate_min_max_detail(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      data, _status_code, _headers = update_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, prem_rate_min_max_detail, opts)
      data
    end

    # Update PremRateMinMaxDetail
    # Updates a specific PremRateMinMaxDetail.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_min_max_key [Integer] PremRateMinMax Key
    # @param prem_rate_min_max_detail [PremRateMinMaxDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateMinMaxDetailVBAResponse, Integer, Hash)>] PremRateMinMaxDetailVBAResponse data, response status code and response headers
    def update_prem_rate_min_max_detail_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_min_max_key, prem_rate_min_max_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_key' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_key' when calling PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail"
      end
      # verify the required parameter 'prem_rate_min_max_detail' is set
      if @api_client.config.client_side_validation && prem_rate_min_max_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_min_max_detail' when calling PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateMinMaxKey}/premium-rate-min-max-details/{premRateKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateMinMaxKey' + '}', CGI.escape(prem_rate_min_max_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_min_max_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateMinMaxDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateMinMaxDetailsApi.update_prem_rate_min_max_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateMinMaxDetailsApi#update_prem_rate_min_max_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
