=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRateExcludesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRateExclude
    # Creates a new PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude [PremRateExclude] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateExcludeVBAResponse]
    def create_prem_rate_exclude(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts = {})
      data, _status_code, _headers = create_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts)
      data
    end

    # Create PremRateExclude
    # Creates a new PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude [PremRateExclude] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateExcludeVBAResponse, Integer, Hash)>] PremRateExcludeVBAResponse data, response status code and response headers
    def create_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.create_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.create_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.create_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude' is set
      if @api_client.config.client_side_validation && prem_rate_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude' when calling PremiumRateExcludesApi.create_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.create_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#create_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRateExclude
    # Deletes an PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_exclude(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts = {})
      delete_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts)
      nil
    end

    # Delete PremRateExclude
    # Deletes an PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.delete_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.delete_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.delete_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude_key' is set
      if @api_client.config.client_side_validation && prem_rate_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude_key' when calling PremiumRateExcludesApi.delete_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes/{premRateExcludeKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateExcludeKey' + '}', CGI.escape(prem_rate_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.delete_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#delete_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRateExclude
    # Gets PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param [Hash] opts the optional parameters
    # @return [PremRateExcludeVBAResponse]
    def get_prem_rate_exclude(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts = {})
      data, _status_code, _headers = get_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts)
      data
    end

    # Get PremRateExclude
    # Gets PremRateExclude
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateExcludeVBAResponse, Integer, Hash)>] PremRateExcludeVBAResponse data, response status code and response headers
    def get_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.get_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.get_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.get_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude_key' is set
      if @api_client.config.client_side_validation && prem_rate_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude_key' when calling PremiumRateExcludesApi.get_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes/{premRateExcludeKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateExcludeKey' + '}', CGI.escape(prem_rate_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.get_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#get_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRateExclude
    # Lists all PremRateExclude for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRateExcludeListVBAResponse]
    def list_prem_rate_exclude(vbasoftware_database, prem_rate_key, opts = {})
      data, _status_code, _headers = list_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, opts)
      data
    end

    # List PremRateExclude
    # Lists all PremRateExclude for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRateExcludeListVBAResponse, Integer, Hash)>] PremRateExcludeListVBAResponse data, response status code and response headers
    def list_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.list_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.list_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.list_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateExcludeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.list_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#list_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRateExclude
    # Create or Update multiple PremRateExclude at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude [Array<PremRateExclude>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_exclude(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts)
      data
    end

    # Create or Update Batch PremRateExclude
    # Create or Update multiple PremRateExclude at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude [Array<PremRateExclude>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.update_batch_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.update_batch_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.update_batch_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude' is set
      if @api_client.config.client_side_validation && prem_rate_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude' when calling PremiumRateExcludesApi.update_batch_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes-batch'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.update_batch_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#update_batch_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRateExclude
    # Updates a specific PremRateExclude.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param prem_rate_exclude [PremRateExclude] 
    # @param [Hash] opts the optional parameters
    # @return [PremRateExcludeVBAResponse]
    def update_prem_rate_exclude(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, prem_rate_exclude, opts = {})
      data, _status_code, _headers = update_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, prem_rate_exclude, opts)
      data
    end

    # Update PremRateExclude
    # Updates a specific PremRateExclude.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_exclude_key [Integer] PremRateExclude Key
    # @param prem_rate_exclude [PremRateExclude] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRateExcludeVBAResponse, Integer, Hash)>] PremRateExcludeVBAResponse data, response status code and response headers
    def update_prem_rate_exclude_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_exclude_key, prem_rate_exclude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRateExcludesApi.update_prem_rate_exclude ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRateExcludesApi.update_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRateExcludesApi.update_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude_key' is set
      if @api_client.config.client_side_validation && prem_rate_exclude_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude_key' when calling PremiumRateExcludesApi.update_prem_rate_exclude"
      end
      # verify the required parameter 'prem_rate_exclude' is set
      if @api_client.config.client_side_validation && prem_rate_exclude.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_exclude' when calling PremiumRateExcludesApi.update_prem_rate_exclude"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/excludes/{premRateExcludeKey}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'premRateExcludeKey' + '}', CGI.escape(prem_rate_exclude_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_exclude)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRateExcludeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRateExcludesApi.update_prem_rate_exclude",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRateExcludesApi#update_prem_rate_exclude\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
