=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumInvoiceSubscriberDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremInvoiceSubscriberDetail
    # Creates a new PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_invoice_subscriber_detail [PremInvoiceSubscriberDetail] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSubscriberDetailVBAResponse]
    def create_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts = {})
      data, _status_code, _headers = create_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts)
      data
    end

    # Create PremInvoiceSubscriberDetail
    # Creates a new PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_invoice_subscriber_detail [PremInvoiceSubscriberDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSubscriberDetailVBAResponse, Integer, Hash)>] PremInvoiceSubscriberDetailVBAResponse data, response status code and response headers
    def create_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_invoice_subscriber_detail' is set
      if @api_client.config.client_side_validation && prem_invoice_subscriber_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_subscriber_detail' when calling PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_subscriber_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSubscriberDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.create_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#create_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremInvoiceSubscriberDetail
    # Deletes an PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      delete_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts)
      nil
    end

    # Delete PremInvoiceSubscriberDetail
    # Deletes an PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details/{premRateKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.delete_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#delete_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremInvoiceSubscriberDetail
    # Gets PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSubscriberDetailVBAResponse]
    def get_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      data, _status_code, _headers = get_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts)
      data
    end

    # Get PremInvoiceSubscriberDetail
    # Gets PremInvoiceSubscriberDetail
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSubscriberDetailVBAResponse, Integer, Hash)>] PremInvoiceSubscriberDetailVBAResponse data, response status code and response headers
    def get_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details/{premRateKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSubscriberDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.get_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#get_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremInvoiceSubscriberDetail
    # Lists all PremInvoiceSubscriberDetail for the given invoiceKey and groupID and divisionID and subscriberID
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremInvoiceSubscriberDetailListVBAResponse]
    def list_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, opts = {})
      data, _status_code, _headers = list_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, opts)
      data
    end

    # List PremInvoiceSubscriberDetail
    # Lists all PremInvoiceSubscriberDetail for the given invoiceKey and groupID and divisionID and subscriberID
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremInvoiceSubscriberDetailListVBAResponse, Integer, Hash)>] PremInvoiceSubscriberDetailListVBAResponse data, response status code and response headers
    def list_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSubscriberDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.list_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#list_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremInvoiceSubscriberDetail
    # Create or Update multiple PremInvoiceSubscriberDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_invoice_subscriber_detail [Array<PremInvoiceSubscriberDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts = {})
      data, _status_code, _headers = update_batch_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts)
      data
    end

    # Create or Update Batch PremInvoiceSubscriberDetail
    # Create or Update multiple PremInvoiceSubscriberDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_invoice_subscriber_detail [Array<PremInvoiceSubscriberDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_invoice_subscriber_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_invoice_subscriber_detail' is set
      if @api_client.config.client_side_validation && prem_invoice_subscriber_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_subscriber_detail' when calling PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details-batch'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_subscriber_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.update_batch_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#update_batch_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremInvoiceSubscriberDetail
    # Updates a specific PremInvoiceSubscriberDetail.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_invoice_subscriber_detail [PremInvoiceSubscriberDetail] 
    # @param [Hash] opts the optional parameters
    # @return [PremInvoiceSubscriberDetailVBAResponse]
    def update_prem_invoice_subscriber_detail(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, prem_invoice_subscriber_detail, opts = {})
      data, _status_code, _headers = update_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, prem_invoice_subscriber_detail, opts)
      data
    end

    # Update PremInvoiceSubscriberDetail
    # Updates a specific PremInvoiceSubscriberDetail.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param subscriber_id [String] Subscriber ID
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_invoice_subscriber_detail [PremInvoiceSubscriberDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremInvoiceSubscriberDetailVBAResponse, Integer, Hash)>] PremInvoiceSubscriberDetailVBAResponse data, response status code and response headers
    def update_prem_invoice_subscriber_detail_with_http_info(vbasoftware_database, invoice_key, group_id, division_id, subscriber_id, prem_rate_key, prem_invoice_subscriber_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # verify the required parameter 'prem_invoice_subscriber_detail' is set
      if @api_client.config.client_side_validation && prem_invoice_subscriber_detail.nil?
        fail ArgumentError, "Missing the required parameter 'prem_invoice_subscriber_detail' when calling PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail"
      end
      # resource path
      local_var_path = '/premium-invoices/{invoiceKey}/subscribers/{groupID}/{divisionID}/{subscriberID}/details/{premRateKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_invoice_subscriber_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'PremInvoiceSubscriberDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumInvoiceSubscriberDetailsApi.update_prem_invoice_subscriber_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumInvoiceSubscriberDetailsApi#update_prem_invoice_subscriber_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
