=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumRatePayeesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremRatePayee
    # Creates a new PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_payee [PremRatePayee] 
    # @param [Hash] opts the optional parameters
    # @return [PremRatePayeeVBAResponse]
    def create_prem_rate_payee(vbasoftware_database, prem_rate_key, prem_rate_payee, opts = {})
      data, _status_code, _headers = create_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_payee, opts)
      data
    end

    # Create PremRatePayee
    # Creates a new PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_payee [PremRatePayee] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePayeeVBAResponse, Integer, Hash)>] PremRatePayeeVBAResponse data, response status code and response headers
    def create_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.create_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.create_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.create_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_payee' is set
      if @api_client.config.client_side_validation && prem_rate_payee.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_payee' when calling PremiumRatePayeesApi.create_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_payee)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.create_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#create_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremRatePayee
    # Deletes an PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_rate_payee(vbasoftware_database, prem_rate_key, payee_id, opts = {})
      delete_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, opts)
      nil
    end

    # Delete PremRatePayee
    # Deletes an PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.delete_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.delete_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.delete_prem_rate_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PremiumRatePayeesApi.delete_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees/{payeeID}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.delete_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#delete_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremRatePayee
    # Gets PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [PremRatePayeeVBAResponse]
    def get_prem_rate_payee(vbasoftware_database, prem_rate_key, payee_id, opts = {})
      data, _status_code, _headers = get_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, opts)
      data
    end

    # Get PremRatePayee
    # Gets PremRatePayee
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePayeeVBAResponse, Integer, Hash)>] PremRatePayeeVBAResponse data, response status code and response headers
    def get_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.get_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.get_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.get_prem_rate_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PremiumRatePayeesApi.get_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees/{payeeID}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.get_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#get_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremRatePayee
    # Lists all PremRatePayee for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremRatePayeeListVBAResponse]
    def list_prem_rate_payee(vbasoftware_database, prem_rate_key, opts = {})
      data, _status_code, _headers = list_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, opts)
      data
    end

    # List PremRatePayee
    # Lists all PremRatePayee for the given premRateKey
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremRatePayeeListVBAResponse, Integer, Hash)>] PremRatePayeeListVBAResponse data, response status code and response headers
    def list_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.list_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.list_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.list_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePayeeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.list_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#list_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremRatePayee
    # Create or Update multiple PremRatePayee at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_payee [Array<PremRatePayee>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_rate_payee(vbasoftware_database, prem_rate_key, prem_rate_payee, opts = {})
      data, _status_code, _headers = update_batch_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_payee, opts)
      data
    end

    # Create or Update Batch PremRatePayee
    # Create or Update multiple PremRatePayee at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param prem_rate_payee [Array<PremRatePayee>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, prem_rate_payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.update_batch_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.update_batch_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.update_batch_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_payee' is set
      if @api_client.config.client_side_validation && prem_rate_payee.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_payee' when calling PremiumRatePayeesApi.update_batch_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees-batch'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_payee)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.update_batch_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#update_batch_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremRatePayee
    # Updates a specific PremRatePayee.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param prem_rate_payee [PremRatePayee] 
    # @param [Hash] opts the optional parameters
    # @return [PremRatePayeeVBAResponse]
    def update_prem_rate_payee(vbasoftware_database, prem_rate_key, payee_id, prem_rate_payee, opts = {})
      data, _status_code, _headers = update_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, prem_rate_payee, opts)
      data
    end

    # Update PremRatePayee
    # Updates a specific PremRatePayee.
    # @param vbasoftware_database [String] Target database
    # @param prem_rate_key [Integer] PremRate Key
    # @param payee_id [String] Payee ID
    # @param prem_rate_payee [PremRatePayee] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremRatePayeeVBAResponse, Integer, Hash)>] PremRatePayeeVBAResponse data, response status code and response headers
    def update_prem_rate_payee_with_http_info(vbasoftware_database, prem_rate_key, payee_id, prem_rate_payee, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumRatePayeesApi.update_prem_rate_payee ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumRatePayeesApi.update_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_key' is set
      if @api_client.config.client_side_validation && prem_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_key' when calling PremiumRatePayeesApi.update_prem_rate_payee"
      end
      # verify the required parameter 'payee_id' is set
      if @api_client.config.client_side_validation && payee_id.nil?
        fail ArgumentError, "Missing the required parameter 'payee_id' when calling PremiumRatePayeesApi.update_prem_rate_payee"
      end
      # verify the required parameter 'prem_rate_payee' is set
      if @api_client.config.client_side_validation && prem_rate_payee.nil?
        fail ArgumentError, "Missing the required parameter 'prem_rate_payee' when calling PremiumRatePayeesApi.update_prem_rate_payee"
      end
      # resource path
      local_var_path = '/premium-rates/{premRateKey}/payees/{payeeID}'.sub('{' + 'premRateKey' + '}', CGI.escape(prem_rate_key.to_s)).sub('{' + 'payeeID' + '}', CGI.escape(payee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_rate_payee)

      # return_type
      return_type = opts[:debug_return_type] || 'PremRatePayeeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumRatePayeesApi.update_prem_rate_payee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumRatePayeesApi#update_prem_rate_payee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
