=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class PremiumPaymentsOnAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create PremPaymentOnAccount
    # Creates a new PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account [PremPaymentOnAccount] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentOnAccountVBAResponse]
    def create_prem_payment_on_account(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts = {})
      data, _status_code, _headers = create_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts)
      data
    end

    # Create PremPaymentOnAccount
    # Creates a new PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account [PremPaymentOnAccount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentOnAccountVBAResponse, Integer, Hash)>] PremPaymentOnAccountVBAResponse data, response status code and response headers
    def create_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.create_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.create_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.create_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account' is set
      if @api_client.config.client_side_validation && prem_payment_on_account.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account' when calling PremiumPaymentsOnAccountsApi.create_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_on_account)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentOnAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.create_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#create_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete PremPaymentOnAccount
    # Deletes an PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prem_payment_on_account(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts = {})
      delete_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts)
      nil
    end

    # Delete PremPaymentOnAccount
    # Deletes an PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.delete_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.delete_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.delete_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account_key' is set
      if @api_client.config.client_side_validation && prem_payment_on_account_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account_key' when calling PremiumPaymentsOnAccountsApi.delete_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments/{premPaymentOnAccountKey}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'premPaymentOnAccountKey' + '}', CGI.escape(prem_payment_on_account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.delete_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#delete_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PremPaymentOnAccount
    # Gets PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentOnAccountVBAResponse]
    def get_prem_payment_on_account(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts = {})
      data, _status_code, _headers = get_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts)
      data
    end

    # Get PremPaymentOnAccount
    # Gets PremPaymentOnAccount
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentOnAccountVBAResponse, Integer, Hash)>] PremPaymentOnAccountVBAResponse data, response status code and response headers
    def get_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.get_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.get_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.get_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account_key' is set
      if @api_client.config.client_side_validation && prem_payment_on_account_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account_key' when calling PremiumPaymentsOnAccountsApi.get_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments/{premPaymentOnAccountKey}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'premPaymentOnAccountKey' + '}', CGI.escape(prem_payment_on_account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentOnAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.get_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#get_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PremPaymentOnAccount
    # Lists all PremPaymentOnAccount for the given premPaymentKey
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [PremPaymentOnAccountListVBAResponse]
    def list_prem_payment_on_account(vbasoftware_database, prem_payment_key, opts = {})
      data, _status_code, _headers = list_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, opts)
      data
    end

    # List PremPaymentOnAccount
    # Lists all PremPaymentOnAccount for the given premPaymentKey
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(PremPaymentOnAccountListVBAResponse, Integer, Hash)>] PremPaymentOnAccountListVBAResponse data, response status code and response headers
    def list_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.list_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.list_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.list_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentOnAccountListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.list_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#list_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch PremPaymentOnAccount
    # Create or Update multiple PremPaymentOnAccount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account [Array<PremPaymentOnAccount>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_prem_payment_on_account(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts = {})
      data, _status_code, _headers = update_batch_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts)
      data
    end

    # Create or Update Batch PremPaymentOnAccount
    # Create or Update multiple PremPaymentOnAccount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account [Array<PremPaymentOnAccount>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.update_batch_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.update_batch_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.update_batch_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account' is set
      if @api_client.config.client_side_validation && prem_payment_on_account.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account' when calling PremiumPaymentsOnAccountsApi.update_batch_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments-batch'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_on_account)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.update_batch_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#update_batch_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update PremPaymentOnAccount
    # Updates a specific PremPaymentOnAccount.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param prem_payment_on_account [PremPaymentOnAccount] 
    # @param [Hash] opts the optional parameters
    # @return [PremPaymentOnAccountVBAResponse]
    def update_prem_payment_on_account(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, prem_payment_on_account, opts = {})
      data, _status_code, _headers = update_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, prem_payment_on_account, opts)
      data
    end

    # Update PremPaymentOnAccount
    # Updates a specific PremPaymentOnAccount.
    # @param vbasoftware_database [String] Target database
    # @param prem_payment_key [Integer] PremPayment Key
    # @param prem_payment_on_account_key [Integer] PremPaymentOnAccount Key
    # @param prem_payment_on_account [PremPaymentOnAccount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PremPaymentOnAccountVBAResponse, Integer, Hash)>] PremPaymentOnAccountVBAResponse data, response status code and response headers
    def update_prem_payment_on_account_with_http_info(vbasoftware_database, prem_payment_key, prem_payment_on_account_key, prem_payment_on_account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PremiumPaymentsOnAccountsApi.update_prem_payment_on_account ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling PremiumPaymentsOnAccountsApi.update_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_key' is set
      if @api_client.config.client_side_validation && prem_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_key' when calling PremiumPaymentsOnAccountsApi.update_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account_key' is set
      if @api_client.config.client_side_validation && prem_payment_on_account_key.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account_key' when calling PremiumPaymentsOnAccountsApi.update_prem_payment_on_account"
      end
      # verify the required parameter 'prem_payment_on_account' is set
      if @api_client.config.client_side_validation && prem_payment_on_account.nil?
        fail ArgumentError, "Missing the required parameter 'prem_payment_on_account' when calling PremiumPaymentsOnAccountsApi.update_prem_payment_on_account"
      end
      # resource path
      local_var_path = '/premium-payments/{premPaymentKey}/account-payments/{premPaymentOnAccountKey}'.sub('{' + 'premPaymentKey' + '}', CGI.escape(prem_payment_key.to_s)).sub('{' + 'premPaymentOnAccountKey' + '}', CGI.escape(prem_payment_on_account_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prem_payment_on_account)

      # return_type
      return_type = opts[:debug_return_type] || 'PremPaymentOnAccountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PremiumPaymentsOnAccountsApi.update_prem_payment_on_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PremiumPaymentsOnAccountsApi#update_prem_payment_on_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
