=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcessAutomationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send Report Email
    # Sends an email with attached report
    # @param vbasoftware_database [String] Target database
    # @param email_report_dto [EmailReportDTO] 
    # @param [Hash] opts the optional parameters
    # @return [StringVBAResponse]
    def send_report_email(vbasoftware_database, email_report_dto, opts = {})
      data, _status_code, _headers = send_report_email_with_http_info(vbasoftware_database, email_report_dto, opts)
      data
    end

    # Send Report Email
    # Sends an email with attached report
    # @param vbasoftware_database [String] Target database
    # @param email_report_dto [EmailReportDTO] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringVBAResponse, Integer, Hash)>] StringVBAResponse data, response status code and response headers
    def send_report_email_with_http_info(vbasoftware_database, email_report_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessAutomationApi.send_report_email ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessAutomationApi.send_report_email"
      end
      # verify the required parameter 'email_report_dto' is set
      if @api_client.config.client_side_validation && email_report_dto.nil?
        fail ArgumentError, "Missing the required parameter 'email_report_dto' when calling ProcessAutomationApi.send_report_email"
      end
      # resource path
      local_var_path = '/process-automation/report/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_report_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'StringVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessAutomationApi.send_report_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessAutomationApi#send_report_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Report Fax
    # Sends a report via fax
    # @param vbasoftware_database [String] Target database
    # @param fax_report_dto [FaxReportDTO] 
    # @param [Hash] opts the optional parameters
    # @return [StringVBAResponse]
    def send_report_fax(vbasoftware_database, fax_report_dto, opts = {})
      data, _status_code, _headers = send_report_fax_with_http_info(vbasoftware_database, fax_report_dto, opts)
      data
    end

    # Send Report Fax
    # Sends a report via fax
    # @param vbasoftware_database [String] Target database
    # @param fax_report_dto [FaxReportDTO] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringVBAResponse, Integer, Hash)>] StringVBAResponse data, response status code and response headers
    def send_report_fax_with_http_info(vbasoftware_database, fax_report_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessAutomationApi.send_report_fax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessAutomationApi.send_report_fax"
      end
      # verify the required parameter 'fax_report_dto' is set
      if @api_client.config.client_side_validation && fax_report_dto.nil?
        fail ArgumentError, "Missing the required parameter 'fax_report_dto' when calling ProcessAutomationApi.send_report_fax"
      end
      # resource path
      local_var_path = '/process-automation/report/fax'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fax_report_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'StringVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessAutomationApi.send_report_fax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessAutomationApi#send_report_fax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send or schedule SMS
    # Sends or schedules an SMS
    # @param vbasoftware_database [String] Target database
    # @param smsdto [SMSDTO] 
    # @param [Hash] opts the optional parameters
    # @return [StringVBAResponse]
    def send_sms(vbasoftware_database, smsdto, opts = {})
      data, _status_code, _headers = send_sms_with_http_info(vbasoftware_database, smsdto, opts)
      data
    end

    # Send or schedule SMS
    # Sends or schedules an SMS
    # @param vbasoftware_database [String] Target database
    # @param smsdto [SMSDTO] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringVBAResponse, Integer, Hash)>] StringVBAResponse data, response status code and response headers
    def send_sms_with_http_info(vbasoftware_database, smsdto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessAutomationApi.send_sms ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessAutomationApi.send_sms"
      end
      # verify the required parameter 'smsdto' is set
      if @api_client.config.client_side_validation && smsdto.nil?
        fail ArgumentError, "Missing the required parameter 'smsdto' when calling ProcessAutomationApi.send_sms"
      end
      # resource path
      local_var_path = '/process-automation/sms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(smsdto)

      # return_type
      return_type = opts[:debug_return_type] || 'StringVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessAutomationApi.send_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessAutomationApi#send_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
