=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcessesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAProcess
    # Creates a new VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param vba_process [VBAProcess] 
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessVBAResponse]
    def create_vba_process(vbasoftware_database, vba_process, opts = {})
      data, _status_code, _headers = create_vba_process_with_http_info(vbasoftware_database, vba_process, opts)
      data
    end

    # Create VBAProcess
    # Creates a new VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param vba_process [VBAProcess] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessVBAResponse, Integer, Hash)>] VBAProcessVBAResponse data, response status code and response headers
    def create_vba_process_with_http_info(vbasoftware_database, vba_process, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesApi.create_vba_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessesApi.create_vba_process"
      end
      # verify the required parameter 'vba_process' is set
      if @api_client.config.client_side_validation && vba_process.nil?
        fail ArgumentError, "Missing the required parameter 'vba_process' when calling ProcessesApi.create_vba_process"
      end
      # resource path
      local_var_path = '/vbaprocesses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_process)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessesApi.create_vba_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesApi#create_vba_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAProcess
    # Deletes an VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_process(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      delete_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts)
      nil
    end

    # Delete VBAProcess
    # Deletes an VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesApi.delete_vba_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessesApi.delete_vba_process"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessesApi.delete_vba_process"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessesApi.delete_vba_process"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessesApi.delete_vba_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesApi#delete_vba_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAProcess
    # Gets VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessVBAResponse]
    def get_vba_process(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      data, _status_code, _headers = get_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts)
      data
    end

    # Get VBAProcess
    # Gets VBAProcess
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessVBAResponse, Integer, Hash)>] VBAProcessVBAResponse data, response status code and response headers
    def get_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesApi.get_vba_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessesApi.get_vba_process"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessesApi.get_vba_process"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessesApi.get_vba_process"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessesApi.get_vba_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesApi#get_vba_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAProcess
    # Updates a specific VBAProcess.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process [VBAProcess] 
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessVBAResponse]
    def update_vba_process(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process, opts = {})
      data, _status_code, _headers = update_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process, opts)
      data
    end

    # Update VBAProcess
    # Updates a specific VBAProcess.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process [VBAProcess] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessVBAResponse, Integer, Hash)>] VBAProcessVBAResponse data, response status code and response headers
    def update_vba_process_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesApi.update_vba_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessesApi.update_vba_process"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessesApi.update_vba_process"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessesApi.update_vba_process"
      end
      # verify the required parameter 'vba_process' is set
      if @api_client.config.client_side_validation && vba_process.nil?
        fail ArgumentError, "Missing the required parameter 'vba_process' when calling ProcessesApi.update_vba_process"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_process)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessesApi.update_vba_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesApi#update_vba_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
