=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcedureCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProcedureCode
    # Creates a new ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [ProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeVBAResponse]
    def create_procedure_code(vbasoftware_database, procedure_code, opts = {})
      data, _status_code, _headers = create_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts)
      data
    end

    # Create ProcedureCode
    # Creates a new ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [ProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeVBAResponse, Integer, Hash)>] ProcedureCodeVBAResponse data, response status code and response headers
    def create_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.create_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.create_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodesApi.create_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.create_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#create_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProcedureCode
    # Deletes an ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procedure_code(vbasoftware_database, procedure_code, opts = {})
      delete_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts)
      nil
    end

    # Delete ProcedureCode
    # Deletes an ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.delete_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.delete_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodesApi.delete_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.delete_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#delete_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProcedureCode
    # Gets ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeVBAResponse]
    def get_procedure_code(vbasoftware_database, procedure_code, opts = {})
      data, _status_code, _headers = get_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts)
      data
    end

    # Get ProcedureCode
    # Gets ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeVBAResponse, Integer, Hash)>] ProcedureCodeVBAResponse data, response status code and response headers
    def get_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.get_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.get_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodesApi.get_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.get_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#get_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProcedureCode
    # Lists all ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProcedureCodeListVBAResponse]
    def list_procedure_code(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_procedure_code_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProcedureCode
    # Lists all ProcedureCode
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProcedureCodeListVBAResponse, Integer, Hash)>] ProcedureCodeListVBAResponse data, response status code and response headers
    def list_procedure_code_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.list_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.list_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.list_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#list_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProcedureCode
    # Create or Update multiple ProcedureCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [Array<ProcedureCode>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_procedure_code(vbasoftware_database, procedure_code, opts = {})
      data, _status_code, _headers = update_batch_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts)
      data
    end

    # Create or Update Batch ProcedureCode
    # Create or Update multiple ProcedureCode at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [Array<ProcedureCode>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_procedure_code_with_http_info(vbasoftware_database, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.update_batch_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.update_batch_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodesApi.update_batch_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.update_batch_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#update_batch_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProcedureCode
    # Updates a specific ProcedureCode.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code2 [ProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeVBAResponse]
    def update_procedure_code(vbasoftware_database, procedure_code, procedure_code2, opts = {})
      data, _status_code, _headers = update_procedure_code_with_http_info(vbasoftware_database, procedure_code, procedure_code2, opts)
      data
    end

    # Update ProcedureCode
    # Updates a specific ProcedureCode.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code2 [ProcedureCode] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeVBAResponse, Integer, Hash)>] ProcedureCodeVBAResponse data, response status code and response headers
    def update_procedure_code_with_http_info(vbasoftware_database, procedure_code, procedure_code2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodesApi.update_procedure_code ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodesApi.update_procedure_code"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodesApi.update_procedure_code"
      end
      # verify the required parameter 'procedure_code2' is set
      if @api_client.config.client_side_validation && procedure_code2.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code2' when calling ProcedureCodesApi.update_procedure_code"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code2)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodesApi.update_procedure_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodesApi#update_procedure_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
