=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcedureCodeSetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProcedureCodeSet
    # Creates a new ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code_set [ProcedureCodeSet] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeSetVBAResponse]
    def create_procedure_code_set(vbasoftware_database, procedure_code, procedure_code_set, opts = {})
      data, _status_code, _headers = create_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, procedure_code_set, opts)
      data
    end

    # Create ProcedureCodeSet
    # Creates a new ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code_set [ProcedureCodeSet] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeSetVBAResponse, Integer, Hash)>] ProcedureCodeSetVBAResponse data, response status code and response headers
    def create_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, procedure_code_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.create_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.create_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.create_procedure_code_set"
      end
      # verify the required parameter 'procedure_code_set' is set
      if @api_client.config.client_side_validation && procedure_code_set.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_set' when calling ProcedureCodeSetsApi.create_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_set)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.create_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#create_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProcedureCodeSet
    # Deletes an ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procedure_code_set(vbasoftware_database, procedure_code, code_set, opts = {})
      delete_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, opts)
      nil
    end

    # Delete ProcedureCodeSet
    # Deletes an ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.delete_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.delete_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.delete_procedure_code_set"
      end
      # verify the required parameter 'code_set' is set
      if @api_client.config.client_side_validation && code_set.nil?
        fail ArgumentError, "Missing the required parameter 'code_set' when calling ProcedureCodeSetsApi.delete_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets/{codeSet}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s)).sub('{' + 'codeSet' + '}', CGI.escape(code_set.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.delete_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#delete_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProcedureCodeSet
    # Gets ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeSetVBAResponse]
    def get_procedure_code_set(vbasoftware_database, procedure_code, code_set, opts = {})
      data, _status_code, _headers = get_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, opts)
      data
    end

    # Get ProcedureCodeSet
    # Gets ProcedureCodeSet
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeSetVBAResponse, Integer, Hash)>] ProcedureCodeSetVBAResponse data, response status code and response headers
    def get_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.get_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.get_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.get_procedure_code_set"
      end
      # verify the required parameter 'code_set' is set
      if @api_client.config.client_side_validation && code_set.nil?
        fail ArgumentError, "Missing the required parameter 'code_set' when calling ProcedureCodeSetsApi.get_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets/{codeSet}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s)).sub('{' + 'codeSet' + '}', CGI.escape(code_set.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.get_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#get_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProcedureCodeSet
    # Lists all ProcedureCodeSet for the given procedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProcedureCodeSetListVBAResponse]
    def list_procedure_code_set(vbasoftware_database, procedure_code, opts = {})
      data, _status_code, _headers = list_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, opts)
      data
    end

    # List ProcedureCodeSet
    # Lists all ProcedureCodeSet for the given procedureCode
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProcedureCodeSetListVBAResponse, Integer, Hash)>] ProcedureCodeSetListVBAResponse data, response status code and response headers
    def list_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.list_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.list_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.list_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeSetListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.list_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#list_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProcedureCodeSet
    # Create or Update multiple ProcedureCodeSet at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code_set [Array<ProcedureCodeSet>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_procedure_code_set(vbasoftware_database, procedure_code, procedure_code_set, opts = {})
      data, _status_code, _headers = update_batch_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, procedure_code_set, opts)
      data
    end

    # Create or Update Batch ProcedureCodeSet
    # Create or Update multiple ProcedureCodeSet at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param procedure_code_set [Array<ProcedureCodeSet>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, procedure_code_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.update_batch_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.update_batch_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.update_batch_procedure_code_set"
      end
      # verify the required parameter 'procedure_code_set' is set
      if @api_client.config.client_side_validation && procedure_code_set.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_set' when calling ProcedureCodeSetsApi.update_batch_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets-batch'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_set)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.update_batch_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#update_batch_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProcedureCodeSet
    # Updates a specific ProcedureCodeSet.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param procedure_code_set [ProcedureCodeSet] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeSetVBAResponse]
    def update_procedure_code_set(vbasoftware_database, procedure_code, code_set, procedure_code_set, opts = {})
      data, _status_code, _headers = update_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, procedure_code_set, opts)
      data
    end

    # Update ProcedureCodeSet
    # Updates a specific ProcedureCodeSet.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code [String] Procedure Code
    # @param code_set [String] Code Set
    # @param procedure_code_set [ProcedureCodeSet] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeSetVBAResponse, Integer, Hash)>] ProcedureCodeSetVBAResponse data, response status code and response headers
    def update_procedure_code_set_with_http_info(vbasoftware_database, procedure_code, code_set, procedure_code_set, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeSetsApi.update_procedure_code_set ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeSetsApi.update_procedure_code_set"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling ProcedureCodeSetsApi.update_procedure_code_set"
      end
      # verify the required parameter 'code_set' is set
      if @api_client.config.client_side_validation && code_set.nil?
        fail ArgumentError, "Missing the required parameter 'code_set' when calling ProcedureCodeSetsApi.update_procedure_code_set"
      end
      # verify the required parameter 'procedure_code_set' is set
      if @api_client.config.client_side_validation && procedure_code_set.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_set' when calling ProcedureCodeSetsApi.update_procedure_code_set"
      end
      # resource path
      local_var_path = '/procedure-codes/{procedureCode}/sets/{codeSet}'.sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s)).sub('{' + 'codeSet' + '}', CGI.escape(code_set.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_set)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeSetVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeSetsApi.update_procedure_code_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeSetsApi#update_procedure_code_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
