=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcedureClustersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProcedureCluster
    # Creates a new ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [ProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureClusterVBAResponse]
    def create_procedure_cluster(vbasoftware_database, procedure_cluster, opts = {})
      data, _status_code, _headers = create_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts)
      data
    end

    # Create ProcedureCluster
    # Creates a new ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [ProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureClusterVBAResponse, Integer, Hash)>] ProcedureClusterVBAResponse data, response status code and response headers
    def create_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.create_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.create_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling ProcedureClustersApi.create_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.create_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#create_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProcedureCluster
    # Deletes an ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procedure_cluster(vbasoftware_database, procedure_cluster, opts = {})
      delete_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts)
      nil
    end

    # Delete ProcedureCluster
    # Deletes an ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.delete_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.delete_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling ProcedureClustersApi.delete_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters/{procedureCluster}'.sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.delete_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#delete_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProcedureCluster
    # Gets ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param [Hash] opts the optional parameters
    # @return [ProcedureClusterVBAResponse]
    def get_procedure_cluster(vbasoftware_database, procedure_cluster, opts = {})
      data, _status_code, _headers = get_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts)
      data
    end

    # Get ProcedureCluster
    # Gets ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureClusterVBAResponse, Integer, Hash)>] ProcedureClusterVBAResponse data, response status code and response headers
    def get_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.get_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.get_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling ProcedureClustersApi.get_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters/{procedureCluster}'.sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.get_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#get_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProcedureCluster
    # Lists all ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProcedureClusterListVBAResponse]
    def list_procedure_cluster(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_procedure_cluster_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProcedureCluster
    # Lists all ProcedureCluster
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProcedureClusterListVBAResponse, Integer, Hash)>] ProcedureClusterListVBAResponse data, response status code and response headers
    def list_procedure_cluster_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.list_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.list_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureClusterListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.list_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#list_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProcedureCluster
    # Create or Update multiple ProcedureCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [Array<ProcedureCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_procedure_cluster(vbasoftware_database, procedure_cluster, opts = {})
      data, _status_code, _headers = update_batch_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts)
      data
    end

    # Create or Update Batch ProcedureCluster
    # Create or Update multiple ProcedureCluster at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [Array<ProcedureCluster>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.update_batch_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.update_batch_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling ProcedureClustersApi.update_batch_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_cluster)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.update_batch_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#update_batch_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProcedureCluster
    # Updates a specific ProcedureCluster.
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param procedure_cluster2 [ProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureClusterVBAResponse]
    def update_procedure_cluster(vbasoftware_database, procedure_cluster, procedure_cluster2, opts = {})
      data, _status_code, _headers = update_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, procedure_cluster2, opts)
      data
    end

    # Update ProcedureCluster
    # Updates a specific ProcedureCluster.
    # @param vbasoftware_database [String] Target database
    # @param procedure_cluster [String] Procedure Cluster
    # @param procedure_cluster2 [ProcedureCluster] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureClusterVBAResponse, Integer, Hash)>] ProcedureClusterVBAResponse data, response status code and response headers
    def update_procedure_cluster_with_http_info(vbasoftware_database, procedure_cluster, procedure_cluster2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureClustersApi.update_procedure_cluster ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureClustersApi.update_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster' is set
      if @api_client.config.client_side_validation && procedure_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster' when calling ProcedureClustersApi.update_procedure_cluster"
      end
      # verify the required parameter 'procedure_cluster2' is set
      if @api_client.config.client_side_validation && procedure_cluster2.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_cluster2' when calling ProcedureClustersApi.update_procedure_cluster"
      end
      # resource path
      local_var_path = '/procedure-clusters/{procedureCluster}'.sub('{' + 'procedureCluster' + '}', CGI.escape(procedure_cluster.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_cluster2)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureClusterVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureClustersApi.update_procedure_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureClustersApi#update_procedure_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
