=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcedureGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProcedureGroup
    # Creates a new ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [ProcedureGroup] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureGroupVBAResponse]
    def create_procedure_group(vbasoftware_database, procedure_group, opts = {})
      data, _status_code, _headers = create_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts)
      data
    end

    # Create ProcedureGroup
    # Creates a new ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [ProcedureGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureGroupVBAResponse, Integer, Hash)>] ProcedureGroupVBAResponse data, response status code and response headers
    def create_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.create_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.create_procedure_group"
      end
      # verify the required parameter 'procedure_group' is set
      if @api_client.config.client_side_validation && procedure_group.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group' when calling ProcedureGroupsApi.create_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_group)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.create_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#create_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProcedureGroup
    # Deletes an ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procedure_group(vbasoftware_database, procedure_group, opts = {})
      delete_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts)
      nil
    end

    # Delete ProcedureGroup
    # Deletes an ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.delete_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.delete_procedure_group"
      end
      # verify the required parameter 'procedure_group' is set
      if @api_client.config.client_side_validation && procedure_group.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group' when calling ProcedureGroupsApi.delete_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups/{procedureGroup}'.sub('{' + 'procedureGroup' + '}', CGI.escape(procedure_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.delete_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#delete_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProcedureGroup
    # Gets ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param [Hash] opts the optional parameters
    # @return [ProcedureGroupVBAResponse]
    def get_procedure_group(vbasoftware_database, procedure_group, opts = {})
      data, _status_code, _headers = get_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts)
      data
    end

    # Get ProcedureGroup
    # Gets ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureGroupVBAResponse, Integer, Hash)>] ProcedureGroupVBAResponse data, response status code and response headers
    def get_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.get_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.get_procedure_group"
      end
      # verify the required parameter 'procedure_group' is set
      if @api_client.config.client_side_validation && procedure_group.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group' when calling ProcedureGroupsApi.get_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups/{procedureGroup}'.sub('{' + 'procedureGroup' + '}', CGI.escape(procedure_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.get_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#get_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProcedureGroup
    # Lists all ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProcedureGroupListVBAResponse]
    def list_procedure_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_procedure_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProcedureGroup
    # Lists all ProcedureGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProcedureGroupListVBAResponse, Integer, Hash)>] ProcedureGroupListVBAResponse data, response status code and response headers
    def list_procedure_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.list_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.list_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.list_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#list_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProcedureGroup
    # Create or Update multiple ProcedureGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Array<ProcedureGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_procedure_group(vbasoftware_database, procedure_group, opts = {})
      data, _status_code, _headers = update_batch_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts)
      data
    end

    # Create or Update Batch ProcedureGroup
    # Create or Update multiple ProcedureGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Array<ProcedureGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_procedure_group_with_http_info(vbasoftware_database, procedure_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.update_batch_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.update_batch_procedure_group"
      end
      # verify the required parameter 'procedure_group' is set
      if @api_client.config.client_side_validation && procedure_group.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group' when calling ProcedureGroupsApi.update_batch_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.update_batch_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#update_batch_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProcedureGroup
    # Updates a specific ProcedureGroup.
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param procedure_group2 [ProcedureGroup] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureGroupVBAResponse]
    def update_procedure_group(vbasoftware_database, procedure_group, procedure_group2, opts = {})
      data, _status_code, _headers = update_procedure_group_with_http_info(vbasoftware_database, procedure_group, procedure_group2, opts)
      data
    end

    # Update ProcedureGroup
    # Updates a specific ProcedureGroup.
    # @param vbasoftware_database [String] Target database
    # @param procedure_group [Integer] Procedure Group
    # @param procedure_group2 [ProcedureGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureGroupVBAResponse, Integer, Hash)>] ProcedureGroupVBAResponse data, response status code and response headers
    def update_procedure_group_with_http_info(vbasoftware_database, procedure_group, procedure_group2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureGroupsApi.update_procedure_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureGroupsApi.update_procedure_group"
      end
      # verify the required parameter 'procedure_group' is set
      if @api_client.config.client_side_validation && procedure_group.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group' when calling ProcedureGroupsApi.update_procedure_group"
      end
      # verify the required parameter 'procedure_group2' is set
      if @api_client.config.client_side_validation && procedure_group2.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_group2' when calling ProcedureGroupsApi.update_procedure_group"
      end
      # resource path
      local_var_path = '/procedure-groups/{procedureGroup}'.sub('{' + 'procedureGroup' + '}', CGI.escape(procedure_group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_group2)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureGroupsApi.update_procedure_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureGroupsApi#update_procedure_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
