=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcessLoggingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAProcessLog
    # Creates a new VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process_log [VBAProcessLog] 
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessLogVBAResponse]
    def create_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts = {})
      data, _status_code, _headers = create_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts)
      data
    end

    # Create VBAProcessLog
    # Creates a new VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process_log [VBAProcessLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessLogVBAResponse, Integer, Hash)>] VBAProcessLogVBAResponse data, response status code and response headers
    def create_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.create_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.create_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.create_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.create_vba_process_log"
      end
      # verify the required parameter 'vba_process_log' is set
      if @api_client.config.client_side_validation && vba_process_log.nil?
        fail ArgumentError, "Missing the required parameter 'vba_process_log' when calling ProcessLoggingApi.create_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_process_log)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.create_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#create_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAProcessLog
    # Deletes an VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts = {})
      delete_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts)
      nil
    end

    # Delete VBAProcessLog
    # Deletes an VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.delete_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.delete_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.delete_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.delete_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_log_key' is set
      if @api_client.config.client_side_validation && v_ba_process_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_log_key' when calling ProcessLoggingApi.delete_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs/{vBAProcessLogKey}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s)).sub('{' + 'vBAProcessLogKey' + '}', CGI.escape(v_ba_process_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.delete_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#delete_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAProcessLog
    # Gets VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessLogVBAResponse]
    def get_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts = {})
      data, _status_code, _headers = get_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts)
      data
    end

    # Get VBAProcessLog
    # Gets VBAProcessLog
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessLogVBAResponse, Integer, Hash)>] VBAProcessLogVBAResponse data, response status code and response headers
    def get_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.get_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.get_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.get_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.get_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_log_key' is set
      if @api_client.config.client_side_validation && v_ba_process_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_log_key' when calling ProcessLoggingApi.get_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs/{vBAProcessLogKey}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s)).sub('{' + 'vBAProcessLogKey' + '}', CGI.escape(v_ba_process_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.get_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#get_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBAProcessLog
    # List VBAProcessLogs or the given VBAProcessKey and VBAProcessType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessLogListVBAResponse]
    def list_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      data, _status_code, _headers = list_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts)
      data
    end

    # List VBAProcessLog
    # List VBAProcessLogs or the given VBAProcessKey and VBAProcessType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessLogListVBAResponse, Integer, Hash)>] VBAProcessLogListVBAResponse data, response status code and response headers
    def list_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.list_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.list_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.list_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.list_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessLogListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.list_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#list_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch VBAProcessLog
    # Updates or Creates multiple VBAProcessLogs
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process_log [Array<VBAProcessLog>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts = {})
      data, _status_code, _headers = update_batch_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts)
      data
    end

    # Update Batch VBAProcessLog
    # Updates or Creates multiple VBAProcessLogs
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param vba_process_log [Array<VBAProcessLog>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, vba_process_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.update_batch_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.update_batch_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.update_batch_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.update_batch_vba_process_log"
      end
      # verify the required parameter 'vba_process_log' is set
      if @api_client.config.client_side_validation && vba_process_log.nil?
        fail ArgumentError, "Missing the required parameter 'vba_process_log' when calling ProcessLoggingApi.update_batch_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs-batch'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_process_log)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.update_batch_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#update_batch_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAProcessLog
    # Updates a specific VBAProcessLog.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param vba_process_log [VBAProcessLog] 
    # @param [Hash] opts the optional parameters
    # @return [VBAProcessLogVBAResponse]
    def update_vba_process_log(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, vba_process_log, opts = {})
      data, _status_code, _headers = update_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, vba_process_log, opts)
      data
    end

    # Update VBAProcessLog
    # Updates a specific VBAProcessLog.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_process_key [Integer] VBAProcess Key
    # @param v_ba_process_type [String] VBAProcess Type
    # @param v_ba_process_log_key [Integer] VBAProcessLog Key
    # @param vba_process_log [VBAProcessLog] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAProcessLogVBAResponse, Integer, Hash)>] VBAProcessLogVBAResponse data, response status code and response headers
    def update_vba_process_log_with_http_info(vbasoftware_database, v_ba_process_key, v_ba_process_type, v_ba_process_log_key, vba_process_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessLoggingApi.update_vba_process_log ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcessLoggingApi.update_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_key' is set
      if @api_client.config.client_side_validation && v_ba_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_key' when calling ProcessLoggingApi.update_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_type' is set
      if @api_client.config.client_side_validation && v_ba_process_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_type' when calling ProcessLoggingApi.update_vba_process_log"
      end
      # verify the required parameter 'v_ba_process_log_key' is set
      if @api_client.config.client_side_validation && v_ba_process_log_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_process_log_key' when calling ProcessLoggingApi.update_vba_process_log"
      end
      # verify the required parameter 'vba_process_log' is set
      if @api_client.config.client_side_validation && vba_process_log.nil?
        fail ArgumentError, "Missing the required parameter 'vba_process_log' when calling ProcessLoggingApi.update_vba_process_log"
      end
      # resource path
      local_var_path = '/vbaprocesses/{vBAProcessKey}/types/{vBAProcessType}/logs/{vBAProcessLogKey}'.sub('{' + 'vBAProcessKey' + '}', CGI.escape(v_ba_process_key.to_s)).sub('{' + 'vBAProcessType' + '}', CGI.escape(v_ba_process_type.to_s)).sub('{' + 'vBAProcessLogKey' + '}', CGI.escape(v_ba_process_log_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_process_log)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAProcessLogVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessLoggingApi.update_vba_process_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessLoggingApi#update_vba_process_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
