=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProcedureCodeQualifiersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProcedureCodeQualifier
    # Creates a new ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param procedure_code_qualifier [ProcedureCodeQualifier] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeQualifierVBAResponse]
    def create_procedure_code_qualifier(vbasoftware_database, procedure_code_qualifier, opts = {})
      data, _status_code, _headers = create_procedure_code_qualifier_with_http_info(vbasoftware_database, procedure_code_qualifier, opts)
      data
    end

    # Create ProcedureCodeQualifier
    # Creates a new ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param procedure_code_qualifier [ProcedureCodeQualifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeQualifierVBAResponse, Integer, Hash)>] ProcedureCodeQualifierVBAResponse data, response status code and response headers
    def create_procedure_code_qualifier_with_http_info(vbasoftware_database, procedure_code_qualifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.create_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.create_procedure_code_qualifier"
      end
      # verify the required parameter 'procedure_code_qualifier' is set
      if @api_client.config.client_side_validation && procedure_code_qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_qualifier' when calling ProcedureCodeQualifiersApi.create_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_qualifier)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeQualifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.create_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#create_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProcedureCodeQualifier
    # Deletes an ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procedure_code_qualifier(vbasoftware_database, qualifier, opts = {})
      delete_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, opts)
      nil
    end

    # Delete ProcedureCodeQualifier
    # Deletes an ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.delete_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.delete_procedure_code_qualifier"
      end
      # verify the required parameter 'qualifier' is set
      if @api_client.config.client_side_validation && qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'qualifier' when calling ProcedureCodeQualifiersApi.delete_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers/{qualifier}'.sub('{' + 'qualifier' + '}', CGI.escape(qualifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.delete_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#delete_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProcedureCodeQualifier
    # Gets ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeQualifierVBAResponse]
    def get_procedure_code_qualifier(vbasoftware_database, qualifier, opts = {})
      data, _status_code, _headers = get_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, opts)
      data
    end

    # Get ProcedureCodeQualifier
    # Gets ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeQualifierVBAResponse, Integer, Hash)>] ProcedureCodeQualifierVBAResponse data, response status code and response headers
    def get_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.get_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.get_procedure_code_qualifier"
      end
      # verify the required parameter 'qualifier' is set
      if @api_client.config.client_side_validation && qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'qualifier' when calling ProcedureCodeQualifiersApi.get_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers/{qualifier}'.sub('{' + 'qualifier' + '}', CGI.escape(qualifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeQualifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.get_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#get_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProcedureCodeQualifier
    # Lists all ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProcedureCodeQualifierListVBAResponse]
    def list_procedure_code_qualifier(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_procedure_code_qualifier_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProcedureCodeQualifier
    # Lists all ProcedureCodeQualifier
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProcedureCodeQualifierListVBAResponse, Integer, Hash)>] ProcedureCodeQualifierListVBAResponse data, response status code and response headers
    def list_procedure_code_qualifier_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.list_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.list_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeQualifierListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.list_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#list_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProcedureCodeQualifier
    # Create or Update multiple ProcedureCodeQualifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code_qualifier [Array<ProcedureCodeQualifier>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_procedure_code_qualifier(vbasoftware_database, procedure_code_qualifier, opts = {})
      data, _status_code, _headers = update_batch_procedure_code_qualifier_with_http_info(vbasoftware_database, procedure_code_qualifier, opts)
      data
    end

    # Create or Update Batch ProcedureCodeQualifier
    # Create or Update multiple ProcedureCodeQualifier at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param procedure_code_qualifier [Array<ProcedureCodeQualifier>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_procedure_code_qualifier_with_http_info(vbasoftware_database, procedure_code_qualifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.update_batch_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.update_batch_procedure_code_qualifier"
      end
      # verify the required parameter 'procedure_code_qualifier' is set
      if @api_client.config.client_side_validation && procedure_code_qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_qualifier' when calling ProcedureCodeQualifiersApi.update_batch_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_qualifier)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.update_batch_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#update_batch_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProcedureCodeQualifier
    # Updates a specific ProcedureCodeQualifier.
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param procedure_code_qualifier [ProcedureCodeQualifier] 
    # @param [Hash] opts the optional parameters
    # @return [ProcedureCodeQualifierVBAResponse]
    def update_procedure_code_qualifier(vbasoftware_database, qualifier, procedure_code_qualifier, opts = {})
      data, _status_code, _headers = update_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, procedure_code_qualifier, opts)
      data
    end

    # Update ProcedureCodeQualifier
    # Updates a specific ProcedureCodeQualifier.
    # @param vbasoftware_database [String] Target database
    # @param qualifier [String] Qualifier
    # @param procedure_code_qualifier [ProcedureCodeQualifier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcedureCodeQualifierVBAResponse, Integer, Hash)>] ProcedureCodeQualifierVBAResponse data, response status code and response headers
    def update_procedure_code_qualifier_with_http_info(vbasoftware_database, qualifier, procedure_code_qualifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcedureCodeQualifiersApi.update_procedure_code_qualifier ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProcedureCodeQualifiersApi.update_procedure_code_qualifier"
      end
      # verify the required parameter 'qualifier' is set
      if @api_client.config.client_side_validation && qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'qualifier' when calling ProcedureCodeQualifiersApi.update_procedure_code_qualifier"
      end
      # verify the required parameter 'procedure_code_qualifier' is set
      if @api_client.config.client_side_validation && procedure_code_qualifier.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code_qualifier' when calling ProcedureCodeQualifiersApi.update_procedure_code_qualifier"
      end
      # resource path
      local_var_path = '/procedure-code-qualifiers/{qualifier}'.sub('{' + 'qualifier' + '}', CGI.escape(qualifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(procedure_code_qualifier)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcedureCodeQualifierVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcedureCodeQualifiersApi.update_procedure_code_qualifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcedureCodeQualifiersApi#update_procedure_code_qualifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
