=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderTaxonomyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderTaxonomy
    # Creates a new ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy [ProviderTaxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderTaxonomyVBAResponse]
    def create_provider_taxonomy(vbasoftware_database, provider_id, provider_taxonomy, opts = {})
      data, _status_code, _headers = create_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy, opts)
      data
    end

    # Create ProviderTaxonomy
    # Creates a new ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy [ProviderTaxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderTaxonomyVBAResponse, Integer, Hash)>] ProviderTaxonomyVBAResponse data, response status code and response headers
    def create_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.create_provider_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.create_provider_taxonomy"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.create_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy' is set
      if @api_client.config.client_side_validation && provider_taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy' when calling ProviderTaxonomyApi.create_provider_taxonomy"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderTaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.create_provider_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#create_provider_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderTaxonomy
    # Deletes an ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_taxonomy(vbasoftware_database, provider_id, provider_taxonomy_key, opts = {})
      delete_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, opts)
      nil
    end

    # Delete ProviderTaxonomy
    # Deletes an ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.delete_provider_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.delete_provider_taxonomy"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.delete_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy_key' is set
      if @api_client.config.client_side_validation && provider_taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy_key' when calling ProviderTaxonomyApi.delete_provider_taxonomy"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies/{providerTaxonomyKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerTaxonomyKey' + '}', CGI.escape(provider_taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.delete_provider_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#delete_provider_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderTaxonomy
    # Gets ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderTaxonomyVBAResponse]
    def get_provider_taxonomy(vbasoftware_database, provider_id, provider_taxonomy_key, opts = {})
      data, _status_code, _headers = get_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, opts)
      data
    end

    # Get ProviderTaxonomy
    # Gets ProviderTaxonomy
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderTaxonomyVBAResponse, Integer, Hash)>] ProviderTaxonomyVBAResponse data, response status code and response headers
    def get_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.get_provider_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.get_provider_taxonomy"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.get_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy_key' is set
      if @api_client.config.client_side_validation && provider_taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy_key' when calling ProviderTaxonomyApi.get_provider_taxonomy"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies/{providerTaxonomyKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerTaxonomyKey' + '}', CGI.escape(provider_taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderTaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.get_provider_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#get_provider_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderTaxonomy
    # Lists all ProviderTaxonomy given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderTaxonomyListVBAResponse]
    def list_provider_taxonomies(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_taxonomies_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderTaxonomy
    # Lists all ProviderTaxonomy given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderTaxonomyListVBAResponse, Integer, Hash)>] ProviderTaxonomyListVBAResponse data, response status code and response headers
    def list_provider_taxonomies_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.list_provider_taxonomies ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.list_provider_taxonomies"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.list_provider_taxonomies"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderTaxonomyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.list_provider_taxonomies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#list_provider_taxonomies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderTaxonomy
    # Create or Update multiple ProviderTaxonomy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy [Array<ProviderTaxonomy>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_taxonomy(vbasoftware_database, provider_id, provider_taxonomy, opts = {})
      data, _status_code, _headers = update_batch_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy, opts)
      data
    end

    # Create or Update Batch ProviderTaxonomy
    # Create or Update multiple ProviderTaxonomy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy [Array<ProviderTaxonomy>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.update_batch_provider_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.update_batch_provider_taxonomy"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.update_batch_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy' is set
      if @api_client.config.client_side_validation && provider_taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy' when calling ProviderTaxonomyApi.update_batch_provider_taxonomy"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.update_batch_provider_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#update_batch_provider_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderTaxonomy
    # Updates a specific ProviderTaxonomy.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param provider_taxonomy [ProviderTaxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderTaxonomyVBAResponse]
    def update_provider_taxonomy(vbasoftware_database, provider_id, provider_taxonomy_key, provider_taxonomy, opts = {})
      data, _status_code, _headers = update_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, provider_taxonomy, opts)
      data
    end

    # Update ProviderTaxonomy
    # Updates a specific ProviderTaxonomy.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_taxonomy_key [Integer] ProviderTaxonomy Key
    # @param provider_taxonomy [ProviderTaxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderTaxonomyVBAResponse, Integer, Hash)>] ProviderTaxonomyVBAResponse data, response status code and response headers
    def update_provider_taxonomy_with_http_info(vbasoftware_database, provider_id, provider_taxonomy_key, provider_taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderTaxonomyApi.update_provider_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderTaxonomyApi.update_provider_taxonomy"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderTaxonomyApi.update_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy_key' is set
      if @api_client.config.client_side_validation && provider_taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy_key' when calling ProviderTaxonomyApi.update_provider_taxonomy"
      end
      # verify the required parameter 'provider_taxonomy' is set
      if @api_client.config.client_side_validation && provider_taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'provider_taxonomy' when calling ProviderTaxonomyApi.update_provider_taxonomy"
      end
      # resource path
      local_var_path = '/providers/{providerID}/taxonomies/{providerTaxonomyKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerTaxonomyKey' + '}', CGI.escape(provider_taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderTaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderTaxonomyApi.update_provider_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderTaxonomyApi#update_provider_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
