=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderCredentialingCountiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderCredCounty
    # Creates a new ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_county [ProviderCredCounty] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredCountyVBAResponse]
    def create_provider_cred_county(vbasoftware_database, provider_cred_key, provider_cred_county, opts = {})
      data, _status_code, _headers = create_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_county, opts)
      data
    end

    # Create ProviderCredCounty
    # Creates a new ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_county [ProviderCredCounty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredCountyVBAResponse, Integer, Hash)>] ProviderCredCountyVBAResponse data, response status code and response headers
    def create_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.create_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.create_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.create_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_county' is set
      if @api_client.config.client_side_validation && provider_cred_county.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_county' when calling ProviderCredentialingCountiesApi.create_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_county)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredCountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.create_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#create_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderCredCounty
    # Deletes an ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_cred_county(vbasoftware_database, provider_cred_key, county_code, opts = {})
      delete_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, opts)
      nil
    end

    # Delete ProviderCredCounty
    # Deletes an ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.delete_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.delete_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.delete_provider_cred_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling ProviderCredentialingCountiesApi.delete_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties/{countyCode}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.delete_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#delete_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderCredCounty
    # Gets ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredCountyVBAResponse]
    def get_provider_cred_county(vbasoftware_database, provider_cred_key, county_code, opts = {})
      data, _status_code, _headers = get_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, opts)
      data
    end

    # Get ProviderCredCounty
    # Gets ProviderCredCounty
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredCountyVBAResponse, Integer, Hash)>] ProviderCredCountyVBAResponse data, response status code and response headers
    def get_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.get_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.get_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.get_provider_cred_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling ProviderCredentialingCountiesApi.get_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties/{countyCode}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredCountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.get_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#get_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderCredCounty
    # Lists all ProviderCredCounty for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderCredCountyListVBAResponse]
    def list_provider_cred_county(vbasoftware_database, provider_cred_key, opts = {})
      data, _status_code, _headers = list_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, opts)
      data
    end

    # List ProviderCredCounty
    # Lists all ProviderCredCounty for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderCredCountyListVBAResponse, Integer, Hash)>] ProviderCredCountyListVBAResponse data, response status code and response headers
    def list_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.list_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.list_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.list_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredCountyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.list_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#list_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderCredCounty
    # Create or Update multiple ProviderCredCounty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_county [Array<ProviderCredCounty>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_cred_county(vbasoftware_database, provider_cred_key, provider_cred_county, opts = {})
      data, _status_code, _headers = update_batch_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_county, opts)
      data
    end

    # Create or Update Batch ProviderCredCounty
    # Create or Update multiple ProviderCredCounty at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_county [Array<ProviderCredCounty>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.update_batch_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.update_batch_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.update_batch_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_county' is set
      if @api_client.config.client_side_validation && provider_cred_county.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_county' when calling ProviderCredentialingCountiesApi.update_batch_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties-batch'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_county)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.update_batch_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#update_batch_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderCredCounty
    # Updates a specific ProviderCredCounty.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param provider_cred_county [ProviderCredCounty] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredCountyVBAResponse]
    def update_provider_cred_county(vbasoftware_database, provider_cred_key, county_code, provider_cred_county, opts = {})
      data, _status_code, _headers = update_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, provider_cred_county, opts)
      data
    end

    # Update ProviderCredCounty
    # Updates a specific ProviderCredCounty.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param county_code [String] County Code
    # @param provider_cred_county [ProviderCredCounty] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredCountyVBAResponse, Integer, Hash)>] ProviderCredCountyVBAResponse data, response status code and response headers
    def update_provider_cred_county_with_http_info(vbasoftware_database, provider_cred_key, county_code, provider_cred_county, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingCountiesApi.update_provider_cred_county ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingCountiesApi.update_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingCountiesApi.update_provider_cred_county"
      end
      # verify the required parameter 'county_code' is set
      if @api_client.config.client_side_validation && county_code.nil?
        fail ArgumentError, "Missing the required parameter 'county_code' when calling ProviderCredentialingCountiesApi.update_provider_cred_county"
      end
      # verify the required parameter 'provider_cred_county' is set
      if @api_client.config.client_side_validation && provider_cred_county.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_county' when calling ProviderCredentialingCountiesApi.update_provider_cred_county"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/counties/{countyCode}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'countyCode' + '}', CGI.escape(county_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_county)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredCountyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingCountiesApi.update_provider_cred_county",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingCountiesApi#update_provider_cred_county\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
