=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderAPCApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderAPC
    # Creates a new ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc [ProviderAPC] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAPCVBAResponse]
    def create_provider_apc(vbasoftware_database, provider_id, provider_apc, opts = {})
      data, _status_code, _headers = create_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc, opts)
      data
    end

    # Create ProviderAPC
    # Creates a new ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc [ProviderAPC] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAPCVBAResponse, Integer, Hash)>] ProviderAPCVBAResponse data, response status code and response headers
    def create_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.create_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.create_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.create_provider_apc"
      end
      # verify the required parameter 'provider_apc' is set
      if @api_client.config.client_side_validation && provider_apc.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc' when calling ProviderAPCApi.create_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_apc)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAPCVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.create_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#create_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderAPC
    # Deletes an ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_apc(vbasoftware_database, provider_id, provider_apc_key, opts = {})
      delete_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, opts)
      nil
    end

    # Delete ProviderAPC
    # Deletes an ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.delete_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.delete_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.delete_provider_apc"
      end
      # verify the required parameter 'provider_apc_key' is set
      if @api_client.config.client_side_validation && provider_apc_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc_key' when calling ProviderAPCApi.delete_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs/{providerAPCKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAPCKey' + '}', CGI.escape(provider_apc_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.delete_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#delete_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderAPC
    # Gets ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderAPCVBAResponse]
    def get_provider_apc(vbasoftware_database, provider_id, provider_apc_key, opts = {})
      data, _status_code, _headers = get_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, opts)
      data
    end

    # Get ProviderAPC
    # Gets ProviderAPC
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAPCVBAResponse, Integer, Hash)>] ProviderAPCVBAResponse data, response status code and response headers
    def get_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.get_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.get_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.get_provider_apc"
      end
      # verify the required parameter 'provider_apc_key' is set
      if @api_client.config.client_side_validation && provider_apc_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc_key' when calling ProviderAPCApi.get_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs/{providerAPCKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAPCKey' + '}', CGI.escape(provider_apc_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAPCVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.get_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#get_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderAPCs
    # List APCs for a given Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderAPCListVBAResponse]
    def list_provider_apc(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_apc_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderAPCs
    # List APCs for a given Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAPCListVBAResponse, Integer, Hash)>] ProviderAPCListVBAResponse data, response status code and response headers
    def list_provider_apc_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.list_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.list_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.list_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAPCListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.list_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#list_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderAPC
    # Create or Update multiple ProviderAPC at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc [Array<ProviderAPC>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_apc(vbasoftware_database, provider_id, provider_apc, opts = {})
      data, _status_code, _headers = update_batch_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc, opts)
      data
    end

    # Create or Update Batch ProviderAPC
    # Create or Update multiple ProviderAPC at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc [Array<ProviderAPC>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.update_batch_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.update_batch_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.update_batch_provider_apc"
      end
      # verify the required parameter 'provider_apc' is set
      if @api_client.config.client_side_validation && provider_apc.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc' when calling ProviderAPCApi.update_batch_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_apc)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.update_batch_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#update_batch_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderAPC
    # Updates a specific ProviderAPC.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param provider_apc [ProviderAPC] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAPCVBAResponse]
    def update_provider_apc(vbasoftware_database, provider_id, provider_apc_key, provider_apc, opts = {})
      data, _status_code, _headers = update_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, provider_apc, opts)
      data
    end

    # Update ProviderAPC
    # Updates a specific ProviderAPC.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_apc_key [Integer] ProviderAPC Key
    # @param provider_apc [ProviderAPC] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAPCVBAResponse, Integer, Hash)>] ProviderAPCVBAResponse data, response status code and response headers
    def update_provider_apc_with_http_info(vbasoftware_database, provider_id, provider_apc_key, provider_apc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAPCApi.update_provider_apc ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAPCApi.update_provider_apc"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAPCApi.update_provider_apc"
      end
      # verify the required parameter 'provider_apc_key' is set
      if @api_client.config.client_side_validation && provider_apc_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc_key' when calling ProviderAPCApi.update_provider_apc"
      end
      # verify the required parameter 'provider_apc' is set
      if @api_client.config.client_side_validation && provider_apc.nil?
        fail ArgumentError, "Missing the required parameter 'provider_apc' when calling ProviderAPCApi.update_provider_apc"
      end
      # resource path
      local_var_path = '/providers/{providerID}/apcs/{providerAPCKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAPCKey' + '}', CGI.escape(provider_apc_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_apc)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAPCVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAPCApi.update_provider_apc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAPCApi#update_provider_apc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
