=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderCLIACertificatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CLIACertificateProvider
    # Creates a new CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param clia_certificate_provider [CLIACertificateProvider] 
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProviderVBAResponse]
    def create_clia_certificate_provider(vbasoftware_database, provider_id, clia_certificate_provider, opts = {})
      data, _status_code, _headers = create_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, clia_certificate_provider, opts)
      data
    end

    # Create CLIACertificateProvider
    # Creates a new CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param clia_certificate_provider [CLIACertificateProvider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProviderVBAResponse, Integer, Hash)>] CLIACertificateProviderVBAResponse data, response status code and response headers
    def create_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, clia_certificate_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.create_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.create_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.create_clia_certificate_provider"
      end
      # verify the required parameter 'clia_certificate_provider' is set
      if @api_client.config.client_side_validation && clia_certificate_provider.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_provider' when calling ProviderCLIACertificatesApi.create_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.create_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#create_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CLIACertificateProvider
    # Deletes an CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_clia_certificate_provider(vbasoftware_database, provider_id, certificate_id, effective_date, opts = {})
      delete_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, opts)
      nil
    end

    # Delete CLIACertificateProvider
    # Deletes an CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.delete_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.delete_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.delete_clia_certificate_provider"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling ProviderCLIACertificatesApi.delete_clia_certificate_provider"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderCLIACertificatesApi.delete_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates/{certificateID}/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.delete_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#delete_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CLIACertificateProvider
    # Gets CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProviderVBAResponse]
    def get_clia_certificate_provider(vbasoftware_database, provider_id, certificate_id, effective_date, opts = {})
      data, _status_code, _headers = get_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, opts)
      data
    end

    # Get CLIACertificateProvider
    # Gets CLIACertificateProvider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProviderVBAResponse, Integer, Hash)>] CLIACertificateProviderVBAResponse data, response status code and response headers
    def get_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.get_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.get_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.get_clia_certificate_provider"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling ProviderCLIACertificatesApi.get_clia_certificate_provider"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderCLIACertificatesApi.get_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates/{certificateID}/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.get_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#get_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CLIACertificateProvider
    # Lists all CLIACertificateProvider for the given providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CLIACertificateProviderListVBAResponse]
    def list_clia_certificate_provider(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List CLIACertificateProvider
    # Lists all CLIACertificateProvider for the given providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CLIACertificateProviderListVBAResponse, Integer, Hash)>] CLIACertificateProviderListVBAResponse data, response status code and response headers
    def list_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.list_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.list_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.list_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProviderListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.list_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#list_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CLIACertificateProvider
    # Create or Update multiple CLIACertificateProvider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param clia_certificate_provider [Array<CLIACertificateProvider>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_clia_certificate_provider(vbasoftware_database, provider_id, clia_certificate_provider, opts = {})
      data, _status_code, _headers = update_batch_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, clia_certificate_provider, opts)
      data
    end

    # Create or Update Batch CLIACertificateProvider
    # Create or Update multiple CLIACertificateProvider at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param clia_certificate_provider [Array<CLIACertificateProvider>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, clia_certificate_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.update_batch_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.update_batch_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.update_batch_clia_certificate_provider"
      end
      # verify the required parameter 'clia_certificate_provider' is set
      if @api_client.config.client_side_validation && clia_certificate_provider.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_provider' when calling ProviderCLIACertificatesApi.update_batch_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.update_batch_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#update_batch_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CLIACertificateProvider
    # Updates a specific CLIACertificateProvider.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param clia_certificate_provider [CLIACertificateProvider] 
    # @param [Hash] opts the optional parameters
    # @return [CLIACertificateProviderVBAResponse]
    def update_clia_certificate_provider(vbasoftware_database, provider_id, certificate_id, effective_date, clia_certificate_provider, opts = {})
      data, _status_code, _headers = update_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, clia_certificate_provider, opts)
      data
    end

    # Update CLIACertificateProvider
    # Updates a specific CLIACertificateProvider.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param certificate_id [Integer] Certificate ID
    # @param effective_date [Time] Effective Date
    # @param clia_certificate_provider [CLIACertificateProvider] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CLIACertificateProviderVBAResponse, Integer, Hash)>] CLIACertificateProviderVBAResponse data, response status code and response headers
    def update_clia_certificate_provider_with_http_info(vbasoftware_database, provider_id, certificate_id, effective_date, clia_certificate_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCLIACertificatesApi.update_clia_certificate_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCLIACertificatesApi.update_clia_certificate_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderCLIACertificatesApi.update_clia_certificate_provider"
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling ProviderCLIACertificatesApi.update_clia_certificate_provider"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderCLIACertificatesApi.update_clia_certificate_provider"
      end
      # verify the required parameter 'clia_certificate_provider' is set
      if @api_client.config.client_side_validation && clia_certificate_provider.nil?
        fail ArgumentError, "Missing the required parameter 'clia_certificate_provider' when calling ProviderCLIACertificatesApi.update_clia_certificate_provider"
      end
      # resource path
      local_var_path = '/providers/{providerID}/clia-certificates/{certificateID}/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'certificateID' + '}', CGI.escape(certificate_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(clia_certificate_provider)

      # return_type
      return_type = opts[:debug_return_type] || 'CLIACertificateProviderVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCLIACertificatesApi.update_clia_certificate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCLIACertificatesApi#update_clia_certificate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
