=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderCredentialingContractsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderCredContract
    # Creates a new ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_contract [ProviderCredContract] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredContractVBAResponse]
    def create_provider_cred_contract(vbasoftware_database, provider_cred_key, provider_cred_contract, opts = {})
      data, _status_code, _headers = create_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_contract, opts)
      data
    end

    # Create ProviderCredContract
    # Creates a new ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_contract [ProviderCredContract] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredContractVBAResponse, Integer, Hash)>] ProviderCredContractVBAResponse data, response status code and response headers
    def create_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_contract, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.create_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.create_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.create_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_contract' is set
      if @api_client.config.client_side_validation && provider_cred_contract.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_contract' when calling ProviderCredentialingContractsApi.create_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_contract)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredContractVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.create_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#create_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderCredContract
    # Deletes an ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_cred_contract(vbasoftware_database, provider_cred_key, cred_contract_key, opts = {})
      delete_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, opts)
      nil
    end

    # Delete ProviderCredContract
    # Deletes an ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.delete_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.delete_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.delete_provider_cred_contract"
      end
      # verify the required parameter 'cred_contract_key' is set
      if @api_client.config.client_side_validation && cred_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_contract_key' when calling ProviderCredentialingContractsApi.delete_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts/{credContractKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credContractKey' + '}', CGI.escape(cred_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.delete_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#delete_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderCredContract
    # Gets ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredContractVBAResponse]
    def get_provider_cred_contract(vbasoftware_database, provider_cred_key, cred_contract_key, opts = {})
      data, _status_code, _headers = get_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, opts)
      data
    end

    # Get ProviderCredContract
    # Gets ProviderCredContract
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredContractVBAResponse, Integer, Hash)>] ProviderCredContractVBAResponse data, response status code and response headers
    def get_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.get_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.get_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.get_provider_cred_contract"
      end
      # verify the required parameter 'cred_contract_key' is set
      if @api_client.config.client_side_validation && cred_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_contract_key' when calling ProviderCredentialingContractsApi.get_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts/{credContractKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credContractKey' + '}', CGI.escape(cred_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredContractVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.get_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#get_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderCredContract
    # Lists all ProviderCredContract for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderCredContractListVBAResponse]
    def list_provider_cred_contract(vbasoftware_database, provider_cred_key, opts = {})
      data, _status_code, _headers = list_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, opts)
      data
    end

    # List ProviderCredContract
    # Lists all ProviderCredContract for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderCredContractListVBAResponse, Integer, Hash)>] ProviderCredContractListVBAResponse data, response status code and response headers
    def list_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.list_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.list_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.list_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredContractListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.list_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#list_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderCredContract
    # Create or Update multiple ProviderCredContract at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_contract [Array<ProviderCredContract>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_cred_contract(vbasoftware_database, provider_cred_key, provider_cred_contract, opts = {})
      data, _status_code, _headers = update_batch_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_contract, opts)
      data
    end

    # Create or Update Batch ProviderCredContract
    # Create or Update multiple ProviderCredContract at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_contract [Array<ProviderCredContract>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_contract, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.update_batch_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.update_batch_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.update_batch_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_contract' is set
      if @api_client.config.client_side_validation && provider_cred_contract.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_contract' when calling ProviderCredentialingContractsApi.update_batch_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts-batch'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_contract)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.update_batch_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#update_batch_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderCredContract
    # Updates a specific ProviderCredContract.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param provider_cred_contract [ProviderCredContract] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredContractVBAResponse]
    def update_provider_cred_contract(vbasoftware_database, provider_cred_key, cred_contract_key, provider_cred_contract, opts = {})
      data, _status_code, _headers = update_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, provider_cred_contract, opts)
      data
    end

    # Update ProviderCredContract
    # Updates a specific ProviderCredContract.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_contract_key [Integer] CredContract Key
    # @param provider_cred_contract [ProviderCredContract] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredContractVBAResponse, Integer, Hash)>] ProviderCredContractVBAResponse data, response status code and response headers
    def update_provider_cred_contract_with_http_info(vbasoftware_database, provider_cred_key, cred_contract_key, provider_cred_contract, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingContractsApi.update_provider_cred_contract ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingContractsApi.update_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingContractsApi.update_provider_cred_contract"
      end
      # verify the required parameter 'cred_contract_key' is set
      if @api_client.config.client_side_validation && cred_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_contract_key' when calling ProviderCredentialingContractsApi.update_provider_cred_contract"
      end
      # verify the required parameter 'provider_cred_contract' is set
      if @api_client.config.client_side_validation && provider_cred_contract.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_contract' when calling ProviderCredentialingContractsApi.update_provider_cred_contract"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/contracts/{credContractKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credContractKey' + '}', CGI.escape(cred_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_contract)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredContractVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingContractsApi.update_provider_cred_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingContractsApi#update_provider_cred_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
