=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderBenefitAdminFeesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Provider Benefit Admin Fee
    # Creates a new ProviderBenefitAdmin Fee
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_benefit_admin [ProviderBenefitAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderBenefitAdminVBAResponse]
    def create_provider_benefit_admin(vbasoftware_database, provider_id, provider_benefit_admin, opts = {})
      data, _status_code, _headers = create_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, provider_benefit_admin, opts)
      data
    end

    # Create Provider Benefit Admin Fee
    # Creates a new ProviderBenefitAdmin Fee
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_benefit_admin [ProviderBenefitAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderBenefitAdminVBAResponse, Integer, Hash)>] ProviderBenefitAdminVBAResponse data, response status code and response headers
    def create_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, provider_benefit_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.create_provider_benefit_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.create_provider_benefit_admin"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.create_provider_benefit_admin"
      end
      # verify the required parameter 'provider_benefit_admin' is set
      if @api_client.config.client_side_validation && provider_benefit_admin.nil?
        fail ArgumentError, "Missing the required parameter 'provider_benefit_admin' when calling ProviderBenefitAdminFeesApi.create_provider_benefit_admin"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_benefit_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderBenefitAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.create_provider_benefit_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#create_provider_benefit_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderBenefitAdmin
    # Deletes an ProviderBenefitAdmin
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_benefit_admin(vbasoftware_database, provider_id, benefit_code, effective_date, opts = {})
      delete_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, opts)
      nil
    end

    # Delete ProviderBenefitAdmin
    # Deletes an ProviderBenefitAdmin
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.delete_provider_benefit_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.delete_provider_benefit_admin"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.delete_provider_benefit_admin"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ProviderBenefitAdminFeesApi.delete_provider_benefit_admin"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderBenefitAdminFeesApi.delete_provider_benefit_admin"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees/{benefitCode}/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.delete_provider_benefit_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#delete_provider_benefit_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderBenefitAdmin
    # Gets ProviderBenefitAdmin
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [ProviderBenefitAdminVBAResponse]
    def get_provider_benefit_admin(vbasoftware_database, provider_id, benefit_code, effective_date, opts = {})
      data, _status_code, _headers = get_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, opts)
      data
    end

    # Get ProviderBenefitAdmin
    # Gets ProviderBenefitAdmin
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderBenefitAdminVBAResponse, Integer, Hash)>] ProviderBenefitAdminVBAResponse data, response status code and response headers
    def get_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.get_provider_benefit_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.get_provider_benefit_admin"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.get_provider_benefit_admin"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ProviderBenefitAdminFeesApi.get_provider_benefit_admin"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderBenefitAdminFeesApi.get_provider_benefit_admin"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees/{benefitCode}/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderBenefitAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.get_provider_benefit_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#get_provider_benefit_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Provider Benefit Admin Fees
    # List All Benefit Admin Fees for a given Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderBenefitAdminListVBAResponse]
    def list_provider_benefit_admin_fees(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_benefit_admin_fees_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List Provider Benefit Admin Fees
    # List All Benefit Admin Fees for a given Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderBenefitAdminListVBAResponse, Integer, Hash)>] ProviderBenefitAdminListVBAResponse data, response status code and response headers
    def list_provider_benefit_admin_fees_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.list_provider_benefit_admin_fees ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.list_provider_benefit_admin_fees"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.list_provider_benefit_admin_fees"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderBenefitAdminListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.list_provider_benefit_admin_fees",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#list_provider_benefit_admin_fees\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch ProviderBenefitAdmin
    # Updates a multiple ProviderBenefitAdmin.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_benefit_admin [Array<ProviderBenefitAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_benefit_admin(vbasoftware_database, provider_id, provider_benefit_admin, opts = {})
      data, _status_code, _headers = update_batch_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, provider_benefit_admin, opts)
      data
    end

    # Update Batch ProviderBenefitAdmin
    # Updates a multiple ProviderBenefitAdmin.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_benefit_admin [Array<ProviderBenefitAdmin>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, provider_benefit_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.update_batch_provider_benefit_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.update_batch_provider_benefit_admin"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.update_batch_provider_benefit_admin"
      end
      # verify the required parameter 'provider_benefit_admin' is set
      if @api_client.config.client_side_validation && provider_benefit_admin.nil?
        fail ArgumentError, "Missing the required parameter 'provider_benefit_admin' when calling ProviderBenefitAdminFeesApi.update_batch_provider_benefit_admin"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees-batch'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_benefit_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.update_batch_provider_benefit_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#update_batch_provider_benefit_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderBenefitAdmin
    # Updates a specific ProviderBenefitAdmin.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param provider_benefit_admin [ProviderBenefitAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderBenefitAdminVBAResponse]
    def update_provider_benefit_admin(vbasoftware_database, provider_id, benefit_code, effective_date, provider_benefit_admin, opts = {})
      data, _status_code, _headers = update_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, provider_benefit_admin, opts)
      data
    end

    # Update ProviderBenefitAdmin
    # Updates a specific ProviderBenefitAdmin.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param benefit_code [String] Benefit Code
    # @param effective_date [Time] Effective Date
    # @param provider_benefit_admin [ProviderBenefitAdmin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderBenefitAdminVBAResponse, Integer, Hash)>] ProviderBenefitAdminVBAResponse data, response status code and response headers
    def update_provider_benefit_admin_with_http_info(vbasoftware_database, provider_id, benefit_code, effective_date, provider_benefit_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderBenefitAdminFeesApi.update_provider_benefit_admin ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderBenefitAdminFeesApi.update_provider_benefit_admin"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderBenefitAdminFeesApi.update_provider_benefit_admin"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling ProviderBenefitAdminFeesApi.update_provider_benefit_admin"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderBenefitAdminFeesApi.update_provider_benefit_admin"
      end
      # verify the required parameter 'provider_benefit_admin' is set
      if @api_client.config.client_side_validation && provider_benefit_admin.nil?
        fail ArgumentError, "Missing the required parameter 'provider_benefit_admin' when calling ProviderBenefitAdminFeesApi.update_provider_benefit_admin"
      end
      # resource path
      local_var_path = '/provider/{providerId}/benefit-admin-fees/{benefitCode}/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_benefit_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderBenefitAdminVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderBenefitAdminFeesApi.update_provider_benefit_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderBenefitAdminFeesApi#update_provider_benefit_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
