=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderDRGApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderDRG
    # Creates a new ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg [ProviderDRG] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderDRGVBAResponse]
    def create_provider_drg(vbasoftware_database, provider_id, provider_drg, opts = {})
      data, _status_code, _headers = create_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg, opts)
      data
    end

    # Create ProviderDRG
    # Creates a new ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg [ProviderDRG] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderDRGVBAResponse, Integer, Hash)>] ProviderDRGVBAResponse data, response status code and response headers
    def create_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.create_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.create_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.create_provider_drg"
      end
      # verify the required parameter 'provider_drg' is set
      if @api_client.config.client_side_validation && provider_drg.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg' when calling ProviderDRGApi.create_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_drg)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderDRGVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.create_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#create_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderDRG
    # Deletes an ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_drg(vbasoftware_database, provider_id, provider_drg_key, opts = {})
      delete_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, opts)
      nil
    end

    # Delete ProviderDRG
    # Deletes an ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.delete_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.delete_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.delete_provider_drg"
      end
      # verify the required parameter 'provider_drg_key' is set
      if @api_client.config.client_side_validation && provider_drg_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg_key' when calling ProviderDRGApi.delete_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs/{providerDRGKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerDRGKey' + '}', CGI.escape(provider_drg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.delete_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#delete_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderDRG
    # Gets ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderDRGVBAResponse]
    def get_provider_drg(vbasoftware_database, provider_id, provider_drg_key, opts = {})
      data, _status_code, _headers = get_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, opts)
      data
    end

    # Get ProviderDRG
    # Gets ProviderDRG
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderDRGVBAResponse, Integer, Hash)>] ProviderDRGVBAResponse data, response status code and response headers
    def get_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.get_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.get_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.get_provider_drg"
      end
      # verify the required parameter 'provider_drg_key' is set
      if @api_client.config.client_side_validation && provider_drg_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg_key' when calling ProviderDRGApi.get_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs/{providerDRGKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerDRGKey' + '}', CGI.escape(provider_drg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderDRGVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.get_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#get_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderDRGs
    # List all ProviderDRG for a specific Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderDRGListVBAResponse]
    def list_provider_drg(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_drg_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderDRGs
    # List all ProviderDRG for a specific Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderDRGListVBAResponse, Integer, Hash)>] ProviderDRGListVBAResponse data, response status code and response headers
    def list_provider_drg_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.list_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.list_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.list_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderDRGListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.list_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#list_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderDRG
    # Create or Update multiple ProviderDRG at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg [Array<ProviderDRG>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_drg(vbasoftware_database, provider_id, provider_drg, opts = {})
      data, _status_code, _headers = update_batch_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg, opts)
      data
    end

    # Create or Update Batch ProviderDRG
    # Create or Update multiple ProviderDRG at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg [Array<ProviderDRG>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.update_batch_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.update_batch_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.update_batch_provider_drg"
      end
      # verify the required parameter 'provider_drg' is set
      if @api_client.config.client_side_validation && provider_drg.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg' when calling ProviderDRGApi.update_batch_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_drg)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.update_batch_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#update_batch_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderDRG
    # Updates a specific ProviderDRG.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param provider_drg [ProviderDRG] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderDRGVBAResponse]
    def update_provider_drg(vbasoftware_database, provider_id, provider_drg_key, provider_drg, opts = {})
      data, _status_code, _headers = update_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, provider_drg, opts)
      data
    end

    # Update ProviderDRG
    # Updates a specific ProviderDRG.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_drg_key [Integer] ProviderDRG Key
    # @param provider_drg [ProviderDRG] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderDRGVBAResponse, Integer, Hash)>] ProviderDRGVBAResponse data, response status code and response headers
    def update_provider_drg_with_http_info(vbasoftware_database, provider_id, provider_drg_key, provider_drg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderDRGApi.update_provider_drg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderDRGApi.update_provider_drg"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderDRGApi.update_provider_drg"
      end
      # verify the required parameter 'provider_drg_key' is set
      if @api_client.config.client_side_validation && provider_drg_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg_key' when calling ProviderDRGApi.update_provider_drg"
      end
      # verify the required parameter 'provider_drg' is set
      if @api_client.config.client_side_validation && provider_drg.nil?
        fail ArgumentError, "Missing the required parameter 'provider_drg' when calling ProviderDRGApi.update_provider_drg"
      end
      # resource path
      local_var_path = '/providers/{providerID}/drgs/{providerDRGKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerDRGKey' + '}', CGI.escape(provider_drg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_drg)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderDRGVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderDRGApi.update_provider_drg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderDRGApi#update_provider_drg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
