=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderRateColumnApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Provider Rate Column
    # Gets Provider Rate Column
    # @param vbasoftware_database [String] Target database
    # @param provider_rate_column_key [Integer] Provider Rate Column Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateColumnVBAResponse]
    def get_provider_rate_column(vbasoftware_database, provider_rate_column_key, opts = {})
      data, _status_code, _headers = get_provider_rate_column_with_http_info(vbasoftware_database, provider_rate_column_key, opts)
      data
    end

    # Get Provider Rate Column
    # Gets Provider Rate Column
    # @param vbasoftware_database [String] Target database
    # @param provider_rate_column_key [Integer] Provider Rate Column Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateColumnVBAResponse, Integer, Hash)>] ProviderRateColumnVBAResponse data, response status code and response headers
    def get_provider_rate_column_with_http_info(vbasoftware_database, provider_rate_column_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRateColumnApi.get_provider_rate_column ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRateColumnApi.get_provider_rate_column"
      end
      # verify the required parameter 'provider_rate_column_key' is set
      if @api_client.config.client_side_validation && provider_rate_column_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate_column_key' when calling ProviderRateColumnApi.get_provider_rate_column"
      end
      # resource path
      local_var_path = '/provider-rate-columns/{providerRateColumnKey}'.sub('{' + 'providerRateColumnKey' + '}', CGI.escape(provider_rate_column_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateColumnVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRateColumnApi.get_provider_rate_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRateColumnApi#get_provider_rate_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Provider Rate Columns
    # List all Provider Rate Columns
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateColumnListVBAResponse]
    def list_provider_rate_columns(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_provider_rate_columns_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Provider Rate Columns
    # List all Provider Rate Columns
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateColumnListVBAResponse, Integer, Hash)>] ProviderRateColumnListVBAResponse data, response status code and response headers
    def list_provider_rate_columns_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRateColumnApi.list_provider_rate_columns ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRateColumnApi.list_provider_rate_columns"
      end
      # resource path
      local_var_path = '/provider-rate-columns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateColumnListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRateColumnApi.list_provider_rate_columns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRateColumnApi#list_provider_rate_columns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
