=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderWithholdsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderWithhold
    # Creates a new ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold [ProviderWithhold] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderWithholdVBAResponse]
    def create_provider_withhold(vbasoftware_database, provider_withhold, opts = {})
      data, _status_code, _headers = create_provider_withhold_with_http_info(vbasoftware_database, provider_withhold, opts)
      data
    end

    # Create ProviderWithhold
    # Creates a new ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold [ProviderWithhold] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderWithholdVBAResponse, Integer, Hash)>] ProviderWithholdVBAResponse data, response status code and response headers
    def create_provider_withhold_with_http_info(vbasoftware_database, provider_withhold, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.create_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.create_provider_withhold"
      end
      # verify the required parameter 'provider_withhold' is set
      if @api_client.config.client_side_validation && provider_withhold.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold' when calling ProviderWithholdsApi.create_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_withhold)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWithholdVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.create_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#create_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderWithhold
    # Deletes an ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_withhold(vbasoftware_database, provider_withhold_key, opts = {})
      delete_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, opts)
      nil
    end

    # Delete ProviderWithhold
    # Deletes an ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.delete_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.delete_provider_withhold"
      end
      # verify the required parameter 'provider_withhold_key' is set
      if @api_client.config.client_side_validation && provider_withhold_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold_key' when calling ProviderWithholdsApi.delete_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds/{providerWithholdKey}'.sub('{' + 'providerWithholdKey' + '}', CGI.escape(provider_withhold_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.delete_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#delete_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderWithhold
    # Gets ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderWithholdVBAResponse]
    def get_provider_withhold(vbasoftware_database, provider_withhold_key, opts = {})
      data, _status_code, _headers = get_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, opts)
      data
    end

    # Get ProviderWithhold
    # Gets ProviderWithhold
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderWithholdVBAResponse, Integer, Hash)>] ProviderWithholdVBAResponse data, response status code and response headers
    def get_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.get_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.get_provider_withhold"
      end
      # verify the required parameter 'provider_withhold_key' is set
      if @api_client.config.client_side_validation && provider_withhold_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold_key' when calling ProviderWithholdsApi.get_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds/{providerWithholdKey}'.sub('{' + 'providerWithholdKey' + '}', CGI.escape(provider_withhold_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWithholdVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.get_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#get_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderWithhold
    # Lists all ProviderWithhold.  Supply optional ProviderID and/or FederalID parameters to filter results.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_id ProviderID
    # @option opts [String] :federal_id FederalID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderWithholdListVBAResponse]
    def list_provider_withhold(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_provider_withhold_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProviderWithhold
    # Lists all ProviderWithhold.  Supply optional ProviderID and/or FederalID parameters to filter results.
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_id ProviderID
    # @option opts [String] :federal_id FederalID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderWithholdListVBAResponse, Integer, Hash)>] ProviderWithholdListVBAResponse data, response status code and response headers
    def list_provider_withhold_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.list_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.list_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'providerId'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?
      query_params[:'federalId'] = opts[:'federal_id'] if !opts[:'federal_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWithholdListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.list_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#list_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderWithhold
    # Create or Update multiple ProviderWithhold at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold [Array<ProviderWithhold>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_withhold(vbasoftware_database, provider_withhold, opts = {})
      data, _status_code, _headers = update_batch_provider_withhold_with_http_info(vbasoftware_database, provider_withhold, opts)
      data
    end

    # Create or Update Batch ProviderWithhold
    # Create or Update multiple ProviderWithhold at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold [Array<ProviderWithhold>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_withhold_with_http_info(vbasoftware_database, provider_withhold, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.update_batch_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.update_batch_provider_withhold"
      end
      # verify the required parameter 'provider_withhold' is set
      if @api_client.config.client_side_validation && provider_withhold.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold' when calling ProviderWithholdsApi.update_batch_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_withhold)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.update_batch_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#update_batch_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderWithhold
    # Updates a specific ProviderWithhold.
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param provider_withhold [ProviderWithhold] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderWithholdVBAResponse]
    def update_provider_withhold(vbasoftware_database, provider_withhold_key, provider_withhold, opts = {})
      data, _status_code, _headers = update_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, provider_withhold, opts)
      data
    end

    # Update ProviderWithhold
    # Updates a specific ProviderWithhold.
    # @param vbasoftware_database [String] Target database
    # @param provider_withhold_key [Integer] ProviderWithhold Key
    # @param provider_withhold [ProviderWithhold] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderWithholdVBAResponse, Integer, Hash)>] ProviderWithholdVBAResponse data, response status code and response headers
    def update_provider_withhold_with_http_info(vbasoftware_database, provider_withhold_key, provider_withhold, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderWithholdsApi.update_provider_withhold ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderWithholdsApi.update_provider_withhold"
      end
      # verify the required parameter 'provider_withhold_key' is set
      if @api_client.config.client_side_validation && provider_withhold_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold_key' when calling ProviderWithholdsApi.update_provider_withhold"
      end
      # verify the required parameter 'provider_withhold' is set
      if @api_client.config.client_side_validation && provider_withhold.nil?
        fail ArgumentError, "Missing the required parameter 'provider_withhold' when calling ProviderWithholdsApi.update_provider_withhold"
      end
      # resource path
      local_var_path = '/provider-withholds/{providerWithholdKey}'.sub('{' + 'providerWithholdKey' + '}', CGI.escape(provider_withhold_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_withhold)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWithholdVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderWithholdsApi.update_provider_withhold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderWithholdsApi#update_provider_withhold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
