=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderAuthExemptProceduresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderAuthExemptProcedure
    # Creates a new ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure [ProviderAuthExemptProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAuthExemptProcedureVBAResponse]
    def create_provider_auth_exempt_procedure(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts = {})
      data, _status_code, _headers = create_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts)
      data
    end

    # Create ProviderAuthExemptProcedure
    # Creates a new ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure [ProviderAuthExemptProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAuthExemptProcedureVBAResponse, Integer, Hash)>] ProviderAuthExemptProcedureVBAResponse data, response status code and response headers
    def create_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.create_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.create_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.create_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure' when calling ProviderAuthExemptProceduresApi.create_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_auth_exempt_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAuthExemptProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.create_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#create_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderAuthExemptProcedure
    # Deletes an ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_auth_exempt_procedure(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts = {})
      delete_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts)
      nil
    end

    # Delete ProviderAuthExemptProcedure
    # Deletes an ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.delete_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.delete_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.delete_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure_key' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure_key' when calling ProviderAuthExemptProceduresApi.delete_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures/{providerAuthExemptProcedureKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAuthExemptProcedureKey' + '}', CGI.escape(provider_auth_exempt_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.delete_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#delete_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderAuthExemptProcedure
    # Gets ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderAuthExemptProcedureVBAResponse]
    def get_provider_auth_exempt_procedure(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts = {})
      data, _status_code, _headers = get_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts)
      data
    end

    # Get ProviderAuthExemptProcedure
    # Gets ProviderAuthExemptProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAuthExemptProcedureVBAResponse, Integer, Hash)>] ProviderAuthExemptProcedureVBAResponse data, response status code and response headers
    def get_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.get_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.get_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.get_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure_key' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure_key' when calling ProviderAuthExemptProceduresApi.get_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures/{providerAuthExemptProcedureKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAuthExemptProcedureKey' + '}', CGI.escape(provider_auth_exempt_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAuthExemptProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.get_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#get_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderAuthExemptProcedure
    # Lists all ProviderAuthExemptProcedure for the given providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderAuthExemptProcedureListVBAResponse]
    def list_provider_auth_exempt_procedure(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderAuthExemptProcedure
    # Lists all ProviderAuthExemptProcedure for the given providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderAuthExemptProcedureListVBAResponse, Integer, Hash)>] ProviderAuthExemptProcedureListVBAResponse data, response status code and response headers
    def list_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.list_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.list_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.list_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAuthExemptProcedureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.list_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#list_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderAuthExemptProcedure
    # Create or Update multiple ProviderAuthExemptProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure [Array<ProviderAuthExemptProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_auth_exempt_procedure(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts = {})
      data, _status_code, _headers = update_batch_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts)
      data
    end

    # Create or Update Batch ProviderAuthExemptProcedure
    # Create or Update multiple ProviderAuthExemptProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure [Array<ProviderAuthExemptProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.update_batch_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.update_batch_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.update_batch_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure' when calling ProviderAuthExemptProceduresApi.update_batch_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_auth_exempt_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.update_batch_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#update_batch_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderAuthExemptProcedure
    # Updates a specific ProviderAuthExemptProcedure.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param provider_auth_exempt_procedure [ProviderAuthExemptProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAuthExemptProcedureVBAResponse]
    def update_provider_auth_exempt_procedure(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, provider_auth_exempt_procedure, opts = {})
      data, _status_code, _headers = update_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, provider_auth_exempt_procedure, opts)
      data
    end

    # Update ProviderAuthExemptProcedure
    # Updates a specific ProviderAuthExemptProcedure.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_auth_exempt_procedure_key [Integer] ProviderAuthExemptProcedure Key
    # @param provider_auth_exempt_procedure [ProviderAuthExemptProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAuthExemptProcedureVBAResponse, Integer, Hash)>] ProviderAuthExemptProcedureVBAResponse data, response status code and response headers
    def update_provider_auth_exempt_procedure_with_http_info(vbasoftware_database, provider_id, provider_auth_exempt_procedure_key, provider_auth_exempt_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure_key' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure_key' when calling ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure"
      end
      # verify the required parameter 'provider_auth_exempt_procedure' is set
      if @api_client.config.client_side_validation && provider_auth_exempt_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'provider_auth_exempt_procedure' when calling ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/auth-exempt-procedures/{providerAuthExemptProcedureKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerAuthExemptProcedureKey' + '}', CGI.escape(provider_auth_exempt_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_auth_exempt_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAuthExemptProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAuthExemptProceduresApi.update_provider_auth_exempt_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAuthExemptProceduresApi#update_provider_auth_exempt_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
