=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderAlternateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderAlternate
    # Creates a new ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_alternate [ProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAlternateVBAResponse]
    def create_provider_alternate(vbasoftware_database, provider_id, provider_alternate, opts = {})
      data, _status_code, _headers = create_provider_alternate_with_http_info(vbasoftware_database, provider_id, provider_alternate, opts)
      data
    end

    # Create ProviderAlternate
    # Creates a new ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_alternate [ProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAlternateVBAResponse, Integer, Hash)>] ProviderAlternateVBAResponse data, response status code and response headers
    def create_provider_alternate_with_http_info(vbasoftware_database, provider_id, provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.create_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.create_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.create_provider_alternate"
      end
      # verify the required parameter 'provider_alternate' is set
      if @api_client.config.client_side_validation && provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_alternate' when calling ProviderAlternateApi.create_provider_alternate"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.create_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#create_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderAlternate
    # Deletes an ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_alternate(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts = {})
      delete_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts)
      nil
    end

    # Delete ProviderAlternate
    # Deletes an ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.delete_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.delete_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.delete_provider_alternate"
      end
      # verify the required parameter 'alternate_provider_id' is set
      if @api_client.config.client_side_validation && alternate_provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'alternate_provider_id' when calling ProviderAlternateApi.delete_provider_alternate"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderAlternateApi.delete_provider_alternate"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates/{alternateProviderID}/effectiveDate/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'alternateProviderID' + '}', CGI.escape(alternate_provider_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.delete_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#delete_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderAlternate
    # Gets ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [ProviderAlternateVBAResponse]
    def get_provider_alternate(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts = {})
      data, _status_code, _headers = get_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts)
      data
    end

    # Get ProviderAlternate
    # Gets ProviderAlternate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAlternateVBAResponse, Integer, Hash)>] ProviderAlternateVBAResponse data, response status code and response headers
    def get_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.get_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.get_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.get_provider_alternate"
      end
      # verify the required parameter 'alternate_provider_id' is set
      if @api_client.config.client_side_validation && alternate_provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'alternate_provider_id' when calling ProviderAlternateApi.get_provider_alternate"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderAlternateApi.get_provider_alternate"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates/{alternateProviderID}/effectiveDate/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'alternateProviderID' + '}', CGI.escape(alternate_provider_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.get_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#get_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderAlternate
    # Lists all ProviderAlternate given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderAlternateListVBAResponse]
    def list_provider_alternates(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_alternates_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderAlternate
    # Lists all ProviderAlternate given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAlternateListVBAResponse, Integer, Hash)>] ProviderAlternateListVBAResponse data, response status code and response headers
    def list_provider_alternates_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.list_provider_alternates ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.list_provider_alternates"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.list_provider_alternates"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAlternateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.list_provider_alternates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#list_provider_alternates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderAlternate
    # Create or Update multiple ProviderAlternate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_alternate [Array<ProviderAlternate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_alternate(vbasoftware_database, provider_id, provider_alternate, opts = {})
      data, _status_code, _headers = update_batch_provider_alternate_with_http_info(vbasoftware_database, provider_id, provider_alternate, opts)
      data
    end

    # Create or Update Batch ProviderAlternate
    # Create or Update multiple ProviderAlternate at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_alternate [Array<ProviderAlternate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_alternate_with_http_info(vbasoftware_database, provider_id, provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.update_batch_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.update_batch_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.update_batch_provider_alternate"
      end
      # verify the required parameter 'provider_alternate' is set
      if @api_client.config.client_side_validation && provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_alternate' when calling ProviderAlternateApi.update_batch_provider_alternate"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.update_batch_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#update_batch_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderAlternate
    # Updates a specific ProviderAlternate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param provider_alternate [ProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderAlternateVBAResponse]
    def update_provider_alternate(vbasoftware_database, provider_id, alternate_provider_id, effective_date, provider_alternate, opts = {})
      data, _status_code, _headers = update_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, provider_alternate, opts)
      data
    end

    # Update ProviderAlternate
    # Updates a specific ProviderAlternate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param alternate_provider_id [String] Alternate Provider ID
    # @param effective_date [Time] Effective Date
    # @param provider_alternate [ProviderAlternate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderAlternateVBAResponse, Integer, Hash)>] ProviderAlternateVBAResponse data, response status code and response headers
    def update_provider_alternate_with_http_info(vbasoftware_database, provider_id, alternate_provider_id, effective_date, provider_alternate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderAlternateApi.update_provider_alternate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderAlternateApi.update_provider_alternate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderAlternateApi.update_provider_alternate"
      end
      # verify the required parameter 'alternate_provider_id' is set
      if @api_client.config.client_side_validation && alternate_provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'alternate_provider_id' when calling ProviderAlternateApi.update_provider_alternate"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderAlternateApi.update_provider_alternate"
      end
      # verify the required parameter 'provider_alternate' is set
      if @api_client.config.client_side_validation && provider_alternate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_alternate' when calling ProviderAlternateApi.update_provider_alternate"
      end
      # resource path
      local_var_path = '/providers/{providerID}/alternates/{alternateProviderID}/effectiveDate/{effectiveDate}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'alternateProviderID' + '}', CGI.escape(alternate_provider_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_alternate)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderAlternateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderAlternateApi.update_provider_alternate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderAlternateApi#update_provider_alternate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
