=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Provider Rate
    # Creates a new Provider Rate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate [ProviderRate] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateVBAResponse]
    def create_provider_rate(vbasoftware_database, provider_id, provider_rate, opts = {})
      data, _status_code, _headers = create_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate, opts)
      data
    end

    # Create Provider Rate
    # Creates a new Provider Rate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate [ProviderRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateVBAResponse, Integer, Hash)>] ProviderRateVBAResponse data, response status code and response headers
    def create_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.create_provider_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.create_provider_rate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.create_provider_rate"
      end
      # verify the required parameter 'provider_rate' is set
      if @api_client.config.client_side_validation && provider_rate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate' when calling ProviderRatesApi.create_provider_rate"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.create_provider_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#create_provider_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderRate
    # Deletes an ProviderRate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_rate(vbasoftware_database, provider_id, provider_rate_key, opts = {})
      delete_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, opts)
      nil
    end

    # Delete ProviderRate
    # Deletes an ProviderRate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.delete_provider_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.delete_provider_rate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.delete_provider_rate"
      end
      # verify the required parameter 'provider_rate_key' is set
      if @api_client.config.client_side_validation && provider_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate_key' when calling ProviderRatesApi.delete_provider_rate"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates/{providerRateKey}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerRateKey' + '}', CGI.escape(provider_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.delete_provider_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#delete_provider_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Provider Rate
    # Gets Provider Rate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateVBAResponse]
    def get_provider_rate(vbasoftware_database, provider_id, provider_rate_key, opts = {})
      data, _status_code, _headers = get_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, opts)
      data
    end

    # Get Provider Rate
    # Gets Provider Rate
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateVBAResponse, Integer, Hash)>] ProviderRateVBAResponse data, response status code and response headers
    def get_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.get_provider_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.get_provider_rate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.get_provider_rate"
      end
      # verify the required parameter 'provider_rate_key' is set
      if @api_client.config.client_side_validation && provider_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate_key' when calling ProviderRatesApi.get_provider_rate"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates/{providerRateKey}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerRateKey' + '}', CGI.escape(provider_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.get_provider_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#get_provider_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Provider Rates
    # List Provider Rates
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateListVBAResponse]
    def list_provider_rates(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_rates_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List Provider Rates
    # List Provider Rates
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateListVBAResponse, Integer, Hash)>] ProviderRateListVBAResponse data, response status code and response headers
    def list_provider_rates_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.list_provider_rates ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.list_provider_rates"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.list_provider_rates"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.list_provider_rates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#list_provider_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch ProviderRate
    # Updates a multiple ProviderRate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate [Array<ProviderRate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_rate(vbasoftware_database, provider_id, provider_rate, opts = {})
      data, _status_code, _headers = update_batch_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate, opts)
      data
    end

    # Update Batch ProviderRate
    # Updates a multiple ProviderRate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate [Array<ProviderRate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.update_batch_provider_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.update_batch_provider_rate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.update_batch_provider_rate"
      end
      # verify the required parameter 'provider_rate' is set
      if @api_client.config.client_side_validation && provider_rate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate' when calling ProviderRatesApi.update_batch_provider_rate"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates-batch'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.update_batch_provider_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#update_batch_provider_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderRate
    # Updates a specific ProviderRate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param provider_rate [ProviderRate] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderRateVBAResponse]
    def update_provider_rate(vbasoftware_database, provider_id, provider_rate_key, provider_rate, opts = {})
      data, _status_code, _headers = update_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, provider_rate, opts)
      data
    end

    # Update ProviderRate
    # Updates a specific ProviderRate.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_rate_key [Integer] ProviderRate Key
    # @param provider_rate [ProviderRate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRateVBAResponse, Integer, Hash)>] ProviderRateVBAResponse data, response status code and response headers
    def update_provider_rate_with_http_info(vbasoftware_database, provider_id, provider_rate_key, provider_rate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRatesApi.update_provider_rate ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRatesApi.update_provider_rate"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderRatesApi.update_provider_rate"
      end
      # verify the required parameter 'provider_rate_key' is set
      if @api_client.config.client_side_validation && provider_rate_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate_key' when calling ProviderRatesApi.update_provider_rate"
      end
      # verify the required parameter 'provider_rate' is set
      if @api_client.config.client_side_validation && provider_rate.nil?
        fail ArgumentError, "Missing the required parameter 'provider_rate' when calling ProviderRatesApi.update_provider_rate"
      end
      # resource path
      local_var_path = '/providers/{providerId}/rates/{providerRateKey}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerRateKey' + '}', CGI.escape(provider_rate_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_rate)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRatesApi.update_provider_rate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRatesApi#update_provider_rate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
