=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderSuffixApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderSuffix
    # Creates a new ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_suffix [ProviderSuffix] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderSuffixVBAResponse]
    def create_provider_suffix(vbasoftware_database, provider_id, provider_suffix, opts = {})
      data, _status_code, _headers = create_provider_suffix_with_http_info(vbasoftware_database, provider_id, provider_suffix, opts)
      data
    end

    # Create ProviderSuffix
    # Creates a new ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_suffix [ProviderSuffix] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSuffixVBAResponse, Integer, Hash)>] ProviderSuffixVBAResponse data, response status code and response headers
    def create_provider_suffix_with_http_info(vbasoftware_database, provider_id, provider_suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.create_provider_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.create_provider_suffix"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.create_provider_suffix"
      end
      # verify the required parameter 'provider_suffix' is set
      if @api_client.config.client_side_validation && provider_suffix.nil?
        fail ArgumentError, "Missing the required parameter 'provider_suffix' when calling ProviderSuffixApi.create_provider_suffix"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.create_provider_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#create_provider_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderSuffix
    # Deletes an ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_suffix(vbasoftware_database, provider_id, suffix, opts = {})
      delete_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, opts)
      nil
    end

    # Delete ProviderSuffix
    # Deletes an ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.delete_provider_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.delete_provider_suffix"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.delete_provider_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling ProviderSuffixApi.delete_provider_suffix"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes/{suffix}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'suffix' + '}', CGI.escape(suffix.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.delete_provider_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#delete_provider_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderSuffix
    # Gets ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param [Hash] opts the optional parameters
    # @return [ProviderSuffixVBAResponse]
    def get_provider_suffix(vbasoftware_database, provider_id, suffix, opts = {})
      data, _status_code, _headers = get_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, opts)
      data
    end

    # Get ProviderSuffix
    # Gets ProviderSuffix
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSuffixVBAResponse, Integer, Hash)>] ProviderSuffixVBAResponse data, response status code and response headers
    def get_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.get_provider_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.get_provider_suffix"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.get_provider_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling ProviderSuffixApi.get_provider_suffix"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes/{suffix}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'suffix' + '}', CGI.escape(suffix.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.get_provider_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#get_provider_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderSuffix
    # Lists all ProviderSuffix given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderSuffixListVBAResponse]
    def list_provider_suffixes(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_suffixes_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderSuffix
    # Lists all ProviderSuffix given a specific providerID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSuffixListVBAResponse, Integer, Hash)>] ProviderSuffixListVBAResponse data, response status code and response headers
    def list_provider_suffixes_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.list_provider_suffixes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.list_provider_suffixes"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.list_provider_suffixes"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSuffixListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.list_provider_suffixes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#list_provider_suffixes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderSuffix
    # Create or Update multiple ProviderSuffix at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_suffix [Array<ProviderSuffix>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_suffix(vbasoftware_database, provider_id, provider_suffix, opts = {})
      data, _status_code, _headers = update_batch_provider_suffix_with_http_info(vbasoftware_database, provider_id, provider_suffix, opts)
      data
    end

    # Create or Update Batch ProviderSuffix
    # Create or Update multiple ProviderSuffix at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_suffix [Array<ProviderSuffix>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_suffix_with_http_info(vbasoftware_database, provider_id, provider_suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.update_batch_provider_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.update_batch_provider_suffix"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.update_batch_provider_suffix"
      end
      # verify the required parameter 'provider_suffix' is set
      if @api_client.config.client_side_validation && provider_suffix.nil?
        fail ArgumentError, "Missing the required parameter 'provider_suffix' when calling ProviderSuffixApi.update_batch_provider_suffix"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.update_batch_provider_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#update_batch_provider_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderSuffix
    # Updates a specific ProviderSuffix.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param provider_suffix [ProviderSuffix] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderSuffixVBAResponse]
    def update_provider_suffix(vbasoftware_database, provider_id, suffix, provider_suffix, opts = {})
      data, _status_code, _headers = update_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, provider_suffix, opts)
      data
    end

    # Update ProviderSuffix
    # Updates a specific ProviderSuffix.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param suffix [String] Suffix
    # @param provider_suffix [ProviderSuffix] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSuffixVBAResponse, Integer, Hash)>] ProviderSuffixVBAResponse data, response status code and response headers
    def update_provider_suffix_with_http_info(vbasoftware_database, provider_id, suffix, provider_suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSuffixApi.update_provider_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSuffixApi.update_provider_suffix"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSuffixApi.update_provider_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling ProviderSuffixApi.update_provider_suffix"
      end
      # verify the required parameter 'provider_suffix' is set
      if @api_client.config.client_side_validation && provider_suffix.nil?
        fail ArgumentError, "Missing the required parameter 'provider_suffix' when calling ProviderSuffixApi.update_provider_suffix"
      end
      # resource path
      local_var_path = '/providers/{providerID}/suffixes/{suffix}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'suffix' + '}', CGI.escape(suffix.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSuffixApi.update_provider_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSuffixApi#update_provider_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
