=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderRolesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderRole
    # Creates a new ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role [ProviderRole] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderRoleVBAResponse]
    def create_provider_role(vbasoftware_database, provider_role, opts = {})
      data, _status_code, _headers = create_provider_role_with_http_info(vbasoftware_database, provider_role, opts)
      data
    end

    # Create ProviderRole
    # Creates a new ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role [ProviderRole] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRoleVBAResponse, Integer, Hash)>] ProviderRoleVBAResponse data, response status code and response headers
    def create_provider_role_with_http_info(vbasoftware_database, provider_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.create_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.create_provider_role"
      end
      # verify the required parameter 'provider_role' is set
      if @api_client.config.client_side_validation && provider_role.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role' when calling ProviderRolesApi.create_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_role)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRoleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.create_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#create_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderRole
    # Deletes an ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_role(vbasoftware_database, provider_role_id, opts = {})
      delete_provider_role_with_http_info(vbasoftware_database, provider_role_id, opts)
      nil
    end

    # Delete ProviderRole
    # Deletes an ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_role_with_http_info(vbasoftware_database, provider_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.delete_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.delete_provider_role"
      end
      # verify the required parameter 'provider_role_id' is set
      if @api_client.config.client_side_validation && provider_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role_id' when calling ProviderRolesApi.delete_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles/{providerRoleID}'.sub('{' + 'providerRoleID' + '}', CGI.escape(provider_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.delete_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#delete_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderRole
    # Gets ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderRoleVBAResponse]
    def get_provider_role(vbasoftware_database, provider_role_id, opts = {})
      data, _status_code, _headers = get_provider_role_with_http_info(vbasoftware_database, provider_role_id, opts)
      data
    end

    # Get ProviderRole
    # Gets ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRoleVBAResponse, Integer, Hash)>] ProviderRoleVBAResponse data, response status code and response headers
    def get_provider_role_with_http_info(vbasoftware_database, provider_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.get_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.get_provider_role"
      end
      # verify the required parameter 'provider_role_id' is set
      if @api_client.config.client_side_validation && provider_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role_id' when calling ProviderRolesApi.get_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles/{providerRoleID}'.sub('{' + 'providerRoleID' + '}', CGI.escape(provider_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRoleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.get_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#get_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderRole
    # Lists all ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderRoleListVBAResponse]
    def list_provider_role(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_provider_role_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ProviderRole
    # Lists all ProviderRole
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderRoleListVBAResponse, Integer, Hash)>] ProviderRoleListVBAResponse data, response status code and response headers
    def list_provider_role_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.list_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.list_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRoleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.list_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#list_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderRole
    # Create or Update multiple ProviderRole at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_role [Array<ProviderRole>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_role(vbasoftware_database, provider_role, opts = {})
      data, _status_code, _headers = update_batch_provider_role_with_http_info(vbasoftware_database, provider_role, opts)
      data
    end

    # Create or Update Batch ProviderRole
    # Create or Update multiple ProviderRole at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_role [Array<ProviderRole>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_role_with_http_info(vbasoftware_database, provider_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.update_batch_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.update_batch_provider_role"
      end
      # verify the required parameter 'provider_role' is set
      if @api_client.config.client_side_validation && provider_role.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role' when calling ProviderRolesApi.update_batch_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_role)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.update_batch_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#update_batch_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderRole
    # Updates a specific ProviderRole.
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param provider_role [ProviderRole] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderRoleVBAResponse]
    def update_provider_role(vbasoftware_database, provider_role_id, provider_role, opts = {})
      data, _status_code, _headers = update_provider_role_with_http_info(vbasoftware_database, provider_role_id, provider_role, opts)
      data
    end

    # Update ProviderRole
    # Updates a specific ProviderRole.
    # @param vbasoftware_database [String] Target database
    # @param provider_role_id [String] Provider Role ID
    # @param provider_role [ProviderRole] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderRoleVBAResponse, Integer, Hash)>] ProviderRoleVBAResponse data, response status code and response headers
    def update_provider_role_with_http_info(vbasoftware_database, provider_role_id, provider_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderRolesApi.update_provider_role ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderRolesApi.update_provider_role"
      end
      # verify the required parameter 'provider_role_id' is set
      if @api_client.config.client_side_validation && provider_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role_id' when calling ProviderRolesApi.update_provider_role"
      end
      # verify the required parameter 'provider_role' is set
      if @api_client.config.client_side_validation && provider_role.nil?
        fail ArgumentError, "Missing the required parameter 'provider_role' when calling ProviderRolesApi.update_provider_role"
      end
      # resource path
      local_var_path = '/provider-roles/{providerRoleID}'.sub('{' + 'providerRoleID' + '}', CGI.escape(provider_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_role)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderRoleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderRolesApi.update_provider_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderRolesApi#update_provider_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
