=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderNetworkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderNetwork
    # Creates a new ProviderNetwork by assigning an existing Network to a Provider for a given Effective Date.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param provider_network [ProviderNetwork] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderNetworkVBAResponse]
    def create_provider_network(vbasoftware_database, provider_id, network_id, provider_network, opts = {})
      data, _status_code, _headers = create_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, provider_network, opts)
      data
    end

    # Create ProviderNetwork
    # Creates a new ProviderNetwork by assigning an existing Network to a Provider for a given Effective Date.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param provider_network [ProviderNetwork] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderNetworkVBAResponse, Integer, Hash)>] ProviderNetworkVBAResponse data, response status code and response headers
    def create_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, provider_network, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.create_provider_network ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.create_provider_network"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.create_provider_network"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderNetworkApi.create_provider_network"
      end
      # verify the required parameter 'provider_network' is set
      if @api_client.config.client_side_validation && provider_network.nil?
        fail ArgumentError, "Missing the required parameter 'provider_network' when calling ProviderNetworkApi.create_provider_network"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks/{networkId}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'networkId' + '}', CGI.escape(network_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_network)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderNetworkVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.create_provider_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#create_provider_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderNetwork
    # Deletes an ProviderNetwork
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_network(vbasoftware_database, provider_id, network_id, effective_date, opts = {})
      delete_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, opts)
      nil
    end

    # Delete ProviderNetwork
    # Deletes an ProviderNetwork
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.delete_provider_network ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.delete_provider_network"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.delete_provider_network"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderNetworkApi.delete_provider_network"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderNetworkApi.delete_provider_network"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks/{networkId}/effective-date/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'networkId' + '}', CGI.escape(network_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.delete_provider_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#delete_provider_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderNetwork
    # Gets ProviderNetwork
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [ProviderNetworkVBAResponse]
    def get_provider_network(vbasoftware_database, provider_id, network_id, effective_date, opts = {})
      data, _status_code, _headers = get_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, opts)
      data
    end

    # Get ProviderNetwork
    # Gets ProviderNetwork
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderNetworkVBAResponse, Integer, Hash)>] ProviderNetworkVBAResponse data, response status code and response headers
    def get_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.get_provider_network ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.get_provider_network"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.get_provider_network"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderNetworkApi.get_provider_network"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderNetworkApi.get_provider_network"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks/{networkId}/effective-date/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'networkId' + '}', CGI.escape(network_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderNetworkVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.get_provider_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#get_provider_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderNetworks by Provider
    # Gets a List of ProviderNetworks for a given Provider ID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderNetworkListVBAResponse]
    def list_provider_networks_for_provider(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_networks_for_provider_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderNetworks by Provider
    # Gets a List of ProviderNetworks for a given Provider ID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderNetworkListVBAResponse, Integer, Hash)>] ProviderNetworkListVBAResponse data, response status code and response headers
    def list_provider_networks_for_provider_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.list_provider_networks_for_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.list_provider_networks_for_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.list_provider_networks_for_provider"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderNetworkListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.list_provider_networks_for_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#list_provider_networks_for_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Batch ProviderNetwork
    # Updates a multiple ProviderNetwork.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_network [Array<ProviderNetwork>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_network(vbasoftware_database, provider_id, provider_network, opts = {})
      data, _status_code, _headers = update_batch_provider_network_with_http_info(vbasoftware_database, provider_id, provider_network, opts)
      data
    end

    # Update Batch ProviderNetwork
    # Updates a multiple ProviderNetwork.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_network [Array<ProviderNetwork>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_network_with_http_info(vbasoftware_database, provider_id, provider_network, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.update_batch_provider_network ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.update_batch_provider_network"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.update_batch_provider_network"
      end
      # verify the required parameter 'provider_network' is set
      if @api_client.config.client_side_validation && provider_network.nil?
        fail ArgumentError, "Missing the required parameter 'provider_network' when calling ProviderNetworkApi.update_batch_provider_network"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_network)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.update_batch_provider_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#update_batch_provider_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderNetwork
    # Updates a specific ProviderNetwork. Note: The Provider ID, Network ID and Effective Date cannot be changed.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param provider_network [ProviderNetwork] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderNetworkVBAResponse]
    def update_provider_network(vbasoftware_database, provider_id, network_id, effective_date, provider_network, opts = {})
      data, _status_code, _headers = update_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, provider_network, opts)
      data
    end

    # Update ProviderNetwork
    # Updates a specific ProviderNetwork. Note: The Provider ID, Network ID and Effective Date cannot be changed.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param network_id [String] Network ID
    # @param effective_date [Date] Effective Date
    # @param provider_network [ProviderNetwork] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderNetworkVBAResponse, Integer, Hash)>] ProviderNetworkVBAResponse data, response status code and response headers
    def update_provider_network_with_http_info(vbasoftware_database, provider_id, network_id, effective_date, provider_network, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderNetworkApi.update_provider_network ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderNetworkApi.update_provider_network"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderNetworkApi.update_provider_network"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderNetworkApi.update_provider_network"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling ProviderNetworkApi.update_provider_network"
      end
      # verify the required parameter 'provider_network' is set
      if @api_client.config.client_side_validation && provider_network.nil?
        fail ArgumentError, "Missing the required parameter 'provider_network' when calling ProviderNetworkApi.update_provider_network"
      end
      # resource path
      local_var_path = '/providers/{providerId}/networks/{networkId}/effective-date/{effectiveDate}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'networkId' + '}', CGI.escape(network_id.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_network)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderNetworkVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderNetworkApi.update_provider_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderNetworkApi#update_provider_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
