=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderSpecialtyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Batch ProviderSpecialty
    # Creates multiple ProviderSpecialties at one time.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param provider_specialty [Array<ProviderSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def create_batch_provider_specialty(vbasoftware_database, provider_id, provider_specialty, opts = {})
      data, _status_code, _headers = create_batch_provider_specialty_with_http_info(vbasoftware_database, provider_id, provider_specialty, opts)
      data
    end

    # Create Batch ProviderSpecialty
    # Creates multiple ProviderSpecialties at one time.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param provider_specialty [Array<ProviderSpecialty>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def create_batch_provider_specialty_with_http_info(vbasoftware_database, provider_id, provider_specialty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSpecialtyApi.create_batch_provider_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSpecialtyApi.create_batch_provider_specialty"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSpecialtyApi.create_batch_provider_specialty"
      end
      # verify the required parameter 'provider_specialty' is set
      if @api_client.config.client_side_validation && provider_specialty.nil?
        fail ArgumentError, "Missing the required parameter 'provider_specialty' when calling ProviderSpecialtyApi.create_batch_provider_specialty"
      end
      # resource path
      local_var_path = '/providers/{providerId}/specialties-batch'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_specialty)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSpecialtyApi.create_batch_provider_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSpecialtyApi#create_batch_provider_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create ProviderSpecialty
    # Creates a new ProviderSpecialty by assigning an existing Specialty to a Provider.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [ProviderSpecialtyVBAResponse]
    def create_provider_specialty(vbasoftware_database, provider_id, specialty_code, opts = {})
      data, _status_code, _headers = create_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts)
      data
    end

    # Create ProviderSpecialty
    # Creates a new ProviderSpecialty by assigning an existing Specialty to a Provider.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSpecialtyVBAResponse, Integer, Hash)>] ProviderSpecialtyVBAResponse data, response status code and response headers
    def create_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSpecialtyApi.create_provider_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSpecialtyApi.create_provider_specialty"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSpecialtyApi.create_provider_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling ProviderSpecialtyApi.create_provider_specialty"
      end
      # resource path
      local_var_path = '/providers/{providerId}/specialties/{specialtyCode}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSpecialtyApi.create_provider_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSpecialtyApi#create_provider_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderSpecialty
    # Deletes an ProviderSpecialty
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_specialty(vbasoftware_database, provider_id, specialty_code, opts = {})
      delete_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts)
      nil
    end

    # Delete ProviderSpecialty
    # Deletes an ProviderSpecialty
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSpecialtyApi.delete_provider_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSpecialtyApi.delete_provider_specialty"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSpecialtyApi.delete_provider_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling ProviderSpecialtyApi.delete_provider_specialty"
      end
      # resource path
      local_var_path = '/providers/{providerId}/specialties/{specialtyCode}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSpecialtyApi.delete_provider_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSpecialtyApi#delete_provider_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderSpecialty
    # Gets ProviderSpecialty
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [ProviderSpecialtyVBAResponse]
    def get_provider_specialty(vbasoftware_database, provider_id, specialty_code, opts = {})
      data, _status_code, _headers = get_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts)
      data
    end

    # Get ProviderSpecialty
    # Gets ProviderSpecialty
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param specialty_code [String] Specialty Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSpecialtyVBAResponse, Integer, Hash)>] ProviderSpecialtyVBAResponse data, response status code and response headers
    def get_provider_specialty_with_http_info(vbasoftware_database, provider_id, specialty_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSpecialtyApi.get_provider_specialty ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSpecialtyApi.get_provider_specialty"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSpecialtyApi.get_provider_specialty"
      end
      # verify the required parameter 'specialty_code' is set
      if @api_client.config.client_side_validation && specialty_code.nil?
        fail ArgumentError, "Missing the required parameter 'specialty_code' when calling ProviderSpecialtyApi.get_provider_specialty"
      end
      # resource path
      local_var_path = '/providers/{providerId}/specialties/{specialtyCode}'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'specialtyCode' + '}', CGI.escape(specialty_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSpecialtyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSpecialtyApi.get_provider_specialty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSpecialtyApi#get_provider_specialty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderSpecialty by Provider
    # Gets a List of ProviderSpecialty for a given Provider ID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param [Hash] opts the optional parameters
    # @return [ProviderSpecialtyListVBAResponse]
    def list_provider_specialties_for_provider(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_specialties_for_provider_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderSpecialty by Provider
    # Gets a List of ProviderSpecialty for a given Provider ID
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderSpecialtyListVBAResponse, Integer, Hash)>] ProviderSpecialtyListVBAResponse data, response status code and response headers
    def list_provider_specialties_for_provider_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderSpecialtyApi.list_provider_specialties_for_provider ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderSpecialtyApi.list_provider_specialties_for_provider"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderSpecialtyApi.list_provider_specialties_for_provider"
      end
      # resource path
      local_var_path = '/providers/{providerId}/specialties'.sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderSpecialtyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderSpecialtyApi.list_provider_specialties_for_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderSpecialtyApi#list_provider_specialties_for_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
