=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderCredentialingTerminationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderCredTermination
    # Creates a new ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_termination [ProviderCredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredTerminationVBAResponse]
    def create_provider_cred_termination(vbasoftware_database, provider_cred_key, provider_cred_termination, opts = {})
      data, _status_code, _headers = create_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_termination, opts)
      data
    end

    # Create ProviderCredTermination
    # Creates a new ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_termination [ProviderCredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredTerminationVBAResponse, Integer, Hash)>] ProviderCredTerminationVBAResponse data, response status code and response headers
    def create_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.create_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.create_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.create_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_termination' is set
      if @api_client.config.client_side_validation && provider_cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_termination' when calling ProviderCredentialingTerminationsApi.create_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.create_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#create_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderCredTermination
    # Deletes an ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_cred_termination(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts = {})
      delete_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts)
      nil
    end

    # Delete ProviderCredTermination
    # Deletes an ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.delete_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.delete_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.delete_provider_cred_termination"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderCredentialingTerminationsApi.delete_provider_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling ProviderCredentialingTerminationsApi.delete_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations/{networkID}/{credTerminationKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.delete_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#delete_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderCredTermination
    # Gets ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredTerminationVBAResponse]
    def get_provider_cred_termination(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts = {})
      data, _status_code, _headers = get_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts)
      data
    end

    # Get ProviderCredTermination
    # Gets ProviderCredTermination
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredTerminationVBAResponse, Integer, Hash)>] ProviderCredTerminationVBAResponse data, response status code and response headers
    def get_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.get_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.get_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.get_provider_cred_termination"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderCredentialingTerminationsApi.get_provider_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling ProviderCredentialingTerminationsApi.get_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations/{networkID}/{credTerminationKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.get_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#get_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderCredTermination
    # Lists all ProviderCredTermination for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderCredTerminationListVBAResponse]
    def list_provider_cred_termination(vbasoftware_database, provider_cred_key, opts = {})
      data, _status_code, _headers = list_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, opts)
      data
    end

    # List ProviderCredTermination
    # Lists all ProviderCredTermination for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderCredTerminationListVBAResponse, Integer, Hash)>] ProviderCredTerminationListVBAResponse data, response status code and response headers
    def list_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.list_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.list_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.list_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredTerminationListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.list_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#list_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderCredTermination
    # Create or Update multiple ProviderCredTermination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_termination [Array<ProviderCredTermination>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_cred_termination(vbasoftware_database, provider_cred_key, provider_cred_termination, opts = {})
      data, _status_code, _headers = update_batch_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_termination, opts)
      data
    end

    # Create or Update Batch ProviderCredTermination
    # Create or Update multiple ProviderCredTermination at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_termination [Array<ProviderCredTermination>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.update_batch_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.update_batch_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.update_batch_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_termination' is set
      if @api_client.config.client_side_validation && provider_cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_termination' when calling ProviderCredentialingTerminationsApi.update_batch_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations-batch'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.update_batch_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#update_batch_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderCredTermination
    # Updates a specific ProviderCredTermination.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param provider_cred_termination [ProviderCredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredTerminationVBAResponse]
    def update_provider_cred_termination(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, provider_cred_termination, opts = {})
      data, _status_code, _headers = update_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, provider_cred_termination, opts)
      data
    end

    # Update ProviderCredTermination
    # Updates a specific ProviderCredTermination.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param network_id [String] Network ID
    # @param cred_termination_key [Integer] CredTermination Key
    # @param provider_cred_termination [ProviderCredTermination] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredTerminationVBAResponse, Integer, Hash)>] ProviderCredTerminationVBAResponse data, response status code and response headers
    def update_provider_cred_termination_with_http_info(vbasoftware_database, provider_cred_key, network_id, cred_termination_key, provider_cred_termination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingTerminationsApi.update_provider_cred_termination ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingTerminationsApi.update_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingTerminationsApi.update_provider_cred_termination"
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ProviderCredentialingTerminationsApi.update_provider_cred_termination"
      end
      # verify the required parameter 'cred_termination_key' is set
      if @api_client.config.client_side_validation && cred_termination_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_termination_key' when calling ProviderCredentialingTerminationsApi.update_provider_cred_termination"
      end
      # verify the required parameter 'provider_cred_termination' is set
      if @api_client.config.client_side_validation && provider_cred_termination.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_termination' when calling ProviderCredentialingTerminationsApi.update_provider_cred_termination"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/terminations/{networkID}/{credTerminationKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'networkID' + '}', CGI.escape(network_id.to_s)).sub('{' + 'credTerminationKey' + '}', CGI.escape(cred_termination_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_termination)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredTerminationVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingTerminationsApi.update_provider_cred_termination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingTerminationsApi#update_provider_cred_termination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
