=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderPerDiemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderPerDiem
    # Creates a new ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem [ProviderPerDiem] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemVBAResponse]
    def create_provider_per_diem(vbasoftware_database, provider_id, provider_per_diem, opts = {})
      data, _status_code, _headers = create_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem, opts)
      data
    end

    # Create ProviderPerDiem
    # Creates a new ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem [ProviderPerDiem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemVBAResponse, Integer, Hash)>] ProviderPerDiemVBAResponse data, response status code and response headers
    def create_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.create_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.create_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.create_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem' is set
      if @api_client.config.client_side_validation && provider_per_diem.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem' when calling ProviderPerDiemApi.create_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_per_diem)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.create_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#create_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderPerDiem
    # Deletes an ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_per_diem(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      delete_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts)
      nil
    end

    # Delete ProviderPerDiem
    # Deletes an ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.delete_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.delete_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.delete_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemApi.delete_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.delete_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#delete_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderPerDiem
    # Gets ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemVBAResponse]
    def get_provider_per_diem(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      data, _status_code, _headers = get_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts)
      data
    end

    # Get ProviderPerDiem
    # Gets ProviderPerDiem
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemVBAResponse, Integer, Hash)>] ProviderPerDiemVBAResponse data, response status code and response headers
    def get_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.get_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.get_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.get_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemApi.get_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.get_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#get_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderPerDiem
    # List ProviderPerDiem for a specific Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemListVBAResponse]
    def list_provider_per_diem(vbasoftware_database, provider_id, opts = {})
      data, _status_code, _headers = list_provider_per_diem_with_http_info(vbasoftware_database, provider_id, opts)
      data
    end

    # List ProviderPerDiem
    # List ProviderPerDiem for a specific Provider
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemListVBAResponse, Integer, Hash)>] ProviderPerDiemListVBAResponse data, response status code and response headers
    def list_provider_per_diem_with_http_info(vbasoftware_database, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.list_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.list_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.list_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.list_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#list_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderPerDiem
    # Create or Update multiple ProviderPerDiem at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem [Array<ProviderPerDiem>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_per_diem(vbasoftware_database, provider_id, provider_per_diem, opts = {})
      data, _status_code, _headers = update_batch_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem, opts)
      data
    end

    # Create or Update Batch ProviderPerDiem
    # Create or Update multiple ProviderPerDiem at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem [Array<ProviderPerDiem>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.update_batch_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.update_batch_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.update_batch_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem' is set
      if @api_client.config.client_side_validation && provider_per_diem.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem' when calling ProviderPerDiemApi.update_batch_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_per_diem)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.update_batch_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#update_batch_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderPerDiem
    # Updates a specific ProviderPerDiem.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem [ProviderPerDiem] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemVBAResponse]
    def update_provider_per_diem(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem, opts = {})
      data, _status_code, _headers = update_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem, opts)
      data
    end

    # Update ProviderPerDiem
    # Updates a specific ProviderPerDiem.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem [ProviderPerDiem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemVBAResponse, Integer, Hash)>] ProviderPerDiemVBAResponse data, response status code and response headers
    def update_provider_per_diem_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemApi.update_provider_per_diem ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemApi.update_provider_per_diem"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemApi.update_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemApi.update_provider_per_diem"
      end
      # verify the required parameter 'provider_per_diem' is set
      if @api_client.config.client_side_validation && provider_per_diem.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem' when calling ProviderPerDiemApi.update_provider_per_diem"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_per_diem)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemApi.update_provider_per_diem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemApi#update_provider_per_diem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
