=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderCredentialingServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderCredService
    # Creates a new ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_service [ProviderCredService] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredServiceVBAResponse]
    def create_provider_cred_service(vbasoftware_database, provider_cred_key, provider_cred_service, opts = {})
      data, _status_code, _headers = create_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_service, opts)
      data
    end

    # Create ProviderCredService
    # Creates a new ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_service [ProviderCredService] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredServiceVBAResponse, Integer, Hash)>] ProviderCredServiceVBAResponse data, response status code and response headers
    def create_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.create_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.create_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.create_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_service' is set
      if @api_client.config.client_side_validation && provider_cred_service.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_service' when calling ProviderCredentialingServicesApi.create_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_service)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.create_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#create_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderCredService
    # Deletes an ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_cred_service(vbasoftware_database, provider_cred_key, cred_service_key, opts = {})
      delete_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, opts)
      nil
    end

    # Delete ProviderCredService
    # Deletes an ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.delete_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.delete_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.delete_provider_cred_service"
      end
      # verify the required parameter 'cred_service_key' is set
      if @api_client.config.client_side_validation && cred_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_service_key' when calling ProviderCredentialingServicesApi.delete_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services/{credServiceKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credServiceKey' + '}', CGI.escape(cred_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.delete_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#delete_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderCredService
    # Gets ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredServiceVBAResponse]
    def get_provider_cred_service(vbasoftware_database, provider_cred_key, cred_service_key, opts = {})
      data, _status_code, _headers = get_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, opts)
      data
    end

    # Get ProviderCredService
    # Gets ProviderCredService
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredServiceVBAResponse, Integer, Hash)>] ProviderCredServiceVBAResponse data, response status code and response headers
    def get_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.get_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.get_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.get_provider_cred_service"
      end
      # verify the required parameter 'cred_service_key' is set
      if @api_client.config.client_side_validation && cred_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_service_key' when calling ProviderCredentialingServicesApi.get_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services/{credServiceKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credServiceKey' + '}', CGI.escape(cred_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.get_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#get_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderCredService
    # Lists all ProviderCredService for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderCredServiceListVBAResponse]
    def list_provider_cred_service(vbasoftware_database, provider_cred_key, opts = {})
      data, _status_code, _headers = list_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, opts)
      data
    end

    # List ProviderCredService
    # Lists all ProviderCredService for the given providerCredKey
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderCredServiceListVBAResponse, Integer, Hash)>] ProviderCredServiceListVBAResponse data, response status code and response headers
    def list_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.list_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.list_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.list_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredServiceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.list_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#list_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderCredService
    # Create or Update multiple ProviderCredService at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_service [Array<ProviderCredService>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_cred_service(vbasoftware_database, provider_cred_key, provider_cred_service, opts = {})
      data, _status_code, _headers = update_batch_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_service, opts)
      data
    end

    # Create or Update Batch ProviderCredService
    # Create or Update multiple ProviderCredService at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param provider_cred_service [Array<ProviderCredService>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, provider_cred_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.update_batch_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.update_batch_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.update_batch_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_service' is set
      if @api_client.config.client_side_validation && provider_cred_service.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_service' when calling ProviderCredentialingServicesApi.update_batch_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services-batch'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_service)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.update_batch_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#update_batch_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ProviderCredService
    # Updates a specific ProviderCredService.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param provider_cred_service [ProviderCredService] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderCredServiceVBAResponse]
    def update_provider_cred_service(vbasoftware_database, provider_cred_key, cred_service_key, provider_cred_service, opts = {})
      data, _status_code, _headers = update_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, provider_cred_service, opts)
      data
    end

    # Update ProviderCredService
    # Updates a specific ProviderCredService.
    # @param vbasoftware_database [String] Target database
    # @param provider_cred_key [Integer] ProviderCred Key
    # @param cred_service_key [Integer] CredService Key
    # @param provider_cred_service [ProviderCredService] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderCredServiceVBAResponse, Integer, Hash)>] ProviderCredServiceVBAResponse data, response status code and response headers
    def update_provider_cred_service_with_http_info(vbasoftware_database, provider_cred_key, cred_service_key, provider_cred_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderCredentialingServicesApi.update_provider_cred_service ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderCredentialingServicesApi.update_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_key' is set
      if @api_client.config.client_side_validation && provider_cred_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_key' when calling ProviderCredentialingServicesApi.update_provider_cred_service"
      end
      # verify the required parameter 'cred_service_key' is set
      if @api_client.config.client_side_validation && cred_service_key.nil?
        fail ArgumentError, "Missing the required parameter 'cred_service_key' when calling ProviderCredentialingServicesApi.update_provider_cred_service"
      end
      # verify the required parameter 'provider_cred_service' is set
      if @api_client.config.client_side_validation && provider_cred_service.nil?
        fail ArgumentError, "Missing the required parameter 'provider_cred_service' when calling ProviderCredentialingServicesApi.update_provider_cred_service"
      end
      # resource path
      local_var_path = '/provider-credentialing/{providerCredKey}/services/{credServiceKey}'.sub('{' + 'providerCredKey' + '}', CGI.escape(provider_cred_key.to_s)).sub('{' + 'credServiceKey' + '}', CGI.escape(cred_service_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_cred_service)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderCredServiceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderCredentialingServicesApi.update_provider_cred_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderCredentialingServicesApi#update_provider_cred_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
