=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ProviderPerDiemProcedureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ProviderPerDiemProcedure
    # Creates a new ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem_procedure [ProviderPerDiemProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemProcedureVBAResponse]
    def create_provider_per_diem_procedure(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts = {})
      data, _status_code, _headers = create_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts)
      data
    end

    # Create ProviderPerDiemProcedure
    # Creates a new ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem_procedure [ProviderPerDiemProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemProcedureVBAResponse, Integer, Hash)>] ProviderPerDiemProcedureVBAResponse data, response status code and response headers
    def create_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemProcedureApi.create_provider_per_diem_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemProcedureApi.create_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemProcedureApi.create_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemProcedureApi.create_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_procedure' is set
      if @api_client.config.client_side_validation && provider_per_diem_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_procedure' when calling ProviderPerDiemProcedureApi.create_provider_per_diem_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}/procedures'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_per_diem_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemProcedureApi.create_provider_per_diem_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemProcedureApi#create_provider_per_diem_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ProviderPerDiemProcedure
    # Deletes an ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param from_procedure [String] From Procedure
    # @param thru_procedure [String] Thru Procedure
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provider_per_diem_procedure(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts = {})
      delete_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts)
      nil
    end

    # Delete ProviderPerDiemProcedure
    # Deletes an ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param from_procedure [String] From Procedure
    # @param thru_procedure [String] Thru Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure"
      end
      # verify the required parameter 'thru_procedure' is set
      if @api_client.config.client_side_validation && thru_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'thru_procedure' when calling ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}/procedures/{fromProcedure}-{thruProcedure}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s)).sub('{' + 'thruProcedure' + '}', CGI.escape(thru_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemProcedureApi.delete_provider_per_diem_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemProcedureApi#delete_provider_per_diem_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProviderPerDiemProcedure
    # Gets ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param from_procedure [String] From Procedure
    # @param thru_procedure [String] Thru Procedure
    # @param [Hash] opts the optional parameters
    # @return [ProviderPerDiemProcedureVBAResponse]
    def get_provider_per_diem_procedure(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts = {})
      data, _status_code, _headers = get_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts)
      data
    end

    # Get ProviderPerDiemProcedure
    # Gets ProviderPerDiemProcedure
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param from_procedure [String] From Procedure
    # @param thru_procedure [String] Thru Procedure
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPerDiemProcedureVBAResponse, Integer, Hash)>] ProviderPerDiemProcedureVBAResponse data, response status code and response headers
    def get_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, from_procedure, thru_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemProcedureApi.get_provider_per_diem_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemProcedureApi.get_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemProcedureApi.get_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemProcedureApi.get_provider_per_diem_procedure"
      end
      # verify the required parameter 'from_procedure' is set
      if @api_client.config.client_side_validation && from_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'from_procedure' when calling ProviderPerDiemProcedureApi.get_provider_per_diem_procedure"
      end
      # verify the required parameter 'thru_procedure' is set
      if @api_client.config.client_side_validation && thru_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'thru_procedure' when calling ProviderPerDiemProcedureApi.get_provider_per_diem_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}/procedures/{fromProcedure}-{thruProcedure}'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s)).sub('{' + 'fromProcedure' + '}', CGI.escape(from_procedure.to_s)).sub('{' + 'thruProcedure' + '}', CGI.escape(thru_procedure.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemProcedureApi.get_provider_per_diem_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemProcedureApi#get_provider_per_diem_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ProviderPerDiemProcedure
    # Lists all ProviderPerDiemProcedure for the given providerPerDiemKey
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ProviderPerDiemProcedureListVBAResponse]
    def list_provider_per_diem_procedure(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      data, _status_code, _headers = list_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts)
      data
    end

    # List ProviderPerDiemProcedure
    # Lists all ProviderPerDiemProcedure for the given providerPerDiemKey
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ProviderPerDiemProcedureListVBAResponse, Integer, Hash)>] ProviderPerDiemProcedureListVBAResponse data, response status code and response headers
    def list_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemProcedureApi.list_provider_per_diem_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemProcedureApi.list_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemProcedureApi.list_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemProcedureApi.list_provider_per_diem_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}/procedures'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPerDiemProcedureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemProcedureApi.list_provider_per_diem_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemProcedureApi#list_provider_per_diem_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ProviderPerDiemProcedure
    # Create or Update multiple ProviderPerDiemProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem_procedure [Array<ProviderPerDiemProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_provider_per_diem_procedure(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts = {})
      data, _status_code, _headers = update_batch_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts)
      data
    end

    # Create or Update Batch ProviderPerDiemProcedure
    # Create or Update multiple ProviderPerDiemProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param provider_id [String] Provider ID
    # @param provider_per_diem_key [Integer] ProviderPerDiem Key
    # @param provider_per_diem_procedure [Array<ProviderPerDiemProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_provider_per_diem_procedure_with_http_info(vbasoftware_database, provider_id, provider_per_diem_key, provider_per_diem_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_key' is set
      if @api_client.config.client_side_validation && provider_per_diem_key.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_key' when calling ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure"
      end
      # verify the required parameter 'provider_per_diem_procedure' is set
      if @api_client.config.client_side_validation && provider_per_diem_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'provider_per_diem_procedure' when calling ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure"
      end
      # resource path
      local_var_path = '/providers/{providerID}/per-diems/{providerPerDiemKey}/procedures-batch'.sub('{' + 'providerID' + '}', CGI.escape(provider_id.to_s)).sub('{' + 'providerPerDiemKey' + '}', CGI.escape(provider_per_diem_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provider_per_diem_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ProviderPerDiemProcedureApi.update_batch_provider_per_diem_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPerDiemProcedureApi#update_batch_provider_per_diem_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
