=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReasonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Reasons
    # Creates a new Reasons
    # @param vbasoftware_database [String] Target database
    # @param reasons [Reasons] 
    # @param [Hash] opts the optional parameters
    # @return [ReasonsVBAResponse]
    def create_reasons(vbasoftware_database, reasons, opts = {})
      data, _status_code, _headers = create_reasons_with_http_info(vbasoftware_database, reasons, opts)
      data
    end

    # Create Reasons
    # Creates a new Reasons
    # @param vbasoftware_database [String] Target database
    # @param reasons [Reasons] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReasonsVBAResponse, Integer, Hash)>] ReasonsVBAResponse data, response status code and response headers
    def create_reasons_with_http_info(vbasoftware_database, reasons, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.create_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.create_reasons"
      end
      # verify the required parameter 'reasons' is set
      if @api_client.config.client_side_validation && reasons.nil?
        fail ArgumentError, "Missing the required parameter 'reasons' when calling ReasonsApi.create_reasons"
      end
      # resource path
      local_var_path = '/reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reasons)

      # return_type
      return_type = opts[:debug_return_type] || 'ReasonsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.create_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#create_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Reasons
    # Deletes an Reasons
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reasons(vbasoftware_database, reason_id, opts = {})
      delete_reasons_with_http_info(vbasoftware_database, reason_id, opts)
      nil
    end

    # Delete Reasons
    # Deletes an Reasons
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reasons_with_http_info(vbasoftware_database, reason_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.delete_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.delete_reasons"
      end
      # verify the required parameter 'reason_id' is set
      if @api_client.config.client_side_validation && reason_id.nil?
        fail ArgumentError, "Missing the required parameter 'reason_id' when calling ReasonsApi.delete_reasons"
      end
      # resource path
      local_var_path = '/reasons/{reasonID}'.sub('{' + 'reasonID' + '}', CGI.escape(reason_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.delete_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#delete_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Reasons
    # Gets Reasons
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param [Hash] opts the optional parameters
    # @return [ReasonsVBAResponse]
    def get_reasons(vbasoftware_database, reason_id, opts = {})
      data, _status_code, _headers = get_reasons_with_http_info(vbasoftware_database, reason_id, opts)
      data
    end

    # Get Reasons
    # Gets Reasons
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReasonsVBAResponse, Integer, Hash)>] ReasonsVBAResponse data, response status code and response headers
    def get_reasons_with_http_info(vbasoftware_database, reason_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.get_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.get_reasons"
      end
      # verify the required parameter 'reason_id' is set
      if @api_client.config.client_side_validation && reason_id.nil?
        fail ArgumentError, "Missing the required parameter 'reason_id' when calling ReasonsApi.get_reasons"
      end
      # resource path
      local_var_path = '/reasons/{reasonID}'.sub('{' + 'reasonID' + '}', CGI.escape(reason_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReasonsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.get_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#get_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reasons
    # Lists all Reasons 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [ReasonsListVBAResponse]
    def list_reasons(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reasons_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Reasons
    # Lists all Reasons 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReasonsListVBAResponse, Integer, Hash)>] ReasonsListVBAResponse data, response status code and response headers
    def list_reasons_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.list_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.list_reasons"
      end
      # resource path
      local_var_path = '/reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReasonsListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.list_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#list_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Reasons
    # Create or Update multiple Reasons at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reasons [Array<Reasons>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reasons(vbasoftware_database, reasons, opts = {})
      data, _status_code, _headers = update_batch_reasons_with_http_info(vbasoftware_database, reasons, opts)
      data
    end

    # Create or Update Batch Reasons
    # Create or Update multiple Reasons at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reasons [Array<Reasons>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reasons_with_http_info(vbasoftware_database, reasons, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.update_batch_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.update_batch_reasons"
      end
      # verify the required parameter 'reasons' is set
      if @api_client.config.client_side_validation && reasons.nil?
        fail ArgumentError, "Missing the required parameter 'reasons' when calling ReasonsApi.update_batch_reasons"
      end
      # resource path
      local_var_path = '/reasons-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reasons)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.update_batch_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#update_batch_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Reasons
    # Updates a specific Reasons.
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param reasons [Reasons] 
    # @param [Hash] opts the optional parameters
    # @return [ReasonsVBAResponse]
    def update_reasons(vbasoftware_database, reason_id, reasons, opts = {})
      data, _status_code, _headers = update_reasons_with_http_info(vbasoftware_database, reason_id, reasons, opts)
      data
    end

    # Update Reasons
    # Updates a specific Reasons.
    # @param vbasoftware_database [String] Target database
    # @param reason_id [Integer] Reason ID
    # @param reasons [Reasons] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReasonsVBAResponse, Integer, Hash)>] ReasonsVBAResponse data, response status code and response headers
    def update_reasons_with_http_info(vbasoftware_database, reason_id, reasons, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReasonsApi.update_reasons ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReasonsApi.update_reasons"
      end
      # verify the required parameter 'reason_id' is set
      if @api_client.config.client_side_validation && reason_id.nil?
        fail ArgumentError, "Missing the required parameter 'reason_id' when calling ReasonsApi.update_reasons"
      end
      # verify the required parameter 'reasons' is set
      if @api_client.config.client_side_validation && reasons.nil?
        fail ArgumentError, "Missing the required parameter 'reasons' when calling ReasonsApi.update_reasons"
      end
      # resource path
      local_var_path = '/reasons/{reasonID}'.sub('{' + 'reasonID' + '}', CGI.escape(reason_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reasons)

      # return_type
      return_type = opts[:debug_return_type] || 'ReasonsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReasonsApi.update_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReasonsApi#update_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
