=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReimburseSchedulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReimburseSchedule
    # Creates a new ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [ReimburseSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [ReimburseScheduleVBAResponse]
    def create_reimburse_schedule(vbasoftware_database, reimburse_schedule, opts = {})
      data, _status_code, _headers = create_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts)
      data
    end

    # Create ReimburseSchedule
    # Creates a new ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [ReimburseSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReimburseScheduleVBAResponse, Integer, Hash)>] ReimburseScheduleVBAResponse data, response status code and response headers
    def create_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.create_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.create_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule' is set
      if @api_client.config.client_side_validation && reimburse_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule' when calling ReimburseSchedulesApi.create_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reimburse_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'ReimburseScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.create_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#create_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReimburseSchedule
    # Deletes an ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reimburse_schedule(vbasoftware_database, reimburse_schedule, opts = {})
      delete_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts)
      nil
    end

    # Delete ReimburseSchedule
    # Deletes an ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.delete_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.delete_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule' is set
      if @api_client.config.client_side_validation && reimburse_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule' when calling ReimburseSchedulesApi.delete_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules/{reimburseSchedule}'.sub('{' + 'reimburseSchedule' + '}', CGI.escape(reimburse_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.delete_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#delete_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReimburseSchedule
    # Gets ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param [Hash] opts the optional parameters
    # @return [ReimburseScheduleVBAResponse]
    def get_reimburse_schedule(vbasoftware_database, reimburse_schedule, opts = {})
      data, _status_code, _headers = get_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts)
      data
    end

    # Get ReimburseSchedule
    # Gets ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReimburseScheduleVBAResponse, Integer, Hash)>] ReimburseScheduleVBAResponse data, response status code and response headers
    def get_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.get_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.get_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule' is set
      if @api_client.config.client_side_validation && reimburse_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule' when calling ReimburseSchedulesApi.get_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules/{reimburseSchedule}'.sub('{' + 'reimburseSchedule' + '}', CGI.escape(reimburse_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReimburseScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.get_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#get_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReimburseSchedule
    # Lists all ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReimburseScheduleListVBAResponse]
    def list_reimburse_schedule(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reimburse_schedule_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReimburseSchedule
    # Lists all ReimburseSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReimburseScheduleListVBAResponse, Integer, Hash)>] ReimburseScheduleListVBAResponse data, response status code and response headers
    def list_reimburse_schedule_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.list_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.list_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReimburseScheduleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.list_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#list_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReimburseSchedule
    # Create or Update multiple ReimburseSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [Array<ReimburseSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reimburse_schedule(vbasoftware_database, reimburse_schedule, opts = {})
      data, _status_code, _headers = update_batch_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts)
      data
    end

    # Create or Update Batch ReimburseSchedule
    # Create or Update multiple ReimburseSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [Array<ReimburseSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.update_batch_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.update_batch_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule' is set
      if @api_client.config.client_side_validation && reimburse_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule' when calling ReimburseSchedulesApi.update_batch_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reimburse_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.update_batch_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#update_batch_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReimburseSchedule
    # Updates a specific ReimburseSchedule.
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param reimburse_schedule2 [ReimburseSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [ReimburseScheduleVBAResponse]
    def update_reimburse_schedule(vbasoftware_database, reimburse_schedule, reimburse_schedule2, opts = {})
      data, _status_code, _headers = update_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, reimburse_schedule2, opts)
      data
    end

    # Update ReimburseSchedule
    # Updates a specific ReimburseSchedule.
    # @param vbasoftware_database [String] Target database
    # @param reimburse_schedule [String] Reimburse Schedule
    # @param reimburse_schedule2 [ReimburseSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReimburseScheduleVBAResponse, Integer, Hash)>] ReimburseScheduleVBAResponse data, response status code and response headers
    def update_reimburse_schedule_with_http_info(vbasoftware_database, reimburse_schedule, reimburse_schedule2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReimburseSchedulesApi.update_reimburse_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReimburseSchedulesApi.update_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule' is set
      if @api_client.config.client_side_validation && reimburse_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule' when calling ReimburseSchedulesApi.update_reimburse_schedule"
      end
      # verify the required parameter 'reimburse_schedule2' is set
      if @api_client.config.client_side_validation && reimburse_schedule2.nil?
        fail ArgumentError, "Missing the required parameter 'reimburse_schedule2' when calling ReimburseSchedulesApi.update_reimburse_schedule"
      end
      # resource path
      local_var_path = '/reimburse-schedules/{reimburseSchedule}'.sub('{' + 'reimburseSchedule' + '}', CGI.escape(reimburse_schedule.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reimburse_schedule2)

      # return_type
      return_type = opts[:debug_return_type] || 'ReimburseScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReimburseSchedulesApi.update_reimburse_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReimburseSchedulesApi#update_reimburse_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
