=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractTransactionClaimStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractTransClaimStatus
    # Creates a new ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_trans_claim_status [ReinsContractTransClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTransClaimStatusVBAResponse]
    def create_reins_contract_trans_claim_status(vbasoftware_database, reins_contract_trans_claim_status, opts = {})
      data, _status_code, _headers = create_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, reins_contract_trans_claim_status, opts)
      data
    end

    # Create ReinsContractTransClaimStatus
    # Creates a new ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_trans_claim_status [ReinsContractTransClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTransClaimStatusVBAResponse, Integer, Hash)>] ReinsContractTransClaimStatusVBAResponse data, response status code and response headers
    def create_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, reins_contract_trans_claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.create_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.create_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'reins_contract_trans_claim_status' is set
      if @api_client.config.client_side_validation && reins_contract_trans_claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_trans_claim_status' when calling ReinsuranceContractTransactionClaimStatusesApi.create_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_trans_claim_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTransClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.create_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#create_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractTransClaimStatus
    # Deletes an ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_trans_claim_status(vbasoftware_database, claim_transaction_status, opts = {})
      delete_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, opts)
      nil
    end

    # Delete ReinsContractTransClaimStatus
    # Deletes an ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.delete_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.delete_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'claim_transaction_status' is set
      if @api_client.config.client_side_validation && claim_transaction_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_status' when calling ReinsuranceContractTransactionClaimStatusesApi.delete_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses/{claimTransactionStatus}'.sub('{' + 'claimTransactionStatus' + '}', CGI.escape(claim_transaction_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.delete_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#delete_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractTransClaimStatus
    # Gets ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTransClaimStatusVBAResponse]
    def get_reins_contract_trans_claim_status(vbasoftware_database, claim_transaction_status, opts = {})
      data, _status_code, _headers = get_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, opts)
      data
    end

    # Get ReinsContractTransClaimStatus
    # Gets ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTransClaimStatusVBAResponse, Integer, Hash)>] ReinsContractTransClaimStatusVBAResponse data, response status code and response headers
    def get_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.get_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.get_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'claim_transaction_status' is set
      if @api_client.config.client_side_validation && claim_transaction_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_status' when calling ReinsuranceContractTransactionClaimStatusesApi.get_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses/{claimTransactionStatus}'.sub('{' + 'claimTransactionStatus' + '}', CGI.escape(claim_transaction_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTransClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.get_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#get_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractTransClaimStatus
    # Lists all ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractTransClaimStatusListVBAResponse]
    def list_reins_contract_trans_claim_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReinsContractTransClaimStatus
    # Lists all ReinsContractTransClaimStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractTransClaimStatusListVBAResponse, Integer, Hash)>] ReinsContractTransClaimStatusListVBAResponse data, response status code and response headers
    def list_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.list_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.list_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTransClaimStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.list_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#list_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractTransClaimStatus
    # Create or Update multiple ReinsContractTransClaimStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_trans_claim_status [Array<ReinsContractTransClaimStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_trans_claim_status(vbasoftware_database, reins_contract_trans_claim_status, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, reins_contract_trans_claim_status, opts)
      data
    end

    # Create or Update Batch ReinsContractTransClaimStatus
    # Create or Update multiple ReinsContractTransClaimStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_trans_claim_status [Array<ReinsContractTransClaimStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, reins_contract_trans_claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.update_batch_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.update_batch_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'reins_contract_trans_claim_status' is set
      if @api_client.config.client_side_validation && reins_contract_trans_claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_trans_claim_status' when calling ReinsuranceContractTransactionClaimStatusesApi.update_batch_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_trans_claim_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.update_batch_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#update_batch_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractTransClaimStatus
    # Updates a specific ReinsContractTransClaimStatus.
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param reins_contract_trans_claim_status [ReinsContractTransClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTransClaimStatusVBAResponse]
    def update_reins_contract_trans_claim_status(vbasoftware_database, claim_transaction_status, reins_contract_trans_claim_status, opts = {})
      data, _status_code, _headers = update_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, reins_contract_trans_claim_status, opts)
      data
    end

    # Update ReinsContractTransClaimStatus
    # Updates a specific ReinsContractTransClaimStatus.
    # @param vbasoftware_database [String] Target database
    # @param claim_transaction_status [String] ClaimTransaction Status
    # @param reins_contract_trans_claim_status [ReinsContractTransClaimStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTransClaimStatusVBAResponse, Integer, Hash)>] ReinsContractTransClaimStatusVBAResponse data, response status code and response headers
    def update_reins_contract_trans_claim_status_with_http_info(vbasoftware_database, claim_transaction_status, reins_contract_trans_claim_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTransactionClaimStatusesApi.update_reins_contract_trans_claim_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTransactionClaimStatusesApi.update_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'claim_transaction_status' is set
      if @api_client.config.client_side_validation && claim_transaction_status.nil?
        fail ArgumentError, "Missing the required parameter 'claim_transaction_status' when calling ReinsuranceContractTransactionClaimStatusesApi.update_reins_contract_trans_claim_status"
      end
      # verify the required parameter 'reins_contract_trans_claim_status' is set
      if @api_client.config.client_side_validation && reins_contract_trans_claim_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_trans_claim_status' when calling ReinsuranceContractTransactionClaimStatusesApi.update_reins_contract_trans_claim_status"
      end
      # resource path
      local_var_path = '/reinsurance-contracts-transaction-claim-statuses/{claimTransactionStatus}'.sub('{' + 'claimTransactionStatus' + '}', CGI.escape(claim_transaction_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_trans_claim_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTransClaimStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTransactionClaimStatusesApi.update_reins_contract_trans_claim_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTransactionClaimStatusesApi#update_reins_contract_trans_claim_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
