=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceNotifyUsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractNotifyUser
    # Creates a new ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_user [ReinsContractNotifyUser] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractNotifyUserVBAResponse]
    def create_reins_contract_notify_user(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts = {})
      data, _status_code, _headers = create_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts)
      data
    end

    # Create ReinsContractNotifyUser
    # Creates a new ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_user [ReinsContractNotifyUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractNotifyUserVBAResponse, Integer, Hash)>] ReinsContractNotifyUserVBAResponse data, response status code and response headers
    def create_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUsersApi.create_reins_contract_notify_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUsersApi.create_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUsersApi.create_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_notify_user' is set
      if @api_client.config.client_side_validation && reins_contract_notify_user.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_notify_user' when calling ReinsuranceNotifyUsersApi.create_reins_contract_notify_user"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-users'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_notify_user)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUsersApi.create_reins_contract_notify_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUsersApi#create_reins_contract_notify_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractNotifyUser
    # Deletes an ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_notify_user(vbasoftware_database, reins_contract_key, user_id, opts = {})
      delete_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, user_id, opts)
      nil
    end

    # Delete ReinsContractNotifyUser
    # Deletes an ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUsersApi.delete_reins_contract_notify_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUsersApi.delete_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUsersApi.delete_reins_contract_notify_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ReinsuranceNotifyUsersApi.delete_reins_contract_notify_user"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-users/{userID}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUsersApi.delete_reins_contract_notify_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUsersApi#delete_reins_contract_notify_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractNotifyUser
    # Gets ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractNotifyUserVBAResponse]
    def get_reins_contract_notify_user(vbasoftware_database, reins_contract_key, user_id, opts = {})
      data, _status_code, _headers = get_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, user_id, opts)
      data
    end

    # Get ReinsContractNotifyUser
    # Gets ReinsContractNotifyUser
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractNotifyUserVBAResponse, Integer, Hash)>] ReinsContractNotifyUserVBAResponse data, response status code and response headers
    def get_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUsersApi.get_reins_contract_notify_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUsersApi.get_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUsersApi.get_reins_contract_notify_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ReinsuranceNotifyUsersApi.get_reins_contract_notify_user"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-users/{userID}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUsersApi.get_reins_contract_notify_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUsersApi#get_reins_contract_notify_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractNotifyUser
    # Lists all ReinsContractNotifyUser for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractNotifyUserListVBAResponse]
    def list_reins_contract_notify_user(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractNotifyUser
    # Lists all ReinsContractNotifyUser for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractNotifyUserListVBAResponse, Integer, Hash)>] ReinsContractNotifyUserListVBAResponse data, response status code and response headers
    def list_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUsersApi.list_reins_contract_notify_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUsersApi.list_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUsersApi.list_reins_contract_notify_user"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-users'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyUserListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUsersApi.list_reins_contract_notify_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUsersApi#list_reins_contract_notify_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractNotifyUser
    # Create or Update multiple ReinsContractNotifyUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_user [Array<ReinsContractNotifyUser>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_notify_user(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts)
      data
    end

    # Create or Update Batch ReinsContractNotifyUser
    # Create or Update multiple ReinsContractNotifyUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_user [Array<ReinsContractNotifyUser>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_notify_user_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUsersApi.update_batch_reins_contract_notify_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUsersApi.update_batch_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUsersApi.update_batch_reins_contract_notify_user"
      end
      # verify the required parameter 'reins_contract_notify_user' is set
      if @api_client.config.client_side_validation && reins_contract_notify_user.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_notify_user' when calling ReinsuranceNotifyUsersApi.update_batch_reins_contract_notify_user"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-users-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_notify_user)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUsersApi.update_batch_reins_contract_notify_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUsersApi#update_batch_reins_contract_notify_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
