=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractFactorCriteriasApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractFactorCriteria
    # Creates a new ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria [ReinsContractFactorCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorCriteriaVBAResponse]
    def create_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts = {})
      data, _status_code, _headers = create_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts)
      data
    end

    # Create ReinsContractFactorCriteria
    # Creates a new ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria [ReinsContractFactorCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorCriteriaVBAResponse, Integer, Hash)>] ReinsContractFactorCriteriaVBAResponse data, response status code and response headers
    def create_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.create_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.create_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.create_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria' when calling ReinsuranceContractFactorCriteriasApi.create_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.create_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#create_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractFactorCriteria
    # Deletes an ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts = {})
      delete_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts)
      nil
    end

    # Delete ReinsContractFactorCriteria
    # Deletes an ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.delete_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.delete_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.delete_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria_key' when calling ReinsuranceContractFactorCriteriasApi.delete_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias/{reinsContractFactorCriteriaKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorCriteriaKey' + '}', CGI.escape(reins_contract_factor_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.delete_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#delete_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractFactorCriteria
    # Gets ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorCriteriaVBAResponse]
    def get_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts = {})
      data, _status_code, _headers = get_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts)
      data
    end

    # Get ReinsContractFactorCriteria
    # Gets ReinsContractFactorCriteria
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorCriteriaVBAResponse, Integer, Hash)>] ReinsContractFactorCriteriaVBAResponse data, response status code and response headers
    def get_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.get_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.get_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.get_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria_key' when calling ReinsuranceContractFactorCriteriasApi.get_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias/{reinsContractFactorCriteriaKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorCriteriaKey' + '}', CGI.escape(reins_contract_factor_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.get_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#get_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractFactorCriteria
    # Lists all ReinsContractFactorCriteria for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractFactorCriteriaListVBAResponse]
    def list_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractFactorCriteria
    # Lists all ReinsContractFactorCriteria for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractFactorCriteriaListVBAResponse, Integer, Hash)>] ReinsContractFactorCriteriaListVBAResponse data, response status code and response headers
    def list_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.list_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.list_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.list_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorCriteriaListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.list_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#list_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractFactorCriteria
    # Create or Update multiple ReinsContractFactorCriteria at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria [Array<ReinsContractFactorCriteria>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts)
      data
    end

    # Create or Update Batch ReinsContractFactorCriteria
    # Create or Update multiple ReinsContractFactorCriteria at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria [Array<ReinsContractFactorCriteria>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.update_batch_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.update_batch_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.update_batch_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria' when calling ReinsuranceContractFactorCriteriasApi.update_batch_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.update_batch_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#update_batch_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractFactorCriteria
    # Updates a specific ReinsContractFactorCriteria.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param reins_contract_factor_criteria [ReinsContractFactorCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorCriteriaVBAResponse]
    def update_reins_contract_factor_criteria(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, reins_contract_factor_criteria, opts = {})
      data, _status_code, _headers = update_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, reins_contract_factor_criteria, opts)
      data
    end

    # Update ReinsContractFactorCriteria
    # Updates a specific ReinsContractFactorCriteria.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_criteria_key [Integer] ReinsContractFactorCriteria Key
    # @param reins_contract_factor_criteria [ReinsContractFactorCriteria] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorCriteriaVBAResponse, Integer, Hash)>] ReinsContractFactorCriteriaVBAResponse data, response status code and response headers
    def update_reins_contract_factor_criteria_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_criteria_key, reins_contract_factor_criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria_key' when calling ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria"
      end
      # verify the required parameter 'reins_contract_factor_criteria' is set
      if @api_client.config.client_side_validation && reins_contract_factor_criteria.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_criteria' when calling ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factor-criterias/{reinsContractFactorCriteriaKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorCriteriaKey' + '}', CGI.escape(reins_contract_factor_criteria_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor_criteria)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorCriteriaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorCriteriasApi.update_reins_contract_factor_criteria",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorCriteriasApi#update_reins_contract_factor_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
