=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractStatus
    # Creates a new ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_status [ReinsContractStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractStatusVBAResponse]
    def create_reins_contract_status(vbasoftware_database, reins_contract_status, opts = {})
      data, _status_code, _headers = create_reins_contract_status_with_http_info(vbasoftware_database, reins_contract_status, opts)
      data
    end

    # Create ReinsContractStatus
    # Creates a new ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_status [ReinsContractStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractStatusVBAResponse, Integer, Hash)>] ReinsContractStatusVBAResponse data, response status code and response headers
    def create_reins_contract_status_with_http_info(vbasoftware_database, reins_contract_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.create_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.create_reins_contract_status"
      end
      # verify the required parameter 'reins_contract_status' is set
      if @api_client.config.client_side_validation && reins_contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_status' when calling ReinsuranceContractStatusApi.create_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.create_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#create_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractStatus
    # Deletes an ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_status(vbasoftware_database, contract_status, opts = {})
      delete_reins_contract_status_with_http_info(vbasoftware_database, contract_status, opts)
      nil
    end

    # Delete ReinsContractStatus
    # Deletes an ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_status_with_http_info(vbasoftware_database, contract_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.delete_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.delete_reins_contract_status"
      end
      # verify the required parameter 'contract_status' is set
      if @api_client.config.client_side_validation && contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'contract_status' when calling ReinsuranceContractStatusApi.delete_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses/{contractStatus}'.sub('{' + 'contractStatus' + '}', CGI.escape(contract_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.delete_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#delete_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractStatus
    # Gets ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractStatusVBAResponse]
    def get_reins_contract_status(vbasoftware_database, contract_status, opts = {})
      data, _status_code, _headers = get_reins_contract_status_with_http_info(vbasoftware_database, contract_status, opts)
      data
    end

    # Get ReinsContractStatus
    # Gets ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractStatusVBAResponse, Integer, Hash)>] ReinsContractStatusVBAResponse data, response status code and response headers
    def get_reins_contract_status_with_http_info(vbasoftware_database, contract_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.get_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.get_reins_contract_status"
      end
      # verify the required parameter 'contract_status' is set
      if @api_client.config.client_side_validation && contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'contract_status' when calling ReinsuranceContractStatusApi.get_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses/{contractStatus}'.sub('{' + 'contractStatus' + '}', CGI.escape(contract_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.get_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#get_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractStatus
    # Lists all ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractStatusListVBAResponse]
    def list_reins_contract_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reins_contract_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReinsContractStatus
    # Lists all ReinsContractStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractStatusListVBAResponse, Integer, Hash)>] ReinsContractStatusListVBAResponse data, response status code and response headers
    def list_reins_contract_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.list_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.list_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.list_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#list_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractStatus
    # Create or Update multiple ReinsContractStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_status [Array<ReinsContractStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_status(vbasoftware_database, reins_contract_status, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_status_with_http_info(vbasoftware_database, reins_contract_status, opts)
      data
    end

    # Create or Update Batch ReinsContractStatus
    # Create or Update multiple ReinsContractStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_status [Array<ReinsContractStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_status_with_http_info(vbasoftware_database, reins_contract_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.update_batch_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.update_batch_reins_contract_status"
      end
      # verify the required parameter 'reins_contract_status' is set
      if @api_client.config.client_side_validation && reins_contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_status' when calling ReinsuranceContractStatusApi.update_batch_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.update_batch_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#update_batch_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractStatus
    # Updates a specific ReinsContractStatus.
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param reins_contract_status [ReinsContractStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractStatusVBAResponse]
    def update_reins_contract_status(vbasoftware_database, contract_status, reins_contract_status, opts = {})
      data, _status_code, _headers = update_reins_contract_status_with_http_info(vbasoftware_database, contract_status, reins_contract_status, opts)
      data
    end

    # Update ReinsContractStatus
    # Updates a specific ReinsContractStatus.
    # @param vbasoftware_database [String] Target database
    # @param contract_status [String] Contract Status
    # @param reins_contract_status [ReinsContractStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractStatusVBAResponse, Integer, Hash)>] ReinsContractStatusVBAResponse data, response status code and response headers
    def update_reins_contract_status_with_http_info(vbasoftware_database, contract_status, reins_contract_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractStatusApi.update_reins_contract_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractStatusApi.update_reins_contract_status"
      end
      # verify the required parameter 'contract_status' is set
      if @api_client.config.client_side_validation && contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'contract_status' when calling ReinsuranceContractStatusApi.update_reins_contract_status"
      end
      # verify the required parameter 'reins_contract_status' is set
      if @api_client.config.client_side_validation && reins_contract_status.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_status' when calling ReinsuranceContractStatusApi.update_reins_contract_status"
      end
      # resource path
      local_var_path = '/reinsurance-contract-statuses/{contractStatus}'.sub('{' + 'contractStatus' + '}', CGI.escape(contract_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractStatusApi.update_reins_contract_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractStatusApi#update_reins_contract_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
