=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceConditionalSpecificDetailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractConditionalSpecificDetail
    # Creates a new ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail [ReinsContractConditionalSpecificDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificDetailVBAResponse]
    def create_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts = {})
      data, _status_code, _headers = create_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts)
      data
    end

    # Create ReinsContractConditionalSpecificDetail
    # Creates a new ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail [ReinsContractConditionalSpecificDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificDetailVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificDetailVBAResponse data, response status code and response headers
    def create_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.create_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.create_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.create_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail' when calling ReinsuranceConditionalSpecificDetailApi.create_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.create_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#create_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractConditionalSpecificDetail
    # Deletes an ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts = {})
      delete_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts)
      nil
    end

    # Delete ReinsContractConditionalSpecificDetail
    # Deletes an ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.delete_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.delete_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.delete_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail_key' when calling ReinsuranceConditionalSpecificDetailApi.delete_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail/{reinsContractConditionalSpecificDetailKey}'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s)).sub('{' + 'reinsContractConditionalSpecificDetailKey' + '}', CGI.escape(reins_contract_conditional_specific_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.delete_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#delete_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractConditionalSpecificDetail
    # Gets ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificDetailVBAResponse]
    def get_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts = {})
      data, _status_code, _headers = get_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts)
      data
    end

    # Get ReinsContractConditionalSpecificDetail
    # Gets ReinsContractConditionalSpecificDetail
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificDetailVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificDetailVBAResponse data, response status code and response headers
    def get_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.get_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.get_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.get_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail_key' when calling ReinsuranceConditionalSpecificDetailApi.get_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail/{reinsContractConditionalSpecificDetailKey}'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s)).sub('{' + 'reinsContractConditionalSpecificDetailKey' + '}', CGI.escape(reins_contract_conditional_specific_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.get_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#get_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractConditionalSpecificDetail
    # Lists all ReinsContractConditionalSpecificDetail for the given reinsContractConditionalSpecificKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ReinsContractConditionalSpecificDetailListVBAResponse]
    def list_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, opts = {})
      data, _status_code, _headers = list_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, opts)
      data
    end

    # List ReinsContractConditionalSpecificDetail
    # Lists all ReinsContractConditionalSpecificDetail for the given reinsContractConditionalSpecificKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ReinsContractConditionalSpecificDetailListVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificDetailListVBAResponse data, response status code and response headers
    def list_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.list_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.list_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.list_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.list_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#list_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractConditionalSpecificDetail
    # Create or Update multiple ReinsContractConditionalSpecificDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail [Array<ReinsContractConditionalSpecificDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts)
      data
    end

    # Create or Update Batch ReinsContractConditionalSpecificDetail
    # Create or Update multiple ReinsContractConditionalSpecificDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail [Array<ReinsContractConditionalSpecificDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.update_batch_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.update_batch_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.update_batch_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail' when calling ReinsuranceConditionalSpecificDetailApi.update_batch_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail-batch'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.update_batch_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#update_batch_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractConditionalSpecificDetail
    # Updates a specific ReinsContractConditionalSpecificDetail.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param reins_contract_conditional_specific_detail [ReinsContractConditionalSpecificDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificDetailVBAResponse]
    def update_reins_contract_conditional_specific_detail(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, reins_contract_conditional_specific_detail, opts = {})
      data, _status_code, _headers = update_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, reins_contract_conditional_specific_detail, opts)
      data
    end

    # Update ReinsContractConditionalSpecificDetail
    # Updates a specific ReinsContractConditionalSpecificDetail.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific_detail_key [Integer] ReinsContractConditionalSpecificDetail Key
    # @param reins_contract_conditional_specific_detail [ReinsContractConditionalSpecificDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificDetailVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificDetailVBAResponse data, response status code and response headers
    def update_reins_contract_conditional_specific_detail_with_http_info(vbasoftware_database, reins_contract_conditional_specific_key, reins_contract_conditional_specific_detail_key, reins_contract_conditional_specific_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail_key' when calling ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail"
      end
      # verify the required parameter 'reins_contract_conditional_specific_detail' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_detail.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_detail' when calling ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail"
      end
      # resource path
      local_var_path = '/reinsurance-contract-conditional-specifics/{reinsContractConditionalSpecificKey}/detail/{reinsContractConditionalSpecificDetailKey}'.sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s)).sub('{' + 'reinsContractConditionalSpecificDetailKey' + '}', CGI.escape(reins_contract_conditional_specific_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificDetailApi.update_reins_contract_conditional_specific_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificDetailApi#update_reins_contract_conditional_specific_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
