=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractType
    # Creates a new ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_type [ReinsContractType] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTypeVBAResponse]
    def create_reins_contract_type(vbasoftware_database, reins_contract_type, opts = {})
      data, _status_code, _headers = create_reins_contract_type_with_http_info(vbasoftware_database, reins_contract_type, opts)
      data
    end

    # Create ReinsContractType
    # Creates a new ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_type [ReinsContractType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTypeVBAResponse, Integer, Hash)>] ReinsContractTypeVBAResponse data, response status code and response headers
    def create_reins_contract_type_with_http_info(vbasoftware_database, reins_contract_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.create_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.create_reins_contract_type"
      end
      # verify the required parameter 'reins_contract_type' is set
      if @api_client.config.client_side_validation && reins_contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_type' when calling ReinsuranceContractTypesApi.create_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.create_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#create_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractType
    # Deletes an ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_type(vbasoftware_database, contract_type, opts = {})
      delete_reins_contract_type_with_http_info(vbasoftware_database, contract_type, opts)
      nil
    end

    # Delete ReinsContractType
    # Deletes an ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_type_with_http_info(vbasoftware_database, contract_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.delete_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.delete_reins_contract_type"
      end
      # verify the required parameter 'contract_type' is set
      if @api_client.config.client_side_validation && contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'contract_type' when calling ReinsuranceContractTypesApi.delete_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types/{contractType}'.sub('{' + 'contractType' + '}', CGI.escape(contract_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.delete_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#delete_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractType
    # Gets ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTypeVBAResponse]
    def get_reins_contract_type(vbasoftware_database, contract_type, opts = {})
      data, _status_code, _headers = get_reins_contract_type_with_http_info(vbasoftware_database, contract_type, opts)
      data
    end

    # Get ReinsContractType
    # Gets ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTypeVBAResponse, Integer, Hash)>] ReinsContractTypeVBAResponse data, response status code and response headers
    def get_reins_contract_type_with_http_info(vbasoftware_database, contract_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.get_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.get_reins_contract_type"
      end
      # verify the required parameter 'contract_type' is set
      if @api_client.config.client_side_validation && contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'contract_type' when calling ReinsuranceContractTypesApi.get_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types/{contractType}'.sub('{' + 'contractType' + '}', CGI.escape(contract_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.get_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#get_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractType
    # Lists all ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractTypeListVBAResponse]
    def list_reins_contract_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reins_contract_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReinsContractType
    # Lists all ReinsContractType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractTypeListVBAResponse, Integer, Hash)>] ReinsContractTypeListVBAResponse data, response status code and response headers
    def list_reins_contract_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.list_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.list_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.list_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#list_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractType
    # Create or Update multiple ReinsContractType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_type [Array<ReinsContractType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_type(vbasoftware_database, reins_contract_type, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_type_with_http_info(vbasoftware_database, reins_contract_type, opts)
      data
    end

    # Create or Update Batch ReinsContractType
    # Create or Update multiple ReinsContractType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_type [Array<ReinsContractType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_type_with_http_info(vbasoftware_database, reins_contract_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.update_batch_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.update_batch_reins_contract_type"
      end
      # verify the required parameter 'reins_contract_type' is set
      if @api_client.config.client_side_validation && reins_contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_type' when calling ReinsuranceContractTypesApi.update_batch_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.update_batch_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#update_batch_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractType
    # Updates a specific ReinsContractType.
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param reins_contract_type [ReinsContractType] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTypeVBAResponse]
    def update_reins_contract_type(vbasoftware_database, contract_type, reins_contract_type, opts = {})
      data, _status_code, _headers = update_reins_contract_type_with_http_info(vbasoftware_database, contract_type, reins_contract_type, opts)
      data
    end

    # Update ReinsContractType
    # Updates a specific ReinsContractType.
    # @param vbasoftware_database [String] Target database
    # @param contract_type [String] Contract Type
    # @param reins_contract_type [ReinsContractType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTypeVBAResponse, Integer, Hash)>] ReinsContractTypeVBAResponse data, response status code and response headers
    def update_reins_contract_type_with_http_info(vbasoftware_database, contract_type, reins_contract_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTypesApi.update_reins_contract_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTypesApi.update_reins_contract_type"
      end
      # verify the required parameter 'contract_type' is set
      if @api_client.config.client_side_validation && contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'contract_type' when calling ReinsuranceContractTypesApi.update_reins_contract_type"
      end
      # verify the required parameter 'reins_contract_type' is set
      if @api_client.config.client_side_validation && reins_contract_type.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_type' when calling ReinsuranceContractTypesApi.update_reins_contract_type"
      end
      # resource path
      local_var_path = '/reinsurance-contract-types/{contractType}'.sub('{' + 'contractType' + '}', CGI.escape(contract_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTypesApi.update_reins_contract_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTypesApi#update_reins_contract_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
