=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractTemplate
    # Creates a new ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param reins_contract_template [ReinsContractTemplate] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTemplateVBAResponse]
    def create_reins_contract_template(vbasoftware_database, contract_key, reins_contract_template, opts = {})
      data, _status_code, _headers = create_reins_contract_template_with_http_info(vbasoftware_database, contract_key, reins_contract_template, opts)
      data
    end

    # Create ReinsContractTemplate
    # Creates a new ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param reins_contract_template [ReinsContractTemplate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTemplateVBAResponse, Integer, Hash)>] ReinsContractTemplateVBAResponse data, response status code and response headers
    def create_reins_contract_template_with_http_info(vbasoftware_database, contract_key, reins_contract_template, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTemplatesApi.create_reins_contract_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTemplatesApi.create_reins_contract_template"
      end
      # verify the required parameter 'contract_key' is set
      if @api_client.config.client_side_validation && contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'contract_key' when calling ReinsuranceContractTemplatesApi.create_reins_contract_template"
      end
      # verify the required parameter 'reins_contract_template' is set
      if @api_client.config.client_side_validation && reins_contract_template.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_template' when calling ReinsuranceContractTemplatesApi.create_reins_contract_template"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{contractKey}/templates'.sub('{' + 'contractKey' + '}', CGI.escape(contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_template)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTemplateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTemplatesApi.create_reins_contract_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTemplatesApi#create_reins_contract_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractTemplate
    # Deletes an ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param template_contract_key [Integer] TemplateContract Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_template(vbasoftware_database, contract_key, template_contract_key, opts = {})
      delete_reins_contract_template_with_http_info(vbasoftware_database, contract_key, template_contract_key, opts)
      nil
    end

    # Delete ReinsContractTemplate
    # Deletes an ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param template_contract_key [Integer] TemplateContract Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_template_with_http_info(vbasoftware_database, contract_key, template_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTemplatesApi.delete_reins_contract_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTemplatesApi.delete_reins_contract_template"
      end
      # verify the required parameter 'contract_key' is set
      if @api_client.config.client_side_validation && contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'contract_key' when calling ReinsuranceContractTemplatesApi.delete_reins_contract_template"
      end
      # verify the required parameter 'template_contract_key' is set
      if @api_client.config.client_side_validation && template_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'template_contract_key' when calling ReinsuranceContractTemplatesApi.delete_reins_contract_template"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{contractKey}/templates/{templateContractKey}'.sub('{' + 'contractKey' + '}', CGI.escape(contract_key.to_s)).sub('{' + 'templateContractKey' + '}', CGI.escape(template_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTemplatesApi.delete_reins_contract_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTemplatesApi#delete_reins_contract_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractTemplate
    # Gets ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param template_contract_key [Integer] TemplateContract Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractTemplateVBAResponse]
    def get_reins_contract_template(vbasoftware_database, contract_key, template_contract_key, opts = {})
      data, _status_code, _headers = get_reins_contract_template_with_http_info(vbasoftware_database, contract_key, template_contract_key, opts)
      data
    end

    # Get ReinsContractTemplate
    # Gets ReinsContractTemplate
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param template_contract_key [Integer] TemplateContract Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractTemplateVBAResponse, Integer, Hash)>] ReinsContractTemplateVBAResponse data, response status code and response headers
    def get_reins_contract_template_with_http_info(vbasoftware_database, contract_key, template_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTemplatesApi.get_reins_contract_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTemplatesApi.get_reins_contract_template"
      end
      # verify the required parameter 'contract_key' is set
      if @api_client.config.client_side_validation && contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'contract_key' when calling ReinsuranceContractTemplatesApi.get_reins_contract_template"
      end
      # verify the required parameter 'template_contract_key' is set
      if @api_client.config.client_side_validation && template_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'template_contract_key' when calling ReinsuranceContractTemplatesApi.get_reins_contract_template"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{contractKey}/templates/{templateContractKey}'.sub('{' + 'contractKey' + '}', CGI.escape(contract_key.to_s)).sub('{' + 'templateContractKey' + '}', CGI.escape(template_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTemplateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTemplatesApi.get_reins_contract_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTemplatesApi#get_reins_contract_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractTemplate
    # Lists all ReinsContractTemplate for the given contractKey
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractTemplateListVBAResponse]
    def list_reins_contract_template(vbasoftware_database, contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_template_with_http_info(vbasoftware_database, contract_key, opts)
      data
    end

    # List ReinsContractTemplate
    # Lists all ReinsContractTemplate for the given contractKey
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractTemplateListVBAResponse, Integer, Hash)>] ReinsContractTemplateListVBAResponse data, response status code and response headers
    def list_reins_contract_template_with_http_info(vbasoftware_database, contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTemplatesApi.list_reins_contract_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTemplatesApi.list_reins_contract_template"
      end
      # verify the required parameter 'contract_key' is set
      if @api_client.config.client_side_validation && contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'contract_key' when calling ReinsuranceContractTemplatesApi.list_reins_contract_template"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{contractKey}/templates'.sub('{' + 'contractKey' + '}', CGI.escape(contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractTemplateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTemplatesApi.list_reins_contract_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTemplatesApi#list_reins_contract_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Batch ReinsContractTemplate
    # Create multiple ReinsContractTemplate at once.  If the entity exists, an error message will be returned for the item.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param reins_contract_template [Array<ReinsContractTemplate>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_template(vbasoftware_database, contract_key, reins_contract_template, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_template_with_http_info(vbasoftware_database, contract_key, reins_contract_template, opts)
      data
    end

    # Create Batch ReinsContractTemplate
    # Create multiple ReinsContractTemplate at once.  If the entity exists, an error message will be returned for the item.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param contract_key [Integer] Contract Key
    # @param reins_contract_template [Array<ReinsContractTemplate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_template_with_http_info(vbasoftware_database, contract_key, reins_contract_template, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractTemplatesApi.update_batch_reins_contract_template ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractTemplatesApi.update_batch_reins_contract_template"
      end
      # verify the required parameter 'contract_key' is set
      if @api_client.config.client_side_validation && contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'contract_key' when calling ReinsuranceContractTemplatesApi.update_batch_reins_contract_template"
      end
      # verify the required parameter 'reins_contract_template' is set
      if @api_client.config.client_side_validation && reins_contract_template.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_template' when calling ReinsuranceContractTemplatesApi.update_batch_reins_contract_template"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{contractKey}/templates-batch'.sub('{' + 'contractKey' + '}', CGI.escape(contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_template)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractTemplatesApi.update_batch_reins_contract_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractTemplatesApi#update_batch_reins_contract_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
