=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractCyclesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractCycle
    # Creates a new ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_cycle [ReinsContractCycle] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractCycleVBAResponse]
    def create_reins_contract_cycle(vbasoftware_database, reins_contract_cycle, opts = {})
      data, _status_code, _headers = create_reins_contract_cycle_with_http_info(vbasoftware_database, reins_contract_cycle, opts)
      data
    end

    # Create ReinsContractCycle
    # Creates a new ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_cycle [ReinsContractCycle] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractCycleVBAResponse, Integer, Hash)>] ReinsContractCycleVBAResponse data, response status code and response headers
    def create_reins_contract_cycle_with_http_info(vbasoftware_database, reins_contract_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.create_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.create_reins_contract_cycle"
      end
      # verify the required parameter 'reins_contract_cycle' is set
      if @api_client.config.client_side_validation && reins_contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_cycle' when calling ReinsuranceContractCyclesApi.create_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.create_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#create_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractCycle
    # Deletes an ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_cycle(vbasoftware_database, contract_cycle, opts = {})
      delete_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, opts)
      nil
    end

    # Delete ReinsContractCycle
    # Deletes an ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.delete_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.delete_reins_contract_cycle"
      end
      # verify the required parameter 'contract_cycle' is set
      if @api_client.config.client_side_validation && contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'contract_cycle' when calling ReinsuranceContractCyclesApi.delete_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles/{contractCycle}'.sub('{' + 'contractCycle' + '}', CGI.escape(contract_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.delete_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#delete_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractCycle
    # Gets ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractCycleVBAResponse]
    def get_reins_contract_cycle(vbasoftware_database, contract_cycle, opts = {})
      data, _status_code, _headers = get_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, opts)
      data
    end

    # Get ReinsContractCycle
    # Gets ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractCycleVBAResponse, Integer, Hash)>] ReinsContractCycleVBAResponse data, response status code and response headers
    def get_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.get_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.get_reins_contract_cycle"
      end
      # verify the required parameter 'contract_cycle' is set
      if @api_client.config.client_side_validation && contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'contract_cycle' when calling ReinsuranceContractCyclesApi.get_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles/{contractCycle}'.sub('{' + 'contractCycle' + '}', CGI.escape(contract_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.get_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#get_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractCycle
    # Lists all ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractCycleListVBAResponse]
    def list_reins_contract_cycle(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reins_contract_cycle_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReinsContractCycle
    # Lists all ReinsContractCycle
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractCycleListVBAResponse, Integer, Hash)>] ReinsContractCycleListVBAResponse data, response status code and response headers
    def list_reins_contract_cycle_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.list_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.list_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractCycleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.list_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#list_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractCycle
    # Create or Update multiple ReinsContractCycle at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_cycle [Array<ReinsContractCycle>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_cycle(vbasoftware_database, reins_contract_cycle, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_cycle_with_http_info(vbasoftware_database, reins_contract_cycle, opts)
      data
    end

    # Create or Update Batch ReinsContractCycle
    # Create or Update multiple ReinsContractCycle at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_cycle [Array<ReinsContractCycle>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_cycle_with_http_info(vbasoftware_database, reins_contract_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.update_batch_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.update_batch_reins_contract_cycle"
      end
      # verify the required parameter 'reins_contract_cycle' is set
      if @api_client.config.client_side_validation && reins_contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_cycle' when calling ReinsuranceContractCyclesApi.update_batch_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.update_batch_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#update_batch_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractCycle
    # Updates a specific ReinsContractCycle.
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param reins_contract_cycle [ReinsContractCycle] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractCycleVBAResponse]
    def update_reins_contract_cycle(vbasoftware_database, contract_cycle, reins_contract_cycle, opts = {})
      data, _status_code, _headers = update_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, reins_contract_cycle, opts)
      data
    end

    # Update ReinsContractCycle
    # Updates a specific ReinsContractCycle.
    # @param vbasoftware_database [String] Target database
    # @param contract_cycle [String] Contract Cycle
    # @param reins_contract_cycle [ReinsContractCycle] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractCycleVBAResponse, Integer, Hash)>] ReinsContractCycleVBAResponse data, response status code and response headers
    def update_reins_contract_cycle_with_http_info(vbasoftware_database, contract_cycle, reins_contract_cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractCyclesApi.update_reins_contract_cycle ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractCyclesApi.update_reins_contract_cycle"
      end
      # verify the required parameter 'contract_cycle' is set
      if @api_client.config.client_side_validation && contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'contract_cycle' when calling ReinsuranceContractCyclesApi.update_reins_contract_cycle"
      end
      # verify the required parameter 'reins_contract_cycle' is set
      if @api_client.config.client_side_validation && reins_contract_cycle.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_cycle' when calling ReinsuranceContractCyclesApi.update_reins_contract_cycle"
      end
      # resource path
      local_var_path = '/reinsurance-contract-cycles/{contractCycle}'.sub('{' + 'contractCycle' + '}', CGI.escape(contract_cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_cycle)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractCycleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractCyclesApi.update_reins_contract_cycle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractCyclesApi#update_reins_contract_cycle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
