=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceNotifyUserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractNotifyGroup
    # Creates a new ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_group [ReinsContractNotifyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractNotifyGroupVBAResponse]
    def create_reins_contract_notify_group(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts = {})
      data, _status_code, _headers = create_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts)
      data
    end

    # Create ReinsContractNotifyGroup
    # Creates a new ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_group [ReinsContractNotifyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractNotifyGroupVBAResponse, Integer, Hash)>] ReinsContractNotifyGroupVBAResponse data, response status code and response headers
    def create_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUserGroupsApi.create_reins_contract_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUserGroupsApi.create_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUserGroupsApi.create_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_notify_group' is set
      if @api_client.config.client_side_validation && reins_contract_notify_group.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_notify_group' when calling ReinsuranceNotifyUserGroupsApi.create_reins_contract_notify_group"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-user-groups'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_notify_group)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUserGroupsApi.create_reins_contract_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUserGroupsApi#create_reins_contract_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractNotifyGroup
    # Deletes an ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_notify_group(vbasoftware_database, reins_contract_key, user_group_key, opts = {})
      delete_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, user_group_key, opts)
      nil
    end

    # Delete ReinsContractNotifyGroup
    # Deletes an ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUserGroupsApi.delete_reins_contract_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUserGroupsApi.delete_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUserGroupsApi.delete_reins_contract_notify_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling ReinsuranceNotifyUserGroupsApi.delete_reins_contract_notify_group"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-user-groups/{userGroupKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUserGroupsApi.delete_reins_contract_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUserGroupsApi#delete_reins_contract_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractNotifyGroup
    # Gets ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractNotifyGroupVBAResponse]
    def get_reins_contract_notify_group(vbasoftware_database, reins_contract_key, user_group_key, opts = {})
      data, _status_code, _headers = get_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, user_group_key, opts)
      data
    end

    # Get ReinsContractNotifyGroup
    # Gets ReinsContractNotifyGroup
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractNotifyGroupVBAResponse, Integer, Hash)>] ReinsContractNotifyGroupVBAResponse data, response status code and response headers
    def get_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUserGroupsApi.get_reins_contract_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUserGroupsApi.get_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUserGroupsApi.get_reins_contract_notify_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling ReinsuranceNotifyUserGroupsApi.get_reins_contract_notify_group"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-user-groups/{userGroupKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUserGroupsApi.get_reins_contract_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUserGroupsApi#get_reins_contract_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractNotifyGroup
    # Lists all ReinsContractNotifyGroup for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractNotifyGroupListVBAResponse]
    def list_reins_contract_notify_group(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractNotifyGroup
    # Lists all ReinsContractNotifyGroup for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractNotifyGroupListVBAResponse, Integer, Hash)>] ReinsContractNotifyGroupListVBAResponse data, response status code and response headers
    def list_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUserGroupsApi.list_reins_contract_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUserGroupsApi.list_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUserGroupsApi.list_reins_contract_notify_group"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-user-groups'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractNotifyGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUserGroupsApi.list_reins_contract_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUserGroupsApi#list_reins_contract_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractNotifyGroup
    # Create or Update multiple ReinsContractNotifyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_group [Array<ReinsContractNotifyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_notify_group(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts)
      data
    end

    # Create or Update Batch ReinsContractNotifyGroup
    # Create or Update multiple ReinsContractNotifyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_notify_group [Array<ReinsContractNotifyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_notify_group_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_notify_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceNotifyUserGroupsApi.update_batch_reins_contract_notify_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceNotifyUserGroupsApi.update_batch_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceNotifyUserGroupsApi.update_batch_reins_contract_notify_group"
      end
      # verify the required parameter 'reins_contract_notify_group' is set
      if @api_client.config.client_side_validation && reins_contract_notify_group.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_notify_group' when calling ReinsuranceNotifyUserGroupsApi.update_batch_reins_contract_notify_group"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/notify-user-groups-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_notify_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceNotifyUserGroupsApi.update_batch_reins_contract_notify_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceNotifyUserGroupsApi#update_batch_reins_contract_notify_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
