=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceConditionalSpecificApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractConditionalSpecific
    # Creates a new ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific [ReinsContractConditionalSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificVBAResponse]
    def create_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts = {})
      data, _status_code, _headers = create_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts)
      data
    end

    # Create ReinsContractConditionalSpecific
    # Creates a new ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific [ReinsContractConditionalSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificVBAResponse data, response status code and response headers
    def create_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.create_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.create_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.create_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific' when calling ReinsuranceConditionalSpecificApi.create_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.create_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#create_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractConditionalSpecific
    # Deletes an ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts = {})
      delete_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts)
      nil
    end

    # Delete ReinsContractConditionalSpecific
    # Deletes an ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.delete_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.delete_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.delete_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificApi.delete_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific/{reinsContractConditionalSpecificKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.delete_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#delete_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractConditionalSpecific
    # Gets ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificVBAResponse]
    def get_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts = {})
      data, _status_code, _headers = get_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts)
      data
    end

    # Get ReinsContractConditionalSpecific
    # Gets ReinsContractConditionalSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificVBAResponse data, response status code and response headers
    def get_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.get_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.get_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.get_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificApi.get_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific/{reinsContractConditionalSpecificKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.get_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#get_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractConditionalSpecific
    # Lists all ReinsContractConditionalSpecific for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ReinsContractConditionalSpecificListVBAResponse]
    def list_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractConditionalSpecific
    # Lists all ReinsContractConditionalSpecific for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ReinsContractConditionalSpecificListVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificListVBAResponse data, response status code and response headers
    def list_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.list_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.list_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.list_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.list_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#list_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractConditionalSpecific
    # Create or Update multiple ReinsContractConditionalSpecific at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific [Array<ReinsContractConditionalSpecific>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts)
      data
    end

    # Create or Update Batch ReinsContractConditionalSpecific
    # Create or Update multiple ReinsContractConditionalSpecific at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific [Array<ReinsContractConditionalSpecific>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.update_batch_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.update_batch_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.update_batch_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific' when calling ReinsuranceConditionalSpecificApi.update_batch_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.update_batch_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#update_batch_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractConditionalSpecific
    # Updates a specific ReinsContractConditionalSpecific.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific [ReinsContractConditionalSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractConditionalSpecificVBAResponse]
    def update_reins_contract_conditional_specific(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, reins_contract_conditional_specific, opts = {})
      data, _status_code, _headers = update_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, reins_contract_conditional_specific, opts)
      data
    end

    # Update ReinsContractConditionalSpecific
    # Updates a specific ReinsContractConditionalSpecific.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_conditional_specific_key [Integer] ReinsContractConditionalSpecific Key
    # @param reins_contract_conditional_specific [ReinsContractConditionalSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractConditionalSpecificVBAResponse, Integer, Hash)>] ReinsContractConditionalSpecificVBAResponse data, response status code and response headers
    def update_reins_contract_conditional_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_conditional_specific_key, reins_contract_conditional_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific_key' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific_key' when calling ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific"
      end
      # verify the required parameter 'reins_contract_conditional_specific' is set
      if @api_client.config.client_side_validation && reins_contract_conditional_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_conditional_specific' when calling ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/conditional-specific/{reinsContractConditionalSpecificKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractConditionalSpecificKey' + '}', CGI.escape(reins_contract_conditional_specific_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_conditional_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractConditionalSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceConditionalSpecificApi.update_reins_contract_conditional_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceConditionalSpecificApi#update_reins_contract_conditional_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
