=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractFactorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractFactor
    # Creates a new ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor [ReinsContractFactor] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorVBAResponse]
    def create_reins_contract_factor(vbasoftware_database, reins_contract_key, reins_contract_factor, opts = {})
      data, _status_code, _headers = create_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor, opts)
      data
    end

    # Create ReinsContractFactor
    # Creates a new ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor [ReinsContractFactor] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorVBAResponse, Integer, Hash)>] ReinsContractFactorVBAResponse data, response status code and response headers
    def create_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.create_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.create_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.create_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor' is set
      if @api_client.config.client_side_validation && reins_contract_factor.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor' when calling ReinsuranceContractFactorsApi.create_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.create_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#create_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractFactor
    # Deletes an ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_factor(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts = {})
      delete_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts)
      nil
    end

    # Delete ReinsContractFactor
    # Deletes an ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.delete_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.delete_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.delete_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_key' when calling ReinsuranceContractFactorsApi.delete_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors/{reinsContractFactorKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorKey' + '}', CGI.escape(reins_contract_factor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.delete_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#delete_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractFactor
    # Gets ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorVBAResponse]
    def get_reins_contract_factor(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts = {})
      data, _status_code, _headers = get_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts)
      data
    end

    # Get ReinsContractFactor
    # Gets ReinsContractFactor
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorVBAResponse, Integer, Hash)>] ReinsContractFactorVBAResponse data, response status code and response headers
    def get_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.get_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.get_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.get_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_key' when calling ReinsuranceContractFactorsApi.get_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors/{reinsContractFactorKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorKey' + '}', CGI.escape(reins_contract_factor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.get_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#get_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractFactor
    # Lists all ReinsContractFactor for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractFactorListVBAResponse]
    def list_reins_contract_factor(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractFactor
    # Lists all ReinsContractFactor for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractFactorListVBAResponse, Integer, Hash)>] ReinsContractFactorListVBAResponse data, response status code and response headers
    def list_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.list_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.list_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.list_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.list_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#list_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractFactor
    # Create or Update multiple ReinsContractFactor at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor [Array<ReinsContractFactor>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_factor(vbasoftware_database, reins_contract_key, reins_contract_factor, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor, opts)
      data
    end

    # Create or Update Batch ReinsContractFactor
    # Create or Update multiple ReinsContractFactor at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor [Array<ReinsContractFactor>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.update_batch_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.update_batch_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.update_batch_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor' is set
      if @api_client.config.client_side_validation && reins_contract_factor.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor' when calling ReinsuranceContractFactorsApi.update_batch_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.update_batch_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#update_batch_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractFactor
    # Updates a specific ReinsContractFactor.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param reins_contract_factor [ReinsContractFactor] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractFactorVBAResponse]
    def update_reins_contract_factor(vbasoftware_database, reins_contract_key, reins_contract_factor_key, reins_contract_factor, opts = {})
      data, _status_code, _headers = update_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, reins_contract_factor, opts)
      data
    end

    # Update ReinsContractFactor
    # Updates a specific ReinsContractFactor.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_factor_key [Integer] ReinsContractFactor Key
    # @param reins_contract_factor [ReinsContractFactor] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractFactorVBAResponse, Integer, Hash)>] ReinsContractFactorVBAResponse data, response status code and response headers
    def update_reins_contract_factor_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_factor_key, reins_contract_factor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractFactorsApi.update_reins_contract_factor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractFactorsApi.update_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractFactorsApi.update_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor_key' is set
      if @api_client.config.client_side_validation && reins_contract_factor_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor_key' when calling ReinsuranceContractFactorsApi.update_reins_contract_factor"
      end
      # verify the required parameter 'reins_contract_factor' is set
      if @api_client.config.client_side_validation && reins_contract_factor.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_factor' when calling ReinsuranceContractFactorsApi.update_reins_contract_factor"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/factors/{reinsContractFactorKey}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsContractFactorKey' + '}', CGI.escape(reins_contract_factor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_factor)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractFactorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractFactorsApi.update_reins_contract_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractFactorsApi#update_reins_contract_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
