=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceContractLevelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsLevel
    # Creates a new ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level [ReinsLevel] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsLevelVBAResponse]
    def create_reins_level(vbasoftware_database, reins_contract_key, reins_level, opts = {})
      data, _status_code, _headers = create_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level, opts)
      data
    end

    # Create ReinsLevel
    # Creates a new ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level [ReinsLevel] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsLevelVBAResponse, Integer, Hash)>] ReinsLevelVBAResponse data, response status code and response headers
    def create_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.create_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.create_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.create_reins_level"
      end
      # verify the required parameter 'reins_level' is set
      if @api_client.config.client_side_validation && reins_level.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level' when calling ReinsuranceContractLevelsApi.create_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_level)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsLevelVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.create_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#create_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsLevel
    # Deletes an ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_level(vbasoftware_database, reins_contract_key, reins_level_seq, opts = {})
      delete_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, opts)
      nil
    end

    # Delete ReinsLevel
    # Deletes an ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.delete_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.delete_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.delete_reins_level"
      end
      # verify the required parameter 'reins_level_seq' is set
      if @api_client.config.client_side_validation && reins_level_seq.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level_seq' when calling ReinsuranceContractLevelsApi.delete_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels/{reinsLevelSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsLevelSeq' + '}', CGI.escape(reins_level_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.delete_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#delete_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate ReinsLevel Transactions
    # Creates new Reinsurance Transactions based on Reinsurance Level configurations.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @return [Int32VBAResponse]
    def generate_reins_level_trans(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = generate_reins_level_trans_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # Generate ReinsLevel Transactions
    # Creates new Reinsurance Transactions based on Reinsurance Level configurations.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32VBAResponse, Integer, Hash)>] Int32VBAResponse data, response status code and response headers
    def generate_reins_level_trans_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.generate_reins_level_trans ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.generate_reins_level_trans"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.generate_reins_level_trans"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/generate-reins-level'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32VBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.generate_reins_level_trans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#generate_reins_level_trans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsLevel
    # Gets ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param [Hash] opts the optional parameters
    # @return [ReinsLevelVBAResponse]
    def get_reins_level(vbasoftware_database, reins_contract_key, reins_level_seq, opts = {})
      data, _status_code, _headers = get_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, opts)
      data
    end

    # Get ReinsLevel
    # Gets ReinsLevel
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsLevelVBAResponse, Integer, Hash)>] ReinsLevelVBAResponse data, response status code and response headers
    def get_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.get_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.get_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.get_reins_level"
      end
      # verify the required parameter 'reins_level_seq' is set
      if @api_client.config.client_side_validation && reins_level_seq.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level_seq' when calling ReinsuranceContractLevelsApi.get_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels/{reinsLevelSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsLevelSeq' + '}', CGI.escape(reins_level_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsLevelVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.get_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#get_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsLevel
    # Lists all ReinsLevel for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsLevelListVBAResponse]
    def list_reins_level(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_level_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsLevel
    # Lists all ReinsLevel for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsLevelListVBAResponse, Integer, Hash)>] ReinsLevelListVBAResponse data, response status code and response headers
    def list_reins_level_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.list_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.list_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.list_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsLevelListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.list_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#list_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsLevel
    # Create or Update multiple ReinsLevel at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level [Array<ReinsLevel>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_level(vbasoftware_database, reins_contract_key, reins_level, opts = {})
      data, _status_code, _headers = update_batch_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level, opts)
      data
    end

    # Create or Update Batch ReinsLevel
    # Create or Update multiple ReinsLevel at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level [Array<ReinsLevel>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.update_batch_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.update_batch_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.update_batch_reins_level"
      end
      # verify the required parameter 'reins_level' is set
      if @api_client.config.client_side_validation && reins_level.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level' when calling ReinsuranceContractLevelsApi.update_batch_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_level)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.update_batch_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#update_batch_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsLevel
    # Updates a specific ReinsLevel.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param reins_level [ReinsLevel] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsLevelVBAResponse]
    def update_reins_level(vbasoftware_database, reins_contract_key, reins_level_seq, reins_level, opts = {})
      data, _status_code, _headers = update_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, reins_level, opts)
      data
    end

    # Update ReinsLevel
    # Updates a specific ReinsLevel.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_level_seq [Integer] ReinsLevel Seq
    # @param reins_level [ReinsLevel] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsLevelVBAResponse, Integer, Hash)>] ReinsLevelVBAResponse data, response status code and response headers
    def update_reins_level_with_http_info(vbasoftware_database, reins_contract_key, reins_level_seq, reins_level, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceContractLevelsApi.update_reins_level ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceContractLevelsApi.update_reins_level"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceContractLevelsApi.update_reins_level"
      end
      # verify the required parameter 'reins_level_seq' is set
      if @api_client.config.client_side_validation && reins_level_seq.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level_seq' when calling ReinsuranceContractLevelsApi.update_reins_level"
      end
      # verify the required parameter 'reins_level' is set
      if @api_client.config.client_side_validation && reins_level.nil?
        fail ArgumentError, "Missing the required parameter 'reins_level' when calling ReinsuranceContractLevelsApi.update_reins_level"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/levels/{reinsLevelSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'reinsLevelSeq' + '}', CGI.escape(reins_level_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_level)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsLevelVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceContractLevelsApi.update_reins_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceContractLevelsApi#update_reins_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
