=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceAccumulatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsAccum
    # Creates a new ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_accum [ReinsAccum] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsAccumVBAResponse]
    def create_reins_accum(vbasoftware_database, reins_contract_key, reins_accum, opts = {})
      data, _status_code, _headers = create_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, reins_accum, opts)
      data
    end

    # Create ReinsAccum
    # Creates a new ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_accum [ReinsAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsAccumVBAResponse, Integer, Hash)>] ReinsAccumVBAResponse data, response status code and response headers
    def create_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, reins_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.create_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.create_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.create_reins_accum"
      end
      # verify the required parameter 'reins_accum' is set
      if @api_client.config.client_side_validation && reins_accum.nil?
        fail ArgumentError, "Missing the required parameter 'reins_accum' when calling ReinsuranceAccumulatorsApi.create_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.create_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#create_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsAccum
    # Deletes an ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_accum(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts = {})
      delete_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts)
      nil
    end

    # Delete ReinsAccum
    # Deletes an ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.delete_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.delete_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.delete_reins_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceAccumulatorsApi.delete_reins_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceAccumulatorsApi.delete_reins_accum"
      end
      # verify the required parameter 'claim_number' is set
      if @api_client.config.client_side_validation && claim_number.nil?
        fail ArgumentError, "Missing the required parameter 'claim_number' when calling ReinsuranceAccumulatorsApi.delete_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators/{subscriberID}/{memberSeq}/{claimNumber}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'claimNumber' + '}', CGI.escape(claim_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.delete_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#delete_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsAccum
    # Gets ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param [Hash] opts the optional parameters
    # @return [ReinsAccumVBAResponse]
    def get_reins_accum(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts = {})
      data, _status_code, _headers = get_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts)
      data
    end

    # Get ReinsAccum
    # Gets ReinsAccum
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsAccumVBAResponse, Integer, Hash)>] ReinsAccumVBAResponse data, response status code and response headers
    def get_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.get_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.get_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.get_reins_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceAccumulatorsApi.get_reins_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceAccumulatorsApi.get_reins_accum"
      end
      # verify the required parameter 'claim_number' is set
      if @api_client.config.client_side_validation && claim_number.nil?
        fail ArgumentError, "Missing the required parameter 'claim_number' when calling ReinsuranceAccumulatorsApi.get_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators/{subscriberID}/{memberSeq}/{claimNumber}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'claimNumber' + '}', CGI.escape(claim_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.get_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#get_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsAccum
    # Lists all ReinsAccum for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsAccumListVBAResponse]
    def list_reins_accum(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsAccum
    # Lists all ReinsAccum for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsAccumListVBAResponse, Integer, Hash)>] ReinsAccumListVBAResponse data, response status code and response headers
    def list_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.list_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.list_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.list_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsAccumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.list_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#list_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsAccum
    # Create or Update multiple ReinsAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_accum [Array<ReinsAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_accum(vbasoftware_database, reins_contract_key, reins_accum, opts = {})
      data, _status_code, _headers = update_batch_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, reins_accum, opts)
      data
    end

    # Create or Update Batch ReinsAccum
    # Create or Update multiple ReinsAccum at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_accum [Array<ReinsAccum>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, reins_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.update_batch_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.update_batch_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.update_batch_reins_accum"
      end
      # verify the required parameter 'reins_accum' is set
      if @api_client.config.client_side_validation && reins_accum.nil?
        fail ArgumentError, "Missing the required parameter 'reins_accum' when calling ReinsuranceAccumulatorsApi.update_batch_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.update_batch_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#update_batch_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsAccum
    # Updates a specific ReinsAccum.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param reins_accum [ReinsAccum] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsAccumVBAResponse]
    def update_reins_accum(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, reins_accum, opts = {})
      data, _status_code, _headers = update_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, reins_accum, opts)
      data
    end

    # Update ReinsAccum
    # Updates a specific ReinsAccum.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param claim_number [Integer] Claim Number
    # @param reins_accum [ReinsAccum] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsAccumVBAResponse, Integer, Hash)>] ReinsAccumVBAResponse data, response status code and response headers
    def update_reins_accum_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, claim_number, reins_accum, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceAccumulatorsApi.update_reins_accum ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # verify the required parameter 'claim_number' is set
      if @api_client.config.client_side_validation && claim_number.nil?
        fail ArgumentError, "Missing the required parameter 'claim_number' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # verify the required parameter 'reins_accum' is set
      if @api_client.config.client_side_validation && reins_accum.nil?
        fail ArgumentError, "Missing the required parameter 'reins_accum' when calling ReinsuranceAccumulatorsApi.update_reins_accum"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/accumulators/{subscriberID}/{memberSeq}/{claimNumber}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s)).sub('{' + 'claimNumber' + '}', CGI.escape(claim_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_accum)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsAccumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceAccumulatorsApi.update_reins_accum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceAccumulatorsApi#update_reins_accum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
