=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReinsuranceMemberSpecificDeductiblesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReinsContractMemberSpecific
    # Creates a new ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_member_specific [ReinsContractMemberSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractMemberSpecificVBAResponse]
    def create_reins_contract_member_specific(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts = {})
      data, _status_code, _headers = create_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts)
      data
    end

    # Create ReinsContractMemberSpecific
    # Creates a new ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_member_specific [ReinsContractMemberSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractMemberSpecificVBAResponse, Integer, Hash)>] ReinsContractMemberSpecificVBAResponse data, response status code and response headers
    def create_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.create_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.create_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.create_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_member_specific' is set
      if @api_client.config.client_side_validation && reins_contract_member_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_member_specific' when calling ReinsuranceMemberSpecificDeductiblesApi.create_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_member_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractMemberSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.create_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#create_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReinsContractMemberSpecific
    # Deletes an ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reins_contract_member_specific(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts = {})
      delete_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts)
      nil
    end

    # Delete ReinsContractMemberSpecific
    # Deletes an ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles/{subscriberID}/{memberSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.delete_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#delete_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReinsContractMemberSpecific
    # Gets ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractMemberSpecificVBAResponse]
    def get_reins_contract_member_specific(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts = {})
      data, _status_code, _headers = get_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts)
      data
    end

    # Get ReinsContractMemberSpecific
    # Gets ReinsContractMemberSpecific
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractMemberSpecificVBAResponse, Integer, Hash)>] ReinsContractMemberSpecificVBAResponse data, response status code and response headers
    def get_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles/{subscriberID}/{memberSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractMemberSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.get_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#get_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReinsContractMemberSpecific
    # Lists all ReinsContractMemberSpecific for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReinsContractMemberSpecificListVBAResponse]
    def list_reins_contract_member_specific(vbasoftware_database, reins_contract_key, opts = {})
      data, _status_code, _headers = list_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, opts)
      data
    end

    # List ReinsContractMemberSpecific
    # Lists all ReinsContractMemberSpecific for the given reinsContractKey
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReinsContractMemberSpecificListVBAResponse, Integer, Hash)>] ReinsContractMemberSpecificListVBAResponse data, response status code and response headers
    def list_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.list_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.list_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.list_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractMemberSpecificListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.list_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#list_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReinsContractMemberSpecific
    # Create or Update multiple ReinsContractMemberSpecific at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_member_specific [Array<ReinsContractMemberSpecific>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reins_contract_member_specific(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts = {})
      data, _status_code, _headers = update_batch_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts)
      data
    end

    # Create or Update Batch ReinsContractMemberSpecific
    # Create or Update multiple ReinsContractMemberSpecific at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param reins_contract_member_specific [Array<ReinsContractMemberSpecific>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, reins_contract_member_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.update_batch_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.update_batch_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.update_batch_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_member_specific' is set
      if @api_client.config.client_side_validation && reins_contract_member_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_member_specific' when calling ReinsuranceMemberSpecificDeductiblesApi.update_batch_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles-batch'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_member_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.update_batch_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#update_batch_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReinsContractMemberSpecific
    # Updates a specific ReinsContractMemberSpecific.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param reins_contract_member_specific [ReinsContractMemberSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [ReinsContractMemberSpecificVBAResponse]
    def update_reins_contract_member_specific(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, reins_contract_member_specific, opts = {})
      data, _status_code, _headers = update_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, reins_contract_member_specific, opts)
      data
    end

    # Update ReinsContractMemberSpecific
    # Updates a specific ReinsContractMemberSpecific.
    # @param vbasoftware_database [String] Target database
    # @param reins_contract_key [Integer] ReinsContract Key
    # @param subscriber_id [String] Subscriber ID
    # @param member_seq [String] Member Seq
    # @param reins_contract_member_specific [ReinsContractMemberSpecific] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReinsContractMemberSpecificVBAResponse, Integer, Hash)>] ReinsContractMemberSpecificVBAResponse data, response status code and response headers
    def update_reins_contract_member_specific_with_http_info(vbasoftware_database, reins_contract_key, subscriber_id, member_seq, reins_contract_member_specific, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_key' is set
      if @api_client.config.client_side_validation && reins_contract_key.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_key' when calling ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific"
      end
      # verify the required parameter 'member_seq' is set
      if @api_client.config.client_side_validation && member_seq.nil?
        fail ArgumentError, "Missing the required parameter 'member_seq' when calling ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific"
      end
      # verify the required parameter 'reins_contract_member_specific' is set
      if @api_client.config.client_side_validation && reins_contract_member_specific.nil?
        fail ArgumentError, "Missing the required parameter 'reins_contract_member_specific' when calling ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific"
      end
      # resource path
      local_var_path = '/reinsurance-contracts/{reinsContractKey}/member-specific-deductibles/{subscriberID}/{memberSeq}'.sub('{' + 'reinsContractKey' + '}', CGI.escape(reins_contract_key.to_s)).sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'memberSeq' + '}', CGI.escape(member_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reins_contract_member_specific)

      # return_type
      return_type = opts[:debug_return_type] || 'ReinsContractMemberSpecificVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReinsuranceMemberSpecificDeductiblesApi.update_reins_contract_member_specific",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReinsuranceMemberSpecificDeductiblesApi#update_reins_contract_member_specific\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
