=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class RelationshipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Relationships
    # Creates a new Relationships
    # @param vbasoftware_database [String] Target database
    # @param relationships [Relationships] 
    # @param [Hash] opts the optional parameters
    # @return [RelationshipsVBAResponse]
    def create_relationships(vbasoftware_database, relationships, opts = {})
      data, _status_code, _headers = create_relationships_with_http_info(vbasoftware_database, relationships, opts)
      data
    end

    # Create Relationships
    # Creates a new Relationships
    # @param vbasoftware_database [String] Target database
    # @param relationships [Relationships] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RelationshipsVBAResponse, Integer, Hash)>] RelationshipsVBAResponse data, response status code and response headers
    def create_relationships_with_http_info(vbasoftware_database, relationships, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.create_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.create_relationships"
      end
      # verify the required parameter 'relationships' is set
      if @api_client.config.client_side_validation && relationships.nil?
        fail ArgumentError, "Missing the required parameter 'relationships' when calling RelationshipsApi.create_relationships"
      end
      # resource path
      local_var_path = '/relationships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(relationships)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.create_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#create_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Relationships
    # Deletes an Relationships
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_relationships(vbasoftware_database, relate_code, opts = {})
      delete_relationships_with_http_info(vbasoftware_database, relate_code, opts)
      nil
    end

    # Delete Relationships
    # Deletes an Relationships
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_relationships_with_http_info(vbasoftware_database, relate_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.delete_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.delete_relationships"
      end
      # verify the required parameter 'relate_code' is set
      if @api_client.config.client_side_validation && relate_code.nil?
        fail ArgumentError, "Missing the required parameter 'relate_code' when calling RelationshipsApi.delete_relationships"
      end
      # resource path
      local_var_path = '/relationships/{relateCode}'.sub('{' + 'relateCode' + '}', CGI.escape(relate_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.delete_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#delete_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Relationships
    # Gets Relationships
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param [Hash] opts the optional parameters
    # @return [RelationshipsVBAResponse]
    def get_relationships(vbasoftware_database, relate_code, opts = {})
      data, _status_code, _headers = get_relationships_with_http_info(vbasoftware_database, relate_code, opts)
      data
    end

    # Get Relationships
    # Gets Relationships
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(RelationshipsVBAResponse, Integer, Hash)>] RelationshipsVBAResponse data, response status code and response headers
    def get_relationships_with_http_info(vbasoftware_database, relate_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.get_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.get_relationships"
      end
      # verify the required parameter 'relate_code' is set
      if @api_client.config.client_side_validation && relate_code.nil?
        fail ArgumentError, "Missing the required parameter 'relate_code' when calling RelationshipsApi.get_relationships"
      end
      # resource path
      local_var_path = '/relationships/{relateCode}'.sub('{' + 'relateCode' + '}', CGI.escape(relate_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.get_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#get_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Relationships
    # Lists all Relationships 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [RelationshipsListVBAResponse]
    def list_relationships(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_relationships_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Relationships
    # Lists all Relationships 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(RelationshipsListVBAResponse, Integer, Hash)>] RelationshipsListVBAResponse data, response status code and response headers
    def list_relationships_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.list_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.list_relationships"
      end
      # resource path
      local_var_path = '/relationships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipsListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.list_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#list_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Relationships
    # Create or Update multiple Relationships at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param relationships [Array<Relationships>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_relationships(vbasoftware_database, relationships, opts = {})
      data, _status_code, _headers = update_batch_relationships_with_http_info(vbasoftware_database, relationships, opts)
      data
    end

    # Create or Update Batch Relationships
    # Create or Update multiple Relationships at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param relationships [Array<Relationships>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_relationships_with_http_info(vbasoftware_database, relationships, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.update_batch_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.update_batch_relationships"
      end
      # verify the required parameter 'relationships' is set
      if @api_client.config.client_side_validation && relationships.nil?
        fail ArgumentError, "Missing the required parameter 'relationships' when calling RelationshipsApi.update_batch_relationships"
      end
      # resource path
      local_var_path = '/relationships-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(relationships)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.update_batch_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#update_batch_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Relationships
    # Updates a specific Relationships.
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param relationships [Relationships] 
    # @param [Hash] opts the optional parameters
    # @return [RelationshipsVBAResponse]
    def update_relationships(vbasoftware_database, relate_code, relationships, opts = {})
      data, _status_code, _headers = update_relationships_with_http_info(vbasoftware_database, relate_code, relationships, opts)
      data
    end

    # Update Relationships
    # Updates a specific Relationships.
    # @param vbasoftware_database [String] Target database
    # @param relate_code [String] Relate Code
    # @param relationships [Relationships] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RelationshipsVBAResponse, Integer, Hash)>] RelationshipsVBAResponse data, response status code and response headers
    def update_relationships_with_http_info(vbasoftware_database, relate_code, relationships, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.update_relationships ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling RelationshipsApi.update_relationships"
      end
      # verify the required parameter 'relate_code' is set
      if @api_client.config.client_side_validation && relate_code.nil?
        fail ArgumentError, "Missing the required parameter 'relate_code' when calling RelationshipsApi.update_relationships"
      end
      # verify the required parameter 'relationships' is set
      if @api_client.config.client_side_validation && relationships.nil?
        fail ArgumentError, "Missing the required parameter 'relationships' when calling RelationshipsApi.update_relationships"
      end
      # resource path
      local_var_path = '/relationships/{relateCode}'.sub('{' + 'relateCode' + '}', CGI.escape(relate_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(relationships)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipsVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.update_relationships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#update_relationships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
