=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportTrackingSentToApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportTrackSentTo
    # Creates a new ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_sent_to [ReportTrackSentTo] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackSentToVBAResponse]
    def create_report_track_sent_to(vbasoftware_database, report_definition_key, report_track_sent_to, opts = {})
      data, _status_code, _headers = create_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, report_track_sent_to, opts)
      data
    end

    # Create ReportTrackSentTo
    # Creates a new ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_sent_to [ReportTrackSentTo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackSentToVBAResponse, Integer, Hash)>] ReportTrackSentToVBAResponse data, response status code and response headers
    def create_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, report_track_sent_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.create_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.create_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.create_report_track_sent_to"
      end
      # verify the required parameter 'report_track_sent_to' is set
      if @api_client.config.client_side_validation && report_track_sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_sent_to' when calling ReportTrackingSentToApi.create_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_sent_to)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackSentToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.create_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#create_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportTrackSentTo
    # Deletes an ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_track_sent_to(vbasoftware_database, report_definition_key, sent_to, opts = {})
      delete_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, opts)
      nil
    end

    # Delete ReportTrackSentTo
    # Deletes an ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.delete_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.delete_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.delete_report_track_sent_to"
      end
      # verify the required parameter 'sent_to' is set
      if @api_client.config.client_side_validation && sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'sent_to' when calling ReportTrackingSentToApi.delete_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to/{sentTo}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'sentTo' + '}', CGI.escape(sent_to.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.delete_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#delete_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportTrackSentTo
    # Gets ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackSentToVBAResponse]
    def get_report_track_sent_to(vbasoftware_database, report_definition_key, sent_to, opts = {})
      data, _status_code, _headers = get_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, opts)
      data
    end

    # Get ReportTrackSentTo
    # Gets ReportTrackSentTo
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackSentToVBAResponse, Integer, Hash)>] ReportTrackSentToVBAResponse data, response status code and response headers
    def get_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.get_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.get_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.get_report_track_sent_to"
      end
      # verify the required parameter 'sent_to' is set
      if @api_client.config.client_side_validation && sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'sent_to' when calling ReportTrackingSentToApi.get_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to/{sentTo}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'sentTo' + '}', CGI.escape(sent_to.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackSentToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.get_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#get_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportTrackSentTo
    # Lists all ReportTrackSentTo for the given reportDefinitionKey
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportTrackSentToListVBAResponse]
    def list_report_track_sent_to(vbasoftware_database, report_definition_key, opts = {})
      data, _status_code, _headers = list_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, opts)
      data
    end

    # List ReportTrackSentTo
    # Lists all ReportTrackSentTo for the given reportDefinitionKey
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportTrackSentToListVBAResponse, Integer, Hash)>] ReportTrackSentToListVBAResponse data, response status code and response headers
    def list_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.list_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.list_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.list_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackSentToListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.list_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#list_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportTrackSentTo
    # Create or Update multiple ReportTrackSentTo at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_sent_to [Array<ReportTrackSentTo>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_track_sent_to(vbasoftware_database, report_definition_key, report_track_sent_to, opts = {})
      data, _status_code, _headers = update_batch_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, report_track_sent_to, opts)
      data
    end

    # Create or Update Batch ReportTrackSentTo
    # Create or Update multiple ReportTrackSentTo at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_sent_to [Array<ReportTrackSentTo>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, report_track_sent_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.update_batch_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.update_batch_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.update_batch_report_track_sent_to"
      end
      # verify the required parameter 'report_track_sent_to' is set
      if @api_client.config.client_side_validation && report_track_sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_sent_to' when calling ReportTrackingSentToApi.update_batch_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to-batch'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_sent_to)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.update_batch_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#update_batch_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportTrackSentTo
    # Updates a specific ReportTrackSentTo.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param report_track_sent_to [ReportTrackSentTo] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackSentToVBAResponse]
    def update_report_track_sent_to(vbasoftware_database, report_definition_key, sent_to, report_track_sent_to, opts = {})
      data, _status_code, _headers = update_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, report_track_sent_to, opts)
      data
    end

    # Update ReportTrackSentTo
    # Updates a specific ReportTrackSentTo.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param sent_to [String] Sent To
    # @param report_track_sent_to [ReportTrackSentTo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackSentToVBAResponse, Integer, Hash)>] ReportTrackSentToVBAResponse data, response status code and response headers
    def update_report_track_sent_to_with_http_info(vbasoftware_database, report_definition_key, sent_to, report_track_sent_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingSentToApi.update_report_track_sent_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingSentToApi.update_report_track_sent_to"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingSentToApi.update_report_track_sent_to"
      end
      # verify the required parameter 'sent_to' is set
      if @api_client.config.client_side_validation && sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'sent_to' when calling ReportTrackingSentToApi.update_report_track_sent_to"
      end
      # verify the required parameter 'report_track_sent_to' is set
      if @api_client.config.client_side_validation && report_track_sent_to.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_sent_to' when calling ReportTrackingSentToApi.update_report_track_sent_to"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/sent-to/{sentTo}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'sentTo' + '}', CGI.escape(sent_to.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_sent_to)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackSentToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingSentToApi.update_report_track_sent_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingSentToApi#update_report_track_sent_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
