=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportQueueSchedulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportQueueSchedule
    # Creates a new ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule [ReportQueueSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueScheduleVBAResponse]
    def create_report_queue_schedule(vbasoftware_database, report_queue_schedule, opts = {})
      data, _status_code, _headers = create_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule, opts)
      data
    end

    # Create ReportQueueSchedule
    # Creates a new ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule [ReportQueueSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueScheduleVBAResponse, Integer, Hash)>] ReportQueueScheduleVBAResponse data, response status code and response headers
    def create_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.create_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.create_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule' is set
      if @api_client.config.client_side_validation && report_queue_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule' when calling ReportQueueSchedulesApi.create_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.create_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#create_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportQueueSchedule
    # Deletes an ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_queue_schedule(vbasoftware_database, report_queue_schedule_key, opts = {})
      delete_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, opts)
      nil
    end

    # Delete ReportQueueSchedule
    # Deletes an ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.delete_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.delete_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule_key' is set
      if @api_client.config.client_side_validation && report_queue_schedule_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule_key' when calling ReportQueueSchedulesApi.delete_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules/{reportQueueScheduleKey}'.sub('{' + 'reportQueueScheduleKey' + '}', CGI.escape(report_queue_schedule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.delete_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#delete_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportQueueSchedule
    # Gets ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueScheduleVBAResponse]
    def get_report_queue_schedule(vbasoftware_database, report_queue_schedule_key, opts = {})
      data, _status_code, _headers = get_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, opts)
      data
    end

    # Get ReportQueueSchedule
    # Gets ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueScheduleVBAResponse, Integer, Hash)>] ReportQueueScheduleVBAResponse data, response status code and response headers
    def get_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.get_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.get_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule_key' is set
      if @api_client.config.client_side_validation && report_queue_schedule_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule_key' when calling ReportQueueSchedulesApi.get_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules/{reportQueueScheduleKey}'.sub('{' + 'reportQueueScheduleKey' + '}', CGI.escape(report_queue_schedule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.get_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#get_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportQueueSchedule
    # Lists all ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_queue_key Filter by ReportQueue_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportQueueScheduleListVBAResponse]
    def list_report_queue_schedule(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_queue_schedule_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportQueueSchedule
    # Lists all ReportQueueSchedule
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_queue_key Filter by ReportQueue_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportQueueScheduleListVBAResponse, Integer, Hash)>] ReportQueueScheduleListVBAResponse data, response status code and response headers
    def list_report_queue_schedule_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.list_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.list_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reportQueueKey'] = opts[:'report_queue_key'] if !opts[:'report_queue_key'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueScheduleListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.list_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#list_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportQueueSchedule
    # Create or Update multiple ReportQueueSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule [Array<ReportQueueSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_queue_schedule(vbasoftware_database, report_queue_schedule, opts = {})
      data, _status_code, _headers = update_batch_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule, opts)
      data
    end

    # Create or Update Batch ReportQueueSchedule
    # Create or Update multiple ReportQueueSchedule at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule [Array<ReportQueueSchedule>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.update_batch_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.update_batch_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule' is set
      if @api_client.config.client_side_validation && report_queue_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule' when calling ReportQueueSchedulesApi.update_batch_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.update_batch_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#update_batch_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportQueueSchedule
    # Updates a specific ReportQueueSchedule.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param report_queue_schedule [ReportQueueSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueScheduleVBAResponse]
    def update_report_queue_schedule(vbasoftware_database, report_queue_schedule_key, report_queue_schedule, opts = {})
      data, _status_code, _headers = update_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, report_queue_schedule, opts)
      data
    end

    # Update ReportQueueSchedule
    # Updates a specific ReportQueueSchedule.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_schedule_key [Integer] ReportQueueSchedule Key
    # @param report_queue_schedule [ReportQueueSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueScheduleVBAResponse, Integer, Hash)>] ReportQueueScheduleVBAResponse data, response status code and response headers
    def update_report_queue_schedule_with_http_info(vbasoftware_database, report_queue_schedule_key, report_queue_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueSchedulesApi.update_report_queue_schedule ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueSchedulesApi.update_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule_key' is set
      if @api_client.config.client_side_validation && report_queue_schedule_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule_key' when calling ReportQueueSchedulesApi.update_report_queue_schedule"
      end
      # verify the required parameter 'report_queue_schedule' is set
      if @api_client.config.client_side_validation && report_queue_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_schedule' when calling ReportQueueSchedulesApi.update_report_queue_schedule"
      end
      # resource path
      local_var_path = '/report-queue-schedules/{reportQueueScheduleKey}'.sub('{' + 'reportQueueScheduleKey' + '}', CGI.escape(report_queue_schedule_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueScheduleVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueSchedulesApi.update_report_queue_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueSchedulesApi#update_report_queue_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
