=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportSeriesProcessesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportSeriesProcess
    # Creates a new ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process [ReportSeriesProcess] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesProcessVBAResponse]
    def create_report_series_process(vbasoftware_database, report_series_process, opts = {})
      data, _status_code, _headers = create_report_series_process_with_http_info(vbasoftware_database, report_series_process, opts)
      data
    end

    # Create ReportSeriesProcess
    # Creates a new ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process [ReportSeriesProcess] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesProcessVBAResponse, Integer, Hash)>] ReportSeriesProcessVBAResponse data, response status code and response headers
    def create_report_series_process_with_http_info(vbasoftware_database, report_series_process, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.create_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.create_report_series_process"
      end
      # verify the required parameter 'report_series_process' is set
      if @api_client.config.client_side_validation && report_series_process.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process' when calling ReportSeriesProcessesApi.create_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_process)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.create_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#create_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportSeriesProcess
    # Deletes an ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_series_process(vbasoftware_database, report_series_process_key, opts = {})
      delete_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, opts)
      nil
    end

    # Delete ReportSeriesProcess
    # Deletes an ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.delete_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.delete_report_series_process"
      end
      # verify the required parameter 'report_series_process_key' is set
      if @api_client.config.client_side_validation && report_series_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process_key' when calling ReportSeriesProcessesApi.delete_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes/{reportSeriesProcessKey}'.sub('{' + 'reportSeriesProcessKey' + '}', CGI.escape(report_series_process_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.delete_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#delete_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportSeriesProcess
    # Gets ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesProcessVBAResponse]
    def get_report_series_process(vbasoftware_database, report_series_process_key, opts = {})
      data, _status_code, _headers = get_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, opts)
      data
    end

    # Get ReportSeriesProcess
    # Gets ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesProcessVBAResponse, Integer, Hash)>] ReportSeriesProcessVBAResponse data, response status code and response headers
    def get_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.get_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.get_report_series_process"
      end
      # verify the required parameter 'report_series_process_key' is set
      if @api_client.config.client_side_validation && report_series_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process_key' when calling ReportSeriesProcessesApi.get_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes/{reportSeriesProcessKey}'.sub('{' + 'reportSeriesProcessKey' + '}', CGI.escape(report_series_process_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.get_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#get_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportSeriesProcess
    # Lists all ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportSeriesProcessListVBAResponse]
    def list_report_series_process(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_series_process_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportSeriesProcess
    # Lists all ReportSeriesProcess
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportSeriesProcessListVBAResponse, Integer, Hash)>] ReportSeriesProcessListVBAResponse data, response status code and response headers
    def list_report_series_process_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.list_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.list_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesProcessListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.list_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#list_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Invoice Process Automation
    # This will trigger Generate Invoice Process Automation.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def report_series_process_generate_invoice(vbasoftware_database, invoice_key, opts = {})
      report_series_process_generate_invoice_with_http_info(vbasoftware_database, invoice_key, opts)
      nil
    end

    # Generate Invoice Process Automation
    # This will trigger Generate Invoice Process Automation.
    # @param vbasoftware_database [String] Target database
    # @param invoice_key [Integer] Invoice Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def report_series_process_generate_invoice_with_http_info(vbasoftware_database, invoice_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.report_series_process_generate_invoice ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.report_series_process_generate_invoice"
      end
      # verify the required parameter 'invoice_key' is set
      if @api_client.config.client_side_validation && invoice_key.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_key' when calling ReportSeriesProcessesApi.report_series_process_generate_invoice"
      end
      # resource path
      local_var_path = '/report-series-process-generate-invoice/{invoiceKey}'.sub('{' + 'invoiceKey' + '}', CGI.escape(invoice_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.report_series_process_generate_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#report_series_process_generate_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportSeriesProcess
    # Create or Update multiple ReportSeriesProcess at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_process [Array<ReportSeriesProcess>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_series_process(vbasoftware_database, report_series_process, opts = {})
      data, _status_code, _headers = update_batch_report_series_process_with_http_info(vbasoftware_database, report_series_process, opts)
      data
    end

    # Create or Update Batch ReportSeriesProcess
    # Create or Update multiple ReportSeriesProcess at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_process [Array<ReportSeriesProcess>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_series_process_with_http_info(vbasoftware_database, report_series_process, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.update_batch_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.update_batch_report_series_process"
      end
      # verify the required parameter 'report_series_process' is set
      if @api_client.config.client_side_validation && report_series_process.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process' when calling ReportSeriesProcessesApi.update_batch_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_process)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.update_batch_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#update_batch_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportSeriesProcess
    # Updates a specific ReportSeriesProcess.
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param report_series_process [ReportSeriesProcess] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesProcessVBAResponse]
    def update_report_series_process(vbasoftware_database, report_series_process_key, report_series_process, opts = {})
      data, _status_code, _headers = update_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, report_series_process, opts)
      data
    end

    # Update ReportSeriesProcess
    # Updates a specific ReportSeriesProcess.
    # @param vbasoftware_database [String] Target database
    # @param report_series_process_key [Integer] ReportSeriesProcess Key
    # @param report_series_process [ReportSeriesProcess] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesProcessVBAResponse, Integer, Hash)>] ReportSeriesProcessVBAResponse data, response status code and response headers
    def update_report_series_process_with_http_info(vbasoftware_database, report_series_process_key, report_series_process, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesProcessesApi.update_report_series_process ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesProcessesApi.update_report_series_process"
      end
      # verify the required parameter 'report_series_process_key' is set
      if @api_client.config.client_side_validation && report_series_process_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process_key' when calling ReportSeriesProcessesApi.update_report_series_process"
      end
      # verify the required parameter 'report_series_process' is set
      if @api_client.config.client_side_validation && report_series_process.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_process' when calling ReportSeriesProcessesApi.update_report_series_process"
      end
      # resource path
      local_var_path = '/report-series-processes/{reportSeriesProcessKey}'.sub('{' + 'reportSeriesProcessKey' + '}', CGI.escape(report_series_process_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_process)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesProcessVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesProcessesApi.update_report_series_process",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesProcessesApi#update_report_series_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
