=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportSeriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportSeries
    # Creates a new ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series [ReportSeries] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesVBAResponse]
    def create_report_series(vbasoftware_database, report_series, opts = {})
      data, _status_code, _headers = create_report_series_with_http_info(vbasoftware_database, report_series, opts)
      data
    end

    # Create ReportSeries
    # Creates a new ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series [ReportSeries] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesVBAResponse, Integer, Hash)>] ReportSeriesVBAResponse data, response status code and response headers
    def create_report_series_with_http_info(vbasoftware_database, report_series, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.create_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.create_report_series"
      end
      # verify the required parameter 'report_series' is set
      if @api_client.config.client_side_validation && report_series.nil?
        fail ArgumentError, "Missing the required parameter 'report_series' when calling ReportSeriesApi.create_report_series"
      end
      # resource path
      local_var_path = '/report-series'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.create_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#create_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportSeries
    # Deletes an ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_series(vbasoftware_database, report_series_key, opts = {})
      delete_report_series_with_http_info(vbasoftware_database, report_series_key, opts)
      nil
    end

    # Delete ReportSeries
    # Deletes an ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_series_with_http_info(vbasoftware_database, report_series_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.delete_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.delete_report_series"
      end
      # verify the required parameter 'report_series_key' is set
      if @api_client.config.client_side_validation && report_series_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_key' when calling ReportSeriesApi.delete_report_series"
      end
      # resource path
      local_var_path = '/report-series/{reportSeriesKey}'.sub('{' + 'reportSeriesKey' + '}', CGI.escape(report_series_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.delete_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#delete_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportSeries
    # Gets ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesVBAResponse]
    def get_report_series(vbasoftware_database, report_series_key, opts = {})
      data, _status_code, _headers = get_report_series_with_http_info(vbasoftware_database, report_series_key, opts)
      data
    end

    # Get ReportSeries
    # Gets ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesVBAResponse, Integer, Hash)>] ReportSeriesVBAResponse data, response status code and response headers
    def get_report_series_with_http_info(vbasoftware_database, report_series_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.get_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.get_report_series"
      end
      # verify the required parameter 'report_series_key' is set
      if @api_client.config.client_side_validation && report_series_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_key' when calling ReportSeriesApi.get_report_series"
      end
      # resource path
      local_var_path = '/report-series/{reportSeriesKey}'.sub('{' + 'reportSeriesKey' + '}', CGI.escape(report_series_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.get_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#get_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportSeries
    # Lists all ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :series_type Series Type (STANDARD | TEMPLATE)
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportSeriesListVBAResponse]
    def list_report_series(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_series_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportSeries
    # Lists all ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :series_type Series Type (STANDARD | TEMPLATE)
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportSeriesListVBAResponse, Integer, Hash)>] ReportSeriesListVBAResponse data, response status code and response headers
    def list_report_series_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.list_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.list_report_series"
      end
      # resource path
      local_var_path = '/report-series'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'seriesType'] = opts[:'series_type'] if !opts[:'series_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.list_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#list_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportSeries Users
    # Lists all ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [StringStaticOptionListVBAResponse]
    def list_report_series_users(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_series_users_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportSeries Users
    # Lists all ReportSeries
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(StringStaticOptionListVBAResponse, Integer, Hash)>] StringStaticOptionListVBAResponse data, response status code and response headers
    def list_report_series_users_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.list_report_series_users ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.list_report_series_users"
      end
      # resource path
      local_var_path = '/report-series-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringStaticOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.list_report_series_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#list_report_series_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportSeries
    # Create or Update multiple ReportSeries at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series [Array<ReportSeries>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_series(vbasoftware_database, report_series, opts = {})
      data, _status_code, _headers = update_batch_report_series_with_http_info(vbasoftware_database, report_series, opts)
      data
    end

    # Create or Update Batch ReportSeries
    # Create or Update multiple ReportSeries at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series [Array<ReportSeries>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_series_with_http_info(vbasoftware_database, report_series, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.update_batch_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.update_batch_report_series"
      end
      # verify the required parameter 'report_series' is set
      if @api_client.config.client_side_validation && report_series.nil?
        fail ArgumentError, "Missing the required parameter 'report_series' when calling ReportSeriesApi.update_batch_report_series"
      end
      # resource path
      local_var_path = '/report-series-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.update_batch_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#update_batch_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportSeries
    # Updates a specific ReportSeries.
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param report_series [ReportSeries] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesVBAResponse]
    def update_report_series(vbasoftware_database, report_series_key, report_series, opts = {})
      data, _status_code, _headers = update_report_series_with_http_info(vbasoftware_database, report_series_key, report_series, opts)
      data
    end

    # Update ReportSeries
    # Updates a specific ReportSeries.
    # @param vbasoftware_database [String] Target database
    # @param report_series_key [Integer] ReportSeries Key
    # @param report_series [ReportSeries] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesVBAResponse, Integer, Hash)>] ReportSeriesVBAResponse data, response status code and response headers
    def update_report_series_with_http_info(vbasoftware_database, report_series_key, report_series, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesApi.update_report_series ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesApi.update_report_series"
      end
      # verify the required parameter 'report_series_key' is set
      if @api_client.config.client_side_validation && report_series_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_key' when calling ReportSeriesApi.update_report_series"
      end
      # verify the required parameter 'report_series' is set
      if @api_client.config.client_side_validation && report_series.nil?
        fail ArgumentError, "Missing the required parameter 'report_series' when calling ReportSeriesApi.update_report_series"
      end
      # resource path
      local_var_path = '/report-series/{reportSeriesKey}'.sub('{' + 'reportSeriesKey' + '}', CGI.escape(report_series_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesApi.update_report_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesApi#update_report_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
