=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportQueueDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportQueueDetail
    # Creates a new ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail [ReportQueueDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueDetailVBAResponse]
    def create_report_queue_detail(vbasoftware_database, report_queue_key, report_queue_detail, opts = {})
      data, _status_code, _headers = create_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail, opts)
      data
    end

    # Create ReportQueueDetail
    # Creates a new ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail [ReportQueueDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueDetailVBAResponse, Integer, Hash)>] ReportQueueDetailVBAResponse data, response status code and response headers
    def create_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.create_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.create_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.create_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail' is set
      if @api_client.config.client_side_validation && report_queue_detail.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail' when calling ReportQueueDetailsApi.create_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.create_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#create_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportQueueDetail
    # Deletes an ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_queue_detail(vbasoftware_database, report_queue_key, report_queue_detail_key, opts = {})
      delete_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, opts)
      nil
    end

    # Delete ReportQueueDetail
    # Deletes an ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.delete_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.delete_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.delete_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail_key' is set
      if @api_client.config.client_side_validation && report_queue_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail_key' when calling ReportQueueDetailsApi.delete_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details/{reportQueueDetailKey}'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s)).sub('{' + 'reportQueueDetailKey' + '}', CGI.escape(report_queue_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.delete_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#delete_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportQueueDetail
    # Gets ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueDetailVBAResponse]
    def get_report_queue_detail(vbasoftware_database, report_queue_key, report_queue_detail_key, opts = {})
      data, _status_code, _headers = get_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, opts)
      data
    end

    # Get ReportQueueDetail
    # Gets ReportQueueDetail
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueDetailVBAResponse, Integer, Hash)>] ReportQueueDetailVBAResponse data, response status code and response headers
    def get_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.get_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.get_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.get_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail_key' is set
      if @api_client.config.client_side_validation && report_queue_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail_key' when calling ReportQueueDetailsApi.get_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details/{reportQueueDetailKey}'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s)).sub('{' + 'reportQueueDetailKey' + '}', CGI.escape(report_queue_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.get_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#get_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportQueueDetail
    # Lists all ReportQueueDetail for the given reportQueueKey
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportQueueDetailListVBAResponse]
    def list_report_queue_detail(vbasoftware_database, report_queue_key, opts = {})
      data, _status_code, _headers = list_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, opts)
      data
    end

    # List ReportQueueDetail
    # Lists all ReportQueueDetail for the given reportQueueKey
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportQueueDetailListVBAResponse, Integer, Hash)>] ReportQueueDetailListVBAResponse data, response status code and response headers
    def list_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.list_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.list_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.list_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.list_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#list_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportQueueDetail
    # Create or Update multiple ReportQueueDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail [Array<ReportQueueDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_queue_detail(vbasoftware_database, report_queue_key, report_queue_detail, opts = {})
      data, _status_code, _headers = update_batch_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail, opts)
      data
    end

    # Create or Update Batch ReportQueueDetail
    # Create or Update multiple ReportQueueDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail [Array<ReportQueueDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.update_batch_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.update_batch_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.update_batch_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail' is set
      if @api_client.config.client_side_validation && report_queue_detail.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail' when calling ReportQueueDetailsApi.update_batch_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details-batch'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.update_batch_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#update_batch_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportQueueDetail
    # Updates a specific ReportQueueDetail.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param report_queue_detail [ReportQueueDetail] 
    # @param [Hash] opts the optional parameters
    # @return [ReportQueueDetailVBAResponse]
    def update_report_queue_detail(vbasoftware_database, report_queue_key, report_queue_detail_key, report_queue_detail, opts = {})
      data, _status_code, _headers = update_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, report_queue_detail, opts)
      data
    end

    # Update ReportQueueDetail
    # Updates a specific ReportQueueDetail.
    # @param vbasoftware_database [String] Target database
    # @param report_queue_key [Integer] ReportQueue Key
    # @param report_queue_detail_key [Integer] ReportQueueDetail Key
    # @param report_queue_detail [ReportQueueDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportQueueDetailVBAResponse, Integer, Hash)>] ReportQueueDetailVBAResponse data, response status code and response headers
    def update_report_queue_detail_with_http_info(vbasoftware_database, report_queue_key, report_queue_detail_key, report_queue_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportQueueDetailsApi.update_report_queue_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportQueueDetailsApi.update_report_queue_detail"
      end
      # verify the required parameter 'report_queue_key' is set
      if @api_client.config.client_side_validation && report_queue_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_key' when calling ReportQueueDetailsApi.update_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail_key' is set
      if @api_client.config.client_side_validation && report_queue_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail_key' when calling ReportQueueDetailsApi.update_report_queue_detail"
      end
      # verify the required parameter 'report_queue_detail' is set
      if @api_client.config.client_side_validation && report_queue_detail.nil?
        fail ArgumentError, "Missing the required parameter 'report_queue_detail' when calling ReportQueueDetailsApi.update_report_queue_detail"
      end
      # resource path
      local_var_path = '/report-queues/{reportQueueKey}/details/{reportQueueDetailKey}'.sub('{' + 'reportQueueKey' + '}', CGI.escape(report_queue_key.to_s)).sub('{' + 'reportQueueDetailKey' + '}', CGI.escape(report_queue_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_queue_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportQueueDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportQueueDetailsApi.update_report_queue_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportQueueDetailsApi#update_report_queue_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
