=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportDefinitionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportDefinition
    # Creates a new ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition [ReportDefinition] 
    # @param [Hash] opts the optional parameters
    # @return [ReportDefinitionVBAResponse]
    def create_report_definition(vbasoftware_database, report_definition, opts = {})
      data, _status_code, _headers = create_report_definition_with_http_info(vbasoftware_database, report_definition, opts)
      data
    end

    # Create ReportDefinition
    # Creates a new ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition [ReportDefinition] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportDefinitionVBAResponse, Integer, Hash)>] ReportDefinitionVBAResponse data, response status code and response headers
    def create_report_definition_with_http_info(vbasoftware_database, report_definition, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.create_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.create_report_definition"
      end
      # verify the required parameter 'report_definition' is set
      if @api_client.config.client_side_validation && report_definition.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition' when calling ReportDefinitionsApi.create_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_definition)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportDefinitionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.create_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#create_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportDefinition
    # Deletes an ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_definition(vbasoftware_database, report_definition_key, opts = {})
      delete_report_definition_with_http_info(vbasoftware_database, report_definition_key, opts)
      nil
    end

    # Delete ReportDefinition
    # Deletes an ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_definition_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.delete_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.delete_report_definition"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportDefinitionsApi.delete_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.delete_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#delete_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportDefinition
    # Gets ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [ReportDefinitionVBAResponse]
    def get_report_definition(vbasoftware_database, report_definition_key, opts = {})
      data, _status_code, _headers = get_report_definition_with_http_info(vbasoftware_database, report_definition_key, opts)
      data
    end

    # Get ReportDefinition
    # Gets ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportDefinitionVBAResponse, Integer, Hash)>] ReportDefinitionVBAResponse data, response status code and response headers
    def get_report_definition_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.get_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.get_report_definition"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportDefinitionsApi.get_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportDefinitionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.get_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#get_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportDefinition
    # Lists all ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :criteria_object Criteria Object
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportDefinitionListVBAResponse]
    def list_report_definition(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_definition_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportDefinition
    # Lists all ReportDefinition
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :criteria_object Criteria Object
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportDefinitionListVBAResponse, Integer, Hash)>] ReportDefinitionListVBAResponse data, response status code and response headers
    def list_report_definition_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.list_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.list_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'criteriaObject'] = opts[:'criteria_object'] if !opts[:'criteria_object'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportDefinitionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.list_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#list_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportDefinition
    # Create or Update multiple ReportDefinition at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition [Array<ReportDefinition>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_definition(vbasoftware_database, report_definition, opts = {})
      data, _status_code, _headers = update_batch_report_definition_with_http_info(vbasoftware_database, report_definition, opts)
      data
    end

    # Create or Update Batch ReportDefinition
    # Create or Update multiple ReportDefinition at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition [Array<ReportDefinition>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_definition_with_http_info(vbasoftware_database, report_definition, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.update_batch_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.update_batch_report_definition"
      end
      # verify the required parameter 'report_definition' is set
      if @api_client.config.client_side_validation && report_definition.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition' when calling ReportDefinitionsApi.update_batch_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_definition)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.update_batch_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#update_batch_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportDefinition
    # Updates a specific ReportDefinition.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_definition [ReportDefinition] 
    # @param [Hash] opts the optional parameters
    # @return [ReportDefinitionVBAResponse]
    def update_report_definition(vbasoftware_database, report_definition_key, report_definition, opts = {})
      data, _status_code, _headers = update_report_definition_with_http_info(vbasoftware_database, report_definition_key, report_definition, opts)
      data
    end

    # Update ReportDefinition
    # Updates a specific ReportDefinition.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_definition [ReportDefinition] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportDefinitionVBAResponse, Integer, Hash)>] ReportDefinitionVBAResponse data, response status code and response headers
    def update_report_definition_with_http_info(vbasoftware_database, report_definition_key, report_definition, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportDefinitionsApi.update_report_definition ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportDefinitionsApi.update_report_definition"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportDefinitionsApi.update_report_definition"
      end
      # verify the required parameter 'report_definition' is set
      if @api_client.config.client_side_validation && report_definition.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition' when calling ReportDefinitionsApi.update_report_definition"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_definition)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportDefinitionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportDefinitionsApi.update_report_definition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportDefinitionsApi#update_report_definition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
