=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportTrackingPrioritiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportTrackPriority
    # Creates a new ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_priority [ReportTrackPriority] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackPriorityVBAResponse]
    def create_report_track_priority(vbasoftware_database, report_definition_key, report_track_priority, opts = {})
      data, _status_code, _headers = create_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, report_track_priority, opts)
      data
    end

    # Create ReportTrackPriority
    # Creates a new ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_priority [ReportTrackPriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackPriorityVBAResponse, Integer, Hash)>] ReportTrackPriorityVBAResponse data, response status code and response headers
    def create_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, report_track_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.create_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.create_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.create_report_track_priority"
      end
      # verify the required parameter 'report_track_priority' is set
      if @api_client.config.client_side_validation && report_track_priority.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_priority' when calling ReportTrackingPrioritiesApi.create_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackPriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.create_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#create_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportTrackPriority
    # Deletes an ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_track_priority(vbasoftware_database, report_definition_key, priority, opts = {})
      delete_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, opts)
      nil
    end

    # Delete ReportTrackPriority
    # Deletes an ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.delete_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.delete_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.delete_report_track_priority"
      end
      # verify the required parameter 'priority' is set
      if @api_client.config.client_side_validation && priority.nil?
        fail ArgumentError, "Missing the required parameter 'priority' when calling ReportTrackingPrioritiesApi.delete_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities/{priority}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'priority' + '}', CGI.escape(priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.delete_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#delete_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportTrackPriority
    # Gets ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackPriorityVBAResponse]
    def get_report_track_priority(vbasoftware_database, report_definition_key, priority, opts = {})
      data, _status_code, _headers = get_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, opts)
      data
    end

    # Get ReportTrackPriority
    # Gets ReportTrackPriority
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackPriorityVBAResponse, Integer, Hash)>] ReportTrackPriorityVBAResponse data, response status code and response headers
    def get_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.get_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.get_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.get_report_track_priority"
      end
      # verify the required parameter 'priority' is set
      if @api_client.config.client_side_validation && priority.nil?
        fail ArgumentError, "Missing the required parameter 'priority' when calling ReportTrackingPrioritiesApi.get_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities/{priority}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'priority' + '}', CGI.escape(priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackPriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.get_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#get_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportTrackPriority
    # Lists all ReportTrackPriority for the given ReportDefinition_Key
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportTrackPriorityListVBAResponse]
    def list_report_track_priority(vbasoftware_database, report_definition_key, opts = {})
      data, _status_code, _headers = list_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, opts)
      data
    end

    # List ReportTrackPriority
    # Lists all ReportTrackPriority for the given ReportDefinition_Key
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportTrackPriorityListVBAResponse, Integer, Hash)>] ReportTrackPriorityListVBAResponse data, response status code and response headers
    def list_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.list_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.list_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.list_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackPriorityListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.list_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#list_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportTrackPriority
    # Create or Update multiple ReportTrackPriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_priority [Array<ReportTrackPriority>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_track_priority(vbasoftware_database, report_definition_key, report_track_priority, opts = {})
      data, _status_code, _headers = update_batch_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, report_track_priority, opts)
      data
    end

    # Create or Update Batch ReportTrackPriority
    # Create or Update multiple ReportTrackPriority at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_priority [Array<ReportTrackPriority>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, report_track_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.update_batch_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.update_batch_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.update_batch_report_track_priority"
      end
      # verify the required parameter 'report_track_priority' is set
      if @api_client.config.client_side_validation && report_track_priority.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_priority' when calling ReportTrackingPrioritiesApi.update_batch_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities-batch'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.update_batch_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#update_batch_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportTrackPriority
    # Updates a specific ReportTrackPriority.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param report_track_priority [ReportTrackPriority] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackPriorityVBAResponse]
    def update_report_track_priority(vbasoftware_database, report_definition_key, priority, report_track_priority, opts = {})
      data, _status_code, _headers = update_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, report_track_priority, opts)
      data
    end

    # Update ReportTrackPriority
    # Updates a specific ReportTrackPriority.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param priority [String] Priority
    # @param report_track_priority [ReportTrackPriority] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackPriorityVBAResponse, Integer, Hash)>] ReportTrackPriorityVBAResponse data, response status code and response headers
    def update_report_track_priority_with_http_info(vbasoftware_database, report_definition_key, priority, report_track_priority, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingPrioritiesApi.update_report_track_priority ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingPrioritiesApi.update_report_track_priority"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingPrioritiesApi.update_report_track_priority"
      end
      # verify the required parameter 'priority' is set
      if @api_client.config.client_side_validation && priority.nil?
        fail ArgumentError, "Missing the required parameter 'priority' when calling ReportTrackingPrioritiesApi.update_report_track_priority"
      end
      # verify the required parameter 'report_track_priority' is set
      if @api_client.config.client_side_validation && report_track_priority.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_priority' when calling ReportTrackingPrioritiesApi.update_report_track_priority"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/priorities/{priority}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'priority' + '}', CGI.escape(priority.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_priority)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackPriorityVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingPrioritiesApi.update_report_track_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingPrioritiesApi#update_report_track_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
