=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportSeriesStepsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportSeriesStep
    # Creates a new ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step [ReportSeriesStep] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesStepVBAResponse]
    def create_report_series_step(vbasoftware_database, report_series_step, opts = {})
      data, _status_code, _headers = create_report_series_step_with_http_info(vbasoftware_database, report_series_step, opts)
      data
    end

    # Create ReportSeriesStep
    # Creates a new ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step [ReportSeriesStep] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesStepVBAResponse, Integer, Hash)>] ReportSeriesStepVBAResponse data, response status code and response headers
    def create_report_series_step_with_http_info(vbasoftware_database, report_series_step, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.create_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.create_report_series_step"
      end
      # verify the required parameter 'report_series_step' is set
      if @api_client.config.client_side_validation && report_series_step.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step' when calling ReportSeriesStepsApi.create_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_step)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesStepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.create_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#create_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportSeriesStep
    # Deletes an ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_series_step(vbasoftware_database, report_series_step_key, opts = {})
      delete_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, opts)
      nil
    end

    # Delete ReportSeriesStep
    # Deletes an ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.delete_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.delete_report_series_step"
      end
      # verify the required parameter 'report_series_step_key' is set
      if @api_client.config.client_side_validation && report_series_step_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step_key' when calling ReportSeriesStepsApi.delete_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps/{reportSeriesStepKey}'.sub('{' + 'reportSeriesStepKey' + '}', CGI.escape(report_series_step_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.delete_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#delete_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportSeriesStep
    # Gets ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesStepVBAResponse]
    def get_report_series_step(vbasoftware_database, report_series_step_key, opts = {})
      data, _status_code, _headers = get_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, opts)
      data
    end

    # Get ReportSeriesStep
    # Gets ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesStepVBAResponse, Integer, Hash)>] ReportSeriesStepVBAResponse data, response status code and response headers
    def get_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.get_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.get_report_series_step"
      end
      # verify the required parameter 'report_series_step_key' is set
      if @api_client.config.client_side_validation && report_series_step_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step_key' when calling ReportSeriesStepsApi.get_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps/{reportSeriesStepKey}'.sub('{' + 'reportSeriesStepKey' + '}', CGI.escape(report_series_step_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesStepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.get_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#get_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportSeriesStep
    # Lists all ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_series_key Filter by ReportSeries_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportSeriesStepListVBAResponse]
    def list_report_series_step(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_series_step_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportSeriesStep
    # Lists all ReportSeriesStep
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_series_key Filter by ReportSeries_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportSeriesStepListVBAResponse, Integer, Hash)>] ReportSeriesStepListVBAResponse data, response status code and response headers
    def list_report_series_step_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.list_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.list_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reportSeriesKey'] = opts[:'report_series_key'] if !opts[:'report_series_key'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesStepListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.list_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#list_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportSeriesStep
    # Create or Update multiple ReportSeriesStep at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_step [Array<ReportSeriesStep>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_series_step(vbasoftware_database, report_series_step, opts = {})
      data, _status_code, _headers = update_batch_report_series_step_with_http_info(vbasoftware_database, report_series_step, opts)
      data
    end

    # Create or Update Batch ReportSeriesStep
    # Create or Update multiple ReportSeriesStep at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_step [Array<ReportSeriesStep>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_series_step_with_http_info(vbasoftware_database, report_series_step, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.update_batch_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.update_batch_report_series_step"
      end
      # verify the required parameter 'report_series_step' is set
      if @api_client.config.client_side_validation && report_series_step.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step' when calling ReportSeriesStepsApi.update_batch_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_step)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.update_batch_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#update_batch_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportSeriesStep
    # Updates a specific ReportSeriesStep.
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param report_series_step [ReportSeriesStep] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesStepVBAResponse]
    def update_report_series_step(vbasoftware_database, report_series_step_key, report_series_step, opts = {})
      data, _status_code, _headers = update_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, report_series_step, opts)
      data
    end

    # Update ReportSeriesStep
    # Updates a specific ReportSeriesStep.
    # @param vbasoftware_database [String] Target database
    # @param report_series_step_key [Integer] ReportSeriesStep Key
    # @param report_series_step [ReportSeriesStep] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesStepVBAResponse, Integer, Hash)>] ReportSeriesStepVBAResponse data, response status code and response headers
    def update_report_series_step_with_http_info(vbasoftware_database, report_series_step_key, report_series_step, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesStepsApi.update_report_series_step ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesStepsApi.update_report_series_step"
      end
      # verify the required parameter 'report_series_step_key' is set
      if @api_client.config.client_side_validation && report_series_step_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step_key' when calling ReportSeriesStepsApi.update_report_series_step"
      end
      # verify the required parameter 'report_series_step' is set
      if @api_client.config.client_side_validation && report_series_step.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_step' when calling ReportSeriesStepsApi.update_report_series_step"
      end
      # resource path
      local_var_path = '/report-series-steps/{reportSeriesStepKey}'.sub('{' + 'reportSeriesStepKey' + '}', CGI.escape(report_series_step_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_step)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesStepVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesStepsApi.update_report_series_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesStepsApi#update_report_series_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
