=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportSeriesTrackingArgsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportSeriesTrackingArg
    # Creates a new ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg [ReportSeriesTrackingArg] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesTrackingArgVBAResponse]
    def create_report_series_tracking_arg(vbasoftware_database, report_series_tracking_arg, opts = {})
      data, _status_code, _headers = create_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg, opts)
      data
    end

    # Create ReportSeriesTrackingArg
    # Creates a new ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg [ReportSeriesTrackingArg] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesTrackingArgVBAResponse, Integer, Hash)>] ReportSeriesTrackingArgVBAResponse data, response status code and response headers
    def create_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.create_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.create_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg' when calling ReportSeriesTrackingArgsApi.create_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_tracking_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesTrackingArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.create_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#create_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportSeriesTrackingArg
    # Deletes an ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_series_tracking_arg(vbasoftware_database, report_series_tracking_arg_key, opts = {})
      delete_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, opts)
      nil
    end

    # Delete ReportSeriesTrackingArg
    # Deletes an ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.delete_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.delete_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg_key' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg_key' when calling ReportSeriesTrackingArgsApi.delete_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args/{reportSeriesTrackingArgKey}'.sub('{' + 'reportSeriesTrackingArgKey' + '}', CGI.escape(report_series_tracking_arg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.delete_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#delete_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportSeriesTrackingArg
    # Gets ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesTrackingArgVBAResponse]
    def get_report_series_tracking_arg(vbasoftware_database, report_series_tracking_arg_key, opts = {})
      data, _status_code, _headers = get_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, opts)
      data
    end

    # Get ReportSeriesTrackingArg
    # Gets ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesTrackingArgVBAResponse, Integer, Hash)>] ReportSeriesTrackingArgVBAResponse data, response status code and response headers
    def get_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.get_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.get_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg_key' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg_key' when calling ReportSeriesTrackingArgsApi.get_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args/{reportSeriesTrackingArgKey}'.sub('{' + 'reportSeriesTrackingArgKey' + '}', CGI.escape(report_series_tracking_arg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesTrackingArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.get_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#get_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportSeriesTrackingArg
    # Lists all ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_series_key Filter by ReportSeries_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportSeriesTrackingArgListVBAResponse]
    def list_report_series_tracking_arg(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_series_tracking_arg_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportSeriesTrackingArg
    # Lists all ReportSeriesTrackingArg
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :report_series_key Filter by ReportSeries_Key
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportSeriesTrackingArgListVBAResponse, Integer, Hash)>] ReportSeriesTrackingArgListVBAResponse data, response status code and response headers
    def list_report_series_tracking_arg_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.list_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.list_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reportSeriesKey'] = opts[:'report_series_key'] if !opts[:'report_series_key'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesTrackingArgListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.list_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#list_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportSeriesTrackingArg
    # Create or Update multiple ReportSeriesTrackingArg at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg [Array<ReportSeriesTrackingArg>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_series_tracking_arg(vbasoftware_database, report_series_tracking_arg, opts = {})
      data, _status_code, _headers = update_batch_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg, opts)
      data
    end

    # Create or Update Batch ReportSeriesTrackingArg
    # Create or Update multiple ReportSeriesTrackingArg at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg [Array<ReportSeriesTrackingArg>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.update_batch_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.update_batch_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg' when calling ReportSeriesTrackingArgsApi.update_batch_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_tracking_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.update_batch_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#update_batch_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportSeriesTrackingArg
    # Updates a specific ReportSeriesTrackingArg.
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param report_series_tracking_arg [ReportSeriesTrackingArg] 
    # @param [Hash] opts the optional parameters
    # @return [ReportSeriesTrackingArgVBAResponse]
    def update_report_series_tracking_arg(vbasoftware_database, report_series_tracking_arg_key, report_series_tracking_arg, opts = {})
      data, _status_code, _headers = update_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, report_series_tracking_arg, opts)
      data
    end

    # Update ReportSeriesTrackingArg
    # Updates a specific ReportSeriesTrackingArg.
    # @param vbasoftware_database [String] Target database
    # @param report_series_tracking_arg_key [Integer] ReportSeriesTrackingArg Key
    # @param report_series_tracking_arg [ReportSeriesTrackingArg] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportSeriesTrackingArgVBAResponse, Integer, Hash)>] ReportSeriesTrackingArgVBAResponse data, response status code and response headers
    def update_report_series_tracking_arg_with_http_info(vbasoftware_database, report_series_tracking_arg_key, report_series_tracking_arg, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportSeriesTrackingArgsApi.update_report_series_tracking_arg ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportSeriesTrackingArgsApi.update_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg_key' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg_key' when calling ReportSeriesTrackingArgsApi.update_report_series_tracking_arg"
      end
      # verify the required parameter 'report_series_tracking_arg' is set
      if @api_client.config.client_side_validation && report_series_tracking_arg.nil?
        fail ArgumentError, "Missing the required parameter 'report_series_tracking_arg' when calling ReportSeriesTrackingArgsApi.update_report_series_tracking_arg"
      end
      # resource path
      local_var_path = '/report-series-trackins-args/{reportSeriesTrackingArgKey}'.sub('{' + 'reportSeriesTrackingArgKey' + '}', CGI.escape(report_series_tracking_arg_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_series_tracking_arg)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportSeriesTrackingArgVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportSeriesTrackingArgsApi.update_report_series_tracking_arg",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportSeriesTrackingArgsApi#update_report_series_tracking_arg\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
