=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportTrackingReceivedStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportTrackReceivedStatus
    # Creates a new ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_received_status [ReportTrackReceivedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackReceivedStatusVBAResponse]
    def create_report_track_received_status(vbasoftware_database, report_definition_key, report_track_received_status, opts = {})
      data, _status_code, _headers = create_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, report_track_received_status, opts)
      data
    end

    # Create ReportTrackReceivedStatus
    # Creates a new ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_received_status [ReportTrackReceivedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackReceivedStatusVBAResponse, Integer, Hash)>] ReportTrackReceivedStatusVBAResponse data, response status code and response headers
    def create_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, report_track_received_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.create_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.create_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.create_report_track_received_status"
      end
      # verify the required parameter 'report_track_received_status' is set
      if @api_client.config.client_side_validation && report_track_received_status.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_received_status' when calling ReportTrackingReceivedStatusesApi.create_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_received_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackReceivedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.create_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#create_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportTrackReceivedStatus
    # Deletes an ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_track_received_status(vbasoftware_database, report_definition_key, received_status, opts = {})
      delete_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, opts)
      nil
    end

    # Delete ReportTrackReceivedStatus
    # Deletes an ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.delete_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.delete_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.delete_report_track_received_status"
      end
      # verify the required parameter 'received_status' is set
      if @api_client.config.client_side_validation && received_status.nil?
        fail ArgumentError, "Missing the required parameter 'received_status' when calling ReportTrackingReceivedStatusesApi.delete_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses/{receivedStatus}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'receivedStatus' + '}', CGI.escape(received_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.delete_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#delete_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportTrackReceivedStatus
    # Gets ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackReceivedStatusVBAResponse]
    def get_report_track_received_status(vbasoftware_database, report_definition_key, received_status, opts = {})
      data, _status_code, _headers = get_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, opts)
      data
    end

    # Get ReportTrackReceivedStatus
    # Gets ReportTrackReceivedStatus
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackReceivedStatusVBAResponse, Integer, Hash)>] ReportTrackReceivedStatusVBAResponse data, response status code and response headers
    def get_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.get_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.get_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.get_report_track_received_status"
      end
      # verify the required parameter 'received_status' is set
      if @api_client.config.client_side_validation && received_status.nil?
        fail ArgumentError, "Missing the required parameter 'received_status' when calling ReportTrackingReceivedStatusesApi.get_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses/{receivedStatus}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'receivedStatus' + '}', CGI.escape(received_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackReceivedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.get_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#get_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportTrackReceivedStatus
    # Lists all ReportTrackReceivedStatus for the given ReportDefinition_Key
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportTrackReceivedStatusListVBAResponse]
    def list_report_track_received_status(vbasoftware_database, report_definition_key, opts = {})
      data, _status_code, _headers = list_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, opts)
      data
    end

    # List ReportTrackReceivedStatus
    # Lists all ReportTrackReceivedStatus for the given ReportDefinition_Key
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportTrackReceivedStatusListVBAResponse, Integer, Hash)>] ReportTrackReceivedStatusListVBAResponse data, response status code and response headers
    def list_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.list_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.list_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.list_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackReceivedStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.list_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#list_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportTrackReceivedStatus
    # Create or Update multiple ReportTrackReceivedStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_received_status [Array<ReportTrackReceivedStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_track_received_status(vbasoftware_database, report_definition_key, report_track_received_status, opts = {})
      data, _status_code, _headers = update_batch_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, report_track_received_status, opts)
      data
    end

    # Create or Update Batch ReportTrackReceivedStatus
    # Create or Update multiple ReportTrackReceivedStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param report_track_received_status [Array<ReportTrackReceivedStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, report_track_received_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.update_batch_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.update_batch_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.update_batch_report_track_received_status"
      end
      # verify the required parameter 'report_track_received_status' is set
      if @api_client.config.client_side_validation && report_track_received_status.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_received_status' when calling ReportTrackingReceivedStatusesApi.update_batch_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses-batch'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_received_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.update_batch_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#update_batch_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportTrackReceivedStatus
    # Updates a specific ReportTrackReceivedStatus.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param report_track_received_status [ReportTrackReceivedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackReceivedStatusVBAResponse]
    def update_report_track_received_status(vbasoftware_database, report_definition_key, received_status, report_track_received_status, opts = {})
      data, _status_code, _headers = update_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, report_track_received_status, opts)
      data
    end

    # Update ReportTrackReceivedStatus
    # Updates a specific ReportTrackReceivedStatus.
    # @param vbasoftware_database [String] Target database
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param received_status [String] Received Status
    # @param report_track_received_status [ReportTrackReceivedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackReceivedStatusVBAResponse, Integer, Hash)>] ReportTrackReceivedStatusVBAResponse data, response status code and response headers
    def update_report_track_received_status_with_http_info(vbasoftware_database, report_definition_key, received_status, report_track_received_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingReceivedStatusesApi.update_report_track_received_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingReceivedStatusesApi.update_report_track_received_status"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling ReportTrackingReceivedStatusesApi.update_report_track_received_status"
      end
      # verify the required parameter 'received_status' is set
      if @api_client.config.client_side_validation && received_status.nil?
        fail ArgumentError, "Missing the required parameter 'received_status' when calling ReportTrackingReceivedStatusesApi.update_report_track_received_status"
      end
      # verify the required parameter 'report_track_received_status' is set
      if @api_client.config.client_side_validation && report_track_received_status.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_received_status' when calling ReportTrackingReceivedStatusesApi.update_report_track_received_status"
      end
      # resource path
      local_var_path = '/report-definitions/{reportDefinitionKey}/received-statuses/{receivedStatus}'.sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s)).sub('{' + 'receivedStatus' + '}', CGI.escape(received_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track_received_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackReceivedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingReceivedStatusesApi.update_report_track_received_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingReceivedStatusesApi#update_report_track_received_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
