=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportCategory
    # Creates a new ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [ReportCategory] 
    # @param [Hash] opts the optional parameters
    # @return [ReportCategoryVBAResponse]
    def create_report_category(vbasoftware_database, report_category, opts = {})
      data, _status_code, _headers = create_report_category_with_http_info(vbasoftware_database, report_category, opts)
      data
    end

    # Create ReportCategory
    # Creates a new ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [ReportCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportCategoryVBAResponse, Integer, Hash)>] ReportCategoryVBAResponse data, response status code and response headers
    def create_report_category_with_http_info(vbasoftware_database, report_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.create_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.create_report_category"
      end
      # verify the required parameter 'report_category' is set
      if @api_client.config.client_side_validation && report_category.nil?
        fail ArgumentError, "Missing the required parameter 'report_category' when calling ReportCategoriesApi.create_report_category"
      end
      # resource path
      local_var_path = '/report-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_category)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.create_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#create_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportCategory
    # Deletes an ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_category(vbasoftware_database, report_category, opts = {})
      delete_report_category_with_http_info(vbasoftware_database, report_category, opts)
      nil
    end

    # Delete ReportCategory
    # Deletes an ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_category_with_http_info(vbasoftware_database, report_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.delete_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.delete_report_category"
      end
      # verify the required parameter 'report_category' is set
      if @api_client.config.client_side_validation && report_category.nil?
        fail ArgumentError, "Missing the required parameter 'report_category' when calling ReportCategoriesApi.delete_report_category"
      end
      # resource path
      local_var_path = '/report-categories/{reportCategory}'.sub('{' + 'reportCategory' + '}', CGI.escape(report_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.delete_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#delete_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportCategory
    # Gets ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param [Hash] opts the optional parameters
    # @return [ReportCategoryVBAResponse]
    def get_report_category(vbasoftware_database, report_category, opts = {})
      data, _status_code, _headers = get_report_category_with_http_info(vbasoftware_database, report_category, opts)
      data
    end

    # Get ReportCategory
    # Gets ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportCategoryVBAResponse, Integer, Hash)>] ReportCategoryVBAResponse data, response status code and response headers
    def get_report_category_with_http_info(vbasoftware_database, report_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.get_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.get_report_category"
      end
      # verify the required parameter 'report_category' is set
      if @api_client.config.client_side_validation && report_category.nil?
        fail ArgumentError, "Missing the required parameter 'report_category' when calling ReportCategoriesApi.get_report_category"
      end
      # resource path
      local_var_path = '/report-categories/{reportCategory}'.sub('{' + 'reportCategory' + '}', CGI.escape(report_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.get_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#get_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportCategory
    # Lists all ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportCategoryListVBAResponse]
    def list_report_category(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_category_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportCategory
    # Lists all ReportCategory
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportCategoryListVBAResponse, Integer, Hash)>] ReportCategoryListVBAResponse data, response status code and response headers
    def list_report_category_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.list_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.list_report_category"
      end
      # resource path
      local_var_path = '/report-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportCategoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.list_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#list_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportCategory
    # Create or Update multiple ReportCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_category [Array<ReportCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_category(vbasoftware_database, report_category, opts = {})
      data, _status_code, _headers = update_batch_report_category_with_http_info(vbasoftware_database, report_category, opts)
      data
    end

    # Create or Update Batch ReportCategory
    # Create or Update multiple ReportCategory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_category [Array<ReportCategory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_category_with_http_info(vbasoftware_database, report_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.update_batch_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.update_batch_report_category"
      end
      # verify the required parameter 'report_category' is set
      if @api_client.config.client_side_validation && report_category.nil?
        fail ArgumentError, "Missing the required parameter 'report_category' when calling ReportCategoriesApi.update_batch_report_category"
      end
      # resource path
      local_var_path = '/report-categories-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_category)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.update_batch_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#update_batch_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportCategory
    # Updates a specific ReportCategory.
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param report_category2 [ReportCategory] 
    # @param [Hash] opts the optional parameters
    # @return [ReportCategoryVBAResponse]
    def update_report_category(vbasoftware_database, report_category, report_category2, opts = {})
      data, _status_code, _headers = update_report_category_with_http_info(vbasoftware_database, report_category, report_category2, opts)
      data
    end

    # Update ReportCategory
    # Updates a specific ReportCategory.
    # @param vbasoftware_database [String] Target database
    # @param report_category [String] Report Category
    # @param report_category2 [ReportCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportCategoryVBAResponse, Integer, Hash)>] ReportCategoryVBAResponse data, response status code and response headers
    def update_report_category_with_http_info(vbasoftware_database, report_category, report_category2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportCategoriesApi.update_report_category ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportCategoriesApi.update_report_category"
      end
      # verify the required parameter 'report_category' is set
      if @api_client.config.client_side_validation && report_category.nil?
        fail ArgumentError, "Missing the required parameter 'report_category' when calling ReportCategoriesApi.update_report_category"
      end
      # verify the required parameter 'report_category2' is set
      if @api_client.config.client_side_validation && report_category2.nil?
        fail ArgumentError, "Missing the required parameter 'report_category2' when calling ReportCategoriesApi.update_report_category"
      end
      # resource path
      local_var_path = '/report-categories/{reportCategory}'.sub('{' + 'reportCategory' + '}', CGI.escape(report_category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_category2)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportCategoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportCategoriesApi.update_report_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportCategoriesApi#update_report_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
