=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReportTrackingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReportTrack
    # Creates a new ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track [ReportTrack] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackVBAResponse]
    def create_report_track(vbasoftware_database, report_track, opts = {})
      data, _status_code, _headers = create_report_track_with_http_info(vbasoftware_database, report_track, opts)
      data
    end

    # Create ReportTrack
    # Creates a new ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track [ReportTrack] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackVBAResponse, Integer, Hash)>] ReportTrackVBAResponse data, response status code and response headers
    def create_report_track_with_http_info(vbasoftware_database, report_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.create_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.create_report_track"
      end
      # verify the required parameter 'report_track' is set
      if @api_client.config.client_side_validation && report_track.nil?
        fail ArgumentError, "Missing the required parameter 'report_track' when calling ReportTrackingApi.create_report_track"
      end
      # resource path
      local_var_path = '/report-tracks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.create_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#create_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReportTrack
    # Deletes an ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_report_track(vbasoftware_database, report_track_key, opts = {})
      delete_report_track_with_http_info(vbasoftware_database, report_track_key, opts)
      nil
    end

    # Delete ReportTrack
    # Deletes an ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_report_track_with_http_info(vbasoftware_database, report_track_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.delete_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.delete_report_track"
      end
      # verify the required parameter 'report_track_key' is set
      if @api_client.config.client_side_validation && report_track_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_key' when calling ReportTrackingApi.delete_report_track"
      end
      # resource path
      local_var_path = '/report-tracks/{reportTrackKey}'.sub('{' + 'reportTrackKey' + '}', CGI.escape(report_track_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.delete_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#delete_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReportTrack
    # Gets ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackVBAResponse]
    def get_report_track(vbasoftware_database, report_track_key, opts = {})
      data, _status_code, _headers = get_report_track_with_http_info(vbasoftware_database, report_track_key, opts)
      data
    end

    # Get ReportTrack
    # Gets ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackVBAResponse, Integer, Hash)>] ReportTrackVBAResponse data, response status code and response headers
    def get_report_track_with_http_info(vbasoftware_database, report_track_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.get_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.get_report_track"
      end
      # verify the required parameter 'report_track_key' is set
      if @api_client.config.client_side_validation && report_track_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_key' when calling ReportTrackingApi.get_report_track"
      end
      # resource path
      local_var_path = '/report-tracks/{reportTrackKey}'.sub('{' + 'reportTrackKey' + '}', CGI.escape(report_track_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.get_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#get_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReportTrack
    # Lists all ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReportTrackListVBAResponse]
    def list_report_track(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_report_track_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReportTrack
    # Lists all ReportTrack
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReportTrackListVBAResponse, Integer, Hash)>] ReportTrackListVBAResponse data, response status code and response headers
    def list_report_track_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.list_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.list_report_track"
      end
      # resource path
      local_var_path = '/report-tracks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.list_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#list_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReportTrack
    # Create or Update multiple ReportTrack at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_track [Array<ReportTrack>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_report_track(vbasoftware_database, report_track, opts = {})
      data, _status_code, _headers = update_batch_report_track_with_http_info(vbasoftware_database, report_track, opts)
      data
    end

    # Create or Update Batch ReportTrack
    # Create or Update multiple ReportTrack at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param report_track [Array<ReportTrack>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_report_track_with_http_info(vbasoftware_database, report_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.update_batch_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.update_batch_report_track"
      end
      # verify the required parameter 'report_track' is set
      if @api_client.config.client_side_validation && report_track.nil?
        fail ArgumentError, "Missing the required parameter 'report_track' when calling ReportTrackingApi.update_batch_report_track"
      end
      # resource path
      local_var_path = '/report-tracks-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.update_batch_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#update_batch_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReportTrack
    # Updates a specific ReportTrack.
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param report_track [ReportTrack] 
    # @param [Hash] opts the optional parameters
    # @return [ReportTrackVBAResponse]
    def update_report_track(vbasoftware_database, report_track_key, report_track, opts = {})
      data, _status_code, _headers = update_report_track_with_http_info(vbasoftware_database, report_track_key, report_track, opts)
      data
    end

    # Update ReportTrack
    # Updates a specific ReportTrack.
    # @param vbasoftware_database [String] Target database
    # @param report_track_key [Integer] ReportTrack Key
    # @param report_track [ReportTrack] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportTrackVBAResponse, Integer, Hash)>] ReportTrackVBAResponse data, response status code and response headers
    def update_report_track_with_http_info(vbasoftware_database, report_track_key, report_track, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportTrackingApi.update_report_track ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReportTrackingApi.update_report_track"
      end
      # verify the required parameter 'report_track_key' is set
      if @api_client.config.client_side_validation && report_track_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_track_key' when calling ReportTrackingApi.update_report_track"
      end
      # verify the required parameter 'report_track' is set
      if @api_client.config.client_side_validation && report_track.nil?
        fail ArgumentError, "Missing the required parameter 'report_track' when calling ReportTrackingApi.update_report_track"
      end
      # resource path
      local_var_path = '/report-tracks/{reportTrackKey}'.sub('{' + 'reportTrackKey' + '}', CGI.escape(report_track_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(report_track)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportTrackVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportTrackingApi.update_report_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportTrackingApi#update_report_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
