=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ReviewedStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ReviewedStatus
    # Creates a new ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [ReviewedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReviewedStatusVBAResponse]
    def create_reviewed_status(vbasoftware_database, reviewed_status, opts = {})
      data, _status_code, _headers = create_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts)
      data
    end

    # Create ReviewedStatus
    # Creates a new ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [ReviewedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReviewedStatusVBAResponse, Integer, Hash)>] ReviewedStatusVBAResponse data, response status code and response headers
    def create_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.create_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.create_reviewed_status"
      end
      # verify the required parameter 'reviewed_status' is set
      if @api_client.config.client_side_validation && reviewed_status.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status' when calling ReviewedStatusApi.create_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reviewed_status)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.create_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#create_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ReviewedStatus
    # Deletes an ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_reviewed_status(vbasoftware_database, reviewed_status, opts = {})
      delete_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts)
      nil
    end

    # Delete ReviewedStatus
    # Deletes an ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.delete_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.delete_reviewed_status"
      end
      # verify the required parameter 'reviewed_status' is set
      if @api_client.config.client_side_validation && reviewed_status.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status' when calling ReviewedStatusApi.delete_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status/{Reviewed_Status}'.sub('{' + 'Reviewed_Status' + '}', CGI.escape(reviewed_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.delete_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#delete_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ReviewedStatus
    # Gets ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param [Hash] opts the optional parameters
    # @return [ReviewedStatusVBAResponse]
    def get_reviewed_status(vbasoftware_database, reviewed_status, opts = {})
      data, _status_code, _headers = get_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts)
      data
    end

    # Get ReviewedStatus
    # Gets ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReviewedStatusVBAResponse, Integer, Hash)>] ReviewedStatusVBAResponse data, response status code and response headers
    def get_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.get_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.get_reviewed_status"
      end
      # verify the required parameter 'reviewed_status' is set
      if @api_client.config.client_side_validation && reviewed_status.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status' when calling ReviewedStatusApi.get_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status/{Reviewed_Status}'.sub('{' + 'Reviewed_Status' + '}', CGI.escape(reviewed_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.get_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#get_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ReviewedStatus
    # Lists all ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ReviewedStatusListVBAResponse]
    def list_reviewed_status(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_reviewed_status_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ReviewedStatus
    # Lists all ReviewedStatus
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ReviewedStatusListVBAResponse, Integer, Hash)>] ReviewedStatusListVBAResponse data, response status code and response headers
    def list_reviewed_status_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.list_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.list_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewedStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.list_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#list_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ReviewedStatus
    # Create or Update multiple ReviewedStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [Array<ReviewedStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_reviewed_status(vbasoftware_database, reviewed_status, opts = {})
      data, _status_code, _headers = update_batch_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts)
      data
    end

    # Create or Update Batch ReviewedStatus
    # Create or Update multiple ReviewedStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [Array<ReviewedStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.update_batch_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.update_batch_reviewed_status"
      end
      # verify the required parameter 'reviewed_status' is set
      if @api_client.config.client_side_validation && reviewed_status.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status' when calling ReviewedStatusApi.update_batch_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reviewed_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.update_batch_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#update_batch_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ReviewedStatus
    # Updates a specific ReviewedStatus.
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param reviewed_status2 [ReviewedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [ReviewedStatusVBAResponse]
    def update_reviewed_status(vbasoftware_database, reviewed_status, reviewed_status2, opts = {})
      data, _status_code, _headers = update_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, reviewed_status2, opts)
      data
    end

    # Update ReviewedStatus
    # Updates a specific ReviewedStatus.
    # @param vbasoftware_database [String] Target database
    # @param reviewed_status [String] Reviewed Status
    # @param reviewed_status2 [ReviewedStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReviewedStatusVBAResponse, Integer, Hash)>] ReviewedStatusVBAResponse data, response status code and response headers
    def update_reviewed_status_with_http_info(vbasoftware_database, reviewed_status, reviewed_status2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewedStatusApi.update_reviewed_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ReviewedStatusApi.update_reviewed_status"
      end
      # verify the required parameter 'reviewed_status' is set
      if @api_client.config.client_side_validation && reviewed_status.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status' when calling ReviewedStatusApi.update_reviewed_status"
      end
      # verify the required parameter 'reviewed_status2' is set
      if @api_client.config.client_side_validation && reviewed_status2.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_status2' when calling ReviewedStatusApi.update_reviewed_status"
      end
      # resource path
      local_var_path = '/claim-batch-reviewed-status/{Reviewed_Status}'.sub('{' + 'Reviewed_Status' + '}', CGI.escape(reviewed_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reviewed_status2)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewedStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewedStatusApi.update_reviewed_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewedStatusApi#update_reviewed_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
