=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SearchConfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a SearchConfig
    # Get a specific SearchConfig
    # @param vbasoftware_database [String] target database for this request
    # @param search_config_id [String] SearchConfig id
    # @param [Hash] opts the optional parameters
    # @return [SearchConfigVBAResponse]
    def get_search_config(vbasoftware_database, search_config_id, opts = {})
      data, _status_code, _headers = get_search_config_with_http_info(vbasoftware_database, search_config_id, opts)
      data
    end

    # Get a SearchConfig
    # Get a specific SearchConfig
    # @param vbasoftware_database [String] target database for this request
    # @param search_config_id [String] SearchConfig id
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchConfigVBAResponse, Integer, Hash)>] SearchConfigVBAResponse data, response status code and response headers
    def get_search_config_with_http_info(vbasoftware_database, search_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchConfigApi.get_search_config ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SearchConfigApi.get_search_config"
      end
      # verify the required parameter 'search_config_id' is set
      if @api_client.config.client_side_validation && search_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'search_config_id' when calling SearchConfigApi.get_search_config"
      end
      # resource path
      local_var_path = '/search-configs/{searchConfigId}'.sub('{' + 'searchConfigId' + '}', CGI.escape(search_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchConfigVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SearchConfigApi.get_search_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchConfigApi#get_search_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SearchConfigs
    # Gets a list of SearchConfigs with optional FunctionalArea filter
    # @param vbasoftware_database [String] target database for this request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :functional_area Functional Area
    # @return [SearchConfigListVBAResponse]
    def list_search_configs(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_search_configs_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SearchConfigs
    # Gets a list of SearchConfigs with optional FunctionalArea filter
    # @param vbasoftware_database [String] target database for this request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :functional_area Functional Area
    # @return [Array<(SearchConfigListVBAResponse, Integer, Hash)>] SearchConfigListVBAResponse data, response status code and response headers
    def list_search_configs_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchConfigApi.list_search_configs ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SearchConfigApi.list_search_configs"
      end
      # resource path
      local_var_path = '/search-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'functionalArea'] = opts[:'functional_area'] if !opts[:'functional_area'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchConfigListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SearchConfigApi.list_search_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchConfigApi#list_search_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
