=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityAreasApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityArea
    # Creates a new SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [SecurityArea] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaVBAResponse]
    def create_security_area(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = create_security_area_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # Create SecurityArea
    # Creates a new SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [SecurityArea] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaVBAResponse, Integer, Hash)>] SecurityAreaVBAResponse data, response status code and response headers
    def create_security_area_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.create_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.create_security_area"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreasApi.create_security_area"
      end
      # resource path
      local_var_path = '/security-areas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.create_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#create_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityArea
    # Deletes an SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_area(vbasoftware_database, security_area, opts = {})
      delete_security_area_with_http_info(vbasoftware_database, security_area, opts)
      nil
    end

    # Delete SecurityArea
    # Deletes an SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_area_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.delete_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.delete_security_area"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreasApi.delete_security_area"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.delete_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#delete_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityArea
    # Gets SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaVBAResponse]
    def get_security_area(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = get_security_area_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # Get SecurityArea
    # Gets SecurityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaVBAResponse, Integer, Hash)>] SecurityAreaVBAResponse data, response status code and response headers
    def get_security_area_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.get_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.get_security_area"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreasApi.get_security_area"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.get_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#get_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityArea
    # Lists all SecurityArea 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaListVBAResponse]
    def list_security_area(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_area_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityArea
    # Lists all SecurityArea 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaListVBAResponse, Integer, Hash)>] SecurityAreaListVBAResponse data, response status code and response headers
    def list_security_area_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.list_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.list_security_area"
      end
      # resource path
      local_var_path = '/security-areas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.list_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#list_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityArea
    # Create or Update multiple SecurityArea at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [Array<SecurityArea>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_area(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = update_batch_security_area_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # Create or Update Batch SecurityArea
    # Create or Update multiple SecurityArea at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [Array<SecurityArea>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_area_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.update_batch_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.update_batch_security_area"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreasApi.update_batch_security_area"
      end
      # resource path
      local_var_path = '/security-areas-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.update_batch_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#update_batch_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityArea
    # Updates a specific SecurityArea.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area2 [SecurityArea] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaVBAResponse]
    def update_security_area(vbasoftware_database, security_area, security_area2, opts = {})
      data, _status_code, _headers = update_security_area_with_http_info(vbasoftware_database, security_area, security_area2, opts)
      data
    end

    # Update SecurityArea
    # Updates a specific SecurityArea.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area2 [SecurityArea] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaVBAResponse, Integer, Hash)>] SecurityAreaVBAResponse data, response status code and response headers
    def update_security_area_with_http_info(vbasoftware_database, security_area, security_area2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreasApi.update_security_area ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreasApi.update_security_area"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreasApi.update_security_area"
      end
      # verify the required parameter 'security_area2' is set
      if @api_client.config.client_side_validation && security_area2.nil?
        fail ArgumentError, "Missing the required parameter 'security_area2' when calling SecurityAreasApi.update_security_area"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area2)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreasApi.update_security_area",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreasApi#update_security_area\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
