=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityAreaOverridesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityAreaOverride
    # Creates a new SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override [SecurityAreaOverride] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaOverrideVBAResponse]
    def create_security_area_override(vbasoftware_database, security_area_override, opts = {})
      data, _status_code, _headers = create_security_area_override_with_http_info(vbasoftware_database, security_area_override, opts)
      data
    end

    # Create SecurityAreaOverride
    # Creates a new SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override [SecurityAreaOverride] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaOverrideVBAResponse, Integer, Hash)>] SecurityAreaOverrideVBAResponse data, response status code and response headers
    def create_security_area_override_with_http_info(vbasoftware_database, security_area_override, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.create_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.create_security_area_override"
      end
      # verify the required parameter 'security_area_override' is set
      if @api_client.config.client_side_validation && security_area_override.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override' when calling SecurityAreaOverridesApi.create_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_override)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaOverrideVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.create_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#create_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityAreaOverride
    # Deletes an SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_area_override(vbasoftware_database, security_area_override_key, opts = {})
      delete_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, opts)
      nil
    end

    # Delete SecurityAreaOverride
    # Deletes an SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.delete_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.delete_security_area_override"
      end
      # verify the required parameter 'security_area_override_key' is set
      if @api_client.config.client_side_validation && security_area_override_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override_key' when calling SecurityAreaOverridesApi.delete_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides/{securityAreaOverrideKey}'.sub('{' + 'securityAreaOverrideKey' + '}', CGI.escape(security_area_override_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.delete_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#delete_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityAreaOverride
    # Gets SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaOverrideVBAResponse]
    def get_security_area_override(vbasoftware_database, security_area_override_key, opts = {})
      data, _status_code, _headers = get_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, opts)
      data
    end

    # Get SecurityAreaOverride
    # Gets SecurityAreaOverride
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaOverrideVBAResponse, Integer, Hash)>] SecurityAreaOverrideVBAResponse data, response status code and response headers
    def get_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.get_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.get_security_area_override"
      end
      # verify the required parameter 'security_area_override_key' is set
      if @api_client.config.client_side_validation && security_area_override_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override_key' when calling SecurityAreaOverridesApi.get_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides/{securityAreaOverrideKey}'.sub('{' + 'securityAreaOverrideKey' + '}', CGI.escape(security_area_override_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaOverrideVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.get_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#get_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityAreaOverride
    # Lists all SecurityAreaOverride with optional securityArea filter
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :security_area Security Area
    # @return [SecurityAreaOverrideListVBAResponse]
    def list_security_area_override(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_area_override_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityAreaOverride
    # Lists all SecurityAreaOverride with optional securityArea filter
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :security_area Security Area
    # @return [Array<(SecurityAreaOverrideListVBAResponse, Integer, Hash)>] SecurityAreaOverrideListVBAResponse data, response status code and response headers
    def list_security_area_override_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.list_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.list_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'securityArea'] = opts[:'security_area'] if !opts[:'security_area'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaOverrideListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.list_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#list_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityAreaOverride
    # Create or Update multiple SecurityAreaOverride at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area_override [Array<SecurityAreaOverride>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_area_override(vbasoftware_database, security_area_override, opts = {})
      data, _status_code, _headers = update_batch_security_area_override_with_http_info(vbasoftware_database, security_area_override, opts)
      data
    end

    # Create or Update Batch SecurityAreaOverride
    # Create or Update multiple SecurityAreaOverride at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area_override [Array<SecurityAreaOverride>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_area_override_with_http_info(vbasoftware_database, security_area_override, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.update_batch_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.update_batch_security_area_override"
      end
      # verify the required parameter 'security_area_override' is set
      if @api_client.config.client_side_validation && security_area_override.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override' when calling SecurityAreaOverridesApi.update_batch_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_override)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.update_batch_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#update_batch_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityAreaOverride
    # Updates a specific SecurityAreaOverride.
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param security_area_override [SecurityAreaOverride] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaOverrideVBAResponse]
    def update_security_area_override(vbasoftware_database, security_area_override_key, security_area_override, opts = {})
      data, _status_code, _headers = update_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, security_area_override, opts)
      data
    end

    # Update SecurityAreaOverride
    # Updates a specific SecurityAreaOverride.
    # @param vbasoftware_database [String] Target database
    # @param security_area_override_key [Integer] SecurityAreaOverride Key
    # @param security_area_override [SecurityAreaOverride] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaOverrideVBAResponse, Integer, Hash)>] SecurityAreaOverrideVBAResponse data, response status code and response headers
    def update_security_area_override_with_http_info(vbasoftware_database, security_area_override_key, security_area_override, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaOverridesApi.update_security_area_override ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaOverridesApi.update_security_area_override"
      end
      # verify the required parameter 'security_area_override_key' is set
      if @api_client.config.client_side_validation && security_area_override_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override_key' when calling SecurityAreaOverridesApi.update_security_area_override"
      end
      # verify the required parameter 'security_area_override' is set
      if @api_client.config.client_side_validation && security_area_override.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_override' when calling SecurityAreaOverridesApi.update_security_area_override"
      end
      # resource path
      local_var_path = '/security-area-overrides/{securityAreaOverrideKey}'.sub('{' + 'securityAreaOverrideKey' + '}', CGI.escape(security_area_override_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_override)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaOverrideVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaOverridesApi.update_security_area_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaOverridesApi#update_security_area_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
