=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityFieldUserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityFieldUserGroup
    # Creates a new SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group [SecurityFieldUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserGroupVBAResponse]
    def create_security_field_user_group(vbasoftware_database, security_field_user_group, opts = {})
      data, _status_code, _headers = create_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group, opts)
      data
    end

    # Create SecurityFieldUserGroup
    # Creates a new SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group [SecurityFieldUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserGroupVBAResponse, Integer, Hash)>] SecurityFieldUserGroupVBAResponse data, response status code and response headers
    def create_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.create_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.create_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group' is set
      if @api_client.config.client_side_validation && security_field_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group' when calling SecurityFieldUserGroupsApi.create_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.create_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#create_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityFieldUserGroup
    # Deletes an SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_field_user_group(vbasoftware_database, security_field_user_group_key, opts = {})
      delete_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, opts)
      nil
    end

    # Delete SecurityFieldUserGroup
    # Deletes an SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.delete_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.delete_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group_key' is set
      if @api_client.config.client_side_validation && security_field_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group_key' when calling SecurityFieldUserGroupsApi.delete_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups/{SecurityFieldUserGroup_Key}'.sub('{' + 'SecurityFieldUserGroup_Key' + '}', CGI.escape(security_field_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.delete_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#delete_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityFieldUserGroup
    # Gets SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserGroupVBAResponse]
    def get_security_field_user_group(vbasoftware_database, security_field_user_group_key, opts = {})
      data, _status_code, _headers = get_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, opts)
      data
    end

    # Get SecurityFieldUserGroup
    # Gets SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserGroupVBAResponse, Integer, Hash)>] SecurityFieldUserGroupVBAResponse data, response status code and response headers
    def get_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.get_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.get_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group_key' is set
      if @api_client.config.client_side_validation && security_field_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group_key' when calling SecurityFieldUserGroupsApi.get_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups/{SecurityFieldUserGroup_Key}'.sub('{' + 'SecurityFieldUserGroup_Key' + '}', CGI.escape(security_field_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.get_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#get_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityFieldUserGroup
    # Lists all SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [SecurityFieldUserGroupListVBAResponse]
    def list_security_field_user_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_field_user_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityFieldUserGroup
    # Lists all SecurityFieldUserGroup
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(SecurityFieldUserGroupListVBAResponse, Integer, Hash)>] SecurityFieldUserGroupListVBAResponse data, response status code and response headers
    def list_security_field_user_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.list_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.list_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.list_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#list_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityFieldUserGroup
    # Create or Update multiple SecurityFieldUserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group [Array<SecurityFieldUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_field_user_group(vbasoftware_database, security_field_user_group, opts = {})
      data, _status_code, _headers = update_batch_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group, opts)
      data
    end

    # Create or Update Batch SecurityFieldUserGroup
    # Create or Update multiple SecurityFieldUserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group [Array<SecurityFieldUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.update_batch_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.update_batch_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group' is set
      if @api_client.config.client_side_validation && security_field_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group' when calling SecurityFieldUserGroupsApi.update_batch_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.update_batch_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#update_batch_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityFieldUserGroup
    # Updates a specific SecurityFieldUserGroup.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param security_field_user_group [SecurityFieldUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserGroupVBAResponse]
    def update_security_field_user_group(vbasoftware_database, security_field_user_group_key, security_field_user_group, opts = {})
      data, _status_code, _headers = update_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, security_field_user_group, opts)
      data
    end

    # Update SecurityFieldUserGroup
    # Updates a specific SecurityFieldUserGroup.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_group_key [Integer] SecurityFieldUserGroup Key
    # @param security_field_user_group [SecurityFieldUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserGroupVBAResponse, Integer, Hash)>] SecurityFieldUserGroupVBAResponse data, response status code and response headers
    def update_security_field_user_group_with_http_info(vbasoftware_database, security_field_user_group_key, security_field_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUserGroupsApi.update_security_field_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUserGroupsApi.update_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group_key' is set
      if @api_client.config.client_side_validation && security_field_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group_key' when calling SecurityFieldUserGroupsApi.update_security_field_user_group"
      end
      # verify the required parameter 'security_field_user_group' is set
      if @api_client.config.client_side_validation && security_field_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_group' when calling SecurityFieldUserGroupsApi.update_security_field_user_group"
      end
      # resource path
      local_var_path = '/security-field-user-groups/{SecurityFieldUserGroup_Key}'.sub('{' + 'SecurityFieldUserGroup_Key' + '}', CGI.escape(security_field_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUserGroupsApi.update_security_field_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUserGroupsApi#update_security_field_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
