=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityGroupDivisionUsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityGroupDivisionUser
    # Creates a new SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user [SecurityGroupDivisionUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserVBAResponse]
    def create_security_group_division_user(vbasoftware_database, security_group_division_user, opts = {})
      data, _status_code, _headers = create_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user, opts)
      data
    end

    # Create SecurityGroupDivisionUser
    # Creates a new SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user [SecurityGroupDivisionUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserVBAResponse data, response status code and response headers
    def create_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.create_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.create_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user' is set
      if @api_client.config.client_side_validation && security_group_division_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user' when calling SecurityGroupDivisionUsersApi.create_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.create_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#create_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityGroupDivisionUser
    # Deletes an SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_group_division_user(vbasoftware_database, security_group_division_user_key, opts = {})
      delete_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, opts)
      nil
    end

    # Delete SecurityGroupDivisionUser
    # Deletes an SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.delete_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.delete_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_key' when calling SecurityGroupDivisionUsersApi.delete_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users/{securityGroupDivisionUserKey}'.sub('{' + 'securityGroupDivisionUserKey' + '}', CGI.escape(security_group_division_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.delete_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#delete_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityGroupDivisionUser
    # Gets SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserVBAResponse]
    def get_security_group_division_user(vbasoftware_database, security_group_division_user_key, opts = {})
      data, _status_code, _headers = get_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, opts)
      data
    end

    # Get SecurityGroupDivisionUser
    # Gets SecurityGroupDivisionUser
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserVBAResponse data, response status code and response headers
    def get_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.get_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.get_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_key' when calling SecurityGroupDivisionUsersApi.get_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users/{securityGroupDivisionUserKey}'.sub('{' + 'securityGroupDivisionUserKey' + '}', CGI.escape(security_group_division_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.get_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#get_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityGroupDivisionUser
    # Lists all SecurityGroupDivisionUser with optional userID and groupID filters
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id User ID Filter
    # @option opts [String] :group_id Group ID Filter
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SecurityGroupDivisionUserListVBAResponse]
    def list_security_group_division_user(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_group_division_user_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityGroupDivisionUser
    # Lists all SecurityGroupDivisionUser with optional userID and groupID filters
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id User ID Filter
    # @option opts [String] :group_id Group ID Filter
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SecurityGroupDivisionUserListVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserListVBAResponse data, response status code and response headers
    def list_security_group_division_user_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.list_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.list_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userID'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'groupID'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.list_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#list_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityGroupDivisionUser
    # Create or Update multiple SecurityGroupDivisionUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user [Array<SecurityGroupDivisionUser>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_group_division_user(vbasoftware_database, security_group_division_user, opts = {})
      data, _status_code, _headers = update_batch_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user, opts)
      data
    end

    # Create or Update Batch SecurityGroupDivisionUser
    # Create or Update multiple SecurityGroupDivisionUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user [Array<SecurityGroupDivisionUser>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.update_batch_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.update_batch_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user' is set
      if @api_client.config.client_side_validation && security_group_division_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user' when calling SecurityGroupDivisionUsersApi.update_batch_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.update_batch_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#update_batch_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityGroupDivisionUser
    # Updates a specific SecurityGroupDivisionUser.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param security_group_division_user [SecurityGroupDivisionUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserVBAResponse]
    def update_security_group_division_user(vbasoftware_database, security_group_division_user_key, security_group_division_user, opts = {})
      data, _status_code, _headers = update_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, security_group_division_user, opts)
      data
    end

    # Update SecurityGroupDivisionUser
    # Updates a specific SecurityGroupDivisionUser.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_key [Integer] SecurityGroupDivisionUser Key
    # @param security_group_division_user [SecurityGroupDivisionUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserVBAResponse data, response status code and response headers
    def update_security_group_division_user_with_http_info(vbasoftware_database, security_group_division_user_key, security_group_division_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUsersApi.update_security_group_division_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUsersApi.update_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_key' when calling SecurityGroupDivisionUsersApi.update_security_group_division_user"
      end
      # verify the required parameter 'security_group_division_user' is set
      if @api_client.config.client_side_validation && security_group_division_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user' when calling SecurityGroupDivisionUsersApi.update_security_group_division_user"
      end
      # resource path
      local_var_path = '/security-group-division-users/{securityGroupDivisionUserKey}'.sub('{' + 'securityGroupDivisionUserKey' + '}', CGI.escape(security_group_division_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUsersApi.update_security_group_division_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUsersApi#update_security_group_division_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
