=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityFieldUsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityFieldUser
    # Creates a new SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user [SecurityFieldUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserVBAResponse]
    def create_security_field_user(vbasoftware_database, security_field_user, opts = {})
      data, _status_code, _headers = create_security_field_user_with_http_info(vbasoftware_database, security_field_user, opts)
      data
    end

    # Create SecurityFieldUser
    # Creates a new SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user [SecurityFieldUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserVBAResponse, Integer, Hash)>] SecurityFieldUserVBAResponse data, response status code and response headers
    def create_security_field_user_with_http_info(vbasoftware_database, security_field_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.create_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.create_security_field_user"
      end
      # verify the required parameter 'security_field_user' is set
      if @api_client.config.client_side_validation && security_field_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user' when calling SecurityFieldUsersApi.create_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.create_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#create_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityFieldUser
    # Deletes an SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_field_user(vbasoftware_database, security_field_user_key, opts = {})
      delete_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, opts)
      nil
    end

    # Delete SecurityFieldUser
    # Deletes an SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.delete_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.delete_security_field_user"
      end
      # verify the required parameter 'security_field_user_key' is set
      if @api_client.config.client_side_validation && security_field_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_key' when calling SecurityFieldUsersApi.delete_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users/{SecurityFieldUser_Key}'.sub('{' + 'SecurityFieldUser_Key' + '}', CGI.escape(security_field_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.delete_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#delete_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityFieldUser
    # Gets SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserVBAResponse]
    def get_security_field_user(vbasoftware_database, security_field_user_key, opts = {})
      data, _status_code, _headers = get_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, opts)
      data
    end

    # Get SecurityFieldUser
    # Gets SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserVBAResponse, Integer, Hash)>] SecurityFieldUserVBAResponse data, response status code and response headers
    def get_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.get_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.get_security_field_user"
      end
      # verify the required parameter 'security_field_user_key' is set
      if @api_client.config.client_side_validation && security_field_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_key' when calling SecurityFieldUsersApi.get_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users/{SecurityFieldUser_Key}'.sub('{' + 'SecurityFieldUser_Key' + '}', CGI.escape(security_field_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.get_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#get_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityFieldUser
    # Lists all SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [SecurityFieldUserListVBAResponse]
    def list_security_field_user(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_field_user_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityFieldUser
    # Lists all SecurityFieldUser
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(SecurityFieldUserListVBAResponse, Integer, Hash)>] SecurityFieldUserListVBAResponse data, response status code and response headers
    def list_security_field_user_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.list_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.list_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.list_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#list_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityFieldUser
    # Create or Update multiple SecurityFieldUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user [Array<SecurityFieldUser>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_field_user(vbasoftware_database, security_field_user, opts = {})
      data, _status_code, _headers = update_batch_security_field_user_with_http_info(vbasoftware_database, security_field_user, opts)
      data
    end

    # Create or Update Batch SecurityFieldUser
    # Create or Update multiple SecurityFieldUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user [Array<SecurityFieldUser>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_field_user_with_http_info(vbasoftware_database, security_field_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.update_batch_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.update_batch_security_field_user"
      end
      # verify the required parameter 'security_field_user' is set
      if @api_client.config.client_side_validation && security_field_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user' when calling SecurityFieldUsersApi.update_batch_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.update_batch_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#update_batch_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityFieldUser
    # Updates a specific SecurityFieldUser.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param security_field_user [SecurityFieldUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldUserVBAResponse]
    def update_security_field_user(vbasoftware_database, security_field_user_key, security_field_user, opts = {})
      data, _status_code, _headers = update_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, security_field_user, opts)
      data
    end

    # Update SecurityFieldUser
    # Updates a specific SecurityFieldUser.
    # @param vbasoftware_database [String] Target database
    # @param security_field_user_key [Integer] SecurityFieldUser Key
    # @param security_field_user [SecurityFieldUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldUserVBAResponse, Integer, Hash)>] SecurityFieldUserVBAResponse data, response status code and response headers
    def update_security_field_user_with_http_info(vbasoftware_database, security_field_user_key, security_field_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldUsersApi.update_security_field_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldUsersApi.update_security_field_user"
      end
      # verify the required parameter 'security_field_user_key' is set
      if @api_client.config.client_side_validation && security_field_user_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user_key' when calling SecurityFieldUsersApi.update_security_field_user"
      end
      # verify the required parameter 'security_field_user' is set
      if @api_client.config.client_side_validation && security_field_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_user' when calling SecurityFieldUsersApi.update_security_field_user"
      end
      # resource path
      local_var_path = '/security-field-users/{SecurityFieldUser_Key}'.sub('{' + 'SecurityFieldUser_Key' + '}', CGI.escape(security_field_user_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldUsersApi.update_security_field_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldUsersApi#update_security_field_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
