=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityAreaUsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityAreaUser
    # Creates a new SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user [SecurityAreaUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserVBAResponse]
    def create_security_area_user(vbasoftware_database, security_area, security_area_user, opts = {})
      data, _status_code, _headers = create_security_area_user_with_http_info(vbasoftware_database, security_area, security_area_user, opts)
      data
    end

    # Create SecurityAreaUser
    # Creates a new SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user [SecurityAreaUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserVBAResponse, Integer, Hash)>] SecurityAreaUserVBAResponse data, response status code and response headers
    def create_security_area_user_with_http_info(vbasoftware_database, security_area, security_area_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.create_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.create_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.create_security_area_user"
      end
      # verify the required parameter 'security_area_user' is set
      if @api_client.config.client_side_validation && security_area_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user' when calling SecurityAreaUsersApi.create_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.create_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#create_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityAreaUser
    # Deletes an SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_area_user(vbasoftware_database, security_area, user_id, opts = {})
      delete_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, opts)
      nil
    end

    # Delete SecurityAreaUser
    # Deletes an SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.delete_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.delete_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.delete_security_area_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SecurityAreaUsersApi.delete_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users/{userID}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.delete_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#delete_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityAreaUser
    # Gets SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserVBAResponse]
    def get_security_area_user(vbasoftware_database, security_area, user_id, opts = {})
      data, _status_code, _headers = get_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, opts)
      data
    end

    # Get SecurityAreaUser
    # Gets SecurityAreaUser
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserVBAResponse, Integer, Hash)>] SecurityAreaUserVBAResponse data, response status code and response headers
    def get_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.get_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.get_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.get_security_area_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SecurityAreaUsersApi.get_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users/{userID}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.get_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#get_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityAreaUser
    # Lists all SecurityAreaUser given securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserListVBAResponse]
    def list_security_area_user(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = list_security_area_user_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # List SecurityAreaUser
    # Lists all SecurityAreaUser given securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserListVBAResponse, Integer, Hash)>] SecurityAreaUserListVBAResponse data, response status code and response headers
    def list_security_area_user_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.list_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.list_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.list_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.list_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#list_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityAreaUser for a User ID
    # Lists all SecurityAreaUser objects for a given User ID. This will show all of the Areas in which a User is a member.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserListVBAResponse]
    def list_security_areas_for_user(vbasoftware_database, user_id, opts = {})
      data, _status_code, _headers = list_security_areas_for_user_with_http_info(vbasoftware_database, user_id, opts)
      data
    end

    # List SecurityAreaUser for a User ID
    # Lists all SecurityAreaUser objects for a given User ID. This will show all of the Areas in which a User is a member.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserListVBAResponse, Integer, Hash)>] SecurityAreaUserListVBAResponse data, response status code and response headers
    def list_security_areas_for_user_with_http_info(vbasoftware_database, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.list_security_areas_for_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.list_security_areas_for_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SecurityAreaUsersApi.list_security_areas_for_user"
      end
      # resource path
      local_var_path = '/security-area-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userID'] = user_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.list_security_areas_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#list_security_areas_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityAreaUser
    # Create or Update multiple SecurityAreaUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user [Array<SecurityAreaUser>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_area_user(vbasoftware_database, security_area, security_area_user, opts = {})
      data, _status_code, _headers = update_batch_security_area_user_with_http_info(vbasoftware_database, security_area, security_area_user, opts)
      data
    end

    # Create or Update Batch SecurityAreaUser
    # Create or Update multiple SecurityAreaUser at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user [Array<SecurityAreaUser>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_area_user_with_http_info(vbasoftware_database, security_area, security_area_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.update_batch_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.update_batch_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.update_batch_security_area_user"
      end
      # verify the required parameter 'security_area_user' is set
      if @api_client.config.client_side_validation && security_area_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user' when calling SecurityAreaUsersApi.update_batch_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users-batch'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.update_batch_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#update_batch_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityAreaUser
    # Updates a specific SecurityAreaUser.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param security_area_user [SecurityAreaUser] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserVBAResponse]
    def update_security_area_user(vbasoftware_database, security_area, user_id, security_area_user, opts = {})
      data, _status_code, _headers = update_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, security_area_user, opts)
      data
    end

    # Update SecurityAreaUser
    # Updates a specific SecurityAreaUser.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_id [String] User ID
    # @param security_area_user [SecurityAreaUser] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserVBAResponse, Integer, Hash)>] SecurityAreaUserVBAResponse data, response status code and response headers
    def update_security_area_user_with_http_info(vbasoftware_database, security_area, user_id, security_area_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUsersApi.update_security_area_user ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUsersApi.update_security_area_user"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUsersApi.update_security_area_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SecurityAreaUsersApi.update_security_area_user"
      end
      # verify the required parameter 'security_area_user' is set
      if @api_client.config.client_side_validation && security_area_user.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user' when calling SecurityAreaUsersApi.update_security_area_user"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/users/{userID}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUsersApi.update_security_area_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUsersApi#update_security_area_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
