=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityAreaReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityAreaReport
    # Creates a new SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_report [SecurityAreaReport] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaReportVBAResponse]
    def create_security_area_report(vbasoftware_database, security_area, security_area_report, opts = {})
      data, _status_code, _headers = create_security_area_report_with_http_info(vbasoftware_database, security_area, security_area_report, opts)
      data
    end

    # Create SecurityAreaReport
    # Creates a new SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_report [SecurityAreaReport] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaReportVBAResponse, Integer, Hash)>] SecurityAreaReportVBAResponse data, response status code and response headers
    def create_security_area_report_with_http_info(vbasoftware_database, security_area, security_area_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.create_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.create_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.create_security_area_report"
      end
      # verify the required parameter 'security_area_report' is set
      if @api_client.config.client_side_validation && security_area_report.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_report' when calling SecurityAreaReportsApi.create_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_report)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.create_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#create_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityAreaReport
    # Deletes an SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_area_report(vbasoftware_database, security_area, report_definition_key, opts = {})
      delete_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, opts)
      nil
    end

    # Delete SecurityAreaReport
    # Deletes an SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.delete_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.delete_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.delete_security_area_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling SecurityAreaReportsApi.delete_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports/{reportDefinitionKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.delete_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#delete_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityAreaReport
    # Gets SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaReportVBAResponse]
    def get_security_area_report(vbasoftware_database, security_area, report_definition_key, opts = {})
      data, _status_code, _headers = get_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, opts)
      data
    end

    # Get SecurityAreaReport
    # Gets SecurityAreaReport
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaReportVBAResponse, Integer, Hash)>] SecurityAreaReportVBAResponse data, response status code and response headers
    def get_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.get_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.get_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.get_security_area_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling SecurityAreaReportsApi.get_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports/{reportDefinitionKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.get_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#get_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityAreaReport
    # Lists all SecurityAreaReport securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaReportListVBAResponse]
    def list_security_area_report(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = list_security_area_report_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # List SecurityAreaReport
    # Lists all SecurityAreaReport securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaReportListVBAResponse, Integer, Hash)>] SecurityAreaReportListVBAResponse data, response status code and response headers
    def list_security_area_report_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.list_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.list_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.list_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaReportListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.list_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#list_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityAreaReport
    # Create or Update multiple SecurityAreaReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_report [Array<SecurityAreaReport>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_area_report(vbasoftware_database, security_area, security_area_report, opts = {})
      data, _status_code, _headers = update_batch_security_area_report_with_http_info(vbasoftware_database, security_area, security_area_report, opts)
      data
    end

    # Create or Update Batch SecurityAreaReport
    # Create or Update multiple SecurityAreaReport at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_report [Array<SecurityAreaReport>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_area_report_with_http_info(vbasoftware_database, security_area, security_area_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.update_batch_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.update_batch_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.update_batch_security_area_report"
      end
      # verify the required parameter 'security_area_report' is set
      if @api_client.config.client_side_validation && security_area_report.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_report' when calling SecurityAreaReportsApi.update_batch_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_report)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.update_batch_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#update_batch_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityAreaReport
    # Updates a specific SecurityAreaReport.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param security_area_report [SecurityAreaReport] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaReportVBAResponse]
    def update_security_area_report(vbasoftware_database, security_area, report_definition_key, security_area_report, opts = {})
      data, _status_code, _headers = update_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, security_area_report, opts)
      data
    end

    # Update SecurityAreaReport
    # Updates a specific SecurityAreaReport.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param report_definition_key [Integer] ReportDefinition Key
    # @param security_area_report [SecurityAreaReport] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaReportVBAResponse, Integer, Hash)>] SecurityAreaReportVBAResponse data, response status code and response headers
    def update_security_area_report_with_http_info(vbasoftware_database, security_area, report_definition_key, security_area_report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaReportsApi.update_security_area_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaReportsApi.update_security_area_report"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaReportsApi.update_security_area_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling SecurityAreaReportsApi.update_security_area_report"
      end
      # verify the required parameter 'security_area_report' is set
      if @api_client.config.client_side_validation && security_area_report.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_report' when calling SecurityAreaReportsApi.update_security_area_report"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/reports/{reportDefinitionKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'reportDefinitionKey' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_report)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaReportsApi.update_security_area_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaReportsApi#update_security_area_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
