=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityGroupDivisionUserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityGroupDivisionUserGroup
    # Creates a new SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group [SecurityGroupDivisionUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserGroupVBAResponse]
    def create_security_group_division_user_group(vbasoftware_database, security_group_division_user_group, opts = {})
      data, _status_code, _headers = create_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group, opts)
      data
    end

    # Create SecurityGroupDivisionUserGroup
    # Creates a new SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group [SecurityGroupDivisionUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserGroupVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserGroupVBAResponse data, response status code and response headers
    def create_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.create_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.create_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group' is set
      if @api_client.config.client_side_validation && security_group_division_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group' when calling SecurityGroupDivisionUserGroupsApi.create_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.create_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#create_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityGroupDivisionUserGroup
    # Deletes an SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_group_division_user_group(vbasoftware_database, security_group_division_user_group_key, opts = {})
      delete_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, opts)
      nil
    end

    # Delete SecurityGroupDivisionUserGroup
    # Deletes an SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.delete_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.delete_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group_key' when calling SecurityGroupDivisionUserGroupsApi.delete_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups/{securityGroupDivisionUserGroupKey}'.sub('{' + 'securityGroupDivisionUserGroupKey' + '}', CGI.escape(security_group_division_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.delete_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#delete_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityGroupDivisionUserGroup
    # Gets SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserGroupVBAResponse]
    def get_security_group_division_user_group(vbasoftware_database, security_group_division_user_group_key, opts = {})
      data, _status_code, _headers = get_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, opts)
      data
    end

    # Get SecurityGroupDivisionUserGroup
    # Gets SecurityGroupDivisionUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserGroupVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserGroupVBAResponse data, response status code and response headers
    def get_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.get_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.get_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group_key' when calling SecurityGroupDivisionUserGroupsApi.get_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups/{securityGroupDivisionUserGroupKey}'.sub('{' + 'securityGroupDivisionUserGroupKey' + '}', CGI.escape(security_group_division_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.get_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#get_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityGroupDivisionUserGroup
    # Lists all SecurityGroupDivisionUserGroup with optional groupID filter
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SecurityGroupDivisionUserGroupListVBAResponse]
    def list_security_group_division_user_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_group_division_user_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityGroupDivisionUserGroup
    # Lists all SecurityGroupDivisionUserGroup with optional groupID filter
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_id Group ID
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SecurityGroupDivisionUserGroupListVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserGroupListVBAResponse data, response status code and response headers
    def list_security_group_division_user_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.list_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.list_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groupID'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.list_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#list_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityGroupDivisionUserGroup
    # Create or Update multiple SecurityGroupDivisionUserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group [Array<SecurityGroupDivisionUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_group_division_user_group(vbasoftware_database, security_group_division_user_group, opts = {})
      data, _status_code, _headers = update_batch_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group, opts)
      data
    end

    # Create or Update Batch SecurityGroupDivisionUserGroup
    # Create or Update multiple SecurityGroupDivisionUserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group [Array<SecurityGroupDivisionUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.update_batch_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.update_batch_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group' is set
      if @api_client.config.client_side_validation && security_group_division_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group' when calling SecurityGroupDivisionUserGroupsApi.update_batch_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.update_batch_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#update_batch_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityGroupDivisionUserGroup
    # Updates a specific SecurityGroupDivisionUserGroup.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param security_group_division_user_group [SecurityGroupDivisionUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityGroupDivisionUserGroupVBAResponse]
    def update_security_group_division_user_group(vbasoftware_database, security_group_division_user_group_key, security_group_division_user_group, opts = {})
      data, _status_code, _headers = update_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, security_group_division_user_group, opts)
      data
    end

    # Update SecurityGroupDivisionUserGroup
    # Updates a specific SecurityGroupDivisionUserGroup.
    # @param vbasoftware_database [String] Target database
    # @param security_group_division_user_group_key [Integer] SecurityGroupDivisionUserGroup Key
    # @param security_group_division_user_group [SecurityGroupDivisionUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityGroupDivisionUserGroupVBAResponse, Integer, Hash)>] SecurityGroupDivisionUserGroupVBAResponse data, response status code and response headers
    def update_security_group_division_user_group_with_http_info(vbasoftware_database, security_group_division_user_group_key, security_group_division_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityGroupDivisionUserGroupsApi.update_security_group_division_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityGroupDivisionUserGroupsApi.update_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group_key' is set
      if @api_client.config.client_side_validation && security_group_division_user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group_key' when calling SecurityGroupDivisionUserGroupsApi.update_security_group_division_user_group"
      end
      # verify the required parameter 'security_group_division_user_group' is set
      if @api_client.config.client_side_validation && security_group_division_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_group_division_user_group' when calling SecurityGroupDivisionUserGroupsApi.update_security_group_division_user_group"
      end
      # resource path
      local_var_path = '/security-group-division-user-groups/{securityGroupDivisionUserGroupKey}'.sub('{' + 'securityGroupDivisionUserGroupKey' + '}', CGI.escape(security_group_division_user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_group_division_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityGroupDivisionUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityGroupDivisionUserGroupsApi.update_security_group_division_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityGroupDivisionUserGroupsApi#update_security_group_division_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
