=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityAreaUserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityAreaUserGroup
    # Creates a new SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user_group [SecurityAreaUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserGroupVBAResponse]
    def create_security_area_user_group(vbasoftware_database, security_area, security_area_user_group, opts = {})
      data, _status_code, _headers = create_security_area_user_group_with_http_info(vbasoftware_database, security_area, security_area_user_group, opts)
      data
    end

    # Create SecurityAreaUserGroup
    # Creates a new SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user_group [SecurityAreaUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserGroupVBAResponse, Integer, Hash)>] SecurityAreaUserGroupVBAResponse data, response status code and response headers
    def create_security_area_user_group_with_http_info(vbasoftware_database, security_area, security_area_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.create_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.create_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.create_security_area_user_group"
      end
      # verify the required parameter 'security_area_user_group' is set
      if @api_client.config.client_side_validation && security_area_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user_group' when calling SecurityAreaUserGroupsApi.create_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.create_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#create_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityAreaUserGroup
    # Deletes an SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_area_user_group(vbasoftware_database, security_area, user_group_key, opts = {})
      delete_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, opts)
      nil
    end

    # Delete SecurityAreaUserGroup
    # Deletes an SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.delete_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.delete_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.delete_security_area_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling SecurityAreaUserGroupsApi.delete_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups/{userGroupKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.delete_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#delete_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityAreaUserGroup
    # Gets SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserGroupVBAResponse]
    def get_security_area_user_group(vbasoftware_database, security_area, user_group_key, opts = {})
      data, _status_code, _headers = get_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, opts)
      data
    end

    # Get SecurityAreaUserGroup
    # Gets SecurityAreaUserGroup
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserGroupVBAResponse, Integer, Hash)>] SecurityAreaUserGroupVBAResponse data, response status code and response headers
    def get_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.get_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.get_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.get_security_area_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling SecurityAreaUserGroupsApi.get_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups/{userGroupKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.get_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#get_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Secure Groups
    # Lists all Secure Groups for a given User ID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [StringListVBAResponse]
    def list_secure_groups_for_user_id(vbasoftware_database, user_id, opts = {})
      data, _status_code, _headers = list_secure_groups_for_user_id_with_http_info(vbasoftware_database, user_id, opts)
      data
    end

    # List Secure Groups
    # Lists all Secure Groups for a given User ID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringListVBAResponse, Integer, Hash)>] StringListVBAResponse data, response status code and response headers
    def list_secure_groups_for_user_id_with_http_info(vbasoftware_database, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.list_secure_groups_for_user_id ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.list_secure_groups_for_user_id"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling SecurityAreaUserGroupsApi.list_secure_groups_for_user_id"
      end
      # resource path
      local_var_path = '/secure-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userID'] = user_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.list_secure_groups_for_user_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#list_secure_groups_for_user_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityAreaUserGroup
    # Lists all SecurityAreaUserGroup securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserGroupListVBAResponse]
    def list_security_area_user_group(vbasoftware_database, security_area, opts = {})
      data, _status_code, _headers = list_security_area_user_group_with_http_info(vbasoftware_database, security_area, opts)
      data
    end

    # List SecurityAreaUserGroup
    # Lists all SecurityAreaUserGroup securityArea
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserGroupListVBAResponse, Integer, Hash)>] SecurityAreaUserGroupListVBAResponse data, response status code and response headers
    def list_security_area_user_group_with_http_info(vbasoftware_database, security_area, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.list_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.list_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.list_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.list_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#list_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityAreaUserGroup
    # Create or Update multiple SecurityAreaUserGroup records at once. If the entity exists, it will be updated; if it does not exist, it will be created. **Please note**: The `Security_Area` and `UserGroup_Key` fields represent the primary identifiers for these records and cannot be modified during an update. Ensure these values remain consistent with the original records when performing updates.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user_group [Array<SecurityAreaUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_area_user_group(vbasoftware_database, security_area, security_area_user_group, opts = {})
      data, _status_code, _headers = update_batch_security_area_user_group_with_http_info(vbasoftware_database, security_area, security_area_user_group, opts)
      data
    end

    # Create or Update Batch SecurityAreaUserGroup
    # Create or Update multiple SecurityAreaUserGroup records at once. If the entity exists, it will be updated; if it does not exist, it will be created. **Please note**: The &#x60;Security_Area&#x60; and &#x60;UserGroup_Key&#x60; fields represent the primary identifiers for these records and cannot be modified during an update. Ensure these values remain consistent with the original records when performing updates.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param security_area_user_group [Array<SecurityAreaUserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_area_user_group_with_http_info(vbasoftware_database, security_area, security_area_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.update_batch_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.update_batch_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.update_batch_security_area_user_group"
      end
      # verify the required parameter 'security_area_user_group' is set
      if @api_client.config.client_side_validation && security_area_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user_group' when calling SecurityAreaUserGroupsApi.update_batch_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.update_batch_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#update_batch_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityAreaUserGroup
    # Updates an existing SecurityAreaUserGroup for the specified `Security_Area` and `UserGroup_Key`. **Please note**: The `Security_Area` and `UserGroup_Key` fields represent the primary identifiers for this record and cannot be modified during an update. These fields must match the values of the existing record being updated.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param security_area_user_group [SecurityAreaUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityAreaUserGroupVBAResponse]
    def update_security_area_user_group(vbasoftware_database, security_area, user_group_key, security_area_user_group, opts = {})
      data, _status_code, _headers = update_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, security_area_user_group, opts)
      data
    end

    # Update SecurityAreaUserGroup
    # Updates an existing SecurityAreaUserGroup for the specified &#x60;Security_Area&#x60; and &#x60;UserGroup_Key&#x60;. **Please note**: The &#x60;Security_Area&#x60; and &#x60;UserGroup_Key&#x60; fields represent the primary identifiers for this record and cannot be modified during an update. These fields must match the values of the existing record being updated.
    # @param vbasoftware_database [String] Target database
    # @param security_area [String] Security Area
    # @param user_group_key [Integer] UserGroup Key
    # @param security_area_user_group [SecurityAreaUserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityAreaUserGroupVBAResponse, Integer, Hash)>] SecurityAreaUserGroupVBAResponse data, response status code and response headers
    def update_security_area_user_group_with_http_info(vbasoftware_database, security_area, user_group_key, security_area_user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityAreaUserGroupsApi.update_security_area_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityAreaUserGroupsApi.update_security_area_user_group"
      end
      # verify the required parameter 'security_area' is set
      if @api_client.config.client_side_validation && security_area.nil?
        fail ArgumentError, "Missing the required parameter 'security_area' when calling SecurityAreaUserGroupsApi.update_security_area_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling SecurityAreaUserGroupsApi.update_security_area_user_group"
      end
      # verify the required parameter 'security_area_user_group' is set
      if @api_client.config.client_side_validation && security_area_user_group.nil?
        fail ArgumentError, "Missing the required parameter 'security_area_user_group' when calling SecurityAreaUserGroupsApi.update_security_area_user_group"
      end
      # resource path
      local_var_path = '/security-areas/{securityArea}/user-groups/{userGroupKey}'.sub('{' + 'securityArea' + '}', CGI.escape(security_area.to_s)).sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_area_user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityAreaUserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityAreaUserGroupsApi.update_security_area_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityAreaUserGroupsApi#update_security_area_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
