=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityFieldSetDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityFieldSetDetail
    # Creates a new SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param security_field_set_detail [SecurityFieldSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldSetDetailVBAResponse]
    def create_security_field_set_detail(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts = {})
      data, _status_code, _headers = create_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts)
      data
    end

    # Create SecurityFieldSetDetail
    # Creates a new SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param security_field_set_detail [SecurityFieldSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldSetDetailVBAResponse, Integer, Hash)>] SecurityFieldSetDetailVBAResponse data, response status code and response headers
    def create_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.create_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.create_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.create_security_field_set_detail"
      end
      # verify the required parameter 'security_field_id' is set
      if @api_client.config.client_side_validation && security_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_id' when calling SecurityFieldSetDetailsApi.create_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_detail' is set
      if @api_client.config.client_side_validation && security_field_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_detail' when calling SecurityFieldSetDetailsApi.create_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/fields/{SecurityField_ID}/details'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s)).sub('{' + 'SecurityField_ID' + '}', CGI.escape(security_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.create_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#create_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityFieldSetDetail
    # Deletes an SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_field_set_detail(vbasoftware_database, security_field_set_id, security_field_id, opts = {})
      delete_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, opts)
      nil
    end

    # Delete SecurityFieldSetDetail
    # Deletes an SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.delete_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.delete_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.delete_security_field_set_detail"
      end
      # verify the required parameter 'security_field_id' is set
      if @api_client.config.client_side_validation && security_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_id' when calling SecurityFieldSetDetailsApi.delete_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/fields/{SecurityField_ID}/details'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s)).sub('{' + 'SecurityField_ID' + '}', CGI.escape(security_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.delete_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#delete_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityFieldSetDetail
    # Gets SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldSetDetailVBAResponse]
    def get_security_field_set_detail(vbasoftware_database, security_field_set_id, security_field_id, opts = {})
      data, _status_code, _headers = get_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, opts)
      data
    end

    # Get SecurityFieldSetDetail
    # Gets SecurityFieldSetDetail
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldSetDetailVBAResponse, Integer, Hash)>] SecurityFieldSetDetailVBAResponse data, response status code and response headers
    def get_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.get_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.get_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.get_security_field_set_detail"
      end
      # verify the required parameter 'security_field_id' is set
      if @api_client.config.client_side_validation && security_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_id' when calling SecurityFieldSetDetailsApi.get_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/fields/{SecurityField_ID}/details'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s)).sub('{' + 'SecurityField_ID' + '}', CGI.escape(security_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.get_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#get_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityFieldSetDetail
    # Lists all SecurityFieldSetDetail for the given SecurityFieldSet_ID
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [SecurityFieldSetDetailListVBAResponse]
    def list_security_field_set_detail(vbasoftware_database, security_field_set_id, opts = {})
      data, _status_code, _headers = list_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, opts)
      data
    end

    # List SecurityFieldSetDetail
    # Lists all SecurityFieldSetDetail for the given SecurityFieldSet_ID
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(SecurityFieldSetDetailListVBAResponse, Integer, Hash)>] SecurityFieldSetDetailListVBAResponse data, response status code and response headers
    def list_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.list_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.list_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.list_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/details'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldSetDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.list_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#list_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityFieldSetDetail
    # Create or Update multiple SecurityFieldSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_set_detail [Array<SecurityFieldSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_field_set_detail(vbasoftware_database, security_field_set_id, security_field_set_detail, opts = {})
      data, _status_code, _headers = update_batch_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_set_detail, opts)
      data
    end

    # Create or Update Batch SecurityFieldSetDetail
    # Create or Update multiple SecurityFieldSetDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_set_detail [Array<SecurityFieldSetDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.update_batch_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.update_batch_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.update_batch_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_detail' is set
      if @api_client.config.client_side_validation && security_field_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_detail' when calling SecurityFieldSetDetailsApi.update_batch_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/details-batch'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.update_batch_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#update_batch_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityFieldSetDetail
    # Updates a specific SecurityFieldSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param security_field_set_detail [SecurityFieldSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityFieldSetDetailVBAResponse]
    def update_security_field_set_detail(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts = {})
      data, _status_code, _headers = update_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts)
      data
    end

    # Update SecurityFieldSetDetail
    # Updates a specific SecurityFieldSetDetail.
    # @param vbasoftware_database [String] Target database
    # @param security_field_set_id [String] SecurityFieldSet ID
    # @param security_field_id [String] SecurityField ID
    # @param security_field_set_detail [SecurityFieldSetDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityFieldSetDetailVBAResponse, Integer, Hash)>] SecurityFieldSetDetailVBAResponse data, response status code and response headers
    def update_security_field_set_detail_with_http_info(vbasoftware_database, security_field_set_id, security_field_id, security_field_set_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityFieldSetDetailsApi.update_security_field_set_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityFieldSetDetailsApi.update_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_id' is set
      if @api_client.config.client_side_validation && security_field_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_id' when calling SecurityFieldSetDetailsApi.update_security_field_set_detail"
      end
      # verify the required parameter 'security_field_id' is set
      if @api_client.config.client_side_validation && security_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_id' when calling SecurityFieldSetDetailsApi.update_security_field_set_detail"
      end
      # verify the required parameter 'security_field_set_detail' is set
      if @api_client.config.client_side_validation && security_field_set_detail.nil?
        fail ArgumentError, "Missing the required parameter 'security_field_set_detail' when calling SecurityFieldSetDetailsApi.update_security_field_set_detail"
      end
      # resource path
      local_var_path = '/security-field-sets/{SecurityFieldSet_ID}/fields/{SecurityField_ID}/details'.sub('{' + 'SecurityFieldSet_ID' + '}', CGI.escape(security_field_set_id.to_s)).sub('{' + 'SecurityField_ID' + '}', CGI.escape(security_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_field_set_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityFieldSetDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityFieldSetDetailsApi.update_security_field_set_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityFieldSetDetailsApi#update_security_field_set_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
