=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SecurityUserRestrictionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SecurityUserRestriction
    # Creates a new SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction [SecurityUserRestriction] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityUserRestrictionVBAResponse]
    def create_security_user_restriction(vbasoftware_database, security_user_restriction, opts = {})
      data, _status_code, _headers = create_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction, opts)
      data
    end

    # Create SecurityUserRestriction
    # Creates a new SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction [SecurityUserRestriction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityUserRestrictionVBAResponse, Integer, Hash)>] SecurityUserRestrictionVBAResponse data, response status code and response headers
    def create_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.create_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.create_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction' is set
      if @api_client.config.client_side_validation && security_user_restriction.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction' when calling SecurityUserRestrictionsApi.create_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_user_restriction)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityUserRestrictionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.create_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#create_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SecurityUserRestriction
    # Deletes an SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_user_restriction(vbasoftware_database, security_user_restriction_key, opts = {})
      delete_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, opts)
      nil
    end

    # Delete SecurityUserRestriction
    # Deletes an SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.delete_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.delete_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction_key' is set
      if @api_client.config.client_side_validation && security_user_restriction_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction_key' when calling SecurityUserRestrictionsApi.delete_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions/{securityUserRestrictionKey}'.sub('{' + 'securityUserRestrictionKey' + '}', CGI.escape(security_user_restriction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.delete_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#delete_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SecurityUserRestriction
    # Gets SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param [Hash] opts the optional parameters
    # @return [SecurityUserRestrictionVBAResponse]
    def get_security_user_restriction(vbasoftware_database, security_user_restriction_key, opts = {})
      data, _status_code, _headers = get_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, opts)
      data
    end

    # Get SecurityUserRestriction
    # Gets SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityUserRestrictionVBAResponse, Integer, Hash)>] SecurityUserRestrictionVBAResponse data, response status code and response headers
    def get_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.get_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.get_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction_key' is set
      if @api_client.config.client_side_validation && security_user_restriction_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction_key' when calling SecurityUserRestrictionsApi.get_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions/{securityUserRestrictionKey}'.sub('{' + 'securityUserRestrictionKey' + '}', CGI.escape(security_user_restriction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityUserRestrictionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.get_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#get_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SecurityUserRestriction
    # Lists all SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SecurityUserRestrictionListVBAResponse]
    def list_security_user_restriction(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_security_user_restriction_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SecurityUserRestriction
    # Lists all SecurityUserRestriction
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SecurityUserRestrictionListVBAResponse, Integer, Hash)>] SecurityUserRestrictionListVBAResponse data, response status code and response headers
    def list_security_user_restriction_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.list_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.list_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityUserRestrictionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.list_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#list_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SecurityUserRestriction
    # Create or Update multiple SecurityUserRestriction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction [Array<SecurityUserRestriction>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_security_user_restriction(vbasoftware_database, security_user_restriction, opts = {})
      data, _status_code, _headers = update_batch_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction, opts)
      data
    end

    # Create or Update Batch SecurityUserRestriction
    # Create or Update multiple SecurityUserRestriction at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction [Array<SecurityUserRestriction>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.update_batch_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.update_batch_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction' is set
      if @api_client.config.client_side_validation && security_user_restriction.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction' when calling SecurityUserRestrictionsApi.update_batch_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_user_restriction)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.update_batch_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#update_batch_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SecurityUserRestriction
    # Updates a specific SecurityUserRestriction.
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param security_user_restriction [SecurityUserRestriction] 
    # @param [Hash] opts the optional parameters
    # @return [SecurityUserRestrictionVBAResponse]
    def update_security_user_restriction(vbasoftware_database, security_user_restriction_key, security_user_restriction, opts = {})
      data, _status_code, _headers = update_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, security_user_restriction, opts)
      data
    end

    # Update SecurityUserRestriction
    # Updates a specific SecurityUserRestriction.
    # @param vbasoftware_database [String] Target database
    # @param security_user_restriction_key [Integer] SecurityUserRestriction Key
    # @param security_user_restriction [SecurityUserRestriction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityUserRestrictionVBAResponse, Integer, Hash)>] SecurityUserRestrictionVBAResponse data, response status code and response headers
    def update_security_user_restriction_with_http_info(vbasoftware_database, security_user_restriction_key, security_user_restriction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityUserRestrictionsApi.update_security_user_restriction ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SecurityUserRestrictionsApi.update_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction_key' is set
      if @api_client.config.client_side_validation && security_user_restriction_key.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction_key' when calling SecurityUserRestrictionsApi.update_security_user_restriction"
      end
      # verify the required parameter 'security_user_restriction' is set
      if @api_client.config.client_side_validation && security_user_restriction.nil?
        fail ArgumentError, "Missing the required parameter 'security_user_restriction' when calling SecurityUserRestrictionsApi.update_security_user_restriction"
      end
      # resource path
      local_var_path = '/security-user-restrictions/{securityUserRestrictionKey}'.sub('{' + 'securityUserRestrictionKey' + '}', CGI.escape(security_user_restriction_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_user_restriction)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityUserRestrictionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SecurityUserRestrictionsApi.update_security_user_restriction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityUserRestrictionsApi#update_security_user_restriction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
