=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SendToApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SendTo
    # Creates a new SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to [SendTo] 
    # @param [Hash] opts the optional parameters
    # @return [SendToVBAResponse]
    def create_send_to(vbasoftware_database, send_to, opts = {})
      data, _status_code, _headers = create_send_to_with_http_info(vbasoftware_database, send_to, opts)
      data
    end

    # Create SendTo
    # Creates a new SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to [SendTo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendToVBAResponse, Integer, Hash)>] SendToVBAResponse data, response status code and response headers
    def create_send_to_with_http_info(vbasoftware_database, send_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.create_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.create_send_to"
      end
      # verify the required parameter 'send_to' is set
      if @api_client.config.client_side_validation && send_to.nil?
        fail ArgumentError, "Missing the required parameter 'send_to' when calling SendToApi.create_send_to"
      end
      # resource path
      local_var_path = '/send-tos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_to)

      # return_type
      return_type = opts[:debug_return_type] || 'SendToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.create_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#create_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SendTo
    # Deletes an SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_send_to(vbasoftware_database, send_to_id, opts = {})
      delete_send_to_with_http_info(vbasoftware_database, send_to_id, opts)
      nil
    end

    # Delete SendTo
    # Deletes an SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_send_to_with_http_info(vbasoftware_database, send_to_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.delete_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.delete_send_to"
      end
      # verify the required parameter 'send_to_id' is set
      if @api_client.config.client_side_validation && send_to_id.nil?
        fail ArgumentError, "Missing the required parameter 'send_to_id' when calling SendToApi.delete_send_to"
      end
      # resource path
      local_var_path = '/send-tos/{sendToID}'.sub('{' + 'sendToID' + '}', CGI.escape(send_to_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.delete_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#delete_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SendTo
    # Gets SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param [Hash] opts the optional parameters
    # @return [SendToVBAResponse]
    def get_send_to(vbasoftware_database, send_to_id, opts = {})
      data, _status_code, _headers = get_send_to_with_http_info(vbasoftware_database, send_to_id, opts)
      data
    end

    # Get SendTo
    # Gets SendTo
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendToVBAResponse, Integer, Hash)>] SendToVBAResponse data, response status code and response headers
    def get_send_to_with_http_info(vbasoftware_database, send_to_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.get_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.get_send_to"
      end
      # verify the required parameter 'send_to_id' is set
      if @api_client.config.client_side_validation && send_to_id.nil?
        fail ArgumentError, "Missing the required parameter 'send_to_id' when calling SendToApi.get_send_to"
      end
      # resource path
      local_var_path = '/send-tos/{sendToID}'.sub('{' + 'sendToID' + '}', CGI.escape(send_to_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.get_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#get_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SendTo
    # Lists all SendTo
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SendToListVBAResponse]
    def list_send_to(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_send_to_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SendTo
    # Lists all SendTo
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SendToListVBAResponse, Integer, Hash)>] SendToListVBAResponse data, response status code and response headers
    def list_send_to_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.list_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.list_send_to"
      end
      # resource path
      local_var_path = '/send-tos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendToListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.list_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#list_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SendTo
    # Create or Update multiple SendTo at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param send_to [Array<SendTo>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_send_to(vbasoftware_database, send_to, opts = {})
      data, _status_code, _headers = update_batch_send_to_with_http_info(vbasoftware_database, send_to, opts)
      data
    end

    # Create or Update Batch SendTo
    # Create or Update multiple SendTo at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param send_to [Array<SendTo>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_send_to_with_http_info(vbasoftware_database, send_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.update_batch_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.update_batch_send_to"
      end
      # verify the required parameter 'send_to' is set
      if @api_client.config.client_side_validation && send_to.nil?
        fail ArgumentError, "Missing the required parameter 'send_to' when calling SendToApi.update_batch_send_to"
      end
      # resource path
      local_var_path = '/send-tos-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_to)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.update_batch_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#update_batch_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SendTo
    # Updates a specific SendTo.
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param send_to [SendTo] 
    # @param [Hash] opts the optional parameters
    # @return [SendToVBAResponse]
    def update_send_to(vbasoftware_database, send_to_id, send_to, opts = {})
      data, _status_code, _headers = update_send_to_with_http_info(vbasoftware_database, send_to_id, send_to, opts)
      data
    end

    # Update SendTo
    # Updates a specific SendTo.
    # @param vbasoftware_database [String] Target database
    # @param send_to_id [String] SendTo ID
    # @param send_to [SendTo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendToVBAResponse, Integer, Hash)>] SendToVBAResponse data, response status code and response headers
    def update_send_to_with_http_info(vbasoftware_database, send_to_id, send_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendToApi.update_send_to ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SendToApi.update_send_to"
      end
      # verify the required parameter 'send_to_id' is set
      if @api_client.config.client_side_validation && send_to_id.nil?
        fail ArgumentError, "Missing the required parameter 'send_to_id' when calling SendToApi.update_send_to"
      end
      # verify the required parameter 'send_to' is set
      if @api_client.config.client_side_validation && send_to.nil?
        fail ArgumentError, "Missing the required parameter 'send_to' when calling SendToApi.update_send_to"
      end
      # resource path
      local_var_path = '/send-tos/{sendToID}'.sub('{' + 'sendToID' + '}', CGI.escape(send_to_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_to)

      # return_type
      return_type = opts[:debug_return_type] || 'SendToVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SendToApi.update_send_to",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendToApi#update_send_to\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
