=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SignaturesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Signature
    # Creates a new Signature
    # @param vbasoftware_database [String] Target database
    # @param signature [Signature] 
    # @param [Hash] opts the optional parameters
    # @return [SignatureVBAResponse]
    def create_signature(vbasoftware_database, signature, opts = {})
      data, _status_code, _headers = create_signature_with_http_info(vbasoftware_database, signature, opts)
      data
    end

    # Create Signature
    # Creates a new Signature
    # @param vbasoftware_database [String] Target database
    # @param signature [Signature] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SignatureVBAResponse, Integer, Hash)>] SignatureVBAResponse data, response status code and response headers
    def create_signature_with_http_info(vbasoftware_database, signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.create_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.create_signature"
      end
      # verify the required parameter 'signature' is set
      if @api_client.config.client_side_validation && signature.nil?
        fail ArgumentError, "Missing the required parameter 'signature' when calling SignaturesApi.create_signature"
      end
      # resource path
      local_var_path = '/signatures'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(signature)

      # return_type
      return_type = opts[:debug_return_type] || 'SignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.create_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#create_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Signature
    # Deletes an Signature
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_signature(vbasoftware_database, signature_key, opts = {})
      delete_signature_with_http_info(vbasoftware_database, signature_key, opts)
      nil
    end

    # Delete Signature
    # Deletes an Signature
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_signature_with_http_info(vbasoftware_database, signature_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.delete_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.delete_signature"
      end
      # verify the required parameter 'signature_key' is set
      if @api_client.config.client_side_validation && signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'signature_key' when calling SignaturesApi.delete_signature"
      end
      # resource path
      local_var_path = '/signatures/{signatureKey}'.sub('{' + 'signatureKey' + '}', CGI.escape(signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.delete_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#delete_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Signature
    # Gets Signature
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param [Hash] opts the optional parameters
    # @return [SignatureVBAResponse]
    def get_signature(vbasoftware_database, signature_key, opts = {})
      data, _status_code, _headers = get_signature_with_http_info(vbasoftware_database, signature_key, opts)
      data
    end

    # Get Signature
    # Gets Signature
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SignatureVBAResponse, Integer, Hash)>] SignatureVBAResponse data, response status code and response headers
    def get_signature_with_http_info(vbasoftware_database, signature_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.get_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.get_signature"
      end
      # verify the required parameter 'signature_key' is set
      if @api_client.config.client_side_validation && signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'signature_key' when calling SignaturesApi.get_signature"
      end
      # resource path
      local_var_path = '/signatures/{signatureKey}'.sub('{' + 'signatureKey' + '}', CGI.escape(signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.get_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#get_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Signature
    # Lists all Signature
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SignatureListVBAResponse]
    def list_signature(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_signature_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Signature
    # Lists all Signature
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SignatureListVBAResponse, Integer, Hash)>] SignatureListVBAResponse data, response status code and response headers
    def list_signature_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.list_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.list_signature"
      end
      # resource path
      local_var_path = '/signatures'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SignatureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.list_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#list_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Signature
    # Create or Update multiple Signature at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param signature [Array<Signature>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_signature(vbasoftware_database, signature, opts = {})
      data, _status_code, _headers = update_batch_signature_with_http_info(vbasoftware_database, signature, opts)
      data
    end

    # Create or Update Batch Signature
    # Create or Update multiple Signature at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param signature [Array<Signature>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_signature_with_http_info(vbasoftware_database, signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.update_batch_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.update_batch_signature"
      end
      # verify the required parameter 'signature' is set
      if @api_client.config.client_side_validation && signature.nil?
        fail ArgumentError, "Missing the required parameter 'signature' when calling SignaturesApi.update_batch_signature"
      end
      # resource path
      local_var_path = '/signatures-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(signature)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.update_batch_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#update_batch_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Signature
    # Updates a specific Signature.
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param signature [Signature] 
    # @param [Hash] opts the optional parameters
    # @return [SignatureVBAResponse]
    def update_signature(vbasoftware_database, signature_key, signature, opts = {})
      data, _status_code, _headers = update_signature_with_http_info(vbasoftware_database, signature_key, signature, opts)
      data
    end

    # Update Signature
    # Updates a specific Signature.
    # @param vbasoftware_database [String] Target database
    # @param signature_key [Integer] Signature Key
    # @param signature [Signature] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SignatureVBAResponse, Integer, Hash)>] SignatureVBAResponse data, response status code and response headers
    def update_signature_with_http_info(vbasoftware_database, signature_key, signature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignaturesApi.update_signature ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SignaturesApi.update_signature"
      end
      # verify the required parameter 'signature_key' is set
      if @api_client.config.client_side_validation && signature_key.nil?
        fail ArgumentError, "Missing the required parameter 'signature_key' when calling SignaturesApi.update_signature"
      end
      # verify the required parameter 'signature' is set
      if @api_client.config.client_side_validation && signature.nil?
        fail ArgumentError, "Missing the required parameter 'signature' when calling SignaturesApi.update_signature"
      end
      # resource path
      local_var_path = '/signatures/{signatureKey}'.sub('{' + 'signatureKey' + '}', CGI.escape(signature_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(signature)

      # return_type
      return_type = opts[:debug_return_type] || 'SignatureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SignaturesApi.update_signature",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignaturesApi#update_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
