=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class StateInterestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create StateInterest
    # Creates a new StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest [StateInterest] 
    # @param [Hash] opts the optional parameters
    # @return [StateInterestVBAResponse]
    def create_state_interest(vbasoftware_database, state_interest, opts = {})
      data, _status_code, _headers = create_state_interest_with_http_info(vbasoftware_database, state_interest, opts)
      data
    end

    # Create StateInterest
    # Creates a new StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest [StateInterest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateInterestVBAResponse, Integer, Hash)>] StateInterestVBAResponse data, response status code and response headers
    def create_state_interest_with_http_info(vbasoftware_database, state_interest, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.create_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.create_state_interest"
      end
      # verify the required parameter 'state_interest' is set
      if @api_client.config.client_side_validation && state_interest.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest' when calling StateInterestApi.create_state_interest"
      end
      # resource path
      local_var_path = '/state-interests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_interest)

      # return_type
      return_type = opts[:debug_return_type] || 'StateInterestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.create_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#create_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete StateInterest
    # Deletes an StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_state_interest(vbasoftware_database, state_interest_key, opts = {})
      delete_state_interest_with_http_info(vbasoftware_database, state_interest_key, opts)
      nil
    end

    # Delete StateInterest
    # Deletes an StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_state_interest_with_http_info(vbasoftware_database, state_interest_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.delete_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.delete_state_interest"
      end
      # verify the required parameter 'state_interest_key' is set
      if @api_client.config.client_side_validation && state_interest_key.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest_key' when calling StateInterestApi.delete_state_interest"
      end
      # resource path
      local_var_path = '/state-interests/{stateInterestKey}'.sub('{' + 'stateInterestKey' + '}', CGI.escape(state_interest_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.delete_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#delete_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get StateInterest
    # Gets StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param [Hash] opts the optional parameters
    # @return [StateInterestVBAResponse]
    def get_state_interest(vbasoftware_database, state_interest_key, opts = {})
      data, _status_code, _headers = get_state_interest_with_http_info(vbasoftware_database, state_interest_key, opts)
      data
    end

    # Get StateInterest
    # Gets StateInterest
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateInterestVBAResponse, Integer, Hash)>] StateInterestVBAResponse data, response status code and response headers
    def get_state_interest_with_http_info(vbasoftware_database, state_interest_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.get_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.get_state_interest"
      end
      # verify the required parameter 'state_interest_key' is set
      if @api_client.config.client_side_validation && state_interest_key.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest_key' when calling StateInterestApi.get_state_interest"
      end
      # resource path
      local_var_path = '/state-interests/{stateInterestKey}'.sub('{' + 'stateInterestKey' + '}', CGI.escape(state_interest_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateInterestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.get_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#get_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List StateInterest
    # Lists all StateInterest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [StateInterestListVBAResponse]
    def list_state_interest(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_state_interest_with_http_info(vbasoftware_database, opts)
      data
    end

    # List StateInterest
    # Lists all StateInterest
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(StateInterestListVBAResponse, Integer, Hash)>] StateInterestListVBAResponse data, response status code and response headers
    def list_state_interest_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.list_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.list_state_interest"
      end
      # resource path
      local_var_path = '/state-interests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateInterestListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.list_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#list_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch StateInterest
    # Create or Update multiple StateInterest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state_interest [Array<StateInterest>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_state_interest(vbasoftware_database, state_interest, opts = {})
      data, _status_code, _headers = update_batch_state_interest_with_http_info(vbasoftware_database, state_interest, opts)
      data
    end

    # Create or Update Batch StateInterest
    # Create or Update multiple StateInterest at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state_interest [Array<StateInterest>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_state_interest_with_http_info(vbasoftware_database, state_interest, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.update_batch_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.update_batch_state_interest"
      end
      # verify the required parameter 'state_interest' is set
      if @api_client.config.client_side_validation && state_interest.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest' when calling StateInterestApi.update_batch_state_interest"
      end
      # resource path
      local_var_path = '/state-interests-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_interest)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.update_batch_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#update_batch_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update StateInterest
    # Updates a specific StateInterest.
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param state_interest [StateInterest] 
    # @param [Hash] opts the optional parameters
    # @return [StateInterestVBAResponse]
    def update_state_interest(vbasoftware_database, state_interest_key, state_interest, opts = {})
      data, _status_code, _headers = update_state_interest_with_http_info(vbasoftware_database, state_interest_key, state_interest, opts)
      data
    end

    # Update StateInterest
    # Updates a specific StateInterest.
    # @param vbasoftware_database [String] Target database
    # @param state_interest_key [Integer] StateInterest Key
    # @param state_interest [StateInterest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateInterestVBAResponse, Integer, Hash)>] StateInterestVBAResponse data, response status code and response headers
    def update_state_interest_with_http_info(vbasoftware_database, state_interest_key, state_interest, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateInterestApi.update_state_interest ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateInterestApi.update_state_interest"
      end
      # verify the required parameter 'state_interest_key' is set
      if @api_client.config.client_side_validation && state_interest_key.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest_key' when calling StateInterestApi.update_state_interest"
      end
      # verify the required parameter 'state_interest' is set
      if @api_client.config.client_side_validation && state_interest.nil?
        fail ArgumentError, "Missing the required parameter 'state_interest' when calling StateInterestApi.update_state_interest"
      end
      # resource path
      local_var_path = '/state-interests/{stateInterestKey}'.sub('{' + 'stateInterestKey' + '}', CGI.escape(state_interest_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_interest)

      # return_type
      return_type = opts[:debug_return_type] || 'StateInterestVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateInterestApi.update_state_interest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateInterestApi#update_state_interest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
