=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class StatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create State
    # Creates a new State
    # @param vbasoftware_database [String] Target database
    # @param state [State] 
    # @param [Hash] opts the optional parameters
    # @return [StateVBAResponse]
    def create_state(vbasoftware_database, state, opts = {})
      data, _status_code, _headers = create_state_with_http_info(vbasoftware_database, state, opts)
      data
    end

    # Create State
    # Creates a new State
    # @param vbasoftware_database [String] Target database
    # @param state [State] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateVBAResponse, Integer, Hash)>] StateVBAResponse data, response status code and response headers
    def create_state_with_http_info(vbasoftware_database, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.create_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.create_state"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StatesApi.create_state"
      end
      # resource path
      local_var_path = '/states'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state)

      # return_type
      return_type = opts[:debug_return_type] || 'StateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.create_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#create_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete State
    # Deletes an State
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_state(vbasoftware_database, state_abbrev, opts = {})
      delete_state_with_http_info(vbasoftware_database, state_abbrev, opts)
      nil
    end

    # Delete State
    # Deletes an State
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_state_with_http_info(vbasoftware_database, state_abbrev, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.delete_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.delete_state"
      end
      # verify the required parameter 'state_abbrev' is set
      if @api_client.config.client_side_validation && state_abbrev.nil?
        fail ArgumentError, "Missing the required parameter 'state_abbrev' when calling StatesApi.delete_state"
      end
      # resource path
      local_var_path = '/states/{stateAbbrev}'.sub('{' + 'stateAbbrev' + '}', CGI.escape(state_abbrev.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.delete_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#delete_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get State
    # Gets State
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param [Hash] opts the optional parameters
    # @return [StateVBAResponse]
    def get_state(vbasoftware_database, state_abbrev, opts = {})
      data, _status_code, _headers = get_state_with_http_info(vbasoftware_database, state_abbrev, opts)
      data
    end

    # Get State
    # Gets State
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateVBAResponse, Integer, Hash)>] StateVBAResponse data, response status code and response headers
    def get_state_with_http_info(vbasoftware_database, state_abbrev, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.get_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.get_state"
      end
      # verify the required parameter 'state_abbrev' is set
      if @api_client.config.client_side_validation && state_abbrev.nil?
        fail ArgumentError, "Missing the required parameter 'state_abbrev' when calling StatesApi.get_state"
      end
      # resource path
      local_var_path = '/states/{stateAbbrev}'.sub('{' + 'stateAbbrev' + '}', CGI.escape(state_abbrev.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.get_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#get_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List State
    # Lists all State given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [StateListVBAResponse]
    def list_state(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_state_with_http_info(vbasoftware_database, opts)
      data
    end

    # List State
    # Lists all State given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateListVBAResponse, Integer, Hash)>] StateListVBAResponse data, response status code and response headers
    def list_state_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.list_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.list_state"
      end
      # resource path
      local_var_path = '/states'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.list_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#list_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch State
    # Create or Update multiple State at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state [Array<State>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_state(vbasoftware_database, state, opts = {})
      data, _status_code, _headers = update_batch_state_with_http_info(vbasoftware_database, state, opts)
      data
    end

    # Create or Update Batch State
    # Create or Update multiple State at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state [Array<State>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_state_with_http_info(vbasoftware_database, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.update_batch_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.update_batch_state"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StatesApi.update_batch_state"
      end
      # resource path
      local_var_path = '/states-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.update_batch_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#update_batch_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update State
    # Updates a specific State.
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param state [State] 
    # @param [Hash] opts the optional parameters
    # @return [StateVBAResponse]
    def update_state(vbasoftware_database, state_abbrev, state, opts = {})
      data, _status_code, _headers = update_state_with_http_info(vbasoftware_database, state_abbrev, state, opts)
      data
    end

    # Update State
    # Updates a specific State.
    # @param vbasoftware_database [String] Target database
    # @param state_abbrev [String] State Abbreviation
    # @param state [State] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateVBAResponse, Integer, Hash)>] StateVBAResponse data, response status code and response headers
    def update_state_with_http_info(vbasoftware_database, state_abbrev, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatesApi.update_state ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StatesApi.update_state"
      end
      # verify the required parameter 'state_abbrev' is set
      if @api_client.config.client_side_validation && state_abbrev.nil?
        fail ArgumentError, "Missing the required parameter 'state_abbrev' when calling StatesApi.update_state"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StatesApi.update_state"
      end
      # resource path
      local_var_path = '/states/{stateAbbrev}'.sub('{' + 'stateAbbrev' + '}', CGI.escape(state_abbrev.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state)

      # return_type
      return_type = opts[:debug_return_type] || 'StateVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatesApi.update_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatesApi#update_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
