=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class StateProcedureCodeTaxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create StateProcedureCodeTax
    # Creates a new StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state_procedure_code_tax [StateProcedureCodeTax] 
    # @param [Hash] opts the optional parameters
    # @return [StateProcedureCodeTaxVBAResponse]
    def create_state_procedure_code_tax(vbasoftware_database, state_procedure_code_tax, opts = {})
      data, _status_code, _headers = create_state_procedure_code_tax_with_http_info(vbasoftware_database, state_procedure_code_tax, opts)
      data
    end

    # Create StateProcedureCodeTax
    # Creates a new StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state_procedure_code_tax [StateProcedureCodeTax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateProcedureCodeTaxVBAResponse, Integer, Hash)>] StateProcedureCodeTaxVBAResponse data, response status code and response headers
    def create_state_procedure_code_tax_with_http_info(vbasoftware_database, state_procedure_code_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.create_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.create_state_procedure_code_tax"
      end
      # verify the required parameter 'state_procedure_code_tax' is set
      if @api_client.config.client_side_validation && state_procedure_code_tax.nil?
        fail ArgumentError, "Missing the required parameter 'state_procedure_code_tax' when calling StateProcedureCodeTaxesApi.create_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_procedure_code_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'StateProcedureCodeTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.create_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#create_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete StateProcedureCodeTax
    # Deletes an StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_state_procedure_code_tax(vbasoftware_database, state, procedure_code, opts = {})
      delete_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, opts)
      nil
    end

    # Delete StateProcedureCodeTax
    # Deletes an StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.delete_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.delete_state_procedure_code_tax"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StateProcedureCodeTaxesApi.delete_state_procedure_code_tax"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling StateProcedureCodeTaxesApi.delete_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes/{state}/{procedureCode}'.sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.delete_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#delete_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get StateProcedureCodeTax
    # Gets StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [StateProcedureCodeTaxVBAResponse]
    def get_state_procedure_code_tax(vbasoftware_database, state, procedure_code, opts = {})
      data, _status_code, _headers = get_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, opts)
      data
    end

    # Get StateProcedureCodeTax
    # Gets StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateProcedureCodeTaxVBAResponse, Integer, Hash)>] StateProcedureCodeTaxVBAResponse data, response status code and response headers
    def get_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.get_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.get_state_procedure_code_tax"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StateProcedureCodeTaxesApi.get_state_procedure_code_tax"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling StateProcedureCodeTaxesApi.get_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes/{state}/{procedureCode}'.sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateProcedureCodeTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.get_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#get_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List StateProcedureCodeTax
    # Lists all StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [StateProcedureCodeTaxListVBAResponse]
    def list_state_procedure_code_tax(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_state_procedure_code_tax_with_http_info(vbasoftware_database, opts)
      data
    end

    # List StateProcedureCodeTax
    # Lists all StateProcedureCodeTax
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(StateProcedureCodeTaxListVBAResponse, Integer, Hash)>] StateProcedureCodeTaxListVBAResponse data, response status code and response headers
    def list_state_procedure_code_tax_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.list_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.list_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StateProcedureCodeTaxListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.list_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#list_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch StateProcedureCodeTax
    # Create or Update multiple StateProcedureCodeTax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state_procedure_code_tax [Array<StateProcedureCodeTax>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_state_procedure_code_tax(vbasoftware_database, state_procedure_code_tax, opts = {})
      data, _status_code, _headers = update_batch_state_procedure_code_tax_with_http_info(vbasoftware_database, state_procedure_code_tax, opts)
      data
    end

    # Create or Update Batch StateProcedureCodeTax
    # Create or Update multiple StateProcedureCodeTax at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param state_procedure_code_tax [Array<StateProcedureCodeTax>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_state_procedure_code_tax_with_http_info(vbasoftware_database, state_procedure_code_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.update_batch_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.update_batch_state_procedure_code_tax"
      end
      # verify the required parameter 'state_procedure_code_tax' is set
      if @api_client.config.client_side_validation && state_procedure_code_tax.nil?
        fail ArgumentError, "Missing the required parameter 'state_procedure_code_tax' when calling StateProcedureCodeTaxesApi.update_batch_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_procedure_code_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.update_batch_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#update_batch_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update StateProcedureCodeTax
    # Updates a specific StateProcedureCodeTax.
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param state_procedure_code_tax [StateProcedureCodeTax] 
    # @param [Hash] opts the optional parameters
    # @return [StateProcedureCodeTaxVBAResponse]
    def update_state_procedure_code_tax(vbasoftware_database, state, procedure_code, state_procedure_code_tax, opts = {})
      data, _status_code, _headers = update_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, state_procedure_code_tax, opts)
      data
    end

    # Update StateProcedureCodeTax
    # Updates a specific StateProcedureCodeTax.
    # @param vbasoftware_database [String] Target database
    # @param state [String] State
    # @param procedure_code [String] Procedure Code
    # @param state_procedure_code_tax [StateProcedureCodeTax] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StateProcedureCodeTaxVBAResponse, Integer, Hash)>] StateProcedureCodeTaxVBAResponse data, response status code and response headers
    def update_state_procedure_code_tax_with_http_info(vbasoftware_database, state, procedure_code, state_procedure_code_tax, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StateProcedureCodeTaxesApi.update_state_procedure_code_tax ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling StateProcedureCodeTaxesApi.update_state_procedure_code_tax"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling StateProcedureCodeTaxesApi.update_state_procedure_code_tax"
      end
      # verify the required parameter 'procedure_code' is set
      if @api_client.config.client_side_validation && procedure_code.nil?
        fail ArgumentError, "Missing the required parameter 'procedure_code' when calling StateProcedureCodeTaxesApi.update_state_procedure_code_tax"
      end
      # verify the required parameter 'state_procedure_code_tax' is set
      if @api_client.config.client_side_validation && state_procedure_code_tax.nil?
        fail ArgumentError, "Missing the required parameter 'state_procedure_code_tax' when calling StateProcedureCodeTaxesApi.update_state_procedure_code_tax"
      end
      # resource path
      local_var_path = '/state-procedure-code-taxes/{state}/{procedureCode}'.sub('{' + 'state' + '}', CGI.escape(state.to_s)).sub('{' + 'procedureCode' + '}', CGI.escape(procedure_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(state_procedure_code_tax)

      # return_type
      return_type = opts[:debug_return_type] || 'StateProcedureCodeTaxVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StateProcedureCodeTaxesApi.update_state_procedure_code_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StateProcedureCodeTaxesApi#update_state_procedure_code_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
