=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberSponsorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberSponsor
    # Creates a new SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor [SubscriberSponsor] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberSponsorVBAResponse]
    def create_subscriber_sponsor(vbasoftware_database, subscriber_sponsor, opts = {})
      data, _status_code, _headers = create_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor, opts)
      data
    end

    # Create SubscriberSponsor
    # Creates a new SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor [SubscriberSponsor] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberSponsorVBAResponse, Integer, Hash)>] SubscriberSponsorVBAResponse data, response status code and response headers
    def create_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.create_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.create_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor' is set
      if @api_client.config.client_side_validation && subscriber_sponsor.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor' when calling SubscriberSponsorsApi.create_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_sponsor)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberSponsorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.create_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#create_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberSponsor
    # Deletes an SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_sponsor(vbasoftware_database, subscriber_sponsor_key, opts = {})
      delete_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, opts)
      nil
    end

    # Delete SubscriberSponsor
    # Deletes an SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.delete_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.delete_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor_key' is set
      if @api_client.config.client_side_validation && subscriber_sponsor_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor_key' when calling SubscriberSponsorsApi.delete_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors/{SubscriberSponsor_Key}'.sub('{' + 'SubscriberSponsor_Key' + '}', CGI.escape(subscriber_sponsor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.delete_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#delete_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberSponsor
    # Gets SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberSponsorVBAResponse]
    def get_subscriber_sponsor(vbasoftware_database, subscriber_sponsor_key, opts = {})
      data, _status_code, _headers = get_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, opts)
      data
    end

    # Get SubscriberSponsor
    # Gets SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberSponsorVBAResponse, Integer, Hash)>] SubscriberSponsorVBAResponse data, response status code and response headers
    def get_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.get_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.get_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor_key' is set
      if @api_client.config.client_side_validation && subscriber_sponsor_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor_key' when calling SubscriberSponsorsApi.get_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors/{SubscriberSponsor_Key}'.sub('{' + 'SubscriberSponsor_Key' + '}', CGI.escape(subscriber_sponsor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberSponsorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.get_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#get_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberSponsor
    # Lists all SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [SubscriberSponsorListVBAResponse]
    def list_subscriber_sponsor(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_subscriber_sponsor_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SubscriberSponsor
    # Lists all SubscriberSponsor
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(SubscriberSponsorListVBAResponse, Integer, Hash)>] SubscriberSponsorListVBAResponse data, response status code and response headers
    def list_subscriber_sponsor_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.list_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.list_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberSponsorListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.list_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#list_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberSponsor
    # Create or Update multiple SubscriberSponsor at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor [Array<SubscriberSponsor>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_sponsor(vbasoftware_database, subscriber_sponsor, opts = {})
      data, _status_code, _headers = update_batch_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor, opts)
      data
    end

    # Create or Update Batch SubscriberSponsor
    # Create or Update multiple SubscriberSponsor at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor [Array<SubscriberSponsor>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.update_batch_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.update_batch_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor' is set
      if @api_client.config.client_side_validation && subscriber_sponsor.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor' when calling SubscriberSponsorsApi.update_batch_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_sponsor)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.update_batch_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#update_batch_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberSponsor
    # Updates a specific SubscriberSponsor.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param subscriber_sponsor [SubscriberSponsor] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberSponsorVBAResponse]
    def update_subscriber_sponsor(vbasoftware_database, subscriber_sponsor_key, subscriber_sponsor, opts = {})
      data, _status_code, _headers = update_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, subscriber_sponsor, opts)
      data
    end

    # Update SubscriberSponsor
    # Updates a specific SubscriberSponsor.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_sponsor_key [Integer] SubscriberSponsor Key
    # @param subscriber_sponsor [SubscriberSponsor] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberSponsorVBAResponse, Integer, Hash)>] SubscriberSponsorVBAResponse data, response status code and response headers
    def update_subscriber_sponsor_with_http_info(vbasoftware_database, subscriber_sponsor_key, subscriber_sponsor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberSponsorsApi.update_subscriber_sponsor ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberSponsorsApi.update_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor_key' is set
      if @api_client.config.client_side_validation && subscriber_sponsor_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor_key' when calling SubscriberSponsorsApi.update_subscriber_sponsor"
      end
      # verify the required parameter 'subscriber_sponsor' is set
      if @api_client.config.client_side_validation && subscriber_sponsor.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_sponsor' when calling SubscriberSponsorsApi.update_subscriber_sponsor"
      end
      # resource path
      local_var_path = '/subscriber-sponsors/{SubscriberSponsor_Key}'.sub('{' + 'SubscriberSponsor_Key' + '}', CGI.escape(subscriber_sponsor_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_sponsor)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberSponsorVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberSponsorsApi.update_subscriber_sponsor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberSponsorsApi#update_subscriber_sponsor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
