=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberFlexExportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberFlexExported
    # Creates a new SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported [SubscriberFlexExported] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexExportedVBAResponse]
    def create_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts = {})
      data, _status_code, _headers = create_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts)
      data
    end

    # Create SubscriberFlexExported
    # Creates a new SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported [SubscriberFlexExported] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexExportedVBAResponse, Integer, Hash)>] SubscriberFlexExportedVBAResponse data, response status code and response headers
    def create_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.create_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported' when calling SubscriberFlexExportsApi.create_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_exported)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexExportedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.create_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#create_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberFlexExported
    # Deletes an SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts = {})
      delete_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts)
      nil
    end

    # Delete SubscriberFlexExported
    # Deletes an SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.delete_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported_key' when calling SubscriberFlexExportsApi.delete_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports/{subscriberFlexExportedKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s)).sub('{' + 'subscriberFlexExportedKey' + '}', CGI.escape(subscriber_flex_exported_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.delete_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#delete_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberFlexExported
    # Gets SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexExportedVBAResponse]
    def get_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts = {})
      data, _status_code, _headers = get_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts)
      data
    end

    # Get SubscriberFlexExported
    # Gets SubscriberFlexExported
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexExportedVBAResponse, Integer, Hash)>] SubscriberFlexExportedVBAResponse data, response status code and response headers
    def get_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.get_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported_key' when calling SubscriberFlexExportsApi.get_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports/{subscriberFlexExportedKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s)).sub('{' + 'subscriberFlexExportedKey' + '}', CGI.escape(subscriber_flex_exported_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexExportedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.get_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#get_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberFlexExported
    # Lists all SubscriberFlexExported for the given subscriberID and groupID and planID and calendarYear and effectiveDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberFlexExportedListVBAResponse]
    def list_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, opts = {})
      data, _status_code, _headers = list_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, opts)
      data
    end

    # List SubscriberFlexExported
    # Lists all SubscriberFlexExported for the given subscriberID and groupID and planID and calendarYear and effectiveDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberFlexExportedListVBAResponse, Integer, Hash)>] SubscriberFlexExportedListVBAResponse data, response status code and response headers
    def list_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.list_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.list_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexExportedListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.list_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#list_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberFlexExported
    # Create or Update multiple SubscriberFlexExported at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported [Array<SubscriberFlexExported>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts = {})
      data, _status_code, _headers = update_batch_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts)
      data
    end

    # Create or Update Batch SubscriberFlexExported
    # Create or Update multiple SubscriberFlexExported at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported [Array<SubscriberFlexExported>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.update_batch_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported' when calling SubscriberFlexExportsApi.update_batch_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_exported)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.update_batch_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#update_batch_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberFlexExported
    # Updates a specific SubscriberFlexExported.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param subscriber_flex_exported [SubscriberFlexExported] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexExportedVBAResponse]
    def update_subscriber_flex_exported(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, subscriber_flex_exported, opts = {})
      data, _status_code, _headers = update_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, subscriber_flex_exported, opts)
      data
    end

    # Update SubscriberFlexExported
    # Updates a specific SubscriberFlexExported.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param calendar_year [String] Calendar Year
    # @param effective_date [Time] Effective Date
    # @param subscriber_flex_exported_key [Integer] SubscriberFlexExported Key
    # @param subscriber_flex_exported [SubscriberFlexExported] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexExportedVBAResponse, Integer, Hash)>] SubscriberFlexExportedVBAResponse data, response status code and response headers
    def update_subscriber_flex_exported_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, calendar_year, effective_date, subscriber_flex_exported_key, subscriber_flex_exported, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexExportsApi.update_subscriber_flex_exported ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'calendar_year' is set
      if @api_client.config.client_side_validation && calendar_year.nil?
        fail ArgumentError, "Missing the required parameter 'calendar_year' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'effective_date' is set
      if @api_client.config.client_side_validation && effective_date.nil?
        fail ArgumentError, "Missing the required parameter 'effective_date' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported_key' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # verify the required parameter 'subscriber_flex_exported' is set
      if @api_client.config.client_side_validation && subscriber_flex_exported.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_exported' when calling SubscriberFlexExportsApi.update_subscriber_flex_exported"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flexes/{calendarYear}/{effectiveDate}/exports/{subscriberFlexExportedKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'calendarYear' + '}', CGI.escape(calendar_year.to_s)).sub('{' + 'effectiveDate' + '}', CGI.escape(effective_date.to_s)).sub('{' + 'subscriberFlexExportedKey' + '}', CGI.escape(subscriber_flex_exported_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_exported)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexExportedVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexExportsApi.update_subscriber_flex_exported",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexExportsApi#update_subscriber_flex_exported\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
