=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberEnrollmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubEnrollment
    # Creates a new SubEnrollment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_enrollment [SubEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [SubEnrollmentVBAResponse]
    def create_sub_enrollment(vbasoftware_database, subscriber_id, sub_enrollment, opts = {})
      data, _status_code, _headers = create_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, sub_enrollment, opts)
      data
    end

    # Create SubEnrollment
    # Creates a new SubEnrollment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_enrollment [SubEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubEnrollmentVBAResponse, Integer, Hash)>] SubEnrollmentVBAResponse data, response status code and response headers
    def create_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, sub_enrollment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.create_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.create_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.create_sub_enrollment"
      end
      # verify the required parameter 'sub_enrollment' is set
      if @api_client.config.client_side_validation && sub_enrollment.nil?
        fail ArgumentError, "Missing the required parameter 'sub_enrollment' when calling SubscriberEnrollmentsApi.create_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_enrollment)

      # return_type
      return_type = opts[:debug_return_type] || 'SubEnrollmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.create_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#create_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubEnrollment
    # Deletes a SubEnrollment with the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sub_enrollment(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts = {})
      delete_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts)
      nil
    end

    # Delete SubEnrollment
    # Deletes a SubEnrollment with the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.delete_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling SubscriberEnrollmentsApi.delete_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments/{groupID}/{divisionID}/{groupCoverageStart}/{startDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'startDate' + '}', CGI.escape(start_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.delete_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#delete_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubEnrollment
    # Gets a SubEnrollment for the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param [Hash] opts the optional parameters
    # @return [SubEnrollmentVBAResponse]
    def get_sub_enrollment(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts = {})
      data, _status_code, _headers = get_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts)
      data
    end

    # Get SubEnrollment
    # Gets a SubEnrollment for the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubEnrollmentVBAResponse, Integer, Hash)>] SubEnrollmentVBAResponse data, response status code and response headers
    def get_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.get_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling SubscriberEnrollmentsApi.get_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments/{groupID}/{divisionID}/{groupCoverageStart}/{startDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'startDate' + '}', CGI.escape(start_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubEnrollmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.get_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#get_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubEnrollment
    # Lists all SubEnrollment for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubEnrollmentListVBAResponse]
    def list_sub_enrollment(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubEnrollment
    # Lists all SubEnrollment for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubEnrollmentListVBAResponse, Integer, Hash)>] SubEnrollmentListVBAResponse data, response status code and response headers
    def list_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.list_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.list_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.list_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubEnrollmentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.list_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#list_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set SubEnrollment Paid Through
    # Sets the Paid Through value on the Subenrollment based on existing Premium Billing paid invoices.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sub_enrollment_set_paid_through(vbasoftware_database, subscriber_id, group_id, division_id, opts = {})
      sub_enrollment_set_paid_through_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, opts)
      nil
    end

    # Set SubEnrollment Paid Through
    # Sets the Paid Through value on the Subenrollment based on existing Premium Billing paid invoices.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sub_enrollment_set_paid_through_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.sub_enrollment_set_paid_through ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.sub_enrollment_set_paid_through"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.sub_enrollment_set_paid_through"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberEnrollmentsApi.sub_enrollment_set_paid_through"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling SubscriberEnrollmentsApi.sub_enrollment_set_paid_through"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments/{groupID}/{divisionID}/set-paid-through'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.sub_enrollment_set_paid_through",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#sub_enrollment_set_paid_through\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubEnrollment
    # Create or Update multiple SubEnrollment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_enrollment [Array<SubEnrollment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_sub_enrollment(vbasoftware_database, subscriber_id, sub_enrollment, opts = {})
      data, _status_code, _headers = update_batch_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, sub_enrollment, opts)
      data
    end

    # Create or Update Batch SubEnrollment
    # Create or Update multiple SubEnrollment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_enrollment [Array<SubEnrollment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, sub_enrollment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.update_batch_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.update_batch_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.update_batch_sub_enrollment"
      end
      # verify the required parameter 'sub_enrollment' is set
      if @api_client.config.client_side_validation && sub_enrollment.nil?
        fail ArgumentError, "Missing the required parameter 'sub_enrollment' when calling SubscriberEnrollmentsApi.update_batch_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_enrollment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.update_batch_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#update_batch_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubEnrollment
    # Updates a SubEnrollment with the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param sub_enrollment [SubEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [SubEnrollmentVBAResponse]
    def update_sub_enrollment(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, sub_enrollment, opts = {})
      data, _status_code, _headers = update_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, sub_enrollment, opts)
      data
    end

    # Update SubEnrollment
    # Updates a SubEnrollment with the given subscriberID, groupID, divisionID, groupCoverageStart, and startDate
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param division_id [String] Division ID
    # @param group_coverage_start [Time] Group Coverage Start
    # @param start_date [Time] Start Date
    # @param sub_enrollment [SubEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubEnrollmentVBAResponse, Integer, Hash)>] SubEnrollmentVBAResponse data, response status code and response headers
    def update_sub_enrollment_with_http_info(vbasoftware_database, subscriber_id, group_id, division_id, group_coverage_start, start_date, sub_enrollment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberEnrollmentsApi.update_sub_enrollment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'division_id' is set
      if @api_client.config.client_side_validation && division_id.nil?
        fail ArgumentError, "Missing the required parameter 'division_id' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'group_coverage_start' is set
      if @api_client.config.client_side_validation && group_coverage_start.nil?
        fail ArgumentError, "Missing the required parameter 'group_coverage_start' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # verify the required parameter 'sub_enrollment' is set
      if @api_client.config.client_side_validation && sub_enrollment.nil?
        fail ArgumentError, "Missing the required parameter 'sub_enrollment' when calling SubscriberEnrollmentsApi.update_sub_enrollment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/enrollments/{groupID}/{divisionID}/{groupCoverageStart}/{startDate}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'divisionID' + '}', CGI.escape(division_id.to_s)).sub('{' + 'groupCoverageStart' + '}', CGI.escape(group_coverage_start.to_s)).sub('{' + 'startDate' + '}', CGI.escape(start_date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_enrollment)

      # return_type
      return_type = opts[:debug_return_type] || 'SubEnrollmentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberEnrollmentsApi.update_sub_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberEnrollmentsApi#update_sub_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
