=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberPlanPolicyStatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberPolicyStatus
    # Creates a new SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_policy_status [SubscriberPolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPolicyStatusVBAResponse]
    def create_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts = {})
      data, _status_code, _headers = create_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts)
      data
    end

    # Create SubscriberPolicyStatus
    # Creates a new SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_policy_status [SubscriberPolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPolicyStatusVBAResponse, Integer, Hash)>] SubscriberPolicyStatusVBAResponse data, response status code and response headers
    def create_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_policy_status' is set
      if @api_client.config.client_side_validation && subscriber_policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_policy_status' when calling SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_policy_status)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.create_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#create_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberPolicyStatus
    # Deletes an SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts = {})
      delete_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts)
      nil
    end

    # Delete SubscriberPolicyStatus
    # Deletes an SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses/{policyStatus}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s)).sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.delete_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#delete_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberPolicyStatus
    # Gets SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPolicyStatusVBAResponse]
    def get_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts = {})
      data, _status_code, _headers = get_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts)
      data
    end

    # Get SubscriberPolicyStatus
    # Gets SubscriberPolicyStatus
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPolicyStatusVBAResponse, Integer, Hash)>] SubscriberPolicyStatusVBAResponse data, response status code and response headers
    def get_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses/{policyStatus}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s)).sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.get_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#get_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberPolicyStatus
    # Lists all SubscriberPolicyStatus for the given subscriberID and planID and benefitCode and policyNumber
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberPolicyStatusListVBAResponse]
    def list_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      data, _status_code, _headers = list_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts)
      data
    end

    # List SubscriberPolicyStatus
    # Lists all SubscriberPolicyStatus for the given subscriberID and planID and benefitCode and policyNumber
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberPolicyStatusListVBAResponse, Integer, Hash)>] SubscriberPolicyStatusListVBAResponse data, response status code and response headers
    def list_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPolicyStatusListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.list_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#list_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberPolicyStatus
    # Create or Update multiple SubscriberPolicyStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_policy_status [Array<SubscriberPolicyStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts = {})
      data, _status_code, _headers = update_batch_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts)
      data
    end

    # Create or Update Batch SubscriberPolicyStatus
    # Create or Update multiple SubscriberPolicyStatus at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_policy_status [Array<SubscriberPolicyStatus>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_policy_status' is set
      if @api_client.config.client_side_validation && subscriber_policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_policy_status' when calling SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_policy_status)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.update_batch_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#update_batch_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberPolicyStatus
    # Updates a specific SubscriberPolicyStatus.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param subscriber_policy_status [SubscriberPolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPolicyStatusVBAResponse]
    def update_subscriber_policy_status(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, subscriber_policy_status, opts = {})
      data, _status_code, _headers = update_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, subscriber_policy_status, opts)
      data
    end

    # Update SubscriberPolicyStatus
    # Updates a specific SubscriberPolicyStatus.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param policy_status [String] Policy Status
    # @param subscriber_policy_status [SubscriberPolicyStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPolicyStatusVBAResponse, Integer, Hash)>] SubscriberPolicyStatusVBAResponse data, response status code and response headers
    def update_subscriber_policy_status_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, policy_status, subscriber_policy_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'policy_status' is set
      if @api_client.config.client_side_validation && policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'policy_status' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # verify the required parameter 'subscriber_policy_status' is set
      if @api_client.config.client_side_validation && subscriber_policy_status.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_policy_status' when calling SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plans/{planID}/benefits/{benefitCode}/policies/{policyNumber}/statuses/{policyStatus}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s)).sub('{' + 'policyStatus' + '}', CGI.escape(policy_status.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_policy_status)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPolicyStatusVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPolicyStatusesApi.update_subscriber_policy_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPolicyStatusesApi#update_subscriber_policy_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
