=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberWaivePremiumsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberWaivePremium
    # Creates a new SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium [SubscriberWaivePremium] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWaivePremiumVBAResponse]
    def create_subscriber_waive_premium(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts = {})
      data, _status_code, _headers = create_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts)
      data
    end

    # Create SubscriberWaivePremium
    # Creates a new SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium [SubscriberWaivePremium] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWaivePremiumVBAResponse, Integer, Hash)>] SubscriberWaivePremiumVBAResponse data, response status code and response headers
    def create_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.create_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.create_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.create_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium' when calling SubscriberWaivePremiumsApi.create_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_waive_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWaivePremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.create_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#create_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberWaivePremium
    # Deletes an SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_waive_premium(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts = {})
      delete_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts)
      nil
    end

    # Delete SubscriberWaivePremium
    # Deletes an SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.delete_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.delete_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.delete_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium_key' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium_key' when calling SubscriberWaivePremiumsApi.delete_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums/{subscriberWaivePremiumKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberWaivePremiumKey' + '}', CGI.escape(subscriber_waive_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.delete_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#delete_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberWaivePremium
    # Gets SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWaivePremiumVBAResponse]
    def get_subscriber_waive_premium(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts = {})
      data, _status_code, _headers = get_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts)
      data
    end

    # Get SubscriberWaivePremium
    # Gets SubscriberWaivePremium
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWaivePremiumVBAResponse, Integer, Hash)>] SubscriberWaivePremiumVBAResponse data, response status code and response headers
    def get_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.get_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.get_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.get_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium_key' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium_key' when calling SubscriberWaivePremiumsApi.get_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums/{subscriberWaivePremiumKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberWaivePremiumKey' + '}', CGI.escape(subscriber_waive_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWaivePremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.get_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#get_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberWaivePremium
    # Lists all SubscriberWaivePremium for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberWaivePremiumListVBAResponse]
    def list_subscriber_waive_premium(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubscriberWaivePremium
    # Lists all SubscriberWaivePremium for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberWaivePremiumListVBAResponse, Integer, Hash)>] SubscriberWaivePremiumListVBAResponse data, response status code and response headers
    def list_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.list_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.list_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.list_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWaivePremiumListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.list_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#list_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberWaivePremium
    # Create or Update multiple SubscriberWaivePremium at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium [Array<SubscriberWaivePremium>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_waive_premium(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts = {})
      data, _status_code, _headers = update_batch_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts)
      data
    end

    # Create or Update Batch SubscriberWaivePremium
    # Create or Update multiple SubscriberWaivePremium at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium [Array<SubscriberWaivePremium>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.update_batch_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.update_batch_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.update_batch_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium' when calling SubscriberWaivePremiumsApi.update_batch_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_waive_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.update_batch_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#update_batch_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberWaivePremium
    # Updates a specific SubscriberWaivePremium.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param subscriber_waive_premium [SubscriberWaivePremium] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWaivePremiumVBAResponse]
    def update_subscriber_waive_premium(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, subscriber_waive_premium, opts = {})
      data, _status_code, _headers = update_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, subscriber_waive_premium, opts)
      data
    end

    # Update SubscriberWaivePremium
    # Updates a specific SubscriberWaivePremium.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_waive_premium_key [Integer] SubscriberWaivePremium Key
    # @param subscriber_waive_premium [SubscriberWaivePremium] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWaivePremiumVBAResponse, Integer, Hash)>] SubscriberWaivePremiumVBAResponse data, response status code and response headers
    def update_subscriber_waive_premium_with_http_info(vbasoftware_database, subscriber_id, subscriber_waive_premium_key, subscriber_waive_premium, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWaivePremiumsApi.update_subscriber_waive_premium ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWaivePremiumsApi.update_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWaivePremiumsApi.update_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium_key' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium_key' when calling SubscriberWaivePremiumsApi.update_subscriber_waive_premium"
      end
      # verify the required parameter 'subscriber_waive_premium' is set
      if @api_client.config.client_side_validation && subscriber_waive_premium.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_waive_premium' when calling SubscriberWaivePremiumsApi.update_subscriber_waive_premium"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/waive-premiums/{subscriberWaivePremiumKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberWaivePremiumKey' + '}', CGI.escape(subscriber_waive_premium_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_waive_premium)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWaivePremiumVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWaivePremiumsApi.update_subscriber_waive_premium",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWaivePremiumsApi#update_subscriber_waive_premium\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
