=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberPremiumRateSplitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberPremRateSplit
    # Creates a new SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split [SubscriberPremRateSplit] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPremRateSplitVBAResponse]
    def create_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts = {})
      data, _status_code, _headers = create_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts)
      data
    end

    # Create SubscriberPremRateSplit
    # Creates a new SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split [SubscriberPremRateSplit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPremRateSplitVBAResponse, Integer, Hash)>] SubscriberPremRateSplitVBAResponse data, response status code and response headers
    def create_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.create_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.create_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.create_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split' when calling SubscriberPremiumRateSplitsApi.create_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_prem_rate_split)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPremRateSplitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.create_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#create_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberPremRateSplit
    # Deletes an SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts = {})
      delete_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts)
      nil
    end

    # Delete SubscriberPremRateSplit
    # Deletes an SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.delete_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.delete_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.delete_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split_key' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split_key' when calling SubscriberPremiumRateSplitsApi.delete_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits/{subscriberPremRateSplitKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberPremRateSplitKey' + '}', CGI.escape(subscriber_prem_rate_split_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.delete_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#delete_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberPremRateSplit
    # Gets SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPremRateSplitVBAResponse]
    def get_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts = {})
      data, _status_code, _headers = get_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts)
      data
    end

    # Get SubscriberPremRateSplit
    # Gets SubscriberPremRateSplit
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPremRateSplitVBAResponse, Integer, Hash)>] SubscriberPremRateSplitVBAResponse data, response status code and response headers
    def get_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.get_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.get_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.get_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split_key' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split_key' when calling SubscriberPremiumRateSplitsApi.get_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits/{subscriberPremRateSplitKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberPremRateSplitKey' + '}', CGI.escape(subscriber_prem_rate_split_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPremRateSplitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.get_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#get_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberPremRateSplit
    # Lists all SubscriberPremRateSplit for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberPremRateSplitListVBAResponse]
    def list_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubscriberPremRateSplit
    # Lists all SubscriberPremRateSplit for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberPremRateSplitListVBAResponse, Integer, Hash)>] SubscriberPremRateSplitListVBAResponse data, response status code and response headers
    def list_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.list_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.list_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.list_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPremRateSplitListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.list_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#list_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberPremRateSplit
    # Create or Update multiple SubscriberPremRateSplit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split [Array<SubscriberPremRateSplit>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts = {})
      data, _status_code, _headers = update_batch_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts)
      data
    end

    # Create or Update Batch SubscriberPremRateSplit
    # Create or Update multiple SubscriberPremRateSplit at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split [Array<SubscriberPremRateSplit>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.update_batch_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.update_batch_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.update_batch_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split' when calling SubscriberPremiumRateSplitsApi.update_batch_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_prem_rate_split)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.update_batch_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#update_batch_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberPremRateSplit
    # Updates a specific SubscriberPremRateSplit.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param subscriber_prem_rate_split [SubscriberPremRateSplit] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPremRateSplitVBAResponse]
    def update_subscriber_prem_rate_split(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, subscriber_prem_rate_split, opts = {})
      data, _status_code, _headers = update_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, subscriber_prem_rate_split, opts)
      data
    end

    # Update SubscriberPremRateSplit
    # Updates a specific SubscriberPremRateSplit.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_prem_rate_split_key [Integer] SubscriberPremRateSplit Key
    # @param subscriber_prem_rate_split [SubscriberPremRateSplit] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPremRateSplitVBAResponse, Integer, Hash)>] SubscriberPremRateSplitVBAResponse data, response status code and response headers
    def update_subscriber_prem_rate_split_with_http_info(vbasoftware_database, subscriber_id, subscriber_prem_rate_split_key, subscriber_prem_rate_split, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split_key' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split_key' when calling SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split"
      end
      # verify the required parameter 'subscriber_prem_rate_split' is set
      if @api_client.config.client_side_validation && subscriber_prem_rate_split.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_prem_rate_split' when calling SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/premium-rate-splits/{subscriberPremRateSplitKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subscriberPremRateSplitKey' + '}', CGI.escape(subscriber_prem_rate_split_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_prem_rate_split)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPremRateSplitVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPremiumRateSplitsApi.update_subscriber_prem_rate_split",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPremiumRateSplitsApi#update_subscriber_prem_rate_split\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
