=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberWritingAgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberWritingAgent
    # Creates a new SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent [SubscriberWritingAgent] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWritingAgentVBAResponse]
    def create_subscriber_writing_agent(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts = {})
      data, _status_code, _headers = create_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts)
      data
    end

    # Create SubscriberWritingAgent
    # Creates a new SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent [SubscriberWritingAgent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWritingAgentVBAResponse, Integer, Hash)>] SubscriberWritingAgentVBAResponse data, response status code and response headers
    def create_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.create_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.create_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.create_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent' when calling SubscriberWritingAgentsApi.create_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_writing_agent)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWritingAgentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.create_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#create_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberWritingAgent
    # Deletes an SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_writing_agent(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts = {})
      delete_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts)
      nil
    end

    # Delete SubscriberWritingAgent
    # Deletes an SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.delete_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.delete_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.delete_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent_key' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent_key' when calling SubscriberWritingAgentsApi.delete_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents/{SubscriberWritingAgent_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'SubscriberWritingAgent_Key' + '}', CGI.escape(subscriber_writing_agent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.delete_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#delete_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberWritingAgent
    # Gets SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWritingAgentVBAResponse]
    def get_subscriber_writing_agent(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts = {})
      data, _status_code, _headers = get_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts)
      data
    end

    # Get SubscriberWritingAgent
    # Gets SubscriberWritingAgent
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWritingAgentVBAResponse, Integer, Hash)>] SubscriberWritingAgentVBAResponse data, response status code and response headers
    def get_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.get_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.get_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.get_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent_key' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent_key' when calling SubscriberWritingAgentsApi.get_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents/{SubscriberWritingAgent_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'SubscriberWritingAgent_Key' + '}', CGI.escape(subscriber_writing_agent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWritingAgentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.get_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#get_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberWritingAgent
    # Lists all SubscriberWritingAgent for the given Subscriber_ID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [SubscriberWritingAgentListVBAResponse]
    def list_subscriber_writing_agent(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubscriberWritingAgent
    # Lists all SubscriberWritingAgent for the given Subscriber_ID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(SubscriberWritingAgentListVBAResponse, Integer, Hash)>] SubscriberWritingAgentListVBAResponse data, response status code and response headers
    def list_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.list_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.list_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.list_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWritingAgentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.list_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#list_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberWritingAgent
    # Create or Update multiple SubscriberWritingAgent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent [Array<SubscriberWritingAgent>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_writing_agent(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts = {})
      data, _status_code, _headers = update_batch_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts)
      data
    end

    # Create or Update Batch SubscriberWritingAgent
    # Create or Update multiple SubscriberWritingAgent at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent [Array<SubscriberWritingAgent>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.update_batch_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.update_batch_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.update_batch_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent' when calling SubscriberWritingAgentsApi.update_batch_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents-batch'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_writing_agent)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.update_batch_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#update_batch_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberWritingAgent
    # Updates a specific SubscriberWritingAgent.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param subscriber_writing_agent [SubscriberWritingAgent] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberWritingAgentVBAResponse]
    def update_subscriber_writing_agent(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, subscriber_writing_agent, opts = {})
      data, _status_code, _headers = update_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, subscriber_writing_agent, opts)
      data
    end

    # Update SubscriberWritingAgent
    # Updates a specific SubscriberWritingAgent.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_writing_agent_key [Integer] SubscriberWritingAgent Key
    # @param subscriber_writing_agent [SubscriberWritingAgent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberWritingAgentVBAResponse, Integer, Hash)>] SubscriberWritingAgentVBAResponse data, response status code and response headers
    def update_subscriber_writing_agent_with_http_info(vbasoftware_database, subscriber_id, subscriber_writing_agent_key, subscriber_writing_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberWritingAgentsApi.update_subscriber_writing_agent ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberWritingAgentsApi.update_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberWritingAgentsApi.update_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent_key' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent_key' when calling SubscriberWritingAgentsApi.update_subscriber_writing_agent"
      end
      # verify the required parameter 'subscriber_writing_agent' is set
      if @api_client.config.client_side_validation && subscriber_writing_agent.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_writing_agent' when calling SubscriberWritingAgentsApi.update_subscriber_writing_agent"
      end
      # resource path
      local_var_path = '/subscribers/{Subscriber_ID}/writing-agents/{SubscriberWritingAgent_Key}'.sub('{' + 'Subscriber_ID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'SubscriberWritingAgent_Key' + '}', CGI.escape(subscriber_writing_agent_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_writing_agent)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberWritingAgentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberWritingAgentsApi.update_subscriber_writing_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberWritingAgentsApi#update_subscriber_writing_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
