=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberFlexPaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberFlexPayment
    # Creates a new SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment [SubscriberFlexPayment] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexPaymentVBAResponse]
    def create_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts = {})
      data, _status_code, _headers = create_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts)
      data
    end

    # Create SubscriberFlexPayment
    # Creates a new SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment [SubscriberFlexPayment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexPaymentVBAResponse, Integer, Hash)>] SubscriberFlexPaymentVBAResponse data, response status code and response headers
    def create_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.create_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.create_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.create_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.create_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.create_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment' when calling SubscriberFlexPaymentsApi.create_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_payment)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexPaymentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.create_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#create_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberFlexPayment
    # Deletes an SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts = {})
      delete_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts)
      nil
    end

    # Delete SubscriberFlexPayment
    # Deletes an SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.delete_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.delete_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.delete_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.delete_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.delete_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment_key' when calling SubscriberFlexPaymentsApi.delete_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments/{subscriberFlexPaymentKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'subscriberFlexPaymentKey' + '}', CGI.escape(subscriber_flex_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.delete_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#delete_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberFlexPayment
    # Gets SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexPaymentVBAResponse]
    def get_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts = {})
      data, _status_code, _headers = get_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts)
      data
    end

    # Get SubscriberFlexPayment
    # Gets SubscriberFlexPayment
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexPaymentVBAResponse, Integer, Hash)>] SubscriberFlexPaymentVBAResponse data, response status code and response headers
    def get_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.get_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.get_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.get_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.get_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.get_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment_key' when calling SubscriberFlexPaymentsApi.get_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments/{subscriberFlexPaymentKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'subscriberFlexPaymentKey' + '}', CGI.escape(subscriber_flex_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexPaymentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.get_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#get_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberFlexPayment
    # Lists all SubscriberFlexPayment for the given subscriberID and groupID and planID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberFlexPaymentListVBAResponse]
    def list_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, opts = {})
      data, _status_code, _headers = list_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, opts)
      data
    end

    # List SubscriberFlexPayment
    # Lists all SubscriberFlexPayment for the given subscriberID and groupID and planID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberFlexPaymentListVBAResponse, Integer, Hash)>] SubscriberFlexPaymentListVBAResponse data, response status code and response headers
    def list_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.list_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.list_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.list_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.list_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.list_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexPaymentListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.list_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#list_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberFlexPayment
    # Create or Update multiple SubscriberFlexPayment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment [Array<SubscriberFlexPayment>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts = {})
      data, _status_code, _headers = update_batch_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts)
      data
    end

    # Create or Update Batch SubscriberFlexPayment
    # Create or Update multiple SubscriberFlexPayment at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment [Array<SubscriberFlexPayment>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment' when calling SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_payment)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.update_batch_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#update_batch_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberFlexPayment
    # Updates a specific SubscriberFlexPayment.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param subscriber_flex_payment [SubscriberFlexPayment] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberFlexPaymentVBAResponse]
    def update_subscriber_flex_payment(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, subscriber_flex_payment, opts = {})
      data, _status_code, _headers = update_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, subscriber_flex_payment, opts)
      data
    end

    # Update SubscriberFlexPayment
    # Updates a specific SubscriberFlexPayment.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param group_id [String] Group ID
    # @param plan_id [String] Plan ID
    # @param subscriber_flex_payment_key [Integer] SubscriberFlexPayment Key
    # @param subscriber_flex_payment [SubscriberFlexPayment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberFlexPaymentVBAResponse, Integer, Hash)>] SubscriberFlexPaymentVBAResponse data, response status code and response headers
    def update_subscriber_flex_payment_with_http_info(vbasoftware_database, subscriber_id, group_id, plan_id, subscriber_flex_payment_key, subscriber_flex_payment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberFlexPaymentsApi.update_subscriber_flex_payment ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment_key' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment_key.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment_key' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # verify the required parameter 'subscriber_flex_payment' is set
      if @api_client.config.client_side_validation && subscriber_flex_payment.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_flex_payment' when calling SubscriberFlexPaymentsApi.update_subscriber_flex_payment"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/groups/{groupID}/plans/{planID}/flex-payments/{subscriberFlexPaymentKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'subscriberFlexPaymentKey' + '}', CGI.escape(subscriber_flex_payment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_flex_payment)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberFlexPaymentVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberFlexPaymentsApi.update_subscriber_flex_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberFlexPaymentsApi#update_subscriber_flex_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
