=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberPlanPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberPlanPolicy
    # Creates a new SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_plan_policy [SubscriberPlanPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPlanPolicyVBAResponse]
    def create_subscriber_plan_policy(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts = {})
      data, _status_code, _headers = create_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts)
      data
    end

    # Create SubscriberPlanPolicy
    # Creates a new SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param subscriber_plan_policy [SubscriberPlanPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPlanPolicyVBAResponse, Integer, Hash)>] SubscriberPlanPolicyVBAResponse data, response status code and response headers
    def create_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.create_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.create_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.create_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_plan_policy' is set
      if @api_client.config.client_side_validation && subscriber_plan_policy.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_plan_policy' when calling SubscriberPlanPoliciesApi.create_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_plan_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPlanPolicyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.create_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#create_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberPlanPolicy
    # Deletes an SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_plan_policy(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      delete_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts)
      nil
    end

    # Delete SubscriberPlanPolicy
    # Deletes an SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.delete_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.delete_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.delete_subscriber_plan_policy"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPoliciesApi.delete_subscriber_plan_policy"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPoliciesApi.delete_subscriber_plan_policy"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPoliciesApi.delete_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies/{planID}/{benefitCode}/{policyNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.delete_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#delete_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberPlanPolicy
    # Gets SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPlanPolicyVBAResponse]
    def get_subscriber_plan_policy(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      data, _status_code, _headers = get_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts)
      data
    end

    # Get SubscriberPlanPolicy
    # Gets SubscriberPlanPolicy
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPlanPolicyVBAResponse, Integer, Hash)>] SubscriberPlanPolicyVBAResponse data, response status code and response headers
    def get_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.get_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.get_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.get_subscriber_plan_policy"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPoliciesApi.get_subscriber_plan_policy"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPoliciesApi.get_subscriber_plan_policy"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPoliciesApi.get_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies/{planID}/{benefitCode}/{policyNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPlanPolicyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.get_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#get_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberPlanPolicy
    # Lists all SubscriberPlanPolicy for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberPlanPolicyListVBAResponse]
    def list_subscriber_plan_policy(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubscriberPlanPolicy
    # Lists all SubscriberPlanPolicy for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberPlanPolicyListVBAResponse, Integer, Hash)>] SubscriberPlanPolicyListVBAResponse data, response status code and response headers
    def list_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.list_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.list_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.list_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPlanPolicyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.list_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#list_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscriber Policy Surrender
    # Surrender an existing Policy under the Policy & Forfeiture area.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param cash_value [Float] Cash Value
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def subscriber_surrender_policy(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, cash_value, opts = {})
      subscriber_surrender_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, cash_value, opts)
      nil
    end

    # Subscriber Policy Surrender
    # Surrender an existing Policy under the Policy &amp; Forfeiture area.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param cash_value [Float] Cash Value
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def subscriber_surrender_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, cash_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.subscriber_surrender_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # verify the required parameter 'cash_value' is set
      if @api_client.config.client_side_validation && cash_value.nil?
        fail ArgumentError, "Missing the required parameter 'cash_value' when calling SubscriberPlanPoliciesApi.subscriber_surrender_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/surrender-policy/{planID}/{benefitCode}/{policyNumber}/{cashValue}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s)).sub('{' + 'cashValue' + '}', CGI.escape(cash_value.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.subscriber_surrender_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#subscriber_surrender_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberPlanPolicy
    # Create or Update multiple SubscriberPlanPolicy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Ssubscriber ID
    # @param subscriber_plan_policy [Array<SubscriberPlanPolicy>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_plan_policy(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts = {})
      data, _status_code, _headers = update_batch_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts)
      data
    end

    # Create or Update Batch SubscriberPlanPolicy
    # Create or Update multiple SubscriberPlanPolicy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Ssubscriber ID
    # @param subscriber_plan_policy [Array<SubscriberPlanPolicy>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, subscriber_plan_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.update_batch_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.update_batch_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.update_batch_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_plan_policy' is set
      if @api_client.config.client_side_validation && subscriber_plan_policy.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_plan_policy' when calling SubscriberPlanPoliciesApi.update_batch_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_plan_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.update_batch_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#update_batch_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberPlanPolicy
    # Updates a specific SubscriberPlanPolicy.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_plan_policy [SubscriberPlanPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberPlanPolicyVBAResponse]
    def update_subscriber_plan_policy(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_plan_policy, opts = {})
      data, _status_code, _headers = update_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_plan_policy, opts)
      data
    end

    # Update SubscriberPlanPolicy
    # Updates a specific SubscriberPlanPolicy.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param plan_id [String] Plan ID
    # @param benefit_code [String] Benefit Code
    # @param policy_number [String] Policy Number
    # @param subscriber_plan_policy [SubscriberPlanPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberPlanPolicyVBAResponse, Integer, Hash)>] SubscriberPlanPolicyVBAResponse data, response status code and response headers
    def update_subscriber_plan_policy_with_http_info(vbasoftware_database, subscriber_id, plan_id, benefit_code, policy_number, subscriber_plan_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPlanPoliciesApi.update_subscriber_plan_policy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # verify the required parameter 'benefit_code' is set
      if @api_client.config.client_side_validation && benefit_code.nil?
        fail ArgumentError, "Missing the required parameter 'benefit_code' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # verify the required parameter 'policy_number' is set
      if @api_client.config.client_side_validation && policy_number.nil?
        fail ArgumentError, "Missing the required parameter 'policy_number' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # verify the required parameter 'subscriber_plan_policy' is set
      if @api_client.config.client_side_validation && subscriber_plan_policy.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_plan_policy' when calling SubscriberPlanPoliciesApi.update_subscriber_plan_policy"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/plan-policies/{planID}/{benefitCode}/{policyNumber}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'planID' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'benefitCode' + '}', CGI.escape(benefit_code.to_s)).sub('{' + 'policyNumber' + '}', CGI.escape(policy_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_plan_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberPlanPolicyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPlanPoliciesApi.update_subscriber_plan_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPlanPoliciesApi#update_subscriber_plan_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
