=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberPaymentMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubPaymentMethod
    # Creates a new SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method [SubPaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [SubPaymentMethodVBAResponse]
    def create_sub_payment_method(vbasoftware_database, subscriber_id, sub_payment_method, opts = {})
      data, _status_code, _headers = create_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method, opts)
      data
    end

    # Create SubPaymentMethod
    # Creates a new SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method [SubPaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubPaymentMethodVBAResponse, Integer, Hash)>] SubPaymentMethodVBAResponse data, response status code and response headers
    def create_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.create_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.create_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.create_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method' is set
      if @api_client.config.client_side_validation && sub_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method' when calling SubscriberPaymentMethodsApi.create_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'SubPaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.create_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#create_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubPaymentMethod
    # Deletes an SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sub_payment_method(vbasoftware_database, subscriber_id, sub_payment_method_key, opts = {})
      delete_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, opts)
      nil
    end

    # Delete SubPaymentMethod
    # Deletes an SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.delete_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.delete_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.delete_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method_key' is set
      if @api_client.config.client_side_validation && sub_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method_key' when calling SubscriberPaymentMethodsApi.delete_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods/{subPaymentMethodKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subPaymentMethodKey' + '}', CGI.escape(sub_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.delete_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#delete_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubPaymentMethod
    # Gets SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param [Hash] opts the optional parameters
    # @return [SubPaymentMethodVBAResponse]
    def get_sub_payment_method(vbasoftware_database, subscriber_id, sub_payment_method_key, opts = {})
      data, _status_code, _headers = get_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, opts)
      data
    end

    # Get SubPaymentMethod
    # Gets SubPaymentMethod
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubPaymentMethodVBAResponse, Integer, Hash)>] SubPaymentMethodVBAResponse data, response status code and response headers
    def get_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.get_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.get_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.get_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method_key' is set
      if @api_client.config.client_side_validation && sub_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method_key' when calling SubscriberPaymentMethodsApi.get_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods/{subPaymentMethodKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subPaymentMethodKey' + '}', CGI.escape(sub_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubPaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.get_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#get_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubPaymentMethod
    # Lists all SubPaymentMethod for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubPaymentMethodListVBAResponse]
    def list_sub_payment_method(vbasoftware_database, subscriber_id, opts = {})
      data, _status_code, _headers = list_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, opts)
      data
    end

    # List SubPaymentMethod
    # Lists all SubPaymentMethod for the given subscriberID
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubPaymentMethodListVBAResponse, Integer, Hash)>] SubPaymentMethodListVBAResponse data, response status code and response headers
    def list_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.list_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.list_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.list_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubPaymentMethodListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.list_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#list_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubPaymentMethod
    # Create or Update multiple SubPaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method [Array<SubPaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_sub_payment_method(vbasoftware_database, subscriber_id, sub_payment_method, opts = {})
      data, _status_code, _headers = update_batch_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method, opts)
      data
    end

    # Create or Update Batch SubPaymentMethod
    # Create or Update multiple SubPaymentMethod at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method [Array<SubPaymentMethod>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.update_batch_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.update_batch_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.update_batch_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method' is set
      if @api_client.config.client_side_validation && sub_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method' when calling SubscriberPaymentMethodsApi.update_batch_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods-batch'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.update_batch_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#update_batch_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubPaymentMethod
    # Updates a specific SubPaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param sub_payment_method [SubPaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [SubPaymentMethodVBAResponse]
    def update_sub_payment_method(vbasoftware_database, subscriber_id, sub_payment_method_key, sub_payment_method, opts = {})
      data, _status_code, _headers = update_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, sub_payment_method, opts)
      data
    end

    # Update SubPaymentMethod
    # Updates a specific SubPaymentMethod.
    # @param vbasoftware_database [String] Target database
    # @param subscriber_id [String] Subscriber ID
    # @param sub_payment_method_key [Integer] Sub Payment Method Key
    # @param sub_payment_method [SubPaymentMethod] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubPaymentMethodVBAResponse, Integer, Hash)>] SubPaymentMethodVBAResponse data, response status code and response headers
    def update_sub_payment_method_with_http_info(vbasoftware_database, subscriber_id, sub_payment_method_key, sub_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberPaymentMethodsApi.update_sub_payment_method ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberPaymentMethodsApi.update_sub_payment_method"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberPaymentMethodsApi.update_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method_key' is set
      if @api_client.config.client_side_validation && sub_payment_method_key.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method_key' when calling SubscriberPaymentMethodsApi.update_sub_payment_method"
      end
      # verify the required parameter 'sub_payment_method' is set
      if @api_client.config.client_side_validation && sub_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'sub_payment_method' when calling SubscriberPaymentMethodsApi.update_sub_payment_method"
      end
      # resource path
      local_var_path = '/subscribers/{subscriberID}/payment-methods/{subPaymentMethodKey}'.sub('{' + 'subscriberID' + '}', CGI.escape(subscriber_id.to_s)).sub('{' + 'subPaymentMethodKey' + '}', CGI.escape(sub_payment_method_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sub_payment_method)

      # return_type
      return_type = opts[:debug_return_type] || 'SubPaymentMethodVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberPaymentMethodsApi.update_sub_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberPaymentMethodsApi#update_sub_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
