=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SubscriberIDCodeHistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SubscriberIDHistory
    # Creates a new SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param subscriber_id_history [SubscriberIDHistory] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberIDHistoryVBAResponse]
    def create_subscriber_id_history(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts = {})
      data, _status_code, _headers = create_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts)
      data
    end

    # Create SubscriberIDHistory
    # Creates a new SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param subscriber_id_history [SubscriberIDHistory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberIDHistoryVBAResponse, Integer, Hash)>] SubscriberIDHistoryVBAResponse data, response status code and response headers
    def create_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.create_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.create_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.create_subscriber_id_history"
      end
      # verify the required parameter 'subscriber_id_history' is set
      if @api_client.config.client_side_validation && subscriber_id_history.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id_history' when calling SubscriberIDCodeHistoryApi.create_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_id_history)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberIDHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.create_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#create_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SubscriberIDHistory
    # Deletes an SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscriber_id_history(vbasoftware_database, new_subscriber_id, change_id, opts = {})
      delete_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, opts)
      nil
    end

    # Delete SubscriberIDHistory
    # Deletes an SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.delete_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.delete_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.delete_subscriber_id_history"
      end
      # verify the required parameter 'change_id' is set
      if @api_client.config.client_side_validation && change_id.nil?
        fail ArgumentError, "Missing the required parameter 'change_id' when calling SubscriberIDCodeHistoryApi.delete_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history/{changeID}'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s)).sub('{' + 'changeID' + '}', CGI.escape(change_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.delete_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#delete_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SubscriberIDHistory
    # Gets SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param [Hash] opts the optional parameters
    # @return [SubscriberIDHistoryVBAResponse]
    def get_subscriber_id_history(vbasoftware_database, new_subscriber_id, change_id, opts = {})
      data, _status_code, _headers = get_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, opts)
      data
    end

    # Get SubscriberIDHistory
    # Gets SubscriberIDHistory
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberIDHistoryVBAResponse, Integer, Hash)>] SubscriberIDHistoryVBAResponse data, response status code and response headers
    def get_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.get_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.get_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.get_subscriber_id_history"
      end
      # verify the required parameter 'change_id' is set
      if @api_client.config.client_side_validation && change_id.nil?
        fail ArgumentError, "Missing the required parameter 'change_id' when calling SubscriberIDCodeHistoryApi.get_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history/{changeID}'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s)).sub('{' + 'changeID' + '}', CGI.escape(change_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberIDHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.get_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#get_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SubscriberIDHistory
    # Lists all SubscriberIDHistory for the given newSubscriberID
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SubscriberIDHistoryListVBAResponse]
    def list_subscriber_id_history(vbasoftware_database, new_subscriber_id, opts = {})
      data, _status_code, _headers = list_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, opts)
      data
    end

    # List SubscriberIDHistory
    # Lists all SubscriberIDHistory for the given newSubscriberID
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SubscriberIDHistoryListVBAResponse, Integer, Hash)>] SubscriberIDHistoryListVBAResponse data, response status code and response headers
    def list_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.list_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.list_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.list_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberIDHistoryListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.list_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#list_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SubscriberIDHistory
    # Create or Update multiple SubscriberIDHistory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param subscriber_id_history [Array<SubscriberIDHistory>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_subscriber_id_history(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts = {})
      data, _status_code, _headers = update_batch_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts)
      data
    end

    # Create or Update Batch SubscriberIDHistory
    # Create or Update multiple SubscriberIDHistory at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param subscriber_id_history [Array<SubscriberIDHistory>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, subscriber_id_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.update_batch_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.update_batch_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.update_batch_subscriber_id_history"
      end
      # verify the required parameter 'subscriber_id_history' is set
      if @api_client.config.client_side_validation && subscriber_id_history.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id_history' when calling SubscriberIDCodeHistoryApi.update_batch_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history-batch'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_id_history)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.update_batch_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#update_batch_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SubscriberIDHistory
    # Updates a specific SubscriberIDHistory.
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param subscriber_id_history [SubscriberIDHistory] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriberIDHistoryVBAResponse]
    def update_subscriber_id_history(vbasoftware_database, new_subscriber_id, change_id, subscriber_id_history, opts = {})
      data, _status_code, _headers = update_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, subscriber_id_history, opts)
      data
    end

    # Update SubscriberIDHistory
    # Updates a specific SubscriberIDHistory.
    # @param vbasoftware_database [String] Target database
    # @param new_subscriber_id [String] New Subscriber ID
    # @param change_id [Integer] Change ID
    # @param subscriber_id_history [SubscriberIDHistory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriberIDHistoryVBAResponse, Integer, Hash)>] SubscriberIDHistoryVBAResponse data, response status code and response headers
    def update_subscriber_id_history_with_http_info(vbasoftware_database, new_subscriber_id, change_id, subscriber_id_history, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberIDCodeHistoryApi.update_subscriber_id_history ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SubscriberIDCodeHistoryApi.update_subscriber_id_history"
      end
      # verify the required parameter 'new_subscriber_id' is set
      if @api_client.config.client_side_validation && new_subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'new_subscriber_id' when calling SubscriberIDCodeHistoryApi.update_subscriber_id_history"
      end
      # verify the required parameter 'change_id' is set
      if @api_client.config.client_side_validation && change_id.nil?
        fail ArgumentError, "Missing the required parameter 'change_id' when calling SubscriberIDCodeHistoryApi.update_subscriber_id_history"
      end
      # verify the required parameter 'subscriber_id_history' is set
      if @api_client.config.client_side_validation && subscriber_id_history.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id_history' when calling SubscriberIDCodeHistoryApi.update_subscriber_id_history"
      end
      # resource path
      local_var_path = '/subscribers/{newSubscriberID}/id-codes-history/{changeID}'.sub('{' + 'newSubscriberID' + '}', CGI.escape(new_subscriber_id.to_s)).sub('{' + 'changeID' + '}', CGI.escape(change_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscriber_id_history)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriberIDHistoryVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberIDCodeHistoryApi.update_subscriber_id_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberIDCodeHistoryApi#update_subscriber_id_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
