=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SuffixApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Suffix
    # Creates a new Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix [Suffix] 
    # @param [Hash] opts the optional parameters
    # @return [SuffixVBAResponse]
    def create_suffix(vbasoftware_database, suffix, opts = {})
      data, _status_code, _headers = create_suffix_with_http_info(vbasoftware_database, suffix, opts)
      data
    end

    # Create Suffix
    # Creates a new Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix [Suffix] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuffixVBAResponse, Integer, Hash)>] SuffixVBAResponse data, response status code and response headers
    def create_suffix_with_http_info(vbasoftware_database, suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.create_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.create_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling SuffixApi.create_suffix"
      end
      # resource path
      local_var_path = '/suffixes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'SuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.create_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#create_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Suffix
    # Deletes an Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_suffix(vbasoftware_database, suffix1, opts = {})
      delete_suffix_with_http_info(vbasoftware_database, suffix1, opts)
      nil
    end

    # Delete Suffix
    # Deletes an Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_suffix_with_http_info(vbasoftware_database, suffix1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.delete_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.delete_suffix"
      end
      # verify the required parameter 'suffix1' is set
      if @api_client.config.client_side_validation && suffix1.nil?
        fail ArgumentError, "Missing the required parameter 'suffix1' when calling SuffixApi.delete_suffix"
      end
      # resource path
      local_var_path = '/suffixes/{suffix1}'.sub('{' + 'suffix1' + '}', CGI.escape(suffix1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.delete_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#delete_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Suffix
    # Gets Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param [Hash] opts the optional parameters
    # @return [SuffixVBAResponse]
    def get_suffix(vbasoftware_database, suffix1, opts = {})
      data, _status_code, _headers = get_suffix_with_http_info(vbasoftware_database, suffix1, opts)
      data
    end

    # Get Suffix
    # Gets Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuffixVBAResponse, Integer, Hash)>] SuffixVBAResponse data, response status code and response headers
    def get_suffix_with_http_info(vbasoftware_database, suffix1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.get_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.get_suffix"
      end
      # verify the required parameter 'suffix1' is set
      if @api_client.config.client_side_validation && suffix1.nil?
        fail ArgumentError, "Missing the required parameter 'suffix1' when calling SuffixApi.get_suffix"
      end
      # resource path
      local_var_path = '/suffixes/{suffix1}'.sub('{' + 'suffix1' + '}', CGI.escape(suffix1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.get_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#get_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Suffix
    # Lists all Suffix
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [SuffixListVBAResponse]
    def list_suffixes(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_suffixes_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Suffix
    # Lists all Suffix
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuffixListVBAResponse, Integer, Hash)>] SuffixListVBAResponse data, response status code and response headers
    def list_suffixes_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.list_suffixes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.list_suffixes"
      end
      # resource path
      local_var_path = '/suffixes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuffixListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.list_suffixes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#list_suffixes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Suffix
    # Create or Update multiple Suffix at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suffix [Array<Suffix>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_suffix(vbasoftware_database, suffix, opts = {})
      data, _status_code, _headers = update_batch_suffix_with_http_info(vbasoftware_database, suffix, opts)
      data
    end

    # Create or Update Batch Suffix
    # Create or Update multiple Suffix at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suffix [Array<Suffix>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_suffix_with_http_info(vbasoftware_database, suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.update_batch_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.update_batch_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling SuffixApi.update_batch_suffix"
      end
      # resource path
      local_var_path = '/suffixes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.update_batch_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#update_batch_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Suffix
    # Updates a specific Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param suffix [Suffix] 
    # @param [Hash] opts the optional parameters
    # @return [SuffixVBAResponse]
    def update_suffix(vbasoftware_database, suffix1, suffix, opts = {})
      data, _status_code, _headers = update_suffix_with_http_info(vbasoftware_database, suffix1, suffix, opts)
      data
    end

    # Update Suffix
    # Updates a specific Suffix
    # @param vbasoftware_database [String] Target database
    # @param suffix1 [String] Suffix1
    # @param suffix [Suffix] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuffixVBAResponse, Integer, Hash)>] SuffixVBAResponse data, response status code and response headers
    def update_suffix_with_http_info(vbasoftware_database, suffix1, suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuffixApi.update_suffix ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuffixApi.update_suffix"
      end
      # verify the required parameter 'suffix1' is set
      if @api_client.config.client_side_validation && suffix1.nil?
        fail ArgumentError, "Missing the required parameter 'suffix1' when calling SuffixApi.update_suffix"
      end
      # verify the required parameter 'suffix' is set
      if @api_client.config.client_side_validation && suffix.nil?
        fail ArgumentError, "Missing the required parameter 'suffix' when calling SuffixApi.update_suffix"
      end
      # resource path
      local_var_path = '/suffixes/{suffix1}'.sub('{' + 'suffix1' + '}', CGI.escape(suffix1.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suffix)

      # return_type
      return_type = opts[:debug_return_type] || 'SuffixVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuffixApi.update_suffix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuffixApi#update_suffix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
