=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SuspenseTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SuspenseType
    # Creates a new SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [SuspenseType] 
    # @param [Hash] opts the optional parameters
    # @return [SuspenseTypeVBAResponse]
    def create_suspense_type(vbasoftware_database, suspense_type, opts = {})
      data, _status_code, _headers = create_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts)
      data
    end

    # Create SuspenseType
    # Creates a new SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [SuspenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseTypeVBAResponse, Integer, Hash)>] SuspenseTypeVBAResponse data, response status code and response headers
    def create_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.create_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.create_suspense_type"
      end
      # verify the required parameter 'suspense_type' is set
      if @api_client.config.client_side_validation && suspense_type.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type' when calling SuspenseTypesApi.create_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_type)

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.create_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#create_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SuspenseType
    # Deletes an SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_suspense_type(vbasoftware_database, suspense_type, opts = {})
      delete_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts)
      nil
    end

    # Delete SuspenseType
    # Deletes an SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.delete_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.delete_suspense_type"
      end
      # verify the required parameter 'suspense_type' is set
      if @api_client.config.client_side_validation && suspense_type.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type' when calling SuspenseTypesApi.delete_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types/{suspenseType}'.sub('{' + 'suspenseType' + '}', CGI.escape(suspense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.delete_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#delete_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SuspenseType
    # Gets SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param [Hash] opts the optional parameters
    # @return [SuspenseTypeVBAResponse]
    def get_suspense_type(vbasoftware_database, suspense_type, opts = {})
      data, _status_code, _headers = get_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts)
      data
    end

    # Get SuspenseType
    # Gets SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseTypeVBAResponse, Integer, Hash)>] SuspenseTypeVBAResponse data, response status code and response headers
    def get_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.get_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.get_suspense_type"
      end
      # verify the required parameter 'suspense_type' is set
      if @api_client.config.client_side_validation && suspense_type.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type' when calling SuspenseTypesApi.get_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types/{suspenseType}'.sub('{' + 'suspenseType' + '}', CGI.escape(suspense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.get_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#get_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SuspenseType
    # Lists all SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SuspenseTypeListVBAResponse]
    def list_suspense_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_suspense_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SuspenseType
    # Lists all SuspenseType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SuspenseTypeListVBAResponse, Integer, Hash)>] SuspenseTypeListVBAResponse data, response status code and response headers
    def list_suspense_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.list_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.list_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.list_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#list_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SuspenseType
    # Create or Update multiple SuspenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [Array<SuspenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_suspense_type(vbasoftware_database, suspense_type, opts = {})
      data, _status_code, _headers = update_batch_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts)
      data
    end

    # Create or Update Batch SuspenseType
    # Create or Update multiple SuspenseType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [Array<SuspenseType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_suspense_type_with_http_info(vbasoftware_database, suspense_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.update_batch_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.update_batch_suspense_type"
      end
      # verify the required parameter 'suspense_type' is set
      if @api_client.config.client_side_validation && suspense_type.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type' when calling SuspenseTypesApi.update_batch_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.update_batch_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#update_batch_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SuspenseType
    # Updates a specific SuspenseType.
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param suspense_type2 [SuspenseType] 
    # @param [Hash] opts the optional parameters
    # @return [SuspenseTypeVBAResponse]
    def update_suspense_type(vbasoftware_database, suspense_type, suspense_type2, opts = {})
      data, _status_code, _headers = update_suspense_type_with_http_info(vbasoftware_database, suspense_type, suspense_type2, opts)
      data
    end

    # Update SuspenseType
    # Updates a specific SuspenseType.
    # @param vbasoftware_database [String] Target database
    # @param suspense_type [String] Suspense Type
    # @param suspense_type2 [SuspenseType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseTypeVBAResponse, Integer, Hash)>] SuspenseTypeVBAResponse data, response status code and response headers
    def update_suspense_type_with_http_info(vbasoftware_database, suspense_type, suspense_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseTypesApi.update_suspense_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseTypesApi.update_suspense_type"
      end
      # verify the required parameter 'suspense_type' is set
      if @api_client.config.client_side_validation && suspense_type.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type' when calling SuspenseTypesApi.update_suspense_type"
      end
      # verify the required parameter 'suspense_type2' is set
      if @api_client.config.client_side_validation && suspense_type2.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_type2' when calling SuspenseTypesApi.update_suspense_type"
      end
      # resource path
      local_var_path = '/suspense-types/{suspenseType}'.sub('{' + 'suspenseType' + '}', CGI.escape(suspense_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseTypesApi.update_suspense_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseTypesApi#update_suspense_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
