=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class SuspenseClaimsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create SuspenseClaim
    # Creates a new SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim [SuspenseClaim] 
    # @param [Hash] opts the optional parameters
    # @return [SuspenseClaimVBAResponse]
    def create_suspense_claim(vbasoftware_database, suspense_claim, opts = {})
      data, _status_code, _headers = create_suspense_claim_with_http_info(vbasoftware_database, suspense_claim, opts)
      data
    end

    # Create SuspenseClaim
    # Creates a new SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim [SuspenseClaim] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseClaimVBAResponse, Integer, Hash)>] SuspenseClaimVBAResponse data, response status code and response headers
    def create_suspense_claim_with_http_info(vbasoftware_database, suspense_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.create_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.create_suspense_claim"
      end
      # verify the required parameter 'suspense_claim' is set
      if @api_client.config.client_side_validation && suspense_claim.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim' when calling SuspenseClaimsApi.create_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.create_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#create_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SuspenseClaim
    # Deletes an SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_suspense_claim(vbasoftware_database, suspense_claim_key, opts = {})
      delete_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, opts)
      nil
    end

    # Delete SuspenseClaim
    # Deletes an SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.delete_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.delete_suspense_claim"
      end
      # verify the required parameter 'suspense_claim_key' is set
      if @api_client.config.client_side_validation && suspense_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim_key' when calling SuspenseClaimsApi.delete_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims/{suspenseClaimKey}'.sub('{' + 'suspenseClaimKey' + '}', CGI.escape(suspense_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.delete_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#delete_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SuspenseClaim
    # Gets SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param [Hash] opts the optional parameters
    # @return [SuspenseClaimVBAResponse]
    def get_suspense_claim(vbasoftware_database, suspense_claim_key, opts = {})
      data, _status_code, _headers = get_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, opts)
      data
    end

    # Get SuspenseClaim
    # Gets SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseClaimVBAResponse, Integer, Hash)>] SuspenseClaimVBAResponse data, response status code and response headers
    def get_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.get_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.get_suspense_claim"
      end
      # verify the required parameter 'suspense_claim_key' is set
      if @api_client.config.client_side_validation && suspense_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim_key' when calling SuspenseClaimsApi.get_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims/{suspenseClaimKey}'.sub('{' + 'suspenseClaimKey' + '}', CGI.escape(suspense_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.get_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#get_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SuspenseClaim
    # Lists all SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [SuspenseClaimListVBAResponse]
    def list_suspense_claim(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_suspense_claim_with_http_info(vbasoftware_database, opts)
      data
    end

    # List SuspenseClaim
    # Lists all SuspenseClaim
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(SuspenseClaimListVBAResponse, Integer, Hash)>] SuspenseClaimListVBAResponse data, response status code and response headers
    def list_suspense_claim_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.list_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.list_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseClaimListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.list_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#list_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch SuspenseClaim
    # Create or Update multiple SuspenseClaim at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim [Array<SuspenseClaim>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_suspense_claim(vbasoftware_database, suspense_claim, opts = {})
      data, _status_code, _headers = update_batch_suspense_claim_with_http_info(vbasoftware_database, suspense_claim, opts)
      data
    end

    # Create or Update Batch SuspenseClaim
    # Create or Update multiple SuspenseClaim at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim [Array<SuspenseClaim>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_suspense_claim_with_http_info(vbasoftware_database, suspense_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.update_batch_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.update_batch_suspense_claim"
      end
      # verify the required parameter 'suspense_claim' is set
      if @api_client.config.client_side_validation && suspense_claim.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim' when calling SuspenseClaimsApi.update_batch_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.update_batch_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#update_batch_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SuspenseClaim
    # Updates a specific SuspenseClaim.
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param suspense_claim [SuspenseClaim] 
    # @param [Hash] opts the optional parameters
    # @return [SuspenseClaimVBAResponse]
    def update_suspense_claim(vbasoftware_database, suspense_claim_key, suspense_claim, opts = {})
      data, _status_code, _headers = update_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, suspense_claim, opts)
      data
    end

    # Update SuspenseClaim
    # Updates a specific SuspenseClaim.
    # @param vbasoftware_database [String] Target database
    # @param suspense_claim_key [Integer] SuspenseClaim Key
    # @param suspense_claim [SuspenseClaim] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuspenseClaimVBAResponse, Integer, Hash)>] SuspenseClaimVBAResponse data, response status code and response headers
    def update_suspense_claim_with_http_info(vbasoftware_database, suspense_claim_key, suspense_claim, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuspenseClaimsApi.update_suspense_claim ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling SuspenseClaimsApi.update_suspense_claim"
      end
      # verify the required parameter 'suspense_claim_key' is set
      if @api_client.config.client_side_validation && suspense_claim_key.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim_key' when calling SuspenseClaimsApi.update_suspense_claim"
      end
      # verify the required parameter 'suspense_claim' is set
      if @api_client.config.client_side_validation && suspense_claim.nil?
        fail ArgumentError, "Missing the required parameter 'suspense_claim' when calling SuspenseClaimsApi.update_suspense_claim"
      end
      # resource path
      local_var_path = '/suspense-claims/{suspenseClaimKey}'.sub('{' + 'suspenseClaimKey' + '}', CGI.escape(suspense_claim_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(suspense_claim)

      # return_type
      return_type = opts[:debug_return_type] || 'SuspenseClaimVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SuspenseClaimsApi.update_suspense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuspenseClaimsApi#update_suspense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
