=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class TaxonomyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Taxonomy
    # Creates a new Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy [Taxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyVBAResponse]
    def create_taxonomy(vbasoftware_database, taxonomy, opts = {})
      data, _status_code, _headers = create_taxonomy_with_http_info(vbasoftware_database, taxonomy, opts)
      data
    end

    # Create Taxonomy
    # Creates a new Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy [Taxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyVBAResponse, Integer, Hash)>] TaxonomyVBAResponse data, response status code and response headers
    def create_taxonomy_with_http_info(vbasoftware_database, taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.create_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.create_taxonomy"
      end
      # verify the required parameter 'taxonomy' is set
      if @api_client.config.client_side_validation && taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy' when calling TaxonomyApi.create_taxonomy"
      end
      # resource path
      local_var_path = '/taxonomies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.create_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#create_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Taxonomy
    # Deletes an Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_taxonomy(vbasoftware_database, taxonomy_key, opts = {})
      delete_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, opts)
      nil
    end

    # Delete Taxonomy
    # Deletes an Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.delete_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.delete_taxonomy"
      end
      # verify the required parameter 'taxonomy_key' is set
      if @api_client.config.client_side_validation && taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_key' when calling TaxonomyApi.delete_taxonomy"
      end
      # resource path
      local_var_path = '/taxonomies/{taxonomyKey}'.sub('{' + 'taxonomyKey' + '}', CGI.escape(taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.delete_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#delete_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Taxonomy
    # Gets Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyVBAResponse]
    def get_taxonomy(vbasoftware_database, taxonomy_key, opts = {})
      data, _status_code, _headers = get_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, opts)
      data
    end

    # Get Taxonomy
    # Gets Taxonomy
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyVBAResponse, Integer, Hash)>] TaxonomyVBAResponse data, response status code and response headers
    def get_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.get_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.get_taxonomy"
      end
      # verify the required parameter 'taxonomy_key' is set
      if @api_client.config.client_side_validation && taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_key' when calling TaxonomyApi.get_taxonomy"
      end
      # resource path
      local_var_path = '/taxonomies/{taxonomyKey}'.sub('{' + 'taxonomyKey' + '}', CGI.escape(taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.get_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#get_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Taxonomy
    # Lists all Taxonomy given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyListVBAResponse]
    def list_taxonomies(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_taxonomies_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Taxonomy
    # Lists all Taxonomy given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyListVBAResponse, Integer, Hash)>] TaxonomyListVBAResponse data, response status code and response headers
    def list_taxonomies_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.list_taxonomies ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.list_taxonomies"
      end
      # resource path
      local_var_path = '/taxonomies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.list_taxonomies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#list_taxonomies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Taxonomy
    # Create or Update multiple Taxonomy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy [Array<Taxonomy>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_taxonomy(vbasoftware_database, taxonomy, opts = {})
      data, _status_code, _headers = update_batch_taxonomy_with_http_info(vbasoftware_database, taxonomy, opts)
      data
    end

    # Create or Update Batch Taxonomy
    # Create or Update multiple Taxonomy at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy [Array<Taxonomy>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_taxonomy_with_http_info(vbasoftware_database, taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.update_batch_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.update_batch_taxonomy"
      end
      # verify the required parameter 'taxonomy' is set
      if @api_client.config.client_side_validation && taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy' when calling TaxonomyApi.update_batch_taxonomy"
      end
      # resource path
      local_var_path = '/taxonomies-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.update_batch_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#update_batch_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Taxonomy
    # Updates a specific Taxonomy.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param taxonomy [Taxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyVBAResponse]
    def update_taxonomy(vbasoftware_database, taxonomy_key, taxonomy, opts = {})
      data, _status_code, _headers = update_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, taxonomy, opts)
      data
    end

    # Update Taxonomy
    # Updates a specific Taxonomy.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_key [Integer] Taxonomy Key
    # @param taxonomy [Taxonomy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyVBAResponse, Integer, Hash)>] TaxonomyVBAResponse data, response status code and response headers
    def update_taxonomy_with_http_info(vbasoftware_database, taxonomy_key, taxonomy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.update_taxonomy ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyApi.update_taxonomy"
      end
      # verify the required parameter 'taxonomy_key' is set
      if @api_client.config.client_side_validation && taxonomy_key.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_key' when calling TaxonomyApi.update_taxonomy"
      end
      # verify the required parameter 'taxonomy' is set
      if @api_client.config.client_side_validation && taxonomy.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy' when calling TaxonomyApi.update_taxonomy"
      end
      # resource path
      local_var_path = '/taxonomies/{taxonomyKey}'.sub('{' + 'taxonomyKey' + '}', CGI.escape(taxonomy_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.update_taxonomy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#update_taxonomy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
