=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class TaxonomyGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create TaxonomyGroup
    # Creates a new TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group [TaxonomyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyGroupVBAResponse]
    def create_taxonomy_group(vbasoftware_database, taxonomy_group, opts = {})
      data, _status_code, _headers = create_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group, opts)
      data
    end

    # Create TaxonomyGroup
    # Creates a new TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group [TaxonomyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyGroupVBAResponse, Integer, Hash)>] TaxonomyGroupVBAResponse data, response status code and response headers
    def create_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.create_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.create_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group' is set
      if @api_client.config.client_side_validation && taxonomy_group.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group' when calling TaxonomyGroupsApi.create_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy_group)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.create_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#create_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete TaxonomyGroup
    # Deletes an TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_taxonomy_group(vbasoftware_database, taxonomy_group_id, opts = {})
      delete_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, opts)
      nil
    end

    # Delete TaxonomyGroup
    # Deletes an TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.delete_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.delete_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group_id' is set
      if @api_client.config.client_side_validation && taxonomy_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group_id' when calling TaxonomyGroupsApi.delete_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups/{taxonomyGroupID}'.sub('{' + 'taxonomyGroupID' + '}', CGI.escape(taxonomy_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.delete_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#delete_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TaxonomyGroup
    # Gets TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyGroupVBAResponse]
    def get_taxonomy_group(vbasoftware_database, taxonomy_group_id, opts = {})
      data, _status_code, _headers = get_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, opts)
      data
    end

    # Get TaxonomyGroup
    # Gets TaxonomyGroup
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyGroupVBAResponse, Integer, Hash)>] TaxonomyGroupVBAResponse data, response status code and response headers
    def get_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.get_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.get_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group_id' is set
      if @api_client.config.client_side_validation && taxonomy_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group_id' when calling TaxonomyGroupsApi.get_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups/{taxonomyGroupID}'.sub('{' + 'taxonomyGroupID' + '}', CGI.escape(taxonomy_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.get_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#get_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List TaxonomyGroup
    # Lists all TaxonomyGroup given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyGroupListVBAResponse]
    def list_taxonomy_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_taxonomy_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List TaxonomyGroup
    # Lists all TaxonomyGroup given a specific 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyGroupListVBAResponse, Integer, Hash)>] TaxonomyGroupListVBAResponse data, response status code and response headers
    def list_taxonomy_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.list_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.list_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.list_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#list_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch TaxonomyGroup
    # Create or Update multiple TaxonomyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group [Array<TaxonomyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_taxonomy_group(vbasoftware_database, taxonomy_group, opts = {})
      data, _status_code, _headers = update_batch_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group, opts)
      data
    end

    # Create or Update Batch TaxonomyGroup
    # Create or Update multiple TaxonomyGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group [Array<TaxonomyGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.update_batch_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.update_batch_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group' is set
      if @api_client.config.client_side_validation && taxonomy_group.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group' when calling TaxonomyGroupsApi.update_batch_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.update_batch_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#update_batch_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update TaxonomyGroup
    # Updates a specific TaxonomyGroup.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param taxonomy_group [TaxonomyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [TaxonomyGroupVBAResponse]
    def update_taxonomy_group(vbasoftware_database, taxonomy_group_id, taxonomy_group, opts = {})
      data, _status_code, _headers = update_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, taxonomy_group, opts)
      data
    end

    # Update TaxonomyGroup
    # Updates a specific TaxonomyGroup.
    # @param vbasoftware_database [String] Target database
    # @param taxonomy_group_id [String] Taxonomy Group ID
    # @param taxonomy_group [TaxonomyGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxonomyGroupVBAResponse, Integer, Hash)>] TaxonomyGroupVBAResponse data, response status code and response headers
    def update_taxonomy_group_with_http_info(vbasoftware_database, taxonomy_group_id, taxonomy_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyGroupsApi.update_taxonomy_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TaxonomyGroupsApi.update_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group_id' is set
      if @api_client.config.client_side_validation && taxonomy_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group_id' when calling TaxonomyGroupsApi.update_taxonomy_group"
      end
      # verify the required parameter 'taxonomy_group' is set
      if @api_client.config.client_side_validation && taxonomy_group.nil?
        fail ArgumentError, "Missing the required parameter 'taxonomy_group' when calling TaxonomyGroupsApi.update_taxonomy_group"
      end
      # resource path
      local_var_path = '/taxonomy-groups/{taxonomyGroupID}'.sub('{' + 'taxonomyGroupID' + '}', CGI.escape(taxonomy_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxonomy_group)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxonomyGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxonomyGroupsApi.update_taxonomy_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyGroupsApi#update_taxonomy_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
