=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class TimelyFilingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create TimelyFiling
    # Creates a new TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing [TimelyFiling] 
    # @param [Hash] opts the optional parameters
    # @return [TimelyFilingVBAResponse]
    def create_timely_filing(vbasoftware_database, timely_filing, opts = {})
      data, _status_code, _headers = create_timely_filing_with_http_info(vbasoftware_database, timely_filing, opts)
      data
    end

    # Create TimelyFiling
    # Creates a new TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing [TimelyFiling] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimelyFilingVBAResponse, Integer, Hash)>] TimelyFilingVBAResponse data, response status code and response headers
    def create_timely_filing_with_http_info(vbasoftware_database, timely_filing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.create_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.create_timely_filing"
      end
      # verify the required parameter 'timely_filing' is set
      if @api_client.config.client_side_validation && timely_filing.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing' when calling TimelyFilingApi.create_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(timely_filing)

      # return_type
      return_type = opts[:debug_return_type] || 'TimelyFilingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.create_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#create_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete TimelyFiling
    # Deletes an TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_timely_filing(vbasoftware_database, timely_filing_key, opts = {})
      delete_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, opts)
      nil
    end

    # Delete TimelyFiling
    # Deletes an TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.delete_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.delete_timely_filing"
      end
      # verify the required parameter 'timely_filing_key' is set
      if @api_client.config.client_side_validation && timely_filing_key.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing_key' when calling TimelyFilingApi.delete_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings/{timelyFilingKey}'.sub('{' + 'timelyFilingKey' + '}', CGI.escape(timely_filing_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.delete_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#delete_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TimelyFiling
    # Gets TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param [Hash] opts the optional parameters
    # @return [TimelyFilingVBAResponse]
    def get_timely_filing(vbasoftware_database, timely_filing_key, opts = {})
      data, _status_code, _headers = get_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, opts)
      data
    end

    # Get TimelyFiling
    # Gets TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimelyFilingVBAResponse, Integer, Hash)>] TimelyFilingVBAResponse data, response status code and response headers
    def get_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.get_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.get_timely_filing"
      end
      # verify the required parameter 'timely_filing_key' is set
      if @api_client.config.client_side_validation && timely_filing_key.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing_key' when calling TimelyFilingApi.get_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings/{timelyFilingKey}'.sub('{' + 'timelyFilingKey' + '}', CGI.escape(timely_filing_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimelyFilingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.get_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#get_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List TimelyFiling
    # Lists all TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [TimelyFilingListVBAResponse]
    def list_timely_filing(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_timely_filing_with_http_info(vbasoftware_database, opts)
      data
    end

    # List TimelyFiling
    # Lists all TimelyFiling
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(TimelyFilingListVBAResponse, Integer, Hash)>] TimelyFilingListVBAResponse data, response status code and response headers
    def list_timely_filing_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.list_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.list_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimelyFilingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.list_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#list_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch TimelyFiling
    # Create or Update multiple TimelyFiling at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param timely_filing [Array<TimelyFiling>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_timely_filing(vbasoftware_database, timely_filing, opts = {})
      data, _status_code, _headers = update_batch_timely_filing_with_http_info(vbasoftware_database, timely_filing, opts)
      data
    end

    # Create or Update Batch TimelyFiling
    # Create or Update multiple TimelyFiling at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param timely_filing [Array<TimelyFiling>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_timely_filing_with_http_info(vbasoftware_database, timely_filing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.update_batch_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.update_batch_timely_filing"
      end
      # verify the required parameter 'timely_filing' is set
      if @api_client.config.client_side_validation && timely_filing.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing' when calling TimelyFilingApi.update_batch_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(timely_filing)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.update_batch_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#update_batch_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update TimelyFiling
    # Updates a specific TimelyFiling.
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param timely_filing [TimelyFiling] 
    # @param [Hash] opts the optional parameters
    # @return [TimelyFilingVBAResponse]
    def update_timely_filing(vbasoftware_database, timely_filing_key, timely_filing, opts = {})
      data, _status_code, _headers = update_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, timely_filing, opts)
      data
    end

    # Update TimelyFiling
    # Updates a specific TimelyFiling.
    # @param vbasoftware_database [String] Target database
    # @param timely_filing_key [Integer] TimelyFiling Key
    # @param timely_filing [TimelyFiling] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimelyFilingVBAResponse, Integer, Hash)>] TimelyFilingVBAResponse data, response status code and response headers
    def update_timely_filing_with_http_info(vbasoftware_database, timely_filing_key, timely_filing, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimelyFilingApi.update_timely_filing ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TimelyFilingApi.update_timely_filing"
      end
      # verify the required parameter 'timely_filing_key' is set
      if @api_client.config.client_side_validation && timely_filing_key.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing_key' when calling TimelyFilingApi.update_timely_filing"
      end
      # verify the required parameter 'timely_filing' is set
      if @api_client.config.client_side_validation && timely_filing.nil?
        fail ArgumentError, "Missing the required parameter 'timely_filing' when calling TimelyFilingApi.update_timely_filing"
      end
      # resource path
      local_var_path = '/timely-filings/{timelyFilingKey}'.sub('{' + 'timelyFilingKey' + '}', CGI.escape(timely_filing_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(timely_filing)

      # return_type
      return_type = opts[:debug_return_type] || 'TimelyFilingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TimelyFilingApi.update_timely_filing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimelyFilingApi#update_timely_filing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
