=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class TolerancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Tolerance
    # Creates a new Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance [Tolerance] 
    # @param [Hash] opts the optional parameters
    # @return [ToleranceVBAResponse]
    def create_tolerance(vbasoftware_database, tolerance, opts = {})
      data, _status_code, _headers = create_tolerance_with_http_info(vbasoftware_database, tolerance, opts)
      data
    end

    # Create Tolerance
    # Creates a new Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance [Tolerance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToleranceVBAResponse, Integer, Hash)>] ToleranceVBAResponse data, response status code and response headers
    def create_tolerance_with_http_info(vbasoftware_database, tolerance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.create_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.create_tolerance"
      end
      # verify the required parameter 'tolerance' is set
      if @api_client.config.client_side_validation && tolerance.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance' when calling TolerancesApi.create_tolerance"
      end
      # resource path
      local_var_path = '/tolerances'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tolerance)

      # return_type
      return_type = opts[:debug_return_type] || 'ToleranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.create_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#create_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Tolerance
    # Deletes an Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tolerance(vbasoftware_database, tolerance_key, opts = {})
      delete_tolerance_with_http_info(vbasoftware_database, tolerance_key, opts)
      nil
    end

    # Delete Tolerance
    # Deletes an Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tolerance_with_http_info(vbasoftware_database, tolerance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.delete_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.delete_tolerance"
      end
      # verify the required parameter 'tolerance_key' is set
      if @api_client.config.client_side_validation && tolerance_key.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance_key' when calling TolerancesApi.delete_tolerance"
      end
      # resource path
      local_var_path = '/tolerances/{Tolerance_Key}'.sub('{' + 'Tolerance_Key' + '}', CGI.escape(tolerance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.delete_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#delete_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Tolerance
    # Gets Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param [Hash] opts the optional parameters
    # @return [ToleranceVBAResponse]
    def get_tolerance(vbasoftware_database, tolerance_key, opts = {})
      data, _status_code, _headers = get_tolerance_with_http_info(vbasoftware_database, tolerance_key, opts)
      data
    end

    # Get Tolerance
    # Gets Tolerance
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToleranceVBAResponse, Integer, Hash)>] ToleranceVBAResponse data, response status code and response headers
    def get_tolerance_with_http_info(vbasoftware_database, tolerance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.get_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.get_tolerance"
      end
      # verify the required parameter 'tolerance_key' is set
      if @api_client.config.client_side_validation && tolerance_key.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance_key' when calling TolerancesApi.get_tolerance"
      end
      # resource path
      local_var_path = '/tolerances/{Tolerance_Key}'.sub('{' + 'Tolerance_Key' + '}', CGI.escape(tolerance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToleranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.get_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#get_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Tolerance
    # Lists all Tolerance
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [ToleranceListVBAResponse]
    def list_tolerance(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_tolerance_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Tolerance
    # Lists all Tolerance
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(ToleranceListVBAResponse, Integer, Hash)>] ToleranceListVBAResponse data, response status code and response headers
    def list_tolerance_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.list_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.list_tolerance"
      end
      # resource path
      local_var_path = '/tolerances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToleranceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.list_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#list_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Tolerance
    # Create or Update multiple Tolerance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tolerance [Array<Tolerance>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_tolerance(vbasoftware_database, tolerance, opts = {})
      data, _status_code, _headers = update_batch_tolerance_with_http_info(vbasoftware_database, tolerance, opts)
      data
    end

    # Create or Update Batch Tolerance
    # Create or Update multiple Tolerance at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tolerance [Array<Tolerance>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_tolerance_with_http_info(vbasoftware_database, tolerance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.update_batch_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.update_batch_tolerance"
      end
      # verify the required parameter 'tolerance' is set
      if @api_client.config.client_side_validation && tolerance.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance' when calling TolerancesApi.update_batch_tolerance"
      end
      # resource path
      local_var_path = '/tolerances-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tolerance)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.update_batch_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#update_batch_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Tolerance
    # Updates a specific Tolerance.
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param tolerance [Tolerance] 
    # @param [Hash] opts the optional parameters
    # @return [ToleranceVBAResponse]
    def update_tolerance(vbasoftware_database, tolerance_key, tolerance, opts = {})
      data, _status_code, _headers = update_tolerance_with_http_info(vbasoftware_database, tolerance_key, tolerance, opts)
      data
    end

    # Update Tolerance
    # Updates a specific Tolerance.
    # @param vbasoftware_database [String] Target database
    # @param tolerance_key [Integer] Tolerance Key
    # @param tolerance [Tolerance] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToleranceVBAResponse, Integer, Hash)>] ToleranceVBAResponse data, response status code and response headers
    def update_tolerance_with_http_info(vbasoftware_database, tolerance_key, tolerance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TolerancesApi.update_tolerance ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling TolerancesApi.update_tolerance"
      end
      # verify the required parameter 'tolerance_key' is set
      if @api_client.config.client_side_validation && tolerance_key.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance_key' when calling TolerancesApi.update_tolerance"
      end
      # verify the required parameter 'tolerance' is set
      if @api_client.config.client_side_validation && tolerance.nil?
        fail ArgumentError, "Missing the required parameter 'tolerance' when calling TolerancesApi.update_tolerance"
      end
      # resource path
      local_var_path = '/tolerances/{Tolerance_Key}'.sub('{' + 'Tolerance_Key' + '}', CGI.escape(tolerance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tolerance)

      # return_type
      return_type = opts[:debug_return_type] || 'ToleranceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TolerancesApi.update_tolerance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TolerancesApi#update_tolerance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
