=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ToothProceduresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ToothProcedure
    # Creates a new ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure [ToothProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [ToothProcedureVBAResponse]
    def create_tooth_procedure(vbasoftware_database, tooth_procedure, opts = {})
      data, _status_code, _headers = create_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure, opts)
      data
    end

    # Create ToothProcedure
    # Creates a new ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure [ToothProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothProcedureVBAResponse, Integer, Hash)>] ToothProcedureVBAResponse data, response status code and response headers
    def create_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.create_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.create_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure' is set
      if @api_client.config.client_side_validation && tooth_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure' when calling ToothProceduresApi.create_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'ToothProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.create_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#create_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ToothProcedure
    # Deletes an ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tooth_procedure(vbasoftware_database, tooth_procedure_key, opts = {})
      delete_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, opts)
      nil
    end

    # Delete ToothProcedure
    # Deletes an ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.delete_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.delete_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure_key' is set
      if @api_client.config.client_side_validation && tooth_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure_key' when calling ToothProceduresApi.delete_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures/{toothProcedureKey}'.sub('{' + 'toothProcedureKey' + '}', CGI.escape(tooth_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.delete_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#delete_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ToothProcedure
    # Gets ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [ToothProcedureVBAResponse]
    def get_tooth_procedure(vbasoftware_database, tooth_procedure_key, opts = {})
      data, _status_code, _headers = get_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, opts)
      data
    end

    # Get ToothProcedure
    # Gets ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothProcedureVBAResponse, Integer, Hash)>] ToothProcedureVBAResponse data, response status code and response headers
    def get_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.get_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.get_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure_key' is set
      if @api_client.config.client_side_validation && tooth_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure_key' when calling ToothProceduresApi.get_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures/{toothProcedureKey}'.sub('{' + 'toothProcedureKey' + '}', CGI.escape(tooth_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToothProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.get_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#get_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ToothProcedure
    # Lists all ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ToothProcedureListVBAResponse]
    def list_tooth_procedure(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_tooth_procedure_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ToothProcedure
    # Lists all ToothProcedure
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ToothProcedureListVBAResponse, Integer, Hash)>] ToothProcedureListVBAResponse data, response status code and response headers
    def list_tooth_procedure_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.list_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.list_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToothProcedureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.list_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#list_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ToothProcedure
    # Create or Update multiple ToothProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure [Array<ToothProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_tooth_procedure(vbasoftware_database, tooth_procedure, opts = {})
      data, _status_code, _headers = update_batch_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure, opts)
      data
    end

    # Create or Update Batch ToothProcedure
    # Create or Update multiple ToothProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure [Array<ToothProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.update_batch_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.update_batch_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure' is set
      if @api_client.config.client_side_validation && tooth_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure' when calling ToothProceduresApi.update_batch_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.update_batch_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#update_batch_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ToothProcedure
    # Updates a specific ToothProcedure.
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param tooth_procedure [ToothProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [ToothProcedureVBAResponse]
    def update_tooth_procedure(vbasoftware_database, tooth_procedure_key, tooth_procedure, opts = {})
      data, _status_code, _headers = update_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, tooth_procedure, opts)
      data
    end

    # Update ToothProcedure
    # Updates a specific ToothProcedure.
    # @param vbasoftware_database [String] Target database
    # @param tooth_procedure_key [Integer] ToothProcedure Key
    # @param tooth_procedure [ToothProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothProcedureVBAResponse, Integer, Hash)>] ToothProcedureVBAResponse data, response status code and response headers
    def update_tooth_procedure_with_http_info(vbasoftware_database, tooth_procedure_key, tooth_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothProceduresApi.update_tooth_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothProceduresApi.update_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure_key' is set
      if @api_client.config.client_side_validation && tooth_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure_key' when calling ToothProceduresApi.update_tooth_procedure"
      end
      # verify the required parameter 'tooth_procedure' is set
      if @api_client.config.client_side_validation && tooth_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_procedure' when calling ToothProceduresApi.update_tooth_procedure"
      end
      # resource path
      local_var_path = '/tooth-procedures/{toothProcedureKey}'.sub('{' + 'toothProcedureKey' + '}', CGI.escape(tooth_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'ToothProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothProceduresApi.update_tooth_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothProceduresApi#update_tooth_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
