=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ToothChartTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ToothChartType
    # Creates a new ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param tooth_chart_type [ToothChartType] 
    # @param [Hash] opts the optional parameters
    # @return [ToothChartTypeVBAResponse]
    def create_tooth_chart_type(vbasoftware_database, tooth_chart_type, opts = {})
      data, _status_code, _headers = create_tooth_chart_type_with_http_info(vbasoftware_database, tooth_chart_type, opts)
      data
    end

    # Create ToothChartType
    # Creates a new ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param tooth_chart_type [ToothChartType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothChartTypeVBAResponse, Integer, Hash)>] ToothChartTypeVBAResponse data, response status code and response headers
    def create_tooth_chart_type_with_http_info(vbasoftware_database, tooth_chart_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.create_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.create_tooth_chart_type"
      end
      # verify the required parameter 'tooth_chart_type' is set
      if @api_client.config.client_side_validation && tooth_chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_chart_type' when calling ToothChartTypesApi.create_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_chart_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ToothChartTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.create_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#create_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ToothChartType
    # Deletes an ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tooth_chart_type(vbasoftware_database, chart_type, opts = {})
      delete_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, opts)
      nil
    end

    # Delete ToothChartType
    # Deletes an ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.delete_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.delete_tooth_chart_type"
      end
      # verify the required parameter 'chart_type' is set
      if @api_client.config.client_side_validation && chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'chart_type' when calling ToothChartTypesApi.delete_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types/{chartType}'.sub('{' + 'chartType' + '}', CGI.escape(chart_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.delete_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#delete_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ToothChartType
    # Gets ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param [Hash] opts the optional parameters
    # @return [ToothChartTypeVBAResponse]
    def get_tooth_chart_type(vbasoftware_database, chart_type, opts = {})
      data, _status_code, _headers = get_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, opts)
      data
    end

    # Get ToothChartType
    # Gets ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothChartTypeVBAResponse, Integer, Hash)>] ToothChartTypeVBAResponse data, response status code and response headers
    def get_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.get_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.get_tooth_chart_type"
      end
      # verify the required parameter 'chart_type' is set
      if @api_client.config.client_side_validation && chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'chart_type' when calling ToothChartTypesApi.get_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types/{chartType}'.sub('{' + 'chartType' + '}', CGI.escape(chart_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToothChartTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.get_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#get_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ToothChartType
    # Lists all ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [ToothChartTypeListVBAResponse]
    def list_tooth_chart_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_tooth_chart_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ToothChartType
    # Lists all ToothChartType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(ToothChartTypeListVBAResponse, Integer, Hash)>] ToothChartTypeListVBAResponse data, response status code and response headers
    def list_tooth_chart_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.list_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.list_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToothChartTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.list_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#list_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ToothChartType
    # Create or Update multiple ToothChartType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tooth_chart_type [Array<ToothChartType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_tooth_chart_type(vbasoftware_database, tooth_chart_type, opts = {})
      data, _status_code, _headers = update_batch_tooth_chart_type_with_http_info(vbasoftware_database, tooth_chart_type, opts)
      data
    end

    # Create or Update Batch ToothChartType
    # Create or Update multiple ToothChartType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param tooth_chart_type [Array<ToothChartType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_tooth_chart_type_with_http_info(vbasoftware_database, tooth_chart_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.update_batch_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.update_batch_tooth_chart_type"
      end
      # verify the required parameter 'tooth_chart_type' is set
      if @api_client.config.client_side_validation && tooth_chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_chart_type' when calling ToothChartTypesApi.update_batch_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_chart_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.update_batch_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#update_batch_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ToothChartType
    # Updates a specific ToothChartType.
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param tooth_chart_type [ToothChartType] 
    # @param [Hash] opts the optional parameters
    # @return [ToothChartTypeVBAResponse]
    def update_tooth_chart_type(vbasoftware_database, chart_type, tooth_chart_type, opts = {})
      data, _status_code, _headers = update_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, tooth_chart_type, opts)
      data
    end

    # Update ToothChartType
    # Updates a specific ToothChartType.
    # @param vbasoftware_database [String] Target database
    # @param chart_type [String] Chart Type
    # @param tooth_chart_type [ToothChartType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToothChartTypeVBAResponse, Integer, Hash)>] ToothChartTypeVBAResponse data, response status code and response headers
    def update_tooth_chart_type_with_http_info(vbasoftware_database, chart_type, tooth_chart_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToothChartTypesApi.update_tooth_chart_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ToothChartTypesApi.update_tooth_chart_type"
      end
      # verify the required parameter 'chart_type' is set
      if @api_client.config.client_side_validation && chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'chart_type' when calling ToothChartTypesApi.update_tooth_chart_type"
      end
      # verify the required parameter 'tooth_chart_type' is set
      if @api_client.config.client_side_validation && tooth_chart_type.nil?
        fail ArgumentError, "Missing the required parameter 'tooth_chart_type' when calling ToothChartTypesApi.update_tooth_chart_type"
      end
      # resource path
      local_var_path = '/tooth-chart-types/{chartType}'.sub('{' + 'chartType' + '}', CGI.escape(chart_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tooth_chart_type)

      # return_type
      return_type = opts[:debug_return_type] || 'ToothChartTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ToothChartTypesApi.update_tooth_chart_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToothChartTypesApi#update_tooth_chart_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
