=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UnitTypeConversionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UnitConversion
    # Creates a new UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param unit_conversion [UnitConversion] 
    # @param [Hash] opts the optional parameters
    # @return [UnitConversionVBAResponse]
    def create_unit_conversion(vbasoftware_database, unit_conversion, opts = {})
      data, _status_code, _headers = create_unit_conversion_with_http_info(vbasoftware_database, unit_conversion, opts)
      data
    end

    # Create UnitConversion
    # Creates a new UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param unit_conversion [UnitConversion] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitConversionVBAResponse, Integer, Hash)>] UnitConversionVBAResponse data, response status code and response headers
    def create_unit_conversion_with_http_info(vbasoftware_database, unit_conversion, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.create_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.create_unit_conversion"
      end
      # verify the required parameter 'unit_conversion' is set
      if @api_client.config.client_side_validation && unit_conversion.nil?
        fail ArgumentError, "Missing the required parameter 'unit_conversion' when calling UnitTypeConversionsApi.create_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unit_conversion)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitConversionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.create_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#create_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete UnitConversion
    # Deletes an UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_unit_conversion(vbasoftware_database, from_unit, to_unit, opts = {})
      delete_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, opts)
      nil
    end

    # Delete UnitConversion
    # Deletes an UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.delete_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.delete_unit_conversion"
      end
      # verify the required parameter 'from_unit' is set
      if @api_client.config.client_side_validation && from_unit.nil?
        fail ArgumentError, "Missing the required parameter 'from_unit' when calling UnitTypeConversionsApi.delete_unit_conversion"
      end
      # verify the required parameter 'to_unit' is set
      if @api_client.config.client_side_validation && to_unit.nil?
        fail ArgumentError, "Missing the required parameter 'to_unit' when calling UnitTypeConversionsApi.delete_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions/{fromUnit}/{toUnit}'.sub('{' + 'fromUnit' + '}', CGI.escape(from_unit.to_s)).sub('{' + 'toUnit' + '}', CGI.escape(to_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.delete_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#delete_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UnitConversion
    # Gets UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param [Hash] opts the optional parameters
    # @return [UnitConversionVBAResponse]
    def get_unit_conversion(vbasoftware_database, from_unit, to_unit, opts = {})
      data, _status_code, _headers = get_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, opts)
      data
    end

    # Get UnitConversion
    # Gets UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitConversionVBAResponse, Integer, Hash)>] UnitConversionVBAResponse data, response status code and response headers
    def get_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.get_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.get_unit_conversion"
      end
      # verify the required parameter 'from_unit' is set
      if @api_client.config.client_side_validation && from_unit.nil?
        fail ArgumentError, "Missing the required parameter 'from_unit' when calling UnitTypeConversionsApi.get_unit_conversion"
      end
      # verify the required parameter 'to_unit' is set
      if @api_client.config.client_side_validation && to_unit.nil?
        fail ArgumentError, "Missing the required parameter 'to_unit' when calling UnitTypeConversionsApi.get_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions/{fromUnit}/{toUnit}'.sub('{' + 'fromUnit' + '}', CGI.escape(from_unit.to_s)).sub('{' + 'toUnit' + '}', CGI.escape(to_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitConversionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.get_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#get_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UnitConversion
    # Lists all UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [UnitConversionListVBAResponse]
    def list_unit_conversion(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_unit_conversion_with_http_info(vbasoftware_database, opts)
      data
    end

    # List UnitConversion
    # Lists all UnitConversion
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(UnitConversionListVBAResponse, Integer, Hash)>] UnitConversionListVBAResponse data, response status code and response headers
    def list_unit_conversion_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.list_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.list_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitConversionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.list_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#list_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch UnitConversion
    # Create or Update multiple UnitConversion at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param unit_conversion [Array<UnitConversion>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_unit_conversion(vbasoftware_database, unit_conversion, opts = {})
      data, _status_code, _headers = update_batch_unit_conversion_with_http_info(vbasoftware_database, unit_conversion, opts)
      data
    end

    # Create or Update Batch UnitConversion
    # Create or Update multiple UnitConversion at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param unit_conversion [Array<UnitConversion>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_unit_conversion_with_http_info(vbasoftware_database, unit_conversion, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.update_batch_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.update_batch_unit_conversion"
      end
      # verify the required parameter 'unit_conversion' is set
      if @api_client.config.client_side_validation && unit_conversion.nil?
        fail ArgumentError, "Missing the required parameter 'unit_conversion' when calling UnitTypeConversionsApi.update_batch_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unit_conversion)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.update_batch_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#update_batch_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update UnitConversion
    # Updates a specific UnitConversion.
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param unit_conversion [UnitConversion] 
    # @param [Hash] opts the optional parameters
    # @return [UnitConversionVBAResponse]
    def update_unit_conversion(vbasoftware_database, from_unit, to_unit, unit_conversion, opts = {})
      data, _status_code, _headers = update_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, unit_conversion, opts)
      data
    end

    # Update UnitConversion
    # Updates a specific UnitConversion.
    # @param vbasoftware_database [String] Target database
    # @param from_unit [String] From Unit
    # @param to_unit [String] To Unit
    # @param unit_conversion [UnitConversion] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitConversionVBAResponse, Integer, Hash)>] UnitConversionVBAResponse data, response status code and response headers
    def update_unit_conversion_with_http_info(vbasoftware_database, from_unit, to_unit, unit_conversion, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitTypeConversionsApi.update_unit_conversion ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UnitTypeConversionsApi.update_unit_conversion"
      end
      # verify the required parameter 'from_unit' is set
      if @api_client.config.client_side_validation && from_unit.nil?
        fail ArgumentError, "Missing the required parameter 'from_unit' when calling UnitTypeConversionsApi.update_unit_conversion"
      end
      # verify the required parameter 'to_unit' is set
      if @api_client.config.client_side_validation && to_unit.nil?
        fail ArgumentError, "Missing the required parameter 'to_unit' when calling UnitTypeConversionsApi.update_unit_conversion"
      end
      # verify the required parameter 'unit_conversion' is set
      if @api_client.config.client_side_validation && unit_conversion.nil?
        fail ArgumentError, "Missing the required parameter 'unit_conversion' when calling UnitTypeConversionsApi.update_unit_conversion"
      end
      # resource path
      local_var_path = '/unit-type-conversions/{fromUnit}/{toUnit}'.sub('{' + 'fromUnit' + '}', CGI.escape(from_unit.to_s)).sub('{' + 'toUnit' + '}', CGI.escape(to_unit.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unit_conversion)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitConversionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitTypeConversionsApi.update_unit_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitTypeConversionsApi#update_unit_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
