=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UserLogTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UserLogType Assignment
    # Creates a new link between an existing User and a LogType
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] Log Type
    # @param [Hash] opts the optional parameters
    # @return [UserLogTypeVBAResponse]
    def create_user_log_type(vbasoftware_database, user_id, log_type, opts = {})
      data, _status_code, _headers = create_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts)
      data
    end

    # Create UserLogType Assignment
    # Creates a new link between an existing User and a LogType
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] Log Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserLogTypeVBAResponse, Integer, Hash)>] UserLogTypeVBAResponse data, response status code and response headers
    def create_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserLogTypesApi.create_user_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserLogTypesApi.create_user_log_type"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserLogTypesApi.create_user_log_type"
      end
      # verify the required parameter 'log_type' is set
      if @api_client.config.client_side_validation && log_type.nil?
        fail ArgumentError, "Missing the required parameter 'log_type' when calling UserLogTypesApi.create_user_log_type"
      end
      # resource path
      local_var_path = '/users/{userID}/log-types/{logType}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'logType' + '}', CGI.escape(log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserLogTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserLogTypesApi.create_user_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserLogTypesApi#create_user_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete User LogType
    # Deletes a specific User to LogType assignment
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] Log Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_log_type(vbasoftware_database, user_id, log_type, opts = {})
      delete_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts)
      nil
    end

    # Delete User LogType
    # Deletes a specific User to LogType assignment
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] Log Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserLogTypesApi.delete_user_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserLogTypesApi.delete_user_log_type"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserLogTypesApi.delete_user_log_type"
      end
      # verify the required parameter 'log_type' is set
      if @api_client.config.client_side_validation && log_type.nil?
        fail ArgumentError, "Missing the required parameter 'log_type' when calling UserLogTypesApi.delete_user_log_type"
      end
      # resource path
      local_var_path = '/users/{userID}/log-types/{logType}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'logType' + '}', CGI.escape(log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserLogTypesApi.delete_user_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserLogTypesApi#delete_user_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UserLogType
    # Gets UserLogType
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] LogType
    # @param [Hash] opts the optional parameters
    # @return [UserLogTypeVBAResponse]
    def get_user_log_type(vbasoftware_database, user_id, log_type, opts = {})
      data, _status_code, _headers = get_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts)
      data
    end

    # Get UserLogType
    # Gets UserLogType
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param log_type [String] LogType
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserLogTypeVBAResponse, Integer, Hash)>] UserLogTypeVBAResponse data, response status code and response headers
    def get_user_log_type_with_http_info(vbasoftware_database, user_id, log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserLogTypesApi.get_user_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserLogTypesApi.get_user_log_type"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserLogTypesApi.get_user_log_type"
      end
      # verify the required parameter 'log_type' is set
      if @api_client.config.client_side_validation && log_type.nil?
        fail ArgumentError, "Missing the required parameter 'log_type' when calling UserLogTypesApi.get_user_log_type"
      end
      # resource path
      local_var_path = '/users/{userID}/log-types/{logType}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'logType' + '}', CGI.escape(log_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserLogTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserLogTypesApi.get_user_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserLogTypesApi#get_user_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List User LogTypes
    # Lists all LogTypes for a specific User ID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [UserLogTypeListVBAResponse]
    def list_user_log_types(vbasoftware_database, user_id, opts = {})
      data, _status_code, _headers = list_user_log_types_with_http_info(vbasoftware_database, user_id, opts)
      data
    end

    # List User LogTypes
    # Lists all LogTypes for a specific User ID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserLogTypeListVBAResponse, Integer, Hash)>] UserLogTypeListVBAResponse data, response status code and response headers
    def list_user_log_types_with_http_info(vbasoftware_database, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserLogTypesApi.list_user_log_types ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserLogTypesApi.list_user_log_types"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserLogTypesApi.list_user_log_types"
      end
      # resource path
      local_var_path = '/users/{userID}/log-types'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserLogTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserLogTypesApi.list_user_log_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserLogTypesApi#list_user_log_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Batch User LogType
    # Create multiple User LogType assignments at once.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_log_type [Array<UserLogType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_user_log_type(vbasoftware_database, user_id, user_log_type, opts = {})
      data, _status_code, _headers = update_batch_user_log_type_with_http_info(vbasoftware_database, user_id, user_log_type, opts)
      data
    end

    # Create Batch User LogType
    # Create multiple User LogType assignments at once.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_log_type [Array<UserLogType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_user_log_type_with_http_info(vbasoftware_database, user_id, user_log_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserLogTypesApi.update_batch_user_log_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserLogTypesApi.update_batch_user_log_type"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserLogTypesApi.update_batch_user_log_type"
      end
      # verify the required parameter 'user_log_type' is set
      if @api_client.config.client_side_validation && user_log_type.nil?
        fail ArgumentError, "Missing the required parameter 'user_log_type' when calling UserLogTypesApi.update_batch_user_log_type"
      end
      # resource path
      local_var_path = '/users/{userID}/log-types-batch'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_log_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserLogTypesApi.update_batch_user_log_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserLogTypesApi#update_batch_user_log_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
