=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UserGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UserGroup
    # Creates a new UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group [UserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [UserGroupVBAResponse]
    def create_user_group(vbasoftware_database, user_group, opts = {})
      data, _status_code, _headers = create_user_group_with_http_info(vbasoftware_database, user_group, opts)
      data
    end

    # Create UserGroup
    # Creates a new UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group [UserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupVBAResponse, Integer, Hash)>] UserGroupVBAResponse data, response status code and response headers
    def create_user_group_with_http_info(vbasoftware_database, user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.create_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.create_user_group"
      end
      # verify the required parameter 'user_group' is set
      if @api_client.config.client_side_validation && user_group.nil?
        fail ArgumentError, "Missing the required parameter 'user_group' when calling UserGroupsApi.create_user_group"
      end
      # resource path
      local_var_path = '/user-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.create_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#create_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete UserGroup
    # Deletes an UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_group(vbasoftware_database, user_group_key, opts = {})
      delete_user_group_with_http_info(vbasoftware_database, user_group_key, opts)
      nil
    end

    # Delete UserGroup
    # Deletes an UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_group_with_http_info(vbasoftware_database, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.delete_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.delete_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupsApi.delete_user_group"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.delete_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#delete_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UserGroup
    # Gets UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [UserGroupVBAResponse]
    def get_user_group(vbasoftware_database, user_group_key, opts = {})
      data, _status_code, _headers = get_user_group_with_http_info(vbasoftware_database, user_group_key, opts)
      data
    end

    # Get UserGroup
    # Gets UserGroup
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupVBAResponse, Integer, Hash)>] UserGroupVBAResponse data, response status code and response headers
    def get_user_group_with_http_info(vbasoftware_database, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.get_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.get_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupsApi.get_user_group"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.get_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#get_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UserGroup
    # Lists all UserGroup 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [UserGroupListVBAResponse]
    def list_user_group(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_user_group_with_http_info(vbasoftware_database, opts)
      data
    end

    # List UserGroup
    # Lists all UserGroup 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupListVBAResponse, Integer, Hash)>] UserGroupListVBAResponse data, response status code and response headers
    def list_user_group_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.list_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.list_user_group"
      end
      # resource path
      local_var_path = '/user-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.list_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#list_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch UserGroup
    # Create or Update multiple UserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_group [Array<UserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_user_group(vbasoftware_database, user_group, opts = {})
      data, _status_code, _headers = update_batch_user_group_with_http_info(vbasoftware_database, user_group, opts)
      data
    end

    # Create or Update Batch UserGroup
    # Create or Update multiple UserGroup at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_group [Array<UserGroup>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_user_group_with_http_info(vbasoftware_database, user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.update_batch_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.update_batch_user_group"
      end
      # verify the required parameter 'user_group' is set
      if @api_client.config.client_side_validation && user_group.nil?
        fail ArgumentError, "Missing the required parameter 'user_group' when calling UserGroupsApi.update_batch_user_group"
      end
      # resource path
      local_var_path = '/user-groups-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.update_batch_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#update_batch_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update UserGroup
    # Updates a specific UserGroup.
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_group [UserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [UserGroupVBAResponse]
    def update_user_group(vbasoftware_database, user_group_key, user_group, opts = {})
      data, _status_code, _headers = update_user_group_with_http_info(vbasoftware_database, user_group_key, user_group, opts)
      data
    end

    # Update UserGroup
    # Updates a specific UserGroup.
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_group [UserGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupVBAResponse, Integer, Hash)>] UserGroupVBAResponse data, response status code and response headers
    def update_user_group_with_http_info(vbasoftware_database, user_group_key, user_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupsApi.update_user_group ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupsApi.update_user_group"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupsApi.update_user_group"
      end
      # verify the required parameter 'user_group' is set
      if @api_client.config.client_side_validation && user_group.nil?
        fail ArgumentError, "Missing the required parameter 'user_group' when calling UserGroupsApi.update_user_group"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_group)

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupsApi.update_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupsApi#update_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
