=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UserGroupMappingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UserGroupMapping
    # Creates a new UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [UserGroupMappingVBAResponse]
    def create_user_group_mapping(vbasoftware_database, user_group_key, user_id, opts = {})
      data, _status_code, _headers = create_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts)
      data
    end

    # Create UserGroupMapping
    # Creates a new UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupMappingVBAResponse, Integer, Hash)>] UserGroupMappingVBAResponse data, response status code and response headers
    def create_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.create_user_group_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.create_user_group_mapping"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupMappingsApi.create_user_group_mapping"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserGroupMappingsApi.create_user_group_mapping"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}/users/{userID}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupMappingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.create_user_group_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#create_user_group_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete UserGroupMapping
    # Deletes an UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_group_mapping(vbasoftware_database, user_group_key, user_id, opts = {})
      delete_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts)
      nil
    end

    # Delete UserGroupMapping
    # Deletes an UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.delete_user_group_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.delete_user_group_mapping"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupMappingsApi.delete_user_group_mapping"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserGroupMappingsApi.delete_user_group_mapping"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}/users/{userID}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.delete_user_group_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#delete_user_group_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UserGroupMapping
    # Gets UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [UserGroupMappingVBAResponse]
    def get_user_group_mapping(vbasoftware_database, user_group_key, user_id, opts = {})
      data, _status_code, _headers = get_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts)
      data
    end

    # Get UserGroupMapping
    # Gets UserGroupMapping
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupMappingVBAResponse, Integer, Hash)>] UserGroupMappingVBAResponse data, response status code and response headers
    def get_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.get_user_group_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.get_user_group_mapping"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupMappingsApi.get_user_group_mapping"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserGroupMappingsApi.get_user_group_mapping"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}/users/{userID}'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupMappingVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.get_user_group_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#get_user_group_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UserGroupMapping
    # Lists all UserGroupMapping for a specific userGroupKey
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [UserGroupMappingListVBAResponse]
    def list_user_group_mapping(vbasoftware_database, user_group_key, opts = {})
      data, _status_code, _headers = list_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, opts)
      data
    end

    # List UserGroupMapping
    # Lists all UserGroupMapping for a specific userGroupKey
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserGroupMappingListVBAResponse, Integer, Hash)>] UserGroupMappingListVBAResponse data, response status code and response headers
    def list_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.list_user_group_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.list_user_group_mapping"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupMappingsApi.list_user_group_mapping"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}/users'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupMappingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.list_user_group_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#list_user_group_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UserGroupMapping
    # Lists all UserGroupMappings with optional filter for User_ID
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id User_ID
    # @return [UserGroupMappingListVBAResponse]
    def list_user_group_mapping_filtered(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_user_group_mapping_filtered_with_http_info(vbasoftware_database, opts)
      data
    end

    # List UserGroupMapping
    # Lists all UserGroupMappings with optional filter for User_ID
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id User_ID
    # @return [Array<(UserGroupMappingListVBAResponse, Integer, Hash)>] UserGroupMappingListVBAResponse data, response status code and response headers
    def list_user_group_mapping_filtered_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.list_user_group_mapping_filtered ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.list_user_group_mapping_filtered"
      end
      # resource path
      local_var_path = '/user-group-mappings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'User_ID'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserGroupMappingListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.list_user_group_mapping_filtered",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#list_user_group_mapping_filtered\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create multiple UserGroupMappings
    # Create multiple UserGroupMapping at once.  If the entity already exists, an error will be returned for that item. If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_group_mapping [Array<UserGroupMapping>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_user_group_mapping(vbasoftware_database, user_group_key, user_group_mapping, opts = {})
      data, _status_code, _headers = update_batch_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_group_mapping, opts)
      data
    end

    # Create multiple UserGroupMappings
    # Create multiple UserGroupMapping at once.  If the entity already exists, an error will be returned for that item. If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_group_key [Integer] UserGroup Key
    # @param user_group_mapping [Array<UserGroupMapping>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_user_group_mapping_with_http_info(vbasoftware_database, user_group_key, user_group_mapping, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserGroupMappingsApi.update_batch_user_group_mapping ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserGroupMappingsApi.update_batch_user_group_mapping"
      end
      # verify the required parameter 'user_group_key' is set
      if @api_client.config.client_side_validation && user_group_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_key' when calling UserGroupMappingsApi.update_batch_user_group_mapping"
      end
      # verify the required parameter 'user_group_mapping' is set
      if @api_client.config.client_side_validation && user_group_mapping.nil?
        fail ArgumentError, "Missing the required parameter 'user_group_mapping' when calling UserGroupMappingsApi.update_batch_user_group_mapping"
      end
      # resource path
      local_var_path = '/user-groups/{userGroupKey}/users-batch'.sub('{' + 'userGroupKey' + '}', CGI.escape(user_group_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_group_mapping)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserGroupMappingsApi.update_batch_user_group_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserGroupMappingsApi#update_batch_user_group_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
