=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UserAmountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UserAmount
    # Creates a new UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount [UserAmount] 
    # @param [Hash] opts the optional parameters
    # @return [UserAmountVBAResponse]
    def create_user_amount(vbasoftware_database, user_id, user_amount, opts = {})
      data, _status_code, _headers = create_user_amount_with_http_info(vbasoftware_database, user_id, user_amount, opts)
      data
    end

    # Create UserAmount
    # Creates a new UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount [UserAmount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountVBAResponse, Integer, Hash)>] UserAmountVBAResponse data, response status code and response headers
    def create_user_amount_with_http_info(vbasoftware_database, user_id, user_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.create_user_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.create_user_amount"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.create_user_amount"
      end
      # verify the required parameter 'user_amount' is set
      if @api_client.config.client_side_validation && user_amount.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount' when calling UserAmountApi.create_user_amount"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.create_user_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#create_user_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete UserAmount
    # Deletes an UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_amount(vbasoftware_database, user_id, user_amount_key, opts = {})
      delete_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, opts)
      nil
    end

    # Delete UserAmount
    # Deletes an UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.delete_user_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.delete_user_amount"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.delete_user_amount"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountApi.delete_user_amount"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.delete_user_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#delete_user_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UserAmount
    # Gets UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [UserAmountVBAResponse]
    def get_user_amount(vbasoftware_database, user_id, user_amount_key, opts = {})
      data, _status_code, _headers = get_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, opts)
      data
    end

    # Get UserAmount
    # Gets UserAmount
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountVBAResponse, Integer, Hash)>] UserAmountVBAResponse data, response status code and response headers
    def get_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.get_user_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.get_user_amount"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.get_user_amount"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountApi.get_user_amount"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.get_user_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#get_user_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UserAmount
    # Lists all UserAmount given a specific userID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [UserAmountListVBAResponse]
    def list_user_amounts(vbasoftware_database, user_id, opts = {})
      data, _status_code, _headers = list_user_amounts_with_http_info(vbasoftware_database, user_id, opts)
      data
    end

    # List UserAmount
    # Lists all UserAmount given a specific userID
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountListVBAResponse, Integer, Hash)>] UserAmountListVBAResponse data, response status code and response headers
    def list_user_amounts_with_http_info(vbasoftware_database, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.list_user_amounts ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.list_user_amounts"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.list_user_amounts"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.list_user_amounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#list_user_amounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch UserAmount
    # Create or Update multiple UserAmount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount [Array<UserAmount>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_user_amount(vbasoftware_database, user_id, user_amount, opts = {})
      data, _status_code, _headers = update_batch_user_amount_with_http_info(vbasoftware_database, user_id, user_amount, opts)
      data
    end

    # Create or Update Batch UserAmount
    # Create or Update multiple UserAmount at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount [Array<UserAmount>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_user_amount_with_http_info(vbasoftware_database, user_id, user_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.update_batch_user_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.update_batch_user_amount"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.update_batch_user_amount"
      end
      # verify the required parameter 'user_amount' is set
      if @api_client.config.client_side_validation && user_amount.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount' when calling UserAmountApi.update_batch_user_amount"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts-batch'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.update_batch_user_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#update_batch_user_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update UserAmount
    # Updates a specific UserAmount.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount [UserAmount] 
    # @param [Hash] opts the optional parameters
    # @return [UserAmountVBAResponse]
    def update_user_amount(vbasoftware_database, user_id, user_amount_key, user_amount, opts = {})
      data, _status_code, _headers = update_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount, opts)
      data
    end

    # Update UserAmount
    # Updates a specific UserAmount.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount [UserAmount] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountVBAResponse, Integer, Hash)>] UserAmountVBAResponse data, response status code and response headers
    def update_user_amount_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountApi.update_user_amount ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountApi.update_user_amount"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountApi.update_user_amount"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountApi.update_user_amount"
      end
      # verify the required parameter 'user_amount' is set
      if @api_client.config.client_side_validation && user_amount.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount' when calling UserAmountApi.update_user_amount"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount)

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountApi.update_user_amount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountApi#update_user_amount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
