=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class UserAmountProcedureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create UserAmountProcedure
    # Creates a new UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure [UserAmountProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [UserAmountProcedureVBAResponse]
    def create_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts = {})
      data, _status_code, _headers = create_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts)
      data
    end

    # Create UserAmountProcedure
    # Creates a new UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure [UserAmountProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountProcedureVBAResponse, Integer, Hash)>] UserAmountProcedureVBAResponse data, response status code and response headers
    def create_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.create_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.create_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.create_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.create_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure' is set
      if @api_client.config.client_side_validation && user_amount_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure' when calling UserAmountProcedureApi.create_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.create_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#create_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete UserAmountProcedure
    # Deletes an UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts = {})
      delete_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts)
      nil
    end

    # Delete UserAmountProcedure
    # Deletes an UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.delete_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.delete_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.delete_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.delete_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure_key' is set
      if @api_client.config.client_side_validation && user_amount_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure_key' when calling UserAmountProcedureApi.delete_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures/{userAmountProcedureKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s)).sub('{' + 'userAmountProcedureKey' + '}', CGI.escape(user_amount_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.delete_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#delete_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get UserAmountProcedure
    # Gets UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [UserAmountProcedureVBAResponse]
    def get_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts = {})
      data, _status_code, _headers = get_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts)
      data
    end

    # Get UserAmountProcedure
    # Gets UserAmountProcedure
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountProcedureVBAResponse, Integer, Hash)>] UserAmountProcedureVBAResponse data, response status code and response headers
    def get_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.get_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.get_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.get_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.get_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure_key' is set
      if @api_client.config.client_side_validation && user_amount_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure_key' when calling UserAmountProcedureApi.get_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures/{userAmountProcedureKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s)).sub('{' + 'userAmountProcedureKey' + '}', CGI.escape(user_amount_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.get_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#get_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List UserAmountProcedure
    # Lists all UserAmountProcedure given a specific userAmountKey,userAmountProcedureKey
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [UserAmountProcedureListVBAResponse]
    def list_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, opts = {})
      data, _status_code, _headers = list_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, opts)
      data
    end

    # List UserAmountProcedure
    # Lists all UserAmountProcedure given a specific userAmountKey,userAmountProcedureKey
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountProcedureListVBAResponse, Integer, Hash)>] UserAmountProcedureListVBAResponse data, response status code and response headers
    def list_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.list_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.list_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.list_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.list_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountProcedureListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.list_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#list_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch UserAmountProcedure
    # Create or Update multiple UserAmountProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure [Array<UserAmountProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts = {})
      data, _status_code, _headers = update_batch_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts)
      data
    end

    # Create or Update Batch UserAmountProcedure
    # Create or Update multiple UserAmountProcedure at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure [Array<UserAmountProcedure>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.update_batch_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.update_batch_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.update_batch_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.update_batch_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure' is set
      if @api_client.config.client_side_validation && user_amount_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure' when calling UserAmountProcedureApi.update_batch_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures-batch'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.update_batch_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#update_batch_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update UserAmountProcedure
    # Updates a specific UserAmountProcedure.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param user_amount_procedure [UserAmountProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [UserAmountProcedureVBAResponse]
    def update_user_amount_procedure(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, user_amount_procedure, opts = {})
      data, _status_code, _headers = update_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, user_amount_procedure, opts)
      data
    end

    # Update UserAmountProcedure
    # Updates a specific UserAmountProcedure.
    # @param vbasoftware_database [String] Target database
    # @param user_id [String] User ID
    # @param user_amount_key [Integer] UserAmount Key
    # @param user_amount_procedure_key [Integer] UserAmountProcedure Key
    # @param user_amount_procedure [UserAmountProcedure] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserAmountProcedureVBAResponse, Integer, Hash)>] UserAmountProcedureVBAResponse data, response status code and response headers
    def update_user_amount_procedure_with_http_info(vbasoftware_database, user_id, user_amount_key, user_amount_procedure_key, user_amount_procedure, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAmountProcedureApi.update_user_amount_procedure ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling UserAmountProcedureApi.update_user_amount_procedure"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserAmountProcedureApi.update_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_key' is set
      if @api_client.config.client_side_validation && user_amount_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_key' when calling UserAmountProcedureApi.update_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure_key' is set
      if @api_client.config.client_side_validation && user_amount_procedure_key.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure_key' when calling UserAmountProcedureApi.update_user_amount_procedure"
      end
      # verify the required parameter 'user_amount_procedure' is set
      if @api_client.config.client_side_validation && user_amount_procedure.nil?
        fail ArgumentError, "Missing the required parameter 'user_amount_procedure' when calling UserAmountProcedureApi.update_user_amount_procedure"
      end
      # resource path
      local_var_path = '/users/{userID}/amounts/{userAmountKey}/procedures/{userAmountProcedureKey}'.sub('{' + 'userID' + '}', CGI.escape(user_id.to_s)).sub('{' + 'userAmountKey' + '}', CGI.escape(user_amount_key.to_s)).sub('{' + 'userAmountProcedureKey' + '}', CGI.escape(user_amount_procedure_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_amount_procedure)

      # return_type
      return_type = opts[:debug_return_type] || 'UserAmountProcedureVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UserAmountProcedureApi.update_user_amount_procedure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAmountProcedureApi#update_user_amount_procedure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
