=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class VBAInterfaceMapTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAInterfaceMapType
    # Creates a new VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface_map_type [VBAInterfaceMapType] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceMapTypeVBAResponse]
    def create_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts = {})
      data, _status_code, _headers = create_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts)
      data
    end

    # Create VBAInterfaceMapType
    # Creates a new VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface_map_type [VBAInterfaceMapType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceMapTypeVBAResponse, Integer, Hash)>] VBAInterfaceMapTypeVBAResponse data, response status code and response headers
    def create_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.create_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.create_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.create_vba_interface_map_type"
      end
      # verify the required parameter 'vba_interface_map_type' is set
      if @api_client.config.client_side_validation && vba_interface_map_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_map_type' when calling VBAInterfaceMapTypesApi.create_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_map_type)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceMapTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.create_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#create_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAInterfaceMapType
    # Deletes an VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, map_type, opts = {})
      delete_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, opts)
      nil
    end

    # Delete VBAInterfaceMapType
    # Deletes an VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.delete_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.delete_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.delete_vba_interface_map_type"
      end
      # verify the required parameter 'map_type' is set
      if @api_client.config.client_side_validation && map_type.nil?
        fail ArgumentError, "Missing the required parameter 'map_type' when calling VBAInterfaceMapTypesApi.delete_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types/{mapType}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s)).sub('{' + 'mapType' + '}', CGI.escape(map_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.delete_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#delete_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAInterfaceMapType
    # Gets VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceMapTypeVBAResponse]
    def get_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, map_type, opts = {})
      data, _status_code, _headers = get_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, opts)
      data
    end

    # Get VBAInterfaceMapType
    # Gets VBAInterfaceMapType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceMapTypeVBAResponse, Integer, Hash)>] VBAInterfaceMapTypeVBAResponse data, response status code and response headers
    def get_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.get_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.get_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.get_vba_interface_map_type"
      end
      # verify the required parameter 'map_type' is set
      if @api_client.config.client_side_validation && map_type.nil?
        fail ArgumentError, "Missing the required parameter 'map_type' when calling VBAInterfaceMapTypesApi.get_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types/{mapType}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s)).sub('{' + 'mapType' + '}', CGI.escape(map_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceMapTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.get_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#get_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBAInterfaceMapType
    # Lists all VBAInterfaceMapType for the given vBAInterfaceKey
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [VBAInterfaceMapTypeListVBAResponse]
    def list_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, opts = {})
      data, _status_code, _headers = list_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, opts)
      data
    end

    # List VBAInterfaceMapType
    # Lists all VBAInterfaceMapType for the given vBAInterfaceKey
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(VBAInterfaceMapTypeListVBAResponse, Integer, Hash)>] VBAInterfaceMapTypeListVBAResponse data, response status code and response headers
    def list_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.list_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.list_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.list_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceMapTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.list_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#list_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch VBAInterfaceMapType
    # Create or Update multiple VBAInterfaceMapType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface_map_type [Array<VBAInterfaceMapType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts = {})
      data, _status_code, _headers = update_batch_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts)
      data
    end

    # Create or Update Batch VBAInterfaceMapType
    # Create or Update multiple VBAInterfaceMapType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface_map_type [Array<VBAInterfaceMapType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface_map_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.update_batch_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.update_batch_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.update_batch_vba_interface_map_type"
      end
      # verify the required parameter 'vba_interface_map_type' is set
      if @api_client.config.client_side_validation && vba_interface_map_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_map_type' when calling VBAInterfaceMapTypesApi.update_batch_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types-batch'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_map_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.update_batch_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#update_batch_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAInterfaceMapType
    # Updates a specific VBAInterfaceMapType.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param vba_interface_map_type [VBAInterfaceMapType] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceMapTypeVBAResponse]
    def update_vba_interface_map_type(vbasoftware_database, v_ba_interface_key, map_type, vba_interface_map_type, opts = {})
      data, _status_code, _headers = update_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, vba_interface_map_type, opts)
      data
    end

    # Update VBAInterfaceMapType
    # Updates a specific VBAInterfaceMapType.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param map_type [String] Map Type
    # @param vba_interface_map_type [VBAInterfaceMapType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceMapTypeVBAResponse, Integer, Hash)>] VBAInterfaceMapTypeVBAResponse data, response status code and response headers
    def update_vba_interface_map_type_with_http_info(vbasoftware_database, v_ba_interface_key, map_type, vba_interface_map_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceMapTypesApi.update_vba_interface_map_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceMapTypesApi.update_vba_interface_map_type"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfaceMapTypesApi.update_vba_interface_map_type"
      end
      # verify the required parameter 'map_type' is set
      if @api_client.config.client_side_validation && map_type.nil?
        fail ArgumentError, "Missing the required parameter 'map_type' when calling VBAInterfaceMapTypesApi.update_vba_interface_map_type"
      end
      # verify the required parameter 'vba_interface_map_type' is set
      if @api_client.config.client_side_validation && vba_interface_map_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_map_type' when calling VBAInterfaceMapTypesApi.update_vba_interface_map_type"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}/map-types/{mapType}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s)).sub('{' + 'mapType' + '}', CGI.escape(map_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_map_type)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceMapTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceMapTypesApi.update_vba_interface_map_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceMapTypesApi#update_vba_interface_map_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
