=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class VBAInterfacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAInterface
    # Creates a new VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param vba_interface [VBAInterface] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceVBAResponse]
    def create_vba_interface(vbasoftware_database, vba_interface, opts = {})
      data, _status_code, _headers = create_vba_interface_with_http_info(vbasoftware_database, vba_interface, opts)
      data
    end

    # Create VBAInterface
    # Creates a new VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param vba_interface [VBAInterface] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceVBAResponse, Integer, Hash)>] VBAInterfaceVBAResponse data, response status code and response headers
    def create_vba_interface_with_http_info(vbasoftware_database, vba_interface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.create_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.create_vba_interface"
      end
      # verify the required parameter 'vba_interface' is set
      if @api_client.config.client_side_validation && vba_interface.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface' when calling VBAInterfacesApi.create_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.create_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#create_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAInterface
    # Deletes an VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_interface(vbasoftware_database, v_ba_interface_key, opts = {})
      delete_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, opts)
      nil
    end

    # Delete VBAInterface
    # Deletes an VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.delete_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.delete_vba_interface"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfacesApi.delete_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.delete_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#delete_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAInterface
    # Gets VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceVBAResponse]
    def get_vba_interface(vbasoftware_database, v_ba_interface_key, opts = {})
      data, _status_code, _headers = get_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, opts)
      data
    end

    # Get VBAInterface
    # Gets VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceVBAResponse, Integer, Hash)>] VBAInterfaceVBAResponse data, response status code and response headers
    def get_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.get_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.get_vba_interface"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfacesApi.get_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.get_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#get_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBAInterface
    # Lists all VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [VBAInterfaceListVBAResponse]
    def list_vba_interface(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_vba_interface_with_http_info(vbasoftware_database, opts)
      data
    end

    # List VBAInterface
    # Lists all VBAInterface
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(VBAInterfaceListVBAResponse, Integer, Hash)>] VBAInterfaceListVBAResponse data, response status code and response headers
    def list_vba_interface_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.list_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.list_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.list_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#list_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBA Interface Directions
    # List VBA Interface Directions
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [StringStaticOptionListVBAResponse]
    def list_vba_interface_directions(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_vba_interface_directions_with_http_info(vbasoftware_database, opts)
      data
    end

    # List VBA Interface Directions
    # List VBA Interface Directions
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(StringStaticOptionListVBAResponse, Integer, Hash)>] StringStaticOptionListVBAResponse data, response status code and response headers
    def list_vba_interface_directions_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.list_vba_interface_directions ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.list_vba_interface_directions"
      end
      # resource path
      local_var_path = '/vba-interface-directions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringStaticOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.list_vba_interface_directions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#list_vba_interface_directions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch VBAInterface
    # Create or Update multiple VBAInterface at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_interface [Array<VBAInterface>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_vba_interface(vbasoftware_database, vba_interface, opts = {})
      data, _status_code, _headers = update_batch_vba_interface_with_http_info(vbasoftware_database, vba_interface, opts)
      data
    end

    # Create or Update Batch VBAInterface
    # Create or Update multiple VBAInterface at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_interface [Array<VBAInterface>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_vba_interface_with_http_info(vbasoftware_database, vba_interface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.update_batch_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.update_batch_vba_interface"
      end
      # verify the required parameter 'vba_interface' is set
      if @api_client.config.client_side_validation && vba_interface.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface' when calling VBAInterfacesApi.update_batch_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.update_batch_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#update_batch_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAInterface
    # Updates a specific VBAInterface.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface [VBAInterface] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceVBAResponse]
    def update_vba_interface(vbasoftware_database, v_ba_interface_key, vba_interface, opts = {})
      data, _status_code, _headers = update_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface, opts)
      data
    end

    # Update VBAInterface
    # Updates a specific VBAInterface.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_key [Integer] VBAInterface Key
    # @param vba_interface [VBAInterface] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceVBAResponse, Integer, Hash)>] VBAInterfaceVBAResponse data, response status code and response headers
    def update_vba_interface_with_http_info(vbasoftware_database, v_ba_interface_key, vba_interface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfacesApi.update_vba_interface ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfacesApi.update_vba_interface"
      end
      # verify the required parameter 'v_ba_interface_key' is set
      if @api_client.config.client_side_validation && v_ba_interface_key.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_key' when calling VBAInterfacesApi.update_vba_interface"
      end
      # verify the required parameter 'vba_interface' is set
      if @api_client.config.client_side_validation && vba_interface.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface' when calling VBAInterfacesApi.update_vba_interface"
      end
      # resource path
      local_var_path = '/vba-interfaces/{vBAInterfaceKey}'.sub('{' + 'vBAInterfaceKey' + '}', CGI.escape(v_ba_interface_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfacesApi.update_vba_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfacesApi#update_vba_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
