=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class VBAGatewaySubscriptionDetailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAGatewaySubscriptionDetail
    # Creates a new VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail [VBAGatewaySubscriptionDetail] 
    # @param [Hash] opts the optional parameters
    # @return [VBAGatewaySubscriptionDetailVBAResponse]
    def create_vba_gateway_subscription_detail(vbasoftware_database, vba_gateway_subscription_detail, opts = {})
      data, _status_code, _headers = create_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail, opts)
      data
    end

    # Create VBAGatewaySubscriptionDetail
    # Creates a new VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail [VBAGatewaySubscriptionDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAGatewaySubscriptionDetailVBAResponse, Integer, Hash)>] VBAGatewaySubscriptionDetailVBAResponse data, response status code and response headers
    def create_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.create_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.create_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail' when calling VBAGatewaySubscriptionDetailApi.create_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_gateway_subscription_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAGatewaySubscriptionDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.create_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#create_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAGatewaySubscriptionDetail
    # Deletes an VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_gateway_subscription_detail(vbasoftware_database, vba_gateway_subscription_detail_key, opts = {})
      delete_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, opts)
      nil
    end

    # Delete VBAGatewaySubscriptionDetail
    # Deletes an VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.delete_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.delete_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail_key' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail_key' when calling VBAGatewaySubscriptionDetailApi.delete_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details/{VBAGatewaySubscriptionDetail_Key}'.sub('{' + 'VBAGatewaySubscriptionDetail_Key' + '}', CGI.escape(vba_gateway_subscription_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.delete_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#delete_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAGatewaySubscriptionDetail
    # Gets VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param [Hash] opts the optional parameters
    # @return [VBAGatewaySubscriptionDetailVBAResponse]
    def get_vba_gateway_subscription_detail(vbasoftware_database, vba_gateway_subscription_detail_key, opts = {})
      data, _status_code, _headers = get_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, opts)
      data
    end

    # Get VBAGatewaySubscriptionDetail
    # Gets VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAGatewaySubscriptionDetailVBAResponse, Integer, Hash)>] VBAGatewaySubscriptionDetailVBAResponse data, response status code and response headers
    def get_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.get_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.get_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail_key' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail_key' when calling VBAGatewaySubscriptionDetailApi.get_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details/{VBAGatewaySubscriptionDetail_Key}'.sub('{' + 'VBAGatewaySubscriptionDetail_Key' + '}', CGI.escape(vba_gateway_subscription_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAGatewaySubscriptionDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.get_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#get_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBAGatewaySubscriptionDetail
    # Lists all VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [VBAGatewaySubscriptionDetailListVBAResponse]
    def list_vba_gateway_subscription_detail(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, opts)
      data
    end

    # List VBAGatewaySubscriptionDetail
    # Lists all VBAGatewaySubscriptionDetail
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @return [Array<(VBAGatewaySubscriptionDetailListVBAResponse, Integer, Hash)>] VBAGatewaySubscriptionDetailListVBAResponse data, response status code and response headers
    def list_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.list_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.list_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAGatewaySubscriptionDetailListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.list_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#list_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch VBAGatewaySubscriptionDetail
    # Create or Update multiple VBAGatewaySubscriptionDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail [Array<VBAGatewaySubscriptionDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_vba_gateway_subscription_detail(vbasoftware_database, vba_gateway_subscription_detail, opts = {})
      data, _status_code, _headers = update_batch_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail, opts)
      data
    end

    # Create or Update Batch VBAGatewaySubscriptionDetail
    # Create or Update multiple VBAGatewaySubscriptionDetail at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail [Array<VBAGatewaySubscriptionDetail>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.update_batch_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.update_batch_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail' when calling VBAGatewaySubscriptionDetailApi.update_batch_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_gateway_subscription_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.update_batch_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#update_batch_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAGatewaySubscriptionDetail
    # Updates a specific VBAGatewaySubscriptionDetail.
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param vba_gateway_subscription_detail [VBAGatewaySubscriptionDetail] 
    # @param [Hash] opts the optional parameters
    # @return [VBAGatewaySubscriptionDetailVBAResponse]
    def update_vba_gateway_subscription_detail(vbasoftware_database, vba_gateway_subscription_detail_key, vba_gateway_subscription_detail, opts = {})
      data, _status_code, _headers = update_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, vba_gateway_subscription_detail, opts)
      data
    end

    # Update VBAGatewaySubscriptionDetail
    # Updates a specific VBAGatewaySubscriptionDetail.
    # @param vbasoftware_database [String] Target database
    # @param vba_gateway_subscription_detail_key [Integer] VBAGatewaySubscriptionDetail Key
    # @param vba_gateway_subscription_detail [VBAGatewaySubscriptionDetail] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAGatewaySubscriptionDetailVBAResponse, Integer, Hash)>] VBAGatewaySubscriptionDetailVBAResponse data, response status code and response headers
    def update_vba_gateway_subscription_detail_with_http_info(vbasoftware_database, vba_gateway_subscription_detail_key, vba_gateway_subscription_detail, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAGatewaySubscriptionDetailApi.update_vba_gateway_subscription_detail ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAGatewaySubscriptionDetailApi.update_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail_key' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail_key.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail_key' when calling VBAGatewaySubscriptionDetailApi.update_vba_gateway_subscription_detail"
      end
      # verify the required parameter 'vba_gateway_subscription_detail' is set
      if @api_client.config.client_side_validation && vba_gateway_subscription_detail.nil?
        fail ArgumentError, "Missing the required parameter 'vba_gateway_subscription_detail' when calling VBAGatewaySubscriptionDetailApi.update_vba_gateway_subscription_detail"
      end
      # resource path
      local_var_path = '/vbagateway-subscription-details/{VBAGatewaySubscriptionDetail_Key}'.sub('{' + 'VBAGatewaySubscriptionDetail_Key' + '}', CGI.escape(vba_gateway_subscription_detail_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_gateway_subscription_detail)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAGatewaySubscriptionDetailVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAGatewaySubscriptionDetailApi.update_vba_gateway_subscription_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAGatewaySubscriptionDetailApi#update_vba_gateway_subscription_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
