=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class VBAReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve VBA Report
    # Retrieves a specific VBA Report by its unique definition key.
    # @param vbasoftware_database [String] The target database name to query.
    # @param report_definition_key [Integer] Unique key for the VBA Report definition.
    # @param [Hash] opts the optional parameters
    # @return [VBAReportVBAResponse]
    def get_vba_report(vbasoftware_database, report_definition_key, opts = {})
      data, _status_code, _headers = get_vba_report_with_http_info(vbasoftware_database, report_definition_key, opts)
      data
    end

    # Retrieve VBA Report
    # Retrieves a specific VBA Report by its unique definition key.
    # @param vbasoftware_database [String] The target database name to query.
    # @param report_definition_key [Integer] Unique key for the VBA Report definition.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAReportVBAResponse, Integer, Hash)>] VBAReportVBAResponse data, response status code and response headers
    def get_vba_report_with_http_info(vbasoftware_database, report_definition_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAReportsApi.get_vba_report ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAReportsApi.get_vba_report"
      end
      # verify the required parameter 'report_definition_key' is set
      if @api_client.config.client_side_validation && report_definition_key.nil?
        fail ArgumentError, "Missing the required parameter 'report_definition_key' when calling VBAReportsApi.get_vba_report"
      end
      # resource path
      local_var_path = '/reports/{reportDefinition_Key}'.sub('{' + 'reportDefinition_Key' + '}', CGI.escape(report_definition_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAReportVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAReportsApi.get_vba_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAReportsApi#get_vba_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBA Reports
    # Retrieves a list of all available VBA Reports.
    # @param vbasoftware_database [String] The target database name to query.
    # @param [Hash] opts the optional parameters
    # @return [VBAReportListVBAResponse]
    def list_vba_reports(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_vba_reports_with_http_info(vbasoftware_database, opts)
      data
    end

    # List VBA Reports
    # Retrieves a list of all available VBA Reports.
    # @param vbasoftware_database [String] The target database name to query.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAReportListVBAResponse, Integer, Hash)>] VBAReportListVBAResponse data, response status code and response headers
    def list_vba_reports_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAReportsApi.list_vba_reports ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAReportsApi.list_vba_reports"
      end
      # resource path
      local_var_path = '/reports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAReportListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAReportsApi.list_vba_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAReportsApi#list_vba_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
