=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class VBAInterfaceTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create VBAInterfaceType
    # Creates a new VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param vba_interface_type [VBAInterfaceType] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceTypeVBAResponse]
    def create_vba_interface_type(vbasoftware_database, vba_interface_type, opts = {})
      data, _status_code, _headers = create_vba_interface_type_with_http_info(vbasoftware_database, vba_interface_type, opts)
      data
    end

    # Create VBAInterfaceType
    # Creates a new VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param vba_interface_type [VBAInterfaceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceTypeVBAResponse, Integer, Hash)>] VBAInterfaceTypeVBAResponse data, response status code and response headers
    def create_vba_interface_type_with_http_info(vbasoftware_database, vba_interface_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.create_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.create_vba_interface_type"
      end
      # verify the required parameter 'vba_interface_type' is set
      if @api_client.config.client_side_validation && vba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_type' when calling VBAInterfaceTypesApi.create_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_type)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.create_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#create_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete VBAInterfaceType
    # Deletes an VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vba_interface_type(vbasoftware_database, v_ba_interface_type, opts = {})
      delete_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, opts)
      nil
    end

    # Delete VBAInterfaceType
    # Deletes an VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.delete_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.delete_vba_interface_type"
      end
      # verify the required parameter 'v_ba_interface_type' is set
      if @api_client.config.client_side_validation && v_ba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_type' when calling VBAInterfaceTypesApi.delete_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types/{vBAInterfaceType}'.sub('{' + 'vBAInterfaceType' + '}', CGI.escape(v_ba_interface_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.delete_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#delete_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VBAInterfaceType
    # Gets VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceTypeVBAResponse]
    def get_vba_interface_type(vbasoftware_database, v_ba_interface_type, opts = {})
      data, _status_code, _headers = get_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, opts)
      data
    end

    # Get VBAInterfaceType
    # Gets VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceTypeVBAResponse, Integer, Hash)>] VBAInterfaceTypeVBAResponse data, response status code and response headers
    def get_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.get_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.get_vba_interface_type"
      end
      # verify the required parameter 'v_ba_interface_type' is set
      if @api_client.config.client_side_validation && v_ba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_type' when calling VBAInterfaceTypesApi.get_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types/{vBAInterfaceType}'.sub('{' + 'vBAInterfaceType' + '}', CGI.escape(v_ba_interface_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.get_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#get_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List VBAInterfaceType
    # Lists all VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [VBAInterfaceTypeListVBAResponse]
    def list_vba_interface_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_vba_interface_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List VBAInterfaceType
    # Lists all VBAInterfaceType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(VBAInterfaceTypeListVBAResponse, Integer, Hash)>] VBAInterfaceTypeListVBAResponse data, response status code and response headers
    def list_vba_interface_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.list_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.list_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.list_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#list_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch VBAInterfaceType
    # Create or Update multiple VBAInterfaceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_interface_type [Array<VBAInterfaceType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_vba_interface_type(vbasoftware_database, vba_interface_type, opts = {})
      data, _status_code, _headers = update_batch_vba_interface_type_with_http_info(vbasoftware_database, vba_interface_type, opts)
      data
    end

    # Create or Update Batch VBAInterfaceType
    # Create or Update multiple VBAInterfaceType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param vba_interface_type [Array<VBAInterfaceType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_vba_interface_type_with_http_info(vbasoftware_database, vba_interface_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.update_batch_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.update_batch_vba_interface_type"
      end
      # verify the required parameter 'vba_interface_type' is set
      if @api_client.config.client_side_validation && vba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_type' when calling VBAInterfaceTypesApi.update_batch_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.update_batch_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#update_batch_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update VBAInterfaceType
    # Updates a specific VBAInterfaceType.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param vba_interface_type [VBAInterfaceType] 
    # @param [Hash] opts the optional parameters
    # @return [VBAInterfaceTypeVBAResponse]
    def update_vba_interface_type(vbasoftware_database, v_ba_interface_type, vba_interface_type, opts = {})
      data, _status_code, _headers = update_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, vba_interface_type, opts)
      data
    end

    # Update VBAInterfaceType
    # Updates a specific VBAInterfaceType.
    # @param vbasoftware_database [String] Target database
    # @param v_ba_interface_type [String] VBAInterface Type
    # @param vba_interface_type [VBAInterfaceType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VBAInterfaceTypeVBAResponse, Integer, Hash)>] VBAInterfaceTypeVBAResponse data, response status code and response headers
    def update_vba_interface_type_with_http_info(vbasoftware_database, v_ba_interface_type, vba_interface_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VBAInterfaceTypesApi.update_vba_interface_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling VBAInterfaceTypesApi.update_vba_interface_type"
      end
      # verify the required parameter 'v_ba_interface_type' is set
      if @api_client.config.client_side_validation && v_ba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'v_ba_interface_type' when calling VBAInterfaceTypesApi.update_vba_interface_type"
      end
      # verify the required parameter 'vba_interface_type' is set
      if @api_client.config.client_side_validation && vba_interface_type.nil?
        fail ArgumentError, "Missing the required parameter 'vba_interface_type' when calling VBAInterfaceTypesApi.update_vba_interface_type"
      end
      # resource path
      local_var_path = '/vba-interface-types/{vBAInterfaceType}'.sub('{' + 'vBAInterfaceType' + '}', CGI.escape(v_ba_interface_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vba_interface_type)

      # return_type
      return_type = opts[:debug_return_type] || 'VBAInterfaceTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VBAInterfaceTypesApi.update_vba_interface_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VBAInterfaceTypesApi#update_vba_interface_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
