=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Workflow
    # Creates a new Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow [Workflow] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowVBAResponse]
    def create_workflow(vbasoftware_database, workflow, opts = {})
      data, _status_code, _headers = create_workflow_with_http_info(vbasoftware_database, workflow, opts)
      data
    end

    # Create Workflow
    # Creates a new Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow [Workflow] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowVBAResponse, Integer, Hash)>] WorkflowVBAResponse data, response status code and response headers
    def create_workflow_with_http_info(vbasoftware_database, workflow, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.create_workflow"
      end
      # verify the required parameter 'workflow' is set
      if @api_client.config.client_side_validation && workflow.nil?
        fail ArgumentError, "Missing the required parameter 'workflow' when calling WorkflowsApi.create_workflow"
      end
      # resource path
      local_var_path = '/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Workflow
    # Deletes an Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow(vbasoftware_database, workflow_key, opts = {})
      delete_workflow_with_http_info(vbasoftware_database, workflow_key, opts)
      nil
    end

    # Delete Workflow
    # Deletes an Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_with_http_info(vbasoftware_database, workflow_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.delete_workflow"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowsApi.delete_workflow"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Workflow
    # Gets Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param [Hash] opts the optional parameters
    # @return [WorkflowVBAResponse]
    def get_workflow(vbasoftware_database, workflow_key, opts = {})
      data, _status_code, _headers = get_workflow_with_http_info(vbasoftware_database, workflow_key, opts)
      data
    end

    # Get Workflow
    # Gets Workflow
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowVBAResponse, Integer, Hash)>] WorkflowVBAResponse data, response status code and response headers
    def get_workflow_with_http_info(vbasoftware_database, workflow_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.get_workflow"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowsApi.get_workflow"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Workflow
    # Lists all Workflow
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [WorkflowListVBAResponse]
    def list_workflow(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_workflow_with_http_info(vbasoftware_database, opts)
      data
    end

    # List Workflow
    # Lists all Workflow
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(WorkflowListVBAResponse, Integer, Hash)>] WorkflowListVBAResponse data, response status code and response headers
    def list_workflow_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.list_workflow"
      end
      # resource path
      local_var_path = '/workflows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch Workflow
    # Create or Update multiple Workflow at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param workflow [Array<Workflow>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_workflow(vbasoftware_database, workflow, opts = {})
      data, _status_code, _headers = update_batch_workflow_with_http_info(vbasoftware_database, workflow, opts)
      data
    end

    # Create or Update Batch Workflow
    # Create or Update multiple Workflow at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param workflow [Array<Workflow>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_workflow_with_http_info(vbasoftware_database, workflow, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_batch_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.update_batch_workflow"
      end
      # verify the required parameter 'workflow' is set
      if @api_client.config.client_side_validation && workflow.nil?
        fail ArgumentError, "Missing the required parameter 'workflow' when calling WorkflowsApi.update_batch_workflow"
      end
      # resource path
      local_var_path = '/workflows-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_batch_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_batch_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Workflow
    # Updates a specific Workflow.
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow [Workflow] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowVBAResponse]
    def update_workflow(vbasoftware_database, workflow_key, workflow, opts = {})
      data, _status_code, _headers = update_workflow_with_http_info(vbasoftware_database, workflow_key, workflow, opts)
      data
    end

    # Update Workflow
    # Updates a specific Workflow.
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow [Workflow] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowVBAResponse, Integer, Hash)>] WorkflowVBAResponse data, response status code and response headers
    def update_workflow_with_http_info(vbasoftware_database, workflow_key, workflow, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowsApi.update_workflow"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowsApi.update_workflow"
      end
      # verify the required parameter 'workflow' is set
      if @api_client.config.client_side_validation && workflow.nil?
        fail ArgumentError, "Missing the required parameter 'workflow' when calling WorkflowsApi.update_workflow"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
