=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class WorkflowTaskOptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create WorkflowTaskOption
    # Creates a new WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [WorkflowTaskOption] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowTaskOptionVBAResponse]
    def create_workflow_task_option(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      data, _status_code, _headers = create_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts)
      data
    end

    # Create WorkflowTaskOption
    # Creates a new WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [WorkflowTaskOption] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowTaskOptionVBAResponse, Integer, Hash)>] WorkflowTaskOptionVBAResponse data, response status code and response headers
    def create_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTaskOptionsApi.create_workflow_task_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTaskOptionsApi.create_workflow_task_option"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowTaskOptionsApi.create_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_seq' is set
      if @api_client.config.client_side_validation && workflow_task_seq.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_seq' when calling WorkflowTaskOptionsApi.create_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_option' is set
      if @api_client.config.client_side_validation && workflow_task_option.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_option' when calling WorkflowTaskOptionsApi.create_workflow_task_option"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}/tasks/{workflowTaskSeq}/options'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s)).sub('{' + 'workflowTaskSeq' + '}', CGI.escape(workflow_task_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_task_option)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTaskOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTaskOptionsApi.create_workflow_task_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTaskOptionsApi#create_workflow_task_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete WorkflowTaskOption
    # Deletes an WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [String] WorkflowTask Option
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow_task_option(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      delete_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts)
      nil
    end

    # Delete WorkflowTaskOption
    # Deletes an WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [String] WorkflowTask Option
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTaskOptionsApi.delete_workflow_task_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTaskOptionsApi.delete_workflow_task_option"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowTaskOptionsApi.delete_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_seq' is set
      if @api_client.config.client_side_validation && workflow_task_seq.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_seq' when calling WorkflowTaskOptionsApi.delete_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_option' is set
      if @api_client.config.client_side_validation && workflow_task_option.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_option' when calling WorkflowTaskOptionsApi.delete_workflow_task_option"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}/tasks/{workflowTaskSeq}/options/{workflowTaskOption}'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s)).sub('{' + 'workflowTaskSeq' + '}', CGI.escape(workflow_task_seq.to_s)).sub('{' + 'workflowTaskOption' + '}', CGI.escape(workflow_task_option.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTaskOptionsApi.delete_workflow_task_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTaskOptionsApi#delete_workflow_task_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get WorkflowTaskOption
    # Gets WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [String] WorkflowTask Option
    # @param [Hash] opts the optional parameters
    # @return [WorkflowTaskOptionVBAResponse]
    def get_workflow_task_option(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      data, _status_code, _headers = get_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts)
      data
    end

    # Get WorkflowTaskOption
    # Gets WorkflowTaskOption
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [String] WorkflowTask Option
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowTaskOptionVBAResponse, Integer, Hash)>] WorkflowTaskOptionVBAResponse data, response status code and response headers
    def get_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTaskOptionsApi.get_workflow_task_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTaskOptionsApi.get_workflow_task_option"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowTaskOptionsApi.get_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_seq' is set
      if @api_client.config.client_side_validation && workflow_task_seq.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_seq' when calling WorkflowTaskOptionsApi.get_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_option' is set
      if @api_client.config.client_side_validation && workflow_task_option.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_option' when calling WorkflowTaskOptionsApi.get_workflow_task_option"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}/tasks/{workflowTaskSeq}/options/{workflowTaskOption}'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s)).sub('{' + 'workflowTaskSeq' + '}', CGI.escape(workflow_task_seq.to_s)).sub('{' + 'workflowTaskOption' + '}', CGI.escape(workflow_task_option.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTaskOptionVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTaskOptionsApi.get_workflow_task_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTaskOptionsApi#get_workflow_task_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List WorkflowTaskOption
    # Lists all WorkflowTaskOption for the given workflowKey and workflowTaskSeq
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [WorkflowTaskOptionListVBAResponse]
    def list_workflow_task_option(vbasoftware_database, workflow_key, workflow_task_seq, opts = {})
      data, _status_code, _headers = list_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, opts)
      data
    end

    # List WorkflowTaskOption
    # Lists all WorkflowTaskOption for the given workflowKey and workflowTaskSeq
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(WorkflowTaskOptionListVBAResponse, Integer, Hash)>] WorkflowTaskOptionListVBAResponse data, response status code and response headers
    def list_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTaskOptionsApi.list_workflow_task_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTaskOptionsApi.list_workflow_task_option"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowTaskOptionsApi.list_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_seq' is set
      if @api_client.config.client_side_validation && workflow_task_seq.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_seq' when calling WorkflowTaskOptionsApi.list_workflow_task_option"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}/tasks/{workflowTaskSeq}/options'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s)).sub('{' + 'workflowTaskSeq' + '}', CGI.escape(workflow_task_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTaskOptionListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTaskOptionsApi.list_workflow_task_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTaskOptionsApi#list_workflow_task_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Batch WorkflowTaskOption
    # Create multiple WorkflowTaskOption at once.  If the entity does not exist, it will be created. If the entity does exist, an error message will be treturned.
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [Array<WorkflowTaskOption>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_workflow_task_option(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      data, _status_code, _headers = update_batch_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts)
      data
    end

    # Create Batch WorkflowTaskOption
    # Create multiple WorkflowTaskOption at once.  If the entity does not exist, it will be created. If the entity does exist, an error message will be treturned.
    # @param vbasoftware_database [String] Target database
    # @param workflow_key [Integer] Workflow Key
    # @param workflow_task_seq [Integer] WorkflowTask Seq
    # @param workflow_task_option [Array<WorkflowTaskOption>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_workflow_task_option_with_http_info(vbasoftware_database, workflow_key, workflow_task_seq, workflow_task_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTaskOptionsApi.update_batch_workflow_task_option ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTaskOptionsApi.update_batch_workflow_task_option"
      end
      # verify the required parameter 'workflow_key' is set
      if @api_client.config.client_side_validation && workflow_key.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_key' when calling WorkflowTaskOptionsApi.update_batch_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_seq' is set
      if @api_client.config.client_side_validation && workflow_task_seq.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_seq' when calling WorkflowTaskOptionsApi.update_batch_workflow_task_option"
      end
      # verify the required parameter 'workflow_task_option' is set
      if @api_client.config.client_side_validation && workflow_task_option.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_task_option' when calling WorkflowTaskOptionsApi.update_batch_workflow_task_option"
      end
      # resource path
      local_var_path = '/workflows/{workflowKey}/tasks/{workflowTaskSeq}/options-batch'.sub('{' + 'workflowKey' + '}', CGI.escape(workflow_key.to_s)).sub('{' + 'workflowTaskSeq' + '}', CGI.escape(workflow_task_seq.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_task_option)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTaskOptionsApi.update_batch_workflow_task_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTaskOptionsApi#update_batch_workflow_task_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
