=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class WorkflowTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create WorkflowType
    # Creates a new WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [WorkflowType] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowTypeVBAResponse]
    def create_workflow_type(vbasoftware_database, workflow_type, opts = {})
      data, _status_code, _headers = create_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts)
      data
    end

    # Create WorkflowType
    # Creates a new WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [WorkflowType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowTypeVBAResponse, Integer, Hash)>] WorkflowTypeVBAResponse data, response status code and response headers
    def create_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.create_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.create_workflow_type"
      end
      # verify the required parameter 'workflow_type' is set
      if @api_client.config.client_side_validation && workflow_type.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type' when calling WorkflowTypesApi.create_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_type)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.create_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#create_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete WorkflowType
    # Deletes an WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow_type(vbasoftware_database, workflow_type, opts = {})
      delete_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts)
      nil
    end

    # Delete WorkflowType
    # Deletes an WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.delete_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.delete_workflow_type"
      end
      # verify the required parameter 'workflow_type' is set
      if @api_client.config.client_side_validation && workflow_type.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type' when calling WorkflowTypesApi.delete_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types/{workflowType}'.sub('{' + 'workflowType' + '}', CGI.escape(workflow_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.delete_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#delete_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get WorkflowType
    # Gets WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param [Hash] opts the optional parameters
    # @return [WorkflowTypeVBAResponse]
    def get_workflow_type(vbasoftware_database, workflow_type, opts = {})
      data, _status_code, _headers = get_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts)
      data
    end

    # Get WorkflowType
    # Gets WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowTypeVBAResponse, Integer, Hash)>] WorkflowTypeVBAResponse data, response status code and response headers
    def get_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.get_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.get_workflow_type"
      end
      # verify the required parameter 'workflow_type' is set
      if @api_client.config.client_side_validation && workflow_type.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type' when calling WorkflowTypesApi.get_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types/{workflowType}'.sub('{' + 'workflowType' + '}', CGI.escape(workflow_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.get_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#get_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List WorkflowType
    # Lists all WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [WorkflowTypeListVBAResponse]
    def list_workflow_type(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_workflow_type_with_http_info(vbasoftware_database, opts)
      data
    end

    # List WorkflowType
    # Lists all WorkflowType
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(WorkflowTypeListVBAResponse, Integer, Hash)>] WorkflowTypeListVBAResponse data, response status code and response headers
    def list_workflow_type_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.list_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.list_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTypeListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.list_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#list_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch WorkflowType
    # Create or Update multiple WorkflowType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [Array<WorkflowType>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_workflow_type(vbasoftware_database, workflow_type, opts = {})
      data, _status_code, _headers = update_batch_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts)
      data
    end

    # Create or Update Batch WorkflowType
    # Create or Update multiple WorkflowType at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [Array<WorkflowType>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_workflow_type_with_http_info(vbasoftware_database, workflow_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.update_batch_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.update_batch_workflow_type"
      end
      # verify the required parameter 'workflow_type' is set
      if @api_client.config.client_side_validation && workflow_type.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type' when calling WorkflowTypesApi.update_batch_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_type)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.update_batch_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#update_batch_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update WorkflowType
    # Updates a specific WorkflowType.
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param workflow_type2 [WorkflowType] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowTypeVBAResponse]
    def update_workflow_type(vbasoftware_database, workflow_type, workflow_type2, opts = {})
      data, _status_code, _headers = update_workflow_type_with_http_info(vbasoftware_database, workflow_type, workflow_type2, opts)
      data
    end

    # Update WorkflowType
    # Updates a specific WorkflowType.
    # @param vbasoftware_database [String] Target database
    # @param workflow_type [String] Workflow Type
    # @param workflow_type2 [WorkflowType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowTypeVBAResponse, Integer, Hash)>] WorkflowTypeVBAResponse data, response status code and response headers
    def update_workflow_type_with_http_info(vbasoftware_database, workflow_type, workflow_type2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowTypesApi.update_workflow_type ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling WorkflowTypesApi.update_workflow_type"
      end
      # verify the required parameter 'workflow_type' is set
      if @api_client.config.client_side_validation && workflow_type.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type' when calling WorkflowTypesApi.update_workflow_type"
      end
      # verify the required parameter 'workflow_type2' is set
      if @api_client.config.client_side_validation && workflow_type2.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_type2' when calling WorkflowTypesApi.update_workflow_type"
      end
      # resource path
      local_var_path = '/workflow-types/{workflowType}'.sub('{' + 'workflowType' + '}', CGI.escape(workflow_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_type2)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowTypeVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowTypesApi.update_workflow_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowTypesApi#update_workflow_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
