=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ZelisCostContainmentPollsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CostContainZelisPoll
    # Creates a new CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll [CostContainZelisPoll] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisPollVBAResponse]
    def create_cost_contain_zelis_poll(vbasoftware_database, cost_contain_zelis_poll, opts = {})
      data, _status_code, _headers = create_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll, opts)
      data
    end

    # Create CostContainZelisPoll
    # Creates a new CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll [CostContainZelisPoll] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisPollVBAResponse, Integer, Hash)>] CostContainZelisPollVBAResponse data, response status code and response headers
    def create_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.create_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.create_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll' when calling ZelisCostContainmentPollsApi.create_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_poll)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisPollVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.create_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#create_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CostContainZelisPoll
    # Deletes an CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cost_contain_zelis_poll(vbasoftware_database, cost_contain_zelis_poll_key, opts = {})
      delete_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, opts)
      nil
    end

    # Delete CostContainZelisPoll
    # Deletes an CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.delete_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.delete_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll_key' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll_key.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll_key' when calling ZelisCostContainmentPollsApi.delete_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls/{costContainZelisPollKey}'.sub('{' + 'costContainZelisPollKey' + '}', CGI.escape(cost_contain_zelis_poll_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.delete_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#delete_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CostContainZelisPoll
    # Gets CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisPollVBAResponse]
    def get_cost_contain_zelis_poll(vbasoftware_database, cost_contain_zelis_poll_key, opts = {})
      data, _status_code, _headers = get_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, opts)
      data
    end

    # Get CostContainZelisPoll
    # Gets CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisPollVBAResponse, Integer, Hash)>] CostContainZelisPollVBAResponse data, response status code and response headers
    def get_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.get_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.get_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll_key' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll_key.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll_key' when calling ZelisCostContainmentPollsApi.get_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls/{costContainZelisPollKey}'.sub('{' + 'costContainZelisPollKey' + '}', CGI.escape(cost_contain_zelis_poll_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisPollVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.get_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#get_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CostContainZelisPoll
    # Lists all CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [CostContainZelisPollListVBAResponse]
    def list_cost_contain_zelis_poll(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_cost_contain_zelis_poll_with_http_info(vbasoftware_database, opts)
      data
    end

    # List CostContainZelisPoll
    # Lists all CostContainZelisPoll
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page (default to 1)
    # @option opts [Integer] :page_size Page Size (default to 100)
    # @option opts [String] :sort_by Comma separated string to sort by. Each sort field can be followed by :asc or :desc to specify sort direction, ascending is default. E.g., &#39;Property1:desc,Property2:asc,Property3:asc&#39; sorts Property1 in descending order, Property2 in ascending, and Property3 in ascending.
    # @return [Array<(CostContainZelisPollListVBAResponse, Integer, Hash)>] CostContainZelisPollListVBAResponse data, response status code and response headers
    def list_cost_contain_zelis_poll_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.list_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.list_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisPollListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.list_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#list_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch CostContainZelisPoll
    # Create or Update multiple CostContainZelisPoll at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll [Array<CostContainZelisPoll>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_cost_contain_zelis_poll(vbasoftware_database, cost_contain_zelis_poll, opts = {})
      data, _status_code, _headers = update_batch_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll, opts)
      data
    end

    # Create or Update Batch CostContainZelisPoll
    # Create or Update multiple CostContainZelisPoll at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll [Array<CostContainZelisPoll>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.update_batch_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.update_batch_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll' when calling ZelisCostContainmentPollsApi.update_batch_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_poll)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.update_batch_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#update_batch_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CostContainZelisPoll
    # Updates a specific CostContainZelisPoll.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param cost_contain_zelis_poll [CostContainZelisPoll] 
    # @param [Hash] opts the optional parameters
    # @return [CostContainZelisPollVBAResponse]
    def update_cost_contain_zelis_poll(vbasoftware_database, cost_contain_zelis_poll_key, cost_contain_zelis_poll, opts = {})
      data, _status_code, _headers = update_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, cost_contain_zelis_poll, opts)
      data
    end

    # Update CostContainZelisPoll
    # Updates a specific CostContainZelisPoll.
    # @param vbasoftware_database [String] Target database
    # @param cost_contain_zelis_poll_key [Integer] CostContainZelisPoll Key
    # @param cost_contain_zelis_poll [CostContainZelisPoll] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CostContainZelisPollVBAResponse, Integer, Hash)>] CostContainZelisPollVBAResponse data, response status code and response headers
    def update_cost_contain_zelis_poll_with_http_info(vbasoftware_database, cost_contain_zelis_poll_key, cost_contain_zelis_poll, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZelisCostContainmentPollsApi.update_cost_contain_zelis_poll ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZelisCostContainmentPollsApi.update_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll_key' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll_key.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll_key' when calling ZelisCostContainmentPollsApi.update_cost_contain_zelis_poll"
      end
      # verify the required parameter 'cost_contain_zelis_poll' is set
      if @api_client.config.client_side_validation && cost_contain_zelis_poll.nil?
        fail ArgumentError, "Missing the required parameter 'cost_contain_zelis_poll' when calling ZelisCostContainmentPollsApi.update_cost_contain_zelis_poll"
      end
      # resource path
      local_var_path = '/zelis-polls/{costContainZelisPollKey}'.sub('{' + 'costContainZelisPollKey' + '}', CGI.escape(cost_contain_zelis_poll_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_contain_zelis_poll)

      # return_type
      return_type = opts[:debug_return_type] || 'CostContainZelisPollVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZelisCostContainmentPollsApi.update_cost_contain_zelis_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZelisCostContainmentPollsApi#update_cost_contain_zelis_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
