=begin
#VBASoftware

#APIs for VBASoftware

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Vba
  class ZipCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ZipCodes
    # Creates a new ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_codes [ZipCodes] 
    # @param [Hash] opts the optional parameters
    # @return [ZipCodesVBAResponse]
    def create_zip_codes(vbasoftware_database, zip_codes, opts = {})
      data, _status_code, _headers = create_zip_codes_with_http_info(vbasoftware_database, zip_codes, opts)
      data
    end

    # Create ZipCodes
    # Creates a new ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_codes [ZipCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ZipCodesVBAResponse, Integer, Hash)>] ZipCodesVBAResponse data, response status code and response headers
    def create_zip_codes_with_http_info(vbasoftware_database, zip_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.create_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.create_zip_codes"
      end
      # verify the required parameter 'zip_codes' is set
      if @api_client.config.client_side_validation && zip_codes.nil?
        fail ArgumentError, "Missing the required parameter 'zip_codes' when calling ZipCodesApi.create_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(zip_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'ZipCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.create_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#create_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete ZipCodes
    # Deletes an ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_zip_codes(vbasoftware_database, zip_code, opts = {})
      delete_zip_codes_with_http_info(vbasoftware_database, zip_code, opts)
      nil
    end

    # Delete ZipCodes
    # Deletes an ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_zip_codes_with_http_info(vbasoftware_database, zip_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.delete_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.delete_zip_codes"
      end
      # verify the required parameter 'zip_code' is set
      if @api_client.config.client_side_validation && zip_code.nil?
        fail ArgumentError, "Missing the required parameter 'zip_code' when calling ZipCodesApi.delete_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes/{zipCode}'.sub('{' + 'zipCode' + '}', CGI.escape(zip_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.delete_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#delete_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ZipCodes
    # Gets ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param [Hash] opts the optional parameters
    # @return [ZipCodesVBAResponse]
    def get_zip_codes(vbasoftware_database, zip_code, opts = {})
      data, _status_code, _headers = get_zip_codes_with_http_info(vbasoftware_database, zip_code, opts)
      data
    end

    # Get ZipCodes
    # Gets ZipCodes
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ZipCodesVBAResponse, Integer, Hash)>] ZipCodesVBAResponse data, response status code and response headers
    def get_zip_codes_with_http_info(vbasoftware_database, zip_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.get_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.get_zip_codes"
      end
      # verify the required parameter 'zip_code' is set
      if @api_client.config.client_side_validation && zip_code.nil?
        fail ArgumentError, "Missing the required parameter 'zip_code' when calling ZipCodesApi.get_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes/{zipCode}'.sub('{' + 'zipCode' + '}', CGI.escape(zip_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ZipCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.get_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#get_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ZipCodes
    # Lists all ZipCodes 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [ZipCodesListVBAResponse]
    def list_zip_codes(vbasoftware_database, opts = {})
      data, _status_code, _headers = list_zip_codes_with_http_info(vbasoftware_database, opts)
      data
    end

    # List ZipCodes
    # Lists all ZipCodes 
    # @param vbasoftware_database [String] Target database
    # @param [Hash] opts the optional parameters
    # @return [Array<(ZipCodesListVBAResponse, Integer, Hash)>] ZipCodesListVBAResponse data, response status code and response headers
    def list_zip_codes_with_http_info(vbasoftware_database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.list_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.list_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ZipCodesListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.list_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#list_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Batch ZipCodes
    # Create or Update multiple ZipCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param zip_codes [Array<ZipCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [MultiCodeResponseListVBAResponse]
    def update_batch_zip_codes(vbasoftware_database, zip_codes, opts = {})
      data, _status_code, _headers = update_batch_zip_codes_with_http_info(vbasoftware_database, zip_codes, opts)
      data
    end

    # Create or Update Batch ZipCodes
    # Create or Update multiple ZipCodes at once.  If the entity exists, it will be updated.  If the entity does not exist, it will be created.
    # @param vbasoftware_database [String] Target database
    # @param zip_codes [Array<ZipCodes>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultiCodeResponseListVBAResponse, Integer, Hash)>] MultiCodeResponseListVBAResponse data, response status code and response headers
    def update_batch_zip_codes_with_http_info(vbasoftware_database, zip_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.update_batch_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.update_batch_zip_codes"
      end
      # verify the required parameter 'zip_codes' is set
      if @api_client.config.client_side_validation && zip_codes.nil?
        fail ArgumentError, "Missing the required parameter 'zip_codes' when calling ZipCodesApi.update_batch_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(zip_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'MultiCodeResponseListVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.update_batch_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#update_batch_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ZipCodes
    # Updates a specific ZipCodes.
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param zip_codes [ZipCodes] 
    # @param [Hash] opts the optional parameters
    # @return [ZipCodesVBAResponse]
    def update_zip_codes(vbasoftware_database, zip_code, zip_codes, opts = {})
      data, _status_code, _headers = update_zip_codes_with_http_info(vbasoftware_database, zip_code, zip_codes, opts)
      data
    end

    # Update ZipCodes
    # Updates a specific ZipCodes.
    # @param vbasoftware_database [String] Target database
    # @param zip_code [String] Zip Code
    # @param zip_codes [ZipCodes] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ZipCodesVBAResponse, Integer, Hash)>] ZipCodesVBAResponse data, response status code and response headers
    def update_zip_codes_with_http_info(vbasoftware_database, zip_code, zip_codes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZipCodesApi.update_zip_codes ...'
      end
      # verify the required parameter 'vbasoftware_database' is set
      if @api_client.config.client_side_validation && vbasoftware_database.nil?
        fail ArgumentError, "Missing the required parameter 'vbasoftware_database' when calling ZipCodesApi.update_zip_codes"
      end
      # verify the required parameter 'zip_code' is set
      if @api_client.config.client_side_validation && zip_code.nil?
        fail ArgumentError, "Missing the required parameter 'zip_code' when calling ZipCodesApi.update_zip_codes"
      end
      # verify the required parameter 'zip_codes' is set
      if @api_client.config.client_side_validation && zip_codes.nil?
        fail ArgumentError, "Missing the required parameter 'zip_codes' when calling ZipCodesApi.update_zip_codes"
      end
      # resource path
      local_var_path = '/zip-codes/{zipCode}'.sub('{' + 'zipCode' + '}', CGI.escape(zip_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'vbasoftware-database'] = vbasoftware_database

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(zip_codes)

      # return_type
      return_type = opts[:debug_return_type] || 'ZipCodesVBAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ZipCodesApi.update_zip_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZipCodesApi#update_zip_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
